[2022-08-04 04:01] junhaoyu-aws opened #5810 "[confmap/httpmapprovider] An Implementation of ConfigMapProvider for HTTP data source"
**Is your feature request related to a problem? Please describe.**
No. I suggest this new feature to allow OTEL Collector the ability to load configuration for itself by fetching and reading config files returned by HTTP servers.

**Describe the solution you'd like**
Create a new folder `httpprovider` under `confmap`, with files `provider.go` and `provider_test.go`. For the `provider.go`, I in a w

[2022-08-04 11:26] #5773 closed

[2022-08-04 12:54] #5774 closed

[2022-08-04 13:58] #5775 closed

[2022-08-04 14:24] francescopotenziani commented on #5776
![1522229048_tenor_1](https://user-images.githubusercontent.com/41794506/182871291-94ec6fcf-afaf-4a6a-b5cb-5b6405984e9e.gif)

[2022-08-04 16:27] NareshChinnusamy opened #5813 "AwsXray Exporter send request failed"
**Im trying to export xray metrics using aws otel collector**

1. Configured VPC endpoint for x-ray service.
2. Running it as a sidecar container in ECS cluster.
3. Container starts running successfully.
4. After a few minutes, I was faced with this error.
`exporterhelper/queued_retry.go:149 Exporting failed. Try enabling retry_on_failure config option. { "kind": "exporter", "name": "awsxray", "er

[2022-08-04 16:58] bogdandrutu opened #5815 "Upgrade to OTLP proto version 0.19.0"
See https://github.com/open-telemetry/opentelemetry-proto/releases/tag/v0.19.0

Major changes:

- [x] #5818
- [x] #5816
- [x] #5817

[2022-08-04 16:59] bogdandrutu opened #5816 "Introduce partial success fields in ExportServiceResponse."

[2022-08-04 16:59] bogdandrutu opened #5817 "Introduce Scope Attributes"

[2022-08-04 16:59] bogdandrutu opened #5818 "Remove deprecated InstrumentationLibrary"

[2022-08-04 17:14] bogdandrutu commented on #5776
This is done

[2022-08-04 17:14] #5776 closed

[2022-08-04 17:38] amandahla commented on #3685
Is this issue still valid? Can I give it a try? :-)

[2022-08-04 17:57] #5735 closed

[2022-08-04 20:42] jinfanzon commented on #5753
Hi @bogdandrutu - Can we please re-open the issue? I've changed what you proposed, and even though i do not get the above error, I now get a "failed to export spans" error:

Looks like I'm close to solve the issue.

Thanks for the support

[2022-08-04 21:02] #5818 closed

[2022-08-04 22:40] gfonseca-tc commented on #2336
I would love to see that feature in place! Mostly for connecting pipelines, rather than translating signals.

[2022-08-05 06:14] varunnayal opened #5827 "Add support to handle 404, 405 http error code as permanent errors in OTLP exporter"
**Is your feature request related to a problem? Please describe.**
Invalid resource path(404) and Invalid HTTP method(405) should not be retried from the OTLP exporter.

**Describe the solution you'd like**
To add `StatusNotFound` and `StatusMethodNotAllowed` in permanent error list.

[2022-08-05 06:15] rahuldimri commented on #5827
@varunnayal can I work on this ?

[2022-08-05 10:11] hickeyma commented on #5675
@fatsheep9146 Let me know if you would like to tackle the open issue of sub menu to collector docs (refer to item in description).

[2022-08-05 14:13] #5817 closed

[2022-08-05 15:03] mx-psi commented on #5675
Ah, okay, thanks for clarifying! I think there is some value (maybe not only for component developers but also for other users of the Go API) and we can have some dummy implementation (so e.g. a receiver that generates a gauge point every minute? or some sort of simple logging exporter?) that still showcases how to use the interface.

Do you agree?

[2022-08-05 15:59] splunkericl opened #5830 "collector state won't be set to Running state after watch is triggered"
**Describe the bug**
After configuration is updated and `watch` is triggered, the collector health state will be stuck at `Starting` even tho the collector has started completely.

**Steps to reproduce**
- Run the collector
- trigger `watch` operation in config provider
- check collector state by calling `GetState`
- state won't be in `Running` and will always be in `Starting`

**What did you expe

[2022-08-05 16:02] splunkericl commented on #5830
The bug is relatively easy to fix, we just need to set the collector state to running after https://github.com/open-telemetry/opentelemetry-collector/blob/main/service/collector.go#L154 or move `col.setCollectorState(Running)` to the end of  `setupConfigurationComponents` call

[2022-08-05 17:25] bogdandrutu commented on #5830
Thanks for the report. Please submit a PR with the fix.

[2022-08-05 17:55] swiatekm-sumo opened #5832 "Extract storage configuration for components into a separate module"
**Is your feature request related to a problem? Please describe.**
Components need to use storage extensions for various purposes. There should be a standard way of configuring storage for a component, given the potential for multiple storage extensions coexisting.

See the following contrib issue for examples and some discussion: https://github.com/open-telemetry/opentelemetry-collector-contrib/i

[2022-08-05 21:42] bogdandrutu commented on #5810
I think this is great.

[2022-08-05 23:33] bogdandrutu commented on #5706
The use-cases: `${ENV_${RECURSIVE}}` and `${ENV?default=something}` seem very different to me.

Here are some suggestions/questions:
1. I suggest that we do NOT support this `${ENV?default=something}` and only support `${env:ENV?default=something}` and the "non-schema" (not an URI like) support that we offer, is only for backwards compatibility and we offer only `${ENV}` and `$ENV`.
2. I suggest t

[2022-08-06 17:08] yzcyayaya opened #5845 "Configuration file error"
### Description
Configuration file error

### Environment

- OS: [e.g. iOS]  ubuntu20
- Architecture: [e.g. x86, i386] x86
- Go Version: [e.g. 1.15]  1.18
- opentelemetry-go version: [e.g. v0.14.0, 3c7face]  0.54.0

### Steps To Reproduce

1. Use the configuration
[code]
2. Run 'otelcol --config=config.yaml'
3. See error

I tried to address this question with other answers

### Expected behavior

[2022-08-07 01:26] fatsheep9146 commented on #5845
what version do you use for otelcol

[2022-08-07 02:56] yzcyayaya commented on #5845
m2@m2:otelcol$ otelcol --version
otelcol version 0.54.0

[2022-08-07 04:31] fatsheep9146 commented on #5845
I do not find any extension of type `jaeger_grpc`, where do you find this?

[2022-08-08 02:27] yzcyayaya commented on #5845
I tried to modify writing  jaeger_grpc  as jaeger
But it still

[2022-08-08 04:24] fatsheep9146 commented on #5845
you should put jaeger to exporters , there is no extension of type `jaeger`.

you can check the doc https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/jaegerexporter

[2022-08-08 07:39] swiatekm-sumo commented on #273
@bogdandrutu would you be willing to accept a PR implementing the watch in the file provider?

[2022-08-08 07:51] pellea opened #5852 "Log to ELK with Fleet; "use of closed network connection" or "connection closed before server preface received" errors"
**Describe the bug**
When sending logs to a Fleet server, the open-telemetry docker image failed to export log.

**Steps to reproduce**
I created a docker-compose with custom settings and ultimately I used the script here (https://github.com/jlim0930/scripts/blob/master/deploy-elastic.sh).
In both case, I have the same error.

In both case, I added this settings in the docker-compose file:
[code]

[2022-08-08 08:14] mx-psi commented on #5706
My point is that if there is a reasonable chance that we will want to implement this, we should not shoot ourselves in the foot now by allowing any character. Actually implementing either of these is a different discussion. If we think either of this will have no chance of being implemented, then we can of course ignore that case.

I agree with 1 and 2, we can leave the non-URI as it is. I am unsu

[2022-08-08 14:36] yzcyayaya commented on #5845
extensions:
  health_check:
  pprof:
    endpoint: 0.0.0.0:1777
  zpages:
    endpoint: 0.0.0.0:55679
  jaeger:
    endpoint: "10.29.8.64:14250"
    insecure: true
receivers:
  otlp:
    protocols:
      grpc:
        endpoint: "0.0.0.0:4317"
      http:

  opencensus:

  # Collect own metrics
  prometheus:
    config:
      scrape_configs:
      - job_name: 'otel-collector'
        scrape_interva

[2022-08-08 16:26] bogdandrutu commented on #5443
@TylerHelmuth Should we do the same for TraceFlags in the LogRecord? See https://github.com/open-telemetry/opentelemetry-collector/blob/d5e80be6f61eb9e354691466f37d7250671513e3/pdata/internal/generated_plog.go#L631?

[2022-08-08 16:52] bogdandrutu commented on #273
@swiatekm-sumo yes, but please check for an already [existing PR](https://github.com/open-telemetry/opentelemetry-collector/pull/4454) and see why that did not get accepted, and try to fix that.

[2022-08-08 16:54] bogdandrutu commented on #5692
I still believe that we should not allow users to change it (not expose this option). We made this decision to have "otelcol" prefix fine, we will not break observability, but we should not allow users to change it and support this "option"

[2022-08-08 16:56] bogdandrutu commented on #5692
The problem is that, if we add that capability and otel-go does not support we are stuck on opencensus. Without that, we can just go and change all metrics to have otelcol prefix name (when changing to otel-go) and we are good.

[2022-08-08 17:04] bogdandrutu opened #5859 "While working with ImmutableSlices found them very expensive"
Majority of the use-cases to work with the new `ImmutableSlices` especially in the metrics side were related to updating some bucket counts or bucket bounds. In all these cases there was a need to update an existing slice, which is very expensive with the current approach.

I propose that we change from "Immutable[Bytes|Uint64|...]Slice" to a "[Bytes|Uint64|...]Slice" which has an api to allow set

[2022-08-08 17:09] dmitryax commented on #5692
I agree with you. I recommended @splunkericl couple of approaches that can address the need without introducing any configuration options here. Once applied, I think we an close https://github.com/open-telemetry/opentelemetry-collector/pull/5758

[2022-08-08 20:23] amandahla commented on #3685
The change that was referenced here (https://github.com/open-telemetry/opentelemetry-collector/pull/3615/files) is no longer used.
Could  this be related to https://github.com/open-telemetry/opentelemetry-collector/issues/273 ?

Or [Config Source](https://github.com/open-telemetry/opentelemetry-collector/tree/main/config/internal/configsource) ?

[2022-08-08 21:05] bogdandrutu commented on #5653
I think that it "breaking" is very minimal, and is part of an API that we don't expect users to use publicly `component.Config` object, which is public just because of the yaml unmarshalling limitations.

[2022-08-08 22:15] bogdandrutu opened #5867 "plog.SeverityNumber enum values inconsistent with others"
[code]

Everywhere else we use non upper case for the name of the enum property, only here we use something like `UNDEFINED` which should be `Undefined`.

For the rest of the values, want to defer to @tigrannajaryan to make a call on what is expected `SeverityNumberTRACE` or `SeverityNumberTrace`.

[2022-08-08 22:27] #689 closed

[2022-08-09 01:03] deejaybanban opened #5872 "Release vX.X.X"
Like #4522, but for vX.X.X

**Performed by collector release manager**

- [ ] Prepare core release vX.X.X
- [ ] Tag and release core vX.X.X
- [ ] Prepare contrib release vX.X.X
- [ ] Tag and release contrib vX.X.X
- [ ] Prepare otelcol-releases vX.X.X
- [ ] Release binaries and container images vX.X.X

**Performed by operator maintainers**

- [ ] Release the operator vX.X.X

**Performed by helm ch

[2022-08-09 04:16] Smmfh223 opened #5873 "我是win11 C++部署的CPU版，预测的时候使用--char_list_file报错，请问这种问题该怎么处理呢？谢谢"
If any of the repositories named by git remotes could not be found via API lookup, a "could not resolve to a Repository" error would be thrown, but the goal of the base repo logic was to ignore NOT_FOUND errors.

Fixes https://github.com/cli/cli/issues/5993

__Originally posted by @mislav in https://github.com/cli/cli/pull/5994__

[2022-08-09 10:28] mx-psi commented on #5872
Closing as this seems to have been opened accidentally

[2022-08-09 10:28] #5872 closed

[2022-08-09 15:28] bogdandrutu commented on #5706
The current plan is:
1. Merge https://github.com/open-telemetry/opentelemetry-collector/pull/5861 which documents the limitation for the scheme not for the `opaque_data`, but we need to restrict characters in that part as well. (#5861)
2. Ensure by using some regexp that the new expand mechanism that uses the providers apply only to URI like embeddings. (#5863)
3. Investigate restrictions/encoding

[2022-08-09 17:00] junhaoyu-aws opened #5874 "Cannot upload coverage report to Codecov"
**Describe the bug**
When I am trying to pass all the checks before I submit my PR, I notice that I cannot pass the check of Upload Coverage Report in test-coverage.
[code]

**Steps to reproduce**
Any code will fail this step, even the main branch with one more line of comment.

**What did you expect to see?**
Easily passed.

**What did you see instead?**
There was an error running the uploader: E

[2022-08-09 17:18] bogdandrutu commented on #5706
One question to answer, from @mx-psi:

1. Should we also make `service.NewConfigProvider` fail if it we pass a provider that does not have a valid scheme?

[2022-08-09 17:56] #5873 closed

[2022-08-09 18:17] bogdandrutu commented on #5874
Was a temporary problem see https://github.com/open-telemetry/opentelemetry-collector/runs/7752203785?check_suite_focus=true

[2022-08-09 18:17] #5874 closed

[2022-08-09 20:07] bogdandrutu opened #5878 "exporter/loggingexporter.Config.LogLevel has different behavior after #5677"
After https://github.com/open-telemetry/opentelemetry-collector/pull/5677 was merged, we no longer use `LogLevel` the way was before (where we set it for zap.Core).

We need to look into what that configuration does right now, if we need to deprecate/rename/re-describe or what we need to do.

[2022-08-09 20:27] bogdandrutu commented on #5845
[code]

[2022-08-09 22:16] jinfanzon opened #5880 "No HTTP trace nor service map"
**Describe the bug**
I have several java spring microservices and I have done the automatic java instrumentation. After running the services, in opensearch I don't see HTTP traces, nor service map. I only see DB traces.

**Steps to reproduce**

1. I launch data-prepper with OpenSearch as a sink for two pipelines: "raw-pipeline" and "service-map-pipeline":

![image](https://user-images.githubuserco

[2022-08-09 23:14] bogdandrutu commented on #5880
@open-telemetry/java-instrumentation-approvers @open-telemetry/java-approvers any idea about why? This looks to me like an instrumentation problem not an collector problem, since at least some of the traces are present.

[2022-08-09 23:59] trask commented on #5880
@jinfanzon I'd start with making sure you're using a recent javaagent version (1.16 is the latest), and then I'd [enable debugging](https://github.com/open-telemetry/opentelemetry-java-instrumentation#troubleshooting) on the javaagent to check whether any http spans are being captured or not

[2022-08-10 01:45] fatsheep9146 commented on #5845
I mean the jaeger component should be put in exporters or receivers section, but not extensions.

for example
[code]

[2022-08-10 03:46] li-zeyuan opened #5881 "How do OTEL frame logs scroll down？"
I wanted the zap_pkg log to implement a scrolling deletion configuration, but found that no similar configuration was provided.
Like:github.com/natefinch/lumberjack
Thank you.

### telemetry.log config
[code]

[2022-08-10 06:20] dmitryax commented on #5687
Reopening since the issue is still not resolved.

[2022-08-10 07:01] dmitryax opened #5882 "Collector metrics names reported with OpenCensus and OpenTelemetry are inconsistent"
Currently Collector uses OpenCensus SDK to report its own metrics. Migration to OpenTelemetry metrics SDK started with a feature gate `telemetry.useOtelForInternalMetrics`. There is a significant difference in the produced metrics.

OpenCensus metrics utilize the prometheus exporter with the default metrics namespace set to `otelcol`. It means that all the reported metrics get the `otelcol` prefix

[2022-08-10 07:25] mx-psi commented on #5878
The new behavior or the log level option is described on this comment https://github.com/open-telemetry/opentelemetry-collector/pull/5677#pullrequestreview-1036046290.

We have only ever used `debug` and `info` levels, and I doubt we would use `warn` or `error` here. Some possible renames:
- `verbosity`or `verbosity_level` (either keeping `info` and `debug` or maybe with `brief` and `detailed` val

[2022-08-10 07:30] mateuszrzeszutek commented on #5880
Also, @jinfanzon what HTTP library/framework are you using? What version of it?

[2022-08-10 07:44] yzcyayaya commented on #5845
Thank you. It's my problem. I'm sorry to disturb your valuable time

[2022-08-10 07:46] fatsheep9146 commented on #5845
BTW, the issue could be closed =D

[2022-08-10 12:01] jinfanzon commented on #5880
@mateuszrzeszutek, we are using springboot. Is it covered by the automatic instrumentation?

[2022-08-10 16:07] dashpole commented on #5882
The "short_name" attribute is intended to be used for the prometheus namespace, but is currently a work-in-progress:

* https://github.com/open-telemetry/opentelemetry-specification/pull/2702
* https://github.com/open-telemetry/opentelemetry-specification/pull/2703

Also, I'm working on a migration OTel for OC -> OTel to help mitigate or prevent breaking changes when migrating:

* https://github.c

[2022-08-10 17:22] bogdandrutu commented on #5878
I think I like the "verbosity" level. The reason is that, it may allow us to add new levels if needed in the future. Also look into https://github.com/open-telemetry/opentelemetry-collector/blob/main/config/configtelemetry/configtelemetry.go#L26 may use that?

[2022-08-10 17:25] #5845 closed

[2022-08-10 17:26] #5827 closed

[2022-08-10 17:43] bogdandrutu commented on #5639
Also cannot reproduce. Closing, if anyone else can reproduce please reopen, may have been just a configuration issue on @tigrannajaryan 's machine?

[code]

[2022-08-10 17:43] #5639 closed

[2022-08-10 17:45] bogdandrutu commented on #5573
@djaglowski please let me know if anything is needed, or your new proposed processor works for this.

[2022-08-10 17:46] bogdandrutu commented on #5583
Closing since no activity for 1.5months since the solution was provided.

[2022-08-10 17:46] #5583 closed

[2022-08-10 17:51] bogdandrutu opened #5884 "Release v0.58.0"
**Performed by collector release manager**

- [x] open-telemetry/opentelemetry-collector#5885
- [x] open-telemetry/opentelemetry-collector#5886
- [x] open-telemetry/opentelemetry-collector#5887
- [x] open-telemetry/opentelemetry-collector#5888
- [x] open-telemetry/opentelemetry-collector#5889
- [x] open-telemetry/opentelemetry-collector#5890

**Performed by operator maintainers**

- [x] open-telem

[2022-08-10 17:53] bogdandrutu opened #5885 "Prepare core release v0.58.0"

[2022-08-10 17:53] bogdandrutu opened #5886 "Tag and release core v0.58.0"

[2022-08-10 17:53] bogdandrutu opened #5887 "Prepare contrib release v0.58.0"

[2022-08-10 17:53] bogdandrutu opened #5888 "Tag and release contrib v0.58.0"

[2022-08-10 17:53] bogdandrutu opened #5889 "Prepare otelcol-releases v0.58.0"

[2022-08-10 17:53] bogdandrutu opened #5890 "Release binaries and container images v0.58.0"

[2022-08-10 18:51] dmitryax commented on #5882
@dashpole given that we currently expose Collector's metrics in Prometheus format only, do you think it makes sense to set `otelcol` as prefix on metrics instead of the namespace for now until we have an option to use Scope `short_name`? At least it'll bring the exposed metrics to a consistent state from Prometheus standpoint and will allow us to migrate to Scope `short_name` without breaking user

[2022-08-10 19:30] ZachTB123 opened #5894 "Persistent Queue issues/questions"
I'm in the process of evaluating the persistent queueing functionality. I'm using the v0.57.2 release. I am unable to get persistent queuing to work when using multiple replicas of the collector. I currently have two different environments I'm testing this out in and I cannot get either to work. Both of these environments are expected to handle a large volume of telemetry so we have autoscaling se

[2022-08-11 00:45] bogdandrutu commented on #5894
/cc @swiatekm-sumo @pmm-sumo ?

[2022-08-11 08:40] pmm-sumo commented on #5894
File storage client is using bbolt underneath. One of the limitations is that the same database [cannot be used by multiple processes](https://github.com/etcd-io/bbolt#opening-a-database).

The solution would be to configure the replicas in a way that uses separate path for each of them or to use another type of storage extension, which should be possible after the [recent updates](https://github.

[2022-08-11 08:55] kovrus commented on #4814
@DennisGlindhart does #12892 resolve this issue for you?

[2022-08-11 09:28] swiatekm-sumo commented on #5894
I don't think this is really bbolt's fault - we get a nice error because it doesn't allow concurrent access, but if it did, the collectors would clobber each others' data. Extensions give components storage clients based on those components' identity, which is what allows the data to persist over restarts, but the identity of the collector itself doesn't really enter into it, and if it did, we'd n

[2022-08-11 12:04] kovrus commented on #5830
@dmitryax I can take that over.

[2022-08-11 13:38] ZachTB123 commented on #5894
My concern with tying replicas to specific volumes (whether through paths or using StatefulSet) is making sure there is a way to ensure the persistent queue is completely drained before scaling down. For example, if there was an extended outage on the destination we are trying to export to, the replica's volume will start to fill up. Once the export destination is available again, that data in the

[2022-08-11 13:55] kovrus commented on #5733
@jpkrohling https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12892 should resolve this issue, can you please close it?

[2022-08-11 14:42] swiatekm-sumo commented on #5894
Currently, the queue assumes it's the sole consumer of the storage it's using. Even if we were to implement a storage extension allowing concurrent access from different processes (for example a Redis client), I don't think the current storage API is expressive enough to implement a queue like that. In principle, I think it'd be possible with a completely separate queue implementation, without usi

[2022-08-11 14:57] gfonseca-tc commented on #5414
I would love to see something like this in the collector. My current approach is creating otlp receiver/exporters to connect the pipelines, it's not the most elegant solution, but it works...

[2022-08-11 16:52] djaglowski commented on #2336
Yes, I think so. Although the translation use case is what motivated this proposal, it ultimately is a proposal for connectors. Actual signal translation would be implemented afterwards for specific translation use cases.

[2022-08-11 19:25] bogdandrutu commented on #5885
Done

[2022-08-11 19:25] #5885 closed

[2022-08-11 19:25] bogdandrutu commented on #5886
Done

[2022-08-11 19:25] #5886 closed

[2022-08-11 19:25] bogdandrutu commented on #5887
Done

[2022-08-11 19:25] #5887 closed

[2022-08-11 19:25] bogdandrutu commented on #5888
Done

[2022-08-11 19:25] #5888 closed

[2022-08-11 19:26] bogdandrutu opened #5897 "Release the operator v0.58.0"

[2022-08-11 19:52] jinfanzon commented on #5880
Hi all! - I've downloaded the latest java agent and turned on debug mode. One of the first log is, where we can see that 185 instrumenters were installed:

`@timestamp:Aug 11, 2022 @ 16:27:08.117 container_name:/ecs-payment-order-dev-104-payment-ordertask-dec7bfe684e5c1de8c01 source:stderr log:[otel.javaagent 2022-08-11 19:27:08:110 +0000] [main] DEBUG io.opentelemetry.javaagent.tooling.instrument

[2022-08-11 20:11] DennisGlindhart commented on #4814
@kovrus Reading the README it would seem so, yes.

This configuration should fill the username from auth into User-ID header when sending to exporter if I understand correctly.
[code]

There is still the batch-limitation (Nice to have), but I guess in the future relying on the same work mentioned earlier could solve that? (https://github.com/open-telemetry/opentelemetry-collector/issues/4544).

[2022-08-11 20:31] jinfanzon commented on #5880
After going deeper into the logs I've found the following errors:

Aug 11, 2022 @ 17:27:23.222 | [otel.javaagent 2022-08-11 20:27:23:222 +0000] [OkHttp http://analytics.dev.kalto.xyx:4318/...] ERROR io.opentelemetry.exporter.internal.grpc.OkHttpGrpcExporter - Failed to export metrics. The request could not be executed. Full error message: Broken pipe (Write failed)
-- | --
  Aug 11, 2022 @ 17:27:1

[2022-08-12 08:45] kovrus commented on #4814
That's correct. See https://github.com/open-telemetry/opentelemetry-collector/issues/5733#issuecomment-1204648704, it could be potentially temporal workaround.

[2022-08-12 10:02] mateuszrzeszutek commented on #5880
It looks like you've only configured the traces exporter to use http/protobuf:

[code]

Try setting the `OTEL_EXPORTER_OTLP_PROTOCOL` env var instead, it will affect all signals exported by the OTLP exporters -- metrics exporter included.

It does not, it should be covered by auto-instrumentation.

Can you post the full javaagent log output? The pastebin you posted only contains 25 lines of log, w

[2022-08-12 17:28] #5890 closed

[2022-08-12 17:28] #5889 closed

[2022-08-12 17:30] bogdandrutu commented on #5769
Last item has a separate issue, ok to close this.

[2022-08-12 17:30] #5769 closed

[2022-08-12 17:31] bogdandrutu opened #5901 "Update the opentelemetry-collector helm chart to use v0.58.0 docker image"

[2022-08-12 18:10] ZachTB123 opened #5902 "Drain persistent queue on shutdown"
I would like to ensure that if I am using a persistent queue, that queue is drained on shut down. #5110 found issues with the bounded memory queue because it immediately returned once it read from the stop chan rather than finish consuming the remaining items in the queue. It appears that the persistent queue has the same issue since it returns [here](https://github.com/open-telemetry/opentelemetr

[2022-08-12 18:13] ZachTB123 commented on #5894
I created #5902 for my previously mentioned concerns around draining the persistent queue.

[2022-08-12 20:24] jinfanzon commented on #5880
@mateuszrzeszutek thanks, that seems to do the magic. HTTP traces were sent correctly though when **metrics** are sent I get the following **404 error** in otel logs:

![image](https://user-images.githubusercontent.com/5643016/184436648-c3000b2e-0821-4a6d-90b1-199df5218fa0.png)

I've added the following entry in data-prepper config:

![image](https://user-images.githubusercontent.com/5643016/18443

[2022-08-12 21:31] dmitryax commented on #5859
@bogdandrutu This goes against the decision that we made in https://github.com/open-telemetry/opentelemetry-collector/issues/5263 . It means that we will need to copy the slices when the owner pdata objects are copied.

If we go this route, I'm not sure what are we gaining by wrapping the slices at all. To fix https://github.com/open-telemetry/opentelemetry-collector/issues/5263 from the state whe

[2022-08-12 23:31] josephwoodward commented on #5648
Started looking into this and can confirm it used to error with the following message:

[code]

[2022-08-15 00:39] gen-xu commented on #5611
I have encountered similar issue. Not only batch processor but also the hostmetrics receiver/scrapehelper seesm to have memory leak issue too. I am using hostmetrics with 0.1 seconds to exaggerate the issue.

See pictures for my pprof heap results
![heap2](https://user-images.githubusercontent.com/5494476/184561014-5b2a85b9-cffb-412a-9cf2-0b9aa2e71471.png)
![heap4](https://user-images.githubuserco

[2022-08-15 01:50] fatsheep9146 commented on #5611
Could you show your config file of collector?

[2022-08-15 03:05] gen-xu commented on #5611
@fatsheep9146

we had some secrets in config but the following should reproduce the unbounded increasing of memory usage.
[code]
it is worth noting that there are many errored metrics, not sure that can causes some dangling objects
[code]
and the metrics might also be helpful here
[code]

[2022-08-15 11:06] swiatekm-sumo commented on #5902
I'm not sure this is good default behaviour. Persistent queue is often used to buffer data beyond memory capacity, so it might be larger and take longer to drain. It's not a great user experience to send a SIGTERM to the collector process and then wait for 10 minutes for it to exit, and most orchestrators will typically follow up with a SIGKILL a short time afterwards. Maybe it's not so bad if we

[2022-08-15 14:51] ZachTB123 commented on #5902
Yeah, I wouldn't necessarily expect this to be the default behavior but rather a configurable option. For those that do want this functionality, they would have to configure this in their exporter settings and make the necessary changes on their deployment to ensure their pods can stay up long enough to get through the queue, i.e. by extending `terminationGracePeriodSeconds`. And to your point, pr

[2022-08-15 15:24] TylerHelmuth commented on #5443
@bogdandrutu ya best to keep the experience consistent within pdata

[2022-08-15 15:49] bogdandrutu commented on #5902
If that is the case, why not using an inmemory queue?

[2022-08-15 16:58] ZachTB123 commented on #5902
We still want the benefits of persistent queueing over inmemory queueing. We are in the process of evaluating replacing an existing telemetry pipeline with OpenTelemetry and I am open to feedback around what our approach should be. The two pieces we need to ensure are: minimal to no data loss and data delivery in a timely fashion to the backends, i.e. < 10 seconds. The pipeline we want to replace

[2022-08-15 17:09] dmitryax commented on #5867
cc @djaglowski

[2022-08-15 17:40] dmitryax commented on #5588
I brought this Q some time ago as well. I believe, if we revert this performance improvement https://github.com/open-telemetry/opentelemetry-collector/pull/2017, we will get this working. Not sure if we want to support this tho. cc @bogdandrutu

[2022-08-15 17:41] dmitryax commented on #5588
Here is the issue btw https://github.com/open-telemetry/opentelemetry-collector/issues/5476

[2022-08-15 17:43] #5830 closed

[2022-08-15 17:46] bogdandrutu commented on #5859
What do you mean, I am a bit confused. The proposal is not to return a golang slice which has the problem that you describe, but to return a `ByteSlice` struct similar to all other `XSlice` structs that we have in the `pdata`

[2022-08-15 22:33] tigrannajaryan commented on #5476
BTW, this and other optimization won't be necessary and won't cause problems like this if we move to https://github.com/splunk/exp-lazyproto :-)

[2022-08-16 02:08] tigrannajaryan commented on #5639
This is a known issue in go 1.17: https://github.com/golang/go/issues/50073
After updating to go 1.18 I cannot reproduce this anymore, so we are good.

[2022-08-16 14:50] cpheps opened #5920 "Add Size() method to pdata Structures"
Currently all the pdata structures have a way to count the number of objects in them:

- plogs have `LogRecordCount()`
- pmetrics have `MetricCount()` and `DataPointCount()`
- ptraces have `SpanCount()`

It would be useful in some cases to have access to the size of the pdata structure. The primary use case would be so components could measure their data throughput and record it via custom telemet

[2022-08-16 18:37] jinfanzon commented on #5880
hi @mateuszrzeszutek - That works correctly, I'm getting traces and logs, but I still have an error with metrics:

otel-collector    | go.opentelemetry.io/collector/exporter/exporterhelper.(*retrySender).send
otel-collector    | 	go.opentelemetry.io/collector@v0.56.0/exporter/exporterhelper/queued_retry.go:183
otel-collector    | go.opentelemetry.io/collector/exporter/exporterhelper.(*metricsSende

[2022-08-16 20:53] #5572 closed

[2022-08-16 21:32] bogdandrutu commented on #5920
This operation is pretty expensive, and we try to discourage the use of this in metrics, since the amount of CPU needed to calculate this is way too much compare with the usefulness.

This may change when we change to lazy unmarshalling, but I would suggest to retain that until then. As an alternative for the moment you still have `Sizer` as an interface that the encoders may implement (the protob

[2022-08-16 21:49] dmitryax commented on #5859
The point of `pdata` is to forbid direct access to underlying proto structs to allow us potential changes in them, right? There are no changes that we can expect in underlying primitive types to abstract them for the same reason. To fix https://github.com/open-telemetry/opentelemetry-collector/issues/5263, we could've just added a defensive copying in the owner objects setters, e.g. `HistogramData

[2022-08-16 22:52] tigrannajaryan commented on #5867
For other enums we use CamelCase even if the generated proto uses UPPERCASE, e.g. https://github.com/open-telemetry/opentelemetry-collector/blob/15ac8f2fd6cb5ba23b661d3650b856cd08df1def/pdata/internal/metrics.go#L176

So, I suggest we go with `SeverityNumberTrace` for consistency.

[2022-08-17 05:53] dmitryax commented on #5692
As discussed with @splunkericl, solving https://github.com/open-telemetry/opentelemetry-collector/issues/5882 will make this issue not needed anymore

[2022-08-17 06:58] mateuszrzeszutek commented on #5880
It looks like whatever you're connecting to (data-prepper?) does not accept metrics -- judging from its response, it doesn't implement the metrics endpoint.

[2022-08-17 14:07] cpheps commented on #5920
@bogdandrutu I wasn't aware of the `Sizer` interface. I think that more or less is the same thing I'm proposing. I will look at that. Closing this issue.

[2022-08-17 14:46] bogdandrutu commented on #5859
You can see that from performance perspective:

Both options beside 2 need at least one copy of the slice, probably 2. That is the reason I call them expensive

[2022-08-17 15:00] bogdandrutu commented on #5902
There are lots of edge cases here when it comes to this: what do you do if the backend is down and you drain? What do you do if you have a Shutdown (for scaling up) and have lots of data in the queue?

So most likely you need some sort of guards and control on when to drain and when to not drain the queue (unless you are willing to wait indefinitely which may cause issues with your orchestration s

[2022-08-17 15:28] cpheps commented on #5920
@bogdandrutu One note about this it's not very friendly to interact with. Seems like the only way to get a `Sizer` is to cast a `Marshaler` as a `Sizer`. Shown [here](https://github.com/open-telemetry/opentelemetry-collector/blob/main/processor/batchprocessor/batch_processor.go#L230) in the batch processor. To someone importing the collector as a dependency it isn't obvious this is a safe operatio

[2022-08-17 15:43] bogdandrutu commented on #5920
Someone closed to soon this https://github.com/open-telemetry/opentelemetry-collector/issues/3842

Happy to review a proposed API (short PR just showing the public things initially to discuss).

[2022-08-17 15:59] djaglowski commented on #2336
There are probably too many use cases to articulate, but anything that involves signal replication/translation, or differentiated processing/routing/export could use this feature.

I think the connectors concept is cleaner because it does not blur the line between "components" and "group of components" (pipeline). Sending data "to a pipeline" feels ambiguous until you mentally step into the pipeli

[2022-08-17 16:03] bogdandrutu commented on #5443
All places updated, we need only to finish the deprecation.

[2022-08-17 16:05] Jmorjsm commented on #2715
I'm interested in picking this one up.

[2022-08-17 16:25] #5867 closed

[2022-08-17 17:23] dmitryax commented on #5859
I don't get why Option 2 doesn't need a copy of the slice. At least, it needs a defensive copy on setter as all other options, right?

Speaking about copies on getters, the options 2 and 3 are similar. Option 3 can go without copy on getter, in that case performance-wise Option 2 and 3 are the same. The only benefit of Option 2 in this case is that making `bcs.SetAt(0, 1)` calls are maybe more exp

[2022-08-17 17:37] ZachTB123 commented on #5902
Yep. I'm at the point where I need to consider these now, so apologies if I seem to dwell on these.

Yeah, I've been thinking about this. Can you expand your thoughts on this? Our current collector has an otlp receiver and then exports to the specific backends. Are you suggesting we add a queue in between? So otlp receiver, export to queue, receive from queue, export to backends? Or are you sugges

[2022-08-17 19:56] swiatekm-sumo commented on #5902
I imagine it'd be something like the following if you're using Kafka:
`otlpreceiver -> processors -> kafkaexporter -> Kafka -> kafkareceiver -> exporters without queues`.

As I said earlier, I don't think the current API for storage clients is expressive enough to write a performant queue, even if the underlying store had all the necessary semantics.

[2022-08-17 21:10] bogdandrutu commented on #5902
@swiatekm-sumo please open an issue discuss with @djaglowski and change the Storage API to allow that.

[2022-08-18 07:00] gbbr commented on #2336
That's great! It means that this design has the potential to solve a lot of problems! I'm happy to help rubber duck and brain storm to find a good solution if you like. In order for me to be useful, it would help me if you could articulate a few use cases (even one or two). Having none described concerns me because I may be thinking of a different use case than you and then we would be talking abo

[2022-08-18 08:32] swiatekm-sumo commented on #5902
Are we sure we want that? My comment was in the context of queues used by multiple processes. The Storage API exposes the storage as a transactional KV store, which I think would require some kind of busy wait for a multi-process queue even if the underlying store supported concurrent access from multiple processes. In order to to make this efficient, I think we'd need either a locking API, or an

[2022-08-18 15:51] bogdandrutu commented on #5920
Where do you intend to use this? As mentioned usually is expensive operation and value added is not worth it (in my opinion)

[2022-08-18 15:54] bogdandrutu commented on #5902
I think we should discuss this in a separate issue, since this issue is not about that :)

[2022-08-18 15:57] bogdandrutu commented on #5902
@ZachTB123 what I would do is this, Receive OTLP/HTTP (GRPC, whatever) then export in OTLP format to Kafka asap (means without any queuing or anything). After that on the consumer side you have a collector with Kafka receiver that gets an entry from the queue, process it, exports it to the backend (without any queue), if gets success back then ack the message in Kafka .

[2022-08-18 16:14] bogdandrutu commented on #5810
Done.

[2022-08-18 16:14] #5810 closed

[2022-08-18 16:15] bogdandrutu commented on #5658
No answer to the solution, looks like it is resolved.

[2022-08-18 16:15] #5658 closed

[2022-08-18 16:33] cpheps commented on #5920
@bogdandrutu We plan to use it to observe how data flow changes over a pipeline. While the operation is expensive we plan to mitigate that by doing sampling and short-duration observations.

[2022-08-18 16:44] bogdandrutu commented on #5920
fyi: @cpheps we have a metric at grpc/http level for bytes received/exported that may help, that is cheap to have.

[2022-08-18 17:05] #5920 closed

[2022-08-18 17:49] TylerHelmuth opened #5935 "[pdata] Allow strict enforcement of json payloads."
**Is your feature request related to a problem? Please describe.**
To enable the collector to receive json payloads from new/old otel exports, the collector was changed to skip unknown fields instead of error (#5312, #5931).  This is a proper default behavior, but there may be situations where users rely on the collector strictly enforcing json payload structure.  It would be nice if the collector

[2022-08-18 21:43] dmitryax commented on #5859
@bogdandrutu I examined all the usages in the contrib and found the following use cases:

### 1. Create a new slice from a given primitive slice

  - Occurrences: 16
  - Modules:
    - pkg/stanza
    - pkg/telemetryquerylanguage
    - pkg/translatror/opencensus

This use case is good for the existing approach (Option 1). If we go with the Option 2, we would need to introduce the same setter with d

[2022-08-19 13:37] bogdandrutu commented on #5647
Does it worth the complicated process since we don't have the conflict problem in this repo?

[2022-08-19 14:29] BjarteHaram commented on #2469
Hi! My company recently enabled Kyverno to identify Kubernetes vulnerabilities and reported a vulnerability since we inject an API key into an environment variable. Does anyone have an update on the resolution to this issue?

[2022-08-22 13:36] jpkrohling commented on #5414
I could only catch up with this proposal now, and I like it. The current state of the routing processor is MVP-like, the minimal solution that works. What you outlined in the backup proposal is mainly what I had in mind during the development, namely: "... communicate in-process thus using the absolute minimum of extra resources". I don't think I had a new receiver in mind for the in-process, but

[2022-08-22 14:15] neelayu commented on #5654
@jpkrohling I have created a PR for this issue.

[2022-08-22 16:11] bogdandrutu commented on #5882
Just one small clarification:

Currently all these metrics are "not available" (not different) if `telemetry.useOtelForInternalMetrics` enabled. Do we care about the prefix fix right now or wait until the bridge is implemented?

[2022-08-22 16:48] dashpole commented on #5882
I'd prefer waiting.  I don't see the urgency in changing the OTel metric names while the OTel metric SDK is being rewritten.

[2022-08-22 21:06] #5312 closed

[2022-08-23 01:12] #5612 closed

[2022-08-23 15:54] splunkericl opened #5952 "[Documentation] Explain the exporter queue failure scenario"
## Important (read before submitting)

**Is your feature request related to a problem? Please describe.**
No this is specific to documentation.

**Describe the solution you'd like**
Add a paragraph in [exporter helper](https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/exporterhelper) explaining the failure scenarios:
- if new items can't be added to the queue for whateve

[2022-08-23 17:38] TylerHelmuth commented on #5648
@jpkrohling when you said "configuration file is required to run the collector" do you mean an actual configuration file, or do you mean configuration provided via [any valid source](https://github.com/open-telemetry/opentelemetry-collector/tree/main/service#how-to-provide-configuration)?

[2022-08-23 17:55] TylerHelmuth commented on #5648
@josephwoodward I think we can check for the presence of a `--config` flag [here](https://github.com/open-telemetry/opentelemetry-collector/blob/62d41a8ac401cdcb3b0fd7b067d2eecc64f0cc8b/service/command.go#L38), and if there are not any we can error accordingly.  Let me know if you are still working on it.  If not, I can pick this up.

[2022-08-23 20:04] jpkrohling commented on #5648
Sorry, I meant a configuration provided from any valid source.

[2022-08-23 21:08] dmitryax opened #5953 "Revisit pcommon.Map.InsertNull method"
There are couple problems with this method:

1. The name is inconsistent with names of pdata type `pcommon.ValueTypeEmpty` and constructor `pcommon.NewValueEmpty`.
2. There is `pcommon.Map.InsertNull` method for insert action only, but not for other actions as other "primitive" value types have, e.g. no `UpsertNull` which can still be useful to remove a value under particular key.

Suggestion is t

[2022-08-24 01:42] MovieStoreGuy opened #5958 "[pdata.Map] InsertStringValue causes high memory usage"
**Describe the bug**
Configuring a custom distro of the open collector contrib, we have seen a high amount of memory usage with `value.setStringValue` which has caused our migration from our previous telemetry agent (The SignalFx smart agent) to stall.

**What did we see**
[heap.txt](https://github.com/open-telemetry/opentelemetry-collector/files/9411600/heap.txt)

I've attached a heap profile fro

[2022-08-25 04:43] MovieStoreGuy commented on #5958
@bogdandrutu let me find more information for, in the case I am more a middleman so I will get all those details for you.

Our previous agent was the SignalFx smart agent in a near like for like configuration.
The memory being consumed from the smart agent was ~50MiB with the collector reaching ~260MiB, we are simply reading the memory used from the docker stats for this running within k8s. I beli

[2022-08-25 07:25] xiangtianyu opened #5961 "[request help]some questions about collector performance test"
I read the doc about performance from [this link](https://github.com/open-telemetry/opentelemetry-collector/blob/main/docs/performance.md), and i tried to reproduce the result. So i start a collector in k8s with 1c 2gi, and start the load test.

I used a simple config:
[code]

and set the submission rate to 100000 spans per second.

When the test starts, i tried to observe the metrics from localho

[2022-08-25 08:04] mcmho opened #5962 "Support for exporter logging contextual information"
_**Is your feature request related to a problem? Please describe.**_
The problem is log messages emitted by the exporters have limited context.  With thousands of signals coming from various spans and traces, logs can soon becomes very difficult to correlate.
It would be great to add contextual information, such as traceparent, traceid, span id, .., such contextual information in the log message t

[2022-08-25 10:57] amitvermaa3101 opened #5963 "Otel-contrib collector unable to start to scrap postgres DB data and export it to prometheus"
Working on project to use otel-contrin collector to scrap Linux server and Postgres metrics and export the metrics to Prometheus server

Using below config.yaml file for otel-contrib agent

extensions:
  health_check:
  pprof:
    endpoint: 0.0.0.0:1777
  zpages:
    endpoint: 0.0.0.0:55679

receivers:
  postgresql:
      endpoint: localhost:5432
      username: 'XXXX'
      password: 'XXXX'

#pro

[2022-08-25 12:52] LeonD9 opened #5964 "OpenTelemetry HTTP Exporter unequal traffic to backend"
I am connecting via OTLPHTTP Exporter to grafana tempo cluster service that contains 5 pods:
[code]
It seems that some backend pods get more traffic than the others which causes them to get OOM.
Is there a way to split traffic more equally between the backend endpoints? to avoid traffic overloading specific pods

[2022-08-25 14:34] jpkrohling commented on #5964
When using a regular Kubernetes service as the host, the HTTP client will resolve the IPs and typically use the first from the DNS query. Only upon failure will another IP be selected. One solution is to use Kubernetes' load balancing alternatives. When using gRPC, it's possible to use client-side load balancing when the endpoint is set to something like `dns:///tempo.kube-system.svc.cluster.local

[2022-08-25 16:14] LeonD9 commented on #5964
As far as i know tempo does support gRPC,
I tried using the following configuration:
[code]
and had the same issue with traffic balancing, @jpkrohling can i use this `dns:///tempo.kube-system.svc.cluster.local:4317` as endpoint with gRPC service and it will balance the traffic?

[2022-08-25 16:59] swiatekm-sumo opened #5966 "Configuration reloading logic and customizability"
**Is your feature request related to a problem? Please describe.**
Right now, the collector reloads configuration whenever it [gets a notification](https://github.com/open-telemetry/opentelemetry-collector/blob/7545a294c9cf5f483e7a0f45034dae2c9bd9d089/service/collector.go#L173) from any of its configuration sources. In practice, this never happens, as watching is not implemented in any of the [exi

[2022-08-25 19:09] jpkrohling commented on #5964
Yes, it should.

[2022-08-26 07:53] dmitryax opened #5973 "[pdata] Need a clean way to convert pcommon.Value into a Map or Slice"
Currently, `pcommon.Value` can be switched to a different type only between primitive types, e.g. `String` -> `Int` using `Value.SetInt`, but there is no way to convert `Int` into `Slice` for example. It's not a problem when we work with `common.Map`, but it is a problem when we need to convert a `Value` of `LogRecord.Body`. It's still possible to work around with `Value.CopyTo`, but it goes again

[2022-08-26 07:59] dmitryax opened #5974 "[pdata] Revisit Map.Insert/Update/Upsert methods"
`pcommon.Map.Insert/Update/Upsert` are the only methods allowing setting the mutable types on the Map. This practice  is generaly discouraged in pdata module since it potentially can lead to setting the same maps/slices across different parts of pdata.

Setting mutable types should be replaced with other methods, e.g. `Map.UpsertEmpty() Value`.

[2022-08-26 12:13] jinfanzon commented on #5880
Hi @mateuszrzeszutek - Thanks for your reply, I've created a [ticket](https://github.com/opensearch-project/data-prepper/issues/1664) with data-prepper team and metrics has to be exported through grpc. I did that, but now I have the following data-prepper error:

![image](https://user-images.githubusercontent.com/5643016/186900740-714eb5b7-1fd8-44b4-8acd-4d4f6d21cd9b.png)

I've already reported th

[2022-08-26 13:34] jinfanzon commented on #5880
Hi - I was missing config:

processor: - otel_metrics_raw_processor:

[2022-08-26 13:34] #5880 closed

[2022-08-26 16:47] bogdandrutu commented on #5962
I would not invent a new logging API for the moment. Also waiting to see what logging SIG proposes.

[2022-08-26 17:21] bogdandrutu commented on #5881
Does zap provide that configuration, we provide exactly what zap provides.

[2022-08-26 17:40] mcmho commented on #5962
thanks @bogdandrutu!  "logging SIG"... you are referring to uber-go/zap?

[2022-08-26 17:40] bogdandrutu commented on #5973
Here is somewhere where we do this kind of "conversion" inside metrics https://github.com/open-telemetry/opentelemetry-collector/blob/main/pdata/pmetric/metrics.go#L136. we need to be consistent with that as well.

[2022-08-26 19:46] lpegoraro commented on #2336
One more cheer for this, and let me know if I can do anything to help, I am with a use case that will take advantage with this by a lot.

[2022-08-26 21:16] #5648 closed

[2022-08-27 03:58] li-zeyuan commented on #5881
Zap can cooperate github.com/natefinch/lumberjack log archive.
Or whether the OTEL framework provides interfaces instead of zap. Logger objects

[2022-08-27 17:01] dmitryax commented on #5974
@bogdandrutu I realized all the Upsert/Insert/Update methods copy the underlying data under the hood. It means that my concern about sharing the same objects in different parts of pdata is invalid. But it means that the only way to put a map or a slice as a child of another map is to generate a map and copy it, which always implies another extra allocation for the whole map.

[code]

If we move to

[2022-08-28 02:38] mcmho opened #5980 "Add traceparent id in the Debug log for exporter"
**Is your feature request related to a problem? Please describe.**
Log messages does not have any contextual information, such as parent trace id.   It is very hard to trace and correlate log messages.

**Describe the solution you'd like**
Add traceparent id in Debug log for exporter
for example, in _otlp.go_
[code]
// add the parent trace id in the message
// so that the message becomes
// "Trace

[2022-08-28 02:38] mcmho opened #6368 "Add traceparent id in the Debug log for exporter"

[2022-08-28 05:21] Syn3rman opened #5981 "otlphttpexporter: add config option for json payload encoding"
**Is your feature request related to a problem? Please describe.**
It seems like there is currently no way to json encode and export logs in the otlphttpexporter. It would be nice to have this.

**Describe the solution you'd like**
A config option for the otlphttpexporter which allows users to use json/http with a default of proto

**Describe alternatives you've considered**
The only way to do thi

[2022-08-28 07:43] LeonD9 commented on #5964
Hey @jpkrohling ,
I changed to `dns:///tempo-headless.kube-system.svc.cluster.local:4317` and i see it detects all pods but the lb policy is still:
`2022-08-28T07:38:57.423Z	info	zapgrpc/zapgrpc.go:174	[core] [Channel #1] Channel switches to new LB policy "pick_first"	{"grpc_log": true}`
how can i change it to `round_robin`?

[2022-08-28 10:24] LeonD9 commented on #5964
When using the following config:
[code]
 The traffic still seems to be unequal:

![image](https://user-images.githubusercontent.com/86968998/187069213-54957482-5a84-4c94-a59c-cb64cb1d8cc7.png)

two pods receive more traffic then the others for some reason.

[2022-08-28 13:04] LeonD9 opened #5982 "Questions regarding otel collector"
Hey,
I want to start using the otel collector in our production environment and i have a few questions:
- I use deployment in k8s for otel collector, i want to use hpa for additional scalability, is that recommended or is it better to over provision the pods to support a large amount of spans per second? i want to support around 1m spans per second.
- How can i avoid downtime by spike in the amoun

[2022-08-29 10:13] iblancasa opened #5988 "golangci-lint reports: times.Total is deprecated"
**Describe the bug**
The usage of the `cpu.Total` function was deprecated in https://github.com/shirou/gopsutil/pull/1325

**Steps to reproduce**
When running `make lint`, the this error is produced:
[code]

**What version did you use?**
Version: `master`. Commit: `1eda0c4e4f6fbd90966359e12b226db01a845223`.

[2022-08-29 14:51] jpkrohling commented on #5964
How many clients do you have, and how many collectors do you have? Note that connections are reused in the name of resource optimization, so if you have only a few clients, you'll certainly see an imbalance there.

[2022-08-29 16:29] bogdandrutu commented on #5981
We are trying to not support that, and discourage that usage. Where do you need to send JSON?

We do accept JSON since it is common to send from the JS apps.

[2022-08-29 16:44] bogdandrutu commented on #5966
I am confused about this, I don't think the remounted happens for the existing pods. Imagine an app crash, then restart will pick the new version? Can you investigate a bit more?

I think it is almost impossible in case of a restart for example, also it becomes impossible to know what version of the config etc. For use cases like this we should create a provider to a proper "configuration" system

[2022-08-29 18:46] jpkrohling opened #5991 "Use go workspaces to simplify dependency versioning"
During the SIG meeting on August 10, we agreed that we'd do a proof-of-concept of Go Workspaces to simplify the management of versions (especially replaces statements) in the Go modules for a repository.

I'll work on the PoC, while @bryan-aguilar was requested to help with the tooling, given Bryan's experience with similar tools.

[2022-08-29 18:48] jpkrohling opened #5992 "Split components into their own modules"
Depends on open-telemetry/opentelemetry-collector#5991.

On August 10, during the SIG meeting, we agreed on splitting components into modules, such as the OTLP Exporter and Receiver. This should be done after the changes that would be part of open-telemetry/opentelemetry-collector#5991, so we can take advantage of the tooling.

List of modules, from @bogdandrutu's comment:

- [x] open-telemetry/op

[2022-08-29 18:51] lpegoraro commented on #2336
Hi Folks, would this suit my following scenario?

I would like to have something like this setup:
![Overview](https://user-images.githubusercontent.com/6593889/187275332-b19bab75-be67-4cb9-bfec-57956d2cc68b.png)

But listen for changes from an external service (Extension)

![External-Change2](https://user-images.githubusercontent.com/6593889/187275525-41b526a4-1e3c-4327-90c7-a5e45b8e0217.png)

![E

[2022-08-30 04:03] #863 closed

[2022-08-30 04:03] #486 closed

[2022-08-30 04:03] #94 closed

[2022-08-30 13:54] swiatekm-sumo commented on #5966
I was also surprised, but it does absolutely happen: https://kubernetes.io/docs/concepts/configuration/configmap/#mounted-configmaps-are-updated-automatically. To make the thing even more confusing, whether this happens depends on the mount type as well. All in all, it's kind of a mess.

Either way, this was just an example of a situation where the user may explicitly not want to reload their conf

[2022-08-30 14:03] swiatekm-sumo commented on #5966
What we have right now is automatic reload based on notifications from the config provider. I want to let users have more control over this. Right now, there's not even a way to opt-out of it.

Sorry about that, this is not a very streamlined issue, and I'm not sure what the right set of solutions is. I want to give users more control over configuration reloading, and I'd like to see what options

[2022-08-30 16:34] dmitryax opened #5998 "Revisit need of Map.Update<Type> and Map.Insert<Type>"
We need to make sure that all the pdata API is needed before declaring 1.0.

Problem with `Map.Update<Type>` and `Map.Insert<Type>` is that they cannot be applied to all the types. `Map.Upsert...` methods that require returning a value like `Map.UpsertEmpty` and `Map.UpsertEmptyMap` cannot have clean and useful equivalents for `Map.Update...` and `Map.Insert...`.

Usage of `Update...` in contrib i

[2022-08-30 17:53] Syn3rman commented on #5981
Oh no I just wanted to generate a sample payload to inspect it. I thought that it should've been supported in the output since it is supported in the input but if that is not the case, I don't really mind. Thanks for the response!

[2022-08-30 17:53] #5981 closed

[2022-08-30 18:52] portertech commented on #5966
@swiatekm-sumo you thinking something like this? https://github.com/sensu/opentelemetry-collector/commit/995cba5df082ef8f35b651d7637e87f3cae884a3

[2022-08-30 19:06] portertech commented on #5966
Works https://gist.github.com/portertech/63a33aca67bc0468120abc924eda49e3

[2022-08-30 20:21] bogdandrutu commented on #5966
@portertech I would prefer to not jump and add more "legacy" things to the collector. We should define the "solution" first then add more functionality.

[2022-08-30 21:16] bogdandrutu commented on #5981
@Syn3rman for inspection use `logging` exporter?

[2022-08-31 10:39] yuriolisa commented on #5884
I think this issue can be closed.

[2022-08-31 12:28] #5884 closed

[2022-08-31 15:31] Aneurysm9 opened #6002 "Release v0.59.0"
Like #4522, but for v0.59.0

**Performed by collector release manager**

- [x] Prepare core release v0.59.0
- [x] Tag and release core v0.59.0
- [x] Prepare contrib release v0.59.0
- [x] Tag and release contrib v0.59.0
- [x] Prepare otelcol-releases v0.59.0
- [x] Release binaries and container images v0.59.0

**Performed by operator maintainers**

- [x] https://github.com/open-telemetry/openteleme

[2022-08-31 16:08] splunkericl opened #6003 "Persistent Queue Storage Should close client on stop"
**Describe the bug**
Persistent Queue(`persistentContiguousStorage`) retrieves a client from file storage and uses it to persist items. The current file storage uses a bbolt library, which locks the file it loads. This file stays locked until the fileStorageClient `Close` method is called.

However, when `persistentContiguousStorage` is [stopped](https://github.com/open-telemetry/opentelemetry-col

[2022-09-01 07:37] yashvardhan-zs commented on #2401
how can we receive the headers and send same to exporter for multi tennat?

[2022-09-01 11:41] jpkrohling commented on #2401
Take a look at the header setter extension for one of the possible solutions: https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/extension/headerssetter

[2022-09-01 11:42] yashvardhan-zs commented on #2401
I tried to use but then collector stops

[2022-09-01 11:46] yashvardhan-zs commented on #2401
is there any available method to access headers from receiver and use it in exporter as tennat?

[2022-09-01 11:49] jpkrohling commented on #2401
What's your concrete use case? Without knowing that, I can only provide general information.

HTTP headers are part of the client metadata. You can access them via the attributes or resources processor, adding that information to the data points. Exporters would then be responsible for accessing this data. The header setter helps in this last part by allowing the headers to be used as values for h

[2022-09-01 11:53] yashvardhan-zs commented on #2401
i am using zipkin as receiver and taking headers from application, also metatdata: true and now i want to use this headers in exporter to diffrentiate tennat on the basis of headers.

receivers:
  otlp:
    protocols:
      grpc:
  zipkin:
exporters:
  otlp:
    endpoint: tempo:4317
    tls:
      insecure: true
    headers:
      X-Scope-OrgID: 1234   //////////////////////////// I want to take t

[2022-09-01 12:48] jpkrohling commented on #2401
Your best bet is indeed the header setter. That's exactly the use-case it's solving.

[2022-09-01 12:49] yash1539 commented on #2401
What is from context here in headerssetter

[2022-09-01 16:38] TylerHelmuth commented on #6002
I don't have permission to check the box, but the helm charts have been updated: https://github.com/open-telemetry/opentelemetry-helm-charts/pull/349

[2022-09-01 16:59] jpkrohling commented on #6002
@yuriolisa, @pavolloffay, could one of you take care of the operator release:

[2022-09-01 17:07] yuriolisa commented on #6002
Let me get it.

[2022-09-01 17:08] yuriolisa commented on #6002
https://github.com/open-telemetry/opentelemetry-operator/issues/1071

[2022-09-01 19:25] #6003 closed

[2022-09-02 15:52] #5443 closed

[2022-09-02 16:08] bogdandrutu commented on #5982
Not sure about the status of HPA today, but would say a combination of HPA and a bit of over provisioning (20%) to support burst until HPA triggers?

We don't, probably we can add that, please file an issue to document the request.

This is how I would do https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types.

Can you elaborate on this?

[2022-09-02 20:54] bogdandrutu commented on #5998
`Map.Update<Type>` where marked as deprecated and will be removed next release.

[2022-09-02 20:57] splunkericl opened #6020 "Persistent Queue Doesn't load di items after otel collector restarts"
**Describe the bug**
When exporter spawns up, the persistent queue(if enabled) should load persisted items during initialization. However, this behavior is not observed in 0.59.

**Steps to reproduce**

1. Enable persistent queue with file_storage extension
2. Write a log data through the queue, set exporter destination to always fail
3. Observe item fail to be exported and item is present in the

[2022-09-02 21:02] splunkericl commented on #6020
Tagging @swiatekm-sumo as I chatted with him through email briefly.

[2022-09-02 21:12] #5953 closed

[2022-09-03 03:55] #1030 closed

[2022-09-03 04:50] dmitryax commented on #5973
Completed in https://github.com/open-telemetry/opentelemetry-collector/pull/5975

[2022-09-03 04:57] dmitryax commented on #5973
Completed in https://github.com/open-telemetry/opentelemetry-collector/pull/5975

[2022-09-03 04:57] #5973 closed

[2022-09-04 23:00] bogdandrutu opened #6022 "Revisit current `ptrace.TraceState` API"
- [ ] Move to `pcommon`? Reason to do it is because the ids are already part of the `pcommon` and most likely this will become part of logs and metrics exemplars.
- [ ] Right now is a typedef to string. If we intend to have the type doing parsing, we may look into something like what otel-go has defined for this. We can start by just making this a proper struct and do not expose implicit conversio

[2022-09-05 10:10] yuriolisa commented on #6002
this issue can be closed.

[2022-09-05 12:06] #6002 closed

[2022-09-05 23:27] MovieStoreGuy commented on #5958
@bogdandrutu, with the latest update, we've seen improved and stable memory usage!

Thank you for contributing a fix!

[2022-09-05 23:27] #5958 closed

[2022-09-06 10:38] atingchen opened #6027 "Make the otlpreceiver support to use jsoniter to unmarshal JSON Document."
**Is your feature request related to a problem? Please describe.**

Now Trace  and Metric were converted to use `jsoniter`  to unmarshaler json data, I submit PR [#4986](https://github.com/open-telemetry/opentelemetry-collector/pull/4986) to implement unmarshal Log with `jsoniter`

But the `otlpreceiver` still uses `jsonpb` to unmarshal json data , I think we should make the `otlpreceiver ` suppor

[2022-09-06 13:55] shushenghong opened #6028 "regex_parser: resource cannot be referenced without subfield"
**Describe the bug**
regex_parser: resource cannot be referenced without subfield

**Steps to reproduce**
[code]

**What did you expect to see?**
set resource.service

**What did you see instead?**
regex_parser: resource cannot be referenced without subfield

I have to set `parse_to: resource.xxx`, and the `service` will be a property of `xxx`, and i want the `service` be a property of `resource`

[2022-09-06 16:31] jpkrohling opened #6030 "[builder] Remove setting of the Go executable from Validate()"
Context: https://github.com/open-telemetry/opentelemetry-collector/pull/6026/files#r963914627

The Validate function currently sets the path to the Go executable, when the function's name does not imply this behavior at all.

[2022-09-06 23:35] bogdandrutu commented on #5958
I was about to write to you about checking the latest release, since I made lots of improvements :))

See https://github.com/open-telemetry/opentelemetry-collector-contrib/commits/main/receiver/prometheusreceiver for the list of commits, more are coming also :) so please let me know how the improvements are reflected in your measurements :)

[2022-09-07 03:19] RuoyuDai commented on #4266
Move from internal/sharedcomponent into component/sharedcomponent ?

[2022-09-07 06:12] RuoyuDai commented on #4266
Move from internal/sharedcomponent into component/sharedcomponent ?

[2022-09-07 09:21] rahuldimri commented on #6030
Can I work on this ?

[2022-09-07 12:28] braydonk commented on #5059
Hello! I would like to revive this discussion. We are still interested in finding a solution to this problem, even if it's not what I suggested in the issue. @dmitryax did you happen to come up with anything for this by chance?

From the suggestion above, I like the idea of emitting metrics instead if that's preferable. I also experimented with a zap log core that would guard logs that have alread

[2022-09-07 16:21] stephenhong commented on #5742
Are there any updates to this issue? I'm experiencing something similar where my lambda functions work fine with otel lambda layers (Java, Node.js, Python) but fails to export traces with the Go lambda layer

[2022-09-08 00:53] splunkericl commented on #6020
Closing this ticket as there was a problem in our setup with our exporter causing errors not returned in `pushLogData` and errors not being returned.

[2022-09-08 00:53] #6020 closed

[2022-09-08 17:55] codeboten commented on #6030
@rahuldimri all yours!

[2022-09-09 02:25] bogdandrutu commented on #5988
done

[2022-09-09 02:25] #5988 closed

[2022-09-09 02:29] bogdandrutu commented on #5966
@swiatekm-sumo I thought more also about this, I think we should do the following:

1. Add a setting to our "service.CollectorSettings" for the Collector instance to watch or not for config provider updates. Maybe disabled by default, and allow a flag to set this, since cannot be part of the config itself.
2. Not sure about SIGHUP, but seems to be a standard? Can some more folks confirm that? Also

[2022-09-09 03:41] bogdandrutu commented on #6027
@atingchen thanks for the report. I submitted a fix.

[2022-09-09 16:51] andre-cavalheiro commented on #5360
Hey there, funny enough I am having the exact same problem as you (I am even using fastAPI as well ahahaha).

Could you elaborate a bit more about whether & how you were able to overcome this? I had also arrived at the `metrics.probo` file, but I'm still having a hard time decoding.

I would greatly appreciate any help (Por favor 🙂)

.

[2022-09-09 18:20] bogdandrutu commented on #5998
@dmitryax agreed, for the moment does not seem that important to offer "Insert" like functionality. Let's deprecate, and we should finalize the name for "Upsert" since that confused lots of people (everyone was using "Insert" as default)

[2022-09-09 18:21] bogdandrutu commented on #5859
Things to do in a followup PR:

- [ ] Copying can be done in-place to save allocations.
- [ ] No way of increasing the capacity or length. We can discuss about that API.
- [ ] Add CopyTo/MoveTo and remove the copy logic from the parent's CopyTo.

[2022-09-09 18:41] dmitryax opened #6041 "Replace New[Map|Slice]FromRaw with New[Map|Slice]().FromRaw"
After https://github.com/open-telemetry/opentelemetry-collector/pull/5971 is merged, we need to replace New[Map|Slice]FromRaw to New[Map|Slice] and FromRaw in order to have consistent interface

[2022-09-09 20:40] codeboten commented on #5966
+1 to @bogdandrutu's suggestions. And from the examples stated above, I do believe using SIGHUP is appropriate here. See the following excerpt from the wikipedia entry https://en.wikipedia.org/wiki/Signal_(IPC)#SIGHUP:

[2022-09-10 07:19] jangaraj opened #6046 "batchprocessor: send_batch_max_size_bytes limit"
**Is your feature request related to a problem? Please describe.**
Golang GRPC server has default message limit 4MB. Batch processor can generate bigger message size, so receiver will reject batch and whole batch can be dropped:
[code]

Current batchprocessor config options doesn't provide opportunity to prevent this situation, because they works only with span counts, but not with whole batch siz

[2022-09-11 10:02] LeonD9 commented on #5982
@bogdandrutu
For balancing traffic you mean using headless service?
Regarding rate limiting i would like to be able to throw spans from specific clients that sent above of 1k spans per second for example, is it possible with any current processor?

[2022-09-12 07:55] LeonD9 commented on #5964
@jpkrohling I have 5 collectors and 5 tempo pods, should i increase the amount of pods to avoid imbalance in connections?

[2022-09-12 20:06] jpkrohling commented on #5982
When using gRPC (port 4317), you can use headless services plus client-side load balancing to achieve decent load balancing if you have enough clients. Note that gRPC has a long-lived HTTP connection, so adding more instances won't immediately help unless you have a good churn of clients. I think we added a setting to automatically close connections periodically to alleviate that, but doing more t

[2022-09-12 20:10] jpkrohling commented on #5964
Try having ten clients per backend and see how the connection distributes.

[2022-09-12 23:05] bogdandrutu commented on #5974
This is done, since we removed or deprecate (last one is Insert) all the funcs.

[2022-09-12 23:05] #5974 closed

[2022-09-12 23:07] bogdandrutu commented on #6041
Only to remove deprecate funcs left.

[2022-09-12 23:07] #6041 closed

[2022-09-12 23:57] bogdandrutu commented on #6022
Will have to pick one solution between https://github.com/open-telemetry/opentelemetry-collector/pull/6053 and https://github.com/open-telemetry/opentelemetry-collector/pull/6052

[2022-09-13 00:04] kabhanus007 opened #6054 "Support for updating and merging already running an Opentelemetry Collector"
**General Implementation idea before jumping into feature request**
We have a requirement where we have to implement opentelemetry collector on the managed and unmanaged environment and to keep both environments in sync, we are following opamp spec but with modification. As we have various agents to take care of, our implementation consists of detached client which will work with any type of colle

[2022-09-13 00:10] bogdandrutu commented on #6054
Sorry, it is a bit unclear the "feature request" part of this issue.

If the ask is to support configuration "reloading", we decided for the moment to not support a "hot" reloading, and only allow for restart reloading, shutdown + start with the new configuration. The reason is because the collector configuration is very complex and involves multiple components and will be very hard to reload the

[2022-09-13 00:17] bogdandrutu commented on #5742
@MrAlias any idea?

[2022-09-13 00:24] dmitryax commented on #6022
I think https://github.com/open-telemetry/opentelemetry-collector/pull/6052 is a better option providing extensibility that possibly can be utilized

[2022-09-13 00:57] kabhanus007 commented on #6054
thanks got it.

[2022-09-13 00:57] #6054 closed

[2022-09-13 03:12] dixudx commented on #2758
Exactly. And these errors are non harmful, which can be discarded. open-telemetry/opentelemetry-collector-contrib#7176 did a workaround to mute these spam errors.

[2022-09-13 08:03] mapno commented on #5964
For documenting purposes: related slack thread from a few weeks ago - https://grafana.slack.com/archives/C01D981PEE5/p1661758230030289

[2022-09-13 08:34] LeonD9 commented on #5982
@jpkrohling by setting you mean https://github.com/open-telemetry/opentelemetry-collector/blob/f64389d15f8b4dbddd807a16aabd84a57ce7826b/exporter/otlpexporter/testdata/config.yaml#L21-L24 ?
Is there something similar for HTTP connections?

Also anything regarding the rate limiting?

[2022-09-13 08:35] LeonD9 commented on #5964
By clients you mean collectors? or applications?

[2022-09-13 10:15] andre-cavalheiro commented on #5360
Finally got it to work. Just for anyone that finds this, here is how to do it:

You need to generate the protobuffer's python specific data-model, you can see how to do that here: https://github.com/open-telemetry/opentelemetry-python/tree/main/opentelemetry-proto

If you follow those instructions you'll get a folder with python files in it defining different classes. You'll need to adpat this for

[2022-09-13 11:43] lightme16 opened #6055 "Memory Limiter Processor and Swap space"
## Important (read before submitting)

**Is your feature request related to a problem? Please describe.**

We are using Memory Limiter Processor https://github.com/open-telemetry/opentelemetry-collector/blob/main/processor/memorylimiterprocessor/README.md to control the amount of memory consumed by the application. Our ec2 instance has swap space enabled. Looks like Memory Limiter Processor doesn'

[2022-09-13 13:39] jpkrohling commented on #5964
In the context of collectors talking to Tempo, the collector is a client. In the context of applications talking to collectors, the applications are clients.

[2022-09-13 13:46] LeonD9 commented on #5982
Is there something similar for http connections as well? or is it only for gRPC?

[2022-09-13 13:55] jpkrohling commented on #5982
No, most HTTP connections are not long-lived anyway (or not expected to be), except perhaps for h2 connections under ideal conditions.

[2022-09-13 14:15] BinaryFissionGames opened #6057 "[exporter/logging] Add SeverityNumber to output of logging exporter for logs"
**Is your feature request related to a problem? Please describe.**
When using the logging exporter, I'd like to see the SeverityNumber field in the output; This is the field that is most likely to be used as the severity when exported to a 3rd party log format, so it's useful to know what the SeverityNumber is.

**Describe the solution you'd like**
Add a line to the output of the logging exporter

[2022-09-13 15:51] bogdandrutu commented on #6022
@jpkrohling also vote for the same. So will move forward with that proposal. Will close the alternate PR.

[2022-09-13 15:54] bogdandrutu opened #6058 "Provide a helper API (func/var) to check for empty TraceState after 6052"
See https://github.com/open-telemetry/opentelemetry-collector/pull/6052#discussion_r969583693

[2022-09-13 16:23] dmitryax opened #6059 "Find a better name for Map.Upsert"
In https://github.com/open-telemetry/opentelemetry-collector/issues/5998, we found out that `Map.Insert*` and `Map.Update*` methods are not that useful as we probably initially expected and we decided to go with `Map.Upsert*` that suites all the use cases and can be applied to all the `Value` types consistently. Having `Map.Upsert*` alone doesn't seem like the best name pick, so we should consider

[2022-09-13 16:24] dmitryax commented on #5998
@bogdandrutu Submitted https://github.com/open-telemetry/opentelemetry-collector/issues/6059

[2022-09-13 16:24] #5998 closed

[2022-09-13 18:29] #6022 closed

[2022-09-13 21:22] codeboten commented on #5647
I'm a fan of having consistent tooling across repos to reduce the amount of work needed at release time. This could help with release automation.

That being said you're right that the conflict that chloggen alleviates isn't a problem in this repo. I defer to other maintainers/approvers to go one way or the other here.

[2022-09-13 22:22] bogdandrutu commented on #6059
I think to go well with `Get` and `Remove` we can use the Java/REST API conventions and use `Put`.

[2022-09-13 22:25] bogdandrutu opened #6063 "Provide a way of increasing the capacity and/or length for the slice of primitives"
Work left from https://github.com/open-telemetry/opentelemetry-collector/issues/5859.

[2022-09-13 22:25] #5859 closed

[2022-09-13 23:20] dmitryax commented on #6059
`Put` seems like a pretty good option to me as well

[2022-09-14 08:38] mx-psi opened #6067 "Release v0.60.0"
Like open-telemetry/opentelemetry-collector#4522, but for v0.60.0

**Performed by collector release manager**

- [x] open-telemetry/opentelemetry-collector#6069
- [x] open-telemetry/opentelemetry-collector#6070
- [x] open-telemetry/opentelemetry-collector#6071
- [x] open-telemetry/opentelemetry-collector#6072
- [x] open-telemetry/opentelemetry-collector#6073
- [x] open-telemetry/opentelemetry-coll

[2022-09-14 08:41] devrimdemiroz commented on #5056
Clarification on this would be excellent as we do not observe and presume according to https://github.com/open-telemetry/opentelemetry-collector/issues/5038 that they will appear once such a situation happens.

[2022-09-14 08:47] mx-psi opened #6069 "Prepare core release v0.60.0"

[2022-09-14 09:38] mx-psi opened #6070 "Tag and release core v0.60.0"

[2022-09-14 09:38] mx-psi opened #6071 "Prepare contrib release v0.60.0"

[2022-09-14 09:38] mx-psi opened #6072 "Tag and release contrib v0.60.0"

[2022-09-14 09:38] mx-psi opened #6073 "Prepare otelcol-releases v0.60.0"

[2022-09-14 09:38] mx-psi opened #6074 "Release binaries and container images v0.60.0"

[2022-09-14 11:19] mx-psi opened #6076 "[CI] Builder integration tests fail on release prep"
**Describe the bug**

On PRs that prepare the repo to release a new version, the integration tests for `ocb` fail, since the default configuration file references a tag that is not yet available on the repository.

**Steps to reproduce**

Follow [the release instructions](https://github.com/open-telemetry/opentelemetry-collector/blob/main/docs/release.md). For example, see #6075

**What did you ex

[2022-09-14 11:35] mx-psi commented on #5647
I also think being consistent is important. I don't feel like this complicates much the process of adding a changelog entry, but maybe there is some issue I am not aware of?

[2022-09-14 15:56] jpkrohling opened #6077 "Remove configuration for otelcorecol"
Verify that the default config file matches the one we use for otelcorecol. If so, remove the config from the repository to rely on the default one.

_Originally posted by @bogdandrutu in https://github.com/open-telemetry/opentelemetry-collector/pull/6075#discussion_r970886635_

[2022-09-14 17:00] avishefi opened #6078 "Jaeger exporter marking traces with unknown sampling type"
**Describe the bug**
The OpenTelemetry Collector demo sends OTLP to the collector and from there an exporter is defined to send traces to Jaeger. Spans and traces reach to Jaeger based on debug logs and Jaeger metrics which keep increasing. However, the traces have a sampling type "unknown" in Jaeger which do not appear in the Jaeger query UI.

**What did you expect to see?**
Traces appear in Jaeg

[2022-09-14 17:32] #6069 closed

[2022-09-14 18:02] bogdandrutu commented on #6071
Done.

[2022-09-14 18:02] bogdandrutu commented on #6070
Done.

[2022-09-14 18:02] #6070 closed

[2022-09-14 18:02] bogdandrutu commented on #6071
Sorry, commented on wrong issue, this is not done.

[2022-09-14 18:22] #6059 closed

[2022-09-14 22:05] dmitryax opened #6081 "[pdata] Revisit need of `Val` suffix of `Value` methods"
Currently all the setter and getter methods of `pcommon.Value` end with `Val` suffix, e.g.: `Value.BoolVal`, `Value.SetBoolVal`, `Value.MapVal` etc. The only reason for having the suffix is that otherwise we end up with a `Value.String` method unintentionally implementing `fmt.Stringer` interface.

Potentially we can remove the suffix from all the methods except for `Value.StringVal` where we can

[2022-09-14 23:12] jpeach commented on #6077
The embedded default config for ocb doesn't have the "replaces" directives because in that case ocb could be running from anywhere. When you generate otelcorecol, you want the "replaces" because you know that you are building in a multi-module repo, and you want to use the local modules.

[2022-09-15 00:55] jpeach commented on #6076
This is a tricky one. The problem is that in the release process, the `make prepare-release` step creates the PR that runs the builder integration tests, but only if those pass does the release manager run `make push-tag` to actually create the tags that the default builder config depends on.

If we simply hack in a replaces directive in the default builder config (for the purposes of integration

[2022-09-15 09:48] LeonD9 commented on #5982
@jpkrohling
Regarding rate limiting i would like to be able to throw spans from specific clients that sent above of 1k spans per second for example, is it possible with any current processor?

[2022-09-15 09:49] LeonD9 commented on #5964
Seems to be more related to tempo opened issue there: https://github.com/grafana/tempo/issues/1699, closing this one.

[2022-09-15 09:49] #5964 closed

[2022-09-15 11:59] jpkrohling commented on #5982
No, there's no such processor as of now.

[2022-09-15 13:19] LeonD9 opened #6086 "Metric for span amount created by each application/client"
**Is your feature request related to a problem? Please describe.**
I would like to know how many spans each application/client writes to the collector

**Describe the solution you'd like**
Add metric for spans received from each client/application

**Additional context**
In case of high load on the collector i would like to know which applications are responsible so i will be able to debug it more

[2022-09-15 13:31] jpkrohling commented on #6076
How did this work for 0.59.0?

[2022-09-15 13:36] mx-psi commented on #6076
#5752 was merged just two days ago, it was not on main when releasing 0.59.0

[2022-09-15 13:48] #6071 closed

[2022-09-15 13:50] jpkrohling commented on #6076
But we did have integration tests for the builder back then, and the problem would be similar. We just didn't have a default config file.

[2022-09-15 14:17] bogdandrutu commented on #6076
The other configs are using replace or older versions

[2022-09-15 14:33] jpkrohling commented on #6076
I have to take another look, but I believe the integration tests _should_ only use what we had before, while the new default config should be similar in test surface to what we had before.

[2022-09-15 15:02] #6073 closed

[2022-09-15 15:11] mx-psi commented on #6074
Tag has been pushed, binaries are in the oven!

[2022-09-15 15:48] bogdandrutu commented on #6081
Another option is to call `GetString`?

[2022-09-15 16:24] #6074 closed

[2022-09-15 16:24] bogdandrutu opened #6091 "Update the opentelemetry-collector helm chart to use v0.60.0 docker image"

[2022-09-15 17:46] dmitryax commented on #6081
`Get` prefix goes against go naming recommendations, but I still like it more than other options.

If we ignore `fmt.Stringer`, `Value` of any types other than string will be printed as `""`, so for me it's the least desirable option

[2022-09-15 18:19] dmitryax commented on #6081
I also like `Get` because it's getting more explicit that you can get anything from `Value` and in most cases it's a zero/invalid result.

[2022-09-15 20:38] bogdandrutu commented on #6081
Yes, if we go with `GetX`, we should not panic if not correct type, and return zero initialized value.

[2022-09-15 20:47] bogdandrutu commented on #5992
Here is a first take on this:

* `pdata`
* `confmap`
* `consumer`, I think current `client` should be merged into the `consumer`. Since the `client` information (the info that we add about connection/request) is consumed by the Consumers (Processor/Exporter are all consumers).
* `component`. One question is if we want to have this package OR move everything into `go.opentelemetry.io/collector/CMP`

[2022-09-15 20:54] dmitryax commented on #6081
This is what we are doing now, it's all zero values, which also means invalid values for complex types like Map and Slice.

[2022-09-15 23:06] jpeach commented on #6076
As part of https://github.com/open-telemetry/opentelemetry-collector/pull/5752, I added a new integration test case to verify the default config. Since that PR was always rebased onto the latest main, the release tags were always present upstream and the test always passed. I don't know of a reasonable way to not run this test in the special case of the release process, but that could be an option

[2022-09-16 00:20] #6063 closed

[2022-09-16 13:13] jpkrohling commented on #6076
I would replace that with regular unit tests, ensuring a config file can be generated. Whether a properly generated/crafted config file can be used to boot a collector is covered with the existing integration tests, which used to work during the releases (I believe).

The builder should generate a collector with the same version that was available when the builder was released (which is the same v

[2022-09-16 13:18] jpkrohling commented on #5992
Thanks for this list! I'll start working on this once we have a go.work for this repo.

[2022-09-16 15:31] #6067 closed

[2022-09-16 15:32] bryan-aguilar commented on #5991
I created an [issue](https://github.com/open-telemetry/opentelemetry-go-build-tools/issues/140) against `go-build-tools` about adding workspace support to crosslink.

[2022-09-16 16:25] codeboten commented on #5991
@jpkrohling here's what i've done so far in my pr https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/10904:

- created a workspace: `go work init`
- added all the components: `go work use -r .`
- removed all replace statements
- synced workspace & modules: `go work sync`

One thing I've noticed is that the `go.sum` files for many modules now include lines for components within

[2022-09-16 16:40] dmitryax opened #6106 "[pdata] Revisit primitive slice length mutation API"
Following the discussion in https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/issues/479 is seems like `EnsureCapacity` + `Append` maybe not that intuitive to use when we have `SetAt` interface. Other slices don't have `SetAt`, so it maybe unnecessary to provide the same API for length mutation as they have, and we can introduce different API to update slice length. `SetLen` still

[2022-09-16 16:43] dmitryax commented on #6106
Here is the commit with `SetLen` implementation for the reference https://github.com/open-telemetry/opentelemetry-collector/commit/965858eb3972b9588e82766a428fd61b3a2e0656

[2022-09-16 16:55] dashpole commented on #6106
I think there is a difference between `EnsureCapacity` + `Append` vs `SetLen` + `SetAt` if we need to not add an item, right?  It seems better to encourage EnsureCapacity + Append so there aren't empty elements in the list?

e.g.
[code]

[2022-09-16 17:25] dmitryax commented on #6106
@dashpole this is a good example for append when we fill the slice from another slice. But if we want to filter the pdata slice in place we cannot do it without `SetLen` or another allocation. I'm not sure if that's a very popular use case. Maybe we can have both `SetLen` and `EnsureCapacity/Append`

[2022-09-16 17:36] bogdandrutu commented on #6106
@dmitryax I think we should do this (from the linked issue):

[2022-09-16 17:44] bogdandrutu commented on #5991
Some other question:
1. How do we do a release? We need to depend on an unreleased version, and seems that because there is a need to add the sum entry, that is not possible. Can you check the "prepare" PR with workspaces?

[2022-09-16 18:18] jpkrohling commented on #5991
Thanks, @codeboten. That's almost verbatim what I did as well, including the manual test to validate that changes in one module are visible in another.

I'll check dependabot, and I have not found any evidence that `go mod tidy` wouldn't work or would do unexpected things: when workspaces are active, the module resolution uses the workspace as the main context, so `go mod` commands will just use i

[2022-09-16 18:41] #6057 closed

[2022-09-16 19:30] dmitryax commented on #6081
There are 3 different parts of the related pdata API that we need to consider additionally in this issue.

1. `pcommon.Value` (https://github.com/open-telemetry/opentelemetry-collector/blob/main/pdata/pcommon/common.go#L70-L321) which this issue is submitted for initially.  It's a wrapper over a proto oneof message called `Value`. All getters/setters methods have `Val` suffix just to avoid impleme

[2022-09-16 19:57] TylerHelmuth commented on #6081
@dmitryax in **Approach C** you have `func (ms Metric) GetGauge() Gauge` but also `func (ms Metric) Sum() Sum`.  For gauge, did you mean `func (ms Metric) Gauge() Gauge`?

[2022-09-16 20:10] codeboten commented on #5991
Based on what I'm reading [here](https://go.dev/doc/tutorial/workspaces#future-step), it seems that in order for us to make use of go workspaces, we would have to release any modules that have dependencies before being able to update the dependencies themselves to that version. If so this seems like it will complicate the process quite a bit.

[2022-09-16 20:48] yurishkuro commented on #816
@bogdandrutu https://github.com/open-telemetry/opentelemetry-go/issues/2204 is about OpenCensus bridge, why is it a concern? I think the path would be to rewrite instrumentation to natively talk to OTEL-Go API, not to continue going through OC API.

[2022-09-16 21:29] jpkrohling commented on #5991
I ran a few experiments, and here's what I have to share at this point:

- the page @codeboten linked is exactly what I had in mind. I decided to create a script to demonstrate what it would take for us to properly release following those instructions: https://github.com/jpkrohling/collector-workspaces/blob/main/scripts/release.sh . We certainly would need some automation for that, as the inter-de

[2022-09-16 21:49] codeboten commented on #5991
I'm at the same point in the contrib repo. Until we decide to automate the release of individual components (if we decide to do so), there seems to be very little to gain from workspaces if we end up having to use these replace statements anyways.

[2022-09-17 22:13] sweetxiaodai opened #6110 "How to capture the system metrics like CPU, memory usage via opentelemetry operator?"
## Important (read before submitting)
We are currently preparing for the upcoming 1.0 GA release. Feature requests that are not aligned with
the current roadmap https://github.com/open-telemetry/opentelemetry-collector/blob/main/docs/roadmap.md
and are not aimed at stabilizing and preparing the Collector for the release will not be prioritized.

_Delete this paragraph before submitting._

**Is you

[2022-09-18 01:43] bogdandrutu commented on #6081
Having the Value in the name suggest that this is a Double entry inside a oneof named Value. But that does not help with conflicts, I would double check but I believe you cannot have another member called Double outside the oneof in the same message, because moving out and inside a oneof is a no op on the wire.

[2022-09-18 17:32] dmitryax commented on #6081
Generally, I'm leaning towards Approach B. But still not sure if we need to bring `Get` to use cases 2 and 3, maybe we can leave `Get` only for 1.

If we go with Approach B, I'd like to make sure that it's ok to think about NumberDataPoint/Exemplar _as a value_ itself because it's not only about possible conflicts, it may be that `[Get|Set][Double|Int]` name just doesn't provide enough context to

[2022-09-19 14:20] swiatekm-sumo commented on #5966
Technically it can, as we read the config normally before starting the main collector loop, unless I'm misunderstanding something. Command-line switch is probably the better choice in general though.

I can try to add this if we have agreement on the mechanism.

Do we need this to be configurable? I can't think of any circumstance where you'd need to disable it. There's no reason to send this sign

[2022-09-19 16:53] bogdandrutu commented on #6081
## Bogdan's summary

### Rules

1. All the following rules refer to `${OneofName}` as the "oneof" group name. It is used to avoid conflicts and to better understand that the type/getter/setter refers to a value within that group. When the oneof group values refer to the message itself, the `${OneofName}` should be skipped to avoid duplicate words (e.g. `type ValueValueType int32`).
2. A type enum

[2022-09-19 18:00] bogdandrutu commented on #6081
Personally, I am not convinced about the `Get`, but we have lots of other things to do for `pmetric.Metric` and `pmetric.NumberDataPoint` so we can start with these, and keep thinking for 1-2 days on the Get or other alternative for that.

[2022-09-20 02:07] #6110 closed

[2022-09-20 08:03] swiatekm-sumo commented on #5966
Cool, in that case we have an implementation ready in #6000. CC @portertech

[2022-09-21 00:15] bogdandrutu commented on #5966
@swiatekm-sumo I think that is just the initial part. There are more to clarify, e.g. what is the behavior/interaction with watchers?

1. Do we reload if no watcher triggered before? Assuming all the configs have proper watching implement and we know nothing change do we do load and check with previous config?
2. Do we reload even if new loaded config == old loaded config?
3. If watching enable do

[2022-09-21 13:55] swiatekm-sumo commented on #5966
I'd just go with the naive solution for now - we reload on every reload event (be it from a watcher or a signal). If we get an event during a reload, we finish the reload and then reload again. And we don't care if the config actually changed or not.

We could try to be clever about it and implement some kind of throttling, but that seems like premature optimization to me. Ultimately all of these

[2022-09-21 16:29] tigrannajaryan commented on #5059
Discussed this in the SIG meeting today. We think that it would be useful to have something like what @jmacd described. This probably requires a short design doc. If anybody is willing to work on this the maintainers will be happy to review the design.

[2022-09-21 16:51] djaglowski commented on #5059
I agree with the notion that this should be a concern for the collector as a whole. From that perspective, what we are talking about here is configuration of the collector's own telemetry.

The collector config already contains a [dedicated section](https://github.com/open-telemetry/opentelemetry-collector/blob/d9a847e90c4f88878494aa697d91d65258673522/service/telemetry/config.go#L39) for configuri

[2022-09-21 17:02] williambrode opened #6135 "go get go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetricgrpc@v0.32.0 fails"
**Describe the bug**
Go get on this module is giving me an error:
go get go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetricgrpc
go: go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetricgrpc@v0.32.0 requires
        go.opentelemetry.io/otel/exporters/otlp/otlpmetric@v0.32.0 requires
        go.opentelemetry.io/otel/sdk@v0.0.0-00010101000000-000000000000: invalid version: unknown

[2022-09-21 17:47] jlegoff opened #6136 "Add service.name resource attribute to the collector's own telemetry"
**Is your feature request related to a problem? Please describe.**

The opam spec [states](https://github.com/open-telemetry/opamp-spec/blob/main/specification.md#agentdescriptionidentifying_attributes) that an agent should have the following identifying attributes:
* service.name
* service.namespace
* service.version
* service.instance.id
* any other attributes that are necessary for uniquely ide

[2022-09-21 21:09] tigrannajaryan commented on #6136
This is partially correct. Collector does include `service.version` and `service.instance.id` already. `service.name` is indeed missing and based on today's SIG discussion should be added.

Collector also allows to specify arbitrary attributes to include in its own telemetry using `resource` key under the `telemetry` key of the config. This allows the user to define `service.namespace` and any oth

[2022-09-22 08:09] klagupl opened #6137 "[Proposal] Aws ssm config provider"
**Is your feature request related to a problem? Please describe.**
We have many lambdas running on aws that use the opentelemtry extension. With this solution we could centralize storage of the configs. Also it would be more secure.

**Describe the solution you'd like**
Create  a new config provider that will retrieve the otel collector config from aws parameter store.
The schema would be like thi

[2022-09-23 02:29] bogdandrutu commented on #6137
I agree with the request, though I don't want to have all providers in core, let's think how we can have this in contrib and available as part of our contrib distribution?

[2022-09-23 06:36] klagupl commented on #6137
You're right, it should be in contrib.
Should i move this request to contrib repo then?

[2022-09-23 14:16] sliat3pm opened #6142 "Add capability to specify full exporter endpoint"
### Description

I'd like to use Google Cloud Trace as an `exporter`. But its endpoint has the following structure:
`https://cloudtrace.googleapis.com/v1/projects/{projectId}/traces`
As you can see `/v1` and `/traces` are separated by `/projects/{projectId}`

At the same time, the current otc way of configuring allows specifying only the base URL (`https://cloudtrace.googleapis.com`). And `/v1/tra

[2022-09-23 14:41] bogdandrutu commented on #6142
I am confused, `https://cloudtrace.googleapis.com/v1/projects/{projectId}/traces` I think this endpoint does not support OTLP, and has it's own resource path definition very established in Google APIs.

Which specific exporter are you trying to use?

[2022-09-23 14:53] dashpole commented on #6142
Google cloud trace doesn't support OTLP today.  Are you trying to send Google Cloud Trace-formatted spans somewhere else?  Or what are you trying to do?

This probably should also be moved to contrib.

[2022-09-23 15:03] sliat3pm commented on #6142
I am trying to send traces from opentelementry-collector to Google Cloud Trace. Is it possible?

[2022-09-23 15:23] dashpole commented on #6142
Yes, please use the `googlecloud` exporter in the contrib distribution. https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/googlecloudexporter#google-cloud-exporter.  There is an example configuration there to get you started.

[2022-09-23 15:37] sliat3pm commented on #6142
Somehow I missed it. Thanks a lot. I believe we can close the issue.

[2022-09-23 15:41] unqork-eddie opened #6144 "Support for Events"
**Describe the solution you'd like**

APM tools like [DataDog](https://docs.datadoghq.com/events/) and [New Relic](https://docs.newrelic.com/docs/data-apis/understand-data/new-relic-data-types/#event-data) support a fourth telemetry data type - events. Adding support to ingest/process/export events would be huge.

**Describe alternatives you've considered**

This might be attainable by treating in

[2022-09-23 16:21] #6142 closed

[2022-09-23 22:22] tsloughter opened #6145 "Setting InstrumentationScope when exporting OTLP from another format"
This feature/issue is related to the spec issue https://github.com/open-telemetry/opentelemetry-specification/issues/2833 but in the case of the collector this applies to all Signals.

When spans, metrics and logs come into the collector from sources that don't have InstrumentationScope how are the export protos constructed to export over OTLP? A blank or empty Scope?

[2022-09-25 17:46] bogdandrutu commented on #6145
This is what we do right now. Do you have a proposal on what to do?

[2022-09-25 18:12] tsloughter commented on #6145
I don't. @tigrannajaryan asked me to open this on the collector when I asked about what we do for logs in the SDK.

But which do you do in the collector, empty name/version or no scope? The former I guess would group together while the latter wouldn't necessarily mean they are grouped together.

[2022-09-25 20:25] bogdandrutu commented on #6145
In the collector we do not distinguish between empty name/version and no scope. Based on the proto definition https://github.com/open-telemetry/opentelemetry-proto/blob/main/opentelemetry/proto/trace/v1/trace.proto#L66 they are equivalent.

[2022-09-25 21:46] tsloughter commented on #6145
Ok, maybe this isn't an issue in the collector (or the log spec as I take it it should also just be unset, but should still be mentioned in the spec). I'll wait to hear from Tigran if this can be closed and will open a PR for the log spec tomorrow to propose an addition to the log spec making it clear an empty scope should be used for those logs with no scope.

[2022-09-26 01:42] fatsheep9146 commented on #5687
I think this bug is due to this #3816, #2204

In #3816, @kirbyquerby has started trying to export internal metrics via OpenTelemetry, and made an excellent first step:
- adding MeterProvider with prometheus exporter to `service.telemetryInitializer`.

But there still exists several works waiting to be done. All internal metrics are still instrumented with OC(OpenCensus) not OTEL(OpenTelemetry). So

[2022-09-26 05:00] fatsheep9146 commented on #816
@yurishkuro

Since @dashpole provided a mature propose  that the metrics migration would use OpenCensus bridge for OpenTelemetry, like trace.
https://github.com/open-telemetry/opentelemetry-collector/pull/3816#pullrequestreview-733106917

But this propose is blocked by issue #2204, the prometheus exporter does not satisfy the requirement for OpenCensus metric bridge for OpenTelemetry, which is des

[2022-09-26 13:53] adamkubon opened #6149 "Debug option for opentelemetry builder"
**Is your feature request related to a problem? Please describe.**
We want have option to debug working `opentelemetry-collector` instance.

**Describe the solution you'd like**
An option to enable it in the `opentelemetry-collector/cmd/builder` configuration.

**Describe alternatives you've considered**
N/A

**Additional context**
We often have to build our own `opentelemetry-collector` binary wi

[2022-09-26 17:03] tigrannajaryan commented on #6145
@bogdandrutu I don't remember if we discussed this in the past. I was wondering if we want to have some explicit guidance about this in the Collector? Do we think that empty/no scope is the right approach for all Collector receivers except otlp?

[2022-09-26 17:15] dmitryax commented on #6081
@bogdandrutu thanks for taking care of the issues discovered above.

The only thing left is to decide if we go with the `Get` prefix as an exception for `Value` to avoid implementing `fmt.Stringer`.

My vote is that we shouldn't implement it unintentionally. But at the same time, I don't like that we add `Get` prefix to all the `Value` getters. It doesn't highlight the intention to avoid having `S

[2022-09-26 18:47] tigrannajaryan commented on #6136
Some findings for posterity: I have been testing how Collector generates its own metrics using prometheusreceiver to collect them and was surprised to discover that `service.name` was included as Resource attributes on the collected metrics. I was surprised since I didn't expect this. However, after some digging I found that prometheusreceiver sets the `service.name` [equal to the configured job n

[2022-09-26 19:43] mx-psi opened #6151 "[receiver/otlp] CWE-1327 in OTLP receiver"
### Introduction

Recently there was a CVE on the Go runtime (CVE-2022-27664) that could be leveraged to cause a denial of service on applications built with affected runtimes through a faulty HTTP/2 connection. We addressed this CVE on the official binaries by bumping the Go version (see open-telemetry/opentelemetry-collector-releases/pull/198).

This CVE impacted in particular the OTLP receiver.

[2022-09-26 22:31] #6106 closed

[2022-09-26 22:43] bogdandrutu commented on #6081
I don't dislike `Str` option.

[2022-09-26 22:50] TylerHelmuth commented on #6081
I like Str.  would the final API look like:

[code]

[2022-09-26 22:53] dmitryax commented on #6081
@TylerHelmuth , no we won't have `Get` prefix for Value getters in that case. It'll be:

[code]

[2022-09-26 23:01] TylerHelmuth commented on #6081
@dmitryax sorry, meant to remove all the Gets. That's what I get for multitasking.

[2022-09-26 23:05] dmitryax commented on #6081
Ok looks like we have an agreement here. Updated https://github.com/open-telemetry/opentelemetry-collector/pull/6099 accordingly

[2022-09-27 01:08] #6081 closed

[2022-09-27 01:09] bogdandrutu commented on #6145
I think we should have something, maybe similar to what metrics decides to do for the MetricProducer case as well. @dashpole any insight here?

[2022-09-27 02:00] bogdandrutu opened #6154 "Inconsistent Clone vs CopyTo usage"
Proposal to replace the `[Metrics|Logs|Traces].Clone` methods with `[Metrics|Logs|Traces].CopyTo`.

[2022-09-27 02:07] bogdandrutu opened #6155 "Do we need MoveAndAppendTo or can we replaces with simpler MoveTo for consistency?"

[2022-09-27 02:14] bogdandrutu opened #6156 "Should [pmetric|ptraces|plogs]otlp.[Client|Server] be renamed to GrpcClient|GrpcServer?"
Initially I think we had "grpc" inside the name of the package, but we found that Request/Response are generic for HTTP as well, so renamed that with `otlp` prefix. Because of this, to not confuse that Client is http or grpc (same for Server) should we add `Grpc` in the name?

[2022-09-27 13:02] tigrannajaryan opened #6158 "Persist service instance ID when Collector is restarted"
When the Collector is restarted (e.g. due to Config watch firing) we re-create the Telemetry and [generate a new service instance ID](https://github.com/open-telemetry/opentelemetry-collector/blob/e98116922cf6c079c246fa78eef59dfd9c2e4867/service/telemetry.go#L131).

This is not very desirable. It would be better if the service instance ID remained the same during restarts. It helps to ensure that

[2022-09-27 13:28] jpkrohling commented on #5991
I think this was worth the experiment, but it's clear by now that we aren't gaining much from using go workspaces.

[2022-09-27 13:29] jpkrohling commented on #5992
Now that we have a decision about go work, I'll start the split of this into their own modules.

[2022-09-27 14:27] jpkrohling commented on #6156
It does make sense to me to have Grpc in the name.

[2022-09-27 14:30] jpkrohling commented on #6144
This would probably be a better issue for the spec repository: https://github.com/open-telemetry/opentelemetry-specification/tree/main/specification .

Take a look at the issues there (open and closed), I'm confident that there is or was a discussion about this already.

[2022-09-27 14:30] #6144 closed

[2022-09-27 14:32] unqork-eddie commented on #6144
Thanks @jpkrohling!

[2022-09-27 14:33] jpkrohling commented on #816
We discussed this a couple of SIG calls ago, and @jaronoff97 was set to check what's our current state by working on a couple of components first and reporting back.

[2022-09-27 14:47] jpkrohling commented on #6151
We could argue that this is our intention and that having a less-secure option should be considered a bug, justifying the break in backward compatibility. We should still follow the deprecation process, letting users know the new default will kick in soon.

[2022-09-27 14:59] jaronoff97 commented on #816
@jpkrohling Our team is currently looking in to this. @paivagustavo has been working on what a migration may look like and has already confirmed that we can provide the same prometheus metrics (and histogram buckets) with the latest Go SDK release. I'll let Gustavo provide some more details.

[2022-09-27 15:41] MrAlias commented on #5742
Hmm, I'm not 100% sure what the issue is here.

The authentication issue seems relevant. I'm guessing either the network connection is being setup without TLS but the server expects this, or the Lightstep authentication token is somehow blocking the connection.

@MadVikingGod  thoughts?

[2022-09-27 17:08] #6076 closed

[2022-09-27 17:37] Aneurysm9 commented on #6151
What would the mechanics of following the deprecation process look like here?  Start with warnings and then make the change?  Would this be a situation where a feature gate for the changed behavior is appropriate?  That would allow us to warn and let users start to opt-in for testing in release `N`, change the default behavior in `N+1` or `N+2` while still allowing users to opt-out and get the old

[2022-09-27 18:01] itaybaror commented on #5742
@bogdandrutu definitely not an issue with the backend, tried with multiple. Also same configuration file works in python lambdas.

[2022-09-27 18:28] dmitryax commented on #6155
`MoveTo` always replaces the destination, but `MoveAndAppendTo` appends new elements. I think we should have distinctive names for those purposes, maybe not to verbose?

[2022-09-27 18:32] amdprophet opened #6161 "Add support for config validation to confmap providers"
**Is your feature request related to a problem? Please describe.**
I've been working on an OpAmp confmap provider which:
1. Checks local cache for config.
2. Connects to OpAmp.
3. Creates a goroutine to listen for config updates. If a config is received, it is persisted to the local cache and a restart is triggered via the watcher.
4. If a config was found in the local cache, return it as a confma

[2022-09-27 18:43] woshifudayun opened #6162 "exporter failed to send metrics sparse data issue"
**Describe the bug**
For `otelcol_exporter_send_failed_spans` and `otelcol_exporter_send_failed_metric_points`, they are only reported when failure happens (refer to code [here](https://github.com/open-telemetry/opentelemetry-collector/blob/f6d15f69e3fc3886f541cbf042d6ccd44dcffc60/obsreport/obsreport_exporter.go#L106-L116)). This is causing sparse data issue for monitoring. We do set monitors agai

[2022-09-27 18:58] bogdandrutu commented on #6155
But do we need the one with the Append functionality at this point?

[2022-09-27 18:59] jack-berg commented on #6136
I don't think it makes sense to use a constant `service.name` in the collector. Perhaps a constant can be used as a fallback, but ultimately I think its a user concern to assign a logical name to the collector as they see fit. Perhaps a new property can be added to the collector YAML config?

It seems like the desire to use a constant manifests from opamp's usage of `service.name` as an agent type

[2022-09-27 19:07] dashpole commented on #6145
IMO receivers should set scope if they define the telemetry (e.g. hostmetrics receiver).  If they don't, they can try and find a similar notion of scope for the telemetry they receive and use that. Otherwise, they should leave scope empty.

If scope just means "something that touched telemetry" as part of an ingestion pipeline, I don't think it is as meaningful or useful

[2022-09-27 19:14] dmitryax commented on #6155
You mean `AppendEmpty`? It cannot be replaces with a one-liner. User would have to iterate over the source slice with `At(i).CopyTo(dest.AppendEmpty())`

[2022-09-27 19:28] bogdandrutu commented on #6155
Look at these PRs:
* https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14546
* https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14547
* https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14548
* https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14549
* https://github.com/open-telemetry/opentelemetry-collector-contr

[2022-09-27 19:41] tigrannajaryan commented on #6136
Yes, that's what [the PR](https://github.com/open-telemetry/opentelemetry-collector/pull/6152) does. We define a default is which can be overridden by the end user using the config file.

[2022-09-27 19:47] dmitryax commented on #6155
Sound good. I believe, if we confirm that `MoveAndAppendTo` is redundant in contrib, we can remove it

[2022-09-27 20:24] Aneurysm9 commented on #6161
I'm not sure it is possible for an individual confmap provider to validate the configuration it provides.  It is possible that a configuration is only valid once multiple sources are merged together as each provides a part of the whole.  If any sort of last-known-good configuration caching should take place it probably belongs in the service where the complete configuration is available.

[2022-09-27 20:24] tigrannajaryan commented on #6161
There is a fundamental limitation in the Collector that prevents implementation of validation in a robust manner: the components may fail asynchronously due to bad config after the component parses and accepts the config, the Start() of the component returns true and Service's start sequence is complete and all is running seemingly well.

Due to this limitation it is impossible to perform a valida

[2022-09-27 20:31] tigrannajaryan commented on #6161
So perhaps something like this can be added to Provider interface:

[code]

[2022-09-27 22:50] dmitryax commented on #6156
Good catch. I agree

[2022-09-28 05:49] #6154 closed

[2022-09-28 06:12] #6156 closed

[2022-09-28 07:13] jmacd opened #6166 "Feedback on `pdata` for OTLP+Arrow as described in OTEP 171"
This issue relates to the project described in https://github.com/open-telemetry/oteps/pull/171.

## Primary feedback

(Probably a lot of this is known and/or you've heard before! Apologies if this is repetitive.)

1. The new code is definitely more readable
2. The new code is forced to copy and allocate more often than I would like
3. Semantics of `pcommon.Map` make it difficult to de-duplicate
4

[2022-09-28 09:38] MovieStoreGuy opened #6167 "Feature Gate to include issue and removal date"
**Is your feature request related to a problem? Please describe.**
Trying to read through feature flags and understand the context around them can be problematic at the best of times, let alone any user that just wants to set and forget.

**Describe the solution you'd like**
Feature gates to be extended to include `Issue`, and either `RemovalVersion` or `RemovalDate`.
This would allow operators th

[2022-09-28 15:34] codeboten opened #6168 "Release v0.61.0"
Like #4522, but for v0.61.0

**Performed by collector release manager**

- [x] #6175
- [x] #6176
- [x] #6177
- [x] #6180
- [x] #6181
- [x] #6183

**Performed by operator maintainers**

- [x] https://github.com/open-telemetry/opentelemetry-operator/issues/1130

**Performed by helm chart maintainers**

- [x] #6203

[2022-09-28 16:05] portertech commented on #6161
@tigrannajaryan how would a particular provider know its "at fault" when the effective config is the result of more than one provider?

[2022-09-28 16:38] codeboten commented on #6151
As a starting point, let's warn to tell users they should configure an endpoint. This warning should link to a security best practices section in our documentation to allow them to act on it.

[2022-09-28 17:06] jmacd commented on #6166
This was discussed in the 9/28 Collector SIG. The Collector and `pdata` maintainers were receptive of this feedback.

For the questions about "infectiousness", the position is "we will see". As pdata APIs mature we expect better coordination between the OTel-Go SDK and the OTel Collector. Eventually we should have one compiled copy of the protocol and we should have an easier time integrating libr

[2022-09-28 17:12] jmacd opened #6169 "Make pdata access to Map values consistent; support de-duplication in place"
**Is your feature request related to a problem? Please describe.**

Noticed while investigating that `pcommon.Map` has an inconsitent approach to duplicate attribute values. The `Get()` method will return a different result than the `ToRaw()`. In both cases, I am forced to copy the Map in order to remove duplicate keys. It would be nice to have a stable-sort followed by a consistent selection.

I

[2022-09-28 17:12] jmacd commented on #6166
Follow-on issue: https://github.com/open-telemetry/opentelemetry-collector/issues/6169

[2022-09-28 17:18] bogdandrutu commented on #6166
Unfortunately I had an emergency and could not join the call.

We already do this, so there is no way for us to go easy to from compiled protos. This is a decision we made long time ago by having this package (e.g. we have hand written messages for trace/span id, soon will have for the `AnyValue`). So the answer to this is, no we will not have a easy way to work with compiled protos, but we have a

[2022-09-28 17:23] bogdandrutu commented on #6169
See https://github.com/open-telemetry/opentelemetry-collector/issues/6166#issuecomment-1261220280

How did you manage to construct a map that does not have unique keys? The operations that we expose on the `pcommon.Map` will not allow you to get to that, only if you receive from the wire, where we made the deliberate decision to not check for duplicates, maybe we can add a property on the Marshale

[2022-09-28 17:27] jmacd commented on #6166
It's not the copy, it's the allocation. If I've got `[]byte` with len()=16 I'm going to have to allocate a new `[16]byte`. If I could imagine an unsafe interface here, the `pcommon.TraceID` would store `[]byte` and return the copy, then it's the reader's decision to allocate instead of the writer's.

I agree with the decision, actually. I'm afraid of inconsistency in the conversion to-and-from Arr

[2022-09-28 17:39] bogdandrutu commented on #6166
99.99% I believe that the [16]byte is actually stack allocated (and not heap allocated). You pass this to "SetTraceID" where we copy in an already allocated spot in the parent object (without allocation), hence it will not escape the scope of the function that calls `SetTraceID` and will be on the stack.

See also https://medium.com/@yulang.chu/go-stack-or-heap-2-slices-which-keep-in-stack-have-li

[2022-09-28 17:49] jmacd commented on #6166
I get it, now. Because your protobuf object includes a [16]byte there is no allocation. The copy is not a concern. Thanks.

[2022-09-28 19:01] kchow1985 opened #6172 "OTLP export spam exception stack trace on console when endpoint is unavailable"
**Describe the bug**
When a python app is auto instrumented with `opentelementry-instrument`, if the exporter endpoint becomes unavailable then it will continuously spam the following messages even after the endpoint becomes available again (i.e. sidecar collector is back up and running)

[code]

Looking at the code, the call on `_export` line 299 for the `exporter/otlp/exporter.py` file invokes `

[2022-09-28 19:16] kchow1985 commented on #6172
Currently I have to revert `backoff` library to v1.11.1 to fix this issue.

[2022-09-28 19:19] kchow1985 commented on #6172
Realize this is not the right repo to post this but the python contrib one

[2022-09-28 19:19] #6172 closed

[2022-09-28 19:36] tigrannajaryan commented on #6161
It won't if we go with my proposal. However, why does the Provider need to know who in particular is at fault?

[2022-09-28 19:43] tigrannajaryan commented on #6161
Conceptually this sounds right but in practice it may be hard to do this within the existing configuration framework.

We delegated all responsibility to read config files and deal with the filesystem to fileprovider. The Service currently knows nothing about the filesystem. We would need to make Service aware of the filesystem, which is a problem because that awareness itself requires some sort o

[2022-09-28 20:12] codeboten opened #6175 "Prepare core release v0.61.0"

[2022-09-28 20:12] #6175 closed

[2022-09-28 20:12] codeboten opened #6176 "Tag and release core v0.61.0"

[2022-09-28 20:18] codeboten commented on #6176
Done https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.61.0

[2022-09-28 20:18] #6176 closed

[2022-09-28 20:18] codeboten opened #6177 "Prepare contrib release v0.61.0"

[2022-09-28 22:35] #6177 closed

[2022-09-28 22:36] codeboten opened #6180 "Tag and release contrib v0.61.0"

[2022-09-28 22:52] codeboten opened #6181 "Prepare otelcol-releases v0.61.0"

[2022-09-29 00:23] #6180 closed

[2022-09-29 02:46] #6181 closed

[2022-09-29 02:47] codeboten opened #6183 "Release binaries and container images v0.61.0"

[2022-09-29 02:48] codeboten commented on #6183
Tag has been pushed, action underway https://github.com/open-telemetry/opentelemetry-collector-releases/actions/runs/3148306703

[2022-09-29 05:39] codeboten commented on #6183
https://github.com/open-telemetry/opentelemetry-collector-releases/releases/tag/v0.61.0

[2022-09-29 05:39] #6183 closed

[2022-09-29 14:25] jpkrohling opened #6184 "Split `pdata` into its own module"

[2022-09-29 14:25] jpkrohling opened #6185 "Split `confmap` into its own module"

[2022-09-29 14:26] jpkrohling opened #6186 "Split `consumer` into its own module"
From @bogdandrutu:

I'm not sure I agree 100% with this yet, but will have a thought at a later point and address in a follow-up PR

[2022-09-29 14:27] jpkrohling opened #6187 "Split `component` into its own module"
From @bogdandrutu:

[2022-09-29 14:28] jpkrohling opened #6188 "`processor/*` in each individual package. The `processorhelper` may be embedded into `component` maybe? Otherwise maybe a better name?"

[2022-09-29 14:29] jpkrohling opened #6189 "Split each `exporter/*` on its own module"
From @bogdandrutu:

- [x] #6194
- [x] #6195
- [x] #6196

[2022-09-29 14:29] jpkrohling opened #6190 "Split each `receiver/*` on its own module"
From @bogdandrutu:

[2022-09-29 14:29] jpkrohling opened #6191 "Split each `extension/*` on its own module"
- [ ] #6197
- [ ] #6198

[2022-09-29 14:33] jpkrohling opened #6192 "Split `batchprocessor` on its own module"

[2022-09-29 14:33] jpkrohling opened #6193 "Split `memorylimiterprocessor` on its own module"

[2022-09-29 14:34] jpkrohling opened #6194 "loggingexporter"

[2022-09-29 14:34] jpkrohling opened #6195 "Split `otlpexporter` on its own module"

[2022-09-29 14:34] jpkrohling opened #6196 "Split `otlphttpexporter` on its own module"

[2022-09-29 14:36] jpkrohling opened #6197 "Split `ballastextension` on its own module"

[2022-09-29 14:36] jpkrohling opened #6198 "Split `zpagesextension` on its own module"

[2022-09-29 14:51] jpkrohling commented on #6184
This is already the case: https://github.com/open-telemetry/opentelemetry-collector/tree/main/pdata

[2022-09-29 14:52] #6184 closed

[2022-09-29 15:13] bogdandrutu opened #6200 "Name of the ptrace.StatusCode should be ptrace.SpanStatusCode?"
Don't remember if we discussed this, but if we did and agreed on that name document the rational in an issue or code comment.

[2022-09-29 15:34] bogdandrutu opened #6201 "Should pcommon. NewValueString be NewValueStr?"

[2022-09-29 16:01] jmacd commented on #6169
I am willing to ensure that OTLP+Arrow properly propagates `pcommon.Map` a.k.a. `[]*KeyValue` that contain duplicates if necessary. In that case, I still require the call to `StableSort` but I would leave in duplicates. I am preparing for the worst case-- I just want to be sure that data round-trips and de-duplicating feels simpler than handling duplicates.

[2022-09-29 17:10] codeboten opened #6202 "Release the operator v0.61.0"

[2022-09-29 17:10] codeboten opened #6203 "Update the opentelemetry-collector helm chart to use v0.61.0 docker image"

[2022-09-29 17:10] gr0l0rg opened #6204 "Building a pipeline with no exporters panics"
**Describe the bug**
Looks like the function `fanoutconsumer.NewMetrics()` which is called by ` buildFanOutExportersMetricsConsumer` does not account for the case when there are the slice of exporters in the pipeline is empty and causes panic with error `panic: runtime error: index out of range [-1]`. It seems that `fanoutconsumer.NewLogs()` and `fanoutconsumer.NewTraces()` behave similarily.

**S

[2022-09-29 17:10] codeboten commented on #6202
Will be addressed in https://github.com/open-telemetry/opentelemetry-operator/issues/1130

[2022-09-29 17:12] codeboten commented on #6203
Fixed by https://github.com/open-telemetry/opentelemetry-helm-charts/pull/393#pullrequestreview-1125706367

[2022-09-29 20:06] mx-psi commented on #6204
I don't understand what you mean with

We could return an error instead of panicking, but otherwise, what would you expect the Collector to do?

[2022-09-29 21:23] dmitryax opened #6208 "[pdata] Slice.RemoveIf mutates value returned by Slice.At"
The issue is similar to https://github.com/open-telemetry/opentelemetry-collector/issues/5476

The following snippet

[code]

prints

[code]

instead of expected

[code]

[2022-09-30 00:10] dmitryax commented on #6201
Nice catch. I believe it should be renamed for consistency

[2022-09-30 09:52] saikalyan-bhagavathula opened #6211 "Regex is not matching with utf-16le"
**Describe the bug**
When I give the **utf16-le** encoded files to **ocb** all the log statements from the file are appending to a single line even I gave the multiline option.

**Steps to reproduce**
By just giving the **utf16-le** encoded files to **ocb** .

**What did you expect to see?**
Every Log Statement is splitting as the new one.

**What did you see instead?**
All the log statements from

[2022-09-30 15:42] #6201 closed

[2022-09-30 16:02] #6203 closed

[2022-09-30 17:28] bogdandrutu commented on #6155
Few more PRs:

* https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14621
* https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14622

[2022-09-30 18:13] mx-psi commented on #6151
First stab at security recommendations doc over at #6212, please take a look

[2022-09-30 22:35] bogdandrutu commented on #6155
Few more usages removed:
* https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14628
* https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14628

[2022-09-30 23:00] dmitryax commented on #6200
This makes sense to me given that we have `SpanKind`. Looks like all other enums have parent object in their names:

[code]

except for

[code]

I think we should replace `ptrace.StatusCode` with `ptrace.SpanStatusCode`.

Not sure if we should `plog.SeverityNumber` to `plog.LogRecorsSeverityNumber` or keep it as an exception. I think we can keep it as an exception with a reasoning that `SeverityNu

[2022-09-30 23:23] dmitryax commented on #6200
@bogdandrutu I believe the CodeStatus comes from the spec https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#set-status. I don't believe we necessary should follow that, right?

[2022-10-01 15:05] bogdandrutu commented on #6200
We can keep it StatusCode if we want but then we should rename SpanStatus to Status and we get consistency there.

[2022-10-01 20:28] dmitryax commented on #6200
We can agree to drop the owner prefix, if it's defined at the top-level of a protobuf package. In that case we can keep:

[code]

but will have to rename

[code]

I like this approach maybe a bit more more. `pmetric.AggregationTemporality` seems more concise, but I'm not sure about `ptrace.Status`. No strong opinion.

[2022-10-02 03:05] ianrodrigues commented on #1909
For those using EKS with Terraform and `templatefile` to set `exporters.awsemf.region` dynamically: change `$${1}` and `$${2}` by `$$${1}` and `$$${2}` respectively, as `templatefile` is trying to evaluate them.

[2022-10-03 14:17] paivagustavo commented on #816
I've been working on testing the latest released otel go sdk and verifying that it would met the requirements here. As part of this I've instrumented the existing receiver metrics from `obsreport.Receiver`(#6222) and the `loadbalancingexporter` from contrib, more specifically testing that we could use different histogram buckets for specific metrics. Using the views api, we are able to [accomplish

[2022-10-03 18:56] bogdandrutu commented on #6202
Linked directly that issue in the tracking issue.

[2022-10-03 18:56] #6202 closed

[2022-10-03 18:57] #6136 closed

[2022-10-03 22:26] tigrannajaryan opened #6226 "Configuration reloading needs rethinking from error handling perspective"
This was previously raised in [comments](https://github.com/open-telemetry/opentelemetry-collector/issues/6161#issuecomment-1260007804) [here](https://github.com/open-telemetry/opentelemetry-collector/issues/6161#issuecomment-1260007921).

Currently if the resolved config is invalid we shutdown the `Service` and exit the process. This works fine for Collectors with local configuration sources. It

[2022-10-03 22:31] tigrannajaryan commented on #6226
@open-telemetry/collector-approvers @amdprophet @portertech @Aneurysm9 any thoughts on this?

[2022-10-03 23:07] codeboten commented on #5992
One question that comes to mind when looking at this list, are we planning on releasing these packages independently in the future? If so we'll need to figure out what that looks like as well.

It would be great to only release packages with changed code.

[2022-10-04 13:02] gabrielgiussi opened #6229 "Prometheus exporter failing with 'tls' has invalid keys: insecure"
**Describe the bug**
I'm getting an error trying to disable tls in prometheus metrics exporter
[code]

I've also tested putting insecure in the root of the prometheus configuration but was failing with `'' has invalid keys: insecure`.

**What version did you use?**
Both opentelemetry-collector-contrib and opentelemetry-collector images in version 0.61.0

**What config did you use?**
[code]

**Addi

[2022-10-04 16:19] bogdandrutu commented on #6226
What is `config.Provider`? We have 2 terms, but none of them 100% match `confmap.Provider` and `service.ConfigProvider`.

[2022-10-04 16:30] jpkrohling opened #6230 "Improve `crosslink`"

[2022-10-04 17:53] tigrannajaryan commented on #6226
Oops, sorry. I mean `confmap.Provider`. Updated the description.

[2022-10-04 19:06] tigrannajaryan commented on #6226
I think this is fair. I was approaching this from the remote configuration perspective but you are right, an argument can be made that these are also related concerns even with a local file config. For example: what happens if the machine is restarted and the Collector cannot start because the port it tries to listen on is not available. We current fail the entire Collector. Should this be the cas

[2022-10-04 19:14] bogdandrutu commented on #5882
Closed by #6223 since now all metrics with prometheus otel have also the prefix.

[2022-10-04 19:14] #5882 closed

[2022-10-04 19:48] bogdandrutu commented on #6229
@gabrielgiussi on the server side you just need to not set any value for `tls`, so remove the 2 lines:
[code]

[2022-10-04 19:51] erickneverson opened #6232 "Fatal Error OpenTelemetry\Contrib\OtlpHttp\Exporter::__construct()"
**Describe the bug**
The following works with another php app but does not for a separate app even while the dependencies are the same:

[code]

Getting Fatal error: Uncaught TypeError: Argument 1 passed to OpenTelemetry\Contrib\OtlpHttp\Exporter::__construct() must be an instance of OpenTelemetry\SDK\Common\Export\TransportInterface

**Steps to reproduce**
dependencies
[code]

**What did you expe

[2022-10-04 20:12] bogdandrutu commented on #6226
Not saying it is not, but I think they are 2 separate problems that we need to discuss.

[2022-10-04 20:24] bogdandrutu commented on #6155
My investigation led to the conclusion that there are few cases where the "MoveAndAppend" is useful, see the usages:
* https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/45142e9320d940deba9e5889a9daa437200437a2/processor/metricstransformprocessor/operation_aggregate_labels.go#L254
* https://github.com/open-telemetry/opentelemetry-collector/blob/f0d69d68220d8bcc2f38070e72516bd1b

[2022-10-04 22:39] codeboten commented on #6226
In the retry case, this is mentioned:

How would this work in the following case where the machine is restarted? Would the good config be cached somewhere that persists machine restarts?

It would be really helpful to have a diagram of what happens in all these various cases, would be great for documentation and to help make sense of all the permutations :)

[2022-10-04 22:55] bogdandrutu commented on #6226
@codeboten agree. So we need a design proposal with the state machine (maybe) for the case where loading a config fails or the loaded config is invalid.

Also related to https://github.com/open-telemetry/opentelemetry-collector/issues/5966

/cc @swiatekm-sumo who also talked about this.

I feel we need a champion to think about this problem and propose a state diagrams (transitions). Agree on that

[2022-10-05 00:34] dmitryax commented on #6155
I agree that name `MoveAndAppendTo` is good enough.

Currently we have only `CopyTo` and `MoveAndAppendTo` for slices. Maybe it make sense to have `MoveTo`, `CopyTo`, `MoveAndAppendTo ` and `CopyAndAppendTo ` for consistency? It'll be move clear that the first two override the destination. Or they can be removed in favor of `Clear`.

Also `pcommon.Map` currently has `CopyTo` only. I've seen a few

[2022-10-05 02:21] bryan-aguilar commented on #5992
I can take the action item to add `crosslink` support to this repository in the same way that it is implemented in contrib. Should be a quick™ and can make inserting those replace statements a bit easier.

[2022-10-05 09:04] AkselAllas commented on #2310
Perhaps this [slack Thread](https://cloud-native.slack.com/archives/C01N6P7KR6W/p1619082240073800) can help?

Solution from there by Davy Jones:

[code]

[2022-10-05 14:49] MadVikingGod commented on #5687
Howdy from the GO Sig.

Has anyone attempted to register both the OC SDK, and the Otel SDK with the same prometheus `Registerer`, and use the connected `Gatherer` as the tempory bridge?

I ask because the Go Sig is exploring a few options to unblock your development in this area.
1. Is to provide the MetricProducer API, targeted around this problem.  The delay here is that we, the go sig, would li

[2022-10-05 15:41] paivagustavo commented on #5687
I like that idea (3) and that is totally possible, just tried it.

The one thing that must be noted, is that otel and opencensus has different ways to deal with resource attributes.
 OpenCensus Prometheus Exporter appends them as "constant labels" and Otel emits the resource attributes with a `target_info` metric, [see this for more context](https://github.com/open-telemetry/opentelemetry-specific

[2022-10-05 16:58] dashpole commented on #5687
To clarify what I was trying to get across at the SIG meeting today:

* Combining prometheus metrics from both OC and OTel **requires** a given metric to only be collected by either OpenCensus or OpenTelemetry.  Otherwise, the metrics will collide, and be rejected by the prometheus client or will produce invalid prometheus data.
* Given that, we would have two choices for how to ensure this:
    *

[2022-10-05 17:17] cpheps opened #6238 "Service TelemetryInitializer doesn't clean up when newService errors"
**Describe the bug**
When the `newService` function returns an error, as a result of or after `srv.telemetryInitializer.init` executes, it doesn't clean up any telemetry views that were registered. The means if a new collector instance is started within the same process that would attempt to register those same views will fail with a `failed to initialize telemetry` error.

**Steps to reproduce**

[2022-10-05 18:15] amdprophet commented on #6161
@tigrannajaryan I like the proposed idea of notifying configmap.Providers if the final merged config is valid. It will solve the issue of knowing whether to persist the received configuration, from OpAmp, locally. We're going to explore moving the effective config reporting to OpAmp elsewhere as it seems out-of-scope for configmap.Providers to have access to the merged config.

[2022-10-05 22:13] Smmfh223 opened #6242 "Bug"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.

**What did you expect to see?**
A clear and concise description of what you expected to see.

**What did you see instead?**
A clear and concise description of what you saw instead.

**What version did you use?**
Version: (e.g., `v0.4.0`, `1eb551

[2022-10-05 23:11] bogdandrutu commented on #6242
probably a mistake.

[2022-10-05 23:11] #6242 closed

[2022-10-06 01:52] dmitryax opened #6243 "[exporter/logging] inconsistent map rendering"
logging exporter renders embedded Map values inconsistently and confusing.

The following log has an embedded map as part of log body and another map as part of an attribute value. Currently the output is the following:

[code]

Map embedded in the body rendered as one line, but a map in attributes is messed up. The first embedded map is broken down into several lines confusing map key with other

[2022-10-06 13:17] serkan-ozal opened #6245 "A CI/CD Observability Solution Suggestion"
Hi **open-telemetry** community,

This is Serkan, Co-Founder & CTO at [Thundra](https://www.thundra.io/), the company behind [Foresight](https://www.runforesight.com).

Thundra is open-telemetry compatible tracing and debugging solution and so we are big fan of open-telemetry.

I am here with the suggestion of [Juraci](https://github.com/jpkrohling) for our CI/CD observability tool, [Foresight](ht

[2022-10-06 14:30] abeach-nr opened #6246 "Add GetPipelines() to Host interface so that pipelines are available to extensions"
**Is your feature request related to a problem? Please describe.**
I am trying to build an extension to provide debugging information about pipelines.

I believe it is only possible to debug pipelines via zpagesexention as an http endpoint `/debug/pipelinez`
https://github.com/open-telemetry/opentelemetry-collector/blob/e0eea95c1a6913741fbfe622ea41dfa33ecf8df2/service/zpages.go#L36

**Describe the

[2022-10-06 15:10] #6229 closed

[2022-10-06 15:36] abeach-nr commented on #6246
@Aneurysm9 extensions would be preferable, as I wouldn't need another process to then consume that endpoint. An extension could say, log the DAG representation of the pipelines, or the extension could instrument that DAG information and push to to another server.

[2022-10-06 16:39] bogdandrutu commented on #6200
Here is what I propose as rules for Enum names (@dmitryax you should document all of these somewhere in a readme file in the pdatagen):
* The `Type` enums which we create based on the oneof will follow the rules we agreed on in https://github.com/open-telemetry/opentelemetry-collector/issues/6081#issuecomment-1251287404,
* The other enums/messages which are defined by the proto repository, we shou

[2022-10-06 19:53] serkan-ozal commented on #6245
Hi @codeboten, I think Foresight is still useful for the contrib repos as well.

Because Foresight supports **"tokenless authentication"** for open-source projects.

So when contributors open PRs to this repository from their forks and workflow run is triggered, collected workflow, test and telemetry data (metrics, logs, etc ...) will be associated to the Foresight account of this repository.

Thi

[2022-10-06 20:14] dmitryax opened #6249 "[pdata] Revisit ValueType.String() output"
The output of the ValueType.String() is inconsistent with other similar methods. It has 2 issues:

1. After applying https://github.com/open-telemetry/opentelemetry-collector/issues/6081, all the string value identifies were consistently renamed to `Str`. The short name `Str` is chosen instead of `String` in order to avoid unintentionally implementing `fmt.Stringer` interface by string type `Value

[2022-10-06 20:42] paivagustavo commented on #5687
That is a great point @dashpole, we need to make sure that we have everything protected by the feature gate like you described.

The idea for doing a side-by-side instrumentation is that we can start the migration and early adopters would not lose any metrics by doing so. It doesn't make much sense for users to enable the otel featuregate if they're only getting the `obsreceiver`metrics for exampl

[2022-10-06 20:52] bogdandrutu commented on #6249
One more enum that we don't do this is `plog.SeverityNumber` see https://github.com/open-telemetry/opentelemetry-collector/blob/main/pdata/plog/logs.go#L73

[2022-10-06 21:25] dmitryax commented on #6249
Makes sense. I'm looking into how `String` is being used in contrib. I think we can make it shorter and update `plog.SeverityNumber` accordingly

[2022-10-06 21:34] #6243 closed

[2022-10-06 23:00] dmitryax commented on #6245
I'd like to try this out. Seems like must be really helpful for the collector repos.

[2022-10-06 23:15] bogdandrutu commented on #6249
Please open a different issue about enums defined in the proto file. The enums Type defined by us are consistent now.

[2022-10-06 23:15] bogdandrutu commented on #6249
Also make sure we look at all of them and we come up with the rules

[2022-10-07 00:05] dmitryax opened #6251 "[pdata] Inconsistent output of enum types String() methods"
The pdata module has a few enum type definitions. Some of them defined in proto **(2)**, while others are defined in pdata only (based on proto oneof message fields names) *(1)*.

### 1. For enum types that are not defined in proto, we use a short version of the enum identifier for the output of String() method in:
- `pmetric.MetricType`
- `pmetric.NumberDataPointValueType`
- `pmetric.ExemplarValu

[2022-10-07 00:08] dmitryax commented on #6249
Sounds good. Closing this issue in favor of https://github.com/open-telemetry/opentelemetry-collector/issues/6251

[2022-10-07 00:08] #6249 closed

[2022-10-07 07:34] mx-psi commented on #6245
+1 from my side to trying this out, having this kind of visibility would help us deal with flaky tests and improve the contributing experience

[2022-10-07 08:33] serkan-ozal commented on #6245
In addition to **"tokenless authentication"** (https://github.com/open-telemetry/opentelemetry-collector/issues/6245#issuecomment-1270605739) to associate all workflow runs and test runs by PRs from community forked repos, there is another important feature for open-source projects I forgot to mention.

Foresight also supports custom sub-domain for open-source projects (for ex: it might be `ot-col

[2022-10-07 10:23] Ripurwar80 opened #6252 "ImagePullSecret not available"
**Describe the bug**
unknown field "imagePullSecrets" in io.opentelemetry.v1alpha1.OpenTelemetryCollector.spec

**Steps to reproduce**
Pulling Private image using credentials

[2022-10-07 11:49] fatsheep9146 commented on #6252
this issue should be transferred to project [opentelemetry-operator](https://github.com/open-telemetry/opentelemetry-operator)?

[2022-10-07 13:00] djaglowski commented on #6245
+1, I'm excited to try this out.

[2022-10-07 15:52] bogdandrutu commented on #6251
I do believe that we can have different behavior between proto defined values and the types. Does not mean we should, but it is acceptable if we decide that.

[2022-10-07 16:53] bogdandrutu commented on #6200
+1

+1, Also we should do `Buckets` to `ExponentialHistogramDataPointBuckets`

I think we drop the "Data" long time ago, but happy to consider that.

Agree with the exception. One thing that I had in mind in past 1m to maybe have a `pattr` or `pkv` package, think if you like that, but is a separate effort.

[2022-10-07 17:27] gbbr opened #6254 "Allow components access to config"
Using slightly different variations of the same exporter in two pipelines results in having to duplicate config between them if consistent behaviour is desired. It would be nice if it would be possible to either a) have a shared configuration section or b) allow one exporter to access the configuration of the other, perhaps only the ones of the same type. Alternatively, one idea would be to give c

[2022-10-07 17:41] bogdandrutu commented on #6254
Can you please write the config that you have in mind? I am a bit confused, since right now you can definitely use one exporter in multiple pipelines (but is the same instance correct). Is your request to have multiple instances of the same exporter with same config?

[2022-10-07 17:45] bogdandrutu commented on #6254
So please write the current situation "with the duplicate code" to understand what is the "duplication" there, thanks a lot for the report.

[2022-10-07 17:47] dmitryax commented on #6200
Here is the discussion https://github.com/open-telemetry/opentelemetry-collector/issues/822 led to the renaming. If we rename it back, we would need to change consumer interfaces to have `ConsumeTracesData` etc. I maybe still prefer `TracesData` slightly more, but I'm good with keeping `Traces` as well.

[2022-10-07 17:50] gbbr commented on #6254
Thanks for the prompt reply Bogdan. Apologies if I was too ambiguous of vague. I guess I had the context in my mind and thought it was going to be obvious. I updated the description. I wonder if it makes more sense now.

[2022-10-07 19:04] #6238 closed

[2022-10-07 22:57] dmitryax opened #6256 "[pdata] Inconsistent names of zero enum constants"
There are two categories of  enum types in pdata:

1. To represent enum fields in proto:
- `plog.SeverityNumber`
- `pmetrc.AggregationTemporality`
- `ptrace.SpanKind`
- `ptrace.StatusCode`

2. To represent options of oneof proto fieds:
- `pcommon.ValueType`
- `pmetric.MetricType`
- `pmetric.NumberDataPointValueType`
- `pmetric.ExemplarValueType`

Zero enums constants are called inconsistently acro

[2022-10-07 23:16] dmitryax commented on #6200
@bogdandrutu I added the documentaion, PTAL https://github.com/open-telemetry/opentelemetry-collector/pull/6255

[2022-10-08 00:32] dmitryax opened #6257 "[pdata] Rename pdata struct that are named inconsistently with protobuf messages"
We want rename the following structs that are not aligned with names of underlying protobuf messages:

- [x] `pmetric.MetricAggregationTemporality` -> `pmetric.AggregationTemporality`
- [x] `ptrace.SpanStatus` -> `ptrace.Status`
- [x] `pmetric.MetricDataPointFlags` -> `pmetric.DataPointFlags`
- [x] `pmetric.ValueAtQuantile` -> `pmetric.SummaryDataPointValueAtQuantile`
- [x] `pmetric.Buckets` -> `E

[2022-10-08 00:33] dmitryax commented on #6200
Closing this issue in favor of https://github.com/open-telemetry/opentelemetry-collector/issues/6257

[2022-10-08 00:33] #6200 closed

[2022-10-08 17:05] Chinwendu20 commented on #5655
Hello, please could I work on this?

[2022-10-08 20:37] mx-psi commented on #5655
Sure, I assigned this to you @Chinwendu20

[2022-10-08 20:50] mx-psi commented on #5655
Sorry @Chinwendu20 forgot that there is already a PR for this (#5661)

[2022-10-08 21:58] Chinwendu20 commented on #4946
Could you please assign this to me?

[2022-10-10 05:58] sakshi1215 commented on #6030
Hey @jpkrohling @codeboten , I am an outreachy applicant & would like to work on this issue if @rahuldimri hasn't made sufficient progress yet.

[2022-10-10 06:03] sakshi1215 commented on #4939
Hey @dmitryax @cpheps Can you please assign this issue to me, I would like to take a dig at this.

[2022-10-10 06:54] dmitryax commented on #4939
Thanks @sakshi1215. Assignd

[2022-10-10 08:37] bogdandrutu commented on #6256
I think we should change everywhere with `Unspecified`

I think we should consider Empty for Value an exception since it has a specific meaning.

[2022-10-10 09:50] Chinwendu20 commented on #4946
According to the code comments, run should not be called after shutdown

![image](https://user-images.githubusercontent.com/59079323/194839835-62fae9f5-123a-4ad2-b201-244292f205a4.png)

[2022-10-10 11:25] sakshi1215 commented on #5712
@dmitryax @jpkrohling As far as I could understand, we want to create a Dockerfile & release docker images for the collector builder, can I work on this if this is still relevant?

[2022-10-10 12:08] cpheps commented on #4946
@Chinwendu20 This ticket is to basically make a short circuit path in `Run` where if a given instance of a Collector is `Shutdown` then subsequent calls to run should detect this and exit quickly. There's a lot of logic that happens in `Run` before it would detect that it was already shut down.

I think there's a valid question on if `Run` should return and error if it's used after `Shutdown` is c

[2022-10-10 12:10] cpheps commented on #4946
@dmitryax Can you assign @Chinwendu20 to this issue please?

[2022-10-10 18:38] dmitryax commented on #6256
Sounds to me. I'll submit PRs to have `Unspecified` for (1) and `Empty` for (2)

[2022-10-10 23:15] bogdandrutu commented on #5625
Fixed in https://github.com/open-telemetry/opentelemetry-collector/pull/5913

[2022-10-10 23:15] #5625 closed

[2022-10-11 03:53] MovieStoreGuy opened #6272 "Encoding integrations"
**Is your feature request related to a problem? Please describe.**
As one of the code owners for `awskinesisexporter`, and `kafkaexporter`, several issues get raised asking if we can support _x_ encoding standard for the messages being written to these services.

My typical response that I am happy to accept any open data format standard but for any vendor specific encoding, it would need to be mo

[2022-10-11 04:10] sakshi1215 commented on #4939
I was looking at this issue & have noticed that its no longer valid. Since version 0.54 we have remove the GetLogger  method as well the Collector object no longer packagers Logger instance with it but only has LoggerOption under set.LoggingOptions
Reference:
https://github.com/open-telemetry/opentelemetry-collector/blob/06db057f8ca3cea24ee71b77fffff1b2420d4e07/service/collector.go#L74
https://git

[2022-10-11 04:12] dmitryax commented on #4939
Thanks @sakshi1215. Closed

[2022-10-11 04:12] #4939 closed

[2022-10-11 04:24] sakshi1215 commented on #6030
@dmitryax Can you assign me this issue?

[2022-10-11 06:14] dmitryax commented on #6030
@sakshi1215 assigned

[2022-10-11 10:06] sakshi1215 commented on #6194
@jpkrohling @dmitryax Can I please work on this if you have not made significant progress on this? As far as I can understand, we want to make loggingexporter its own module so that we can import the loggingexporter without the need of importing the full otel-collector.

[2022-10-11 18:19] bogdandrutu opened #6274 "Should we also make confmap.NewResolver fail if it we pass a provider that does not have a valid scheme?"
From @mx-psi

[2022-10-11 18:19] bogdandrutu commented on #5706
Last item is tracked in a separate issue https://github.com/open-telemetry/opentelemetry-collector/issues/6274

[2022-10-11 18:19] #5706 closed

[2022-10-11 18:53] #6256 closed

[2022-10-11 19:23] bogdandrutu commented on #6155
Is anything right now that blocks us to evolve in the future? Adding new funcs can always happen later, the problem is with removing, so do we want to remove any of them?

[2022-10-11 19:28] dmitryax commented on #6155
Right. I don't see any method that should be removed at this point.

[2022-10-11 19:40] jack-berg commented on #5303
This error is produced by the otel java SDK due to exceeding the fixed cardinality ceiling. Its currently not possible to record measurements for more than 2000 distinct sets of attributes to a particular instrument. The answer is to reduce the cardinality of your instruments by excluding attributes with high cardinality values.

This is definitely not an issue with the collector and should be clo

[2022-10-11 20:10] #6257 closed

[2022-10-11 20:51] bogdandrutu commented on #6254
can you look into this new feature https://github.com/open-telemetry/opentelemetry-collector/pull/6276, maybe something can be used here, by having a separate file with the common config and embed that?

[2022-10-12 04:00] Chinwendu20 commented on #4947
Hi @deepto98, are you still working on this? I would like to take this up

[2022-10-12 04:02] Chinwendu20 commented on #4947
Hi @cpheps I guess 1 and 2 has been addressed by other the other issues

[2022-10-12 04:06] Chinwendu20 commented on #4671
Hi @cuichenli, are you still working on this? I will like to take this up

[2022-10-12 04:17] Chinwendu20 commented on #3685
Hi, is this issue still valid?

[2022-10-12 04:20] Chinwendu20 commented on #4996
Hello is this still valid? Can I work on this?

[2022-10-12 04:57] cuichenli commented on #4671
Hi @Chinwendu20 , no, I am not working on this.

[2022-10-12 05:30] bogdandrutu commented on #6155
Then we can move this after the release

[2022-10-12 05:42] fatsheep9146 commented on #4996
Sorry, I'm still working on this. =D

[2022-10-12 06:41] gbbr commented on #6254
That's a really nice feature! I just tried it out and it works, but unfortunately not for this use case because it is bound to being a value. For my use case it would only work if the feature would be allowed in this form:
[code]
The current implementation is cool, but it doesn't allow slight modifications and overriding. I do realise it's a much more complicated implementation, but happy to help

[2022-10-12 07:15] astencel-sumo commented on #5625
Thanks a lot Bogdan for the update, it's good to know the "Shutdown complete" log is back.

[2022-10-12 08:27] MovieStoreGuy opened #6286 "[pcommon.Map] CopyTo method replaces existing map"
**Describe the bug**
When using the `pcommon.Map.CopyTo` method as such:

[code]
The contents of B are replaced with the contents of A instead of copied as the method describes: `CopyTo copies all elements from the current map to the dest.`

**Steps to reproduce**

Using an initialised go mod project with the following go.mod values:

[code]

You can run this section of code and have it panic.

[c

[2022-10-12 13:07] Chinwendu20 commented on #4671
Okay thanks, I would work on this. I just want to clarify that by a stock collector you mean, a custom built collector distribution. @fld-opensource

[2022-10-12 13:20] tigrannajaryan commented on #4671
I would definitely prefer this to be in a machine-readable format. Something like yaml is probably best since we can make it both reasonably human-readable and can also use for programmatic use-cases [like this](https://github.com/open-telemetry/opentelemetry-collector/issues/5438).

[2022-10-12 16:47] tigrannajaryan opened #6287 "Fix OTLP/JSON to use lowerCamelCase keys"
Once the change https://github.com/open-telemetry/opentelemetry-specification/pull/2829 is released (likely in spec 1.15.0) we can update the OTLP implementations here to stop allowing original field names and only accept lowerCamelCase.

[2022-10-12 20:04] bogdandrutu opened #6288 "Release v0.62.0"
I will do the release instead of @tigrannajaryan

**Performed by collector release manager**

- [ ] Prepare core release v0.62.0
- [ ] Tag and release core v0.62.0
- [ ] Prepare contrib release v0.62.0
- [ ] Tag and release contrib v0.62.0
- [ ] Prepare otelcol-releases v0.62.0
- [ ] Release binaries and container images v0.62.0

**Performed by operator maintainers**

- [ ] Release the operator v0

[2022-10-12 20:32] bogdandrutu opened #6290 "Prepare core release v0.62.0"

[2022-10-12 20:32] bogdandrutu opened #6291 "Tag and release core v0.62.0"

[2022-10-12 22:01] bogdandrutu commented on #6291
Done.

[2022-10-12 22:01] #6291 closed

[2022-10-12 22:10] bogdandrutu commented on #6286
This is expected behavior, probably the description of the func should be improved. See also few related things:
* https://github.com/open-telemetry/opentelemetry-collector/issues/6155
* https://github.com/open-telemetry/opentelemetry-collector/pull/6255

We want "CopyTo" to be equivalent of "assignment operation" so hence will overwrite not "append".

[2022-10-12 22:10] bogdandrutu commented on #6287
this is not a bug correct?

[2022-10-12 23:56] MovieStoreGuy commented on #6286
Right, with the function description I basically understood it to mean `Merge` and that is where my misunderstanding comes from.

[2022-10-13 00:11] bogdandrutu opened #6294 "Remove `overwritepropertiesconverter` and search for a solution for `--set`"
The main motivation is because the `--set` flag and implicitly the `overwritepropertiesconverter` uses dot (`.`) as the key separator which makes it impossible to configure maps that contain keys with possible dots, e.g. in `service::telemetry::resource` where attribute keys contain dots. This was one of the main reason we changed confmap to use "::".

Because of this issue, I suggest that we stop

[2022-10-13 01:39] paivagustavo commented on #5687
Based on [Aaron's suggestion](https://github.com/open-telemetry/opentelemetry-collector/issues/5687#issuecomment-1268549304) to use the `prometheus.Registry` as a bridge between OC and OTel Go, I've tried to outline a migration plan. I would like get some feedback about it and to see if we can start to work on this. I've made draft to show this is possible: https://github.com/open-telemetry/opente

[2022-10-13 01:49] bogdandrutu commented on #5687
+1 on this

I think we should flip the "feature-gate" as soon as a significant amount of metrics in core are switched to otel. Then wait in this state (continuing to migrate everything) for 2-3 releases.

[2022-10-13 02:36] bogdandrutu opened #6298 "Prepare contrib release v0.62.0"

[2022-10-13 02:36] bogdandrutu opened #6299 "Tag and release contrib v0.62.0"

[2022-10-13 02:38] bogdandrutu commented on #6298
Closed by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14917

[2022-10-13 02:38] #6298 closed

[2022-10-13 03:00] bogdandrutu commented on #6299
Done.

[2022-10-13 03:00] #6299 closed

[2022-10-13 04:01] serkan-ozal commented on #6245
Hi everyone,

Here is an example of Foresight public view for another popular open-source project `Keycloak` (https://github.com/keycloak/keycloak) with its own custom sub-domain name: https://keycloak.app.runforesight.com

With Keyclocak Foresight public view, all Keyclocak contributors (in fact everyone) are able to see the workflow and test insights for Keycloak organization as readonly without

[2022-10-13 13:34] jpkrohling commented on #6245
@serkan-ozal, what do you need from us to get started?

[2022-10-13 14:26] Chinwendu20 commented on #4671
Hello @jpkrohling please could you point me to the bootstrap logs that you speak of?  Does it mean that after the distribution is creation, there is a place the YAML config for generating it is stored?

[2022-10-13 14:27] arminru opened #6301 "Update or rename `docs/security.md` to refer to security policy"
Related to https://github.com/open-telemetry/community/issues/1137.

In the `.github` repo we have an OTel-wide security policy at https://github.com/open-telemetry/.github/blob/main/SECURITY.md which describes how to report vulnerabilites.
This file will automatically show up in the "Security" tab (https://github.com/open-telemetry/opentelemetry-collector/security) on each repo, unless overridden

[2022-10-13 14:30] Chinwendu20 commented on #4613
Hello, please what is the verdict on this issue? @bogdandrutu . Would we be creating a --dry-run flag?

[2022-10-13 14:39] Chinwendu20 commented on #4671
Is this a correct visual representation of what the build-info flag should ouput?

![image](https://user-images.githubusercontent.com/59079323/195627338-8b64f24b-d80b-4b7c-a953-17e7f7ba3e7e.png)

[2022-10-13 14:51] serkan-ozal commented on #6245
Hi @jpkrohling,

You can start by creating a Foresight account [here](https://app.runforesight.com/) for `open-telemetry `org (https://github.com/open-telemetry) and then our UI will ask you to install Foresight Github app to access `open-telemetry` Github `org.

Later you can select repositories you want to allow access to. Then Foresight will monitor workflows of those repositories automatically

[2022-10-13 14:51] Chinwendu20 commented on #226
Heyy, is this issue still valid?

[2022-10-13 15:28] tigrannajaryan commented on #6287
I think being non-compliant with a spec is a bug :-)

[2022-10-13 15:38] #5647 closed

[2022-10-13 15:38] bogdandrutu opened #6303 "Release binaries and container images v0.62.0"

[2022-10-13 15:38] bogdandrutu opened #6304 "Prepare otelcol-releases v0.62.0"

[2022-10-13 15:39] bogdandrutu commented on #6304
Done in https://github.com/open-telemetry/opentelemetry-collector-releases/pull/218

[2022-10-13 15:39] #6304 closed

[2022-10-13 15:40] Chinwendu20 commented on #5781
I would like on this issue, but is there really a way? as i have seen this comment
https://github.com/securego/gosec/issues/831#issuecomment-1196292035

[2022-10-13 15:51] bogdandrutu commented on #6287
I would not remove that for few months, since people may have already deployed apps that send the original proto names.

[2022-10-13 16:05] Chinwendu20 commented on #5675
The third in the checklist should be modified in the opentelemetry.io repo right?

[2022-10-13 16:50] tigrannajaryan commented on #6287
I agree. Let's keep for now and remove in a few months.

[2022-10-13 17:15] dmitryax commented on #6155
Sure, no rush needed with that. No breaking changes acpected

[2022-10-13 18:09] cpheps opened #6306 "confmap Resolver URI Parsing doesn't work for valid yaml URIs"
**Describe the bug**
With the URI  parsing changes from #6271 in the `confgmap.Resolver` valid yaml URIs no longer work.

**Steps to reproduce**
Take a valid yaml config string and use similar logic to below will result in an invalid URI error:

[code]

**What did you expect to see?**
No URI error

**What did you see instead?**
Error for invalid URI

**What version did you use?**
Version: v0.62.0

[2022-10-13 19:04] #6286 closed

[2022-10-13 19:08] bogdandrutu commented on #6254
@gbbr let's continue the discussion here, so what do you want to have in the `/path/to/my_exporter/shared/settings.yaml`? Can you put both yaml files here so I can understand a bit more. The indentation you have there suggests that the result is merged into "my_exporter", is that the case?

[2022-10-13 19:30] cpheps commented on #6306
Investigating further it seems this regex will work for yaml URIs and other kinds.

[code]

[2022-10-13 19:40] bogdandrutu commented on #6306
found the issue, give me 2 mins

[2022-10-13 19:50] bogdandrutu commented on #6303
Done.

[2022-10-13 19:50] #6303 closed

[2022-10-13 20:36] cpheps commented on #6306
Fixed by #6309

[2022-10-13 20:36] #6306 closed

[2022-10-13 21:15] evandam commented on #6046
:+1: for this feature. We're currently doing some trial and error to figure out the right balance of `send_batch_size` and `send_batch_max_size` and hoping it stays under 4MB but having a guarantee would definitely be preferred.

[2022-10-13 21:36] jangaraj commented on #6046
@evandam I made some recommendations here https://github.com/monitoringartist/opentelemetry-trace-pipeline-poisoning#mitigation-of-huge-4mb-trace

[2022-10-13 23:43] jpkrohling commented on #4671
If you can generate a builder manifest like that, it would be great, but I don't think it's easily doable. It would already be useful to print out the list of components available, plus the version of the distribution. To get the version of the distribution, take a look at the output printed in the logs when starting the collector: there's already the build version there. When you find where this

[2022-10-14 05:35] sakshi1215 commented on #5680
Can we close this issue @TylerHelmuth @jpeach @jpkrohling since the outcome was to add the release to the core homebrew?

[2022-10-14 05:35] serkan-ozal commented on #6245
Hi @jpkrohling,

After then I can send a PR for your workflows to collect resource usage metrics, process traces, test and coverage results through our Github actions.

[2022-10-14 05:38] sakshi1215 commented on #4313
@jpkrohling @dmitryax As far as I was able to get from the issue, this issue wants us to add a retry+wait logic over here https://github.com/open-telemetry/opentelemetry-collector/blob/139cd3db7139c45d84edf9cac877bfa8d0ab84ab/Makefile.Common#L52 ? If yes, can I get assigned to this issue?

[2022-10-14 05:42] sakshi1215 commented on #4747
@jpkrohling the change has been landed in the 1.49 release of grpc-go a month back. Shall we close this issue?

[2022-10-14 09:03] hickeyma commented on #5675
@Chinwendu20 It should be. Are you interested in pushing a PR?

[2022-10-14 11:02] gbbr commented on #6254
Absolutely!

Given the configuration file:
[code]
Where `/path/to/my_exporter/shared/settings.yaml` contains:
[code]
The compilation result becomes:
[code]
Technically the indentation of the "file import statement" (`${file:/path/to/my_exporter/shared/settings.yaml}`) is applied to the embedded content.

This style allows for more complex embedding. The current implementation only works if the ful

[2022-10-14 12:04] mx-psi commented on #6301
We still will need to fix the links on contrib to the security doc, reopening until we fix that (working on a PR)...

[2022-10-14 18:47] dmitryax commented on #6294
I think using `--set processors.batch.timeout=2s` is much more convenient than `--config=yaml:processors::batch::timeout: 2s`. I think `--set` pretty intuitive and used by other applications. For example helm uses the same approach where dots in from yaml keys can be escaped like `--set 'app.podLabels.app\.kubernetes\.io/part-of=security'`. Array values can be overridden there with `--set ingress.

[2022-10-14 20:40] bogdandrutu commented on #6294
To summarize my understanding, you don't disagree with the 1. point of removing the `overwritepropertiesconverter`, but you will want a solution for the users which is easier to use, and believe that the current non "--set" solution is hard to use.

I do agree that `--config=yaml:processors::batch::timeout: 2s` may not be as convenient (looking at exact difference is not that bad "--set=" is repla

[2022-10-14 20:53] bogdandrutu commented on #6294
From @dmitryax the link to that "--set" flag is here https://helm.sh/docs/intro/using_helm/#the-format-and-limitations-of---set

It may not be that bad to try to follow the same syntax (modulo multiple value support), then users will be familiar with that. Open for ideas here.

[2022-10-14 21:05] dmitryax commented on #6294
Another inconvenience is that the argument value has to be always quoted because of the space in it `--config="yaml:processors::batch::timeout: 2s"`, while `--set` doesn't need quotes most of the times `--set
=processors.batch.timeout=2s`

[2022-10-14 21:26] bogdandrutu commented on #6294
@dmitryax is your proposal to do what helm does?

[2022-10-14 21:42] codeboten commented on #6294
I like the idea of following what `--set` does in helm and providing users with similar documentation to explain the limitations.

[2022-10-14 21:48] alinskens opened #6317 "Bring CLOMonitor Score to 100%"
This repo is signed up as part of the KubeCon [Security Slam](https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america/attend/experiences/#security-slam). I'm bringing to your attention the checklist from the official [CLOMonitor page for OpenTelemetry](https://clomonitor.io/projects/cncf/open-telemetry) -- it refreshes every hour, so it should be up-to-date.

## CLOMonitor report

[2022-10-14 21:51] dmitryax commented on #6294
I'm more inclined towards that, yes. I believe, if we decide to keep `--set`, we don't have to follow what we do in yaml, we cab leave `::` for yaml and use a bit different syntax for `--set`.

[2022-10-14 22:07] bogdandrutu commented on #6294
@codeboten @dmitryax awesome, https://github.com/open-telemetry/opentelemetry-collector/pull/6295 moves us to that direction in a sense that we have the flag not forcing to respect the "properties" syntax as defined by java properties, and use our custom parser for that to be able to customize it.

[2022-10-14 22:33] bogdandrutu opened #6318 "Release the operator v0.62.0"

[2022-10-14 22:33] bogdandrutu opened #6319 "Update the opentelemetry-collector helm chart to use v0.62.0 docker image"

[2022-10-14 23:50] dmitryax commented on #6251
@bogdandrutu I also like this approach, but it'll be different from what json marshaler produces. So user will not be able to compare the json values with pdata unless we provide additional methods like `Code` returning the proto strings.

I think I'm more inclined towards sticking with what proto provides now for the category 1. Not sure it worth patching json marshaler either.

WDYT?

[2022-10-15 01:12] Pitta opened #6320 "Proto mismatch errors not obvious when posting traces"
**Describe the bug**
When sending test traces via `otlp-http`, if the format of the trace is mismatched the server still returns a 200 with no indication of a problem.

[code]

**Steps to reproduce**
config: _BELOW_

docker-compose.yaml:
[code]

trace.json ([from this example](https://docs.lightstep.com/otel/send-otlp-over-http-to-lightstep))
[code]

1. `docker compose up`
2. from another terminal

[2022-10-15 01:13] dmitryax commented on #4313
@sakshi1215, assigned

[2022-10-15 01:14] austinlparker commented on #6320
FYI I replicated this on latest (0.62.1) with the same config + json payload.

[2022-10-15 01:29] TylerHelmuth commented on #6320
I've seen a customer experience this issue recently as well when sending traces via the Swift SDK, which didn't have the latest proto yet.

[2022-10-15 10:46] Chinwendu20 commented on #4671
Thanks for this @jpkrohling on it now

[2022-10-15 12:41] bogdandrutu commented on #6320
This is a bit unfortunate, I can explain why this happens, not sure what is the right behavior:
* The `instrumentationLibrarySpans` was renamed (probably >8 months ago or something like that) to `scopeSpans` and the support was removed in v0.58.0 (see https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.58.0)
* Recently we added support to not reject "unknown" fields see https

[2022-10-15 13:11] austinlparker commented on #6320
I think if we returned a useful response body, it'd help. Right now you get 200 OK with an empty response; something like "dropped unknown fields [xxx, yyy, zzz]" would at least give users a clue what was happening.

[2022-10-15 14:02] bogdandrutu commented on #6254
One of my main rule of thumb was to keep the syntax "yaml" compliant, a.k.a to ensure that the result is yaml compliant to allow editors to highlight the configuration, etc.

Unfortunately I think this is not yaml compliant, the `my_exporter/filter` part:
[code]

An option is to have a "reserved" key `__from__` (and idea is that everything in that map overrides the `__from__`), that we can use:
[c

[2022-10-15 14:07] bogdandrutu opened #6323 "Flaky metrics tests after #6297, never seen this before"
See https://github.com/open-telemetry/opentelemetry-collector/actions/runs/3255902434/jobs/5345701291

[2022-10-15 14:16] TylerHelmuth commented on #6320
In the PR that implemented the spec change in the collector we discussed a scenario like this: https://github.com/open-telemetry/opentelemetry-collector/pull/5931. Maybe it's time to allow "strict-enforcement" via https://github.com/open-telemetry/opentelemetry-collector/issues/5935.

I also like the idea of having some important fields, like ResourceSpans and InstrumentationScopeSpans, that are v

[2022-10-15 17:54] Chinwendu20 commented on #4671
Hi, please I noticed something about the flag, it is always, true. i am fixing that now

[2022-10-15 19:17] GuddyTech commented on #5169
@jpkrohling Hi, could this be assigned to me? I'm an outreachy applicant

[2022-10-15 23:31] paivagustavo commented on #6323
This is not related to #6297, I've tracked down the same test error a month ago: [commit](https://github.com/open-telemetry/opentelemetry-collector/commit/0b92b4d88dedd64999801951aa9d4722ef91ba5f) and [ci](https://github.com/open-telemetry/opentelemetry-collector/actions/runs/3061837061/jobs/4942104055), there should be other occurrences but stopped here.

But since I started to debug this, I mana

[2022-10-15 23:35] Chinwendu20 commented on #4613
Hello @jpkrohling could you help answer my concerns about this issue?

[2022-10-16 08:22] Chinwendu20 commented on #4311
Hello @jpkrohling and @codeboten could I please work on this issue

[2022-10-17 02:21] MacNale opened #6330 "Kafka Receiver stop reading the OLTP metrics from kafka once restarted"
**Describe the bug**
Kafka Receiver stop reading the OLTP metrics from kafka once restarted.

**Steps to reproduce**
1)  Export metrics in OTLP format in a Kafka Topic
2) Setup the Kafka Receiver to read and export to a vendor.  Add logger as exporter as well.
3) Stop the collector
4) Restart and notice that kafka Receiver is no longer reading the metrics from the Kafka.
5) Increasing Kafka lag is

[2022-10-17 03:06] hanjm opened #6331 "queue retry: support tiered queue"
**Is your feature request related to a problem? Please describe.**
I'm adopting queue retry with [filestorage](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/extension/storage/filestorage) in collector, but i found significant performance downgrade when enable filestorage, every otel data will write to filestorage and read from filestorage.

**Describe the solution you

[2022-10-17 08:52] mx-psi opened #6332 "chlog-new Makefile task fails when branch name has a `.`"
**Describe the bug**

The `chlog-new` task adds a new changelog note based on the branch name: https://github.com/open-telemetry/opentelemetry-collector/blob/b45d0ed7f3c7f897fa59071a36371592c5f6d6a9/Makefile#L450-L453

If the branch name has a `.`, `chloggen` will interpret this as an extension, and, if the extension is not yaml, it will fail.

**Steps to reproduce**

1. Create branch `my.branch`

[2022-10-17 09:29] gbbr commented on #6254
True, I did not consider that. It will also allow `gopkg.in/yaml.v3` to unmarshal it.

I think that's a good idea. I have another proposal which is also YAML compliant:
[code]
By simply adding a colon at the end, it becomes valid yaml. It avoids the need for a new reserved key and is arguably more intuitive because it lives at the level where it expands.

Although, I'm not sure how this plays out

[2022-10-17 10:51] mx-psi commented on #5878
Take a look at #6334

[2022-10-17 16:46] eddie-knight commented on #6317
I took a look into diagnosing the cause of the [Dangerous Workflow](https://github.com/ossf/scorecard/blob/7cd6406aef0b80a819402e631919293d5eb6adcf/docs/checks.md#dangerous-workflow) check today.

You can see the offending code is at the end of the ["Inform Incompatible PRs"](https://github.com/open-telemetry/opentelemetry-collector/blob/main/.github/workflows/api-compatibility.yml#L47-L63) workfl

[2022-10-17 17:14] #6274 closed

[2022-10-17 20:14] #6332 closed

[2022-10-17 21:52] codeboten opened #6337 "Move components under new directory structure"
The discussion around this was started at the SIG meeting on Oct 12, and can be partially found in this [PR](https://github.com/open-telemetry/opentelemetry-collector/pull/6228). Part of the work to publish components as separate go modules gives us an opportunity to decide on a path that makes most sense for these components.

Currently packages are imported as components of the `collector` packa

[2022-10-17 22:03] Aneurysm9 commented on #6337
I wouldn't take the otel-go example as a north star or even as very meaningful.  It [was changed](https://github.com/open-telemetry/opentelemetry-go/pull/502) following a mistakenly-published `v1.0.0` tag before `retract` statements could be added to `go.mod` files.

Moving modules around in otel-go has also caused a number of problems as systems that depend on no-longer-extant modules and package

[2022-10-17 22:22] bogdandrutu commented on #6337
That is not the only reason, I believe the suggestion started from this issue https://github.com/golang/go/issues/30590.

[2022-10-17 22:37] bogdandrutu commented on #6294
That is true for other "-set" values, see #6321 where you need quotes for complex values like array/maps.

[2022-10-17 22:58] bogdandrutu commented on #6294
@codeboten @dmitryax per the latest PR, current limitations are:

1. Does not support setting a key that contains a dot `.`.
2. Does not support setting a key that contains a equal sign `=`.
3. The configuration key separator inside the value part of the property is "::". For example `--set "name={a::b: c}"` is equivalent with `--set name.a.b=c`.

Bogdan's proposals:

For 1. I suggest to do the es

[2022-10-17 23:30] Aneurysm9 commented on #6294
I assume we're not doing this anywhere today and would probably be wary of someone attempting to do so, but we should probably formalize it as a rule if we want to say it's not something that this implementation needs to be concerned with.

Can we define the value part of these pairs as "what would be valid for the `yaml://` config provider"?  It does feel a little weird, but I don't immediately h

[2022-10-17 23:31] #4190 closed

[2022-10-18 00:02] bogdandrutu commented on #6251
JSON marshaler per the specs MUST produce ints for the enums.

[2022-10-18 00:06] bogdandrutu opened #6338 "JSON Marshaler must emit enums as ints"
See https://github.com/open-telemetry/opentelemetry-specification/pull/2758

[2022-10-18 09:37] mx-psi commented on #6337
I went through other language libraries to see what they did. There seems to be no alignment on this front. The situation is as follows:

1. Using `exporter`:
    - [Python][2]
    - [.NET][7] (namespace is `OpenTelemetry.Exporter`)
    - [Ruby][10]
2. Using `exporters`:
    - [Java][1]
    - [Go][3]
    - [Swift][8]
3. Flat structure:
    - [Rust][4]
    - [Erlang][5] (everything is under `apps`)

[2022-10-18 10:33] agni3921 opened #6341 "ops-agent-opentelemetry-collector"
Hello,

I get an error message after ops agent install:

1.6660882501032064e+09	error	exporterhelper/queued_retry.go:361	Exporting failed. Try enabling retry_on_failure config option to retry on retryable errors	{"error": "failed to export time series to GCM: rpc error: code = InvalidArgument desc = Name must begin with '{resource_container_type}/{resource_container_id}', got: projects/"}
go.opent

[2022-10-18 14:10] serkan-ozal commented on #6245
Hi @jpkrohling and open-telemetry community, how we should proceed on this?

[2022-10-18 15:48] bogdandrutu commented on #4613
I would say:

1. Add the "--dry-run" flag that only validates the config and prints all the errors (maybe all the errors across all components).
2. Decide if we want to print the config result as well, or add a new command/flag to do that. I personally believe if "--dry-run" finds no errors then it should print the config.

[2022-10-18 15:50] bogdandrutu commented on #6254
Or we make it a programming language 🥇

[code]

[2022-10-18 17:22] codeboten commented on #6245
I'm happy to take a stab at trying this out in a fork of the core/contrib repos and report back to the community with findings. I suspect before we can add this to the open-telemetry org, we would need an issue in the community repo.

[2022-10-18 17:56] #6338 closed

[2022-10-18 18:48] jpkrohling commented on #6245
Community issue created: https://github.com/open-telemetry/community/issues/1263

[2022-10-18 18:48] serkan-ozal commented on #6245
H, @jpkrohling @codeboten,
Yes all we ask is for you to create a Foresight account here (https://app.runforesight.com) and install our Github app (our UI will redirect you to Github page to install the app).

Our Github app can work at repo level by giving access only for particular repositories. So you don't need to give access to all repositories.

Then we are happy to create a PR to this repo f

[2022-10-18 19:02] codeboten commented on #6337
@mx-psi i agree consistency across core/contrib is important. The suggestion to move things to a plural directory would have an impact on contrib as well, the same work would need to be done there.

I opened a PR https://github.com/open-telemetry/opentelemetry-collector/pull/6343 to test using the `exporter` module separately once the other exporters are split out. @bogdandrutu i don't see the lin

[2022-10-18 19:13] jpkrohling commented on #6245
I don't think even maintainers have access to a repository's security settings, we need an org admin to set this up.

[2022-10-18 19:15] jpkrohling commented on #6194
Sure, but please wait for a resolution on #6337.

[2022-10-18 19:27] jpkrohling commented on #5712
Sure, I think it would be worth the exercise. I'm not convinced this would work seamlessly for some Linux distributions (like Fedora), as selinux would prevent containers from writing to the host's file system, but I might be wrong.

[2022-10-18 19:39] tigrannajaryan opened #6344 "Eliminate Host.ReportFatalError(), replace by Component Health Reporting"
## The Problem

Currently many components use Host.ReportFatalError() to indicate problems during the startup.

ReportFatalError() is called asynchronously after the component's Start() function returns.

Unfortunately this creates a problem for anyone who wants to know whether the Collector has started successfully or no. It is currently simply impossible to know. You may have a Collector that st

[2022-10-18 19:39] tigrannajaryan commented on #6344
@open-telemetry/collector-approvers @open-telemetry/collector-contrib-approvers please let me know what you think.

[2022-10-18 19:40] jpkrohling commented on #5781
I don't know yet if there's a way. Perhaps there is? It's worth spending some time thinking about it, or documenting why the solution is indeed to skip the check. For completeness, here's the line that causes the linter to skip the check: https://github.com/open-telemetry/opentelemetry-collector/blob/c157b128e9ff32ed06e2913e2afa83c9abbed9ba/cmd/builder/internal/builder/main.go#L93

[2022-10-18 19:40] tigrannajaryan commented on #6344
cc @portertech

[2022-10-18 19:47] #5680 closed

[2022-10-18 19:48] jpkrohling commented on #4747
Closing. If the messages are still being shown, please leave a comment here and I'll reopen this.

[2022-10-18 19:49] #4747 closed

[2022-10-18 20:45] bogdandrutu commented on #6337
More people saw that in the component I mentioned. So not sure what is your setup, I saw also that if you don't have latest golang compiler (>1.19) you don't see it.

[2022-10-18 20:49] tigrannajaryan commented on #6226
@bogdandrutu @codeboten Here is the proposed transition diagram, assuming we [get rid of ReportFatalError](https://github.com/open-telemetry/opentelemetry-collector/issues/6344):

![image](https://user-images.githubusercontent.com/4194920/196541532-c1251408-596b-4593-98e8-840fbe9a7b34.png)

cc @open-telemetry/collector-approvers

[2022-10-18 21:02] bogdandrutu commented on #6344
Does not work like that, "Start" is blocking call, so not sure how and when you decide to "return".

[2022-10-18 21:26] bogdandrutu commented on #6344
You should also look into https://github.com/open-telemetry/opentelemetry-collector/pull/5304, which you may have to implement and use an Extension for your use-case.

[2022-10-18 22:01] codeboten commented on #6337
So digging into this a bit further, I'm convinced that the errors are showing up because of the `makefile` using `find` to get a list of directories to inspect. I tested this as far as go 1.13 and it was showing an error even back then

[code]

This is the error under go 1.13:
[code]

I was able to reproduce the same warnings by copying over a snippet of the Makefile over from `contrib` and got th

[2022-10-18 22:23] bogdandrutu commented on #6337
So you think it is not a problem with that pattern. That is good to know.

[2022-10-18 22:39] ImDevinC opened #6348 "[exporter/prometheusremotewrite] Enabling WAL causes no metrics to be forwarded"
**Describe the bug**
When using the prometheusremotewrite exporter with the WAL enabled, no metrics are sent from the collector to the remote write destination.

**Steps to reproduce**
Using the config in the config section below can reproduce this error. Disabling the WAL section causes all metrics to be sent properly.

**What did you expect to see?**
Prometheus metrics should appear in the remot

[2022-10-18 22:41] ImDevinC commented on #6348
Wrong repo, moving to the -contrib repository

[2022-10-18 22:41] #6348 closed

[2022-10-18 22:47] gillg commented on #4242
Hi, I just randomly discovered that this change has been (probably not intentionaly) reverted when cmd/otelcol has been renamed cmd/otelcorcol

[2022-10-18 22:48] codeboten commented on #6337
That's my interpretation. I do think this uncovers a bug in `Makefile.common` here: https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/95b8b35989af11416194bbdd9c0a81fa6d8793a3/Makefile.Common#L36

If you look at the original commit, it was meant to find only the files for the current module:

But with submodules inside the same directory, it's getting more than what it's intend

[2022-10-18 23:31] jpkrohling commented on #6337
I have mixed feelings about the usage of plural vs. singular. Looking at the final package, I'd prefer it to use the singular mode (`exporter/otlphttpexporter`), but when browsing the code on GitHub, I would prefer to see "exporters/" instead.

In trying to find more authoritative opinions on this, I found this blog post from @rakyll: https://rakyll.org/style-packages/ . It could expand a bit on t

[2022-10-18 23:44] bogdandrutu opened #6350 "p[trace|metric|log]otlp.NewClient -> p[trace|metric|log]otlp.NewGRPCClient"
Part of the Client/Server rename we forgot to change the "New" func.

[2022-10-19 00:02] jpkrohling commented on #5169
It's yours

[2022-10-19 00:05] jpkrohling commented on #4311
Sure, but if you are interested in having this as part of an Outreachy application, note that this might be a bit too big for that.

[2022-10-19 00:19] jpkrohling commented on #6294
I'm also happier with the Helm style. I'm having trouble understanding when the problems 1/2/3 would occur. Do you have concrete examples in mind? Here's what I could guess:

Problem 1: `--set processors.attributes.headers.Header\.Dot=thevalue` (meaning, `Header.Dot` is the name of the key on a hypothetical `headers` map of the `attributes` processor)
Problem 2: I can't think of a case where the `

[2022-10-19 00:53] cpheps opened #6352 "Service state is not cleaned up when service errors on Start"
**Describe the bug**
Similar to #6238 if the `service.Start` call errors [here](https://github.com/open-telemetry/opentelemetry-collector/blob/main/service/collector.go#L151) it doesn't clean up any state. Mainly this doesn't clean up `telemetryInitializer` causing it to leave global state.

**What version did you use?**
Version: v0.62.0

**Environment**
OS: macOS 12.6
Compiler(if manually compile

[2022-10-19 08:21] gbbr commented on #6254
I laughed, but not sure what to make of your response. Are you ok with this proposal then? Can I fire up a PR? I'm happy to go with the `__from__` approach if you think the colon one is too cryptical or ambiguous.

[2022-10-19 08:27] ambition-consulting commented on #433
Wouldn't it be nice, if the collector could also receive metrics from browser clients, e.g. angular applications, and merge them across all clients? This way, we could better understand what's going on/wrong for our user's.

I understand this would require a shift in thinking, but for client/server architectures it would be worth the work.

[2022-10-19 14:42] bogdandrutu commented on #6254
@tigrannajaryan @codeboten @dmitryax @mx-psi any idea here?

[2022-10-19 15:00] tigrannajaryan commented on #6254
It is a bit hard to read the thread, I am not sure which ones are proposals and which ones are not. Can we put all proposals in a Google doc to allow commenting/comparison/editing?

I think we will want to:
- Ensure the syntax is a valid yaml
- Use "file" config provider one way or another, with "watch" semantics retained for included files
- Support hierarchical merge semantics, with well defined

[2022-10-19 16:35] shrutich91 opened #6353 "Unable to export to Jaeger from OTEL collector"
Describe your environment
I am using the following docker compose

Jaeger Docker:
docker run -d --name jaeger-all-in-one -p 16686:16686 -p 14250:14250 -p 14268:14268 jaegertracing/all-in-one

OTEL Collector Docker:
docker run --rm -it -p 4317:4317 -p 4318:4318 -v $(pwd)/examples/otlp:/cfg otel/opentelemetry-collector:0.59.0 --config=/cfg/opentelemetry-collector-config/config.dev.yaml

OTEL Collect

[2022-10-19 17:09] TylerHelmuth commented on #6320
As discussed in the SIG today, maybe [OTLP's partial success response](https://github.com/open-telemetry/opentelemetry-specification/blob/ac639af144fbb3875af921d5ba30ad04417564de/specification/protocol/otlp.md#partial-success) can help here.

[2022-10-19 17:20] bogdandrutu commented on #6337
The link you put is mostly about the final part of the package, the one that is usually used in code like `otlphttpexporter.NewFactory`. But I am ok with keeping it, as long as I can have a module `go.opentelemetry.io/collector/exporter` that is independent from `go.opentelemetry.io/collector/exporter/otlphttpexporter` and is golang accepted (no errors).

[2022-10-19 17:51] shrutich91 opened #6356 "Unable to export traces from collector to Jaeger"
Describe your environment
I am using the following docker compose

Jaeger Docker:
docker run -d --name jaeger-all-in-one -p 16686:16686 -p 14250:14250 -p 14268:14268 jaegertracing/all-in-one

OTEL Collector Docker:
docker run --rm -it -p 4317:4317 -p 4318:4318 -v $(pwd)/examples/otlp:/cfg otel/opentelemetry-collector:0.59.0 --config=/cfg/opentelemetry-collector-config/config.dev.yaml

OTEL Collect

[2022-10-19 17:56] shrutich91 opened #6357 "client has run out of available brokers while exporting from OTEL collector to kafka"
Describe your environment
I am using the following docker compose

Kafka Docker yml:

version: '3'
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.0.1
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  broker:
    image: confluentinc/cp-kafka:7.0.1
    container_name: broker
    ports:
    # To learn about configuring K

[2022-10-19 18:50] #6350 closed

[2022-10-19 19:09] tigrannajaryan commented on #6320
To clarify: for this to work we need to add "accepted" counter to the partial success response.

[2022-10-19 19:11] tigrannajaryan commented on #6344
Yes, I know "Start" is a blocking call. It must block until the server is up, i.e. it can listen on the port. It doesn't need to block after that and any error that happen after that do not need to be fatal errors.

I mean this:
[code]
There are some paths that http.Server.Serve() may still fail (e.g. HTTP/2 config) after Listen() is successful. We may need to check if it matters for our purposes.

[2022-10-19 19:43] jpkrohling commented on #6356
I believe this is a duplicate of https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/15291. Please reopen if this is not the case.

[2022-10-19 19:43] #6356 closed

[2022-10-19 19:52] jpkrohling commented on #4613
@bogdandrutu's comment makes sense to me.

[2022-10-19 21:07] bogdandrutu commented on #6344
So your proposal, is not necessary to remove the "ReportFatalError" but to try to report synchronously as many failures as possible, and we still need a "heath/status" channel.

[2022-10-19 21:15] bogdandrutu commented on #6294
See https://github.com/open-telemetry/opentelemetry-collector/blob/main/service/telemetry/config.go#L33. In the OTel resource we have lots of attributes with does.

Me nighter, but it is a limitation, so that's why I think we just need to document it and live with it.

`The configuration key separator inside the value part of the property is "::". For example --set "name={a::b: c}" is equivalent w

[2022-10-19 21:33] tigrannajaryan commented on #6344
Yes, exactly. I mean instead of ReportFatalError we should report "bad health". That's it.

[2022-10-19 22:58] tigrannajaryan commented on #6344
In some components, it may be useful to refactor the code to move certain parts that currently happen asynchronously after `Start()` returns to happen instead within `Start()` if we believe they are a critically necessary condition for starting the Collector. I don't know if such code exist, just speculating at the moment. Again, I believe vast majority of existing `ReportFatalError()` calls are b

[2022-10-20 00:17] bogdandrutu commented on #6337
@jpkrohling funny enough that golang official packages have couple of plurals like "strings" and "bytes" :)))

[2022-10-20 05:06] bogdandrutu commented on #6254
@gbbr I think it is important to look into the YAML anchors first, though never used them so not sure if they work.

Also, I agree we should maybe put this into a Google doc or a one comment with all the options discussed and the proposed suggestion

[2022-10-20 06:35] gbbr commented on #6254
Anchors and aliases solve my problem. As far as my specific problem is concerned, I think that the issue is resolved. I was not aware it is possible to use these with the collector. Thank you for the guidance @tigrannajaryan and @bogdandrutu for the support.

Closing.

[2022-10-20 06:35] #6254 closed

[2022-10-20 09:52] danielgblanco commented on #5572
What is the expected behaviour for incoming requests containing a trace context when the `batch` processor is used in a pipeline? As with the `k8sattributes` processor (which uses `Context`), I assume this influences the context used in any component after the `batch` processor? Or is the span created on `ExportRequest` always the root span of a new trace?

[2022-10-20 10:05] danielgblanco commented on #5572
https://github.com/open-telemetry/opentelemetry-collector/blob/bb193a24d0a968027ad48c397899ae3688165756/obsreport/obsreport_exporter.go#L102 would mean that it picks up the current context. I assume this will not have an active span context after the `batch` processor so a new trace is started?

[2022-10-20 13:35] tigrannajaryan commented on #6254
It is good that the particular use case is solved. Regardless I believe the ability to include files can still be very useful. When we have more capacity we can probably work on it.

[2022-10-20 15:03] pavankrish123 commented on #5572
The ExportRequests are always the root span. I don't think the incoming requests contexts can be preserved as you rightly called out.

[2022-10-20 15:42] umgbhalla opened #6363 "Transient error StatusCode.UNAVAILABLE encountered while exporting span batch"
**Describe the bug**
I have noticed an issue on opentelemetry http collector port , that it gives StatusCode.UNAVAILABLE when sending traces

**Steps to reproduce**
Setup docker compose or k8s setup for opentemetry collector , ( i have confirmed this on both k8s and docker compose ) and use [this](https://github.com/SigNoz/sample-reactjs-app) repo to produce traces, (edit ./src/helpers/tracing/ind

[2022-10-20 17:00] bogdandrutu commented on #6168
Done :)

[2022-10-20 17:00] #6168 closed

[2022-10-20 17:16] bogdandrutu opened #6365 "p[trace|metric|log]otlp.Response and p[trace|metric|log]otlp.Request do not follow naming convention"
Should they be named "Export[Logs|Metrics|Trace]ServiceRequest"?

/cc @dmitryax

[2022-10-20 17:27] bogdandrutu commented on #6365
Another option is to drop the prefix `Export[]`, if we do that we should remove it from `Export[Logs|Metrics|Traces]PartialSuccess`

[2022-10-20 17:27] #5816 closed

[2022-10-20 17:27] #5815 closed

[2022-10-20 17:46] dmitryax commented on #6365
`Export[Logs|Metrics|Trace]ServiceRequest` maybe seemed like unnecessary long, so we potentially can add it to the exception list, but I think `Export` part is important enough to keep.

Given that these structs are used pretty rarely, I'd rather follow the guidelines here and apply the full name. WDYT?

[2022-10-20 17:47] jpkrohling commented on #6294
Thanks, it's clear now. I'm fine to live with those limitations.

[2022-10-20 17:48] dmitryax commented on #6365
or maybe `p[trace|metric|log]otlp.Export[Request|Response]` and `p[trace|metric|log]otlp.ExportPartialSuccess`?

[2022-10-20 17:48] jpkrohling commented on #6337
Yeah, that was mentioned in a few of the blog posts I read as well, with the reasoning that the singular versions are reserved keywords.

[2022-10-20 18:38] bogdandrutu commented on #6365
I like the idea of dropping the data type from the name, since it is in the package name anyway. So I think we can add that as a guidance that, when the data type is in the name and does not provide value (like `ResourceLogs`) we should drop it.

So, we will have:

`p[trace|metric|log]otlp.ExportService[Request|Response]`
`p[trace|metric|log]otlp.ExportPartialSuccess`

[2022-10-20 19:33] dmitryax commented on #6365
Makes sense, but I'm a bit unsure about `ExportService[Request|Response] `. It sounds a bit confusing comparing to `Export[Request|Response]`. Not sure why `ExportMetricsServiceRequest` message was introduced in proto, I believe it should be `ExportRequest` based on examples from https://developers.google.com/protocol-buffers/docs/proto3#services

[2022-10-20 19:52] bogdandrutu commented on #6365
You should also post this on the proto repo. I think you are right.

[2022-10-20 21:31] tigrannajaryan commented on #6226
I agree with not restoring the "last known good config". But do we need to exit? We can keep trying to Start() (maybe it is a transient error) and we can keep waiting for a new config. In the meantime if the confmap.Provider is using OpAMP it can report that something bad happened and the operator can intervene.

Also, independently from the above, one more thing: you said restoring the last confi

[2022-10-21 06:14] Chinwendu20 commented on #4613
Okay, thank you. I will work on this issue

[2022-10-21 11:18] swiatekm-sumo commented on #6226
It's not exactly the same thing, but it's definitely normal to halt the rollout of a bad config change, and most orchestrators will do so automatically. The end result of that is that we have the old config live even though a new one was rolled out, which is what we're talking about here.

I think the argument for making this optional is right though, as the user will typically want their orchestr

[2022-10-22 10:11] lesovsky opened #6373 "Docker scratch container failed to start with collecor built by ocb tool"
**Describe the bug**
Container with collector (built with ocb) and based on `scratch` is failed to start with error: `exec /otelcol: no such file or directory`.

**Steps to reproduce**
Prepare builder.yaml config for `ocb`:
[code]

Build the collector
[code]

Also put otel-collector from this repo into ./build directory.

Check both binaries, it works:
[code]

Prepare Dockerfile (puth both binarie