[2020-07-07 21:32] jrcamp opened #1279 "Batch processor performance issues"
**Describe the bug**
When running the testbed with the SignalFx receiver/exporter and using batch the performance is reduced by ~20%.

pprof output shows batch is taking 25% of total execution time:

[code]

**Steps to reproduce**
Run testbed and compare throughput of batch enabled vs not.

**What did you expect to see?**
Batch improving performance.

**What did you see instead?**
Batch hampering

[2020-07-07 22:50] bogdandrutu commented on #1279
My best guess is that the batch processor uses the new data model, and because of that it does 2 transformations between "oc -> otlp -> oc"

[2020-07-07 22:50] owais opened #1281 "Bug report for failed CircleCI build (job: loadtest)"
Auto-generated report for `loadtest` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/11280

#### Test Failures
-  TestTraceNoBackend10kSPS
-  TestTraceNoBackend10kSPS/JaegerGRPC/NoMemoryLimit

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-07-07 23:28] #1246 closed

[2020-07-07 23:33] bogdandrutu commented on #1239
@reyang I think there are some engagement :) Can you answer this?

[2020-07-07 23:37] owais commented on #1235
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/11330

#### Test Failures
-  TestCreateMetricReceiver
-  TestCreateMetricReceiver/default

[2020-07-08 00:00] reyang commented on #1239
Thanks @bogdandrutu.

@atrauzzi Short answer: no.

Long answer: currently there is no official investment from Microsoft on the AzureMonitor Golang Exporter for OpenTelemetry Collector. @pcwiese has a side project [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/master/exporter/azuremonitorexporter), it is not officially contributed/supported by Azure.

[2020-07-08 00:33] atrauzzi commented on #1239
@reyang - I'm not looking to export from golang?

[2020-07-08 01:02] reyang commented on #1239
OpenTelemetry Collector is using golang, which covers the exporters. That's what I was referring to.

We will need @ank3it to clarify here.

[2020-07-08 02:43] james-bebbington commented on #1279
I think it will be even worse than that as it looks like the batch processor creates a [batch of ResourceMetricsSlice objects](https://github.com/open-telemetry/opentelemetry-collector/blob/master/processor/batchprocessor/batch_processor.go#L328), which are then actually [unbatched by the OT -> OC converter](https://github.com/open-telemetry/opentelemetry-collector/blob/8aa273184455591cad278c92c7c

[2020-07-08 03:06] owais commented on #1235
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/11472

#### Test Failures
-  TestEnsureRecordedMetrics

[2020-07-08 04:00] nilebox opened #1287 "Update to Thrift v0.13.0 (fix scribe-go)"
**Is your feature request related to a problem? Please describe.**
Updating to the latest core fails due to a breaking change in Thrift v0.13.0:
[code]

Go types in https://github.com/Omnition/scribe-go were generated using old Thrift binaries (v0.9.3).

**Describe the solution you'd like**
Update `scribe-go` to Thrift v0.13.0 to unblock the update, and update its dependency in this repo.

**Descr

[2020-07-08 04:01] nilebox commented on #1287
Wrong repo, moved to https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/409

[2020-07-08 04:01] #1287 closed

[2020-07-08 08:06] rakyll opened #1289 "Reduce the indirection to create a component"
The codebase contains a lot of interfaces, factories, and intermediate helpers such as factory maps. It adds a lot of indirection and unfortunately makes the code very to read, debug and maintain. To give an example,

Exporters component introduces 5 interfaces:
type Exporter
type ExporterCreateParams
type ExporterFactory
type ExporterFactoryBase
type ExporterFactoryOld

The configuration needs th

[2020-07-08 08:16] rakyll commented on #1289
Btw, I just realized these interfaces doesn't help you to implement anything yet! You need 3 more (depending on the type of exporter you are implementing) to actually start implementing an exporter. For example, for metrics:

type MetricsExporter
type MetricsExporterBase
type MetricsExporterOld

It's really hard to figure out where to start and the level of interface composition is making it harde

[2020-07-08 08:20] rakyll opened #1290 "Don't export example configs"
The collector/config package exports a lot of example types to be used in tests. These types shouldn't be exported to the user-visible packages. See https://pkg.go.dev/go.opentelemetry.io/collector/config/?tab=doc#ExampleExporterConsumer.

[2020-07-08 08:27] rakyll commented on #1289
I just realized there is more. The service/builder package also introduces more types to build exporters. https://pkg.go.dev/go.opentelemetry.io/collector/service/builder/?tab=doc#pkg-index

type Exporters
type ExportersBuilder

These types are also probably adding up to the mental overhead and boilerplate.

[2020-07-08 11:50] atrauzzi commented on #1239
The impression that I have right now is that Microsoft will create an otel exporter for monitor in the collector project...

[2020-07-08 14:49] tigrannajaryan commented on #1289
We need to be careful with these changes since they are publicly exported interfaces and changes will break other people's code (custom components). `Old` variations are scheduled to be removed once the transition to new data types is completed (traces are current done, metrics are waiting for opentelemetry-proto to be finalized).

[2020-07-08 15:04] bogdandrutu commented on #1290
We want to use these in some tests, do you recommend renaming? Or just moving them to a different package?

[2020-07-08 16:25] owais commented on #1235
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/11700

#### Test Failures
-  TestApplication_GetExporters

[2020-07-08 17:15] pcwiese commented on #1239
As @reyang says there is no official support from Microsoft right now, but I do hope that changes. There is a reworked implementation of the exporter waiting for merge in the contrib repo:
https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/380

[2020-07-08 17:29] rakyll commented on #1290
Moving them would be the best, naming them as Test* types would be second option if moving is not possible. I was trying to move them to another package two weeks ago but I hit some hard-to-deal circular import cases. Having said that, I haven't spent too much on it and if moving is possible, that'd be the best.

[2020-07-08 23:23] jrcamp commented on #1279
Did a little bit more testing. The interesting thing is that sending 6M with batching on and batching off uses around the same amount of CPU (~26% of a c4.2xlarge). I played with the batch size (up and down) but didn't see any difference. However with batching on I can't get throughput to ever go more than 6M.

So I think the limiting factor isn't that it's doing extra processing work but that it'

[2020-07-09 02:12] owais commented on #1247
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/11794

[2020-07-09 05:20] huyan0 commented on #1150
I am working on this issue.

[2020-07-09 05:53] alolita commented on #1150
HI @jmacd thanks for the offer :-) Two of our intern engineers @huyan0 and @erichsueh3 (in the process of gaining membership) are working with me on this Prometheus read/write exporter. Please assign us - @alolita @huyan0 to this issue. Many thanks!

[2020-07-09 06:09] dmitryax opened #1303 "Migrate Zipkin receiver to the new OTLP-based internal data model"
**Is your feature request related to a problem? Please describe.**
Zipkin receiver uses old OpenCensus data model which causes unnecessary translation: internal data Zipkin -> OC -> internal data model.

**Describe the solution you'd like**
Zipkin receiver should use OTLP-based internal data model (consumer/pdata/trace.go) instead of OC.

[2020-07-09 06:09] dmitryax opened #1304 "Migrate Zipkin exporter to the new OTLP-based internal data model"
**Is your feature request related to a problem? Please describe.**
Zipkin exporter uses old OpenCensus data model which causes unnecessary translation: internal data model -> OC -> Zipkin.

**Describe the solution you'd like**
Zipkin exporter should use OTLP-based internal data model (consumer/pdata/trace.go) instead of OC.

[2020-07-09 06:18] dmitryax opened #1305 "Migrate Probabilistic Sampling Processor to the new OTLP-based internal data model"
**Is your feature request related to a problem? Please describe.**
Migrate Probabilistic Sampling Processor uses old OpenCensus data model which causes unnecessary translations to OC format.

**Describe the solution you'd like**
Migrate Probabilistic Sampling Processor should use OTLP-based internal data model (consumer/pdata/trace.go) instead of OC.

[2020-07-09 06:18] dmitryax opened #1306 "Migrate Tail Sampling Processor to the new OTLP-based internal data model"
**Is your feature request related to a problem? Please describe.**
Tail Sampling Processor uses old OpenCensus data model which causes unnecessary translations to OC format.

**Describe the solution you'd like**
Tail Sampling Processor should use OTLP-based internal data model (consumer/pdata/trace.go) instead of OC.

[2020-07-09 06:20] dmitryax opened #1307 "Migrate Resource Processor to the new OTLP-based internal data model"
**Is your feature request related to a problem? Please describe.**
Resource Processor uses old OpenCensus data model which causes unnecessary translations to OC format.

**Describe the solution you'd like**
Resource Processor should use OTLP-based internal data model (consumer/pdata/trace.go) instead of OC.

[2020-07-09 07:55] jpkrohling opened #1309 "Processor that waits for a trace to be completed"
**Is your feature request related to a problem? Please describe.**
Currently, there's no native way to write processors to act on entire traces, making it hard to take actions based on the whole trace. The tail-based sampling processor has the need for this feature, keeping traces in a map in memory (see references). Any other processor needing to do trace-based decisions would have to implement s

[2020-07-09 12:49] kbrockhoff commented on #1260
Based on feature requests for load balancing, sharding and multi-tenency that periodically come up, Map and MapReduce capabilities will eventually need to be added to pipeline processing. My concern is the amount of work-in-progress we already have. The focus needs to be getting WIP items to GA. Any of these feature requirements can be met in an inefficient manner by chaining more clusters of coll

[2020-07-09 12:58] jpkrohling commented on #1260
True, but perhaps we can come up with the design for what we want in the future. Otherwise, we'll need a major new version to introduce a feature that introduces breaking changes to the configuration.

[2020-07-09 13:28] vikrambe commented on #1306
@dmitryax i can chime in here

[2020-07-09 14:56] vikrambe commented on #1305
@dmitryax i can take this

[2020-07-09 15:26] bogdandrutu commented on #1279
Did you have the queue retry processor enabled with 8 or num cores workers?

[2020-07-09 16:10] jrcamp commented on #1279
Are you referring to https://github.com/open-telemetry/opentelemetry-collector/tree/master/processor/queuedprocessor? It doesn't support metrics.

[2020-07-09 17:51] jrcamp commented on #1027
@tigrannajaryan this is done, please close if you agree (I don't have perms)

[2020-07-09 17:55] bogdandrutu commented on #1279
Ok, that should be a P0. Will give a try today

[2020-07-09 18:33] atrauzzi commented on #1239
Really hoping that comes together.  I'm sure I won't be alone in saying it would be very obtuse to take a vendor specific dependency in application code to use a vendor agnostic protocol.  LOL!

[2020-07-09 19:33] dmitryax commented on #1305
@vikrambe thanks!

[2020-07-09 19:34] dmitryax commented on #1306
Thanks!

[2020-07-09 21:48] dmitryax commented on #1304
@kbrockhoff is working this

[2020-07-09 21:48] dmitryax commented on #1303
@kbrockhoff is working this

[2020-07-10 06:50] #1029 closed

[2020-07-10 06:56] owais commented on #1281
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/12204

#### Test Failures
-  TestTraceNoBackend10kSPS
-  TestTraceNoBackend10kSPS/JaegerGRPC/NoMemoryLimit

[2020-07-10 13:44] hairyhenderson opened #1317 "Broken dev image - binary has no execute bit set"
**Describe the bug**

The current `otel/opentelemetry-collector-dev:latest` Docker image seems to not have the `x` bit set on the `/otelcol` binary.

Here's how I discovered that - if I copy the binary out of the container, it lacks the execute bit:

[code]

**Steps to reproduce**

[code]

**What did you expect to see?**

The `otelcol` binary should run in the container.

**What did you see instea

[2020-07-10 13:45] palacerteupgrade commented on #592
thanks for fixing @flands ! I spent some time to debug this when I deployed 0.3.0

[2020-07-10 16:35] jmacd commented on #1263
See https://github.com/open-telemetry/opentelemetry-specification/pull/657, which aims to specify conventions for this kind of processor.

[2020-07-10 16:36] jmacd commented on #1192
I wonder what we expect to happen when an OTLP request fails. IMO the correct thing to do would be to buffer the data and aggregate it with new data while waiting for a successful export. This would require new processor support, I guess.

[2020-07-10 16:46] #990 closed

[2020-07-10 18:21] bogdandrutu commented on #1317
@james-bebbington you were the last to touch the main function :)

[2020-07-10 19:12] #93 closed

[2020-07-10 19:12] #1181 closed

[2020-07-10 19:28] hairyhenderson commented on #1317
This is a bit strange actually - if I run `make docker-otelcol` locally, the image contains an executable binary. The only cause I can think of is if the image was built from a filesystem where the execute bit wasn't preserved. But it seems to be built in CircleCI, in a Linux VM...

[2020-07-10 20:04] ephemeral opened #1319 "Example configs should use the endpoint value for the Zipkin exporter"
Example configs should use the endpoint value for the Zipkin exporter

**What version did you use?**
Version:  0.5.0

[2020-07-10 20:33] hairyhenderson commented on #1317
I've issued a PR that fixes this in #1321

[2020-07-10 21:12] #1317 closed

[2020-07-10 21:13] bogdandrutu commented on #1317
@hairyhenderson thank you so much

[2020-07-10 21:13] hairyhenderson commented on #1317
You're very welcome!

[2020-07-11 19:46] #1319 closed

[2020-07-12 02:33] #1307 closed

[2020-07-12 02:40] owais commented on #1281
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/12800

#### Test Failures
-  TestTraceNoBackend10kSPS
-  TestTraceNoBackend10kSPS/JaegerGRPC/NoMemoryLimit

[2020-07-12 14:46] #1281 closed

[2020-07-12 15:20] bogdandrutu commented on #1279
@jrcamp is this issue resolved after the queued retry processor PR? I think you mentioned that it solved the issue

[2020-07-13 00:21] owais commented on #1247
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/12878

[2020-07-13 00:51] bogdandrutu commented on #1256
@jmacd can you please tell me if all protocols are enabled or you still want user to configure which protocols to enable?

[2020-07-13 13:27] jpkrohling commented on #1192
What are the current failure conditions? Is it only about networking? Can a request failed due to bad data? We don't want data to live in the pipeline forever because they can't move forward for some reason :-)

[2020-07-13 14:58] #958 closed

[2020-07-13 15:01] bogdandrutu commented on #1180
@dmitryax merged a PR that fixes this.

[2020-07-13 15:01] #1180 closed

[2020-07-13 15:04] #1103 closed

[2020-07-13 15:06] #931 closed

[2020-07-13 15:08] #847 closed

[2020-07-13 15:09] #916 closed

[2020-07-13 15:12] #225 closed

[2020-07-13 15:13] #815 closed

[2020-07-13 15:22] #655 closed

[2020-07-13 15:29] #297 closed

[2020-07-13 15:30] #370 closed

[2020-07-13 15:38] pavolloffay opened #1331 "Kafka receiver and exporter"
**Is your feature request related to a problem? Please describe.**

Use Kafka as an intermediary buffer between collectors and exporter to an actual storage/vendor.

This issue is a possible duplicate of https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/268  and https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/5.

Should be Kafka supported in the cont

[2020-07-13 19:36] #1070 closed

[2020-07-13 21:57] bogdandrutu commented on #1303
@kbrockhoff do you mind applying to be a member of the opentelemetry community? https://github.com/open-telemetry/community/blob/master/community-membership.md#member :)

[2020-07-13 22:00] bogdandrutu commented on #1138
@kbrockhoff  can I close this? Is this still a problem?

[2020-07-13 22:00] bogdandrutu commented on #1137
@kbrockhoff can I close this? Is this still a problem?

[2020-07-13 22:01] bogdandrutu commented on #1125
@james-bebbington is this resolved? If yes please close the issue.

[2020-07-13 22:01] bogdandrutu commented on #1123
@kbrockhoff  is this resolved?

[2020-07-13 22:04] bogdandrutu commented on #1160
@pavolloffay please help us identify if this is on our side or jaeger side :)

[2020-07-13 22:07] bogdandrutu commented on #1041
Sorry that I missed it, yes please make a PR to add the necessary config in the `GRPCClientSettings`

[2020-07-13 22:12] bogdandrutu commented on #1020
@pmm-sumo I think https://github.com/open-telemetry/opentelemetry-collector/pull/1310 fixes this.

I will close this as a duplicate of https://github.com/open-telemetry/opentelemetry-collector/issues/1140, if you think you need a bit more than https://github.com/open-telemetry/opentelemetry-collector/issues/1140 please comment there.

[2020-07-13 22:12] #1020 closed

[2020-07-13 22:14] bogdandrutu commented on #979
@ccaraman can you please extract your new proposal and comments from @jrcamp to a new "feature request" to enhance the filter config and close this bug?

[2020-07-13 22:23] ccaraman commented on #979
To wrap up this issue - regex support is in the attributes processor. The follow up questions around supporting new data types for the processor and coming up with a more comprehensive configuration is tracked by #1170

[2020-07-13 22:23] #979 closed

[2020-07-13 22:24] ccaraman commented on #1170
@tigrannajaryan - there is work to be done with this issue - I'll be adding some of the examples of what the configuration could look like that would have a richer feature set.

[2020-07-13 22:25] ccaraman commented on #1170
Ex of a configuration entry that would better work for maps  See https://github.com/open-telemetry/opentelemetry-collector/issues/979#issuecomment-643505734 for full context
[code]

[2020-07-13 22:26] ccaraman commented on #1170
Or separating action and operations into two different concepts from comment https://github.com/open-telemetry/opentelemetry-collector/pull/981/files#r426882973
[code]

[2020-07-13 22:27] bogdandrutu commented on #1331
@pavolloffay definitely we can host this, some questions:

* One of the issue mentioned to support Jaeger Kafka, I think you are asking for OTLP Kafka, am I correct?
* How many dependencies do we bring if we put this in core? Just a rough estimate based on your experience.

[2020-07-13 22:50] bogdandrutu commented on #1239
@atrauzzi @reyang moving this issue to contrib, because if available it will be in contrib not here :)

[2020-07-13 22:55] bogdandrutu commented on #1122
@kbrockhoff the max message size can be configured https://github.com/open-telemetry/opentelemetry-collector/blob/master/config/configgrpc/configgrpc.go#L122 to a larger value if the intent is to support larger batches.

I think this works as expected, gRPC otlp receiver respects the config. I would close this issue but feel free to reopen or start a new issue if this config is not enough.

[2020-07-13 22:55] #1122 closed

[2020-07-13 22:55] bogdandrutu commented on #141
I think this is covered by the transition to the new obsreport package.

[2020-07-13 22:55] #141 closed

[2020-07-13 22:56] bogdandrutu commented on #154
vmmetrics is removed. we need to cleanup the internal/collector/telemetry as a separate bug

[2020-07-13 22:56] #154 closed

[2020-07-13 23:23] #266 closed

[2020-07-14 03:33] #261 closed

[2020-07-14 07:27] james-bebbington commented on #1317
My best guess is that this somehow broke because we now have a Windows executor sharing a workspace with the Linux VMs and it does something weird with the permissions.

Thanks for the fix! :)

[2020-07-14 07:56] pavolloffay commented on #1160
I will have a look at a first glance it looks like data translation issue.

[2020-07-14 09:45] pavolloffay commented on #1160
I wasn't able to reproduce this with https://github.com/open-telemetry/opentelemetry-go/blob/master/example/basic/main.go#L68 and

[code]

The wasn't any error log in Jaeger. However the service name was set to an empty string which does not work properly with Jaeger UI.

[2020-07-14 09:54] pavolloffay commented on #1160
I got the error, it happens when the `process` object in a span is `nil`.

[code]

This has been fixed in https://github.com/open-telemetry/opentelemetry-collector/pull/1222

This issue can be closed.

[2020-07-14 09:57] pavolloffay commented on #1160
@nicks the #1222 hasn't been released yet but you can use it with the `latest` tag from `otel/opentelemetry-collector-dev`

[code]

[2020-07-14 09:59] #1125 closed

[2020-07-14 12:04] kbrockhoff commented on #1303
I will do that

[2020-07-14 12:17] kbrockhoff commented on #1138
This is still an issue. Plan on fixing this at the same time as #1303 and #1304

[2020-07-14 12:18] kbrockhoff commented on #1137
This is fixed

[2020-07-14 12:20] #1137 closed

[2020-07-14 13:05] pavolloffay commented on #1331
Primarily we should support OTLP in this repository. However supporting additional formats that are already imported (Jaeger, Zipkin) in this project could help users with migration.

It depends on the chosen Kafka client. There are a couple of options:

* https://github.com/Shopify/sarama (used by Jaeger with deprecated https://github.com/bsm/sarama-cluster and supported alternative with some iss

[2020-07-14 13:08] pavolloffay commented on #1331
From the number of 3rd party dependencies the https://github.com/segmentio/kafka-go/blob/master/go.mod seems to be better than https://github.com/Shopify/sarama/blob/master/go.mod

[2020-07-14 13:12] pavolloffay commented on #1331
The kafka-go does not support GSSAPI/Kerberos https://github.com/segmentio/kafka-go/issues/237 (though, we could contribute it)

[2020-07-14 14:10] tigrannajaryan opened #1344 "OTLP/HTTP receiver does not support gzip"
**Describe the bug**
OTLP/HTTP receiver does not support gzip encoding.

**Steps to reproduce**
1. Setup Collector with otlp receiver.
2. Send OTLP/HTTP request with “Content-Encoding: gzip” request header and gzipped content.

**What did you expect to see?**
Request is accepted.

**What did you see instead?**
400 Bad Requdst response.

**What version did you use?**
v0.5.0

[2020-07-14 15:04] #1140 closed

[2020-07-14 16:14] jmacd opened #1346 "Generated pdata code should create interfaces"
**Is your feature request related to a problem? Please describe.**

I've been working to answer a performance question about OTLP in the collector, specifically w.r.t. metrics. I have run Tigran's benchmarks and confirmed the expected performance of the change in open-telemetry/opentelemetry-proto#162. It's behaving as expected: slightly higher overhead and slightly higher memory usage, which leav

[2020-07-14 16:18] #579 closed

[2020-07-14 17:27] yurishkuro commented on #1331
@pavolloffay we've had some issue with sarama when partition rebalancing happens (you may recall the "deadlock detector"). But we're not on the latest version and should consider upgrading. I don't have any experience with sementio or confluence drivers. The latter, as you said, requires cgo, which we so far tried to avoid.

[2020-07-14 17:33] bogdandrutu commented on #1346
If we are getting to the discussion of prioritizing semantics, probably we should use oneof where we need, rather than having logical definitions for that.

[2020-07-14 17:57] bogdandrutu commented on #1346
@jmacd also we will deal with interface or concrete types internally in the collector once the protocol is stable. I don't think the way how we generate the internal format should be influencing the protocol.

[2020-07-14 19:18] owais opened #1354 "Bug report for failed CircleCI build (job: test)"
Auto-generated report for `test` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/13988

#### Test Failures
-  TestExportSpanLinkingMaintainsParentLink

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-07-14 21:12] #671 closed

[2020-07-14 21:46] tannaga commented on #1344
Coincidently i was checking for the same thing today.

[2020-07-14 22:50] hairyhenderson commented on #1317
Ah - if Windows is running some of the builds, that totally explains it!

[2020-07-15 01:15] fbogsany opened #1357 "OTLP/HTTP receiver does not respond with google.rpc.Status on 400"
**Describe the bug**
The OTLP/HTTP OTEP states:

The collector's HTTP 400 response does not appear to contain a Protobuf-encoded google.rpc.Status message. The response body *is* Protobuf-encoded, but I can't tell what type it is.

**Steps to reproduce**
This was discovered while debugging #1344, so these steps only work with that bug present:

1. Setup Collector with otlp receiver.
2. Send OTLP/H

[2020-07-15 01:23] fbogsany commented on #1357
Digging into the gRPC Gateway code, it looks like this is actually an [`internal.Error` type](https://github.com/grpc-ecosystem/grpc-gateway/blob/96ddd6c6fc6bb0ba4b8eda777a18208c46743b7b/internal/errors.proto#L7-L16) that aims to be compatible at the interface level with [`google.rpc.Status`](https://github.com/grpc/grpc/blob/master/src/proto/grpc/status/status.proto), but is not compatible at the

[2020-07-15 01:28] fbogsany commented on #1357
The fix is likely to pass a custom error handler to `NewServeMux` https://github.com/open-telemetry/opentelemetry-collector/blob/2ba9cdcc2b3c7f45288c1152b97e9ec64b9d6706/receiver/otlpreceiver/otlp.go#L65-L67 using [`gatewayruntime.WithProtoErrorHandler`](https://github.com/grpc-ecosystem/grpc-gateway/blob/d0f0d9d1a070ba64769d71d3c7f1e1a52d463e83/runtime/mux.go#L114-L123).

[2020-07-15 05:01] nilebox opened #1358 "Support "propagating" metric labels to resource attributes via processor config"
**Is your feature request related to a problem? Please describe.**
I have a concrete use case where I need to do the following:
1. Prometheus receiver is configured to inject Pod's namespace and name into collected metrics:
[code]
2. I need to transform these two labels into resource attributes as defined in https://github.com/open-telemetry/opentelemetry-collector/blob/2ba9cdcc2b3c7f45288c1152b97

[2020-07-15 07:24] james-bebbington commented on #1240
@bogdandrutu I think you can close this now

[2020-07-15 09:35] objectiser commented on #1331
Maybe the best option is to stick with sarama for now (as a known quantity). Sarama "currently officially support .... Kafka 2.3 through 2.5" whereas sementio/kafka-go "is currently compatible with Kafka versions from 0.10.1.0 to 2.1.0".

Although both would probably work fine with latest Kafka, it seems to suggest sarama is more closely tracking the Kafka releases.

[2020-07-15 09:52] pavolloffay commented on #1331
I am also more leaning toward  sarama since it supports also Kerberos.

[2020-07-15 10:19] jpkrohling commented on #1309
@objectiser suggested a better name: "group by trace" processor, instead of "wait for trace". This is the name I ended up going with.

[2020-07-15 11:26] yue9944882 commented on #1309
@jpkrohling i think new processor is valuable for tracing [kubernetes operators](https://kubernetes.io/docs/concepts/extend-kubernetes/operator/).. especially for the use-cases where multiple operator reconciles hierarchically.. properly grouping the traces will help visualizing the operators' work-flow

[2020-07-15 12:58] obecny opened #1363 "AnyValue"
**Steps to reproduce**
1. Get latest version for example `71392e5d543eca6e895d852c9bad122b18ae7b23`
2. Try to send span with attributes converted to latest proto format using AnyValue for example
[code]

**What did you expect to see?**
I expect to see the span in zipkin

**What did you see instead?**
1. For grpc it works fine
2. For json over http it doesn't
3. For proto over http it doesn't

**Wh

[2020-07-15 16:08] lizthegrey opened #1366 "ftbfs: google.golang.org/grpc/naming does not exist"
**Describe the bug**
`go.opentelemetry.io/collector/receiver/prometheusreceiver` has a broken dependency that prevents building

**Steps to reproduce**
Run `go mod tidy` in a package that imports collector/config/configcheck.test

**What did you expect to see?**
No error

**What did you see instead?**
[code]

**What version did you use?**
`v0.6.0`

**What config did you use?**
n/a

**Environment**

[2020-07-15 16:15] lizthegrey commented on #1366
Looks like the problem is `github.com/prometheus/prometheus v1.8.2-0.20190924101040-52e0504f83ea` dependency, which should get updated to something newer.

[2020-07-15 16:33] #1149 closed

[2020-07-15 16:40] lizthegrey opened #1368 "Re-tagging releases considered harmful"
**Describe the bug**
v0.6.0 has already been cached by Google; re-releasing it at a different commit will cause go.sum errors. Suggest releasing v0.6.1 instead

**Steps to reproduce**
`go get -u` with go module proxy will fail

**What did you expect to see?**
Clean fetch

**What did you see instead?**
Failing fetch due to go module proxy rejecting the checksum

**What version did you use?**
v0.6.0

[2020-07-15 16:52] lizthegrey commented on #1368
Looks like you pushed a second release in github but didn't change the tag. disregard.

[2020-07-15 16:52] #1368 closed

[2020-07-15 17:06] lizthegrey commented on #1366
Duplicate of #1124.

[2020-07-15 17:16] owais opened #1369 "Unify bin and dist in release workflow"
Unify bin and dist directories again in CI workflow but persist individual files instead of entire directories to avoid CI workspace filesystem conflicts.

[2020-07-15 17:27] lizthegrey commented on #1366
There's a workaround: adding an explicit dep in downstream go.mod for
[code]

[2020-07-15 19:24] #1041 closed

[2020-07-15 19:45] #1366 closed

[2020-07-16 12:23] jpkrohling commented on #1192
I believe this should be fixed for the next beta, or at the latest for GA.

cc @tigrannajaryan

[2020-07-16 15:15] jrcamp opened #1380 "Define role to ensure bug reports, PRs, etc. are handled in a timely manner"
As the project grows we need a process to make sure things don't fall through the cracks. We need to define a role that will:

* Monitor Gitter and respond or delegate for someone to respond
* Assign any unassigned PRs or issues to the appropriate party
* Ensure a release is cut on Tuesday if it is a release week
* Ensure Collector milestone is up-to-date (both adding and removing items)
* Ensure

[2020-07-16 15:15] jrcamp commented on #1380
(please assign to me)

[2020-07-16 17:17] lizthegrey commented on #1380
Related to https://github.com/open-telemetry/community/pull/357

[2020-07-16 20:15] obecny opened #1383 "cors_allowed_origins doesn't work for http"
**Describe the bug**
Created a configuration like here for localhost
https://github.com/open-telemetry/opentelemetry-collector/tree/master/receiver/otlpreceiver#writing-with-httpjson
But still cors doesn't work in browser

**What did you expect to see?**
I expected to see at least something like this
[code]
Also Access-Control-Allow-Headers should contain all requested headers -

**What did you se

[2020-07-16 20:17] obecny commented on #1363
WIth latest docker 0.6.0. (just released) and changes in configuration I was able to test this correctly;

[2020-07-16 20:17] #1363 closed

[2020-07-16 21:53] stevencl1013 opened #1385 "Span Attributes are Null"
**Describe the bug**
Span attributes are null

**Steps to reproduce**
Send spans with attributes. I used an example similar to the [http example](https://github.com/open-telemetry/opentelemetry-go/tree/master/example/http) in the `opentelemetry-go` repo, except I'm using the `otlp` exporter pointing at my collector.

**What did you expect to see?**
I expect to see values for each of my span attrib

[2020-07-16 22:00] stevencl1013 commented on #1385
@tigrannajaryan

[2020-07-17 01:46] bogdandrutu commented on #1383
Can you try `https://localhost`

[2020-07-17 15:45] jrcamp opened #1391 "Enhance CONTRIBUTING.md for component type best practices"
We have https://github.com/open-telemetry/opentelemetry-collector/blob/master/CONTRIBUTING.md#coding-guidelines which has some generic advice. We should also formalize best-practices for the various component types (receiver, processors, exporters mainly). Things like "does it use exporterhelper if applicable", does it rely on processors for retry logic and buffering, etc. Ideally we could have co

[2020-07-17 17:46] obecny commented on #1383
I saw a response but I think it was deleted anyway if you ask if I tried `https` Yes I did with all different combinations, it doesn't work :)

[2020-07-17 20:34] bogdandrutu opened #1397 "Decide on Disabled vs Enabled config to control if a component is enabled or not."
From a comment in #1386

[2020-07-17 20:56] jufab commented on #1385
To add more information in this issue, i have the same problem with Jaeger or Zipkin exporter.
And,  the service name is missing.
(Works fine with the 0.4.0 collector)
**my config**
[code]

**Payload send to otlp**

[code]

**Zipkin result**
<img width="1630" alt="zipkin-error" src="https://user-images.githubusercontent.com/25395032/87829241-eadce100-c87e-11ea-9c96-c63254fa3609.png">

**Jaeger res

[2020-07-17 21:07] #1193 closed

[2020-07-18 18:14] bogdandrutu commented on #1383
That's exactly what I was asking then deleted because I thought that you did it :).

Do you have a small sniper maybe an HTTP request example that you use so I have a starting point?

[2020-07-20 17:18] jrcamp commented on #1192
@bogdandrutu to resolve blocked shutdown (and maybe for startup as well) should we set https://golang.org/pkg/context/#WithTimeout on the context before calling Startup/Shutdown? Should this value be configurable globally or per-component? What should the default be?

[2020-07-20 18:39] keitwb commented on #956
This is more or less implemented in https://github.com/open-telemetry/opentelemetry-collector/pull/1381.

[2020-07-20 18:45] rmfitzpatrick commented on #1385
Will be happy to investigate.

[2020-07-20 18:46] #1027 closed

[2020-07-20 20:12] bogdandrutu commented on #1192
@jrcamp @jmacd for normal requests I added timeout/retry and queueing support for all exporters in #1386

@jrcamp for start and stop I would recommend that to be a config on the service and use WithTimeout on the context passed to start and shutdown.

[2020-07-20 20:13] bogdandrutu commented on #1192
I would say that this issue should be closed and open a separate issue for start/stop which I think was not the main concern in this initial issue.

[2020-07-20 20:18] #1279 closed

[2020-07-20 22:01] jrcamp opened #1402 "Startup and shutdown should timeout after some period"
**Is your feature request related to a problem? Please describe.**
During startup or shutdown if a receiver blocks then the startup or shutdown process hangs indefinitely. See https://github.com/open-telemetry/opentelemetry-collector/issues/1192 for history.

**Describe the solution you'd like**
Startup or shutdown should timeout after a configured period in the service section. Not sure what the

[2020-07-20 22:01] jrcamp commented on #1192
New issue opened as a feature request for timeouts. ^

[2020-07-20 22:01] #1192 closed

[2020-07-20 22:19] bogdandrutu commented on #1402
Would go with a default of 1 minute

[2020-07-21 01:25] obecny commented on #1383
[code]

[2020-07-21 05:18] owais opened #1404 "Bug report for failed CircleCI build (job: loadtest)"
Auto-generated report for `loadtest` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/16175

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-07-21 14:44] jrcamp opened #1406 "Add default collection interval setting"
**Is your feature request related to a problem? Please describe.**
Currently collection intervals are set on each receiver. A user should be able to configure the default collection interval globally then override that value per-receiver.

Example:

[code]

[2020-07-21 16:14] jrcamp commented on #1191
@jpkrohling I believe TLS settings were intentionally switched to be enabled by default so it's expected you'd have to disable it if your server doesn't have TLS enabled.

[2020-07-21 16:19] jrcamp commented on #1170
If we didn't want to invent our own syntax another option would be to use an existing embeddable scripting language. Fluentbit, for instance, can use lua:

https://docs.fluentbit.io/manual/pipeline/filters/lua

Another option is Tengo: https://github.com/d5/tengo

[2020-07-22 10:24] jpkrohling commented on #1191
Not sure it makes sense: if a cert and key aren't provided as part of the configuration, how can the listener be configured with TLS?

[2020-07-22 12:14] pavolloffay opened #1411 "Attribute processor cannot be programmatically configued"
**Describe the bug**

Attribute processor cannot be programmatically configured because the `attraction.Settings` is in a private package `"go.opentelemetry.io/collector/internal/processor/attraction"`

It was done in https://github.com/open-telemetry/opentelemetry-collector/pull/1322/files#diff-1ffa1fe6fd27ddd9fe65f23171080144R19 cc) @bogdandrutu

**Steps to reproduce**

Programmatically configur

[2020-07-22 14:24] jrcamp commented on #1397
I think enabled is the more intuitive one. We had `disabled` in `<ComponentType>Settings` before right? Is there a reason we got rid of it in the first place? The reason it was called disabled before was possibly for a matter of convenience as bool defaults to false in Go and we wanted it to default to enabled I assume.

In terms of implementation if we go with enabled:

One way to default enabled

[2020-07-22 14:58] bogdandrutu commented on #1404
This is correlated usually with the machine picked by circle CI

[2020-07-22 14:58] #1404 closed

[2020-07-22 15:27] jrcamp commented on #1191
I haven't dug into the jaegar specifics but in general for TLS clients certs and keys are all optional. (This is different than TLS servers where a cert and key _are_ always required). For clients it should using [system CA](https://golang.org/pkg/crypto/x509/#SystemCertPool) if available to populate CA certs. If a valid CA is in there for the server you're connecting to then the connection should

[2020-07-22 15:38] jpkrohling commented on #1191
You are absolutely right, I had the server in mind, but client is the right context here!

[2020-07-22 16:40] pavolloffay opened #1413 "Consider adding telemetry level to CreateParams structs or component config"
**Is your feature request related to a problem? Please describe.**

Created from https://github.com/open-telemetry/opentelemetry-collector/pull/1270#discussion_r458823422

Components (receivers, processors, exporters) can report additional metrics. Calculation of these metrics can have a performance impact hence the component should have access to the telemetry level `--metrics-level` to enable th

[2020-07-22 16:48] jrcamp opened #1415 "Add binary size check to PR"
As new dependencies are added (or even existing ones reved that may then bring in new transitive dependencies) binary sizes can creep up. It'd be nice to have better visibility into this at review/PR time. At a minimum we would want to see what the delta is between the PR and its merge base. If we don't have size data for merge base then maybe fall back to master. I think this would require saving

[2020-07-22 17:38] jchengsfx commented on #1415
We should be able to use circleci caching for saving the deltas across builds.

Would we fail the build if the delta crosses some threshold in order to notify the submitter?

[2020-07-22 18:00] jrcamp commented on #1415
I think we should just provide the info to the reviewer to make a judgement call on for now. Once we see what typical values are maybe we can add an enforcement mechanism.

[2020-07-22 18:46] bogdandrutu commented on #1411
Can you provide some motivation?

[2020-07-22 18:50] bogdandrutu commented on #1391
@jrcamp maybe a reference to the overall design and best practices and having this in there. The structure is less important than the fact that we lack these rules

[2020-07-22 18:54] chenqi0805 opened #1418 "checksum mismatch for v0.6.0"
**Describe the bug**
A clear and concise description of what the bug is.
go: downloading go.opentelemetry.io/collector v0.6.0
go get: go.opentelemetry.io/collector@v0.6.0: verifying module: checksum mismatch
        downloaded: h1:j7TJX0CMNfGDu2zx9ohmw8li/G6ZZYX/kEpA2B0A5fg=
        sum.golang.org: h1:ade+H/U3+m+Bf234cap10+rnBV4x7RMNLFl4/1jI0Io=

SECURITY ERROR
This download does NOT match the one

[2020-07-22 19:24] jrcamp commented on #1418
@owais do you know if the v0.6.0 tag got force pushed that would cause checksums to fail?

[2020-07-22 19:41] jrcamp commented on #1415
btw I was thinking at least for the first pass if all we have is change in binary size we probably don't need a full comment like codecov but the text in the check should be sufficient:

<img width="927" alt="Screen Shot 2020-07-22 at 3 38 53 PM" src="https://user-images.githubusercontent.com/156260/88220953-baf05d80-cc31-11ea-9acc-b760c8744c99.png">

Maybe for a second phase adding diff of goweig

[2020-07-22 19:45] jrcamp commented on #1391
@bogdandrutu sorry I don't follow you

[2020-07-22 21:06] bogdandrutu commented on #1418
@owais did a "retag" I think, which is not allowed by golang :(

[2020-07-22 21:08] #1290 closed

[2020-07-22 21:53] huyan0 opened #1422 "Proposal: Metric Aggregation Processor"
# Metric Aggregation Processor Proposal

## Objectives

The objective of the metric aggregation processor is to provide OpenTelemetry (OT) Collector users the ability to use exporters to send cumulative metrics to backend systems like Prometheus.

## Background

Currently, the Prometheus exporter for the OT Collector is not functioning as expected. This is because OTLP Exporter in the SDK is pass

[2020-07-22 21:55] danielbang907 commented on #1422
@huyan0 and I are currently working on this issue

[2020-07-22 22:27] huyan0 commented on #1391
a minor thing of that doc to fix is the reference to opentelemetry-service under "Add your for as an origin"

[2020-07-22 23:35] owais commented on #1354
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/17027

#### Test Failures
-  TestQueuedRetry_ThrottleError

[2020-07-23 08:59] pavolloffay commented on #1411
In Jaeger we are injecting properties from variable to the config.

[2020-07-23 13:25] tannaga opened #1424 "ability to add an auth module as part of the receiver component"
**Is your feature request related to a problem? Please describe.**
We are using the http endpoint as one of the receiver endpoints. Our company mandates to add an authentication layer which seems to be missing today.

**Describe the solution you'd like**
Couple of thoughts
- We can add a Processor in our pipeline, which will perform authentication. In this solution, **header information** needs to

[2020-07-23 14:52] owais commented on #1418
I deleted the tag from github but then tagged the exact same commit thinking that was fine. May be I made a mistake and amended the commit before re-tagging it. We can release `0.6.1` to fix this. I'm not back till Monday. I can make the release then or someone else can do it before then.

[2020-07-23 18:05] tigrannajaryan commented on #1260
(2) can be done today with no changes to the core codebase. Processors do have access to instantiated exporters. The Host exposes GetExporters() function for that. This seems like a good enough approach to me, do we really need to do better?

There is a third, slightly different way that is perhaps more intuitive like approach (1) and does not require introducing new pipeline concepts. We can impl

[2020-07-23 22:01] jrcamp commented on #1191
I think it's functioning as intended then, please correct if I'm missing anything. Closing.

[2020-07-23 22:01] #1191 closed

[2020-07-24 07:06] anuraaga opened #1429 "Vendor in queue implementation"
I was looking at the queue processor and was surprised to see it depend on a jaeger package

https://github.com/open-telemetry/opentelemetry-collector/blob/master/processor/queuedprocessor/queued_processor.go#L24

While the readme for `jaeger/pkg` indicates it's not tied to internals

https://github.com/jaegertracing/jaeger/tree/master/pkg

it still seems like these are utilities meant for use by

[2020-07-24 14:31] #1124 closed

[2020-07-24 16:32] bogdandrutu commented on #1418
Pushed tag v0.6.1, this should be resolved now. CI is building the docker image and soon golang will pick this.

[2020-07-24 16:32] #1418 closed

[2020-07-24 18:59] morigs opened #1432 "Receiver notification of message processing status"
Looking at the [current interface](https://github.com/open-telemetry/opentelemetry-collector/blob/master/component/receiver.go), the receiver cannot find out whether the received message was successfully processed.
However, this capability is critical for some receivers.
For example, receivers from message queues should only acknowledge messages (or commit offset) if the messages processed success

[2020-07-24 19:55] bogdandrutu commented on #1432
@morigs the receiver is constructed with a "nextConsumer" (https://github.com/open-telemetry/opentelemetry-collector/blob/master/consumer/consumer.go).

You call `Consume` on the consumer from the receiver which should return nil if the pipeline consumed the message or an error otherwise.

Not sure I understand the problem.

[2020-07-24 19:56] jrcamp commented on #1260
@tigrannajaryan I like your routing exporter idea.

Maybe it should allow passing through processors  as well before being passed to exporters, similar to pipeline? Building on your example:

[code]

[2020-07-24 20:23] morigs commented on #1432
But what if the message was dropped after several unsuccessful attempts in queued retry? I think `Consume` will return `nil`

[2020-07-24 20:49] bogdandrutu commented on #1432
If that is the case, what about you don't configure the queue part, only the retry so you do the requests synchronous

[2020-07-24 21:23] bogdandrutu commented on #1160
Closing this per comment in https://github.com/open-telemetry/opentelemetry-collector/issues/1160#issuecomment-658088279

[2020-07-24 21:23] #1160 closed

[2020-07-24 22:31] nicks commented on #1160
yay thanks!

[2020-07-25 20:54] #1247 closed

[2020-07-27 06:52] morigs commented on #1432
OK, that doesn't sound very intuitive, but real)
thx

[2020-07-27 06:52] #1432 closed

[2020-07-27 07:15] jpkrohling commented on #1260
I would settle for the syntax and features exposed in @jrcamp's example: looks readable enough, yet powerful.

[2020-07-27 13:48] #1397 closed

[2020-07-27 14:09] bogdandrutu commented on #1432
You are correct, I just try to not complicate for the moment the overall design if unnecessary and same thing can be achieved. Thanks for understanding

[2020-07-27 17:14] rmfitzpatrick commented on #1385
@stevencl1013 & @jufab thanks for your patience.  I believe you're both running into the breaking change that was introduced w/ opentelemetry-proto v0.4.0 where the trace protocol changed regarding attribute values.  This was adopted for the Collector release v0.5.0 so any OTLP exporters should also be using the v0.4.0 version of the protocol.

Collector release - https://github.com/open-telemetry

[2020-07-27 18:32] #437 closed

[2020-07-27 19:48] tigrannajaryan commented on #1262
Zap logger that we use has no log rotation capabilities. [Their stance](https://github.com/uber-go/zap/issues/268#issuecomment-277176810) is that log rotation is an separate concern and I agree with them.

I am going to close this as "won't do" unless other @open-telemetry/collector-approvers have other thoughts.

[2020-07-27 19:50] tigrannajaryan commented on #1054
Done in https://github.com/open-telemetry/opentelemetry-collector/pull/1444

[2020-07-27 19:50] #1054 closed

[2020-07-27 19:51] tigrannajaryan commented on #1016
Done via https://github.com/open-telemetry/opentelemetry-collector/pull/1173

[2020-07-27 19:51] #1016 closed

[2020-07-27 20:23] owais opened #1445 "Bug report for failed CircleCI build (job: windows-test)"
Auto-generated report for `windows-test` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/18185

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-07-27 20:27] #1354 closed

[2020-07-27 20:39] bogdandrutu commented on #1035
@MrAlias this is working as intended. OpenCensus LableValue has a `HasValue` field, and if not set to `true` it means the label key has no value so will not be included in the OpenTelemetry map of lables.

[2020-07-27 20:39] #1035 closed

[2020-07-27 20:40] bogdandrutu commented on #1035
I tested:

[code]

[2020-07-27 20:41] bogdandrutu commented on #1289
@tigrannajaryan Old and Base (no need for this) will be removed. So it will clean a lot.

[2020-07-27 23:33] bogdandrutu commented on #741
Fixed in https://github.com/open-telemetry/opentelemetry-collector/pull/1299

[2020-07-27 23:33] #741 closed

[2020-07-28 00:08] bogdandrutu commented on #206
I think this is fixed.

[2020-07-28 00:08] #206 closed

[2020-07-28 00:16] bogdandrutu commented on #242
@egernst any update on this, I am not very familiar with `vsock` or Kata, but would like to understand better what is needed:
1. What "protocol" do you want to talk over `vsock`? gRPC?
2. How easy is to use `vsock` in golang? Is there a standard library for this?

[2020-07-28 00:17] bogdandrutu commented on #322
@flands do you still need this?

[2020-07-28 00:22] bogdandrutu opened #1450 "Update performance md or remove"
https://github.com/open-telemetry/opentelemetry-collector/blob/master/docs/performance.md

[2020-07-28 00:23] bogdandrutu commented on #355
The performance doc is outdated, closing this in favor of https://github.com/open-telemetry/opentelemetry-collector/issues/1450

[2020-07-28 00:23] #355 closed

[2020-07-28 00:35] bogdandrutu commented on #543
This is possible in the resource processor. OTLP contains the service name in the resource. See https://github.com/open-telemetry/opentelemetry-collector/tree/master/processor/resourceprocessor

[2020-07-28 00:35] #543 closed

[2020-07-28 00:39] bogdandrutu commented on #505
This is almost done with the new helpers and the new configs.

[2020-07-28 00:39] #505 closed

[2020-07-28 00:58] #561 closed

[2020-07-28 15:02] ocervell commented on #1358
+1, to run OT on GKE, this is required to propagate metric labels like `namespace_name`, `container_name`, `node_name` and and `pod_name`.

[2020-07-28 18:18] bogdandrutu commented on #857
I think this adds significant overhead (potentially) and probably should be controlled by the level of telemetry user asks for.

[2020-07-28 18:31] bogdandrutu commented on #956
@keitwb I think this issue is close, but @josephflynch your generic framework is still something that we are interested in, and we should switch the current extension to that framework once available.

[2020-07-28 18:32] bogdandrutu commented on #956
Closing this issue since just the fluentbit is ready, but @josephflynch please start a new issue for the more generic framework that you proposed.

[2020-07-28 18:32] #956 closed

[2020-07-28 20:17] tigrannajaryan commented on #956
This is indeed done in #1381 as far as PoC is concerned. We may make further improvements but that can be done in separate issues/PRs.

[2020-07-28 20:17] tigrannajaryan commented on #1262
Closing since I don't see other opinions.

[2020-07-28 20:17] #1262 closed

[2020-07-28 22:35] jufab commented on #1385
@rmfitzpatrick I tried this and it's ok for me.
And, there is a new release in js library (0.10.0) with this implementation and now it works.
Release : https://github.com/open-telemetry/opentelemetry-js/releases/tag/v0.10.0
PR : https://github.com/open-telemetry/opentelemetry-js/pull/1339
Thanks for your help.

[2020-07-29 08:38] jpkrohling commented on #1424
I'm currently working on an authentication processor, but it'll be executed as a regular processor, not before the receivers. What kind of auth backend did you have in mind? Right now, the processor I'm writing supports verifying a bearer token against a OIDC provider, which should be flexible enough. It requires an OIDC server, which seems fair to me, as most people are (or should) using an auth

[2020-07-29 10:41] iNikem opened #1454 "LoggingExporter does not print span events"
LoggingExporter currently does not log events nor links. There is even a todo [in the source ](https://github.com/open-telemetry/opentelemetry-collector/blob/master/exporter/loggingexporter/logging_exporter.go#L301):

[2020-07-29 12:55] tcolgate commented on #1256
I would say that the operational overhead of two ports is worth it for the simpler code. I previously attempted to add full mutual tls to OTel collector but failed due to issues with cmux. They may have been resolvable, but the port sharing made debugging quite painful.

[2020-07-29 12:58] tcolgate commented on #1256
FWIW, the grpc server.ServeHTTP() http.Handler approach has worked better for me, but that ends up mandating a http2/https client, which may not be acceptable. It is also less performant that the cmux approach, acceptable for a lot of use cases, but possible not if you are getting a lot of small requests (probably OK for streaming though).

[2020-07-29 13:54] bogdandrutu commented on #1454
@iNikem great opportunity to code some golang :)

[2020-07-29 14:47] bogdandrutu commented on #1101
@tensorchen we have exporter for Kafka here, soon will have a Receiver as well :)

[2020-07-29 16:08] tannaga commented on #1424
My use case is to validate the JSON web token which is present in the header in a custom key.  Are the headers available in the regular processor?

[2020-07-29 19:12] snypez opened #1459 "cert_pem_file in jaeger exporter error"
**Describe the bug**
Specify a cert_pem_file for client auth in the jaeger exporter causes the process to fail to start with the error
Error: cannot load configuration: error reading settings for exporter type "jaeger": 1 error(s) decoding:

* '' has invalid keys: cert_pem_file
2020/07/29 19:02:57 application run finished with error: %v: cannot load configuration: error reading settings for export

[2020-07-29 22:49] bogdandrutu commented on #1385
Closing this issue since @rmfitzpatrick found the issue.

[2020-07-29 22:49] #1385 closed

[2020-07-29 23:46] bogdandrutu commented on #1459
Short answer is that the `cert_pem_file` in your config is not the actual parameter to use. You need to use `ca_file` or `cert_file` or `key_file`. See https://github.com/open-telemetry/opentelemetry-collector/blob/master/config/configtls/configtls.go#L28

Will do a fix for the error to be clear. Also need a fix for jaeger documentation.

[2020-07-30 00:51] #1459 closed

[2020-07-30 07:11] jpkrohling commented on #1424
By custom key, do you mean that you are using a header other than HTTP's regular `Authorization` header? If so, would you mind sharing the reasoning?

[2020-07-30 15:05] jpkrohling commented on #1256
I think this alone is worth having two ports. At least, we *know* what each port is supposed to be receiving.

I'd like to echo this point. Having a performance compromise on the receiver end sounds like a bad idea, especially if there's no workaround or option to disable this compromise.

[2020-07-30 15:10] jmacd commented on #1256
I don't intend to contest any decisions here. LightStep's experience with configuring SDKs, firewalls, and ingress rules for multi-port collectors is still a painful memory.

[2020-07-30 15:16] jpkrohling commented on #1256
@jmacd I really appreciate your experience, and I think it would be easier for us all to understand the problems you had if you gave some concrete examples. We could then compare both problems and see which poison we want to take.

[2020-07-30 16:27] austinlparker commented on #1256
The biggest things off the top of my head...
- It's a nightmare for users who are instrumenting things, because now they need to know more than one port number
- You need to do something different depending on _where_ your service is running (am I inside the dc/vpc? outside?), which adds another thing for people to keep in mind.
- Multiple ports make sane defaults harder, because your default and

[2020-07-30 18:54] tigrannajaryan commented on #1424
Triagged. Needs further discussions.

[2020-07-30 19:03] #1380 closed

[2020-07-30 19:14] #1240 closed

[2020-07-30 19:15] #1235 closed

[2020-07-30 19:21] jmacd commented on #1255
I don't think we can sort this out until OTLP is settled, but it's fine to assign this to me.

[2020-07-30 21:11] tigrannajaryan commented on #10
PR submitted which clarifies the relationship with FluentBit: https://github.com/open-telemetry/opentelemetry-specification/pull/737

[2020-07-30 21:14] tigrannajaryan commented on #100
Prometheus exporter is already implemented. Closing, nothing to do here.

[2020-07-30 21:14] #100 closed

[2020-07-30 21:20] tigrannajaryan commented on #292
This can be added in the future without breaking the existing interfaces by introducing a different interface (e.g. `CustomUnmarshalable`)

[2020-07-30 21:22] tigrannajaryan commented on #396
Is this still needed now that we have OpenTelemetry protobufs?

[2020-07-30 21:25] tigrannajaryan commented on #433
@bogdandrutu assigning this to you for triaging.

[2020-07-30 22:09] jrcamp commented on #1263
Closing since it's filed under https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/403 now.

[2020-07-30 22:09] #1263 closed

[2020-07-30 23:01] jrcamp commented on #933
@bogdandrutu I think this is mostly done with latest TLS changes. I think we still have the open issue of how to specify TLS is enabled in the case where tls_settings are not needed? (ie you just want default TLS config).

Do you do:

[code]

[code]

I think we started discussing it but couldn't come to a conclusion.

[2020-07-30 23:06] jrcamp commented on #915
Closing as we've decided to implement native receivers. If a user needs to use telegraf they can run telegraf and configure their output plugins to write to the collector in a supported format.

[2020-07-30 23:06] #915 closed

[2020-07-30 23:09] jrcamp commented on #1048
@bogdandrutu I think we could use Zap's config struct as-is (it has yaml and json tags)

https://github.com/uber-go/zap/blob/master/config.go#L58

This would allow the user to completely configure Zap to their liking.

[2020-07-31 07:46] jpkrohling commented on #1424
@bogdandrutu @tigrannajaryan can we have the discussions here, in this issue? The minutes for the last SIG meeting says:

I also asked this on Gitter, but still couldn't get any concrete questions...

[2020-07-31 07:47] tcolgate commented on #1256
@austinlparker I've had experience with the network ops side of these things, I've felt the paiin. What I would say though, for me, being unable to support mutual TLS would be a show stopper, especially for the client -> agent -> collector communication, agent -> collector in particular. (sorry if the terminology is incorrect for OTel).
  It's also worth saying that, if you are doing inter-service

[2020-07-31 08:02] jpkrohling commented on #1256
If we decide to go with a single port for both protocols for v1.0, changing it later to individual ports would probably be a breaking change. Going with individual ports for v1.0 and changing it later to a single port would not be a breaking change, unless I'm missing something.

Here's my suggestion: let's have them separated in the configuration, each with its own host-port/TLS options. If post-

[2020-07-31 08:17] tcolgate commented on #1256
#1223 did explicitly state you can't do mTLS with cmux, which has also been my experience (I added the mTLS support to thanos and jaeger, but failed on otel, and have previous experience with cmux projects, I also spent a good few days on the otel attempt).

[2020-07-31 14:10] jpkrohling opened #1465 "Shutdown behavior for groupbyprocessor"
When working on #1362, there was a discussion about what the shutdown behavior should be for the processor, regarding the in-flight traces:

To unblock that PR, this issue here was created, so that the appropriate solution is agreed on, to be implemented as a follow-up PR.

[2020-07-31 14:57] austinlparker commented on #1256
I'll also present the opposite side of my own argument, for context - while we _did_ have these problems, many of them were due to the fact that Lightstep supported (and continues to support) a _lot_ of transports to our satellite (I believe we accept 8 discrete transport formats at this point?), and a lot of the configuration confusion was specifically around people that were implementing polyglo

[2020-07-31 18:50] pjanotti commented on #856
Sorry, @pavolloffay missed this message.

After https://github.com/open-telemetry/opentelemetry-collector/issues/1413 is done this will be a good addition. Not enabled by default but available to users that want it.

[2020-07-31 23:15] tannaga commented on #1424
Yes.. My service is fronted by a proxy layer which does the actual authentication using the `Authorization` header. Once it is successful it injects a value in the header which my service needs to authenticate. this is to ensure that the request is coming from the proxy layer.

[2020-07-31 23:26] owais commented on #1445
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/19686

[2020-08-02 13:44] awwx opened #1467 "tail_sampling "always_sample" policy is not passing any spans"
Adding a tail_sampling processor with the "always_sample" policy results in no spans being exported.

Running without the tail_sampling processor causes spans to be exported (in my config, to logging and to file).

Adding the tail_sampling processor with the "always_sample" policy causes no spans to be exported.

[code]

**What version did you use?**

f95486 (master branch head) and v0.7.0

**What

[2020-08-02 14:28] awwx commented on #1467
Never mind! I was impatiently not waiting for the decision_wait time 😆

[2020-08-02 14:28] #1467 closed

[2020-08-03 12:10] rf232 commented on #969
I also got hit by this and second @nilebox' desire for at least some kind of logging in this situation and maybe adding this to some exposed metric

[2020-08-03 14:44] iNikem opened #1474 "Update fileexporter"
**Is your feature request related to a problem? Please describe.**
`fileexporter` seems to export data to a file in a format derived from OpenCensus. Which results in quite strange output, compared to e.g. `loggingexporter`

**Describe the solution you'd like**
We should update `fileexporter` to proper OpenTelemetry Proto format.

[2020-08-03 14:45] iNikem commented on #1474
I can take it, if nobody is in a hurry to fix it.

[2020-08-03 15:15] owais commented on #1445
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/19870

[2020-08-03 16:19] owais commented on #1445
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/19930

[2020-08-03 17:54] morigs opened #1479 "Docs for grpc receivers/exporters about insecure"
All grpc-related components (otlp, jaeger) docs says that certificates are required when `insecure` is true. It doesn't make sense. If transport security is disabled why we need certificates? For example: https://github.com/open-telemetry/opentelemetry-collector/blob/master/exporter/jaegerexporter/README.md

ca_file path to the CA cert. For a client this verifies the server certificate. S**hould o

[2020-08-03 18:19] pmm-sumo opened #1480 "Zipkin exporter skips service name when span attributes are not present"
**Describe the bug**

Zipkin exporter stops processing Local Endpoint information when no span attributes are present. The original reason for this was probably skipping extracting `IP` or `Port` information when it's not present, though what actually happens is that if there are any span attributes, LocalEndpoint is being always extracted (with the default or extracted service name) and when span

[2020-08-04 00:37] bogdandrutu commented on #576
@JingboWangGoogle remove the "skip" from the beginning of the test, if passes then just send the PR :)

[2020-08-04 00:39] bogdandrutu commented on #608
@pjanotti you seem to know about this, can you check if things got fix after prom update? Also maybe describe what needs to happen for this to get fixed.

[2020-08-04 00:39] #634 closed

[2020-08-04 00:42] bogdandrutu commented on #662
The missing part is "service", but it is pretty expensive to log service all the time especially when batch multiple "spans" from different services.

@objectiser is this a blocker for you?

[2020-08-04 00:42] bogdandrutu commented on #709
@nilebox is this issue closed? If yes please close it since you have the power :)

[2020-08-04 00:46] bogdandrutu commented on #662
Closing this as a duplicate of https://github.com/open-telemetry/opentelemetry-collector/issues/857

[2020-08-04 00:46] #662 closed

[2020-08-04 00:50] bogdandrutu commented on #933
@jrcamp do you mind closing this issue and start smaller issues focus on the problems left to be resolved?

[2020-08-04 00:51] bogdandrutu commented on #856
@pavolloffay I remember you did add something like this?

[2020-08-04 00:52] bogdandrutu commented on #955
@tigrannajaryan I think the majority of this is done. Any progress update here? Maybe consider to close this and open smaller issues if only small things are left.

[2020-08-04 00:57] bogdandrutu commented on #1048
Sounds good, it should probably be part of the "service" configuration :)

[2020-08-04 01:02] nilebox commented on #709
The issue was fixed in #843

[2020-08-04 01:02] #709 closed

[2020-08-04 01:03] bogdandrutu commented on #1445
@james-bebbington this is your https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector/2398/workflows/f3840c78-012d-4198-b3d2-83a234224cb6/jobs/19870

[2020-08-04 05:23] pavolloffay commented on #856
This PR adds batch size bytes metric to batch processor https://github.com/open-telemetry/opentelemetry-collector/pull/1270

[2020-08-04 13:09] nilebox opened #1486 "Prometheus receiver prints "level" field twice in log messages"
**Describe the bug**
All log messages produced by Prometheus code imported by Prometheus receiver print "level" field twice, e.g.:
[code]

The problem is in the zap -> go-kit log adapter: https://github.com/open-telemetry/opentelemetry-collector/blob/bd921afde8e33d46c6f1586b0182cee1addc391e/receiver/prometheusreceiver/internal/logger.go#L37
- `l.Infow()` produces the first `"level":"info"` field
-

[2020-08-04 13:25] keitwb commented on #955
I'm going to do a bit more performance testing on the fluentbit standalone vs fluentbit+collector combination to get some more exact numbers on performance.  That is the main thing remaining from the list in the description.

[2020-08-04 16:18] code-haven commented on #1344
@tigrannajaryan I would like to work on this issue as it's unassigned.

 I've spent some time trying to debug this. It appears that point of failure is inside [xProtobufMarshaler](https://github.com/open-telemetry/opentelemetry-collector/blob/2ba9cdcc2b3c7f45288c1152b97e9ec64b9d6706/receiver/otlpreceiver/otlp.go#L66) as it's attempting to unmarshal a gzipped payload.

I don't see an option in grpc

[2020-08-04 19:02] JingboWangGoogle commented on #576
@bogdandrutu Thanks for the information! I actually wanted to take a shot at this to get familiar with the process and to get myself started as a contributor before my main contribution in the metrics transform processor https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/master/processor/metricstransformprocessor, but instead, I resolved this one https://github.com/open-telemet

[2020-08-04 19:34] pavolloffay opened #1490 "Add helm chart to deploy collector into Kubernetes"
**Is your feature request related to a problem? Please describe.**

Deploy opentelemetry-collector into Kubernetes and allow easy integrations with other helm chart based installers.

**Describe the solution you'd like**

OTEL collector helm chart.

**Describe alternatives you've considered**

Use the https://github.com/open-telemetry/opentelemetry-operator, however it is not convenient in pure he

[2020-08-04 19:36] pavolloffay commented on #1490
We should decide whether it will be versioned in this repository or in a separate like the operator.

I can submit a PR.

[2020-08-04 20:52] #292 closed

[2020-08-05 00:39] jjzeng-seattle opened #1491 "The filter processor should drop the metrics if all metrics are filtered out."
**Describe the bug**
Per title.

**Steps to reproduce**
Setting up a pipeline with filter processor and stackdriver exporter, and config filter to filter out all metrics, you will see the error on stackdriver exporter `non-nil metric or metric descriptor`

**What did you expect to see?**
The metrics should be drop and not reach the exporters, if it's empty.

**What did you see instead?**
A clear a

[2020-08-05 00:39] jjzeng-seattle commented on #1491
/assign @anniefu

[2020-08-05 02:37] james-bebbington opened #1492 "Create library for Subprocess Management"
We currently have two implementations of Subprocess Management:

1. https://github.com/open-telemetry/opentelemetry-collector/tree/master/extension/fluentbitextension
2. https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/master/receiver/prometheusexecreceiver/subprocessmanager

We should understand the different requirements for these components and extract the shared logic for

[2020-08-05 09:16] nilebox commented on #1486
There are other duplicate fields in the log:
- `"msg":""` and `"msg":"Scrape failed"`
- `"ts":1596117234.8600261` and `"timestamp":1596117234850`

[2020-08-05 09:38] morigs opened #1494 "GRPC MaxRecvMsgSizeMiB default value"
[OTLP receiver docs](https://github.com/open-telemetry/opentelemetry-collector/tree/master/receiver/otlpreceiver) says that `MaxRecvMsgSizeMiB` (`max_recv_msg_size_mib`) is `Infinity` by default. But when I'm doing a benchmark I see a lot of error messages from trace exporter like this:

[code]

**Steps to reproduce**
Just send huge batch when using OTLP trace exporter

**What did you expect to se

[2020-08-05 14:25] bogdandrutu commented on #1494
Do you suggest that max size should be max int?

[2020-08-05 14:37] pjanotti commented on #608
I will check this @bogdandrutu - if it is ok as suggested by the links we should remove the `/tmp` from the Docker image: there is a risk of someone having taken a dependency on it but we should be aware if other components are also writing to that folder.

[2020-08-05 14:43] morigs commented on #1494
I think we need to either fix the bug and set the limit to infinity, or fix the documentation

[2020-08-05 15:12] #1486 closed

[2020-08-05 15:18] owais commented on #1445
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/20631

[2020-08-05 15:29] bogdandrutu commented on #1494
I cannot find such a thing "infinity" in gRPC, so I either default to max_int or just simply fix the documentation and leave to the user to set a right default.

[2020-08-05 15:31] bogdandrutu commented on #1494
Let me first fix documentation for this bug, then if you want default to be changed we can open a separate issue for that.

[2020-08-05 18:01] anniefu commented on #560
Given that both the attribute and span processor can filter spans already as is [documented](https://github.com/open-telemetry/opentelemetry-collector/blob/master/processor/README.md#includeexclude-spans), do we see it as valuable to add the same functionality for spans to the filterprocessor?

As previously discussed, filtering entire traces is a bit more complex and would need design that is out

[2020-08-05 18:12] #1494 closed

[2020-08-05 18:55] owais commented on #1445
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/21004

[2020-08-05 18:55] owais opened #1503 "Bug report for failed CircleCI build (job: test)"
Auto-generated report for `test` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/21010

#### Test Failures
-  TestHealthCheckMultipleStarts

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-08-05 20:47] #1474 closed

[2020-08-05 21:31] owais commented on #1445
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/21168

[2020-08-06 13:59] morigs opened #1513 "Staticcheck fails because of opentelemetry-proto"
I'd like to contribute to opentelemetry-collector so I'm following Contributing guide that says to perform `go get` and then `make install-tools && make`.
`make install-tools` works perfectly but `make` fails with the following error:

[code]

I have tried to repeat installation process in using `devcontainer`. It succeeded but removed all files in `github.com/open-telemetry/opentelemetry-proto/ge

[2020-08-06 14:28] morigs commented on #1150
#1464 document seems detailed enough and ready for use. What are the plans for implementation? I need this exporter too and ready to contribute

[2020-08-06 14:31] huyan0 commented on #1150
@morigs code PRs should be coming in this week. We will keep you updated : )

[2020-08-06 16:51] bogdandrutu commented on #1513
Can you run `make genproto` after install-tools?

[2020-08-06 17:00] #1445 closed

[2020-08-06 17:37] morigs commented on #1513
Yeah, I have already tried to do this. But it doesn't work as expected. I am still getting this error:
[code]

I have `protoc-gen-gofast` installed, but `protoc-gen-gogofaster` is not found:
[code]

[2020-08-06 22:01] chris-smith-zocdoc opened #1514 "Tail Sampling Processor emits trace data multiple times"
**Describe the bug**
When using multiple sampling policies with the tailsamplingprocessor, if multiple policies decide to sample the trace data is emitted multiple times (multiple calls to `tsp.nextConsumer.ConsumeTraceData`)

**Steps to reproduce**
Example config
[code]

Send a single span to the collector
example
[code]

**What did you expect to see?**
The span should be printed once by the logg

[2020-08-07 01:13] mikelorant commented on #1490
I have implemented a Helm chart for `opentelemetry-operator`. I have also created a Helm chart that creates a resource for `OpenTelelemetryCollector` which is acted on by the operator.

https://github.com/fairfaxmedia/charts/tree/master/stable/opentelemetry-operator
https://github.com/fairfaxmedia/charts/tree/master/stable/opentelemetrycollector

This I feel is a better result than directly creati

[2020-08-07 12:13] morigs commented on #407
I think scalable tail-based sampling is a must-have feature and should be inside main repository.
Also IMHO this feature is required for GA.
So should we wait for PR from @annanay25 or implement something similar?

[2020-08-07 23:08] alolita commented on #1150
Hi @bogdandrutu can you assign this issue to me @alolita, @huyan0 and @danielbang907 - we are working on this implementation in https://github.com/open-telemetry/opentelemetry-collector/pull/1464

[2020-08-08 16:20] morigs commented on #1513
I've managed to run `make genproto` and staticcheck doesn't fail now.
I had to manually install protoc and go-related dependencies:
[code]

@bogdandrutu I think protoc and other protobuf-required dependencies should be listed in CONTRIBUTING.md

[2020-08-09 07:28] allanvmat opened #1520 "Metrics Exporter continuing to show last value after disconnection"
I am testing opentelemetry collector with metrics(Prometheus) and encountered an issue.
Suppose a client connected to an opentelemetry collector, sends metrics to the otelcol and then disconnects (for some reason) the value from the previous metrics at the otelcol endpoint (/metrics) still persists instead of showing an empty metric page, may I know if:

1. it's possible to default it to a value i

[2020-08-09 11:16] morigs commented on #1078
Is there any progress? Is somebody working on this?

[2020-08-10 12:37] jpkrohling commented on #1256
I like that :-)

[2020-08-10 14:37] jpkrohling commented on #1260
@bogdandrutu you can assign this to me, I should be able to start working on this one in the next couple of weeks.

[2020-08-10 14:39] jpkrohling commented on #1424
@tigrannajaryan: would you please share what aspects needs discussion? I have a [working branch](https://github.com/jpkrohling/opentelemetry-collector/tree/jpkrohling/authentication-processor) which can serve as a concrete base for the discussion, but at this moment, I have no idea what needs to be discussed...

[2020-08-11 07:34] djjayeeta opened #1526 "Prometheus receiver doesn't work with https scheme"
**Describe the bug**
A clear and concise description of what the bug is.
I have a Prometheus config file(the config file is correct as I have verified it with a prometheus server) which I am trying to use with prometheus receiver. I have copied the same config file but the metrics are not scraped by the receiver.

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.
Depl

[2020-08-11 07:57] djjayeeta commented on #1526
Sorry figured out the issue, my endpoint does not have process_start_time_seconds so the metrics are getting dropped silently

[2020-08-11 07:57] #1526 closed

[2020-08-11 18:57] #1309 closed

[2020-08-11 18:57] #526 closed

[2020-08-11 18:57] #572 closed

[2020-08-11 18:57] #1138 closed

[2020-08-11 18:57] #1303 closed

[2020-08-11 18:57] #1304 closed

[2020-08-11 20:03] #1480 closed

[2020-08-12 00:23] bogdandrutu commented on #1271
@james-bebbington is this fixed?

[2020-08-12 22:20] huyan0 opened #1541 "Prometheus Receiver translates metrics to OTLP metrics with non-cumulative temporality"
I am doing an end-to-end test for the Prometheus remote write exporter in PR #1525, and I am using the Prometheus receiver to get input metrics.

In the process,  I discovered counter, histogram, and summary Prometheus metric scraped by the Prometheus receiver are not exportable by the remote write exporter, but gauge metrics are exported. This is because the remote write exporter drops non-cumula

[2020-08-13 02:03] dmitryax opened #1542 "Migrate componenttest/example_factories.go to internal data model"
1. Make sure there are no clients needed the old data model
2. Migrate it to internal data model
3. Remove a duplicate added to contrib:  https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/701

[2020-08-13 15:33] huyan0 commented on #1541
I replaced Prometheus receiver with a OTLP receiver and the metrics remained cumulative and was exported successfully.

[2020-08-13 18:30] #1271 closed

[2020-08-14 17:35] huyan0 opened #1551 "Add a ‘Headers’ field to HTTPClientSettings"
**Is your feature request related to a problem? Please describe.**
The Prometheus remote-write exporter wants to allow users to specify any headers they would like to add to each outgoing HTTP request. Other exporters that use the HTTP protocol may need the same feature for adding headers to their http requests.

**Describe the solution you'd like**
As suggested by @bogdandrutu in PR #1544, the HT

[2020-08-14 18:13] keitwb opened #1554 "Helper for Building pdata.Metrics"
`pdata.Metrics`, the new metric data strcture that will be standard soon, is fairly hard to use directly.  There are many levels in the hierarchy and it is impossible to instantiate anything using struct literals and it is generally quite verbose and requires a very imperative coding style to do anything significant with it.  Most (if not all) of the existing metrics functionality in the collector

[2020-08-15 00:45] #608 closed

[2020-08-15 00:50] owais commented on #1503
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/23984

#### Test Failures
-  TestProcessManagerArgs

[2020-08-17 05:17] james-bebbington opened #1559 "Access application version in components"
**Is your feature request related to a problem? Please describe.**
I would like to include the application version in metadata on requests sent by an exporter.

**Describe the solution you'd like**
Add the version string to the parameters passed to components on initialization, i.e. update https://github.com/open-telemetry/opentelemetry-collector/blob/v0.8.0/component/exporter.go#L97 (similar for

[2020-08-17 05:30] nilebox commented on #1559
While version is the immediate use case that needs this feature, it may make more sense to support a generic way of passing the pipeline-level metadata.

e.g. if in the exporter we want to distinguish the "distro" it's being used in (`opentelemetry-collector`, `opentelemetry-collector-contrib`, or some vendor-specific binary like [GoogleCloudPlatform/opentelemetry-operations-collector](https://git

[2020-08-17 05:32] james-bebbington commented on #1559
True, maybe we could just pass in the ApplicationStartInfo struct directly: https://github.com/open-telemetry/opentelemetry-collector/blob/v0.8.0/service/service.go#L101

[2020-08-17 14:32] #1542 closed

[2020-08-17 14:35] owais opened #1565 "Bug report for failed CircleCI build (job: loadtest)"
Auto-generated report for `loadtest` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/24196

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-08-17 18:15] mstumpfx commented on #1344
Hi @code-haven, I am intending to work on this now unless you have already started the work. Please let me know, thanks.

[2020-08-17 19:01] #1331 closed

[2020-08-17 19:44] #1551 closed

[2020-08-17 19:46] bogdandrutu commented on #1513
Tigran this should be resolved by using the new build docker image

[2020-08-17 19:47] #1491 closed

[2020-08-17 20:23] morigs commented on #1513
The original problem was local development

[2020-08-18 00:53] bogdandrutu opened #1575 "MetricPoint or MetricDataPoint"
From https://github.com/open-telemetry/opentelemetry-collector/pull/1571#discussion_r471807141 we need to make a decision on this.

[2020-08-18 00:53] bogdandrutu commented on #1575
/cc @jmacd

[2020-08-18 01:03] obecny commented on #1383
Just wanted to ask if there is anything that is missing yet from my side ?

[2020-08-18 06:48] pavolloffay commented on #1101
FYI kafka receiver and exporter landed in master.

@tensorchen is this issue still relevant?

[2020-08-18 06:50] pavolloffay opened #1579 "Add authentication to Kafka receiver and exporter"
**Is your feature request related to a problem? Please describe.**

I would like to use secure connection between collector and Kafka broker.

**Describe the solution you'd like**

Support plaintext, TLS and Kerberos.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2020-08-18 06:58] pavolloffay opened #1580 "Support custom encoding in Kafka"
**Is your feature request related to a problem? Please describe.**

I would like to use custom encodings in Kafka receiver/exporter to allow the collector to be used in brownfield environments that already use Kafka (namely Jaeger and Zipkin).

The encoding registry could be pluggable so any custom format could be used. For instance exporters in the [contrib](https://github.com/open-telemetry/open

[2020-08-18 07:38] code-haven commented on #1344
hey @mstumpfx I was away last week so missed raising the PR. I've done that now. However, I'm relatively new to Go & this project so if the fix is going nowhere, I am happy to hand it over!

[2020-08-18 21:53] kbrockhoff opened #1590 "Add support for map and array attribute values across all receivers and exporters"
**Is your feature request related to a problem? Please describe.**
The specification and OTLP recently added map and array attribute values which need to be supported by all collector components.

**Describe the solution you'd like**
Add map and array values to the golden dataset and fix translators so all broken correctness tests pass again.

**Describe alternatives you've considered**
N/A

**Add

[2020-08-18 21:54] kbrockhoff commented on #1590
I have started working on map support. Will add array support after merge of the PR mentioned above.

[2020-08-19 09:31] codeanyway11 commented on #204
Hi, I want to work on this issue.

[2020-08-19 13:26] pavolloffay opened #1591 "Reload TLS certificates"
**Is your feature request related to a problem? Please describe.**

I would like to renew certificates without shutting down OTEL service.

**Describe the solution you'd like**

Watch for filesystem changes and load certificates if they change.

**Describe alternatives you've considered**

Restart the service if certs have to be changed.

**Additional context**

A similar feature is being done in

[2020-08-19 16:27] dmitryax commented on #1304
@bogdandrutu @kbrockhoff I see that zipkin receiver still uses OC to translate from Zipkin v1 to OTLP. Do we have plans to have direct Zipkin v1 -> OTLP translation? If not can create another issue to cover that.

[2020-08-19 16:33] bogdandrutu commented on #1304
Can you please create the issue?

[2020-08-19 16:39] dmitryax opened #1594 "Zipkin receiver should translate Zipkin v1 directly to OTLP-based internal data model"
**Is your feature request related to a problem? Please describe.**
Zipkin receiver uses old OpenCensus data model to translate from Zipkin v1 to OTLP. It affects receiver performance.

**Describe the solution you'd like**
Zipkin receiver should translate Zipkin v1 format directly to the OTLP-based internal data model and don't use OC.

[2020-08-19 16:40] dmitryax commented on #1303
Created a ticket for the part that still uses OC https://github.com/open-telemetry/opentelemetry-collector/issues/1594

[2020-08-19 16:42] dmitryax commented on #1306
Hi @vikrambe did you have a chance to take a look into this ticket or https://github.com/open-telemetry/opentelemetry-collector/issues/1305 ?

[2020-08-19 17:42] tigrannajaryan commented on #1591
This perhaps can be done as part of config hot-reload feature.

[2020-08-19 17:44] tigrannajaryan commented on #1575
Needed for GA since this is a public/exported name.

[2020-08-19 17:49] tigrannajaryan commented on #1565
Appears to be a temporarily glitch in CircleCI, they are passing now. Closing for now, will reopen if happens again to see what's the root cause.

[2020-08-19 17:49] #1565 closed

[2020-08-19 19:04] flands opened #1599 "Invalid endpoint not reported as error"
**Describe the bug**

You can have an invalid endpoint defined in the configuration and the collector will start and not report the error.

**Steps to reproduce**

Configure a receiver with a custom endpoint:

[code]

notice the missing space between `endpoint:` and `0.0.0.0:12345`

**What did you expect to see?**

Collector should report a config error and fail to start

**What did you see instea

[2020-08-19 19:21] jrcamp opened #1600 "Replace pkg/errors with native Go error wrapping"
Go has had native support for [error wrapping](https://blog.golang.org/go1.13-errors) for a while now. We should use this and remove usage of `pkg/errors` throughout.

[2020-08-19 20:18] #1411 closed

[2020-08-19 20:23] owais opened #1601 "Bug report for failed CircleCI build (job: test)"
Auto-generated report for `test` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/26273

#### Test Failures
-  Test_tracesamplerprocessor_SamplingPercentageRange
-  Test_tracesamplerprocessor_SamplingPercentageRange/random_sampling_tiny
-  Test_tracesamplerprocessor_SamplingPercentageRange/random_sampling_small
-  Test_tracesamplerprocessor_SamplingP

[2020-08-19 22:49] jrcamp opened #1602 "TLS client config unification"
We still have the open issue of how to specify TLS is enabled in the case where tls_settings are not needed (ie you just want default TLS config). This is a followup to #933.

Do you do:

[code]

[code]

I think we (@bogdandrutu and @ccaraman) started discussing it but couldn't come to a conclusion.

[2020-08-19 22:50] #933 closed

[2020-08-20 01:44] bogdandrutu commented on #1424
@jpkrohling @tannaga is the requirement I am hearing for you:
Need ability to configure gRPC/HTTP receivers to propagate some "Headers" to the context?

Today I heard also about some custom auth needed by AWS for the exporters as well.

Self brainstorming:
* Define how the custom code necessary to be executed by the Receiver/Exporter gets injected to the component.
* Define the interface and what

[2020-08-20 02:40] #1513 closed

[2020-08-20 02:40] vikrambe commented on #1305
@dmitryax sorry, was caught up with other work. I had made changes to use new factory and the helper, i see @bogdandrutu has already made these changes.  I will make some progress in next few days and submit a PR.

[2020-08-20 03:52] dmitryax commented on #1305
@vikrambe nice! thank you

[2020-08-20 08:06] jpkrohling commented on #1424
Not quite sure. The gRPC receivers do propagate the HTTP headers down to the context already, which is what I'm using in the prototype:

https://github.com/jpkrohling/opentelemetry-collector/blob/cd26dc1dd30d90697580fad495b0898e44909749/processor/authenticationprocessor/oidc_authenticator.go#L68-L71

I'd still need to check other gRPC receivers, as well as other plain HTTP receivers, though.

What

[2020-08-20 13:19] jpkrohling opened #1604 "Queued retry is too verbose and, yet, not informative enough"
**Describe the bug**
When debugging a connectivity issue between the OpenTelemetry Collector and Jaeger Collector, I see the following repeatedly in the logs:

[code]

This is too verbose, and yet, not very informative: as an operator, I don't need to know about each and every attempt. What I would need to know is the cause of the failure, which is not mentioned in the log statement.

**What did y

[2020-08-20 13:22] jpkrohling commented on #1604
Interestingly, there weren't actually any problems in the configuration. Replacing the queued retry with the batch processor made it work.

[2020-08-20 14:31] jpkrohling commented on #1260
I'm working on this one.

[2020-08-20 14:41] bogdandrutu commented on #1424
@alolita can you tell us about AWS requirements for auth?

[2020-08-20 15:44] pavolloffay commented on #1591
Do you have any pointer to issue/PR?

Note that the certs names might not change only the content of the files.

[2020-08-20 15:47] tigrannajaryan commented on #1065
This is no longer necessary. PoC used https://github.com/mingrammer/flog for log file generation.

[2020-08-20 15:47] #1065 closed

[2020-08-20 16:27] owais commented on #1601
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/26473

#### Test Failures
-  Test_tracesamplerprocessor_SamplingPercentageRange
-  Test_tracesamplerprocessor_SamplingPercentageRange/random_sampling_tiny
-  Test_tracesamplerprocessor_SamplingPercentageRange/random_sampling_small
-  Test_tracesamplerprocessor_SamplingPercentageRange/random_sampling_medium

[2020-08-20 17:34] #1600 closed

[2020-08-20 17:43] tannaga opened #1606 "Extract user's browser/device/platform information from user agent"
**Is your feature request related to a problem? Please describe.**
I have a use case where I need browser/device/platform information from useragent.  useragent field is available as a tag inside span
For ex: a user-agent value of `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.125 Safari/537.36` is parsed to get below values

[code]

**Desc

[2020-08-20 20:41] owais commented on #1601
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/26591

#### Test Failures
-  Test_tracesamplerprocessor_SamplingPercentageRange
-  Test_tracesamplerprocessor_SamplingPercentageRange/random_sampling_tiny
-  Test_tracesamplerprocessor_SamplingPercentageRange/random_sampling_small
-  Test_tracesamplerprocessor_SamplingPercentageRange/random_sampling_medium

[2020-08-20 22:07] owais commented on #1601
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/26622

#### Test Failures
-  Test_tracesamplerprocessor_SamplingPercentageRange
-  Test_tracesamplerprocessor_SamplingPercentageRange/random_sampling_tiny
-  Test_tracesamplerprocessor_SamplingPercentageRange/random_sampling_small
-  Test_tracesamplerprocessor_SamplingPercentageRange/random_sampling_medium

[2020-08-20 22:23] bogdandrutu commented on #1606
@tannaga This seems like "extract" action in https://github.com/open-telemetry/opentelemetry-collector/tree/master/processor/attributesprocessor

[2020-08-20 22:28] owais commented on #1601
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/26641

#### Test Failures
-  Test_tracesamplerprocessor_SamplingPercentageRange
-  Test_tracesamplerprocessor_SamplingPercentageRange/random_sampling_tiny
-  Test_tracesamplerprocessor_SamplingPercentageRange/random_sampling_small
-  Test_tracesamplerprocessor_SamplingPercentageRange/random_sampling_medium

[2020-08-21 03:34] tannaga commented on #1606
Yes it is very much like extract function but the main difference is that it cannot be achieved with a single regex.
Different user agents have different formats and the regex that is needed will change accordingly.
In ua-parser github  all the possible user agents are maintained in a [regex format](https://github.com/ua-parser/uap-core/blob/master/regexes.yaml) and different languages use that as

[2020-08-21 07:55] pavolloffay commented on #1078
I have started working on this.

[2020-08-21 13:51] objectiser opened #1608 "Enable OC span translation to handle `span.kind` attribute with `client` and `server` values"
**Is your feature request related to a problem? Please describe.**
Related to https://github.com/envoyproxy/envoy/issues/12538
We want to set the span kind within the Envoy OC tracer. Problem is that the OC C++ impl doesn't support SpanKind.

**Describe the solution you'd like**
Currently the OC span translation code handles `span.kind` attribute for values `producer`, `consumer` and `internal` -

[2020-08-21 14:47] jpkrohling opened #1609 "Configure second-stage exporters"
As part of #1260, we need a way to add second-stage exporters to the `GetExporters()`. I can see two possible solutions for it:

1. allow pipelines to have no receivers, so that they can "declare" the exporters that are used as second-stage exporters
1. change the contract for `GetExporters()` so that it returns all exporters from the configuration, even if they aren't declared as part of any pipe

[2020-08-22 22:47] dmitryax opened #1615 "hostmetrics receiver reports duplicate filesystem datapoints in linux environment"
**Describe the bug**
`hostmetrics` receiver running in linux environment reports duplicate data points of `system.filesystem.usage` and `system.filesystem.inodes.usage` metrics.

**Steps to reproduce**
1. Build docker image: `make docker-otelcol`

2. Safe the following config in conf/conf.yaml:

[code]

3. Run prebuilt image as docker container:

[code]

**What did you expect to see?**
Unique `sys

[2020-08-24 02:40] vikrambe commented on #1306
@dmitryax @bogdandrutu  I have created a PR for #1305

Its been ages since i submitted a PR [https://github.com/open-telemetry/opentelemetry-collector/pull/1251] for tail sampling composite policy its still not reviewed, Anyways, even that PR would need a change to use otlp model. Can i also include composite changes as part of this issue ? Please, suggest ?

[2020-08-24 13:09] owais commented on #1601
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/27081

#### Test Failures
-  TestGRPCReceptionWithTLS

[2020-08-24 13:17] owais opened #1621 "Bug report for failed CircleCI build (job: windows-test)"
Auto-generated report for `windows-test` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/27076

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-08-24 13:27] owais commented on #1601
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/27093

#### Test Failures
-  TestGRPCReceptionWithTLS

[2020-08-24 13:38] owais commented on #1621
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/27092

[2020-08-24 15:50] morigs opened #1624 "Default Metric Labels"
[Documentation ](https://opentelemetry.io/docs/collector/about/#agent) says

But I can't figure out what kind of metadata it adds.
I need all metrics to contain a label with the hostname. It seems the agent could add it (similar to as prometheus does with job/instance)

[2020-08-24 16:39] bogdandrutu opened #1627 "Jaeger receiver test certificates are expired"

[2020-08-24 17:03] owais commented on #1601
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/27268

#### Test Failures
-  Test_tracesamplerprocessor_SamplingPercentageRange
-  Test_tracesamplerprocessor_SamplingPercentageRange/random_sampling_tiny
-  Test_tracesamplerprocessor_SamplingPercentageRange/random_sampling_small
-  Test_tracesamplerprocessor_SamplingPercentageRange/random_sampling_medium

[2020-08-24 18:07] owais commented on #1601
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/27380

#### Test Failures
-  Test_tracesamplerprocessor_SamplingPercentageRange
-  Test_tracesamplerprocessor_SamplingPercentageRange/random_sampling_tiny
-  Test_tracesamplerprocessor_SamplingPercentageRange/random_sampling_small
-  Test_tracesamplerprocessor_SamplingPercentageRange/random_sampling_medium

[2020-08-24 18:10] #1615 closed

[2020-08-24 18:45] pavolloffay commented on #1627
I will have a look tomorrow.

[2020-08-24 19:34] owais commented on #1601
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/27439

#### Test Failures
-  Test_tracesamplerprocessor_SamplingPercentageRange
-  Test_tracesamplerprocessor_SamplingPercentageRange/random_sampling_tiny
-  Test_tracesamplerprocessor_SamplingPercentageRange/random_sampling_small
-  Test_tracesamplerprocessor_SamplingPercentageRange/random_sampling_medium

[2020-08-24 20:21] owais commented on #1601
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/27527

#### Test Failures
-  Test_tracesamplerprocessor_SamplingPercentageRange
-  Test_tracesamplerprocessor_SamplingPercentageRange/random_sampling_tiny
-  Test_tracesamplerprocessor_SamplingPercentageRange/random_sampling_small
-  Test_tracesamplerprocessor_SamplingPercentageRange/random_sampling_medium

[2020-08-25 00:52] djjayeeta commented on #1541
I have the same issue but I am using prometheus receiver with file exporter, I only see gauge metrics. My metrics are exposed in prometheus format, so I am left with the choice of using prometheus receiver.
Is this an expected behavior?
Which exporters works with histogram metrics + prometheus receiver?

[2020-08-25 04:31] #1289 closed

[2020-08-25 04:38] owais commented on #1601
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/27906

#### Test Failures
-  Test_tracesamplerprocessor_SamplingPercentageRange
-  Test_tracesamplerprocessor_SamplingPercentageRange/random_sampling_tiny
-  Test_tracesamplerprocessor_SamplingPercentageRange/random_sampling_small
-  Test_tracesamplerprocessor_SamplingPercentageRange/random_sampling_medium

[2020-08-25 09:12] jpkrohling commented on #1609
cc @tigrannajaryan, @bogdandrutu, @pjanotti , would you have a few minutes to share your opinions?

[2020-08-25 13:49] #1627 closed

[2020-08-25 17:47] keitwb commented on #1064
This is implemented in #1407.

[2020-08-25 17:48] keitwb commented on #955
Performance test results are outlined in https://docs.google.com/document/d/1uMO0DRlesOMGTjla4Ucq1W0wlnepc8DLe3tPJBvUZo4/edit?usp=sharing.  Comments welcome.

[2020-08-25 17:50] djjayeeta opened #1638 "Prometheus receiver does not scrape some Summary type metrics"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.

**What did you expect to see?**
I have a Prometheus receiver + file exporter + logging exporter config. I expect to see all gauge, histogram and summary metric in the json file from file exporter.

**What did you see instead?**
I can only see Ga

[2020-08-25 17:59] huyan0 commented on #1638
I think this issue, #1541 and #1255 are all about the same problem. I don't think this will be fixed until OTLP settles, is that correct? @jmacd ?

[2020-08-25 18:09] bogdandrutu commented on #215
This was done https://github.com/open-telemetry/opentelemetry-collector/pull/1460

[2020-08-25 18:09] #215 closed

[2020-08-25 18:12] #1305 closed

[2020-08-25 18:14] bogdandrutu commented on #1638
This is a bug in the prometheus receiver, see https://github.com/open-telemetry/opentelemetry-collector/issues/1255

[2020-08-25 18:16] bogdandrutu commented on #1638
I don't think the file exporter does not work, it exports the entire data as json, are you sure you receive the data?

[2020-08-25 18:37] djjayeeta commented on #1638
Yes, the logging exporter shows the histogram and summary metrics but I see them as DoubleDataPoints https://github.com/open-telemetry/opentelemetry-collector/blob/8422992a20c343b3a95df57ad15f38bc8862c1d4/exporter/loggingexporter/logging_exporter.go#L135

[2020-08-25 20:14] bogdandrutu commented on #1638
That is not a histogram or summary it is a double data point.

[2020-08-25 20:15] bogdandrutu commented on #1638
Please add the logs.

[2020-08-25 22:55] nilebox commented on #1609
What about other aspects of pipelines? They support processors and multiple exporters, for example. If you just need exporters then declaring a pipeline seems redundant.

Your use case seems specific enough to have explicit dedicated section in the config. Also, the "second stage" term needs to be documented IMO.

[2020-08-26 04:48] djjayeeta commented on #1638
@bogdandrutu Sorry for the late response, it took me some time to debug. Both the logging exporter and file exporter is not able to export some summary type metrics, specially the _sum type

My config file

[code]

With the same config I launched a prometheus server which is able to scrape the metric. I think this is issue of promethues receiver then which is not able to scrape apiserver_admission

[2020-08-26 08:02] jpkrohling commented on #1609
Good point about the processors. Multiple exporters are indeed part of the design.

To be honest, this was the least intrusive way I found to get the exporter instances ready and shared across the components. If we are going with a dedicated construct, it might have a bigger impact in the current code base, but it could look like this:

[code]

[2020-08-26 14:58] tigrannajaryan commented on #955
Just to summarize a few important points from the test results document:

- Addition of Fluent Bit to the Collector increases the total memory usage by about 20MB. This may be a concern for very resource limited use-cases which process very low log volumes. In these use-cases we potentially can do better if this functionality is implemented in the Collector instead. We will need to look into this,

[2020-08-26 14:58] #955 closed

[2020-08-26 15:00] pavolloffay commented on #873
I have started looking into this and I would like to share some observations:

The `--set` flag with multiple values can be added via `pflag` package e.g. `flagSet.StringArray("set",...`. Then the values can be obtained via `app.rootCmd.Flags().GetStringArray("set")`.

The next step was to merge these values obtained as `processors.batch.timeout=1s` into the viper that loded the configuration file

[2020-08-26 17:59] tigrannajaryan commented on #1609
Unfortunately I am not sure I like either of the suggested approaches.

I think it will be confusing to have a pipelines that consist of just exporters.

I am not sure how you can do this. Exporters are not created at all unless they are part of a pipeline. The Collector will not know how to create an exporter because the pipeline type dictates how the exporter is created.

Ideally the Collector s

[2020-08-26 18:00] #1580 closed

[2020-08-26 19:46] tigrannajaryan commented on #1590
@kbrockhoff sorry for the delay, https://github.com/open-telemetry/opentelemetry-collector/pull/1523 is now merged.

[2020-08-26 20:24] djjayeeta commented on #1638
I think I get it now, the _sum and _count metrics are summarized in the same metric https://github.com/open-telemetry/opentelemetry-collector/blob/master/receiver/prometheusreceiver/internal/metricfamily.go#L157.

Out of curiosity Is there a specific reason to do that rather than leaving the metric as it is. ex we get apiserver_admission_step_admission_duration_seconds_summary_sum as a separate me

[2020-08-26 21:09] #1454 closed

[2020-08-27 03:08] #1599 closed

[2020-08-27 08:09] jpkrohling commented on #1609
How about a new interface, like:

[code]

The config loader, once it loads the exporter, would check whether the exporter implements the interface and would add the returned dependencies to the list of exporters to instantiate. This would allow us to have a config without the `extra` part from the previous example:

[code]

[2020-08-27 10:45] nilebox commented on #1609
Alternatively, you may just embed "second stage" exporters into the routing exporter:
[code]

This will require reusing code from the exporters builder https://github.com/open-telemetry/opentelemetry-collector/blob/eb0896ec734cf6c87d429a6fffad04b99d244bd3/service/builder/exporters_builder.go#L153-L154
but will give you a complete freedom on the preferred configuration format / flexibility.

[2020-08-27 10:57] jpkrohling commented on #1609
One of the previous concerns was about reusing instances from the main collector. In your example, the routing exporter would have second-stage instances of its own, right?

I don't think it would be a problem, but perhaps @tigrannajaryan has a specific concern about it?

[2020-08-27 18:22] tigrannajaryan commented on #1609
This is an option but makes the "second stage" exporters special. For example they will be no longer visible from GetExporters() functions to other components. I don't think this is desirable.

This is also a possibility but requires changes to the core which I am not sure we want to do yet.

I would try something else for now. Instead of making this an exporter make it a routing processor, like t

[2020-08-27 19:43] tigrannajaryan opened #1650 "Add logs support to resource processor"
This is part of OpenTelemetry Logs roadmap: https://github.com/open-telemetry/oteps/blob/master/text/logs/0130-logs-1.0ga-definition.md

[2020-08-27 19:44] tigrannajaryan opened #1651 "Add logs support to batch processor"
This is part of OpenTelemetry Logs roadmap: https://github.com/open-telemetry/oteps/blob/master/text/logs/0130-logs-1.0ga-definition.md

[2020-08-27 19:44] tigrannajaryan opened #1652 "Add logs support to attributes processor"
This is part of OpenTelemetry Logs roadmap: https://github.com/open-telemetry/oteps/blob/master/text/logs/0130-logs-1.0ga-definition.md

[2020-08-27 19:46] tigrannajaryan opened #1653 "Add logs support to resourcedetection processor"
This is part of OpenTelemetry Logs roadmap: https://github.com/open-telemetry/oteps/blob/master/text/logs/0130-logs-1.0ga-definition.md

[2020-08-27 19:46] tigrannajaryan opened #1654 "Add logs support to k8s_tagger processor"
This is part of OpenTelemetry Logs roadmap: https://github.com/open-telemetry/oteps/blob/master/text/logs/0130-logs-1.0ga-definition.md

[2020-08-27 19:48] tigrannajaryan opened #1655 "Add perf test for OTLP logs"
Add performance test to testbed, with OTLP in -> OTLP out logs.

[2020-08-27 19:50] tigrannajaryan commented on #1063
This is done.

[2020-08-27 19:50] #1063 closed

[2020-08-27 21:39] owais commented on #1621
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/29272

[2020-08-27 21:50] huyan0 commented on #1541
An update on this issue:
[code]
The translation is giving setting the temporality to INVALID_TEMPORALITY; This makes the metrics not pass the check of the Prometheus remote write exporter.

[2020-08-28 02:43] bogdandrutu opened #1657 "Update to the new metrics proto"
- [x] Move old generated internal data structures to a different package
- [x] Generate new internal data structures
- [x] Implement converter from old to new internal data structure
- [x] Change components one by one
- [ ] Remove old internal data structures

[2020-08-28 08:21] jpkrohling commented on #1609
We can catch bugs related to this in the routing processor and log accordingly.

This could be confusing to users at first, as it would basically mean that this processor has exporter semantics. But sounds good. Can we determine whether the next consumer is a processor? If we detect that this is the case, we might want to log a warning as well (like: "the next consumer is a processor, but it won't

[2020-08-28 08:26] jpkrohling commented on #1424
@alolita ping ?

[2020-08-28 10:23] pavolloffay commented on #886
The PR https://github.com/open-telemetry/opentelemetry-collector/pull/1273 adds support for default conf by injecting it into the user-defined configuration.  The thread https://github.com/open-telemetry/opentelemetry-collector/pull/1273#discussion_r473195565 shows that there are some problems with ambiguity: injecting the configuration might cause confusion as users would not know what configurat

[2020-08-28 14:50] pavolloffay opened #1663 "Move telemetry package (e.g. telemetry.GetLevel) to a public package"
**Is your feature request related to a problem? Please describe.**

In Jaeger OpenTelemetry we would like to have access to `telemetry.GetLevel()` and `telemetry.Level` symbols to appropriately scope down telemetry data reported by the service.

This is a prerequisite for https://github.com/open-telemetry/opentelemetry-collector/issues/1413.

**Describe the solution you'd like**

Make `telemetry`

[2020-08-28 15:00] tigrannajaryan commented on #886
@pavolloffay another alternate: what if we simply provide a default config file in our distribution? The user will have to specifically use it via `--config` command line parameter which is slightly more work then completely automatic defaults. However the additional benefit of that will be that we can nicely document the default config file with comments and even fully document components that we

[2020-08-28 15:05] tigrannajaryan commented on #1609
Yes, we can by checking that the next consumer implements the Processor interface (which is distinct from Exporter interface).

Good idea.

[2020-08-29 15:04] owais commented on #1601
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/30211

#### Test Failures
-  TestOCToMetrics_ResourceInMetric

[2020-08-29 18:31] owais opened #1671 "Bug report for failed CircleCI build (job: correctness)"
Auto-generated report for `correctness` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/30296

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-08-29 20:29] owais opened #1672 "Bug report for failed CircleCI build (job: loadtest)"
Auto-generated report for `loadtest` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/30370

#### Test Failures
-  TestTrace10kSPS
-  TestTrace10kSPS/Zipkin

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-08-30 00:22] bogdandrutu opened #1674 "Auto-generate and finalize the API for internal structs when using proto `oneof`"

[2020-08-30 02:57] bogdandrutu opened #1681 "Change Prometheus remote write exporter to use the new internal metrics structs"

[2020-08-30 20:32] owais commented on #1671
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/30813

[2020-08-30 21:40] huyan0 commented on #1681
Thanks for updating the OTLP. Can I do this in the histogram PR? #1643

[2020-08-31 03:03] vikrambe commented on #1306
@dmitryax FYI...  I have started working on this, i will open a PR in next few days

[2020-08-31 03:05] dmitryax commented on #1306
@vikrambe nice! thanks for letting us know

[2020-08-31 06:48] #1101 closed

[2020-08-31 07:28] tensorchen opened #1692 "kafka receiver panic: close of closed channel"
**Describe the bug**
I use kafkareceiver to receive data. When running for a period of time (about 10s), the program will panic.

[code]

[2020-08-31 09:17] ckanner opened #1693 "Prometheus file-based service discovery failed"
I use prometheus as a metrics receiver, and use file-based service discovery. But it scrape failed. The error message is
`2020-08-31T17:06:34.178+0800    INFO    scrape/scrape.go:972            {"component_kind": "receiver", "component_type": "prometheus", "component_name": "prometheus", "level": "debug", "scrape_pool": "dummy", "target": "http://192.168.100.162:8079/metrics", "msg": "Append faile

[2020-08-31 15:12] owais commented on #1621
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/31164

[2020-08-31 16:22] pavolloffay commented on #1692
The seems that the `ConsumerGroupHandler.Setup` was called multiple times  https://github.com/open-telemetry/opentelemetry-collector/blob/7f13eb66c33341f840f83f43a5fc2bf2f9c8628c/receiver/kafkareceiver/kafka_receiver.go#L131 and it tried to close the ready channel twice.

Our impl is based on their example https://github.com/Shopify/sarama/blob/master/examples/consumergroup/main.go#L142. Maybe the

[2020-08-31 19:57] huyan0 commented on #1681
Hi @bogdandrutu, Should I convert from data.MetricsData or convert from the underlying v0.5 OTLP data? I remember you saying that more change will happen to this current version of OTLP on Thursday, and using data.MetricsData would hide those changes from the exporter. Is this correct?

[2020-08-31 20:28] bogdandrutu commented on #1681
You should change from using dataold.MetricData to use `data.MetricData`

[2020-08-31 20:33] bogdandrutu commented on #1681
You should change to use:
`dataold.MetricsData` -> `data.MetricsData`
`pdatautil.*OldInternal*` -> `pdatautil.*Internal*`
`testdataold` -> `testdata` (prefix was changed `GenerateMetricData` -> `GenerateMetrics`)

[2020-08-31 20:41] huyan0 commented on #1681
Okay, sounds good. Thanks.

[2020-08-31 20:53] owais commented on #1672
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/31467

#### Test Failures
-  TestTrace10kSPS
-  TestTrace10kSPS/Zipkin

[2020-08-31 21:02] owais commented on #1671
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/31507

[2020-08-31 22:34] owais commented on #1671
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/31603

[2020-09-01 00:38] bogdandrutu commented on #1681
Don't know why this issue got closed probably I pressed random buttons :))

[2020-09-01 11:17] jpkrohling commented on #1424
@bogdandrutu how can we move forward with this?

[2020-09-01 16:28] bogdandrutu commented on #1681
@huyan0 are you working on this?

[2020-09-01 16:29] huyan0 commented on #1681
Yeah I have the code. will file a PR today

[2020-09-01 19:00] owais commented on #1671
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/32091

[2020-09-01 20:21] #1681 closed

[2020-09-01 20:40] owais opened #1711 "Bug report for failed CircleCI build (job: test)"
Auto-generated report for `test` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/32259

#### Test Failures
-  TestExportSpanLinkingMaintainsParentLink

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-09-01 22:14] #1657 closed

[2020-09-02 02:22] owais commented on #1621
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/32622

[2020-09-02 03:08] chenzhihao opened #1719 "A way to export internal data as OTLP proto format"
**Is your feature request related to a problem? Please describe.**

We are trying to add a customised OPTL collector Exporter to send the metrics and spans via HTTP1.1 to our ingestion service by using OPTL protobuf binary as the transport data format.

But we can't simply convert the `pdata.Traces` and `pdata.Metrics` to the OPTL Protobuf-based structs as these structs are in the private fields o

[2020-09-02 04:40] bogdandrutu commented on #1719
Solving partially this  https://github.com/open-telemetry/opentelemetry-collector/pull/1720

[2020-09-02 05:39] chenzhihao commented on #1719
@bogdandrutu Thanks for your reply!

After applying this PR we can map the internal data to `[]*otlpmetrics.ResourceMetrics`, but the metric batch struct is still private and can not be used by us directly: https://github.com/open-telemetry/opentelemetry-collector/blob/master/internal/data/opentelemetry-proto-gen/collector/metrics/v1/metrics_service.pb.go#L38

Could we ask you to shed some lights

[2020-09-02 06:30] pavolloffay opened #1721 "Deprecate queue retry processor and enable queueing per exporter by default"
**Is your feature request related to a problem? Please describe.**

The queue retry is now defined per exporter and the processor should not be used anymore. but the docs does not say anything that the processor is deprecated. https://github.com/open-telemetry/opentelemetry-collector/tree/master/processor/queuedprocessor

The queue should be also enabled by default by exporters https://github.com/

[2020-09-02 13:48] bogdandrutu commented on #1719
There are 2 things:
1. Soon will have time to implement the otlp over http.
2. We still don't know how and if we want to expose the proto that we use internally (we may reimplement some messages for performance, etc). So looks like a decision in that sense is required as well.

Probably this week I will give you the exporter, then will spend more time thinking about the protos, as I said is not ju

[2020-09-02 13:50] bogdandrutu commented on #1719
It may be easier to expose a ToProtoBytes method that serializes things for you as well as a ToJsonString without exposing the data structures that we use to encode/decode

[2020-09-02 13:52] tigrannajaryan commented on #1719
@chenzhihao any reason you do not want to use official [OTLP/HTTP protocol](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/protocol/otlp.md#otlphttp)?

[2020-09-02 13:53] bogdandrutu commented on #1719
I can see one: It is not implemented yet :)

[2020-09-02 14:03] tigrannajaryan commented on #1719
For reference, OTLP/HTTP exporter is planned for GA: https://github.com/open-telemetry/opentelemetry-collector/issues/882 and we could use some help to implement it.

[2020-09-02 14:35] tigrannajaryan commented on #1609
Closing this since we decided to go with processors instead of exporters for now.

[2020-09-02 14:35] #1609 closed

[2020-09-02 14:59] jpkrohling commented on #440
I can look into this one.

[2020-09-02 15:59] owais commented on #1671
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/32774

[2020-09-02 16:03] jpkrohling commented on #1465
This should also be assigned to me.

[2020-09-02 17:07] keitwb commented on #1651
See #1723

[2020-09-02 17:08] pmm-sumo commented on #1650
I can help with that one and if this would go well, could copy the approach to other processors (I believe it should be simple piece of code most of the time)

[2020-09-02 18:03] tigrannajaryan commented on #1650
@pmm-sumo sounds good, assigning to you.

[2020-09-02 18:18] #1692 closed

[2020-09-02 18:39] joe-elliott opened #1724 "Discussion of Consistent Routing by TraceID"
**Need**

Creating this issue to continue a discussion from the Otel/Agent Collector meeting.  We have need for a custom exporter with the following attributes.  Our need is specifically for an OTLP exporter, but this could be done in a way that is exporter agnostic.

- Routes to a set of backends based on trace id such that spans with the same trace id always end up on the same backend.
- The set

[2020-09-02 21:45] sargun commented on #1005
what is the suggestion for people who have proprietary metrics systems / exporters? Right now, it requires forking contrib, and editing the main.go (or dropping a new file into it). Alternatively, I feel like we already have a "plugin" format for metrics (the OT Protobuf format). Is there appetite for being able to point the file exporter to a TCP / Unix domain socket?

[2020-09-02 22:19] chris-smith-zocdoc commented on #1514
@tigrannajaryan Is my proposed fix ok? If so I'll submit a pr for this

[2020-09-02 22:22] tigrannajaryan commented on #1514
@chris-smith-zocdoc yes, your proposal sounds correct.

[2020-09-02 22:29] tigrannajaryan commented on #1005
@sargun one way is to implement a proprietary format exporter and add to https://github.com/open-telemetry/opentelemetry-collector-contrib/ repo.

[2020-09-02 22:33] tigrannajaryan commented on #1651
Fixed via https://github.com/open-telemetry/opentelemetry-collector/pull/1723

[2020-09-02 22:33] #1651 closed

[2020-09-02 22:35] chris-smith-zocdoc commented on #1724
There was a desire to keep routing concerns out of the collector expressed in this [pr](https://github.com/open-telemetry/opentelemetry-collector/pull/541)

As an alternative proposal, I think it would be useful to have a mechanism (processor) that would allow the collector to add a http header to the http calls that the exporters make. This would allow an external system (like Envoy) to perform t

[2020-09-02 23:06] sargun opened #1727 "Consider adding OpenTelemetry [Metrics] Exporter"
**Is your feature request related to a problem? Please describe.**
We would like to be able to chain OpenTelemetry components and send metrics from the opentelemetry collector to other systems that have opentelemetry compatibility.

**Describe the solution you'd like**
A exporter which can export to either the protobuf / JSON over HTTP or GRPC Opentelemetry collector endpoint as described in (http

[2020-09-02 23:21] bogdandrutu commented on #1727
This is already supported (using gRPC) unless I am missing something

[2020-09-02 23:22] bogdandrutu commented on #1727
https://github.com/open-telemetry/opentelemetry-collector/tree/master/exporter/otlpexporter

[2020-09-03 00:03] sargun commented on #1727
@bogdandrutu Would HTTP (either protobuf or JSON) be considered to be added?

[2020-09-03 04:44] chenzhihao commented on #1719
@bogdandrutu if we could have the helper method `ToProtoBytes` to generate the marshalled  `ExportMetricsServiceRequest`, `ExportTraceServiceRequest`, that would be really helpful!

(If we could eventually have the exporter which can transport otlp over http that would be awesome!)

[2020-09-03 07:36] jpkrohling commented on #1465
cc @nilebox, as you reviewed the original PR.
cc @pjanotti, @bogdandrutu and @tigrannajaryan for your opinions.

The `groupbyprocessor`'s premise is to release traces to the next processor only when a trace has been completed. It's unclear what should be the behavior during the shutdown: should in-memory traces be discarded, as they are potentially incomplete? Or should them all be flushed, to giv

[2020-09-03 08:16] jpkrohling commented on #1724
Glad to see this! As mentioned in the call yesterday, I had this in my radar for some time now and my initial idea was very close to what @annanay25 implemented before, except that it would be an exporter instead of a processor and it wouldn't redirect spans to peers, but rather, to backends. This way, there could be 20 backend instances and only one loadbalancer.

[code]

The idea is that an otel

[2020-09-03 09:30] jpkrohling commented on #1424
As discussed during yesterday's call, @alolita's use case isn't about authenticating incoming requests, but rather, about adding authentication data to outgoing requests, at the exporters level.

As such, I'm opening a PR with the proposal I have, which I believe supports the cases discussed.

[2020-09-03 12:27] jpkrohling commented on #213
I'm planning on building an "opentelemetry-collector-builder", which would generate a binary based on a list of extra go modules as input. For that, I would certainly appreciate if someone could write a couple of paragraphs on the supported (or expected) way to have a custom build.

My understanding is that I would need to create an entrypoint (`main()`) that would get `defaultcomponents.Component

[2020-09-03 14:29] bogdandrutu commented on #1719
The exporter is coming soon. The helper methods feel free to craft a PR, I need to see how it looks before making a decision (just the signatures is enough)

[2020-09-03 14:40] bogdandrutu commented on #1727
Yes, see #1719 where someone else asks for the same thing.

[2020-09-03 15:15] pavolloffay opened #1731 "IsNil in pdata causes panic: nil pointer dereference"
**Describe the bug**

`IsNil` methods from `pdata` package cause `panic: nil pointer dereference`.

**Steps to reproduce**

[code]

**What did you expect to see?**

Not panic either `false` or `true`.

**What did you see instead?**

panic

**What version did you use?**

**What config did you use?**

**Environment**

**Additional context**

cc @tigrannajaryan

[2020-09-03 15:16] pavolloffay commented on #1731
The method logic should be for instance

[code]

[2020-09-03 15:56] huyan0 opened #1733 "Return consumererror.Permanent in the Prometheus remote write exporter"
The Prometheus remote write exporter right now returns vanilla Go errors. This breaks the retry mechanism in the Collector. If a batch contains a metric with invalid temporailty or it gets a 400 response code from the backend, the collector will exponentially backoff and retry, getting the same error  every time.

If the Prometheus remote write returns error of `consumererror.Permanent` type, the

[2020-09-03 16:31] chris-smith-zocdoc commented on #1189
I think this was resolved by https://github.com/open-telemetry/opentelemetry-collector/pull/1362

Can this be closed @objectiser ?

[2020-09-03 16:48] huyan0 commented on #1541
With OTLP v0.5 temporality translation is added. The Prometheus receiver works with the remote write exporter

[2020-09-03 16:48] #1541 closed

[2020-09-03 16:55] huyan0 opened #1736 "Return a consumererror.permanent from componenterror.CombineErrors() when necessary"
When combining vanilla Go errors, `consumererror.partial` and `consumererror.permanant`, the resultant error of `componenterror.CombineErrors()` is always the Go error type. This breaks the retry mechanism in the collector, as explained in #1733

`componenterror.CombineErrors()` should check for the type of each error; if any error is of type `consumererror.permanent`, the returned error should al

[2020-09-03 16:56] huyan0 opened #1737 "Prometheus Receiver Generates one more bucket than bound"
I am exporting from the logging exporter with the Prometheues Receiver. I noticed the received metrics have one more bucket than bound:

[code]

This extra bucket possibly is the “+Inf” bucket from the scraped Prometheus metrics. Is this the expected behavior?

[2020-09-03 17:17] tigrannajaryan commented on #1731
This is not a valid usage as it is described in the comments for pdata.Resource:

[code]

[2020-09-03 17:22] sargun commented on #1727
Linking the actual bug: https://github.com/open-telemetry/opentelemetry-collector/issues/882

[2020-09-03 17:22] #1727 closed

[2020-09-03 17:47] keitwb commented on #1652
I'll take this (still can't assign issues yet).

[2020-09-03 18:07] bogdandrutu commented on #1724
This is how I see this, having a LBExporter that can start multiple instances of a "delegated" exporter and route requests based on some rules:

[code]

This way we don't have to change the current pipeline design

[2020-09-03 18:42] bogdandrutu commented on #1737
yes, that is expected

[2020-09-03 18:45] #1737 closed

[2020-09-03 19:17] tigrannajaryan commented on #1465
I believe the desirable shutdown behavior is to stop receiving new data, drain all in-memory data from the pipeline, flush the exporters and exit the process. For groupbyprocessor this would mean flushing the accumulated (even if incomplete) traces to the next consumer. I do think there is an expectation to wait for a trace to be complete before shutdown is complete.

[2020-09-03 19:24] owais commented on #1671
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/33239

[2020-09-03 19:25] owais commented on #1711
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/33244

#### Test Failures
-  TestProcessManager

[2020-09-03 19:46] pavolloffay commented on #1731
How does the consumer of the resource/pdata structs know that the struct is zero initialized? There should be an API to check for that.

[2020-09-03 21:16] pmm-sumo commented on #1653
Since PR for #1650 (I think we can close it, BTW) was merge, I will be happy to take this one and #1654

[2020-09-03 21:37] #841 closed

[2020-09-03 23:57] chenzhihao commented on #1719
@bogdandrutu I created a PR draft for the functions: https://github.com/open-telemetry/opentelemetry-collector/pull/1741

Do you think this makes sense? If we can make a decision I will add tests for it.

[2020-09-04 02:14] chenzhihao commented on #1719
I think this may give us more flexibilities for consuming these Protobuf bytes comparing to using the coming OTLP/HTTP exporter directly.

For instance, we are aiming to send these protobuf bytes via HTTP1.1 with some customized HTTP header metadata. This kind of specific requirement could be hard to be achieved by using the coming OTLP/HTTP exporter.

[2020-09-04 08:04] jpkrohling commented on #1724
@bogdandrutu how would the exporter #1 know to which host to send the data to?

[2020-09-04 08:07] jpkrohling commented on #1465
I think that's in line with @nilebox's opinions. I'll work on doing this then.

[2020-09-04 08:22] jpkrohling commented on #213
The builder that I mentioned above could be used to address open-telemetry/opentelemetry-collector-contrib#873 and open-telemetry/opentelemetry-collector-contrib#35

[2020-09-04 13:34] joe-elliott commented on #1724
Our needs are exactly in line with what @jpkrohling is describing.  Dynamic discovery of backends and maintaining a hash ring for minimal disruption during scaling events.  I also had not considered, but really like the idea of relying on the `groupbytrace` processor to reduce fractured traces when scaling events do occur.

Agree this needs some attention.  We are seeing success using both gossip

[2020-09-04 15:33] #1731 closed

[2020-09-04 19:52] flands commented on #1479
If I recall correctly the parameter used to be called `secure`, but was then changed to `insecure`. Docs were likely not updated at the same time. I will take this.

[2020-09-06 19:45] objectiser commented on #1189
@chris-smith-zocdoc There are two parts to this issue - the first has been implemented in #1362, but the second part still needs to be done, deprecating/removing the "grouping by trace id" functionality from the tail based sampling processor (to remove duplication).

[2020-09-07 14:52] bogdandrutu commented on #1724
@jpkrohling "exporter # 1" is an instance of an exporter (otlp, etc.) created by the lb exporter. The lb exporter is a composed exporter which does the handling of the config changes and creates / deletes instances of real exporters as well as routes requests to the specific exporter.

So in the pipeline you connect only the lb exporter which then does routing to the right instance "exporter # X"

[2020-09-07 14:53] owais commented on #1671
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/33903

[2020-09-07 15:12] jpkrohling commented on #1724
When the list of backend collectors changes, what happens? I'm trying to wrap my head around your proposal.

[2020-09-08 11:29] pmm-sumo commented on #1654
Will be happy to take this

[2020-09-08 16:36] chris-smith-zocdoc opened #1749 "Zipkin Receiver: Zero Duration Spans have no endtime"
**Describe the bug**
If a zipkin span is sent with a zero duration or without the duration set, the zipkin receiver does not set the end time on the span. This bug was introduced in https://github.com/open-telemetry/opentelemetry-collector/pull/1446

With the endtime unset, this causes errors in other processors that may look at the span duration as they may do `end - start` to compute the duratio

[2020-09-08 18:33] #1749 closed

[2020-09-08 18:38] bogdandrutu commented on #1724
Depends how we want to implement the "configuration watch":
1. If LB is configured to retrieve this configuration from an http endpoint from example, then the overall collector config/pipeline does not change, so the LB composite exporter should shutdown old instances and start new instances based on the config.
2. If the LB has a static config with all the endpoints, then somehow the collector co

[2020-09-08 18:56] #1653 closed

[2020-09-09 07:23] jpkrohling commented on #1724
In a first implementation, the list of available backends should come from DNS ("A" records), as is usual for this kind of workload, especially when considering cloud-native platforms, like Kubernetes. This is also what gRPC client-side load balancing does. A stretch goal would be to have the possibility of reading it from `etcd` as well, which provides a few benefits covering intricacies of distr

[2020-09-09 12:20] jpkrohling commented on #213
I got a builder working. It's currently located in my own namespace, but I could move it to OpenTelemetry contrib if you think it's suitable: https://github.com/jpkrohling/opentelemetry-collector-builder .

[2020-09-09 14:12] #1479 closed

[2020-09-09 18:27] Hongbo-Miao opened #1752 "opentelemetry-collector service name issue with Prometheus"
Moved from https://github.com/open-telemetry/opentelemetry-js/issues/1464

---

### What version of OpenTelemetry are you using?

[code]

### What version of Node are you using?
Node 14

### What did you do?

To reproduce, use the demo at https://github.com/open-telemetry/opentelemetry-js/tree/master/examples/collector-exporter-node

### What did you expect to see?

To send metric successfully to

[2020-09-10 22:37] #1260 closed

[2020-09-11 16:31] #985 closed

[2020-09-11 17:21] #1736 closed

[2020-09-11 18:35] bogdandrutu commented on #1724
[code]

The `config_endpoint` returns something `trace_id_range: -> endpoint`, then when a config is received the lb-exporter will create len(`config_endpoint`) instances of otlp exporter and will do the redirect based on the `trace_id_range`

[2020-09-11 23:55] #1608 closed

[2020-09-12 00:00] owais commented on #1711
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/35130

#### Test Failures
-  [build failed]

[2020-09-12 00:00] owais commented on #1711
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/35135

#### Test Failures
-  [build failed]

[2020-09-12 00:02] owais opened #1769 "Bug report for failed CircleCI build (job: windows-test)"
Auto-generated report for `windows-test` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/35120

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-09-12 00:03] owais commented on #1769
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/35127

[2020-09-12 01:13] tannaga opened #1770 "performance issue with otelcollector http receiver endpoint"
**Describe the bug**
This is related to performance of opentelemetry-collector. I have deployed opentelemtry-collector in k8s. In my pipeline, I have otlp http receiver, attribute processor (adding one tag) and logging exporter with sampling. I have allotted 1cpu and 4gb memory.
With this setup, at around 1250 request per second (1 span in each request), cpu utilization is well over 80%. With 3 sp

[2020-09-12 04:32] tannaga commented on #1770
- Protocol: HTTP 1.1
- Payload
[code]

[2020-09-13 20:05] arpitjindal97 commented on #575
It is so crucial bug and still open from more than 6 months

[2020-09-13 21:17] Hongbo-Miao commented on #1752
Sorry I was new to those docker-compose settings, I need change the targets in **prometheus.yaml** to same `container_name` in **docker-compose.yml**. Then I can use any name.

**docker-compose.yml**

[code]

**prometheus.yaml**

[code]

[2020-09-13 21:17] #1752 closed

[2020-09-14 07:56] arpitjindal97 commented on #1149
I'm facing a similar problem like this. I have configured collector to scrape metrics from 2 Grafana. I'm also add labels to both of them for differentiating but metrics is coming from 1 Grafana at a time.

[2020-09-14 08:28] jpkrohling commented on #1724
It means that there's another process, somewhere, calculating and rebalancing which backends will receive each trace ID range? We'd still have the leader election/data sync problem that we have with DNS... A "batteries included" approach would probably make users lives easier in my opinion.

If I understood your proposal correctly, the load balancer exporter would have to know details about the un

[2020-09-14 08:45] arpitjindal97 commented on #1076
This issue is still not resolved and is reproducible with latest version.

[2020-09-14 08:47] arpitjindal97 opened #1774 "Problem when scraping metrics from multiple targets that emits metrics of the same name and labelkeys"
Reopen of #1076

This issue is not resolved and can be seen in latest version

[2020-09-14 13:00] tigrannajaryan commented on #1608
@objectiser it is not entirely clear why the fix for this needs to be in the Collector. If I understand the description correctly it appears that the problem is that  does not fully support all span kinds that it is supposed to support. If that's the case it seems the right approach to fix OpenCensus C++ implementation.

[2020-09-14 14:13] liamawhite commented on #1774
Does your repro differ from the example in #1076?

[2020-09-14 14:39] arpitjindal97 commented on #1774
I'm not sure about which repro, you are referring to, but I can provide you simple steps by which you can reproduce the same error at your end.

 - Run any application with more than 1 Instance at different ports (Grafana)
 - Configure OpenTelemetry Collector to scrape both

`receiver -> prometheus -> config -> scrape both and apply label with same key and different value`

[2020-09-14 17:12] bogdandrutu opened #1777 "Flaky extension fluentbit tests"
https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector/3434/workflows/de5ccf4d-dc44-4f89-9caf-34438b0b63c2/jobs/35451

[2020-09-14 17:38] objectiser commented on #1608
@tigrannajaryan Yes, one approach would be to add support in the OpenCensus C++ implementation. However as the OpenTelemetry collector has already set the precedent of supporting receiving span kind info (producer and consumer values) via an attribute, this seemed the most expedient approach - and adds flexibility to the OC receiver in the collector to be able to support client/server span kind ei

[2020-09-14 20:25] AzfaarQureshi commented on #576
Hey, is this free to pick up? I'm also an intern (AWS) who's looking for a good first issue 😂

[2020-09-15 03:49] djjayeeta commented on #1638
There is also a similar issue. I have a metric named X(gauge) and X_count(counter). Both metric have different set of labels. Due to the logic https://github.com/open-telemetry/opentelemetry-collector/blob/master/receiver/prometheusreceiver/internal/metricsbuilder.go#L199 they get merged in a single metric of gauge type(union of labels from both X and X_count), though the data points are not lost

[2020-09-15 10:07] chamilad commented on #1655
I can contribute to this task. Would like a direction and a point to start with.

[2020-09-15 14:26] tigrannajaryan commented on #1655
@chamilad great, thank you for helping.

There is currently one log performance tests implemented here https://github.com/open-telemetry/opentelemetry-collector/blob/master/testbed/tests/log_test.go

We would like to have more scenarios covered, e.g. sending/receiving using OTLP protocol instead of Fluent forward protocol. This will require adding OTLP logs sender to the testbed (we currently have

[2020-09-15 14:31] tigrannajaryan commented on #1655
@chamilad if you have yet have a chance please read the contributing guide: https://github.com/open-telemetry/opentelemetry-collector/blob/master/CONTRIBUTING.md particuarly around structuring PRs and recommendations for PR sizes.

[2020-09-15 17:50] keitwb commented on #1383
@obecny I tested your HTML page and the problem seems to lie in the additional header you set (`my-own-header`).  This causes the preflight request to have the header `Access-Control-Request-Headers: content-type,my-own-header`, which then causes the CORS logic in the Collector to reject the origin as invalid and prevent the expected `Access-Control-Allow*` headers from showing up in the response.

[2020-09-15 18:29] #1344 closed

[2020-09-15 19:42] AzfaarQureshi commented on #576
Hi, I started doing some investigation into these tests. The issue behind the second test (`TestReceiver_endToEnd`) has been resolved so it's already re-enabled in the code.

Had some questions about the `TestAcceptAllGRPCProtoAffiliatedContentTypes` test [here](https://github.com/open-telemetry/opentelemetry-collector/blob/master/receiver/opencensusreceiver/opencensus_test.go#L211). The skip mess

[2020-09-15 21:02] tigrannajaryan commented on #1357
I believe this is now fixed and we have a test that verifies it: https://github.com/open-telemetry/opentelemetry-collector/blob/6c77fdb149090f309633d8df31cff4803859228e/receiver/otlpreceiver/otlp_test.go#L313

@fbogsany I have not verified the fix myself, but it appears correct. Closing this, please reopen if necessary.

[2020-09-15 21:47] bogdandrutu commented on #1357
I doubled check, this is solved only for errors in the gzip handler.

[2020-09-15 22:41] tigrannajaryan commented on #1177
Spec was updated to require hex instead of base64 for trace id and span id: https://github.com/open-telemetry/opentelemetry-specification/pull/911

[2020-09-15 22:52] #851 closed

[2020-09-15 22:57] #1357 closed

[2020-09-16 00:58] tigrannajaryan commented on #576
Remove if fixing is too costly (I'd say if it requires more than a few hours of work then it is not worth it).

[2020-09-16 08:31] jpkrohling commented on #1424
@pavolloffay has suggested an alternative approach to this and I would like to discuss it here: instead of having a processor, we could have a new set of options for gRPC and HTTP servers, like this:

[code]

The `ToServerOption`/`ToServer` would then be charged with installing the appropriate interceptors/handlers, so that the authentication step happens *before* the receiver actually sees the pa

[2020-09-16 08:38] pavolloffay opened #1791 "Print final configuration"
**Is your feature request related to a problem? Please describe.**

When running the collector I don't know what configuration is being used. For instance when the collector is run with the following config I don't know what is the batching, qretry or OTLP receiver configuration. To find out these details I have to read the docs.

[code]

**Describe the solution you'd like**

I can think of two po

[2020-09-16 10:34] chamilad commented on #1655
Thanks @tigrannajaryan ! I'll have a look around.

[2020-09-16 12:08] pavolloffay commented on #886
One caveat is that people will first have to copy the config file from the image before editing it.

It will also make the instructions for docker https://opentelemetry.io/docs/collector/about/ nicer as it will require only docker command and not cloning the full repo.

[2020-09-16 13:52] #652 closed

[2020-09-16 15:41] #1579 closed

[2020-09-16 15:47] bogdandrutu commented on #1424
I thought about this as well. Cannot find enough pros/cons for either of the solutions, so I don't have a strong opinion, but would like to understand why you think that is better?

[2020-09-16 15:53] jpkrohling commented on #1424
Mostly this:

Meaning: if a big trace is coming over the wire for an unauthenticated call, it won't be unmarshalled, saving some CPU cycles.

[2020-09-16 16:04] owais commented on #1769
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/36498

[2020-09-16 16:05] owais commented on #1711
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/36504

#### Test Failures
-  [build failed]
-  [build failed]
-  [build failed]
-  [build failed]
-  [build failed]
-  [build failed]
-  [build failed]
-  [build failed]

[2020-09-16 16:33] bogdandrutu commented on #1770
@tannaga to be very honest, we were focused mostly on proto version, and have limited understanding of the json encoding/decoding performance. But your analysis seems right, so we may have a bad performance when sending JSON.

Not sure what should we do here. Do you have any ideas and interest to work on improving the JSON perfomance? Maybe share the pprof (I like the pdf version with graphviz if

[2020-09-16 17:40] owais commented on #1769
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/36515

[2020-09-16 18:10] owais commented on #1711
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/36533

#### Test Failures
-  [build failed]
-  [build failed]
-  [build failed]
-  [build failed]
-  [build failed]
-  [build failed]
-  [build failed]
-  [build failed]

[2020-09-16 20:17] #576 closed

[2020-09-16 21:34] camdencheek opened #1802 "Testbed expects all receivers to listen on a port"
I'm working on adding support in the testbed for a [stanza](https://github.com/observIQ/stanza) receiver. I'm running into an issue where the testbed expects all receivers to be [listening on a port](https://github.com/open-telemetry/opentelemetry-collector/blob/bf44da52e8e8acddd34cf754fa88dd6aaa73f240/testbed/testbed/test_case.go#L195-L199), and runs a liveness test against the subprocess to ensu

[2020-09-17 07:06] jpkrohling commented on #213
Updated link to the repository: https://github.com/observatorium/opentelemetry-collector-builder

Should I use this as base for the doc? I could write a few lines about how to build a custom distribution and briefly mention the builder somewhere.

@kbrockhoff, once you figure out where the docs should go, we might know where to place this here as well.

[2020-09-17 07:06] jpkrohling commented on #213
@tigrannajaryan you can assign this to me.

[2020-09-17 14:14] jpkrohling commented on #1424
I updated the PR with this new approach and it's ready for review.

[2020-09-17 15:04] bogdandrutu commented on #1802
@pmcollins I think you solved something like this for Prometheus

[2020-09-17 17:06] owais commented on #1711
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/37073

#### Test Failures
-  TestQueuedRetry_PreserveCancellation

[2020-09-18 01:31] #1719 closed

[2020-09-18 11:33] jpkrohling commented on #213
@pjanotti, @tigrannajaryan, is it OK if I document this in a blog post first, until a decision about an appropriate home for the docs is made?

[2020-09-18 13:42] tigrannajaryan commented on #213
Sounds good to me.

[2020-09-18 13:43] pmcollins commented on #1802
I did add support for pull-based protocols (e.g. Prometheus) to metrics correctness, but not anything relating to a port check.

[2020-09-18 15:37] jpkrohling commented on #1724
@joe-elliott, @bogdandrutu would you be open to review a proposal as a PR with the ideas that I have in mind? It might be easier to discuss by looking at a concrete code.

[2020-09-18 15:45] camdencheek commented on #1802
It looks to me like the correctness tests do everything with the in-process collector, so there is no need to wait for the port

[2020-09-18 18:54] chris-smith-zocdoc opened #1811 "Deadlock in groupbytrace processor"
**Describe the bug**
When using the `groupbytrace` processor the collector deadlocks, causing incoming requests to hang (no response is sent back) and the rest of the pipeline stops doing work (in memory traces aren't flushed to the exporters)

**Steps to reproduce**
Configure a pipeline with groupbytrace, using a low `wait_duration` makes reproduction easier, but the issue exists at normal durati

[2020-09-19 03:29] chris-smith-zocdoc opened #1813 "Queued Retry Unusable without Batch Processor"
**Describe the bug**
Queued Retry is capturing the context when enqueuing an item. If this context completes before the item is dequeued the spans are never delivered to the next processor/exporter. When queued_retry is early in the pipeline and receives the context from the receiver, its unable to ever  dequeue items because the receiver context has already completed after the http response was s

[2020-09-19 03:31] chris-smith-zocdoc commented on #1813
Forgot to mention, the way the Batch processor alleviates this issue is by ignoring the incoming context and using `context.Background()` for the next processor

[2020-09-19 05:36] djjayeeta opened #1814 "Prometheus receiver observability metrics"
The PR https://github.com/open-telemetry/opentelemetry-collector/pull/327 says that prometheus receiver has some metrics exposed to get statistics about the receiver. I am not able to find how to access those metrics, I tried port 8888 but they seem to have
[code]

I am particularly interested in the up metric. Can someone please help me out

[2020-09-19 10:09] pavolloffay opened #1815 "Support single Zipkin thrift span in kafka receiver"
**Is your feature request related to a problem? Please describe.**

Legacy Zipkin deployments support single Zipkin thrift span per message https://github.com/openzipkin/zipkin/blob/master/zipkin-collector/kafka/README.md#legacy-encoding.

Gitter message from @mrajah-twttr
[code]

@mrajah-twttr could you please point us to the Kafka exporter you are using?

**Describe the solution you'd like**

Co

[2020-09-20 18:41] arpitjindal97 commented on #1774
@liamawhite I'm really stuck because of this error. Please provide some hotfix

[2020-09-20 20:53] djjayeeta commented on #1814
Can anyone point to me to a slack/google group(if there exists one) to ask for configuration related help

[2020-09-21 07:16] jpkrohling opened #1819 "DefaultAuthenticator for the auth settings"
During the review of #1807, the idea of having a `DefaultAuthenticator` came up. This issue is to track the discussion and feasibility of such a feature.

[2020-09-21 13:10] albertteoh opened #1820 "Go 1.15 compatiblity"
**Describe the bug**
Similar issue to the one discovered in https://github.com/jaegertracing/jaeger/issues/2435, whereby certificates are generated using the Common Name field, instead of SANs.

**Steps to reproduce**
[code]

**What did you expect to see?**
Tests to pass with Go 1.15.

**What did you see instead?**
Failing tests for:

- `go.opentelemetry.io/collector/config/configgrpc`
- `go.opent

[2020-09-21 21:59] nilebox commented on #1774
@arpitjindal97 Could you share a configuration example please (if it doesn't contain sensitive information)?

I'm not sure what's the root cause for this bug specifically (probably the internal cache is using map based on labels as a key), but you shouldn't have multiple applications producing the same set of metric labels anyway, as this may cause issues down the pipeline for batching / aggregati

[2020-09-22 00:30] bogdandrutu commented on #1820
https://github.com/open-telemetry/opentelemetry-collector/tree/master/internal/buildscripts

[2020-09-22 01:23] genebean commented on #1490
I have written a helm chart for our internal deployment of the collector and would be happy to contribute it if desired.

[2020-09-22 01:25] mikelorant commented on #1490
@genebean Would it be worthwhile comparing what we have and seeing if we can combine them?

[2020-09-22 01:28] genebean commented on #1490
I'd be game for that. I think it could be fairly easy to make it so the chart would work standalone or as part of the operator. If that sounds practical to you, I will work up a PR for your repo.

[2020-09-22 01:32] mikelorant commented on #1490
Have a look at my approach and see if it suits you. I based it some very specific needs so it might not work well for others. I mostly wanted to be able to generate the collector config from layered values files. Didn't work as well as I hoped due to how Helm handles empty keys.

I allowed the operator to be able to define a collector config or be able to use another chart to put down the collecto

[2020-09-22 01:36] genebean commented on #1490
Honestly... because I had no idea the operator was a thing. It didn't show up in any of the places I looked. Also, I don't actually see what the operator give me here as this is not a complicated deployment.

[2020-09-22 01:46] genebean commented on #1490
I will also take a more detailed look at the operator though and make sure that it isn't a better fit for us

[2020-09-22 01:46] bogdandrutu commented on #1813
@chris-smith-zocdoc do you want to give a try to the per exporter queued retry config instead, see https://github.com/open-telemetry/opentelemetry-collector/pull/1821? Let me know if that shows the same problem, and will investigate.

[2020-09-22 01:47] bogdandrutu commented on #1604
@jpkrohling this bug will become obsolete after https://github.com/open-telemetry/opentelemetry-collector/pull/1821, do you want to still fix that? I would suggest to avoid using that processor.

[2020-09-22 01:48] bogdandrutu commented on #1604
Will close this issue as obsolete for the moment, feel free to re-open as mentioned in the previous comment.

[2020-09-22 01:48] #1604 closed

[2020-09-22 02:12] bogdandrutu commented on #1811
@jpkrohling please take a look

[2020-09-22 04:26] james-bebbington commented on #973
Updated plans for this:

1. The Host Metrics receiver currently uses third party code that accesses `pdh.dll` to extract perf counter data. This is useful for getting generic performance counter data, so will move this code to Contrib and create a perf counter receiver that targets Windows only. That receiver will be useful for generating stats on IIS, SQL Server, etc. Tracked in https://github.co

[2020-09-22 08:42] jpkrohling opened #1824 "Authentication processor - tech debt from the review"
During the review for the authentication processor PRs, the following items came up:

1. We should consider renaming `attribute` to something else, possibly `header`, although future receivers might not be HTTP-based at all. Context: https://github.com/open-telemetry/opentelemetry-collector/pull/1807#discussion_r492377673
1. Move `internal/auth` to `config/configauth/internal`. Context: https://gi

[2020-09-22 08:49] jpkrohling commented on #1604
It's fine, as long as the exporter's behavior is more useful than the queued retry processor.

[2020-09-22 09:27] nilebox opened #1825 "Misleading error message for invalid "up" metric value in Prometheus receiver"
**Describe the bug**
The `up` metric is considered special by Prometheus receiver and must always contain a constant value of `1.0`.
This concept is documented in https://www.prometheus.io/docs/concepts/jobs_instances/:

The issue is that when the value differs from `1.0`, Prometheus receiver prints a generic error message `"http client error"`: https://github.com/open-telemetry/opentelemetry-coll

[2020-09-22 09:33] nilebox commented on #1825
Update: after re-reading the page https://www.prometheus.io/docs/concepts/jobs_instances/, the value `0` is also valid, but means that the scraping has failed, so the error message is somewhat valid, though still needs to be improved from a generic "http client error".

[2020-09-22 10:48] nilebox commented on #1774
Sorry, I read the issue #1076 more carefully and apparently it complains about the behavior of the Prometheus **Exporter** (i.e. when collector exposes collected metrics via a Prometheus endpoint), not Prometheus **Receiver** (when collector scrapes metrics from other applications via scraping their Prometheus endpoints).

Based on your comments above I think you're having an issue with Prometheus

[2020-09-22 10:59] nilebox commented on #1076
@arpitjindal97 the issue was in the Prometheus Exporter and was fixed by #1096.

[2020-09-22 12:25] chris-smith-zocdoc commented on #1813
@bogdandrutu yes this affects the per exporter queued retry config also.

example config
[code]

[2020-09-22 14:51] arpitjindal97 commented on #1076
I tried Release version 0.9.0, Issue persists. Yesterday, I tried to build binary from master branch and It didn't work. I can see above PR was merged on June 17 and I said It is still reproducible.

You can't close the Issue without waiting for OP to reply and complete discussion

[2020-09-22 14:53] arpitjindal97 commented on #1076
It is still reproducible

[2020-09-22 15:27] arpitjindal97 commented on #1774
### Local Environment

**config.yml**
[code]

**otelcol**

Download `otelcol` 0.10.0 from releases and run with above configuration
[code]

**Grafana instance 1**
[code]
**Grafana instance 2**
[code]

### Navigate to `localhost:8889/metrics`

Sometimes you will see below Metrics
[code]

Sometimes you see these
[code]

[2020-09-22 16:02] pavolloffay opened #1828 "Percentage settings for memory ballast"
**Is your feature request related to a problem? Please describe.**

I want to configure ballast size relative to the total system memory. This is helpful in a dynamic environments like docker/k8s.

**Describe the solution you'd like**

Add `--mem-ballast-size-percentage` flag and `ballast_size_percentage` to memory limiter. This will leave us with `_mib` settings and percentage settings, the `mib`

[2020-09-22 17:11] #1721 closed

[2020-09-22 18:38] jpkrohling commented on #1811
I'm looking into this and should have further info in a couple of days.

[2020-09-22 18:40] owais opened #1831 "Bug report for failed CircleCI build (job: correctness)"
Auto-generated report for `correctness` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/38138

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-09-22 19:02] tmcarr commented on #1815
This is our current kafka reciever configuration:

`receivers:
  kafka:
    protocol_version: 2.0.0
    topic: zipkin-prod-v1thriftspan
    encoding: zipkin_thrift
    brokers:
      - <HOSTNAMES>`

We ended up just having to change the messages we published into kafka to be a list of spans and things started working. It seems the doc updates have made this clearer, I'd consider this solved.

[2020-09-23 00:52] chris-smith-zocdoc opened #1834 "samplingprocessor: batch all spans together for downstream processors"
**Is your feature request related to a problem? Please describe.**
The current implementation of `samplingprocessor` calls `nextConsumer.ConsumeTraces` once per received batch of spans. Spans arriving from different services would necessarily be in separate batches. I'd like `nextConsumer.ConsumeTraces` to  be invoked once, with all the spans for a given trace. This would allow downstream processo

[2020-09-23 01:51] #1825 closed

[2020-09-23 01:57] owais commented on #1831
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/38328

[2020-09-23 09:09] jpkrohling commented on #213
I tried pinging @SergeyKanzhelev and @mtwo on Gitter but got no replies yet. I really want to publish this in the OpenTelemetry publication, but in case it's not possible/desired, let me know and I'll find an alternative place.

[2020-09-23 09:45] pavolloffay commented on #886
@tigrannajaryan now the default config is in the docker image.

Should we also add the default config to release assets and system distributions (rpm, deb)? If no then we can close this issue.

[2020-09-23 10:52] jpkrohling commented on #1811
Is it happening only with that load generator, or did you find this with real requests as well? I tried running it with the `tracegen` from ... and couldn't reproduce it at a rate of 10k/sec:

[code]

And this is the last log entry from the collector:

[code]

I'll try the synthetic load generator next, but wanted to confirm whether you've seen this in the wild as well.

[2020-09-23 11:07] jpkrohling commented on #1811
Non-throttled execution (~ 300k/sec) wasn't able to trigger this either:

[code]

Collector:
[code]

[2020-09-23 11:35] jpkrohling commented on #1811
I am able to reproduce this with the synthetic load generator. I'm on it.

[2020-09-23 13:21] mtwo commented on #213
Apologies, I must have missed the notification. Will take a look today.

________________________________
From: Juraci Paixão Kröhling <notifications@github.com>
Sent: Wednesday, September 23, 2020 2:09:22 AM
To: open-telemetry/opentelemetry-collector <opentelemetry-collector@noreply.github.com>
Cc: Morgan McLean <morgan_mclean@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [open-

[2020-09-23 15:28] jpkrohling commented on #1811
Basically, we are getting a problem in obtaining a write lock in the in-memory storage:

https://github.com/open-telemetry/opentelemetry-collector/blob/d62f440a21bc20911d38d243bed134a2fb65e67a/processor/groupbytraceprocessor/storage_memory.go#L39-L58

I'm still on it, also adding some metrics to make it easier to identify what's going on.

[2020-09-23 15:37] #1078 closed

[2020-09-23 15:42] owais opened #1839 "Bug report for failed CircleCI build (job: test)"
Auto-generated report for `test` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/38499

#### Test Failures
-  TestTracesAreDispatchedInIndividualBatches

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-09-23 16:31] SergeyKanzhelev commented on #213
the process for the blog post is to send draft and request to join OpenTelemetry publication to cncf-opentelemetry-comms@lists.cncf.io. This is a draft of how to do comms: https://docs.google.com/document/d/1tyy9SJw4ma7qGhjmJrNDBVC98qGxA1ssbYOJY2Jlok4/edit#heading=h.egqr4xhr9jrz - still in progress

[2020-09-23 18:47] pavolloffay commented on #1828
@bogdandrutu @tigrannajaryan @pjanotti could you please comment on this one? Whether we want to remove the ballast flags nad move the allocation to the memory limiter. Or the memory limiter could read flag values.

[2020-09-23 18:49] jpkrohling commented on #213
Thanks for the doc, I'll follow it and propose a blog post. Is this already public information and I missed it?

[2020-09-23 19:01] SergeyKanzhelev commented on #213
It was never widely publicized. This doc is intended to do this. Last blog post was using this doc to validate it has enough info. Please share your feedback as well

[2020-09-23 19:58] pjanotti commented on #1828
My intention was to have use the capability of retrieving maximum memory to have the ballast enabled by default due its cpu savings, however, it needs to be configurable. The memory limiter is an orthogonal concern that needs access to the ballast setting to operate correctly and for which I had seem practical cases it which it was applied selectively to different pipelines under same configuratio

[2020-09-23 21:17] tigrannajaryan opened #1841 "Adjust Span status translations to match the specification"
Once this is merged https://github.com/open-telemetry/opentelemetry-specification/pull/966 we need to adjust translation accordingly.

[2020-09-24 02:19] chris-smith-zocdoc commented on #1811
Yes I saw this deadlock in one of our environments.

I was able to reproduce the issue in a unit test and (I think) have a good understanding of what is occurring. The test is here https://github.com/zocdoc/opentelemetry-collector/commit/c00320cf78b75a70e2b798fc75aa36bfc8072993

I believe it occurs when the following conditions are met:
- The number of incoming traces exceeds the ring buffer size

[2020-09-24 07:27] jpkrohling commented on #1811
Absolutely, send a PR and I'll review it right away.

[2020-09-24 07:33] MovieStoreGuy commented on #1770
Hi, speaking from experience I have found that the package `encoding/json` is a bottle neck when it comes to have json parsing.

I have often adopted using https://github.com/json-iterator/go as a replacement but haven't read in detail what the requirements are for adding additional libraries.

[2020-09-24 08:12] owais commented on #1831
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/38584

[2020-09-24 09:26] pavolloffay commented on #1815
Closing this for now. If there are people using legacy single span producer then please comment and we could add support for it in the collector. It should be very simple fix.

[2020-09-24 09:26] #1815 closed

[2020-09-24 14:24] tigrannajaryan opened #1845 "TracingGoldenData/otlp-zipkin test is unstable"
See: https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector/3634/workflows/bfd1e161-d2b0-46d2-b372-a446363bab48/jobs/38675

[code]

[2020-09-24 14:56] jpkrohling commented on #1811
@chris-smith-zocdoc I opened a PR that adds a few metrics, which should make it easier to discover a problem like this in the future. It also fixes the problem with the shutdown hanging, as the "close" event that it sends is also stuck in the queue and can't be processed.

It's probably going to cause merge conflict with your changes if you started working on it already, and I can solve them for y

[2020-09-24 14:57] chris-smith-zocdoc commented on #1811
Yeah we're going to have conflicts :) I'm writing up my pr description now, should be up shortly

Will be interesting to compare the two solutions as I added a fix for that also

[2020-09-24 15:25] jpkrohling commented on #1811
What if I told you that the solution to this deadlock is quite simple? This is the problematic code:

https://github.com/open-telemetry/opentelemetry-collector/blob/3fafbbc528dcd836cc834359bef1a6e5c352b311/processor/groupbytraceprocessor/storage_memory.go#L59-L77

Note how there's a return statement here, meaning that the `RLock()` will never unlock. Changing it to the following makes it work agai

[2020-09-24 15:28] tigrannajaryan opened #1848 "TestProcessManagerArgs - fluentbitextension test is unstable"
See https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector/3608/workflows/774aefa0-fd5c-45d5-b0aa-827cff15aeb2/jobs/38277

[code]

[2020-09-24 15:59] tigrannajaryan commented on #1845
@kbrockhoff can you please have a look.

[2020-09-24 16:39] chris-smith-zocdoc commented on #1811
I replied on the pr, there is another deadlock besides the one in memoryStorage https://github.com/open-telemetry/opentelemetry-collector/pull/1847#issuecomment-698452404

[2020-09-24 17:23] tigrannajaryan commented on #1828
Yes, ideally expose an interface for components to read global application settings. The memory limiter can find out the ballast size and configure itself accordingly.

[2020-09-24 18:53] keitwb commented on #1848
Seems to be https://github.com/golang/go/issues/22315 since we are running tests in parallel and seeing the same issue where multiple forked children are holding the file descriptors open.  I'll see how much of a test time hit it is to remove `t.Parallel()` and do that if acceptable.

[2020-09-24 19:55] tigrannajaryan opened #1851 "TestHTTPInvalidTLSCredentials is unstable"
See https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector/3605/workflows/78743f26-5ef1-4b37-a886-5cfadbd4877f/jobs/38229/steps

[code]

[2020-09-24 20:11] owais commented on #1831
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/38983

[2020-09-24 20:16] asuresh4 opened #1852 "Collect mount point information and filesystem type in filesystems scraper (hostmetrics receiver)"
**Is your feature request related to a problem? Please describe.**
The filesystems scraper in the host metrics receiver attaches a device name label to metrics it emits. There are other labels such as mount point, mode and filesystem type that can be collected as well.

**Describe the solution you'd like**
Currently the filesystems scraper collects partition stats from at most one mount point for

[2020-09-24 20:16] asuresh4 commented on #1852
Please assign to me since I'll be working on this.

[2020-09-25 01:12] owais commented on #1831
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/39141

[2020-09-25 01:13] owais opened #1857 "Bug report for failed CircleCI build (job: loadtest)"
Auto-generated report for `loadtest` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/39148

#### Test Failures
-  TestBallastMemory

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-09-25 01:24] MovieStoreGuy commented on #1770
Alright, so I have experimented with replacing the json library used and there is a lot of issues being tightly coupled to `encoding/json` package an have closed off the PR as a result of that.

[2020-09-25 11:39] jpkrohling commented on #1811
I'm still working on understanding your test, which does fail here for me, but I can't help and think that this might be a problem with the test itself. Have you encountered the deadlock with the load generator, or with a real workload again? I added some metrics to the processor, and after fixing the deadlock I mentioned earlier in the in-memory storage, I get very stable results.

I ran the synt

[2020-09-25 14:01] keitwb commented on #1672
@owais @tigrannajaryan I think #1757 would have dealt with this for the most part.  The connection refused error might be a race with the test being shut down, but the RAM issue should have been dealt with.

[2020-09-25 14:24] tannaga commented on #1770
@bogdandrutu Sorry for the delay in response.
I will explore if using any other json library helps improve the performance.

Attached is the pdf file
[otel-profile.pdf](https://github.com/open-telemetry/opentelemetry-collector/files/5283365/otel-profile.pdf)

Top 10
[code]

[2020-09-25 15:00] CarwynNelson opened #1861 "Jaeger exporter causes Jaeger to throw "received bogus greeting""
**Describe the bug**
If the opentelemetry jaeger exporter is talking to an insecure jaeger server without `insecure: true` set then the jaeger server logs the following error message:

[code]

The key part being:
[code]

**What did you expect to see?**
I expected the jaeger exporter to send data to jaeger without issues.

**What did you see instead?**
No data being sent to jaeger, and the followin

[2020-09-25 15:43] keitwb commented on #1711
The failures with `[build failed]` were due to compile failures, which should be fixed already.  The other three failures have outstanding PRs (linked). @tigrannajaryan

[2020-09-25 15:50] pavolloffay commented on #1791
@tigrannajaryan @bogdandrutu any comments? I could work on this.

[2020-09-25 16:01] chris-smith-zocdoc commented on #1811
@jpkrohling with your changes I'm no longer able to produce the deadlock using the load generator which is promising.

I believe my unit test is valid but is causing a different scenario than the one I originally opened this issue for. The test appears to be stressing a condition which is much harder to hit in a real environment (but still possible imo). How would you like to move forward? I'd be

[2020-09-25 16:32] #1671 closed

[2020-09-25 18:21] jpkrohling commented on #1811
That's wonderful, thanks for confirming!

I didn't have time today to finish figuring it out, and I plan on doing it on Monday. I'll definitely appreciate having a conf call next week, though! How about Tuesday, so that I have Monday to try to get up to speed? My timezone is CEST, and I'm free most of the day on Tuesday, except between 3pm and 4:30pm. Other than that, just ping me on Gitter!

[2020-09-25 18:24] jpkrohling commented on #1861
Basically, the Jaeger exporter is trying to make a secure connection to a non-secure Jaeger backend via gRPC. I don't think this is a bug per se, but it's something we should definitely improve, as the message is quite cryptic. I'm not sure yet what's the best place to add a sane message: the Jaeger exporter, the Jaeger collector, or both.

[2020-09-25 18:24] jpkrohling commented on #1861
@tigrannajaryan please, assign this to me.

[2020-09-25 19:29] chris-smith-zocdoc commented on #1811
Tuesday works for me, I'm in EST. We can coordinate the times on gitter on Monday

[2020-09-25 20:36] tigrannajaryan commented on #1791
This would be very useful.

I think this is a good approach:

[2020-09-25 20:37] tigrannajaryan commented on #1711
@keitwb sounds good. Close this issue?

[2020-09-25 20:39] tigrannajaryan commented on #1672
Sounds good, closing.

[2020-09-25 20:39] #1672 closed

[2020-09-25 20:55] keitwb commented on #1711
Yes, I think this can be closed since all three non-compile failures have at least some tentative fix.

[2020-09-25 20:55] #1711 closed

[2020-09-25 21:29] bogdandrutu commented on #1791
@pavolloffay I would look into hooking this in the service z-pages so user can have access to this without looking into logs. See https://github.com/open-telemetry/opentelemetry-collector/blob/master/service/service.go#L511 and https://github.com/open-telemetry/opentelemetry-collector/blob/master/service/service.go#L526

[2020-09-25 23:59] JasonXZLiu opened #1867 "Prometheus Receiver: kubernetes_sd_configs tag cannot be Unmarshalled"
**Describe the bug**

When using the Prometheus Receiver with the `kubernetes_sd_configs` tag, the OpenTelemetry Collector cannot unmarshal the Prometheus config yaml file.

**Steps to reproduce**

* Build the collector through `make otelcol`
* Using the config file provided below, run `./otelcol --config=config.yaml` (where otelcol is the binary produced in the bin directory)

**What did you expe

[2020-09-26 00:26] alvinlin123 commented on #1867
After some investigation, [this commit](https://github.com/open-o11y/opentelemetry-collector/commit/639b9a80ed46ebe1ad244fcf064ed1d9e341056a) seems to be the reason for this issue. If I check out the previous commit `e92658ab`, then I don't the issue about `kubernetes_sd_configs` can't be parsed.

I **suspect** [this commit in prometheus repo](https://github.com/prometheus/prometheus/pull/7701/fil

[2020-09-26 01:06] alvinlin123 commented on #1867
After some more digging, I think we need to "import" `"github.com/prometheus/prometheus/discovery/install"` because the `init()` function in that package will register different kind of service discovery implementations.

[2020-09-28 11:46] jpkrohling commented on #1811
I think I was able to understand what's happening with the test `exceed_ring_buffer_size`. I tuned it down and added quite a few prints to the code. With the following configuration, it's easy to follow the logs:

[code]

This results in the following events, in order:

* onBatchReceived (10x)
* onTraceRemoved (6x, evicted)
* onTraceExpired (8x)

First, all the `onBatchReceived` are processed, fol

[2020-09-28 12:42] jpkrohling commented on #1811
For the second test, if you add a `time.Sleep(2 * time.Second)` before `p.Shutdown(ctx)`, it will pass (some/most of the times):

[code]

But I'm not sure this test is a good one: having a `time.Duration` of `1ms` implies that one expects *all* spans from a trace to be received in less than 1ms, which might *not* be the case even for the test: spans arriving 1ms later _should_ be dispatched as a n

[2020-09-28 16:26] alolita commented on #1867
@bogdandrutu can you please review and back out the commit for the Prometheus receiver to work. We're blocked on our project due to this breaking change.

[2020-09-28 19:09] owais commented on #1857
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/39953

#### Test Failures
-  TestBallastMemory

[2020-09-28 20:05] bogdandrutu commented on #1867
@alolita happy to review a PR that fixes this, I cannot focus on resolving the issue by myself right now.

[2020-09-28 21:20] alolita commented on #1867
@bogdandrutu Totally understand. We'll file a PR for this fix. ty!

[2020-09-28 22:59] #1654 closed

[2020-09-28 22:59] #1650 closed

[2020-09-29 06:26] alvinlin123 commented on #1867
Hi @bogdandrutu I submit a [PR](https://github.com/open-telemetry/opentelemetry-collector/pull/1877) for this issue, would appreciate it if you can review it. Thanks in advance.

[2020-09-29 15:12] owais commented on #1857
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/40421

#### Test Failures
-  TestMetric10kDPS
-  TestMetric10kDPS/OpenCensus

[2020-09-29 15:13] owais commented on #1857
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/40421

#### Test Failures
-  TestIdleMode

[2020-09-29 15:13] #873 closed

[2020-09-29 15:20] owais commented on #1857
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/40449

#### Test Failures
-  TestMetric10kDPS
-  TestMetric10kDPS/OpenCensus

[2020-09-29 15:41] #1848 closed

[2020-09-29 15:50] owais commented on #1857
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/40490

#### Test Failures
-  TestMetric10kDPS
-  TestMetric10kDPS/OpenCensus

[2020-09-29 16:27] #1867 closed

[2020-09-29 16:33] owais commented on #1857
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/40533

#### Test Failures
-  TestMetric10kDPS
-  TestMetric10kDPS/OpenCensus

[2020-09-29 17:03] #1851 closed

[2020-09-29 18:29] #1820 closed

[2020-09-29 18:38] owais commented on #1857
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/40734

#### Test Failures
-  TestIdleMode

[2020-09-30 00:00] tigrannajaryan commented on #1123
@kbrockhoff I see this is assigned to you. Did you intend to work on this?

[2020-09-30 12:20] kbrockhoff commented on #1123
I won't have time to work on it for at least two weeks. If somebody else does not pick it up by then, I will work on it

[2020-09-30 16:58] owais commented on #1857
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/40914

#### Test Failures
-  TestLog10kDPS

[2020-09-30 16:59] #1852 closed

[2020-09-30 17:28] pmm-sumo opened #1884 "Group by Attributes Processor proposal"
## Important (read before submitting)

**Is your feature request related to a problem? Please describe.**
For some sources (e.g. logs coming via `fluentforward` protocol) it is common that attributes are present at record-level only. Those attributes can include important information used for K8s tagging, such as the IP address or the pod name of the source that yielded the record.

**Describe the

[2020-09-30 21:51] tigrannajaryan commented on #1123
@kbrockhoff OK. From the description I think what you are saying is that we should treat ResourceExhausted as a fatal error and should not retry. Is ResourceExhausted fatal in the sense that retries will never succeed?

[2020-10-01 12:18] kbrockhoff commented on #1123
In my experience if the message rate is high enough to trigger throttling, you will never be able to catch up. Dropping data is the only way to restore service.

[2020-10-01 14:55] flands commented on #560
@anniefu what is the latest on this?

[2020-10-01 14:55] flands commented on #539
@ccaraman @dmitryax is this still relevant?

[2020-10-01 15:50] rmfitzpatrick commented on #1638
I've run into this and think the issue is that summary types aren't supported by the internal pdata types: https://github.com/open-telemetry/opentelemetry-collector/blob/master/translator/internaldata/oc_to_metrics.go#L227.  @bogdandrutu is there an inherent limitation to this or could support be added relatively easily?  I'd be happy to take a crack at it if immediately feasible.

[2020-10-01 17:25] anniefu commented on #560
This is complete and available to use. For metrics, it's the filter processor. For spans, it's the attribute or span processor.

[2020-10-01 17:53] #1465 closed

[2020-10-01 17:53] #1811 closed

[2020-10-01 18:45] chris-smith-zocdoc commented on #1514
Fixed in https://github.com/open-telemetry/opentelemetry-collector/pull/1735

[2020-10-01 18:45] #1514 closed

[2020-10-01 19:00] chris-smith-zocdoc commented on #1834
Fixed in https://github.com/open-telemetry/opentelemetry-collector/pull/1864

[2020-10-01 19:00] #1834 closed

[2020-10-01 19:08] chris-smith-zocdoc opened #1888 "Zipkin receiver no longer converts strings to Int/Bool/Floats"
**Describe the bug**
Zipkin receiver no longer converts strings to Int/Bool/Floats

This was introduced in https://github.com/open-telemetry/opentelemetry-collector/pull/1656 and this TODO remained in the final merge https://github.com/open-telemetry/opentelemetry-collector/blob/master/translator/trace/zipkin/zipkinv2_to_traces.go#L347

@kbrockhoff @tigrannajaryan If I'm understanding the conversa

[2020-10-02 13:44] secat commented on #407
Is there any update on how to standardize the tail based sampling horizontal scaling?

[2020-10-02 13:53] jpkrohling commented on #407
Not yet, we started a discussion as part of #1724. I do plan on working on a PoC based on my last comments there.

[2020-10-02 17:11] amanbrar1999 opened #1892 "Proposal: Metrics Label Processing Solutions"
# Problem

We are looking to add the ability to attach data point labels that are specified in the Collector config file to all metrics that pass through the Collectors. This functionality does not exist at present. We request feedback from maintainers regarding the proposed solutions described below.

# Use Case

Our need for this functionality stems from Cortex. We wish to have multiple collecto

[2020-10-02 20:13] tigrannajaryan commented on #1422
We have metrictransform process which does some aggregation. Moving this after GA in case there is more work that we need to do in this area.

[2020-10-02 20:14] tigrannajaryan commented on #1346
I believe we are settled on pdata for 1.0. I am going to close this, please reopen if there are any objections.

[2020-10-02 20:14] #1346 closed

[2020-10-02 20:19] tigrannajaryan commented on #1150
@alolita where are we with this? I see there is a related PR. Is there more work expected on this?

[2020-10-02 20:22] tigrannajaryan commented on #973
@james-bebbington are we done with this issue?

[2020-10-02 20:25] tigrannajaryan commented on #483
@jan25 do you still want to work on this?

We will need to drain the pipeline by first stopping receivers, then stopping processors in the right order, then stop exporters. When stopping we will need to wait for up to certain max time, you are right. It needs to be done for all components, not just certain processors.

[2020-10-02 20:27] tigrannajaryan commented on #886
@pavolloffay yes, I think it would be nice to include the default config in other distributions.

[2020-10-02 20:29] tigrannajaryan commented on #871
We have a resource detection processor that seems to serve the purpose. Closing, feel free to reopen if there is more work expected to be done.

[2020-10-02 20:29] #871 closed

[2020-10-02 20:30] tigrannajaryan commented on #816
@bogdandrutu I think I remember some recent work that you did on this and changed telemetry to use Otel API instead of OpenCensus. Is that correct? If so I can close this.

[2020-10-02 20:33] tigrannajaryan commented on #641
The desirable behavior is likely the same as for Jaeger: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk_exporters/jaeger.md

[2020-10-02 20:34] #560 closed

[2020-10-02 21:43] tigrannajaryan commented on #1888
Why is this needed? This is not obvious to me.

[2020-10-02 21:56] chris-smith-zocdoc commented on #1888
The zipkin api specifies tag (attributes) as a map of key(string): value(string) https://zipkin.io/zipkin-api/#/default/post_spans

[2020-10-02 22:01] tigrannajaryan commented on #1177
This is now done and should confirm to OTLP/JSON spec. Closing. Submit separate bugs if any problems are found.

[2020-10-02 22:01] #1177 closed

[2020-10-02 22:10] james-bebbington commented on #973
The part about moving the pagefile syscalls to gopsutil is not done but that is not third party code and not very high priority so yes I think it makes sense to close this issue.

[2020-10-02 22:10] #973 closed

[2020-10-02 23:50] alolita commented on #1150
Hi @tigrannajaryan @bogdandrutu The Prometheus remote write exporter has been completed and merged. We will open separate PRs for SIGv4 support and compliance with latest OTLP changes. The core is complete and merged. This issue can be closed.

[2020-10-03 01:21] vikrambe commented on #1306
@dmitryax : I have opened a PR. Sorry for the delay, was stuck with other priorities.

[2020-10-03 01:27] vikrambe commented on #1306
@jpkrohling @tigrannajaryan @asldevi FYI...

[2020-10-03 02:57] dmitryax commented on #1306
Awesome! Thank you

[2020-10-03 06:11] dmitryax opened #1897 "Empty objects as component config doesn't work anymore"
**Describe the bug**
The collector is failing to start if an empty object provided as a config for any of the components. For example
[code]

The collector fails to start with the following message:
[code]

Empty values still work as expected:
[code]

**Steps to reproduce**
Set an empty object as a config for any of the components. For example
[code]

**What did you expect to see?**
Support empty

[2020-10-03 06:20] jan25 commented on #483
@tigrannajaryan Sure, I'll start the work and open a PR soon

[2020-10-03 15:29] bogdandrutu commented on #1897
Unfortunately I cannot reproduce this in tests, can you post a full config? One other thing that is important is the name of the config file.

[2020-10-03 16:31] dmitryax commented on #1897
here is the config example I used (just added `{}` to `health_check`):
[code]

[2020-10-04 15:09] owais opened #1898 "Bug report for failed CircleCI build (job: windows-test)"
Auto-generated report for `windows-test` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/41522

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-10-04 16:48] bogdandrutu commented on #1897
@dmitryax identified the culprit https://github.com/open-telemetry/opentelemetry-collector/pull/1640

[2020-10-04 16:55] dmitryax commented on #1897
Nice! Thanks @bogdandrutu! Should we ask @pavolloffay to fix this?

[2020-10-04 17:07] pavolloffay commented on #1897
Guys, I won't have time to have a look at it next week. If it's urgent we could revert the set flag feature for now.

[2020-10-04 17:22] bogdandrutu commented on #1897
@pavolloffay I can take care of this if you explain the comment better:

[2020-10-04 17:25] bogdandrutu commented on #1897
I am not sure I understand:
1. why need to call set for all loaded properties initially?
2. what is the problem with Merge?

[2020-10-04 17:51] pavolloffay commented on #1897
Merge didn't work properly, I don't remember the exact issue but we could not make it work with @jrcamp.

Set sets a property to override map which is necessary because we call set afterwards with the properties from the --set flag to simulate merge.

[2020-10-04 19:46] tmc opened #1899 "Writing traces from current @opentelemetry/exporter-collector fails with "cannot unmarshal ID from string""
See https://github.com/open-telemetry/opentelemetry-js/issues/1568

The payloads that the exporter are sending look like:

[code]

And the collector currently responds with:
[code]

[2020-10-04 19:54] bogdandrutu commented on #1899
I think this is because @tigrannajaryan changed the specs and implementation to use hex for IDs instead of base64

[2020-10-05 08:26] annanay25 commented on #407
Apologies for being unresponsive here. I somehow managed to miss these notifications.

I would be more than happy to contribute the aggregate processor to the contrib repo. However, some concerns were raised in a previous PR where I attempted the same, so I would like to address them as well this time, and work towards something that the community has a consensus on. @jpkrohling has already done s

[2020-10-05 08:34] yiyu0x opened #1904 "opentelemetry-collector did not work well in K8s"
I followed [exporter-collector](https://www.npmjs.com/package/@opentelemetry/exporter-collector) to development my web app, and build envirement by docker-compose:

[code]

But now, I want to deploy `opentelemetry-collector` to k8s. I saw the [example](https://github.com/open-telemetry/opentelemetry-collector/blob/master/examples/k8s/otel-config.yaml), it did not open the 55681 port.
Is it any spe

[2020-10-05 10:54] #1904 closed

[2020-10-05 13:12] tigrannajaryan commented on #1897
Let's revert https://github.com/open-telemetry/opentelemetry-collector/pull/1640 for now. I created a reverting PR: https://github.com/open-telemetry/opentelemetry-collector/pull/1905

@pavolloffay when you have time please take a look at how to fix this correctly while keeping the setflag functionality.

[2020-10-05 13:51] tigrannajaryan commented on #1899
@tmc Collector now expects Trace ID and Span ID to be hex-encoded as it is defined in the spec: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/protocol/otlp.md#request
The spec was changed a few weeks ago: https://github.com/open-telemetry/opentelemetry-specification/pull/911

Closing this issue since the behavior is as expected.

[2020-10-05 13:51] #1899 closed

[2020-10-05 13:57] tigrannajaryan commented on #1150
Thanks @alolita

[2020-10-05 13:57] #1150 closed

[2020-10-05 14:30] owais commented on #1898
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/41657

[2020-10-05 15:33] jrcamp commented on #1897
IIRC, when using MergeInConfig `viper.UnmarshalKey` wasn't working correctly after merging but I could be wrong.

[2020-10-05 16:19] #1897 closed

[2020-10-05 17:04] pavolloffay opened #1907 "Fix --set flag"
Support for `--set` flag has been reverted in https://github.com/open-telemetry/opentelemetry-collector/issues/1897.

The referenced issue should be fixed and support for `--set` flag added back.

[2020-10-05 17:38] owais commented on #1898
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/41761

[2020-10-05 17:45] owais commented on #1898
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/41777

[2020-10-06 00:58] owais commented on #1857
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/41847

#### Test Failures
-  TestLog10kDPS

[2020-10-06 02:13] nilebox commented on #816
Collector is still using OpenCensus in its self-observability pipeline: https://github.com/open-telemetry/opentelemetry-collector/blob/c8aac9e3b294281a50ee183084d9566f0e8a9d29/service/telemetry.go#L25

There is https://github.com/open-telemetry/opentelemetry-collector/pull/1833 switching **traces** to Otel API, but that still doesn't include metrics.

[2020-10-06 04:03] tmc commented on #1899
Why was this change made? it seems like a departure from the protobuf json representation standard.

[2020-10-06 13:32] tigrannajaryan commented on #1888
@chris-smith-zocdoc I am not sure this answers my question.

You wrote in the PR description:

What does this have to do with attributes being a map of key(string): value(string)?

I do not understand why we need to try to guess the type of the data? We receive a string from Zipking, why doesn't it stay a string in Collector? Why the attempt to parse it and why is Collector making decisions like t

[2020-10-06 14:00] chris-smith-zocdoc commented on #1888
Currently all attributes are received as strings, so without this parsing all operations in the pipeline would only be able to perform string comparisons

In our case this is useful for two reasons
1. The ability to write processors that rely on having the correct datatype, eg a sampling policy that does an integer compairison `http.status_code >= 500`

2. Sending the correct datatypes to backend

[2020-10-06 15:14] jmacd commented on #1638
One proposal for Summary can be found here:
https://github.com/open-telemetry/opentelemetry-specification/issues/982
(search for "A minor note about about Summary data points" in the description).

[2020-10-06 15:35] oktocat opened #1909 "Prometheus receiver stops scraping all targets when Kubernetes SD change or become unreachable"
**Describe the bug**
`otel-collector` running with Prometheus receiver configured to scrape Prometheus-compatible endpoints discovered via `kubernetes_sd_configs` stops scraping when some service discovery endpoints change or become unreachable (which is naturally happening during every deployment and subsequent rolling restart).
The receiver seems to face a deadlock somewhere in updating the SD t

[2020-10-06 16:19] ibawt opened #1910 "QueuedRetry removal, metrics around spans and services"
with the queued retry removal / deprecation I lost metrics around the spans accepted and the service it was.

I like to use this as an overall indicator of who is producing what and to what cluster.
Not sure if it should be post / pre sampling, I think it would be fine either as a processor or integrated into exporterhelper

eg
[code]

[2020-10-06 16:42] bogdandrutu commented on #1910
I would suggest having a "TelemetryProcessor" to expose this internal metrics. The main reason:
* Avoid current duplication - few metrics like this are duplicated.
* Allow users to install this anywhere in the pipeline - before sampling, after sampling, etc.
* Allow customization.

[2020-10-06 19:47] jrcamp commented on #1892
https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/master/processor/metricstransformprocessor has the ability to add, remove, update metric labels. Would that work?

[2020-10-06 19:49] amanbrar1999 commented on #1892
As mentioned in the post, metricstransformprocessor was considered however it does not have the ability to add labels to a batch of metrics, which is our desired functionality. It requires individual metrics to be specified.

[2020-10-06 20:54] JasonXZLiu opened #1913 "Implement Summary Metric for PrometheusReceiver"
## Is your feature request related to a problem? Please describe.

Prometheus Summary metrics are currently not supported and converted to the OTel metric data format. Under the specifications and design of the PrometheusReceiver ([here](https://github.com/open-telemetry/opentelemetry-collector/blob/master/receiver/prometheusreceiver/DESIGN.md#summary)), it mentions that Prometheus Summary metrics

[2020-10-07 01:26] tmc commented on #1899
Can we make the unmarshalling in the collector accept either?

[2020-10-07 07:45] kevincantu opened #1916 "otel-collector requires HTTP/2 TLS passthrough from Envoy / Contour: should it?"
I've just gotten started setting up otel-collector for some Kubernetes clusters where we use [Envoy](https://www.envoyproxy.io/) (configured via [Contour](https://projectcontour.io/)) for routing, and discovered a detail that gave me fits, so I think it's worth laying it all out here.  I suspect it may be a gRPC server issue in the collector: some gnarly interaction with Envoy, perhaps?

## Expect

[2020-10-07 07:48] kevincantu commented on #1916
Thanks, by the way, to @pjanotti and @flands who helped me in the Gitter channel, and to this old Contour ticket that pointed me at [yages](https://github.com/projectcontour/contour/issues/379)!

[2020-10-07 15:02] owais commented on #1857
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/42152

#### Test Failures
-  TestLog10kDPS

[2020-10-07 15:03] owais commented on #1898
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/42127

[2020-10-07 15:21] jpkrohling commented on #1724
I'm still working on this one, but I have some code to show already: https://github.com/jpkrohling/opentelemetry-collector-contrib/tree/jpkrohling/1724-loadbalancing-processor

Each commit in this branch is a step in the direction for the full solution, and I believe it's easier to check them individually.

I'm still missing the actual DNS resolver logic and a full end to end test, but I think it

[2020-10-07 18:15] hairyhenderson commented on #575
I can confirm this is still the current behaviour. I tried setting the `job` label through a relabel_config, but started getting an error when they didn't match.

The relabel_config I'm using is:

[code]

And I'm seeing this error:

[code]

When I set the `job_name` to be the same as what would get relabeled, the error goes away, but I still see neither `job` nor `instance`.

In my case, I'll be u