[2022-10-22 11:50] Chinwendu20 commented on #4613
Hello. I was investigating this issue and I ran the default collector distribution with a faulty config and  I  discovered
"all" errors come out as output anyway

![image](https://user-images.githubusercontent.com/59079323/197337389-a9aa4bbf-f9cb-49b1-9e55-6dbd3666b7a0.png)

[2022-10-22 11:58] bogdandrutu commented on #4613
"all" errors come out as output anyway

That is good, but we need to add the "--dry-run" flag, that will return if the config is valid instead of running the collector.

[2022-10-22 13:14] lesovsky commented on #6373
The same problem with golang alpine images.

[2022-10-22 14:17] Chinwendu20 commented on #4613
Okay thank you

[2022-10-22 14:21] Chinwendu20 commented on #5781
Thanks a lot for your response. I was wondering if we would also carry out sanitation on cfg.distribution.go argument as well. As this line doe not have the cfg.Distribution.Name and cfg.Distribution.BuildTags variable and yet has this line `// #nosec G204` on it

https://github.com/open-telemetry/opentelemetry-collector/blob/c157b128e9ff32ed06e2913e2afa83c9abbed9ba/cmd/builder/internal/builder/ma

[2022-10-22 14:36] Chinwendu20 opened #6374 "Reference drive-letter specification link invalid"
The link to reference drive letter specification, [here](https://github.com/open-telemetry/opentelemetry-collector/blob/c157b128e9ff32ed06e2913e2afa83c9abbed9ba/confmap/resolver.go#L32)
Redirects so:

![image](https://user-images.githubusercontent.com/59079323/197345089-2a7aa57a-a387-43e5-8b51-b1ac14275a7b.png)

[2022-10-22 14:44] Chinwendu20 commented on #5781
I plan on sanitizing the arguments by ensuring they match a regex pattern containing letters and numbers only. How is that? Is there a doc with laid out specification that I can use to come up with a more acceptable pattern?

[2022-10-24 11:54] Chinwendu20 commented on #4613
Thanks a lot for your help. Hello @bogdandrutu . I looked further into this and the above screenshot it looks like it returns all the errors because all the errors were related to the top level confguration. I followed the journey from [setupConfigurationComponents](https://github.com/open-telemetry/opentelemetry-collector/blob/ef4d4e2939b6ced6966941f9a074d04438aefd60/service/collector.go#L130) to

[2022-10-24 16:28] PoliM opened #6389 "Cgroup v1 initialization causes "invalid format for CGroupSubsys" when cgroup path contains colon"
**Describe the bug**
The memory_ballast extensions fails to initialize when reading the cgroup configuration.
The cgroup configuration contains three fields separated by colons. Now it seems that when the cgroup driver is systemd, the third field (the cgroup path) can contain colons in its value too. Since the initialization code just splits the line by colons it detects a wrong number of fields w

[2022-10-24 20:25] tigrannajaryan commented on #4613
To add to the above. It would be great if we could print errors about configuration in a way that makes it easier to understand what needs fixing by using some simple ascii graphics, e.g.:

[code]

The detailed info to print this ascii graphics can be returned in a custom error (we would need to indicate whether the error is in the key or in the value, optionally which part of the key or value is

[2022-10-24 21:28] dixanms commented on #5169
@GuddyTech If you want to debug it, I'm seeing similar issue in some of our opentelemetry collector logs. Let me know what you need

`otelcol-contrib[20433]: 2022-10-24T20:46:39.936Z        warn        zapgrpc/zapgrpc.go:191        [transport] transport: http2Server.HandleStreams failed to read frame: read tcp 96.117.33.53:4317->10.138.30.13:52236: read: connection reset by peer        {"grpc_log"

[2022-10-25 04:51] GuddyTech commented on #5169
thank you.

[2022-10-25 15:06] #6323 closed

[2022-10-25 15:08] #6030 closed

[2022-10-25 16:02] bogdandrutu opened #6403 "[OtelMetrics] Counters have a suffix "_total""
This is according to the Prometheus specs, but inconsistent with what was there before. We need to check that metrics scraped by otel/collector prometheus receiver remove this suffix and we are good then, otherwise this is a breaking change.

[2022-10-25 16:02] bogdandrutu commented on #6403
See https://github.com/open-telemetry/opentelemetry-collector/pull/6401/files

[2022-10-25 16:39] #5246 closed

[2022-10-25 17:08] bogdandrutu commented on #6204
@mx-psi the problem is the they passed an invalid "Config" to the Service instance. If they would have called "Validate" that will return their error. A bad usage of or APIs is not a bug.

[2022-10-25 17:08] #6204 closed

[2022-10-25 17:09] bogdandrutu commented on #5881
What do you expect us to do/offer here?

[2022-10-25 17:10] #5303 closed

[2022-10-25 17:13] bogdandrutu commented on #3346
Please reopen if the problem is still there, we were able to run it.

[2022-10-25 17:13] #3346 closed

[2022-10-25 17:13] #3217 closed

[2022-10-25 17:15] #2505 closed

[2022-10-25 17:16] bogdandrutu commented on #4194
Inactive issue, closing seems to be fixed in the 0.31.0

[2022-10-25 17:16] #4194 closed

[2022-10-25 17:18] bogdandrutu commented on #4224
Looks like the issue found a solution

[2022-10-25 17:18] #4224 closed

[2022-10-25 17:19] bogdandrutu commented on #1061
No longer applies, we use the sampling from the main logger.

[2022-10-25 17:19] #1061 closed

[2022-10-25 19:31] codeboten opened #6406 "Parsing hostname:port causes breaking change"
The [original change](https://github.com/open-telemetry/opentelemetry-collector/pull/6267) was reverted to unblock the collector/contrib repos. I think the original change is still desirable, but I'd love to hear people's thoughts on what the right thing to do is. Folks that configured endpoint like `:6060` will no longer be able to do so after this change. Is this acceptable? Should we swallow th

[2022-10-26 02:39] li-zeyuan commented on #5881
Log splitting and compression.

[2022-10-26 12:24] cpheps opened #6407 "Internal Telemetry Solution Requires Global state"
The current opencensus internal telemetry solution requires that some global state be kept in the process. This causes complex lifecycle management if a Collector instance in that process is stoped and a new one started. The global state must be cleared by the first instance shutting down and reinitiated by the second instance starting up. This also adds additional complexity in a config reload sc

[2022-10-26 15:57] codeboten opened #6408 "Release v0.63.0"
Like #4522, but for v0.63.0

**Performed by collector release manager**

- [x] #6409
- [x] #6410
- [x] #6415
- [x] #6416
- [x] #6418
- [x] #6419

**Performed by operator maintainers**

- [ ] [Release the operator v0.63.0](https://github.com/open-telemetry/opentelemetry-operator/issues/1210)

**Performed by helm chart maintainers**

- [ ] [Update the opentelemetry-collector helm chart to use v0.63.

[2022-10-26 15:57] codeboten opened #6409 "Prepare core release v0.63.0"

[2022-10-26 15:57] codeboten opened #6410 "Tag and release core v0.63.0"

[2022-10-26 17:04] #6352 closed

[2022-10-26 20:43] codeboten commented on #6410
This is done https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.63.0

[2022-10-26 20:43] #6410 closed

[2022-10-26 20:43] codeboten opened #6415 "Prepare contrib release v0.63.0"

[2022-10-26 20:43] codeboten opened #6416 "Tag and release contrib v0.63.0"

[2022-10-26 22:43] #6415 closed

[2022-10-26 22:56] codeboten commented on #6416
Tag push is currently underway

[2022-10-27 00:06] codeboten opened #6418 "Prepare otelcol-releases v0.63.0"

[2022-10-27 00:14] codeboten commented on #6416
https://github.com/open-telemetry/opentelemetry-collector-contrib/releases/tag/v0.63.0

[2022-10-27 00:14] #6416 closed

[2022-10-27 00:14] codeboten opened #6419 "Release binaries and container images v0.63.0"

[2022-10-27 05:54] #6418 closed

[2022-10-27 06:28] elitistphoenix opened #6433 "Run as Windows Service"
When running as a windows service installed by new-service (PS) or sc.exe I get

Error from windows event logs
The OpenTelemetry service terminated with the following error:
An exception occurred in the service when handling the control request.

I know this was added
https://github.com/open-telemetry/opentelemetry-collector/issues/1119

What is the correct way to add + run + run with config file

[2022-10-27 10:16] SaschaBrechmannVHV commented on #4901
The pattern was wrong. Should be:
`pattern: ^(?P<http_client_ip>[\w-.]+).*`
The named pattern was missing.

Regards, Sascha

[2022-10-27 12:45] ambition-consulting opened #6420 "Collector constantly breaking down"
**Describe the bug**
After a while the pod, on which the collector runs, stops with this error:

[code]

**Steps to reproduce**
Using otel/opentelemetry-collector-contrib:0.62.1 docker image and config:

[code]

**Environment**
OS: linux docker on k8s

[2022-10-27 13:00] ambition-consulting commented on #6420
reopened in https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/15695

[2022-10-27 15:13] codeboten commented on #6419
Tags pushed, release action underway: https://github.com/open-telemetry/opentelemetry-collector-releases/actions/runs/3338627320

[2022-10-27 16:36] codeboten commented on #6419
Done https://github.com/open-telemetry/opentelemetry-collector-releases/releases/tag/v0.63.0

[2022-10-27 16:36] #6419 closed

[2022-10-27 20:33] codeboten commented on #6189
This is done now

[2022-10-27 20:33] #6189 closed

[2022-10-27 21:57] codeboten commented on #6196
Fixed by https://github.com/open-telemetry/opentelemetry-collector/pull/6343

[2022-10-27 21:57] #6196 closed

[2022-10-27 21:57] codeboten commented on #6195
Fixed by https://github.com/open-telemetry/opentelemetry-collector/pull/6343

[2022-10-27 21:57] #6195 closed

[2022-10-28 06:39] adityaraibytelearn commented on #6363
Is this resolved. I can see the same issue while using grpc.

[2022-10-28 10:23] ambition-consulting commented on #6420
Even though I am using the contrib docker, it's code coming from this repo, where it's panicking:

https://github.com/open-telemetry/opentelemetry-collector/blob/main/pdata/internal/data/protogen/collector/trace/v1/trace_service.pb.go#L437

[2022-10-28 10:25] ambition-consulting commented on #6420
@tigrannajaryan Any idea why this might be breaking?

[2022-10-28 14:06] djaglowski commented on #6246
What specific information are you trying to discover about the pipelines?

This capability would directly expose a substantial portion of the collector's internals. I think we should avoid this if at all possible and instead provide targeted access for specific use cases.

[2022-10-28 14:35] abeach-nr commented on #6246
@djaglowski ultimately I would like to aggregate collector metrics (Prometheus metrics from the collector) on a pipeline level for the purposes of monitoring pipelines within a collector. I want to be able to look at individual component metrics but in the larger context of a pipeline. With the current collector metrics, there is no way to associate a components metrics to its pipeline. Zpages onl

[2022-10-28 16:32] bogdandrutu commented on #6420
To me this seems to be caused by the "spanmetrics" since I have a feeling that it mutates the data that it also sends to the exporter.

[2022-10-28 16:35] tigrannajaryan commented on #6420
This is a good hunch. The failure shows we run out of buffer while marshalling. One way this can happen is if data is mutated after the buffer size is calculated. A component is likely misbehaving and mutating data when it shouldn't.

[2022-10-28 16:36] codeboten opened #6432 "Patch Release v0.63.1"
Like #4522, but for v0.63.1

**Performed by collector release manager**

- [x] #6434
- [x] #6435
- [x] ~Prepare contrib release v0.63.1~ not needed, bug fix in core
- [x] ~Tag and release contrib v0.63.1~ not needed, bug fix in core
- [x] #6438
- [x] #6440

**Performed by operator maintainers**

- [x] [Release the operator v0.63.1](https://github.com/open-telemetry/opentelemetry-operator/issues/12

[2022-10-28 16:44] codeboten commented on #6408
The operator/helm charts will release using #6432

[2022-10-28 16:44] #6408 closed

[2022-10-28 18:32] bogdandrutu commented on #6420
@ambition-consulting are you sure about the version you are using? Since I see something like helm chart version 30 which is very old.

[2022-10-28 19:39] codeboten opened #6434 "Prepare core release v0.63.1"

[2022-10-28 19:39] codeboten opened #6435 "Tag and release core v0.63.1"

[2022-10-28 21:22] #6434 closed

[2022-10-28 21:27] bogdandrutu commented on #6433
This should be fixed, we are doing a patch release now.

[2022-10-28 21:27] #6433 closed

[2022-10-28 21:45] #6435 closed

[2022-10-28 21:51] codeboten commented on #6435
Done https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.63.1

[2022-10-28 21:51] codeboten opened #6438 "Prepare otelcol-releases v0.63.1"

[2022-10-28 23:36] codeboten opened #6440 "Release binaries and container images v0.63.1"

[2022-10-28 23:37] codeboten commented on #6440
Release underway https://github.com/open-telemetry/opentelemetry-collector-releases/actions/runs/3349183212

[2022-10-29 01:33] elitistphoenix commented on #6433
This works. Thank you!

[2022-10-29 02:36] codeboten commented on #6440
This is done now https://github.com/open-telemetry/opentelemetry-collector-releases/releases/tag/v0.63.1

[2022-10-29 02:36] #6440 closed

[2022-10-29 17:07] perher opened #6443 "Crash on 32-bit builds when using memory_ballast extension"
**Describe the bug**
Starting the collector with a 32-bit build using the memory_ballast extension without any ballast size specified causes a crash during startup.

**Steps to reproduce**
Start collector
[code]

**What did you expect to see?**
Collector to start correctly

**What did you see instead?**
[code]

**What version did you use?**
latest main branch
linux_386 build

**What config did you

[2022-10-29 23:11] Chinwendu20 commented on #4613
Oh wow I was actually working on this issue as indicated above and now about to push a PR

[2022-10-31 07:08] Chinwendu20 commented on #4671
Hello, all please I am in the process of writing a test for my PR but am getting this error from the existing test, any suggestions please? I have reverted to the previous state the collector test was before my commits. Yet I still see this:
` collector_test.go:585:
                Error Trace:    C:\Users\Chinwendum\devenvironment\collector-core-add-dry-run-flag-validate-all-fields\service\collec

[2022-10-31 07:29] ambition-consulting commented on #6420
Yes, I don't have permissions to run the operator on k8s, thus I've been using the helm chart template, but replaced the version inside:

[code]

![image](https://user-images.githubusercontent.com/4218334/198954354-3f63e198-9d77-421d-8750-76f8e77eb47f.png)

[code]

[2022-10-31 11:06] fatsheep9146 commented on #4996
I think the whole moving actions can be split into three steps.
1. defines new package `configauth` in the `extensions` directory, but for each exported type (for example `Authentication`), is only the alias of the homonymous one in the `config` directory, for example:

[code]

2. change all package or module which imports `config/configauth` to `extension/configauth`, for example configgrpc.go in

[2022-10-31 11:11] mx-psi opened #6448 "Update logging exporter examples and docs"
**Describe the bug**

I forgot to update the docs on the `logging` exporter to use `verbosity` instead of `loglevel`. This applies to both the component's README as well as the troubleshooting page.

[2022-10-31 12:43] #6438 closed

[2022-10-31 16:17] #6341 closed

[2022-10-31 18:02] codeboten opened #6449 "Flaky test: `TestServiceTelemetryReusable`"
See the failure: https://github.com/open-telemetry/opentelemetry-collector/actions/runs/3362867290/jobs/5575186303#step:6:4285

[code]

[2022-10-31 18:18] Aneurysm9 commented on #6246
I think that points to a need to augment the metrics (and preferably also log) data with this information.  I tried doing this earlier with logs, but because receivers and exporters can be shared across many pipelines I was only [able to do so for processors](https://github.com/open-telemetry/opentelemetry-collector/blob/186077db7a10b56f65a3b1579a86f16f3a50e8ab/service/internal/pipelines/pipelines

[2022-10-31 20:51] #6443 closed

[2022-10-31 22:08] dmitryax opened #12620 "[Metric builder] Add external system states to be used in metric constraints"
_Originally suggested by @djaglowski in https://github.com/open-telemetry/opentelemetry-collector/pull/6358#discussion_r1000609067_

Add ability to provide optional states of the monitored system that can be used in metric constraints like the following:

[code]

[2022-11-01 04:23] sakshi1215 commented on #6448
@mx-psi Can I please work on this issue?

[2022-11-01 04:24] sakshi1215 commented on #6449
@codeboten should we add a retry mechanism during the connection? I think the server might not be ready which might have caused this, lmk your opinions.

[2022-11-01 07:44] newly12 opened #6452 "otlphttp: do not retry on status code 401, 403"
**Is your feature request related to a problem? Please describe.**
401, 403 means auth failure, typically retry should not be attempted.

**Describe the solution you'd like**
add 401, 403 as `PermanentClientFailure` [here](https://github.com/open-telemetry/opentelemetry-collector/blob/main/exporter/otlphttpexporter/otlp.go#L189-L210)

[2022-11-01 12:04] McGon-Fid commented on #6374
I've picked this up. I will submit a PR later.

[2022-11-01 15:09] paivagustavo commented on #6403
@bogdandrutu tried this out today, and the prometheus receiver doesn't remove neither unit or type suffixes. Otel-go has an option to disable the `units` suffixes (`_bytes`, `_ratio` and `_milliseconds`) but not the type suffixes (`_total`).

There is an open ticket on the contrib repo tracking this https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/8950. I'll try to make som

[2022-11-01 16:11] #6190 closed

[2022-11-01 16:45] codeboten commented on #6449
@sakshi1215 it's possible a retry would solve this, would be good to confirm that's the root cause first. Another thing that may be causing issues is if the port is being re-used by multiple tests.

[2022-11-01 16:57] codeboten opened #6454 "remove otlphttpreceiver dependency from otlpexporter"
Currently the `otlpexporter` has a dependency on `otlphttpreceiver` for testing purposes. This causes any package that includes the `otlpexporter` to also include the `otlphttpreceiver` unnecessarily.

[2022-11-01 17:52] #6432 closed

[2022-11-01 20:28] codeboten opened #6455 "Add test to validate service is up and running on windows"
A [regression](https://github.com/open-telemetry/opentelemetry-collector/issues/6433) in v0.63.0 caused the collector service to crash. This should be tested through an integration test either in this repo or the contrib repository, or maybe even both to prevent further regressions.

[2022-11-01 20:32] codeboten opened #6456 "End-to-end tests for components in this repository"
Currently, many components are tested via the [testbed](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/testbed) in the contrib repository.

It would be great to have these end-to-end tests running in this repository, to improve the feedback cycle when things are broken. I'm not familiar enough with the testbed to guess how much work it would be to make it usable in bot

[2022-11-01 22:35] bogdandrutu commented on #6452
cc @tigrannajaryan

[2022-11-01 22:40] dmitryax commented on #6251
@bogdandrutu I inspected all the components that currently use plog.SeverityNumber.String(), ptrace.SpanKind.String(), or ptrace.StatusCode.String() and got the following list separated by categories where the value is being used as:

Output payload:
- humio exporter
- influxdb exporter
- spanmetrics processor
- azuredataexplore exporter
- azuremonitor exporter
- clickhouse exporter
- instana expo

[2022-11-01 22:48] bogdandrutu opened #6458 "Replace `func obsreport.NewExporter() *Exporter` with `func obsreport.NewExporter() (*Exporter, error)`"
Similar change for all types (Receiver/Processor/etc.)

1. First PR deprecate the current func and add a new one `MustNewExporter`
2. After 1 release and all the usages changed in contrib, replace signature for obsreport.NewExporter and "undeprecate" it and deprecate Must version (if we don't want to keep it).
3. Remove Must version if we don't want to keep it.

[2022-11-01 22:48] #6191 closed

[2022-11-01 22:52] bogdandrutu commented on #6251
The problem is that current protocol may not guarantee stability on these strings, so I don't want give this stability from this repo if proto does not give that.

[2022-11-01 23:40] fatsheep9146 commented on #6456
Can I take this issue? @codeboten

[2022-11-02 03:49] #1026 closed

[2022-11-02 03:49] #970 closed

[2022-11-02 05:38] dmitryax commented on #6251
Sounds good. I submitted a PR in contrib that uses a replicated version of existing methods for now https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/16021

[2022-11-02 09:02] rockdrilla commented on #6389
Hi there! I've done minor fix for this issue. I've been hit the same issue too while writing own "/proc/{pid}/cgroup" parser.

[2022-11-02 11:52] bogdandrutu commented on #6420
@ambition-consulting still investigating, is this the first version you saw this? Have you run 61 successfully without any error?

[2022-11-02 12:30] mx-psi opened #6463 "Document adherence to Go style guidelines"
Effective Go [recommends not adding the `Get` prefix](https://go.dev/doc/effective_go#Getters) to getters. We should add this to our contributing guidelines.

We may just want to note that we abide by Effective Go guidelines instead.

_Based on comment by @bogdandrutu in https://github.com/open-telemetry/opentelemetry-collector/pull/6447#discussion_r1011603439_

[2022-11-02 13:09] bogdandrutu commented on #6420
Also, can you run the collector with this configuration for the pipelines, to isolate the problem:

[code]

[2022-11-02 13:10] ambition-consulting commented on #6420
yes with both - those are also the only versions I have tested.

[2022-11-02 13:49] bogdandrutu commented on #6420
@ambition-consulting let me know when you have updates from the new config proposal

[2022-11-02 22:13] #6389 closed

[2022-11-03 05:31] Chinwendu20 commented on #4613
Hello, all please I am in the process of writing a test for my PR but am getting this error from the existing test, any suggestions please? I have reverted to the previous state the collector test was before my commits. Yet I still see this:
` collector_test.go:585:
                Error Trace:    C:\Users\Chinwendum\devenvironment\collector-core-add-dry-run-flag-validate-all-fields\service\collec

[2022-11-03 14:55] andretong commented on #6420
Hello everyone!
I'm having the same issue with both versions, v0.63.0 and v0.62.1

As an extra, I'm using the [Attributes Span Processor](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/attributesprocessor) feature

The only thing I could notice prior to the error is that is trying to process a trace with at least 26 spans and then it crashes.
Here I attach th

[2022-11-03 15:18] #6406 closed

[2022-11-03 20:43] dmitryax opened #6474 "[pdata] Add functions to clear optional fields"
There is no pdata API to clear optional fields like `pmetric.HistogramDataPoint.Min/Max`. We didn't add it before 1.0 because there was no need for that, but apparently it's needed now for https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/15658.

Suggestion is to add methods with `Clear` prefix like:
- `pmetric.HistogramDataPoint.ClearMin()`
- `pmetric.HistogramDataPoint.Cle

[2022-11-03 21:04] paivagustavo commented on #6449
Just hit this in https://github.com/open-telemetry/opentelemetry-collector/pull/6423 as well. I could recreate it by running this test multiple times with `-test.count=100`. And it does seems that the server was not ready yet (it gets started in a go routine, so very possible), we could possibly use `assert.Eventually` here and check if we can still recreate this failure.

Also agree that we shoul

[2022-11-03 22:31] codeboten commented on #6187
is there an agreement on how to proceed with this split? I guess if we were to split all the type specific stuff out of component, we'd end up with some amount of repetition in the name:

[code]
instead of what it is currently:

[code]

It would be possible to remove some of that repetition, but I'm not sure what we would call the `TracesExporter` for example to make it less repetitive. I do like

[2022-11-03 22:45] codeboten commented on #6337
Closing this issue as components have already been moved. See https://github.com/open-telemetry/opentelemetry-collector/pull/6343

[2022-11-03 22:45] #6337 closed

[2022-11-03 22:57] codeboten commented on #6456
Sounds good, thanks @fatsheep9146!

[2022-11-04 00:26] MovieStoreGuy commented on #6167
The feature has been added into the project, closing off the issue as done since it will be part of the next release.

[2022-11-04 00:26] #6167 closed

[2022-11-04 18:01] nicolasgere opened #6476 "Builder is broken"
**Describe the bug**
The builder is not adding default core modules and they can't be added

**Steps to reproduce**
Just follow the readme of the builder page https://github.com/open-telemetry/opentelemetry-collector/blob/main/cmd/builder/README.md

**What did you expect to see?**
I expect the build to be created

**What did you see instead?**
"exporter/loggingexporter/v0.64.0: unknown revision ex

[2022-11-04 19:15] zhixinwen opened #6477 "Zipkin Receiver does not work with C++ OpenTelemetry Zipkin Exporter"
**Describe the bug**
I am using opentelemetry c++ lib and uses Zipkin as exporter.

**Steps to reproduce**
create a span and set the status code

**What did you expect to see?**
trace gets ingested by collector

**What did you see instead?**
trace rejected by collector, collector responds: `json: cannot unmarshal number into Go struct field .tags of type string`

**What version did you use?**
Vers

[2022-11-04 19:42] lalitb commented on #6477
I think the status code should be text - "OK" or "ERROR" as per the specs here - https://github.com/open-telemetry/opentelemetry-specification/blob/v1.14.0/specification/trace/sdk_exporters/zipkin.md#status.

So, otel-cpp needs to fix this, and NOT the collector.

[2022-11-04 20:13] Aneurysm9 commented on #6187
We could eliminate a bunch of that repetition in the per-component case, I think:

[code]

Not sure that there's a better name for `exporter.Exporter`, but [`url.URL`](https://pkg.go.dev/net/url#URL) exists and the world hasn't come to an end. v0v

[2022-11-05 11:41] pseymournutanix opened #6478 "OTEL_RESOURCE_ATTRIBUTES not adding tags"
I am trying to add tags to each span via the collector (istio via zipkin)before sending upstream to jaeger/tempo etc.

I am setting this in my collector:-
[code]

I can see the environment vars in the pod created via the operator but the tags never show up. Have I done something wrong or misinterpreted use ? Just trying to get unique identifiers per collector before sending to central UI.

Images

[2022-11-05 18:10] #6251 closed

[2022-11-06 07:29] #6478 closed

[2022-11-07 03:11] bogdandrutu commented on #6476
cc @codeboten this is because of the not yet released split package

[2022-11-07 16:40] #5655 closed

[2022-11-07 17:58] codeboten commented on #6476
@bogdandrutu correct, this is because the example was updated to a package that hasn't been released yet. It will be released this wednesday, so i suggest we leave it as is, since it will be fixed in 2 days.

@nicolasgere the example config should be:

[code]

[2022-11-07 18:01] codeboten commented on #6477
closing issue as it is a c++ SIG issue.

[2022-11-07 18:01] #6477 closed

[2022-11-07 20:37] codeboten commented on #6192
This is done now

[2022-11-07 20:37] #6192 closed

[2022-11-07 20:37] codeboten commented on #6193
This is done

[2022-11-07 20:37] #6193 closed

[2022-11-07 20:37] codeboten commented on #6197
This is done

[2022-11-07 20:37] #6197 closed

[2022-11-07 20:37] codeboten commented on #6198
This is done

[2022-11-07 20:37] #6198 closed

[2022-11-07 20:44] bogdandrutu commented on #6420
@andretong can you share your config as well?

[2022-11-07 20:46] #4554 closed

[2022-11-07 23:16] dmitryax commented on #6187
I don't believe we can move things from `component` to `go.opentelemetry.io/collector/[receiver|processor|exporter|extension]` at least because of `component.Host`. I'm not 100% sure we need to extract those parts from `component`, but, if we want to, maybe we can have the following packages instead:
[code]
And it's not that simple, we will also need to move other things (like `component.Kind/Comp

[2022-11-07 23:45] dmitryax opened #6490 "String representation of `component.StabilityLevel` and `configtelemetry.Level` is inconsistent with other types"
`String` methods of all types in `pdata` module along with `service.State` return capitalized strings, for example:
- `pmetric.AggregationTemporality.String()`: "Unspecified", "Delta" or "Cumulative"
- `service.State.String()`: "Starting", "Running", "Closing", etc.

But `component.StabilityLevel` and `configtelemetry.Level` return lowercase strings:
- component.StabilityLevel.String(): "unmaintai

[2022-11-07 23:58] bogdandrutu commented on #6490
I think I like the "Capitalized" version more.

[2022-11-08 00:37] Aneurysm9 commented on #6490
I also prefer capitalization.  It aligns with my expectation that Capitalized Terms are well-defined somewhere in the domain and may carry denotations beyond what might otherwise be considered as their plain meaning.

[2022-11-08 00:40] bogdandrutu commented on #6490
@dmitryax for configs I think we should allow any capitalization? I think it is fine if in the config file (like `configtelemetry.Level`) we allow users to write `"none"`, `"NONE"` or `"None"`.

[2022-11-08 00:41] dmitryax commented on #6490
Yes, that's how it's currently done in `configtelemetry.Level`, input of any case is supported

[2022-11-08 13:04] cpheps commented on #3955
@PaurushGarg @mx-psi I'm wondering if this is still being worked on. In our distribution of the collector it seems like panics are becoming more common as the number of components in contrib grows. Right now there's not a great way to gracefully handle panics from components and pass them along to the caller of the collector.

[2022-11-08 13:13] andretong commented on #6420
@bogdandrutu
Sure, here I attach:

`
extensions:
  memory_ballast:
    size_in_percentage: 20
  zpages:
    endpoint: 0.0.0.0:55679
  health_check:

receivers:
  otlp:
    protocols:
      http:
      grpc:

processors:
  attributes/requestid_processor:
    actions:
      - key: "http.request.header.requestid"
        action: convert
        converted_type: string
      - key: "http.request.header

[2022-11-08 13:58] mx-psi commented on #3955
I am not actively working on this, feel free to take it if you want. My main concern with this was graceful shutdown, re-reading this maybe we want to raise the panic again after the shutdown. Feel free to open a PR and we can discuss there

[2022-11-08 14:00] Edition-X commented on #6420
I'm receiving the same error as @andretong above. My config is pretty similar but with the addition of the transform processor:
[code]

[2022-11-08 14:43] cpheps commented on #3955
Got it. I don't have capacity currently but I do think my team is interested in solving this issue. We may take this on in the next few weeks.

[2022-11-08 16:23] codeboten commented on #6490
Capitalized is fine with me.

[2022-11-08 17:41] dmitryax commented on #6490
Sounds good! I'll submit a PR to capitalize `component.StabilityLevel` and `configtelemetry.Level` strings.

[2022-11-08 18:17] #6374 closed

[2022-11-08 18:34] bogdandrutu commented on #6490
For `CompressionType` there are some things:
* Capitalization does not make that much sense
* Maybe rename to `Compression`, but anyway we also need to fix the enum value names.

[2022-11-08 18:57] abeach-nr opened #6494 "[config] Allow grpc interceptor configuration for otlp exporter"
Currently, it is not possible to configured client grpc interceptors on the otlp exporter.

This function is public, and supports extra grpc dial options:
https://github.com/open-telemetry/opentelemetry-collector/blob/52ef7bde6f3724746625498e2a090bc44cfcbb7d/config/configgrpc/configgrpc.go#L186

However, there is no way to pass in additional dial options (for example, an interceptor)
https://githu

[2022-11-08 19:05] jpkrohling opened #6495 "Release v0.64.0"
Like open-telemetry/opentelemetry-collector#4522, but for v0.64.0

**Performed by collector release manager**

- [x] open-telemetry/opentelemetry-collector#6496
- [x] open-telemetry/opentelemetry-collector#6497
- [x] open-telemetry/opentelemetry-collector#6498
- [x] open-telemetry/opentelemetry-collector#6499
- [x] open-telemetry/opentelemetry-collector#6500
- [x] open-telemetry/opentelemetry-coll

[2022-11-08 19:05] jpkrohling opened #6496 "Prepare core release v0.64.0"

[2022-11-08 19:05] jpkrohling opened #6497 "Tag and release core v0.64.0"

[2022-11-08 19:05] jpkrohling opened #6498 "Prepare contrib release v0.64.0"

[2022-11-08 19:05] jpkrohling opened #6499 "Tag and release contrib v0.64.0"

[2022-11-08 19:05] jpkrohling opened #6500 "Prepare otelcol-releases v0.64.0"

[2022-11-08 19:05] jpkrohling opened #6501 "Release binaries and container images v0.64.0"

[2022-11-08 20:59] codeboten commented on #6187
After further digging into this, the `Host` complication makes the split per component impractical. My plan is to keep `component` as a single package containing the different component types within it.

[2022-11-08 21:51] dmitryax opened #6505 "Adding new signal is a breaking change for component.[Exporter|Processor|Receiver]Factory"
This is part of a bigger discussion in https://github.com/open-telemetry/opentelemetry-collector/issues/4705

If we release `component` 1.0 with the current design of the component factories, we will need to make a major release every time we add another signal type because it'll be a breaking change for the interfaces. This might be something that we want to go with. But I would like to consider

[2022-11-08 22:33] codeboten commented on #6505
Would it be breaking? Adding new signals should be ok no?

[2022-11-08 22:34] codeboten commented on #6505
ah right... changing the interface would break anyone implementing it 🤔

[2022-11-08 22:37] codeboten opened #6506 "Review `component` public API"
Before considering `component` 1.0, we need to review the public API to ensure what is exposed makes sense https://pkg.go.dev/go.opentelemetry.io/collector/component

[2022-11-08 22:52] codeboten commented on #6506
Some thoughts:

- should `BuildInfo` be in this package? since its more directly tied to the service running, it might make more sense to move it to that package
- `TelemetrySettings` should be moved into the `telemetry` package

[2022-11-08 23:37] MovieStoreGuy opened #6507 "[Service] Partial start can cause panic"
**Describe the bug**

On service start up, if a component was to error, the start up process is stopped and then the shutdown method is invoked.

If a component requires `Start` to be called in order to populate internal values (ie, storing a reference to a context.CancelFunc), the `service.Shutdown` will panic and the original error is lost.

**Steps to reproduce**
If possible, provide a recipe f

[2022-11-08 23:39] bogdandrutu commented on #6506
I think cannot be moved to the "service" since you need to pass this to components, so will create a circular dependency.

Same issue about dependency.

[2022-11-08 23:42] bogdandrutu commented on #6505
This is not true :)) Because I designed this in a way that annoys other people, but helps us keeping this flexibility. See https://github.com/open-telemetry/opentelemetry-collector/blob/727ca568c38b6682a8ed89d17a94b2ab14895915/component/component.go#L161 which makes the interfaces extensible since there are no external dependencies.

[2022-11-08 23:51] dmitryax commented on #6505
Oh right! I missed `unexportedFactoryFunc`. Sorry for the confusion. Closing the issue

[2022-11-08 23:51] #6505 closed

[2022-11-09 00:03] dmitryax opened #6508 "Adding new data types to pdata module"
This is part of https://github.com/open-telemetry/opentelemetry-collector/issues/4705.

Going forward we will need to add new signal types that are initially considered experimental. Before releasing pdata 1.0, we need to decide how we will be doing that given that the new signals probably shouldn't be part of pdata 1.0 right when they are added.

Currently, we have `pdata` as one module. This iss

[2022-11-09 01:48] dmitryax commented on #6508
Look like you're right. I played with it and can confirm that it's not a breaking change for a package migrating to the new module structure even if some indirect dependencies still use the old module structure.

[2022-11-09 01:53] dmitryax commented on #5588
Removing from the 1.0 milestone since fixing it is not a breaking change for pdata API

[2022-11-09 01:54] dmitryax commented on #5476
Removing from 1.0 milestone since fixing it is not a breaking change for the pdata API

[2022-11-09 02:02] #6496 closed

[2022-11-09 08:09] Allex1 opened #6509 "otelcol_exporter_send_failed_spans metric does not get exposed"
**Describe the bug**
`otelcol_exporter_send_failed_spans` metric is not reported even when spans fail to be sent to the backend (Jaeger), even though it's referenced in the [docs](https://github.com/open-telemetry/opentelemetry-collector/blob/main/docs/monitoring.md#data-loss)  and in https://github.com/open-telemetry/opentelemetry-collector/issues/6162

**Steps to reproduce**
messed up the dns in

[2022-11-09 12:07] andretong commented on #6420
@bogdandrutu Hi! Here I attach other stack trace that is crashing the collector in version 0.63.1

[code]

[2022-11-09 12:37] #6498 closed

[2022-11-09 17:22] #6497 closed

[2022-11-09 17:22] #6499 closed

[2022-11-09 17:47] mattsains commented on #226
I was looking into this issue and I have some questions.

Firstly, I was wondering if having denylisting is functionally the same as `string_attribute`'s `invert_match` field.

I think you can rewrite @majelbstoat 's example like this: (which predates the `invert_match` feature btw)

[code]

Currently, it seems that `invert_match` is only available for `string_attribute`, but it seems like we coul

[2022-11-09 18:05] bogdandrutu commented on #6420
Does any of you @andretong @Edition-X happen to run a previous version where this did not happen, and can help me identify in which version it started?

[2022-11-09 20:32] dmitryax commented on #6508
@bogdandrutu I've played with it a bit more and found that it'll be not a smooth upgrade experience for packages on 1.16 and earlier go versions. Splitting the pdata module can cause `ambiguous import` errors on dependant packages on that version if there are any other indirect dependencies using pdata, the errors can be fixed with explicit `replace` statements tho.

I believe it's still ok to kee

[2022-11-09 21:31] ahayworth opened #6513 "Setting otlp/http CORS `allowed_headers` replaces the default safelist"
**Describe the bug**
The documentation around CORS `allowed_headers` for the [otlpreceiver](https://github.com/open-telemetry/opentelemetry-collector/tree/main/receiver/otlpreceiver#cors-cross-origin-resource-sharing) and [confighttp](https://github.com/open-telemetry/opentelemetry-collector/tree/main/config/confighttp#server-configuration) are unintentionally misleading. The language implies that

[2022-11-09 21:49] bogdandrutu commented on #6420
Also, can any of you (@andretong @Edition-X @ambition-consulting) deploy the collector without the "batch" processor, seem to be the common thing between all your pipeline.

[2022-11-09 23:29] bogdandrutu commented on #6508
We are already on go 1.18 minimum anyway (and allowed to use generics etc.). So would not worry about that.

[2022-11-09 23:38] bogdandrutu opened #6514 "Review HexString func on SpanID and TraceID"
Feedback from reviewing contrib usages:
1. Lots of usages in logs `zap.String("trace_id", sp.TraceID()`, this has unnecessary overhead when the level is low (like Debug) since the conversion to string will happen. I would propose to offer a `String()` method that can be used instead as `zap.String("trace_id", sp.TraceID()` - not sure if we should return empty string for "empty" span, but we can de

[2022-11-10 05:43] dmitryax commented on #6514
@bogdandrutu just to clarify, are you suggesting that we rename `HexString` to `String` to avoid unnecessary bytes copying and encoding in debug logs, recommend the `String` function only for displaying purposes, and ask users to use `hex.EncodeToString` if they need the hex string representation as an identifier, right?

[2022-11-10 07:20] dmitryax commented on #6514
Also `zap.String` takes `string` as an argument, so we will need to replace them to `zap.Any` to supply a `Stringer` instance.

[2022-11-10 10:50] andretong commented on #6420
Hi @bogdandrutu

I made the test without the `batch` processor, but still breaks

[code]

[2022-11-10 11:50] andretong commented on #6420
@bogdandrutu

I ran the same config file with the above versions:

0.60.0 -> OK
0.61.0 -> OK
0.62.0 -> ERROR

[2022-11-10 15:18] mx-psi commented on #6514
We can use [`zap.Stringer`](https://pkg.go.dev/go.uber.org/zap#Stringer), right?

[2022-11-10 15:24] BenWa67 opened #6515 "more than 2 config files not supported"
**Describe the bug**
I would like to have multiples config files ( more than 2 )  for my open telemetry collector

**Steps to reproduce**
i tried to launch my open telemetry like this
`otelcol-contrib.exe --config=file:C:/Install/Observability/otel/base.yml --config=file:C:/Install/Observability/otel/config2.yml --config=file:C:/GE_Install/Observability/otel/config3.yml`

**What did you expect to

[2022-11-10 15:55] dmitryax commented on #6514
Right 👍

[2022-11-10 16:15] codeboten commented on #6501
This is done now https://github.com/open-telemetry/opentelemetry-collector-releases/releases/tag/v0.64.0

[2022-11-10 16:15] #6501 closed

[2022-11-10 16:15] codeboten commented on #6500
This is done https://github.com/open-telemetry/opentelemetry-collector-releases/releases/tag/v0.64.0

[2022-11-10 16:15] #6500 closed

[2022-11-10 16:16] bogdandrutu commented on #6514
Yes, the idea was to use `zap.Stringer` once you implement `String()` method. This way the `String()` func will be called only if the log is recorded.

Correct.

[2022-11-10 16:38] bogdandrutu commented on #6515
Working as intended since in all files you defined the same "pipeline" ("metrics") which by the merge rule will overwrite the previous config, so the final result will be:

[code]

If you want them to be independent pipelines and not overwrite pipelines, give them different names:

base.yaml:
[code]

config2.yml
[code]

config3.yml
[code]

[2022-11-10 16:48] codeboten commented on #6513
@ahayworth if you'd like to open a PR to fix the behaviour, I believe #2 is the correct way to proceed

[2022-11-10 16:52] codeboten commented on #6476
This is fixed with the 0.64.0 release.

[2022-11-10 16:52] #6476 closed

[2022-11-10 17:20] bogdandrutu commented on #6420
@ambition-consulting @andretong @Edition-X found the bug, will submit a fix soon. In the meantime if you want a quick fix, remove the logging exporter from the pipelines.

[2022-11-10 18:50] bogdandrutu opened #6521 "Update the opentelemetry-collector helm chart to use v0.64.0 docker image"

[2022-11-10 19:37] Edition-X commented on #6420
Thanks @bogdandrutu

[2022-11-10 19:39] andretong commented on #6420
@bogdandrutu thank you very much!

[2022-11-10 20:57] #6420 closed

[2022-11-10 20:57] bogdandrutu commented on #6420
@Edition-X @andretong the v0.64.1 is ready to be tested :)

[2022-11-11 02:18] bogdandrutu commented on #6507
Should we call "Shutdown" only on the components that we started?

[2022-11-11 03:20] bogdandrutu commented on #6506
@codeboten we also need to make sure that "consumer" package is 1.0 before :)

[2022-11-11 06:20] MovieStoreGuy commented on #6507
I know we had spoken about this over slack but just to recap:

I don't think we should, mainly because that would imply that the service is managing that state and I think would over complicate cognitive model, and potential break the OpAMP.

However, I do think that following the example of the behaviour for `http.Server` as `Shutdown` is safe to call regardless of starting however, once Shutdown

[2022-11-11 07:29] dmitryax commented on #6514
@bogdandrutu can you also please clarify why we can't we keep `HexString` in addition to `String` to promote consistent representation of trace_id/span_id in pdata instead of asking users to call `hex.EncodeTosString`?

[2022-11-11 12:06] akorompai opened #6524 "Reload client CAs periodically"
**Is your feature request related to a problem? Please describe.**
Need to restart the collector in order to reload the client CAs.

**Describe the solution you'd like**
Make it work like [certificate reloader](https://github.com/open-telemetry/opentelemetry-collector/blob/e07665cacabfdf6769f2c01576abde9786d0160b/config/configtls/configtls.go#L178) in same context.
Could use `GetClientConfig` call

[2022-11-11 12:13] enesconf commented on #5169
Hi @elvince,
I have a still same problem. How to solved problem?

[2022-11-11 15:17] adam-kiss-sg commented on #6373
I ran into the same issue, so I checked how the official otel collector images are built: https://github.com/open-telemetry/opentelemetry-collector-releases/blob/main/.goreleaser.yaml

The trick seems to be setting `CGO_ENABLED=0`

Here is a Dockerfile that works for me (you might need to enable buildkit, see: https://docs.docker.com/build/buildkit/#getting-started).
It uses alpine, not sure about

[2022-11-11 15:34] #6448 closed

[2022-11-11 16:22] bogdandrutu commented on #6514
Will be duplicate code, also not sure we are the entity to ensure "consistent representation". It is also different than the w3c representation since we don't represent empty as `0000000000000000` but as empty string.

[2022-11-11 16:26] bogdandrutu commented on #6514
Also, https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/otlp.md#json-protobuf-encoding does not clarify how to represent empty IDs.

[2022-11-11 16:28] bogdandrutu commented on #6514
So the concern is that we made a decision there, that is not based on any standard to represent empty ID as empty string, because of that I feel not good exposing this in a public function that others rely on. Will take long time to make a decision in specs, so better not to expose this as non "debug" only functionality.

[2022-11-11 20:39] bogdandrutu opened #6526 "Split `featuregate` on its own module"

[2022-11-11 22:47] dmitryax commented on #6514
Ok, makes sense

[2022-11-12 00:42] dmitryax commented on #5418
Closing as completed in https://github.com/open-telemetry/opentelemetry-collector/pull/5566

[2022-11-12 00:42] #5418 closed

[2022-11-12 00:42] dmitryax commented on #800
Config marshaling was added in https://github.com/open-telemetry/opentelemetry-collector/issues/5418. @mat-rumian please let us know if that solves your problem

[2022-11-14 08:31] mx-psi commented on #2237
I believe this is done, please reopen/comment if not

[2022-11-14 08:31] #2237 closed

[2022-11-14 09:24] BenWa67 commented on #6515
Thank for your quick answer, yes it is working as expected. In fact merge could not happen like that .
I will create custom pipeline like your said. May be a documentation could be good for helping to understand the merge notion.

[2022-11-14 09:24] #6515 closed

[2022-11-14 18:46] lprakashv opened #6541 "Resize(newSize) Function on ResourceLogsSlice, InstrumentationLibraryLogsSlice, LogRecordsSlice"
**Is your feature request related to a problem? Please describe.**
My use case is that I want to split (or limit) my `*pdata.Logs` packet created for a list of log events if the size of `*pdata.Logs` exceeds some `maxBytes`.

As part of the existing system, we are building the packet from a list of events where we keep appending to `ResourceLogs`, `InstrumentationLibraryLogs` and `LogRecords`.

To

[2022-11-14 21:13] bogdandrutu commented on #6541
Have you checked "RemoveIf", we use that in the split logic in batch processor, see https://github.com/open-telemetry/opentelemetry-collector/blob/main/processor/batchprocessor/splittraces.go#L29

[2022-11-14 23:17] bogdandrutu commented on #1770
We changed to use `https://github.com/json-iterator/go` and got huge improvements. Feel free to re-open if this is still a problem.

[2022-11-14 23:17] #1770 closed

[2022-11-14 23:19] bogdandrutu commented on #1358
Transform processor in contrib should support this. /cc @TylerHelmuth if that is not the case we can reopen

[2022-11-14 23:19] #1358 closed

[2022-11-14 23:53] #800 closed

[2022-11-14 23:55] bogdandrutu commented on #2293
It is now, you can use the "service::telemetry::logs" section.

[2022-11-14 23:55] #2293 closed

[2022-11-14 23:57] bogdandrutu commented on #2275
Resolved, since we wrapped the host with the logger for each component.

[2022-11-14 23:57] #2275 closed

[2022-11-14 23:58] bogdandrutu commented on #2160
This is a bit too late to implement at this point.

[2022-11-14 23:58] #2160 closed

[2022-11-14 23:59] #2143 closed

[2022-11-15 00:00] #2054 closed

[2022-11-15 09:17] lprakashv commented on #6541
Thanks @bogdandrutu but here `RemoveIf()` won't make sense as we do not want to iterate the entire slice, just want to remove the last appended element for performance reasons.

And based on the snippet in the link you shared, it is working based on the size in terms of length/count but not in terms of bytes. And the problem with calculating bytes using `LogSizer.logSize(pdatalogs)` is that it onl

[2022-11-15 13:52] tigrannajaryan commented on #6507
@MovieStoreGuy can you expand on this? How can this break the OpAMP?

[2022-11-15 19:47] bogdandrutu commented on #6541
Why do you care about performance since the calculation of the size iterates over all elements anyway?

It is, because calculating the "wire size" of a message does not make too much sense (who am I to judge that, but I still don't understand why you need it), since you have also compression, etc. which will influence the size of the final payload.

[2022-11-15 19:50] bogdandrutu commented on #6541
Also keep in mind that "remove" for say a "log record" it is a complex operation, because you need to copy its Resource/Scope and construct the entire message structure, you cannot simply remove the "Log Record" and create an empty message.

[2022-11-15 21:06] bogdandrutu commented on #6187
I made a prototype, and I think it is simple to do the split, see https://github.com/open-telemetry/opentelemetry-collector/pull/6552

The main idea behind is that Host depends on "Extension" and "Exporter" interfaces which are useless anyway, they can be replaced by using Component (since they are simple renames for Component anyway), something like https://github.com/open-telemetry/opentelemetry

[2022-11-15 21:28] #6187 closed

[2022-11-15 22:18] #6514 closed

[2022-11-15 22:40] #6495 closed

[2022-11-15 22:52] paivagustavo commented on #6403
https://github.com/open-telemetry/opentelemetry-collector/pull/6559 addresses the unit suffixes: `_bytes`, `_ratio` and `_milliseconds`

https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/16071 addresses the type suffixes: `_total`

[2022-11-16 00:03] MovieStoreGuy commented on #6507
My concern was that if we start mandating that components are restartable, then OpAMP may have to change it works managing components.

However, I believe we should keep restartable components however add in that `Shutdown` can be called  independent from `Start` which I don't think is a problem but I more wanted to confirm that adding in this requirement of a component wouldn't impact the project

[2022-11-16 06:16] lprakashv commented on #6541
Thanks for the inputs @bogdandrutu I initially thought re-slicing is an in-place operation. Now, it makes sense to avoid this.

More on my use-case wire size matters to avoid larger size message downstream, because log messages can vary a lot in size.

[2022-11-16 06:31] lprakashv commented on #6541
Closing this issue, will create a new issue for the `LogSizer` like implementation for `ResourceLog` and `LogRecord`

[2022-11-16 06:31] #6541 closed

[2022-11-16 14:39] danelson opened #6564 "Optimizing and understanding collector configuration"
I am looking for some guidance on operating a collector deployment. Specifically I am interested in:
- Understanding when collector configuration should be modified
- Understanding the right configuration for automatically scaling a collector deployment as much as possible

I deploy the collector in a stateless (i.e. no TraceID aware load balancing) Kubernetes deployment leveraging a Horizontal Po

[2022-11-16 17:42] tigrannajaryan commented on #6507
We do not necessarily need the component instances to be restartable. The current restart logic is that we shutdown all components and create _new_ components before we start them.

This seems to be a cleaner solution since it removes the need to rely on component implementations being restartable.

Independently from this, we need to decide who is responsible for tracking that Start was called an

[2022-11-16 18:18] lprakashv opened #6566 "`Size()` for `pdata.ResourceLogs`, `pdata.InstrumentationLibraryLogs` and `pdata.LogRecords`"
**Is your feature request related to a problem? Please describe.**
My use case is that I want to split (or limit) my `*pdata.Logs` packet created for a list of log events if the size of `*pdata.Logs` exceeds some `maxBytes`. This is to avoid downstream otel-collector to get a very large size batch for a batch of fixed size log-event. This requirement comes due to the logs event size can var a lot.

[2022-11-16 19:45] AlexDHoffer commented on #4951
Why is this not supported? Would love to be able to grpcurl this thing without it being a huge pain

[2022-11-16 21:10] tigrannajaryan commented on #6245
Foresight for Collector contrib should be accessible at https://app.runforesight.com/repositories/github/open-telemetry/opentelemetry-collector-contrib/pull-requests

[2022-11-16 22:25] serkan-ozal commented on #6245
Hi @tigrannajaryan and OTEL community,

[app.runforesight.com](https://app.runforesight.com) requires authorization (which can be assumed to be used by admins who have access to the account with different roles) but [otel.app.runforesight.com](https://otel.app.runforesight.com) is not as it is public view for the community as we assigned custom sub-domain and enabled public view for the community.

[2022-11-16 22:49] mattsains commented on #3685
I think the current analogue to this code is here: https://github.com/open-telemetry/opentelemetry-collector/blob/e07665cacabfdf6769f2c01576abde9786d0160b/service/collector.go#L201-L203

It's no longer run as part of a go routine and does not pass the error to a channel.

I think the way the code works now is that it exits back to cobra [here](https://github.com/open-telemetry/opentelemetry-collec

[2022-11-17 04:17] yutingcaicyt opened #6569 "add the limit of size(not count of log but bytes) for single request"
## Important (read before submitting)
We are currently preparing for the upcoming 1.0 GA release. Feature requests that are not aligned with
the current roadmap https://github.com/open-telemetry/opentelemetry-collector/blob/main/docs/roadmap.md
and are not aimed at stabilizing and preparing the Collector for the release will not be prioritized.

_Delete this paragraph before submitting._

**Is you

[2022-11-17 14:48] Depechie opened #6619 "Regression: crash when TLS insecure is set on authenticators"
### Component(s)

extension/oauth2clientauth

### What happened?

## Description

Trying to have 2 opentelemetry collectors talk to each other using the oauth2client extension ( agent < > server ).

## Steps to Reproduce

Docker compose file

[code]

With 2 collector configs defined

## Expected Result

Correct data transfer

## Actual Result

The opentelemetry configured as agent keeps crashing

[2022-11-17 20:37] dlydiard opened #6573 "When using the `daemonset` mode, the services that are created by the controller should use `internalTrafficPolicy: Local`"
When using the `daemonset` mode, the services that are created by the controller should use `internalTrafficPolicy: Local` so that network traffic routing is optimal.

Using
[code]

Results in a `Service`
[code]

`internalTrafficPolicy: Cluster` should be `internalTrafficPolicy: Local` when in the `daemonset` mode.

[2022-11-17 21:45] #6526 closed

[2022-11-18 00:00] mattsains commented on #4584
I was working on this by making some modifications to @FreakyNobleGas 's solution and integrated it into the new config implementation here: https://github.com/open-telemetry/opentelemetry-collector/commit/84e49f1acbc780751146b11a8ce08358e0eaaa71. However, it looks like the implementation changed again in https://github.com/open-telemetry/opentelemetry-collector/pull/6544 so I'll be re-targetting

[2022-11-18 00:26] mattsains commented on #4584
/assign

[2022-11-18 12:55] ahayworth commented on #6513
Fantastic, I'll take that approach. I still intend to fix it (likely tonight or tomorrow night), I just haven't been able to squeeze in a few minutes to write any code in the past few days. 😆

[2022-11-18 19:21] dmitryax opened #6578 "[component] Move [Receiver|Processor|Exporter|Extension] specific parts from component module"
Currently `component` package includes API specific to [Receiver|Processor|Exporter|Extension] components. That API can be moved to the corresponding packages to simplify the API.

Instead of

[code]

users will use

[code]

Prototype PR: https://github.com/open-telemetry/opentelemetry-collector/pull/6552

[2022-11-18 19:22] dmitryax commented on #6187
I submitted a follow-up issue for the split suggested by @bogdandrutu https://github.com/open-telemetry/opentelemetry-collector/issues/6578

[2022-11-19 01:31] dmitryax opened #10726 "[metrics builder] Ability to re-aggregate metric by attributes"
We need to provide users with the ability to change a set of attributes emitted by a metrics receiver by applying an automatic re-aggregation of the data points. For example, `system.cpu.time` is emitted by default with `state` and `cpu` attributes. Many users don't need metrics per CPU core, so they would like to get metrics per host and state instead. Currently, they would need to set up an addi

[2022-11-19 19:15] HaroonSaid opened #6580 "V0.62.0+ breaks environment variables in config file"
**Describe the bug**
We have the following in the yaml config file

[code]

and pass in the values thru environment variables

**Steps to reproduce**
Starting with `0.62.0` that no longer works

[code]

**What did you expect to see?**
Should continue work.

**What did you see instead?**

**What version did you use?**
Version: 0.62+

**What config did you use?**
Config: (e.g. the yaml config file)

[2022-11-21 14:05] tigrannajaryan opened #6588 "Release v0.65.0"
Like #4522, but for v0.65.0

**Performed by collector release manager**

- [x] Prepare core release v0.65.0
- [x] Tag and release core v0.65.0
- [ ] Prepare contrib release v0.65.0
- [ ] Tag and release contrib v0.65.0
- [ ] Prepare otelcol-releases v0.65.0
- [ ] Release binaries and container images v0.65.0

**Performed by operator maintainers**

- [ ] Release the operator v0.65.0

**Performed by

[2022-11-21 16:27] mx-psi commented on #6580
Funny, this is something we explicitly discussed as a failure mode here https://github.com/open-telemetry/opentelemetry-collector/pull/4742#discussion_r927710064 cc @bogdandrutu you probably know better where this is failing

[2022-11-21 18:09] bogdandrutu commented on #6580
The fix is simple, since the feature is protected by the featuregate: https://github.com/open-telemetry/opentelemetry-collector/blob/main/confmap/resolver.go#L46, just disable that by passing a flag to the command:

[code]

Will look into the reason to this fails.

[2022-11-21 18:54] mattsains opened #6591 "Error messages from otel builder inappropriately quoted/escaped"
**Describe the bug**
When the [custom collector builder](https://opentelemetry.io/docs/collector/custom-collector/) fails, its error message includes an underlying error which usually is the actual content of the error. For example:

[code]

As you can see, the error is quoted and escaped, so it's very difficult to read.

I plan to fix this myself soon because it's quite easy, but I need to write

[2022-11-21 19:26] jpkrohling commented on #6591
It has annoyed me as well, thanks for taking care of this!

[2022-11-21 19:44] jpkrohling commented on #6373
@lesovsky, can you confirm that setting `export CGO_ENABLED=0` results in a binary that can be used from a container?

[2022-11-21 20:19] bogdandrutu commented on #6580
@HaroonSaid an even better fix for you is to actually change your config and use:

[code]

Since anyway "endpoint" is consider to include the port as well.

[2022-11-21 22:06] tigrannajaryan opened #6596 "Implement ability for extensions to be notified about effective configuration"
To implement OpAMP for the Collector we need a way for extensions to know what is the current effective configuration of the Collector, see the [design document](https://docs.google.com/document/d/1KtH5atZQUs9Achbce6LiOaJxLbksNJenvgvyKLsJrkc/edit#heading=h.ioikt02qpy5f.

This can be implemented as an optional interface that extensions can implement to be notified of the current config.

The config

[2022-11-21 23:26] #6580 closed

[2022-11-22 03:58] brandtkilian commented on #4951
If that can be of any interest as a workaround, I am using `grpcui`, then I cloned [the protobuf repo](https://github.com/open-telemetry/opentelemetry-proto) and I am using something along:

[code]

Then I can craft my export metrics test queries from a web ui.

As a side note, the `plaintext` and `-proto` options of grpcui are really similar to the `grpcurl` ones so you might be able to replicate

[2022-11-22 07:48] Mario-Hofstaetter commented on #4752
Dear all, milestone https://github.com/open-telemetry/opentelemetry-collector/milestone/24 looks finished.

Is there any roadmap when to expect a stable `1.0` release of OTELCOL and contrib?
Releases are currently coming at a high cadence, few are worth rolling out in our case.

[2022-11-22 08:45] dmitryax commented on #4752
We are actively working on this, but there is limited capacity. `pdata 1.0` will be likely released as part of the next release, `component 1.0` is in progress and will be released soon after that. Other parts of the collector will go next. No specific timeline beyond that.

This is expected, we need to run through a lot of changes to stabilize the API for 1.0.

[2022-11-22 08:49] Mario-Hofstaetter commented on #4752
Thanks for the quick response @dmitryax

From a otelcol _user_ perspective, how many breaking changes are expected regarding operating otelcol?
e.g. breaking changes in `yaml` config of components, ...

I guess.. until its stable _anything_ may change?

[2022-11-22 08:56] dmitryax commented on #4752
e.g. breaking changes in yaml config of components, ...

Breaking changes for 1.0 release are mostly applied to developer API. User API stability is defined for each component independently, e.g. https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/otlpexporter is stable for metrics and traces and beta for logs. It means that no breaking changes are expected there. See http

[2022-11-22 15:21] tigrannajaryan commented on #4230
Done in https://docs.google.com/document/d/1KtH5atZQUs9Achbce6LiOaJxLbksNJenvgvyKLsJrkc/edit#heading=h.6sh2emmccxhp

[2022-11-22 15:21] #4230 closed, assigned to nobody

[2022-11-22 15:25] tigrannajaryan opened #6599 "Make service.instance.id and other telemetry attributes available to extensions"
OpAMP extension will need to know the [generated service.instance.id](https://github.com/open-telemetry/opentelemetry-collector/blob/e98116922cf6c079c246fa78eef59dfd9c2e4867/service/telemetry.go#L131) and other telemetry attributes to use it in the communication with the OpAMP Server.

This can be implemented by making it available on the component.Host interface or by adding a field to xCreateSet

[2022-11-22 15:31] tigrannajaryan opened #6600 "Create opamp extension"
See [design document](https://docs.google.com/document/d/1KtH5atZQUs9Achbce6LiOaJxLbksNJenvgvyKLsJrkc/edit#heading=h.ioikt02qpy5f).

Depends on:
- https://github.com/open-telemetry/opentelemetry-collector/issues/6596
- https://github.com/open-telemetry/opentelemetry-collector/issues/6599

[2022-11-22 15:41] tigrannajaryan opened #6601 "Add OpAMP client and connect to the OpAMP server, send AgentDescription to the server"

[2022-11-22 17:26] burmudar opened #6604 "otel-collector builder fails with googlexporter and lokiexporter"
**Describe the bug**
When creating a custom distribution with `googlexporter` and `lokiexporter` the builder fails with compiler errors.

**Steps to reproduce**
use the following config.yaml with v0.64 and v0.65. and run `builder --config=config.yaml`
[code]
**What did you expect to see?**
Builder to succeed in building the custom distribution
**What did you see instead?**
`v0.64.0`
[code]

`v0.65

[2022-11-22 17:55] bogdandrutu commented on #6599
Why do you need to know only the `service.instance.id` and not all the service parts? Per spec `service.instance.id` is not unique, the combination of the 3 `service` parts are unique.

[2022-11-22 18:18] tigrannajaryan commented on #6599
That's a good point. I was thinking that the extension will get the service name from the BuildInfo (we set service.name to BuildInfo.Command), but this is not the right way, since we now allow it to be overriden.

So you are right, it is best that we make all telemetry attributes available to extensions.

[2022-11-22 18:18] #4584 closed

[2022-11-23 01:48] hannan-khan-intelops opened #6609 "Collector Is Exporting Unicode Sequences Within Data"
**Describe the bug**
I am currently using the OpenTelemetry Collector to collect data gathered from [Pixie](https://github.com/pixie-io/pixie). The data is in OpenTelmetry format. I have two `exporter` configurations, one for `logging` and one `otlphttp` for exporting the data to [Vector](https://github.com/vectordotdev/vector). The data that shows up in the logs is fine. However, the data that sh

[2022-11-23 05:35] bogdandrutu commented on #6609
This seem to me as a bug from <`0.64.1` (was fixed in `0.64.1`) can you double check the version? Also try disable "debug" level in the logging exporter, that will also fix the problem.

[2022-11-23 05:38] bogdandrutu commented on #6609
See https://github.com/open-telemetry/opentelemetry-collector/issues/6420

[2022-11-23 08:12] yutingcaicyt opened #6610 "why can't we config the Multiplier and RandomizationFactor for retry_on_failure"
**Describe the bug**
For retry_on_failure, Multiplier and RandomizationFactor are fixed in code, Multiplier=1.5, RandomizationFactor=0.5. In this situation, min_interval may be less than current_interval after calculation which cause the unpredictable retry times.

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.

**What did you expect to see?**
If we can set the Mul

[2022-11-23 14:59] mx-psi commented on #6604
Please hold off on using v0.65.0, we are in the process of releasing v0.65.1, see #16422

[2022-11-23 17:34] bogdandrutu commented on #6578
Proposing few changes to the plan:
* Remove per component kind Config, we can simply use "component.Config" everywhere, no need to have any special functionality there, especially since we are aiming to make `Config` a totally opaque object from collector perspective.

[2022-11-23 17:54] codeboten opened #6614 "Release v0.66.0"
Like #4522, but for v0.66.0

**Performed by collector release manager**

- [x] Prepare core release v0.66.0
- [x] Tag and release core v0.66.0
- [x] Prepare contrib release v0.66.0
- [x] #6615
- [x] #6616
- [x] #6622

**Performed by operator maintainers**

- [ ] https://github.com/open-telemetry/opentelemetry-operator/issues/1277

**Performed by helm chart maintainers**

- [x] https://github.com/o

[2022-11-23 17:54] codeboten commented on #6588
Superseeded by https://github.com/open-telemetry/opentelemetry-collector/issues/6614

[2022-11-23 17:54] #6588 closed

[2022-11-23 17:55] codeboten opened #6615 "Tag and release contrib v0.66.0"

[2022-11-23 18:27] codeboten opened #6616 "Prepare otelcol-releases v0.66.0"

[2022-11-23 19:36] codeboten commented on #6615
Done https://github.com/open-telemetry/opentelemetry-collector-contrib/releases/tag/v0.66.0

[2022-11-23 19:36] #6615 closed

[2022-11-23 19:42] jpkrohling commented on #6619
I moved this to the collector core repository. I don't think this warrants a patch release, as this is triggered only on invalid configuration options.

[2022-11-23 21:29] NickLarsenNZ commented on #2102
As for formatting, I think [logfmt](https://brandur.org/logfmt) should be an option alongside JSON (and perhaps use the ZAP log structure).

[2022-11-23 21:59] samanthawalter opened #6621 "v0.64.1 builder fails with errors related to deprecations in v0.65.0 release"
**Describe the bug**
Without any changes to configuration or custom components, the v0.64.1 builder started failing after the v0.65.0 release with errors related to deprecations in the v0.65.0 release. I would expect that new releases do not affect previous releases.

**Steps to reproduce**
Attempt to run v0.64.1 of the builder with the following config.yaml.
[code]

**What did you expect to see?*

[2022-11-23 23:37] codeboten commented on #6616
Done here https://github.com/open-telemetry/opentelemetry-collector-releases/pull/242

[2022-11-23 23:37] #6616 closed

[2022-11-23 23:37] codeboten opened #6622 "Release binaries and container images v0.66.0"

[2022-11-23 23:38] codeboten commented on #6622
In progress here https://github.com/open-telemetry/opentelemetry-collector-releases/actions/runs/3536449224

[2022-11-23 23:44] codeboten commented on #6621
A few of the modules have been pulled out of go.opentelemetry.io/collector and must be referenced directly. I updated the config you supplied as per the following and was able to compile the collector:

[code]

[2022-11-23 23:55] codeboten commented on #6604
Not sure if this will solve your problem, but there are some lines in this config that should be updated now that the following packages are available as separate modules:
[code]

[2022-11-24 08:25] burmudar commented on #6604
Thanks for the suggestion @codeboten! I'll update our config

[2022-11-24 11:29] jpkrohling commented on #6604
My reading is that the original issue has been resolved. I'm closing this, but feel free to reopen it if you are still experiencing problems.

[2022-11-24 11:29] #6604 closed

[2022-11-24 16:12] codeboten commented on #6622
This is done now https://github.com/open-telemetry/opentelemetry-collector-releases/releases/tag/v0.66.0

[2022-11-24 16:12] #6622 closed

[2022-11-25 00:17] codeboten opened #6624 "Flaky test: TestQueuedRetry_RequeuingEnabled"
Seen this failure a couple of times:

https://github.com/open-telemetry/opentelemetry-collector/actions/runs/3524647585/jobs/5910347724
https://github.com/open-telemetry/opentelemetry-collector/actions/runs/3521003167/jobs/5951483003

[code]

[2022-11-25 10:26] praveenchoudhari007 opened #6625 "prometheus receiver issue"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.

**What did you expect to see?**
A clear and concise description of what you expected to see.

**What did you see instead?**
A clear and concise description of what you saw instead.

**What version did you use?**
Version: (e.g., `v0.4.0`, `1eb551

[2022-11-25 15:31] barclayadam opened #6626 "Go panic in OLTP exporter"
**Describe the bug**
Go is periodically producing a panic log and restarting (with an exit code of 2) with one of 2 outputs:

[code]

[code]

**Steps to reproduce**

I've only noticed this in logs recently trying to understand why I'm seeing duplicate logs being published via OLTP end so I do not have reproduction or what part of my configuration could be causing this

**What version did you use?*

[2022-11-25 17:25] codeboten commented on #6626
Thanks for the report @barclayadam, this appears to be a dup of https://github.com/open-telemetry/opentelemetry-collector/issues/6420, which has been fixed in v0.64.1. Can you test with that version and see if it solves your issue?

[2022-11-25 17:27] codeboten commented on #6625
Moving this issue to the contrib repo (where the prometheus receiver is). Will ping code owners there.

[2022-11-28 03:41] graemechristie commented on #4544
Is there any progress on this ? Currently we cannot use the batch processor with the routing or header setter processors ... this seems a pretty essential feature for any scenarios involving headers or attributes ?

[2022-11-28 09:38] barclayadam commented on #6626
@codeboten I have upgraded to Helm chart 0.40.2 which uses docker otel/opentelemetry-collector-contrib:0.66.0 and I still see the same issue (included again in case stack is different due to new version):

[code]

[2022-11-28 09:59] Allex1 commented on #6509
started appearing in 0.63.1

[2022-11-28 09:59] #6509 closed

[2022-11-28 14:14] jpkrohling commented on #4544
There hasn't been any progress on this yet.

[2022-11-28 14:22] jpkrohling commented on #5781
Given the alternatives, I think it's OK to skip the check here if you add a comment on the reasoning. To me, blocking a potentially good input due to a bug in the validation (regex) is more problematic than a possible bad input causing a bad result.

This lack of validation is a problem only if the machine running this command does not belong to the person requesting this command to be executed. T

[2022-11-28 14:50] evan-bradley commented on #6596
I can work on this.

[2022-11-28 16:56] jpkrohling commented on #6245
I'm closing this, as I believe the original goal was completed. If that's not the case, feel free to reopen.

[2022-11-28 16:56] #6245 closed

[2022-11-28 17:00] bogdandrutu commented on #6610
Because it is not implemented.

[2022-11-28 17:00] bogdandrutu commented on #6626
@codeboten this time the culprit seems to be a metrics component (before happened on traces). My guess base on the config is prometheus exporter (have not checked yet).

[2022-11-28 17:05] tigrannajaryan commented on #6596
@evan-bradley feel free to add me a as a reviewer on all OpAMP-related PRs.

[2022-11-28 17:21] Chinwendu20 commented on #5781
Cool! thanks from what I understand we would still have the "#nosec" line but with additional comments stating the reason behind it right?

[2022-11-28 18:52] #4671 closed

[2022-11-28 19:26] jpkrohling commented on #5781
That's correct.

[2022-11-28 19:53] jpkrohling commented on #4946
Is this even what we want? I was under the impression that we _should_ be able to stop/start the collector whenever we wanted.

@tigrannajaryan, I'm pretty sure I got this from you a few years ago :-) Do you think that's still valid to this day?

[2022-11-28 19:58] cpheps commented on #4946
@jpkrohling I was under the impression you could start multiple instance of the collector per process but not a single instance over and over. This would make sure a single instance exits early rather than doing a full startup before closing.

[2022-11-28 20:34] #6591 closed

[2022-11-28 21:31] TylerHelmuth opened #6629 "Allow Exporting of the Collector's internal spans"
**Is your feature request related to a problem? Please describe.**
Currently the collector can be made to emit metric and log telemetry, but not spans.  The collector does have the capability to generate its own spans, but they can only be viewed with the zpages extension.  It would be best if the spans could also be emitted like the collector's metrics and logs

**Describe the solution you'd like

[2022-11-28 22:31] #6614 closed

[2022-11-29 15:27] TylerHelmuth commented on #6629
@jpkrohling maybe the solution is being able to define in the telemetry settings a pipeline specific to the collector's internal telemetry and this pipeline doesn't instrument itself (somehow)? Could look like:

[code]

[2022-11-29 16:46] jpkrohling commented on #6629
I have a bad feeling about this one. The common practice I've been seeing is to have the monitors being external to the process being monitored, and I think this applies here as well ("who monitors the monitor" type of question). In that sense, I would recommend our users use an external OTLP endpoint whenever possible to receive the collector's telemetry data and would not have this enabled by de

[2022-11-29 16:47] pavankrish123 commented on #6619
The issue is now fixed. We can flower them.

[2022-11-29 16:50] samanthawalter commented on #6621
Thank you , @codeboten. That solved the issue.

When were these components moved? Was this something we missed when we upgraded to v0.64.x? How is it possible that we were able to build this version before?

[2022-11-29 17:00] TylerHelmuth commented on #6629
@jpkrohling an external endpoint is ok as well, although we lose potential processing.  As long as we can get the spans out I'll be happy.

[2022-11-29 18:39] #4996 closed

[2022-11-29 20:25] jpkrohling commented on #6621
They were moved very recently. Each component now has its own `go mod`, allowing them to progress independently of the core's API.

[2022-11-29 20:26] #6619 closed

[2022-11-29 20:31] samanthawalter commented on #6621
So because of this move, all configs using older builder version that reference those components the old way will run into this issue? That's not great.

[2022-11-29 20:32] #6621 closed

[2022-11-29 22:47] tigrannajaryan opened #6635 "Consider ability to specify a noop, heavily sampled or restricted zap logger for a pipeline"
A common approach to collect Collector's own metrics today is to create a dedicated pipeline that uses a Prometheus receiver to scrape the Collector. This works fairly well.

It would be useful to use a similar technique to collect Collector's own logs, by redirecting them to a file and using a filelog receiver on a dedicated pipeline to collect the logs. However, we can't do this since there is d

[2022-11-30 01:01] fatsheep9146 commented on #4996
@jpkrohling @bogdandrutu @mx-psi
Could you help reopen this pr, since I only completed the first step, there are still some other works wait to be done, such as deprecate the old type.

[2022-11-30 12:37] jpkrohling commented on #6635
This is related to an issue proposed by @TylerHelmuth (#6629), in the context of traces. Let us make it very easy for people to receive our telemetry data in a separate process, following the best practices around the "monitor of monitors" pattern.

In that sense, we should keep sending logs to stdout/stderr, the current best practice for applications (the collector being one in this context), and

[2022-11-30 17:20] TylerHelmuth commented on #6629
Based on the SIG discussion today I will move forward with a config proposal to allow configuring exporters in the OpenTelemetry Go SDK.

[2022-11-30 18:43] jmacd opened #6638 "Support monitoring bytes read/written (compressed and uncompressed) by a pipeline"
**Is your feature request related to a problem? Please describe.**

It is difficult to observe how many bytes are sent and received from collector pipelines. As an example of this test, I've examined the OTel-Collector-Contrib `testbed` package which has tests for both OTLP-gRPC and OTLP-gRPC-gzip. However, since "gzip" is the default compression strategy, these tests are actually identical in a w

[2022-11-30 19:08] TylerHelmuth commented on #6629
@bogdandrutu @jpkrohling @codeboten @Aneurysm9 was the idea of using ENV VARs to configure the exporter completely rejected?  If they are allowed, which takes precedence, env vars or the explicit configuration in TelemetrySettings?