[2022-01-03 15:03] ttomsu commented on #4190
Happy New Year everyone! Just checking in on this... specifically interested in pattern 4 (Multiple Local Config Files)

[2022-01-03 17:47] bogdandrutu commented on #4613
@MovieStoreGuy too many errors may also be a problem and confusion, I am not sold on the "print" all errors is the right approach. I remember the old `gcc` which did that and was extremely hard to identify the root cause, since an error may cause a chain of errors.

I would say probably one of the first thing we should add a "--dry run" (flag) or "validate" (command) that can return immediately an

[2022-01-03 17:55] bogdandrutu commented on #4605
@MovieStoreGuy what more than the issue itself is needed? I think this is pretty public and asking for feedback, but instead @alolita derived the discussion and we are discussing process in an issue that was designed for discussing this change.

@Aneurysm9 @alolita the "internal" project was a random example, and clearly we don't need this change to do that. We can simply ignore the service depend

[2022-01-03 17:59] bogdandrutu commented on #4584
@DiptoChakrabarty I think we should `fail fast`, which means we should add a "Validate" on the ExporterSettings and ask users to call that when they embed the config. This change may take some time to "propagate" to all users, so in the meantime we can probably return an error in "Start" for couple of versions.

[2022-01-03 18:31] bogdandrutu commented on #4467
@mx-psi I understand the current implementation of "Set" may do this, but I am not sure conceptually when a "Set" func would return an error if you were implementing this?

[2022-01-03 18:32] bogdandrutu commented on #4543
Are we re-designing `bazel`?

[2022-01-03 18:35] #4556 closed

[2022-01-03 22:19] MovieStoreGuy commented on #4605
Sorry, I don't see an issue with the change itself but more in the manor that this thread reads.

[2022-01-03 22:36] hyunuk opened #4623 "configgrpc needs to be refactored in accordance to the change in confighttp"
**Is your feature request related to a problem? Please describe.**

https://github.com/open-telemetry/opentelemetry-collector/pull/4441#discussion_r761532499

To connect these values with configgrpc, I discussed with @Aneurysm9 and since the changes in confighttp are quite a lot, he will create an issue about refactoring configgrpc after this PR is being merged.

Since the PR for `confighttp` intr

[2022-01-03 23:05] bogdandrutu commented on #4605
@MovieStoreGuy that is why I think we should not merge process discussions with issues/technical discussions, since it is very hard to follow.

[2022-01-03 23:24] jack-berg commented on #4587
I've done some benchmarks of various grpc compression algorithms on a branch [here](https://github.com/jack-berg/opentelemetry-collector/blob/compression-performance/model/internal/configgrpc_benchmark_test.go#L51-L87).

Notes:
- Tested gzip, zstd, and snappy compression
- Tested small and large log, trace, and metric payloads.
- Small payloads are on the order of ~200 bytes.
- Large payloads are

[2022-01-04 00:15] Aneurysm9 commented on #4605
See https://github.com/open-telemetry/opentelemetry-collector/pull/4625 for a proposed policy statement.

As for this issue and its associated PRs, the first associated PR was merged within five minutes of the issue being opened with code committed only a minute after it was opened.  I don't think it is fair to say that this issue was asking for feedback or designed to discuss these changes.  It a

[2022-01-04 00:50] bhs commented on #4605
I hear @bogdandrutu's request to keep the discussion of the actual change separated from the process-focused discussion. Where's the right place to discuss the process? #4625?

[2022-01-04 00:58] bogdandrutu commented on #4605
@bhs nice to see you, in our repo. the issues are not created, will do it.

[2022-01-04 00:59] bogdandrutu opened #4626 "Define when a PR is "ready to merge""
This issue comes from @alolita comment about having two approvers from different companies. Not sure where this request comes from so I will let @alolita comment more.

[2022-01-04 01:20] bogdandrutu commented on #4605
For @Aneurysm9 comments related to the issue and not the process:

This was my bad, I was very frustrated with other's comments and I made a confusion. I was trying to say "package". I am not suggesting any split, but I want clear boundaries between "packages", and in the future if we do extract modules out of these packages that may apply as well, but I am not suggesting that.

[2022-01-04 01:24] bogdandrutu commented on #4535
@jpkrohling can this be closed?

[2022-01-04 01:27] bogdandrutu commented on #4474
Based on https://github.com/open-telemetry/opentelemetry-collector/pull/4423#pullrequestreview-825106487 I am closing this issue.

[2022-01-04 01:27] #4474 closed

[2022-01-04 01:31] bogdandrutu commented on #4457
@dashpole @mxiamxia you know more about this than me, can you answer?

[2022-01-04 01:37] bogdandrutu commented on #4471
@MovieStoreGuy is all your, just to document what we discussed:
* If we name a public var we use `DefaultFoo`
* If we name a public func we use `NewDefaultFoo`

[2022-01-04 02:55] hyunuk opened #4627 "CompressionType shouldn't be in internal/** path."
**Is your feature request related to a problem? Please describe.**

There is a problem with this, similar in http case. We are exposing publicly an "internal" type (under internal/** path). We need to move `middleware.CompressionType` in a public package. We can do this in a separate PR, but I want you to have a tracking issue.

_Originally posted by @bogdandrutu in https://github.com/open-telemet

[2022-01-04 03:41] MovieStoreGuy commented on #4613
My original thought is that to use `multierr` and expand each error line by line and I can visually understand the amount of things I had gotten wrong so I can see if I need to update one things, or a lot of things (assuming the config is valid yaml).

Something of the vein of:
[code]

I mainly noticed this as I was cleaning up the contrib lifecycle tests trying to figure out what is the minimal r

[2022-01-04 03:42] MovieStoreGuy commented on #4613
I wanted to iron out what would this would look like within the collector and once we agree on the approach, I can create a follow up issue to update config validate methods to do what is required.

[2022-01-04 03:43] MovieStoreGuy commented on #4543
Hehehe, potentially.

I am not too familiar with bazel but I do want some faster feedback loops for the project.

[2022-01-04 03:50] MovieStoreGuy commented on #4614
Yeah, feel free to add me to it.

I wouldn't mind understanding it a bit more so it works for me :D

[2022-01-04 08:25] jpkrohling commented on #4614
If you need any help, let me know.

[2022-01-04 08:30] jpkrohling commented on #4543
Bazel is a bit more than just selectively running specific tests, which is the only problem we are trying to solve as part of this issue.

[2022-01-04 08:38] delanym commented on #1049
I read the docs at
https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/jaegerexporter

My otel config has

[code]

When I start the containers, otel fails with
[code]

The Jaeger container logs
[code]

What am i doing wrong?

[2022-01-04 08:42] jpkrohling commented on #4587
That's great info, I think this should be part of the documentation for this feature. The only thing I would request is to get the formula for the "compress ratio" changed so that it shows `1-(compressed bytes / raw bytes)`. Having a compression rate of more than 100% seems odd ;-)

[2022-01-04 08:59] jpkrohling commented on #4535
We still have this in the server interceptors, but I think this one is fine:

https://github.com/open-telemetry/opentelemetry-collector/blob/51fcb65f02055638f223c6abd3d6d2d644c696db/config/configauth/serverauth.go#L42-L44

If you are OK in keeping, this can be closed, as the original comment was about the HTTP one, which was indeed removed already.

[2022-01-04 09:01] delanym commented on #1049
Thanks. The latest tag is 3 months old https://hub.docker.com/r/otel/opentelemetry-collector/tags

[2022-01-04 09:03] jpkrohling commented on #1049
Don't use the latest tag, use fixed versions instead.

[2022-01-04 10:48] jpkrohling commented on #4557
@MovieStoreGuy, the PR #4558 was merged and can be used as a model for this one here. Would you like to work on it?

[2022-01-04 11:18] jpkrohling commented on #4555
@JosephWoodward, do you need help moving forward with this?

[2022-01-04 12:11] JosephWoodward commented on #4555
@jpkrohling I had a quick look, but didn't get as much time over Christmas as I was hoping to. Now everything is settling down again I can get it sorted.

Whilst looking at it I noticed the [TestServerAuth](https://github.com/open-telemetry/opentelemetry-collector/blob/e6f0e014c0ad280fc67557704a2015924caf76eb/config/confighttp/confighttp_test.go#L770) test covers the happy path of that default han

[2022-01-04 15:00] dashpole commented on #4457
For cgroups v2, I think we need to be checking `memory.max` instead of `memory.limit_in_bytes` in  [MemoryQuota()](https://github.com/open-telemetry/opentelemetry-collector/blob/e23c9d0a01834a64162acb1677b7d69aa5be46f5/internal/cgroups/cgroups.go#L112).  We can do something like runc does here: https://github.com/opencontainers/runc/blob/master/libcontainer/cgroups/utils.go#L34 to check to see if

[2022-01-04 16:25] jack-berg commented on #4587
I defined the compression ratio as `(compressed bytes - raw bytes) / compressed bytes`. I think `1-(compressed bytes / raw bytes)` is a good formula too. Not a ton of consensus on how best to represent it. I think I'll update it to `raw bytes / compressed bytes`, which I've anecdotally seen referenced more often than other formulas. This yields numbers like `4.46`, which can be interpreted as "4.4

[2022-01-04 16:29] Aneurysm9 opened #4630 "Remove requirement that new components be presented across multiple PRs"
The [current process for adding a new component](https://github.com/open-telemetry/opentelemetry-collector/blob/main/CONTRIBUTING.md#when-adding-a-new-component) is not working for many reviewers and approvers.

[Quoting @anuraaga](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/6926#issuecomment-1004696786):

Alternatives should be proposed and an update to the policy ado

[2022-01-04 17:01] jpkrohling commented on #4555
Yes, that seems right. Looks like the happy path is covered.

[2022-01-04 19:23] #4623 closed

[2022-01-04 19:26] bogdandrutu commented on #4627
Only that type needs to be public, the rest of the code MUST NOT be public unless in an internal.

Alternatively we can have a `configcompression` small package for this.

[2022-01-04 21:07] bogdandrutu commented on #4613
@MovieStoreGuy since I have lots of knowledge in the internals probably for me is easier with just one (and also because of my previous experiences with parsers when getting one thing wrong can cause lots of chained errors. That being said I think this decision should be driven by the users, so we should get few +1 from users I am fine to do this way.

When it comes to "validate", I have a better

[2022-01-04 21:17] bogdandrutu commented on #4535
The AuthFunc is fine, my whole comments were about having the other helpers/customizations. Anyway all good.

[2022-01-04 21:17] #4535 closed

[2022-01-04 22:47] codeboten opened #4633 "Replace path.Join method with filepath.Join method"
As per @bogdandrutu's [comment](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/6480#issuecomment-1005016589), we should follow the same pattern in the core repo.

[2022-01-04 23:33] bogdandrutu commented on #4630
@jpkrohling @Aneurysm9 @anuraaga the logic of this for new "Components" (Processor/Receiver/etc.) is not as "rubber stamps" PRs. Let's look at the suggestion to better understand, see https://github.com/open-telemetry/opentelemetry-collector/blob/main/CONTRIBUTING.md#when-adding-a-new-component:

**1:**
[code]

This PR as you can read should add a "readme" and "configuration" which are the most im

[2022-01-04 23:53] bogdandrutu commented on #4459
@morigs interesting. Now we can have a long debate here, usually the operation executed after batching is an I/O op (not that CPU intensive). If we limit that to 1 core (in your example) we will never be able to hit probably 0.7 cores.

So not sure what is the best in this case.

[2022-01-05 02:43] anuraaga commented on #4630
My word rubber stamp was probably not correct - I agree that this is an important part of the component. But as the comment mentions, it is "usually trivial to review", meaning yes it needs to be looked through well but doesn't actually take anywhere near as much time / energy as reviewing the business logic. I've also seen many cases of the config looking fine on paper but when comparing with the

[2022-01-05 02:43] bogdandrutu commented on #4190
@ttomsu are you interested to support "blob/regexp" or just multiple local files in general?

[2022-01-05 02:55] bogdandrutu commented on #4630
This is a bad thing in my opinion, because from a user perspective they should not look at code, and if from the documentation and config documentation is not clear how to use this component then is not good.

There may be exception where you may be right that the initial author may overengineer the solution and config may change, but usually that is not very important, if it becomes significant I

[2022-01-05 08:45] morigs commented on #4459
@bogdandrutu
In the case of batch processor is not a problem, it's just a channel size. The real issue is the number of threads.
Processor as well as exporters can perform CPU intensive tasks (complex sampling, serialization etc) so they will try to utilize as many cores as possible. This will lead to throttling (which is a [bad thing](https://blog.turbonomic.com/kubernetes-cpu-throttling-the-sile

[2022-01-05 09:51] sl1316 commented on #4617
can you shine some light about how the routing processor works? from the pipeline builder [code](https://github.com/open-telemetry/opentelemetry-collector/blob/e080cae46f19a3b30135db1dbe1070d676b1c2ae/service/internal/builder/pipelines_builder.go#L130)
the pipeline is built in the reverse order and the fanoutconsumer is the last one before the exporters.

[2022-01-05 10:00] emadolsky commented on #4457
I have already implemented the cpuQuota for automaxprocs in this PR: https://github.com/uber-go/automaxprocs/pull/44

If you think it is a good idea to implement the same in here, I can spend my time on it.

[2022-01-05 14:58] shree007 commented on #4633
@jpkrohling  @codeboten I may work on it.

[2022-01-05 15:07] jpkrohling commented on #4633
Go ahead.

[2022-01-05 15:08] jpkrohling commented on #4617
The readme from that processor should have enough info to start some experiments. I'm happy to answer any specific questions you may have though.

[2022-01-05 16:52] codeboten commented on #4630
As an approver, I can see the argument on both sides being valid.

The smaller PRs in general do tend to be easier to review for me even if a larger PR is broken up in different commits. I personally work through a PR, mark it reviewed and move on.  With individual commits on a larger PR, I often find that it I will review some changes, then have my attention pulled somewhere else and end up losin

[2022-01-05 19:08] #4633 closed

[2022-01-05 19:56] tigrannajaryan commented on #4605
(I have commented process-wise on https://github.com/open-telemetry/opentelemetry-collector/pull/4625, so won't discuss that here anymore).

Here are the 2 use cases I have in my mind that would benefit from this change:
- Implement experimental Collector that uses the existing components but has richer pipeline notion to allow signal conversion, conditional fanning out, etc. Some of this was disc

[2022-01-05 20:14] tigrannajaryan commented on #4225
@sl1316 see https://github.com/open-telemetry/opamp-spec repo for protocol spec work and https://github.com/open-telemetry/opamp-go for Go implementation.

[2022-01-05 20:14] tigrannajaryan commented on #4225
Closing this since protocol has its own repo now.

[2022-01-05 20:14] #4225 closed

[2022-01-05 20:30] jmacd opened #4641 "otlptext support for ExponentialHistogram"
**Describe the bug**
The `otlptext` package does not recognize ExponentialHistogram data types.

**Steps to reproduce**
Demonstrated in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6666 using a logging exporter and a statsd receiver configured to produce exponential histograms.

**What did you expect to see?**
The data type should print its buckets in a human readable way

[2022-01-05 20:41] Aneurysm9 commented on #4605
I think this brings us back to the question I asked earlier about whether the `config` and `service` package hierarchies were intended to be split into separate modules.  To the extent that there exists a single module that contains both hierarchies I'm not sure there is a way to use one without taking a dependency on the entire collector module.  This is why we have very many modules in the Go AP

[2022-01-05 20:54] bogdandrutu commented on #4605
To answer very directly:
1. `configtest` the deps are deprecated - so expect them to be removed in the next release (following kind of a process here). See https://github.com/open-telemetry/opentelemetry-collector/blob/main/config/configtest/configtest.go#L36
2. `configunmarshaler` needs to be split as well into helpers to `unmarshal` components vs the `service` and whole `Config`.

In the issue w

[2022-01-05 21:13] bogdandrutu commented on #4630
There was a discussion during the SIG meeting and we decided to:
1. Try a new proposal, create an issue template that will contain all the information necessary to decide about how the component will work, capabilities and usage examples.
2. Once the issue is approved we will not enforce the current split of the PRs for 1m, to see if that improves.

[2022-01-05 21:17] bogdandrutu commented on #4543
One of the bazel most important feature is to ensure reproductive builds which then allows you to only rebuild things that changed. So essentially builds/tests only the minimum things that are affected by your change.

It may do more than that, but that is the major feature that they tried to sell.

[2022-01-05 21:24] Aneurysm9 commented on #4605
We're beyond concepts, there are concrete implementations committed to the mainline, so yes, I think we need to get into implementation details.  What is the plan for `configunmarshaler`?

[2022-01-05 22:07] bogdandrutu commented on #4605
@Aneurysm9 I will add you to the PR to review and develop a plan. What I know right now is that needs to be split as well.

[2022-01-05 22:24] bogdandrutu commented on #3680
@jpkrohling can you take this please?

[2022-01-05 22:26] bogdandrutu commented on #4186
@markvdlaan93 will close this since we don't know if this is fixed or not, please reopen if still a problem

[2022-01-05 22:26] #4186 closed

[2022-01-05 23:46] bogdandrutu opened #4646 "[Proposal] Move batching in `exportehelper`"
Right now batching capability is offered as a processor, and this is extremely generic in our current pipeline model, which is a great thing, but also comes with limitations:
1. Batch processor uses a queue (implemented as a channel), which is not the same as the one used in the queue retry, that can lose data when the binary crashes even after the client was informed that data were accepted. Ther

[2022-01-06 00:23] tigrannajaryan commented on #4646
A couple quick counterarguments:
1. Dedicated batch processor keeps the batch in memory once even when there are multiple exporters in the pipeline. If we move the equivalently sized batch to queuedretry of every exporter we will slightly increase memory requirements (not by much since most of pdata is going to be shared assuming exporters' output throughput more or less keeps up with the input).

[2022-01-06 00:24] tigrannajaryan commented on #4646
Another benefit of eliminating batch processor is that it is one less thing to configure. This will simplify the user experience.

[2022-01-06 00:42] bogdandrutu commented on #4646
While responding to your comments I realize that a possible thing is to offer both, do you think that is too confusing?

This is a good argument to possibly keep the processor as well, maybe using the same shared library that the exporterhelper uses. This comes with another downside that I haven't thought, if we want to have a fast batching we need to mutate the pdata (move them to the batch) whic

[2022-01-06 00:50] bogdandrutu commented on #4457
@dashpole as an expert you make the call if that is the right thing to do, I just trust you on this :)

[2022-01-06 01:57] bogdandrutu commented on #4471
FYI: @MovieStoreGuy you can start working on this :)

[2022-01-06 03:51] JosephWoodward commented on #4555
@jpkrohling Great, I've raised a PR [here](https://github.com/open-telemetry/opentelemetry-collector/pull/4647)

[2022-01-06 18:16] dashpole commented on #4457
@emadolsky that would be very helpful.  As a note, the [MemoryQuota()](https://github.com/open-telemetry/opentelemetry-collector/blob/e23c9d0a01834a64162acb1677b7d69aa5be46f5/internal/cgroups/cgroups.go#L112) function doesn't exist in https://github.com/uber-go/automaxprocs, so you will have to make some additional changes there.

[2022-01-06 21:59] tigrannajaryan commented on #4646
Yes, I think it will be confusing if we do batching in 2 places, with 2 different overlapping sets of configuration options available.

[2022-01-06 22:00] tigrannajaryan commented on #4646
The exporters are currently not allowed to mutate data: https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter#data-ownership

[2022-01-06 22:02] tigrannajaryan commented on #4646
Since "transform" doesn't exist yet perhaps test with a couple basic ones for now, like `attributesprocessor` or `filterprocessor`.

[2022-01-07 11:53] JosephWoodward commented on #4555
This issue can now be closed :+1:

[2022-01-07 18:26] bogdandrutu commented on #4646
you know that nobody reads documentation :)) One of them is the signalfx exporter which uses https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/pkg/batchperresourceattr/batchperresourceattr.go. Luckily after my change to move "capability" to Consumer, we now do the right thing for exporters because they also have capabilities and we clone if we need there as well.

So the

[2022-01-07 19:19] #4641 closed

[2022-01-07 19:19] bogdandrutu commented on #4555
Thanks @JosephWoodward

[2022-01-07 19:19] #4555 closed

[2022-01-07 19:22] bogdandrutu commented on #4568
@anuraaga your transform processor will support this correc?

[2022-01-07 19:23] bogdandrutu commented on #4377
@yuriolisa any update?

[2022-01-07 21:27] bogdandrutu opened #4655 "Do we need all binaries for the builder?"
Right now, it looks like we build a lot of binaries for the collector builder, see https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.42.0

Also the name seems to be "ocb" which may lead to confusion like "ocd", would prefer to avoid these kind of correlations.

[2022-01-09 13:38] sl1316 opened #4660 "support customized configsource"
**Is your feature request related to a problem? Please describe.**
we want to load the config dynamically and reload the program after that. it looks like opentelemetry already has an interface for [customized config source
](https://github.com/open-telemetry/opentelemetry-collector/blob/main/config/experimental/configsource/component.go)
but it seems it's not integrated with the collector yet and

[2022-01-09 17:59] Sprakhar97 commented on #4449
@codeboten @bogdandrutu I would like to work on this issue.

[2022-01-10 10:28] mx-psi commented on #4584
I agree with Bogdan's suggested approach @DiptoChakrabarty

[2022-01-10 10:47] mx-psi commented on #4646
I think supporting both would be confusing. The 'customization of the "size" function' feature would be really helpful for us: we want batches to be below our intake's API max size, but currently we can't really give a precise number for the max batch size, since what we care about is the number of bytes in the payload we export, which can't be recovered from the number of points in a batch.

[2022-01-10 12:51] jpkrohling commented on #4655
Which ones would you keep/remove?

I'm also not happy with ocb, will think about an alternative.

[2022-01-10 13:13] jpkrohling commented on #3680
This is too old. Newer versions do support this.

[2022-01-10 13:27] jpkrohling commented on #4449
Go ahead, @Sprakhar97

[2022-01-10 14:00] davechallis opened #4661 "Return HTTP 405 or 415 status codes instead of 404 where appropriate in HTTP collector"
**Is your feature request related to a problem? Please describe.**

The HTTP collector returns a 404 response for resources that do exist, but are accessed without the correct content type.

This makes it harder to figure out why their requests aren't working. I encountered this when using the correct path for requests to the collector, but was getting a 404 response due to missing `content-type`

[2022-01-10 14:20] jpkrohling commented on #4661
Would you be open to sending a PR for this?

[2022-01-10 16:04] davechallis commented on #4661
Sure, should have some spare time at the end of this week, will take a look into it then.

[2022-01-10 17:15] bogdandrutu commented on #4660
Do you want to build your own distribution? Do you use the builder for that?

[2022-01-10 18:24] bogdandrutu commented on #4655
@jpkrohling to be honest, not sure if we need any... But I may be wrong... Probably the docker image is good enough?

[2022-01-10 20:56] yuriolisa commented on #4377
Hi @bogdandrutu , I'll take a look at it tomorrow morning.

[2022-01-10 22:06] squaw077 commented on #4205
Just wanted to confirm if this feature has already been implemented. If so, please confirm which build it can be found in. Otherwise, please advise when are you planning to implement it.

[2022-01-11 00:08] JosephWoodward commented on #4661
@davechallis I'm happy to pick this one up if you don't find the time.

[2022-01-11 03:40] sl1316 commented on #4660
@bogdandrutu can you shine some line about the builder thing?
and should I put my change under the [contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib) lib?

[2022-01-11 12:17] jpkrohling commented on #4377
This was already done via https://github.com/open-telemetry/opentelemetry.io/pull/1019

[2022-01-11 12:17] #4377 closed

[2022-01-11 13:04] sl1316 commented on #4614
@MovieStoreGuy  I think I can help with the question1 that I figured it out.
do you have any insight for quetion2? especially for resource contention and thread safety

[2022-01-11 16:50] bogdandrutu commented on #4660
https://github.com/open-telemetry/opentelemetry-collector/tree/main/cmd/builder

[2022-01-11 20:50] bogdandrutu opened #4665 "Replace "configmapprovider.Retrieved" with returning config.Map and closeFunc?"
This idea was considered initially, but because the "Watcher" was an optional interface (not a func passed as argument) it couldn't be implemented in a nice way. Now that we changed the way the "watcher" is passed we can simplify the Provider interface.

**Current:**
[code]

**After:**
[code]

I believe this is what @Aneurysm9 confusion/idea was, but I cannot speak for them.

[2022-01-11 21:22] bogdandrutu commented on #4467
The error on `Merge` is if for one key we change the type, maybe we should document the same. Then it may make sense :)

[2022-01-11 21:42] quentinmit commented on #3004
I think silently discarding all process scrape errors is the best option. There might be other cases (SELinux, AppArmor, containers, network filesystems, Windows kernel protections, etc.) that cause parts of a process's status to be unreadable. While a user might conceivably want to debug that, it happens on ~all systems for one reason or other so it shouldn't be part of anything that gets logged

[2022-01-11 22:11] Aneurysm9 commented on #4665
This is somewhat more like what I'd expect, but it's also not clear to me why the `Retrieved` needed to be closed and then obtained again.  Or, in this new model, why invoking `watcher` should cause `CloseFunc` to be invoked and then `Retrieve`.  If the provider knows that the configuration has changed, can it provide the new configuration directly to `watcher`?

[2022-01-11 22:22] bogdandrutu commented on #4665
@Aneurysm9 not really, because we may have multiple Providers, and if one of them discover (watches) a change we need to stop watching for changes in the other ones and retrieve the whole config again. The reason to retrieve the entire config and not just the one that trigger the watcher (a simple solution would be to keep the result of all the retrieves and redo the operations, but cannot happen

[2022-01-11 22:31] bogdandrutu commented on #4567
@pmm-sumo  `--config env:SOME_ENV_VARIABLE` support for this was added in https://github.com/open-telemetry/opentelemetry-collector/pull/4657 and the whole machinery to allow more providers.

I think this issue should be split between builder support and adding more providers like http/https

[2022-01-12 00:54] sl1316 commented on #4660
@bogdandrutu just to clarify,  I am exploring how to support dynamic config loading and want to get some ideas about why we have two places to load the config --- configsource vs the configprovider. and the configsource is not used now so I am not sure if it's kept as a possibility for the future and just dead code.

[2022-01-12 05:03] Frefreak opened #4669 "restrict message size for otlpreceiver's http endpoint"
**Is your feature request related to a problem? Please describe.**
Currently there seems to be no way to restrict the message size for otlpreceiver's http request. Grpc endpoint have a `max_recv_msg_size_mib` to achieve this so it might be useful to have a configuration for http endpoint also.

**Describe the solution you'd like**
1. add a new config for this.
or
2. provides a way to enable user t

[2022-01-12 08:37] jinxin-fu opened #4670 "How to use the receiver/prometheus to collect the metric from prometheus instances"
I want to use opentelemtry to collect the metric from a prometheus instance and process , then put data to other backend.
How can I collect the data from prometheus use receiver/prometheus.
[code]

[2022-01-12 09:26] mx-psi commented on #4467
That would make sense to me, yes. @shree007, what do you think?

[2022-01-12 09:51] fld-opensource opened #4671 "Build info flag"
When using the stock collector, a custom build, it would nice to have something like a --build-info, it would output pretty version of the  manifest (yaml config) used for the build. I would then be easy to see what receivers, exporters, processor etc ... we have built in.

[2022-01-12 13:05] jpkrohling commented on #4671
@esnible, this is similar to the PR you sent recently. Do you think this would have helped you debug problems with missing components?

[2022-01-12 14:19] esnible commented on #4671
@jpkrohling Yes, I believe it would be valuable to be able to find out what components are compiled in.
Doing this as a flag is OK.  I'd rather ALWAYS see this information.  Often I have the collector running on a pod I can't `exec` into, and I don't know what it offers.  There isn't much of a downside towards always logging or printing this information.

It might also be good to include commit/ve

[2022-01-12 19:19] codeboten commented on #4258
There have now been 3 prototypes to attempt at adding support for optional fields:

1. Fork gogoproto and add optional feature to it: https://github.com/open-telemetry/opentelemetry-collector/pull/4259
2. Use custom type field in gogo: https://github.com/open-telemetry/opentelemetry-collector/pull/4495
3. Use google protobuf directly in combination with vtproto for faster serialization/deserializa

[2022-01-12 20:04] tigrannajaryan commented on #4258
Can we use the generated code as a starting point, which we then tweak to get rid of gogoproto dependency? This should significantly lower the implementation effort. I think Bogdan's idea of implementing a limited code generator just for our use-case is also worth exploring.

_If_ we decide to go with manually written serialization code (or with our own code generator) it will open some more optim

[2022-01-12 23:39] shree007 commented on #4467
As I see there is following two things
1. Create proper documentation to prevent passing the heterogenous type
parameter in map.

2. Since issue is also producible so i would say better to handle it as
well, in case we skip the fact that "map type parameter should not be
different" while reviewing the PR in future.

This is what I am thinking.
Thanks

On Wed, 12 Jan, 2022, 2:56 pm Pablo Baeyens, *

[2022-01-12 23:40] Aneurysm9 opened #4674 "Interfaces to be implemented by users should not have unexported methods"
In #4668 I expressed concern that a new interface was created that unnecessarily included an unexported method with the goal of preventing direct implementation of the interface.  Instead, providing a "partial" implementation to an initializer was required, with the initializer wrapping the partial implementation in an unexported struct that had an implementation of the unexported interface method

[2022-01-13 00:06] bogdandrutu commented on #4674
First of all, please stop the personal accusations (because I know that is the case in things like `One of those interfaces (configmapprovider.Retrieved) was only recently changed to include an unexported method in #4577, with no explanation offered for why.`).

The explanation is very simple, once a pattern was adopted by the project we can use that without having to explain every time we use tha

[2022-01-13 00:25] Aneurysm9 commented on #4674
No explanation was offered at the time the change was made and none is offered now.  "Because I can" is not an explanation.

I think that some explanation *is* required when changing an interface that could be implemented by external code to one that cannot, regardless whether that pattern was in use elsewhere in the codebase.  It may be that it made sense to do it elsewhere but not in that case.

[2022-01-13 00:29] shelbyspees opened #4675 "Builder's default output directory is weird, seems to get set dynamically somewhere"
**Is your feature request related to a problem? Please describe.**
It looks like the default output directory is being set dynamically. I first noticed in the `builder --help` output:

[code]

What ends up happening is if you don't set an output path, you end up with this random-looking output directory and you have to know what it is in order to grab the binary:

[code]

It looks like the default

[2022-01-13 00:40] bogdandrutu commented on #4674
I don't see where I wrote "because I can", but looks like you continue to attack me, and blame me... Maybe I can write this again to you: "The decision was made when we added that pattern first time, reusing the pattern does not need another explanation of why we adopted that pattern".

[2022-01-13 00:51] bogdandrutu commented on #4674
The initial decision was to do that, because we tried to split one of the factories to see how it would be to have a different factory for logs (as an example), and we could not get the code to look good at all, since we wanted to have only one config per factory. If you want to prove that the initial decision was wrong, consider to split one of the factory and use it in tests/config/etc., and see

[2022-01-13 02:14] bogdandrutu commented on #4674
To prove @Aneurysm9 intentions to just blame me and not that they care about the project, look at this issue related to exactly this problem, here is the timeline:
1. I created the issue for discussing the pattern to use https://github.com/open-telemetry/opentelemetry-collector/issues/3921
2. The issue was assign by @alolita to @Aneurysm9, who did not do any work, did not provide feedback in the i

[2022-01-13 03:05] Aneurysm9 commented on #4674
You prove nothing of the sort and do yourself no favors by ascribing motives to me that I do not have.  I'm sure that if you were to look you could find other [things](https://github.com/open-telemetry/opentelemetry-go/releases/tag/v1.0.0) [in](https://github.com/open-telemetry/opentelemetry-collector/pull/4108) [the](https://github.com/open-telemetry/opentelemetry-collector/pull/4069) [project](h

[2022-01-13 03:10] Aneurysm9 commented on #4674
I don't see where I wrote anything indicating that I don't feel that the `*Factory` interfaces meet that bar.  I want there to be a reasoned approach taken and guidance that can be given to developers and reviewers so that there can be consistency and we have a basis for assessing whether and when to deviate from that guidance.  Right now it appears that decisions regarding whether interfaces shou

[2022-01-13 07:44] ochauhan opened #4676 "GRPC receiver is not supporting mTLS"
**Describe the bug**
I have chained 2 OLTP collectors with one configured as OLTP receiver with grpc and mTLS enabled. The other OLTP collector is configured as a grpc exporter.
When I start exporting metrics using OLTP grpc exporter, it results in an error with export failing :

Error on receiver end:
	**warn	zapgrpc/zapgrpc.go:191	[core] grpc: Server.Serve failed to create ServerTransport:  conn

[2022-01-13 09:53] mx-psi commented on #4467
Sounds reasonable to me

[2022-01-13 11:01] jpkrohling commented on #4676
I can take a look at this, but not before next week. If anyone else wants to work on it before me, feel free to reassign.

[2022-01-13 11:04] jpkrohling commented on #4675
When the output dir isn't set, it does use a random directory inside the host's temp dir:

https://github.com/open-telemetry/opentelemetry-collector/blob/f5d646fd10b696caf9cc2b585576dc1ffbc166b2/cmd/builder/internal/builder/config.go#L77

Perhaps you have multiple temp dirs, including /var/folders ?

[2022-01-13 16:45] bogdandrutu commented on #4676
Naive question: how did you check that your certificates are good? (A.k.a. not bad per the log message)

[2022-01-13 17:21] #2401 closed

[2022-01-13 18:59] NassimBtk commented on #3241
Hello,
I have ran the collector as Windows Service and when enabling the debug level through `service.telemetry.logs.level`, all the logs were absorbed by the Windows Event Log. Identifying a failure or an unexpected behavior of the collector factories (exporters, receivers, extensions and processors) is really hard as we need to import, filter and convert the events as everything is mixed. If we

[2022-01-13 19:14] qingling128 commented on #3004
+1 for mute the errors here (potentially with a flag guard like `mute_invalid_process_scraping_error: true` if needed): https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/bb386a3b9e59691aa619a1fadb5db4ed56b7955d/receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper.go#L147.

Braydon from our side is planning to send a PR. Will see what the community think

[2022-01-13 19:25] hyunuk commented on #4627
Completed.

[2022-01-13 19:25] #4627 closed

[2022-01-13 22:01] #4276 closed, assigned to nobody

[2022-01-13 22:18] bogdandrutu opened #4681 "[Proposal] Try to move helpers to create [*]Factory types in `component` directly."
There is a draft PR https://github.com/open-telemetry/opentelemetry-collector/pull/4679, which shows that it can improve things, also it can definitely help with package dependencies graph (component -> internal, helpers -> {component, internal}), which does not allow us for the moment to split in separate modules the `component` package. This proposal does not suggest to split in separate modules

[2022-01-13 23:00] bogdandrutu commented on #4681
From @dmitryax, see comment https://github.com/open-telemetry/opentelemetry-collector/pull/4679#issuecomment-1012585449

[2022-01-14 12:23] jpkrohling commented on #4671
We do have the commit/version already as part of the bootstrap logs and I agree it should definitely be part of the build info command.

[2022-01-14 12:25] jpkrohling commented on #4655
Container is painful for linux users when the container needs to write stuff outside of the container, like the host file system. It causes all sorts of permission/selinux/apparmor issues.

How about we just remove the Windows and Linux ARM builds?

[2022-01-14 17:29] bogdandrutu commented on #4655
I think is a good start. Do we have some analytics in terms of number of downloads? I think majority of the users will do `go install ...`

[2022-01-14 20:32] jpkrohling commented on #4655
Indeed, it's there in the TL;DR part, but the installation instructions do tell people to download the binary for their platforms. Installing via `go install` won't get them a stable release and the build info won't be available either.

I don't think github provides any sort of statistics, but I'd love to be wrong.

[2022-01-16 21:18] mstumpfx opened #4685 "windows logs missing fields in event viewer"
**Describe the bug**
Fields from parent loggers are missing in child loggers when running on windows with output to the event viewer.
It seems the children loggers are being created with new encoders instead of clones of the old with the new fields added.

**Steps to reproduce**
Compile and run collector as a windows service.

**What did you expect to see?**
In the windows event viewer, logs with

[2022-01-17 04:23] ochauhan commented on #4676
I'm using the same certificates in other services and working fine without any issue.

[2022-01-17 06:15] MovieStoreGuy commented on #4471
Sorry, had been out sick and trying to catch back up on things

[2022-01-17 12:48] cpanato commented on #4655
this is supposed to run only on Linux? otherwise the other binaries we should keep
also, if this should run on Linux we can add the other platforms.

but GitHub does not offer the download statistics :(

[2022-01-17 13:28] jpkrohling commented on #4655
It should run on Mac and Windows as well, but I think we need only the following:

- Linux amd64
- Windows amd64
- Mac amd64
- Mac arm64 (as I understand the new processors to be based on)

[2022-01-17 15:02] cpanato commented on #4655
good, can i take this? @jpkrohling

[2022-01-17 15:49] yurishkuro commented on #4655
If history of Jaeger teaches anything it's that people want more binaries (more platforms), not less. What's the issue with publishing extra ones? If this slows down CI then you could only build other platforms during the release.

[2022-01-17 17:19] jpkrohling commented on #4655
That's true, although Jaeger is intended to be running as a daemon on servers, which can have a bigger variety of target platforms. The builder is supposed to run on dev's machine or CI environment, so, relevant to a smaller variety of platforms. If we don't have users on those platforms/OSes, I would rather remove them and add them back based on actual user demand, than have them available and in

[2022-01-17 18:01] shree007 commented on #4611
@AWinterman Do you mean to create seprate configuration.md and hyperlink to Readme.md ?
Or I should hyperlink this https://opentelemetry.io/docs/collector/configuration/
Please confirm based on that I will do.

[2022-01-17 18:21] AWinterman commented on #4611
Probably just a link to the existing.

[2022-01-18 00:59] panthamm opened #4691 "Bad request errors while we are doing OIDC functionality with HTTP protocol"
**Describe the bug**

We are getting 400 bad request errors while we are doing OIDC functionality through HTTP protocol. The same OIDC configuration works fine with the GRPC protocol.

Sample Client and server yaml config in attachment
[Server Client YAML config.docx](https://github.com/open-telemetry/opentelemetry-collector/files/7885344/Server.Client.YAML.config.docx)

**Steps to reproduce**
1)

[2022-01-18 09:02] cuichenli commented on #4671
i would like to work on this if it is ok.

[2022-01-18 09:03] davechallis commented on #4661
@JosephWoodward sure, go for it, I ended up having a busy week and was unable to look into this.

[2022-01-18 13:12] jpkrohling commented on #4671
@bogdandrutu, @tigrannajaryan, is this something that would be accepted?

[2022-01-18 16:39] #4685 closed

[2022-01-18 17:47] bogdandrutu opened #4694 "Replace global configtelemetry.UseOpenTelemetryForInternalMetrics with a featuregate"
The definition of the variable is [here](https://github.com/open-telemetry/opentelemetry-collector/blob/main/config/configtelemetry/configtelemetry.go#L39).

This was intended to be one of the first usage of the `featuregate` package, but we did not finish that.

[2022-01-18 18:21] bogdandrutu opened #4698 "[Decision to be made] config.MapConverterFunc vs config.MapConverter interface"
Currently we have defined a func `config.MapConverterFunc` that can be implemented to convert provided `config.Map`, not sure if we should use an interface here instead. Feedback is welcome.

[2022-01-18 19:41] ttomsu commented on #4190
@bogdandrutu - Apologies for the delay. I'm interested in both - using the blob/regexp to specify a directory such as `/etc/otel-collector/*.yaml` to pick up any custom config files my client teams may to add.

[2022-01-18 20:30] shelbyspees commented on #4675
Yeah my concern is that it's not a very human-readable default path, and the only way I can think to grab it is by parsing the `--help` output.

For local development I just set the output path to `./dist`. I think that would be a friendly default for folks using the builder for the first time. Since it generates so many files, using the current directory as the output path might be a bit noisy.

[2022-01-18 20:57] bogdandrutu commented on #4675
`./src` (or `./cmd`) for sources and `./bin` for the binary?

[2022-01-18 21:23] Sprakhar97 commented on #4438
Hey @pavankrish123, if this feature request is still valid I would like to work on it.

[2022-01-18 22:24] #3957 closed

[2022-01-18 22:26] bogdandrutu commented on #3843
The initial request from this issue is done.

[2022-01-18 22:26] #3843 closed

[2022-01-18 23:16] dmitryax opened #4704 "[pdata] Generate oneof metric data"
To be able to consistently generate other "oneof" data types

[2022-01-18 23:16] dmitryax commented on #4704
This is in progress in https://github.com/open-telemetry/opentelemetry-collector/pull/3937

[2022-01-18 23:56] dmitryax opened #4705 "[Decision to be made] Approach to handle experimental types of telemetry"
Before declaring Collector GA we need to decide on how we handle new experimental telemetry types. Currently we have logs signal which is in Beta, and pdata parts related to logs can be changed.

We need to decide if we can:

- **Mark unstable parts of the public API as _Experimental_.** This is the easiest approach and allow us to proceed with no changes to existing public API just marking API re

[2022-01-19 00:39] Aneurysm9 commented on #4705
Would this be done in conjunction with a change to the version of the collector and pdata modules to `v1.0.0` or not?  I do not believe that it is appropriate to use a `v1.0.0` module version but say "some parts of the public API of this module may change at any time".  The spec for [Go module versions](https://go.dev/ref/mod#versions) is rather clear:

I would prefer that we take the approach of

[2022-01-19 00:47] bogdandrutu commented on #4705
What is the advantage of doing this? If users are using the "unstable" part we have the same problems.

[2022-01-19 00:55] Aneurysm9 commented on #4705
If the OTLP receiver is stabilized but uses an unstable data model it would still be possible for users constructing collector instances to know that the OTLP receiver has a stable public API and to use it without concern that it will suddenly require that they change the way they use it.  This seems similar to how the Java SIG currently has a stable `Meter` API but not a stable SDK implementing i

[2022-01-19 01:29] dmitryax opened #4706 "[pdata] Avoid exposing internal functions MetricsFromInternalRep and InternalRep"
The end user cannot do anything with these functions anyway, but still let's consider if we can avoid using/exposing them.

[2022-01-19 02:12] Frefreak commented on #4669
closing as it is fixed by 4677

[2022-01-19 02:12] #4669 closed

[2022-01-19 03:58] pavankrish123 commented on #4438
Thanks @Sprakhar97 - Can you please check with @jpkrohling before starting on this feature.

[2022-01-19 04:05] shree007 commented on #4694
@bogdandrutu I may work on it

[2022-01-19 05:09] alolita commented on #4515
@jpkrohling thanks for flagging. I will reach out to the OpenSearch team to followup.

[2022-01-19 05:10] dmitryax commented on #4705
Yes, this is the idea. This issue is supposed to be a prerequisite for `go.opentelemetry.io/collector/model` (or at least stable parts of it) 1.0 release plan.

This would add a requirement that any new experimental data model has to be defined in stable API, at least its name and presence. But an experimental data type possibly can be removed or renamed after. If we allow stable component like OT

[2022-01-19 12:59] anupamdalmia10 opened #4709 "No validations in otlphttpexporter"
**Describe the bug**
A clear and concise description of what the bug is.

Validate method does not evaluate the given config for the exporter.
https://github.com/open-telemetry/opentelemetry-collector/blob/04baaae533dc2fea3bfddce1df1c72c3d0694042/exporter/otlphttpexporter/config.go#L42

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.

When collector is started with

[2022-01-19 15:15] jpkrohling commented on #4709
Good catch. The OTLP exporter was done before we had `Validate` and never changed to use it. Would you be open to send a PR doing this work?

[2022-01-19 16:56] anupamdalmia10 commented on #4709
Sure, will raise a PR soon!

[2022-01-19 16:58] tigrannajaryan commented on #4705
How does Kubernetes Go API do this? Kubernetes marks individual featues as Stable/Beta/Alpha. What do they do with the corresponding APIs in Go client?

[2022-01-19 16:59] tigrannajaryan commented on #4705
From k8s [client-go docs](https://pkg.go.dev/k8s.io/client-go#section-readme):

[2022-01-19 17:08] mx-psi commented on #4705
Kubernetes, when used as a library, uses `v0.x` versions, so I don't think it is a good example. I think the stability of user-facing features is different from the stability of the Collector as a library.

[2022-01-19 17:12] bogdandrutu commented on #4705
@mx-psi grpc is 1.0 and it does that, grpc is not the only one that does it.

Unfortunately people just ask for > 1.0, not sure how to solve that without having that API stability.

[2022-01-19 17:16] bogdandrutu commented on #4694
you "may" or you "will" :) ?

[2022-01-19 17:17] mx-psi commented on #4705
`grpc-go`'s approach to versioning is not compliant with the Go module spec, which, since it is a widely used dependencey, has caused important parts of the Go ecosystem to be broken, because eventually someone forgets to read the docs and see that something is marked as "experimental".

[2022-01-19 17:17] Aneurysm9 commented on #4705
It is probably worth reviewing the [guidance given to OTel client libraries](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/versioning-and-stability.md) regarding versioning.

[2022-01-19 17:33] mx-psi commented on #4705
etcd-io/etcd#12124 is a good example of the pain that grpc-go's approach to semver has caused

[2022-01-19 18:15] #4449 closed

[2022-01-19 19:28] aunshc commented on #4568
@anuraaga @bogdandrutu is this the design document https://github.com/open-telemetry/opentelemetry-collector/pull/4444 being referred to for the implementation of the transform processor that will support the above use case?

[2022-01-19 20:49] bogdandrutu opened #4714 ""immutable" config.[Receiver|Processor|Exporter|Extension] interface"
Right now, we do have a "GetID/SetID" on the configuration interface for all our components, this causes the interface to have "mutable" funcs. It would be cleaner from a design perspective if we separate the ID from the config.

A draft PR https://github.com/open-telemetry/opentelemetry-collector/pull/3840 was done, but don't know if I have time to finish this.

[2022-01-19 23:18] JosephWoodward commented on #4661
@davechallis Okay, thanks.

@jpkrohling Feel free to assign this one to me.

[2022-01-20 01:58] bogdandrutu commented on #4705
@mx-psi let's assume we put the experimental "API" in a separate module, and people start using that, you have the same problem. Once something is public and experimental independent of "godoc" comment in a stable module, or an experimental module that ends up in the final build the problem is the same that you are mentioning and none of the proposals that I've heard will fix that.

The design pro

[2022-01-20 06:42] anuraaga commented on #4568
Sorry for delayed response - yes that's the design doc and this will be supported once adding metrics support to it.

[2022-01-20 08:48] shree007 commented on #4694
I mean please assign to me, I will work on it.

[2022-01-20 09:25] mx-psi commented on #4705
@bogdandrutu I think that there are three problems to solve here:
1. Approach for breaking Go API changes on `go.opentelemetry.io/collector/model`.
2. Approach for breaking Go API changes on `go.opentelemetry.io/collector` (and any eventual modules under this namespace other than `model`).
3. Approach for breaking user-facing changes on the OpenTelemetry Collector.

Problem (1) is the one that e.g

[2022-01-20 12:08] Frefreak opened #4716 "Needs a better way to differentiate multiple clusters' metrics (like adding custom labels to metrics)"
**Is your feature request related to a problem? Please describe.**
When we have multiple deployments/clusters with the same collector binary, and the metrics of them are all collected by the same prometheus, we needs a way to differentiate the metrics (e.g. we need to classify `otelcol_receiver_accepted_spans` by clusters). In some environments the prometheus are provided by another group/team/Paa

[2022-01-20 17:36] #4655 closed

[2022-01-20 17:47] bogdandrutu opened #4717 "Upgrade to proto v0.12.0 to remove lots of deprecated code"
See the latest release https://github.com/open-telemetry/opentelemetry-proto/releases/tag/v0.12.0

[2022-01-20 19:21] Aneurysm9 commented on #4705
I think there is a path to a solution for problem (2) that entails inverting control of signal handling in the collector service.  If we have the ability to register with it the means to build a component for a signal type rather than a [fixed list of types](https://github.com/open-telemetry/opentelemetry-collector/blob/main/service/internal/builder/exporters_builder.go#L113-L115) a component can

[2022-01-20 22:00] bogdandrutu opened #4718 "[Proposal]: Consider to remove `PipelineWatcher` and replace with a status on the Host?"
Right now only "Extensions" can implement the [`PipelineWatcher`](https://github.com/open-telemetry/opentelemetry-collector/blob/main/component/extension.go#L34), it may be good to probably expose the "State" of the host under the [`Host`](https://github.com/open-telemetry/opentelemetry-collector/blob/main/component/host.go) interface. This will enable all the components to have access to the curr

[2022-01-20 22:04] bogdandrutu commented on #4716
I agree, we are just waiting for the otel-go metrics to be ready, because then we will have "Resource" and resource detectors setup so will have cloud zones/clusters informations.

[2022-01-20 22:30] Aneurysm9 commented on #4718
Do we have a sense for what situations might require a component to know the host state beyond the existing start and shutdown invocations?  It seems like adding a `State() HostState` method is probably simplest, but if we know of uses for push notification of state changes then extending `PipelineWatcher` becomes more attractive.

[2022-01-21 01:29] wajika commented on #4676
I'm facing the same issue, the difference is that I don't have tls enabled.

[2022-01-21 02:18] Frefreak commented on #4716
That would be great. Do you know the estimated time that will be implemented? My only issue right now is that there seems no way to set the metrics prefix or add custom labels currently.

[2022-01-21 12:36] orloffv opened #4722 "Access to Host in authInterceptor"
I use auth interceptor https://github.com/open-telemetry/opentelemetry-collector/blob/04baaae533dc2fea3bfddce1df1c72c3d0694042/config/confighttp/confighttp.go#L333
and i want to get Host inside, but in go(https://pkg.go.dev/net/http#Request) Host property stay separately, not inside header.
Do you have some idea, how to get Host inside auth interceptor?
My idea is add some proxy before collector(l

[2022-01-21 15:02] emadolsky commented on #4457
This issue can be closed, I guess.

[2022-01-21 17:23] codeboten opened #4725 "Config flag parses windows file argument incorrectly"
**Describe the bug**
On windows, passing the following configuration: `--config C:\path\to\file` returns an error stating that `C` is not a valid scheme. This is incorrect as `C:` is a fairly common way of specifying the path for a file. This is used for example in the MSI built by the contrib repository.

**Steps to reproduce**
Call the collector with `--config C:\some\path`.

**What did you expe

[2022-01-21 18:03] bogdandrutu commented on #4716
/cc @MrAlias @jmacd, no pressure :))

[2022-01-21 18:04] bogdandrutu commented on #4676
@wajika can you add your config please?

[2022-01-21 18:23] codeboten opened #4728 "Required scheme to be at least 2 characters in the provider"
The following change identifies any single character URI for the config argument as a file URI: https://github.com/open-telemetry/opentelemetry-collector/pull/4726

To avoid being incorrectly interpreted as a file provider, the scheme for any provider should be at least 2 characters long.

[2022-01-21 18:26] bogdandrutu opened #4730 "In `service.NewConfigProvider` return an error if len(configLocations) is 0."

[2022-01-21 18:39] bogdandrutu commented on #4190
@ttomsu look at https://github.com/open-telemetry/opentelemetry-collector/pull/4727, we can extend later with blobs, but it has a problem that, because you need to tell me the order, otherwise I cannot guarantee stable final config.

[2022-01-21 18:41] bogdandrutu commented on #2701
@josephflynch this is about to be closed, in case you still need it.

[2022-01-21 18:41] bogdandrutu commented on #2701
s/closed/fixed :D

[2022-01-21 19:17] bogdandrutu commented on #4611
I think I can close this :) Feel free to re-open if more things are needed.

[2022-01-21 19:17] #4611 closed

[2022-01-21 19:19] bogdandrutu commented on #4660
MapProvider is fully integrated, and support for custom MapProvider was added already. You can write a "remote map provider" and using `service.NewConfigProvider` pass it there to be able to achieve this.

Please re-open this PR if more things are needed.

[2022-01-21 19:19] #4660 closed

[2022-01-21 19:27] bogdandrutu opened #4732 "Builder: Remove usage of viper in the builder."
In the collector we used to use Viper, but we found lots of bugs, and decided to build our own config.Map based on Koanf (not exposed publicly). I think in the builder we should use Koanf or the config.Map defined in the collector.

[2022-01-21 19:33] jpkrohling commented on #4722
We recently had a PR where regular headers were added as attributes to the client.Info:

https://github.com/open-telemetry/opentelemetry-collector/blob/459f1566475f572a9655a1c1c16185aa62e9c3c7/config/confighttp/clientinfohandler.go#L42-L58

Perhaps this code here could store the headers in a var, and enhance it with the host information before calling `client.FromMetadata`? Would you be open to tr

[2022-01-21 19:51] orloffv commented on #4722
@jpkrohling I understand correctly, you are suggesting that I can try add the code to save the Host in this place?
or i can check, maybe Host already save?

[2022-01-21 19:52] jpkrohling commented on #4722
Yes :-)

[2022-01-21 19:53] orloffv commented on #4722
@jpkrohling
```client.FromMetadata``` it's mistake? you mean ```client.FromContext```

[2022-01-21 21:10] codeboten commented on #4725
Fixed by #4726

[2022-01-21 21:10] #4725 closed

[2022-01-21 21:11] codeboten commented on #4717
This is being address by https://github.com/open-telemetry/opentelemetry-collector/pull/4724, re-assigning to @tigrannajaryan

[2022-01-23 04:38] noisersup commented on #4730
I would like to take this task

[2022-01-24 09:15] orloffv commented on #4722
@jpkrohling Can you check my pr? https://github.com/open-telemetry/opentelemetry-collector/pull/4736

[2022-01-24 12:13] #3292 closed

[2022-01-24 12:13] jpkrohling commented on #2734
I believe this is now complete.

[2022-01-24 12:14] jpkrohling commented on #1424
I believe this is now completed.

[2022-01-24 12:14] #1424 closed

[2022-01-24 12:14] jpkrohling commented on #4438
Related to https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/6908

[2022-01-24 12:17] jpkrohling commented on #4438
@open-telemetry/collector-approvers, what's your opinion on this? I think it's a good idea to have this, as it would also help with the "authorization" use case.

I would design it a bit differently, though: I would attempt to make this generic so that this can be applied to both gRPC and HTTP transports. And use the word "interceptor" instead of "roundtripper".

[2022-01-24 12:56] jpkrohling commented on #4722
Thank you for the PR!

[2022-01-24 13:48] #4728 closed

[2022-01-24 15:10] tigrannajaryan commented on #4438
@jpkrohling The idea sounds interesting but I am not sure we want to work on it right now. Given that we want to stabilize our API asap I think we want to direct our efforts towards that.

[2022-01-24 17:53] jpkrohling commented on #4438
Agree, I'll label it accordingly

[2022-01-24 18:05] #4457 closed

[2022-01-24 23:11] irl-segfault opened #4740 "json logs"
Any way to configure the collector to emit it's own logs in JSON format?  Currently it's in a format like

```2022-01-24T22:55:34.988Z	info	otlpreceiver/otlp.go:75	Starting GRPC server on endpoint 0.0.0.0:55680	{"kind": "receiver", "name": "otlp"}```

Would love to emit this as structured json if possible.  Would you be open to such a PR?

[2022-01-25 05:52] MovieStoreGuy opened #4743 "Support for Semantic Convention schema migrations"
**Is your feature request related to a problem? Please describe.**
As means of supporting varies versions of the semantic convention, it would be nice to emit only one version of the semantic convention and migrate anyone using an older version to target X.

**Describe the solution you'd like**
The collector has the ability to be configured to emit a given version of the semantic convention and tr

[2022-01-25 13:24] kaero opened #4746 "An option to keep the debug information in the collector binary"
It's hard to impossible to debug a collector binary using gdb due to stripped DWARF and symbols tables.
https://github.com/open-telemetry/opentelemetry-collector/blob/main/cmd/builder/internal/builder/main.go#L89

It would be wonderful to have an option in the builder configuration to keep the debug information. Possibly it could be generalized to a pass of any arguments to the `go build` command

[2022-01-25 13:30] jpkrohling commented on #4740
Our docs could be better here, but could you try this?

[code]

This would go in your config.yaml and should produce this:

[code]

[2022-01-25 17:24] mplachter opened #4747 "Health checks against the gRPC ports cause annoying log entries"
**Describe the bug**

When upgrading from 0.37.0 to 0.42.0 getting spammed with the below log messages over and over.

```2022-01-25T16:40:11.352Z	warn	zapgrpc/zapgrpc.go:191	[core] grpc: Server.Serve failed to create ServerTransport:  connection error: desc = "transport: http2Server.HandleStreams failed to receive the preface from client: read tcp 192.168.2.184:14250->192.168.1.94:2793: read: con

[2022-01-25 18:10] jpkrohling commented on #4747
@bogdandrutu, @tigrannajaryan, is this a supported case? Older collector sending data to a newer? I would think so, but perhaps you know of something that would break this.

[2022-01-25 18:12] mplachter commented on #4747
@jpkrohling the issue is actually newer to newer. Sorry for the confusion.

It works well from 0.37.0 and 0.40.0 to 0.42.0 but not 0.42.0 to 0.42.0 over oltp.

[2022-01-25 18:35] Aneurysm9 commented on #4743
https://github.com/open-telemetry/opentelemetry-go/tree/main/schema was created with the goal of enabling this type of translation, both within the SDK and in the collector.

[2022-01-25 18:44] jpkrohling commented on #4747
That should definitely work.

[2022-01-25 19:10] bogdandrutu commented on #4718
So far, based on all the implementations I know, only the healthcheck uses that.

[2022-01-25 19:23] tigrannajaryan commented on #4747
It should with older->newer as well. Perhaps we broke something in 0.42.

[2022-01-25 20:44] dmitryax opened #4752 "1.0 Release tracking"
This issue is for tracking progress towards reaching OTel Collector Core stability.

The proposed approach is to split Collector packages into more modules which can be gradually declared 1.0 with multimod tool. The plan on how to break down Collector packages into modules that have minimal dependencies on each other is in progress.

Currently we are working towards bringing `model` module to 1.0

[2022-01-25 20:52] mplachter commented on #4747
I'm trying to get this to work in isolation at the moment.

It could actually be something from the `contrib` and not related to `otlp` at all. Its hard to tell with the current warn message.

[2022-01-25 20:59] pavankrish123 commented on #4567
lopping in @jpkrohling for builder feature to include providers. Please let me know if we need another issue to track that.

[2022-01-26 13:35] jpkrohling commented on #4718
If only the health check extension uses this and we don't have a concrete use for it outside of that, why do we need to touch this at all?

[2022-01-26 18:35] #4717 closed

[2022-01-26 19:46] orloffv commented on #4722
merged

[2022-01-27 04:38] ochauhan commented on #4676
Is anyone working on this?

[2022-01-27 06:59] anuraaga opened #4756 "Efficient way of removing multiple keys from AttributeMap"
Currently `AttributeMap` only has `Delete`, which will cause an array truncation every time it's called (I think). It would be good if we can only have such an operation happen once when deleting multiple keys. In Java, we added `removeIf` which accepts a function executed against all keys, perhaps something like that could be implemented here.

[2022-01-27 14:45] tigrannajaryan opened #4758 "Ability to include peer endpoint in request client.Info"
https://github.com/open-telemetry/opentelemetry-collector/pull/4547 added request headers to client.Info. This is good. I would also like to see peer endpoint information in the client.Info, i.e. the ip address and port number of the connecting client.

The use case for this is the following.

I would like to write a processor which looks up the peer endpoint information and if it is coming from a

[2022-01-27 15:25] wajika commented on #4676
I have solved the problem. My case is a bit different from here, but it could be similar. At first I started otel-collector without adding insecure: true, so sending a message from client to it and then forwarding it to otlp, there will be a "tls: bad certificate" error message, but I noticed that the client sent the message without stating tls configuration, then I think the collector should also

[2022-01-27 16:54] Caesurus commented on #3490
Sorry to have to ask, how do i set `DisableGracefulShutdown` to true via the commandline. I understand how to do so programmatically, but doing so via the configuration file is alluding me.

[2022-01-27 17:38] jpkrohling commented on #4758
The client.Info has IP address information already, and for gRPC, I think this might indeed include the port number already:

https://github.com/open-telemetry/opentelemetry-collector/blob/32301d929b413918efeefc1d9a1165b03ac71988/client/client.go#L100-L103

[2022-01-27 18:44] jpkrohling opened #4759 "Allow builder to accept multiple config providers"
This is the builder part of #4567.

[2022-01-27 18:46] jpkrohling commented on #4759
Question to @pavankrish123, @pmm-sumo, and @bogdandrutu: how would the main.go look like to support this? Once I know that, we can find a way to support it in the builder.

Without looking into many details about the config provider feature, I think it could work in a similar way as the components: it could accept a list of factories which would be loaded in order. The builder could then have a ne

[2022-01-27 19:20] Aneurysm9 commented on #4759
I think for this to work we'd need either a conventional way to instantiate a provider given just a package name, or we'd need to include an option to specify a function to invoke to instantiate the provider.

We should probably do the same for map converters, as well.

[2022-01-27 19:22] jpkrohling commented on #4759
We assume "NewFactory" for the components:

https://github.com/open-telemetry/opentelemetry-collector/blob/32301d929b413918efeefc1d9a1165b03ac71988/cmd/builder/internal/builder/templates/components.go.tmpl#L27

[2022-01-27 19:52] orloffv commented on #4722
@jpkrohling oh LOL!

```contextWithClient``` call inside ```ServeHTTP```

https://github.com/open-telemetry/opentelemetry-collector/blob/da91c56fe91999e93621756b87b082e156ef00da/config/confighttp/clientinfohandler.go#L44-L63

https://github.com/open-telemetry/opentelemetry-collector/blob/da91c56fe91999e93621756b87b082e156ef00da/config/confighttp/clientinfohandler.go#L37-L40

```ServeHTTP``` calls

[2022-01-27 20:02] jpkrohling commented on #4747
Could you please confirm you are experiencing an actual issue? Is this only about the warning message? This doesn't seem related to OTLP at all, but rather, with the Jaeger Receiver trying to get the sampling strategies from `localhost:14250`:

[code]

The port 14250 is Jaeger's. I'm digging into this now to see why this is now issuing a warning.

[2022-01-27 20:12] jpkrohling opened #4760 "Jaeger receiver issues a warning on default config"
The default config for the Jaeger receiver yields a warning, as reported via #4747. Doing a `git bisect` shows this:

[code]

[2022-01-27 20:40] pmm-sumo commented on #4759
I like the idea with "configproviders" (or "configmapproviders" actually?).

As @Aneurysm9 noted, doing it at the level of configmapproviders also brings a question how to handle map converters and perhaps unmarshaller (separate set of config entries I presume?). I think refactoring it to make it consistent with other components ("NewFactory()") would be the way to go

[2022-01-27 20:52] mplachter commented on #4747
@jpkrohling You're correct.
I jumped the gun.
This is actually from the jaeger and not anything to do with `otlp`.

[2022-01-27 22:21] Aneurysm9 commented on #4759
One limitation of the conventional approach is that it can only support one (provider|converter|unmarshaller) per package.  The collector currently has several of each in common packages and those would need to be restructured.

[2022-01-27 22:24] tigrannajaryan commented on #4758
I think you are right. I didn't realize that the port may be already there. I will check and close this.

[2022-01-27 22:27] tigrannajaryan commented on #4758
Looks like it does, both for TCP and for UDP: https://pkg.go.dev/net#TCPAddr.Port

We are good, the port is already available. Closing.

[2022-01-27 22:27] #4758 closed

[2022-01-28 01:46] hanjm opened #4817 "[feature request] performance: otlp http json support jsoniter/sonic for better performance"
**Is your feature request related to a problem? Please describe.**
I foud collector (which use otlp http json) cpu profile cost largely in [json unmarshal](https://github.com/open-telemetry/opentelemetry-collector/blob/main/model/otlp/json_marshaler.go#L42), I know protobuf have better preformance but json is more frendly to frontend.
<img width="1607" alt="image" src="https://user-images.githubus

[2022-01-28 12:37] neelayu opened #4761 "Support for user defined flags and runtime config provider based on flags"
**Is your feature request related to a problem? Please describe.**
In custom downstream distributions of OpenTelemetry Collector, sometimes it is required to define additional flags and based on the subset of those flags, we need to construct a ConfigProvider.

**Describe the solution you'd like**
Adding support for user flags and deferring the fetching of ConfigProvider until flags are parsed.

*

[2022-01-28 12:39] neelayu commented on #4761
If we have decent positive responses for this, I can this up task.

[2022-01-28 13:40] jpkrohling commented on #4722
True, sorry for not catching that before myself. Perhaps

[2022-01-28 13:44] jpkrohling commented on #4747
Just to confirm: you are not experiencing problems with data arriving via OTLP, right?

[2022-01-28 13:45] jpkrohling commented on #4747
I'm closing, but do reopen if you experience any odd behavior with OTLP.

[2022-01-28 13:54] jpkrohling commented on #4761
We went the exact opposite direction, moving most flags into the configuration file. @bogdandrutu can share more details about the reasoning.

[2022-01-30 17:08] FreakyNobleGas commented on #4584
Hey, I'm new to contributing and noticed this issue was starting to go stale. I would like to take a stab at it if that's alright.

I've setup my environment locally, and wanted to confirm that I am looking at the correct location for the start function, is [this correct](https://github.com/open-telemetry/opentelemetry-collector/blob/main/exporter/exporterhelper/queued_retry_inmemory.go#L110)?

Al

[2022-01-31 09:54] orloffv commented on #4722
Revert pr - https://github.com/open-telemetry/opentelemetry-collector/pull/4769

[2022-01-31 09:57] neelayu commented on #4761
Is is already part of any release? @jpkrohling
Would it solve the problem of writing custom config providers and passing that to the `CollectorSettings` based on the flags?

[2022-01-31 10:54] orloffv commented on #4722
@jpkrohling got it https://github.com/open-telemetry/opentelemetry-collector/pull/4770

[2022-01-31 12:54] jpkrohling commented on #4761
Sorry, I misread what you wrote: "runtime config provider" -- I missed the provider part. We did move some runtime config from flags to the config file, like the telemetry settings, but you clearly had something else in mind.

[2022-01-31 14:10] #4106 closed

[2022-01-31 18:26] bogdandrutu commented on #4756
We also have "RemoveIf" for slices (see one example https://pkg.go.dev/go.opentelemetry.io/collector/model@v0.43.1/pdata#AttributeValueSlice.RemoveIf) with same signature so we can consider that.

[2022-01-31 21:06] dmitryax opened #4775 "[pdata] Inconsistent behavior of `oneof` proto field accessors"
`NumberDataPoint/Exemplar` accessors to `oneof value` proto field (`IntVal` and `DoubleVal`) return zero value in case of mismatch with underlying proto data type.

`Metric` accessors to `oneof data` proto field (`Gauge`, `Sum` etc) cause a panic in case of mismatch with underlying proto data type.

Should we consider making it consistent and changing the `NumberDataPoint/Exemplar.Value` accessors

[2022-01-31 23:52] JosephWoodward commented on #4709
@anupamdalmia10 I'm happy to take this one off your hands if you find you don't have the time?

[2022-01-31 23:59] Aneurysm9 commented on #4761
Do downstream distributions not have this ability today?  The [`service.NewConfigProvider()` function](https://github.com/open-telemetry/opentelemetry-collector/blob/main/service/config_provider.go#L103-L118) can be used to construct a new provider based on whatever logic is appropriate to the service instance.  It might be useful to expose the `FlagSet` used by `service.flags()` to make it easier

[2022-02-01 01:04] dmitryax opened #4781 "[pdata] Consider renaming NumberDataPoint/Exemplar.Type methods to ValueType"
Should we consider renaming [NumberDataPoint/Exemplar.Type methods](https://github.com/open-telemetry/opentelemetry-collector/blob/bb8dbc1a0cfc033901dde1f298423d503ae7c77e/model/pdata/metrics.go#L332-L352) to `ValueType` for consistency with `DataType`?

`NumberDataPoint/Exemplar` is not like `AttributeValue`, it does have other fields, so it's rather a type of a value field not type of the whole

[2022-02-01 01:09] dmitryax opened #4782 "[pdatagen] Generate types for Metric oneof fields"
pdatagen should generate types and type accessors for Metric oneof fields: NumberDataPoint/Exemplar.Type and  Metric.DataType

Resolves TODO from https://github.com/open-telemetry/opentelemetry-collector/pull/4773#discussion_r796192215.

[2022-02-01 01:54] bogdandrutu commented on #4718
Because that is an over engineering of some "potential" use-case, that we never proven to be needed. So the main reasons are:
1. As defined right now this feature will be very hard to be extended to all components.
2. If we just expose a "Host.State()" we simplify the usage, and simplify our public surface.

[2022-02-01 01:57] bogdandrutu commented on #4718
On top of that we already have an API to get state https://github.com/open-telemetry/opentelemetry-collector/blob/main/service/collector.go#L102 :)

[2022-02-01 01:59] bogdandrutu commented on #4718
Another reason is that we may want to support "reloading" of partial configs or some components and will unclear about the story when to/or not notify an extension.

So the proposed solution simplifies a lot all the logic.

[2022-02-01 02:09] bogdandrutu commented on #4761
Also on top of that, you can always use the "Collector" as a library, and not have to deal with any flag. Essentially you can create your own "cobra.Command" as what "NewCommand" does.

[2022-02-01 02:16] bogdandrutu commented on #4761
Here is a proof that we can build anything https://github.com/open-telemetry/opentelemetry-collector/pull/4786. We should probably consider to do this separation anyway and provide the library as default.

[2022-02-01 02:39] bogdandrutu commented on #4718
So, to summarize because I feel like I did not do a good job (I put ideas across multiple comments): We already expose that API on the Collector struct (not on the Host interface), and that API is enough for the extension. If we just make sure that the HOST as well expose that API, then we don't need the PipelineWatcher, and if we find a reason in the future (which I doubt) we can think of the rig

[2022-02-01 02:59] JosephWoodward commented on #4661
Just a reminder that this issue can now be closed.

[2022-02-01 05:00] anupamdalmia10 commented on #4709
@JosephWoodward, sure
I'll share my findings though, at the point where this Validate gets called, we do not have information about in which pipeline will be using this exporter.
So the only validation I could think of adding in this validation function is to check if everything(endpoint, traces_endpoint, metrics_endpoint, logs_endpoint) is blank. Not sure if we want to add this here. As this will

[2022-02-01 07:39] pmm-sumo commented on #4567
Yes, thanks all!

[2022-02-01 07:39] #4567 closed

[2022-02-01 08:53] anuraaga opened #4788 "[pdata] Missing Resource.dropped_attributes_count"
It seems this field is missing from pdata

`Resource.dropped_attributes_count`
https://github.com/open-telemetry/opentelemetry-proto/blob/main/opentelemetry/proto/resource/v1/resource.proto#L33
https://github.com/open-telemetry/opentelemetry-collector/blob/main/model/pdata/generated_resource.go#L56

[2022-02-02 01:19] MovieStoreGuy commented on #4471
@bogdandrutu , did you wanna close this out since the contribution guide has been updated?

[2022-02-02 01:20] MovieStoreGuy commented on #4614
Sorry, I had been unwell for some time and struggling to get back into things.

This is on my list of things to get through this week :)

[2022-02-02 02:21] #4704 closed

[2022-02-02 02:31] bogdandrutu commented on #4676
@ochauhan does that match with your problem?

@jpkrohling what is the status of your investigation?

[2022-02-02 04:33] ochauhan commented on #4676
@bogdandrutu  If I use

[2022-02-02 14:30] tomas-mota commented on #4603
I can take this :)

[2022-02-02 16:00] mx-psi commented on #4584
Hey @FreakyNobleGas,

sure, go ahead :)

If we were to check this at startup, I think that would be the right spot. However, as Bogdan pointed above, a better approach is to add a `Validate() error` method to the `QueueSettings` struct. This method would then be called by individual exporters that use the `QueueSettings` in their `Validate` method (e.g. see [here](https://github.com/open-telemetry

[2022-02-02 16:54] codeboten commented on #4603
Thanks @tomas-mota!

[2022-02-02 17:01] codeboten opened #4795 "Investigate why tags from branches cause problems"
The tag for v0.43.1 was created from a [release branch](https://github.com/open-telemetry/opentelemetry-collector/tree/release/v0.43.x). This caused the following unexpected behaviour when trying to update the contrib repository:

[code]

The same behaviour happened before when a tag was created on a release branch. Tagging on branches *should* work, this will be required when we have a stable rel

[2022-02-02 17:18] codeboten commented on #4781
This makes sense to me. +1 for consistency

[2022-02-02 17:38] codeboten commented on #4775
`IntVal`/`DoubleVal` is consistent with the implementation for Attributes, are you suggesting that should be changed as well?

Can you elaborate on how this would work?

[2022-02-02 17:50] dmitryax commented on #4705
It was discussed during SIG meeting on Feb 2 that we are going to split the pdata into different modules at least to address Problem (1).

[2022-02-02 18:11] FreakyNobleGas commented on #4584
That makes sense to me and I really appreciate the guidance here. I'll start working on this. :)

[2022-02-03 01:01] dmitryax commented on #4775
Yes, I think we should do the same for `AttributeValue`. Especially because `AttributeValue` getters return complex data types initialized with zero values and detached from the receiver argument. For example let's look at the following code which is currently valid:

[code]

And `Metric` `oneof` accessors do cause panics:
[code]

We could also return `NewSum()` from `m.Sum()` in case of mismatch

[2022-02-03 13:51] ccoqueiro commented on #273
Hello folks, i have a question from customer: "We need to filter which logs we end to you guys. Right now, we use logspout API to make hot changes on container. With that we exclude logs from being sent to LogDNA. With this new LogObserver approach, we changed logspout for fluentd. Is there a way to hot-update those exclusions in fluentd?  We thought about filtering in the OtelCollector GW that we

[2022-02-03 17:50] dmitryax commented on #4775
I might be missing some context justifying the current behavior. @open-telemetry/collector-approvers please let me know

[2022-02-03 19:08] bogdandrutu commented on #4775
[code]

I think this is an error prone API/implementation in my opinion.

[2022-02-03 19:15] dmitryax commented on #4775
This will mutate `mapValue` and add `key: test` to it, but `mapValue` is not a part of the original `am` anymore.

I agree

[2022-02-03 20:26] codeboten commented on #1987
The function mentioned in this issue has been renamed to `TestService_GetExporters` and doesn't appear to be causing issues. Closing for now.

[2022-02-03 20:26] #1987 closed

[2022-02-03 20:34] codeboten commented on #3544
@bogdandrutu is this issue closed by https://github.com/open-telemetry/opentelemetry-collector/pull/4727?

[2022-02-03 20:35] codeboten commented on #3681
@bogdandrutu this is currently supported using schemes and config providers correct?

[2022-02-04 00:05] william-tran commented on #2310
I have a proposal in https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/7561 that might solve most of these use cases, but generalizes this problem as a routing problem.

[2022-02-04 08:34] jpkrohling commented on #4718
Alright, let's start by deprecating it then and seeing if any downstream distributions are getting affected.

[2022-02-04 08:34] #4661 closed

[2022-02-04 09:00] jpkrohling commented on #4709
We can still validate that there is at least one endpoint being specified.

[2022-02-04 09:07] jpkrohling commented on #4676
It's still on my queue, I'll reopen as it's something I do want to make sure it properly works.

[2022-02-04 09:12] jpkrohling commented on #4471
I would leave this open, as there are a few places that aren't following what we agreed on:

[code]

[2022-02-04 10:19] neelayu opened #4806 "Provision to include request context(query params, headers) in AuthenticatorFunc"
**Is your feature request related to a problem? Please describe.**
A facility to access request params such as query string in addition to already existing headers would be useful in the `AuthenticatorFunc`

**Describe alternatives you've considered**
Pass the queryParams along with headers in the map passed to the above func. Probably not the best approach.

**Additional context**
Authenticators

[2022-02-04 11:02] jpkrohling commented on #4806
How about we have a list of properties that the authenticator should propagate down via the context? The config would look like this:

[code]

Today, we'd just blindly propagate everything, which is user-friendly but potentially resource-intensive. This change would be resource efficient, but will not be as user-friendly as before. Also, if the payload changes and a new header is sent, the collect

[2022-02-04 11:29] neelayu commented on #4806
While writing an authenticator for our distribution, I actually thought of using something similar to above in the `extensions.myauth` section. However, I realized that the only thing which the func receives is the header map. So it didnt work out.

This is indeed a good approach. We make `propagate` as an optional field in the config. This way any existing configuration wont break. Existing authe

[2022-02-04 11:51] jpkrohling commented on #4806
Note that the propagation happens in the confighttp/configgrpc code, not in the authenticator itself.

Yes, the only change is to the contents of the incoming map.

Do you have an example of that?

gRPC would be affected, as the list would restrict what we get from its metadata.

[2022-02-04 13:55] neelayu commented on #4806
Yes I understood that this would be a part of confighttp/configgrpc

Regarding auth data in the body, only one concrete instance I have is wrt to statsd receiver. It is over UDP and accepts plaintext statsd format metrics data. I know that auth is not a part of that configuration. One possible way of sending auth(tokens) would be via tags and we would need that tag to be parsed which is present as

[2022-02-04 14:27] jpkrohling commented on #4806
Good point. I can see how this would become a problem down the chain, so, let's consider this in the future if we ever need it. I believe that the proposal from this issue here could be easily changed to add body propagation. We'd need a way to drop that after we used it, but that's also something that can be done in the future.

Both HTTP and gRPC share the same auth object:

https://github.com/o

[2022-02-04 15:43] jpkrohling commented on #4676
I was able to confirm that mTLS indeed works. Here's the config I used:

[code]

Running this collector and sending a trace with the `tracegen` yields this:

[code]

Using another CA in the client_ca causes this, proving that the auth was performed during the test above

[code]

This is how the certs were generated:

[code]

[2022-02-04 15:43] #4676 closed

[2022-02-04 16:48] bogdandrutu commented on #4471
@MovieStoreGuy this was not only about the contribution guide, but also to fix the inconsistencies :)

[2022-02-04 16:50] bogdandrutu commented on #4806
@jpkrohling the list of "requirements" can be embedded in the code. Something like the "AuthExtension" can have a "Requirements()" API that tells the HTTP/GRPC what infos are required?

[2022-02-04 22:21] jack-berg commented on #4587
Resolved with #4632.

[2022-02-04 22:21] #4587 closed

[2022-02-05 16:13] orloffv commented on #4806
please don't forget the Host property

[2022-02-06 23:46] yimipeng opened #4812 "Dive deep OTel collector state when CPU throttled"
Hi OpenTelemetry community,

Appreciate your time in advance. This is from a customer of opentelemetry. Copy question "https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/7398" here per @sethAmazon suggestion to dive deep one OpenTelemetry Collector's resource consumption logic:

if CPU is throttled in instance, what's the expected OTel collector status? Will it enter in idle

[2022-02-07 08:03] sl1316 commented on #4740
could the opentelemetry log model support json logs as well?

[2022-02-07 08:34] jpkrohling commented on #4740
@sl1316, you should probably ask that on the repository you linked.

[2022-02-07 09:21] sl1316 commented on #4740
gotcha. thank you for the info

[2022-02-07 09:22] #4740 closed

[2022-02-07 10:03] DennisGlindhart opened #4814 "Auth-context available for use in export-config"
When using a (Server)Authentication extension for OTEL-Collector (i.e. basic auth, oidc etc. from contrib), I would like it to be possible to somehow extract the username (or other auth-data/claim) and use it in i.e. exporter-headers.

The auth context seems to be returned from the extension in authenticate-method ( https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/extens

[2022-02-07 10:06] jpkrohling commented on #4814
@bogdandrutu, @tigrannajaryan, do you think we could change the confighttp to accept a notation like `context.user_id`, which would make it look up the `user_id` key within the context? Or perhaps you have another suggestion? In any case, I would do it after GA.

[2022-02-07 10:14] jpkrohling commented on #4806
What if the requirement is coming from a processor down the line? Or perhaps even from an exporter (for routing capabilities, like described in #4814)

[2022-02-07 12:35] jpkrohling commented on #4557
@MovieStoreGuy, are you still interested in this one? I have it on my queue and can start working on it right away if you have enough on your queue.

[2022-02-07 13:44] acm19 opened #4815 "Confusing mention to `--new-metrics` flag in the documentation"
**Describe the bug**
`--new-metrics` flag is mentioned here: https://github.com/open-telemetry/opentelemetry-collector/blob/main/docs/monitoring.md, this flag has been removed: https://github.com/open-telemetry/opentelemetry-collector/pull/2105. Mention to it is confusing.

**Steps to reproduce**
Not applicable.

**What did you expect to see?**
No mention to a flag that doesn't exist for this vers

[2022-02-07 15:53] #4390 closed

[2022-02-07 16:30] jpkrohling commented on #4691
I just tried this and wasn't able to reproduce it. In the process, I updated the blog post I have on the topic. Take a look and see if you can spot the problem.

https://medium.com/opentelemetry/securing-your-opentelemetry-collector-1a4f9fa5bd6f

In the future, I would ask you to paste the YAML code directly into the issues or to use a service like gist.github.com instead of placing it within a Wo

[2022-02-07 23:16] alolita commented on #4817
@open-telemetry/collector-maintainers this is related to OTLP receiver perf - please comment.

[2022-02-08 00:02] dmitryax opened #4818 "[pdata] Consider renaming AttributeValue to AnyValue"
`pdata.AttributeValue` is a wrapper over `opentelemetry.proto.common.v1.AnyValue` type. It's not exclusively used with `pdata.AttributeMap`, `pdata.LogRecord.Body` also [uses it](https://github.com/open-telemetry/opentelemetry-collector/blob/77352783e6965dc69b15c5e1fba523ac97954fbc/model/pdata/generated_log.go#L653-L655), [proto](https://github.com/open-telemetry/opentelemetry-proto/blob/main/open

[2022-02-08 01:17] dmitryax opened #4819 "[pdata] Consider renaming of MetricValueType"
`MetricValueType` type sounds confusing. It's not a type of any metric value, it's applicable to numeric values only.

Originally raised by @bogdandrutu https://github.com/open-telemetry/opentelemetry-collector/pull/4811#discussion_r801186353:

[2022-02-08 01:33] #4782 closed

[2022-02-08 01:42] bogdandrutu commented on #4806
@jpkrohling maybe can use "Host" as the intermediary, components can "record their needs"? Not sold necessary on the "Host" but you can come up with a solution :)

[2022-02-08 01:45] Aneurysm9 commented on #4819
I think it is going to get confusing if there is any more than this and https://github.com/open-telemetry/opentelemetry-collector/issues/4818.  If we're going to consider renaming a number of types or methods or fields in the pdata package we should have a single overarching issue and a design doc for it so that we can consider the change holistically.

[2022-02-08 03:11] dmitryax commented on #4819
These issues are created as soon they discovered. At this point I don't plan to create any new. I believe discussing each of these renames under dedicated issues is more convenient than putting them together as they are pretty much independent. If other @open-telemetry/collector-approvers think it's worth an overarching issue and a doc, I can do it.

[2022-02-08 09:49] dharmaplay commented on #2334
Hi @tigrannajaryan , seems it is not working, I tried to setup separate pipeline but I am not receiving the  Metrics and Traces to separate pipeline. Please refer https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/7585

[2022-02-08 13:00] jpkrohling commented on #2265
@pkositsyn, do you think this can be closed, given that @pmm-sumo's approach would likely result in the performance improvements you encoutered?

[2022-02-08 13:01] jpkrohling commented on #2732
I'm closing this, as I verified this as part of a recent issue.

[2022-02-08 13:03] jpkrohling commented on #3680
Closing, as we do have auth for HTTP already.

[2022-02-08 13:03] #3680 closed

[2022-02-08 13:07] #4447 closed

[2022-02-08 13:09] jpkrohling commented on #4469
@bogdandrutu, I think we touched on this topic recently when discussing the config providers. Should the collector support a mechanism to execute callbacks before starting the service?

[2022-02-08 14:55] tigrannajaryan commented on #4817
I think better performance is always welcome, however given that OTLP/JSON is unstable I would prefer personally not to spend time on improving the performance just yet. I don't mind if someone else wants to work on this.

[2022-02-08 16:20] william-tran commented on #2310
@billg-splunk Take a look at https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/7561#issuecomment-1032795704 where we can use attributes -> groupbyattrs -> routing. What's already there works fine for filtering out noisy spans. Re-connecting sub-trees would require a lot more effort though.

[2022-02-08 16:40] atoulme opened #4821 "Queued retry: identify chunk with unique ID"
**Is your feature request related to a problem? Please describe.**
When an exporter fails to export, a queued retry may happen. However, retries are not identified with a unique ID, so they are difficult to track.

**Describe the solution you'd like**
Add a unique identifier to queued retries.

**Describe alternatives you've considered**
None

[2022-02-08 16:57] bogdandrutu commented on #4821
Is this for "logging" perspective? Where do you need to identify them?

[2022-02-08 18:39] atoulme commented on #4821
Yes, for logging. In error messages and logs coming out of the otel collector, we want to see what chunk is being retried and dropped.

[2022-02-09 10:18] sumo-drosiek opened #4824 "[extensions/file_storage] Add database files compaction on start to file_storage extension"
**Is your feature request related to a problem? Please describe.**

While using file_storage extension, the created database file never decrease it's size. It's due and bbolt limitations. This is an issue if full volume is being used by the database. In order to mitigate that, the file can be compacted to free up the unused disk resources.

**Describe the solution you'd like**

I want to be able t

[2022-02-09 10:22] jpkrohling commented on #4824
cc @djaglowski

[2022-02-09 11:02] sumo-drosiek commented on #4824
Hmm, I think I should place it in contrib repo

[2022-02-09 15:17] cpheps opened #4826 "Collector Lifecycle Inconsistencies"
**Describe the bug**
There are a few lifecycle inconsistencies in the collector lifecycle management.

1. In `Collector.Run` the collector state is not updated if the collector [errors on startup](https://github.com/open-telemetry/opentelemetry-collector/blob/main/service/collector.go#L221-L227). Leaving the collector in a `Starting` state even though `Run` has excited with and error.
2. There's a

[2022-02-09 15:40] tigrannajaryan commented on #4814
@jpkrohling how will this work? We don't maintain the context in batch processor or in queued_retry, so the incoming context won't be available in the exporters, right?

[2022-02-09 15:52] #4815 closed

[2022-02-09 15:55] cpheps commented on #4826
Created a PR to fix the Shutdown race condition as that was straight forward and didn't require discussion. Keeping issue open as there still needs to be a decision on the collectors state when it fails to startup.

[2022-02-09 16:19] jpkrohling commented on #4814
We don't yet, but I do plan on working on that soon (#4544).

[2022-02-09 18:50] js8080 opened #4829 "OTLP/HTTP Exporter does not respect tls/insecure setting"
**Describe the bug**
The OTLP/HTTP Exporter has a [documented configuration option for skipping TLS verification](https://github.com/open-telemetry/opentelemetry-collector/blob/main/exporter/otlphttpexporter/README.md), e.g.
[code]

Unfortunately, it does not seem to be respected in otel/collector:0.44.0

**Steps to reproduce**
My collector config:
[code]

I then start the collector using the foll

[2022-02-09 19:42] codeboten commented on #4829
@js8080 is it possible you're looking for `insecure_skip_verify` instead? `insecure` disables TLS altogether, see https://github.com/open-telemetry/opentelemetry-collector/tree/main/config/configtls#tls-configuration-settings

[2022-02-09 19:53] js8080 commented on #4829
Hmm, maybe... Although as documented in the [OTLP/HTTP Exporter README](https://github.com/open-telemetry/opentelemetry-collector/blob/main/exporter/otlphttpexporter/README.md):

[2022-02-10 00:04] dmitryax opened #4832 "Split pdata into multiple packages"
## Problem

As a result of [discussion](https://github.com/open-telemetry/opentelemetry-collector/issues/4705) on how to handle experimental data types, a decision was made to split pdata package into multiple modules per signal and publish them as separate modules. `pdata` package incapsulates internal proto data structures into private fields. Given that currently all signal data structures (log

[2022-02-10 06:32] jpkrohling opened #4835 "Better place for the release artifacts"
Pretty much every release, folks join the Slack channel looking for the binaries/container images for the latest release. Some complain that they can't find them in the usual place anymore (core/contrib repos), only to be directed to the releases repository. I had a lame attempt of addressing this by changing the release's description for those repositories to link to the releases one, but that di

[2022-02-10 08:32] mx-psi commented on #4835
I think

together with a link on each release to the corresponding opentelemetry-collector-releases repository release

[2022-02-10 09:05] pkositsyn commented on #2265
@jpkrohling As far as I can tell groupbyattrs doesn't totally solve the problem. The thing is, it cannot deduplicate exact same `Resource`s inside one `pdata.Traces`.

@pmm-sumo Although, I think that allowing empty set of keys for groupbyattrs could do the deduplication. No keys essentially mean, that grouped attrs are exactly Resource's attributes. Take a look at the idea, please

There is also

[2022-02-10 09:45] jpkrohling commented on #4829
You are specifying `https` as the protocol in the endpoint parameter, which will cause HTTP clients to hit the port 443 (TLS). Try to use `http` instead:

[code]

[2022-02-10 15:38] ccalderon9411 opened #4838 "Pika build monorepo crush because requiere install unused dependencies"
**Describe the bug**
When I try to complie my monorepo it crush because need some dependecies that I not use.
![image](https://user-images.githubusercontent.com/43613718/153438995-4199d85f-e9d5-4803-a566-ff792cd548ca.png)

**Steps to reproduce**
1. git clone https://github.com/tresdoce/nestjs-tracing.git
2. git checkout feat/opentelemetry
2. npm install
3. npm run build
4. see the error

**What di

[2022-02-10 15:54] jpkrohling commented on #4838
This is not the right repository for this. You probably want to open an issue against https://github.com/open-telemetry/opentelemetry-js instead.

[2022-02-10 15:54] #4838 closed

[2022-02-10 16:11] ccalderon9411 commented on #4838
Thanks for help

[2022-02-10 17:08] mx-psi opened #4841 "[Proposal] Go language version support"
#### Overview

Given recent efforts to reach v1.0.0 (see #4752) and the recent move towards being more explicit about breaking changes (see #4712) I think this is a good time to consider Go language version support of the Collector code when used as a library, since this is 'sort of' a breaking change (although one commonly ignored even when following semver), and since there have been discussions

[2022-02-10 17:16] codeboten commented on #4829
Ah yes, in this case if `insecure_skip_verify` supports your usecase, we can fix this with a documentation change. Would you like to submit a fix @js8080, if not I can assign it to myself.

[2022-02-10 17:25] cpheps opened #4842 "Collector Run does not listen for context Done"
**Describe the bug**
[Collector.Run](https://github.com/open-telemetry/opentelemetry-collector/blob/main/service/collector.go#L207) takes in a context but it doesn't appear that it actually listens for the context to be canceled at all.

**Steps to reproduce**

[code]

**What did you expect to see?**
Since `Run` is a blocking call I would expect a canceled context to cause `Run` to return with the

[2022-02-10 18:18] cpheps opened #4843 "Collector Shutdown will not be honored if called to early"
**Describe the bug**
There's a race condition in when calling `Collector.Shutdown` right after calling `Collector.Run` . Since the shutdownChan isn't initialized until startup has finished [here](https://github.com/open-telemetry/opentelemetry-collector/blob/main/service/collector.go#L132). Any call to `Shutdown` while `Run` is in [this](https://github.com/open-telemetry/opentelemetry-collector/bl

[2022-02-10 19:23] bogdandrutu commented on #4832
My first question/reaction: Considering all these problems... Do we still want to split the packages?

[2022-02-10 20:39] pmm-sumo commented on #2265
Good points! @pkositsyn I have prepared a quick PoC which removes the error on empty keys and adds [a small test case for compaction](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/7793/files#diff-053a4d28429ec233449bccbc6dc38ee2e434b0a0e78a5290e109bb2b46606706R706-R720). Would that capability help here?

One think to keep in mind is that `groupbyattrsprocessor` also groups

[2022-02-10 21:36] js8080 commented on #4829
@codeboten I have to go through an approval process from my company to contribute so it's probably more straightforward for you.

[2022-02-10 22:08] codeboten commented on #4841
The policy used by otel-go makes sense to me, I would be happy to support the same policy for the collector/collector-contrib.

[2022-02-10 22:16] dmitryax commented on #4832
Also the only downside of the 3 approach can be mitigated to some extent. Signal specific parts of the `pdata` code that is put under internal in https://github.com/open-telemetry/opentelemetry-collector/pull/4833 potentially can be moved to exported p<signal> modules and only `pcommon` will stay with the aliases.

[2022-02-10 22:44] codeboten commented on #4829
👍 np, thanks for reporting this @js8080!

[2022-02-11 07:57] neelayu commented on #4761
This is indeed a good approach which can solve the problem. Although we would want to avoid rewriting the code. In addition, the existing flag set is not exposed outside, how to access `--set` flag which is needed to pass to overwrite properties converter?

[2022-02-11 10:25] buptubuntu commented on #4843
Why don't we create shutdownChan in [New](https://github.com/open-telemetry/opentelemetry-collector/blob/main/service/collector.go#L87)

[2022-02-11 18:19] punya commented on #4705
Now that #4832 has been carved out, can this broader issue be removed from the [pdata stabilization milestone](https://github.com/open-telemetry/opentelemetry-collector/milestone/24)?

[2022-02-11 18:25] dmitryax commented on #4705
Makes sense, removed from the milestone

[2022-02-11 22:24] Aneurysm9 commented on #4832
I don't feel that this issue provides enough information for us to determine the best path forward.  I don't see from here what the structure of independent signal modules would look like.  What would be the dependencies among them and the existing modules/packages?  What would the wrapping structures for option 1) look like?  What would the interfaces for common types in option 2) look like? Is i

[2022-02-11 22:36] codeboten commented on #4832
Thanks for putting together a draft PR demonstrating option 3. I don't know how feasible it would be to have a PR for both other options, or if it would be easier to put together a rough sketch of what Options 1 & 2 would look like (as per @Aneurysm9's linked proposal in the go repo)

Looking through the PR for Option 3, I'm not sure how different from option 2 it is, sure we're hiding the interna

[2022-02-11 22:51] Aneurysm9 commented on #4832
Can you elaborate on this?  I'm not sure I understand.

[2022-02-11 23:17] #4781 closed

[2022-02-12 05:03] dmitryax commented on #4832
Option 2 implies introducing publicly exported functions like the following:

[code]

This function can be imported by any client, but cannot be used anywhere outside of Core Collector's `model`, because it takes an argument of a type defined in `model/internal`.

[2022-02-12 06:30] pkositsyn commented on #2265
@pmm-sumo Great PoC! I'll share some insights there as well. They could help for reasoning the change. There is only one thing - it is far from obvious that processor could be used to compact traces and in which cases it would actually make it better. They should look into the docs of processor to find out about this possibility. I feel like some info should be added to READMEs of connected compon

[2022-02-12 21:00] Aneurysm9 commented on #4832
Would that be an issue if we used the [same proto structs](https://github.com/open-telemetry/opentelemetry-proto-go) that everyone else uses?  I think that being able to interoperate with other systems at that level would be advantageous.

[2022-02-13 04:00] buptubuntu commented on #4843
That's right, we should also recreate `shutdownChan` after shutdown，in case of Running collector after shutdown

[2022-02-14 02:55] MovieStoreGuy commented on #1031
I am happy to pick this up @tigrannajaryan,

Is that we only care about N and N+1 versions? Should that be configurable? And should this be for all receivers / exporters, or specifically scoped to the otlp receivers / exporters?

[2022-02-14 11:56] anupamdalmia10 commented on #4709
Raised PR for this: https://github.com/open-telemetry/opentelemetry-collector/pull/4860

[2022-02-14 14:53] tigrannajaryan commented on #1031
I think verifying N and N+1 is sufficient. The purpose of the test is to catch accidental breakage due to any changes we make in the serialization or transport code (e.g. we are currently looking at replacing some generated Protobuf code by manually written code, which is error prone). I think we want it for OTLP which evolves over time (both protocol spec and the implementation). the rest of the

[2022-02-14 15:13] cpheps commented on #4843
I think I might be missing the reasoning for this. The collector is meant to be [one time use](https://github.com/open-telemetry/opentelemetry-collector/blob/main/service/collector.go#L206).

Recreating the `shutdownChan` could cause a race condition and not shutdown if it's recreated before it's processed by the collector in [runAndWaitForShutdownEvent](https://github.com/open-telemetry/opentelem

[2022-02-14 15:20] tigrannajaryan commented on #4832
That would be a significant performance degradation (IIRC around 1.3x last time we measured). Also probably (?) makes impossible/more complicated the patching/manual Protobuf serialization code that @codeboten works on.

[2022-02-14 17:18] Aneurysm9 commented on #4832
What about the other way around, then?  Take the internal structs from the collector and make them available for everyone else to use.  If they're that much better than the structs in the proto-go repo then why shouldn't we be encouraging everyone to use them?  It seems that the perceived complication here is simply stemming from the fact that we're not using a common OTLP implementation and we sh

[2022-02-14 17:54] tigrannajaryan commented on #4832
Somehow this works for gRPC, which tells me that maybe is not such a big deal. See https://github.com/grpc/grpc/blob/master/doc/versioning.md

Yes, it is a tradeoff.

To clarify, I don't insist that we must do this. I only ask every approver/maintainer to critically assess the tradeoffs. I am personally leaning towards grpc approach, but only slightly so, and can be convinced otherwise.

[2022-02-14 18:08] mx-psi commented on #4832
Here are a bunch of issues of to grpc-go approach to semver:
- grpc/grpc-go#3798
- grpc/grpc-go#3726
- grpc/grpc-go#5072
- grpc/grpc-go#3808
- etcd-io/etcd#12124 which I mentioned in the original discussion. It is the issue with the most 👍 ever in the etcd repository
- kubernetes/kubernetes#93320 (caused by the above)

Other languages have support for this kind of thing, but Go is not among them (

[2022-02-15 01:21] MovieStoreGuy commented on #4471
Sorry, I confused myself reading an earlier message. I'll have this sorted by end of the week :)

[2022-02-15 09:40] pmm-sumo commented on #2265
So as I understand, we have two options right now:

1. Use `groupbyattrs` processor with `batch` processor. This is however far from obvious for the use-case (perhaps we could have a Markdown file with a list of the processors and use cases BTW?)
2. Create `batchpersignal` which could combine the two above. This would add somewhat redundant code though

[2022-02-15 16:16] jpkrohling commented on #2265
Yes, please!

I have a feeling that we should have a broader discussion on splitting and joining of data points, as this could be used elsewhere as well. For instance, when splitting, we should aim to keep the same data quality as before (see #7050).

[2022-02-16 01:19] MovieStoreGuy commented on #4557
Sorry, had completely missed this. I can add it to my queue of work :)

[2022-02-16 03:04] MovieStoreGuy commented on #1031
That is sounds reasonable with me, let me explore some ideas and I'll come back with a PR hopefully in the next week or two?

[2022-02-16 07:03] buptubuntu commented on #4843
If the collector is meant to be [one time use](https://github.com/open-telemetry/opentelemetry-collector/blob/main/service/collector.go#L206), it's unnecessary to recreate shutdownChan. But we should check `state` in [Run](https://github.com/open-telemetry/opentelemetry-collector/blob/main/service/collector.go#L207)

[2022-02-16 09:07] jpkrohling commented on #4557
Don't worry. I had this also on my queue and ended up sending #4837 for it.

[2022-02-16 14:36] jpkrohling opened #4870 "Release v0.45.0"
Like #4522, but for v0.45.0

- [x] #4871
- [x] #4872
- [x] #4873
- [x] #4874
- [x] #4875
- [x] #4877
- [x] #4876

[2022-02-16 14:36] jpkrohling opened #4871 "Prepare core release v0.45.0"

[2022-02-16 14:36] jpkrohling opened #4872 "Tag and release core v0.45.0"

[2022-02-16 14:36] jpkrohling opened #4873 "Prepare contrib release v0.45.0"

[2022-02-16 14:36] jpkrohling opened #4874 "Release contrib v0.45.0"

[2022-02-16 14:37] jpkrohling opened #4875 "Prepare otelcol-releases v0.45.0"

[2022-02-16 14:37] jpkrohling opened #4876 "Release the operator v0.45.0"
@open-telemetry/operator-maintainers, who'd handle this one?

cc @yuriolisa, @erichsueh3

[2022-02-16 14:44] #4871 closed

[2022-02-16 14:47] tigrannajaryan commented on #1031
Sounds good.

[2022-02-16 15:19] #4829 closed

[2022-02-16 16:31] tigrannajaryan commented on #4841
@mx-psi I do not fully understand their wording. Can you expand here?

What does "supported" mean? Supported by whom?

[2022-02-16 17:42] mx-psi commented on #4841
We discussed this on the February 16th Collector SIG meeting, where @Aneurysm9 gave some details on opentelemetry-go's approach. I will wait until next week for approvers and other community members to voice their opinion here and open a PR then to nail down the wording and figure out if we want to do the Go bump in lockstep or not.

[2022-02-16 17:47] #4873 closed

[2022-02-16 19:23] jpkrohling commented on #4872
Done: https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.45.0

[2022-02-16 19:23] #4872 closed

[2022-02-16 19:26] jpkrohling commented on #4874
Done: https://github.com/open-telemetry/opentelemetry-collector-contrib/releases/tag/v0.45.0

[2022-02-16 19:26] #4874 closed

[2022-02-16 19:35] jpkrohling opened #4877 "Release binaries and container images v0.45.0"

[2022-02-16 21:05] #4709 closed

[2022-02-17 00:03] bogdandrutu commented on #4756
@dashpole you can take this one if you want.

[2022-02-17 00:05] bogdandrutu commented on #4832
During today SIG meeting, @Aneurysm9 pointed to an interesting solution. It seems that you can depend on an internal package from a different module as long as the path is still respected.

[2022-02-17 02:40] dmitryax commented on #4832
I'm on PTO til Friday, so wan't able to participate. @Aneurysm9 can you please share more details about the solution you proposed?

[2022-02-17 07:58] #4875 closed

[2022-02-17 09:08] jpkrohling opened #4882 "Introduce a rotation of release managers"
A release manager is the person responsible for a specific release. While the manager might request help from other folks, they are the ultimate responsible for the success of a release.

In order to have more people comfortable with the release process, and in order to decrease the burden on a small number of volunteers, I propose establishing a formal policy to have all core approvers to be rele

[2022-02-17 09:17] jpkrohling commented on #4877
Done: https://github.com/open-telemetry/opentelemetry-collector-releases/releases/tag/v0.45.0

[2022-02-17 09:17] #4877 closed

[2022-02-17 09:19] jpkrohling commented on #4876
Tracked as  open-telemetry/opentelemetry-operator#716

[2022-02-17 09:19] #4876 closed

[2022-02-17 09:19] #4870 closed

[2022-02-17 10:19] jpkrohling commented on #4841
I'm happy with opentelemetry-go's approach. If it turns out to not work for our case in the future, we can always tweak our policy.

[2022-02-17 16:09] tigrannajaryan commented on #4882
Please put me on 0.48.0. I will be on PTO on 2022-03-16.

[2022-02-17 16:13] codeboten commented on #4882
Thanks for proposing this, it looks good to me.

[2022-02-17 16:20] codeboten opened #4883 "Create release issue template"
To improve the release process, @jpkrohling proposed using an issue to track the tasks required. I suggest creating an issue template to make the process easier for release managers. The contents should be similar to what is proposed in the Appendix section of https://github.com/open-telemetry/opentelemetry-collector/pull/4881

[code]

[2022-02-18 09:40] jpkrohling opened #4884 "Updating contrib more regularly"
As pointed by @codeboten in https://github.com/open-telemetry/opentelemetry-collector/pull/4881#discussion_r809235494_ , we should think about a long term solution to have the contrib updated more frequently to the latest state of core.

[2022-02-18 13:03] trudyq commented on #4747
My mistake ! I didn't check before and assumed it was the same as for a http vip.
I have (and can't have) no health check on tcp vip.

But if i disable the vip the warnings disappear.

[2022-02-18 15:06] mplachter commented on #4747
I can confirm it is indeed the `k8s` service load balancer.

[2022-02-18 19:47] Aneurysm9 commented on #4832
The [Go internal package](https://go.dev/doc/go1.4#internalpackages) import restrictions predate modules and operate solely on the package import path hierarchy.  So long as "the package doing the import is within the tree rooted at the parent of the `internal` directory" that package can import the internal package.  This would allow a `model/internal/data/protogen/*` hierarchy within a module ro

[2022-02-18 20:11] bogdandrutu commented on #4832
@Aneurysm9 you are correct in your suggestion to make that API part of the "internal" package. I am not sure how `NewResourceFromProto` will be internal while `Resource` is public:

pacakge `presource`:
[code]

pacakge `model/pdata/internal`:
[code]

Solution to this move `Resource` to `model/pdata/internal` and simply create an alias in `model/pdata` for the Resource, while keep the access to `Ne

[2022-02-18 20:16] bogdandrutu opened #4885 "Investigate forking-renovate instead of dependabot"
Thanks to @dyladan who suggested to use https://github.com/apps/forking-renovate for dependency upgrades, since this bot creates PRs in a separate fork, which will pass the default branch protection rule added by the CNCF.

[2022-02-19 02:32] bogdandrutu commented on #4646
@dashpole would be good if you drive this to resolution, see https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/7134 which you also need :)

[2022-02-20 19:05] bogdandrutu commented on #4812
@sethAmazon @yimipeng I think the answer to this is very environmental specific, and from OpenTelemetry collector, we should not be very opinionated about this, but work to support the best we can every environment.

I believe that we should offer tools/plugins to customize this, but knowing when the "instance is throttled" is specific to the environment runs (also only some environments support t

[2022-02-20 19:07] bogdandrutu commented on #4882
Let's keep this in a md file for posterity :)

[2022-02-20 19:11] bogdandrutu commented on #4884
I used to do this almost every 2 days (every time we deprecate/break anything). But these days I need to comment more on issues than doing work unfortunately because of some external factors.

[2022-02-20 19:13] bogdandrutu commented on #4885
Also, in the meantime asked for an exception to remove easyCLA status check for branches created by dependabot, which will be merged in the `main` branch anyway. See https://cloud-native.slack.com/archives/CK8QVEXQB/p1645216299079989

[2022-02-20 22:05] yimipeng commented on #4812
@bogdandrutu Thanks for the reply! I hear you. I might want to make the question more generic just make sure I describe my question clear: does OTel Collector has any reserved/minimum Mem. consumption in its code logic when facing zero CPU resource scenario? Will OTel Collector up and run at that scenario? Appreciate your inputs in advance.

[2022-02-21 01:56] bogdandrutu commented on #4835
What about we don’t have a release repo and we do releases from Core and Contrib repos?

[2022-02-21 12:59] pmm-sumo commented on #4646
There's an [edge case](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/7793) in which `batch` + `groupbyattrs` can be used for compacting traces and has a huge impact (as measured by @pkositsyn). Moving batching to `exporterhelper` would make it no longer possible but I think we could also consider making it a more generic helper, which could be used in processors as well?

[2022-02-21 15:36] swiatekm-sumo commented on #4646
Correct me if I'm wrong, but we can lose data this way even without a crash, if we have an exporter with a queue and a batch processor, the data can be dropped due to the exporter queue being full, and the batch processor makes it impossible to propagate the error back to the receiver.

I don't know that I have an informed opinion on whether batching should happen in a separate processor or in an

[2022-02-22 03:00] qingbozhang opened #4901 "does otlpreceiver support http header`X-Forwarded-For`?"
I send traces data from web to otlpreceiver http port 55681, the http request header has `X-Forwarded-For` attribute. but the receiver not auto append `http.client_ip` attribute to traces spans.
how I add client ip?
version: `[v0.44.0](https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.44.0)`

[2022-02-22 04:09] william-tran opened #4902 "Report exporter queue capacity as a metric"
**Is your feature request related to a problem? Please describe.**
I'd like to see queue capacity as a metric so I can do derive queue % filled and alert on that without hardcoding the queue capacity into my prometheus query.

**Describe the solution you'd like**
Report `otelcol_exporter_queue_capacity` as a gauge

**Describe alternatives you've considered**
Hardcoding the capacity I've configured

[2022-02-22 20:28] mplachter commented on #4747
@jpkrohling any chance for the above to be possible?

[2022-02-22 20:59] bogdandrutu opened #4906 "`componenttest.NewNop[Exporter|Processor|etc.]Factory` do not respect contribution guideline"
They return a global unique instance instead of creating new instance, see related comment https://github.com/open-telemetry/opentelemetry-collector/pull/4899#discussion_r811568953

[2022-02-22 22:12] splunkericl commented on #4694
Hey @shree007 , have you made any progress on this? If not we will be willing to take over the work as we run into the same issue.

[2022-02-22 22:14] thecoolworld opened #4907 "AddOpenTelemetryMetrics - Not returning all information"
Hello All,
I am new to Open Telemetry and am trying to use AddOpenTelemetryMetrics in my .Net core Service. I noticed that only the below attributes are returned. I would also need http.target & http.url so I can have those information too.. This will help in identifying the target and the URL. AddOpenTelemetryTracing gives this information my default. Is there anyway to get this information. Do y

[2022-02-22 22:19] bogdandrutu commented on #4907
@reyang @lmolkova is this related to dotnet? Never seen `AddOpenTelemetryMetrics` before, maybe some dotnet specific.

[2022-02-22 22:22] reyang commented on #4907
@bogdandrutu seems to be the case, it is a helper for dependency injection https://github.com/open-telemetry/opentelemetry-dotnet/blob/a2c1b6e69ea64322cc64d71f1066fa566d099e96/src/OpenTelemetry.Extensions.Hosting/OpenTelemetryServicesExtensions.cs#L64

I would suggest to either transfer this issue to the OpenTelemetry .NET repo, or close the issue and ask @thecoolworld to create a new one in the O

[2022-02-22 22:27] thecoolworld commented on #4907
Thanks for the reply.. Yes, this is .net specific. I will close this and will create one in OpenTelemetry .NET repo.

[2022-02-22 22:27] #4907 closed

[2022-02-23 04:22] bogdandrutu commented on #4814
@tigrannajaryan we do maintain the context in `queued_retry` only in batching we have a problem, since we batch requests from multiple sources.

[2022-02-23 05:53] shree007 commented on #4694
Unfortunetly I could not look into it. You may proceed.

On Wed, 23 Feb, 2022, 3:42 am splunkericl, ***@***.***> wrote:

[2022-02-23 10:33] midnightexigent opened #4910 "How to change port `:8888` on which metrics are exposed ?"
[Troubleshooting](https://github.com/open-telemetry/opentelemetry-collector/blob/main/docs/troubleshooting.md#metrics) suggests setting `--metrics-addr` but no such argument is exposed.

Is there any way I can achieve that, even with the builder ?

[2022-02-23 11:05] midnightexigent commented on #4910
reading the code, I found that there is the `service.telemetry.metrics.address` parameter which is nowhere to be seen in the [docs](https://opentelemetry.io/docs/collector/configuration/#service)

[2022-02-23 17:51] pmm-sumo opened #4911 "Resource Limiter Processor as a more generic replacement to Memory Limiter Processor"
**Is your feature request related to a problem? Please describe.**

[Memory Limiter Processor](https://github.com/open-telemetry/opentelemetry-collector/tree/main/processor/memorylimiterprocessor) can be used to prevent out of memory situations by not accepting data when limits are exceeded. In such case, the preceding component (which normally is a receiver) receives an error from ConsumeX functi

[2022-02-23 18:02] pmm-sumo commented on #4335
I think this issue might cover the idea for using gRPC error codes to have a more detailed description of cause of error returned to the client discussed during the Collector SIG today (in the context of backpressure handling). I'm not creating a new one. Let me know if you think otherwise

[2022-02-23 18:31] bogdandrutu commented on #4911
I like this, I would like to think a bit more about the config (nits that can be discussed in the PR like `perc`, I would measure in number of cores, or even better be consistent with how K8s does this for both).

[2022-02-23 19:26] #4732 closed

[2022-02-23 19:28] bogdandrutu commented on #2819
@mx-psi any update on this?

[2022-02-23 20:55] tomas-mota commented on #4603
shouldn't this be closed?

[2022-02-23 22:39] achakrab opened #4913 "Fails to push trace data to jaeger"
**Describe the bug**
Got the following error when pushing a trace data  to jaeger via otlp receiver:
collector_1          | 2022-02-23T17:35:44.543Z	info	exporterhelper/queued_retry.go:325	Exporting failed. Will retry the request after interval.	{"kind": "exporter", "name": "jaeger", "error": "failed to push trace data via Jaeger exporter: rpc error: code = Unavailable desc = connection error: des

[2022-02-24 00:44] #4565 closed

[2022-02-24 01:02] bogdandrutu commented on #4258
@codeboten one option which I don't know if we thought/discuss about is to actually rely on `oneof` for the "optional/pointer":

`optional fixed64 foo = 1` -> `oneof foo_ { fixed64 foo = 1;}`

@codeboten: showed me, something [similar](https://github.com/open-telemetry/opentelemetry-proto/pull/336#issuecomment-941966393) suggested by @anuraaga, though I discovered this while working on a faster/la

[2022-02-24 09:39] mx-psi commented on #4910
@midnightexigent maybe you can do a PR to update the documentation? This was mentioned in #4695 but we forgot to update the docs

[2022-02-24 12:50] mx-psi commented on #2819
Hey @bogdandrutu, still interested on becoming an approver! :)

In terms of my contributions to this repository so far, an update from the last message would be:

- I have done a total of [26 pull requests](https://github.com/open-telemetry/opentelemetry-collector/pulls?q=is%3Apr+author%3Amx-psi) including
  - testing and linting improvements (#4463, #4462, #2959, #3182, also some work on https://

[2022-02-24 19:00] bogdandrutu opened #4917 "Prototype test friendly featureflags"
See the idea https://github.com/open-telemetry/opentelemetry-collector/pull/4108#discussion_r726260681

[2022-02-24 19:16] #4841 closed

[2022-02-25 01:11] achakrab commented on #4913
Setting the jaeger endpoint, as  "endpoint: jaeger-all-in-one:14250" removed the connection error.  The trace is sent to the jaeger now:

jaeger-all-in-one_1  | {"level":"debug","ts":1645750733.170046,"caller":"app/span_processor.go:152","msg":"Span written to the storage by the collector","trace-id":"71699b6fe85982c7c8995ea3d9c95df2","span-id":"3c191d03fa8be065"}

But, the trace sent to jaeger is

[2022-02-25 01:44] dmitryax commented on #4832
@Aneurysm9 @bogdandrutu @codeboten @tigrannajaryan

I added couple more PRs to illustrate the proposed approaches:
- Next PR for Approach 3: https://github.com/open-telemetry/opentelemetry-collector/pull/4918
- Draft PR for Approach 2: https://github.com/open-telemetry/opentelemetry-collector/pull/4919

I don't think it's reasonable to illustrate Approach 1 since it's pretty similar to Approach 3,

[2022-02-25 01:59] achakrab commented on #4913
The traces were missing because of the start time of the traces, which dates back in time.  Lookback time is not the load time of the traces (it is rather the start timestamp of the traces). Setting the "custom time range" that includes the start time of the traces solved it.
This was a configuration issue.

[2022-02-25 01:59] #4913 closed

[2022-02-25 16:58] bogdandrutu commented on #4832
Here is way I propose version 3:
1. It has less public API, we are exposing new "helper" funcs that we need to keep forever even though users cannot really use it. Why? Because someone may call `AttributeMapFromOrig(nil)`.
2. We can go from version 3 -> version 2 in the future but not vice-versa. Why? Because of the extra public API needed in option 2.
3. If by mistake anyone adds a Getter that re

[2022-02-25 18:13] dmitryax commented on #4832
Most of the code operates on `orig` private field, so not much to duplicate, maybe just wrap the functions calls and duplicate godoc

[2022-02-25 18:13] codeboten commented on #2708
Fixed by https://github.com/open-telemetry/opentelemetry-collector/pull/2902

[2022-02-25 18:13] #2708 closed

[2022-02-26 12:18] midnightexigent commented on #4910
sure I can #4923

[2022-02-26 18:10] bogdandrutu commented on #4910
@midnightexigent also the recommended way is to do this in your config.yaml file, so no need of using a flag:

[code]

[2022-02-27 11:38] midnightexigent commented on #4910
I am aware of that, IMO that also should be updated in the `opentelemetry.io` website docs

Also, there is a comment in the code indicating that it might be removed

https://github.com/open-telemetry/opentelemetry-collector/blob/4998703dadd19fa91a88eabf7ccc68d728bee3fd/config/service.go#L99-L101

[2022-02-27 11:38] #4910 closed

[2022-02-27 12:55] adirmatzkin commented on #4244
Is this even a thing ? I haven't found anything more than what @goswamisandeep mentioned...
How can you monitor / observe the collector ?
The shoemaker's children go barefoot :(

[2022-02-28 16:10] jpkrohling commented on #4882
I'll sync it with the release doc.

[2022-02-28 16:14] jpkrohling commented on #4835
Core depends on components from contrib. So, the option is really only about having the artifacts being generated as part of the contrib release process. The original idea for the -releases is to make it easier to break and decentralize contrib in the future, but if we can make the current process better by joining -releases into -contrib, I'm open to considering it.

[2022-02-28 16:18] jpkrohling commented on #4901
On the receiver configuration, you have to enable the include_metadata attribute:

https://github.com/open-telemetry/opentelemetry-collector/blob/4998703dadd19fa91a88eabf7ccc68d728bee3fd/config/confighttp/confighttp.go#L220-L222

This doesn't seem to be documented, would you mind opening a PR documenting it?

[2022-02-28 16:19] jpkrohling commented on #4902
Sounds like a good idea.

Related to #4198

[2022-02-28 16:20] jpkrohling commented on #4747
Sorry for the delay, I haven't had the chance yet to look into this. I've added to my queue and will look soon (although unlikely to be this week).

[2022-02-28 18:38] mplachter commented on #4747
@jpkrohling sounds good no worries. Also there is no way to make it do http to the healthcheck endpoint instead of testing the gRPC ports. This is a limitation with AKS and the load balancer leveraged for the loadbalancer type for services.

[2022-02-28 20:41] #4882 closed

[2022-02-28 21:54] Lola-Hector-Bianca-Hewie commented on #4901
I'm actually having a similar problem.  I have enabled include_metadata in the yaml configuration file for otlp http protocol (see snippet below) which is running version 0.45.0 of the collector, but I do not set the http.client_ip address being set.  I've included a wireshark snippet where you can see the X-Forwared-For from the reverse proxy.

- Yaml receiver snippet:
receivers:

  # Data source

[2022-03-01 02:37] tonglil commented on #2212
I struggled with this even after removing any indication of the logging exporter in my config, it was still blasting logs into the output, only realizing there's no way to turn this off.

[2022-03-01 02:40] tonglil commented on #3460
I think the logging exporter should send to stdout.

[2022-03-01 08:02] qingbozhang commented on #4901
I enabled `include_metadata`, but I can't find `http.client_ip` at downstream consumers.
below is my receivers config.

[code]

[2022-03-01 13:14] jpkrohling commented on #4906
Should this be closed:

[2022-03-01 14:16] jpkrohling commented on #4901
Sorry, my information was incomplete. We do need an example, and I'm not sure we have all the pieces at this moment, but you need to enable this and use the attribute processor with a "from_context" setting: https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/attributesprocessor#attributes-processor

[2022-03-01 15:03] #4244 closed

[2022-03-01 16:48] Lola-Hector-Bianca-Hewie commented on #4901
Thanks, that was the missing link.  We didn't need the allowed_headers in the end.  Final snippet from the yaml file is below.  Thanks for all the help

<pre>
receivers:
  jaeger:
    protocols:
      grpc:
      thrift_binary:
      thrift_compact:
      thrift_http:
  otlp:
    protocols:
      grpc:
        include_metadata: true
      http:
        cors:
          allowed_origins:

[2022-03-01 22:33] codeboten commented on #4832
Thanks for putting together the draft for approach 2 @dmitryax. After reviewing it I'm leaning towards approach 3 to minimize new APIs to add at this point.

[2022-03-02 00:45] cpheps opened #4939 "Access to Collector Log Pointer is not atomic"
**Describe the bug**
Access to the collectors [log pointer](https://github.com/open-telemetry/opentelemetry-collector/blob/main/service/collector.go#L95) is not atomic. If `GetLogger` is called before `Run` the returned pointer is no longer valid as it is updated during [startup](https://github.com/open-telemetry/opentelemetry-collector/blob/main/service/collector.go#L177).

It also presents a rac

[2022-03-02 09:40] jpkrohling commented on #4901
Would you mind adding appropriate documentation here: https://github.com/open-telemetry/opentelemetry-collector/tree/main/config/confighttp

[2022-03-02 11:07] qingbozhang commented on #4901
Thanks for all the help. OK I'll opening a PR documentation it

[2022-03-02 11:48] jpkrohling commented on #4747
Given the latest info here, I'm reopening this issue and changing the original description (and title).

[2022-03-02 11:54] Haleygo commented on #4906
@bogdandrutu  I'd like to work on it :) Is that ok?
I will remake those New.. func under /componenttest, let them return new instance instead of using global instance.
/assign

[2022-03-02 12:24] Lola-Hector-Bianca-Hewie commented on #4901
So, it occurred to me last night this solution wasn't really going to work as X-Forwarded-For header can have multiple IP addresses seperated by comma followed by a space (see https://en.wikipedia.org/wiki/X-Forwarded-For) if multiple proxy servers and/or load balancers are in use.  To handle this I have changed the solution to below which will note both X-Forwarded-For, but should only set http.c

[2022-03-02 13:15] cpheps commented on #4939
@patil-kshitij by all means. I might have capacity to do so until next week so feel free.

[2022-03-02 13:24] Lola-Hector-Bianca-Hewie commented on #4901
That was something we were debating about this morning before we came to this solution.  For us to simplify the elastic search queries having the http.client_id value stored in the database in a consistent manner regardless of multiple proxy servers, routers, load balancers (or even none in simple setups) was more important to simplify diagnostics and support, but I can certainly see why you would

[2022-03-02 15:59] mx-psi commented on #4832
I am also leaning towards approach 3, I think @bogdandrutu's points make a lot of sense

[2022-03-02 16:57] #4843 closed

[2022-03-02 17:07] codeboten opened #4942 "Add definition for release manager"
As discussed during the March 2nd SIG meeting, we don't have a definition of release manager in the release documentation. @jpkrohling volunteered to add one

[2022-03-02 17:10] codeboten opened #4943 "Add new github action to push the tag"
As discussed in SIG call on March 2, instead of manually pushing the tag, we should have a github action instead. This would make the release process safer.

We may not be able to do this, depending on the signature of the release tag.

[2022-03-02 17:12] codeboten opened #4944 "Simplify the release process"
As discussed in March 2 SIG call, it would be good for maintainers to reduce the amount of work needed to release. This issue is to track ideas for how to accomplish this.

[2022-03-02 18:27] cpheps opened #4946 "Collector Run should exit quickly if shutdown was called prior"
**Describe the bug**
Currently if `Shutdown` is called before `Run` all [this](https://github.com/open-telemetry/opentelemetry-collector/blob/main/service/collector.go#L227-L251) startup code runs before `runAndWaitForShutdownEvent` which will then process the shutdown.

**Steps to reproduce**
1. Created collector
2. Call `Shutdown`
3. Call `Run`

**What did you expect to see?**
Collector not atte

[2022-03-02 19:01] bogdandrutu commented on #4944
We should have a github action that does most of the manual work that we have to do.

[2022-03-02 19:34] cpheps opened #4947 "Collector Shutdown should block until Run cleans up"
**Is your feature request related to a problem? Please describe.**
Discussion from [4878](https://github.com/open-telemetry/opentelemetry-collector/pull/4878#issuecomment-1055438081) led to a decision to design `Shutdown` to follow language patterns for how it and `Run` should operate. Following `http.Server` as an example the following behaviors should be met:

1. `Shutdown` be safe to be called

[2022-03-03 01:34] Aneurysm9 commented on #4832
I think the plan laid out in https://github.com/open-telemetry/opentelemetry-collector/pull/4918#issue-1149902728 makes the congruence between these approaches clearer, though I do wish that #4919 had used the same package structure.  The original proposal here for option 3 was missing the detail needed to draw a line through to the final destination.  I'm fine with moving in this direction now, t

[2022-03-03 06:15] khyatigandhi6 opened #4950 "Missing invalid log-level validation in logging exporter"
**Describe the bug**
A clear and concise description of what the bug is.

Validate method of logging exporter does not check for invalid log-level passed in the configuration.
https://github.com/open-telemetry/opentelemetry-collector/blob/322d0aafd4944d622e2b8a0ebfed7fbccbe05e26/exporter/loggingexporter/config.go#L40

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.

[2022-03-03 08:35] tvaintrob opened #4951 "add the option to enable server reflection on otlp grpc receiver"
**Describe the solution you'd like**
a configuration to enable server reflection on the grpc otlp receiver something like the following:
[code]

**Describe alternatives you've considered**
thought about adding a new receiver plugin but seems like the better solution is to add the functionality to the default one

id be happy to implement this one myself and submit a PR

[2022-03-03 14:02] tigrannajaryan commented on #4951
Please clarify the purpose of this feature. What does server reflection do?

[2022-03-03 16:20] vishalj82 commented on #2466
Would it be ideal to introduce a new processor, which would have a default config, which could be overridden through the config file.

[2022-03-03 18:15] bogdandrutu commented on #4950
The check is performed during the `Unmarshal` since "Level" is an enum, and `errors` is not one of the possible values. I am confused what would change for you if we check in `Validate`

[2022-03-04 07:16] khyatigandhi6 commented on #4950
@bogdandrutu If we also put that check in `Validate` function, we can validate the config before starting collector just like doing `dry-run`.

[2022-03-04 16:44] he-mans commented on #3685
Is this issue still valid? Things have been modified heavily since this was opened.

[2022-03-04 18:11] bogdandrutu commented on #4950
We do that anyway, because Validate is called after unmarshal.

[2022-03-04 18:28] #4694 closed

[2022-03-04 21:59] #4756 closed

[2022-03-07 14:42] jpkrohling commented on #4951
The biggest advantage is listing the resources a server provides. It allows a tool like grpccurl to be more user-friendly. We'd likely not have this enabled in production, but I can see how this can help debug connectivity and configuration issues.

[2022-03-07 17:27] codeboten opened #4965 "re-enable auto-merge feature for this repo"
This accelerates merging of PRs that have been approved and pass all the checks. This was disabled some time ago due to a permissions issue.

[2022-03-07 17:33] codeboten commented on #4965
Re-enabled, thanks @Aneurysm9 for validating this!

[2022-03-07 17:33] #4965 closed

[2022-03-07 22:09] aabmass opened #4967 "Featuregates don't work until late in initialization"
**Describe the bug**

The `--feature-gates` CLI flag is not applied until this line:

https://github.com/open-telemetry/opentelemetry-collector/blob/f980c9ef25b1110288ab1b0a297419ec83b541a1/cmd/otelcorecol/main.go#L34

As a result any `featuregate.IsEnabled(myFeatureGateID)` checks during component factory creation (L16 in the same file) will return the default value regardless of the CLI flag. Th

[2022-03-08 11:57] yankay commented on #4917
Hi @bogdandrutu, would you please review the PR.

[2022-03-08 12:54] mx-psi opened #4970 "Allow overriding telemetry providers"
**Is your feature request related to a problem? Please describe.**

When embedding the OpenTelemetry Collector on an existing application, said application may have an existing telemetry system for logging, metrics and/or tracing. With the current API, while some features of the telemetry may be configurable through the configuration provider (e.g. one can enable/disable the metrics telemetry), th

[2022-03-08 15:17] mx-psi opened #4971 "Document and provide a way to disable global state modification by Collector"
**Is your feature request related to a problem? Please describe.**

On initialization, the Collector modifies global state from external dependencies in a number of ways; for example (probably not an exhaustive list!):

- Modify the global gRPC logger https://github.com/open-telemetry/opentelemetry-collector/blob/52f866991b4bf4c07b371c043da03cb765b76bc2/service/internal/telemetrylogs/logger.go#L76

[2022-03-08 15:57] Nicholaswang opened #4972 "incorrect memory limit with cgroup v1"
A clear and concise description of what the bug is.
when using limit_percentage for memory_limiter, it can get an incorrect limit value since the `memory.limit_in_bytes` is set to unlimited, and it get the memory limit of the container node:
![企业微信截图_1646753927335](https://user-images.githubusercontent.com/3916488/157275263-818113d2-5763-4e67-a2ae-a56fc52ab958.png)

the reason is:
![image](https:/

[2022-03-08 16:17] MosheElisha commented on #52
Hello,

Can you please explain why all configuration examples contain both "batch" and "batch/2"?

[code]
https://github.com/open-telemetry/opentelemetry-collector/blob/main/processor/batchprocessor/testdata/config.yaml

From what I understand, in the configuration above, you define two processors - one "batch" with default configuration and one "batch/2" with some configuration but in the "pipeli

[2022-03-09 09:05] bogdanov1609 commented on #4806
Hello, friendly reminder :)

Is there any finished plan for this issue?

[2022-03-09 12:02] jpkrohling commented on #4806
Not yet. It's on my queue, but I do have a few things to complete before going to this one.

[2022-03-09 16:45] #3004 closed

[2022-03-10 14:51] Lola-Hector-Bianca-Hewie commented on #4901
Well, just noticed that I specified http.client_id and NOT http.client_ip which is the standard.  Corrected the example above, but here it is again below:

<pre>
receivers:

  jaeger:
    protocols:
      grpc:
      thrift_binary:
      thrift_compact:
      thrift_http:

  otlp:
    protocols:
      grpc:
        include_metadata: true
      http:
        cors:
          allowed_origins:

[2022-03-11 01:39] kvcache opened #4981 "Degenerate collector performance when exporter has problems"
**Describe the bug**
Our collector running on our server has an OTLP `exporter`. That downstream target crashed. The otel collector running on the server batched up in the memorylimiter as configured, then descended into this permanently broken state where all it does is force GC in a loop & take up over 70% of a 16 core server's CPU. It never recovered, even after we fixed the downstream service.

[2022-03-11 15:08] trudyq opened #4982 "OTLP HTTP receiver with OIDC : always getting 401 Unauthorized"
**Describe the bug**
What's working : In the collector i can setup an OTLP GRPC receiver with OIDC auth.
From a Java OLTP GRPC exporter everything is fine : I set my jwt token with a `io.grpc.ClientInterceptor` through a `ManagedChannel` object. The collector grpc endpoint works as expected.

What's not working : I can't setup an OTLP HTTP receiver with an OIDC auth. I always get a 401 Unauthorize

[2022-03-11 16:02] jpkrohling commented on #4982
Just a hunch, but can you try overriding the "attribute" parameter to "Authorization" (vs. "authorization")?

[2022-03-11 17:53] pmm-sumo commented on #4970
I think having more flexible options here could be also helpful when implementing [own telemetry reporting](https://github.com/open-telemetry/opamp-spec/blob/main/specification.md#own-telemetry-reporting) capability of OpAMP (or any other use-case where collector's own telemetry is sent out)

[2022-03-11 18:21] #4788 closed

[2022-03-11 18:51] trudyq commented on #4982
It's the same 401 response.

I tried "authorization", "Authorization" and i also set a custom attribute name in oidc extension.

It works with OLTP GRPC exporter not with OTLP HTTP exporter.

Looking at the history i saw there were changes for HTTP in this [commit](https://github.com/open-telemetry/opentelemetry-collector-contrib/commit/b354a8edef9b6380d083583b4e259ea1ed6b0605#diff-5b7b297bc782ee5

[2022-03-11 19:33] jpkrohling commented on #4982
I'm adding this to my queue and will take a look soon.

[2022-03-11 22:48] #4557 closed

[2022-03-12 06:05] HaroonSaid opened #4983 "Windows MSI"
Is there a windows msi installer release for the collector?

[2022-03-12 14:23] bogdanov1609 commented on #4354
+1 on this one.
And i dont think that adding version in all the metrics is a good idea, because every time series database(like prometheus, victoria metrics or InfluxDB) doesn't like too many uniq time series.

[2022-03-12 15:07] aixasz opened #4984 "Can not start service after installed on Azure VM Ubuntu."
**Describe the bug**
This issue occurred only Azure VM Linux (Ubuntu).
After installed service couldn't started.
[code]

**Steps to reproduce**
Use azure VM Linux and install `otelcol` following [this document](https://opentelemetry.io/docs/collector/getting-started/#linux-packaging).

**What did you see instead? **

[code]

**What version did you use? **
Version: 0.44.0

**What config did you use

[2022-03-12 15:32] Xianyong opened #4985 "Service defined is triggered, but the zipkin exporter is refused."
Resource labels:
     -> service.name: STRING(bona_service)
InstrumentationLibrarySpans #0
InstrumentationLibrary __main__
Span #0
    Trace ID       : 01aaaa049248391e2b532e1c0e50eafa
    Parent ID      :
    ID             : 34f3801230720fba
    Name           : foo_bonaaaa
    Kind           : SPAN_KIND_INTERNAL
    Start time     : 2022-03-12 15:28:02.725104384 +0000 UTC
    End time       : 2

[2022-03-12 16:30] gillg commented on #4354
@dashpole don't you think it duplicates the new "target" metric ? In this case the version, go version, etc will be resources attributes of all internal otle collector data.
What you'd be the plan to avoid conflicts with external receivers ?
There is also a conceptual question around the metric endpoint in Prometheus format. Does it should expose the target metric and Prometheus receiver just carr

[2022-03-13 03:44] Xianyong commented on #4985
I tried one more 5 hours. It always show up:
 dial tcp 127.0.0.1:9411: connect: connection refused

BTW, below is the content in my otlp_config.yaml file.
-------------
extensions:
  memory_ballast:
    size_mib: 512
  zpages:
    endpoint: 0.0.0.0:55679

receivers:
  otlp:
    protocols:
      grpc:
      http:

processors:
  batch:
  memory_limiter:
    # 75% of maximum memory up to 4G
    limit

[2022-03-13 13:44] dashpole commented on #4354
Yes, this is a special-case of passing resource information through prometheus.

I'm not sure I understand the question.

The prometheus receiver will transform target info back into resource information.  That is specified in https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/datamodel.md#resource-attributes, and is tracked in https://github.com/open-tel

[2022-03-13 14:52] bogdandrutu commented on #4985
Hi @Xianyong, thanks for trying this product.

Is your zipkin instance `http://localhost:9411` accessible from the docker/container/process where collector runs? Looks like the collector cannot establish a connection to the `localhost:9411` address. Can you check that please?

[2022-03-13 14:53] bogdandrutu commented on #4984
Assigning to @jpkrohling since he is the master of the "releases"

[2022-03-13 14:58] bogdandrutu commented on #4972
@dashpole you are our cgroup expert :) can you take a look please?

[2022-03-13 15:02] bogdandrutu commented on #4970
@pmm-sumo if otel-go library is not capable of supporting that (via an extra exporter for example) then we failed to implement the library sdk. I don't think for your use-case this issue is relevant.

[2022-03-13 15:12] bogdandrutu commented on #4970
@mx-psi I am failing to see what the proposed solution looks like. Let's start by first define what "capabilities"/"mean" to run the collector as library.

Do you want to use the same "instance of otel-go sdk" between the collector library and the other parts of the binary? If yes, why? Do we need to support this?

We can easily build factories of factories and settings of settings, but let's defi

[2022-03-13 15:31] bogdandrutu commented on #4775
@dmitryax so we have some concrete options here:
1. Panic immediately when calling to return a different type, which seem to not be the nicest API. The API you tried to implement.
2. Return a "default/uninitialized" value (like Google's protobuf generated code). This panics when access members that may be nil as default / zero-value:
[code]
3. Return a "errror" as proposed in a different PR.
4. Re

[2022-03-13 15:57] Xianyong commented on #4985
@bogdandrutu  Hi, thanks so much for your reply.

I have two docker containers. One is the Zipkin docker instance, and the other is the opentelemetry collector docker instance. They are pulled from the docker hub, and run separately.  Besides, I made tests that using an opentelemtry client (python) to export data to the Zipkin instance directly, and then I could  successfully find the telemetry by

[2022-03-13 15:58] Xianyong commented on #4985
@bogdandrutu  Hi, thanks so much for your reply.

I have two docker containers. One is the Zipkin docker instance, and the other is the opentelemetry collector docker instance. They are pulled from the docker hub, and run separately.  Besides, I made tests that using an opentelemtry client (python) to export data to the Zipkin instance directly, and then I could  successfully find the telemetry by

[2022-03-13 23:12] dmitryax opened #4988 "Avoid using `Attribute` in common pdata components related to AnyValue proto field"
## Problems

All of the pdata wrappers related to [AnyValue](https://github.com/open-telemetry/opentelemetry-proto/blob/main/opentelemetry/proto/common/v1/common.proto#L27) fields include `Attribute` part in its name because the field used to be applicable to the `attributes` fields only, like [here](https://github.com/open-telemetry/opentelemetry-proto/blob/17c68a9d2b67d702153d91fa985ecf2b87f74b7

[2022-03-14 01:42] hanjm commented on #4817
Hi @sethAmazon @tigrannajaryan , I submit PR #4986 to implement unmarshal traces with `jsoniter` for better performance in the OTLP HTTP JSON case.

[2022-03-14 02:38] Xianyong commented on #4985
This issue was closed and resolved by checking the foreign IP address of docker instances.
Thanks so much again,  @bogdandrutu .

[2022-03-14 02:38] #4985 closed

[2022-03-14 11:40] umarkhan17 opened #4994 "Enable Authentication between agent collector and Standalone collector via Zipkin Exporter not working"
I am trying to enable authentication between agent and standalone collector. I have deployed Collecter and Operator.
I am deploying agent collector as a sidecar. which is sending trace data to the standalone collector. But every time i enable Authentication. It gives me

`2022-03-14T11:14:41.801Z        info    exporterhelper/queued_retry.go:215      Exporting failed. Will retry the request after

[2022-03-14 12:46] #4826 closed

[2022-03-14 13:03] #4883 closed

[2022-03-14 13:19] bogdandrutu commented on #4988
**Another option that I can think of:**

* `pdata.AnyValue` -> `pdata.Value`
* `pdata.Map`
* `pdata.Slice`

**Different idea:**
When it comes to the "New" funcs, I think generics would make this API much nicer `NewValue(int64|float64|...)`. An option for us (in order to not require golang 18) may be to move the `New` funcs in a helper package that we never mark 1.0 until generics can be used.

[2022-03-14 13:27] #4906 closed

[2022-03-14 13:56] jpkrohling opened #4996 "Consider moving configauth to extension package"
Perhaps not everything should be moved, but some behavior could certainly be moved to another package.

Original comment:
I've always been confused about the package choice for this extension. It is very strange to have an extension defined in the `config` sub-package instead of a sub-package in `extension`. I think we should fix this.

_Originally posted by @bogdandrutu in https://github.com/open

[2022-03-14 13:58] jpkrohling commented on #4983
We used to, but not anymore since we moved to releasing with goreleaser on the [open-telemetry/opentelemetry-collector-releases](https://github.com/open-telemetry/opentelemetry-collector-releases) repostiory. We don't seem to have a volunteer to work on that.

[2022-03-14 14:14] bogdandrutu commented on #4970
One idea that I discussed with @mx-psi, also related to https://github.com/open-telemetry/opentelemetry-collector/issues/4605 is for them to manually create their own "fixed" pipeline, so they don't need to depend on the Service which brings things like "ways to configure pipelines" or "config changes monitoring", etc.

[2022-03-14 14:51] TylerHelmuth commented on #4983
@jpkrohling do we want to add an MSI back?  Should we open an issue for it?

[2022-03-14 15:00] jpkrohling commented on #4983
I believe there might be an issue with this already, just not sure where. But yes, we want this back. The problem from what I remember is that it requires a cert to sign the binary and we don't have it.

[2022-03-14 15:01] jpkrohling commented on #4982
@pavankrish123, do you have free cycles to look into this?

[2022-03-14 15:03] jpkrohling commented on #4984
Can you try the latest version? I remember fixing an issue similar to this one not too long ago.

[2022-03-14 15:06] jpkrohling commented on #4994
This might be related to #4982

[2022-03-14 15:27] umarkhan17 commented on #4982
changing from "authorization" to "Authorization" solved it for me.

[2022-03-14 15:47] umarkhan17 commented on #4994
[code]

is this correct? can we use oauth2client extension with Zipkin exporter?

[2022-03-14 16:13] pavankrish123 commented on #4982
I can take a look into it.

[2022-03-14 16:18] pavankrish123 commented on #4982
Sure @jpkrohling. I will run tests and verify last time I played with it collector (oauth2) -> collector(oidc) was working fine.

Not sure if it is a problem in the Java SDK. But since curl is throwing error as well. I will re-run the tests.

[2022-03-14 16:23] dmitryax commented on #4988
@bogdandrutu we will have the following types then, right?

[code]

It looks good to me, I don't think we can anticipate any conflicts in future.

Not sure the generic function `NewValue(int64|float64|...)` will work with this. Even if it works, it probably doesn't help to reduce the code and IMO can make more confusing to use.

[2022-03-14 16:53] jpkrohling commented on #4982
I believe @gouthamve also tried this scenario recently, using HTTP auth against a Prometheus Remote Write endpoint.

[2022-03-14 17:44] mx-psi commented on #4981
@kvcache can you reproduce with the latest release? If so, would you mind using the [pprof extension](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/extension/pprofextension#readme) to get a profile?

[2022-03-14 18:05] Aneurysm9 commented on #4775
My preference would also be for 2.  It is for the most part what we're already doing, a lot safer than 1) for most uses and just as performant.  The other alternative I see as viable is 4), but that has the issue that we cannot exactly replicate the behavior of type conversion as we cannot return either one or two values depending on call context.

It seems that (for `AttributeValue` at least) the

[2022-03-14 18:32] dmitryax commented on #4775
The 2) seems a good alternative to me as well. The behavior for primitive types stays the same. The changed behavior for complex types uncovers the problem of misuse much sooner and prevents unexpected consequences that are hard to debug which seems like an improvement to me.

In this case we should do the same for metric type accessors for consistency https://github.com/open-telemetry/opentelemet

[2022-03-14 18:32] bogdandrutu commented on #4988
+1 on the type part.

For the generics, I would like to look how will that will be, not 100% sure about all the generics tricks. We can discuss that separately.

[2022-03-14 21:10] gouthamve commented on #4984
I can confirm that I've installed the deb on 3 different Ubuntu instances (20.04 and 21.04) and systemd file worked fine in all cases.

[2022-03-15 05:27] dmitryax commented on #4988
Submitted PR for this issue https://github.com/open-telemetry/opentelemetry-collector/pull/5001 and updated https://github.com/open-telemetry/opentelemetry-collector/pull/4978

[2022-03-15 11:25] bogdandrutu opened #5002 "Consider better name for Provider "location""
Context https://github.com/open-telemetry/opentelemetry-collector/pull/4998#discussion_r826207492

[2022-03-15 11:42] bogdandrutu commented on #4775
just return `pdata.Gauge{}` (zero-initialized struct which is invalid to use).

[code]

@dmitryax I think we have a winer, so let's do that.

[2022-03-15 15:47] mx-psi opened #5003 "Release v0.47.0"
(To be done tomorrow) Like #4522, but for v0.47.0

- [x] #5007
- [x] #5009
- [x] #5010
- [x] #5011
- [x] #5012
- [x] #5013
- [ ] #5014

[2022-03-15 17:15] jpkrohling commented on #5003
cc @yuriolisa, @VineethReddy02, @pavolloffay

[2022-03-15 17:25] yuriolisa commented on #5003
https://github.com/open-telemetry/opentelemetry-operator/issues/774

[2022-03-16 05:29] MovieStoreGuy commented on #4743
Hey @alolita ,

could I ask you to move this to the contrib repo?

[2022-03-16 06:37] dmitryax commented on #4775
@bogdandrutu @Aneurysm9

Given that the change we agreed on (2) affects only wrong usage of `AttributeValue.MapVal()` and `AttributeValue.SliceVal()` which should not exist in practice, can we agree to make an exception to the breaking changes policy and keep existing `AttributeValue....Val()` functions without replacing them with the new `AttributeValue....Value()` functions? I checked contrib an

[2022-03-16 07:37] bogdandrutu commented on #4775
I think changing directly there is fine, since we relax the API.

I am ok with this "exception" change.

[2022-03-16 08:31] pavankrish123 commented on #4982
I can confirm I am seeing the same issue as well on my end while using HTTP exports to OTLP HTTP receiver with OIDC. I have also tested with our [standard example ](https://medium.com/opentelemetry/securing-your-opentelemetry-collector-1a4f9fa5bd6f) but with a slight modification

`tracegen` --grpc->  `OTEL Collector (Agent) export via http OAuth2` -> `OIDC enabled http receiver`

agent-config.yam

[2022-03-16 08:55] mx-psi opened #5007 "Prepare core release v0.47.0"
- [x] Make sure build passes on core and contrib
- [x] Run `make update-otel` on contrib to verify: open-telemetry/opentelemetry-collector-contrib#8494
- [x] Update CHANGELOG.md
- [x] Use multimod to update
- [x] Update collector version in builder
- [x] Update collector version in manifest for `make run`

[2022-03-16 09:32] mx-psi opened #5009 "Tag and release core v0.47.0"
- [x] Push `release/v0.47.x` branch
- [x] Push v0.47.0 tags

[2022-03-16 09:32] mx-psi opened #5010 "Prepare contrib release v0.47.0"

[2022-03-16 09:33] mx-psi opened #5011 "Tag and release contrib v0.47.0"

[2022-03-16 09:33] mx-psi opened #5012 "Prepare otelcol-releases v0.47.0"

[2022-03-16 09:33] mx-psi opened #5013 "Release binaries and container images v0.47.0"

[2022-03-16 09:33] mx-psi opened #5014 "Release the operator v0.47.0"

[2022-03-16 12:18] jpkrohling commented on #4982
Thank you for the investigation, @pavankrish123!

[2022-03-16 12:24] #5007 closed

[2022-03-16 12:44] mx-psi commented on #5009
`release/v0.47.x` branch has been created and v0.47.0 tags have been pushed https://github.com/open-telemetry/opentelemetry-collector/tags

[2022-03-16 12:44] #5009 closed

[2022-03-16 15:50] Aneurysm9 commented on #4775
I am okay with making these changes directly.  Thanks for clearly laying out the case for policy exception here.

[2022-03-16 21:48] #5010 closed

[2022-03-17 08:52] yangtaoran opened #5025 "How to enter collector docker container"
I pull `otel/opentelemetry-collector` image from docker hub, then I  use `docker run -it --rm -d -p 4371:4371 otel/opentelemetry-collector:latest` command to run it with a container.
But I cannot enter to the running cntainer, my commands like this:
`docker exec -it c21e411918ae2acd5b3fffb06b394fcfa90e8f2c96c6ed3d63e5c8a5f1ff0bc6 sh`
`docker exec -it c21e411918ae2acd5b3fffb06b394fcfa90e8f2c96c6ed3

[2022-03-17 09:10] mx-psi commented on #5011
This is now done https://github.com/open-telemetry/opentelemetry-collector-contrib/releases/tag/v0.47.0 🎉

[2022-03-17 09:10] #5011 closed

[2022-03-17 09:10] #4706 closed

[2022-03-17 09:32] bogdandrutu commented on #5025
/cc @jpkrohling as our release expert

[2022-03-17 09:47] #5012 closed

[2022-03-17 09:57] bogdandrutu opened #5027 "Split otlp/otlpgrpc"
Decision was made to split the pdata package into multiple per signal packages, see https://github.com/open-telemetry/opentelemetry-collector/issues/4832.

As a followup we need to split the `otlp` and `otlpgrpc` as well since they are part of the same current module `model`. Here are some options:
1. Extract the current packages into separate module without no other changes.
2. Move everything fr

[2022-03-17 10:26] mx-psi commented on #5013
The release failed https://github.com/open-telemetry/opentelemetry-collector-releases/runs/5583746943?check_suite_focus=true

[code]

I am discussing with other approvers what to do

[2022-03-17 10:31] mx-psi commented on #5013
@djaglowski since this is an observIQ dependency, could you check this on your end? I can't open issues on the github.com/observiq/go-syslog repo

[2022-03-17 11:05] mx-psi commented on #5013
This makes the build pass locally https://github.com/observIQ/go-syslog/pull/1 cc @djaglowski

[2022-03-17 11:22] mx-psi commented on #5013
Second alternative is to exclude 386 builds for contrib until the above issue is fixed https://github.com/open-telemetry/opentelemetry-collector-releases/pull/83

[2022-03-17 11:35] mx-psi opened #5031 "[CI] Build on 386 architecture"
We don't build on 386 architecture on CI, but we do release 386 binaries for this distro. This means that if there is an issue like https://github.com/open-telemetry/opentelemetry-collector/issues/5013#issuecomment-1070762107, we don't detect it until potentially the very last step of the release.

We can add builds for Windows 386 and Linux 386 to CI on this repository to catch these build errors

[2022-03-17 11:37] mx-psi commented on #5013
Follow up tasks to mitigate this in the future:

- [ ] #5031
- [ ] open-telemetry/opentelemetry-collector-contrib/issues/8544
- [ ] https://github.com/open-telemetry/opentelemetry-collector-releases/issues/84
- [ ] https://github.com/open-telemetry/opentelemetry-collector-releases/issues/85

[2022-03-17 12:11] bogdandrutu commented on #4818
This is done correct? Feel free to reopen if that is not the case.

[2022-03-17 12:11] #4818 closed

[2022-03-17 12:30] mx-psi opened #5032 "Add build and test steps for Go 1.18"
Go 1.18 was released [two days ago](https://go.dev/blog/go1.18). As stated in the [compatibility](https://github.com/open-telemetry/opentelemetry-collector#compatibility) section, starting on Go 1.18, we want to add build and test steps for this new version, to ensure that we are compatible with it.

[2022-03-17 13:00] mx-psi commented on #4944
I think a good first step would be to have a single `make` subcommand on core and contrib to handle all individual changes for the prep PRs. Also, I left some TODOs here https://github.com/open-telemetry/opentelemetry-collector/issues/5013#issuecomment-1070821922 to make the release process smoother/make us able to catch errors sooner.

[2022-03-17 13:50] mx-psi commented on #5013
This was fixed by not promoting 386 binaries and packages for contrib and is done now

[2022-03-17 13:50] #5013 closed

[2022-03-17 13:51] mx-psi commented on #5014
@yuriolisa can I assign this to you?

[2022-03-17 13:52] bogdandrutu commented on #5032
/cc @dashpole

[2022-03-17 13:54] jpkrohling commented on #5025
At this moment, I don't think this is possible, as we use scratch images:
https://github.com/open-telemetry/opentelemetry-collector-releases/blob/fe8f76161c06c42d62024cd3b512bfe14d3a7fd1/distributions/otelcol/Dockerfile#L10-L20

You can certainly create new images based on this one. I'm moving this ticket to the releases repo, as I do think we need to discuss the best way to provide debugging cont

[2022-03-17 15:56] Aneurysm9 commented on #5031
Do we need to do the same for ARM?

[2022-03-17 16:24] mx-psi commented on #5031
Yes, I thought we were doing it already, but maybe we are doing it only on contrib. We should build on every arch-OS combination that we intend to do an official release of.

[2022-03-17 18:10] #5003 closed

[2022-03-18 01:04] dmitryax commented on #4775
@Aneurysm9 @bogdandrutu thanks for your feedback.

I submitted two PRs for the (2) approach:
- https://github.com/open-telemetry/opentelemetry-collector/pull/5035
- https://github.com/open-telemetry/opentelemetry-collector/pull/5034

[2022-03-18 05:53] kvcache commented on #4981
Hi @mx-psi, we'll update at some point in the not too distant future but the last time we did so there were silent backward incompatible changes that broke our metrics until every otel library in every component we have instrumented was updated. We'll need to plan some time to validate the safety of an update... or plan a day of metrics downtime. After that I can try the pprof extension.

[2022-03-18 07:50] aixasz commented on #4984
Thank you everyone, I think this issue  should be closed now.

[2022-03-18 08:18] mx-psi commented on #4981
I am sorry about that. If it helps, the metrics OTLP protocol is now considered stable, so you are less likely to experience problems in that front, and we now have [a more stringent policy](https://github.com/open-telemetry/opentelemetry-collector/blob/main/CONTRIBUTING.md#breaking-changes) for breaking changes with a required deprecation period. In any case, if something breaks, feel free to ope

[2022-03-18 08:38] rubenruizdegauna commented on #4984
Hi, I'm not sure if it's related but yesterday I installed `v0.47.0` in Ubuntu 20.04 and binary in systemd file is pointing to wrong location.
[code]

[2022-03-18 10:38] mx-psi commented on #4970
Apologies for the delay in replying!

IMO, for this to be comfortable to use, we would need  a function/struct/some public API that allows one to construct a fixed pipeline and handles the plumbing of telemetry, `component.BuildInfo`, `component.Host`...

I agree that we don't need `service.Collector` for this use case (we don't need the config providers complexity, and we don't want the modificat

[2022-03-18 17:14] codeboten commented on #5031
As discussed at triage on Mar-18, the real problem here is that there's a delta between what we're testing for every build vs what we're releasing.

[2022-03-18 17:16] codeboten commented on #5014
Reminder to close this once this other issue is closed: https://github.com/open-telemetry/opentelemetry-operator/issues/774.

For the future it probably makes sense to create this issue and transfer it to the operator repo, rather than having duplicate issues.

[2022-03-18 17:19] codeboten commented on #3454
Closing as resolved

[2022-03-18 17:19] #3454 closed

[2022-03-18 17:26] dmitryax commented on #4971
@mx-psi will you be able to work on this one?

[2022-03-18 20:10] gfonseca-tc opened #5038 "Monitoring docs seem outdated"
**Describe the bug**
I'm trying to configure some monitor around our collector gateway but I can't see some of the metrics listed in [this docs](https://github.com/open-telemetry/opentelemetry-collector/blob/main/docs/monitoring.md). I've configured the collector to scrape it own metrics and can see a list of them in my backend, but I can't see `otelcol_processor_dropped_spans` for instance. Not s

[2022-03-18 20:51] codeboten opened #5039 "Update branch protection"
As per the description in https://github.com/open-telemetry/opentelemetry-collector/pull/5037:

Assigning @bogdandrutu as I don't know if any other maintainers have access to update branch protection.

[2022-03-19 10:57] #5032 closed

[2022-03-19 10:59] bogdandrutu commented on #5039
Done.

Also any TC members have admin (including @tigrannajaryan) :)

[2022-03-19 10:59] #5039 closed

[2022-03-19 23:19] WarriorOfWire commented on #4951
I'm trying to write a tool that sends messages directly to opentelemetry collector and I receive this when sending messages via your proto service definition:
[code]

The very next thing I did to understand what the collector is looking for was to reach for `grpcurl`'s `list` verb.
[code]
I still do not know what's wrong.

Here is how I'm running otel:
[code]

Not supporting reflection at all is q

[2022-03-20 21:40] chalin opened #5040 "Add link to opentelemetry.io under About section"
Under the **About** section of this repo (which you can access from the main repo page -- click the gear icon next to the About title):

- Under **Website**, add https://opentelemetry.io

We're looking to do this uniformly for all OTel org repos.

For example:

[2022-03-21 02:14] dmitryax commented on #4988
Once https://github.com/open-telemetry/opentelemetry-collector/pull/5001 is merge we will get the following types:

AnyValue wrappers:
[code]

AnyValue collection wrappers :
[code]

So we will have `pdata.NewValueMap().MapVal()` returning a `pdata.Map` value.
But `pdata.NewValueArray().SliceVal()` returning a `pdata.Slice` value.

Not sure if we need to rename `pdata.ValueArray` or `pdata.Slice` t

[2022-03-21 09:07] mx-psi commented on #4971
Sure :)

[2022-03-21 11:29] bogdandrutu commented on #5040
Done.

[2022-03-21 12:30] jpkrohling commented on #5038
I'll add this to my queue to investigate, but I might not be able to look into this for the next couple of weeks.

[2022-03-21 12:40] #4942 closed

[2022-03-21 12:47] #5040 closed

[2022-03-21 15:11] hickeyma commented on #5002
@bogdandrutu I would be interested giving this a go if no one is working on it?

[2022-03-21 15:59] gfonseca-tc commented on #5038
Thank you very much @jpkrohling !

[2022-03-21 16:26] hickeyma commented on #5002
How about changing "location" to "configMapReference"?

[2022-03-21 16:58] bogdandrutu commented on #4988
Should we `NewValueArray` to `NewValueSlice`?

[2022-03-21 16:58] Aneurysm9 commented on #5002
`reference` might be viable, the `configMap` part should be implicit since we're in the context of a `configmap.Provider` (or possibly soon `config.MapProvider`).  I think that's still not quite right, though, as it doesn't give context for what the reference value means.

Since the value is supposed to be modeled after URIs, I think that `uri` would be an option to consider.

[2022-03-21 17:42] hickeyma commented on #5002
/assign

[2022-03-21 19:21] pmm-sumo opened #5056 "`obsreport`'s TracesDropped/MetricsDropped/LogsDropped are not actually used"
**Is your feature request related to a problem? Please describe.**

I noticed there are no references in code to [obsreport/obsreport_processor.go](https://github.com/open-telemetry/opentelemetry-collector/blob/main/obsreport/obsreport_processor.go)'s `TracesDropped`/`MetricsDropped`/`LogsDropped` functions (except for unit tests). They can be used to generate processor's `_dropped_spans`/`_droppe

[2022-03-21 22:35] Aneurysm9 commented on #4988
Do we have a constant defined for that string that is typically used?  If so and we update it simultaneously that might not be so bad, but if not we should look at what other options we have.  Is it the case that the `pdata.ValueType` value is typically compared directly and its stringification used only for log/debug output?

[2022-03-21 22:37] Aneurysm9 commented on #5002
I'd view that as similar to the [`data` URI scheme](https://en.wikipedia.org/wiki/Data_URI_scheme), but with some specificity to allow skipping the base64 encoding.

[2022-03-21 23:45] dmitryax commented on #4988
Yes it is. Result of `pdata.ValueType.String()` call is used in some output like [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/pkg/translator/jaeger/jaegerproto_to_traces.go#L288). String `"ARRAY"` isn't used as identifier anywhere. `pdata.ValueTypeArray` is used identifier instead. It's an `iota` constant which is should be fine to replace with `pdata.ValueTyp

[2022-03-22 07:17] yuriolisa commented on #5014
Version 0.47.0 has been released.

[2022-03-22 07:17] yuriolisa commented on #5014
https://github.com/open-telemetry/opentelemetry-operator/releases/tag/v0.47.0

[2022-03-22 08:20] #5014 closed

[2022-03-22 08:30] mx-psi commented on #4584
@TylerHelmuth While the `Validate` method is available on the `QueueSettings`, we still need to call `QueueSettings.Validate` on each `Config.Validate` method on opentelemetry-collector and opentelemetry-collector-contrib. This should be quite easy if you want to give it a try!

[2022-03-22 09:50] bogdandrutu commented on #5002
/cc @mx-psi since you asked for this

[2022-03-22 09:54] mx-psi commented on #5002
Thanks for the ping, I hadn't seen this. I would say the option I like the most is `uri`, I think it conveys the true meaning of the parameter better and would fit all the providers I can think of

[2022-03-22 10:56] hickeyma commented on #5002
That makes sense, thanks @Aneurysm9

[2022-03-22 10:57] hickeyma commented on #5002
Thanks @mx-psi,  will push a PR with the `uri` identifier.

[2022-03-22 13:08] braydonk opened #5059 "`[receiver/scraperhelper]`: Allow Scraper errors to be logged at `DEBUG` level"
**Is your feature request related to a problem? Please describe.**
Scrapers do not currently have any control over what level their errors are logged at. Sometimes, for example in the [hostmetrics process scraper](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/hostmetricsreceiver/internal/scraper/processscraper), the scraper will encounter errors that ideally

[2022-03-22 13:40] jpkrohling commented on #5056
There used to be, we might have lost it. Seems related to #5038

[2022-03-22 14:44] bogdandrutu commented on #4970
@mx-psi I would first look into a prototype of using the "components" and manually connect them in a pipeline without exposing the "Service". Let's try a prototype/experiment.

[2022-03-22 15:05] bogdandrutu commented on #4775
Closing this, since I believe we are done. @dmitryax feel free to reopen if that is not the case.

[2022-03-22 15:05] #4775 closed

[2022-03-22 15:55] mx-psi opened #5061 "`HTTPClientSettings.ToClient` is inconsistent with other `To*` config methods"
`confighttp.HTTPClientSettings.ToClient` takes an id-extension map while `configgrpc.HTTPServerSettings.ToServer` and all the `configrpc.*.To*` methods take a `component.Host`, in all cases to support authentication.

Ideally all would be consistent by passing `component.Host` to all of them, although I don't want to assume this is the best solution just because it's the most used one.

cc @jpkroh

[2022-03-22 16:47] bogdandrutu commented on #5061
I would vote to make it consistent and use `component.Host`.

[2022-03-22 17:27] TylerHelmuth commented on #4584
@mx-psi yes, but I've got some other items to complete first.  Once I've got those done I'll check back and if its still up for grabs I'll take it.

[2022-03-22 17:45] codeboten opened #5063 "Support OTLP v0.15.0"
Update the proto to the latest release: https://github.com/open-telemetry/opentelemetry-proto/releases/tag/v0.15.0. There are a few tasks to do here:
- [x] #5071
- [x] https://github.com/open-telemetry/opentelemetry-collector/issues/4258
- [x] #5072
- [x] #5073
- [x] #5074

[2022-03-22 20:13] shree007 commented on #4467
@bogdandrutu If nobody is using then I can proceed for code cleanup
cc: @mx-psi  @jpkrohling

[2022-03-22 20:21] shree007 commented on #5061
@jpkrohling  I may work on it.

[2022-03-22 23:03] Aneurysm9 commented on #4988
Maybe change the value in the `iota` block to `ValueTypeSlice` and later on have:

[code]

They're semantically identical and shouldn't have different values, I don't think.

[2022-03-23 06:05] dmitryax commented on #4988
Good idea. Thanks!

[2022-03-23 06:10] dmitryax commented on #5063
Will this include renaming of `pdata.InstrumentationLibrary` or we need another ticket for that?

[2022-03-23 06:14] dmitryax commented on #5059
Thanks for creating the ticket! I was looking into that and have some other ideas how to approach the problem. I'll assign it to myself unless you or someone else is willing to help.

[2022-03-23 06:18] dmitryax opened #5065 "[pdata] Rename `ValueTypeArray` to `ValueTypeSlice` for consistency with pdata.Slice"
Currently we have the following wrappers for proto AnyValue:

[code]

And the following wrappers for collection of `pdata.Value` :

[code]

So we have pdata.NewValueMap().MapVal() returning a pdata.Map value.

But pdata.NewValueArray().SliceVal() returning a pdata.Slice value.

We need to rename `ValueTypeArray` to `ValueTypeSlice` for consistency.

More details in the thread started here: https:/

[2022-03-23 06:19] dmitryax commented on #4988
The initial problem stated in this ticket is resolved now.  I created another follow-up issue for the `ValueTypeArray` renaming: https://github.com/open-telemetry/opentelemetry-collector/issues/5065

[2022-03-23 06:19] #4988 closed

[2022-03-23 06:54] dmitryax commented on #5065
@Aneurysm9 I think we don't even need to deprecate `ValueTypeArray` because it wasn't released yet. Let me know WDYT

[2022-03-23 11:54] braydonk commented on #5059
I would love to help, since I'm very invested in the outcome. It would be great to discuss what your ideas were and compare them to what I'd considered.

[2022-03-23 12:44] bogdandrutu commented on #3681
Closing, since this is supported right now via the map providers.

[2022-03-23 12:44] #3681 closed

[2022-03-23 13:15] bogdandrutu commented on #4467
@shree007 let's craft a PR.

[2022-03-23 13:29] bogdandrutu commented on #4258
I think this achieved the goal, and we should focus on updating to 0.15.0.

[2022-03-23 13:29] #4258 closed

[2022-03-23 13:36] bogdandrutu commented on #4665
Resolved. `Retrieved` is a struct now.

[2022-03-23 13:36] #4665 closed

[2022-03-23 13:38] bogdandrutu commented on #4584
@mx-psi. I think we should use reflection in the Config.Validation and look for all members that implement Validate and call it?

[2022-03-23 13:40] bogdandrutu commented on #4515
Closing this, since it does not seem to be a bug on our side.

[2022-03-23 13:41] bogdandrutu commented on #4380
@jpkrohling please document what is the decision and the ask here.

[2022-03-23 13:43] shree007 commented on #4467
Ok, I will do that.

On Wed, Mar 23, 2022 at 6:45 PM Bogdan Drutu ***@***.***>
wrote:

[2022-03-23 13:45] #3544 closed

[2022-03-23 13:49] bogdandrutu commented on #2910
Done. Use `--config=env:MY_ENV_CONFIG_VAR_NAME`

[2022-03-23 13:49] #2910 closed

[2022-03-23 13:54] bogdandrutu commented on #886
Closing this, since I think we have the default config in all the distros.

/cc @jpkrohling to confirm, and maybe open a separate issue if that is not the case.

[2022-03-23 13:54] bogdandrutu commented on #1048
The PR was merged for this, closing

[2022-03-23 13:54] #1048 closed

[2022-03-23 13:57] bogdandrutu commented on #4950
Closing since I believe that the validation is part of "unmarshaling" which happens before Validation, so a --dry-run can be implemented.

[2022-03-23 13:57] #4950 closed

[2022-03-23 14:37] jpkrohling commented on #4380
I'll give it a try and see if there's a way to get this working.

[2022-03-23 16:07] codeboten commented on #5059
As discussed in the SIG meeting on Mar 23, it may be helpful to provide a solution for all components, not just the scrapers.

[2022-03-23 16:13] jmacd commented on #5059
In the https://github.com/lightstep/opentelemetry-prometheus-sidecar I dealt with repeating errors in two ways:

1. Log them once per callsite per minute. This uses reflection to determine the source location of each log, here's a library: https://github.com/lightstep/opentelemetry-prometheus-sidecar/tree/main/telemetry/doevery
2. Emit metrics about the number of failures of each kind.

(1) Allows

[2022-03-23 16:15] codeboten commented on #5056
As discussed on Mar 23 - we should keep them and fix inconsistencies in them. It would be good to understand where/when their usage changed.

[2022-03-23 18:00] mx-psi commented on #4584
This sounds like a good idea, but it's unclear to me where this should happen. Would the service recursively check all struct fields on `config.Config` and call `Validate` for all of them? Or would this be a default implementation of `Validate` for component config structs?

[2022-03-23 18:11] mx-psi commented on #4467
We make use of `Set` on the Datadog Agent OTLP endpoint, to transform a Viper map into a `config.Map`. I think it's safe to remove and we could take a different approach and avoid using `Set`.

[2022-03-23 18:13] edude03 commented on #1358
👍 on this. Our use case is to use the collector as a sidecar for services that expose prometheus metrics but don't support OTEL. So we need a way to also forward details about the service/container along with the metrics

[2022-03-23 19:35] codeboten opened #5071 "update proto to 0.15.0"

[2022-03-23 19:35] codeboten opened #5072 "update InstrumentationLibrary to InstrumentationScope (underlying proto struct)"

[2022-03-23 19:35] codeboten opened #5073 "deprecate InstrumentationLibrary* in pdata in favour of Scope*"

[2022-03-23 19:35] codeboten opened #5074 "support transition phase of translating old proto to new proto"

[2022-03-23 20:01] #5065 closed

[2022-03-24 12:53] neelayu commented on #4806
@jpkrohling I took the liberty to work on this. Kindly check #5080

[2022-03-24 14:54] #5071 closed

[2022-03-24 17:49] jpkrohling commented on #4806
I'll take a look!

[2022-03-24 18:23] shree007 commented on #4467
@bogdandrutu Before removing I am checking and found that  there are two places where its being used
https://github.com/open-telemetry/opentelemetry-collector/blob/main/config/configmapprovider/expand.go#L30
https://github.com/open-telemetry/opentelemetry-collector/blob/main/config/internal/configsource/manager.go#L212
Should I still proceed to craft the PR for removing ?
Please let me know thanks

[2022-03-24 18:58] jpkrohling commented on #4380
I tried to get it, and while it's straightforward when using a single module, it's not that easy for nested modules. Like:

[code]

Removing the go.mod from the nested module (effectively making the repo a single module) makes it work:

[code]

I also wasn't able to get it working with goreleaser:

[code]

I'll close this, as what we have right now is working. It would be nice to have this support

[2022-03-24 19:23] jpkrohling commented on #5038
I just realized that you are talking about a metric related to tracing (otelcol_processor_dropped_spans), but you only have metrics pipelines.

I tried the simplest scenario that came to my mind and can confirm that the mentioned metrics are indeed available when a tracing pipeline is being used:

collector config (from examples/local/otel-config.yaml)
[code]

Then, I generated a few traces with:

[2022-03-24 19:23] jpkrohling commented on #5038
I'm closing this, but feel free to reopen if further clarification is needed.

[2022-03-24 19:24] #5038 closed

[2022-03-24 20:44] splunkericl opened #5084 "otel collector telemetry metrics server won't spawn again after restarting"
**Describe the bug**
When the collector is shutdown and run again(or another collector is run again), the telemetry metrics server won't spawn again.
- collector telemetry is shut down [here](https://github.com/open-telemetry/opentelemetry-collector/blob/main/service/collector.go#L277) when shutdown is called
- when collector is run telemetry is init [here](https://github.com/open-telemetry/opente

[2022-03-24 21:06] tigrannajaryan commented on #5084
Are you calling [Shutdown](https://github.com/open-telemetry/opentelemetry-collector/blob/cb868e20c8ffc616c7ca84c68834bb3bdeab82c3/service/collector.go#L128)? As far as I remember that puts the Service in a terminal state. It is not expected that Run will work again after that.

More importantly, why are you doing this? If you want to reload the Service with new config you need to use the [ConfigP

[2022-03-24 21:11] splunkericl commented on #5084
Even if we use the watch method, the internal implementation for watch is similar. See: https://github.com/open-telemetry/opentelemetry-collector/blob/cb868e20c8ffc616c7ca84c68834bb3bdeab82c3/service/collector.go#L162-L165

It would invoke the shutdown function and then Run with the new settings.

[2022-03-24 21:19] tigrannajaryan commented on #5084
OK, this looks like a legitimate bug in that case.

In any case I do not think we support calling Run after Shutdown right now. If you do that it may break in the future. I would advise to either use the watch approach or if you need Run to work after Shutdown we need a justification for that and we need to prescribe it in the contract of Service API and have tests that verify it.

Either way we n

[2022-03-25 08:58] #4681 closed

[2022-03-25 10:21] politician commented on #2310
Fix: https://github.com/open-telemetry/opentelemetry-js/blob/21fc8b5280af360a517707ee013a1f37ba38bdc0/experimental/packages/opentelemetry-instrumentation-http/test/functionals/https-enable.test.ts#L195-L197

[2022-03-25 17:12] dmitryax commented on #4947
@djaglowski said it can be upstreamed

[2022-03-25 17:12] dmitryax commented on #4946
cc @djaglowski

[2022-03-25 17:14] dmitryax commented on #4939
cc @djaglowski

[2022-03-28 02:03] danelowe opened #5102 "Cannot create a Timestamp with Zero value"
**Describe the bug**

I need to create a timestamp that has a Zero value in order to export correctly to Google Cloud

https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/b068af9a94200ed9c49d58f16817ea6d3066e6e6/exporter/collector/metrics.go#L740

Unfortunately, The timestamp uses an unsigned integer from Unix epoch, which means we can't simply create a Timestamp before 1970.

[2022-03-28 07:31] bogdandrutu commented on #5102
I think this is an issue in the Google implementation. /cc @dashpole

[2022-03-28 07:32] #5073 closed

[2022-03-28 13:13] dashpole commented on #5102
Note that because of https://github.com/open-telemetry/opentelemetry-collector/issues/4967, it isn't possible to use the new collector metrics exporter, since it is behind a feature gate.  It does look like a potential issue, though.

@danelowe what are you trying to accomplish?

[2022-03-28 13:54] dashpole commented on #5102
@bogdandrutu it does look like there is something strange going on with the zero time:

[code]

[2022-03-28 14:10] dashpole commented on #5102
So our exporter should use `timestamp == 0` instead of `timestamp.AsTime().IsZero()`

[2022-03-28 21:13] mx-psi commented on #4970
Opened a PoC on #5107, PTAL!

[2022-03-29 00:06] FreakyNobleGas commented on #4584
@TylerHelmuth, if you're not already working on this, I would like to work on it. :)

[2022-03-29 01:50] TylerHelmuth commented on #4584
@FreakyNobleGas its all yours.

[2022-03-29 07:42] ralphgj opened #5110 "Question about shutdown the queuedRetrySender"
Hi! We have a question about shutdown the `queuedRetrySender`.

In https://github.com/open-telemetry/opentelemetry-collector/blob/main/exporter/exporterhelper/queued_retry_inmemory.go#L147 comments, it seems will drain the queue before shutdown the `queuedRetrySender`.
[code]
But in https://github.com/open-telemetry/opentelemetry-collector/blob/main/exporter/exporterhelper/internal/bounded_memory_

[2022-03-29 15:27] bogdandrutu commented on #4970
I am a bit confused... I was looking also into the version where in your case you don't use anything in the service at all.

[2022-03-29 15:34] mx-psi commented on #4970
Oh, okay, completely misread your comment, sorry. Alright, I will try this out too this week :)

[2022-03-29 15:59] Aneurysm9 commented on #4970
The telemetry provider PoC looks nice, but I also was thinking that bogdan was looking for building a pipeline without a service.  That is the capability that would be most interesting to us in the Go SDK to enable re-use of the collector's exporters.

[2022-03-29 16:05] mx-psi commented on #4970
Yeah, sorry, as I said, I read Bogdan's message completely wrong 😅 I will try out that too at some point this week

[2022-03-29 18:03] bogdandrutu opened #5113 "Builder vs make gotidy output missmatch"
Investigate (and fix after) why the result of `make genotelcorecol` produces a different `cmd/otelcorecol/go.sum` than `make gotidy` on the head and no changes in `cmd/otelcorecol/go.mod`.

/cc @jpkrohling

[2022-03-29 20:06] #5072 closed

[2022-03-29 20:06] #5063 closed

[2022-03-29 21:51] bogdandrutu commented on #5110
I think you are correct. Would be good to have a test for this, and take it from there and fix the problem. The solution is simple we should make sure we consume all items on the "stop" case.

[2022-03-30 05:07] sveiss commented on #4970
We also have a use case for this feature:

We run an internal distribution of the collector to add some internally-built pipeline components. We do use the service package from the collector (our top-level code is similar to otelcontribcol in opentelemetry-collector-contrib).

We instrument our components with tracing, and we'd like to export these spans from the collector. It would also be nice t

[2022-03-30 06:53] blumamir commented on #4579
What a silly mistake 🤦‍♂️ . Thank you so much!! I was so lost with this issue

[2022-03-30 06:53] #4579 closed

[2022-03-30 13:49] #5113 closed

[2022-03-30 14:02] bogdandrutu opened #5118 "Investigate link checker, after upgrade tests are passing"
Since we upgraded to latest gaurav-nelson/github-action-markdown-link-check@1.0.14 (from 1.0.13) every time we change something in a md file with links we fail the link check, see:
https://github.com/open-telemetry/opentelemetry-collector/runs/5755269731?check_suite_focus=true

Something that may be related https://github.com/open-telemetry/opentelemetry-specification/pull/2426.

[2022-03-30 14:05] jpkrohling commented on #5102
Having a function with the same name as the one from the stdlib, but with different behavior, is not a very good user experience, IMO. Perhaps "IsInitialized" or "IsSet" would be better?

[2022-03-30 14:20] jpkrohling commented on #4579
Great catch, @seankhliao!

[2022-03-30 15:12] tigrannajaryan opened #5119 "Release v0.48.0"
Like #4522, but for v0.48.0

- [x] #5120
- [x] #5121
- [x] #5122
- [x] #5123
- [x] #5124
- [x] #5125
- [x] #5126

[2022-03-30 15:15] tigrannajaryan opened #5120 "Prepare core release v0.48.0"

[2022-03-30 15:15] tigrannajaryan opened #5121 "Tag and release core v0.48.0"

[2022-03-30 15:15] tigrannajaryan opened #5122 "Prepare contrib release v0.48.0"

[2022-03-30 15:15] tigrannajaryan opened #5123 "Tag and release contrib v0.48.0"

[2022-03-30 15:15] tigrannajaryan opened #5124 "Prepare otelcol-releases v0.48.0"

[2022-03-30 15:15] tigrannajaryan opened #5125 "Release binaries and container images v0.48.0"

[2022-03-30 15:16] tigrannajaryan opened #5126 "Release the operator v0.48.0"

[2022-03-30 19:26] #5120 closed

[2022-03-30 20:26] #5121 closed

[2022-03-30 20:36] FreakyNobleGas commented on #4584
Hey @mx-psi & @bogdandrutu, I've been attempting to implement the approach bogdandrutu described using reflection, but having some trouble with getting the Validate method using reflect.

Just as a proof of concept, my initial approach was to go [through each Exporter in config.go](https://github.com/open-telemetry/opentelemetry-collector/blob/main/config/config.go#L73) and find the nested structu

[2022-03-31 02:34] #5123 closed

[2022-03-31 05:41] pavankrish123 commented on #4982
Hi @jpkrohling, I see that there is a new instruction added in our [standard example](https://medium.com/opentelemetry/securing-your-opentelemetry-collector-1a4f9fa5bd6f) about adding the collector (gateway) client as the audience for the tokens issued for agent clients. (unless I missed it while I did my previous test)

Starting the setup of keycloak server  with the mapper step produces no 401 e

[2022-03-31 09:46] jpkrohling commented on #4982
Nothing changed about the audience lately, perhaps it was a setup issue in a previous test?

[2022-03-31 13:04] #5124 closed, assigned to nobody

[2022-03-31 13:12] jpkrohling commented on #5126
cc @pavolloffay, @VineethReddy02, @yuriolisa

[2022-03-31 17:24] trudyq commented on #4982
Hi,

I must have made a mistake in my setup last time when i said it didn't work with 'Authorization'. Sorry about that.

I just tested it again and confirm. It works only if i set oidc's attribute property with 'Authorization" with an 'A' like @pavankrish123 said.

Tested OK with collector 0.44 and 0.48.

But if i dont set oidc's attribute property or if i set a custom value it does not work.

[2022-03-31 21:12] petertamuk commented on #5118
Hello, I'm new to contributing and would like to look in to this issue if that's alright.

Taking a look over at github-action-markdown-link-check it appears the owner has move v1.0.14 to a per-release version and labelled v1.0.13 as the latest.  Issue: [127](https://github.com/gaurav-nelson/github-action-markdown-link-check/issues/127)

I believe the actions for this issue would simply involve up

[2022-03-31 21:45] pavankrish123 commented on #4982
Thanks @trudyq

@jpkrohling shall I go ahead and change the default value of attribute to "Authorization" from "authorization" ? That way we can conclude this issue.

[code]

[2022-04-01 08:20] yuriolisa commented on #5126
/assign

[2022-04-01 08:56] jpkrohling commented on #5038
Please, post a reproducer here and I'll reopen this issue. The reproducer would be a configuration file that demonstrates the issue, plus a client sending traces. If you can use tracegen for that, even better.

Based on my previous test, I have reasons to believe that this is working, but if you give me a way to reproduce the problem, I'll gladly work on this.

[2022-04-01 09:05] jpkrohling commented on #4982
No, that's not a valid solution, as gRPC uses it with lower case. Changing from "A" to "a" would break gRPC. We'd need a way to match this header in a case-insensitive manner.

[2022-04-01 09:07] jpkrohling commented on #4982
Looks like this isn't an issue after all. I'm closing this.

[2022-04-01 09:07] #4982 closed

[2022-04-01 13:56] gfonseca-tc commented on #5038
I will create a better example @jpkrohling , sorry for that! Just to confirm what is the expected behavior: if I have a trace pipeline with traces going through I should be able to see the metric being emitted even if it is 0, right?

[2022-04-01 15:17] bogdandrutu commented on #5118
Indeed seem to be lots of errors... But our errors seem to be for internal references, which I am confident should work. All dead links are internal:

[code]

[2022-04-01 15:21] rquedas opened #5134 "Tutorials to help developers learn the Collector's concepts and how to build components for it"
**Is your feature request related to a problem? Please describe.**

OpenTelemetry is a great gateway to enable observability for any type of systems, and the Collector plays a major role in helping transforming and processing the telemetry from these systems into the OTel world.

Unfortunately there is very little content/material develop to help developers understand how to build Collector compon

[2022-04-01 18:19] dmitryax opened #5137 "[pdata] Consider removing wrapping for Span/TraceID"
Originally posted [here](https://github.com/open-telemetry/opentelemetry-collector/pull/5087#discussion_r840795893) by @bogdandrutu

[2022-04-01 18:22] dmitryax commented on #5137
@bogdandrutu it sounds reasonable. Do you remember why they were wrapped? It doesn't look like it help to restrict direct access to the bytes.

[2022-04-01 19:19] mx-psi commented on #4584
I am not familiar enough with reflection in Go to really help with this, but I can say that I managed to reproduce it https://go.dev/play/p/o73crbqvPbE and the problem is that there are zero methods on the `reflect.Value` you are building.

[2022-04-01 19:46] bogdandrutu commented on #5137
Yes, for helpers like "IsValid".

[2022-04-01 19:46] bogdandrutu commented on #5137
Also to allow us in the future to change that. But that ship I think is sailed since we say in specs and protocol that we are w3c compatible :)

[2022-04-01 20:30] Beardface123 opened #5139 "Allow for use of Environment Variables inside of the Collector Configuration"
**Is your feature request related to a problem? Please describe.**
When using the collector for Prometheus metrics as a Kubernetes deployment and using a Configmap to store the configuration, one of my external labels needs to differ between each deployment replica.   This would be much easier if the collector were able to expand environment variables in the configuration

**Describe the solution