[2019-05-13 21:33] songy23 opened #5 "REQUEST: New membership for songy23"
### GitHub Username

@songy23

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](https:/

[2019-05-13 21:34] songy23 commented on #5
P.S request to add myself as an approver of this repo.

[2019-05-13 21:48] bogdandrutu commented on #5
+1

[2019-05-24 15:52] tigrannajaryan opened #7 "Introduce stretchr/testify test helper library"
http://github.com/stretchr/testify is a nice library for Go code that helps write cleaner tests. It will be great to introduce this to our codebase.

[2019-05-29 16:26] tigrannajaryan opened #8 "Introduce end-to-end performance test bed"
The goal is to a create a test best - controlled environment and tools for conducting performance tests for the OpenTelemetry Agent, including reproducible short-term benchmarks, long-running stability tests and maximum load stress tests.

The test bed must allow specifying a configuration of the test, the load that needs to be generated, and be able to run and produce machine and human readable r

[2019-05-30 13:59] tigrannajaryan commented on #8
@flands can you assign this to me?

[2019-05-30 14:43] tigrannajaryan commented on #8
Thanks, @SergeyKanzhelev

[2019-05-30 16:07] SergeyKanzhelev opened #10 "documentation: add some vision notes to clarify relationships with FluentBit and Prometheus"
This is vision/documentation issues.

There are other log forwarding and metrics aggregation products on the market and used by some customers as side cars or collectors. Namely [FluentBit](http://fluentbit.org/) and [Prometheus](https://prometheus.io/). OpenTelemetry agent and collector has some unique capabilities comparing to either of those solutions. It will be great to have some document exp

[2019-06-03 20:13] tigrannajaryan commented on #8
@bogdandrutu @SergeyKanzhelev I have the first version of the performance test bed implemented and running. The repo is here https://github.com/Omnition/opentelemetry-service-testbed and the execution results look like this https://github.com/Omnition/opentelemetry-service-testbed/blob/master/tests/results/TESTRESULTS.md

We would like to contribute this to OpenTelemetry. The only question is if i

[2019-06-03 20:33] SergeyKanzhelev commented on #8
@tigrannajaryan repos looks to be private. If those are generic enoguh - we should definitely pick those up.

I assume you want a separate repository, not this one. Every repo is bootstrapped with a couple of maintainers. Ideally from different companies. So the standard process of becoming approver and maintainer can work. As we are in early stages we are expediting this process. So it is absolut

[2019-06-03 20:39] tigrannajaryan commented on #8
@SergeyKanzhelev Sorry, I have just made it public if you want to have a look.
Let me see if there is anyone else from other companies interested in being an additional maintainer.

[2019-06-03 20:43] SergeyKanzhelev commented on #8
@bogdandrutu @@songy23 any of you interested?

[2019-06-03 20:48] songy23 commented on #8
Feel free to add me, or we can just reuse the code owners in this repo.

[2019-06-03 20:50] tigrannajaryan commented on #8
Thanks @songy23 :-)

@SergeyKanzhelev would it be enough to bootstrap the testbed with me, @pjanotti (also from Omnition) and @songy23 as maintainers?

[2019-06-03 23:29] SergeyKanzhelev commented on #8
Absolutely. I see no problems with this. I can set everything up later tonight or in the morning tomorrow.

[2019-06-03 23:37] tigrannajaryan commented on #8
Thanks @SergeyKanzhelev

Let me know if there is anything that I can help with. You can either fork our repo and I will delete our copy or I can transfer ownership of our repo to open-telemetry Github org. Whichever you prefer.

[2019-06-03 23:38] tigrannajaryan opened #12 "Bootstrap OpenTelemetry Service using OpenCensus Service as the base"
# Goals
We need to bootstrap the OpenTelemetry Service using the existing OpenCensus Service codebase. We previously discussed with @bogdandrutu, @pjanotti and @songy23 and agreed to split the Service codebase into 2 parts: core and contrib. This bootstrapping is a good opportunity to do the splitting by only including in the OpenTelemetry Service core the minimum number of receivers and exporters

[2019-06-04 04:38] SergeyKanzhelev commented on #8
You can send PR here: https://github.com/open-telemetry/opentelemetry-service-testbed

I will make you maintainers once PR will be approved in community repo. Just in case anybody have concerns

[2019-06-04 12:27] tigrannajaryan commented on #8
@SergeyKanzhelev here is the PR: https://github.com/open-telemetry/opentelemetry-service-testbed/pull/2
Thank you.

[2019-06-06 23:30] bogdandrutu commented on #8
QQ: Why this cannot live in the same repo with the service?

[2019-06-06 23:39] tigrannajaryan commented on #8
@bogdandrutu It can.

The only reason I wanted it to be separate is to be able to get maintainer rights, which I thought would be easier for this small subset of codebase. The reason I want to have maintainer rights is that we (at Omnition) are currently very actively investing into the testbed and adding end-to-end tests in order to improve our confidence in the Service and have automated track r

[2019-06-06 23:55] pjanotti commented on #12
Proposed list of receivers:

* Prometheus
* Jaeger (agent and collector ones)
* Zipkin
* OpenCensus, temporarily until OpenTelemetry one is available (we may want to keep OC for longer to facilitate migrations)

We should not bring any of the OpenCensus exporters based on the client library: we experienced issues regarding inconsistency buffering, retries, observability, etc. We should aim to have

[2019-06-07 02:10] SergeyKanzhelev commented on #8
It will be great if eventually tests would include some unusual combinations of arguments like span with a lot of links and such. And those can be used by other repositories. At least this was my expectation for creating a separate repo =)

If permissions is the only problem - we should fix it and ask maintainers to iterate faster

[2019-06-07 02:29] tigrannajaryan commented on #8
I think from technical perspective it can work with either approach, in the same repo or separate.

From organizational perspective it probably makes a little more sense to have the tests in the same repo since it is highly likely that the same people work the Service will also work on the test bed.

My only concern is the ability to move at sufficient velocity. I have internal deadlines which wil

[2019-06-07 05:32] SergeyKanzhelev commented on #8
@bogdandrutu you are one of maintainers on service. Can you please decide on how to move forward here.

[2019-06-07 17:03] bogdandrutu commented on #8
We should stay with this repo.

[2019-06-07 17:04] bogdandrutu commented on #8
@tigrannajaryan when you are ready please move the code here when you feel ready.

[2019-06-07 17:04] #8 closed

[2019-06-12 18:02] tigrannajaryan opened #13 "Identify receivers, exporters and processors that will be part of the core."
Core OpenTelemetry Service will include only a subset of receivers and exporters that are currently supported by OpenCensus Service.

The rest of receivers and exporters will be moved to a separate contrib repo.

Here is the proposed list of receivers and exporters that will be supported by OpenTelemetry Service code:

- Prometheus
- Jaeger (agent and collector ones)
- Zipkin
- OpenCensus, tempora

[2019-06-12 18:03] tigrannajaryan commented on #13
@pjanotti @bogdandrutu please comment.

[2019-06-13 00:20] pjanotti commented on #13
I agree with this set.

[2019-06-14 12:59] tigrannajaryan commented on #12
Done, added as a doc.

[2019-06-14 12:59] #12 closed

[2019-06-14 12:59] tigrannajaryan commented on #13
Done, added as a doc.

[2019-06-14 12:59] #13 closed

[2019-06-14 13:00] tigrannajaryan commented on #7
We will get this for free when we bootstrap from OpenCensus, which already includes this library. Closing this as there is nothing else to be done.

[2019-06-14 13:00] #7 closed

[2019-06-19 22:20] etsangsplk opened #24 "There is no make docker-agent in makefile as said in README under demos"
README under https://github.com/open-telemetry/opentelemetry-service/tree/master/demos/trace
writes about
[code]

[2019-06-19 23:45] tigrannajaryan opened #26 "Setup Travis CI builds"

[2019-06-20 01:55] tigrannajaryan commented on #26
@SergeyKanzhelev I don't seem to have rights to configure the repo to be able to add the Travis CI build.
Since I am a maintaner can you give the rights to be able to change repo settings so that I can configure branch protection rules, etc?

[2019-06-20 02:17] bogdandrutu commented on #26
Done, also removed @flands since he is not a maintainer, you and @pjanotti can help him if anything is needed.

[2019-06-20 02:17] #26 closed

[2019-06-20 02:27] tigrannajaryan commented on #26
Thanks.

[2019-06-20 02:58] songy23 commented on #24
Those are just removed in https://github.com/open-telemetry/opentelemetry-service/pull/21.

[2019-06-20 17:36] rghetia opened #28 "make docker-otelsvc fails"
GOOS=linux /Library/Developer/CommandLineTools/usr/bin/make otelsvc
GO111MODULE=on CGO_ENABLED=0 go build -o ./bin/otelsvc_linux -ldflags "-X github.com/open-telemetry/opentelemetry-service/internal/version.GitHash=3aac7c1 " ./cmd/otelsvc
cp ./bin/ocotelsvc_linux ./cmd/ocotelsvc/
cp: directory ./cmd/ocotelsvc does not exist
make[1]: *** [docker-component] Error 1
make: *** [docker-otelsvc] Error 2

[2019-06-20 18:21] #28 closed

[2019-06-20 22:05] rghetia opened #30 "Add resource for VM Metrics receiver."
Metrics reported by VM Metric receiver do not contain any resources. It is very desirable to have resources auto detected for VM Metrics.

[2019-06-21 06:15] flands commented on #24
It is highly recommended you use the OC Service repo for now -- with that said, will put up a bandaid PR to address.

[2019-06-21 12:39] tigrannajaryan opened #33 "Add factory and new-style config for Prometheus receiver"
See Jaeger receiver factory.go and config.go as an example.

[2019-06-21 12:40] tigrannajaryan opened #34 "Add factory and new-style config for Zipkin receiver"
See Jaeger receiver factory.go and config.go as an example.

[2019-06-21 12:40] tigrannajaryan opened #35 "Add factory and new-style config for VMMetrics receiver"
See Jaeger receiver factory.go and config.go as an example.

[2019-06-21 12:41] tigrannajaryan opened #36 "Add factory and new-style config for Jaeger exporter"
See OpenCensus exporter factory.go and config.go as an example.

[2019-06-21 12:42] tigrannajaryan opened #37 "Add factory and new-style config for Logging exporter"
See OpenCensus exporter factory.go and config.go as an example.

[2019-06-21 12:42] tigrannajaryan opened #38 "Add factory and new-style config for Prometheus exporter"
See OpenCensus exporter factory.go and config.go as an example.

[2019-06-21 12:43] tigrannajaryan opened #39 "Add factory and new-style config for Zipkin exporter"
See OpenCensus exporter factory.go and config.go as an example.

[2019-06-21 13:31] tigrannajaryan opened #41 "BUG: Data race in ocmetrics.TestExportProtocolViolations_nodelessFirstMessage"
Test randomly failed when building on Travis CI: https://travis-ci.org/open-telemetry/opentelemetry-service/builds/548680880?utm_source=github_status&utm_medium=notification

[code]

[2019-06-21 14:39] pjanotti opened #43 "BUG: Data race in TestApplication_StartUnified"
From this Travis run: https://travis-ci.org/open-telemetry/opentelemetry-service/builds/548531356?utm_source=github_status&utm_medium=notification

[code]

[2019-06-21 14:53] pjanotti opened #44 "Add docker-compose for configV2"
We have one under /demos/traces for legacy config. It serves users both as an example and quick way to run tests. We should include the metrics in the composer too (with a prometheus server).

[2019-06-21 15:37] #33 closed

[2019-06-21 15:37] #34 closed

[2019-06-21 16:39] tigrannajaryan commented on #43
Root cause is in Jaeger Agent implementation. I filed a bug with Jaeger: https://github.com/jaegertracing/jaeger/issues/1624

I will see if there is a good workaround.

[2019-06-21 18:01] tigrannajaryan commented on #43
I submitted a PR to fix the bug in Jaeger: https://github.com/jaegertracing/jaeger/pull/1625

There is no good workaround except adding a pause in our tests. I will do it if PR does not get merged quickly.

[2019-06-22 00:00] #30 closed

[2019-06-24 22:17] tigrannajaryan opened #46 "Add factory and new-style config for Queued processor"
See addattributesprocessor for example.

[2019-06-24 23:02] etsangsplk opened #48 "docker-component on Makefile fails on otelsvc"
GO111MODULE=on CGO_ENABLED=0 go build -o ./bin/otelsvc_linux -ldflags "-X github.com/open-telemetry/opentelemetry-service/internal/version.GitHash=2a40f54 " ./cmd/otelsvc
cp ./bin/ocotelsvc_linux ./cmd/ocotelsvc/
cp: directory ./cmd/ocotelsvc does not exist

Because:

docker-component is assuming all component has a "oc" prefix.

docker-otelsvc:
	COMPONENT=otelsvc $(MAKE) docker-component <<--

[2019-06-24 23:12] etsangsplk opened #49 "cmd/occollectpr/Dockerfile and cmd/otelsvc/Dockerfile assumes platform is always linux"
both of those files assumes the built platform is always linus but in Makefile unde rthe main repo, it tries to detect it on runtime. So this will fail on say darwin.

Example:
FROM alpine:latest as certs
RUN apk --update add ca-certificates

FROM scratch
COPY --from=certs /etc/ssl/certs/ca-certificates.crt /etc/ssl/certs/ca-certificates.crt
COPY occollector_linux / .  <---
ENTRYPOINT ["/occollect

[2019-06-24 23:30] pjanotti commented on #49
Hi @etsangsplk the docker images are built always for linux since it runs on top scratch images. See https://github.com/open-telemetry/opentelemetry-service/blob/master/Makefile#L92-L94

[2019-06-24 23:35] tigrannajaryan commented on #48
I can reproduce the failure on `make docker-collector` but not on `make docker-otelsvc`. The later passes successfully.

[2019-06-24 23:37] tigrannajaryan commented on #48
@pjanotti Rather than trying to fix I suggest to remove target `docker-collector` from makefile. We only need the unified `docker-otelsvc`.
Having `docker-collector` in the makefile is misleading and unnecessary.
Thoughts?

[2019-06-24 23:48] pjanotti commented on #48
I think it is a good idea since the collector is temporarily present just to help with compatibility tests, the real target is `otelsvc`.

[2019-06-24 23:51] tigrannajaryan commented on #48
Sounds good. I'll remove `docker-collector` target, but will keep `collector` which builds the binary and which can be used in compatibitity tests if needed (the testbed is executing the binary directly, it doesn't need the docker image).

[2019-06-25 00:06] etsangsplk commented on #48
$(GOOS) will be darwin if it is on Mac.
otelsvc:
	mkdir -p ./cmd/otelsvc
	GO111MODULE=on CGO_ENABLED=0 go build -o ./bin/otelsvc_$(GOOS) $(BUILD_INFO) ./cmd/otelsvc

But docker-component still looks for _linux ..
cp ./bin/$(COMPONENT)_linux  <---

[2019-06-25 00:17] tigrannajaryan commented on #48
@etsangsplk `docker-component` target does not depend on `otelsvc` target. Can you provide exact reproduction steps? Are you running `make docker-otelsvc` on Mac?

Also, where do you see `oc$(COMPONENT)`? It is nowhere in makefile.

[2019-06-25 00:20] etsangsplk commented on #48
Mine repo is old. It was removed 4 days ago. Sync to master and it is now fine.

https://github.com/open-telemetry/opentelemetry-service/commit/8772c908dd28b64617fd6b501583151d0c49ed7d

[2019-06-25 00:27] etsangsplk commented on #49
My repo is old.

[2019-06-25 00:27] #49 closed

[2019-06-25 01:05] tigrannajaryan commented on #48
OK, good to know. Thanks for reporting the issue anyway. I am going to remove `docker-component` target to avoid confusion in the future.

[2019-06-25 01:06] tigrannajaryan commented on #48
Done, closing the issue.

[2019-06-25 01:06] #48 closed

[2019-06-25 13:14] tigrannajaryan opened #52 "Add factory and new-style config for Batch processor"
See addattributesprocessor for example.

[2019-06-25 14:55] tigrannajaryan commented on #41
Happend again: https://travis-ci.org/open-telemetry/opentelemetry-service/builds/550328623?utm_source=github_status&utm_medium=notification

[2019-06-25 18:33] pjanotti opened #55 "Support independent queued-retry per Exporter"
We need to have such capability on configV2.

[2019-06-25 20:14] etsangsplk opened #56 "Deployment diagram on READMe still refers to OpenCensus"
dito on Configuration secton on README

[2019-06-25 20:49] pjanotti opened #57 "doc: update documentation for memory ballast usage"
See https://github.com/open-telemetry/opentelemetry-service/pull/45#pullrequestreview-254215580

[2019-06-25 21:26] pjanotti opened #58 "test: mem ballast test fails on Darwin"
[code]

[2019-06-25 21:31] pjanotti opened #59 "test: TestCreateTraceExporter flaky"
Failed once but passed other times, perhaps it is related to using Darwin instead of Linux

[code]

[2019-06-25 22:53] tigrannajaryan commented on #59
I noticed this happening with TestCreateTraceExporter in the past and this failure is inherited from exporter tests which I copied from old implementation. Definitely needs fixing.

[2019-06-25 22:57] tigrannajaryan commented on #58
@owais looks like non-portable code.

[2019-06-25 23:07] owais commented on #58
I'll try to fix it tomorrow. Please assign to me (I can't find a way to assign myself).

[2019-06-25 23:09] songy23 commented on #24
Fixed in #32.

[2019-06-25 23:09] #24 closed

[2019-06-26 00:40] songy23 opened #60 "Import the changes in Prometheus receiver from OpenCensus-Service."
See https://github.com/census-instrumentation/opencensus-service/pull/572.

/cc @dinooliva @rghetia

[2019-06-26 23:13] pjanotti opened #63 "testbed: validate perf and memory for ballast"
This is a follow up to https://github.com/open-telemetry/opentelemetry-service/pull/61 to be pursued when https://github.com/open-telemetry/opentelemetry-service/pull/54 is merged.

[2019-06-28 03:37] tigrannajaryan opened #66 "Fix Preceiver creation in prometheusreceiver/factory.go to pass the logger"
Change in https://github.com/open-telemetry/opentelemetry-service/pull/65 did not implement this.

Preceiver creation in prometheusreceiver/factory.go to pass the logger. That in turn will require CreateMetricsReceiver() to accept the logger as a parameter.

[2019-06-28 03:38] tigrannajaryan opened #67 "Add E2E test using Prometheus receiver"
We don't have E2E test with Prometheus and changes that can break it are not caught.

[2019-06-28 03:39] tigrannajaryan commented on #66
Also look into adding E2E test for Prometheus: https://github.com/open-telemetry/opentelemetry-service/issues/67

[2019-06-28 03:44] tigrannajaryan opened #68 "Enable E2E test running on Travis CI"

[2019-06-28 05:46] dinooliva commented on #66
Understood - I'll put together a pr for it.

[2019-06-28 13:23] tigrannajaryan commented on #52
This is done.

[2019-06-28 13:23] #52 closed

[2019-06-28 13:23] tigrannajaryan commented on #46
This is done.

[2019-06-28 13:23] #46 closed

[2019-06-28 17:02] flands commented on #56
Known, thanks for opening

[2019-06-28 18:30] dinooliva commented on #66
Looked into the issue - for clarification, factory.CreateMetricsReceiver(...) currently takes two standard parameters (i.e. cfg and consumer) - simply adding the parameter to my local CreateMetricReceiver doesn't compile (unsurprisingly)

To add the logger, it looks like I need to update the CreateMetricReceiver signature in https://github.com/open-telemetry/opentelemetry-service/blob/master/inter

[2019-06-28 18:32] tigrannajaryan commented on #66
@dinooliva yes, that's correct.

@owais you also needed exactly this. Any chance your already started working on this?

[2019-06-28 18:57] tigrannajaryan commented on #68
Done.

[2019-06-28 18:57] #68 closed

[2019-06-28 19:00] tigrannajaryan commented on #66
For uniformity we also need to pass the logger to `CreateTraceReceiver`.

We already pass the logger in `CreateTraceProcessor`/`CreateMetricsProcessor` as the first parameter, so let's make it the first parameter everywhere.

We can also do the exact same thing for exporters, either in the same PR or as a separate PR.

[2019-06-28 19:14] owais commented on #66
No, not working on this specifically and would benefit from this greatly. Thanks.

[2019-06-28 19:36] songy23 commented on #60
Fixed in https://github.com/open-telemetry/opentelemetry-service/pull/65.

[2019-06-28 19:36] #60 closed

[2019-06-29 00:34] dinooliva commented on #66
Sounds good - I should be able to take care of it early next week.

[2019-07-01 16:01] dinooliva opened #75 "Update exporter creators to take a zap.Logger parameter"
To be consistent with receivers and processors, update exporter creators to take a zap.Logger parameter.

[2019-07-01 16:03] dinooliva commented on #66
Fixed. I've also created issue #75 for exporters - I'll try to fix that one later this week.

[2019-07-01 16:11] pjanotti opened #76 "Add Memory Limiting Capability to Service"
## Memory Limiting

Due to the high variability inherent to telemetry data it is hard to estimate the memory consumption when running the agent or collector. In practice users have to allocate the maximum amount of memory that will be available for each instance. On the steady state the memory consumption is expected to be low but in any case the service needs to gracefully handle when data is not

[2019-07-01 16:12] pjanotti commented on #76
/cc @songy23 @tigrannajaryan @owais

[2019-07-01 16:38] pjanotti opened #77 "testbed: sometimes process is left running holding Jaeger UDP port 6831"
[code]

I will see if I can get better repro steps but it seems just by running testbed with performance tests.

[2019-07-01 16:52] tigrannajaryan commented on #77
Can you check if otelsvc process stays in running in memory?

[2019-07-01 17:00] tigrannajaryan commented on #76
@pjanotti this can possibly be combined with general throttling capability. Throttling can be triggered by several conditions:
- When memory usage approaches the limit (what you described).
- When destination servers signal backpressure to exporters.
- Probably some other cases (e.g. when CPU usage is too high).

Throttling may be applied at different points in the system
- Receivers (what you des

[2019-07-01 17:50] pjanotti commented on #77
[code]

[2019-07-01 17:53] tigrannajaryan opened #81 "Fix data race in childProcess.GetResourceConsumption/watchResourceConsumption"
[code]

[2019-07-01 19:48] tigrannajaryan commented on #81
Fixed.

[2019-07-01 19:48] #81 closed

[2019-07-01 19:49] tigrannajaryan commented on #77
This can happen if TestCase.Stop() hangs before killing service process and `go test` eventually kills the test.

[2019-07-01 21:31] #66 closed

[2019-07-02 00:01] tigrannajaryan commented on #43
Jaeger PR is now fixed. However updating to use latest Jaeger is not straightforward. They have breaking changes.

[2019-07-02 16:19] dinooliva commented on #37
I'll work on this.

[2019-07-02 17:50] dinooliva commented on #75
Fixed.

[2019-07-02 17:53] #75 closed

[2019-07-02 22:39] pjanotti opened #93 "Refactor queued-retry"
The type has low test coverage, large functions, and poor test coverage. While doing this we should also check its performance.

[2019-07-02 22:51] pjanotti opened #94 "Logging Damper: avoid heavy logging when appropriate"
The service needs to provide good observability to its users but it needs to be careful about not overwhelming the system with logging/metrics/traces. In this regard logging is typically the most problematic one. Ideally we should provide a global solution instead of doing piece meal (the typical log every x times or x seconds).

[2019-07-02 22:55] dinooliva commented on #37
Fixed

[2019-07-02 23:04] #37 closed

[2019-07-02 23:28] MohamedElqdusy commented on #36
Hi @tigrannajaryan, I'd like to pick this one.

[2019-07-02 23:31] tigrannajaryan commented on #94
I found that this approach works well for high-perf services that need to log:
1. Have 2 modes of operation for each log statement, regular and throttled.
2. In regular mode all logs are printed.
3. In throttled mode you only print one exemplar followed by a counter of "similar" logs since last print.
4. Frequency of logs triggers movement from regular to throttled mode and back. Frequency is coun

[2019-07-02 23:36] tigrannajaryan commented on #36
@MohamedElqdusy great! Assigned to you.

[2019-07-03 02:41] tigrannajaryan commented on #35
Done.

[2019-07-03 02:41] #35 closed

[2019-07-03 02:44] tigrannajaryan commented on #38
Done.

[2019-07-03 02:44] #38 closed

[2019-07-03 13:12] tigrannajaryan opened #97 "Upgrade Jaeger to latest version"
Jaeger version that we use has this bug: https://github.com/jaegertracing/jaeger/pull/1625

The bug is already fixed, we need to update to the latest version and rollback this workaround: https://github.com/open-telemetry/opentelemetry-service/pull/96

Upgrading to latest Jaeger is not straightforward. They have breaking changes.

[2019-07-03 17:05] bogdandrutu opened #98 "Rename demos/trace to examples/trace"
Usually Go package prefers examples instead of demos.

[2019-07-03 17:06] bogdandrutu opened #99 "Rename models package to configmodels"
Models is not suggestive enough to represent the meaning of this package.

[2019-07-03 17:06] songy23 commented on #98
There's already an `example` package: https://github.com/open-telemetry/opentelemetry-service/tree/master/example. Maybe consider putting it there.

[2019-07-03 17:12] songy23 opened #100 "exporter/prometheus: bring in source code from Orijtech repo"
Original issue: https://github.com/census-instrumentation/opencensus-service/issues/478.

/cc @odeke-em

[2019-07-03 17:21] bogdandrutu opened #102 "Explain why do we need a tools package"
https://github.com/open-telemetry/opentelemetry-service/tree/master/tools

Can this be removed?

[2019-07-03 17:25] bogdandrutu commented on #98
I think we should rename example -> examples. And give a proper name to the example that is already there.

[2019-07-03 17:26] pjanotti opened #104 "test: TestCreateReceiver failed on Darwin"
Just received this one locally, notice that I'm on Darwin

[code]

[2019-07-03 17:27] tigrannajaryan commented on #104
Hmm, the test probably needs to be skipped on Darwin? I am not sure if vmmetrics is expected/supposed to work on Darwin?

[2019-07-03 17:28] songy23 commented on #104
Currently VM Metrics receiver only supports Linux. For Darwin, Windows etc. the config should just exit without errors.

[2019-07-03 17:31] songy23 commented on #104
See https://github.com/census-instrumentation/opencensus-service/blob/c07166e49481bf0ba6dbb9a146fd6c21d0344d95/receiver/vmmetricsreceiver/metrics_receiver.go#L85-L95.

[2019-07-03 17:33] tigrannajaryan commented on #104
Thanks @songy23
@pjanotti Can you add the "skip" and test on your machine? I don't have a Mac to test.

[2019-07-03 17:36] tigrannajaryan commented on #102
@owais can you shine on this? I don't remember what for was this exactly.

[2019-07-03 17:38] bogdandrutu commented on #102
Also if this is internal consider to move it under the internal directory.

[2019-07-03 17:42] owais commented on #102
It was added so we could pin tool dependencies to go.mod and have better guarantees about everyone using the same version of the tools. It doesn't have to be a separate package and can be moved to root.

More on it here: https://github.com/golang/go/wiki/Modules#how-can-i-track-tool-dependencies-for-a-module

[2019-07-03 17:47] bogdandrutu commented on #102
Probably can be in the internal directory. Trying to avoid having too many packages/files in the root if not necessary.

[2019-07-03 17:50] owais commented on #102
Makes sense. Will move to internal.

[2019-07-03 17:51] bogdandrutu commented on #102
Also please add a comment in the file why is it needed. That ensures others will not get confused like me.

[2019-07-03 17:54] owais commented on #102
Will add the comment. Do you think keeping it in internal (as opposed to root) might incorrectly suggest that the tools are only required by the internal package?

[2019-07-03 17:56] bogdandrutu commented on #102
I don't, I think we have no intention to export public anything from this file so it should not be in the root.

[2019-07-03 18:00] bogdandrutu opened #107 "Best place for errorkind"
Is errorkind a property of the consumer? If yes consider to move this into consumer/errorkind instead of keeping it in errors.

https://github.com/open-telemetry/opentelemetry-service/blob/master/errors/errorkind/errorkind.go

I think currently we use this only in the Consumer "sub-structs".

[2019-07-03 18:12] owais commented on #58
This was fixed in https://github.com/open-telemetry/opentelemetry-service/pull/85 and can be closed

[2019-07-03 18:13] #58 closed

[2019-07-03 18:48] #59 closed

[2019-07-03 19:04] #98 closed

[2019-07-03 19:06] #102 closed

[2019-07-03 19:07] bogdandrutu commented on #55
hmm, why is that not possible via configuring the piepline accordingly?

Receivers -> MultiProcessor -> Queue1 -> Exporter1
                                              -> Queue2 -> Exporter2

[2019-07-03 19:12] tigrannajaryan opened #111 "Rename executable otelsvc_linux simply to otelsvc"
The suffix looks superfluous. I don't see a reason to keep this in the final deliverable file name.

To make sure we are able to build executables for multiple platforms simply use bin/$GOOS subdirectory for building.

[2019-07-03 19:14] tigrannajaryan commented on #99
I suggest to move `configmodels.go` to `config/models` package, `commonerrors.go` to `errors` package and eliminate `models` package.

[2019-07-03 19:26] tigrannajaryan opened #113 "Make use of "disabled" flag in configuration"
configv2.LoadConfig currently ignores the values of "disabled" flag for all entities. This must be changed. If "disabled=true" the corresponding entity should be unloaded as if it is not present in the configuration and all references from the pipelines to it are also not present.

[2019-07-03 19:32] bogdandrutu commented on #99
I don't think we need an errors package see https://github.com/open-telemetry/opentelemetry-service/issues/107. I think it is good to just move models to config/configmodels - this way the package name matches the directory name.

[2019-07-03 19:36] tigrannajaryan commented on #99
Sounds good regarding `config/configmodels`.

We still need a place for `commonerrors.go` which currently contains `ErrDataTypeIsNotSupported`. This error is used by receivers and exporters, so unclear which package to place it if we don't have `errors` package.

[2019-07-03 20:09] tigrannajaryan opened #116 "Refactor: move processor factory from factories.go to processor/factory.go"
Similarly to how we already refactored recevers and exporters factories.

[2019-07-03 20:09] #43 closed

[2019-07-03 20:49] pjanotti opened #118 "Remove "Data" suffix from consumerdata.TraceData and consumerdata.MetricsData"
Instead of consumerdata.TraceData and consumerdata.MetricsData, simply consumerdata.Trace and consumerdata.Metrics

[2019-07-03 20:56] #104 closed

[2019-07-03 21:11] #107 closed

[2019-07-03 22:03] flands opened #121 "receiver/statsd: add statsd metrics receiver"

[2019-07-03 22:05] flands opened #122 "receiver/kafka: Add support"

[2019-07-03 22:16] bogdandrutu commented on #118
I think we use the suffix in a lot more places, if you really want to be consistent we need to remove TraceConsumer, TraceReceiver, TraceExporter, etc.

[2019-07-03 22:17] flands opened #124 "exporter/datadog: doesn't support metrics and does not log this fact"
For more details see: https://github.com/census-instrumentation/opencensus-service/issues/454

[2019-07-03 22:18] flands opened #125 "exporter/stackdriver: allow configuration for buffer, delay, etc."
See: https://github.com/census-instrumentation/opencensus-service/issues/474

[2019-07-03 22:19] flands opened #126 "exporter/jaeger: Support TLS"

[2019-07-03 22:34] flands opened #127 "receiver/jaeger: Add support for grpc"

[2019-07-03 22:36] flands opened #128 "receiver/jaeger: Jaeger Agent UDP Binary Thrift receiver fails because of dependencies"
See: https://github.com/census-instrumentation/opencensus-service/issues/262

[2019-07-03 22:43] flands opened #129 "receiver/octrace: allow configuring limits in TraceConfig"
See: https://github.com/census-instrumentation/opencensus-service/issues/173

[2019-07-03 23:01] #116 closed

[2019-07-03 23:21] pjanotti commented on #118
I'm starting to sour on this idea: "trace" can be interpreted as the trace of a single operation and "TraceData" captures better the idea that its a bundle of data related to traces. It also involves a large rename of parameters and locals.

[2019-07-03 23:23] pjanotti commented on #118
If we want to proceed with this we will have to use something like `consumerdata.SpanBatch` ...

[2019-07-04 00:13] #99 closed

[2019-07-04 13:06] tigrannajaryan commented on #41
Failed again: https://travis-ci.org/open-telemetry/opentelemetry-service/builds/554064637?utm_source=github_status&utm_medium=notification

[2019-07-07 20:27] bogdandrutu opened #137 "Unify sender and exporters"
Currently in this repo we have [`sender`](
https://github.com/open-telemetry/opentelemetry-service/tree/master/cmd/occollector/app/sender) and [`exporter`](https://github.com/open-telemetry/opentelemetry-service/tree/master/exporter).

We should have only one package for this.

[2019-07-08 13:19] owais opened #138 "Proposal: Replace component registration system with depencencies"
## Overview
Currently all components factories such as receivers, exporters, etc self-register themselves with a central factory "repository". This add a number of restrictions on how these components and the greater OpenTelemetry Service project can be used. The registries maintain global lists of all registered components and as soon as a component package is imported by any code, it is immediat

[2019-07-08 13:20] owais commented on #138
//cc @bogdandrutu @pjanotti @tigrannajaryan @songy23

[2019-07-08 17:40] tigrannajaryan commented on #138
@owais I like the proposal. (I think) I wrote the code for automatic factory registration and global registry and I am the first to admin it is not a good solution. I like what you suggest here and the reasoning is good. It will require to pass the factory lists as parameters in a few places so that they can be used instead of global registries so a bunch of files will need to be touched but it is

[2019-07-08 17:46] bogdandrutu commented on #138
+1 to pass the list of available components in the main function. Also as you can see the "application" package should be extracted in a standalone component that others can reuse and not be part of the collector.

[2019-07-08 17:50] pjanotti commented on #138
I already discussed this with Owais and I agree with his approach.

[2019-07-08 18:20] owais commented on #138
Thanks everyone. If we have consensus, can someone assign this issue to me? I'll try to get this done this week.

[2019-07-08 21:21] pjanotti commented on #129
Perhaps this should be done as a general "sanitizer processor" so it works for all receivers of a given pipeline while providing standard observability of any trimming that may happen. It has the disadvantage of the receiver itself let the data pass (causing extra work/data that may be trimmed later) but seems a reasonable compromise to get consistent data.

Notice that doing at the service level

[2019-07-08 21:39] pjanotti opened #140 "contrib: setup proper repo for contrib"
We need to create define the structure and create the repo for contrib to separate respective code, issues, and PRs.

[2019-07-08 21:44] pjanotti commented on #36
Sorry I missed this one: we need to do this via simple senders, that don't have their own queue and consistently handle service name. The exporter should not be based on the client library one.

[2019-07-08 21:44] pjanotti commented on #39
Sorry I missed this one: we need to do this via simple senders, that don't have their own queue and consistently handle service name. The exporter should not be based on the client library one.

[2019-07-08 21:46] pjanotti commented on #140
Some issues to migrate:
#125
#124
#122

[2019-07-08 22:34] pjanotti opened #141 "observability: consistent naming for metrics produced by OTel service"
Before first release we should make the name of metrics generated consistent, currently these are not consistent through the code base.

[2019-07-09 05:59] MohamedElqdusy commented on #124
As stated [here](https://github.com/open-telemetry/opentelemetry-service/blob/master/docs/migrating-from-opencensus.md#migration-tasks) Datadog is not one of the core exporters, isn't it?

[2019-07-09 15:18] flands commented on #124
That is correct -- it will move to the contrib repo once created. Temporary move over to clean up OC issues.

[2019-07-10 18:47] tigrannajaryan opened #144 "Implement factory and config for "attributes" processor"
The existing OpenCensus implementation is in "attributekeyprocessor" package.

See config.go/factory.go in "addattributesprocessor" package as an example.

[2019-07-10 18:48] tigrannajaryan opened #145 "Implement factory and config for "sampling" processor (head-based)"
See config.go/factory.go in "addattributesprocessor" package as an example.

[2019-07-10 18:48] tigrannajaryan opened #146 "Implement factory and config for "tail-sampling" processor"
See config.go/factory.go in "addattributesprocessor" package as an example.

[2019-07-10 18:50] tigrannajaryan opened #147 "Update README.md to reflect OpenTelemetry functionality"

[2019-07-10 19:52] pjanotti commented on #63
Fixed via https://github.com/open-telemetry/opentelemetry-service/pull/85

[2019-07-10 19:52] #63 closed

[2019-07-10 22:12] tigrannajaryan commented on #55
This is already implemented unless I misunderstand something and you refer to some other capability.

All you need to do is list the same receiver in multiple pipelines.

See implementation https://github.com/open-telemetry/opentelemetry-service/blob/34ca12fa6144be70d4892b8429141ac753e2e78a/cmd/occollector/app/builder/receivers_builder.go#L246-L274

[2019-07-11 15:02] tigrannajaryan commented on #146
See config.go/factory.go in "addattributesprocessor" package as an example.

[2019-07-11 18:41] tigrannajaryan commented on #140
Repo added https://github.com/open-telemetry/opentelemetry-service-contrib/

[2019-07-11 18:41] #140 closed

[2019-07-11 18:47] pjanotti commented on #140
Issues transferred.

[2019-07-11 19:38] pjanotti opened #150 "Build: PR code coverage is broken"
I didn't have a chance to look at link from codecov but it is not the first time that a PR is missing the baseline report. https://github.com/open-telemetry/opentelemetry-service/pull/149#issuecomment-510616939

[2019-07-15 21:23] songy23 opened #153 "all: Enforce check on license header."
For example https://github.com/open-telemetry/opentelemetry-service/blob/6566e78b4bb8e0cceec21abec91731611e3ca31a/internal/collector/telemetry/process_telemetry.go doesn't have a license header.

[2019-07-15 21:26] songy23 opened #154 "internal: Unify internal/collector/telemetry and receiver/vmmetrics."
Currently all of the metrics collected by [internal/collector/telemetry](https://github.com/open-telemetry/opentelemetry-service/tree/6566e78b4bb8e0cceec21abec91731611e3ca31a/internal/collector/telemetry) are covered by [VM metrics receiver](https://github.com/open-telemetry/opentelemetry-service/tree/6566e78b4bb8e0cceec21abec91731611e3ca31a/receiver/vmmetricsreceiver). It should be consolidated i

[2019-07-15 22:17] songy23 opened #155 "all: Stricter Golint check."
We currently have [a lint check in the Makefile](https://github.com/open-telemetry/opentelemetry-service/blob/4c7c3ca57110c32803b56cec3fe4733afd74c952/Makefile#L70-L79). However this check is not very strict, for example it doesn't check package documentations. This has caused a bit trouble when we tried to use the otel-svc code when a stricter lint check is enforced. Consider doing a stricter Gol

[2019-07-16 14:47] pjanotti opened #156 "Add OC receiver configuration options"
OC receiver is missing the configuration options in the new config format. This can be an opportunity also to refactor the OC receiver code to not use the functional Option pattern and instead use a simple config data structure with proper default values.

[2019-07-16 14:50] pjanotti opened #157 "Add Jaeger Agent configuration options"
The Jaeger agent cannot be configured with new configuration format although it is enabled when any of its protocols is enabled. This is not needed for milestone 0.1.0, we can start without the Jaeger agent support for 0.1.0.

[2019-07-16 14:52] pjanotti opened #158 "Jaeger Receiver enable all protocols even if configured for just one"
The Jaeger receiver enables all protocols for collector and agent no matter the configuration protocol. This is a bug that needs to be fixed: each receiver/protocol specification should enable only the corresponding endpoint.

[2019-07-16 15:01] tigrannajaryan commented on #158
This is likely due to https://github.com/open-telemetry/opentelemetry-service/issues/113

[2019-07-16 16:32] pjanotti commented on #158
Yes, but it is more than that: the receiver code assumes one configuration and all protocols. We need to take out the common code and actually make separate receivers for each protocol.

[2019-07-16 16:48] tigrannajaryan commented on #158
Looks at the code I see that protocols specified in the config are checked and only the specified protocol port is passed: https://github.com/open-telemetry/opentelemetry-service/blob/8721e3beaf1c449d88c2f6f78517cd03d6b2c7f3/receiver/jaegerreceiver/factory.go#L100-L114

The problem seems to be because of not checking the `Enabled` field of each proto, but I may be wrong.

Is this required? Is ther

[2019-07-16 16:58] pjanotti commented on #158
You can make it work just taking into account the enabled flag and it seems acceptable in the short run, but, the we should do a proper refactor. At minimum we need to not enable the agent until we have configurations for it.

[2019-07-17 13:59] inigohu commented on #126
First we need to upgrade jaeger to [1.11.0](https://github.com/jaegertracing/jaeger/releases/tag/v1.11.0) version or greater.
Depends on #97

[2019-07-17 18:28] pjanotti opened #164 "Rename addattributeprocessor config name from "attributes" to "add-attributes""
This come from comment in a PR: https://github.com/open-telemetry/opentelemetry-service/pull/152#discussion_r303931449

[2019-07-17 18:30] pjanotti commented on #144
Closed via #152

[2019-07-17 18:30] #144 closed

[2019-07-17 18:31] pjanotti commented on #138
Closed via #159

[2019-07-17 18:31] #138 closed

[2019-07-17 18:33] pjanotti commented on #118
Completed soured in my mind...

[2019-07-17 18:33] #118 closed

[2019-07-17 18:42] tigrannajaryan commented on #154
The OpenTelemetry service already supports Metrics pipeline. Is there anything particular that blocks this?

[2019-07-17 18:53] songy23 commented on #154
That's correct - just found the internal telemetry is using a different metrics pipeline (`ViewData` -> Prometheus exporter): https://github.com/open-telemetry/opentelemetry-service/blob/4c7c3ca57110c32803b56cec3fe4733afd74c952/service/telemetry.go#L82-L101. That part needs to be updated as well.

[2019-07-17 20:47] pjanotti commented on #164
Closed via #166

[2019-07-17 20:47] #164 closed

[2019-07-18 15:14] tigrannajaryan commented on #111
Done.

[2019-07-18 15:14] #111 closed

[2019-07-18 15:55] pjanotti opened #169 "Remove workers from OC trace receiver"
The OC trace receiver has a set of workers that are intended to limit concurrency, however, gRPC has a config set to control the number of concurrent streams that achieves the same effect in a cleaner fashion. We should leverage it instead of using the workers (that add another sync point via a channel).

This is related to the settings exposed via https://github.com/open-telemetry/opentelemetry-s

[2019-07-18 15:58] pjanotti opened #170 "Review TLS support for OC receiver and add tests"
TLS config for OC receiver is being added via #167 however in light of https://github.com/census-instrumentation/opencensus-service/issues/596 I think we need to revisit the implementation and tests here.

[2019-07-18 15:59] pjanotti opened #171 "Refactor OC receiver use host.ReportFatalError"
#167 is bringing a reminder to do that instead of waiting 1 second for possible errors at startup.

[2019-07-18 16:02] pjanotti opened #172 "Discussion: consider moving away from config functional pattern"
I'm seeing this from #167, the functional pattern for OC receiver is a bit verbose and it seems we can achieve the same effects using a config struct with good defaults, i.e.: code just touches what it is special for its configuration. Ideally we would come to an agreement and use only a single model in the core code base of OTelSvc. This anyway becomes prescriptive to others implementers in the c

[2019-07-18 17:24] tigrannajaryan commented on #172
@pjanotti can you clarify what pattern is that does not look good?

[2019-07-18 17:42] pjanotti commented on #172
(Linked description to the wrong PR), here it is: https://github.com/open-telemetry/opentelemetry-service/blob/e0a5e9b276453481f9e28682a6e13fc32ed44e66/receiver/opencensusreceiver/options.go#L63-L77

It at least can be made less verbose with something like: https://github.com/open-telemetry/opentelemetry-service/blob/e0a5e9b276453481f9e28682a6e13fc32ed44e66/receiver/opencensusreceiver/octrace/opti

[2019-07-18 17:56] pjanotti opened #174 "test: TestExportProtocolViolations_nodelessFirstMessage"
Failed in PR #173
[code]

[2019-07-18 19:52] pjanotti opened #175 "translation: Jaeger spans can end with multiple 'span.kind'"
Translating OC proto to Jaeger can result in the span having multiple `span.kind` attributes (or tags in OT parlance).

[2019-07-18 20:23] MohamedElqdusy commented on #153
- Do you have a specific tool to check it in Go?
- I found [addlicense](https://github.com/google/addlicense)

[2019-07-18 20:36] songy23 commented on #153
@MohamedElqdusy This tool looks promising - do you mind adding the check to this repo? If you don't have time I can take a look too.

[2019-07-18 21:05] tigrannajaryan commented on #172
I agree. I think the functional pattern unnecessarily complicates it.

[2019-07-18 23:31] pjanotti commented on #156
Closed via #167 no refactor regarding configuration format.

[2019-07-18 23:32] #156 closed

[2019-07-19 00:07] MohamedElqdusy commented on #153
Ok, I will give it a try at the weekend.

[2019-07-19 04:28] odeke-em opened #178 "receiver/opencensus/ocmetrics: return a nil error on io.EOF for grpc-gateway"
receiver/opencensus/octrace recognizes that we'll receive telemetry from the grpc-gateway and JSON inputs that won't maintain connections/streams hence currently has this special case

https://github.com/open-telemetry/opentelemetry-service/blob/858c3e322ac40f0ba39d282617d3720af023b1dd/receiver/opencensusreceiver/octrace/opencensus.go#L136-L144

Let's do the exact same for receiver/opencensus/ocme

[2019-07-19 04:28] odeke-em commented on #178
This issue is a mirror of https://github.com/census-instrumentation/opencensus-service/issues/610

[2019-07-19 18:48] #178 closed

[2019-07-22 21:07] pjanotti opened #187 "Refactor: review name of processor packages and respective config name"
Before releasing first version we should review the name of all processor packages and more importantly the respective name used in the config. Example: we probably should rename `tracesamplerprocessor` to `probabilisticsampler` and have its entry in the config be named "probabilistic-sampler".

[2019-07-23 00:45] MohamedElqdusy commented on #187
Assign it to me, please.

[2019-07-23 13:37] jpkrohling commented on #127
I'm working on this one.

[2019-07-23 20:08] pjanotti opened #190 "Test: TestPerformanceProfilerServer"
Failed in Travis: https://travis-ci.org/open-telemetry/opentelemetry-service/builds/562761475?utm_source=github_status&utm_medium=notification (PR #189)

[code]

[2019-07-23 23:18] songy23 commented on #153
Fixed in #185.

[2019-07-23 23:18] #153 closed

[2019-07-23 23:48] pjanotti opened #193 "observability: add metrics for metric pipelines"
observability package provides metrics for traces pipelines but there aren't metrics for trace pipelines

[2019-07-23 23:54] pjanotti opened #194 "OC metrics receiver: review use of bundler"
Metrics are passed to a bundler but then are sent element by element down the pipe, this doesn't seem correct.

[2019-07-24 00:57] tigrannajaryan commented on #193
metrics for trace pipelines or metrics for metric pipelines?

[2019-07-24 14:54] pjanotti commented on #59
Re-opening, hit again https://travis-ci.org/open-telemetry/opentelemetry-service/builds/563102924?utm_source=github_status&utm_medium=notification on PR #195

[code]

[2019-07-24 18:53] pjanotti opened #198 "test: TestExportersBuilder_Build flaky"
Failed in PR #189

[code]

[2019-07-25 00:09] #198 closed

[2019-07-25 10:36] bogdandrutu commented on #76
As @tigrannajaryan suggested I think this needs a proper design document before we jump into implementation. I would suggest to not push more changes until we agree on the overall design.

[2019-07-26 17:56] #145 closed

[2019-07-29 20:20] pjanotti opened #204 "Refactor: make some of the internal test helpers public"
Some of the packages under internal/ are useful in tests of receivers/processors/exporters. We should review and expose some of those, e.g.: testutils.GetAvailableLocalAddress.

[2019-07-29 23:33] pjanotti commented on #175
Closed vua #189

[2019-07-29 23:38] #187 closed

[2019-07-30 07:39] jpkrohling opened #206 "Links from parent to child not supported in Jaeger"
This is a follow-up issue from #197. Jaeger does not add a span link from a parent span to its children, only a "ChildOf" link from the child to its parent.

This ticket is to figure out what should be done regarding this mismatch:

- [ ] In the exporter side, should OpenTelemetry also present this information somewhere else, in order to be restored later? Perhaps it can be stored under a special

[2019-07-30 13:35] tigrannajaryan commented on #158
@ccaraman I do not see how it can be done. configmodels.ReceiverSettings the way it is defined currently is intended to specify a single protocol. Some receivers support multiple protocols so they need plurality of such settings.

The config format was defined and approved with multiple stakeholders (https://docs.google.com/document/d/1GWOzV0H0RTN1adiwo7fTmkjfCATDDFGuOB4jp3ldCc8/edit#heading=h.g6r

[2019-07-30 15:09] tigrannajaryan commented on #113
Done via #181

[2019-07-30 15:09] #113 closed

[2019-07-30 22:32] ccaraman commented on #170
@pjanotti I would like to take this one since I'm working on improving oc receiver documentation and test coverage!

[2019-07-31 02:33] huikang commented on #121
HI, Steve (@flands), I am interested in helping some tasks in the Otel project. Based on my understanding of [the migration doc](https://github.com/open-telemetry/opentelemetry-service/blob/master/docs/migrating-from-opencensus.md#migration-tasks), should this issue go to https://github.com/open-telemetry/opentelemetry-service-contrib? Thanks for your guidance.

[2019-07-31 14:25] pjanotti opened #213 "Doc: how to have a custom build and link to contrib repo"
We need to document how to have builds with custom sets of receivers/processors/exporters and link to contrib repo.

[2019-07-31 15:10] pjanotti commented on #137
Package sender was removed via #149

[2019-07-31 15:10] #137 closed

[2019-07-31 16:52] #127 closed

[2019-07-31 19:08] pjanotti opened #215 "Config: better errors from config factories"
Errors raised in config factories report errors from settings in yaml files. They should reference the corresponding tag on the yaml, not the actual field name. On the short run we can just ensure that the messages are using the tag instead of the field name. Ideally we can should look into provide helper types that can extract the tags from the structures so errors always follow the desired patte

[2019-07-31 20:41] tigrannajaryan commented on #121
@huikang yes, that's correct. All receivers/exporters that didn't make into the core can be added to the contrib.

[2019-07-31 20:55] pjanotti opened #216 "refactor: zipkin exporter: simplify code"
The zipkin exporter uses a reporter and other structures the makes the code more complex than it needs to be while having batching and other features that are not desired. Refactoring it to leverage `exporterhelper` will give the code better observability and will be consistent with other exporters. Some outline:
[code]

[2019-08-02 04:05] pjanotti commented on #170
The code used here should be shared with fix for #126 - more general gRPC configuration settings seem shareable with other gRPC receivers and exporters

[2019-08-02 04:11] pjanotti opened #222 "Common code for gRPC configuration settings"
In principle there is no reason that receivers and exporters that use gRPC can't share the code to handle the gRPC configuration settings. This will enforce consistency and saves some code duplication.

Example: currently Jaeger gRPC exporter doesn't have a timeout or can use secure via configuration, however, the OC exporter has all these settings.

Related: https://github.com/open-telemetry/open

[2019-08-02 15:11] jpkrohling opened #223 "Consume protos from opentelemetry-proto"
Currently, there are some mismatches between the proto files used by this module and the ones used elsewhere, like in the Java SDK (see https://github.com/open-telemetry/opentelemetry-java/issues/235). Ideally, all opentelemetry modules would use the same proto files.

[2019-08-02 16:11] #155 closed

[2019-08-02 16:24] pjanotti commented on #222
This also means that this code should be a public package so others exporters/receivers outside core can also use it.

[2019-08-02 17:16] pjanotti opened #225 "Test: timeout on jaegerreceiver test"
Hit this on #224
[code]

[2019-08-02 17:57] majelbstoat opened #226 "Allow blacklisting in the string-attribute-filter"
Currently, the string-attribute-filter in OpenCensus collector allows spans to be exported if they match specified strings, i.e. whitelisted. It is, however, currently not possible to create a blacklist.

One specific use-case for this is to exclude traces for `grpc.health.v1.HealthCheck`, which are a standard way of adding liveness and readiness endpoints to GRPC servers, but which add lots of no

[2019-08-02 18:39] pjanotti opened #227 "exporter: jaeger thrift-tchannel deprecation"
OTelSvc will provide Jaeger exporters for gRPC and thrift-http - thrift-tchannel is considered legacy by Jaeger and is being replaced by gRPC. As we are releasing a new service there seems to be no reason for us to include such legacy.

If there is demand for thrift-tchannel we should implement it on the contrib repo for OTelSvc.

/cc @yurishkuro @jpkrohling

[2019-08-03 12:48] yurishkuro commented on #227
+1, tchannel implementation doesn't play nicely with DNS load balancers, AND is deprecated.

[2019-08-05 04:10] huikang opened #231 "Can not export metrics to Otel collector from the OC agent"
When I configure my Otel agent to export metrics to the the Otel collector with the following content in the agent config

[code]
the agent failed to be launched due to this error `2019/08/05 03:05:54 Cannot load configuration: metrics is a metrics pipeline but has a opencensus which does not support metrics`.

Could anyone help on this?
My ultimate goal is to have the collector collect stats from

[2019-08-05 19:48] #36 closed

[2019-08-05 19:48] #227 closed

[2019-08-07 14:08] #231 closed

[2019-08-07 16:35] #146 closed

[2019-08-07 22:35] egernst opened #241 "vsock support in library and agent, and support for multiple inputs in agent"
Very happy to see the very active work on this project!

I am eager to adopt opencensus/open-telemetry for the Kata Containers project, but we have a couple of particular needs that I'd like to see if we can add support for.

In our configuration, we have an application

[2019-08-07 22:35] egernst opened #242 "vsock support in library and agent, and support for multiple inputs in agent"
Very happy to see the active work on this project!

I am eager to adopt opencensus/open-telemetry for the [Kata Containers](https://katacontainers.io) project, but we have a couple of particular needs that I'd like to see if we can add support for.

## Background on use case
Kata is a container runtime, with part of the runtime infrastructure running on a host, _kata-runtime_, and the portion mana

[2019-08-07 22:40] ccaraman commented on #226
When this does get implemented, please use the term `denylist` or `blockedlist` instead of `blacklist`. Thank you!

[2019-08-07 22:41] majelbstoat commented on #226
Ah, yes! Thank you, updated.

[2019-08-07 22:51] ccaraman opened #243 "OC Receiver: Add Cors functionality"
Cors functionality accidentally got removed during the port to OtelSvc. This issue tracks adding it.
https://github.com/census-instrumentation/opencensus-service/blob/master/receiver/opencensusreceiver/opencensus.go#L47

Link to TODO's in OtelSvc code base:
https://github.com/open-telemetry/opentelemetry-service/blob/4a1cc81970b8bb8e64471cdb9d7a3b08b9e21015/receiver/opencensusreceiver/config.go#L4

[2019-08-07 23:40] huikang opened #244 "Nil point pack when adding an exporter without a stopFunc pointer"
[code]

To reproduce, start a otel agent with the following configuration and ctrl-C to quit

[code]

This is caused by an exporter without any stopFunc because its exporter.stop is not set [1] in any pipeline.

[1] https://github.com/open-telemetry/opentelemetry-service/blob/f20385bac8e7a3db68a1f8cfeaa3a3edcde9f419/service/builder/exporters_builder.go#L178-L206

[2019-08-08 01:44] ccaraman opened #246 "Add Stop() method Exporter struct"
Currently the Create(Trace/Metrics)Exporter on the Exporter Factory returns a StopFunc.
https://github.com/open-telemetry/opentelemetry-service/blob/master/exporter/factory.go#L38-L43
The code is being enhanced to check for a nil Stop Func() being returned from those methods in #235

Adding a Stop() method on either the Exporter struct in https://github.com/open-telemetry/opentelemetry-service/blo

[2019-08-08 03:07] tigrannajaryan commented on #246
This won't work. `configmodels.Exporter` is used purely to represent the config. It is not _the_ exporter instance that is running and that can be stopped. The exporter config and exporter at runtime are by design 2 different objects with different types.

I am not sure what exactly this means. A code sample or a PR would help clarify.

[2019-08-08 03:18] tigrannajaryan commented on #244
Done.

[2019-08-08 03:18] #244 closed

[2019-08-08 16:29] songy23 commented on #241
Seems duplicated of https://github.com/open-telemetry/opentelemetry-service/issues/242.

[2019-08-08 16:29] #241 closed

[2019-08-08 16:40] songy23 opened #247 "Consider renaming package `oterr`"
See discussions: https://github.com/open-telemetry/opentelemetry-service/pull/191#issuecomment-514432106 and https://github.com/open-telemetry/opentelemetry-service/pull/239#discussion_r312013149.

[2019-08-08 17:06] songy23 commented on #174
Duplicate of https://github.com/open-telemetry/opentelemetry-service/issues/41.

[2019-08-08 17:06] #174 closed

[2019-08-08 18:10] egernst commented on #241
My fault.  Inadvertent test to see if anyone would read the issue.  Test passed!

[2019-08-08 20:19] tigrannajaryan commented on #242
If I am reading this issue correctly this is a request to add a receiver and exporter that support vsock format. Our approach with OpenTelemetry Service is that core (this repo) will contain support limited number of open-source formats and additional receivers/exporters/processors can be added to contrib repo at https://github.com/open-telemetry/opentelemetry-service-contrib/

As an example on ho

[2019-08-08 20:20] egernst commented on #242
In a perfect world, I don't want yet another exporter/receiver.  I'd rather existing one be flexible to be able to make use of either/or vsock as well as UDP.

[2019-08-08 22:34] songy23 opened #251 "Add factory and new-style config for ZPages"
Replace the command line flag for ZPages with v2 configuration: https://github.com/open-telemetry/opentelemetry-service/blob/166027710f182e7f94c76658373df2fe19500648/internal/zpagesserver/zpagesserver.go#L29

[2019-08-09 13:01] tigrannajaryan commented on #242
By design each receiver and exporter support one specific protocol. New protocols can be added by implementing new receiver and exporter types. The intended way is for community member who are willing to contribute new receivers, exporters or processors is to propose them in the contrib repo I linked to in the previous post.

[2019-08-09 18:19] ccaraman commented on #246
@tigran Here is what I'd do. I didn't notice at the time that Exporter had some Trace/MetricsExporter interface that weren't being used .

1. Update the Trace/MetricsExporter interfaces to have a stop method.
[code]

2. It would require refactoring the Exporter/factory.go to the following method definitions like
[code]
instead of

[code]

3. Then fixing the all the exporters to add implementation

[2019-08-09 20:03] pjanotti commented on #246
This makes sense to me @ccaraman we do need a `Stop` method on exporters to avoid sending requests while shutdown. We should also consider the whole shutdown process but having a Stop on exporters will definitely be part of that.

[2019-08-09 20:08] ccaraman commented on #246
Several exporters already have a stop they are just passed to the builder separate from the exporter instance. This would have avoided this weeks earlier bug with a nil ptr on exporter stop functions.

[2019-08-12 17:25] ccaraman commented on #175
Closed #189

[2019-08-12 17:26] #175 closed

[2019-08-12 18:52] tigrannajaryan commented on #246
@ccaraman from the top of my head it is doable and sounds like a good approach. Let's have a PR and see what it looks like.

[2019-08-12 22:45] bogdandrutu commented on #246
Shutdown may be a better name to be consistent with the document that Tigran wrote about export pipeline in the library

[2019-08-14 19:53] ccaraman commented on #246
The downside to shutdown is that we already use stop as a concept within receivers
https://github.com/open-telemetry/opentelemetry-service/blob/master/receiver/receiver.go#L53
https://github.com/open-telemetry/opentelemetry-service/blob/master/receiver/receiver.go#L73

I'm going to stick with Stop for now to keep naming consistency across the different components.

[2019-08-14 21:49] ccaraman opened #261 "Investigate refactoring ExporterHelpers"
From: https://github.com/open-telemetry/opentelemetry-service/pull/259#discussion_r314072843
ExporterHelpers initialization is clunky. Someone should investigate if there is a neater/cleaner way to do this.

[2019-08-14 21:57] ccaraman opened #262 "Rename Stop*Receiver to Shutdown*Receiver"
Shutdown() is the naming convention as detailed in the [exporter spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-exporter.md)

To keep naming consistent, update the receiver interface to `Shutdown` from `Stop`
https://github.com/open-telemetry/opentelemetry-service/blob/master/receiver/receiver.go#L53
https://github.com/open-telemetry/opentelemetry

[2019-08-14 21:57] ccaraman commented on #246
Created https://github.com/open-telemetry/opentelemetry-service/issues/262 to update receiver to Shutdown instead of Stop

[2019-08-14 22:06] ccaraman opened #263 "Clean up instances with methods *FromViper"
Several components still have InitFromViper, ExporterFromViper that were apart of the OC code base. These should be cleaned up after ensuring initialization occurs correctly via factories.
https://github.com/open-telemetry/opentelemetry-service/blob/master/exporter/zipkinexporter/zipkin.go#L79

[2019-08-15 19:32] ccaraman commented on #158
From further reading the code - it is more than just respecting the enabled flag the code itself doesn't expect there to be protocols not enabled.

When the Receiver is started
https://github.com/open-telemetry/opentelemetry-service/blob/master/receiver/jaegerreceiver/trace_receiver.go#L185-L204
(lets ignore the agent part for now)
The collector component ends up starting all of the protocols

The

[2019-08-15 20:52] ccaraman opened #265 "Refine the Exporter interfaces"
1. There is a function Name()
defined here:
https://github.com/open-telemetry/opentelemetry-service/blob/master/exporter/exporter.go#L26-L27
However, it doesn't appear to be used anywhere other than tests. Is this a necessary method?

2. Should the Shutdown() function return an error or just log anything that might go wrong?
Alternatively, could the exporter_builder be required to handle these err

[2019-08-15 20:57] ccaraman opened #266 "Migrate code base to use "github.com/stretchr/testify/assert""
Currently there are parts of the code base that still use the pattern
[code]
Migrate these instances to use
assert.* in place of this pattern.

[2019-08-15 21:59] ccaraman opened #267 "Remove TChannel support from Jaeger Receiver"
See for context and path forward if required
https://github.com/open-telemetry/opentelemetry-service/pull/264#discussion_r314504172

[2019-08-16 16:35] pjanotti commented on #39
Closed via #207

[2019-08-16 16:35] #39 closed

[2019-08-16 16:40] pjanotti commented on #44
Several PRs have done this already.

[2019-08-16 16:40] #44 closed

[2019-08-16 16:45] pjanotti commented on #150
I haven't see this in a while, closing it.

[2019-08-16 16:45] #150 closed

[2019-08-16 17:03] pjanotti commented on #266
It doesn't need to be done all at once, PRs doing it partially are helpful.

[2019-08-16 17:09] ccaraman commented on #243
This got fixed with #260 closing this issue.

[2019-08-16 17:09] #243 closed

[2019-08-16 17:30] pjanotti commented on #194
@dinooliva @songy23 Could you please check if we can remove the bundler usage in this case: https://github.com/open-telemetry/opentelemetry-service/blob/7eba056b6d477d2009848bd3993e47d6a7951f51/receiver/opencensusreceiver/ocmetrics/opencensus.go#L68

[2019-08-19 14:19] jpkrohling commented on #267
We might want to keep the receivers for a while and remove the legacy exporters. Most Jaeger Clients still can't send data via gRPC to the collector.

[2019-08-19 14:22] jpkrohling commented on #225
I should probably look into this one. Feel free to assign it to me.

[2019-08-19 14:35] jpkrohling opened #273 "Watch config file for changes"
Viper has support for watching the configuration file for changes and it would be good to have a policy on what to do when that happens. Looking a bit around the code, I can see three main possibilities:

- [ ] Shutdown + init: this seems to be the easiest with the current codebase
- [ ] Add a `OnConfigChange` to all components, such as exporters and receivers, allowing them to be notified of conf

[2019-08-19 14:39] jpkrohling opened #274 "OpenTelemetry Service Operator for Kubernetes"
As the setup of the OpenTelemetry Service might be complex, with a set of agents and collectors, it probably makes sense to create an Operator for Kubernetes. An additional advantage is that other Operators, such as the Jaeger Operator, might indirectly make use of this, by creating CRs based on the end-users requests.

[2019-08-19 14:40] jpkrohling commented on #274
I can start working on this right away. I just need this issue to be assigned to me, and a new GitHub repository, probably under `open-telemetry/opentelemetry-operator`.

[2019-08-19 15:06] tigrannajaryan commented on #274
@jpkrohling there is already an ongoing effort in this area (not yet captured in the issues here). You may want to sync with @owais to avoid duplicate work.

[2019-08-19 15:12] jpkrohling commented on #274
Is it public already, or should we use this issue here to discuss it?

[2019-08-19 15:18] jpkrohling commented on #225
@pjanotti how often have you faced this? I can try to set `grpc.WithBlock()` on `grpc.Dial()`, but that probably wouldn't have helped here, as this seems to be a race condition some layers down.

[2019-08-19 15:20] tigrannajaryan commented on #225
@jpkrohling assigned to you, thanks.

[2019-08-20 15:01] pjanotti opened #276 "Design: additional service components (eg.: zpages, healthcheck, etc)"
Besides the pipeline elements (receivers, processors, and exporters) the OTelSvc uses various ad-hoc “add-on” components (e.g.: healthcheck, z-pages, etc). However, the interface and configuration for such components was not specified and the service code directly handles them individually in an ad-hoc fashion.

Design Goals:
* Allow same functionality provided by the existing ad-hoc components;
*

[2019-08-20 15:01] pjanotti commented on #276
Prompted by https://github.com/open-telemetry/opentelemetry-service/pull/256#issuecomment-520625779

[2019-08-20 19:54] pjanotti opened #278 "Test: TestGrpcGateway_endToEnd flaky"
PR: https://github.com/open-telemetry/opentelemetry-service/pull/277

[code]

[2019-08-21 02:01] huikang commented on #266
Hi, @ccaraman @pjanotti , I'd like to try working on this issue. If no one has taken it, please assign it to me. Thanks.

[2019-08-21 02:05] tigrannajaryan commented on #266
@huikang assigned to you, thank you.

[2019-08-21 18:11] ccaraman commented on #266
@huikang Let us know if you have any questions!

[2019-08-21 18:18] pjanotti opened #281 "Dockerhub: publish service releases under opentelemetry org"
There is an `opentelemetry` in dockerhub but we don't have the rights/access to publish under it. The `opentelemetry` org should be under the umbrella of CNCF.

This issue tracks the steps and progress in this regard.

[2019-08-21 20:52] ccaraman opened #283 "Deteremine placement for Fan Out Processor"
https://github.com/open-telemetry/opentelemetry-service/tree/master/processor/fanoutprocessor
isn't a true processor. It isn't configurable by users.
Should this be under processors or an internal component?

This issue is track determining where it should go and updating any relevant documentation for it.

[2019-08-21 21:30] tigrannajaryan commented on #283
`fanoutprocessor` is briefly mentioned in the design.md.

I think we need to remove references to it from readme.md (the idea being that readme.md is intended for end users and design.md is intended for contributors). In addition I think we need to rename fanoutprocessor to something else, particularly get rid of `processor` suffix to avoid confusion with pipeline processors.

[2019-08-21 21:47] tigrannajaryan commented on #281
@bogdandrutu do you know how this can be done or know who can help with this?

[2019-08-21 22:07] pjanotti commented on #283
Some suggestions `fanoutconnector` or `fanoutadapter` ...

[2019-08-22 14:36] pjanotti commented on #274
There was some misunderstanding here: what @owais has been investigating is about enriching telemetry data with k8s information, not a k8s Operator to facilitate management/deployment of the service.

[2019-08-22 14:37] jpkrohling commented on #274
I'll go ahead with it then. @bogdandrutu, @SergeyKanzhelev, could any of you create a repository named `opentelemetry-operator` and concede me push rights?

[2019-08-22 15:57] pjanotti commented on #281
There is already an org https://hub.docker.com/u/opentelemetry hopefully it was created by someone participating on the project...

[2019-08-22 18:22] tigrannajaryan commented on #283
I like `fanoutconnector`, I will fix this.

[2019-08-22 23:59] #276 closed

[2019-08-23 00:25] pjanotti commented on #283
Closed via #285

[2019-08-23 00:25] #283 closed

[2019-08-23 00:28] pjanotti commented on #267
Thanks for the info @jpkrohling - let's keep this for later then.

[2019-08-23 18:39] pjanotti opened #287 "Test: DATARACE on TestReception Jaeger receiver"
From PR #286

[code]

[2019-08-23 21:02] tigrannajaryan commented on #287
I think this is the same as https://github.com/open-telemetry/opentelemetry-service/issues/43
Looks like the workaround I did is not good enough. The data race is fixed in Jaeger (I submitted the patch earlier), we need to bump our Jaeger dependency to the latest (but it is not trivial as explained in the linked issue).

[2019-08-23 21:03] tigrannajaryan commented on #287
One possibility is to increase the pause in the workaround code to reduce the chance of the failure even more (obviously it is not a proper fix, but may be the reasonable thing to do if updating Jaeger dependency is too costly).

[2019-08-23 21:06] pjanotti commented on #287
We should look into upgrading Jaeger: we removed some dependencies and now it may not be so hard.

[2019-08-23 22:46] flands opened #289 "Ability to SHA data in span"
Today we have the ability to redact tags in spans. Another use-case is to mask data in a consistent way so it can be seen, but not easily reverse engineered into its actual value. The specific ask we have heard is to support this for the IP address in the span. In theory, this should be an enhancement to the redaction processor.

[2019-08-25 21:03] tigrannajaryan commented on #289
Existing `attributes` processor can be easily extended to allow this. Something like this in the config:
[code]
This would update the attribute "secret" by its own SHA (or if needed SHA of another attribute). The `transform` option would specify what transformation to perform on the attribute value (default action would be `copy` or `noop - which is the current behavior).

@ccaraman, other suggest

[2019-08-26 16:18] jpkrohling commented on #274
Future versions of the operator might manage more OpenTelemetry pieces, not only the service. Also, the code for the service might be big enough to deserve its own lifecycle/release scheme/dependencies/...

[2019-08-26 17:58] backjo opened #291 "Support TLS in Jaeger exporter"
As of now, the Jaeger exporter only uses an insecure gRPC channel. It should be configurable to use TLS (both mutual TLS and server-only). Ideally, all gRPC-based exporters (OpenCensus, Jaeger etc) would share a common configuration for doing this.

[2019-08-26 18:27] pjanotti opened #292 "Add CustomUnmarshaler to other config interfaces"
We can wait requests for it to be 100% sure that this is needed for other types, however, we currently have `CustomUnmarshaler` for the case of Prometheus receiver. It is generic enough that it can be moved higher in the hierarchy: it doesn't need to be specific to receivers. The downside is that in current implementation most types will need to implement it by just returning nil. OTOH if we delay

[2019-08-26 19:43] ccaraman opened #294 "Move unused exporter check to config.go"
https://github.com/open-telemetry/opentelemetry-service/blob/master/service/builder/exporters_builder.go#L170-L177

Should be during config loading and validation
https://github.com/open-telemetry/opentelemetry-service/blob/master/config/config.go#L434-L452
That way when setupPipelines https://github.com/open-telemetry/opentelemetry-service/blob/master/service/service.go#L192 is creating the expor

[2019-08-27 17:00] rghetia opened #297 "Add filter to restrict metrics scraped in prometheus receiver"
# Problem Description
A prometheus target may provide many metrics but may be only a subset is desirable. Processing unnecessary metrics causes undue burden on resources in otelsvc pipelline. It also increase the backend cost.

# Solution
The solution is provide Filter capability in the Receiver.

# Tasks
- [ ] Filter Configuration
- [ ] Filter execution

## Should this be limited to Prometheus Re

[2019-08-27 20:05] pjanotti opened #300 "Config: standardize separator of composed tags"
We still have some configurations using underscore and others using dashes to separate composed tags in the configuration. We should standardized on one of them.

[2019-08-27 22:36] pjanotti opened #303 "Config: use "strict mode" to read config"
Instead of using `UnmarshalKey` to read config we could use `UnmarshalKeyExact` and avoid misconfiguration due to typos in the config. The main downside is that due to the factory interfaces one can always implement one component that doesn't follow this recommendation.

Creating this item to give full visibility and discussion before making any changes to the code.

[2019-08-28 07:04] jpkrohling commented on #274
I have started a new [operator project under my account](https://github.com/jpkrohling/opentelemetry-operator). Once I have an initial working version, I'll add a notice to this issue here and we can then decide if it fits this repository.

[2019-08-28 16:04] pjanotti opened #305 "Test: create a test loading all core components"
We have a test to validate that the expected default set of configurable components is the expected one, however, we don't have one that ensure that all intended components are present. We need to add one, this will avoid issues like the one fixed by #304

[2019-08-29 14:05] jpkrohling commented on #274
An initial version of the operator is ready. It still can't deploy a production-quality `otelsvc`, but it is very close already to how the operator will look like.

@tigrannajaryan, @bogdandrutu: once the final repository is created, let me know and I'll send a PR. Until then, I'll keep working on it under my own account.

[2019-08-29 14:13] pjanotti opened #307 "Refactor: create OTelSvc own health-check extension"
OTelSvc re-uses Jaeger Health-Check to report liveness and readiness. This is an HTTP endpoint that responds with proper status codes. While it works well it is standard code that can be implemented directly reducing the dependencies from external projects. This likely helps also in implementing common code for the extensions so less boilerplate code is required.

[2019-08-29 14:20] pjanotti opened #308 "Refactor: lots of boilerplate code in extension implementations"
After coding the 3 core extensions (health-check, pprof, zPages) it become clear that the code for them is very similar and can be refactored to reduced code repetition. The one that is slightly different is the health-check that is implemented using a package for Jaeger,  having an OTelSvc implementation for health-check (#307) can help having it using the same code pattern.

[2019-08-29 14:23] pjanotti opened #309 "Test: use dynamic endpoint/port even when reading config files"
Some tests, eg.: service_test.go, load configuration from an yaml file. Currently this forces the usage of fixed endpoint/ports which can be problematic in certain test environments that already use these ports (or if a system running the test also collects telemetry data). It will be helpful to have place holders that will trigger the replacement of hard coded endpoint/ports from the yaml.

[2019-08-29 14:25] pjanotti commented on #307
It can also switch the configuration of health-check from `port` to `endpoint` like the other core extensions.

[2019-08-29 14:25] tigrannajaryan commented on #274
@jpkrohling is this due to some problem in otelsvc? If so please create an issue in this repo so that we can fix it.

Thanks for your work. Based on Bogdan's suggestion this will need to wait until contrib org is setup. Until that when you feel that the operator is ready we (otelsvc maintainers) can review it and link to it from this repo.

[2019-08-29 14:35] jpkrohling commented on #274
Not at all. It's more like it's missing features that I would expect from a production-grade operator, like opening the proper ports based on the configuration (ie, expose `14250` only when the receiver `jaeger-grpc` is used) or the ability to update/upgrade existing instances. It also lacks a `mode` property, to get the collector deployed as a `DaemonSet` (mode=agent). Currently, it's only being

[2019-08-29 22:02] ccaraman commented on #307
Currently, the version of the jaeger pkg hc returns a 204 instead of a 200.

[2019-08-31 19:52] bogdandrutu commented on #265
See https://github.com/open-telemetry/opentelemetry-service/pull/316 to fix/explain 1)

[2019-09-03 23:16] tigrannajaryan opened #321 "Change config file to use dashes or underscrores uniformly"
We have mixed usage of dashes and underscores to separate words in the config. We need to have a uniform approach to this. Underscores seem to be used the most so I suggest we go with that.

[2019-09-04 00:12] flands opened #322 "Add processor: convert to lowercase"
As a user, I want a processor that will convert a service name or attribute to lowercase.

[2019-09-04 15:01] bogdandrutu commented on #265
@ccaraman we fixed 1, please update the issue if for 2 more discussion is required.

[2019-09-05 00:09] ccaraman commented on #322
For Spans, the configuration could look like
[code]
With attributes processor looking like
[code]

[2019-09-06 21:33] songy23 opened #328 "Remove all Init*FromViper"
Those are no longer used and replaced with config V2 now.

[2019-09-06 21:34] songy23 commented on #328
Found an existing issue https://github.com/open-telemetry/opentelemetry-service/issues/263. Closing.

[2019-09-06 21:34] #328 closed

[2019-09-06 23:01] songy23 commented on #251
Done with @pjanotti's PR.

[2019-09-06 23:01] #251 closed

[2019-09-09 13:53] #263 closed

[2019-09-11 21:21] bogdandrutu commented on #303
@pjanotti not sure I understand the "downside", can you explain more?

[2019-09-11 21:23] bogdandrutu commented on #309
you can use environment variables now https://github.com/open-telemetry/opentelemetry-service/pull/334 :)

[2019-09-11 21:27] bogdandrutu opened #335 "Why do we have a service config"
I got very confused by the "service" config. It contains a list of extensions, why is that needed? Extensions should have a disable/enable property so the service should run only the extensions that are enabled.

[2019-09-11 21:29] bogdandrutu commented on #335
See https://github.com/open-telemetry/opentelemetry-service/blob/master/config/config.go#L80 and https://github.com/open-telemetry/opentelemetry-service/blob/master/config/config.go#L269

[2019-09-13 14:40] owais opened #342 "Add lint tool/check to detect pointers to loop variables"
reference: https://github.com/open-telemetry/opentelemetry-service/pull/341

We should have a lint tool or check to warn against such cases.

[2019-09-13 23:01] bogdandrutu opened #346 "Refactor service "config""
Currently service contains only "extensions". I suggest that service should contain extensions and pipelines:

**Current:**
[code]

**Proposed:**
[code]

[2019-09-13 23:01] bogdandrutu commented on #346
As a side note you can see that I used proper yaml syntax for list/map :)

[2019-09-13 23:04] bogdandrutu opened #347 "Remove disable/enable from components"
Currently we do have two ways to control if a component is disabled/enabled:
1. Via the `disabled` property
1. If the component is present in a pipeline/extension list.

I would suggest that we keep only the second option to control if the component is enabled/disabled.

[2019-09-13 23:04] bogdandrutu commented on #335
This issue splits into:
https://github.com/open-telemetry/opentelemetry-service/issues/346
https://github.com/open-telemetry/opentelemetry-service/issues/347

[2019-09-13 23:04] #335 closed

[2019-09-15 19:06] annanay25 opened #350 "Add "Issue" and "Pull Request" templates"
Tracking issue to add relevant templates

[2019-09-16 19:14] backjo opened #351 "Allow ServerNameOverride for gRPC exporters"
gRPC client channels allow a `ServerNameOverride` to be specified, which overrides the hostname to be checked during TLS handshakes. This should be able to be configured through the exporter configuration for any gRPC exporter

[2019-09-17 17:52] tigrannajaryan opened #352 "Rename OpenTelemetry Service to OpenTelemetry Collector"
We heard several times that the name "Service" is confusing, is too generic and does reflect well the intent. After discussing with maintainers and other OpenTelemetry community members we decided to rename the "Service" to "Collector" since we believe it better reflects the purpose and is more distinct.

What needs to be done:
- [x] Rename all references to Service to Collector in the source code

[2019-09-17 18:12] #222 closed

[2019-09-17 22:07] tigrannajaryan opened #353 "Fix concurrency handling when data is fanned out"
`traceFanOutConnector` and `metricsFanOutConnector` currently simply pass the pointer to `TraceData` or `MetricsData`.

This can cause problems when the data is fed into multiple pipelines and is concurrently processed and modified by processors.

Fan out connectors needs to create clones of data before and pass a pointer to a clone to each consumer that is connected (except one - which can use th

[2019-09-18 05:39] adriancole opened #355 "performance comparisons accidentally compare apples and oranges"
If someone reads this without thinking, they'll jump to conclusion "zipkin is slow"

https://github.com/open-telemetry/opentelemetry-service/blob/master/docs/performance.md#results-without-tail-based-sampling

Why are we not comparing apples and apples? Ex binary format with binary format, or text vs text? Zipkin's http endpoint has accepted protobuf since before this project started

Is there som

[2019-09-19 15:12] tigrannajaryan opened #356 "Add option to use binary data format (proto3) to Zipkin exporter"
Zipkin supports binary data format (proto3) which should be faster than JSON.

Update performance comparison table after Zipkin binary is supported:
https://github.com/open-telemetry/opentelemetry-service/blob/master/docs/performance.md#results-without-tail-based-sampling

[2019-09-19 15:13] tigrannajaryan commented on #355
Zipkin exporter and performance measurement results are inherited from OpenCensus Service. I added a separate issue to add binary format to Zipkip exporter: https://github.com/open-telemetry/opentelemetry-service/issues/356
Once that is done we can update performance results.

[2019-09-19 23:55] adriancole commented on #355
thanks @tigrannajaryan looking forward to it.

[2019-09-20 14:12] pjanotti opened #358 "Config: check if factories are not returning nil components"
This is related to an issue reported via gitter https://gitter.im/open-telemetry/opentelemetry-service?at=5d841c2dbe709e39d15adf22

The factory returns nil error but the returned exporter is also nil, while this can be considered an error in the factory the service needs to defend itself against it and properly report the issue since 3rd parties will be implementing the factories and using them fr

[2019-09-20 14:41] pjanotti commented on #300
Since a duplicated issue (#321) opened after this one already has a PR for it, let's close the oldest one as duplicate.

[2019-09-20 14:41] #300 closed

[2019-09-20 14:46] pjanotti opened #359 "Config: validate consistent use of separators (- vs _)"
In #321 we are going to make it consistent, we could validate that all `mapstructure:"xyz"` are using the proper separator. Add same validation to contrib repo and mention it on guidelintes to write components. Even if it is not perfect it should catch the typical mistakes in this regard.

[2019-09-20 18:08] #321 closed

[2019-09-22 18:46] annanay25 commented on #170
@pjanotti +1

This chunk of code for generating grpc calloptions from the common `grpcsettings` can also be moved to common, so all exporters/receivers can share? - https://github.com/open-telemetry/opentelemetry-service/blob/63362d5eca860948fe70f79678619ab43ea6fd5b/exporter/opencensusexporter/factory.go#L73-L81

[2019-09-22 21:46] joeblew99 opened #361 "build failing due to go-mod"
Seems prometheus and k8 are not friends...

[code]

If i kill go.mod
and do a go mod init then:

[code]

[2019-09-23 17:14] #97 closed

[2019-09-23 17:22] songy23 commented on #361
Which Go version are you using? I tried on my Linux workstation and it worked fine:
[code]

[2019-09-23 18:16] pjanotti commented on #361
It doesn't repro to me either (`go version go1.12.5 darwin/amd64`). @joeblew99 can you share the diff between the old and new go.mod?

[2019-09-23 18:26] pjanotti commented on #359
After some conversation with @owais last week I'm thinking that perhaps a runtime validation is actually better: the same rule can be enforced for any project depending on OTelSvc so even if they don't use same build targets we can still enforce the consistency for rules like the consistent use of separators for yaml tags.

[2019-09-24 10:06] creack commented on #361
Dockerfile to reproduce:

[code]

Working on `golang:1.12`.

The same issue happens with opencensus service. Seems like the issue is that the project depends on internal packages not meant to be imported from prometheus. prometheus/prometheus#6048

[2019-09-24 10:08] brian-brazil commented on #361
Have you tried depending on a newer version?

[2019-09-24 10:16] creack commented on #361
@brian-brazil the "go" way to update a vendor version is to use go get, however, getting prometheus.

https://github.com/golang/go/wiki/Modules#daily-workflow
[code]

After manually updated `go.mod`, it still fails but with a different error:

[code]

[2019-09-24 10:19] brian-brazil commented on #361
Try depending on a commit, rather than a tag.

[2019-09-24 10:28] creack commented on #361
Manually updating the go.mod to use prometheus' commit 52e0504f83ea6ef05b29c458d9b89173df355da7 (i.e., skipping go mod's semver check) did the trick and I have been able to build using 1.13. Thanks!

[2019-09-24 13:06] simonpasquier commented on #361
Late to the party but yes you have to refer to a commit ID.
see also https://github.com/prometheus/prometheus/issues/6048#issuecomment-534549253

[2019-09-24 18:45] tigrannajaryan commented on #347
@pjanotti please comment. We need to settle this before Beta release.

[2019-09-24 18:45] tigrannajaryan commented on #346
@pjanotti please comment.

[2019-09-24 18:56] pjanotti commented on #346
It is more consistent: everything that runs under the "service" (soon to be renamed collector), is placed under it in the config. We should go for it @bogdandrutu and @tigrannajaryan

[2019-09-24 18:57] pjanotti commented on #347
SGTM. The only possible call for this is to keep configuration and quickly disable something but with VCS and a good text editor it is trivial to workaround that.

[2019-09-24 19:01] pjanotti commented on #359
Adding to beta milestone since I think that can trip many if we are not consistent in this regard.

[2019-09-24 19:11] pjanotti commented on #303
@bogdandrutu the receivers can have a custom unmarshaler (it was needed by the Prometheus receiver) so we can't enforce the usage of `UnmarshalKeyExact` in that case, although we should recommend as guidance for implementers.

[2019-09-24 19:12] pjanotti commented on #303
Adding to beta since changes in config may cause unexpected issues for customers.

[2019-09-24 21:37] songy23 commented on #361
Please sync to master and try build again. I think #364 should have resolved the issue.

[2019-09-25 19:58] ccaraman opened #366 "Update examples to use OpenTelemetry configuration"
Example configs are outdated and reference opencensus notation instead of opentelemtry
ex: https://github.com/open-telemetry/opentelemetry-service/blob/master/examples/k8s.yaml#L72-L101

Need to ensure the demo using the configurations doc is correct
https://github.com/open-telemetry/opentelemetry-service/tree/master/examples/demo
and the landing page readme.
https://github.com/open-telemetry/open

[2019-09-26 20:21] bogdandrutu opened #368 "Pipeline requirements for data immutability"
Currently it is not very well documented if a processor or exporter is allowed to change the received Metrics/Trace Data or a copy is required.

I would propose to document this, probably a safe assumption is to say that every object in the Metrics/Trace Data is considered immutable.

Some examples:

Changing the name of a metric see https://github.com/census-instrumentation/opencensus-proto/blob/

[2019-09-26 21:17] tigrannajaryan commented on #368
This is a good point and is related to https://github.com/open-telemetry/opentelemetry-service/issues/353

The proposed approach with immutable objects is similar to the copy-on-write approach.

The other approach is cloning objects instead of sharing them and letting processors modify them instead of placing immutability requirements.

This is a tradeoff that does not have an obvious choice.

If

[2019-09-26 21:19] bogdandrutu commented on #368
Happy with any option you propose (and maybe test a bit), but want to clearly state the requirements :)

[2019-09-27 14:46] tigrannajaryan opened #369 "Benchmark passing of TraceData and MetricsData by value"
ConsumeTraceData and ConsumeMetricsData accept the structs by value. The struct are 8 and 4 words each and it is likely more efficient to pass them by pointer. Need to benchmark a typical (?) case and if the difference is non-neglible change to pass by pointer.

NOTE: double check that these structs are heap allocated in our codebase, otherwise we will introduce unnecessary allocation.

[2019-09-27 18:05] bogdandrutu commented on #368
I think indeed my proposal is a kind of copy-on-write with some knowledge about the structure of the data (we do not clone the entire object).

Maybe we can have a "service" config and all the processors that require to change the data will have access to?

[2019-09-27 20:00] tigrannajaryan opened #370 "Receiver must not pass long-lived Resource and Node as a shared objects to processors"
Some receivers (e.g. OC) send the resource (and node) once and the receiver keeps a pointer to it and adds to all arriving data for which resource is not set. If the processor/exporter  modifies it, then all further data from the receiver will have that modified resource.

The solution for that is for receiver to clone the Resource before passing to fanout connector.

[2019-09-27 20:18] bogdandrutu commented on #370
This is something that we cannot afford in a low-cpu usage deployments. We should not put this kind of limitations, and rather make a restriction on the consumers to treat every object as immutable and do copy-on-write.

[2019-09-27 20:24] bogdandrutu commented on #369
Passing by pointer will force a heap allocation I think, I am not a go expert.

[2019-09-27 20:47] tigrannajaryan opened #372 "Improve multi-pipeline performance"
## Problem
After merging https://github.com/open-telemetry/opentelemetry-service/pull/367 Collector will clone  data structures when fanning out the trace or metric data from receivers to multiple pipelines.
This fixes concurrency problem but can result in unnecessary cloning when components do not modify data. Cloning of a single span can take from several microseconds to tens of microseconds and

[2019-09-27 20:47] tigrannajaryan commented on #372
@bogdandrutu @pjanotti please comment.

[2019-09-27 20:50] tigrannajaryan commented on #369
@bogdandrutu yes, that's correct, however I believe they are already heap allocated in majority of cases in our codebase, but for some reason we copy the struct instead of passing the value. I will add a note to double check this.

[2019-09-27 20:57] tigrannajaryan commented on #370
We can use the same "intent declaration" to decide if cloning is necessary or not. Proposal is here: https://github.com/open-telemetry/opentelemetry-service/issues/372

Note that a processor that correctly implements copy-on-write can safely report that it does not intend to modify the data, so we will not do cloning. In that case we will have best of both approaches: no cloning, shared data, copy

[2019-09-27 20:59] bogdandrutu commented on #369
In Go you don't really know when something is heap allocated or not. It is up to the compiler to decide that so by returning a pointer we don't necessary heap allocate (again small knowledge about Go).

[2019-09-27 21:02] tigrannajaryan commented on #369
True, it is not part of the spec. However, in practice Go compiler performs escape analysis and everything that escapes the function by pointer is heap allocated. If it stays local (does not escape) taking the pointer doesn't normally migrate it from stack to heap.
This is of course all implementation specific but that is the current Go compiler behavior.

[2019-09-27 21:14] tigrannajaryan commented on #369
This is Go's official position on the topic (from https://golang.org/doc/faq#stack_or_heap):

[2019-09-30 15:40] tigrannajaryan opened #373 "Add Start function to Exporter inteface"
`TraceReceiver`/`MetricsReceiver` interfaces have a Start function that also accepts a Host parameter.

This serves 2 important purposes: it allows explicitly starting the receiver (and decoupling starting from creation) and allows the receiver to asynchronously communicate back to the Host after Start is returned (e.g. to report a fatal error).

The exporter interface currently lacks this.

To be

[2019-09-30 15:40] tigrannajaryan commented on #373
@bogdandrutu @pjanotti @owais what do you think about this?

[2019-10-02 15:58] pjanotti commented on #359
I'm going to start to work on this one. The plan is to enforce it via a runtime check (per comment above) using reflection when the configuration is loaded. I am changing the issue title to reflect that.

@ccaraman @tigrannajaryan @songy23 @bogdandrutu lmk if you have any Qs about it

[2019-10-02 15:59] tigrannajaryan commented on #346
Do we want to use `service` top-level key name or use `collector` now that we have a new name?

[2019-10-02 16:00] tigrannajaryan commented on #359
@pjanotti we should do this. However, it does not necessarily have to happen for Alpha v0.2. We can postpone this until next release to save time (we are tight for Alpha v0.2 release).

[2019-10-02 16:31] pjanotti commented on #346
I am fine keeping `service` since it refers to the "service provided by OTelCol" but I don't have a strong opinion on this matter.

[2019-10-02 16:38] tigrannajaryan commented on #346
`service` sounds good to me too (for the same reason that you specified). Let's go with it.

[2019-10-02 17:07] songy23 commented on #346
+1 to `service`.

[2019-10-02 17:10] pjanotti commented on #346
Ok, I will start to work on it and will use `service`

[2019-10-02 17:32] pjanotti commented on #359
Agreed, removing from Alpha v0.2 together with a few others.

[2019-10-02 17:38] #303 closed

[2019-10-02 20:19] songy23 commented on #353
Fixed by #367.

[2019-10-02 20:19] #353 closed

[2019-10-02 20:21] tigrannajaryan commented on #372
Done for processors in https://github.com/open-telemetry/opentelemetry-collector/pull/374

[2019-10-03 00:42] #346 closed

[2019-10-03 15:38] pjanotti commented on #352
The last remaining task is tracked via an issue on the contrib repo: https://github.com/open-telemetry/opentelemetry-service-contrib/issues/23 for the collector itself all issues are done, closing this issue.

[2019-10-03 15:38] #352 closed

[2019-10-07 17:28] tigrannajaryan commented on #373
Done via https://github.com/open-telemetry/opentelemetry-collector/commit/b125d052dba1ea7c0f5465d7ab0106997e9ef15d

[2019-10-07 17:28] #373 closed

[2019-10-07 17:31] tigrannajaryan commented on #372
https://github.com/open-telemetry/opentelemetry-collector/pull/374 implements this for processors. Initially this issue also described the same functionality for exporters however I decided that it is unnecessary and added clarifications that exporters are not allowed to modify data in https://github.com/open-telemetry/opentelemetry-collector/pull/378

Closing this issue since it is all done.

[2019-10-07 17:31] #372 closed

[2019-10-07 17:31] tigrannajaryan commented on #368
Done via https://github.com/open-telemetry/opentelemetry-collector/pull/378

[2019-10-07 17:31] #368 closed

[2019-10-08 00:17] #291 closed

[2019-10-08 02:45] #358 closed

[2019-10-09 16:22] pedro-ribeiro opened #387 "master is broken due to flaky test"
`TestExportProtocolViolations_nodelessFirstMessage` can fail due to `Log` being called after test has ended.

build log:
[code]

[2019-10-09 19:38] pjanotti commented on #387
Closed via #388

[2019-10-09 19:38] #387 closed

[2019-10-09 19:42] pjanotti opened #391 "MetricsAdjuster.AdjustMetrics() data race on centos7"
@dinooliva I got this twice building in centos7 docker, it doesn't repro on mac. At this point I don't know if it is a test issue or a real bug in the code.

[code]

[2019-10-10 08:46] jpkrohling commented on #274
I believe the OpenTelemetry Operator is now ready to be reviewed. It's currently located here:

https://github.com/jpkrohling/opentelemetry-operator/

If this is good enough for an initial release and contains no blockers, I would like to request a new repository either under the official organization (open-telemetry), or under a "-contrib" organization. I certainly prefer this to be part of the o

[2019-10-10 19:17] tigrannajaryan opened #392 "Print version number and git commit on startup in the logs"
This is useful for debugging and troubleshooting.

[2019-10-11 19:12] odeke-em opened #396 "receiver: add OpenCensus-PHP-Daemon"
Last year, we designed a daemon that'd receive stats from individual PHP processes and then apply aggregations on them before forwarding them to the agent as per https://docs.google.com/document/d/1CRiRq_wpzOuG9VKM_eaImcrS12Iie2V7LePnH9AwclU/ and it receives data via a UNIX Domain Socket. The daemon is currently present at https://github.com/census-instrumentation/opencensus-php/tree/1327147dc2ea9

[2019-10-15 14:18] #359 closed

[2019-10-15 15:09] jpkrohling commented on #274
ping @bogdandrutu, @SergeyKanzhelev

[2019-10-15 17:25] songy23 commented on #274
Consider putting the Operator under https://github.com/open-telemetry/opentelemetry-collector-contrib.

[2019-10-16 07:49] jpkrohling commented on #274
@songy23 unfortunately, all the tooling around operators expect the operator to reside on its own repository. To me, it doesn't matter much under which organization it resides (open-telemetry, open-telemetry-contrib, ...), and I think the other people who will help me maintain it won't mind that much as well.

The only thing that I think that would be beneficial is to have this operator close to t

[2019-10-16 22:32] pjanotti commented on #278
Hit again on PR #393.

[2019-10-17 02:33] huikang commented on #366
@ccaraman qq: is the image used in the k8s.yaml the latest opentelemetry-collector release?
The image name indicates it is opencensus-collector. Thanks.

https://github.com/open-telemetry/opentelemetry-collector/blob/7486dae93d427844c43e5edf49f859ef4b730bb5/examples/k8s.yaml#L153

[2019-10-17 13:43] huikang opened #403 "otel agent configuration does not in example/demo"
The configuration uses localhost, which does not accept traffic in the docker compose deployment

https://github.com/open-telemetry/opentelemetry-collector/blob/7486dae93d427844c43e5edf49f859ef4b730bb5/examples/demo/otel-agent-config.yaml#L7

[2019-10-17 20:21] pjanotti commented on #403
Just for the record that the jaeger thrift receiver extracts the port from the endpoint and opens all net interfaces, this should be fixed per related issue #158

[2019-10-17 20:21] #403 closed

[2019-10-17 20:21] #392 closed

[2019-10-21 00:33] pedro-ribeiro commented on #226
Hi. Do we have any suggestions on how the configuration could look like for this?

[2019-10-21 10:20] vikrambe opened #407 "Tail-Based Sampling - Scalability Issues"
I like the idea of tail based sampling. I would like to enhance tail based sampling in 2 ways:

Consider a case where we are tail-sampling based on span->http.status_code=500.
1. I would want to sample 100% of all http.status_code "500"s and 10% of http.status_code "200"s. I would like to create a new sampler that combines string_tag_filter and probabilistic sampler.
2. What would happen when Span

[2019-10-23 18:00] pjanotti commented on #391
Hit this again:
[code]

[2019-10-25 21:00] ccaraman commented on #366
@huikang  good catch - yeah that is the opencensus code and not the otel release. I know we don't know who owns the current open telemetry docker, tracked by issue #281 .
Omnition is publishing a docker image at https://hub.docker.com/r/omnition/opentelemetry-collector/tags that should be updated alongside with the other issues mentioned.

[2019-10-27 16:16] vikrambe commented on #407
Please review fix for #1 above.
i.e.

[2019-10-28 13:01] huikang commented on #216
@pjanotti , if this one has not been taken, I'd like to give it a shot? Thanks.

[2019-10-28 21:11] pjanotti commented on #216
Hi @huikang nobody took this issue. It will be an welcome contribution.

I would recommend trying to separate the translation code from the code that sends the data to Zipkin, that should be a HTTP client and since we have the queued_retry processor you don't need to implement retry/buffer logic on it: basically an HTTP client that receives the data and then sends to the endpoint.

[2019-10-28 21:12] pjanotti commented on #216
I assigned it to you @huikang - let's know if you have any questions (reach us out here or on gitter).

[2019-10-28 21:59] huikang commented on #216
Sure, will do.

[2019-10-31 20:49] pjanotti commented on #391
We are hitting this in CI too, eg.: https://github.com/open-telemetry/opentelemetry-collector/pull/409

[2019-11-04 05:26] vikrambe opened #413 "Tail Sampling - Implement Composite Policy"
Tail Sampling - Implement Composite Policy

[2019-11-04 17:42] tigrannajaryan commented on #413
@vikrambe please add a link to the design doc. Feel free to copy it and modify as you see fit. You can ping maintainers here to have a look at the design doc and review/comment.

[2019-11-05 23:58] vikrambe commented on #413
Design Document here https://docs.google.com/document/d/10wpIv3TtXgOik05smHm3nYeBX48Bj76TCMxPy8e1NZw/edit#heading=h.ecy5l2puwtp4

[2019-11-07 17:02] tigrannajaryan commented on #413
@open-telemetry/collector-maintainers please review the design doc posted above.

[2019-11-07 22:25] #356 closed

[2019-11-11 16:23] pjanotti opened #418 "zipkin exporter: translate Resources"
Currently zipkin exporter is not translating resources. This needs to be fixed on the zipkin exporter.

[2019-11-12 21:07] joe-elliott commented on #407
A no external dependencies option might look like:
- Consistent hash ring communicated via a gossip based protocol
- Upon receiving a span a collector hashes the trace id and forwards it to the appropriate collector

I believe this is very roughly what Cassandra does.

During scale up/down traces will be scattered across multiple collectors as the hash ring settles.  I suppose these traces would t

[2019-11-13 17:44] #171 closed

[2019-11-13 22:09] obecny opened #419 "Opencensus Receiver doesn't work"
I'm working on https://github.com/open-telemetry/opentelemetry-js/issues/499 and wanted to test that using opentelemetry-collector. Somehow I cannot make it work. I used the demo,
I tried to remove the `synthetic-load-generator` and `metrics-load-generator`, simplified the configs, still the same.
Can you please test if you are able to send data to opencensus receiver on the following address
`htt

[2019-11-14 17:30] #391 closed

[2019-11-15 15:32] tigrannajaryan commented on #419
OpenCensus receiver expects gRPC incoming requests. The code snippet shows an HTTP request with 'application/json' content type. I don't think it will work.

[2019-11-15 20:16] obecny commented on #419
@tigrannajaryan I have updated the example - which works fine now for me with different docker setup, but still not with demo

[2019-11-19 00:00] pjanotti commented on #419
@obecny the port on the demo is not exposed by default, if you do the change here in the link below you should be able to send to it.
https://github.com/open-telemetry/opentelemetry-collector/compare/master...pjanotti:expose-oc-collector-receiver-on-demo?expand=1

[2019-11-19 23:10] majelbstoat commented on #226
here's a starting suggestion based on testdata examples for the tailsampling and attributes processors:

[code]

This example would include for sampling any span that had a request latency of greater than 1 second. It would exclude anything on a route matching the specified regexes, like `grpc.health.v1.Health.Check` or `admin/dashboard`. Include takes precedence over exclude, so slow requests are

[2019-11-20 23:36] ferhatelmas commented on #361
Works here too. Module isn't tidied though. A PR is welcome for it?

[2019-11-22 18:02] rghetia opened #429 "receiver creation error is very generic without providing any details"
I ran the collector with vm receiver on macos where it is not supported. I got following message

[code]
I should have got
[code]

[2019-11-25 14:55] ecourreges-orange opened #433 "Metrics aggregation for same metric with 2 or more nodes"
Bug or feature?
Using the demo in example/demo runs fine.
I launched **a second metrics-load-generator**, hoping it would double the traffic and the metrics on http://localhost:8889/metrics, but instead **it resets the metrics** and the first metrics-load-generator's metrics stop being taken into account, as if the last Node arrived wins a metric.
Then I thought, "ok looks like the node name needs

[2019-11-25 16:33] ecourreges-orange commented on #433
I guess I should have looked at this issue, it seems to be by design:
https://github.com/census-instrumentation/opencensus-service/issues/542

But so I called the client label of my main2.go "cli2" and now I get alternating metrics for one and the other:

http://localhost:8889/metrics
[code]
Again http://localhost:8889/metrics
[code]

So this is a bug right?

[2019-11-26 15:01] tigrannajaryan opened #435 "Define semantic convention constants"
There are at least 2 pending PRs that define these conventions individually. There is a clear need for defining this and the best place to do it is in this repo so that it can be used by all components.

I suggest that the conventions are defined in a new `translator/conventions/opentelemetry.go` file.

Conventions to be defined: https://github.com/open-telemetry/opentelemetry-specification/blob/m

[2019-11-26 17:21] tigrannajaryan opened #436 "Add notes to Receiver/Processor/Exporter interfaces detailing the contract"
For example TraceReceiver.Stop() is intended to be synchronous and no traces are to be emitted after Stop() returns. This needs to be documented.

[2019-11-26 21:35] annanay25 commented on #126
This was fixed in #362. Can be closed. @flands

[2019-11-27 22:42] joe-elliott opened #437 "Nil exception/Race condition in Jaeger Receiver startup"
If jrReceiver.startCollector fails the code immediately falls into stopTraceReceptionLocked()

[code]

When this occurs there is a race between these two lines:
https://github.com/open-telemetry/opentelemetry-collector/blob/master/receiver/jaegerreceiver/trace_receiver.go#L247
https://github.com/open-telemetry/opentelemetry-collector/blob/master/receiver/jaegerreceiver/trace_receiver.go#L453

If t

[2019-11-29 14:08] kbrockhoff commented on #435
I am working on this.

[2019-12-02 16:33] #342 closed

[2019-12-03 21:31] #435 closed

[2019-12-04 07:33] annanay25 opened #440 "tailsamplingprocessor: Sampling decision from OnDroppedSpans() is not honoured"
In the tail sampling processor, the following lines of code delete the trace from memory without honouring the sampling decision from `OnDroppedSpans()` for the given policies.

https://github.com/open-telemetry/opentelemetry-collector/blob/fe3782c76de259c34c381e7e2d0a732c014a87fc/processor/samplingprocessor/tailsamplingprocessor/processor.go#L341-L346

We could either -
- Modify the `OnDroppedSpa

[2019-12-04 13:24] DanBoSlice opened #441 "Exporting to Zipkin doesn't work"
I started the collector with Zipkin configured as an exporter (Zipkin is already running):
[code]

The log shows:
`{"level":"info","ts":1575044337.1697915,"caller":"builder/exporters_builder.go:79","msg":"Exporter is starting...","exporter":"zipkin"}`
`{"level":"info","ts":1575044337.169811,"caller":"builder/exporters_builder.go:84","msg":"Exporter started.","exporter":"zipkin"}`

Now I use Postma

[2019-12-04 16:52] #157 closed

[2019-12-04 18:48] #429 closed

[2019-12-04 22:06] huikang commented on #441
Hi, @DanBoSlice , did you add `zipkin` to the exporters in the pipeline section?

https://github.com/open-telemetry/opentelemetry-collector/blob/28e76223b09962006ad629b593d8d492e0395592/examples/demo/otel-collector-config.yaml#L42

[2019-12-05 13:12] jpkrohling commented on #274
As discussed yesterday in the SIG call, I would like to have the operator reviewed, with the goal of placing it under its own repository owned by SIG Collector, under some organization managed by the OpenTelemetry project.

As promised, here are the parts that are of interest for a first review:

1. current repository: https://github.com/jpkrohling/opentelemetry-operator
1. the boilerplate code wa

[2019-12-05 22:18] tigrannajaryan opened #445 "Jaeger reciever ignores "disabled" configuration setting"
Try the following receiver configuration:
[code]
Jaeger receiver ignores "disabled" configuration setting and starts grpc server on the default port. Same bug exists for other Jaeger protocols.

Culprit is code which checks that port is 0 and assigns the default port: https://github.com/open-telemetry/opentelemetry-collector/blob/419ed61e5bac03caec1bf67bda09b5519bec9918/receiver/jaegerreceiver/tra

[2019-12-06 08:06] DanBoSlice commented on #441
@huikang Thanks for the response.

I just checked and Zipkin is included in the pipeline exporters. In fact, I used this demo config file and only adjusted the Zipkin URL and set logging to debug.

[2019-12-06 15:41] pjanotti commented on #441
Hi @DanBoSlice could you please share the config file that you are using? There was a bug (fixed yesterday) that was preventing the queued_retry processor of logging error messages, but I'm not sure if you were using it in your config (we recommend to use it as your retry mechanism).

[2019-12-07 05:05] huikang commented on #445
Hi, @tigrannajaryan , I'd like to give it a shot. My initial thought is to add additional field to extend

https://github.com/open-telemetry/opentelemetry-collector/blob/8739948139e0e7818ae18b49819beeef06d56086/receiver/jaegerreceiver/trace_receiver.go#L56

by adding new fields like `CollectorGRPCDisabled`, `CollectorHTTPDisabled`. These fields will be set during initialization

https://github.com

[2019-12-09 16:37] huikang commented on #41
looks like it failed again: https://travis-ci.org/open-telemetry/opentelemetry-collector/builds/622115361#L298

[code]
ok  	github.com/open-telemetry/opentelemetry-collector/receiver/opencensusreceiver/ocmetrics	1.193s	coverage: 84.9% of statements
298==================
299WARNING: DATA RACE
300Read at 0x00c0002e8d43 by goroutine 99:
301  testing.(*common).logDepth()
302      /home/travis/.gimme/v

[2019-12-09 17:51] DanBoSlice commented on #441
Hi @pjanotti,

I attached my config file (as a txt because Github does not allow yaml files as attachments):

[otel-conf.txt](https://github.com/open-telemetry/opentelemetry-collector/files/3941041/otel-conf.txt)

[2019-12-09 18:00] DanBoSlice opened #452 "Collecting meta data"
Hi everyone,

I know the OpenTelemetry Collector currently supports metrics and traces. I have a use-case in which I additionally want to collect all loaded (Java) classes of an application. Most of the classes will already be loaded at application start-up. However, in my use-case I am instrumenting a web application, so there might be some classes that only get loaded at a later point in time (f

[2019-12-09 18:09] tigrannajaryan commented on #452
There are currently no plans to add a generic "any" data collection capabilities. There is an intent to add logs/events as another data type some time in the future but that work is not yet started and will likely happen as part of the initiative to add logs/events to OpenTelemetry as a whole.

As for the specific use-case described in this issue I would advise to implement an extension that can b

[2019-12-09 20:52] joe-elliott commented on #445
This is related to #158 which I was planning on taking up after #448 is merged.

I recently added these helper methods for the agent protocols:
https://github.com/open-telemetry/opentelemetry-collector/blob/419ed61e5bac03caec1bf67bda09b5519bec9918/receiver/jaegerreceiver/trace_receiver.go#L171

and was intending to change the collector protocols to have a similar "is enabled" function.

[2019-12-09 23:36] huikang commented on #445
Got you. @joe-elliott , thanks for clarifying

[2019-12-10 05:01] huikang commented on #441
Your file seems copied from the collector's config under example folder. One notice I noticed is that you did not specify `format: proto`.

[2019-12-10 17:17] joe-elliott commented on #274
Overall this is looking really good.  I have run it in a local k8s environment successfully and have used it to operate an otel-collector.

I agree with @jpkrohling this belongs in its own repo regardless of the organization.

[2019-12-10 17:21] pjanotti commented on #41
Another instance. Test failed on #454

[code]

[2019-12-10 19:19] pjanotti opened #456 "Refactor: remove `Name()` where appropriate"
We have the `Name() string` receiver as a leftover of some interface, however, these are not being used anymore. If there is the need to get the name it should come the `Name()` from the `NamedEntity`.

[2019-12-11 08:22] jpkrohling commented on #274
Nice, thanks @joe-elliott!

@tigrannajaryan, do you, or anyone else, want to review it as well before moving it off of my personal account?

[2019-12-11 14:28] tigrannajaryan commented on #452
Closing since the question is answered. Feel free to reopen if further discussion is needed.

[2019-12-11 14:28] #452 closed

[2019-12-11 14:29] tigrannajaryan commented on #419
Closing since no recent activity on the issue. Feel free to reopen if neccessary.

[2019-12-11 14:29] #419 closed

[2019-12-11 14:32] tigrannajaryan commented on #361
Closing since no recent activity on the issue. Feel free to reopen if necessary.

[2019-12-11 14:32] #361 closed

[2019-12-11 14:40] DanBoSlice commented on #441
@huikang thanks, you're right. I just added it back into my config file. However the traces still don't show up in Zipkin.

Strangely enough, it seems like the trace is being exported:

```{"level":"info","ts":1576075019.1968594,"caller":"loggingexporter/logging_exporter.go:36","msg":"TraceExporter","type":"logging","name":"logging","#spans":1}```

[2019-12-11 21:54] tigrannajaryan commented on #274
@jpkrohling I had a very cursory look and see that your repo already has an established CI and all the wiring for building is in place (which is good). If we wanted to move it to this or contrib repo we would need to make changes to the build process at least. I do not see good reasons why we would want to do that and why not keep it as a separate project.
I think a better approach would be to cre

[2019-12-12 07:42] annanay25 opened #461 "Jaeger remote sampling: Support TLS with GRPC"
From #448 - Add TLS options to the GRPC remote sampling connection

[2019-12-12 07:48] annanay25 commented on #461
@VineethReddy02 - Would you like to take this up?

[2019-12-12 16:11] owais commented on #274
@jpkrohling I took a quick look and LGTM. Since we now have the ability to build multiple distributions of the collector, would it make sense to add a field that allows to specify which build/distribution of Otel the operator should use?

We already have core, contrib and omnition distributions. I think Google has one they use internally as well. May be we can we add a `docker_image` or `docker_re

[2019-12-12 16:46] objectiser commented on #274
@owais This can be done now:
[code]

[2019-12-12 16:52] owais commented on #274
Great. Overall LGTM. I'll try it out on a local cluster today and share any feedback here.

[2019-12-14 18:35] huikang commented on #456
@pjanotti , if no one has taken this, please assign it to me. Thanks.

[2019-12-16 10:36] annanay25 commented on #407
I'd like to share the design document for scaling tail based sampling for review - https://docs.google.com/document/d/1HEI8E9VFcv_QoA8k4YLoO8Md7XWiE5vqE3pIhKJozTQ/edit?usp=sharing

/cc @open-telemetry/collector-maintainers @joe-elliott

[2019-12-16 10:54] vikrambe commented on #407
@annanay25 I thought on the same lines but making otel implement service discovery seems to be an overkill and this design is not scalable at high load. Every otel collector instance starts distributing spans to respective collector instances. It more challenging when we have to unpack grpc batches and redistribute spans. Failover scenarios and tail sampling decision window adds more edge cases an

[2019-12-16 11:02] vikrambe commented on #407
@annanay25 @joe-elliott Maybe use of a in-memory distributed cache should help here. We can run otel collector in two modes . One mode will fill cache Only and other mode will actually make tail sampling decisions based on filter criteria’s. what do you guys think?

[2019-12-16 11:14] vikrambe commented on #407
@annanay25 Load balancers support ring hash based on header value. OtelCollector when configured with tail sampler can unpack grpc batches and hit the ALBs with span batched by grouping criteria such as TraceID or nodeId etc. And ship spans to respective otel collector instance handling TraceID being processed.

[2019-12-16 13:19] joe-elliott commented on #407
@vikrambe   One of our goals with the proposed design was to avoid taking on any external dependencies.  We recognize that at a certain scale tools like load balancers or in memory caches would definitely make things easier.

Perhaps a broader discussion about this particular feature and what kind of external dependencies the otel-collector would be willing to take on is necessary here?

[2019-12-16 15:19] vikrambe commented on #407
@joe-elliott I dont think we should add any external dependencies to otel collector. To keep it simple and yet solve this problem. One of the options that i can think of is to enhance otel collector's agent mode to batch spans and add headers that would help in routing the batchs to appropriate otel collector instance. Routing batches based on headers can be done by fairly any Load balancer.

[2019-12-16 18:26] tigrannajaryan commented on #456
@huikang Assigned to you, thanks.

[2019-12-16 22:54] pjanotti commented on #281
So far no success tracking the owner of https://hub.docker.com/u/opentelemetry

[2019-12-17 10:46] jpkrohling commented on #274
Any further feedback on this?

[2019-12-17 21:10] tigrannajaryan commented on #274
@open-telemetry/technical-committee please post your thoughts on this. If you agree with what I wrote in my previous comment please create a repo for the operator.

[2019-12-17 22:46] #456 closed

[2019-12-18 17:18] jpkrohling commented on #274
@bogdandrutu, @SergeyKanzhelev, @carlosalberto, @yurishkuro, could any of you please create the repository if there are no objections?

[2019-12-18 19:30] ccaraman opened #472 "Convert remaining use of 'url' to 'endpoint'"
The standard within the collector is to use 'endpoint' to specify the URL and 'endpoint' is apart of the common receiver and exporting config settings.

The following components are still using 'url':
* Zipkin Exporter https://github.com/open-telemetry/opentelemetry-collector/blob/d0d7f138d035a7f45250489dda88abc2fe01274c/exporter/zipkinexporter/config.go#L27
* Jaeger Thrift HTTP Exporter https://g

[2019-12-18 21:40] yurishkuro commented on #274
Created https://github.com/open-telemetry/opentelemetry-operator

@jpkrohling you're an admin for now (https://github.com/open-telemetry/opentelemetry-operator/invitations), please finish the set up .

[2019-12-19 08:52] jpkrohling commented on #274
Thanks @yurishkuro! I accepted the invitation and was able to push my repo there, but looks like I can't see the "Settings" tab, which is required to setup the CI tokens under the "Secrets" page.

![image](https://user-images.githubusercontent.com/13387/71158979-2bbb3b80-2245-11ea-86e2-5667dd17532a.png)

[2019-12-21 04:47] yurishkuro commented on #274
for some reason you only had Write access, I just changed it to Admin.

[2020-01-03 01:55] pjanotti opened #476 "Handle tracestate sampled flags on probabilistic sampler"
The probabilistic sampler should also handle the `sampled` flags from tracestate.

Some refs:
https://w3c.github.io/trace-context/#trace-flags
https://github.com/w3c/trace-context

[2020-01-03 17:30] tigrannajaryan opened #477 "Make component interfaces uniform"
We have a couple inconsistenses in our component interfaces that we need to fix:

1. Need to add a `Start` function to processors.
2. Need to replace `StartTraceReception`/`StartMetricsReception` by single `Start` function for receivers.
3. Need to replace `StopTraceReception`/`StopMetricsReception` by single `Shutdown` function for receivers.

Motivation:
1. Uniformness results in reduction of co

[2020-01-03 17:36] tigrannajaryan opened #478 "Add new internal in-memory representation and implementations"
Internal representation of traces and metrics currently uses OpenCensus Protobuf structs.

We want to convert to OTLP Protobuf-based structs internally. Here is how we can do this gradually:

- [x] Introduce parallel OTLP-based data types for traces and metrics.
- [x] Introduce new set of exporter/receiver/processor interfaces which can work with OTLP-based data types.
- [x] During startup if all

[2020-01-03 17:38] tigrannajaryan opened #479 "Add OTLP exporter"
Implement exporter using OTLP protocol: https://github.com/open-telemetry/oteps/blob/master/text/0035-opentelemetry-protocol.md

Depends on https://github.com/open-telemetry/opentelemetry-collector/issues/478

[2020-01-03 17:39] tigrannajaryan opened #480 "Add OTLP receiver"
Implement receiver using OTLP protocol: https://github.com/open-telemetry/oteps/blob/master/text/0035-opentelemetry-protocol.md

Depends on https://github.com/open-telemetry/opentelemetry-collector/issues/478

[2020-01-03 17:41] tigrannajaryan opened #481 "Add CPU profile saving to E2E tests"
Collector is currently able to collect own CPU profiles. Enable collection of CPU profile and save to a file after each E2E test. This will help with analyzing performance of the Collector in E2E tests.

[2020-01-03 17:49] tigrannajaryan opened #482 "Add E2E test for Zipkin format"
This requires DataSender and DataReceiver for the testbed.

See how it is done for other formats here: https://github.com/open-telemetry/opentelemetry-collector/blob/master/testbed/testbed/senders.go and https://github.com/open-telemetry/opentelemetry-collector/blob/master/testbed/testbed/receivers.go

The new format needs to be enabled in https://github.com/open-telemetry/opentelemetry-collector/

[2020-01-03 17:51] tigrannajaryan commented on #262
See https://github.com/open-telemetry/opentelemetry-collector/issues/477 for deeper refactoring proposal.

[2020-01-03 17:52] tigrannajaryan opened #483 "Implement graceful shutdown with pipeline draining"
Currently when shutting down any data that is in the pipeline is lost. We need to drain the pipeline during shutdown. First we need to shutdown receivers, then processors (and implement draining in processors that stores data), then exporters.

[2020-01-03 17:53] tigrannajaryan opened #484 "Add pipeline metrics (internal)"
See our Observability goals: https://github.com/open-telemetry/opentelemetry-collector/blob/master/docs/observability.md

[2020-01-03 18:00] tigrannajaryan opened #485 "Proposal: Add high-level observations"
## Problem
Collector currently exposes several low-level metrics of its own internal components that can be used to troubleshoot the Collector. However, such troubleshooting requires knowledge of internals of the Collector, clear understanding of what each metric means, how they are interrelated and often even requires looking up the source code to check what exactly a particular metric measures.

[2020-01-03 18:03] tigrannajaryan opened #486 "Research: Explore ways to expose pipelines state as a graph"
Explore ways to expose pipelines state as a graph. We want to clearly expose data propagation through pipeline, show in/drop/out for each component.

One possible approach is to model each component as a service of a distributed system and use spans to describe operations. This would result in displaying of Collector internals as a graph in backend which automatically perform such operation based

[2020-01-03 18:05] tigrannajaryan commented on #274
Closing, any further discussion can be done at https://github.com/open-telemetry/opentelemetry-operator

[2020-01-03 18:05] #274 closed

[2020-01-06 17:11] #481 closed

[2020-01-06 21:08] joe-elliott opened #491 "Improve otel collector/jaeger pipeline compatibility"
Using [jaeger-debug-id](https://github.com/jaegertracing/jaeger-client-go#via-http-headers) has an [issue](https://github.com/jaegertracing/jaeger-client-go/issues/440) that reveals an incompatibility between otel-collector and the jaeger pipeline.  jaeger-debug-id generates spans with invalid refs which are dropped by the otel-collector but are passed and stored by the Jaeger pipeline/backend.

T

[2020-01-06 22:02] joe-elliott commented on #483
I may be misunderstanding the need, but except for the processors this appears to be done:

https://github.com/open-telemetry/opentelemetry-collector/blob/b468dee9e0a514db4dab82f6cf7554be539533c9/service/service.go#L304-L317

[2020-01-07 01:14] tigrannajaryan commented on #483
Yes, this is the missing part. Processors support partially coming in https://github.com/open-telemetry/opentelemetry-collector/pull/488

We still need to implement draining in processors (particularly in batch and queue).

[2020-01-07 20:02] joe-elliott opened #492 "Provide a way to configure Jaeger Agent HTTP Port"
Support for Jaeger Remote sampling was added in this PR: https://github.com/open-telemetry/opentelemetry-collector/pull/448 but provides no way to configure the listening port.  As such the http proxy is never started.

This is the struct var that can not be set:
https://github.com/open-telemetry/opentelemetry-collector/blob/b468dee9e0a514db4dab82f6cf7554be539533c9/receiver/jaegerreceiver/trace_re

[2020-01-08 16:32] pjanotti opened #493 "Perf Test: Trace1kSPSWithAttrs/20*5000bytes failed on CI"
[code]

https://travis-ci.org/open-telemetry/opentelemetry-collector/builds/634310650?utm_medium=notification&utm_source=email

[2020-01-10 09:41] subnova commented on #396
The OpenCensus PHP daemon used a custom protocol between the PHP application and the daemon. If we expose the OpenCensus receiver on a UDS then we can use the JSON representation of the OpenCensus Protobuf and remove both the custom receiver code and use the standard protocol.

This same approach will work when we have an OpenTelemetry Protobuf representation.

[2020-01-10 10:24] jpkrohling commented on #407
I can totally understand that, but if there's a high-quality embedded distributed caching library out there, it might be worth using it instead of implementing a new one from scratch. @vikrambe's suggestion of [golang/groupcache](https://github.com/golang/groupcache) might be worth the investigation.

One advantage I can see when using groupcache instead of the proposed mod N hash is that cache mi

[2020-01-10 13:49] #262 closed

[2020-01-10 13:49] #477 closed

[2020-01-13 20:26] #366 closed

[2020-01-13 23:07] pjanotti opened #499 "Add way to communicate hash calculated by probabilistic sampler"
Related to https://github.com/open-telemetry/opentelemetry-collector/pull/469#discussion_r364000874

The idea is to make the probabilistic sampler capable of communicate the hash it calculated for sampled traces.

/cc @SergeyKanzhelev

[2020-01-14 15:11] ledor473 commented on #141
Would that include changing the namespace used for the metrics?
https://github.com/open-telemetry/opentelemetry-collector/blob/7a6e5f1955139a3c99ca37746e9ce17aa642fcc9/service/telemetry.go#L86-L88

Currently we get the following metric:
[code]

[2020-01-14 16:47] ledor473 opened #500 "Make OTel Collector serve Jaeger Remote Sampling directly"
The Jaeger Remote Sampling was introduced in #448 but as of it is now, it only fetches the configuration from a remote Jaeger Collector. This makes it impossible to drop the OTel Collector as a replacement for the Jaeger Collector.

If we could add a way to parse and serve the sampling configuration directly, we would be closer to be able to replace it. Here's the related documentation:  https://w

[2020-01-14 17:59] #445 closed

[2020-01-15 02:44] pjanotti commented on #141
Yes, @ledor473 at least making it configurable: there is the case to keep the old one for people that have alerts/dashboards based on `oc_collector` but it makes sense to update the namespace.

[2020-01-15 09:34] subnova opened #501 "Efficient connection management in OpenCensus receiver for transient processes"
The recommended approach for sending trace data to the OpenCensus receiver is to maintain a persistent TCP connection. This isn't always possible as the process may be transient: either because it is short lived or because the execution environment does not retain state between executions, e.g. PHP.

Allowing the OpenCensus receiver to listen on a unix domain socket reduces the connection setup co

[2020-01-15 17:01] joe-elliott commented on #500
Does the Opentelemetry collector have a Kafka exporter that would make the ideal option possible?

[2020-01-15 18:08] pjanotti commented on #216
Fixed via #412

[2020-01-15 18:08] #216 closed

[2020-01-15 18:11] pjanotti commented on #169
Fixed by #497

[2020-01-15 18:11] #169 closed

[2020-01-15 18:35] joe-elliott opened #502 "Research and Implement a Rate Limited Logger"
The OpenTelemetry Collector is a high performance application designed to handle hundreds to thousands of spans per second.  The dangers of logging in the "hot path" are summed up in the contributing readme:

https://github.com/open-telemetry/opentelemetry-collector/blob/master/CONTRIBUTING.md#logging

As such a "rate limited" logger would be ideal.  The logger would detect high volumes of exact o

[2020-01-15 18:36] joe-elliott commented on #491
The following was removed from the original issue in favor of #502.

Add logging to increase visibility on this issue.  Currently these dropped lines are metric'ed but nothing is logged:

https://github.com/open-telemetry/opentelemetry-collector/blob/b468dee9e0a514db4dab82f6cf7554be539533c9/exporter/jaeger/jaegergrpcexporter/exporter.go#L71-L74

[2020-01-15 18:43] ledor473 commented on #500
@joe-elliott I just looked and while OpenCensus Collector had one, it was removed when it changed to OTel Collector.
I guess the idea was to move it to https://github.com/open-telemetry/opentelemetry-collector-contrib, but it's not there neither.

[2020-01-15 18:46] joe-elliott commented on #500
We are currently planning to run the below which has the same number of components as your ideal path and supports remote sampling.  Would this work for you all?
[code]
I intend to submit fixes for #491 and #492 this week which should make this a possibility.

[2020-01-15 19:17] tigrannajaryan commented on #502
Related or dup of https://github.com/open-telemetry/opentelemetry-collector/issues/94

[2020-01-15 20:26] ledor473 commented on #500
It wouldn't work for what we are trying to do. The idea is to experiment with OTel Collector features (tail sampling, zpages, multiples exporters) while keeping the functionalities of Jaeger almost the same (Remote Sampling hardcoded in a file, the UI, etc)

[2020-01-16 16:24] joe-elliott commented on #502
Agree it's a dupe.  Closing.

[2020-01-16 16:24] #502 closed

[2020-01-16 19:05] pjanotti opened #505 "Create common code for HTTP receivers and exporters"
Currently there are receivers and exporters, in the core and contrib repo, that are just variations of data formats sent/received over HTTP (eg.: Zipkin, SignalFx, collectd, etc). This creates inconsistencies between very similar components. We should design HTTP receivers and exporters that can be extended to support different formats, handle requests and responses as needed but have a consistent

[2020-01-16 20:35] huikang commented on #476
@pjanotti , please assign this to me if no one has taken it. Thanks.

[2020-01-17 00:47] pjanotti commented on #476
Assigned @huikang. Let's know if any question about implementing it.

[2020-01-17 21:06] #492 closed

[2020-01-20 05:22] huikang commented on #476
@pjanotti , could you help to take a look at the following pseudo code? The basic idea is to have a new function `parseSpanTracestateSampled` that inspects the `sampled` entry in the span's trace state. If the span is not sampled, then we move to the next span. I am not certain that if there is no `sampled`, shall we consider the span is sampled or not (the following code sets the default as sampl

[2020-01-27 20:30] #491 closed

[2020-01-29 21:58] SergeyKanzhelev commented on #476
@pjanotti I'm not sure if `sampled` will ever be a key in `tracestate`.  Perhaps we need a separate field in proto to carry this information.

CC: @bogdandrutu @lmolkova

[2020-01-30 14:35] vikrambe opened #526 "Zipkin to Jaeger Span translation error flag not set"
**Problem** : JaegerUI isnt highlighting spans with error status when zipkin traces are received by otelcol and exported as jaeger spans.
**Why is this happening ?**
JaegerUI depends on Jaeger Span Model : Where "error" tag of "Bool" type is set by the jaeger collector upon receiving zipkin span with error status code.

Issue : OtelCol translation from zipkin model to jaeger model sets error tag a

[2020-01-30 19:37] pjanotti commented on #526
@vikrambe could you please provide some more info?

[2020-01-30 20:15] joe-elliott commented on #500
I believe this is really two separate issues:
- Add a Jaeger Kafka exporter
- Add support for loading a json file and serving the Jaeger sampling strategy

In both cases this would be replacing pieces of the Jaeger backend instead of just supporting export to the Jaeger backend.  As such, if we decide to do it, I think they should be implemented in contrib instead of the main repo.

*Kafka*
The Ka

[2020-02-03 20:02] ledor473 commented on #500
Totally! This current issue is only about `Add support for loading a json file and serving the Jaeger sampling strategy`

The rest makes sense. Good catch about that same port problem 👍

[2020-02-03 20:17] pjanotti commented on #500
@joe-elliott I think option 2 is reasonable: it keeps the same behavior that the Jaeger agent expects and it is part of their "protocol". It should be configurable so it can be enabled/disabled as needed.

[2020-02-03 20:36] pjanotti commented on #500
@ledor473 @joe-elliott how common is the usage of the Kafka exporter on Jaeger Collector? At first, my guess is that it fits better on the contrib repo but not 100% sure.

[2020-02-03 21:06] pjanotti commented on #476
@huikang let's put this on hold until the question about `sampled` is clarified.

[2020-02-03 22:19] joe-elliott commented on #500
@pjanotti

So I don't mind doing this in main repo.  It would be easier and more flexible than putting it in contrib.

I was just pointing out that these changes would be the first things that replace Jaeger collector functionality.  Everything else we've done interfaces with the Jaeger collector and sees that as the beginning of the "Jaeger backend".

As far as usage of the Kafka exporter, I can'

[2020-02-03 22:42] pjanotti commented on #158
Fixed via #490

[2020-02-03 22:42] #158 closed

[2020-02-03 22:43] pjanotti commented on #287
This was fixed quite some time back, closing it.

[2020-02-03 22:43] #287 closed

[2020-02-04 06:03] tohjustin opened #531 "Usage string for logger level flag contains invalid log level"
## Description

Usage string for logger level flag contains invalid log level (i.e. `TRACE`).

## Proposed Fix

Update usage string to contain all the log levels defined in: https://github.com/uber-go/zap/blob/v1.10.0/zapcore/level.go#L34

[code]

[2020-02-04 06:03] tohjustin commented on #531
If it's needed, I would like to create a PR for to address this issue.

[2020-02-04 11:48] annanay25 commented on #297
I can pick this up.

Is there consensus on whether to implement as part of receiver/processor?

[2020-02-04 13:30] tigrannajaryan commented on #531
@tohjustin thanks for offering help. Please go ahead and create a PR.

[2020-02-04 14:53] vikrambe commented on #526
@pjanotti JaegerUI relies on error flag [i.e. bool value] to color code the spans with error.
Zipkin spans [i.e. with error string set] when received and get converted to OC model, error continues to be stringType holding error message. When JaegerExporter converts from OC model to jaeger model error is shipped as string to jaeger and not as bool. This leads the UI to not highlight error spans in

[2020-02-04 15:12] tigrannajaryan commented on #526
@vikrambe please update the description of this issue. Provide full details about what you intend to change in Zipkin translation. Translation code is highly sensitive and changes will only be accepted after considering all aspects and ensuring it does not break existing functionality.

[2020-02-04 15:33] tigrannajaryan commented on #297
My preference would be to make this a processor, unless it is a huge performance hit to receive and drop in the processor. Some experimentation/benchmarking is needed to make a decision on this.

If it is implemented as a processor we need to see if it can be configured consistently with how for example include/exclude filters are configured in span "attributes" processor.

This definitely require

[2020-02-04 15:45] vikrambe commented on #526
@tigrannajaryan Please go through the description and let me know your thoughts on the same.

[2020-02-04 18:03] ledor473 commented on #500
We do use Kafka as well and as far as I know Uber does as well

[2020-02-05 03:20] #531 closed

[2020-02-05 19:29] pjanotti commented on #500
@joe-elliott we don't target replacing the Jaeger collector but my impression is that the usability of the Jaeger agent receiver itself gets very limited by the lack of supporting the config file. That's why my preference is to implement it on the core repo. /cc @open-telemetry/collector-maintainers and @open-telemetry/collector-approvers

@ledor473 we can start with a Kafka exporter on contrib an

[2020-02-06 21:54] hectorhdzg opened #536 "Failing to get docker image for demo"
Pulling collector (otelcol:latest)...
ERROR: The image for the service you're trying to recreate has been removed. If you continue, volume data could be lost. Consider backing up your data before continuing.

Continue with the new image? [yN]y
Pulling collector (otelcol:latest)...
ERROR: pull access denied for otelcol, repository does not exist or may require 'docker login': denied: requested acce

[2020-02-07 06:58] pjanotti commented on #536
Hi @hectorhdzg - the demo as described at https://github.com/open-telemetry/opentelemetry-collector/tree/master/examples/demo use a locally built image of the service. If you want to run against the public image use omnition/opentelemetry-collector:latest - that matches this release https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.2.3

[2020-02-07 21:13] hectorhdzg commented on #536
Getting following error with public image(omnition/opentelemetry-collector:latest):

Creating network "ot_default" with the default driver
Creating ot_zipkin-all-in-one_1 ... done
Creating ot_collector_1         ... error

ERROR: for ot_collector_1  Cannot create container for service collector: status code not OK but 500: {"Message":"Unhandled exception: Drive has not been shared"}

ERROR: for co

[2020-02-10 20:58] ccaraman opened #539 "Merge include/exclude logic from span package"
With https://github.com/open-telemetry/opentelemetry-collector/pull/537 the config for include and exclude are under object. This issue tracks having the Matcher object(or some logical name) that checks both the include and exclude properties for the processors. It would remove functions like https://github.com/open-telemetry/opentelemetry-collector/blob/328ad6d22b37f02e8079d0e896cfc3e188263b61/pr

[2020-02-12 18:00] rghetia opened #542 "Pipeline Metrics: End-to-End processing latency"
This issue specifically covers end-to-end latency metric which is a part of overall pipeline metrics (#484).

There are few things to consider here.
## Should there be one data point for each metric/span or should it be for a batch?
- Batch is preferred because metrics in a batch would have the same latency.

## What happens when multiple batches are combined?
- It should keep track of receive tim

[2020-02-12 19:42] tigrannajaryan commented on #542
Do you intend to record end-to-end latency only or also latencies broken down by individual pipeline elements?

[2020-02-12 19:53] ccaraman opened #543 "Rename the service node name in processor"
For components like istio proxy, the span service name is derived from the namespace and service name. For traces generated within the service, the service name (without namespace) is set.
When viewing traces, there will be two separate services:
- One for the istio proxy container
- One for the service container

One way to work around this is to update the service container name to be the namesp

[2020-02-13 17:32] rghetia commented on #542
my intention was to record end-to-end but broken down by individual pipeline would help to debug if there is an issue. I'll update the description to include that.

[2020-02-13 19:52] hectorhdzg commented on #536
Getting following error when running demo in Ubuntu

COMPONENT=otelcol make docker-component
make[1]: Entering directory '/home/hectorh/Desktop/opentelemetry-collector-master'
GOOS=linux make otelcol
make[2]: Entering directory '/home/hectorh/Desktop/opentelemetry-collector-master'
fatal: not a git repository (or any of the parent directories): .git
GO111MODULE=on CGO_ENABLED=0 go build -o ./bin/l

[2020-02-13 19:53] hectorhdzg commented on #536
It would be great to have a stable docker image to use for demo/samples purposes

[2020-02-13 20:20] pjanotti commented on #536
Hi @hectorhdzg error `{"Message":"Unhandled exception: Drive has not been shared"}` is related to docker not to the image. The second one seems a setup error and some of the tools used in the build is broken. That said perhaps having a way to run the demo without a local build is a good idea.

[2020-02-13 22:19] hectorhdzg commented on #536
Thanks after updating docker to share C drive official image works fine, it would be good to add this somewhere more discoverable

[2020-02-13 23:01] pjanotti commented on #536
@hectorhdzg ptal at the PR above, especially README.

[2020-02-14 14:54] #536 closed

[2020-02-14 15:08] owais opened #550 "Migrate to CircleCI"
Contrib repo has been using CircleCI and it has been working quite well. For consistency, we should use the same CI everywhere. This ticket tracks migration of this repo from Travis to CircleCI.

We have circleci config already present in this repo but builds were failing due to some differences when we first tried to migrate. We need to look into the reason for failing builds and complete the mig

[2020-02-16 06:33] anniefu commented on #297
I was unaware of this Issue, but I implemented a filter processor for Knative community's needs (concerned with metrics and Stackdriver in particular). I was planning on submitting a PR for it soon: https://github.com/anniefu/opentelemetry-collector/commit/0df4188b55bdc5d969eb6ecb9852f739a1a28e3c

A couple of key things that are different from span/attribute processor:
- Only one of include/exclud

[2020-02-17 12:46] owais commented on #289
PR #549

[2020-02-18 03:36] flands commented on #501
@subnova is this addressed now?

[2020-02-18 03:36] flands commented on #441
@DanBoSlice were you able to get this working?

[2020-02-18 03:44] flands commented on #350
@annanay25 @ccaraman can we close this one now?

[2020-02-18 18:25] #350 closed

[2020-02-18 23:47] pjanotti opened #557 "Doc: add section about using env vars on config file"
The collector has this capability but it is not documented, see [expandEnvConfig](https://github.com/open-telemetry/opentelemetry-collector/blob/9778b16b81016d6035b2a9f42cda8dc05d8165b8/config/config.go#L871) and related tests.

[2020-02-19 10:37] tsologub opened #558 "[QUESTION] Possibility to use duration as policy for tail-based sampling"
Does Otel collector provide a possibility to use `duration` as a policy?
I am using the following collector configuration:
[code]

[2020-02-20 00:50] pjanotti commented on #558
Hi @tsologub, the internal format carry duration as fields of the span, not as an attribute. So it won't work, you need a sampling policy to handle that. Would you be interested in writing one? I can give you some pointers.

[2020-02-20 00:52] pjanotti commented on #558
Alternatively, if you control the instrumentation you can add an attribute named duration to work as you intended.

[2020-02-20 02:51] anniefu opened #560 "Filter Processor Proposal"
# Filter Processor
A processor for dropping (AKA filtering) metrics and spans from the Collector pipeline based on specified string properties, for example, metric name or span name.

## Motivation
From #297, "Processing unnecessary metrics causes undue burden on resources in otelsvc pipeline. It also increase the backend cost."

A filter processor combined with multiple otelvc pipeline's also ena

[2020-02-20 02:51] anniefu commented on #297
I've written out a proposal for a filter processor at #560

[2020-02-20 02:52] anniefu commented on #560
@tigrannajaryan, @rghetia

[2020-02-20 06:30] rghetia commented on #560
@anniefu  thanks for writing the proposal. Couple of questions/comments
- This proposal states that it will drop the entire trace. Few things to consider for dropping entire trace.
  -  spans would have to be grouped by traceid (like it is done for tail sampling) prior to applying the filter.
  -  It would require same horizontal scaling solution as it is required for tail sampling.
  -  It would

[2020-02-20 09:07] annanay25 commented on #560
Agree with @rghetia. For traces, I think the right place to add these features would be as part of the [filters](https://github.com/open-telemetry/opentelemetry-collector/blob/master/processor/samplingprocessor/tailsamplingprocessor/sampling/string_tag_filter.go) in the `tailsamplingprocessor`. That would allow you to truly drop full traces.

[2020-02-20 13:48] annanay25 opened #561 "Erroneous error message"
Running the collector on master branch, with a misconfigured jaeger receiver port gives the following error right now -

[code]

This is a problem with the following line -

https://github.com/open-telemetry/opentelemetry-collector/blob/0a9e87ff4c8653d86540a0c3eddb58b6f7dd23fb/receiver/jaegerreceiver/factory.go#L199-L210

.. because some variables names have been reused causing loss of scope.

[2020-02-20 13:59] #500 closed

[2020-02-20 15:11] tigrannajaryan commented on #560
@anniefu thank you for the detailed description.

This would be a very reasonable proposal if we did not already have the include/exclude filters in existing processors. Unfortunately because they exist we have to take that into account and aim for uniform configuration syntax across all processors in this repo.

This is true, but I do not think it is significant enough to warrant introducing a ne

[2020-02-20 19:05] anniefu commented on #560
Thanks for the quick feedback, everyone! Full disclosure, I have not worked with traces/spans much  :)

@rghetia I meant filter spans instead of traces to be parallel with filtering the metrics array. I'm not very familiar with traces/spans, but it seems like being able to filter by span name or perhaps Resource just to reduce unnecessary processing could be worth implementing.

On the AND/OR, to

[2020-02-21 13:36] tigrannajaryan commented on #560
@anniefu I think a filter for individual spans can still be useful. For example there may be a particularly chatty service or part of service that generates large volume of useless or even incorrect spans (as a result of a bug) that we want to suppress until the bug is fixed.

Sounds good. Please try to make the configuration (and implementation) of filters for spans and metrics a uniform as possi

[2020-02-21 17:29] DanBoSlice commented on #441
Hi, I actually haven't put any work into the project for the last few weeks.
I noticed one bug I had. I send the trace and span ids as strings to the collector. In some configuration I was able to get a warning from the collector that apparently the need to be arrays of numbers (/bytes). Is there a documentation somewhere including an example request? I just tried it again with strings and didn't

[2020-02-22 02:05] anniefu commented on #560
Proposal updated, please take another look when you get a chance. Thanks!

[2020-02-24 05:31] flands commented on #441
It should be based on the data model here (also includes an example): https://zipkin.io/pages/data_model.html. Beyond that, translation information can be found here: https://github.com/open-telemetry/opentelemetry-collector/tree/master/translator/trace/zipkin

[2020-02-24 05:34] #126 closed

[2020-02-24 05:35] flands commented on #129
Given focus on OTLP, closing this.

[2020-02-24 05:35] #129 closed

[2020-02-24 05:36] flands commented on #289
Merged, closing!

[2020-02-24 05:36] #289 closed

[2020-02-24 15:22] tsologub commented on #558
sure. I'd be glad to. Give me some pointers, examples where can I start?

[2020-02-25 05:35] pjanotti commented on #558
You need to implement a policy evaluator (see [example here](https://github.com/open-telemetry/opentelemetry-collector/blob/263f5391ff94f1fc71a68e8ba75162d7c94136a8/processor/samplingprocessor/tailsamplingprocessor/sampling/numeric_tag_filter.go#L28)). This is an object with a simple interface: the method `Evaluate` that tells if a trace should be sampled or not. Your criteria for `Evaluate` shoul

[2020-02-25 22:07] marcantoine-bibeau opened #572 "Zipkin Post from Envoy 1.13.0 to otel-collector sometime fails because of timestamp value format"
Envoy 1.13 now only supports zipkin v2 api but sometimes send an invalid payload related to the timestamp using this format: 1.58266276796031e+15. There is already an open issue on Envoy side https://github.com/envoyproxy/envoy/issues/9341 with discussion on Go side to support these kind of value or not... Can this case be handled in otel-collector? Could wait for a long time for Envoy fix...

**R

[2020-02-26 00:29] pjanotti commented on #572
Hi @marcantoine-bibeau, isn't it easier to switch Envoy to emit Jaeger or another format?  The collector still can send it to a Zipkin backend.

[2020-02-26 00:47] owais commented on #572
@pjanotti  Yes, that's what we already decided to do but thought it was still worth it to report the issue here for zipkin receiver.

[2020-02-26 17:31] owais opened #574 "Implement Open Telemetry proto receiver and translator"
The goal is to enable SDK developers and the rest of the community to start developing around the OpenTelemetry proto. We'll need to enable an OpenTelemetry proto receiver and a rudimentary OpenTelemetry to OpenCensus translator to make this happen. The translator does not need to be exhaustive because the in-memory OpenCensus representation of spans will soon be replaced with different representa

[2020-02-26 19:36] anniefu commented on #560
Bump on this. I'm happy to get the implementation done as soon as we reach a consensus.

[2020-02-26 23:30] nilebox commented on #574
I will give it a try.

[2020-02-26 23:57] tigrannajaryan commented on #574
@nilebox thanks for offering help. Note that there is already code that can translate from OpenCensus to OTLP: https://github.com/open-telemetry/opentelemetry-collector/blob/master/translator/trace/oc_to_otlp.go

This can be used by OTLP exporter (warning: that code has tests but was never run in production, so bugs are likely).

[2020-02-27 01:51] liamawhite opened #575 "Prometheus Job and Instance labels"
When using the Prometheus receiver and exporter I no longer get the `job` or `instance` labels that are default in Prometheus. Is this expected behaviour?

When Prometheus scrapes them I lose these fields even with `honor_labels: true`. I have manually checked the metrics and they are missing these labels so it's not an issue with Prometheus. Is there a way to manually add them back in with some `

[2020-02-27 02:00] pjanotti opened #576 "Test: investigate skipped tests on OC receiver"
These are being skipped since OpenCensus collector we should either fix or remove them.

[code]

[2020-02-27 16:54] tigrannajaryan commented on #560
@anniefu Thank you for updating, sorry for the delay.

A few questions:

Q1.
[code]

Is this how we currently specify attributes in include/exclude filters? The syntax appears a bit different (perhaps it denotes the same thing in YAML, I am not sure).

Q2. No support to filter metrics by attributes/labels? This is fine, we can add it later, just double checking.

Q3.
[code]

Can you clarify how th

[2020-02-27 18:37] anniefu commented on #560
@tigrannajaryan No worries, thanks for taking another look!

I believe so (I just copy-pasted that part from the processor README).

I think first iteration will just be setting up the interfaces/helper classes and the name field, which should set an example for adding more fields. The amount of code/test for that will already be large, so I am not planning on including attributes/labels at this t

[2020-02-27 19:41] pjanotti opened #579 "Aggregate multiple Jaeger batches and perform a single call to ConsumerTraceData"
Currently, multiple Jaeger batches can't be aggregated to make a single call to `ConsumerTraceData` because the legacy internal format (OpenCensus proto) needs a unique service on each call to ConsumerTraceData. When the transition to OTLP is done batches can be aggregate a single call to `ConsumerTraceData`.

More context here: https://github.com/open-telemetry/opentelemetry-collector/pull/578/fi

[2020-02-27 23:18] jlsalmon opened #580 "Question: copying serviceName to every span as a tag"
I'm using `otelcol` to ingest both Jaeger and Zipkin spans, and send them to Honeycomb. However, Honeycomb requires `serviceName` to be set on every individual span.

As I understand it, for Jaeger, the `serviceName` lives at the trace level, inside the `process` struct. For Zipkin, the `serviceName` lives at the span level, but nested in the `localEndpoint` struct (i.e. is not a regular tag).

My

[2020-02-27 23:56] pjanotti commented on #580
The service name is already pulled out from Zipkin. It tries first the local endpoint, failing that it resorts to the remote endpoint, if even that fails it puts a placeholder instead. Is the translation from internal collector format to Honeycomb losing that info? What is the exporter that you are using?

[2020-02-28 00:07] pjanotti commented on #580
That ^ said @jlsalmon

If further manipulation is necessary you should be able to do it with the span processor, but I think you should not need that.

[2020-02-28 00:08] jlsalmon commented on #580
Thanks @pjanotti - you're right, the service name is flowing correctly. There must have been something amiss elsewhere in my setup.

[2020-02-28 00:08] #580 closed

[2020-02-28 10:27] olagacek opened #583 "Add config correctness validation"
Recently I discovered that it is possible to misconfigure prometheus receiver and there will be no runtime errors. Sample incorrect configuration:

[code]

There was no error when loading configuration indicating that use_start_time_metric was in incorrect place, I think that there should be some error saying that `config` field had some extra, unused arguments.

[2020-02-28 12:40] jpkrohling commented on #267
I think it's time to remove this already. We'll be removing TChannel soon from the collector, and we shouldn't have it here by then.

[2020-02-28 15:31] pjanotti commented on #583
Thanks for reporting @olagacek

[2020-02-28 15:38] pjanotti commented on #267
Let's create one on the contrib repo first so there will be a fallback for anyone that needs it (we did this for zipkin scribe).

[2020-02-28 20:47] hectorhdzg opened #586 "Collector metrics OpenCensus receiver question"
I'm working on Python exporter for Collector Metrics, I'm using grpc and getting following error when trying to send data, currently hitting localhost:55678 do I need to use a different URL?

details:'unknown service opencensus.proto.agent.metrics.v1.MetricsService'

Collector config

receivers:
  opencensus:
    endpoint: "0.0.0.0:55678"

exporters:
  logging: {}

processors:
  batch:
  queued_re

[2020-02-28 20:51] liamawhite opened #587 "Docker image /tmp directory permission denied"
The v0.2.3 image scraping as a Prometheus receiver in Kubernetes generates the following error intermittently:

[code]

This causes the container to exit (and restart). The issue seems to be that the `/tmp` directory doesn't exist as the following hack appears to fix the issue:

[code]

I say appears to fix as it hasn't occurred since I changed this 3+ hours ago, but the absence of evidence isn't

[2020-02-28 21:35] pjanotti commented on #586
hi @hectorhdzg - you need to create a metrics pipeline, (warning hand compiled):
[code]

[2020-02-28 21:36] pjanotti commented on #586
Suggestion: take a look at the example/demo, eg: https://github.com/open-telemetry/opentelemetry-collector/blob/master/examples/demo/otel-agent-config.yaml

[2020-02-28 21:47] hectorhdzg commented on #586
Thanks a lot, is working now

[2020-02-28 21:47] #586 closed

[2020-02-29 00:10] ashish-kalbhor commented on #561
Are there any steps to reproduce this @annanay25 ?

[2020-02-29 00:52] liamawhite commented on #587
Ok, just confirmed that if I build from master without the `/tmp` directory it still occurs.

[2020-03-02 04:16] flands commented on #56
This is resolved now

[2020-03-02 04:16] #56 closed

[2020-03-02 15:10] flands opened #592 "Receivers should default to 0.0.0.0 instead of 127.0.0.1"
Today, all receivers that support specifying an IP address default to `localhost`. The net result of this is that if you deploy the collector as a container or on Kubernetes that the default configuration does not work. In addition, it is really hard to troubleshoot why it does not work. The issue is that in these deployments -- the primary use-case for the collector today -- you must specify the

[2020-03-03 14:56] pjanotti commented on #194
Closed via #593

[2020-03-03 14:56] #194 closed

[2020-03-04 21:44] anniefu commented on #560
Any additional thoughts or concern? I would like to get an implementation out before I get caught up in other projects :)

[2020-03-05 09:39] x13n commented on #542
Why not add n data points to the metric whenever a batch is exported? Within a single batch, metrics may have different timestamps if they were buffered, so that approach will make it independent on how they were batched, solving the issue of splitting/merging the batches during processing.

[2020-03-05 12:11] pmm-sumo opened #595 "Remove `export_resource_labels` flag from Zipkin exporter"
The flag was added so the users could keep the previous behaviour of Zipkin exporter, though it's not symmetric and should be actually removed.

Lets give the users time until ~ April '20 and then remove the flag completely

Background: https://github.com/open-telemetry/opentelemetry-collector/pull/591#discussion_r387855570

[2020-03-05 14:19] ConverJens commented on #560
Very nice initiative! I'm looking exactly this functionality in order to setup several pipeline that needs to drop spans based on an attribute on them.
@anniefu My time is a bit limited but if you need help with this, perhaps I can assist you.

[2020-03-05 14:43] vikrambe commented on #560
@tigrannajaryan I working on composite policy as discussed earlier. Looks like the functionality proposed here overlaps with composite policy.
https://github.com/open-telemetry/opentelemetry-collector/issues/413

[2020-03-05 15:23] tigrannajaryan commented on #560
@anniefu sorry for the delay. The proposal mostly looks good to me. Let's go ahead with implementation and we can discuss/decide the rest of the details in the PR.

[2020-03-05 19:17] anniefu commented on #560
@ConverJens Great! I'm only planning on setting up the interfaces and name filtering right now, so maybe adding attributes filtering for spans would be something you'd be interested in adding after? I will CC you on the PRs to keep you in the loop.

@vikrambe @tigrannajaryan it does seem like there's some overlap in configuration with the composite tail filtering proposal, but functionally it is d

[2020-03-05 20:55] flands commented on #55
This is supported -- closing.

[2020-03-05 20:55] #55 closed

[2020-03-05 20:56] flands commented on #76
memory_limiter processor exists today so closing this.

[2020-03-05 20:56] #76 closed

[2020-03-05 20:56] flands commented on #57
this is done -- closing.

[2020-03-05 20:56] #57 closed

[2020-03-05 20:59] flands commented on #247
I am tempted to close this -- @songy23 @tigrannajaryan thoughts?

[2020-03-05 21:08] tigrannajaryan commented on #247
I'd vote to close, since we haven't been able to come up with anything better.

[2020-03-06 09:06] ConverJens commented on #560
@anniefu Sounds good! Let me know when you get going!

@vikrambe @tigrannajaryan I agree with @anniefu that the functionality is different enough to warrant both processors.

[2020-03-06 14:14] jpkrohling commented on #587
I'm also experiencing this and I would expect logging to *only* occur at stdout/stderr, so, writing to a log file in `/tmp` shouldn't happen at all.

[2020-03-06 14:24] pavolloffay opened #601 "Programatically configure collector"
We are extending OTEL collector in Jaeger project. The use case we have is to run the collector without the configuration file. This allows smoother migration from Jaeger collector to new Jaeger OTEL collector. Jaeger can be executed without any configuration or the configuration can be provided by flags, env vars., file (all is managed by viper)

When the configuration file is missing the default

[2020-03-06 14:25] #247 closed

[2020-03-06 14:33] flands commented on #601
`--config` can be passed today. Agreed a default configuration should be available -- is that the only ask here?

[2020-03-06 14:37] pavolloffay commented on #601
I know that `--config` can be passed today and the collector fails if the config is missing or invalid. In Jaeger OTEL build we want to run the collector when config is missing and programmatically configure it.

[2020-03-06 14:38] pavolloffay commented on #601
Also, I am happy to submit a PR. First I just want to make sure that we agree on this proposal.

[2020-03-06 14:43] flands commented on #601
In OC we had options to enable things: https://github.com/census-instrumentation/opencensus-service#collector-usage. Is the ask to re-add this functionality?

[2020-03-06 15:00] pavolloffay commented on #601
It could work, but a purely programmatic API on the https://github.com/open-telemetry/opentelemetry-collector/blob/master/service/service.go would be better otherwise we will have to hack around the `os.Args`.

[2020-03-06 15:02] flands commented on #601
Got it -- will wait for @tigrannajaryan and @pjanotti to weigh in

[2020-03-06 15:29] owais commented on #601
What if the main entry point took an additional argument that was either raw bytes or a parsed config struct? The service would use this argument as config instead of loading it from the disk. A build can then programmatically generate a config yaml, marhsal it to bytes and hand it over to the main service entry point. That would result in minimal changes to the service while allowing custom build

[2020-03-06 15:34] pavolloffay commented on #601
It sounds reasonable. I am wondering whether there is configuration struct/type which could be passed instead of the bytes to make it more type-safe.

[2020-03-06 15:40] tigrannajaryan commented on #601
We can pass `configmodels.Config` to `service.New`. It is type-safe and is the full representation of the config.

[2020-03-07 09:43] sandyleo26 commented on #579
happy to take a shot at it. Could i have some guidance to get started? Thank you.

[2020-03-09 19:25] pjanotti commented on #579
Hi @sandyleo26 thanks for stepping up! This one requires the migration of the internal format to OTLP - I would ping you here when that is done, hopefully, you can still help us with that.

[2020-03-09 19:46] pjanotti commented on #587
This seems a k8s issue (the one writing to `/tmp`) @liamawhite a PR to workaround it is welcome.

[2020-03-09 19:52] liamawhite commented on #587
@pjanotti just to confirm you want me to PR the Dockerfile hack with comments?

[2020-03-09 20:29] pjanotti commented on #587
@liamawhite correct: create the temporary folder and add a comment why it was needed.

[2020-03-10 04:45] nilebox commented on #574
Just to recap the work progress on OTLP receiver:
- [x] OTLP trace translator #582
- [ ] OTLP metric translator #594
- [ ] HTTP/JSON gateway https://github.com/open-telemetry/opentelemetry-proto/pull/110
- [ ] OTLP receiver #577 - blocked by changes above

[2020-03-10 08:26] jpkrohling opened #608 "All logs should be written to stdout/stderr"
As seen on #587, the collector will attempt to write to local files when it faces some specific problems. In container environments, such as Kubernetes, writing to log files isn't recommended nor expected. The collector should always write to stdout/stderr, as those are retained automatically by the platform, potentially being submitted to an external tool to analyze those log entries.

[2020-03-10 12:19] sandyleo26 commented on #579
@pjanotti cool. yes please let me know what needs to be done, the more specific the better as i'm quite new to this project. thank you

[2020-03-10 14:17] pjanotti commented on #608
@jpkrohling my understanding from #587 is that a k8s lib via Prometheus client is writing to file (see https://github.com/prometheus/prometheus/pull/4931) that said we should check if an updated lib fixes the issue.

[2020-03-10 14:31] jpkrohling commented on #608
Or whether the lib can be configured to use a `io.Writer` specified by the us.

[2020-03-10 15:19] pmm-sumo opened #610 "Logging exporter should include more information"
Currently, logging exporter provides limited information about the spans and metrics. Even with DEBUG level enabled, it just prints out a message that a package with a given number of spans was received.

It is helpful to include much broader scope of data, such as:

- resource type and its attributes
- node information and attributes
- specific spans, including values and attributes

To limit the

[2020-03-10 15:29] lizthegrey opened #611 "Failure to build from source with GOOS=windows"
`github.com/prometheus/client_golang v1.1.0` in `go.mod` should be updated to at least `v1.2.0` to fix https://github.com/prometheus/client_golang/issues/642

[code]

[2020-03-10 15:54] lizthegrey commented on #611
We fail to catch this in CI because `binaries-all-sys` is not run automatically by our CI, only building for native architecture.

[2020-03-10 18:16] lizthegrey commented on #550
Would y'all mind if I helped with this?

[2020-03-11 01:35] marcantoine-bibeau commented on #572
Argg, seems like there's always something!!! Jeager native tracing is broken with Envoy 13 :( see https://github.com/envoyproxy/envoy/issues/9849

[2020-03-11 09:13] objectiser opened #618 "Move Jaeger thrift exporter to Contrib"
The purpose of the exporter is to send the trace data to Jaeger's backend. Not sure we need two different protocols to support this requirement?

What is the benefit of offering end users the ability to choose between the protocols - wouldn't it be easier to provide the simplest possible configuration (i.e. just provide the gRPC protocol)?

If the decision is to provide users with the choice, then

[2020-03-11 09:15] jpkrohling commented on #618
gRPC is now well-established in the Jaeger Collector and contains even more features. To avoid confusion, I would vote to keep only gRPC in the OpenTelemetry Collector.

[2020-03-11 09:20] pavolloffay commented on #618
If there are no benefits/differences between using one or another we should decrease the maintenance overhead and support only one.

[2020-03-11 10:28] annanay25 commented on #618
+1 to removing thrift exporter.

[2020-03-11 10:28] nilebox opened #619 "log.Fatal vs returning errors"
Collector codebase currently extensively uses `log.Fatal` calls at any stage of the startup.
e.g. [service.go](https://github.com/open-telemetry/opentelemetry-collector/blob/master/service/service.go) currently contains 12 such calls.

While there is nothing wrong with terminating application when it fails to initialize properly, the number of points triggering termination should be limited.

One

[2020-03-11 10:43] objectiser commented on #618
@pjanotti @tigrannajaryan As original contributors of the thrift exporter, would you have any objections to it being removed in favour of just supporting the gRPC exporter?

[2020-03-11 12:44] flands commented on #618
Removing from core makes sense, but not entirely as other may still be using it. I would propose it move to contrib instead. We still have Zipkin scribe in contrib for exactly this reason.

[2020-03-11 12:46] flands commented on #619
Failing early is by design, but agreed termination points should be limited. @tigrannajaryan thoughts?

[2020-03-11 12:46] flands commented on #611
Windows support was unfortunately dropped back in the OC days. Support needs to be added back so thanks for filing this.

[2020-03-11 12:49] flands commented on #583
One of the goals is to fail early on invalid configs -- we have this in many places, but not all currently. This needs to be fixed.

[2020-03-11 13:15] lizthegrey commented on #611
@flands review appreciated on the PR

[2020-03-11 14:00] owais commented on #550
Thanks Liz, that'd be great.

[2020-03-11 14:01] lizthegrey commented on #550
Yoink.

[2020-03-11 14:25] pjanotti commented on #618
@objectiser No objections, the practice should be as @flands described: we move components to contrib (and then delete) as appropriate.

[2020-03-11 14:28] objectiser commented on #618
@pjanotti Ok no problem - although given that collector hasn't reached 1.x yet, thought now would be a good time to clean out? Is there a deprecation policy associated with components in the contrib?

[2020-03-11 14:35] yurishkuro commented on #618
FWIW the next version of jaeger backend (1.18) removes support for tchannel altogether.

[2020-03-11 14:37] jpkrohling commented on #618
To be clear: I think the only valid case for having TChannel/Thrift and not gRPC is when someone has implemented their own Jaeger-like backend without gRPC support.

[2020-03-11 14:49] pjanotti commented on #618
@objectiser no written policy yet. That said we should make a distinction between exporters and receivers: exporters can be deleted (added to contrib if there is demand), receivers typically should go to contrib (there are apps that some times generate a specific format).

@yurishkuro "collector" tchannel exporter support was removed a few months ago, there is still agent tchannel support (there i

[2020-03-11 14:53] objectiser commented on #618
@pjanotti Thanks for the clarification - I was specifically referring to exporters. I would propose to delete the jaeger-thrift exporter, and if anyone raises an issue with justification why gRPC is not sufficient, then we add to contrib?

[2020-03-11 14:55] pjanotti commented on #618
@objectiser sgtm

[2020-03-11 16:00] #587 closed

[2020-03-11 23:09] tigrannajaryan commented on #618
Based on today's discussion in SIG meeting I suggest the following action plan:
1. Announce in gitter that Jaeger thrift will be moved from Core to Contrib.
2. Wait a few days and see if there are any objections that need to be taken into account.
3. Copy the code to Contrib (can we preserve the history somehow?)
4. Delete from Core.

[2020-03-11 23:49] tigrannajaryan commented on #619
Yes. As soon as a piece of code can be imported and used as a library `log.Fatal` or any other form of exiting the process directly from library code is bad practice. The caller (main) should ultimately decide what to do as a result of the error.

`Application` is now part of our extensibility story and we encourage importing it and using in custom builds. I agree `log.Fatal` and any other process

[2020-03-12 00:00] nilebox commented on #619
It seems that changes in `Application` won't require signature changes, since https://github.com/open-telemetry/opentelemetry-collector/blob/5334b3a8ff0825671a88b3c08d0378c3be159706/service/service.go#L380 already returns error.

So what we need to do there is to replace `Run` with `RunE` in https://github.com/open-telemetry/opentelemetry-collector/blob/5334b3a8ff0825671a88b3c08d0378c3be159706/ser

[2020-03-12 12:32] liamawhite commented on #587
@pjanotti would it be possible to cut a new release, with a new image?

[2020-03-12 17:54] marcantoine-bibeau commented on #572
FYI, I have created a pr on zipkin-go to handle scientific notation numbers: https://github.com/openzipkin/zipkin-go/pull/161

once this is merged and new release created collector would only have to update zipkin-go version

[2020-03-13 00:04] pjanotti commented on #587
There should be a new release at most by the beginning of next week. I will ping you when it is ready.

[2020-03-13 13:20] marcantoine-bibeau commented on #572
So zipkin-go rejected the change... so only have to wait for Envoy fix :(

[2020-03-13 15:36] #619 closed

[2020-03-13 16:25] tigrannajaryan commented on #618
@yurishkuro are you OK with this?

[2020-03-13 18:37] yurishkuro commented on #618
Ack

[2020-03-13 21:00] #610 closed

[2020-03-13 23:26] bogdandrutu opened #634 "Optimization ideas for internal MetricData"
1. Can we benchmark this to see how fast are second and subsequent calls? I hope initInternallIfNeeded gets inlined. We can look at the generated code at https://go.godbolt.org/
If it is not inlined it may make sense to have if !rm.pimpl.initialized { check at every callsite (I know it is more verbose but I am worried function call cost in Go may not be as low as we'd want).
2. Another optimizatio

[2020-03-16 21:58] tigrannajaryan commented on #479
I will take this.

[2020-03-16 23:42] bogdandrutu opened #641 "What to do with InstrumentationLibrary when converting from otlp to oc"
This issue is just to make sure we not ignore the InstrumentationLibrary info when converting from otlp to oc.

This needs to be fixed in `[trace|metrics]/otlp_to_oc.go`.

[2020-03-17 02:55] #601 closed

[2020-03-18 14:19] tigrannajaryan opened #652 "Add E2E receiver/export correctness tests"
We currently have E2E tests that benchmark the performance of various formats.

We also need E2E tests that verify the correctness of the Collector operation as it receives and exports the data in various formats. Performance tests don't verify this today. We need separate tests that will send telemetry data to the Collector, covering all possible variety of such data and then verify that the Coll

[2020-03-18 15:21] bogdandrutu opened #653 "Remove Set for non immutable fields in the new data package"
This was a problem before with protos but I think we have a chance to fix it now, let's assume we have a pipeline Processor1 -> Processor2:
* Processor1 creates an "immutable" from its perspective `MetricDescriptor` and uses `Metric.SetMetricDescriptor()`. Let's assume we just copy the pointer and do not make a copy of the immutable fields inside the MetricDescriptor (this was possible in the prot

[2020-03-18 15:34] tigrannajaryan commented on #653
We have clear data ownership guidelines which say that 2 processors cannot own the data at the same time. Once the Processor1 hands over the data to Processors2 the ownership is transferred and Processor1 must forget about that data.
See https://github.com/open-telemetry/opentelemetry-collector/tree/master/processor#data-ownership

Given these ownership rules do we still have this problem?

[2020-03-18 15:57] bogdandrutu commented on #653
It is still a problem, let's assume in the current model where we use ocprotos, can a MyProcessor that is marked as "Exclusive data ownership" do the following?
[code]

If the answer is yes (it is correct valid this) then if the "myKey" attribute was added by the AttributesProcessor via INSERT (we have a pointer to the attributeValue that we reuse every time we do insert) then `MyProcessor` will c

[2020-03-18 18:31] pjanotti opened #655 "Add common gRPC receiver configuration settings"
This was done for exporters and make the experience of configuration consistent for gRPC exporter, we should do the same for gRPC receivers.

[2020-03-18 19:03] bogdandrutu opened #656 "Fix consistency between Attributes (struct) and events/links"
There is currently a definition for an object call Attributes that encapsulates an AttributesMap and dropped information, but not available for other fields like links/events.

Suggestions:
1. Remove Attributes and have a specific setDroppedAttributes call for all the struct that include attributes.
1. Add Links/Events as structs similar with Attributes.

Personally I prefer the first suggestion.

[2020-03-18 21:43] tigrannajaryan commented on #482
@mrumian-sumo feel free to work on this. Github does not let me assign this to you for some reason.

[2020-03-18 21:45] tigrannajaryan commented on #482
@mat-rumian

[2020-03-19 03:15] bogdandrutu commented on #653
I think if we want to keep the Set functions we need to clarify this:

We need to clear say that same pointer (in the v1) object (in the v2) cannot be set multiple times.

[2020-03-19 15:16] tigrannajaryan commented on #574
All done. Closing.

[2020-03-19 15:16] #574 closed

[2020-03-19 16:25] objectiser opened #662 "Metrics related to send success/fail spans as well as batch"
Currently there are `otelcol_success_send` and `otelcol_fail_send` counters that record the number of batches sent by the queue processor. Would it be also possible to record the number of spans?

Jaeger reports `jaeger_agent_reporter_(batches|spans)_(submitted|failures)`, allowing identification of both the number of successful/failed batches as well as spans.

Additionally Jaeger has a gauge `ja

[2020-03-19 18:56] pjanotti commented on #662
@objectiser we are in the process of changing the metrics of the Collector an initial part of that work was recently merged. The new metrics have `otelcol_exporter_sent_spans` and `otelcol_exporter_send_failed_spans` for the exporters. That should give the visibility for the number of spans sent to Jaeger (check the exporter label). Currently, there is no aggregation to get number of batches direc

[2020-03-19 19:43] tigrannajaryan commented on #653
You are right. I don't think ownership rules are enough.

For example if AttributesProcessor does this:
[code]
then it gives up the ownership of `akv` and `akv` may be modified by others later in the pipeline. But it is really very difficult to clarify this in ownership rules and it is very easy to make this mistake.

Thinking of options that you listed. Option 1 seems reasonable. It eliminates th

[2020-03-19 21:13] tigrannajaryan commented on #656
I am fine with the first approach.

[2020-03-20 00:27] tigrannajaryan opened #668 "Add E2E test for OTLP receiver"
See how E2E tests for other receivers are done in the `testbed`.

[2020-03-20 00:52] nilebox commented on #668
@tigrannajaryan please assign to me.

[2020-03-20 14:40] objectiser commented on #662
@pjanotti Thanks for the info. The current batch metrics also have the `service` dimension - would it make sense to also have it for these span based counters?

[2020-03-20 15:19] tigrannajaryan opened #669 "Add throttling / backpressure to OTLP receiver"
OTLP must throttle the clients when it receives a backpressure from the pipeline (e.g. memory_limiter).

Must comply with OTLP spec and use gRPC status codes + RetryInfo (see the spec).

[2020-03-20 15:20] tigrannajaryan commented on #669
@pjanotti can you please add details here about how exactly receivers are informed about backpressure?

[2020-03-20 17:11] yurishkuro opened #671 "Code coverage target"
Since Jaeger is planning to start using otel collector, I wanted to check what code quality tooling is being used here. The code coverage is showing at 75%, which is much lower than Jaeger's target of 95% (*). Can it be raised and threshold checks added to CI?

(*): in Jaeger some small packages are explicitly excluded due to requiring external dependencies like storage or kafka.

cc @pavolloffay

[2020-03-20 17:13] yurishkuro opened #672 "Adding stricter linters"
Similar to #671: Since Jaeger is planning to start using otel collector, I wanted to check what code quality tooling is being used here. I only saw basic lint in the Makefile. Consider adding these:

 * github.com/securego/gosec/cmd/gosec
 * honnef.co/go/tools/cmd/staticcheck

[2020-03-20 18:26] bogdandrutu commented on #671
@yurishkuro we should make this our top priority in April. Let's call April the coverage month :)

[2020-03-21 02:46] #656 closed

[2020-03-23 02:34] bogdandrutu commented on #482
@mat-rumian you need to write something here so I can assign the issue to you :)

[2020-03-23 11:29] mat-rumian commented on #482
Hello :)

[2020-03-23 14:53] bogdandrutu commented on #668
@nilebox please apply to become a member of the community. Look for instructions in the community repository I am happy to support that, @tigrannajaryan can also support it.

[2020-03-23 15:19] #479 closed

[2020-03-23 15:45] mat-rumian commented on #652
I will be happy to help with this :)

[2020-03-23 20:26] tigrannajaryan commented on #668
@nilebox I implemented the E2E test for OTLP exporter and will do this one as well, it is trivial for me to do that, no need for you to spend time on this.

[2020-03-23 20:27] nilebox commented on #668
Sure, thanks.

[2020-03-23 22:44] bogdandrutu opened #689 "Add more comments to describe how the code generator works and what types support."
This refers to `cmd/pdatagen` and `cmd/mdatagen`.

[2020-03-24 15:01] #668 closed

[2020-03-25 16:18] tigrannajaryan opened #699 "TestResourceMetricsSlice fails sporadically"
The test is unstable and sometimes fails. Full output:

[code]

[2020-03-25 21:20] #583 closed

[2020-03-25 23:59] #611 closed

[2020-03-26 02:06] lizthegrey commented on #281
It sounds like we now have a repo, so we should change over the CI to release there, yeah?

[2020-03-26 11:26] olagacek opened #709 "Error when using service discovery in prometheusreceiver with metadata cache"
I was trying out Kubernetes Service Discovery in Open Telemetry prometheus receiver, and while it did discovered pods correctly and scraped them it failed to append the metrics, with following error:

{"level":"info","ts":1585146576.7671049,"caller":"scrape/scrape.go:1190","msg":"","level":"debug","scrape_pool":"jvm","target":"http://10.4.1.7:8090/metrics","msg":"unexpected error","series":"jmx_co

[2020-03-26 15:09] pjanotti opened #711 "Test: TestConcurrentNodeAdds data race"
https://circleci.com/gh/honeycombio/opentelemetry-collector/11?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[code]

[2020-03-26 15:11] pjanotti opened #712 "Test: TestExportSpanLinkingMaintainsParentLink failure"
https://circleci.com/gh/honeycombio/opentelemetry-collector/11?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[code]

[2020-03-26 18:08] #550 closed

[2020-03-26 18:08] #711 closed

[2020-03-26 23:55] bogdandrutu opened #719 "Define behavior of SourceFormat in the new data model."

[2020-03-27 18:55] bogdandrutu commented on #671
I think the major difference was that you did calculate the coverage across packages which we did not, added #723 to fix that problem.

@yurishkuro suggest you use go-acc instead of manually written bash script to execute coverage across packages.

[2020-03-28 15:47] bogdandrutu opened #735 "Re-evaluate gosec error about using "weak cryptographic primitive""
[code]

[2020-03-28 15:58] bogdandrutu opened #736 "Re-evaluate if pprof should be flag enabled or ignore gosec G108"
[code]

[2020-03-28 16:00] bogdandrutu opened #737 "Audit G204 gosec issue in testbed."
Probably safe to ignore for the moment, since is in testbed but would be good to resolve it correctly:

[code]

[2020-03-28 23:48] #672 closed

[2020-03-29 16:48] pjanotti opened #741 "Test: add obsreport test support for components"
This should be supplied so components can check if they are generating the proper observability data. This will avoid trivial mistakes like using the wrong methods for a given component.

The mistake risk can also be reduced by changing the `obsreport` interfaces. Either by having strong types on the interfaces per component and data type or by splitting it in packages per component and data type.

[2020-03-30 11:24] jcchavezs commented on #580
I might be lacking context but I am not sure this sounds reasonable. Service name in zipkin world represents the service creating the span, using the remote endpoint name is misleading. I am looking for the code holding this rules but could you please clarify this @pjanotti ?

[2020-03-30 18:40] tigrannajaryan commented on #41
And again https://circleci.com/gh/open-telemetry/opentelemetry-collector/599

[2020-03-30 18:46] pjanotti commented on #41
Looking...

[2020-03-30 20:23] #41 closed

[2020-03-30 23:11] naseemkullah opened #751 "docked image naming and tagging"
https://hub.docker.com/u/otel

IMHO The prepending `opentelemetry-` seems redundant since the repo is named `otel`.

Furthermore could there simply be a collector image with various tags: e.g. dev, contrib, contrib-dev, stable or are they really different and require different images altogether?

[2020-03-30 23:14] naseemkullah opened #752 "helm chart"
Hello,

I am aware of a k8s operator to deploy the collector but would like to propose providing a helm chart. If so kindly create `open-telemetry/helm-charts`, give me admin access and I will do the rest.

I've done other CNCF repos such as for fluent-bit (https://github.com/fluent/helm-charts) and jaeger (https://github.com/jaegertracing/helm-charts).

[2020-03-31 16:40] bogdandrutu opened #754 "How to handle SpanKind.Internal from otlp in opencensus"
Currently SpanKind - PRODUCER and CONSUMER - are handled using attributes in opencensus, but Internal is currently converted to opencensus Span_SPAN_KIND_UNSPECIFIED which was used in opencensus as the default.

Proposals:
* OpenCensus' Span_SPAN_KIND_UNSPECIFIED should be translated to INTERNAL if no attribute for PRODUCER or CONSUMER.
* Implement the same mechanism as we did for PRODUCER and CON

[2020-03-31 16:56] bogdandrutu commented on #754
From the OTLP proto definition:
https://github.com/open-telemetry/opentelemetry-proto/blob/master/opentelemetry/proto/trace/v1/trace.proto#L105

[2020-03-31 22:00] #267 closed

[2020-03-31 22:22] #618 closed

[2020-04-01 14:09] secustor opened #760 "Collector fails to startup using Jaeger exporter"
I'm playing around with a small setup using the collector, but if I enable the Jaeger exporter it fails with following logs:
[code]
My configuration looks like this:
[code]

I followed this [example](https://github.com/open-telemetry/opentelemetry-collector/blob/master/exporter/jaegerexporter/testdata/config.yaml) for the Jaeger configuration.

[2020-04-01 16:26] tigrannajaryan opened #762 "Explore if declaring ComponentType as a type alias instead of string is useful"
We use `string` in the codebase to represent component type (as it is known to factories and referred to in the confing).

Explore if declaring ComponentType as a type alias instead of string is useful. See if can break other code that imports us.

[2020-04-02 09:29] nilebox opened #768 "Resource Processor: incorrect documentation or bug in implementation?"
The doc for Resource Processor doesn't match the actual purpose of the `type` field:
- The documentation states that it's used to filter by source type to which we want to apply static labels.
- In fact Resource Processor always overwrites the resource type.

Code and doc were written by different people, so there probably was some misunderstanding:
- code: #423 @dinooliva
- doc: #573 @flands

Whi

[2020-04-02 16:27] rghetia commented on #768
I believe the intention was to override but I can see this expand to more elaborate resource processing that would allow to
- add resources
- overwrite resource
- modify resource (add additional labels)
- do the above conditionally.

[2020-04-02 16:57] tigrannajaryan commented on #754
Looks like a bug in internal->OC translation. OC->translation handles this correctly.

[2020-04-02 19:20] dinooliva commented on #768
Yes, the intention was to override. There's a lot of room for expanding resource processing, as noted by @rghetia and including adding support for dynamic resources (e.g. based on label values).

[2020-04-02 22:55] nilebox commented on #768
One particular issue with the current implementation of the Resource Processor is that it effectively makes collector support only **one resource type**, which might be okay for sidecar mode, but doesn't scale well for generic `DaemonSet` per node serving various types of metrics and spans.

[2020-04-02 23:10] nilebox opened #773 "Adding static labels to resource without changing its type"
We have a use case where we need a processor that would add static labels to resource without changing its type. It seems generic enough to be supported by collector out of the box.

The existing [Resource Processor](https://github.com/open-telemetry/opentelemetry-collector/tree/master/processor#resource) always overrides the resource type, which makes it impossible to use when there is more than

[2020-04-02 23:11] nilebox commented on #768
Created a separate issue for discussing improvements in Resource Processor: #773

[2020-04-03 15:30] bogdandrutu opened #778 "Setting the explicit buckets (double[]) should copy the slice to ensure no future changes are allowed."

[2020-04-04 00:15] tigrannajaryan commented on #768
Fixed in https://github.com/open-telemetry/opentelemetry-collector/pull/772

[2020-04-04 00:15] #768 closed

[2020-04-05 01:00] bogdandrutu commented on #760
What version of the collector did you use?

[2020-04-05 08:22] secustor commented on #760
I have used the this docker image `otel/opentelemetry-collector:0.3.0`

[2020-04-05 22:59] bogdandrutu opened #791 "Change Componet.Start to not accept Host"
Consider to pass Host during creation time in the `CreateParam`.

[2020-04-06 14:08] bogdandrutu opened #794 "Change Extension to use the new Create* design."
Currently Extension uses the old design for the Create method without CreateParams and Context.

[2020-04-06 15:15] bogdandrutu commented on #760
In v0.3.0 the Jaeger was "jaeger_thrift_http" or "jaeger_grpc" after v0.3.0 we removed support for the thrift_http and renamed the "jaeger_grpc" to "jaeger".

So try to change "jaeger" -> "jaeger_grpc" in your config.

[2020-04-06 17:35] #794 closed

[2020-04-07 11:22] secustor commented on #760
This has fixed the issue and on the code on the master branch correctly recognizes `jaeger` in the configuration.

[2020-04-07 11:31] #760 closed

[2020-04-07 15:58] mat-rumian opened #800 "Config file builder for OpenTelemetry-Collector"
I would like to suggest adding a builder for opentelemetry-collector configuration file for testing purposes. In current implementation https://github.com/open-telemetry/opentelemetry-collector/blob/master/testbed/tests/scenarios.go#L34 config file is generated based on the provided string. This can cause a lot of problems during tests development (one whitespace more can cause the otelcol crash).

[2020-04-07 16:11] tigrannajaryan commented on #800
I like the general idea. Can you elaborate a bit more to understand what you aim for?

[2020-04-07 18:28] mxiamxia opened #802 "OTel Collector potential memory leak"
I have the collector setup with the following pipeline config and I am sending about 500 spans requests per second to Jaeger Receiver in the collector. The collector heap size starts growing after running for 10 - 20 minutes and the collector instance will crash at the end. From the profiling, I can see the span data buffered in ```jaeger.jSpansToOCProtoSpans(jspans []*jaeger.Span)```. I also trie

[2020-04-07 18:54] tigrannajaryan commented on #802
Can you also attach Collector logs?

Do you have both Jaeger and Zipkin backends up and running and accepting from Collector?

[2020-04-07 22:09] mxiamxia commented on #802
Hi Tigran, I have both Jaeger and Zipkin backends running in the separate containers(see attached picture). I am seeing the following errors in the logs. I guess the root cause could be when the backend(zipkin server) failed to handle the post request, it failed back to processor and kept buffering the data in the collector size and get OOM finally?

[code]

<img width="1130" alt="Screen Shot 2020

[2020-04-08 13:26] obecny opened #805 "Span traceId, spanId and parentSpanId doesn't work when setting them as bytes"
The description for traceId, spanId, parentSpanId says it should be bytes, however it works only if it is set to base64

https://github.com/open-telemetry/opentelemetry-proto/blob/master/opentelemetry/proto/trace/v1/trace.proto#L58
https://github.com/open-telemetry/opentelemetry-proto/blob/master/opentelemetry/proto/trace/v1/trace.proto#L68
https://github.com/open-telemetry/opentelemetry-proto/blo

[2020-04-08 13:26] obecny commented on #805
related issue in proto
https://github.com/open-telemetry/opentelemetry-proto/issues/136

[2020-04-08 16:13] bogdandrutu commented on #805
@obecny happy to look into this issue, but please tell us the configuration, receiver/exporter you use and protocol.

[2020-04-08 17:48] mat-rumian commented on #800
So I was thinking about creation of specific builder for YAML configs. Current implementation is very sensitive for any kind of human mistakes like whitespaces or invalid/not supported keywords. I was thinking about something like this:

[code]

It's just a general idea, but I think it should be simple and intuitive to use for end users.

[2020-04-09 09:59] secustor opened #815 "OTLP --> Jaeger trace transformation leads to missing properties"
Version: 0e1b2e323d398cf6cda500953c7896aa01c173b7
Instrumentation: https://github.com/open-telemetry/opentelemetry-auto-instr-java v0.2.2
Logs: https://gist.github.com/secustor/1d31b3ac613208fef7d6e50912528f07

I use following setup:
`[opentelemetry-auto-instr-java] --otlp--> [OTEL collector] --jaeger_grpc--> [jaeger all in one]`
this leads to `"process is empty for the span"` errors jaeger as the

[2020-04-09 12:33] pavolloffay opened #816 "Migrate collector's metrics from OC to OpenTelemetry"
Currently, the collector uses OpenCensus API for internal observability https://github.com/open-telemetry/opentelemetry-collector/blob/0e1b2e323d398cf6cda500953c7896aa01c173b7/observability/observability.go#L25.

These metrics should be probably migrated to OpenTelemetry API.

Jaeger storage components use abstract metrics API and so we need to export these metrics in Jaeger OTEL collector e.g.

h