[2020-04-09 15:00] yurishkuro commented on #816
This would also provide the needed dogfooding for OTel SDK.

[2020-04-10 04:23] bogdandrutu commented on #699
Obsolete, please reopen if you see this again.

[2020-04-10 04:23] #699 closed

[2020-04-10 04:27] bogdandrutu opened #822 "MetricData or Metric[s]Data for the new internal data?"

[2020-04-10 04:29] bogdandrutu opened #823 "Does the new data model need to support "SourceFormat"?"
`SourceFormat string` was part of the old data model and no equivalent in the new data-model.

[2020-04-10 16:33] pjanotti commented on #823
I don't think so: in practice, it was not that useful (at least for me) and we want to be able to mix data from different sources under the same batch and tracking the original source format becomes an extra amount of work without clear benefit.

[2020-04-10 20:06] bogdandrutu commented on #822
@tigrannajaryan any thoughts on this?

[2020-04-10 20:54] dmitryax commented on #822
I'd prefer `MetricData`. It's consistent TraceData and doesn't sound wrong.

[2020-04-10 21:45] tigrannajaryan commented on #822
I agree with @dmitryax
I would also do it across all names, e.g. `ConsumeMetricData` in new interfaces if not already done (I don't remember).

[2020-04-10 22:02] bogdandrutu commented on #822
@tigrannajaryan I think in the new interface we have `ConsumeMetrics` because we need different name than the old interface.

[2020-04-10 22:40] dmitryax commented on #822
I agree that we should use `Metric` in all the places. `ConsumeMetricsData` is the name in the old interface, `ConsumeMetric` is not being used, if I'm not missing anything.

[2020-04-10 23:33] bogdandrutu commented on #822
@dmitryax probably we should use `ConsumeMetricData` and `ConsumeTraceData` after we remove the old interface.

[2020-04-10 23:48] dmitryax commented on #822
@bogdandrutu agree, that would be better name

[2020-04-11 00:20] bogdandrutu commented on #816
@yurishkuro completely agree, we are waiting for 2 things:
1. The ability to use labels from the `correlation-context`.
1. The ability to configure `Views` - allow us to configure which labels from the `correlation-context` to use.

If we don't have these two things we need to manually propagate/retrieve these values every time we do a report. Which may be possible if we do have couple of helper f

[2020-04-11 00:50] yurishkuro commented on #816
Why do you need context labels in the collector? Sounds a bit like nice to have, not a showstopper.

[2020-04-11 01:03] bogdandrutu commented on #816
I think I also tried to explain myself that we have the solution to use helper functions, but let me describe the design a bit:
* In the pipeline we want to record at every step metric broken down by the "receiver" so we add receiver to the context to propagate it in the pipeline instead of having it as an explicit argument. So we can have helper functions that just retrieve that from the context

[2020-04-11 01:05] bogdandrutu commented on #816
@pavolloffay to answer your question, we do want to use opentelemetry metrics. probably tracing as well :)

[2020-04-13 18:32] damemi opened #828 "Kubernetes example collector fails to apply"
When trying to deploy the sample k8s collector described in the docs: https://opentelemetry.io/docs/collector/about/ I get the following error

[code]

version:
[code]

[2020-04-14 13:37] pavolloffay commented on #816
thanks @bogdandrutu. I can open a PR to port the metrics.

Is there any issue in `opentelemetry-go` for:

[2020-04-15 12:31] bogdandrutu commented on #816
I think the missing thing is this otep https://github.com/open-telemetry/oteps/pull/89

[2020-04-15 23:14] bogdandrutu commented on #822
@tigrannajaryan and I decided to use:
`pdata.Traces`
`pdata.Metrics`
respectively:
`ConsumeMetrics`
`ConsumeTraces`

[2020-04-15 23:16] bogdandrutu commented on #719
Duplicate https://github.com/open-telemetry/opentelemetry-collector/issues/823

[2020-04-15 23:16] #719 closed

[2020-04-15 23:20] #822 closed

[2020-04-16 02:06] zhongj0802 opened #838 "The tracing data can't be received in jaeger backend in collector demo"
When trying to run the demo collector described in the demo section of docs: https://opentelemetry.io/docs/collector/about/ I find that the metrics and tracing data can be queried on Prometheus and Zipkin web UI ,but the tracing data can't be displayed on Jaeger UI。
The error information of the collector container log is below:
...
{"level":"warn","ts":1586998440.1645105,"caller":"queuedprocessor/

[2020-04-16 14:25] william-tran opened #840 "OCProtoToJaegerProto appends parent to the end of references, parent should be first"
This block runs after the references list is put together: https://github.com/open-telemetry/opentelemetry-collector/blob/v0.3.0/translator/trace/jaeger/protospan_to_jaegerproto.go#L490-L501

Jaeger UI assumes the parent is the first reference and has no parent span ID in its object model, so it renders the trace incorrectly. This was encountered when trying to resolve https://github.com/jaegertra

[2020-04-16 16:00] bogdandrutu opened #841 "Remove pdatautil when the new Metrics data model is finalized."

[2020-04-16 20:58] jjzeng-seattle opened #842 "Label Processor Proposal"
# Label Processor
A processor for removing metric labels, including the label key and the corresponding label values.  We could add other operations such as insert and update later, if there is a need for them.

## Motivation
This is to prepare the knative metrics for the stackdriver exporter, but it could apply to other scenarios.

Stackdriver does not accept metrics sent with unknown metric labe

[2020-04-18 14:16] bogdandrutu commented on #842
@jjzeng-seattle removing labels is not as simple as span attribute processor because it requires merging points in case they have the same labels after labels are removed. @rghetia I remember you wrote a doc about label reduction. Is it possible to share that?

[2020-04-19 05:57] rghetia commented on #842
here is the [doc](https://docs.google.com/document/d/1OjYes0E4Ruy5rIYYn99yF1-lqy23D5QhYoyAx4SabDI/edit?usp=sharing).

[2020-04-19 17:54] rueian opened #846 "docker compose demo is broken"
Hi, I notice that the `otel-agent` will go panic after receiving metrics from the demo metrics-load-generator (https://github.com/open-telemetry/opentelemetry-collector/blob/5e3b4e2cee14e1df8fafbe36776cd2f8a7445ac4/examples/main.go).

Steps to reproduce:
1. start the demo

[code]

2. watch the logs of otel-agent

[code]

Here is the logs:

[code]

[2020-04-20 01:56] james-bebbington opened #847 "Host Metrics Receiver"
Add a receiver to generate Host Metrics about the machine the collector is running on. Initially this will be for Windows only, but extendable so that the same receiver can be used to collect Linux metrics when implemented

This [Host Metrics](https://docs.google.com/document/d/1i-QG-TxkIWVbdx86UM2GXcFvpeCV7zSBsPmMyMkOEBk/edit?usp=sharing) document captures the metrics we intend to collect.

Updat

[2020-04-20 16:23] dmitryax opened #851 "Declare span statuses as constants in the pdata"
Right now we have to use wrapped OTLP span status constants: `pdata.StatusCode(otlptrace.Status_NotFound)`.

We need to define constants in pdata for span statuses to have something like `pdata.StatusCodeNotFound` instead

[2020-04-20 19:15] jjzeng-seattle commented on #842
Do they need to be merged?  Could we have 2 metrics with the same labels?

I understand it would be nice to merge them for obvious reasons, but is it a requirement?

@bogdandrutu @rghetia

[2020-04-21 16:20] rghetia commented on #842
It would depend on the backend. For example, stackdriver will not accept the un-merged timeseries. There will two problems
1. Two datapoints posted for the same timeseries within 1 minute. Backend has to merge these data points appropriately before displaying it on the chart. If the backend has limitation on how many data points can you post within X seconds then this will out right fail.
2. Each

[2020-04-22 01:04] james-bebbington opened #854 "Windows CI"
This is a brief proposal for updating the CI to better support Windows development & code that targets Windows specifically. I have been thinking about this as I started building out the new Host Metrics receiver which has code to gather Windows specific metrics. While I can't see it in the design docs anywhere, as I understand it the Collector is intended to be able to run with similar functional

[2020-04-22 12:42] pavolloffay opened #856 "Add average span size metric"
I would like to propose to add average span size metric (e.g. in bytes). This metric could be exposed in two places receiver and exporter (the attributes can change in processors).

The main motivation is to help to determine storage size and network overhead.

[2020-04-22 12:50] pavolloffay opened #857 "Add service name dimension to trace metrics"
Add service name (`Node.ServiceInfo.Name`) dimension to receiver metrics. This helps to [determine](https://www.jaegertracing.io/docs/1.17/troubleshooting/#check-the-metrics-endpoint) which services are reporting spans.

The service label could be applied to trace receiver metrics but also to exporter metrics, which verifies that spans for particular services were exported.

Receiver metrics:
[cod

[2020-04-22 19:02] tigrannajaryan commented on #857
@pjanotti thoughts on this?

[2020-04-22 19:03] tigrannajaryan commented on #856
@pjanotti thoughts on this?

[2020-04-22 19:05] tigrannajaryan commented on #854
This is a good approach. I would first try to fix the tests but would not spend too much time if fixing is difficult and would just skip the test on Windows.

It likely is going to be rare. I would be OK if we maintain a Windows build if it has a low maintenance cost. If it turns out to be a high cost we need a better justification and need contributors who care about Windows to help maintain it.

[2020-04-22 19:06] tigrannajaryan commented on #847
@james-bebbington assigning this to you since you started working on it.

[2020-04-22 19:08] tigrannajaryan commented on #840
@dmitryax is this related to what you found recently?

[2020-04-22 19:11] tigrannajaryan commented on #823
Closing this as "won't do". Feel free to reopen if needed.

[2020-04-22 19:11] #823 closed

[2020-04-22 19:12] tigrannajaryan commented on #805
Closing as it appears to be working as designed (spans are supposed to be base64 encoded in JSON).

[2020-04-22 19:12] #805 closed

[2020-04-22 19:14] tigrannajaryan commented on #800
@mat-rumian instead of declaring a new set of structs, one for each receiver or exporter type, can we reuse the `Config` structs that are alredy declared by each receiver and exporter?

[2020-04-22 19:16] tigrannajaryan commented on #773
@nilebox is this fully resolved by #792?

[2020-04-22 19:16] dmitryax commented on #840
@tigrannajaryan yes, this is related, but a bit different issue.

It makes sense to put parent as the first reference in the list. I'll apply it in the the new jaeger exporter.

[2020-04-22 20:43] william-tran commented on #840
Thanks for taking this on, I have another more general issue https://github.com/open-telemetry/opentelemetry-specification/issues/562 that might be of interest as this translation work continues.

[2020-04-22 20:47] tigrannajaryan commented on #751
This repo is named `opentelemetry-collector`. It is not quite clear what your proposal is.

Yes, they are different. `dev` is from master build. `stable` is the releases. `contrib` is from https://github.com/open-telemetry/opentelemetry-collector-contrib/ repo.

[2020-04-22 20:52] naseemkullah commented on #751
That the image be `otel/collector:stable` instead of `otel/opentelemetry-collector:stable` ,
but by that logic this repo should be `opentelemetry/collector` rather than `opentelemetry/opentelemetry-collector` so 🤷‍♂️

could then `dev` and `stable` just be image tags of the same image? i.e. `otel/(opentelemetry-)collector:dev` and `otel/(opentelemetry-)collector:stable` ?

[2020-04-22 21:02] nilebox commented on #773
Yes, it's resolved.

[2020-04-22 21:02] #773 closed

[2020-04-23 02:56] james-bebbington opened #863 "Add an InitializeMetricSlice (or similar) function to pdatautil package"
Add a convenience method for initializing a metric with a single resource & instrumentation metric to the pdatautil package. Something like:

```func InitializeMetricSlice(metricData data.MetricData) pdata.MetricSlice```
_(may need additional parameters)_

Once we have this we should update the host metrics receiver to make use of it.

_Originally posted by @bogdandrutu in https://github.com/open-

[2020-04-23 02:59] james-bebbington opened #864 "Add an AddMetric (or similar) function to pdata/pdatautil package"
Add a convenience method for appending a metric to a metric slice & returning it. Something like:

```func AddMetric(metrics pdata.MetricSlice) pdata.Metric```

It would probably be useful to add an Add or Append function for all Slice objects.

Once we have this we should update the host metrics receiver to make use of it.

Originally posted by @bogdandrutu in #862

[2020-04-23 03:02] james-bebbington opened #865 "Add a CopyTo function for all generated objects to pdatautil package"
Provide a `CopyTo` function for all the generated objects so you can, for example, construct a `MetricDescriptor` then call `CopyTo`.

Once we have this we should update the host metrics receiver to make use of it.

Originally posted by @bogdandrutu in #862

[2020-04-23 13:00] zhongj0802 commented on #838
After i try to change the Jaeger all-in-one docker version from latest to 1.17, This issue doesn't occur.So i think that the Jaeger all-in-one docker of latest version maybe unstable.

[2020-04-23 23:23] william-tran commented on #560
Sorry for the scope creep, but I'll throw this out there. I'd like to apply filtering to span events as well as just spans. I'm playing with the idea of application loggers logging to OpenTracing span logs as a way to unify tracing and logging, and take advantage of trace sampling decisions. I want to apply the concept of enabling certain log levels to span events using this filter, e.g. filter ou

[2020-04-24 00:00] bogdandrutu commented on #864
I am trying to avoid adding this because:
* Calling `AddMetric` multiple times is way more inefficient than resizing directly to the number of metrics you expect to add.

So I am trying to avoid the following:
[code]

User should do:
[code]

[2020-04-24 00:47] james-bebbington opened #871 "Auto detect the host resource and apply to metrics generated by receivers"
When the Collector is running as an agent and collecting system metrics (see the `hostmetricsreceiver`), or metrics from applications running on the host machine, there is a need to include resource information from the host in the generated metrics. Resource information can currently be added from config using the Resource processor or added using custom logic in an exporter, but it would be usef

[2020-04-24 07:47] RashmiRam commented on #815
@secustor I faced the same error. I tried adding env variable **OTEL_RESOURCE_ATTRIBUTES** That solved the issue.

Example:

`OTEL_RESOURCE_ATTRIBUTES=service.name=<service_name>,host.name=<host_name>,host.ip=<host_ip> java -javaagent:path/to/opentelemetry-auto-0.2.2.jar  -Dota.exporter.jar=/path/to/opentelemetry-auto-exporters-otlp-0.2.2.jar  -Dota.exporter.otlp.endpoint=localhost:9090 -jar my_ja

[2020-04-24 09:39] pavolloffay opened #872 "Migrate Jaeger exporter factory to new exporter API"
Migrate Jaeger exporter factory from `ExporterFactoryOld` to `ExporterFactory`.

[2020-04-24 12:06] pavolloffay opened #873 "Support component specific flags"
Hi,

in Jaeger project we are extending OTEL collector by adding Jaeger storage exporters and we are also exposing component-specif flags (e.g. sampling strategies file, `--es.server-urls` and so on).
The motivation is to provide a smooth migration from Jaeger collector to our build of OTEL collector.
The Jaeger OTEL collector uses a specific configuration if the conf file is missing and the compo

[2020-04-24 15:35] #840 closed

[2020-04-24 15:55] #762 closed

[2020-04-24 17:20] #865 closed

[2020-04-24 17:23] tigrannajaryan commented on #873
I do not quite understand. What is a component specific flag? Is this about command line flags that are passed onto the components? Can you expand a bit on how you want to use this for Jaeger collector?

[2020-04-25 09:04] james-bebbington commented on #864
Yea I figured this was the case.

I was following the `Resize`/`At` pattern when, for example, creating a set of data points from an array. But when creating individual metrics it's a bit weird to have to write something like:

[code]

I guess it's a rare use case to be creating individual elements rather than iterating through a set (that may be very large), so I can see why you don't want to pol

[2020-04-27 08:36] pavolloffay commented on #873
It is a flag used to configure any receiver/processor/exporter. For example it can be `--batch.send_batch_size` https://github.com/open-telemetry/opentelemetry-collector/tree/master/processor#batch-processor.

In [Jaeger OTEL collector](https://github.com/jaegertracing/jaeger/tree/master/cmd/opentelemetry-collector) we have implemented storage layer as exporters. These exporters can be configured

[2020-04-27 08:41] sleighzy opened #878 "Duplicate span.kind tag warnings in Jaeger UI"
Spans containing the "span.kind" tag can be sent to the Jaeger receiver, which are then translated to the associated span kind in the internal protobuf format. These are then sent to the Jaeger Collector when using the Jaeger exporter. Viewing these spans within the Jaeger UI however displays warnings stating that the span.kind tag is duplicated as per the screenshot below. It seems that the span.

[2020-04-27 11:00] mat-rumian commented on #800
@tigrannajaryan I think each receiver and exporter config should be little bit tuned - e.g. [zipkin-receiver](https://github.com/open-telemetry/opentelemetry-collector/blob/master/testbed/testbed/receivers.go#L234) - some kind of struct should be used there instead of raw text. I would be happy to take care of it.

[2020-04-27 13:44] #828 closed

[2020-04-27 16:42] tigrannajaryan commented on #878
@sleighzy please attach Collector config file. Which Jaeger protocol do you use for receiveing and exporting?

[2020-04-27 21:48] damemi opened #880 "Panic with jaeger http exporter"
I'm seeing the following panic running the collector v0.3.0 on a k8s cluster with the jaeger_thrift_http exporter configured. I'm using the otlp trace library to export my spans, receiving them with the otlp receiver in the collector, but this error arises trying to export to jaeger_thrift_http:

[code]

I'm assuming it's from some inability to reach my jaeger endpoint, but a panic here is probabl

[2020-04-27 22:01] tigrannajaryan opened #881 "Implement OTLP/HTTP receiver"
See protocol spec https://github.com/open-telemetry/oteps/blob/master/text/0099-otlp-http.md

This needs to listen on the same port as existing OTLP/gRPC and be part of the same "otlp" receiver.

[2020-04-27 22:02] tigrannajaryan opened #882 "Implement OTLP/HTTP exporter"
See spec https://github.com/open-telemetry/oteps/blob/master/text/0099-otlp-http.md

This likely should be part of the existing "otlp" exporter and the transport may be selectable via a config option.

[2020-04-27 22:15] tigrannajaryan commented on #800
@mat-rumian I was referring to declarations in your proposal. For example you have
[code]
which declares configuration for Jaeger receiver. Instead of declaring this type can we use already existing Jaeger [Config](https://github.com/open-telemetry/opentelemetry-collector/blob/ca4b8231de7cf8a5067015a727ea1420723f8964/receiver/jaegerreceiver/config.go#L33) type?

[2020-04-27 22:56] damemi commented on #880
Update: On a fresh cluster I'm seeing this too, the error seems to come from https://github.com/jaegertracing/jaeger/blob/v1.17.0/thrift-gen/jaeger/ttypes.go#L1540

So it's possible that `p.ServiceName` is nil, is there a way to set that field with the otlp exporter?

[2020-04-28 04:26] sleighzy commented on #878
OTel Collector config below. This is based on the demo example, but just if you need it. I revisited this again and see that I should have been using the `opentracing-shim` from the `opentelemetry-js` repo (there really are a lot of repos) for the Nodejs stuff, see https://github.com/open-telemetry/opentelemetry-js/tree/master/examples/opentracing-shim. The JaegerExporter there should be using thr

[2020-04-28 08:41] sleighzy commented on #878
I've tested with the opentelemetry-js grpc example (https://github.com/open-telemetry/opentelemetry-js/tree/master/examples/grpc) and this demonstrates what I had been experiencing in the past. This had led to my previous mistake, of pointing the Jaeger Tracer for NodeJS (https://opentracing.io/registry/nodejs-jaeger-tracer/) directly at the OTel collector instead of using the shim. After switchin

[2020-04-28 09:09] pavolloffay commented on #872
Done in https://github.com/open-telemetry/opentelemetry-collector/pull/866

[2020-04-28 09:09] #872 closed

[2020-04-28 22:22] anniefu commented on #560
@william-tran I'm more familiar with metrics than spans, but I will put out traceprocessor that filters spans as part of completing this proposal. My intent is to use the [MatchSpan](https://github.com/open-telemetry/opentelemetry-collector/blob/05b7a5a073d5521225671b2e3d54e3644ec658e4/internal/processor/span/span.go#L37) implementation, so the processor will be able to filter on anything that imp

[2020-04-28 23:06] tigrannajaryan commented on #873
@pjanotti do you remember? I think we had an ability to specify the config via command line options (or was it the opposite?). I don't quite remember.

[2020-04-29 11:45] pavolloffay opened #886 "Support for default configuration"
The document https://docs.google.com/document/d/1NeheFG7DmcUYo_h2vLtNRlia9x5wOJMlV4QKEK05FhQ/edit# explains that OTEL collector will by default use a default configuration and if a configuration is provided it will be merged. Is it still on the roadmap?

[2020-04-29 15:49] pavolloffay opened #888 "Allow loading incomplete configuration"
Allow loading incomplete configuration with missing root level nodes like exporters, receivers.

Jaeger OTEL collector uses hardcoded default configuration. OTEL configuration file is also supported and it is merged with the default configuration. The issue is that users have to specify  all parts of OTEL config even when they want to override a single property or just add one additional processor

[2020-04-29 15:50] pavolloffay commented on #888
Also note that there is a separate public API for config validation - `config.ValidateConfig`  https://github.com/open-telemetry/opentelemetry-collector/blob/9d16f5971ef950b554d12db1533202e33f5b93c2/config/config.go#L597

[2020-04-29 22:27] paulosman commented on #880
This appears to have been fixed in #165. Specifically with the reintroduction of the `OCProtoToJaegerThrift` translator, a span without `p.ServiceName` explicitly set will get a default value: `unknown-service-name`.

[2020-04-29 22:29] sleighzy commented on #878
With regards to the `jaeger` endpoint and the grpc protocol I have been testing this with the `JaegerGrpcSpanExporter` from the `opentelemetry-java` repository. Spans sent directly to the Jaeger collector are fine, no duplicate `span.kind` tags (and are in lowercase), as expected. When these are sent to the OTel collector instead (and then onto Jaeger via the Otel jaeger exporter) I see the duplic

[2020-04-30 00:08] jrcamp opened #893 "Generic way for components to expose HTTP APIs"
For some new [extensions](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/master/extension/observer/k8sobserver) and [receivers](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/master/receiver/receivercreator) they have state that we want to query at runtime that is not easily modeled through traces.

This proposes have a generic way for components to

[2020-04-30 00:09] damemi commented on #880
@paulosman is that the right PR (165?)

Also, I was running this on the v0.3.0 image published to dockerhub, which I think was last updated a couple months ago. If the fix is already in master then I'm sorry for the irrelevant bug report!

[2020-04-30 00:21] paulosman commented on #880
@damemi my mistake, I meant this PR https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/165 . Sorry about that!

Yeah, unfortunately that PR is newer than the docker image you're using. I don't suppose you'd be able to test against an image built from the contrib repository master?

[2020-04-30 03:54] paulosman commented on #880
I was able to reproduce the bug and the fix. Using the v0.3.0 image, I get the same panic you're describing but if I use the master branch of the [opentelementry-collector-contrib repository](https://github.com/open-telemetry/opentelemetry-collector-contrib), it works as described earlier (the spans are given the service_name `unknown-service-name`). Please note also that the configuration directi

[2020-04-30 12:09] mre opened #898 "Forcing a request to be traced"
Google Cloud Trace has an option to [force tracing a request](https://cloud.google.com/trace/docs/setup#force-trace). Is there something similar for OpenTelemetry?

[2020-04-30 13:59] damemi commented on #880
@paulosman thanks, I haven't given it a try yet for myself but I believe you.

Is it possible to configure the service name with the otlp api, so that I could use that in my code but ultimately export it to Jaeger from the collector without `unknown-service-name`?

[2020-04-30 16:11] bogdandrutu commented on #898
Sorry @mre this is something that belongs to https://github.com/open-telemetry/opentelemetry-specification not here, since is about the libraries (if I understand correctly).

Please file the issue in that repo with a bit more details about what you try to achieve. If this is related to the collector feel free to reopen.

[2020-04-30 16:11] #898 closed

[2020-04-30 19:09] aheadmode commented on #281
@pjanotti did you contact legal@docker.com?

[2020-04-30 19:28] tigrannajaryan commented on #281
We contacted Docker but was unable to resolve this.
We are now publishing official images to https://hub.docker.com/u/otel
Closing the issue as it has been decided that `otel` will be the official org.

[2020-04-30 19:28] #281 closed

[2020-04-30 19:40] tigrannajaryan commented on #888
So, just to clarify. You suggest to move the check for presence of top-level "receivers" and "exporters" from config.Load to config.ValidateConfig.

What would be the next step? To have a default hard-coded config with which the user defined config is merged or there is a different goal?

[2020-04-30 19:53] paulosman commented on #880
@damemi yeah, I agree that's the outstanding issue - let me take a look and I'll update here. If it's not possible, I'll see if I can put a proposal PR together.

[2020-05-01 06:32] pavolloffay commented on #888
Correct, if needed we can split it into two functions.

In Jaeger we want to merge the configs. Here is a blog post that explains configuration https://medium.com/jaegertracing/jaeger-embraces-opentelemetry-collector-90a545cbc24.

Whether a similar approach would be implemented here it's up to the decision - I am not proposing it.

[2020-05-01 15:55] tigrannajaryan commented on #888
Makes sense to me. There are several benefits: 1) it fits the Load/Validate model nicely, 2) it improves the customizability of the Collector, 3) potentially allows us to implement a similar "default config" capability in the core in the future (which you refer to in https://github.com/open-telemetry/opentelemetry-collector/issues/886).

Do you want to do a PR that implements your proposal?

[2020-05-02 16:58] bogdandrutu commented on #815
@trask can you help with this, it seems to be related to auto instrumentation.

[2020-05-02 17:44] bogdandrutu commented on #864
Closing this for the moment. We can revisit if we find more cases like this.

[2020-05-02 17:44] #864 closed

[2020-05-02 17:46] bogdandrutu commented on #846
Fixed in #883

[2020-05-02 17:46] #846 closed

[2020-05-02 17:50] bogdandrutu commented on #752
Can we have that for the moment in opentelemetry-collector-contrib repo unde helm-chart directory?

[2020-05-02 17:55] bogdandrutu commented on #501
Please reopen if this is not addressed.

[2020-05-02 17:55] #501 closed

[2020-05-02 17:56] bogdandrutu commented on #493
Values for testbed and circle ci image sizes were updated. No longer an issue.

[2020-05-02 17:56] #493 closed

[2020-05-02 17:58] #480 closed

[2020-05-02 17:59] #478 closed

[2020-05-02 18:47] bogdandrutu commented on #369
Obsolete, we transition to the new data model.

[2020-05-02 18:47] #369 closed

[2020-05-02 18:51] bogdandrutu commented on #121
I will close this, if necessary we should consider adding this to the contrib.

[2020-05-02 18:51] #121 closed

[2020-05-02 18:53] bogdandrutu commented on #128
This seem to be obsolete.

[2020-05-02 18:53] #128 closed

[2020-05-02 18:54] bogdandrutu commented on #193
@pjanotti I think this is resolved, please reopen if that is not the case.

[2020-05-02 18:54] #193 closed

[2020-05-02 18:54] bogdandrutu commented on #147
Obsolete?

[2020-05-02 18:54] #147 closed

[2020-05-02 18:54] bogdandrutu commented on #190
Obsolete.

[2020-05-02 18:54] #190 closed

[2020-05-02 18:55] bogdandrutu commented on #77
No longer seen this.

[2020-05-02 18:55] #77 closed

[2020-05-02 18:57] #223 closed

[2020-05-02 19:00] bogdandrutu commented on #294
I think this is done via a series of PRs that kind of achieved this. If I am missing something please reopen.

[2020-05-02 19:00] #294 closed

[2020-05-02 19:02] #309 closed

[2020-05-02 19:02] #653 closed

[2020-05-02 19:07] bogdandrutu commented on #472
I think this is done.

[2020-05-02 19:07] #472 closed

[2020-05-02 19:08] bogdandrutu commented on #418
Done.

[2020-05-02 19:08] #418 closed

[2020-05-02 19:09] bogdandrutu commented on #278
Obsolete.

[2020-05-02 19:09] #278 closed

[2020-05-02 19:10] #265 closed

[2020-05-02 19:12] bogdandrutu commented on #170
I think we now have ConfigGrpc that has all of these things.

[2020-05-02 19:12] #170 closed

[2020-05-02 20:40] naseemkullah commented on #752
Yes.

[2020-05-03 01:42] bogdandrutu commented on #888
I will do this, because I got also confused about test coverage dropped in https://github.com/open-telemetry/opentelemetry-collector/pull/909 and is because currently I cannot test verify config unless I am writing my own Load :) - first world problems I know :))

[2020-05-03 15:10] #347 closed

[2020-05-03 16:32] bogdandrutu commented on #888
@pavolloffay I am worried that in #909 I removed some functionality you rely on. Can you tell me if you can still achieve what you want without that?

[2020-05-03 18:06] bogdandrutu commented on #886
The behavior is already supported, the only problem is that the default config for every component is very minimal right now and a lot of times incomplete

[2020-05-04 10:10] pavolloffay commented on #888
Correct the #909 removed functionality Jaeger OTEL collector relied on. We wanted to use the `disabled` option to disable components without overriding the default/hardcoded `service.pipeline`.

Let me illustrate it: Jaeger by default uses `batch` processors in default/hardcoded configuration. If a user wants to disable it (with #909 merged) he has to override the `service.pipeline.traces.processo

[2020-05-04 13:24] bogdandrutu commented on #888
I will make sure for multi-protocol receivers to keep the disable at the protocol level and not the component level. Does that solve all your issues? Or you need back the entire functionality? I would also recommend to not do too much magic when it comes to add/remove components to the pipeline because that can cause unexpected behaviors.

[2020-05-04 13:57] pavolloffay commented on #888
This is enough thanks. I can submit a PR to bring it back there.

[2020-05-04 14:13] bogdandrutu commented on #886
@pavolloffay Can you clarify what we miss here. For the moment we do offer every component to provide a default configuration, probably one missing part is to have default components registered by default.

When it comes to pipeline we don't have a default concept, that's something that we probably miss and need to add.

[2020-05-04 16:59] jjzeng-seattle commented on #842
After discussion with @rghetia  and @anniefu, a label processor dropping labels without aggregation is not useful.  What we really need is an aggregation processor.

[2020-05-04 16:59] #842 closed

[2020-05-04 20:41] tigrannajaryan commented on #886
@bogdandrutu we have default configs for components, but they are only effective if you manually enable the component.

In theory a service-wide default config can also enable certain components, so that if you run Collector without any config file for example it will always have several receivers enabled (e.g. OTLP, maybe other open-source ones), memory_limiter, batch and queue processors enabled

[2020-05-05 02:17] #888 closed

[2020-05-05 02:53] mxiamxia opened #915 "Support telegraf plugins in Collector"
Telegraf has many input plugins which have been adopted & tested in many monitoring products. In OTel collector, we're trying to develop some of similar receivers/plugins(hostmetrics, vmmetrics) which exist in Telegraf([procstat](https://github.com/influxdata/telegraf/tree/master/plugins/inputs/procstat), [system](https://github.com/influxdata/telegraf/tree/master/plugins/inputs/system), [win_perf

[2020-05-05 03:08] mxiamxia opened #916 "Add Container/K8s Metrics Receivers"
Can we add the receivers which can collect Container metrics within OTel collector?

For example, we can create the receiver wraps with cAdvisor to collect container metrics in the receiver and pass it into Collector pipeline all the way to the backend instead of running cAdvisor in a separate container instance to do that. Also, another similar receiver can be added for Kubernetes by calling k8s

[2020-05-05 07:35] pavolloffay commented on #886
Correct, each component at the moment provides a default configuration. However these components have to be explicitly enabled and registered to a pipeline in the config file. The current behavior is that the collector fails to start without configuration fine.

Jaeger OTEL collector by default enables a set of hardcoded components - Jaeger receiver, some processors and exporter (storage implement

[2020-05-05 18:49] bogdandrutu opened #918 "Use `obsreport.StartMetricsReceiveOp/EndMetricsReceiveOp` in host scrapers"
From @james-bebbington:

Had a bit of a deeper look at this. From what I understand, obsreport is a helper package for generating standard traces & metrics for collector components, and currently uses the OpenCensus libraries for this.

A couple of questions if I want to use this here:

I'm not sure what to provide for the "transport" attribute value (third parameter of StartMetricsReceiveOp). The

[2020-05-05 19:57] pmcollins commented on #916
Hi @mxiamxia -- we are working toward providing container metrics via the Kubelet API in a cAdvisor independent way (because cAdvisor as a source of metrics from Kubelet has been deprecated -- https://kubernetes.io/docs/setup/release/notes/#kubelet ).

There's a Kubelet stats receiver in progress here:
https://github.com/signalfx/opentelemetry-collector-contrib/pull/4
that will send relevant conta

[2020-05-05 20:29] bogdandrutu commented on #915
This should be added to the collector-contrib repo. Also you can get inspired from what Splunk/SignalFx did with telegraf or propose your own design:
https://docs.signalfx.com/en/latest/integrations/agent/monitors/telegraf-procstat.html
https://docs.signalfx.com/en/latest/integrations/agent/monitors/telegraf-win_perf_counters.html

[2020-05-06 03:40] james-bebbington commented on #802
I did a bit of investigation on this and as far as I can tell this seems to be working as intended, although there are definitely things that could be improved.

If I configured the Zipkin and Jaeger back ends correctly I was able to push through 1000s of traces per second with no issue, but if I didn't configure a Zipkin or Jaeger back end (or misconfigured the exporter), then the unsent traces w

[2020-05-06 09:30] james-bebbington commented on #918
To clarify:

1. `opsreport.StartMetricsReceiveOp`, and other opsreport metric functions, require passing a "transport" parameter that's used to set a corresponding attribute value. Consider making this optional
2. `obsreport.CountMetricPoints` takes a `consumerdata.MetricsData` parameter. Consider adding an alternative function that takes `data.MetricsData`

[2020-05-07 02:05] jrcamp commented on #915
IMO a [Telegraf output plugin](https://github.com/influxdata/telegraf#output-plugins) should be written that can send data to the collector in some format the collector supports. Having a "meta agent" that wraps other arbitrary collector has numerous usability and technical issues. By the time you fix those issues and the maintenance cost associated with it you could have written a native monitor.

[2020-05-07 03:30] mxiamxia commented on #915
Thanks, but I am still curious why we don't port some of essential plugins (procstat, system, etc) from Telegraf to collector-core repo instead of re-implementing it again in the core. We'll add the non-essential ones we need to collector-contrib repo.

[2020-05-07 03:36] mxiamxia commented on #916
@bogdandrutu, @pmcollins   Thanks for sharing the info. I'd love to do if anything I can contribute to the community. I'll keep checking the progress on this and give my feedback and PR when I can. Thanks.

[2020-05-07 13:30] pavolloffay commented on #856
@pjanotti any update on this one?

[2020-05-07 13:30] pavolloffay commented on #857
@pjanotti any update on this one?

[2020-05-07 14:39] atrauzzi commented on #751
I don't know about you guys, but `otel` as the organization name is flat out confusing and not even slightly discoverable.

The docker image based on this repo should be one of:
 - `opentelemetry/collector`
 - `opentelemetry/opentelemetry-collector`

This scheme works for countless other organizations. `otel` is just way too inside-baseball to assume people are going to know to search **and** reco

[2020-05-07 19:57] william-tran commented on #407
If you can use kafka, I think we're pretty close: https://github.com/jaegertracing/jaeger/issues/425#issuecomment-625464012
Use two tiers of otel-collector with kafka in the middle.

[2020-05-08 03:19] james-bebbington commented on #847
Feature request from @bogdandrutu: We need to think of a generic config to allow users to enable / disable individual metrics in a scraper

e.g.
[code]

[2020-05-08 14:44] bogdandrutu opened #931 "Consider to move the ticker logic to the main receiver"
Currently every scraper has it's own ticker logic which can be sub-optimal - will send one RPC call for every scraper tick, in general most of the users will report all these metrics with the same frequency, so we can scrape all of them and append to the same MetricsData which will result in only one RPC call to the next level if using OTLP or any protocol that supports multiple metrics/timeseries

[2020-05-08 14:51] bogdandrutu opened #932 "Small cleanup in filesystem scraper"
See comment https://github.com/open-telemetry/opentelemetry-collector/pull/926#discussion_r422179792

[2020-05-08 16:01] jrcamp commented on #915
The metric data model between OT and telegraf are a bit different. We want to have consistent metadata across all OT metrics. In many cases telegraf uses a library called [gopsutil](https://github.com/shirou/gopsutil) which we are using as well. We've used some library code from telegraf like windows performance counters. Why call into telegraf and have it wrap things in its own format when it jus

[2020-05-08 16:59] jrcamp opened #933 "Unify TLS configuration"
There are several concurrent efforts to improve TLS configuration, some in core and some in contrib, so I think it'd help to get everybody aligned.

https://github.com/open-telemetry/opentelemetry-collector/pull/288
https://github.com/open-telemetry/opentelemetry-collector/pull/927
https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/215
https://github.com/open-telemetry/opentele

[2020-05-08 17:09] jrcamp commented on #933
The purpose of having enabled flag is because all the config options are optional. We need a way to enable TLS with just the default options.

[code]

Wouldn't work because the value of tls_config would be empty so no easy way to tell it was enabled. So instead:

[code]

Of course this is assuming TLS is off by default and it's something the user explicitly enables. Is this the case for all compon

[2020-05-08 17:18] jrcamp opened #934 "Create common scraping library"
Many of the new receivers being created (host metrics, redis, kubelet-stats, etc.) are all scrape based. They each collect metrics on a periodic interval and have other common needs like enabling/disabling individual metrics.

@james-bebbington @asuresh4 @pmcollins @bogdandrutu

[2020-05-08 17:18] jrcamp commented on #847
We should do this in a way that all scraping receivers can use it as it is a problem every receiver will have. I've created a ticket to track the larger issue: https://github.com/open-telemetry/opentelemetry-collector/issues/934

[2020-05-08 17:20] jrcamp commented on #931
Worth keeping in mind for https://github.com/open-telemetry/opentelemetry-collector/issues/934

[2020-05-08 17:30] bogdandrutu commented on #931
Even if a common pattern is proposed, still merging the result metrics is a benefit.

[2020-05-08 17:37] bogdandrutu commented on #933
Current config has a "UseSecure" property that is almost equal with `tls_config.enabled`

[2020-05-08 17:47] tigrannajaryan commented on #751
@dmitryax @owais any thoughts on what would be best practices for naming Dockerhub images?

[2020-05-08 17:50] tigrannajaryan commented on #751
@atrauzzi `opentelemetry` Dockerhub organization is not available. See previous discussion  https://github.com/open-telemetry/community/issues/164

[2020-05-08 18:10] jrcamp commented on #933
I don't think `UseSecure` is a good name. It's confusing especially with `InsecureSkipVerify` (standard Go name).

[code]

So it's both secure _and_ insecure? :P

[2020-05-08 18:13] jrcamp commented on #933
Other option is to separate out `tls_enabled`

[code]

(`tls_config` not required, uses defaults)

[code]

I kind of prefer ^.

[2020-05-08 19:56] owais commented on #751
I think the docker image should contain the full name because the org is named `otel` so having opentelemetry in the name helps. Also contributors and users often build images from the repo and use them somewhere without uploading to docker hub. Having such images named just `collector` doesn't help. I don't have any strong opinion about the docker hub org name but I think container images should

[2020-05-08 21:18] tigrannajaryan commented on #881
See a similar protocol implementation as an example: https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/master/receiver/sapmreceiver

[2020-05-08 21:19] tigrannajaryan commented on #882
See a similar protocol implementation as an example https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/master/exporter/sapmexporter

[2020-05-08 23:10] ccaraman commented on #933
@jrcamp - I will take this task. I will update with a plan in a bit.

[2020-05-10 03:57] sleighzy commented on #815
@RashmiRam , the trace without root span problem is possibly due to this issue, https://github.com/open-telemetry/opentelemetry-java/issues/1164. I had experienced something similar when viewing my traces in Jaeger, when using the OTel Collector, which looked to be due to the root parent spans being dropped due their default parent span ids being all zeros.

[2020-05-10 04:18] trask commented on #815
Thanks @sleighzy! It looks like that fix just snuck into the opentelemetry-java 0.4.0 release, so it should be in the latest auto-instr-java snapshots already: https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-auto-instr-java/982/workflows/286e781c-a2d4-4068-b567-b727521fdf78/jobs/8138/artifacts

[2020-05-10 09:20] james-bebbington commented on #931
Makes sense - I'd been thinking about doing this as an optimization at some point in the future, but I'll get onto it this week

[2020-05-10 10:00] james-bebbington commented on #918
Note #2 is not necessary as `pdatautil.MetricAndDataPointCount` already exists which does exactly the same thing and should be used instead

[2020-05-10 13:52] Liorba opened #944 "export metrics from traces"
Hello,
I'm trying to use the collector to receive metrics from jaeger and send metrics regarding those trances to Prometheus.
for example, suppose I have span for writing to a database, I really want to know what is the avg db query time on my app or maybe have an alert on long db db query time (i.e 95 percentile is larger the 200 millis).
today I need to create those separately.
it will be very c

[2020-05-10 14:57] bogdandrutu commented on #944
So just to clarify what you need is not `export` (because the Span does not have any metric) but `build` or `create` metrics from Spans.

I don't think is on our short term roadmap but happy to review a contribution for this. I would add it in the contrib repo.

[2020-05-10 19:45] #932 closed

[2020-05-11 03:48] james-bebbington commented on #915
Sorry I'm a bit late to this, but yes that's correct. From my point of view/understanding:

For the Host Metrics receiver, we are focusing on adding a core set of OS-indepedent (as much as possible) metrics to assess host health. Whether or not a receiver like procstat should eventually live in the core repo or the contrib repo is probably up for debate, but I'm sure we would want some kind of equ

[2020-05-11 06:47] Liorba commented on #944
ok, Thank you!

[2020-05-11 08:17] pavolloffay commented on #933
+1 on unifying the TLS configuration.

It is a bit confusing to have  `/receiver/securereceiverconfig.go` and `config/configgrpc/configgrpc.go`.

[2020-05-11 08:24] stefanprisca commented on #815
I am seeing the same issue from the go sdk, and the go otlp exporter does [parent name validation](https://github.com/open-telemetry/opentelemetry-go/blob/master/exporters/otlp/internal/transform/span.go#L89). When I connect directly to jaeger it works (as in [this](https://github.com/open-telemetry/opentelemetry-go/blob/master/example/jaeger/main.go) example). But when sending the traces through

[2020-05-11 08:30] #944 closed

[2020-05-11 14:42] pmcollins commented on #934
@bogdandrutu 's suggestion in slack:

[2020-05-11 20:12] #838 closed

[2020-05-11 21:49] sleighzy commented on #815
@stefanprisca , I don't know enough about Go, but to resolve that "process is empty for the span" with the Java OTLP exporter I had to set the `OTEL_RESOURCE_ATTRIBUTES` as per the comment by @RashmiRam , see https://github.com/open-telemetry/opentelemetry-collector/issues/815#issuecomment-618860026. Without this the Resource attributes aren't created when the exporter is started, which are used b

[2020-05-11 21:56] sleighzy commented on #815
@stefanprisca , based on your code link for the example you said works it has this, https://github.com/open-telemetry/opentelemetry-go/blob/master/example/jaeger/main.go#L36, which is adding those process attributes. This may not be happening in your other usecase, e.g. the service name is not being added as a Resource attribute when the exporter is created.

[2020-05-11 22:50] anniefu commented on #560
Hello, I have not forgotten about this, just got a bit busy with other projects. I'll have a filter metrics processor PR out sometime this week.

[2020-05-12 03:18] #461 closed

[2020-05-12 11:02] stefanprisca commented on #815
@sleighzy I see, thanks for the clarifications! There must be something I'm missing on the Go side.

[2020-05-12 15:40] chris-smith-zocdoc opened #954 "Zipkin export fails on span without timestamp when used with queued_retry"
Occasionally zipkin spans won't have a timestamp. This works fine normally, but when the `queued_retry` processor is used the spans fail to serialize.

[code]

This also results in an infinite retrying for these spans, which seems incorrect. They should permanently fail and not be retried.

[code]

docker-compose.yml
[code]

otel-collector-config.yaml
[code]

Sample Data
[code]

[2020-05-12 16:42] tigrannajaryan opened #955 "Log Collection Proof of Concept: Validate Chained Approach"
We want to validate that chaining FluentBit and OpenTelemetry Collector
is a viable approach to support collection of logs in formats that FluentBit
supports and which we would like to avoid implementing directly in Collector.

Chained approach implies that FluentBit collects logs from file logs (and
possibly from other sources), sends them to the Collector, then Collector sends
the logs to the ba

[2020-05-12 18:28] ccaraman commented on #933
Note: everything in so far in this issue has focused on the Client TLS connections. There are both receivers and exporters that are establishing client connections (ex. simple prometheus) A follow up post on this issue will address TLS for Servers.

Instead of adding '`tls_enabled` as a variable - just have it that if the `tls_config` exists then tls is enabled. For HTTP scenarios, it would look l

[2020-05-12 18:29] ccaraman commented on #933
`insecure_skip_verify` when set to true:
[code]
`use_secure`  is used to enable/disable `WithInsecure` by using the opposite value that is set in the configuration.  ie when not set or explicitly set to false, this is used
[code]

They are similar but not quite the same.

There are two paths forward:
1. merge the boolean into one option that has one behavior in gRPC and one in HTTP
or
2.  we expos

[2020-05-12 19:26] paulosman commented on #880
Looks like the service name issue is being discussed in #815 . Suggest closing this issue since the panic is no longer happening - solutions for populating Process tags are being discussed in #815. @damemi does that look right to you?

[2020-05-12 19:31] tigrannajaryan opened #956 "Log Collection Proof of Concept: Validate Collector can control FluentBit"
We want to validate that FluentBit can be controlled by OpenTelemetry Collector.

The following needs to be done:

- [ ] Clarify and design how Collector can control the lifecycle of the
  FluentBit (start/stop/restart?). Only implement parts that require
  clarification via experimentation.
- [ ] Design how log collection configuration can be specified in Collector
  config file, how it can be tr

[2020-05-12 19:38] damemi commented on #880
@paulosman thanks for the update, looks like that issue covers what I was talking about. Closing this in that case

[2020-05-12 19:38] #880 closed

[2020-05-12 19:44] damemi commented on #815
I was seeing a similar issue as @stefanprisca (discussed in #880) with an older version of the collector and the go library. The problem was that when I was using the OTLP exporter, I couldn't find a way to set the service name.

As mentioned in https://github.com/open-telemetry/opentelemetry-collector/issues/880#issuecomment-621499695, the `OCProtoToJaegerThrift` translator now fills in `unknown-

[2020-05-12 20:13] jrcamp commented on #933
I don't think we can differentiate between `tls_config` being not set and it being set to empty/nil without custom unmarshal logic. See demo code here:

https://repl.it/repls/MonthlyLowLinux

I'm a bit confused about gRPC. Does WithInsecure just mean TLS isn't enabled? If that's the case then that's controlled by the overall TLS on/off flag right? (Depends on how we resolve the first issue above).

[2020-05-12 21:52] tigrannajaryan opened #957 "Add log data type to begin experimenting with logs support"
We need to add log data type similarly to how we have traces and metrics.

[2020-05-12 21:57] tigrannajaryan opened #958 "TestGatherMetrics_EndToEnd is unstable"
The test appears to be timing sensitive. Fails on my machine with the following:

[code]

This is running on Mac OS X 10.14.6, go version go1.14.1 darwin/amd64

[2020-05-12 21:58] tigrannajaryan commented on #958
@james-bebbington will you be able to look into this?

[2020-05-12 23:51] ccaraman commented on #933
An empty TLS config doesn't do anything.  It is easy to add a TLSConfig verification method in the Config file so loading this config brings up an error during load time for users.

In HTTP client scenarios, tls is determined by the url passed into the HTTP client config. If the CA need to be updated, they can add it to the TLSConfig. But that isn't a hard requirement, they can add CAs to the syst

[2020-05-12 23:55] james-bebbington commented on #958
Yup - I'll look into this today

[2020-05-13 00:35] chris-smith-zocdoc opened #960 "Zipkin V1 Receiver + V2 Exporter creates empty annotations"
In the json zipkin v1 format, the span kind is inferred from the annotations (sr, ss = kind SERVER). The inference is working correctly, but ends up creating empty annotations when used with a v2 Exporter. These annotations contain just a timestamp and no other information. I believe these should be removed.

Example v1 span
[code]

I expect this to produce a span that looks like this

[code]

But

[2020-05-13 00:58] tigrannajaryan commented on #958
Thanks!

[2020-05-13 10:53] stefanprisca commented on #815
@damemi  I've just spent more time looking into this, and there actually is a nice way of setting the service name from the go sdk. You have to do it by using `WithResourceAttributes` when creating the trace provider:
https://github.com/open-telemetry/opentelemetry-go/blob/88100f0fc752e57cc52e16ef2b4f3d520f0abc74/sdk/trace/provider.go#L200

Just make sure to call it after calling `WithConfig`, oth

[2020-05-13 13:21] tigrannajaryan commented on #751
Closing as it appears there is nothing to do. Feel free to reopen if you have further comments.

[2020-05-13 13:21] #751 closed

[2020-05-13 13:27] tigrannajaryan commented on #441
Closing as there is no further information. Feel free to reopen if the bug still exists.

[2020-05-13 13:27] #441 closed

[2020-05-13 14:02] kbrockhoff commented on #652
I will soon be submitting a PR for generating and managing "Golden Data". It will have the following components and process steps:

1. Variation parameters - Various data fields which can vary in different observations. For example for trace spans, I currently am using: Parent, Tracestate, Kind, Attributes, Events, Links, Status
2. PICT input files - Definitions to feed the Pairwise Independent Co

[2020-05-13 14:03] damemi commented on #815
@stefanprisca thanks, I didn't realize that. And the updated example you're working on looks helpful too!

[2020-05-13 14:12] tigrannajaryan commented on #652
@kbrockhoff great, this will be a very useful addition. Please make smaller incremental PRs if possible to make reviewing easier.

[2020-05-13 15:56] pjanotti commented on #873
@tigrannajaryan I don't recall the details from the top of my head but Viper supports integration with of flags and environment variables. The way that the components were reading the config facilitated that and many of the options were available either as flags or env vars. That was lost when the code was refactored to the "new config" - in principle it should be possible to re-enabled again, but

[2020-05-13 16:08] chris-smith-zocdoc commented on #960
One solution I came up with was to remove these kind annotations during `parseZipkinV1Annotations` Does this seems like a good solution? https://github.com/Zocdoc/opentelemetry-collector/commit/0aa99de01c3ca0c00e4012b9642aecbf0398818c

If we agree on an approach I'd be happy to send a pr

[2020-05-13 16:10] jrcamp commented on #933
I agree when a user is writing the endpoint explicitly it's better to have it as part of the URL. However this causes some problems with auto-discovered receivers. It's possible to put it in the endpoint but it requires a bit more trickery.

Examples where you can configure `tls_enabled` as a boolean:

[code]

[code]

Examples where you have to configure it as part of endpoint:

[code]

[code]

We

[2020-05-13 16:14] chris-smith-zocdoc commented on #954
I dug around this yesterday and found what I think is a serialization issue, I believe the timestamp should be serialized as null in the protobuf but instead it is an empty struct.

I don't think this is a good solution, but demonstrates the problem https://github.com/Zocdoc/opentelemetry-collector/commit/4b55a53bb22469bb928dc262056b5ccd3afc8dd1

Would appreciate some pointers on how this should b

[2020-05-13 17:15] pavolloffay commented on #351
This seems to be done https://github.com/open-telemetry/opentelemetry-collector/blob/75938b9ffb6bee75a80e11966e1b224ccc7673ea/config/configgrpc/configgrpc.go#L82

[2020-05-13 17:18] josephflynch commented on #956
Google is soon going to start design on the Master Agent (likely written in Go) as we've discussed in past.  Our intention is for it to ultimately control Fluentbit, Collectd and OT collectors (such as the emerging Windows agent, SignalFx port, trace agent, etc.).  We intend for it to be open source and it could in theory be built on Collector framework (as we presented to SIG a few months back) a

[2020-05-13 17:18] pavolloffay opened #963 "Expose client CA TLS certificate in receiver gRPC options"
`TLSCredentials` struct should expose client's CA certificate option https://github.com/open-telemetry/opentelemetry-collector/blob/dc6b290e3cfb0405d7df4ded435ec69e4b7594be/receiver/securereceiverconfig.go#L33

Here is an example from Jaeger:
https://github.com/jaegertracing/jaeger/blob/e1248014988b7cde207d45f73f4e402c21dd6eae/pkg/config/tlscfg/options.go#L67

[2020-05-13 17:23] pavolloffay commented on #933
Note that that receiver and exporter TLS struct might want to expose different set properties:

Exporter in addition to the cert and key should expose `ServerNameOverride` and perhaps `SkipHostVerify`.

Receiver, on the other hand, should expose clients' CA cert https://github.com/open-telemetry/opentelemetry-collector/issues/963

[2020-05-13 17:56] ccaraman commented on #933
@pavolloffay - so the real distinction comes from if the receiver/exporter is making a client or server connection.  Ex. Prometheus Receiver is making a client connection.

A nice way to do this is to have the base TLSConfig (CA , cert and key for ex) and then have extra stuff in a TLSClientConfig/TLSServerConfig then have the components use the TLS*Config htat works best for them.

[code]

[2020-05-13 19:03] tigrannajaryan opened #966 "Add docs for OTLP receiver"
Docs should be added to receiver/README.md

[2020-05-13 20:58] #957 closed

[2020-05-13 22:05] ccaraman commented on #933
Synced with @jrcamp offline - to address the `receiver_creator` case the current suggestion is to add a `scheme` field to the `receiver_creator` config. That will handle the use cases of enabling client tls for automatically discovered endpoints.

[2020-05-14 03:27] kirbyquerby commented on #881
May I work on this?

[2020-05-14 05:50] james-bebbington commented on #958
Fixed in https://github.com/open-telemetry/opentelemetry-collector/pull/952

[2020-05-14 07:17] nilebox opened #969 "Prometheus receiver: log error message when `process_start_time_seconds` gauge is missing"
Prometheus receiver supports the flag `use_start_time_metric: true`.
When this flag is enabled, every Prometheus endpoint must have the `process_start_time_seconds` gauge, e.g.
[code]

When this metric is present, it will set the `startTime` in
https://github.com/open-telemetry/opentelemetry-collector/blob/66d7acdc5a697c7be777cff9f83302fd066c7c7e/receiver/prometheusreceiver/internal/metricsbuilder

[2020-05-14 07:19] nilebox commented on #969
@dinooliva as the author of PR #394 which introduced this flag, you may have more context on this, and share your opinion?

[2020-05-14 07:40] nilebox commented on #969
The http://localhost:55679/debug/tracez endpoint simply always returns zeros, e.g.
[code]
regardless of how the Prometheus receiver is doing (before and after the fix), so I suppose this is also a bug?

[2020-05-14 07:43] nilebox commented on #969
FYI the issue is easy to reproduce with JMX to Prometheus exporter, https://github.com/prometheus/jmx_exporter/blob/master/run_sample_httpserver.sh

[2020-05-14 15:13] jrcamp opened #970 "Have a way to export custom metrics from a component"
Components may have internal metrics they want to expose so it'd be helpful if obsreport had a centralized way to report these metrics.

@pjanotti

[2020-05-14 16:10] tigrannajaryan commented on #881
@kirbyquerby sure, that would be great! I think this is going to be your first contribution, so please read https://github.com/open-telemetry/opentelemetry-collector/blob/master/CONTRIBUTING.md#coding-guidelines

[2020-05-14 16:11] tigrannajaryan commented on #881
@kirbyquerby if there is anything unclear in the OTLP/HTTP spec please let me know, I will be happy to clarify.

[2020-05-14 21:12] odeke-em commented on #881
Just for a bit of current context, in the collector https://github.com/open-telemetry/opentelemetry-collector/blob/86c72c282d3813f4a404f18145a57e6dda1537af/receiver/opencensusreceiver/opencensus.go#L211-L222
we've already got HTTP(1.1, 2.0) + JSON being received, perhaps this issue could be to expand and receive content that's protobuf as well, or perhaps please update that @tigrannajaryan in the

[2020-05-14 21:54] tigrannajaryan commented on #881
@odeke-em I think you are referring to gRPC-Web transport, right? I am not familiar with it but from what I remember it allows to use JSON representation of ProtoBufs to make the life of webapps easier (correct me if I am wrong). I think we should be able to support it on the same receiver port but for now OTLP/HTTP only specifies the behavior for binary Protobuf payloads. We can extend OTLP spec

[2020-05-14 21:54] tigrannajaryan commented on #881
I suggest that in the scope this issue we implement what the spec says and we can add JSON payload support later.

[2020-05-15 01:23] james-bebbington opened #973 "Deprecate third party code from host metrics receiver"
The Host Metrics receiver currently includes [third party code](https://github.com/open-telemetry/opentelemetry-collector/tree/master/receiver/hostmetricsreceiver/internal/third_party) for retrieving windows performance counter info, which is used to calculate load and paging metrics. We also calculate page file usage from a direct syscall into `psapi.dll`.

Ideally, we would like to upstream code

[2020-05-15 14:15] chris-smith-zocdoc opened #975 "Zipkin V2 Trace Receiver doesn't parse tags like http.status_code"
Zipkin tags/annotations is always a string and they must be parsed to successfully convert to the open census format.

Current the v1 and v2 zipkin tag/binary annotation parsers are separate code paths

V1 supports
- integers
- booleans
- span status from common tags

https://github.com/open-telemetry/opentelemetry-collector/blob/86e5805aaed83a7e9642a5b09eac2889f2fef3fa/translator/trace/zipkin/zip

[2020-05-16 01:55] dneray opened #979 "Support regex matching against values in attributesprocessor"
I have some use cases where it would be useful to be able to parse the attribute values into multiple fields.

For example my application has a field
http.url: http://example.com/path?queryParam1=value1,queryParam2=value2

and I would like to parse out the fields into:
http_protocol: http
http_domain: example.com
http_path: path
http_query_params: queryParam1=value1,queryParam2=value2

This is wha

[2020-05-16 06:58] dneray commented on #979
I signed it

[2020-05-17 23:10] PettitWesley commented on #956
FluentBit (start/stop/restart?)

It's possible I'm missing something... but I think this is pretty simple. If you have a Fluent Bit executable, you can invoke it to start. You can pass the FB process a SIGTERM when you want to stop it, and it will flush all logs and then quit. If it gets stuck, you can force it to quit with a SIGKILL. Restarting is just stopping + starting.

config file, how it ca

[2020-05-18 01:43] PettitWesley commented on #955
One option for log file tail benchmarking: https://github.com/awslabs/amazon-log-agent-benchmark-tool

[2020-05-18 01:46] PettitWesley commented on #955
Fluent Forward can be used over TCP or a unix socket, we'd probably want the latter, since it is supposed to be more efficient. https://github.com/fluent/fluent-bit/issues/2181

[2020-05-18 22:10] jrcamp opened #985 "Add way to self-document metrics"
As we are adding more metrics-focused receivers we are adding many more metrics. Currently we describe these in code in in protobuf/internal representation and for documentation purposes must transcribe to markdown. This duplication results in additional effort to write and maintain and creates a risk that the code doesn't match the docs.

## Option 1 (Go)
Describe metrics in Go and derive metadat

[2020-05-18 23:15] bogdandrutu commented on #985
+1 on using YAML. If you can start contributing the generator code will be good to start defining at least the host metrics in YAML.

[2020-05-19 00:15] MrAlias opened #986 "Generated code is clunky and not idiomatic of Go"
I'm working through trying to build an exporter that supports the "new" data model currently and started building a `traceDataPusher`. In the process I've found the generated code to be intrusive, poorly structured, wrappers around Go instead of actual Go, and ultimately going to cause more developer frustration than adoption.

For instance, take the [`pdata.Traces`](https://github.com/open-teleme

[2020-05-19 15:17] pavolloffay opened #990 "Allow partial retries of trace data in queued retry processor"
The [queued retry processor](https://github.com/open-telemetry/opentelemetry-collector/tree/master/processor#queued-retry-processor) retries the whole batch, however some exporters (e.g. Elasticsearch bulk API) can fail only part of the request (e.g. only specific spans).

A possible non-intrusive solution could be that the returned (exporter) error would carry properties that would identify objec

[2020-05-19 19:37] tigrannajaryan opened #992 "Test issue: ignore"
Just testing the project board.

[2020-05-19 23:15] MrAlias commented on #986
I just got off a call with @bogdandrutu where he was able to provide context around the design choices made here, including sharing a document that went in depth on the subject. To summarize, the goal is to avoid any deserialization of the underlying bytes. This will ensure the optimized transport of telemetry data through any tiered collection system and optimized processors within those systems.

[2020-05-20 00:31] tigrannajaryan commented on #955
We may still want to use TCP since unix sockets are not available on Windows (or we can choose  depending on the platform).

[2020-05-20 00:33] tigrannajaryan commented on #956
Yes, that's mostly it. I am not sure if we want to monitor FB process and restart it if it stops/crashes unexpectedly. Probably not needed for PoC.

[2020-05-20 00:38] tigrannajaryan commented on #956
I don't think there is a need to support multiple FluentBit pipelines when it is run by Collector. I think we can configure Fluentbit to have a single output that goes to Collector's FluentBit receiver. Inside the Collector we can then attach this receiver to multiple pipelines if needed.

So, basically one "fluentbit" receiver in the Collector will run one FluentBit process. It is probably going

[2020-05-20 00:43] tigrannajaryan commented on #956
I think this complicates things. I was thinking of an approach where the entire FB config is specified via one "fluentbit" receiver in the Collector config. Basically we would only aim to do minimal processing in FB process, only what is not possible to efficiently perform in the Collector. The rest of the processing will be in the Collector processors.

This way we would only need to specify and

[2020-05-20 05:27] apmer opened #998 "how does the grpc detect that the client is disconnected?"
When the service reports traces  with grpc, if the link is broken, how does the collector detect that the client is disconnected?

[2020-05-20 05:29] apmer commented on #998
Judge the link is alive, it can judge whether the service is alive

[2020-05-20 06:25] kirbyquerby commented on #882
May I work on this?

[2020-05-20 08:53] congim commented on #998
use stats.Handler:
[code]

[2020-05-20 08:59] apmer commented on #998
nice! thank you! @congim

[2020-05-20 08:59] #998 closed

[2020-05-20 12:20] Verlet64 commented on #975
I'd be happy to pick this up, if that's okay?

[2020-05-20 12:55] chris-smith-zocdoc commented on #975
I'm actually planning on working on this today @Verlet64 as its a requirement for my work

[2020-05-20 22:06] markcartertm opened #1005 "Collector Plug-in system to allow for plug-ins to be dynamically loaded"
**Is your feature request related to a problem? Please describe.**

Currently, all collector plug-ins such as producers or exporters need to be statically compiled into the collector. this results in a small number of baseline plug-ins such as Prometheus and Jaeger being built-in to the collector and all other plug-ins to be optional. there is also a collector build that includes all plug-ins, but

[2020-05-20 22:20] jkowall commented on #955
Vector seems like a better and more flexible lightweight forwarder than fluentbit IMO. Is there a reason we want to go with fluentit?

[2020-05-20 22:20] markcartertm commented on #1005
@mtwo  can you please have someone from Google review and provide feedback?
@tigrannajaryan  would appreciate your feedback

[2020-05-21 01:22] jrcamp commented on #1005
A recent build of contrib is 87M (33M gziped). This doesn't seem too unreasonable right now. At what size would a monolithic build be a problem? As you say, it's only going to grow but is that a problem in 2020 or 2025 when go might have a native plugin solution?

The plugin system has some appeal but definitely some drawbacks:

* Development and debugging complexity
* Build complexity
* Size issu

[2020-05-21 08:47] PettitWesley commented on #955
@jkowall  I’m not an OpenTelemetry maintainer; I’m not in charge here. I’m just trying to help. But I think that the reasoning is that Fluent Bit is part of an established, graduated CNCF project, is widely used in production (160 million image downloads on Docker Hub for the main distro, considerable usage in other builds too), and has a good set of logging inputs that can be used.

As I understa

[2020-05-21 08:51] PettitWesley commented on #955
I quite like the idea of using Fluent forward protocol. I think that's very useful as a receiver even if Fluent Bit is not bundled with the collector. It means that you could run Fluent Bit or Fluentd on a set of hosts, and forward to the Collector running as an "Aggregator" on another host.

It also means you can integrate with the [Fluentd Docker Log Driver](https://docs.docker.com/config/contai

[2020-05-21 08:58] PettitWesley opened #1007 "Explore/Consider Dynamic Configuration re-upload"
As mentioned in the Collector SIG today, I think it'd be useful to be able to dynamically re-upload and change configuration with zero downtime. This should be discussed/explored- is stopping and restarting the collector to change the config acceptable? How much data will be lost?

This is a very long term thing; I don't think it is a high priority right now. Opening this issue mostly just so that

[2020-05-21 09:17] PettitWesley commented on #956
@tigrannajaryan I mostly agree. I worry though that the Collector's pipeline concept isn't ideal for some advanced logging use cases. Its probably fine for now but may need to be expanded in the future.

Selfish plug, I wrote an entire blog post on advanced log pipeline use cases with Fluentd and Fluent Bit: [Splitting an application’s logs into multiple streams: a Fluent tutorial.](https://aws.am

[2020-05-21 09:23] PettitWesley commented on #956
@tigrannajaryan Ok, that's easy then. I recommend that we use the inputs and the regex parsing capabilities of Fluent Bit. When it grabs legacy logs from Files and other sources, they won't be nicely formatted, the default for files is:

[code]

If the log can be parsed with a regex (ex envoy, nginx, apache) into a JSON object with nicely named fields, it should be easier to then get it into the O

[2020-05-21 10:30] iNikem opened #1008 "Ability to log instrumentation library of the span"
**Is your feature request related to a problem? Please describe.**
When debugging auto-instrumentations it is very helpful to understand which instrumentation has created the specific span.

**Describe the solution you'd like**
All spans already have instrumentation library information. Just logging it alongside other span info would be of much help.

[2020-05-21 14:17] #854 closed

[2020-05-21 19:47] jrcamp commented on #985
# Metric Metadata

## Overview

To keep things lean I'm proposing implementing things in phases. The first phase is the minimal needed while subsequent phases are more nice to haves. Possible phases:

Phase 1: define metadata format and generate Go constants from it at build time.
Phase 2: add support for declaring platforms (windows, linux, etc.) that various metrics and labels apply to.
Phase 3:

[2020-05-21 19:53] william-tran opened #1012 "Trace transformer (processor)"
**Is your feature request related to a problem? Please describe.**
- In synchronous / RPC architectures, a single span can be used to determine the end to end duration of a transaction that spans multiple services, and trace instrumentation on the ingress service does this for you. In async / messaging architectures, you need to do some funny business to express end to end duration with a single s

[2020-05-21 21:45] tigrannajaryan commented on #986
@MrAlias there is already a `ForEach` for `AttributesMap` and adding `ForEach` to all slice types is trivial. I believe we did try that and it was somewhat slower than `Let`/`At` combo used with `for` and performance is always a concern for us. (@bogdandrutu please correct me if I am not remember this correctly).

Just to make it clear. Today we have to do this:
[code]

With `ForEach` you would be

[2020-05-21 23:06] mtwo commented on #1005
I'm going to follow up on #2 within Google, as Go plugins are already available and supported I have found a few drawbacks with the current implementation:

- It appears that plugins and the main repo need to be from the same repository and versioned together. This probably isn't an issue for us, though it isn't ideal.
- Go plugins don't work on Windows. This is bad, though we could just publish t

[2020-05-22 00:59] PettitWesley commented on #956
For the receiver schema, I see what you're thinking, I think that works, the only question is whether support for configuring parsers should be added too.

[2020-05-22 02:43] #966 closed

[2020-05-22 13:06] tigrannajaryan commented on #956
@PettitWesley The link does not open for me.

[2020-05-22 13:31] tigrannajaryan commented on #1008
This does not seem to be a Collector request. Collector does not do instrumentation. You should probably raise this in a corresponding language SDK repo or if unsure ask in gitter https://gitter.im/open-telemetry/opentelemetry-specification

[2020-05-22 13:31] #1008 closed

[2020-05-22 13:37] iNikem commented on #1008
For the sake of whoever stumbles here in the future: collector already logs this info:
[code]

If this info is available in collector. E.g. `otlp` exporter for java does send this information to collector, but `Zipkin` exporter does not.

[2020-05-22 13:42] tigrannajaryan commented on #955
@jkowall FluentBit was selected as the most suitable currently available option as a companion to OpenTelemetry Collector for multiple reasons (Wesley listed several). This is not intended to be a logging agent comparison initiative. We do not have a capacity to do a PoC with multiple logging agents in parallel so we went with the one which looks most promising based on preliminary research. If th

[2020-05-22 14:09] tigrannajaryan commented on #882
@kirbyquerby yes, please!

[2020-05-22 14:56] jkowall commented on #955
Sounds reasonable to me @tigrannajaryan and @PettitWesley I just could see that having better data pipelines available in a heavy forwarder (fluentd) versus a lightweight forwarder (fluent bit) would seem like a beneficial tradeoff. Keeping things in CNCF is fine, but not a good technical reason to select one technology to standardize upon versus another. I think both solutions would work fine and

[2020-05-22 17:37] jrcamp commented on #560
I'm a bit late to the party but would make one UX suggestion for this. Would suggest not having match_type and have it based on the match text instead. For example:

[code]

Many times a regex isn't needed and a glob will suffice. This allows the user to use whichever form of matching is more convenient for each entry.

[2020-05-22 18:17] ccaraman opened #1014 "Unify gRPC settings for server connections"
**Is your feature request related to a problem? Please describe.**
Both Opencensus Receiver and Otlp Receiver have similar gRPC Server settings
https://github.com/open-telemetry/opentelemetry-collector/blob/a637b41c22e36026038e3c953a1df7e2998bc94c/receiver/opencensusreceiver/config.go#L28-L48  and https://github.com/open-telemetry/opentelemetry-collector/blob/a637b41c22e36026038e3c953a1df7e2998bc9

[2020-05-22 18:28] rahulchheda commented on #955
Did anybody took a look at Grafana/loki (https://grafana.com/oss/loki/)

[2020-05-22 18:34] PettitWesley commented on #956
@tigrannajaryan weird... it does for me even in your quoted message, here is the URL: https://aws.amazon.com/blogs/opensource/splitting-application-logs-multiple-streams-fluent/

[2020-05-22 19:37] tigrannajaryan opened #1016 "Implement Fluentd Forward Protocol v1 receiver in Collector."
Here is protocol spec: [Fluentd Forward Protocol v1](https://github.com/fluent/fluentd/wiki/Forward-Protocol-Specification-v1).

It needs to receive to Log data type.

[2020-05-22 20:26] tigrannajaryan commented on #560
@jrcamp  So basically you are suggesting that it is a glob unless it starts and ends with a forward slash (in which case it is a regex). Is that correct?

[2020-05-22 21:37] jrcamp commented on #560
Correct, since glob logic is a superset of exact matching we would only need globs and regex. e.g. matching the text "host/cpu/usage" against a glob "host/cpu/usage" is the same as matching it against an exact metric match of "host/cpu/usage".

[2020-05-23 02:34] PettitWesley commented on #1016
Just found this, a Golang library that claims to support Forward v1 input/server: https://godoc.org/github.com/fluent/fluentd-forwarder

That should make the implementation very straightforward :)

[2020-05-25 02:54] PettitWesley commented on #1016
I'd like to work on this; though I won't put a "claim" on it since I don't think you can (or should) do that in OSS projects.

A pre-requisite for this is implementing support for the log data model in the collector, right?

[2020-05-26 02:01] bohrasd opened #1019 "The ballast-size of collector seems incorrect in the example k8s file"
**Describe the bug**
According to the memory limiter, the same value configured on the command line option `mem-ballast-size-mib` must also be defined in the `memory_limiter` processor. But they are not the same in the example k8s file.
[L118](https://github.com/open-telemetry/opentelemetry-collector/blob/master/examples/k8s.yaml#L118)
[L196](https://github.com/open-telemetry/opentelemetry-collect

[2020-05-26 11:23] pmm-sumo opened #1020 "Ability to set maximum batch size"
**Is your feature request related to a problem? Please describe.**

[Batch processor](https://github.com/open-telemetry/opentelemetry-collector/tree/master/processor#batch) allows to specify a minimum size of the batch or timeout. When either is exceeded, the batch of collected spans is sent down the stream. This ensures that a "compressed" package of data is being processed and exported, rather t

[2020-05-26 11:26] pmm-sumo commented on #1020
For reference, here's the prototype: https://github.com/pmm-sumo/opentelemetry-collector/pull/2

[2020-05-26 16:31] tigrannajaryan commented on #1016
@PettitWesley Great. Yes, we need to add log data type to the Collector first. I will do it next so that you can move forward.

I am going to assign this to you tentatively, it will make it easier to track the overall PoC work.

[2020-05-26 16:44] tigrannajaryan commented on #956
Works for me now.

[2020-05-26 17:19] tigrannajaryan commented on #1005
We spent considerable effort to make Collector extensible and customizable without the need to have dynamic plugins system. For constrained environments it is possible to trivially create a custom Collector build that includes only the necessary components. I have a feeling that this addresses some of the use cases for plugins.

That said I do not want to discourage anyone from trying to implement

[2020-05-26 18:03] MrAlias commented on #986
I don't care too much about including a `ForEach` method. It was something @bogdandrutu and I had discussed as it had already existed. I'm more interested in having a slice to work with so I can `range` over the slice and use Go indexing syntax.

The idea behind adding the `ToSlice` method was to have it return a valid slice and indeed allocated data. It was going to be understood, and commented a

[2020-05-26 18:03] #986 closed

[2020-05-26 22:45] tigrannajaryan opened #1022 "Automated stability test"
We need an automated long-running stability test. The test should use the perf testbed and run for configurable period of time (e.g. 1 hour). The test should monitor the resource usage and ensure there are no performance degradations: increase of CPU usage, increase of RAM / memory leaks over time.

The test should for a short period of time of time in the default test suite. We want to have addit

[2020-05-26 22:47] tigrannajaryan opened #1023 "Use most reasonable default config in E2E tests"
Identify the default configuration and default recommended processors (memory ballast, memlimiter, batcher, queued_retry, etc) and use them in end-to-end tests.

[2020-05-26 22:51] tigrannajaryan opened #1024 "Don't spawn Collector process for certain E2E tests"
E2E tests today spawn a separate Collector process. This is useful for performance tests and certain other classes of tests (e.g. verifying the behavior after restarting from crash).

However many other E2E tests, such as verifying correctness of end-to-end operation of the Collector starting from receiving data, processing it, then exporting it do not necessarily require a separate process and ca

[2020-05-26 22:52] tigrannajaryan opened #1025 "Add tests that verify existing of component documentation"
We want to have documentation tests that verify that all components have a section in the corresponding README.md.

[2020-05-26 22:53] tigrannajaryan opened #1026 "Tests to verify data ownership rules"
Automatically detect during tests processors or exporters that incorrectly mutate the data in violation of the [data ownership rules](https://github.com/open-telemetry/opentelemetry-collector/tree/master/processor#data-ownership).

[2020-05-26 22:54] tigrannajaryan opened #1027 "E2E receiver tests that spawn real services"
Spawn up services (e.g. Redis, nginx, etc) monitored by specific receivers and run E2E collection against these real services. One possible way to spawn the services from tests is to use Docker.

[2020-05-26 22:56] tigrannajaryan opened #1028 "Have separate CircleCI job for long running tests"
Split very long-running tests (such as [stability tests](https://github.com/open-telemetry/opentelemetry-collector/issues/1022)) into a separate build job that is triggered automatically by master branch commits and when passing tags the tested commit as "auto-full-tested".

If the job fails create a Github issue and link to the failed job.

[2020-05-26 22:58] tigrannajaryan opened #1029 "Automatically create bug reports for test failures"
Automatically create bug reports for test failures on master branch and assign them to area or test owners (use CODEOWNERS if possible). Increase priority of the bug report on repeat failures.

[2020-05-26 23:05] tigrannajaryan opened #1030 "One-click official release of the latest "auto-full-test"-ed image to Docker hub"
When a release is created and a commit is tagged by a version number in Github it currently triggers a build and uploads the resulting image to Dockerhub. We want this to also verify that the commit is already tagged as "auto-full-test".

Once we gain confidence we may perform these releases of "auto-full-test" fully automatically to Dockerhub.

[2020-05-26 23:06] tigrannajaryan opened #1031 "Wire compatibility tests"
We need compatibility tests that verify that the build is compatible on wire level with previous official release (chain new and old versions and ensure data flows correctly).

[2020-05-27 15:17] owais commented on #1030
So the only requirement here right now is that CI only pushes new images when it builds a commit that is tagged with both the version to be released and static :"auto-full-test". Does this mean we'll delete old auto-full-test tags? Or will auto-full-test just be a piece of text present in the commit message? Also, who/how will commits be tagged with auto-full-test text?

[2020-05-27 15:25] ivangreene commented on #592
Wish I had found this issue sooner, I spent a full day trying to figure out why none of the receivers were working when running in docker. Was getting confusing symptoms like empty http response, channel closed exception, etc.

At the very least, we need to have a decent notice in the receiver configuration documentation that the defaults will not work within docker so that people can get up and r

[2020-05-27 15:42] tigrannajaryan commented on #1030
Yes. We don't "delete" the old tag. When you apply the same tag to a new commit, doesn't the old commit automatically lose the tag?). Alternatively, we could use unique tags (append timestamp to tag name), but I don't see much need for that. We only need to know the latest fully tested commit.

"auto-full-test" will be set by the full test suite after the tests are successful: https://github.com/o

[2020-05-27 15:55] pavolloffay opened #1033 "Subscribe to shutdown event"
**Is your feature request related to a problem? Please describe.**

In Jaeger we have embedded the service to our other components. We need a way to subscribe to an event that is triggered after the service is fully shutdown.

**Describe the solution you'd like**

Expose a channel that sends lifecycle messages e.g.:

* service started
* shutdown detected
* shutdown finished

**Describe alternative

[2020-05-27 16:24] owais commented on #1030
No, git tags don't automatically move between commits and only a single commit can be tagged with a single tag. Tags can be deleted and then re-used however which should be trivial if we plan to automate the flow. ot sure if deleting and re-creating could have

This implies CI will have write access to the repo which currently is not the case. This'll open up an attack vector against the repositor

[2020-05-27 17:17] tigrannajaryan commented on #1025
@asuresh4 will work on this (I cannot assign yet, since you have no PRs in this repo).

[2020-05-27 17:32] tigrannajaryan commented on #1030
That's what I meant. :-)

Good point. I am open to alternatives.

So you are suggesting that the first job builds the Collector, runs quick tests but does not publish the image to Dockerhub. The first job triggers the second job which runs full test suite and if it passes published the image to Dockerhub? Is that the suggestion?

Question: can we build the Docker image in the first job and pass it

[2020-05-27 17:33] tigrannajaryan commented on #1030
@dmitryax FYI, you are probably interested in this discussion.

[2020-05-27 17:45] MrAlias opened #1034 "Release Needed"
With the large restructuring of code and [the recent update of the vanity URLs](https://github.com/open-telemetry/opentelemetry-go-vanityurls/pull/3) to support this import path imports are now broken without intervention. E.g.

[code]

Additionally, if you try building against packages that are in master but not in the v0.3.0 release (i.e. `go.opentelemetry.io/collector/consumer/pdata`), the buil

[2020-05-27 17:53] owais commented on #1030
Yes, something like this. We can chose any variation of this provided it satisfies requirements to run full test suite before publishing an image.

Yes. If both jobs run inside the same CircleCI build, we can easily pass it as an artifact to the next job.

If the jobs run as separate builds, the first job could build and publish a "pre-release" image to docker hub and then trigger the second job.

[2020-05-27 17:55] owais commented on #1028
Is the idea to make such jobs async so they don't block a PR from being merged but asynchronously "bless" a commit as being good?

[2020-05-27 18:01] MrAlias opened #1035 "pdatautil.MetricsFromMetricsData fails to copy Datapoint labels into new datapoints"
**Describe the bug**

The translation function [pdatautil.MetricsFromMetricsData](https://github.com/open-telemetry/opentelemetry-collector/blob/master/consumer/pdatautil/pdatautil.go#L44-L49) and then [pdatautil.MetricsToInternalMetrics](https://github.com/open-telemetry/opentelemetry-collector/blob/master/consumer/pdatautil/pdatautil.go#L51-L62) does not set labels from original OpenCensus datap

[2020-05-27 18:12] tigrannajaryan commented on #1020
I am not sure proposed https://github.com/pmm-sumo/opentelemetry-collector/pull/2 implementation is a good approach. With this proposal the batcher will do its usual logic and will wait until send_batch_size is accumulated or timeout is passed and then will begin splitting the batch into smaller ones if send_batch_hard_limit is smaller than the accumulated batch. A better approach would be to chec

[2020-05-27 18:34] pmm-sumo commented on #1020
You are right @tigrannajaryan , I have assumed (and missed including it in the docs) that `send_batch_hard_limit` should be always larger than `send_batch_size` (in my environment I set it to 2x `send_batch_size`). With the check in place (essentially `send_batch_size` becoming `min(send_batch_size, send_batch_hard_limit)`) would it make sense to open a PR?

[2020-05-27 18:50] tigrannajaryan commented on #1028
Yes. Some tests potentially may run for hours. We cannot wait for so long for PRs. We should probably just skip those tests in PR builds and only execute the for master branch commits. Technically we could make this all in one job when building the master branch but I think it helps to break it down to 2 jobs, especially if we can configure the second, long-running job to only execute on the lates

[2020-05-27 19:20] owais commented on #1028
We could also schedule a nightly build that runs every 12 or 24 hours and tests the latest commit in master.

[2020-05-27 20:12] MrAlias commented on #1035
Issue was discovered when attempting this: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/229#discussion_r424010548

[2020-05-27 21:05] anniefu commented on #560
Disclaimer: Because the span/attribute/filter are all intended to share the same interface, I do think changing the match_type behavior is a decision beyond the scope of the filter processor.

My two cents is I could see it being nice, but I could also see it introducing some confusion.

Glob and regexp are pretty commonplace, but we'd essentially be introducing an "otel expressions" grammar here,

[2020-05-27 22:04] jrcamp commented on #560
Right, we would want to use it consistently throughout all the processors. I think we could provide it in a backwards compatible way by making deprecating match_type and making it optional in the future. If it's not present then it uses the otel expressions. Existing "exact" and "regex" could maintain existing behavior.

/regex/ syntax is used in JavaScript, Perl, sed, etc. and globs are all over

[2020-05-27 22:42] MrAlias opened #1039 "Missing way to create pdata.Metrics from OTLP"
The existing functionality to create internal metric data structures from OTLP data does not support creation of `pdata.Metrics`, a struct needed to test the collector gRPC server functionality.

There exists [a translation function for OTLP `ResourceMetrics`](https://github.com/open-telemetry/opentelemetry-collector/blob/master/consumer/pdata/metric.go#L34-L37), however, this is not usable given

[2020-05-27 22:43] MrAlias commented on #1039
Blocks https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/229#discussion_r424010548

[2020-05-28 05:15] james-bebbington commented on #871
@bogdandrutu @tigrannajaryan - I don't think there's a huge amount of work to be done here, but I updated the ticket description if you could take a look and let me know if that makes sense.

[2020-05-28 10:07] ehmke commented on #407
I am finding this discussion very interesting. How does this relate to the comment in the last paragraph here: https://github.com/open-telemetry/opentelemetry-collector/blob/master/docs/performance.md

It says that we would need a LB supporting traceId-based routing to scale horizontally. Does this present a practical option when using a certain combination of protocols? For example, I am sending

[2020-05-28 10:57] RashmiRam opened #1041 "Support for configuring more gRPC client settings"
**Is your feature request related to a problem? Please describe.**
There is no way to configure load balancer name in the gRPC client settings and the default is pickFirst which won't work in case of gRPC endpoint being simple dns.

**Describe the solution you'd like**
Allow gRPC client settings like balancerName to be configured via config file.

**Describe alternatives you've considered**
Nothin

[2020-05-28 14:33] tigrannajaryan commented on #1030
@owais can you please update issue description your proposed solution instead of "auto-full-test" tag and also update https://github.com/open-telemetry/opentelemetry-collector/issues/1028 correspondingly?

[2020-05-28 14:55] tigrannajaryan commented on #1039
@MrAlias `pdata` for Metrics is not yet ready because metrics ProtoBuf definitions are in-flux and are not ready. I believe @bogdandrutu hid `pdata.Metrics` internationally because of this.

I think for now you have to use the old interfaces that use OpenCensus as internal data type.

[2020-05-28 15:13] jrcamp commented on #871
That's a good point. Could people want to auto detect resource labels when instrumenting code that's not running on a physical/virtual host? Serverless maybe?

[2020-05-28 15:36] MrAlias commented on #1039
Ah, okay. Thanks for the info @tigrannajaryan.

[2020-05-28 15:37] jrcamp commented on #871
This will require ensuring individual receivers adhere to calling GetResource() and using it correctly. Ideally the individual receivers wouldn't have to know anything about it. I was thinking the processor would call the autodetect method at startup. I think adding it as an option to the existing resource processor makes sense.

[2020-05-28 16:01] tigrannajaryan commented on #1028
Nightly is possible but I'd prefer to run as soon as a commit is made. This reduces time to discover problems introduces by changes.

[2020-05-28 16:07] tigrannajaryan commented on #1034
We are planning a release in 1-2 weeks. We want to beef up the test suite and spend more time testing in our internal environments to gain more confidence we did not break the Collector due to the large volume of changes.

Issues to track (we probably won't do them all right now):
https://github.com/open-telemetry/opentelemetry-collector/issues/1022
https://github.com/open-telemetry/opentelemetry-

[2020-05-28 19:39] jrcamp commented on #1034
@tigrannajaryan might help to track these with Github milestones (https://github.com/open-telemetry/opentelemetry-collector/milestones).

[2020-05-28 20:06] tigrannajaryan commented on #1016
@PettitWesley FYI, the PR that adds experiment Logs data type is up: https://github.com/open-telemetry/opentelemetry-collector/pull/1045

You will need to use this data type in Forward protocol receiver.

[2020-05-28 23:30] bogdandrutu commented on #1039
@MrAlias https://github.com/open-telemetry/opentelemetry-collector/blob/master/consumer/pdatautil/pdatautil.go#L47

[2020-05-28 23:30] #1039 closed

[2020-05-29 00:31] MrAlias commented on #1039
@bogdandrutu you linked to a function that takes `[]consumerdata.MetricsData`, is there one that accepts OTLP `ResourceMetrics` that you can point me at?

[2020-05-29 00:54] MrAlias commented on #1039
Or, did I miss the meaning of that?

[2020-05-29 01:09] james-bebbington commented on #985
This looks good to me. Keen to see a PoC 😄

One other consideration is that it's possible to have two metrics that have a label with the same name but different content (e.g. cpu/usage "state" label vs memory/usage "state" label), so having labels being keyed by name could be problematic in rare cases.

**Suggestion for Phase 2:**

[code]
And then just create separate go files for each referenced

[2020-05-29 01:27] james-bebbington commented on #871
Given that we support exporting directly from the SDKs to a (non-Agent) BE, I would think that we should also support auto-detecting the resource in the SDK

Isn't it roughly similar either way? Components (in this case the resource processor) either call `AutoDetect(ctx)` or `host.GetResource()` on startup. I slightly prefer storing the resource against the host as it a) feels logically correct f

[2020-05-29 05:58] james-bebbington commented on #871
Example code: https://github.com/james-bebbington/opentelemetry-collector/pull/1

[2020-05-29 08:58] ckanner opened #1048 "Logger config"
Otelcol use `zap` to logger something. But now, I can only config my looger by set `log-level` and `log-profile`.

How can I config my logger custom? I want to set something like `Encoding`, `OutputPaths`, `logrotate` and so on.

[2020-05-29 09:01] cyrille-leclerc opened #1049 "Typo in the documentation for the new Jaeger exporter: document `secure` instead of `insecure``"
**Describe the bug**

Documentation for the new jaeger exporter configuration has a typo. It specifies `secure` instead of `insecure`.

**Steps to reproduce**

To reproduce, use an OpenTelemetry Collector configuration with `exporters/jaeger/secure: false`.
The correct syntax is to use `exporters/jaeger/insecure: true`.

**What did you expect to see?**

Expected OpenTelemetry Collector startup log

[2020-05-29 12:41] owais commented on #1028
I'm researching CircleCI and figuring out the exact flow we'll have. Will update proposal shortly.

[2020-05-29 15:27] pavolloffay opened #1051 "Expose public API to create trace data"
https://github.com/open-telemetry/opentelemetry-collector/pull/1037 changed the way how the proto files are generated. The generated files are now under `"go.opentelemetry.io/collector/internal/data/opentelemetry-proto-gen/trace/v1"` which cannot be imported due to `internal` scope.

Exporter/consumer has this API
[code]

And `pdata` interface looks like this:
[code]

Hence I was not able to creat

[2020-05-29 15:43] tigrannajaryan opened #1052 "Add LogService definition to experimental logsproto"
`logsproto` currently defines messages but does not define the gRPC service to use for delivery of messages.

We need a LogService definition added to `internal/data/logsproto` in our repository, similar to how it is done for traces here https://github.com/open-telemetry/opentelemetry-proto/blob/28e2774262a651c4c2e701c3a05820c3e43ead71/opentelemetry/proto/collector/trace/v1/trace_service.proto#L32

[2020-05-29 15:49] tigrannajaryan commented on #1051
@pavolloffay why you need to call `TracesFromOtlp`? This function is intended to be called by OTLP receiver.

To create test data you can start with `pdata.NewTraces()`. See for example https://github.com/open-telemetry/opentelemetry-collector/blob/034d92d6475f6ae8d97f9dd8a656893c1ca2c2f7/translator/trace/jaeger/jaegerproto_to_traces.go#L37

[2020-05-29 15:57] tigrannajaryan opened #1053 "Add Log data type support to OTLP exporter"
Based on [LogService definition](https://github.com/open-telemetry/opentelemetry-collector/issues/1052) implement LogExporter in `otlpexporter`.

[2020-05-29 15:59] tigrannajaryan opened #1054 "Add Log data type support to OTLP receiver"
Based on [LogService definition](https://github.com/open-telemetry/opentelemetry-collector/issues/1052) implement LogReceiver in `otlpreceiver`.

Make sure to test sending and receiving of logs using in tandem with OTLP exporter.

[2020-05-29 17:14] asuresh4 commented on #1025
@tigrannajaryan - I assume we are looking to add the same verification to the contrib repo as well?

Today all the documentation for components of a specific seem to be in a single README. For example, documentation related to all processors are in `processors/README.md`. As more components are added, seems to me like this could get cumbersome. I was wondering if it made sense to move the document

[2020-05-29 17:51] ccaraman opened #1055 "Create HTTP(Client/Server)Settings"
Similar to gRPCClientSettings
https://github.com/open-telemetry/opentelemetry-collector/blob/8aa273184455591cad278c92c7cfcf75ad353d57/config/configgrpc/configgrpc.go#L37

Create Configs for HTTP use cases.

[2020-05-29 19:54] #1033 closed

[2020-05-29 22:17] tigrannajaryan commented on #881
Resolved by https://github.com/open-telemetry/opentelemetry-collector/pull/1021

[2020-05-29 22:17] #881 closed

[2020-05-29 22:20] jrcamp commented on #1025
If we decide to put other metadata in yaml I think we can fold in #985 and have just one file. The SFX agent does this with a single `metadata.yaml` file. I think it is the best long term approach. If we want to still have README.md in the repo (which is useful when browsing source) it does mean we will need to have a pre-commit step to generate them. We can use Git hooks and tools like https://pr

[2020-06-01 14:28] asuresh4 commented on #1025
I synced with Tigran on this offline and he seemed to partly agree on generating the docs from something like yaml in the long term but details need to be flushed out. However, he mentioned for the purposes of this issue it would suffice to verify existence of docs for all components. Based on the discussion, for now this would entail splitting out the component docs into separate READMEs and auto

[2020-06-01 15:26] #1049 closed

[2020-06-01 17:21] #1052 closed

[2020-06-01 17:35] tigrannajaryan commented on #1028
@owais do you have time to work on this? OK to assign to you?

[2020-06-01 17:35] tigrannajaryan commented on #1028
Ah, I see you already self assigned, thanks. :-)

[2020-06-01 19:30] RashmiRam commented on #1041
If this is a valid ask, I would be happy to send a PR for the same.

[2020-06-01 19:34] je-al opened #1061 "Logging sampler configuration not working properly (?)"
**Describe the bug**
Logging sampling configuration seems to not be applied

**What did you expect to see?**
A constant logging rate

**What did you see instead?**
Logging sampling isn't working as intended, we get approximatelly 1k loglines per second

**What version did you use?**
otel/opentelemetry-collector-contrib:0.3.0

**What config did you use?**
[code]

**Additional context**
I'm not sure

[2020-06-01 22:59] rghetia commented on #871
Agreed. The interface should be in OTel SDK. Vendor specific detectors can then be included either in the collector or directly with the SDK.

[2020-06-02 11:14] pavolloffay commented on #1051
Initially, I didn't get how the API should be used. I am closing this.

[2020-06-02 11:14] #1051 closed

[2020-06-02 15:05] tigrannajaryan commented on #1041
I have no experience with this part of gRPC.
@bogdandrutu can you please comment on this (if you have the experience)?

[2020-06-02 15:35] tigrannajaryan opened #1063 "Implement `logsproto` logs DataReceiver for performance testbed."
We need ability to receive `logsproto` logs in testbed.
1. `DataReceiver` in the testbed currently supports traces and metrics but not logs. Log data type support must be added to `DataReceiver`. Think if it is better to split `DataReceiver` into 3 separate interfaces (TraceDataReceiver, MetricDataReceiver, LogDataReceiver) or we keep one DataReceiver that handles all 3 data types.
2. We need to i

[2020-06-02 15:37] tigrannajaryan opened #1064 "Implement Fluentd Forward Protocol DataReceiver for performance testbed."
We need to implement `ForwardProtocolDataReceiver` that implements `DataReceiver` interface for logs.

Depends on part 1 of https://github.com/open-telemetry/opentelemetry-collector/issues/1063

[2020-06-02 15:42] tigrannajaryan opened #1065 "Implement load generator to create file logs to be tailed by FluentBit."
1. Define `LogDataSender` interface (similar to existing `TraceDataSender`) but for logs.
2. Add support for log generation to `LoadGenerator`.
3. Implement `FileLogWriter` that implements `LogDataSender` interface and writes generated logs to a file log. Support JSON format initially, such that FluientBit can tail and parse it.

[2020-06-02 21:03] #960 closed

[2020-06-02 21:23] tigrannajaryan opened #1066 "TestBatchMetricProcessor_Shutdown is unstable"
See https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector/1037/workflows/097e8806-38f8-4cb8-b5f4-6af7e05f2b22/jobs/6525

[code]

[2020-06-02 23:44] janaka opened #1067 "OpenTelemetry .NET SDK - Zipkin, Jaeger, and otlp TracerBuilderExtensions have inconsistent namespaces"
**Describe the bug**

The Zipkin and Jaeger TracerBuilderExtensions are in one namespace but the otlp TracerBuilderExtensions is in a different namespace. This is confusing and not intuitive. Is it intentional? method names are similarly inconsistent.

**Steps to reproduce**
`namespace OpenTelemetry.Exporter.OpenTelemetryProtocol`
[OpenTelemetry.Exporter.OpenTelemetryProtocol/TracerBuilderExtensio

[2020-06-02 23:52] janaka commented on #1067
sorry, created in wrong repo by accident

[2020-06-02 23:52] #1067 closed

[2020-06-03 00:41] tigrannajaryan commented on #1034
Tracking in milestone https://github.com/open-telemetry/opentelemetry-collector/milestone/4

[2020-06-03 00:42] #992 closed

[2020-06-03 14:09] tigrannajaryan opened #1069 "TestBatchProcessorTraceSendWhenClosing fails"
See https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector/1039/workflows/eed1abcb-c5e7-4fce-aa1d-fe69e8d64129/jobs/6532/steps

[code]

[2020-06-03 14:11] tigrannajaryan commented on #1069
Also https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector/1036/workflows/3dae5981-94d6-432d-89b3-eeb6dc8b409e/jobs/6514

[2020-06-03 14:11] tigrannajaryan commented on #1069
Also https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector/1035/workflows/320caee1-d6ec-4e6b-bb27-f7374d0cb688/jobs/6506

[2020-06-03 14:13] tigrannajaryan commented on #1069
@ccaraman assigning this to you too, I think you are the author. Please have a look as high priority since it fails the builds sporadically. If there is no quick fix please disable it, since it prevents PRs from building and fails master build too.

[2020-06-03 14:20] tigrannajaryan commented on #1029
@jrcamp I am currently manually inspecting failed builds and create bugs for failing tests. We need to automate it.
Assigning to you since this falls into developer ergonomics :-)

[2020-06-03 16:35] ccaraman opened #1070 "Fix Batch Processor shutdown tests to check final count of items sent"
Related to issue #1069  and #1066 - the tests have been updated to check that at least some requests go through to unblock prs and still get coverage. The tests need further investigation into why not all of the items are getting through within the allocated time.

[2020-06-03 17:56] #1066 closed

[2020-06-03 21:23] james-bebbington commented on #871
See https://github.com/open-telemetry/oteps/pull/111

[2020-06-03 21:57] tigrannajaryan commented on #1069
Looks like the tests is still unstable: https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector/1044/workflows/fe4e2fb7-cf38-419a-8657-21a1cb2ea4da/jobs/6560

@ccaraman Can you please have a look?

[2020-06-03 22:03] je-al commented on #1061
I've since been disabused of the notion that this configuration actually affected logging for other parts of the pipeline...
So I'm guessing the ask (?) would be for a way to actually be able to sample the logs coming off of the queued_retry processor...

[2020-06-03 22:14] tigrannajaryan commented on #871
@james-bebbington Why can't this be done in a processor? A processor in a metric pipeline can automatically detect the host information and add that information to all metrics in that pipeline. You will need to have a separate pipeline for metrics collected from the localhost which I think is fine.

[2020-06-03 22:55] ccaraman commented on #1069
@tigrannajaryan looking at https://github.com/open-telemetry/opentelemetry-collector/pull/1072 it doesn't have my test change in it.

[2020-06-03 22:58] james-bebbington commented on #871
Sure, this could be done in a processor. The only reason for suggesting otherwise is that its conceptually nicer (and loosely more consistent with the SDKs) if resource information is included at the time the metric is "created". I was envisioning doing both since this could be easily shared, e.g.: https://github.com/open-telemetry/opentelemetry-collector/pull/1059#discussion_r433111748

The main

[2020-06-04 00:00] jrcamp commented on #1029
Could arguably be more aligned with Quality but I'm fine either way.

[2020-06-04 00:41] #1069 closed

[2020-06-04 00:41] bogdandrutu commented on #1069
This seems to be fixed, was my PR which did not include the temporary fix

[2020-06-04 09:05] jhengy opened #1075 "Demo example not working"
**Describe the bug**
demo example not working, i.e. `otel-collector` 's prometheus exporter does not export  metrics emitted by `metrics-load-generator` service as expected.

**Steps to reproduce**
- execute the following
  - `cd examples/demo`
  - `docker-compose up -d`
  - `curl localhost:8889/metrics`

**What did you expect to see?**
suppose to see metrics logs

**What did you see instead?**
No

[2020-06-04 09:37] jhengy opened #1076 "Problem when scraping metrics from multiple targets that emits metrics of the same name and labelkeys"
**Describe the bug**
if otel-collector/agent scrapes from two endpoints which emits metrics of the same name(even with different label), it seems to only export metrics from one of the endpoints in a random fashion.

**Steps to reproduce**
1. modified the [demo example](https://github.com/open-telemetry/opentelemetry-collector/tree/master/examples/demo) in [this commit](https://github.com/jhengy/o

[2020-06-04 09:44] RashmiRam commented on #1041
@bogdandrutu Could you please tell what do you think about this?

[2020-06-04 10:34] jhengy opened #1077 "Prometheus receiver configuation problem"
**Describe the bug**
To give some context, I was trying to figure out a workaround for problems described in this [issue](https://github.com/open-telemetry/opentelemetry-collector/issues/1076), by renaming all metrics received by otel-collector's prometheus receiver. However, I faced problems in configuring the prometheus receiver. It does not seem to recognize the regex match group reference (i.e

[2020-06-04 11:54] nilebox commented on #1077
This is likely due to `$1` being recognized as an environment variable substitution by Collector, see https://github.com/open-telemetry/opentelemetry-collector/blob/7961cc157bd0c75532e5a45e09e278e4c34a0eb5/config/config.go#L758

i.e. the `$1` gets replaces with empty string by Collector prior to sending configuration to Prometheus.

One possible workaround is to define an environment variable:
[co

[2020-06-04 11:56] nilebox commented on #1077
Also see https://golang.org/pkg/os/#ExpandEnv

This is exactly what you see AFAICT.

[2020-06-04 14:17] pavolloffay opened #1078 "Percentage settings for memory limiter processor and ballast size"
**Is your feature request related to a problem? Please describe.**

Flag `--mem-ballast-size-mib` and memory linter processor configuration accept absolute settings. This makes it hard to enable and configure these components in a default/hardcoded configuration. The percentage settings could be applied to a wide range of deployments and default values could be used.

`--mem-ballast-size-mib=2000`

[2020-06-04 14:23] bogdandrutu commented on #1075
@ccaraman this seems to be related to the TLS changes:

[2020-06-04 15:18] bogdandrutu commented on #1075
Also the log comes from the https://github.com/open-telemetry/opentelemetry-collector/blob/master/examples/demo/otel-collector-config.yaml which base on my best guess is caused by the Jaeger grpc exporter (possibly by the Zipkin exporter, but I don't think so).

[2020-06-04 15:36] jrcamp opened #1081 "Improve filtering configuration with globs and make match_type optional"
*This was originally brought up in https://github.com/open-telemetry/opentelemetry-collector/issues/560#issuecomment-632823064 but was out of scope for the metric filtering PR.*

## Background

Today the type of matching pattern to use is done by explicitly setting match_type. For example:

[code]

This has some downsides in that you must have a different include/exclude section for each match_typ

[2020-06-04 15:37] jrcamp commented on #560
I've made a dedicated proposal for this here: https://github.com/open-telemetry/opentelemetry-collector/issues/1081

[2020-06-04 16:03] tigrannajaryan commented on #1069
@ccaraman By bad, thanks for checking.

[2020-06-04 16:05] tigrannajaryan commented on #1029
@owais is doing something similar for Stability tests here: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/278/files

Once he is done we can adopt that code.

[2020-06-04 16:19] tigrannajaryan commented on #871
Wouldn't this require _every_ receiver that create metrics obtained locally to be aware of this concept and apply it to the metric data it creates? Seems like poor separation of concerns to me.

I am not convinced that the core repo and Service are the right place to implement this.

Functionally the desired functionality sounds like a processor to me and probably a separate one, not the existing

[2020-06-04 16:45] pjanotti opened #1082 "Complete switch to new Collector metrics and avoid inadvertent changes"
We should complete the switch from the Collector legacy metrics to the new Collector metrics and make harder for inadvertent changes affecting Collector metric names or labels.

- [X] Ensure `obsreport` test breaks on metric name or label changes. #1083
- [ ] Add tests to ensure no Collector metrics not generated via obsreport also have tests that break on rename (eg.: process related metrics)
- [

[2020-06-04 16:45] asuresh4 commented on #1025
Once the READMEs are moved into the directory corresponding to the component, the READMEs could potentially end up in different locations. For example, the README for `attributesprocessor` would be placed in `processor/attributesprocessor` (this covers most of the current cases). However, there are cases where this is not true. For example, README for `tailsamplingprocessor` will live in `processo

[2020-06-04 16:46] tigrannajaryan commented on #1031
@flands I am removing this from this milestone since we won't have time to do it. Will be done later.

[2020-06-04 16:46] tigrannajaryan commented on #1024
@flands I am removing this from this milestone since we won't have time to do it. Will be done later.

[2020-06-04 16:46] tigrannajaryan commented on #1026
@flands I am removing this from this milestone since we won't have time to do it. Will be done later.

[2020-06-04 16:47] tigrannajaryan commented on #1030
@flands I am removing this from this milestone since we won't have time to do it. Will be done later.

[2020-06-04 16:56] tigrannajaryan opened #1084 "Clarify memory limiter operation"
It is not entirely clear what currently happens when memory limiter hits the limit. Do we continue receiving data and we drop it? Or we stop receiving data? Do receivers indicate to their senders to stop sending, i.e. backpressure/throttle them?

TODO:
1. We need to document the behavior clearly and make any corresponding changes needed in the memory limiter code.
2. We need to make sure all recei

[2020-06-04 16:57] ccaraman commented on #1075
I will work on this today. Apologies about the error.

[2020-06-04 18:28] bogdandrutu commented on #1081
@jrcamp:
1. Not sure I understand how the `"/cpu/"` is different from `"host/cpu/usage"`. Can you explain how can you know when to apply fix match versus regexp match in this case?
2. `"!host/cpu/total"` - this is just for convenience because you can still achieve this with a regexp, or am I missing something?

I was doing some refactoring around the filterset and found the current config hard to

[2020-06-04 18:47] jrcamp commented on #1081
Only if it starts and ends with `/` would it be regex. `host/cpu/usage` doesn't start and end with `/` so it's just an exact match.

How do you match `host/cpu/.*` with regex but not `host/cpu/total`. Is it possible without negative lookahead (which I don't think Go supports?)

You can see more examples here that we use in the SignalFx agent: https://docs.signalfx.com/en/latest/integrations/agent/

[2020-06-04 19:20] jrcamp commented on #1081
Yeah that's true, if you always have include and exclude sections it's probably not useful. I was thinking I saw some kind of filtering in OT that was just a single list without separate sections where I thought it might be useful but I forget where.

Can always be added later if needed. I think we can drop it from the proposal for now.

[2020-06-04 20:23] bogdandrutu commented on #1081
Is any standard that defines `/text/` to be a regexp vs strict check?

[2020-06-04 20:54] tigrannajaryan commented on #1025
@asuresh4 the approach looks good to me. That's a nice way of finding the location of README.

[2020-06-04 23:24] jrcamp commented on #1081
You mean what if you have a filter that's `/text/` that you want to match as an exact? Some possibilities:

* You have to use the regex `/^/text/$/` It's suboptimal but it's not a common case.
* Could fall back to setting `match_type` but then we couldn't deprecate it.
* Maybe could have some way to escape it but I couldn't think of anything very clean.

@keitwb best I can tell you'd just have to

[2020-06-04 23:37] bogdandrutu commented on #1081
But for your initial example why did you use `/cpu/` instead of `.*cpu.*`?

[2020-06-04 23:43] jrcamp commented on #1025
Generally lgtm, will make some comments when you open PR on it.

[2020-06-04 23:45] jrcamp commented on #1081
For demonstration purposes only :) Yes a better example would probably have been `/.*cpu.*/`

The vast majority of the times globs are sufficient and easier though: `*cpu*`

[2020-06-04 23:49] bogdandrutu commented on #1081
@jrcamp I am confused:
[code]

Then why do you need the first and third to be "different" I mean the are both glob matching.

[2020-06-04 23:54] bogdandrutu opened #1088 "Revert changes added in TLS PR for`Insecure`"
Based on a comment to "shorten" the name https://github.com/open-telemetry/opentelemetry-collector/pull/988#issuecomment-630926807 we added a larger problem to user.

Currently the default behavior is to use secure channels which changed the expected behaviors for bunch of tests/demos or even production deployments.

Do we want to keep the behavior to have connections secure by default or revert t

[2020-06-04 23:54] #1075 closed

[2020-06-04 23:57] bogdandrutu commented on #1048
Can you provide details how others do this? Also what are the configs you want to offer?

[2020-06-05 01:42] james-bebbington commented on #871
@bogdandrutu mentioned one potential concern with doing this in a Processor is that if you have a receiver configured to go to two pipelines, and use a processor to append resource info (i.e. modify the data), the metrics would need to be copied into each pipeline.

But otherwise a processor in Contrib sounds reasonable to me

[2020-06-05 05:35] james-bebbington commented on #1081
I don't know if there's an explicit standard that defines regex's to be enclosed in slashes, but its a very common convention (as Jay mentioned, this is the case for JavaScript, Perl, sed, etc) - see: https://en.wikipedia.org/wiki/Regular_expression#Delimiters

Glob is different from regex: https://en.wikipedia.org/wiki/Glob_(programming)#Compared_to_regular_expressions

---

I quite like Jay's pr

[2020-06-05 12:27] pavolloffay commented on #1023
@tigrannajaryan are there any plans to support default configuration  (memory ballast, memlimiter, batcher, queued_retry, healthcheck) in the standard distribution?

[2020-06-05 13:23] pavolloffay commented on #990
cc) @flands @tigrannajaryan any thoughts?

[2020-06-05 14:51] jrcamp commented on #1081
👍

Either regex or we allow * to be escaped (this means the escape has to be escaped as well). e.g.:

`Foo\*` for matching text `Foo*`
`Foo\\` for matching text `Foo\`

Ben made a good point, there's really no need for negation when you have the include/exclude concept. However, negation is an alternative to having include/exclude if we wanted. See [our docs](https://docs.signalfx.com/en/latest/in

[2020-06-05 15:00] jrcamp commented on #1081
Actually, using `\` for escaping may not be very nice due to yaml trying to interpret the backslash as a regular string escape.

[2020-06-05 15:19] kbrockhoff commented on #1024
I have this working in my generalize-testbed branch. It just needs some polish. Please assign this ticket to me.

[2020-06-05 15:23] kbrockhoff commented on #652
I plan to write these tests to verify the API in the generalize-testbed branch. If @pmcollins has not started, you can assign the ticket to me. Or else I am happy to advise on how to write the tests using the generalized testbed.

[2020-06-05 15:53] bogdandrutu commented on #1081
What I am hearing is that there are corner cases when it comes to unify the filter values in order to determine a strict match vs regexp match, so probably having them separated is not that bad (also for regexp we do have the caching option) should we keep them separated? Also when it comes to the standard that we use for regexp probably following the golang is the easiest for us.

[2020-06-05 16:07] jrcamp commented on #1081
There are corner cases but do we choose to optimize for them or for the 99% case? I believe we should optimize for the 99% cases.

[2020-06-05 16:55] jrcamp opened #1093 "Support exposing internal metrics over OTLP rather than a Prometheus endpoint"
**Is your feature request related to a problem? Please describe.**
Internal OT metrics are currently exposed through Prometheus endpoint which must then be scraped. This is more inefficient than if the metrics were sent directly through the pipeline. In addition, context is lost since OT has additional concepts like resource labels vs metric labels. The metric names are also transformed by being s

[2020-06-05 16:56] jrcamp commented on #1093
@bogdandrutu @tigrannajaryan Would like to put this in a GA milestone since changing this in the future will break metric names being exported.

[2020-06-05 18:22] bogdandrutu commented on #1081
I am 100% for user first, but having `cpu*` being able to be interpreted as regexp or as static comparison is not user friendly, and us inventing a new standard for this is also not "user friendly".

So because of that explicitly ask the user what to use is in my opinion more user friendly than having undefined behaviors or having our custom standard.

[2020-06-05 18:26] tigrannajaryan commented on #871
That's a correct observation and applies to [any processor that modifies data](https://github.com/open-telemetry/opentelemetry-collector/tree/master/processor#data-ownership). I think that's acceptable. Please feel free if you want to double check to see what the performance implications of that are. If it has a big impact I am open to reconsider this.

[2020-06-05 18:44] bogdandrutu commented on #1093
@jrcamp I think we should send metrics directly to the backend not through the pipeline, because if there is a problem in the pipeline these metrics do not get to the backend.

[2020-06-05 18:52] bogdandrutu commented on #1093
I think the current approach is a "big" hack added long time ago. OpenCensus (which is currently used) can export directly to different backends and don't need this hack to export prometheus then scrape.

[2020-06-05 20:10] jrcamp commented on #1081
Talked to Bogdan offline and the concern is having corner cases with values like `*` and `?` may not be an issue for metric names but could be more of an issue when filtering other kinds of values since the filtering mechanism is generic and not just for metrics. I'm unable to think of an easy way to do escaping in those cases either given the constraints of YAML. (Please let me know if there are

[2020-06-05 20:41] jrcamp commented on #1093
@ccaraman I think this falls under self-observability, do you want to take it?

[2020-06-05 23:29] anniefu commented on #1081
The UX of setting the match type explicitly here is nice. I agree with @bogdandrutu that a new standard, even if it is more intuitive, may not necessarily be more friendly to users.

I do want to raise the concern here that allowing multiple filter types in the same filter will increase processing on the backend. We'd have to run all the incoming metrics/traces through each specified filter type.

[2020-06-06 10:23] jhengy commented on #1077
Thanks for pointing out the source of the problem. Unfortunately I cannot do `export DOLLAR_ONE="\$1"` statically as the value of `$1` would be assigned dynamically from performing regex match during prometheus's runtime.

[2020-06-06 18:29] bogdandrutu commented on #1093
To summarize, we have two problems here:
1. We expose internal metrics to a prometheus endpoint that we self-scrape and add data to the pipeline.
2. The data are sent to the backend using the internal pipeline, which smells bad because we send monitoring data about the pipeline using the same pipeline, so in case of a problem with a pipeline we cannot see monitoring data.

I think this issue tries

[2020-06-08 17:01] liamawhite commented on #1076
I have a branch with a repro in. https://github.com/liamawhite/opentelemetry-collector/tree/otel-debug/examples/demo

It seems this must happen somewhere after the receiver as @jhengy was seeing this issue using the Prometheus receiver and the demo uses the OC receiver.

This seems like a pretty critical bug?

[2020-06-08 19:23] pmcollins commented on #652
Either way works for me, @kbrockhoff . I was part way through a proof of concept for how to test for correctness: two pipelines, a pipeline under test and a test harness pipeline. The test harness pipeline has a processor that sends metrics to an exporter that is configured to talk to the pipeline under test, from which it is configured to also receive metrics. The same processor in the test harne

[2020-06-08 21:58] liamawhite commented on #1076
Speculative fix https://github.com/orijtech/prometheus-go-metrics-exporter/pull/10

[2020-06-09 00:19] nilebox commented on #1093
Note that the backend here may also differ from the "normal" one, e.g. could be using completely different exporter, or same exporter with a different config.

Also, the current Prometheus endpoint actually allows running a separate Collector instance for scraping and forwarding "self-observability" metrics, i.e. making isolation possible. The problem of course is that now you also need to monitor

[2020-06-09 00:59] nilebox commented on #1077
The hack with `DOLLAR_ONE` only prevents Collector from trying to resolve `$1`, it won't affect Prometheus part.

i.e.
1. Define `DOLLAR_ONE` as described above
2. Collector will resolve `'metrics_load_generator_${DOLLAR_ONE}'` into `'metrics_load_generator_$1'` and will pass this string config to Prometheus
3. Prometheus will resolve `'metrics_load_generator_$1'` using its internal mechanism, as

[2020-06-09 05:51] jhengy commented on #1077
Sorry, I misunderstood what you meant. I just verified and it worked. Below is the exported prometheus metrics from otel-collector:
[code]

[2020-06-09 06:42] nilebox commented on #1077
@jhengy glad it worked. This is obviously a quite ugly hack, but I'm not sure if there is a better workaround / fix.

Note that in some cases we do want the Collector to resolve environment variables - we have such use cases at Google, where we want to inject Kubernetes node name into Prometheus config, for example (Prometheus doesn't support env var substitution, see https://github.com/prometheus

[2020-06-09 10:46] jhengy commented on #1076
It seems like a possible workaround for this situation is to add distinct dummy labels to metrics emitted by different targets to order to differentiate between them. After I made [this commit](https://github.com/jhengy/opentelemetry-collector/commit/b22677942fbf05aeb3b6c34d4ad6230e5f53abb6), we see that otel-collector can export identical metrics from both generators.

`curl localhost:8889/metric

[2020-06-09 14:48] tigrannajaryan commented on #652
I think since @kbrockhoff started the trace PICT generator it is best that he continues working on it and @pmcollins you can work on the similar capability and tests for metrics part. Pablo, you are right that it may be best to wait a bit until Kevin is done with testbed refactoring. Kevin, do you need more changes to the testbed after this PR is merged?

[2020-06-09 17:44] kbrockhoff commented on #652
I was planning to do all the refactoring in one PR. Still have a few improvements to make yet before it is ready for merging.

[2020-06-09 18:09] jrcamp commented on #1093
Is there any benefit in sending these metrics as Prometheus to a separate collector? Why not use the native OTLP format?

[2020-06-09 18:13] jrcamp commented on #1093
@bogdandrutu though can we address the second point by just using a dedicated pipeline? If the main pipeline is having issues (getting backed up, dropping data, etc.) it shouldn't affect the other pipeline (assuming the user hasn't configured it to).

[2020-06-09 19:05] jrcamp commented on #1081
I'm not I understand the performance concern. At startup time we "parse" the config and collect a set of rules that are to be evaluated whether they be strict, glob, or regex. I'm not sure what the extra overhead is when processing metrics?

[2020-06-09 22:34] JingboWangGoogle commented on #576
Hi, I am new to OpenTelemetry, and want to try a good first issue. For this one, how do you reproduce the problems here. When I run these tests, they seem to be running ok.

[2020-06-09 22:44] james-bebbington commented on #1081
The new proposal looks good to me.

A couple of minor thoughts:

1. The `regex_config` could probably be inlined (squashed)

2. Does it make sense to have the include filter or field name at the top level?

i.e. consider
[code]
vs
[code]

[2020-06-09 23:12] nilebox commented on #1093
One minor potential benefit is that since Prometheus uses a "pull" model, the main collector won't have a dependency on a "separate" collector monitoring it. With a "push" model in OTLP, the main collector has to be configured to forward its self-observability metrics somewhere.

But that's probably not critical.

[2020-06-10 00:55] JingboWangGoogle commented on #557
Just for some clarifications, it is straightforward to see that the capability of using env vars in config files is implemented in the file linked above, and the tests demonstrate the actual usage examples, but it seems unclear to me where exactly I should be adding this section of documentation.

[2020-06-10 03:07] nilebox commented on #557
Would also be nice to document recommended workarounds for escaping env var substitution, if possible.
See #1077

[2020-06-10 11:15] tensorchen opened #1101 "pdata.TracesFromOtlp can't be used externally"
[code]

I want to use `TracesFromOtlp` to build `pdata.Traces`, buf found that `otlptrace.ResourceSpans` cannot be used externally

[2020-06-10 19:44] Nicolas-MacBeth opened #1103 "Prometheus receiver not handling third-party Prometheus exporters sending untyped metrics"
**Describe the bug**
I am trying to send metrics from databases to the Collector using Prometheus' exporters for third-party services, and the Collector seems to not be able to handle it. My research has led to understand the problem lies in the Prometheus receiver, more specifically its handling of Prometheus `untyped` TYPE.

The biggest problem here is that because of that **one** "faulty" metri

[2020-06-11 00:28] dmitryax commented on #878
Hi @sleighzy . Could try the latest otel-collector build? The issue must be fixed with https://github.com/open-telemetry/opentelemetry-collector/pull/1100

[2020-06-11 04:11] nilebox opened #1107 "Logging Exporter doesn't log metrics details at 'debug' level"
**Describe the bug**
The `loglevel: debug` config parameter currently doesn't have any effect on metric logging.

**Steps to reproduce**
Configure collector with any metric receiver (e.g. self-observability Prometheus endpoint) and a logging exporter, e.g.:
[code]

**What did you expect to see?**
Detailed log messages with metric descriptor

**What did you see instead?**
Only information at the "i

[2020-06-11 10:01] sleighzy commented on #878
Retested just now with both the OTLP exporter and Jaeger exporter. Works a charm. Jaeger receiving span.kind tag value in lowercase and with no duplicates from the OTel collector as expected. Thanks, much appreciated.

[2020-06-11 10:01] #878 closed

[2020-06-11 14:50] #1107 closed

[2020-06-11 14:57] bogdandrutu commented on #1101
How do you receive otlp data? Why don't you just use otlp exporter?

Not saying that your bug report is not valid but trying to understand the use-case

[2020-06-11 16:45] ibawt commented on #1101
fwiw you can import the proto directly instead of using the internal embedded package.

[2020-06-11 17:39] tigrannajaryan commented on #802
Closing based on comment from @james-bebbington
Feel free to reopen if there is evidence that the leak exists.

[2020-06-11 17:39] #802 closed

[2020-06-11 17:44] #954 closed

[2020-06-11 19:41] tigrannajaryan commented on #1078
@pavolloffay Can you clarify: percentage of what? Where do we get the total to calculate the fraction?

[2020-06-11 19:44] tigrannajaryan commented on #1077
@nilebox the google group link does not open for me. Can you fix please?

We may be open to make this breaking change now. Thanks for posting the workaround but I think we need a nicer solution long term.

[2020-06-11 19:53] Nicolas-MacBeth commented on #1103
Joshua MacDonald in the Gitter seems to support defaulting to `gauge` when there is ambiguity - see https://gitter.im/open-telemetry/community.

I believe the conversion is done at this function: `convToOCAMetricType` [link](https://github.com/open-telemetry/opentelemetry-collector/blob/master/receiver/prometheusreceiver/internal/metricsbuilder.go#L212).

[2020-06-11 20:32] draffensperger commented on #1103
@Nicolas-MacBeth do you think this would be a good first issue for you to tackle to do that conversion? @tigrannajaryan would you be open to that (I saw you assigned it to @asuresh4 )?

[2020-06-11 22:22] davidwitten opened #1110 "Javascript: Collector Error: 14 UNAVAILABLE: DNS resolution failed"
If this issue would be more relevant in the opentelemetry-js repo, I would be happy to move it, but I don't think it's related to a Javascript-specific code issue.

**Describe the bug**
When the [Node collector exporter](https://github.com/tinylox/opentelemetry-js/tree/master/packages/opentelemetry-exporter-collector/src/platform/node) attempts to export my traces from Node to the collector, I get

[2020-06-11 23:04] nilebox commented on #1077
@tigrannajaryan there's not much details in there, just a code example.
Actually this workaround might be backward compatible (need to test if there are some corner cases though): https://play.golang.org/p/iobIbZ3R5d_B

[code]

Output:
[code]

[2020-06-12 01:04] nilebox opened #1112 "Support for escaping env var substitution"
**Is your feature request related to a problem? Please describe.**
Sometimes we need to pass the `$` symbol in the config to the underlying component without env var substitution. As an example, see issue with Prometheus receiver #1077.

Currently the only workaround is to define an environment variable containing `$` symbol, which is pretty hacky.

**Describe the solution you'd like**
Support a m

[2020-06-12 04:52] nilebox commented on #1077
See #1113 fixing this issue with backward compatibility.

[2020-06-12 07:36] #1028 closed

[2020-06-12 14:31] jan25 commented on #1061
Are you seeing raw trace data logged? or just one line per trace printing number of spans inside the trace?

[2020-06-12 16:00] davidwitten commented on #1110
I was able to get it to work, and it only required a minor change:
Within CollectorExporterBase, it sets the default URL as `http://localhost:55678/v1/trace`, so I set my URL as <IP ADDRESS>:55678/v1/trace as well. Once I took out the `v1/trace`, it worked.

Hopefully this can help someone in the future!

[2020-06-12 16:00] #1110 closed

[2020-06-12 18:43] #1025 closed

[2020-06-12 19:22] jmacd commented on #1005
@raykll or @mtwo I would appreciate some insight into why you think that the plugin system should not be used?

I used the plugin mechanism to prototype dynamic loading of the SDK in OTel-Go and it works quite well. The only issue I am aware of is that it is not supported on Windows, and each year the Go developer survey comes out and I ask them for Windows support because I think it would be nice

[2020-06-12 19:26] mtwo commented on #1005
@rakyll can speak to it on better authority than myself, but her biggest concern is that nobody within the Go community is actively working on the plugin system

________________________________
From: Joshua MacDonald <notifications@github.com>
Sent: Friday, June 12, 2020 12:23:09 PM
To: open-telemetry/opentelemetry-collector <opentelemetry-collector@noreply.github.com>
Cc: Morgan McLean <morgan_m

[2020-06-12 19:30] JingboWangGoogle opened #1118 "Metrics Transform Processor Proposal"
## Metrics Transform Processor

### Objectives
The objective of this metrics transform processor is to give OpenTelemetry Collector users the flexibility to rename and aggregate metrics in desired ways so that the metrics are more relevant and cheaper to the users.

### Background
There are cases where metrics are overly detailed for a user’s needs, which also impose unnecessary costs. In these ca

[2020-06-12 20:24] ccaraman commented on #979
To address this comment https://github.com/open-telemetry/opentelemetry-collector/pull/981/files#r426882973  in #981

I propose changing the configuration to look like
[code]

Resulting in sample configs:
[code]

cc @bogdandrutu and @tigrannajaryan for thoughts.

[2020-06-12 21:23] jrcamp commented on #1118
I wonder if this should be broken up into two different processors? One that's analogous to attributesprocessor but for metrics. I think this should live in core:

And a separate one for aggregation that lives in contrib for now as it may take some trial and error to get the right config and functionality:

Note that there are discussions about changes to attributesprocessor that we would probably

[2020-06-12 21:37] jrcamp commented on #979
We've discussed doing something like this in the [filtering proposal](https://github.com/open-telemetry/opentelemetry-collector/issues/1081#issuecomment-639772905) where the action (match type) is a key.

Also is doing key/necessary or can it use a regular yaml map? I don't think you'd ever be inserting into the same key would you?

For instance, an alternative to the above config:

[code]

[2020-06-12 21:47] jrcamp commented on #979
Also we're adding support for [nested arrays and maps in attributes](https://github.com/open-telemetry/opentelemetry-proto/pull/157) to the protocol. If we're going to redesign the config do we need to go ahead and take that into account? It's starting to hurt my brain given configs can be arbitrarily nested..

[2020-06-12 22:21] jrcamp commented on #979
I feel like once we start going down the nested array/map hole things could get complicated trying to express it in yaml. Maybe we just need a small DSL. (Actually, maybe just borrow Python syntax entirely, but it wouldn't be implemented in Python):

[code]

Obviously the operations it can do would be fairly limited but I think it's going to be way easier to understand than more yaml.

[2020-06-13 01:21] anniefu commented on #1081
Sorry, I should have clarified, I was mostly thinking about the case with caching matches enabled.

For example, to support a mixed regexp & strict & glob filterprocessor, I could see some processing logic like:
[code]

The regexp filterset has an option to use a cache to prevent re-running through all the regexp filters right now, but then you have the additional overhead of running through stric

[2020-06-13 07:24] tensorchen commented on #1101
@bogdandrutu I am implementing kafka collector exporter.

[code]

I will write unit tests for this function, therefore I want to use `TracesFromOtlp` to build `pdata.Traces`

[2020-06-14 15:20] bogdandrutu commented on #1118
aggregation_type: sum, average, max

Keep in mind that this is not easy. There are corner cases where for receive in two different batches metrics that after label removing will generate the same timeseries which mean backends will be confused.

First batch:
usage=foo;core=1

Second batch:
usage=foo;core=2

Without keeping a state between different batches will produce wrong aggregations, so this

[2020-06-15 02:38] james-bebbington opened #1119 "Add ability to run Collector as Windows Service"
When running the Collector on Windows, users will generally want to run this as a Windows service. It's not possible to just run a .exe directly as a Windows service, so some minor modifications need to be made to the startup/service code.

**Suggested implementation:**

Add a separate main method on Windows (using build flags):
- Check if the executable is running [interactively](https://github.c

[2020-06-15 02:39] james-bebbington commented on #1119
(can assign this to me)

[2020-06-15 13:50] asuresh4 commented on #1103
@Nicolas-MacBeth - I'd happy to help with the review if you would like to work on this.

[2020-06-15 14:33] Nicolas-MacBeth commented on #1103
@asuresh4 I appreciate that, so to confirm; should I take the approach where all cases of ambiguity are handled as gauges (a default for *all* metric types whose type is unknown), or only for the `untyped` ones?

[2020-06-15 15:59] asuresh4 commented on #1103
Looking at the [commit](https://github.com/prometheus/prometheus/commit/c271ef456a0b696a389f7e607472c8c3573eafd1#diff-d49c391c6b8e24047e8cec79d96f5f96L281) that introduced the new metric types, seems to me like metrics of `untyped` type map to `unknown` type. If that's indeed true, I believe we could convert metrics with `unknown` type to `gauge`. However, I'm not sure if the same holds for other

[2020-06-15 16:18] kbrockhoff opened #1121 "OOM on unrecoverable errors even with memory_limiter configured"
**Describe the bug**
Kubernetes container running otelcol ends up in CrashLoopBackoff on repeated unrecoverable errors from an exporter. This is with the memory_limiter in place and working without error when data is flowing normally.

**Steps to reproduce**
Push enough data to AWS X-Ray that is starts returning ThrottlingExceptions.

**What did you expect to see?**
Span data is dropped and otelco

[2020-06-15 16:40] kbrockhoff opened #1122 "Default batch size potentially too large for OTLP exporter"
**Describe the bug**
Correctness tests using golden dataset result in error when using the default batch process settings.

**Steps to reproduce**
Remove this line from correctness_test.go
    send_batch_size: 1024

**What did you expect to see?**
Tests to pass.

**What did you see instead?**
grpc: received message larger than max (4987657 vs. 4194304)

**What version did you use?**
Version: 6dcfa

[2020-06-15 16:50] kbrockhoff opened #1123 "OTLP exporter status codes to retry on are incorrect"
**Describe the bug**
OTLP exporter retries sending of data when receiving back a ResourceExhausted status code even though the call will never succeed.

**Steps to reproduce**
Remove this line from correctness_test.go and then run tests.
    send_batch_size: 1024

**What did you expect to see?**
Log message reporting the problem and dropping of the message.

**What did you see instead?**
Nothing.

[2020-06-15 18:45] JingboWangGoogle commented on #1118
@jrcamp I really appreciate your feedback on this. Initially, I thought that it might make sense to put aggregation and rename together because after aggregation, the semantics of that metric will very likely change, thus a more accurate name should be reassigned. But separating these makes it a cleaner design because these two are essentially doing different things. Therefore, I have made adjustm

[2020-06-15 19:13] quentinmit commented on #1118
@jrcamp @JingboWangGoogle
I think I was one of the people who suggested that rename and aggregate should be part of the same operation. More specifically I suggested that because it allows you to use the same source metric to produce two different destination metrics with different aggregation. I'm not sure how you do that if they're separate steps.

[2020-06-15 20:16] JingboWangGoogle commented on #1118
@bogdandrutu Thank you for pointing this out! For now, I am aiming to have the aggregation processor to only handle single-batch processing (e.g. the collector collects the host metrics, which is the only source of metrics into the collector). The corner case here can be solved by "aggregation over time" under the possible extensions section.

[2020-06-15 20:47] jrcamp commented on #1118
@JingboWangGoogle

btw, have you taken a look at the spec relating to aggregations in the SDK:

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#aggregations
https://github.com/open-telemetry/oteps/pull/89

I'm not deeply familiar with them and don't see anything conflicting between them but wanted to make sure you saw them.

@quentinmit With a

[2020-06-15 21:21] quentinmit commented on #1118
I don't think the user would need to think about aggregation if they only want to rename, or renaming if they only want to aggregate. The default config for each operation should already be a noop. Maybe it's better to illustrate with some strawman configs:

[code]

Remember that when filtering labels, you always need to simultaneously perform aggregation (since there can be two or more time serie

[2020-06-15 23:16] jrcamp commented on #1118
It also needs to be able to rename labels (perhaps scoped to a particular metric). How would that fit into the config?

[2020-06-16 04:33] nilebox opened #1124 "Update Prometheus to v2.19.0"
**Is your feature request related to a problem? Please describe.**
OpenTelemetry Collector currently depends on Prometheus v2.13.0 (September 2019), which is missing some of the features and bugfixes from the latest v2.19.0 release.

**Describe the solution you'd like**
- Update `go.mod` dependency to v2.19.0 (it's written as`v1.8.2-0.20200609102542-5d7e3e970602` by `go mod`)
- Fix breaking change

[2020-06-16 04:33] nilebox commented on #1124
Please assign this issue to me.

[2020-06-16 05:29] james-bebbington opened #1125 "Add build commands for Windows MSI installer"
**Add a command to build a Windows MSI installer**

I'm intending to use [wix](https://wixtoolset.org) to generate the MSI, and [wixl / wixl-heat](https://wiki.gnome.org/msitools) to run this with make on Linux, if that is relatively straightforward to get working. Failing that, I'll add some powershell commands.

**Questions:**

It wouldn't make sense to bake any "default" config into the MSI. In

[2020-06-16 12:37] nilebox opened #1126 "Update Jaeger to v1.18.0"
**Is your feature request related to a problem? Please describe.**
Collector is currently using Jaeger v1.17.0: https://github.com/open-telemetry/opentelemetry-collector/blob/b28cbd9c8e2e70bf385c3e4788ada839aa457b7d/go.mod#L28, which has a dependency on https://github.com/uber/tchannel-go. The `tchannel-go` uses an old Thrift release (a fork of `v0.9.3` AFAICT), which is incompatible with the late

[2020-06-16 12:54] nilebox commented on #1126
Actually, Jaeger still has a dependency on `tchannel-go`, as well as old Thrift dependency: `v0.0.0-20151001171628-53dd39833a08` (https://github.com/jaegertracing/jaeger/blob/b46738c68a906f7330e5e1a5ba6937b58e52b9dc/go.mod#L10), so dependency update won't resolve the issue.

In https://github.com/open-telemetry/opentelemetry-collector/blob/b28cbd9c8e2e70bf385c3e4788ada839aa457b7d/receiver/jaegerre

[2020-06-16 14:43] #1077 closed

[2020-06-16 14:43] #1112 closed

[2020-06-16 15:22] jrcamp commented on #1125
👍

Maybe we could install https://github.com/open-telemetry/opentelemetry-collector/blob/master/examples/otel-local-config.yaml similar to how the [Docker image](https://opentelemetry.io/docs/collector/about/) does. If a user wants to use it they could set (just making up a path) `CONFIG=%programfiles%\OT\otel-local-config.yaml` or if they've written their own config they would put it on the files

[2020-06-16 17:47] quentinmit commented on #1118
@jrcamp I think renaming labels and especially renaming label values also is intertwined with aggregation (because renamed label values can collide with existing time series that have that value, or you might want to explicitly map two values to one).

There's a couple different ways you could do renaming labels; there's what was suggested above by @JingboWangGoogle:

[code]

and I could also imag

[2020-06-16 18:42] jrcamp commented on #1118
In my mind renaming _may_ happen as a side effect of aggregation. But you may also want to rename without aggregating. For example, the OT metric is named `gc.runtime` and you expected that metric to be named `java/gc/runtime` (just making up an example). Yes the user would have to make sure there are no collisions when renaming metrics.

I think the renaming part is pretty straight forward and sh

[2020-06-16 20:25] yurishkuro commented on #1126
Dependency on tchannel was not fully removed (it's still in go.mod), but a refactoring was done so that you might not pick up those packages anymore.

[2020-06-16 23:01] #1076 closed

[2020-06-17 00:23] james-bebbington commented on #1125
Hmm that's weird. The Docker image doesn't seem to include any config by default from what I saw? I think the documentation is incorrect and you would actually need to mount the local config file as part of the docker run command if you want that to work? But maybe we should update the build commands to copy in the default config as per what the documentation implies.

[2020-06-17 00:28] nilebox commented on #1126
Still fail to update Prometheus to v2.19.0, getting the error for Jaeger:
[code]
i.e. latest releases of Jaeger and Prometheus are still incompatible.

[2020-06-17 00:31] nilebox commented on #1124
Updating Jaeger to v1.18.0: #1132
Still blocked on https://github.com/jaegertracing/jaeger/issues/1972.
Getting the following error:
[code]

This is due to Jaeger using an outdated Thrift dependency.

[2020-06-17 05:34] nilebox commented on #1084
Currently Memory Limiter drops the data and returns an error back to receiver: https://github.com/open-telemetry/opentelemetry-collector/blob/f134f50df819ea09b0274e5242352d46ccba8afa/processor/memorylimiter/memorylimiter.go#L166, so the action is actually specific to the receiver implementation - it may ignore the error, log it, retry etc.

We should probably at least define a public type / const

[2020-06-17 08:00] owais commented on #1125
We don't publish docker images with any default config. We expect the user to mount a config file at `/etc/otel/config.yaml`.

[2020-06-17 08:03] owais commented on #1125
Yes! This would be great to have in CI. I think we already have a window verification build. We can add a this step after that (and other build/test steps) in the publish pipeline. The publish step should also upload the MSI files to Github releases. Currently we only upload linux binaries and source tarballs.

[2020-06-17 15:19] #1126 closed

[2020-06-17 15:36] tigrannajaryan commented on #1053
Done via https://github.com/open-telemetry/opentelemetry-collector/pull/1104

[2020-06-17 15:36] #1053 closed

[2020-06-17 21:20] tigrannajaryan commented on #1103
This is outside of my area of expertise.
@bogdandrutu perhaps you can help.

[2020-06-18 12:47] kbrockhoff opened #1136 "Span Kind data loss in OpenCensus protocol"
**Describe the bug**
OpenCensus protocol only defines Unknown, Client and Server span kinds. When translating between OTLP protocol and OpenCensus protocol this results in data loss because other Kind values get translated to Unknown.

**Steps to reproduce**
Run the tracing correctness tests and view the results summary.

**What did you expect to see?**
Zero failure count.

**What did you see inst

[2020-06-18 12:55] kbrockhoff opened #1137 "Span translation to Jaeger data loss"
**Describe the bug**
Translation of OTLP protocol data by Jaeger exporter results in some data loss and incorrect translations.

**Steps to reproduce**
Execute golden dataset correctness tests and view test results summary.

**What did you expect to see?**
Zero failure count.

**What did you see instead?**
Failure count of 3247 and failures: TraceState,"lasterror=f39cd56cc44274fd5abd07ef1164246d10

[2020-06-18 12:58] kbrockhoff opened #1138 "Span translation to Zipkin data loss"
**Describe the bug**
Translation of OTLP protocol data by Zipkin exporter results in some data loss and incorrect translations.

**Steps to reproduce**
Execute golden dataset correctness tests and view test results summary.

**What did you expect to see?**
Zero failure count.

**What did you see instead?**
Failure count of 9283 and failures: Attributes,0!=2,count=3586; Links,2!=0,count=2441; Statu

[2020-06-18 13:03] kbrockhoff commented on #975
This fix needs to be coordinated with any fixes for #1138

[2020-06-18 13:05] kbrockhoff commented on #815
Fix of this ticket needs to be coordinated with fixes made for #1137

[2020-06-18 13:06] kbrockhoff commented on #754
Fix of #1136 will fix this.

[2020-06-18 13:08] kbrockhoff commented on #652
Testbed changes have been merged to master. Correctness tests for traces have been completed as part of the PR. Work on metrics correctness tests can now proceed.

[2020-06-18 13:10] kbrockhoff commented on #482
Correctness tests for Zipkin receiver and exporter are included in PR #1062

[2020-06-18 13:17] kbrockhoff commented on #1024
This is fixed by PR #1062

[2020-06-18 15:20] pavolloffay opened #1139 "Add size in bytes to batch processor"
**Is your feature request related to a problem? Please describe.**

The Bulk processor controls the batch size via `send_batch_size` which is the number of spans or metrics. However the spans can vary in size and therefore it would be useful to instruct the batch processor to send the batch once a size in bytes is reached.

**Describe the solution you'd like**

Add `send_batch_size_bytes` to the B

[2020-06-18 15:25] pavolloffay opened #1140 "Batch processor returns a bigger batch than configured"
**Describe the bug**

The Batch processor can send a bigger batch than it is configured. For example `send_batch_size` is sed to `500` but the returned batches are `~800`.

**Steps to reproduce**
Configure `send_batch_size` = N and send either bigger batches to the receiver or smaller but in very high frequency.

**What did you expect to see?**

The returned batch size always be <= configured size

[2020-06-18 17:05] jmacd commented on #1139
This is a tricky problem. I've seen one library attempt to solve it in Go: https://godoc.org/google.golang.org/api/support/bundler

It's an irritating problem because the natural solution is to repeatedly invoke `proto.Size()` on the batch object as it is assembled, but this leads to an O(N^2) algorithm. To work around this requires being conservative about the cost of joining two protocol message

[2020-06-18 17:20] #1024 closed

[2020-06-18 17:20] #482 closed

[2020-06-18 17:26] tigrannajaryan commented on #1136
Supposedly this should be handled by https://github.com/open-telemetry/opentelemetry-collector/blob/e3df9f36f13f08aee0edcbffe89ee4e27cfb3a6a/translator/internaldata/traces_to_oc.go#L174 and https://github.com/open-telemetry/opentelemetry-collector/blob/e3df9f36f13f08aee0edcbffe89ee4e27cfb3a6a/translator/internaldata/oc_to_traces.go#L239
But apparently it is not.

[2020-06-18 17:55] tigrannajaryan commented on #1084
@flands here is the issue I mentioned.

[2020-06-18 20:32] flands commented on #1084
Definitely need 3. I also still confused why it is a processor :) you can only define once per instance right? it applies to all pipelines (or the least defined one wins for all pipelines. Then we also have: https://github.com/open-telemetry/opentelemetry-collector/issues/1078

[2020-06-18 20:40] flands commented on #1034
0.4.0 released!

[2020-06-18 20:40] #1034 closed

[2020-06-18 20:49] tigrannajaryan commented on #1084
It has to be a processor. Today it is the only way you can affect the pipeline (drop the data or return errors to receivers).
We can turn into a special concept that does not fit our receiver/exporter/processor/extension component model but I am not sure it is necessary.

[2020-06-18 21:21] owais commented on #1019
This is not true. @bohrasd can you please point us to the docs that say this so we can fix the docs?

[2020-06-18 21:22] flands commented on #1019
@owais I believe it is -- see the PR

[2020-06-18 21:22] owais commented on #1019
Yes, I misread it as ballast size and memory limiter size being the same.

[2020-06-18 21:25] owais commented on #1019
@flands I think we should remove everything related to ballast from the default configuration and mention it in the docs as an "advanced technique" for very high throughput scenarios. Majority of the deployment do not need it IMO and would benefit from a simpler setup.

[2020-06-18 21:28] owais commented on #1084
@flands  It might not conceptually be a "processor" as it does not process data but it is part of the data pipeline. Data has to flow through it in order for it to be able to drop it. This is a very simple design that fits quite well with the rest of the system. Data goes into the memory limiter "processor" and depending on memory pressure, it'll either come out on the other side or never be seen

[2020-06-18 22:38] bcorrigeux opened #1149 "Metrics tagging with the same name but different values bug"
**Describe the bug**
 I have tested creating metrics with both python and golang using the opencensus receiver in python and the prometheus receiver in golang, exporting to prometheus in both cases. When i send in metrics with the same name but different tags and values i expect to see them show up separately in prometheus (as they do when exporting directly to prometheus) but when the metrics go

[2020-06-18 23:38] markcartertm opened #1150 "Add Prometheus remote write exporter to collector default package"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
We need to add a Prometheus exporter that can push prometheus data from the collector to a Prometheus remote write API endpoint.
A goal of the OpenTelemetry collector is to provide built in support for ingestion and export of Prometheus met

[2020-06-18 23:40] markcartertm commented on #1150
@alolita can we get an intern to drive a POC for this together with a mentor?

[2020-06-18 23:46] alolita commented on #1150
@markcartertm we've already assigned an intern to work on this. Thanks for filing an issue!

[2020-06-19 14:05] nilebox commented on #1082
As described in https://github.com/open-telemetry/opentelemetry-collector/pull/1148#pullrequestreview-433774846, we need access to new metrics before deleting legacy metrics, to be able to reference them in our custom extensions.

[2020-06-20 09:00] nilebox commented on #1082
Alternatively, we may make the telemetry more customizable instead of just exposing its internal parts, e.g. add support for passing custom exporters and more granular configuration for a set of metrics that need to be set up.

[2020-06-22 07:43] gunsluo opened #1154 "use otlp push metric message to collector, message is that grpc: error unmarshalling request: proto: wrong wireType = 2 for field Temporality"
**Describe the bug**
I use the following example to send metric messages to opentelemetry collector server.
https://github.com/open-telemetry/opentelemetry-go/blob/master/example/otlp/main.go

and then get some error message

[code]

**Steps to reproduce**
https://github.com/open-telemetry/opentelemetry-go/tree/master/example/otlp#otlp-example

Follow the above document to configure and run the pr

[2020-06-22 15:11] #754 closed

[2020-06-22 15:11] #1136 closed

[2020-06-22 15:25] jchengsfx opened #1155 "Dead links found in docs"
**Describe the bug**
Dead links found in the following docs:
- docs/migrating-from-opencensus.md
- processor/filterprocessor/README.md
- processor/samplingprocessor/tailsamplingprocessor/README.md
- receiver/README.md
- receiver/prometheusreceiver/README.md
- receiver/zipkinreceiver/README.md

**Steps to reproduce**

1. Install `markdown-link-check` (https://github.com/tcort/markdown-link-check)
2

[2020-06-22 17:52] nicks opened #1160 "jaeger exporter missing critical data"
**Describe the bug**
I'm playing around with setting up opentelemetry with Jaeger for the first time, and Jaeger is spewing errors. They look like this:

**Steps to reproduce**

I'm using:
- opentelemetry-go with the otlp exporter
- an opentelemetry-collector server that receives otlp and exports to jaeger
- a jaeger server

I have a pretty good isolated repro that I can create a repo for, if that

[2020-06-22 17:55] secat commented on #407
@annanay25 I have read your post on [How Grafana Labs enables horizontally scalable tail sampling in the OpenTelemetry Collector](https://grafana.com/blog/2020/06/18/how-grafana-labs-enables-horizontally-scalable-tail-sampling-in-the-opentelemetry-collector/).

Are you planning to contribute your new processor called the [_aggregate processor_](https://github.com/grafana/opentelemetry-collector/tr

[2020-06-22 18:11] tigrannajaryan commented on #1160
There is no `span_processor.go` on this repo, it appears to be in Jaeger Collector's code. Are you using Jaeger Collector? If so then the investigation is best started there since errors are emitted by the code that is not in this repo.

If the investigation leads to the code in this repo we can look into it.

[2020-06-22 18:56] nicks commented on #1160
@tigrannajaryan good question! We're using the jaeger exporter. The error message (span_processer.go) is coming from Jaeger's code.

When I talked to the Jaeger people about it, they said that the problem is that opentracing-collector is not sending the right data, see discussion here: https://github.com/jaegertracing/jaeger/issues/2300

[2020-06-22 18:58] nicks commented on #1160
(To be clear, I do not have enough expertise to know if this is a jaeger bug or an opentelemetry bug, I'm just trying to make sure that both sides have enough information to figure out the problem!)

[2020-06-22 21:06] #1022 closed

[2020-06-22 21:17] FPAX commented on #560
I would like that rules (also in other processors) had an enable attribute (true by default) so configuration can be easily modified by turning on/off different rules and not deleting/inserting them. This would allow for quick and flexible reconfiguration when needed, without losing the declarations of rules that are not temporarily being removed. The true by default value would make it backwards

[2020-06-22 21:41] FPAX opened #1162 "Enhance tail-sampling to have other processors' features to make it much more powerful"
When trying to optimize volume and traffic for logged spans, it's useful to be able to log only a portion of the spans that comply with some particular rule. Also, for tail-sampling, it's useful to be able to add exclusion rules besides inclusion ones. Also, tail-sampling does not recognize items like serviceName, operationName and others.

If Tail-sampling processor is enhanced to:
- allow to set

[2020-06-22 22:46] jmacd commented on #1150
Are you interested in support for receiving Prometheus push data, too?

[2020-06-23 00:56] #1019 closed

[2020-06-23 00:59] flands commented on #990
This was discussed during the last community meeting -- it is possible but is a significant change from today. A design would be needed for this.

[2020-06-23 02:31] gunsluo commented on #1154
move to https://github.com/open-telemetry/opentelemetry-go/issues/845

[2020-06-23 02:31] #1154 closed

[2020-06-23 06:40] pavolloffay commented on #1139
Perhaps the size could be cached to some degree. The algorithm could work on the span sizes. The spans would be added to batch and once the size is higher as the threshold the flush would be called. The same could apply to other data types.

[2020-06-23 06:54] alolita commented on #1150
Hi! @jmacd yes would definitely like to understand the requirements to build this out. Would you have some cycles to review our design and code?

[2020-06-23 15:36] pmm-sumo commented on #1162
I believe many of those requirements are captured by Composte Tail Sampling Policy proposal: https://docs.google.com/document/d/10wpIv3TtXgOik05smHm3nYeBX48Bj76TCMxPy8e1NZw/edit#

[2020-06-23 16:03] danielbang907 commented on #1150
Hi just to understand @alolita this is not the project that Yang and I are in charge of? I was under the impression that we will not make use of Prometheus remote write, but instead, create an exporter that ports directly to the backends of interest directly.

[2020-06-23 16:09] jmacd commented on #1150
I am happy to help, @alolita. I have read through the current otel-collector implementation of the Prometheus receiver and exporter, and I've also been working on specifying how Prometheus data transformation should work by default (https://github.com/open-telemetry/oteps/pull/118).

[2020-06-23 16:29] FPAX commented on #1162
I think the approach in the document does address some of  the items that motivated my suggestion.
However, there are some non-trivial differences:
- Rate allocation and rate limiting are not the same as probabilistic sampling. There's no way to express that some group of traces should be sampled; e.g., if only 30% of the total traces that match some rule are to be sampled, regardless at the rate

[2020-06-23 16:48] FPAX commented on #1162
I don't know if this would be a separate suggestion, but for the sake of keeping the whole discussion as a whole:
Periodic config reloading (via a timer or by watching filesystem changes in the config file) would allow for modifying policies without stopping and restarting the collector. I reckon that while some settings could be updated without a lot of hassle, some others (like pipeline definiti

[2020-06-23 17:30] #975 closed

[2020-06-23 20:13] tigrannajaryan commented on #886
I think by default we need to enable the following components:

[code]
Any of these components can be disabled by overriding the list of receivers, processors or extensions under the `service` setting.

[2020-06-23 21:02] tigrannajaryan commented on #886
Do we need to enable any other components by default? The config above is not sufficient to start the Collector. At the minimum you need one exporter. I don't know if we want to have a default exporter. Where would it point to?

[2020-06-23 21:05] bogdandrutu opened #1167 "Test project bot"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.

**What did you expect to see?**
A clear and concise description of what you expected to see.

**What did you see instead?**
A clear and concise description of what you saw instead.

**What version did you use?**
Version: (e.g., `v0.4.0`, `1eb551

[2020-06-23 21:06] #1167 closed

[2020-06-23 22:20] tigrannajaryan commented on #886
I think it should be safe to hard-code this default config in the Collector, and do the merging with user-defined config somewhere in https://github.com/open-telemetry/opentelemetry-collector/blob/e3df9f36f13f08aee0edcbffe89ee4e27cfb3a6a/service/service.go#L127

`viper.MergeInConfig()` appears to be an easy wat to implement the merging.

We will need to make sure user-defined config overrides the

[2020-06-23 22:36] ccaraman opened #1170 "Extending Attributes processor"
Currently the design for the attributes processor is limited. It supports some basic functions(insert/upsert/update/delete/hash/...) however the configuration is cumbersome and limits any richer functionalities being added. ex. Should there be mathematical operations? What about the new attribute types (nested arrays and maps)? Should action represent the value source and add a concept of operator

[2020-06-23 22:37] tigrannajaryan commented on #873
I think it will be useful to be able to provide specific config options via the command line.

For this to be unambiguous we will likely need to use the full path in the yaml. I.e. to specify the batch size for the batch processor we would use `--processors.batch.send_batch_size=123`. This would also limit the pollution of the command line flag namespace, basically limiting it to the currently def

[2020-06-23 22:55] nilebox commented on #886
You may enable `logging` exporter by default if you want to have a working pipeline out of the box, but it's only useful for quick start.

[2020-06-24 05:15] nilebox opened #1177 "JSON/HTTP support in OTLP receiver"
We need to decide if the currently supported JSON via gRPC Gateway should be made official, or whether we need to address the issue https://github.com/open-telemetry/opentelemetry-proto/issues/129 first.

**Additional context**
We still need to keep gRPC Gateway integration to support "Protobuf over HTTP" protocol introduced in #1021.
We just need to disable the default "wildcard" handler, which a

[2020-06-24 06:58] nilebox opened #1180 "Flaky load tests"
**Describe the bug**
Load tests running in CI build are flaky, and require repeating `git commit --amend` + `git push --force` a few times until they succeed (non-maintainers don't have permissions to re-run build in Circle CI).

Recent example: https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector/1337/workflows/fdade6e0-3cbe-40db-865a-01574e39b7c0/jobs/8675/steps
Simil

[2020-06-24 07:33] morigs opened #1181 "Metrics sending retries"
According to docs [queued retry processor](https://github.com/open-telemetry/opentelemetry-collector/tree/master/processor/queuedprocessor) available for traces only. It's unclear why retries are not available for metrics and how to make metrics delivery reliable.

For some metrics exporters retries shouldn't be used (e.g. Prometheus which doesn't accept pushes with timestamps). But other exporter

[2020-06-24 09:30] pavolloffay commented on #873
The `/` seems to work with cobra. With a simple test I got a response `Error: unknown flag: --foo.bar/my`. Though I am not sure if that works on Windows.

Do we intend to provide flags for all components, even for named instances e.g. `processors.batch/second_instance`? To make this work we would have to parse the config before running the cobra command and add flags dynamically. My understanding

[2020-06-24 09:39] pavolloffay commented on #886
Thanks for looking into this @tigrannajaryan.

In Jaeger OTEL collector we have implemented the merging in the `ConfigFactory` as you pointed out:
https://github.com/jaegertracing/jaeger/blob/fbbeaacdb47a6c81c3516dd21136a2794e6a2fc4/cmd/opentelemetry/cmd/agent/main.go#L63. However the merging is done via `mergo` library https://github.com/jaegertracing/jaeger/blob/fbbeaacdb47a6c81c3516dd21136a2794

[2020-06-24 17:09] jrcamp commented on #873
A common way this is handled (e.g. git, helm) is to just have a single `--set` flag. So you'd do `--set processors.batch.send_batch_size 123`. This also avoids any potential issues with `/` being in the flag name as well as polluting the flag set.

[2020-06-24 20:22] #1088 closed

[2020-06-24 20:24] #351 closed

[2020-06-24 20:44] tigrannajaryan commented on #1177
I fail to see the problem. This is how JSON encoding in grpc-gateway is supposed to work. Why do we not want to support it?

[2020-06-24 20:51] tigrannajaryan commented on #1180
All we can do for now is increase the limits to give more room when the CI machines are slow. A rule of thumb has been to use limits that are +15% to observed max. That is until we have a dedicated machine with stable performance to run load tests on.

[2020-06-24 21:53] asuresh4 commented on #1103
@Nicolas-MacBeth - I synced with @bogdandrutu on this offline and he's in agreement that we can convert metrics of `textparse.MetricTypeUnknown` type to `gauge`, and get to the other other unsupported types at a later point. Let me know if you still would like to work on the issue or I could pick it up.

[2020-06-24 22:44] nilebox commented on #1177
Yes, but it has issue with encoding trace/span IDs and JSON is not officially supported yet AFAIK. See https://github.com/open-telemetry/opentelemetry-proto/issues/129
It's better to disable unsupported protocol to prevent clients from using it IMO? We can always enable back if we decide that https://github.com/open-telemetry/opentelemetry-proto/issues/129 doesn't need to be addressed, or implemen

[2020-06-25 04:14] nilebox commented on #1177
@tigrannajaryan @bogdandrutu @yurishkuro Alternatively, if we all agree that supporting JSON is important, I can look into addressing https://github.com/open-telemetry/opentelemetry-proto/issues/129 via custom marshaler instead.

Most likely, this will require defining new (internal) Go types specifically for unmarshalling trace spans, or using `gogo/protobuf`'s feature https://github.com/gogo/pro

[2020-06-25 10:56] objectiser opened #1189 "Separate out aggregation capability from tail based sampling processor"
**Is your feature request related to a problem? Please describe.**
Currently the tail-based sampling processor performs two functions, it aggregates spans for a trace, and then applies sampling policies. However other processors may benefit from being able to process complete traces, before they are subject to a sampling decision.

**Describe the solution you'd like**
I would like to see the aggre

[2020-06-25 12:26] pavolloffay commented on #873
This approach makes sense to me since we don't know all the flags at startup (without parsing the conf file) and it also does not pollute help command.

Do we know if that works with cobra OOTB?

@tigrannajaryan are you fine with that?

[2020-06-25 13:51] jpkrohling opened #1191 "Regression - gRPC option 'insecure: true' has to be explicitly set for Jaeger Exporter"
**Describe the bug**
After ca99122ca84642543f1333c32ba28fecdb4860b3, Jaeger server reports the following when a regular OpenTelemetry Collector attempts to establish a gRPC connection:

[code]

**Steps to reproduce**

The following YAML file is enough to reproduce the issue on the current master, provided that Jaeger Collector is running on localhost:
[code]

I'm running OpenTelemetry from `master

[2020-06-25 14:20] jpkrohling opened #1192 "OTLP Exporter blocking indefinitely"
**Describe the bug**
When using the collector with a OTLP exporter, the exporter seems to be blocked indefinitely:

[code]

And it stays like that until I manually force kill the process (`kill -9 PID`).

**Steps to reproduce**
1. `make run` in the OpenTelemetry Collector side
1. `SPAN_STORAGE_TYPE=memory go run ./cmd/collector/main.go --collector.grpc-server.host-port :14251 --log-level=debug` on

[2020-06-25 14:41] #963 closed

[2020-06-25 14:51] Nicolas-MacBeth commented on #1103
Okay, perfect! I'll make a PR soon; unless I'm missing anything it should be a simple fix. Thanks!

[2020-06-25 15:18] jpkrohling opened #1193 "gRPC clients need to always set a deadline/timeout"
**Describe the bug**
While debugging #1192, I found out that the OTLP exporter's gRPC client didn't set a timeout. As there are problems with the connection in my setup, the trace is never exported. As a general rule, all blocking operations need a deadline, but the minimum would be to ensure that all exporters have a deadline/timeout.

Something like this would be sufficient for gRPC-based connec

[2020-06-25 15:56] Nicolas-MacBeth commented on #1103
Hi @asuresh4 , I made a PR if you want to check it out! https://github.com/open-telemetry/opentelemetry-collector/pull/1194

[2020-06-25 23:37] #1014 closed

[2020-06-26 00:00] #1155 closed

[2020-06-26 09:18] jpkrohling commented on #1192
While this specific instance of the problem might be solved by #1201, the collector needs a way to forcefully shutdown a misbehaving exporter.

[2020-06-26 11:23] jpkrohling opened #1202 "OTLP exporters are executed serially"
**Describe the bug**
The OTLP exporter has a number of workers, implying that they would run in parallel consuming data from the pipeline. However, it appears that only one worker is active at any given time. Adding a few log statements to the code (branch: [jpkrohling/opentelemetry-collector#jpkrohling/issue1202](https://github.com/jpkrohling/opentelemetry-collector/tree/jpkrohling/issue1202)), a

[2020-06-26 11:52] jpkrohling commented on #1191
Same with the OTLP exporter.

[2020-06-26 14:39] bogdandrutu commented on #1202
I think the confusion comes from the name of the config parameter. The `num_workers` is actually the number of clients we create, we don't create a goroutine for every request in the exporter so requests are executed synchronously (not necessary serialized). If you have multiple producers requests will be sent in parallel. This is intentional because:
1. We want to wait for the response and maybe

[2020-06-26 14:58] jpkrohling commented on #1202
Sorry about the stupid question, but why are there multiple clients, if only one them can be active at any given time? Isn't gRPC already load balancing the connections anyway?

[2020-06-26 15:02] bogdandrutu commented on #1202
That is definitely not a stupid question, was looking at the same issue right now, and I think gRPC can do a better job than what we do in terms of sending concurrent requests. I need to test that but I am confident that this is unnecessary.

[2020-06-26 15:39] pavolloffay commented on #1124
@nilebox I have submitted a PR to update the Jaeger receiver https://github.com/open-telemetry/opentelemetry-collector/pull/1203.

[2020-06-26 17:15] tigrannajaryan commented on #882
@kirbyquerby do you still plan to work on this?

[2020-06-26 18:34] tigrannajaryan commented on #882
@bogdandrutu assigning this to you since you started working on it.

[2020-06-26 23:51] bogdandrutu commented on #1202
@jpkrohling I am going to close this since we removed the logic of workers and rely on gRPC load balancing https://github.com/open-telemetry/opentelemetry-collector/pull/1212

[2020-06-26 23:52] #1202 closed

[2020-06-27 08:08] pavankrish123 opened #1220 "Fix README of Zipkin exporter"
**Describe the bug**
Zipkin exporter's [README](https://github.com/open-telemetry/opentelemetry-collector/blob/master/exporter/zipkinexporter/README.md) still refers to `url` as the setting key instead of `endpoint`. Think that is what is being used per sample configurations example presented [here](https://github.com/open-telemetry/opentelemetry-collector/blob/master/exporter/zipkinexporter/testd

[2020-06-28 03:06] #595 closed

[2020-06-28 04:01] bogdandrutu commented on #1220
This was changed in the master but not released yet. Thanks for filling this bug, we will fix this soon.

[2020-06-28 04:01] bogdandrutu commented on #1220
By release I mean official version, 0.4.0 uses URL :)

[2020-06-28 09:13] jan25 commented on #483
Hi! Can i work on this?

After quick look at queued_processor, this is a rough idea to fix - On shutdown have a deadline of 5s or until queue is emptied(whichever happens first). Also, We can have stats on how many spans were flushed and dropped during shutdown process. WDYT?

I see there is `Stop()` in queued_processor, any hints where is that used?

Similar idea can be applied to batch_processor

[2020-06-28 15:10] #1055 closed

[2020-06-28 15:12] bogdandrutu commented on #1041
Please point me to the config that needs to be changed in grpc. We should support nthis if it is a property in the grpc client DialOptions.

[2020-06-29 02:03] hanjm opened #1225 "About export opentelemetry-collector/internal/data/opentelemetry-proto-gen/logs"
**Is your feature request related to a problem? Please describe.**
hi,  I'm implement a log receiver, but `consumer.LogConsumer` use a internal struct, so i can not implement  `consumer.LogConsumer` interface.

[code]

**Describe the solution you'd like**
export "go.opentelemetry.io/collector/internal/data"

**Describe alternatives you've considered**

**Additional context**

[2020-06-29 08:29] RashmiRam commented on #1041
@bogdandrutu This https://godoc.org/google.golang.org/grpc#WithBalancerName is the config that I have been using here https://github.com/open-telemetry/opentelemetry-collector/blob/master/config/configgrpc/configgrpc.go#L170 in my patched otel collector.

[2020-06-29 15:14] #1220 closed

[2020-06-29 15:16] jpkrohling opened #1227 "gRPC TLS is broken for all exporters"
**Describe the bug**
When specifying the TLS options for both the client and server, the gRPC server is correctly set with those options, but the `cmux` matcher doesn't get a chance of getting a peek into the content, as the TLS handshake happens before these headers can be evaluated. As such, `cmux` will fallback to HTTP, which will cause clients to fail with:

[code]

Note that this message is s

[2020-06-29 15:42] pavolloffay commented on #886
Please assign this to me I will have a look at it.

[2020-06-29 17:34] tigrannajaryan commented on #1227
@bogdandrutu assigning this too you since you are already working on this area.

[2020-06-29 18:05] tigrannajaryan commented on #1225
Logs are not yet supported in the Collector. The log data type is experimental, it is intentionally in the `internal` package and we do not recommend to implement any log receivers yet. There is a proof-of-concept currently in progress. Log data type can be removed if the POC is not successful or it may be changed significantly as a result of POC findings.
Please wait for POC completion before wor

[2020-06-29 18:05] #1225 closed

[2020-06-29 18:24] tigrannajaryan commented on #1177
@nilebox I am not convinced https://github.com/open-telemetry/opentelemetry-proto/issues/129 is a problem that needs a solution either :-) It seems to me base64 is an acceptable way to encode trace id and span id in JSON.

[2020-06-29 18:26] tigrannajaryan commented on #1170
@ccaraman is this now resolved or there is more work to do?

[2020-06-29 18:53] yurishkuro commented on #1177
@tigrannajaryan I am personally conflicted about that. I often catch myself looking at raw trace data in JSON, maybe because UI doesn't show something, or there's some other information/correlation I am looking for. Having the IDs in JSON  base64 encoded makes it difficult to correlate. The tracing UI could be smart to recognize both encodings, but if I tag my logs with trace/span IDs and that's d

[2020-06-29 20:31] leonsp-ai opened #1230 "Prometheus collector not respecting address in config file"
**Describe the bug**
Prometheus receiver listen to traffic on localhost rather than 0.0.0.0 despite being configured to listen on 0.0.0.0

**Steps to reproduce**
1. Use the `otel/opentelemetry-collector-contrib:0.4.0` image
2. Configure Prometheus as follows:
[code]

**What did you expect to see?**

Logs:

`2020-06-29T19:54:11.984Z	INFO	service/telemetry.go:94	Serving Prometheus metrics	{"address"

[2020-06-29 21:26] jrcamp commented on #1230
Dupe of https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/355

[2020-06-29 21:37] bogdandrutu commented on #1227
This is fixed in https://github.com/open-telemetry/opentelemetry-collector/pull/1223. I could not find a solution to reuse the same port and support custom TLS credentials for gRPC and http. But now it should work

[2020-06-29 21:37] #1227 closed

[2020-06-29 21:47] bogdandrutu commented on #172
This is done for all the components except OpenCensus which still has Options, but only between factory and receiver.

[2020-06-29 21:47] #172 closed

[2020-06-29 21:57] alolita opened #1234 "Proposal: Use GitHub Actions for CI/CD"
This issue is in reference to [issue 398](https://github.com/open-telemetry/community/issues/398) posted on the community repository. In this issue, we are proposing that all OpenTelemetry repositories consider using GitHub Actions as their CI provider in order to maintain consistency across the various language repositories.

The overall proposal was discussed in the OpenTelemetry maintainers SIG

[2020-06-29 22:30] owais opened #1235 "Bug report for failed CircleCI build (job: test)"
Auto-generated report for `test` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/10209

#### Test Failures
-  TestApplication_GetExporters

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-06-29 23:06] nilebox commented on #1177
If we do want to support JSON and fine with base64 encoding, then no code changes are required (apart from making sure that we also use base64 in logs), but we need to document `application/json` as a supported OTLP protocol over HTTP, and then SDKs may start introducing support for it on the client side.

[2020-06-30 01:06] owais opened #1236 "Bug report for failed CircleCI build (job: windows-test)"
Auto-generated report for `windows-test` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/10226

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-06-30 06:38] nilebox commented on #1177
Rephrased the issue to discuss the path to official JSON support rather than just disabling it.

[2020-06-30 09:13] pavolloffay commented on #1078
The total amount of memory would be derived from the host environment. I haven't looked into this closely, but there should be a way to get total memory of the runtime. For example JDK supports this https://www.eclipse.org/openj9/docs/xxinitialrampercentage/

[2020-06-30 11:19] pavolloffay opened #1237 "PR 1047 broke CI"
**Describe the bug**

Merge of PR https://github.com/open-telemetry/opentelemetry-collector/pull/1047 is causing CI to fail on the master branch.

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector/1533/workflows/51ce08ed-22fd-43e3-bf03-b2d94c88ae17/jobs/10304/steps

Locally also the ` make test` target is failing.

cc) @james-bebbington

**Steps to reproduce**

`make

[2020-06-30 11:37] james-bebbington commented on #1237
https://github.com/open-telemetry/opentelemetry-collector/pull/1238

[2020-06-30 14:00] pavolloffay commented on #1237
Done in #1238

[2020-06-30 14:00] #1237 closed

[2020-06-30 14:39] tigrannajaryan commented on #1235
@owais @asuresh4 can we also include test name in the Issue title and not just in the description?

[2020-06-30 14:53] atrauzzi opened #1239 "Azure Monitor Exporting/Forwarding"
Has there been any engagement from Microsoft or Azure about making the otel collector able to forward to their Azure Monitor service?

Understandably, this sounds like an Azure feature request, but I figured it might be worth putting a note about it here as well.  Particularly due to Microsoft's participation in OpenTelemetry and CNCF :smile:

This seems like something that could unblock a lot of

[2020-06-30 15:04] leonsp-ai commented on #1230
Thanks. Sounds like it's fixed by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/356

[2020-06-30 15:04] #1230 closed

[2020-06-30 15:41] bogdandrutu opened #1240 "Add 3 host metrics and delete vmmetricsreceiver"
Currently we miss https://github.com/open-telemetry/opentelemetry-collector/blob/master/receiver/vmmetricsreceiver/vm_metrics_constants.go#L63 `system/processes/xyz` metrics from vmmetricsreceiver and then we can remove the vmmetricsreceiver.

Would be good @james-bebbington if you can fix this soon so we can remove that old code.

[2020-06-30 22:55] james-bebbington commented on #1236
This was related to https://github.com/open-telemetry/opentelemetry-collector/issues/1237 & fixed in https://github.com/open-telemetry/opentelemetry-collector/pull/1238

[2020-06-30 22:55] #1236 closed

[2020-07-01 13:16] firefixmaarten commented on #433
Hi, it seems we also run into this issue. The both values are kept but seems not to be contained/exposed correctly in the collector.
![image](https://user-images.githubusercontent.com/2439070/86247903-6d8e4c80-bbad-11ea-82ed-c2c13bdcbb06.png)

[2020-07-01 13:19] firefixmaarten commented on #433
Note that in my case it even is the same application, it just uses different labels but the result is at al times, only 1 value is in collector output

[2020-07-01 14:04] owais opened #1245 "Bug report for failed CircleCI build (job: loadtest)"
Auto-generated report for `loadtest` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/10603

#### Test Failures
-  TestTraceBallast1kSPSWithAttrs
-  TestTraceBallast1kSPSWithAttrs/0*0bytes

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-07-01 14:07] #1245 closed

[2020-07-01 16:26] lizthegrey opened #1246 "Adopt either renovate or dependabot"
We've had success with Dependabot for otel-go, and with Renovate for otel-js.

You may want to consider adopting it here for collector to ease keeping dependencies up to date. Once the initial slew of updates is done, the PR volume is low (2-5 per week) and allows more incrementally updating dependencies rather than all at once.

[2020-07-01 16:59] owais opened #1247 "Bug report for failed CircleCI build (job: windows-test)"
Auto-generated report for `windows-test` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/10616

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-07-01 17:54] jmacd commented on #433
I understand that OTel collector fills a role where you can imagine it aggregating host metrics together, but it requires a substantial redesign: it would turn the collector from a manager of pipelines into a manager of transient state. There is a proposal to add metrics transformation (https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/332) but it would not fill thus functio

[2020-07-01 21:59] tigrannajaryan commented on #958
Failed again locally:
[code]

[2020-07-02 01:46] james-bebbington commented on #1240
Pending https://github.com/shirou/gopsutil/pull/897

[2020-07-02 04:30] dabangarang opened #1249 "ReadMe.md for service package"
***Is your feature request related to a problem? Please describe.***
As a new developer on OpenTelemetry I’ve been going through the code and existing documentation to understand the pipeline. I found the bulk of the data processing, especially the YAML -> Config struct processing code to be in the Service package. Much of the logic for the Collector is abstracted away from the main.go file, which

[2020-07-02 07:47] firefixmaarten commented on #433
I am currently observing this:
the go.opentelemetry.io/otel 0.7.0 package using:
`package main

import (
	"context"
	"fmt"
	"time"

	"github.com/firefixmaarten/test-otel/metrics"
	"go.opentelemetry.io/otel/api/global"
	"go.opentelemetry.io/otel/api/kv"
	"go.opentelemetry.io/otel/api/metric"
	"go.opentelemetry.io/otel/exporters/otlp"
	"go.opentelemetry.io/otel/sdk/metric/controller/push"
	"go.opent

[2020-07-02 19:16] jmacd opened #1255 "Prometheus export from OTLP receiver not functional"
**Describe the bug**
Discussed under https://github.com/open-telemetry/opentelemetry-go/issues/875, we have evidence that OTLP metrics data are being transformed incorrectly, such that the Prometheus exporter will:
- report Counter data as "gauge"
- drop Summary data (which the OTel-Go SDK is exporting for ValueRecorder, ValueObsever)

**Steps to reproduce**
The steps are described in https://gith

[2020-07-02 20:00] jmacd opened #1256 "Unsplit the OTLP receiver protocols, use a shared port"
**Is your feature request related to a problem? Please describe.**
This is a request to revert https://github.com/open-telemetry/opentelemetry-collector/pull/1223

**Describe the solution you'd like**
I would like both protocols to share a port, as this reduces configuration cost for users and system operators.

**Describe alternatives you've considered**
The alternative is to use a single port. T

[2020-07-02 20:44] austinlparker commented on #1256
Mostly just echoing Josh's comment here. Multi-port satellites caused us no end of headaches for users.

[2020-07-02 22:32] james-bebbington commented on #958
I put out a fix to increase the maximum wait time. I'm surprised it didn't complete after 1s though. What OS are you running on? Mac?

[2020-07-02 22:43] jmacd commented on #433
@firefixmaarten This sounds like an OTel-Go issue already under investigation: https://github.com/open-telemetry/opentelemetry-go/issues/875

Note that part of the problem being investigated there is a collector issue: https://github.com/open-telemetry/opentelemetry-collector/issues/1255

[2020-07-02 22:52] bogdandrutu commented on #1256
@jmacd happy to revert if you show me how to make TLS work with port multiplexing.

[2020-07-02 23:51] jmacd commented on #1256
I'm asking around Lightstep for someone who can contribute here. Thanks.

[2020-07-03 05:20] bogdandrutu commented on #1240
@james-bebbington you can start a PR with the two values that you already have and we can add the third one later.

[2020-07-03 05:37] firefixmaarten commented on #433
Seems indeed to be the case, I will follow up on those issues. Thanks

[2020-07-03 13:28] jpkrohling commented on #1256
For context, #1227 might have been the reason for the change.

[2020-07-03 15:04] jpkrohling opened #1260 "Feature request: add support for multi-tenancy"
In the Jaeger project, we've received numerous requests for adding multi-tenancy support. The way that OpenTelemetry Collector is designed, encouraging multi-hop collectors, makes it suitable for multi-tenant scenarios, even though it currently requires at least one OpenTelemetry Collector instance per tenant.

Right now, each agent/local collector would need to talk to a tenant-specific remote-co

[2020-07-03 16:15] jmacd commented on #1256
Just want to repeat that "no end of headaches for users" is not an exaggeration. It was an awful time. I'm looking for someone to help on this.

[2020-07-03 19:50] huyan0 commented on #1255
Hi Josh, are you creating new implementation for translating to Prometheus metric type instead of using github.com/orijtech/prometheus-go-metrics-exporter in the Prometheus exporter?

[2020-07-04 02:29] huyan0 commented on #1255
I noticed the underlying Prometheus-go-metric-exporter that the Collector's Prometheus exporter uses drop Summary when converting to Prometheus type. For some reason I thought it was a feature.

[2020-07-05 06:26] jmacd commented on #1255
The big issue with prometheus-go-metric-exporter is that it uses the OpenCensus format, and we're migrating to OTLP. I am not certain what the best option is. A bigger question is which library will support Prometheus push: see https://github.com/open-telemetry/opentelemetry-collector/issues/1150.

[2020-07-06 06:54] jan25 opened #1262 "Log rotation in logging exporter"
Logging exporter is handy for debugging reasons but if let to stay on it can fill up memory and cause OOM (even after sampling). Also, since this exporter is useful for checking recent logs(traces/spans) we could allow for auto cleanup of older logs from stdout.

I can think of 2 additional options to add in exporter config for this:
* `retention-time` - duration to keep logs for certain amount of

[2020-07-06 13:44] asuresh4 commented on #1235
@tigrannajaryan - currently an issue is opened for a particular job and the failed tests are listed out. Would you rather have one issue created per test failure?

[2020-07-06 14:07] ashwinidulams opened #1263 "Proposal: Span Stats Processor"
## Span Statistics Proposal

A processor for aggregating spans to derive RED (Request, Error, Distribution) metrics across a set of dimensions (dynamic or otherwise) and exporting the results to a metrics sink (prometheus endpoint, stream etc).

## Motivation

A trace contains end-to-end data about the service call chain in the context of a request/transaction. This data can be mined to derive con

[2020-07-06 16:06] bogdandrutu commented on #1263
Would suggest this to be a contrib feature. There are a lot of unknowns in this feature so probably better to start there, and once stable and proven functionality we can move it to core

[2020-07-07 02:09] #557 closed

[2020-07-07 02:14] #1119 closed

[2020-07-07 14:46] bogdandrutu opened #1271 "Host scrapers: Use same scrape time for all data points"
https://github.com/open-telemetry/opentelemetry-collector/pull/1268#discussion_r450917684

[2020-07-07 16:16] MatthewDolan commented on #1256
@bogdandrutu Can you expand more on what about TLS needs to work to make this port viable?

[2020-07-07 16:22] MatthewDolan commented on #1256
I think there recommendation from grpc-go for supporting both http and grpc on the same port is to utilize the `ServerHTTP(...)` method on the grpc server.

https://godoc.org/google.golang.org/grpc#Server.ServeHTTP

Something similar to the example code in the docs:

[code]

The TLS support needs to be handled at the http layer because the request has to be decrypted before it can be routed to eit