[2020-10-07 22:22] kevincantu opened #1920 "zpages /debug/tracez shows a mismatched encoding for trace IDs"
I've been experimenting with otel-collector (contrib) 0.11.0, and hooked up the OTLP gRPC receiver and the logging exporter. (My full config is mostly in [this ticket](https://github.com/open-telemetry/opentelemetry-collector/issues/1916), FWIW.)

When I do the following:
* create spans in a Python demo app,
* use the Python Console Exporter (to look at traces),
* use the Python OTLP gRPC exporter

[2020-10-07 22:25] kevincantu commented on #1920
There are also some smaller nits: the CSS is missing, the page refers to TraceID instead of trace_id, and the "(sec)" label is wrong.

[2020-10-08 17:31] tigrannajaryan opened #1923 "groupbytraceprocessor: TestErrorOnProcessResourceSpansContinuesProcessing is unstable"
See https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector/3868/workflows/6cbedc3f-98dd-439d-ae9f-987aa9e3e8e2/jobs/42433

[code]

[2020-10-08 17:31] tigrannajaryan commented on #1923
@jpkrohling can you please have a look?

[2020-10-08 20:47] owais commented on #1857
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/42644

#### Test Failures
-  TestLog10kDPS

[2020-10-08 22:21] tigrannajaryan commented on #1888
This works with strings as well. http.status_code >= "500" works fine since HTTP status codes are lexicographically in the same order as numerically.

This appears to be a specific backend issue. It should be addressed in the backend or in the corresponding vendor specific exporter.

I am not convinced this is a good idea. In fact I believe it is a bad idea since it can incorrectly turn a string t

[2020-10-08 22:25] tigrannajaryan opened #1927 "groupbytraceprocessor: TestPeriodicMetrics is unstable"
See https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector/3878/workflows/16e17361-807e-43fb-995a-3e5a517bdef2/jobs/42647

[code]

[2020-10-08 22:26] tigrannajaryan commented on #1927
@jpkrohling sorry, one more unstable, assigning to you.

[2020-10-08 23:38] chris-smith-zocdoc commented on #1888
In my toy example yes it works but it won't reliably work for other custom attributes I may wish to use.

I don't consider this a backend issue, source of the real issue is with with the zipkin api + zipkin libraries. Having this feature in the opentelemetry collector has been incredibly helpful to us because it allows us to process trace data across our organization without swapping the tracing l

[2020-10-09 03:39] #934 closed

[2020-10-09 03:47] owais commented on #1898
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/42745

[2020-10-09 03:52] owais commented on #1857
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/42779

#### Test Failures
-  TestLog10kDPS

[2020-10-09 07:41] jpkrohling commented on #1927
Windows again? Are the tests slower on Windows? I'll work on it, but it might be a good hint that perf tests on Windows might yield interesting results :-)

[2020-10-09 12:50] jpkrohling commented on #1724
Opened https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/1231 with the proposal.

[2020-10-09 15:33] tigrannajaryan commented on #1927
Yes, Windows. Yes, possibly could be caused by a perf difference.

[2020-10-09 22:43] bogdandrutu commented on #1813
@chris-smith-zocdoc finally I was able to find the cause

[2020-10-09 23:35] #1813 closed

[2020-10-09 23:52] chris-smith-zocdoc commented on #1813
Thanks @bogdandrutu !

[2020-10-10 00:36] bogdandrutu commented on #1813
Let me know if that fixed your case, I assume it does, but want to double check.

[2020-10-10 00:38] bogdandrutu commented on #1910
@ibawt are you willing to help with this issue?

[2020-10-10 00:43] ibawt commented on #1910
Either me or a new team member, I guess you can assign to me.

[2020-10-12 04:53] isgoutham opened #1935 "Supporting Key and a List of Values in the Attribute Processor"
Support for key and list based values in the attribute processor.

Use case: To support list of homogeneous values under a single key.

Example Configuration(otel-collector-config):

[code]

All the values under http.url should have a sampling.priority value as 1. Instead, current implementation of OTEL is not supporting this feature and triggers a bug.

Steps to produce:

1. Add otel collector co

[2020-10-12 05:05] isgoutham commented on #1935
PR - #1936

Above PR adds support for list of values under a key in the attribute processor. And

Eg screens:

![image](https://user-images.githubusercontent.com/54934534/95707193-7d223480-0c76-11eb-9855-fa149e41a873.png)
![image](https://user-images.githubusercontent.com/54934534/95707218-91663180-0c76-11eb-861a-9afea882e572.png)

[2020-10-12 13:48] Vemmy124 opened #1939 "Allow marshalling and unmarshalling of pdata.Traces"
**Is your feature request related to a problem? Please describe.**
We want to do an in-memory storage of traces in our fork of the project so it's necessary to be able to convert traces to bytes and wise-versa. Now there is a function allowing to convert traces to proto via `ExportTraceServiceRequest` structure, but no way to unmarshal that protobuf (due to structure's aim of course).

This missin

[2020-10-12 14:43] bogdandrutu commented on #1939
I am ok to support a function that produces pdata from bytes. Please craft a PR to add that

[2020-10-12 15:37] bogdandrutu commented on #1910
Suggest to start from the current queued_retry processor and copy only the telemetry recording part.

[2020-10-12 19:55] owais commented on #1898
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/43553

[2020-10-12 20:58] james-bebbington commented on #1081
What is the status of this? Do we still want to make changes to the filter config or are we okay with how it currently is?

Is it possible to make these packages not internal so that they can be used in Contrib?

@jrcamp @bogdandrutu

[2020-10-13 01:42] owais commented on #1857
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/43744

#### Test Failures
-  TestBallastMemory

[2020-10-13 01:43] owais commented on #1898
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/43733

[2020-10-13 02:49] james-bebbington commented on #1081
**Another Proposal:**

I looked at what a few other systems do. There was nothing super useful to be gleaned as most systems use filter configuration that is specific to the task at hand, and seems relatively rare to offer strict / glob / regex options.

Anyway. here is an alternative to what Jay suggested where we keep the "type" property and change how include/exclude works to reduce the amount

[2020-10-13 04:29] bogdandrutu commented on #1831
This looks like a stale issue.

[2020-10-13 04:29] #1831 closed

[2020-10-13 04:29] bogdandrutu commented on #1503
This looks like a stale issue

[2020-10-13 04:29] #1503 closed

[2020-10-13 04:30] bogdandrutu commented on #1601
This looks like a stale issue.

[2020-10-13 04:30] #1601 closed

[2020-10-13 04:30] bogdandrutu commented on #1621
No similar failures since 1.5m, stale

[2020-10-13 04:30] #1621 closed

[2020-10-13 18:01] jrcamp commented on #1081
I think it's an improvement and I think the downsides are fine. Will we be able to keep backwards compatibility in a reasonable way or would it require breaking configs?

[2020-10-13 18:51] owais commented on #1898
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/44335

[2020-10-13 19:10] jpkrohling opened #1952 "Revisit "Contributing Guide""
The [Contributing Guide](https://github.com/open-telemetry/opentelemetry-collector/blob/master/CONTRIBUTING.md) _recommends_ that new components should be split into 3 PRs or more in order to get expedited reviews. However, this isn't improving the delay in reviewing PRs: the only PR that I submitted following this process took 10 days between the first PR getting merged and the last:

* https://g

[2020-10-13 19:18] jpkrohling commented on #1952
To be clear: I'm not advocating for big PRs, just that the initial implementation of a component might already not be so small as other types of PRs. I am totally in favor of iterative development processes, implementing only the required first and expanding the initial implementation later.

In the issue text, I also failed to acknowledge the heroic work that @bogdandrutu is doing here but be sur

[2020-10-13 19:29] genebean opened #1953 "Provide /targets and /service-discovery web ui pages for Prometheus"
**Is your feature request related to a problem? Please describe.**

I would like to use the OTel collector for scraping Prometheus metrics and sending them to Grafana Cloud aka remote write to Coretex but am not willing to lose the visibility that the `/targets` and `/service-discovery` of a stock Prometheus server provide. These pages are indispensable for troubleshooting. I imagine the same argu

[2020-10-13 21:40] james-bebbington commented on #1081
It would require breaking configs 😦

But I don't think that's avoidable if we want to simplify the config

[2020-10-13 23:55] kevincantu commented on #1916
My spidey sense tells me [this cmux issue](https://github.com/soheilhy/cmux/issues/64) may be related... 🤷‍♀️

[2020-10-14 08:34] tensorchen opened #1955 "otlpreceiver support grpc chain intereceptor option"
I am using collector in a production environment, and I hope that otlpreceiver can provide the ability to set grpc chain interceptor, so that I can add related custom monitoring or logic

[2020-10-14 15:03] #969 closed

[2020-10-14 15:52] tigrannajaryan commented on #1888
I am open to making this either a separate processor or an optional non-default behavior of Zipkin receiver. I would not want to change the default behavior though.

[2020-10-14 16:22] jrcamp commented on #1892
One other option:

Maybe we could add metrics support to [attributesprocessor](https://github.com/open-telemetry/opentelemetry-collector/blob/master/processor/attributesprocessor/README.md) under the assumption that attributes and labels will eventually be unified in OT spec. In the meantime maybe the attributesprocessor can handle both with the same or similar configuration semantics.

I don't st

[2020-10-14 16:28] isgoutham commented on #1935
@tigrannajaryan could you please check/review this

[2020-10-14 18:09] alolita commented on #1892
Hi @tigrannajaryan can you please assign this issue to me @alolita and @amanbrar1999 ty! We plan to add PRs for this code.

[2020-10-14 20:12] tigrannajaryan commented on #1952
@jpkrohling thanks for the proposal.

One of the problems that we had in the past is that large PRs require a significant continuous chunk of time from reviewer. A PR with several thousands lines of code requires hours for proper review. Reviewers often do not have so much continuous time available. The result is either poor review quality because reviewers have to rush or reviewing process is spl

[2020-10-14 20:23] tigrannajaryan commented on #1952
@jpkrohling some additional arguments in favor of small PRs here: https://github.com/kubernetes/community/blob/master/contributors/guide/pull-requests.md#smaller-is-better-small-commits-small-pull-requests

[2020-10-14 20:31] tigrannajaryan commented on #1939
@Vemmy124 I am not against having he unmarshaling capability, but I am not sure how it helps with in-memory storage. Why not keep the pdata.Traces itself in the memory?

[2020-10-15 07:32] jpkrohling commented on #1952
I'm absolutely in favor of the smallest possible PR for the unit of work (feature, bug fix, refactoring) and I think I'm aligned with the document you linked:

Note also that what I advocated for in my previous message is explicitly mentioned there under "Breaking up commits":

If we are to follow that document, then we should indeed change our current guidelines ;-)

[2020-10-15 08:17] Vemmy124 commented on #1939
@tigrannajaryan To be clear, this is an open-source solution, which has a mode to work with disk. So its interface accepts bytes to be able to dump data to the disk. In my particular situation I'm constrained only by interface. But for those who might want to save traces to disk, it is necessary feature

[2020-10-15 09:50] mkabischev opened #1962 "Add hacktoberfest topic"
Hi, can you please add `hacktoberfest` to opentelemetry-collector & opentelemetry-collector-contrib repos?

https://hacktoberfest.digitalocean.com/hacktoberfest-update

[2020-10-15 16:12] Vemmy124 commented on #1845
Can we somehow check if the issue disappeared now?

[2020-10-15 17:34] saikishore143 opened #1965 "For java based application ReadMessageBegin UDP Binary Thrift receiver fails"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.

**What did you expect to see?**
A clear and concise description of what you expected to see.

**What did you see instead?**
A clear and concise description of what you saw instead.

**What version did you use?**
Version: (e.g., `v0.4.0`, `1eb551

[2020-10-15 17:40] saikishore143 commented on #1965
We have pulled latest docker image for collector and agent and when we enable opnetracing for java based application on port "6832" we are observing below errors

ReadMessageBegin","stacktrace":"github.com/jaegertracing/jaeger/cmd/agent/app/processors.(*ThriftProcessor).processBuffer\n\tgithub.com/jaegertracing/jaeger/cmd/agent/app/processors/thrift_processor.go:122\ngithub.com/jaegertracing/jaege

[2020-10-15 19:37] jpkrohling commented on #1724
@bogdandrutu, @joe-elliott, how can we move forward with this? I realize that the PR/branch with the proposal looks scary, but the core is this:

During the bootstrap, a list of servers is obtained via a "resolver" (DNS or static):
https://github.com/jpkrohling/opentelemetry-collector-contrib/blob/61f3be21926c980ed7eb82b6ab030aa606a5e573/exporter/loadbalancingexporter/exporter.go#L104-L106

Whenev

[2020-10-16 07:40] saikishore143 commented on #1965
Sample app code from JAVA
package BOOT-INF.classes.com.example.demoopentracing;

import com.uber.jaeger.Configuration;
import io.opentracing.Tracer;
import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.boot.web.client.RestTemplateBuilder;
import org.springframework.context.annotation.Bean;
import org.spri

[2020-10-16 17:20] joe-elliott commented on #1724
I don't know what the bar for merging to contrib is, but I'm confident that @jpkrohling  has something with merging if we're talking about it.  Grafana is swamped right now preparing for an upcoming conference but if this is in contrib once things settle we will experiment with it and give feedback.

@annanay25

[2020-10-16 18:27] tigrannajaryan commented on #1892
@amanbrar1999 @alolita looking at `metricstransformprocessor` it seems trivial to make `metric_name` config option optional and then you will get the functionality that you need. I don't see the need for a new processor.

I don't think so. It says it is not intended for aggregation. What you need is not aggregation and I would not call it batching either. It is bulk addition labels to all metrics

[2020-10-16 20:28] Vemmy124 commented on #1939
Thanks everyone. This is no longer an issue

[2020-10-16 20:28] #1939 closed

[2020-10-16 20:35] amanbrar1999 commented on #1892
@tigrannajaryan This was indeed one of the proposed solutions, however it looks like I misunderstood the desired scope of `metricstransformprocessor`. I thought bulk label addition was not a desired functionality within it, but if it is indeed a subset of what `metricstransformprocessor` is intended for then I believe this solution works.

[2020-10-16 21:56] tigrannajaryan opened #1968 "otlp receiver expects traces on “/v1/trace” but spec says “/v1/traces”."
Probably need to fix this gracefully by adding “/v1/traces” as an alias, then removing “/v1/trace” in a few months after announcement.

[2020-10-18 23:44] bogdandrutu commented on #1968
I think this gets very ugly:
* gRPC traffic uses `v1/trace` path
* HTTP traffic uses `v1/traces` path

Probably it is good to proceed and change both gRPC, HTTP to use both `v1/trace`.

Here is a possible plan to do this in a backwards compatible way:
1. Change protos to use the new path with `v1/traces`, but also keep the gRPC service definition that we currently have (will use request and respon

[2020-10-19 00:30] bogdandrutu opened #1974 "Rename consumer.TraceConsumer to consumer.TracesConsumer"

[2020-10-19 00:31] bogdandrutu opened #1975 "Rename exporter component.TraceExporter to component.TracesExporter, and equivalent Create method"

[2020-10-19 00:31] bogdandrutu opened #1976 "Rename processor component.TraceProcessor to component.TracesProcessor, and equivalent Create method"

[2020-10-19 00:32] bogdandrutu opened #1977 "Rename receiver component.TraceReceiver to component.TracesReceiver, and equivalent Create method"

[2020-10-19 07:43] XSAM opened #1978 "Support more tail-sampling scenarios"
**Is your feature request related to a problem? Please describe.**
Current tail-sampling policies can only support simple scenarios, for instance:

[code]

It means if a tracing data matches one of these policies, it will be marked as sampled.

I think it should support complicated policies to obtain more benefits from tail-sampling. Here is the scenario.

I wouldn't say I like to use a global sam

[2020-10-19 14:31] tigrannajaryan commented on #1968
@bogdandrutu I was initially thinking to keep gRPC unchanged for 2 reasons:

1. The OTLP spec does not say anything explicitly about gRCP path. It does explicitly say what the path is for HTTP.

2. gRPC does not use /v1/trace, it uses /opentelemetry.proto.collector.trace.v1.TraceService/Export as the path. So, although it would be nice to have gRPC path also use singular "trace" in it, I don't thi

[2020-10-19 14:36] tigrannajaryan commented on #1968
I can look into implementing the fix for OTLP/HTTP in a graceful way, and keep accepting the old path in the receiver for a while, but it may complicate the fix.

[2020-10-19 15:10] bogdandrutu commented on #1839
Transient failure

[2020-10-19 15:10] #1839 closed

[2020-10-19 15:29] tigrannajaryan commented on #1968
Fix for OTLP/HTTP only with graceful handling of both old and new path in OTLP receiver: https://github.com/open-telemetry/opentelemetry-collector/pull/1979

[2020-10-19 16:15] tigrannajaryan commented on #1892
@amanbrar1999 I think it is fine to add bulk updates to `metricstransformprocessor`. @james-bebbington @jrcamp @bogdandrutu any objections (see my [proposal](https://github.com/open-telemetry/opentelemetry-collector/issues/1892#issuecomment-710380307) above)?

[2020-10-19 16:20] tigrannajaryan commented on #1575
@bogdandrutu I vote for not changing anything and suggest to close this as "won't do". Objections?

[2020-10-19 16:22] tigrannajaryan commented on #1255
This does not appear to be a dealbreaker for 1.0, I am removing from the milestone, feel free to object.

[2020-10-19 16:23] tigrannajaryan commented on #1093
Due to lack of time I am removing this for 1.0. If there are any objections please speak.

[2020-10-19 16:25] tigrannajaryan commented on #791
I am closing this since it appears Start() is OK. Re-open if there are objections.

[2020-10-19 16:25] #791 closed

[2020-10-19 16:26] tigrannajaryan commented on #778
Removing from 1.0, please speak if there are objections.

[2020-10-19 16:27] tigrannajaryan commented on #483
@jan25 I will remove this from 1.0 milestone, since it is not a must-have, but feel free to work on it. We will accept it when it is ready.

[2020-10-19 16:28] tigrannajaryan commented on #669
This is a nice-to-have, removing from 1.0.

[2020-10-19 16:29] tigrannajaryan commented on #882
Basic implementation is ready: https://github.com/open-telemetry/opentelemetry-collector/tree/master/exporter/otlphttpexporter
Closing. Create new issues for improvements.

[2020-10-19 16:29] #882 closed

[2020-10-19 16:55] tigrannajaryan commented on #1256
@bogdandrutu assigning to you to either implement the shared port or close it as "won't do". We need the decision for 1.0.

[2020-10-19 17:02] #1968 closed

[2020-10-19 17:22] tigrannajaryan commented on #1845
Closing, will reopen if we see this again.

[2020-10-19 17:22] #1845 closed

[2020-10-19 17:48] tigrannajaryan commented on #1939
@Vemmy124 yes, makes sense. I am open to adding the functionality in the future once there is an actual component that needs to use it.

[2020-10-20 08:29] james-bebbington commented on #1892
Yes what I would actually like to do is update the metrics transform processor to support filterset so that we can do transforms like the following:
- https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/1088#issuecomment-706916609

Also blocked by related proposal:
- https://github.com/open-telemetry/opentelemetry-collector/issues/1081#issuecomment-707450870

That would then s

[2020-10-20 13:45] Vemmy124 opened #1985 "Panic in marshalling ResourceSpans"
**Describe the bug**
Marshalling `otlpcollectortrace.ExportTraceServiceRequest` panics if there are nil components in `ResourceSpans` (e.g. nil `InstrumetationLibrarySpans`). Can we fix that somehow?

[2020-10-20 14:15] tigrannajaryan opened #1987 "TestApplication_GetExporters is unstable"
See https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector/4091/workflows/45011afc-83d4-4c77-8b32-ba3a09c1bb70/jobs/45858

It happened in the past too https://github.com/open-telemetry/opentelemetry-collector/issues/1235

[2020-10-20 14:27] iNikem opened #1988 "zPages report wrong trace and span ids"
**Describe the bug**
zPages `/tracez` reports different traceId and spanId as compared to logging exporter on the console.

**Steps to reproduce**
Run Collector with configured zPages and logging exporter. Send a trace data to the Collector.

**What did you expect to see?**
traceId as reported by logging exporter on the console should be the same as traceId as reported by `/debug/tracez?zspanname=

[2020-10-20 14:30] tigrannajaryan commented on #1888
@chris-smith-zocdoc let me know how you prefer to proceed (see previous comment). If you prefer not to change anything we can close the issue.

[2020-10-20 14:36] chris-smith-zocdoc commented on #1888
@tigrannajaryan I'll make it a configuration option on the zipkin receiver (default off). I should be able to get to this later this week, will push changes to https://github.com/open-telemetry/opentelemetry-collector/pull/1893 when ready

[2020-10-20 14:55] owais opened #1989 "Bug report for failed CircleCI build (job: windows-test)"
Auto-generated report for `windows-test` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/45867

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-10-20 16:50] bogdandrutu commented on #1985
Yes, can you provide a test that proves this?

[2020-10-20 17:03] amanbrar1999 commented on #1892
My understanding from reading these linked issues is that we want to (1) update the filtering configuration so that it is less verbose, and then (2) embed filtering into `metricstransformprocessor`.

I am trying to understand the scope of the first change, if that requires changes in the internal filtering libraries (https://github.com/open-telemetry/opentelemetry-collector/tree/master/internal/pr

[2020-10-20 17:56] #1974 closed

[2020-10-20 17:58] rakyll commented on #1909
We are seeing this issue as well and it's affecting all the workloads that wants to export Prometheus metrics on Kubernetes.

Having quickly reviewed the discovery and scraping packages from Prometheus, the usage of these packages seems to be as expected but I quickly noticed some possible issues in the code. For example, we possibly write to an error channel that is already closed. See https://gi

[2020-10-20 19:07] amanbrar1999 commented on #1892
Upon further inspection I think (1) is another issue on its own, and I can instead proceed to try to use `filtersets` within `metricstransformprocessor` to support bulk updating

[2020-10-20 20:03] bogdandrutu commented on #1988
@iNikem this is working as expected.

The zPages extension reports traces of the internal collector requests, and the logging exporter reports traces processed by the collector (incoming data from different requests). They server different purposes, one is to monitor the collector, the other is to log data received by the collector.

[2020-10-20 20:03] #1988 closed

[2020-10-20 22:21] amanbrar1999 commented on #1081
@jrcamp @james-bebbington can Goal 3 of this proposal be done independently of the others in order to unblock issues https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/1088 and https://github.com/open-telemetry/opentelemetry-collector/issues/1892? or do Goals 1 and 2 stand as prerequisites?

[2020-10-20 23:00] james-bebbington commented on #1892
The context for https://github.com/open-telemetry/opentelemetry-collector/issues/1081 is that no-one is particularly happy with the current structure of the `filterset` component. It's a little complicated to use. @bogdandrutu wanted us to simplify this component before we make it external and start using it more broadly. Once we do make `filterset` external, we won't make any further breaking cha

[2020-10-20 23:34] nilebox commented on #1909
@rakyll @oktocat feel free to submit a PR with a fix and I can help with reviewing it.

[2020-10-21 04:37] albertteoh opened #1991 "Documentation: Add supported telemetry types matrix"
## Important (read before submitting)

**Is your feature request related to a problem? Please describe.**
Currently, to understand what telemetry types are supported by receivers, processors and exporters (at least for those new to OpenTelemetry) one needs to read each README from each implementation. For example, one would need to click into [Attributes Processor](https://github.com/open-telemetr

[2020-10-21 07:46] nilebox commented on #1909
Is this issue specific to Kubernetes Endpoint objects, as in the config example (`role: endpoint`), or does it also affect Pod / Service / other Kubernetes targets?

[2020-10-21 08:00] Vemmy124 commented on #1985
Created PR with test which panics

[2020-10-21 16:23] JasonXZLiu commented on #1909
@nilebox This issue is affecting only Pods and Endpoints. (I don't believe the rollout restart changes the configurations of any other Kubernetes targets).

[2020-10-21 16:55] tigrannajaryan commented on #1892
@james-bebbington https://github.com/open-telemetry/opentelemetry-collector/issues/1081#issuecomment-707450870 proposes breaking changes to the configuration. I would not want to do that and the barrier to such changes is quite high. I would like to look carefully into that and understand if we really want it.

In the meantime I think there is a much simpler solution to this particular issue which

[2020-10-21 21:55] yurishkuro opened #1995 "Automated way to expose configuration schema"
## Important (read before submitting)

**Is your feature request related to a problem? Please describe.**

Unless I am missing something, there is no authoritative way to generate documentation for the schema of configuration file. There is some manually maintained doc pages with examples, but the authoritative source is the source code of the config structs (e.g. [pprof extension](https://github.

[2020-10-21 22:02] jrcamp commented on #1995
Definitely. We do this in the SignalFx agent by using the comment associated with the config property along with Go tags for things like default and validation. See https://github.com/signalfx/signalfx-agent/blob/master/pkg/monitors/ntp/ntp.go#L30 for example. I think a similar approach would work here.

[2020-10-21 22:24] yurishkuro commented on #1995
@jrcamp +1, struct tags can be a viable way to provide some metadata, although including long description into the tags is pretty inconvenient, those are better as field comments. Did you implement some utility that can extract the schema from structs? To read both tags and comments the tool would be similar to godoc, working off the AST.

[2020-10-22 14:57] tigrannajaryan commented on #1898
Closing since bugs are about groupbytrace processor which is no longer in this repo.

[2020-10-22 14:57] #1898 closed

[2020-10-22 15:15] amanbrar1999 commented on #1892
Update from the most recent Collector SIG meeting:

Solution 3 is likely the best option to proceed forward in this issue due to how labels are handled in the Prometheus Remote Write Exporter. The `metricstransformprocessor` changes proposed by James are still very useful and can be added however I will be shifting my attention to the `resourceprocessor` (which should not require any changes as fu

[2020-10-22 15:45] isgoutham commented on #1935
@tigrannajaryan gentle reminder

[2020-10-22 16:56] tigrannajaryan commented on #1985
@Vemmy124 thanks a lot for the repro. Since you went this far are you perhaps also able provide the fix for the bug?

[2020-10-22 18:28] alolita commented on #1255
Hi @tigrannajaryan Support of the summary metric type in OTLP is essential for supporting Prometheus metric types. The Prometheus pipeline is not complete without this support. Currently the default OTLP behavior is to just drop the metric if it is a summary type and the information gets lost at this point. See https://github.com/open-telemetry/opentelemetry-collector/blob/master/translator/intern

[2020-10-22 18:39] JasonXZLiu opened #1999 "PrometheusReceiver Incorrectly Unmarshals Replacement Relabel Configs"
## Describe the bug

The PrometheusReceiver is unable to handle the *replacement* label of relabel_configs in the [Prometheus configurations](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#relabel_config). The unmarshaller is not able to parse the `${1}${2}` that we use in the replacement value. Instead, it immediately drops the sequence after `$`.

This limits certain r

[2020-10-22 19:00] jmacd commented on #1255
I think we can solve this. We do not have a single data point type that represents summaries, but we can generate several gauges and counters to represent a summary so that **the Prometheus remote-write output data will be correct**. Prometheus uses a metric name suffix ("_count" an integer, "_sum" a floating point) for two counters, and it uses a gauge for point each quantile (e.g., "quantile=0.5

[2020-10-22 19:19] JasonXZLiu commented on #1999
This seems to be occurring as [Viper](https://github.com/spf13/viper/blob/master/viper.go) (our Yaml parser) seems to be replacing the `${1}` as environment variables (instead of being left in the string).

[2020-10-22 23:38] mtwo commented on #1255
Following up from the specs SIG meeting. @alolita from AWS will create a proposal for this.

[2020-10-23 00:07] bogdandrutu commented on #1995
@jrcamp can we start configuring this for one of the component, and see how will look like?

[2020-10-23 00:08] bogdandrutu commented on #1985
@tigrannajaryan I would like to discuss the solution here, because I think it implies a lot of work. Already started to think about this.

[2020-10-23 00:21] bogdandrutu commented on #1985
One option that I have in mind and looking to do is actually to change all fields to be not-nullable, which will avoid this case.

[2020-10-23 08:26] nabam commented on #1422
I'm happy to help with implementing that functionality. Is someone already working on it? Should such processor belong to core repository or contrib repository?

[2020-10-23 09:51] Vemmy124 commented on #1985
BTW, what was the purpose of nullable fields? I don't really understand. There are comments everywhere like "panics on non-initialized structure" and it's very hard to understand semantical difference between nil and zero-initialized structure

[2020-10-23 11:45] jpkrohling commented on #1927
@tigrannajaryan could you please move this to -contrib? I'm working on it right now.

[2020-10-23 11:51] jpkrohling commented on #1923
This one should also be moved to -contrib, please.

[2020-10-23 11:54] jpkrohling commented on #1923
Actually, this should be closed, as it's a duplicate of #1927. The error in the test log isn't unexpected, it's actually part of the test:

[code]

If we scroll up the test logs from the link in the issue description, you'll see this:

[code]

So, the actual action to take on this issue here is to enable back the test :-)

[2020-10-23 17:14] #1923 closed

[2020-10-23 17:14] #1927 closed

[2020-10-23 19:56] bogdandrutu commented on #1985
That is how protobuf by default generates repeated fields (slices), as a slice to pointer of objects. I think this is historical because iterating with range over a slice of objects (not pointers) was slow (it may still be, not sure if it was fixed) because `for _, obj := range slice{}` will copy the object.

Here is a proposal that includes your test: https://github.com/open-telemetry/opentelemet

[2020-10-23 20:10] bogdandrutu commented on #1985
We modeled a bit too much on the proto generated code to avoid allocating nil objects. But I think we can make all the objects not nullable and remove that confusion

[2020-10-24 20:03] johanbrandhorst commented on #560
Is it possible to drop spans without setting any attribute/span mutations? I tried the following and it errors:
[code]

The error is:
[code]

Am I doing something wrong? My hope is to drop these traces/spans altogether.

[2020-10-24 20:05] alolita commented on #1422
Hi @nabam We (@alolita @amanbrar1999 @JasonXZLiu) are working on this. You're welcome to code review and provide feedback when we submit a PR.

[2020-10-26 09:08] Vemmy124 commented on #1985
SGTM, would you like me to provide PR for that or we're still trying to agree on the idea?

[2020-10-26 15:25] tigrannajaryan commented on #1255
@alolita as per @mtwo 's comment I assigned this to you.

[2020-10-26 15:48] tigrannajaryan commented on #1892
@jamcd and @bogdandrutu what do you think? We also have the exact same issue when exporting from Otel metric SDKs to Prometheus, so the solution preferably needs to be the same in SDKs and in the Collector.

[2020-10-26 16:08] tigrannajaryan commented on #1935
Sounds good to me. Doesn't have to be homogeneous, we can support heterogeneous arrays too.

[2020-10-26 19:16] amanbrar1999 opened #2008 "Logging Exporter Histogram Bucket Labels Do Not Increment"
**Describe the bug**
Bucket labels should increment to conform with the Explicit Bound labels

**Steps to reproduce**
Any usage of logging exporter with histograms should produce this

**What did you expect to see?**
<pre>
HistogramDataPoints #0
Data point labels:
     -> Namespace: rpc-app
     -> Service: rpc-app-service
     -> app: rpc-app
     -> container_name: rpc-app-cont
     -> kubernete

[2020-10-26 22:04] bogdandrutu commented on #2008
This is fixed now

[2020-10-26 22:04] #2008 closed

[2020-10-26 23:03] JasonXZLiu commented on #1999
Turns out that support for escaping the `$` was added in a previous PR. We can escape `$` with `$$` so the replacement value should have looked like `$${1}://$${2}$${3}`. This fixed my configuration.

The escaping possibilities are here: https://github.com/open-telemetry/opentelemetry-collector/blob/master/config/config.go#L674-L685

[2020-10-26 23:04] #1999 closed

[2020-10-27 05:41] isgoutham commented on #1935
Thank you @tigrannajaryan

yes we can support heterogeneous arrays. I was under the impression that a single key can carry homogeneous values (like http.url with only string values).

if everything is fine, could you please review/approve? few of our cases are have been long ceased for this change

[2020-10-27 05:48] alolita commented on #1255
@tigrannajaryan Will follow up with an implementation proposal shortly.

[2020-10-27 09:20] chamilad commented on #1655
@tigrannajaryan Sorry about the delayed response. But I couldn't attend to this. It looks like the load tests for OTLP has been added by commits ec36a15e and 3f967434.

[2020-10-27 10:56] jpkrohling opened #2010 "Move the tail-based sampling to contrib"
As discussed on Gitter with @tigrannajaryan, we are moving the tail-based sampling processor to contrib, as other components that are critical to it are already there, such as the `groupbytrace` processor and the future `loadbalancing` exporter. This issue is to track this move.

[2020-10-27 12:50] tigrannajaryan commented on #1655
Done.

[2020-10-27 12:50] #1655 closed

[2020-10-27 13:23] tigrannajaryan commented on #1935
@isgoutham I misunderstood your proposal initially.

You are suggesting that when a list of values is specified in the configuration of the `attributes` processor then it should match an attribute with a value that is equal to any of the values listed in the config. In other words this is a search of an attribute value in the array of values specified in the config.

So, for example let's say we h

[2020-10-27 13:54] tigrannajaryan commented on #1935
One more alternate that works today is to use regexp with alternates:
[code]

[2020-10-27 15:15] tigrannajaryan opened #2013 "Usability: OTLP/HTTP exporter silently fails when it cannot send traces"
When the exporter cannot send the traces (for example when the endpoint is configured incorrectly) we need some indication that something is wrong. It would be useful to output rate-limited error log.

This probably needs to be implemented generally for queued-retry, since otlphttpexporter appears to already return the correct error.

[2020-10-27 15:49] nabam commented on #1422
@alolita that's great! It's going to be very useful for streaming telemetry from AWS Lambdas. Do you have any time estimates for that? I want to understand if we have to build some temporary custom solution while  you are working in it

[2020-10-27 16:05] tigrannajaryan commented on #2013
--- FAIL: Test_carbonreceiver_EndToEnd (0.00s)
    --- FAIL: Test_carbonreceiver_EndToEnd/default_config_udp (0.00s)
        receiver_test.go:216:
            	Error Trace:	receiver_test.go:216
            	Error:      	Received unexpected error:
            	            	listen udp 127.0.0.1:50248: bind: An attempt was made to access a socket in a way forbidden by its access permissions.

[2020-10-27 16:06] tigrannajaryan commented on #2013
@pjanotti will you be able to look into this?

[2020-10-27 16:32] jpkrohling opened #2014 "Add "IsEmpty" to TraceID"
Context: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/1377#discussion_r512548225

For better readability and context, the TraceID should have a `IsEmpty`, so that code like `traceID.Bytes() != nil` can be related to `!traceID.IsEmpty()`. Using `traceID.IsValid()` does not directly relate (semantically) to the old check.

[2020-10-27 16:35] bogdandrutu commented on #2014
Just to clarify `!traceID.IsEmpty()` is equivalent with `traceID.IsValid()` as it is implemented right now, it is just a name change you are suggeting.

[2020-10-27 16:40] jpkrohling commented on #2014
Right, and that exemplifies my point: without looking at the code, they could actually mean something different ;-)

[2020-10-27 18:36] jrcamp opened #2015 "Validate components in a consistent way"
(Requested by @bogdandrutu in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/1332#discussion_r511019737)

**Is your feature request related to a problem? Please describe.**
Components do not validate config in a consistent way. Some are pretty thorough while others are minimal to none.

**Describe the solution you'd like**
1. Have a way for configs to validate itself
   may

[2020-10-27 18:40] jrcamp commented on #1995
I've filed a separate issue #2015 for config validation. Could have some impact on this but don't think it blocks anything, just something to be aware of.

[2020-10-27 18:42] bogdandrutu commented on #2015
I like it, I would start with the first point, having a func on the config interface to "validate" config is a good starting point. Then we can start using the ozzo library as you suggested to implement validation.

[2020-10-27 18:50] yurishkuro commented on #2015
Have you considered using proto definitions for configs, with annotations for validation?

[2020-10-27 18:59] jrcamp commented on #2015
What would be the advantage of that over native Go structs + tags? Unless we're going to support languages other than Go in the collector (which could be interesting but feels pretty unlikely any time soon) I'm not sure I see the benefit.

[2020-10-27 19:22] yurishkuro commented on #2015
Having proper schema for configs in one place is valuable in itself, it serves as both documentation and an API. It gives users the ability to generate & validate the configs, e.g. via mechanisms like Starlark, using many existing tools in the Protobuf ecosystem.

[2020-10-27 20:05] jpkrohling opened #2018 "Retry link checking on network failures"
The CI currently checks for links by going over the network to check if the destination exists. The problem is that the network isn't reliable ([fallacy 1](https://en.wikipedia.org/wiki/Fallacies_of_distributed_computing)).

Failure:
[code]

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector/4166/workflows/f4d8eb48-9c89-4032-b08e-b7fbba3da81f/jobs/47015

[2020-10-28 04:55] asldevi commented on #1935
looks like regexp support for attribute processor is [added in v0.13.0](https://github.com/open-telemetry/opentelemetry-collector/commit/5a487e40b59dca9798e63b2cf24a8dec311d6077). Thanks for your pointer @tigrannajaryan

[2020-10-28 06:39] isgoutham commented on #1935
@tigrannajaryan thanks a ton for very neat and elaborative explaination.
Tried with below config, and it's working as expected. Can close the issue & PR.
`attributes/priority_sampling:
    include:
      match_type: regexp
      attributes:
        - key: http.url
          value: http://productcatalogservice/GetProducts%7Chttp://recommendationservice/GetRecommendations%7Chttp://cartservice/GetCar

[2020-10-28 06:44] isgoutham commented on #1935
Which approach would you suggest for these complex span attributes ?

under `match_type: expr` or under `match_type: regex` ?

[2020-10-28 13:45] tigrannajaryan commented on #1935
I am not sure I understand the question. Which complex attributes?

[2020-10-28 15:20] isgoutham commented on #1935
Multiple values under a key.

Asking about this
- _Another possibility would be to support yet another match_type that allows array element searches (but my preference would be to see how we can fit this into match_type: expr)_

[2020-10-28 19:02] #2010 closed

[2020-10-28 22:03] jrcamp opened #2029 "Remove host.hostname usage which was removed from spec"
host.hostname was removed from semantic conventions in https://github.com/open-telemetry/opentelemetry-specification/pull/838. We should remove usage throughout and use host.name instead.

[2020-10-28 22:07] #2013 closed

[2020-10-28 22:11] #1975 closed

[2020-10-28 22:19] owais opened #2030 "Bug report for failed CircleCI build (job: loadtest)"
Auto-generated report for `loadtest` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/47660

#### Test Failures
-  TestMetric10kDPS
-  TestMetric10kDPS/OTLP

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-10-29 00:12] #1977 closed

[2020-10-29 19:26] owais opened #2033 "TestScrape/Validate_Start_Time failed"
Auto-generated report for `test` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/48157

#### Test Failures
-  [build failed]
-  [build failed]
-  [build failed]
-  [build failed]
-  [build failed]
-  [build failed]

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more inf

[2020-10-29 19:27] owais commented on #1989
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/48151

[2020-10-29 21:31] amanbrar1999 commented on #1892
Another update after more discussions from Metrics SIG:

A generic component is being designed for conversion of resource attributes to labels in exporters: https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/1359

This still does not solve my use case, the core issue here is that Prometheus Remote Write Exporter takes labels starting with "\_\_" and appends "key" infront in o

[2020-10-29 21:55] james-bebbington opened #2036 "Extend receiverhelper Scraping library"
To resolve https://github.com/open-telemetry/opentelemetry-collector/issues/934, we created a library to simplify creating receiver components that "scrape" data, see scraper & scraper controller in: https://github.com/open-telemetry/opentelemetry-collector/tree/master/receiver/receiverhelper

After applying this library to the hostmetrics receiver, my thoughts were that we could make this library

[2020-10-29 22:01] jrcamp commented on #1989
@pmcollins ptal

[code]

[2020-10-29 23:39] jeffreywang1 opened #2037 "Otlphttp Exporter Configuration Does Not Work"
**Describe the bug**
Cannot seem to get otlphttp working while following README in [otlphttpexporter](https://github.com/open-telemetry/opentelemetry-collector/tree/master/exporter/otlphttpexporter).

**Steps to reproduce**
Defined configs below following the README via a Docker container, exporters portion of config was similar to this:
[code]

**What did you expect to see?**
Expected to see the

[2020-10-30 00:25] tigrannajaryan commented on #2037
OTLP/HTTP exporter is not available in 0.13.0. It is not yet released. Try master build.

[2020-10-30 00:25] #2037 closed

[2020-10-30 12:47] PatrikSteuer commented on #1150
Is there ongoing work to provide a remote write receiver as well? This would allow prometheus servers to push metrics to a remote collector.

[2020-10-30 14:24] pmcollins commented on #1989
Looks like this bug was fixed with this change: https://github.com/open-telemetry/opentelemetry-collector/commit/77f3e6d85f569e1b5cd6f635a75eaf6244e20d94

[2020-10-30 18:04] #1888 closed

[2020-10-30 18:48] amanbrar1999 opened #2040 "Issue: Prometheus Remote Write Histograms not showing as expected"
**Description of Bug**
In order to verify functionality of the Prometheus pipeline within the OTel Collector (ie. Prometheus Receiver + Prometheus Remote Write Exporter) I set up a sample app called “rpc” and attempted scraping metrics and visualizing them in Grafana using both the OTel Collector and a regular Prometheus server. Here are the results:

Output in Grafana from OTel Collector with Pro

[2020-10-30 19:09] tigrannajaryan opened #2041 "hostmetricsreceiver/internal/scraper/diskscraper: TestScrapeMetrics consistently fails on Mac"
Output:
[code]

[2020-10-30 19:10] tigrannajaryan commented on #2041
@james-bebbington can you have a look, please?

[2020-10-30 19:57] owais commented on #1989
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/48476

[2020-10-30 20:20] jmacd commented on #1892
Solution 2 above sounds good to me, as a dead-simple solution to the problem at hand. All the other processor discussions above look like more-complicated ways of accomplishing this very simple thing needed for Prometheus remote-write.

[2020-10-30 20:22] jmacd commented on #1913
This has been discussed in the Metrics SIG and we have agreed that a Summary data point should be added in the next release of OTLP. The protocol change is here: https://github.com/open-telemetry/opentelemetry-proto/pull/227

I do not believe we need to add both integer- and floating-point forms of this data point. I would prefer to see that we remove OpenCensus data format where possible, but you

[2020-10-30 20:24] jmacd commented on #1909
The Prometheus receiver is considered high-value by many participants in the OpenTelemetry metrics community. I suspect someone will pick this up soon, and I am happy to coordinate and discuss technical details. One thing also missing from this receiver is the Prometheus `up` semantic convention, see the associated spec issue: https://github.com/open-telemetry/opentelemetry-specification/pull/1102

[2020-10-30 20:25] jmacd commented on #1909
@alolita ^^^

[2020-10-30 20:27] jmacd commented on #1814
@djjayeeta I am also interested in this question. I don't know the answer, but I'm looking for people to help make OTel collectors observable.  We expect to be able to direct an OTLP stream of spans, metrics, and logs describing the collector itself to an endpoint for observing collectors that are part of an observability infrastructure.

[2020-10-30 20:28] jmacd commented on #1814
@djjayeeta You may want to ask in https://gitter.im/open-telemetry/opentelemetry-service

[2020-10-30 20:28] JasonXZLiu commented on #1913
Yes, sorry this proposal was originally created before the other two in OTel spec. I'm currently working on a PR to implement the OC->OTLP conversion and generate the proper summary structs in the Collector (based on the proto change that you referred to above). Would love your feedback on the PR when it's up!

p.s. If it's possible, would you be able to assign this issue to me? Thank you!

[2020-10-30 20:41] jmacd commented on #1774
@nilebox regarding your comment https://github.com/open-telemetry/opentelemetry-collector/issues/1774#issuecomment-696400632, I agree that this issue could be addressed by additional relabeling inside the Prometheus receiver config.

I'm not exactly sure what a Prometheus server will do in this situation. Shouldn't the `job` and `instance` labels keep these timeseries distinct without an explicit

[2020-10-30 21:50] JasonXZLiu commented on #1909
@jmacd We have been working on this, but I'm still trying to figure out what exactly is causing the bug. Would love some help/guidance if you have the time.

[2020-10-30 23:08] dgrozenok opened #2043 "Jaeger exporter does not generate processes for each peer.service"
**Describe the bug**
JaegerExport does not generate Jaeger processes for separate peer.service attributes. As a result in the Jaeger UI all the spans named from a single service.

**Steps to reproduce**
- Clone the repository https://github.com/dgrozenok/OtlpDemo
- Run `docker-compose up`
- Start the solution
- Navigate to https://localhost:5001/WeatherForecast
- Open Jaeger and see that both Web

[2020-10-30 23:21] nilebox commented on #1774
@jmacd This is a great point.
Apparently job and instance labels are used for creating node and resource in the OC model: https://github.com/open-telemetry/opentelemetry-collector/blob/99ea2df3c7ae9f6a24a982d897678cd5d564cffa/receiver/prometheusreceiver/internal/transaction.go#L220

From looking at this code though, it seems that 2 pods will have equal OC resources but different OC nodes, since th

[2020-10-31 00:39] alolita commented on #1909
@jmacd we (@JasonXZLiu @alolita) will take a look at this.

[2020-10-31 00:41] alolita commented on #1892
@jmacd we're implementing -- Solution 2. have these double-underscore labels injected through exporter configuration, after all the other pipeline stages that may drop double-underscores are evaluated

@amanbrar1999 will file a PR shortly.

[2020-10-31 00:45] alolita commented on #1913
@jmacd @bogdandrutu @tigrannajaryan can you please assign @JasonXZLiu to this issue - we will file a PR shortly.

[2020-10-31 00:58] amanbrar1999 commented on #1733
I will pick up this issue

-cc @alolita @bogdandrutu @jmacd @tigrannajaryan

[2020-10-31 13:12] Vemmy124 opened #2045 "Configurable jaegerreceiver server parameters"
**Is your feature request related to a problem? Please describe.**
As I can see, these constants https://github.com/open-telemetry/opentelemetry-collector/blob/1d38caf3b757b4d2f3db10ce9dc04187f170705f/receiver/jaegerreceiver/trace_receiver.go#L96-L98 cannot be configured and server is created with default parameters. If I'm not right - correct me please and to my mind it's the reason to add inform

[2020-10-31 13:25] Vemmy124 commented on #2045
I assume, that the problem is wider as long as there are many other different configurable parameters for Jaeger receiver

[2020-10-31 21:34] james-bebbington opened #2046 "Improve Partial Scrape Error interface"
This issue refers to improving the interface for [PartialScrapeError](https://github.com/open-telemetry/opentelemetry-collector/blob/07d7a1f9f4613ec8f896429ee4d6af2ea4556018/consumer/consumererror/partialscrapeerror.go) & [receivererror.CombineScrapeErrors](https://github.com/open-telemetry/opentelemetry-collector/blob/07d7a1f9f4613ec8f896429ee4d6af2ea4556018/receiver/receiverhelper/errors.go).

A

[2020-11-01 00:44] #918 closed

[2020-11-02 12:30] ekarlso commented on #1909
:+1:  for the issue, we are trying to use this but we are getting bit by the same error.

[2020-11-02 15:56] amanbrar1999 commented on #2040
I've discovered the issue here is that OTLP Histograms are regular histograms, but Prometheus expects cumulative histograms: https://prometheus.io/docs/concepts/metric_types/#histogram. This simply requires some changes in the Prometheus Remote Write Exporter to make the histogram cumulative when converting from OTLP -> Prometheus format

[2020-11-02 17:29] amanbrar1999 commented on #1422
I believe that the use cases for this issue have since been solved by changes to the metrics proto, such as the addition of cumulative aggregation temporality. I could be wrong, does anyone know any specific use cases for this processor?
@tigrannajaryan @bogdandrutu @nabam

[2020-11-02 18:38] JasonXZLiu commented on #1909
For the `Discovery receiver's channel was full so will retry the next cycle` issue, it seems like it is related to the resource memory allocated to the OTel Collector in the Kubernetes deployment. Prometheus has similar errors which can be seen [here](https://github.com/prometheus/prometheus/issues/5205). Essentially, the server is being overloaded.

Increasing the memory should help alleviate thi

[2020-11-02 20:26] hossain-rayhan opened #2050 "[filterprocessor] filter metrics using resource attributes"
Current `filter` processor can include/exclude metrics based on metric_name field. However, It would be good if we can filter metrics using metric_name and resource attributes together. For example, we have `container.cpu.utilized` metrics and it comes from three different containers. Customer cares about metrics from only one container and want to exclude other two. All the metrics have a resourc

[2020-11-02 20:33] #2041 closed

[2020-11-03 00:51] amanbrar1999 commented on #1255
@jmacd Resolving the summary part of this issue is currently happening, but does the issue of counter data being reported as gauge still exist?

[2020-11-03 02:21] kowshikn opened #2054 "OTLP exporter doesn't load custom CA certs"
**Describe the bug**
OTLP exporter doesn't load custom CA certs. This is happening only in v0.12.0 onwards. The

**Steps to reproduce**
[tls.zip](https://github.com/open-telemetry/opentelemetry-collector/files/5478916/tls.zip) Attached zip uses Jaeger-Hotrod example app to otel-collector-1 `v0.12.0` exports data to secure-otelcol `v0.13.0.`  The communication between the two otel collectors is sec

[2020-11-03 06:11] 0902horn commented on #1909
We are seeing the same problem too.
Could we check the healthiness of prometheus receiver in health check extension? At least, otel-collector may recover from this issue automatically when the liveness probe fails if it is deployed in k8s.
Thanks.

[2020-11-03 06:46] ekarlso commented on #1909
It doesnt really seem to be anything related to the resources allocated to the Collector at least for my cause because the Operator doesn't actually set any resource limits at all.

[2020-11-03 11:52] liamawhite commented on #1909
@0902horn we have a control loop that greps the logs for the correct message then kills the pod. Horrible hack whilst we're waiting on a fix.

[2020-11-03 16:06] codeboten commented on #1962
Should this issue be closed now?

[2020-11-03 17:13] #2040 closed

[2020-11-03 18:07] owais commented on #2033
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/48988

#### Test Failures
-  TestScrape
-  TestScrape/Validate_Start_Time

[2020-11-03 19:33] tigrannajaryan commented on #2033
[code]

[2020-11-03 19:36] tigrannajaryan commented on #2033
@james-bebbington I assigned this one to you too since you are the author. Please have a look.

[2020-11-03 22:52] amanbrar1999 commented on #1892
External labels config has been added to prometheus remote write exporter and hence this issue is now resolved

[2020-11-03 22:52] #1892 closed

[2020-11-03 23:09] amanbrar1999 commented on #1733
This issue should be resolved from my latest PR

[2020-11-04 10:00] jainbhavya65 opened #2056 "OpenTelemetry should a Support for stackdriver tracing as exporter"
I try to export traces to stackdriver using opentelemetry collector but its say i don't have a support of stackdriver exporter any idea. when its support will come?
 Thank you

[2020-11-04 11:14] sumo-drosiek opened #2057 "Add support for partials in exporter helpers (metrics and logs)"
**Is your feature request related to a problem? Please describe.**
 - [PartialError](https://github.com/open-telemetry/opentelemetry-collector/blob/de104da4f136c8798971d66eecdc60e0fb339743/consumer/consumererror/partialerror.go#L21-L24) doesn't support the logs and metrics.
 - Helpers for [metrics](https://github.com/open-telemetry/opentelemetry-collector/blob/master/exporter/exporterhelper/metric

[2020-11-04 11:14] sumo-drosiek commented on #2057
I'm going to prepare PR for that as I don't see any similar issue/PR

[2020-11-04 11:47] dominthomas opened #2058 "Missing selector label for 'app: opentelemetry'"
https://github.com/open-telemetry/opentelemetry-collector/blob/de104da4f136c8798971d66eecdc60e0fb339743/examples/k8s/otel-config.yaml#L173

[2020-11-04 15:23] #2057 closed

[2020-11-04 16:30] jpkrohling commented on #1952
I wanted to leave here another feature that got split into separate PRs and didn't help in getting speedy reviews:

Original single PR: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/1231

Broken down into:
https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/1348
https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/1349
https://github.co

[2020-11-04 19:25] bogdandrutu commented on #2056
@jainbhavya65 the support is offered as part of the contrib (extra vendor specific) binary. In core we only support open-source solutions.

See https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/master/exporter/stackdriverexporter it supports trace and metrics.

[2020-11-04 19:25] #2056 closed

[2020-11-04 20:40] flands opened #2061 "Misconfigured mTLS supportability issue and leads to Internal Server Error"
**Describe the bug**
When attempting to export over gRPC OTLP via mTLS to a destination not properly configured, client eventually receives Internal Server Error.

**Steps to reproduce**

Agent

[code]

Gateway (notice `tls_settings` is not configured for the receiver)
[code]

Curl the Agent with: `while (true); do curl -X POST localhost:9411/api/v2/spans -H'Content-Type: application/json' -d @tra

[2020-11-04 21:36] nilebox opened #2062 "Remove hyphens from opentelemetry-proto-gen package name"
**Is your feature request related to a problem? Please describe.**
1. Our internal tooling has linter rules prohibiting use of hyphens in Go package names, we currently have to add exception to suppress that check
2. While hyphens technically work in Go package names, the idiomatic style is to not have word delimiters at all, or have `_` as an exception:
  - https://stackoverflow.com/a/63446957

[2020-11-04 22:12] andrewcheelightstep commented on #1916
Hi folks. Just a quick check to see if there is a timeline with this fix since we are running into this as well.

[2020-11-04 23:59] andrewhsu commented on #1777
from the triage mtg today, sounds like there are separate issues tracking the bugs so closing this one

[2020-11-04 23:59] #1777 closed

[2020-11-05 00:00] bogdandrutu commented on #1920
Hello @kevincantu, I think this is working as intended, the Spans you see in the zpages are internal spans created by the collector tracing instrumentation and suppose to be used for debugging, the spans that you see in the logging exporter are incoming spans (spans received and flowing in our pipelines). So these two are different spans and different traces.

Please send a fix to the zpages CSS i

[2020-11-05 00:00] #1920 closed

[2020-11-05 00:05] Vemmy124 commented on #2045
Can we come up with a solution? This might involve making changes in Jaeger. With some approve I can start working on the PR

[2020-11-05 00:06] andrewhsu commented on #1733
from the issue triage session at the collector sig, looks like this is done so closing

[2020-11-05 00:06] #1733 closed

[2020-11-05 00:09] bogdandrutu commented on #1575
Keeping what we have.

[2020-11-05 00:09] #1575 closed

[2020-11-05 00:12] JasonXZLiu commented on #1913
Closing this issue as it's a duplicate of this bug (https://github.com/open-telemetry/opentelemetry-collector/issues/1638).

[2020-11-05 00:12] #1913 closed

[2020-11-05 00:15] bogdandrutu commented on #2045
@Vemmy124 I would suggest to start with offering configs for things that we control, then if anything is necessary we can work with Jaeger to offer that. Do you have one parameter in mind that you want to control?

[2020-11-05 00:29] bogdandrutu commented on #2050
@james-bebbington @jrcamp can you review this proposal and suggest where this functionality can live?

[2020-11-05 00:52] jrcamp commented on #2050
So metric name would be anded together with resource_attributes? ie

[code]

That seems fine to me. You could also consider enhancing the [expr match type](https://github.com/open-telemetry/opentelemetry-collector/tree/master/processor/filterprocessor#using-an-expr-match_type) if you wish to do more complicated logic but if it's just anding together that seems fairly simple.

[2020-11-05 01:04] hossain-rayhan commented on #2050
@jrcamp yea, you are right. I am just planning to anding `resource_attributes` with `metric_name`. I will start with the simple case first. Will keep the door open for further enhancement.

[2020-11-05 02:55] #1841 closed

[2020-11-05 05:52] rakyll opened #2067 "Allow user to register no exporter"
Requiring minimally an exporter is making development harder. The logs are extremely busy and makes it impossible to see the development-time println debugging statements. Please allow user to start the collector without any exporters.

[2020-11-05 07:23] Vemmy124 commented on #2045
@bogdandrutu There are 3 actually
[code]
And these settings should be separate for binary and compact thrift formats, so I suggest extending specified protocols in config. Seems to be easy
https://github.com/open-telemetry/opentelemetry-collector/blob/1d38caf3b757b4d2f3db10ce9dc04187f170705f/receiver/jaegerreceiver/config.go#L34

[2020-11-05 13:03] jpkrohling commented on #1965
Could you please provide more details about your setup? Apparently, you are using the Jaeger client with a Spring Boot application, and the error message you shared is an error message that would appear on Jaeger, not OpenTelemetry. I'm wondering where the OpenTelemetry Collector fits here: are you using it as an agent, with the Jaeger receivers? In any case, I'd need an example of your OpenTeleme

[2020-11-05 14:04] jpkrohling commented on #1965
I just tried it out here, and it seems to work fine:

1. get a Spring Boot application from https://start.spring.io/ , selecting "Spring Web" as dependency
1. add the `io.opentracing.contrib:opentracing-spring-jaeger-web-starter:3.2.2` dependency to `pom.xml`
1. start Jaeger (`podman run -p 16686:16686/tcp -p 14250:14250 jaegertracing/all-in-one:1.20.0`)
1. start the OpenTelemetry Collector with t

[2020-11-05 14:30] saikishore143 commented on #1965
Hey thanks the issue is resolved now after upgrading my dependencies and
connecting on port 6831.

On Thu, Nov 5, 2020, 19:34 Juraci Paixão Kröhling <notifications@github.com>
wrote:

[2020-11-05 16:10] andrewhsu commented on #440
from the triage mtg, looks like this need to be moved to contrib

[2020-11-05 17:34] amanbrar1999 commented on #1255
My understanding of this is that counter data being reported as gauge is a direct consequence of prometheus exporter exporting delta metrics, when it currently only functions correctly when exporting cumulative metrics. This specific part of this issue should be partially resolved when this spec issue is resolved: https://github.com/open-telemetry/opentelemetry-specification/issues/731

It will on

[2020-11-05 17:49] linjmeyer opened #2070 "Include service name label in span receiver/exporter metrics"
**Is your feature request related to a problem? Please describe.**
When collecting traces/spans there are several metrics created (e.g. `exporter_send_failed_spans`).  These metrics do not include the span's service name.  Other collectors (e.g. Jaeger Collector) add this label, which is very helpful when determining which services are sending the most spans/traces.

**Describe the solution you'd

[2020-11-05 18:04] pmcollins commented on #1989
@jrcamp can this be closed? The second failed build appears to be unrelated.

[2020-11-05 18:26] JasonXZLiu commented on #1909
So we've done some digging, and it looks like we found the main problem:

We need to access the target metadata on the Collector side in order to access the metric labels. We're currently looking into some solutions like adding a non-blocking API on Prometheus' side to access this metadata.

[2020-11-05 18:55] #1989 closed

[2020-11-05 22:06] rakyll commented on #1909
I've been able to reproduce this issue consistently on EKS but wanted to give it try on minikube to fasten my debugging cycle and I can't reproduce it anymore. The scraping errors I see are consistently coming from kube-system namespace. Not sure if it's consistent with the others' observation.

[2020-11-05 22:08] oktocat commented on #1909
We've consistently observed it ok EKS as well. However, not from `kube-system` ns, but application ns.

[2020-11-05 22:32] liamawhite commented on #1909
Anecdotally, I found it harder to trigger on GKE (but still possible) than EKS.

[2020-11-06 00:16] andrewhsu commented on #1255
from the metrics sig mtg today, discussed this issue and decided to close

[2020-11-06 00:16] #1255 closed

[2020-11-06 16:55] andrewhsu commented on #2070
from the triage mtg today, setting to p3 allowed for if this change does not affect perf

[2020-11-06 17:31] owais opened #2082 "Bug report for failed CircleCI build (job: test)"
Auto-generated report for `test` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/49855

#### Test Failures
-  TestQueuedRetry_StopWhileWaiting

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-11-06 17:32] owais commented on #2030
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/49880

#### Test Failures
-  TestIdleMode

[2020-11-06 19:09] JasonXZLiu commented on #1638
@tigrannajaryan Would you be able to assign this to me? Thank you!
I'll add the summary metric to the logging exporter so we can close this issue.

[2020-11-06 21:49] Vemmy124 commented on #2045
Yes, there is a problem for sure - the incoming traffic may be a lot more than default settings can allow. Moreover, socket buffer setting should also be configurable in case of spikes

[2020-11-07 02:59] vipragupta opened #2086 "panic while creating new base exporter"
**Describe the bug**
When creating a base exporter using [newBaseExporter](https://github.com/open-telemetry/opentelemetry-collector/blob/6c8a8967796c2c67f58ea4d6208187045383c463/exporter/exporterhelper/common.go#L168), when the Logger is not initialized, the code panics while creating logger.

Panic at: https://github.com/open-telemetry/opentelemetry-collector/blob/6c8a8967796c2c67f58ea4d62081870

[2020-11-09 01:27] rakyll commented on #1909
With #2089, I can observe it in kube-system and default namespaces but only for Kubernetes components, not for jobs I deployed:

[code]

default/kubernetes, kube-system namespace and collector's itself is not scrapeable.

API server endpoint needs to be enabled for private access. https://docs.aws.amazon.com/eks/latest/userguide/cluster-endpoint.html#cluster-endpoint-access-console. Other resource

[2020-11-09 15:14] owais commented on #2030
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/50475

#### Test Failures
-  TestTraceBallast1kSPSAddAttrs
-  TestTraceBallast1kSPSAddAttrs/100*50bytes

[2020-11-09 16:11] jpkrohling commented on #1121
@kbrockhoff, how do your `resources` settings for the deployment look like? I'll try to simulate this with another exporter, as I don't have an AWS account for testing this, so, would you be able to get me a series of pprof snapshots? Like, one every minute, if it takes a few minutes to reach this state (or one every hour). This way, I can see what's getting stuck in memory for your problem and co

[2020-11-09 16:27] JasonXZLiu commented on #1638
This issue is resolved (through PRs https://github.com/open-telemetry/opentelemetry-collector/pull/2048 and https://github.com/open-telemetry/opentelemetry-collector/pull/2084) and can be closed.

[2020-11-09 16:45] jpkrohling commented on #1121
I think this can be reproduced without Kubernetes, with a setup like this:

1. `podman run -p 14250:14250 -p 16686:16686 jaegertracing/all-in-one --memory.max-traces=1000`
1. `go run ./cmd/otelcol --config local/config.memlimit.yaml --mem-ballast-size-mib 192` (on github.com/open-telemetry/opentelemetry-collector)
1. `tracegen -duration 5m -otlp-insecure` ([tracegen from contrib](https://github.co

[2020-11-09 18:31] imccarten1 opened #2096 "GAUGE_DISTRIBUTION metric not exported"
**Describe the bug**
I was trying to use a custom receiver module to export some metrics converted from the opencensus-proto format with internaldata.OCSliceToMetrics. I discovered that it does not export metrics of type MetricDescriptor_GAUGE_DISTRIBUTION.

**Steps to reproduce**
Create a metric in opencensus-proto format of type MetricDescriptor_GAUGE_DISTRIBUTION and try to convert it using int

[2020-11-09 21:40] tigrannajaryan opened #2098 "Supportability: print own metrics in logs"
The Collector's own metrics are an important source of information for troubleshooting. Typically own metrics are scraped using a Prometheus receiver and send to a backend where they can be examined. However, this only works if the Collector's metric pipeline works and the backend is available. If this is not the case, which often happens when the Collector is misconfigured and cannot send metrics

[2020-11-09 22:26] Vemmy124 commented on #2045
@tigrannajaryan are we moving forward with that?

[2020-11-10 13:06] ZhengHe-MD commented on #1978
Same scenarios here. I believe these are pretty common cases in production, or is there any idea on how to get around this?

[2020-11-10 13:16] ZhengHe-MD commented on #1978
related to #558

[2020-11-10 14:05] tigrannajaryan commented on #2045
Yes, I think we can move forward, I'll review the PR.

[2020-11-10 14:18] nirsky opened #2100 "otlpreceiver http - send ok to client before running exporters"
Guess this is either a question or a feature request.

We're trying to use opentelemetry for tracing AWS lambda.
Using `otlpreceiver` over HTTP.

That means we have to wait for an Ok from the receiver before terminating the lambda execution (otherwise the span won't get sent).
Our client is node and we're achieving this by waiting for the [export callback](https://github.com/open-telemetry/opentel

[2020-11-10 14:33] #2033 closed

[2020-11-10 14:43] chris-smith-zocdoc opened #2101 "Custom authenticator logic"
**Is your feature request related to a problem? Please describe.**
I'd like to add custom authentication logic into our build of the collector, similar to how custom processors may be [registered](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/master/cmd/otelcontribcol/components.go#L146-L157)

The current auth module doesn't appear to support this at the moment.
https://gi

[2020-11-10 14:45] tigrannajaryan opened #2102 "Supportability: improve own logs"
The Collector's own logs are an important source of information for troubleshooting. In some cases own logs, available locally are the only available information for troubleshooting. Other source, such as own metrics require the Collector to be correctly configured to scrape itself, send the metrics to the backend and for the backend to be available. Even zPages, which are exposed locally by the C

[2020-11-10 16:09] jpkrohling commented on #2101
The original design for the auth was indeed to be a processor, but we switched that to be something that people add to the receivers, so that unauthorized requests wouldn't cause data to flow down the pipeline.

What I think we could do is to expose a registry. Your logic would be an extension that would register itself. Do you think that would work for your case?

[2020-11-10 16:10] chris-smith-zocdoc commented on #2101
Yeah that should work

[2020-11-10 18:38] tigrannajaryan opened #2106 "Use "console" encoding for own logs"
Contributes to https://github.com/open-telemetry/opentelemetry-collector/issues/2102

Make logs more human-readable locally: switch from "json" to "console" encoding even when "prod" logging configuration is selected (but keep Production zap Logger configuration for "prod" mode). This is still fairly well-defined format that can be unambiguously parse on the backend if needed.

[2020-11-10 19:17] bogdandrutu commented on #2100
@nirsky I can see this as an interesting use-case, but also comes with a problem. By sending ok immediately we may drop the data and the client may not know and may not be able to retry for example. But your use-case is valid and probably we should support it.

As a quick "solution" add the batching porcessor in the pipeline or enable sending_queues in the exporter that you use so the response is

[2020-11-10 19:36] #2106 closed

[2020-11-10 19:43] owais opened #2111 "Bug report for failed CircleCI build (job: windows-test)"
Auto-generated report for `windows-test` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/50976

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-11-10 21:32] #1082 closed

[2020-11-11 08:33] jpkrohling commented on #1121
@kbrockhoff, did you have a chance to get the requested info?

[2020-11-11 09:02] nirsky commented on #2100
@bogdandrutu Thanks for your response!
I understand the problem and don't think it should be the default behavior, but rather configurable in some way (maybe some header?).
In some cases like lambda, we prefer speed over data reliability.

I'll try the suggested solution and see if it helps, thanks!

[2020-11-11 11:52] iNikem opened #2115 ""Getting Started" link in README is broken"

[2020-11-11 13:42] tensorchen opened #2116 "Missing ReceiveLog measurement And otlp_log receiver wrong use of trace measurement"
**missing ReceiveLog measurement**

[code]

**otlp_log receiver wrong use of trace measurement**

[code]

[2020-11-11 17:07] andrewhsu commented on #2116
looks like associated PR that fixes this is merged

[2020-11-11 17:07] #2116 closed

[2020-11-11 17:15] jpkrohling commented on #2100
+1 for using batching for that

[2020-11-11 17:25] andrewhsu commented on #1909
talked about this at the collector sig mtg today and proposing to up the priority P1 since this issue is tightly coupled with metrics GA

[2020-11-11 17:51] hdj630 commented on #1909
I work with kohrapha@ on code analysis and testing, and find the potential root cause:

**Problem:**
When Prometheus targets get removed (instead of getting started), there is a race condition to cause a deadlock on mutex “[ScrapePool::mtx](https://github.com/prometheus/prometheus/blob/1195cc24e3c8b9af8aeafcfc46473f6486ca3f64/scrape/scrape.go#L187)”.
**How Does the Deadlock Happen:**
When a bunch

[2020-11-11 18:21] #2115 closed

[2020-11-11 19:46] fujin commented on #1591
Would very much love this feature! I am using cert-manager to provision certificates (via Kubernetes Secret) to my OpenTelemetry Collectors for the oltp receiver. We fortunately have an HPA on the deployment so pods are replaced frequently such that a certificate renewal is likely to be picked up.

[2020-11-12 02:59] flands commented on #1910
Hey folks -- any updates on this? I would like to argue this is a significant regression and something that needs to be addressed ASAP. From what I can tell, if you have an exporter destination that returns 500 or even 429 status code you basically have no visibility. Metrics look good, zpages look good, the only clue you get is a log message which does not align with metric and zpages data:

[cod

[2020-11-12 03:29] owais commented on #2082
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/51622

#### Test Failures
-  TestApplication_ReportError

[2020-11-12 03:32] flands commented on #2061
FYI -- further testing indicates this problem is not isolated mtls. Here is how to easily reproduce:

[code]

[2020-11-12 08:37] jpkrohling commented on #2102
Can we please discuss this before continuing? I'm not sure the first item in the list is a good move, especially without a heads-up to current users of the collector.

I think moving from structured JSON logs to tab-separated logs is a step back. People who want to have human-readable logs should be able to use the `dev` profile, whereas the vast majority of people could still use the JSON feature

[2020-11-12 08:53] jpkrohling opened #2129 "Request: repository for the OpenTelemetry Collector Builder"
The [OpenTelemetry Collector Builder](https://github.com/observatorium/opentelemetry-collector-builder) is a CLI tool that generates OpenTelemetry Collector binaries based on a manifest.  It has been incubating in another organization (`observatorium`) for a while. I believe it's stable enough by now and could be useful to a wider audience, so, I'd like to ask whether it would be in this community

[2020-11-12 09:42] jpkrohling commented on #2101
@chris-smith-zocdoc even though this is assigned to me, would you like to give this a try?

[2020-11-12 09:51] jpkrohling commented on #2111
From the build logs:

[code]

[2020-11-12 10:00] jpkrohling commented on #2111
No idea about Windows at all, but this seems to be caused by this:

https://github.com/docker/for-win/issues/3171

Using a fixed local port for the test seems to be a valid workaround.

[2020-11-12 15:51] owais opened #2133 "Bug report for failed CircleCI build (job: loadtest)"
Auto-generated report for `loadtest` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/51999

#### Test Failures
-  TestMetric10kDPS
-  TestMetric10kDPS/OTLP

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-11-12 18:26] owais commented on #2133
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/52068

#### Test Failures
-  TestMetric10kDPS
-  TestMetric10kDPS/OTLP

[2020-11-12 18:38] hdj630 commented on #1909
The PR of fix has been merged, and it works in our EKS test environment. @oktocat probably can verify whether the issue has been resolved.

[2020-11-12 20:01] #2045 closed

[2020-11-12 20:05] hossain-rayhan opened #2137 "[Guideline] what if I don't set startTime for cumulative metric datapoint"
We had a small discussion on todays Metrics SIG meeting. Adding here for better tracking.

It is recommended that for `IntSum()/ Cumulative` metrics, we should set the start time. So the open questions are-

[1] Do we want to make it a required field?
[2] What if I don't set the startTime in the receiver?
[3] What is a good value for this? Some receivers set the `receiver_start_time`. Does it soun

[2020-11-12 20:09] owais commented on #2111
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/52170

[2020-11-12 21:16] bogdandrutu commented on #2129
I think this should go to the community if a new repository is needed. Otherwise you may consider in contrib one cmd

[2020-11-12 21:18] bogdandrutu commented on #2100
@nirsky let me know how that went

[2020-11-12 21:19] bogdandrutu commented on #2098
A workaround is for user to go to the metrics page exposed by Prometheus. Why are logs better for this?

[2020-11-12 21:31] bogdandrutu commented on #2058
@dominthomas not sure I understand the issue, can you craft a small PR to fix this?

[2020-11-12 21:43] #1962 closed

[2020-11-12 21:45] bogdandrutu commented on #1802
I think this fixes the issue https://github.com/open-telemetry/opentelemetry-collector/pull/2035, feel free to re-open if that is not the case

[2020-11-12 21:45] #1802 closed

[2020-11-12 22:37] tigrannajaryan commented on #2098
Metrics values don't exist in Prometheus unless you scrape and collect them. Scarping metrics requires a working metric collection system which may not exist. Collector is an essential part of telemetry collection pipeline and its troubleshooting cannot solely rely on a functioning collection system. You need to be able to troubleshoot the debugger even if all of your telemetry collection is broke

[2020-11-12 22:41] Vemmy124 commented on #2086
Let me do PR with this little check. Actually I don't even know in which case this could be crucial, but nevertheless...

[2020-11-12 22:43] tigrannajaryan commented on #2098
If you refer to the Prometheus receiver page exposed by the Collector itself then I already addressed that in the PR: Prometheus receiver page is only available when the Collector is running, which is fine for live debugging. Logs outlive the Collector process and can be used for postmortem troubleshooting.

[2020-11-12 23:17] tigrannajaryan commented on #2100
It is configurable in the Collector. You can use a batch processor or just use an exporter with enabled queue. If a particular exporter does not have the queue enabled then that would be good to fix. What exporter do you use?

It could be a receiver config option too but given that batch processor is recommended by default anyway I am not sure we need another approach.

[2020-11-12 23:40] Vemmy124 commented on #2086
I feel like nil logger should be interpreted as an error in exported methods but not no-op logger

[2020-11-13 02:17] rakyll opened #2142 "Allow contributors to see the CI logs"
Currently, it's not possible to the CI logs as a contributor not invited into the organization. This situation makes it slightly harder to contribute and is wasting the reviewer's time because they need to call out for the problems. Please allow contributors to see the CI logs so the contributors can take action as soon as something fails.

[2020-11-13 03:51] jrcamp opened #2143 "Prevent unsupported host metric scrapers from being used"
cpu and disk scrapers don't work on darwin in our builds due to cgo being disabled. This was documented in #2038 and an error is now logged to make it more obvious why this doesn't work. Would be nice to error at load time instead.

[2020-11-13 08:17] jpkrohling commented on #1121
@tigrannajaryan: looking at the original PR that introduced this processor (https://github.com/open-telemetry/opentelemetry-collector/pull/498), I see that the case where exporters are unavailable is explicitly listed there as a motivation for using this processor. Given that this is exactly the case here, it appears that either the design for this processor should be changed or this processor sho

[2020-11-13 08:57] Vemmy124 commented on #2086
@vipragupta can you please verify, that your problem is solved and we can close the issue. The solution with NewNop() would be a way to hide the possible problems if you accidentally passed nil logger. That is why the error is thrown

[2020-11-13 09:04] jpkrohling commented on #2129
Opened an issue there:  open-telemetry/community#568

[2020-11-13 09:04] #2129 closed

[2020-11-13 11:29] oktocat commented on #1909
@hdj630 give me a few days to test and verify :+1:

[2020-11-13 13:35] #1724 closed

[2020-11-13 14:11] owais commented on #2111
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/52778

[2020-11-13 16:28] tigrannajaryan commented on #1121
@jpkrohling If the memory limiter stops the new data from being added why is it not effective at limiting the data? Is new data being created elsewhere?

They should be eventually evicted after the maximum number of retries is reached. It may take a while. In the meantime no new data should be added so I don't understand why the limiter is not effective.

We definitely need to fix it. For now I do

[2020-11-13 16:43] jpkrohling commented on #1121
It does stop, but only after the process has exploded in memory usage way above the limit set in the memory limiter. People using the memory-limiter setting the limit to, say, 1GiB would assume the process won't ever go over ~1GiB, but it can actually go over double of that very easily, causing their watchdog processes (like Kubernetes requests/limits) to kill the process.

[2020-11-13 16:43] andrewhsu commented on #2086
looks like PR #2141 was merged so closing this issue. feel free to reopen if original issue is not addressed.

[2020-11-13 16:43] #2086 closed

[2020-11-13 16:49] andrewhsu commented on #2142
from the issue triage mtg today, discussed this and seems like this can be resolved by moving to github actions. related issue: #1234

[2020-11-13 16:49] bogdandrutu commented on #1909
This should be fixed

[2020-11-13 16:49] #1909 closed

[2020-11-13 16:49] andrewhsu commented on #2137
from the issue triage mtg today, seems like this issue should be moved to opentelemetry-proto repo

[2020-11-13 16:54] andrewhsu commented on #2100
from the triage mtg today, adding discussion label since more info is also needed, but initially setting to p3

[2020-11-13 16:56] kbrockhoff commented on #1121
I do not have access to the k8s pod config used at that time any more. Knowing how I usually set this, I am fairly confident the pod memory limit was set to 512m

[2020-11-13 16:58] andrewhsu commented on #2058
from the the issue triage mtg today, need more info before we can triage

[2020-11-13 21:03] tigrannajaryan commented on #1121
Why does this happen? Limiter kicks in too late?

[2020-11-14 00:34] pkositsyn opened #2155 "Collect more runtime metrics"
**Is your feature request related to a problem?**
Sometimes it's useful to have goroutines count or gc related metrics exposed

**Describe the solution you'd like**
Add these metrics to collector internal metrics exporter

**Describe alternatives you've considered**
Adding configuration would be useful as well, but I don't see an elegant way to add it for internal exporter

[2020-11-14 11:27] johanbrandhorst commented on #1909
When is the next release scheduled? Would be nice to have a new one which includes this fix.

[2020-11-15 09:51] nirsky commented on #2100
@tigrannajaryan We use 4 different exporters and unfortunately non has `sending_queue` implemented (kinesis, zipkin and 2 custom ones).

@bogdandrutu Tried using batch processor, seem to help a lot!
I think we can close this issue, I tried implementing an immediate response endpoint myself, and tested it on my lambda.
Didn't see any significant improvement over using the batch processor.

[2020-11-15 11:33] nabam commented on #1422
@amanbrar1999 one of the use-cases would be collecting metrics from short-lived jobs such as AWS lambdas. Exporting uniquely tagged cumulative metrics for every lambda instance will cause high cardinality of time series they produce.

[2020-11-16 02:31] flands commented on #2067
Is the use-case just for development? You still need to create a receiver right? One workaround might be `--log-level warn`.

[2020-11-16 09:45] jpkrohling commented on #1121
Yes, I believe so. In the example I was testing, the check happens every 5s, which is already too long for high-traffic scenarios. And I'm not sure we'd want more frequent checks than that, especially for high-throughput collectors. I would love to come up with a proposal, but I can't think of one that would be satisfactory for the case that was tested here.

[2020-11-16 15:55] tigrannajaryan commented on #2100
Closing. Feel free to reopen if necessary.

[2020-11-16 15:55] #2100 closed

[2020-11-16 16:20] bogdandrutu commented on #2155
I think we should remove the custom runtime metrics from the service, and use one of the way we do allow collecting of runtime metrics for any go lang binary.

I would suggest we expose [expvar](https://golang.org/pkg/expvar/) on our service and scrape these metrics using an expvar receiver. There are some reasons to do this:
1. This is a generic mechanism that allows us to monitor any golang bina

[2020-11-16 16:22] bogdandrutu commented on #2143
I think "start" for the receiver/scraper should fail in that case

[2020-11-16 16:33] bogdandrutu commented on #2155
@Vemmy124 alternative is to rely on opentelemetry-go library to produce these metrics

[2020-11-16 17:33] rakyll commented on #2067
--log-level warn is the solution I've been looking for. Thanks.

[2020-11-16 17:33] #2067 closed

[2020-11-16 18:14] chris-smith-zocdoc commented on #2101
@christopher-taormina-zocdoc from my team should be able to work on this. @jpkrohling can you provide links to the important sections of code we'll need to understand/modify. Any advice you have for structuring the prs for easier review+merge would also be appreciated.

[2020-11-16 19:07] pavolloffay opened #2160 "Make default config per type (metric, traces, etc.)"
**Is your feature request related to a problem? Please describe.**

Created from https://github.com/open-telemetry/opentelemetry-collector/pull/1966#discussion_r524005206

I want to create default config that is different for each entity (traces, metrics, logs). Currently the `Factory.createDefaultConfig` creates a default config for all entities.

**Describe the solution you'd like**

A factory i

[2020-11-17 00:22] dashpole opened #2163 "Support verbatim prometheus configurations"
**Is your feature request related to a problem? Please describe.**

As a new user, I copied the [example configuration for kuberntes](https://github.com/prometheus/prometheus/blob/master/documentation/examples/prometheus-kubernetes.yml) from prometheus/prometheus (see [my copy here](https://github.com/prometheus/prometheus/blob/master/documentation/examples/prometheus-kubernetes.yml)), but it prod

[2020-11-17 00:34] nilebox commented on #2163
It sounds like this could be a generic feature supported by the collector rather than specific to Prometheus, allowing any section of the config to be extracted to a separate file.

Adding support for Prometheus config specifically via a dedicated config field is easier to implement / justify though, as it doesn't affect the rest of the codebase.

[2020-11-17 13:10] cyrille-leclerc opened #2165 "Exporter for Elasticsearch"
**Is your feature request related to a problem? Please describe.**

The problem is to export OpenTelemetry data, primarily logs, to Elasticsearch the same way many observability collectors can send data to Elasticsearch.

**Describe the solution you'd like**

The solution would be an OpenTelemetry Collector Exporter for Elasticsearch.

This exporter should try to support 6.8+ versions of Elasticse

[2020-11-17 13:31] ovidiubuligan opened #2166 "nginx ingress traces using jaeger collector and exporter show as errors, in jaeger ui."
**Describe the bug**
nginx ingress traces using jaeger collector and exporter show as errors, in jaeger ui.

**Steps to reproduce**
Collector config:
[code]

I used the following ngnix ingress config to export traces
[code]

**What did you expect to see?**
I did not expect to see traces as errors when status code is `200` :
![image](https://user-images.githubusercontent.com/4757459/99395302-e38b1a

[2020-11-17 14:13] owais commented on #2133
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/53206

#### Test Failures
-  TestMetric10kDPS
-  TestMetric10kDPS/OTLP

[2020-11-17 16:37] dashpole opened #2167 "Prometheus receiver: panic when adjusting buckets"
**Describe the bug**
[code]

The bucket adjuster logs an info message if the length of two slices is not the same, but still panics.

**Steps to reproduce**
It seems quite difficult to reproduce.  It happened once during a day of messing around with the collector.

**What did you expect to see?**
Log a warning/error.

**What did you see instead?**
A clear and concise description of what you saw in

[2020-11-17 17:50] odeke-em opened #2170 "exporter/otlpexporter: README says it sends Jaeger traces in gRPC at endpoint"
At f583f6e3c7708d440f105df72abfe1ed93f8490b, the README says
![222EDDB1-5A65-4B29-A920-9DF5DCB2AA0F](https://user-images.githubusercontent.com/4898263/99427394-39949900-28ba-11eb-972f-4c1d6510d1aa.png)

Could we perhaps clarify that?

[2020-11-17 17:54] tigrannajaryan commented on #2102
@jpkrohling Yes, let's discuss.

I understand what you say, however I disagree.

Collector is a unique piece of infrastructure. It needs to be observable and debuggable even when the observability system is broken. This means we cannot rely only on traditional approaches to observe the Collector. One of the important areas where I think we have to be different from the traditional practices is rea

[2020-11-17 19:27] lizthegrey opened #2172 "Build OTel Collector for darwin/arm64"
**Is your feature request related to a problem? Please describe.**
ARM64 Macs should be able to run the Collector from a container image without needing to manually build.

**Describe the solution you'd like**
Build Collector for darwin/arm64

**Additional context**
https://github.com/golang/go/issues/38485 is slated to go out with go1.16, which is a prereq.

[2020-11-17 19:52] #2167 closed

[2020-11-17 20:27] dashpole opened #2173 "Improve Prometheus receiver observability"
**Is your feature request related to a problem? Please describe.**
The current set of otelcol receiver observability metrics seem to be `otelcol_receiver_accepted_metric_points` and `otelcol_receiver_refused_metric_points`.  Compared with running a prometheus server, this is missing a lot of metrics which are useful for debugging.  For example, the `prometheus_sd_discovered_targets` can tell me wh

[2020-11-17 20:52] jpkrohling commented on #2101
Sure. I'm out most of this week, so, here's just a short overview:

1. `configauth` would get a registry, `AuthenticatorRegistry` (`map[string]Authenticator`)
1. move the `oidc` authenticator to an extension, register it with the registry
1. `configauth` would only have a property, `authenticator`, with a value that should match the key from the registry
1. the authenticator is configured via the

[2020-11-17 21:14] rakyll commented on #2165
cc @alolita

[2020-11-17 21:23] rakyll commented on #2155
@bogdandrutu The only issue with the expvar is that there are not many tools that knows how to parse it. Otherwise, I agree with your points.

[2020-11-17 21:28] rakyll commented on #1005
Is there anything to investigate on this issue? Unfortunately, Russ Cox is not recommending to use the plugins at this point. We can suggest people to build their own custom binaries or implementing a custom exporter as @tigrannajaryan suggests -- depending on the use case and the capabilities needed.

[2020-11-17 21:35] rakyll commented on #2172
Beyond the container images, having a standalone binary would be great for the development time. BTW, there is an active issue with Docker on macOS ARM64: https://github.com/docker/for-mac/issues/4733.

[2020-11-17 21:38] cyrille-leclerc commented on #2165
We will be happy to soon propose a first small PR according to the [Contributing](https://github.com/open-telemetry/opentelemetry-collector/blob/master/CONTRIBUTING.md) guidelines.

[2020-11-17 21:43] rakyll opened #2175 "Add note about the Prometheus receiver's capabilities"
The Prometheus receiver has a variety of issues at the moment:

* It provides redundancy when scaled up but there is no good solution yet to run multiple replicas of it.
* When scaled up with the same config, it scrapes the same endpoint multiple times. This might be surprising for the user.
* It can't scale the scraping unless user runs multiple collectors with different Prometheus configuration.

[2020-11-17 22:56] mtwo commented on #1005
I don't think that anything is underway, though I could be incorrect. You're likely the leading Go expert in the OT community, so I'm  guessing that we'll defer to your judgement.

[2020-11-17 23:43] sargun commented on #1005
The code is relatively easy to consume as a module, and as long as it stays that way, you can just copy the bits to register the built in receivers / processors / exporters.

But, I think that the hashicorp grpc style plugin system is kind of ideal compared to the current situation.

[2020-11-18 01:55] tigrannajaryan commented on #2102
@jpkrohling see https://github.com/open-telemetry/opentelemetry-collector/pull/2177

[2020-11-18 07:23] alolita commented on #1005
@rakyll in my discussions with @jmacd about handling dynamic loading for plug-ins, we evaluated options that may exist in GoLang and did not find any stable implementations. The closest suggestion we had was to extend https://github.com/lightstep/otel-launcher-go which needs further work. Look forward to your suggestions on this.

[2020-11-18 13:59] oktocat commented on #1909
FWIW, we're not observing the deadlocks with otelcol built from master including https://github.com/open-telemetry/opentelemetry-collector/pull/2121

[2020-11-18 15:51] #2170 closed

[2020-11-18 15:56] bogdandrutu commented on #2165
Consider this to be in the contrib repo, I will move the issue as well.

[2020-11-18 16:11] tigrannajaryan commented on #2098
@bogdandrutu any thoughts on this?

[2020-11-18 16:23] bogdandrutu commented on #2175
PR was merged.

[2020-11-18 16:23] #2175 closed

[2020-11-18 16:31] #2029 closed

[2020-11-18 23:13] stephenhong opened #2181 "Error traces sent to New Relic and Datadog are not being recognized as errors"
**Describe the bug**
I have a Node.js application sending traces to New Relic and Datadog. I'm using the latest release (0.14.0) of the OpenTelemetry Collector. I generated a 500 error with my app and the trace data was sent to both New Relic and Datadog. In both tools, the trace displayed the stack trace. However, neither tools recognized the trace as an error trace

**Steps to reproduce**
Node.j

[2020-11-19 15:31] bogdandrutu commented on #2181
Can you install the logging exporter and copy-paste the output for one of the trace?

[2020-11-19 16:39] owais commented on #2111
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/53841

[2020-11-19 16:46] stephenhong commented on #2181
2020-11-19T16:45:07.394Z	INFO	loggingexporter/logging_exporter.go:313	TracesExporter	{"#spans": 9}
2020-11-19T16:45:07.394Z	DEBUG	loggingexporter/logging_exporter.go:370	ResourceSpans #0
Resource labels:
     -> service.name: STRING(nodejs-mysql)
InstrumentationLibrarySpans #0
Span #0
    Trace ID       : 00000000000000002db198d7c8a9da91
    Parent ID      : 23da87b76f03daba
    ID             : 3

[2020-11-19 22:36] hossain-rayhan opened #2184 "[attributeprocessor] introduce "rename" action"
**Is your feature request related to a problem? Please describe.**
We need a way to rename our metric labels. But the problem is, we cannot get these metric labels until data comes to the exporter. In the exporter, resource attributes are converted to metric labels using the `WithResourceToTelemetryConversion()` option from `exporterhelper` module. So, technically, we need a way to rename our reso

[2020-11-20 00:44] amanbrar1999 commented on #2184
Should this change not be in the `resourceprocessor` instead of `attributesprocessor`? I believe `resourceprocessor` is specifically for resource attributes whereas `attributesprocessor` is for span attributes

[2020-11-20 00:55] Vemmy124 commented on #2155
@bogdandrutu @rakyll I agree that `expvar` isn't popular and it's a real problem, which includes using an exporter almost for sure (e.g. another collector with expvar receiver and prometheus exporter + still a problem of monitoring the last collector). Moreover, I doubt its efficiency with lock for every variable update but might be not that bad.

By the way, I don't mind writing some lines for co

[2020-11-20 00:55] hossain-rayhan commented on #2184
I think the actions in the resource processor are same as the attribute processor. The following line is taken from Resource Processors [README](https://github.com/open-telemetry/opentelemetry-collector/tree/master/processor/resourceprocessor#resource-processor).

[2020-11-20 01:48] Vemmy124 commented on #1985
As long as there are no nil objects now, we can close the issue

[2020-11-20 01:48] #1985 closed

[2020-11-20 02:08] hossain-rayhan opened #2188 "pdata.AttributeValue.IsNil() always returns false"
So, the problem is, I want to write a unit_test for checking `if pdata.AttributeValue.IsNil()` but I can't.

I tried to use `attributeMap.InsertNull("key")` and the func `NewAttributeValueNull()` to create a Nil `pdata.AttributeValue` but they didn't work. Every-time I call `pdata.AttributeValue.IsNil()` it returns false. I feel something is wrong with these set of functions. I tried the following

[2020-11-20 03:57] owais commented on #2133
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/54063

#### Test Failures
-  TestMetric10kDPS
-  TestMetric10kDPS/OTLP

[2020-11-20 15:54] tensorchen opened #2190 "KafkaReceiver: add OTLP/JSON unmarshaller"

[2020-11-20 16:44] bogdandrutu commented on #2155
@Vemmy124 look into opentelemetry-go-contrib, already support for more runtime metrics. We should use that instead of OpenCensus for recording internal metrics and install the runtime plugin from there

[2020-11-20 20:11] rmfitzpatrick opened #2195 "Allow specifying sarama.Config in kafka receiver consumer group"
**Is your feature request related to a problem? Please describe.**
Being able to tune the kafka receiver consumer group's settings (Net, Consumer.Group, etc.) would be helpful for different environments without having to add individual fields in the receiver's config to pass through.

**Describe the solution you'd like**
Providing a `sarama_config` option with embedded config struct would be helpf

[2020-11-20 20:18] bogdandrutu commented on #2184
Yes, actions are shared, so if you add the action will work for both

[2020-11-23 11:20] jpkrohling commented on #2102
Thanks for addressing my concerns, @tigrannajaryan!

Agree, but I think it ends up depending on how we see/deal with the collector in production. If we have only a few instances (pet), we are likely to look at logs for the individual instances. However, for highly elastic scenarios (cattle), we'd rather have the logs being sent elsewhere and post-processed. In which case, having it easy to be pars

[2020-11-23 11:24] jpkrohling commented on #2098
I believe that having a working metrics infra is a requirement for whatever use case that involves understanding outages at a later stage. People are already expected to have this in place and we shouldn't deviate from that: adding one more source of information would be confusing, IMO.

Exposing an OpenMetrics or Prometheus compatible endpoint at `/metrics` is more than sufficient. If we ever hea

[2020-11-24 04:55] mxiamxia opened #2209 "Collect OpenTelemetry collector telemetry data for service owners"
**Is your feature request related to a problem? Please describe.**
As the OpenTelemetry collector maintainer and backend service owner, I want to have a way to collect the collector telemetry data so I can
* Get the adoption rate on each version of the released OpenTelemetry Collector that sends metrics/traces/logs data to its backend services
* Identify the running environment where OpenTelemetry

[2020-11-24 20:24] christopher-taormina-zocdoc commented on #2101
@jpkrohling In moving `oidc` to an extension, are we expecting the configuration to have the authenticator specified in both  the receiver config and in the service config?

For example
[code]

[2020-11-24 23:16] alolita commented on #1234
Hi @tigrannajaryan @andrewhsu - we're working on this issue to migrate to GH Actions from CircleCI. Please assign @AzfaarQureshi @shovnik @alolita to this issue.

cc: @tedsuo

[2020-11-25 08:31] jpkrohling opened #2212 "Logging exporter spitting out metrics every 10s"
**Describe the bug**
When running the standard OpenTelemetry Collector container image, the default configuration spits out metrics every 10s, making it impossible to follow logs over a long period of time.

**Steps to reproduce**
[code]

**What did you expect to see?**
Logs about events that are happening.

**What did you see instead?**
The following is printed every 10s, making it impossible to

[2020-11-25 08:32] jpkrohling commented on #2098
Coincidentally, we can already see how annoying it is to have something like this, by using the latest OpenTelemetry Collector with the default configuration. See #2212.

[2020-11-25 08:35] jpkrohling commented on #2155
Instead of `expvar`, we should consider exposing this following the OpenMetrics format. Quite a lot of tools can understand it already, including the tool that is the most popular today in this area (Prometheus).

[2020-11-25 08:58] jpkrohling commented on #2101
Yes, I believe so. The reason is that receivers might potentially have different authenticators.

[2020-11-25 14:23] ericmustin opened #2214 "Handling the ZipkinV2 span `error` tag conversion to OTLP"
**Describe the bug**
This is a continuation of a discussion in the collector contrib repo issues, here https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/1644#issuecomment-731400725. To summarize:
---------
The zipkin translation code used to rely on the `error` tag, see: https://github.com/open-telemetry/opentelemetry-collector/pull/1002/files#diff-e8c9e4b66e4631dea1b8be1094

[2020-11-25 16:05] bogdandrutu commented on #2212
I am confused about the expectation. This are metrics not events, so they will always be exported as aggregate aver a period of time. Also it is impossible to log every time a memory allocation happens for example. Why do you need this?

[2020-11-25 18:49] christopher-taormina-zocdoc commented on #2101
Cool. To me, it seems a little cumbersome to have to also specify the auth extension in the service extensions as this would be very easy thing to overlook, tho I can't think.of a way to get around that without having a new component for auth layers.

[2020-11-25 19:55] tigrannajaryan commented on #2212
I think @jpkrohling expects that in by default we don't output this info. I agree, this is not very useful to be used by default. It can be useful when debugging, but I would expect it only shows these deatails when explicitly enabled. These are metrics scraped from itself (Collector's own metrics).

I think we should remove `logLevel: debug` setting from `logging` exporter config in the Docker im

[2020-11-25 19:56] tigrannajaryan commented on #2098
I only partially agree. The output in #2212 is not very readable and thus not very useful. When done nicely it can be useful. The output of https://github.com/open-telemetry/opentelemetry-collector/pull/2103 is more human readable and less noisy and is only printed once every 5 mins. Definitely not as annoying as #2212

[2020-11-25 20:15] jpkrohling commented on #2098
Only once every 5 minutes is still quite noisy when you have a long running service with little to no error/warning/info level messages. To me, it still sounds like something that would be useful during the initial setup of the infra, not for production usage.

[2020-11-25 20:16] jpkrohling commented on #2101
I think there's really no other way, at least for the moment.

[2020-11-25 20:17] jpkrohling commented on #2212
Yes, sorry, I should have been more explicit: I think the default configuration for the main container image should be a production-quality setup.

[2020-11-25 23:56] dashpole opened #2216 "Prometheus receiver and exporter don't handle multiple targets with the same metric."
**Describe the bug**
If the same metric exists in multiple prometheus receiver targets, only one of the metrics appears in the prometheus exporter endpoint.

**Steps to reproduce**
Run the opentelemetry collector with the configuration below in a kubernetes cluster with 2 or more nodes.  Use the `kubelet_running_pod_count` metric to demonstrate the issue, although it applies to all metrics.

The l

[2020-11-26 13:38] owais commented on #2111
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/55160

[2020-11-27 15:14] mx-psi opened #2220 "[hostmetrics] Mismatch with OpenTelemetry specification"
**Describe the bug**

The OpenTelemetry specification defines a series of [semantic conventions for system metrics](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/semantic_conventions/system-metrics.md#semantic-conventions-for-system-metrics), some of which are sent by the hostmetrics receiver. However, there is some mismatch in naming between the s

[2020-11-27 17:03] owais opened #2221 "Bug report for failed CircleCI build (job: test)"
Auto-generated report for `test` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/55217

#### Test Failures
-  [setup failed]

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-11-27 17:03] tigrannajaryan commented on #2098
@jpkrohling I agree with you. However, I believe the initial setup is a very important use use. Users often struggle with the setup and when things don't work, when Collector is unable to send any data we currently don't offer much help to users. I think we need to do more to make first time experience nicer. This is part of that first time experience.

I fail to see how one log record (although a

[2020-11-27 17:04] owais commented on #2111
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/55213

[2020-11-27 17:21] tigrannajaryan commented on #2214
@ericmustin I believe this ^^^^ is the right approach.

@owais please confirm that the "error" tag is indeed what SignalFx client libraries set when exporting in Zipkin format.

[2020-11-28 22:34] pkositsyn commented on #2155
To be honest even opentelemetry-go alone seems complicated for me as a client library. @bogdandrutu Do I understand correctly that you want to replace OpenCensus for metrics in the whole repository? Could you provide reasons for that and what's wrong with current approach? This issue is stale only because I cannot see the purpose of changing a lot of things. Think I need a vision for that

[2020-11-30 10:07] jpkrohling commented on #2098
First-time experience != production experience. Agree that the collector doesn't offer much help at the moment, especially when it swallows errors, but printing metrics to the logs isn't the way to go for the production case, IMO. In production, people already (should) have a metrics backend, such as Prometheus. Even when they don't, it's common practice to just do a cURL to `/metrics` on the serv

[2020-11-30 10:07] jpkrohling commented on #2111
Just as a status: either @kevinearls or me are looking into this very soon.

[2020-11-30 15:39] #2188 closed

[2020-12-01 00:10] nicks opened #2228 "prometheusremotewrite emits noisy errors on empty data points"
**Describe the bug**
Here's the error message:

[code]

Here's the metric descriptor emitted by logging exporter for the same metric:

[code]

I don't know enough about the contracts here to know if this is a bug in the opencensus code that I'm using to send the metric, or in the batcher, or in the prometheusremotewrite exporter

**What did you expect to see?**
No error messages

**What did you se

[2020-12-01 02:41] flands commented on #322
Do not believe this is urgent -- closing for now

[2020-12-01 02:41] #322 closed

[2020-12-01 16:22] #1907 closed

[2020-12-01 16:33] tigrannajaryan commented on #2212
@jpkrohling I agree.

[2020-12-01 16:46] tigrannajaryan commented on #2098
@jpkrohling This is a good approach when the Collector is running. However, the use case I am trying to tackle here is when the Collector is dead and you are doing postmortem analysis.

I have seen this done successfully with several proprietary products I worked in the past on and such logs were very useful for troubleshooting customer problems. None of those are open-source so I can't give any p

[2020-12-01 21:06] jpkrohling commented on #2098
That's another good reason to have an observability stack, or at least a metrics backend such as Prometheus: it can survive outages of the OpenTelemetry Collector. And better than logs, they can survive in case the instance/pod simply disappears/dies, which would make logs ineffective as well ;-) As a bonus points, people can easily see the evolution of the metrics in a graph, instead of trying to

[2020-12-02 09:37] jpkrohling opened #2237 "Set gRPC logger to zap"
**Is your feature request related to a problem? Please describe.**
As part of #2102, we should provide users with logs about the underlying connections provided and used by receivers and exporters. Given that quite a few of them use gRPC clients and servers, the bootstrap procedure for the collector should have a line similar to this:

[code]

This would cause messages like this when connections f

[2020-12-02 15:58] owais commented on #2214
I can confirm. SFX node library may set the `error` tag to any string value to represent a failed operation. If the `error` tag is present, it should translate to failed status in Otel IMO.

[2020-12-02 16:24] tigrannajaryan commented on #2214
@ericmustin we have the confirmation. I believe the next step is to fix zipkin to internal pdata translation to account for error tag. Will you be able to submit a fix?

[2020-12-02 16:25] rakyll opened #2241 "Assert the sigv4 signature in awsprometheusreciever tests"
cc @amanbrar1999 @JasonXZLiu @alolita

[2020-12-02 16:26] rakyll commented on #2241
Wrong repo, moving it to contrib.

[2020-12-02 16:26] #2241 closed

[2020-12-02 16:31] pmcollins commented on #2050
Hi @hossain-rayhan, were you still planning on working on this? I am happy to take it.

[2020-12-02 16:40] ericmustin commented on #2214
@tigrannajaryan sure i can give it a shot, i don't claim to be the cosmos on zipkin but i'll try to push something up in the next day or so

[2020-12-02 16:59] ericmustin commented on #2214
One question...It looks like semantic conventions to reflect this are being added in this PR, which is still open https://github.com/open-telemetry/opentelemetry-specification/pull/1257 ... @tigrannajaryan am i ok to make this PR before the semantic convention PR gets merged?

[2020-12-02 17:17] hossain-rayhan commented on #2050
Sorry for being late on this. I have finished the implementation. I will send a PR soon (may tomorrow).

[2020-12-02 17:19] mxiamxia commented on #2209
https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/1730

[2020-12-02 17:25] pmcollins commented on #2050
Oh nice! No worries at all, we just have a use case where this would be a huge benefit.

[2020-12-02 18:26] tigrannajaryan commented on #2214
@ericmustin you are right, let's wait for https://github.com/open-telemetry/opentelemetry-specification/pull/1257 to be finalized.

[2020-12-02 20:54] tigrannajaryan commented on #2098
@jpkrohling good suggestions, thank you. Would you want to work on any of these yourself?

[2020-12-02 20:59] andrewhsu commented on #1064
i'm taking the initiative to close this issue because PR #1407 was merged. feel free to re-open if there is something else missing to resolve this issue's initial intent.

[2020-12-02 20:59] #1064 closed

[2020-12-03 00:04] andrewhsu commented on #2214
from the sig mtg, assigning to eric

[2020-12-03 09:26] jpkrohling commented on #2098
I can commit to work on the first and second points for the OTLP and Jaeger receivers and exporters, as well as for the processors I own.
I can also commit to kick start the doc pages in the website for the third and fourth points.

[2020-12-03 22:00] pkositsyn opened #2248 "Batch processor makes following processing one-threaded"
**Describe the bug**
Currently, batch processor collects spans into a batch using only one worker and then **synchronously** calls next consumer. For example, if next consumer is a synchronous exporter, then the whole pipeline fails, because batch processor doesn't have enough resources to process the queue.

**Steps to reproduce**
Put heavy processor (even sleeping) after batch processor and star

[2020-12-04 13:47] 4lt1 opened #2252 "Add SASL/SCRAM authentication to Kafka receiver and exporter"
**Is your feature request related to a problem? Please describe.**
I would like to use SASL/SCRAM authentication mechanism on kafka receiver and exporter.
The current authentication mechanisms implemented on collector are not supported by AWS MSK

**Describe the solution you'd like**

SASL/SCRAM authentication mechanism is already supported by [sarama](https://github.com/Shopify/sarama/tree/master

[2020-12-04 17:04] mx-psi opened #2254 "[exporterhelper] Expose queue consumer id or allow providing consumer factory"
**Is your feature request related to a problem? Please describe.**

The Datadog exporter needs to use a certain struct for exporting traces. This struct can be reused across calls to `pushTraceData` and we currently have a single struct which is reused (with the help of a mutex) across all `pushTraceData` calls from all consumers. To avoid the mutex we would benefit from using one of these structs

[2020-12-04 21:30] wyTrivail opened #2255 "[RPM/MSI] Enable logging level"
**Is your feature request related to a problem? Please describe.**
No, it's not a problem but a pain point for linux/windows instance customers who are installing rpm/msi, i find no way to enable the logging level since the collector is running within service. no parameters can be sent into it.

**Describe the solution you'd like**
I'd like to have a unified solution for both msi and rpm/deb so th

[2020-12-07 05:42] rakyll opened #2259 "Allow remote write tuning for the prometheusreciever"
Prometheus server provides a variety of options for the users to fine tune the remote write API calls. These parameters are summarized at https://prometheus.io/docs/practices/remote_write/. prometheusreceiver should allow users to tweak the collector in a similar fashion where possible.

cc @jeromeinsf @alolita

[2020-12-07 06:00] rakyll commented on #2259
This seems to be a documentation improvement and the exporter config should be already covering a bunch. See the following for the available config options:

[code]

[2020-12-07 06:28] rakyll opened #2260 "Rename service.Application.SignalTestComplete to Shutdown"
SignalTestComplete doesn't belong to an external API, rename this method to Shutdown and follow up with https://github.com/open-telemetry/opentelemetry-collector/issues/483 in the future.

[2020-12-07 06:29] rakyll commented on #2260
Alternative, document that SignalTestComplete API is not stable and might be removed in the future.

[2020-12-07 06:53] rakyll opened #2261 "Allow QueueSetting to set min and max number of consumers"
In connection pooling, it's canonical practice to allow users to set a min and max number of concurrent connections. This allows users to utilize at least a minimal number of initial connections, allow them to provision new connections and set an upper cap. Currently, we only allow users to set a NumConsumers. This doesn't give a lot of flexibility to fine tune the consumers. By providing both min

[2020-12-07 06:58] rakyll opened #2262 "Confusing timeout setting options"
There are two settings types that allows users to set a timeout and these are not orthogonal.
[code]
 It's not clear which one should be taken into account if two conflicting settings are provided. Instead of providing two settings, is it possible to remove RetrySettings.MaxElapsedTime?

[2020-12-07 10:32] pkositsyn commented on #2262
From exporterhelper [README](https://github.com/open-telemetry/opentelemetry-collector/blob/master/exporter/exporterhelper/README.md):
[code]
These are totally orthogonal settings. Max elapsed time includes time taken for retries and waiting for retries.

[2020-12-07 10:35] pkositsyn commented on #2262
Clearly, `max_elapsed_time` must be greater than `timeout`. Do you think that documentation isn't obvious on that?

[2020-12-07 15:01] pkositsyn opened #2265 "Introduce processor for compacting traces"
**Is your feature request related to a problem? Please describe.**

**First problem**
The most critical problem is exporting traces via jaeger exporter. In `OtlpTracesToJaegerProto` function one `ResourceSpans` translates to one `model.Batch` which corresponds to exactly one request. Batch processor just appends the `ResourceSpans` inside, so this leads to the same amount of requests (and they are

[2020-12-07 15:02] pkositsyn commented on #2265
I am ready to implement this processor if the conception is approved

[2020-12-07 15:31] bogdandrutu commented on #2265
I think this should be properties on the current batch processor 'group_by_equal_resources' and potentially 'group_by_equivalent_is`. Not sure if grouping by instrumentation library helps too kuch

[2020-12-07 15:54] pkositsyn commented on #2265
And what about groupbytraceprocessor?  Any time batch is split by traces it produces a lot of new `ResourceSpans`. And `InstrumentationLibrarySpans` also consumes some space, why not grouping by it as well?

[2020-12-07 16:04] pkositsyn commented on #2265
And also do we want to keep in mind, that for every processor, which splits traces, this flag should be implemented?

[2020-12-07 18:01] rakyll commented on #2262
@pkositsyn I think what's not clear to users whether max_elapsed_time overrides timeout. If yes, why would we expect users to use a new setting (max_elapsed_time) rather than modifying the timeout?

[2020-12-07 18:20] rakyll opened #2266 "Honor retry, queue and timeout settings in prometheusremotewriteexporter"
prometheusremotewriteexporter is accepting RetrySettings, QueueSettings and TimeoutSettings but are not honoring them. These settings are critical for fine tuning the Prometheus Remote Writes.  https://prometheus.io/docs/practices/remote_write/ Use these settings when exporting.

cc @huyan0  @amanbrar1999 @JasonXZLiu

[2020-12-07 18:32] rakyll opened #2268 "Fix the inaccurate mention of headers in prometheusremotewriteexporter"
The headers setting allow users to pass any headers in the outgoing requests:

- `headers`: additional headers attached to each HTTP request. If
  `X-Prometheus-Remote-Write-Version` is set, its value must be `0.1.0`

X-Prometheus-Remote-Write-Version is called out here if users want to send this header but we override it in the exporter:

[code]

We should fix the document not to give an impressi

[2020-12-07 18:37] rakyll commented on #2259
This is blocked by https://github.com/open-telemetry/opentelemetry-collector/issues/2266.

[2020-12-07 20:02] pkositsyn commented on #2262
@rakyll I don't understand - these are two totally different things
If `max_elapsed_time` is less than timeout - that means just no retries and this should be replaced by disable of timeout.
Otherwise the flow is the following: (1st try) timeout - wait interval time - (2nd try) timeout - wait interval time - ... - max elapsed time - the payload is lost.

[2020-12-07 20:25] courageJ opened #2271 "Optional normalizing metric name in prometheus receiver"
**Is your feature request related to a problem? Please describe.**
If one metric is the prefix of another metric, they will be combined into one metric family and the labels are merged. For example, metric_a_sum, and metric_a, they will be converted to one metric, and the sum metric is added to the Sum field in the metric proto. There is a case that two metrics are named as metric_a_sum and metric

[2020-12-07 20:31] amanbrar1999 commented on #2268
I believe it actually works the other way around. the "headers" section comes from the `confighttp` module, and these headers overwrite everything because they get added from an interceptor. https://github.com/open-telemetry/opentelemetry-collector/blob/master/config/confighttp/confighttp.go#L46

The headers specified in the exporter code are added before the request, then when the request is made

[2020-12-07 20:35] amanbrar1999 commented on #2266
I'm not sure what you mean here by the exporter not honoring these settings. The `exporterhelper` package, which this exporter implements, uses these settings.

[2020-12-07 21:06] sribalakumar commented on #560
@johanbrandhorst Any luck with dropping spans? I have a similar use case and not able to drop spans.

[code]
the error observed is

[code]

[2020-12-08 07:24] johanbrandhorst commented on #560
Nope, not had any luck.

[2020-12-08 16:56] mx-psi commented on #2220
cc @james-bebbington, and cc @bogdandrutu since you made some changes related to this.

I am not sure if this is a misunderstanding on my part or if it is a bug but I believe there could be another issue, this one related with the types used for the reported metrics, and I wanted to clarify things.

For example, the `system.filesystem.usage` metric reports the number of used bytes through `gopsuti

[2020-12-08 21:45] amanbrar1999 commented on #2268
I believe Jason's PR https://github.com/open-telemetry/opentelemetry-collector/pull/2269 resolves this issue

[2020-12-08 23:46] rakyll commented on #2266
We discussed offline. Retries are handled outside the PRW exporter which was not initially visible to me. Closing this issue for now but we can follow up if we want to provide a PRW-specific retry strategy.

[2020-12-08 23:46] #2266 closed

[2020-12-09 06:41] carlosalberto commented on #1916
Hey @kevincantu

As I'm not a Countour expert, I tested against 'vanilla' Envoy and I [got it working](https://github.com/carlosalberto/hello-envoy-otlp-tls):

* Client using OTel Python 0.15 (patched to accept self-signed certificates, while doing full TLS verification).
* Envoy 1.16 doing TLS termination
* Collector receiving plain text.

I'm wondering if there's something Contour specific or I'

[2020-12-09 08:23] pkositsyn commented on #2265
I have found, that compression is not really efficient, so this thing can be done just to reduce `ResourceSpan` number in one `Traces`, which sometimes bijectively corresponds to number of requests. Given that, I adjusted my opinion to the pkg function, which can be used where necessary (for example, it is really useful in jaeger exporter even without batch processor). I'll provide the benchmarks

[2020-12-09 17:32] jpkrohling commented on #2255
Do you want to change the log-level for a running instance, or do you want to change the service configuration?

[2020-12-09 17:34] andrewhsu commented on #2254
from the triage session, assigning to @tigrannajaryan to look into

[2020-12-09 17:34] pmm-sumo commented on #2265
I think this is somewhat related to https://github.com/open-telemetry/opentelemetry-collector/issues/1884 (common span attributes can be further moved to resource level)

[2020-12-09 17:38] andrewhsu commented on #1976
from the triage mtg today, sounds like this was already done so closing.

[2020-12-09 17:38] #1976 closed

[2020-12-09 19:59] tigrannajaryan commented on #2254
It seems like you have requirements that are specialized enough to warrant your own implementation and avoid the exporterhelper.

[2020-12-09 20:40] pkositsyn commented on #2265
@pmm-sumo You're right, this case can be generalized to groupbyattrs, if we introduce an ability to group by all attributes and to group by resource

[2020-12-09 22:00] pkositsyn commented on #2248
@andrewhsu Excuse me, but this is clearly not p3. Let me clarify. The whole pipeline fails if there is a very slow processor after batch processor. The number of goroutines infinitely grows because batchprocessor's single worker does the following processors work and doesn't read from channel.

[2020-12-09 22:38] pkositsyn commented on #2248
Such simple case as batch processor and exporter without queue already fails on highload

[2020-12-09 22:42] kevincantu commented on #1916
Oh that's encouraging: perhaps something in Envoy 1.16 fixes this?  (The version of Contour I last tested with was using an earlier Envoy.)

[2020-12-09 23:24] pkositsyn commented on #2265
Actually I think it is exceptionally a problem of jaeger exporter, because it is the only case, where 1 request is 1 ResourceSpans. Maybe it's better to do such thing only in jaegerexporter?

[2020-12-09 23:39] wyTrivail commented on #2255
we have logging level config in the yaml just for the logging exporter, for that, yes we can configure it, i'm pointing this out just in case we are confused with the logging exporter.

today, we can use command line `--log-level` to change the logging level while starting collector. However, if customers install collector via rpm, collector will be running as a service in linux, in this case, do

[2020-12-10 02:56] james-bebbington commented on #2220
Thanks for creating this bug. Yes there are a few cases of mismatched naming because the host metrics receiver predates the spec. We need to update some of the metric names / types. If I have some time, I will try to get to this shortly.

Note there may be some metrics captured by the host metrics that aren't defined in the spec (e.g. the `load_average` metrics you mentioned) which I think is fine

[2020-12-10 09:40] mx-psi commented on #2220
Thanks for the detailed answer!

Awesome, thank you.

I see how that can make sense; I agree with you that it would be beneficial to update the protobuf description to avoid this kind of confusion, I might look into proposing some rephrasing for this in the future.

[2020-12-10 09:42] mx-psi commented on #2254
Thanks for having a look. I will try to discuss this with the Jaeger maintainers first to see if their bounded queue could be updated to fit this use case.

[2020-12-10 09:55] jpkrohling commented on #2255
Agree that we should allow CLI flags to be specified externally. For the moment, you can create a `/etc/collector.conf` with env vars like `LOG_LEVEL=debug` and set your unit file as:

[code]

[2020-12-10 10:23] jpkrohling commented on #2265
Not sure the problem is in the Jaeger exporter, though. A batch is supposed to contain spans related to the same process (resource, in OTLP terms). So, 1 OTLP `ResourceSpan` does correspond to 1 Jaeger `Batch`.

About the groupbytrace processor, are you using the batch processor after it?

[2020-12-10 10:49] pkositsyn commented on #2265
@jpkrohling that's true about the batch. But every request to agent results in request to collector, even with batch processor. This is because batch processor doesn't merge ResourceSpans with the same Resource, but just appends. That's what I'm talking about. OTLP exporter uses Traces as one request, which makes batch processor efficient here

I have a setup in collector, which uses batch process

[2020-12-10 10:56] jpkrohling commented on #2265
So, basically, the batch processor would need to group spans having the same resource span? Are the CPU costs better than the network costs? In case of Jaeger, the connection is a long-lived gRPC, and each "request" is actually just a RPC call within this connection. The network costs should be very similar in both cases (grouped and not grouped), but I'm eager to be proved wrong :-)

[2020-12-10 12:16] pkositsyn commented on #2265
You know, this issue came from my real issue :)
Here is the benchmark for real data taken after batch processor. Not very representative, but just to have some basic numbers. This stage doesn't really slow down processing, because it is usually not too many different resources for one agent (here I can be wrong).
`BenchmarkCompress-4  57  21386268 ns/op  823.60 MB/s  7388748 B/op  130933 allocs/op

[2020-12-10 13:06] jpkrohling commented on #2265
I know, and I love the fact that we can count on you to try out some of our code :) Thanks for being an early adopter!

What is this related to? The Jaeger Exporter alone? That's quite a lot of allocs/op! Can you create a PR with this benchmark alone?

Can you clarify what you mean by requests here? Is it RPCs? The actual numbers are missing from the picture, so, I can't have an idea on how drasti

[2020-12-10 13:34] pkositsyn commented on #2265
The benchmark is for my prototype version of merging ResourceSpans alone. Just to show, that it won't ever be a bottleneck in batch processor.

These are RPC calls to collectors. Yes, these are made on long-live gRPC connections, but still such amount (I cannot say exact numbers you know) of calls is too much for collectors. Let's say before were 1kk requests, the main thing here is that after the

[2020-12-10 13:44] jpkrohling commented on #2265
Got it, thanks for the clarification.

Do you have memory/CPU/network graphs for the collector? I trust you that it performs way better, but the number of RPCs in itself isn't that meaningful.

[2020-12-10 15:00] pkositsyn commented on #2265
This is number of cpu used by agents. Even here there is a dramatical improvement
<img width="680" alt="Screenshot 2020-12-10 at 17 53 03" src="https://user-images.githubusercontent.com/37667546/101787818-8f9eda00-3b10-11eb-9191-c499b61ef2a6.png">

Number of cpu for collector
<img width="1060" alt="Screenshot 2020-12-10 at 17 57 37" src="https://user-images.githubusercontent.com/37667546/101788476

[2020-12-10 15:25] tigrannajaryan commented on #2260
+1. We should rename to Shutdown and also rename stopTestChan to just stopChan. I can't see anything special about this stopping that is only applicable to tests. It is just a way to stop the service.

[2020-12-10 15:26] tigrannajaryan commented on #2260
@rakyll would you like to submit a PR that fixes this?

[2020-12-10 18:03] wyTrivail commented on #2255
@jpkrohling thx for the suggestion! it's doable.

maybe better to build `EnvironmentFile=/etc/collector.conf` into https://github.com/open-telemetry/opentelemetry-collector/blob/master/internal/buildscripts/packaging/fpm/otel-collector.service#L12 ?

For long-term, do you have any idea?

[2020-12-10 21:08] jchengsfx opened #2275 "Improve error message for bind failures"
**Is your feature request related to a problem? Please describe.**
If a component, e.g. the prometheus receiver, fails to bind to an address, the output shows something like:
[code]

**Describe the solution you'd like**
Improve the error message to include the component that is failing to bind and possible workaround.  For example, the error message above would include that it came from the promet

[2020-12-10 21:58] dashpole opened #2276 "Print final configuration on startup"
**Is your feature request related to a problem? Please describe.**
This is related to the problem described in https://github.com/open-telemetry/opentelemetry-collector/issues/2163.  The collector does environment variable substitution with the provided configuration.  Prometheus receiver configurations often use $ as part of the configuration, which makes it easy to accidentally reference environ

[2020-12-11 00:20] rakyll commented on #2260
Surely.

[2020-12-11 02:26] #2260 closed

[2020-12-11 02:58] rakyll opened #2278 "Set reasonable defaults to the prometheusremotewriteexporter"
prometheusremotewriteexporter doesn't have Prometheus-specific default retry settings at this moment and we should set better defaults. This is impacting the overall retry strategy and how aggressive retries should be.

[2020-12-11 10:57] jpkrohling commented on #2255
For the long term, we should consider using another instance of viper, to bind env vars to flags.

[2020-12-11 16:26] owais opened #2284 "Bug report for failed CircleCI build (job: correctness)"
Auto-generated report for `correctness` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/57479

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-12-14 17:51] pmm-sumo opened #2285 "Improving resiliency through disk buffering capability"
**Is your feature request related to a problem? Please describe.**

Currently, collector buffers all data in memory, which can lead to data loss in case buffer gets overfilled (e.g. during temporary exporter connection issues) or due to a sudden crash.

**Describe the solution you'd like**

There should be a possibility to enable disk buffering capability. For example, exporter could buffer the in

[2020-12-14 18:51] amanbrar1999 opened #2286 "Fix use of offensive word in kafka receiver factory_test"
**Describe the bug**
Automated security scanners flag the use of this variable name as a potentially offensive word: https://github.com/open-telemetry/opentelemetry-collector/blob/master/receiver/kafkareceiver/factory_test.go#L61

This variable name should be changed

[2020-12-14 20:20] tigrannajaryan commented on #2285
Note that `queued_retry` is deprecated. We need to think where the persistent queue should fit. Perhaps `queued_retry` instead of being deprecated needs to be re-worked and persistence added.

[2020-12-14 20:25] pmm-sumo commented on #2285
The processor is deprecated but is it also true for the helper?

[2020-12-14 23:07] nilebox commented on #1774
Unassigned myself as I'm not actively working on Prometheus receiver anymore.

[2020-12-14 23:45] amanbrar1999 commented on #2286
resolved by #2288

[2020-12-14 23:45] #2286 closed

[2020-12-15 16:12] blumamir opened #2293 "Question about how to configure zap logger"
I built a custom collector using [this guide](https://medium.com/opentelemetry/building-your-own-opentelemetry-collector-distribution-42337e994b63) with collector v0.16.0.

Everything works great, except that I need to configure the logger to output json format with MessageKey equals "message" (instead of the default "msg").
I want to be able to set this configuration when calling service.New:
`co

[2020-12-15 17:55] kamalmarhubi commented on #483
Is there a suggested workaround to avoid dropping messages during collector upgrades?

[2020-12-15 17:55] kamalmarhubi commented on #483
@tigrannajaryan Is there a suggested workaround to avoid dropping messages during collector upgrades?

[2020-12-16 11:39] serathius commented on #2163
I think having config separated into multiple files would be also beneficial. On Kubernetes configmaps have limit of 4KB, which would also limit maximum size of configuration for OT collector.

[2020-12-16 16:13] tigrannajaryan commented on #483
There is no known workaround.

[2020-12-16 21:06] dashpole opened #2297 "Renaming metrics with prometheus receiver produces unknown-type metrics"
**Describe the bug**
If the `__name__` label is changed using prometheus relabel configs, the prometheus receiver fails to populate metric metadata.

The root cause is that the prometheus receiver [looks up metric metadata](https://github.com/open-telemetry/opentelemetry-collector/blob/575600b8b63e448c7d1e6559b90b971b8fd58949/receiver/prometheusreceiver/internal/metricfamily.go#L53) using the _fin

[2020-12-16 21:18] tigrannajaryan commented on #1121
Closing for now, should be fixed or at least mitigated by #2250
Can reopen if more work is needed.

[2020-12-16 21:18] #1121 closed

[2020-12-16 21:21] tigrannajaryan commented on #2166
@ovidiubuligan can you add `logging` exporter to the list of exporters and show the output of a Span which is not supposed to be shown as an error in Jaeger but is?

Which receiver is receiving these spans? You have otlp, jaeger, zipkin receivers enabled. Do you know which one is receiving the spans?

[2020-12-17 15:04] dashpole commented on #2276
I realized this is actually a duplicate of https://github.com/open-telemetry/opentelemetry-collector/issues/1791

[2020-12-17 15:04] #2276 closed

[2020-12-17 17:06] dashpole commented on #2285
@pmm-sumo I would love to collaborate on this.  There are some folks at Google who are interested in solving this problem as well.  cc @erain

@tigrannajaryan is this something that can be allowed for GA?

[2020-12-18 12:58] glazychev-art opened #2303 "Demo example"
**Describe the bug**
No data from `metrics-load-generator`

**Steps to reproduce**
`docker-compose up -d` from `examples/demo`

**What did you expect to see?**
New metrics (`request_latency`, `request_counts`...) at `http://0.0.0.0:9090` (Prometheus).

**What did you see instead?**
If we look at logs, we can see that there are problems:
[code]

**What version did you use?**
Version: default (from

[2020-12-18 14:25] ZFLloyd opened #2304 "Jaeger thrift to OTLP translation removes error tag without setting a proper status code."
**Describe the bug**
We are using opencensus jaeger exporter so far and I have been trying to use the otel-collector to send trace data to an otel speaking service as well as still exporting to a local jaeger instance.

Currently when an error happened in the span, we were setting `error=true` in the span attributes (as the [opentracing spec](https://github.com/opentracing/specification/blob/maste

[2020-12-19 14:07] jjangga0214 opened #2309 "k8s CRD (like ServiceMonitor of Prometheus Operator) for configuring receiver by selector"
**Is your feature request related to a problem? Please describe.**
Repeatitive, manual, large configuration for (otlp) receiver.

**Describe the solution you'd like**
Automatic target selector through k8s CRD. For example, Prometheus Operator does this by ServiceMonitor.
Of course, I guess this project(opentelemetry-collector) should be independent from k8s or Operator pattern in k8s.
But I think

[2020-12-19 14:14] #2309 closed

[2020-12-20 14:38] glazychev-art commented on #2303
It was needed to update the config file `otel-agent-config.yaml`.
Need to add `otlp` to `receivers` section.

[2020-12-20 14:38] #2303 closed

[2020-12-20 23:08] cemo opened #2310 "Filter Processor for Tracing"
**Is your feature request related to a problem? Please describe.**
I would like to drop some of our traces such as **health check requests**

**Describe the solution you'd like**
I see that *filterprocessor* is only supporting metrics.
https://github.com/open-telemetry/opentelemetry-collector/tree/master/processor/filterprocessor
I think using filter processor to drop some requests might be possib

[2020-12-21 21:03] rakyll opened #2315 "Prometheus remote write exporter is failing with "out of order samples" under load"
The Prometheus remote writer exporter is failing with the following errors under load:

* out of order samples
* duplicate sample for timestamp

These issues can be potentially caused by the concurrent writes at https://github.com/open-telemetry/opentelemetry-collector/blob/a16c599d26b6db7a95489568ca890b06380463cc/exporter/prometheusremotewriteexporter/exporter.go and/or samples produced for the s

[2020-12-21 22:25] owais opened #2316 "Bug report for failed CircleCI build (job: test)"
Auto-generated report for `test` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/58836

#### Test Failures
-  TestApplication_ReportError

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-12-22 01:38] shovnik commented on #1234
After merging the Pull Request #2299 migrating the Publishing jobs to GHA, once the repository is ready to move publishing from CircleCI to GHA, a maintainer will need to add the DOCKER_USERNAME and DOCKER_PASSWORD secrets for the opentelemetry docker account to allow pushing to docker. In addition a token with all access writes will need to be generated and added as a GITHUB_TOKEN secret to allow

[2020-12-22 09:21] chenmudu opened #2318 "Bug Report: The collector after decompression and installation of otel-collector-0.16.0-amd64.msi does not find the prometheus port."
**Describe the bug**
Bug Report: The collector after decompression and installation of otel-collector-0.16.0-amd64.msi does not find the prometheus port. I need some helps, thanks very much!

**Steps to reproduce**
1. Download and install otel-collector-0.16.0-amd64.msi on windows。
2. netstat -ano and find all port with otel-colector.
3. I did not see port 8889 similar to the demo.
![image](https:

[2020-12-23 03:57] kamalmarhubi commented on #483
@tigrannajaryan in that case, I feel like this should be added back to the GA milestone? Dropping things on the floor during upgrades is not great...

[2020-12-24 01:33] #2318 closed

[2020-12-28 10:51] ovidiubuligan commented on #2166
It seams that I have upgraded to the latest collector `0.17.0` and it now shows without error.

[2020-12-28 10:51] #2166 closed

[2020-12-28 17:48] rakyll commented on #2268
#2269 solves this, closing.

[2020-12-28 17:48] #2268 closed

[2020-12-31 23:56] rakyll opened #2328 "Document how to generate OTLP gRPC clients"
The OTLP protocol is not currently documented comprehensively to demonstrate how to create new gRPC clients for the OTLP receiver. In cases where custom instrumentation libraries are required, OTLP can be used directly for ingestion without the need of OpenTelemetry instrumentation libraries. Please document how to generate gRPC client libraries at the OTLP receiver README.

[2021-01-01 00:25] rakyll commented on #2328
Maybe just a link to https://github.com/open-telemetry/opentelemetry-proto/tree/master/opentelemetry/proto/collector would be sufficient enough.

[2021-01-04 16:35] tigrannajaryan commented on #2285
The helper is here to stay. We don't plan to deprecate it. However, if implemented in the helper each exporter will have its own persistent queue, which may or may not be desirable (it will likely mean persistent data is duplicated if more than one exporter is used).

[2021-01-04 16:37] tigrannajaryan commented on #2285
It depends on the implementation. If it requires major changes to existing code and may destabilize the Collector right before the GA then it may not be desirable. But it should not be an issue if it is released immediately after GA, e.g. in 1.1.

If the implementation is a separate component that doesn't touch existing code then I see no problem with allowing it for GA.

Either way, let's see a d

[2021-01-04 17:51] owais commented on #2284
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/59253

[2021-01-04 18:38] bogdandrutu commented on #2315
I think this is a backend error correct? Does the Prometheus remote write require samples to come in a specific ordering?

[2021-01-04 21:22] rakyll commented on #2315
This is a backend error, but we must make sure our fan-out logic is causing this error. Prometheus is an append-only system, so you can't ingest older data points to a series after appending relatively newer ones.

The second error might be potentially cased by a failure to label data points correctly. Assume you have N replicas of the same program exporting the same metric. If the scraper fails t

[2021-01-04 23:13] pmm-sumo commented on #2285
Thank you for the clarification @tigrannajaryan I agree that we need a design doc first

@dashpole and @erain, did you perhaps start working/researching this? Perhaps we could mention this during the next SIG meeting (if anyone else would like to participate too) and plan a separate meeting for discussing it? I think we might need more than a few minutes to share our ideas, discuss options and dec

[2021-01-05 06:50] anuraaga opened #2330 "TimestampUnixNano vs time.Time"
Just curious, why do we have a separate type for a timestamp, `TimestampUnixNano`.

https://github.com/open-telemetry/opentelemetry-collector/blob/51563860af5a558b6e7087feea2502b5d348375c/consumer/pdata/common.go#L29

`time.Time` is also an instant in time with nanosecond precision

https://golang.org/pkg/time/#Time

So it seems we don't need to introduce a custom type?

[2021-01-05 12:04] PatrikSteuer opened #2332 "[zipkinexporter] documentation states supported pipeline type metrics"
**Describe the bug**
The zipkinexporter contains following statement within it's readme:
[code]
Using the zipkinexporter within metrics pipelines causes following error
[code]
**Steps to reproduce**
Open the [zipkinexporter documentation](https://github.com/open-telemetry/opentelemetry-collector/tree/master/exporter/zipkinexporter).

Try to use the exporter within a metrics pipeline.

**What did y

[2021-01-05 16:58] dashpole commented on #2285
Thus far, we have mostly been collecting use-cases, but have also explored a few different possible solutions that we'd be happy to share.

I added it to the next collector sig meeting agenda.

[2021-01-05 22:12] james-bebbington commented on #2220
I think this is okay to close now. Feel free to re-open if you still think there's more work to be done @mx-psi

[2021-01-05 22:12] #2220 closed

[2021-01-06 00:08] dradetsky commented on #2310
I also need this capability. I don't think I can accomplish it via ignore filters in autoinstrumentation plugins, as then I get headless traces from child requests of the parent requests I want to ignore.

[2021-01-06 00:16] dradetsky commented on #2310
If the way one is supposed to implement it is using [this](https://github.com/open-telemetry/opentelemetry-collector/blob/master/processor/README.md#includeexclude-spans) then it's really unclear how I'm supposed to do it. That config seems to require the use of `name:` and the include/exclude options apply to whether or not the span is included or excluded from having its name modified, not wheth

[2021-01-06 00:38] nshampur opened #2334 "[kafkaexporter] Unable to setup separate pipelines for metrics vs traces to different kafka topics"
**Describe the bug**
Is it possible to use the same collector instance to export traces and metrics to distinct kafka topics

**Steps to reproduce**
From reading the documentation and testing, it appears the kafka exporter configuration is a singleton element in the configuration. Attempting to leverage the same exporter in pipelines for metrics and traces, results in an odd behavior where the tel

[2021-01-06 15:38] tigrannajaryan commented on #483
@kamalmarhubi Help is wanted on this one. If there are contributors who can submit a PR before GA, we will be happy to review it.

[2021-01-06 15:42] djaglowski opened #2336 "Signal Translation Proprosal"
**Is your feature request related to a problem? Please describe.**
It is sometimes necessary to convert signals from one signal type to another. Signal translations may be direct one-to-one operations, or may include derivative signals such as counts, aggregations, summarizations, etc. A specific example can be seen in contrib [#403](https://github.com/open-telemetry/opentelemetry-collector-contri

[2021-01-06 17:07] andrewhsu commented on #2315
talked about this at the collector sig mtg today, @rakyll can you provide more info on what you expect to see?

[2021-01-06 18:29] tigrannajaryan commented on #2330
`time.Time` is a more complicated type:
[code]
Using it would result in a (probably tiny but still) performance impact.

TimestampUnixNano matches the exact definition of the OTLP protocol for timestamps.

[2021-01-06 18:29] #2330 closed

[2021-01-06 22:09] burncycl opened #2339 "Clarification on span processor exclusions and relationship to exporter."
Hello OTEL team,

If I want to exclude a span received from being exported, is there a means to do that using span processor?

 Example:
[code]

[2021-01-07 04:28] amitsaha commented on #1422
Having something like this will make https://github.com/open-telemetry/opentelemetry-python/issues/93 possible. Without this, Python WSGI applications using `gunicorn` and `uwsgi` and the like will suffer from not being able to use Prometheus exporter directly. In fact, the lack of stated exporter (https://github.com/open-telemetry/opentelemetry-specification/issues/374) will make prometheus unusa

[2021-01-07 12:28] mx-psi commented on #2220
Awesome, the changes make sense to me, thanks for taking care of it!

[2021-01-07 15:43] tigrannajaryan commented on #2334
This is not correct. You can have as many kafka exporters as you want, each having a different configuration. All exporters allow this. See the Collector design: https://github.com/open-telemetry/opentelemetry-collector/blob/master/docs/design.md

It should look roughly like this:
[code]

[2021-01-07 15:43] #2334 closed

[2021-01-07 16:00] tigrannajaryan commented on #2304
@ZFLloyd Your expectation is correct. If on the receiving side error=true tag is set the exporter should have the Span status code set to STATUS_CODE_ERROR.

We have a unit test that verifies it for jaeger receiver: https://github.com/open-telemetry/opentelemetry-collector/blob/ca6f1a0287d04f38ce40046a17b727355304fdd0/translator/trace/jaeger/jaegerproto_to_traces_test.go#L357

and for jaeger expor

[2021-01-08 16:34] #2062 closed

[2021-01-08 18:31] owais opened #2347 "Bug report for failed CircleCI build (job: windows-test)"
Auto-generated report for `windows-test` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/59716

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-01-09 03:28] nshampur commented on #2334
thanks for the clarification

[2021-01-11 06:31] govine opened #2351 "Should be buffer between SDK and Collector, such as file system and kafka?"
As we can see from the SDK source code:
https://github.com/open-telemetry/opentelemetry-go/blob/master/sdk/trace/batch_span_processor.go
If the Collector is blocked, it will cause the data collected by the SDK to be lost or cause the application to block.
Perhaps a reasonable approach is to use the file system as a cache on the SDK side.
Then use some log collection tools, such as filebeat, to col

[2021-01-11 17:11] tigrannajaryan opened #2353 "Use the same port for OTLP/HTTP receiver as for OTLP/gRPC"
According to https://github.com/open-telemetry/opentelemetry-specification/issues/1148#issuecomment-721889635 we need to use port 4317 for OTLP/HTTP receiver.

@bogdandrutu you looked into this previously. Are you able to do this? I believe we need to do this before GA.

[2021-01-11 17:12] owais opened #2354 "Bug report for failed CircleCI build (job: loadtest)"
Auto-generated report for `loadtest` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/59928

#### Test Failures
-  TestTraceNoBackend10kSPS
-  TestTraceNoBackend10kSPS/MemoryLimit

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-01-11 17:12] tigrannajaryan commented on #2214
Fixed by https://github.com/open-telemetry/opentelemetry-collector/pull/2253

[2021-01-11 17:12] #2214 closed

[2021-01-11 17:14] tigrannajaryan commented on #2304
Cannot repro. Reducing priority, waiting for more info to repro.

[2021-01-11 17:16] tigrannajaryan commented on #2262
These are different settings. Need to clarify docs. Reduced priority since not a functionality bug and it works as expected.

[2021-01-12 15:33] #2339 closed

[2021-01-12 18:23] owais commented on #2284
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/60074

[2021-01-12 19:10] alexvanboxel opened #2361 "Prometheus Receiver upgrade to new version for better parsing"
**Is your feature request related to a problem? Please describe.**
Currently, we're trying to parse metrics emitted by micrometer (Spring). The scaper included in the collector is from a very old version of Prometheus. When using other scapers: new version of Prometheus, Micrometer or SignalFX are able to parse the metrics the problem is probably fixed in a new version.

**Describe the solution yo

[2021-01-12 21:08] jrcamp commented on #2050
Looks done.

[2021-01-12 21:08] #2050 closed

[2021-01-12 21:52] crsandeep opened #2363 "Automatically generated metrics and labels by prometheus are dropped by the prometheus receiver"
**Describe the bug**
Labels and metrics that are automatically generated by prometheus are dropped by the prometheus receiver. Example - metric `up and scrape_duration_seconds (few other scape_ metrics)` and labels `job and instance`. Is this intentional or a potential bug?

**Steps to reproduce**
I set up a pipeline with prometheus receiver and prometheusremotewrite. Config file is provided below

[2021-01-13 10:42] yyyogev opened #2364 "Improve error message for prometheus scrape failure"
If a prometheus receiver, fails to scrape an endpoint, the output shows something like:

[code]
The reason for the failure isn't presented here and it's almost impossible to figure out what is wrong

I would suggest enriching the warn message with an actual reason

[2021-01-13 18:57] owais commented on #2354
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/60229

#### Test Failures
-  TestTraceNoBackend10kSPS
-  TestTraceNoBackend10kSPS/MemoryLimit

[2021-01-14 00:12] andrewhsu commented on #2361
from the collector triage session today, @alexvanboxel can you post a link to the fix when you get the chance?

[2021-01-14 14:56] tigrannajaryan commented on #1952
@jpkrohling it looks like different reviewers prefer different approaches. What if we keep the current recommendation to split the PRs but for reviewers who prefer to see the entire picture at once the reviewer can ask the contributor to show the entirety of it? So, basically allow the reviewers to choose what is best for them.
We will need to mention this in the contributing guidelines to set the

[2021-01-14 14:58] tigrannajaryan commented on #2351
Duplicate of https://github.com/open-telemetry/opentelemetry-collector/issues/2285
Please comment on that other issue.

[2021-01-14 14:58] #2351 closed

[2021-01-14 15:30] jpkrohling commented on #1952
I'd keep it simple for contributors, so, having multiple PRs by default is better than having it a per-reviewer decision.

[2021-01-14 17:20] tigrannajaryan opened #2374 "Remote Configuration Proposal [Draft]"
# Goal

Allow remote configuration of Collectors by feeding the configuration to the Collectors from a remote configuration source. The source of the remote configuration must be possible to specify in the Collector's local config file via a pluggable component that can be implemented by the Collector core team or independently by third-party developers in the contrib repo.

# Summary

Remote conf

[2021-01-14 17:21] tigrannajaryan commented on #2374
@alolita FYI.

[2021-01-15 02:16] Frapschen commented on #2328
i would like to help this issue

[2021-01-15 05:26] anuraaga opened #2376 "Demo needs to be updated"
The demo here

https://github.com/open-telemetry/opentelemetry-collector/blob/master/examples/demo/otel-agent-config.yaml

has a lot of legacy

- opencensus
- jaeger_thrift (for agent it should probably only expose otlp though)

It needs to be updated or users will get confused when starting out with OpenTelemetry.

[2021-01-15 05:26] anuraaga commented on #2376
Discussion that sparked this: https://github.com/open-telemetry/opentelemetry-java/discussions/2523

[2021-01-15 18:50] crsandeep commented on #2363
@alolita If these labels and metrics are being dropped intentionally then is it fine if I file a PR to make it config driven to not block these when a particular config is set?

[2021-01-15 21:28] alexvanboxel commented on #2361
@andrewhsu In the metrics workshop, I noticed that this is related to the work that is going to start on
[OpenTelemetry Prometheus Support](https://docs.google.com/document/d/1RPSNg3H3HkHTmx9cWO25nJ9NIf2CCcl4Qg6LqFCF8RY/edit#heading=h.t6lh3vj02heb). I assume ( @rakyll ) that work will have its own tickets, so maybe we can close this?

[2021-01-19 16:00] owais commented on #2347
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/60498

[2021-01-20 01:08] alolita commented on #2361
Hi @alexvanboxel We plan to have issues for each task based on Prometheus workgroup discussions.

[2021-01-20 07:13] alexvanboxel commented on #2361
I will close the ticket once the tickets are available, referencing the tickets. As mentioned in the doc, we're eager to test it out.

[2021-01-20 15:41] jpkrohling commented on #1952
I'm closing, as this is apparently working for most people :-)

[2021-01-20 15:41] #1952 closed

[2021-01-20 15:43] jpkrohling commented on #407
Is this still relevant? Given that we have the load balancer in place now, it should be easy to do a scalable tail based solution now.

[2021-01-20 15:44] jpkrohling commented on #213
Can this be closed? I think there's now a sufficient documentation about this (blog post + link from the doc).

[2021-01-20 15:48] morigs commented on #407
@jpkrohling Could you please describe in more detail the solution with a load balancer?

[2021-01-20 15:55] jpkrohling commented on #407
Sure: you'll need two layers of collectors. The first are the load balancer(s), which would be a simple collector with the load balancer exporter configured: https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/master/exporter/loadbalancingexporter

The second would be a cluster of collectors with the [tail-sampling processor](https://github.com/open-telemetry/opentelemetry-colle

[2021-01-20 15:56] vikrambe commented on #407
@jpkrohling I have a couple of queries.
1. How will it handle async calls/long lived transactions ?
2. Load balancing is one part of this issue. We also need some kind of rule engine to evaluate filter criteria. With AND/OR capabilities to sample the traces. Maybe, do we want to create a separate issue to track it ?

[2021-01-20 15:59] vikrambe commented on #407
@jpkrohling Thanks for the loadbalancingexporter. This is helpful...

[2021-01-20 16:41] CeeBeeCee opened #2382 "Report OTel Collector version in the collector health page and/or diagnostic pages"
**Is your feature request related to a problem? Please describe.**
It is hard to know what version of the collector is running without logging into the server to find out

**Describe the solution you'd like**
Add a version key-value pair to the health check and/or the tracez/pprof pages. Something like :
{**"version": "0.18.0"**. status":"Server available","upSince":"2021-01-20T16:26:04.209548064Z

[2021-01-20 16:58] jpkrohling commented on #407
For 1, not sure I understand the problem. Both the tail sampling processor and the groupbytrace will wait for a specific amount of time, under the assumption that all spans for the trace will have arrived by then.

The filter criteria is the second part of the tail sampling processor, known as "policy" there. We started thinking about splitting this into its own processor, but it wouldn't bring an

[2021-01-20 17:04] jpkrohling commented on #2353
We discussed this in the past and this is not a good idea, as it's not possible to do that when TLS is involved.

[2021-01-20 17:07] owais commented on #2284
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/60694

[2021-01-20 18:21] bogdandrutu commented on #2382
We have all these informations in "/debug/servicez" page if you enable the zpages extension.

[2021-01-20 18:23] bogdandrutu commented on #2382
Not sure about the "status" thing, how do we determine if status OK or NOT?

[2021-01-20 18:31] CeeBeeCee commented on #2382
When I access the servicez page, it reports "latest" as the version and not 0.18 which is what I'm running (using docker). Anyway to get it to return the actual version number? Also, the status, upSince and uptime is the current response coming from the health_check extension. I was just proposing that we add version to it.

Version | \| | latest
-- | -- | --
GitHash | \| | <NOT PROPERLY GENERATED

[2021-01-20 18:37] bogdandrutu commented on #2382
Ok.. so you need only to fix the version then

[2021-01-20 18:56] CeeBeeCee commented on #2382
Correct

[2021-01-20 23:09] bogdandrutu commented on #2336
I really like this proposal, I would like to think couple more days about the name of the new component but sounds promising. I am a bit confused about `tracetotrace` use-case, can you elaborate on that? Why is this necessary?

[2021-01-20 23:12] bogdandrutu commented on #2328
@Frapschen I think the recommended way is to use the build container as we do in the proto makefile https://github.com/open-telemetry/opentelemetry-proto/blob/master/makefile#L45

@rakyll is that good enough?

[2021-01-20 23:32] bogdandrutu commented on #2261
@rakyll this is interesting, but we do things a bit different there. We re-use the connection between workers in case of OTLP for example (grpc does a better job when connection is shared). We apply the same logic for http as well because the http client deals with open/close/keep connections alive, etc.

[2021-01-20 23:36] bogdandrutu commented on #2265
@pkositsyn I think numbers look very good. How did you implement this? Did you change the batch processor to add an option to batch per resource?

[2021-01-20 23:43] #2382 closed

[2021-01-21 00:15] bogdandrutu commented on #2336
Some questions also:
1. I expect after a connector the new pipeline also has a fan-out correct?
2. Are we going to provide standard connectors like `tracetotrace`?

[2021-01-21 07:31] pkositsyn commented on #2265
I bumped into another problem with this approach - maximum grpc message size of 4Mb. Given a lot of traces (or ResourceSpans inside one Traces), one resource might contain too many spans. I solved this by introducing limit by size for a resource.

Actually, I implemented batch per resource in the jaeger exporter as a workaround to make loadbalancingexporter with jaeger, so I needed to divide trace

[2021-01-21 08:08] morigs commented on #407
Wow, this is really interesting, didn't know that. I hope this pattern will be well documented in the future.
The only concern is the fact that `loadbalancingexporter` is in the contrib repository. This sounds like not quite official way.
May be it should be moved to the main collector repo then

[2021-01-21 09:26] jpkrohling commented on #407
Where would you expect to see this information? I can create some documentation about it. This belongs to the contrib because it's still understood to be a "niche" feature. The more people using this feature and providing feedback, the higher the chances that this will get moved to the core ;-)

[2021-01-21 09:57] morigs commented on #407
I don't think this is possible right now, but I would expect to see the balancing setup documentation somewhere [here](https://opentelemetry.io/docs/collector/).
I think load balancing is a must, because scaling is impossible without it.
It would be cool to involve the core team members in this discussion

[2021-01-21 10:00] jpkrohling commented on #407
When not doing tail-based sampling, you can do load balancing using the regular techniques. This specialized load balancer is needed only if you need to ensure that the same trace ID is consistently sent to the same backend.

[2021-01-21 10:10] jpkrohling commented on #2265
There's a groupbyattribute processor and as groupbytrace. Perhaps there could be a groupbyresource?

[2021-01-21 14:32] loomis opened #2391 "prometheus receiver is not setting receiver and transport attributes"
**Describe the bug**

Unlike other receivers, the prometheus receiver is not setting the receiver and transport attributes on the metrics that it collects.

**Steps to reproduce**

Docker compose file:

[code]

See below for collector configuration.

 1. Run with `docker-compose up -d`.
 2. Wait for metrics to be scraped (looking at log messages from container).
 3. Dump the file system (`docker e

[2021-01-21 20:26] CeeBeeCee commented on #2382
@bogdandrutu : I see that you have closed this issue. Is there a way for me to test the changes? Perhaps from the otel/opentelemetry-collector-dev image on dockerhub?

[2021-01-21 22:21] djaglowski commented on #2336
@bogdandrutu, I have to admit that since writing up this proposal, I have learned something about pipelines which I know think undermines much of the utility of the proposed functionality. I do believe there may still be something to it, so I'll explain the misunderstanding, what I think it means for the original design, and try address the points you've raised along the way.

**What I misundersto

[2021-01-21 23:10] #2376 closed

[2021-01-21 23:31] bogdandrutu commented on #2336
The image you added is right now impossible to create, because right now a pipeline cannot start with a signal and end with a different signal. The signal for a pipeline is the same for receivers and exporters and defined in the name of the pipeline.

I think the connector is still useful unless we remove that restriction and use the pipeline signal as just the input and determine the output dynam

[2021-01-22 08:53] morigs commented on #407
I agree. Bu IMHO tail-based sampling is a quite common scenario

[2021-01-22 16:51] #1861 closed

[2021-01-22 17:52] bogdandrutu commented on #2265
@pkositsyn the 4MB is a configuration, so that can be tuned. https://pkg.go.dev/google.golang.org/grpc#MaxRecvMsgSize, and can be configured in otlp with `max_recv_msg_size_mib` on the server side.

[2021-01-22 17:57] #2133 closed

[2021-01-22 17:58] #2082 closed

[2021-01-22 17:58] #2014 closed

[2021-01-22 18:00] #1857 closed

[2021-01-22 21:05] djaglowski commented on #2336
Given this, I'll try to address your questions more directly.

I think this should be the default design, and that we can exclude the fan-out if there's a particular reason. My thinking here is that the component, as proposed, would _be_ a receiver (as well as an exporter). Since receivers currently have a built-in fan-out, I would assume by default that this would be the case here as well.

The g

[2021-01-22 22:14] plazma-prizma commented on #2364
Hello, I'd like to pick it up as my first contribution to open telemetry 🙂  Though I need some initial guidance, quick search for `metricsbuilder` in this repository didn't help 😬

[2021-01-25 01:27] axw commented on #1256
https://github.com/elastic/gmux may be useful. Excerpt:

It's quite new code, so bugs may not yet have been all shaken out.

[2021-01-25 01:28] axw commented on #2353
Is this a duplicate of https://github.com/open-telemetry/opentelemetry-collector/issues/1256?

[2021-01-25 02:06] axw opened #2395 "Expose functions for registering gRPC(-gateway) services"
**Is your feature request related to a problem? Please describe.**

I develop Elastic APM Server, for which there is an [exporter in opentelemetry-collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/master/exporter/elasticexporter).

We would like to support receiving OTLP directly in Elastic APM Server, cutting out the need to translate to our own protocol. F

[2021-01-25 09:34] pkositsyn opened #2397 "Add ability to use aggregate logger in pipeline"
**Is your feature request related to a problem? Please describe.**
Currently we cannot globally limit number of logs, produced by the pipelines. The common mistake among the whole repository is that every request can result in a log in some consumer, which overrides logging pipelines. Yesterday I got the situation, such that collector started producing 150k logs/min because of exporter failure (wh

[2021-01-25 14:23] jpkrohling commented on #2353
Looks like it is.

[2021-01-25 14:24] jpkrohling commented on #1256
I'd go with the safe solution for v1 (each protocol in its own port), and offer a `combine-ports` option that could use this.

[2021-01-25 14:34] tigrannajaryan commented on #2353
Specification says it must be the same port. @bogdandrutu looked into it and I think concluded that it should be possible. If it turns out to be impossible we will be not compliant with the spec or will need to change the spec again.

[2021-01-25 14:37] tigrannajaryan commented on #2353
Closing, duplicate of https://github.com/open-telemetry/opentelemetry-collector/issues/1256

[2021-01-25 14:37] #2353 closed

[2021-01-25 17:19] pavolloffay opened #2401 "Access headers in processor"
**Is your feature request related to a problem? Please describe.**

I would like to access HTTP headers in the processor pipeline and add attribute to span/resource - e.g. tenant ID.

**Describe the solution you'd like**

Read the headers from the context object in a processor. The headers which should be injected into the context could be specified in the receiver config.

**Describe alternatives

[2021-01-25 17:51] carlosalberto commented on #1916
Hey @kevincantu Any update on this? ;)

[2021-01-25 19:02] gramidt commented on #1139
This is a rather tricky problem and would love to work with others on coming up with a few solutions to evaluate.

[2021-01-26 12:16] pavolloffay commented on #2401
[code]

returns the HTTP headers for any gRPC receiver. However the processor cannot be used after the batch processor. The same approach uses https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/master/processor/routingprocessor

However, I also need to access the headers from Jaeger HTTP thrift (14268) receiver.

[2021-01-26 12:34] pavolloffay commented on #2401
@bogdandrutu @tigrannajaryan could we add HTTP headers to the context in the HTTP based receivers?

[2021-01-26 16:48] jcchavezs commented on #2401
I think if this goes forward there should be a way to access headers (metadata) decoupled from the receiver (e.g. a method to access it instead of the need to call grpc `metadata.FromIncomingContext`), that is probably the less implementation aware way.

[2021-01-26 21:03] owais commented on #2354
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/61598

#### Test Failures
-  TestTraceNoBackend10kSPS
-  TestTraceNoBackend10kSPS/MemoryLimit

[2021-01-27 05:09] axw commented on #2395
https://github.com/open-telemetry/opentelemetry-collector/pull/2411 implements this as described. If there are no objections in principle, I'll open that up for review.

[2021-01-27 14:10] arjantop-cai opened #2412 "prometheusremotewriteexporter does not support resource_to_telemetry_conversion"
**Is your feature request related to a problem? Please describe.**
We would like to distinguish metrics from different deployments based on resource metrics.

**Describe the solution you'd like**
We use prometheusremotewriteexporter, support for resource_to_telemetry_conversion would be needed.

**Describe alternatives you've considered**
To my knowledge this is the only way to add more labels/att

[2021-01-27 18:43] bogdandrutu commented on #2336
Everything sounds good and aligned with my understanding. I think we should start doing this.

[2021-01-27 18:46] bogdandrutu commented on #2412
To my knowledge this is the only way to add more labels/attributes at collector level.

Can you expend on this?

[2021-01-28 00:07] iPaxos commented on #560
@sribalakumar @johanbrandhorst

Any updates regarding the above? I am facing the same issue.

[2021-01-28 00:11] andrewhsu commented on #2397
closing as duplicate because this issue is taken care of in #2102

[2021-01-28 00:11] #2397 closed

[2021-01-28 00:12] iPaxos commented on #2310
Any updates regarding this? I am facing the same issue.

[2021-01-28 00:28] andrewhsu commented on #1674
@bogdandrutu is this issue resolved? i see 4 PRs that reference this issue

[2021-01-28 00:30] andrewhsu commented on #1652
marking as done from collector sig mtg triage

[2021-01-28 00:30] #1652 closed

[2021-01-28 00:34] andrewhsu commented on #1602
from the collector sig mtg today, closing it because this is resolved (done)

[2021-01-28 00:34] #1602 closed

[2021-01-28 00:35] andrewhsu commented on #1594
Closing this as done because PR #1446 was merged

[2021-01-28 00:35] #1594 closed

[2021-01-28 00:37] andrewhsu commented on #1559
Closing this as done because PR #1582 was merged

[2021-01-28 00:37] #1559 closed

[2021-01-28 00:46] jrcamp commented on #1602
Relevant part of HTTPClientSettings:

[code]

I think this is solved for HTTP clients (https has to be included as part of the endpoint). May need to figure out something else for unix sockets later but can deal with it when the need arises. @bogdandrutu do you remember these discussions? Anything else to add for this ticket?

[2021-01-28 10:08] johanbrandhorst commented on #560
I still don't have a solution for this.

[2021-01-28 11:20] pkositsyn commented on #2102
My issue is closed as a duplicate, so I'd like to comment it here. I have a question about this point

I think there is a simple solution to add a global system logs rate limit with a corresponding flag.

Why do I think it's actually enough for any purposes:
1. This is a somewhat hard limit for logs. You know that more logs than this limit won't give any information or more logs means overload of

[2021-01-28 14:40] jpkrohling commented on #2102
I agree with your proposal as a whole, and I think our logger (zap) does support rate limiting. In any case, it would be good to have bug reports against those components. Logging on error is desirable, but we might be able to optimize hot paths...

[2021-01-28 15:27] arjantop-cai commented on #2412
@bogdandrutu Sorry will expand with our usecase/setup:
We run otel agent on every node and otel collectors.

Agents:
* receive otlp metrics/traces from local pods
* scrape node metrics
* we add a resource label/annotation (node name), mainly to make node metrics per-node

Collector:
* Receives otlp metrics/traces from agents
* Adds resource tag/label (eg. cluster name), to distinguish multiple dep

[2021-01-28 16:02] dyladan opened #2415 "Rename default branch to main"
I apologize if there is already an open issue for this. I searched and did not find one.

For more information see https://github.com/open-telemetry/community/issues/402

[2021-01-28 18:27] bogdandrutu commented on #2415
Done

[2021-01-28 18:27] #2415 closed

[2021-01-28 19:05] owais commented on #2354
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/61840

#### Test Failures
-  TestTraceNoBackend10kSPS
-  TestTraceNoBackend10kSPS/NoMemoryLimit
-  TestTraceNoBackend10kSPS/MemoryLimit

[2021-01-28 23:23] jmacd commented on #2315
There's something here about how metrics are meant to be "single source". It should not be possible to get out-of-order samples in a correctly configured system, since each metric should come from a single source of truth.  I wrote about how "single-homed" metrics are always easier in this document: https://docs.google.com/document/d/1hed5J_Lk_l1qz5rei4V7kDSzcIlr4b0qKG4m7VfbS0I/edit?usp=sharing

[2021-01-29 17:21] pkositsyn commented on #2102
Yes, there is actually a possibility to tune logger. It's a pity I cannot do it from the box. Need to do manipulations with code. Is there a position on not exposing more flags?

[2021-01-29 17:24] bogdandrutu commented on #2401
@pavolloffay we were just discussing this, and I don't know what is the right approach. The problem with adding it to the Context is that if batch span processor is the first processor that will drop the context, so most likely we have to carry this with the data itself and not the Context.

[2021-02-01 02:09] flands commented on #1490
https://github.com/open-telemetry/opentelemetry-helm-charts exists now with a helm -- please open issues / contribute there

[2021-02-01 02:09] #1490 closed

[2021-02-01 02:11] #213 closed

[2021-02-01 08:59] pasali commented on #560
hi @anniefu and @tigrannajaryan
I couldn't find out how to drop spans  with current functionality. In the docs, it says:

What i understand from this is its only work for processors. But i didn't see any drop-like action for  attribute or span processor.  Can you give an example to how to do this ?

[2021-02-01 09:51] pavolloffay commented on #2401
Correct, I understand this as a limitation of the current design which is fine for us since the processor that access the headers will run immediately after the receiver.
The https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/master/processor/routingprocessor uses it as well and documents how the processor should be used.

Shall we start thinking on merging contexts in the batc

[2021-02-01 17:03] #2332 closed

[2021-02-01 19:26] pmm-sumo commented on #2265
BTW, was making some tests of groupbyattrsprocessor and when the pipeline is `batch` -> `groupbyattrs` and the latter lists the keys that can be found in spans, this is practically what happens. Multiple batches are joined together.

[2021-02-02 00:51] wangzlei opened #2428 "Build Collector binary on demond"
**Is your feature request related to a problem? Please describe.**
The current Collector binary includes all of components, Collector-contrib includes more 3rd party receivers and exporters the binary size is over 100MB and would be larger in the future. For some resource sensitive environment like AWS Lambda, it calculates memory usage by Cache + RSS, the larger size of Collector the higher bill

[2021-02-02 00:55] wangzlei commented on #2428
Close the issue since OpenTelemetry has repo https://github.com/observatorium/opentelemetry-collector-builder

[2021-02-02 10:29] jpkrohling opened #2430 "Supportability: Revisit the metrics we have"
Context: https://github.com/open-telemetry/opentelemetry-collector/issues/2098#issuecomment-736820622

This issue here is to track which metrics we have in the usual case, which ones are shown when a problem happens, and what we could be having to help identify problems.

[2021-02-02 10:31] jpkrohling opened #2431 "Supportability: Revisit the log entries we have"
Context: https://github.com/open-telemetry/opentelemetry-collector/issues/2098#issuecomment-736820622

This issue here is to track which log entries we have in the usual case, which ones are shown when a problem happens, and what we could be having to help identify problems.

[2021-02-02 10:32] jpkrohling opened #2432 "Supportability: Document the metrics people can use for troubleshooting"
Context: https://github.com/open-telemetry/opentelemetry-collector/issues/2098#issuecomment-736820622

Once #2430 is done, we should document them, making it easy for people to watch/monitor them.

[2021-02-02 10:35] jpkrohling opened #2433 "Supportability: Improve troubleshooting guide"
Once both #2430 and #2431 are done, we should create a troubleshooting guide, making it easier for people to understand what's wrong in their setup. It should also make it easier for us to provide support, as people can just tell us which part of the guide is failing for them.

[2021-02-02 10:36] jpkrohling commented on #2098
I opened four issues, each tracking a suggestion I've made. I'll start working on them in the given order.

[2021-02-02 10:36] jpkrohling commented on #2430
Please, assign this to me.

[2021-02-02 10:43] jpkrohling commented on #2102
Not that I'm aware of. Each new flag comes with the need to document and maintain it, but nothing will prevent us from adding one if they are justifiable.

[2021-02-02 12:32] jpkrohling commented on #2431
When the logging exporter is enabled with `logLevel: debug`, the following is seen when a batch with 2 spans is sent and the pipeline is properly configured:

[code]

[2021-02-02 12:41] jpkrohling commented on #2431
When using the Jaeger exporter and the remote backend isn't available, the following can be seen in the default configuration:

[code]

[2021-02-02 12:53] jpkrohling opened #2434 "Supportability: make the queued_retry observable"
As part of #2430, it's clear that the queued_retry, used by default by core exporters such as Jaeger and OTLP isn't easily observable. When a Jaeger backend becomes unavailable, the following is seen:

[code]

Before the permanent failure, there aren't metrics indicating that batches are in the process of being retried. When they finally fail, and only then, the following metric is updated:

[code

[2021-02-02 12:54] jpkrohling commented on #2434
cc @pkositsyn, as this last item might be what you mentioned in another issue.

[2021-02-02 14:24] jpkrohling commented on #2430
## General metrics that every receiver/exporter should have

[code]

## OTLP-specific

In the receiver, the metric contains the protocol that received the batch:
[code]
No special metrics for the exporter.

## Jaeger-specific

In the receiver, the metric contains the protocol that received the batch:
[code]
No special metrics for the exporter.

The following can be used to check the current state

[2021-02-02 14:36] jpkrohling opened #2435 "Supportability: make the sending_queue observable"
Similar to #2434 but for the sending_queue. It does contain some log entries but no metrics. Apparently, it annotates spans that might exist in the context, but it's not clear how to access this data.

[2021-02-02 15:22] jpkrohling commented on #2430
I'll leave this open for further feedback, but I think this is done for now.

[2021-02-03 05:35] albertteoh commented on #2434
@jpkrohling it seems `queued_retry` was deprecated and [removed in v0.19.0 Beta](https://github.com/open-telemetry/opentelemetry-collector/blob/68c5961f7bc2d8d55fd431ab07367fc16f8b26d0/CHANGELOG.md) (I don't know why).

[2021-02-03 09:03] vibhavp opened #2437 "Doesn't build when GOOS=freebsd"
**Describe the bug**
`opentelemetry-collector` doesn't build when `GOOS` is set to `freebsd`.

**Steps to reproduce**

[code]

**What did you expect to see?**
`opentelemetry-collector` should build and output a FreeBSD `otelcol` binary

**What did you see instead?**
The build fails:
[code]

**What version did you use?**
Version: `e12dee4c85377ba5bf4aea7136a8bc51efb3d8e5`

**Environment**
Go versio

[2021-02-03 09:05] jpkrohling commented on #2434
The processor was, but this is about the helper that is the replacement for that.

[2021-02-03 10:26] albertteoh commented on #2434
I see, thanks!

[2021-02-03 14:48] tigrannajaryan commented on #2395
It is not clear why you need to expose these functions. Are you implementing a receiver in the Collector?

If you are implementing an OTLP receiver in your codebase that is _not_ the Collector then you should generate your own OTLP gRPC/Protobuf messages from https://github.com/open-telemetry/opentelemetry-proto/tree/main/opentelemetry/proto

[2021-02-03 14:49] tigrannajaryan commented on #2304
No further information provided. Closing as unreproducible.

[2021-02-03 14:49] #2304 closed

[2021-02-03 14:53] tigrannajaryan commented on #1624
To add data to all telemetry see for example these processors:
- https://github.com/open-telemetry/opentelemetry-collector/tree/main/processor/resourceprocessor
- https://github.com/open-telemetry/opentelemetry-collector/tree/main/processor/attributesprocessor
- https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/resourcedetectionprocessor

[2021-02-03 14:53] #1624 closed

[2021-02-03 17:11] tigrannajaryan commented on #2433
Improve this: https://github.com/open-telemetry/opentelemetry-collector/blob/main/docs/troubleshooting.md

[2021-02-03 17:24] andrewhsu commented on #2437
Talked about this at the collector sig mtg and @tigrannajaryan will post response

[2021-02-03 18:24] djaglowski commented on #2285
The recent stanza contribution may include some useful code to bootstrap this effort. I'm not deeply familiar with this part of the codebase, but it implements [buffering](https://github.com/observIQ/opentelemetry-log-collection/tree/master/operator/buffer) and [flushing](https://github.com/observIQ/opentelemetry-log-collection/tree/master/operator/flusher) as independent capabilities.

This code

[2021-02-03 21:54] tigrannajaryan commented on #2437
Freebsd is not a supported platform. We will accept small PRs if they fix the build on Freebsd provided that the change does not complicate the maintenance of the officially supported platforms.

I want to make it clear that acceptance of patches that fix problems on unsupported platforms is not a commitment by maintainers to support the platform going forward.

[2021-02-03 23:54] axw commented on #2395
@tigrannajaryan no, not a receiver in the Collector. Rather. We would like to embed the Collector inside another existing program (apm-server). The goal is to add support for receiving OTLP directly in apm-server.

Yes, that is another option. We would prefer to reuse code if possible. If we generate independent code from the protobuf definitions, anything we develop around that cannot easily be r

[2021-02-04 15:27] owais commented on #2354
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/62232

#### Test Failures
-  TestTraceNoBackend10kSPS
-  TestTraceNoBackend10kSPS/NoMemoryLimit
-  TestTraceNoBackend10kSPS/MemoryLimit

[2021-02-05 01:07] DanTulovsky opened #2440 "'fetch_endpoint' is an invalid key for 'remote_sampling'"
**Describe the bug**

Using the suggested config below, I receive an error message from the collector when it comes up.

[code]

[code]

**Steps to reproduce**
Start a collector with the above config.

**What did you expect to see?**
A working collector.

**What did you see instead?**
crash loop with error:

[code]

**What version did you use?**

[code]

**What config did you use?**
[code]

**Envi

[2021-02-05 05:46] 13667285528 opened #2441 "Official documentation needs to be updated"
**Failed to start the sample app**

Unable to properly execute 'make' command to generate bytecode file
[collector-getting-started](https://opentelemetry.io/docs/collector/getting-started/)

**command**
`$ git clone git@github.com:open-telemetry/opentelemetry-collector.git; \
    cd opentelemetry-collector; make otelcol; \
    go build examples/demo/app/main.go; ./main & pid1="$!"; \
    ./bin/ote

[2021-02-05 08:05] vibhavp commented on #2437
@tigrannajaryan I understand. The PR I created for the fix doesn't add any new code, but simply renames an existing file to have a prefix that isn't a `GOOS` value. Given that the change is just a file rename, do I still need to sign a CLA?

[2021-02-05 17:07] tigrannajaryan commented on #2437
Yes, CLA is enforced, it is not possible to merge a PR without one.

[2021-02-05 17:13] tigrannajaryan commented on #2395
Making these functions exported increases our API surface and is not something we want to do, no matter how small the increase. We are constantly looking for ways to keep our public API small. So, unfortunately, the answer is no.

You may be able to use https://github.com/open-telemetry/opentelemetry-proto-go once it is ready.

I am going to close this, please feel free to reopen if you have addit

[2021-02-05 17:13] #2395 closed

[2021-02-06 00:10] axw commented on #2395
No worries, thanks for the discussion. Is the intention to have the collector use opentelemetry-proto-go at some point? (If this is documented somewhere I'd be happy to read up - couldn't find any issues mentioning it.)

[2021-02-07 16:16] flands commented on #2441
Hmm, I think the issue is with the build:

[code]

@tigrannajaryan @jrcamp is local/refresh build working for you?

[2021-02-08 05:01] jcchavezs opened #2443 "Clarify the effect of shutdown on processors"
**Is your feature request related to a problem? Please describe.**
It isn't clear what the shutdown does when called in processors. The current description says:

[code]

While this is correct, it is very open to what a processor should do when the Shutdown call happens, e.g. in `batcherprocessor`, a call to shutdown will drain the buffer but that isn't required from the description because "cance

[2021-02-08 13:37] morigs commented on #2310
Span (not trace) filtering is really what you want to achieve? This can lead to patchy traces
If you want to filter traces, then this is a much more difficult task that cannot be performed by one processor
It called tail based sampling. You can get some background [here](https://github.com/open-telemetry/opentelemetry-collector/issues/407)
In this case you have to use combination of three processo

[2021-02-08 13:40] cemo commented on #2310
@morigs Would you please share a sample :) ?

[2021-02-08 13:49] morigs commented on #2310
Tbh I didn't experiment with this yet, so you have to try yourself 😞
Btw I believe it should be better documented, so may be we should comment #407 or create new issue for this case

[2021-02-08 13:52] morigs commented on #2310
Also I can be wrong about `groupbytrace` requirement

[2021-02-08 20:26] tigrannajaryan commented on #2441
This sequence works for me (cloning to a new directory):

[code]

No error messages. I do not have a clean machine to try.

Can you try `make install-tools` before `make otelcol` and see if it helps?

[2021-02-08 22:53] mwear commented on #2441
I'm running into to the same problem. Running `make install-tools` first does not fix it.

[2021-02-08 23:17] mwear commented on #2441
I was able to solve this on my machine. I don't have a `GOBIN` environment variable set and I noticed that `make install-tools` installs `mdatagen` in `$HOME/go/bin`, which I'm guessing is derived off my `GOPATH`. Adding it to my path  (`export PATH=$PATH:$HOME/go/bin`) fixed this for me.

[2021-02-09 07:40] vibhavp commented on #2412
We've forked `opentelemetry-collector` to play around with and support for converting opentelemtry resource values to metric labels for `prometheusexporter` and `prometheusremotewriteexporter` : https://github.com/edjx/opentelemetry-collector

The functionality can be enabled by adding this block to your exporter's config:
[code]
The fork uses the `exporthelper` subpackage to implement this functi

[2021-02-09 20:16] EliyaCohen opened #2450 "FileExporter file separation"
I want to use the FileExporter to transfer files from places where I don't have direct network access to the main collector. For example, when using a DMZ that only allows file transfers.
The current exporter only allows writing to a single file, so it can't be used reliably to send the file through the DMZ (The file will always be locked under large workloads)

I'd like that the FileExporter will

[2021-02-09 20:31] Andrey1337 commented on #2450
I got the same Issue

[2021-02-10 00:56] albertteoh commented on #560
Looking at the [attributes processor](https://github.com/open-telemetry/opentelemetry-collector/blob/main/processor/attributesprocessor/attributes_trace.go#L55) and [span processor](https://github.com/open-telemetry/opentelemetry-collector/blob/main/processor/spanprocessor/span.go#L94), the `exclude` filters are used to exclude spans' attributes/name from being mutated, not dropping them. All span

[2021-02-10 01:47] flands commented on #2441
Confirmed, this worked. @13667285528 please file against open-telemetry/opentelemetry.io repo and adding `make install-tools` does appear to resolve the issue.

[2021-02-10 01:47] #2441 closed

[2021-02-10 01:57] bogdandrutu commented on #2450
(Not sure if this was a question) Just to write in different files based on the signal type (trace and metrics), here is a config you can do:

[code]

By each, you mean each "batch" that the exporter receives probably. I think this is not that useful if we offer a file rotation option correct?

I would go with this option if I were to add it.

[2021-02-10 02:28] bogdandrutu commented on #2443
Agreed that extra documentation about clearing the internal buffers and sending data to the next component would be a good addition. Would you mind doing that?

[2021-02-10 08:59] pmm-sumo commented on #1383
We hit the same problem. I think what happens is that CORS AllowedHeaders needs to be exposed in `confighttp` and used around here: [confighttp.go#L158](https://github.com/open-telemetry/opentelemetry-collector/blob/main/config/confighttp/confighttp.go#L158)

[2021-02-10 10:01] pmm-sumo commented on #1383
@obecny with setting `cors_allowed_headers`(even to `*` or so) via https://github.com/open-telemetry/opentelemetry-collector/pull/2454 the problem seems to be gone for our use case

[2021-02-10 17:49] owenhaynes opened #2456 "Rotating TLS exporter kafka"
**Is your feature request related to a problem? Please describe.**
Our TLS certs for kafka are rotated every N days and connections will fail if the certs when this happens.

**Describe the solution you'd like**
Certs are reloaded without downtime, it should be possible with setting up VerifyConnection && GetClientCertificate on tlsconfig, as this is how we rotate for our kafka consumers and publi

[2021-02-10 18:38] EliyaCohen commented on #2450
Exactly. File rotation based on time interval/file size will solve my use case.

[2021-02-10 23:43] jsuereth opened #2458 "Add 3rd-party LICENSE files to Docker Image distribution"
**Is your feature request related to a problem? Please describe.**
Many OSS licenses require re-distribution with said license.   E.g. the MIT licenses explicitly states:

`The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.`

**Describe the solution you'd like**
We create a `licenses/` directory in the relevant distributed

[2021-02-11 01:02] bwplotka opened #2460 "Proposal: Focused, Vendor-agnostic Collector"
👋🏽 Hello and thanks for the amazing work so far!

I have a very far fetched proposal, but... it's open source you can always ignore my idea. 🙃  I would be curious if the following idea would not improve project velocity and maintainer's life, while still maintaining Collector amazing goals 💪🏽

**Is your feature request related to a problem? Please describe.**

The collector is internally designed

[2021-02-11 01:58] jkowall commented on #2460
The downside of this approach is that it works great for metrics, but as we get into logging (transforms, parsing, and other elements) and tracing (sampling which requires a more complex set of capabilities) then things start getting too complex inside the collector pipelines. If we solve the input and output, there are still a lot of things in between that would need to be cared for. We can add a