[2021-08-16 00:52] #3023 closed

[2021-08-16 17:41] mxiamxia commented on #3825
This is a bug will be fixed. :)

We can't add dimensions to metrics. It's an extra cost to users.

[2021-08-16 19:27] odeke-em commented on #2533
@alolita @bogdandrutu @Aneurysm9 @kirbyquerby could someone please help close this issue? The PR author forgot to attach the "Fixes #NNNN" in their commit message so it didn't auto close, but it was fixed months ago.

[2021-08-16 20:25] bogdandrutu commented on #3824
@codeboten this is because https://github.com/open-telemetry/opentelemetry-collector/pull/3770

[2021-08-16 20:26] #3788 closed

[2021-08-16 21:15] skadefro commented on #3824
Not sure what 3770 means. So is this a bug, or a decision to no longer support prometheusremotewrite and prometheus ?

[2021-08-16 21:21] alolita commented on #3531
@bogdandrutu can you please review and comment?

[2021-08-16 21:37] alolita commented on #3474
Hi @bogdandrutu - We're following a 3 step process for moving each of the identified components to contrib.

For each component, there are two PRs:
1. [In Collector Contrib repo] The first PR is to move the component from core to contrib with a non-fastforward merge (with an explicit merge and commit).
2. [In Collector Core repo] The second PR is to remove each component from collector core.

For

[2021-08-16 21:55] bogdandrutu commented on #3824
That is a PR number, that was merged and released without updating the promotheus components.

This is a bug on our side.

[2021-08-16 21:56] bogdandrutu commented on #3809
Probably because we forgot to log that. We should log / report any errors like these.

[2021-08-16 21:56] skadefro commented on #3824
Perfect, thank you for all the work you guys are doing, and fast feedback. 😊

[2021-08-17 02:17] kirbyquerby opened #3842 "Figure out how to represent / return *Sizers"
Context: https://github.com/open-telemetry/opentelemetry-collector/pull/3818/files#r687137158

For now, we're casting the *Marshaler returned by `pb_marshaler` to a *Sizer, but there could be a nicer solution.

My suggestion is we either:
* export the `pbMarshaler` type (make it `PbMarshaler`) and return an instance of it instead of an interface.
* If we don't want to export the type, we can creat

[2021-08-17 02:34] kirbyquerby opened #3843 "move telemetry-related settings to the config file"
context: https://github.com/open-telemetry/opentelemetry-collector/pull/3816#discussion_r686716331

The `metrics-level` and `metrics-backend` configuration for internal metrics are currently configured using command-line flags. Since config is already loaded by the time telemetry collection is set up, we should be able to instead read these values from config instead, eg:
[code]

/cc @tigrannajary

[2021-08-17 05:21] codeboten commented on #3824
I just tested this w/ 0.32.0 and compared the results w/ main. I believe this is now fixed in main with https://github.com/open-telemetry/opentelemetry-collector/commit/e08485709e7fe740886950dfbfceb874864bb95c for the OTLP receiver.

[2021-08-17 06:23] jinxin-fu opened #3845 "In kubernetes 1.21.x cannot load configuration"
When I use collertor.yaml provide by Knative_doc to create collector for knative, I meet some error as follow :

Error: cannot load configuration: error reading top level configuration sections: 1 error(s) decoding:
* 'service.extensions[0]' expected type 'string', got unconvertible type 'map[string]interface {}', value: 'map[health_check:<nil> pprof:<nil> zpages:<nil>]'
2021/08/17 06:10:57 collec

[2021-08-17 08:15] dickiebowuk commented on #3713
Looking at the issue today as I haven't had chance due to workload and annual leave over the last few weeks.

[2021-08-17 15:02] punya commented on #3474
I suggest that we combine step #1 and step #3, so that we avoid leaving contrib's main branch in a temporary broken state.

Also, should we worry about PRs (historical or in-flight) that touch the core components that are moving? i.e., should we try to get them merged before the move, or just let things play out (the PR author will see there's a merge conflict and realize that they need to re-crea

[2021-08-17 15:38] dickiebowuk commented on #3713
@pellared The issue you highlighted with the OTLP collector was the problem. I pulled the latest version of the main branch for the collector and used the following setup:

Docker Compose:
[code]

I had to expose port 4317 on my host Windows machine as the example I took it from uses a synthetic client and server that send spans on the Docker Network as they were running in their own containers. M

[2021-08-17 15:38] #3713 closed

[2021-08-17 18:06] bogdandrutu commented on #3845
[code]

this should be
[code]

[2021-08-17 18:10] #3531 closed

[2021-08-17 20:32] bogdandrutu commented on #3824
@skadefro can you help us, and run the latest build (from head) to check if this got fixed

[2021-08-17 20:54] skadefro commented on #3824
I would love too, but i only see [0.32.0 in docker hub](https://hub.docker.com/r/otel/opentelemetry-collector/tags?page=1&ordering=last_updated), and I don't know how to create an image my self.

[2021-08-17 23:42] gracewehner opened #3852 "Prometheus receiver doesn"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.

**What did you expect to see?**
A clear and concise description of what you expected to see.

**What did you see instead?**
A clear and concise description of what you saw instead.

**What version did you use?**
Version: (e.g., `v0.4.0`, `1eb551

[2021-08-18 01:10] bogdandrutu commented on #3824
Here is the image (as -dev) https://hub.docker.com/r/otel/opentelemetry-collector-dev/tags

[2021-08-18 01:11] bogdandrutu commented on #3824
More exactly try this one https://hub.docker.com/layers/otel/opentelemetry-collector-dev/7d0c66d793200ac0c206521edaf025d065cbda50/images/sha256-ae0eca0cb32623f3b5f91ecdad1bc4756ddd42fd90feac4577f4f07536a4a807?context=explore

[2021-08-18 01:22] jinxin-fu commented on #3845
thk, It can be create use the modification you provided

[2021-08-18 01:29] bogdandrutu commented on #3845
Can I close this bug?

[2021-08-18 01:33] jinxin-fu commented on #3845
Of couse ,thank you.

[2021-08-18 01:41] #3845 closed

[2021-08-18 04:27] Betula-L opened #3855 "Jaeger receiver UDP transport can not be closed"
**Describe the bug**
Jaeger receiver UDP transport can not be closed

**Steps to reproduce**
Run otel with below config
[code]

Then give it a signal interrupt.

**What did you expect to see?**
Otel should be closed gracefully.

**What did you see instead?**
Otel was not closed and hang.

**What version did you use?**
Version: 1e1f24b462e58b141ce967f744aa60efeeb349c7

**Additional context**
I trie

[2021-08-18 06:43] maliyan opened #3856 "Environment variable `OTELCOL_IMG` should be set `otel/opentelemetry-collector:latest`"
**Describe the bug**
When i set environment variable OTELCOL_IMG to otelcol:latest as example demo,  run `docker-compose up`, an error occured
`docker.errors.NullResource: Resource ID was not provided`

**Steps to reproduce**
run `docker-compose up`

**What did you expect to see?**
docker-compose should work

**What did you see instead?**
Error occurred: `docker.errors.NullResource: Resource ID wa

[2021-08-18 06:50] skadefro commented on #3824
I just tested the above image. And everything is working again for me :-)

[2021-08-18 06:55] #3856 closed

[2021-08-18 15:03] dashpole commented on #3852
+1
I believe I encountered this as well when playing around with the bitnami spark helm chart as well.

I got a metric like `metrics_master_aliveWorkers_Number{type="gauges"} 2` without a preceding type comment (and they put the type in a label?).

[2021-08-18 15:17] jmacd commented on #3733
This was discussed in the meeting today. Just to record what was stated, we think that this issue results from incorrect state tracking in the Prometheus receiver in a scenario where multiple scrape intervals are in use. It seems that when there is more than one scrape interval, all targets not scraped in a particular interval appear as stale despite not being attempted in that interval.

[2021-08-18 16:45] VineethReddy02 opened #3859 "Demo micro-services for easier setup and evaluation of Otel collector"
**Is your feature request related to a problem? Please describe.**
I personally had a hard time setting up a demo micro-services setup that emits traces to opentelemetry collector for getting started and evaluation of the opentelemetry collector.

**Describe the solution you'd like**
I propose that in otel collector upstream we should maintain a clone of [hipster-shop/demo-micro-services](https://

[2021-08-18 17:14] bogdandrutu commented on #3824
v0.33.0 releasing now

[2021-08-18 17:14] #3824 closed

[2021-08-18 18:13] #3815 closed

[2021-08-19 07:15] odeke-em opened #3863 "receiver/prometheus: return an error if YAML configuration has valid options not supported by this receiver like rule_files, alert_configs"
If we have this Prometheus configuration
[code]

Unfortunately it won't return an error despite the Prometheus receiver not having support for values like:
* alerting/*
* alertmanagers
* remote_read
* remote_write
* rule_files

This issue is a follow-up of the Prometheus Working Group SIG discussion from https://github.com/open-telemetry/wg-prometheus/issues/3. PR coming up shortly.

[2021-08-19 10:33] Betula-L opened #3866 "Fix jaeger receiver collector remote sampling strategies in gRPC endpoint"
**Describe the bug**
We are trying to replace jaeger agent to opentelemetry-collector now as following described.
![image](https://user-images.githubusercontent.com/6059935/130052721-ff847875-b3a6-4bf4-81e8-be31bc0de463.png)

However, we encountered some troubles for java programs. As recent PR https://github.com/open-telemetry/opentelemetry-java/pull/3368, java SDK only supports request remote sa

[2021-08-19 16:53] bogdandrutu commented on #3794
I don't think this is a bug. we are not copying prometheus in this project. We do have other ways to reload config see the ConfigSource and other mechanisms.

[2021-08-19 16:54] bogdandrutu commented on #3535
This was closed with the v0.33.0 release

[2021-08-19 16:54] #3535 closed

[2021-08-19 16:55] #3539 closed

[2021-08-19 20:25] chengtangzheng2021 opened #3871 "when start collector, a Prometheus metrics service automatically started, can this start be disabled?"
## Important (read before submitting)
We are currently preparing for the upcoming 1.0 GA release. Feature requests that are not aligned with
the current roadmap https://github.com/open-telemetry/opentelemetry-collector/blob/main/docs/roadmap.md
and are not aimed at stabilizing and preparing the Collector for the release will not be prioritized.

_Delete this paragraph before submitting._

**Is you

[2021-08-19 23:30] ctaggart commented on #3669
I had the same question: What is the difference between:

1. https://hub.docker.com/r/otel/opentelemetry-collector
2. https://hub.docker.com/r/otel/opentelemetry-collector-dev
3. https://hub.docker.com/r/otel/opentelemetry-collector-contrib

I spent some time investigating it out just now. Here is what I found out. There are two Dockerfile's:

- 1 & 2 from https://github.com/open-telemetry/opentel

[2021-08-20 00:29] #3579 closed

[2021-08-20 00:53] bogdandrutu commented on #3584
Stale since the author did not give more details.

[2021-08-20 00:53] #3584 closed

[2021-08-20 00:56] bogdandrutu commented on #3533
Mark this as stale, sorry @vishiy, if you still have this issue please reopen

[2021-08-20 00:56] #3533 closed

[2021-08-20 00:58] #305 closed

[2021-08-20 01:00] bogdandrutu commented on #539
This is stale since we are working on the new matching config

[2021-08-20 01:00] #539 closed

[2021-08-20 01:01] #737 closed

[2021-08-20 01:01] #736 closed

[2021-08-20 01:02] #778 closed

[2021-08-20 01:08] bogdandrutu commented on #3863
This is fixed correct?

[2021-08-20 01:08] #3863 closed

[2021-08-20 01:09] davidmirza408 commented on #3412
I would appreciate a response to this request.  It is needed so that we can properly log GRPC request/response and to be able to inject a random trace header for each request.

[2021-08-20 01:11] bogdandrutu commented on #3663
Cannot be moved

[2021-08-20 01:11] #3663 closed

[2021-08-20 01:12] bogdandrutu commented on #3661
Cannot be moved

[2021-08-20 01:12] #3661 closed

[2021-08-20 01:12] bogdandrutu commented on #3662
Cannot be moved

[2021-08-20 01:12] #3662 closed

[2021-08-20 01:12] bogdandrutu commented on #3660
Cannot be moved

[2021-08-20 01:12] #3660 closed

[2021-08-20 01:12] bogdandrutu commented on #3659
Cannot be moved

[2021-08-20 01:12] #3659 closed

[2021-08-20 01:12] bogdandrutu commented on #3658
Cannot be moved

[2021-08-20 01:12] #3658 closed

[2021-08-20 01:12] bogdandrutu commented on #3656
Cannot be moved

[2021-08-20 01:12] #3656 closed

[2021-08-20 01:13] bogdandrutu commented on #3655
Cannot be moved

[2021-08-20 01:13] #3655 closed

[2021-08-20 01:14] #3576 closed

[2021-08-20 01:16] bogdandrutu commented on #3451
Done in v0.33.0 we are up-to-date

[2021-08-20 01:16] #3451 closed

[2021-08-20 01:16] bogdandrutu commented on #3424
This is done correct?

[2021-08-20 01:16] #3424 closed

[2021-08-20 01:18] bogdandrutu commented on #3412
I don't have a solution, looking for proposals

[2021-08-20 17:06] davidmirza408 commented on #3412
In the HTTPClientSettings used to configure the http exporter there is a field called CustomRoundTripper that allows us to wrap the OT round tripper with a custom round tripper.  I think something similar would work for GRPC.  We could add a GRPCInterceptor setting to GRPCClientSettings.

[2021-08-20 17:19] bogdandrutu opened #3875 "Move `configcheck.ValidateConfig` to `configtest.ValidateConfig`"

[2021-08-20 17:20] bogdandrutu opened #3876 "Move `configcheck.ValidateConfigFromFactories` as internal function in `service` package"

[2021-08-20 18:57] bogdandrutu commented on #3641
Not needed

[2021-08-20 18:57] #3641 closed

[2021-08-20 18:57] bogdandrutu commented on #3642
not needed

[2021-08-20 18:57] #3642 closed

[2021-08-20 22:20] #3652 closed

[2021-08-20 22:20] #3651 closed

[2021-08-21 02:38] rashmichandrashekar opened #3879 "Add further validation to prometheus receivers validate method to make it more robust"
Problem -
The current implementation of the prometheus receiver's validate method does some basic validation to check if there are any scrape configs present at all and a renaming fix. If I were to run this validate method before running the collector to make sure it doesnt crash at runtime, it wouldn't catch all the issues and collector will crash at runtime.
https://github.com/open-telemetry/ope

[2021-08-22 18:52] sodabrew commented on #3780
The collector sends its logs to stdout where your usual logging system can pick them up. The library in use is https://github.com/uber-go/zap which does not itself support any vendors - just stdout/stderr/local files. There are extensions to zap that do support vendors, but none of those are wired up by the collector at this time: https://github.com/uber-go/zap/blob/master/FAQ.md#extensions

So wh

[2021-08-23 06:38] piffall opened #3882 "Re-evaluate the config for sarama producer on kafka exporter."
Re-evaluate if/how to provide sarama configuration parameters through exporter configuration.

_Originally posted by @bogdandrutu in https://github.com/open-telemetry/opentelemetry-collector/pull/3777#discussion_r692575795_

[2021-08-23 14:26] dashpole commented on #3879
It would be helpful to enumerate what we want to evaluate so it is easy for someone to pick up.  I took a brief look through, and it looks like it just validates that files exist (tls, file_sd, etc).  Other than that, it validates pieces of the config we don't support in the receiver, such as rule_files.

Is there anything other than files you think we should validate?

[2021-08-23 14:26] dashpole commented on #3879
We should also confirm the current behavior if you try and start the prometheus receiver with a prometheus config that points to non-existent files.

[2021-08-23 19:52] rashmichandrashekar commented on #3879
@dashpole - Your understanding is mostly right.
But apart from the file exists validation, there are also a few other checks.
To sum up, here's a list of all the things that it does that is relevant to scrape config which the receiver supports-
1. Checks if bearer token(Should be updated to Authorization credentials file for newer versions) exists.
2. Check TLS config - Certfile and key file speci

[2021-08-24 01:44] #2364 closed

[2021-08-24 15:06] samanthawalter opened #3884 "[attributeprocessor] Support sourcing attribute value from current timestamp"
**Is your feature request related to a problem? Please describe.**
We would like to be able to add an attribute to traces/metrics/logs whose value is the time at which it passed through the collector.

**Describe the solution you'd like**
Implement this change in the AttrProc whose logic is shared by both the Attribute Processor and Resource Processor.

In addition to sourcing the attribute value

[2021-08-24 15:07] samanthawalter opened #3885 "[attributeprocessor] Support applying an action conditionally on the existence of another attribute"
**Is your feature request related to a problem? Please describe.**
We would like to be able to apply an insert/update/upsert action only if another specified attribute exists.

**Describe the solution you'd like**
Implement this change in the AttrProc whose logic is shared by both the Attribute Processor and Resource Processor.

Add the ability to configure an attribute key which must exist for th

[2021-08-24 15:08] samanthawalter opened #3886 "[attributeprocessor] Support applying actions to only a sample percentage of traces/metrics/logs"
**Is your feature request related to a problem? Please describe.**
We would like to be able to apply an insert/update/upsert action to only a sample percentage of traces/metrics/logs in order to curb attribute bloating on all telemetry.

**Describe the solution you'd like**
To the Attribute Processor and Resource Processor, add the ability to configure the percent probability that a piece of telem

[2021-08-24 16:11] clmssz commented on #3118
Hi,
Having this exact same issue on main, with random properly typed metrics

[2021-08-24 16:23] locmai commented on #3118
I found out that the `prometheusexporter` is dropping some metrics on it end due to this
https://github.com/open-telemetry/opentelemetry-collector/blob/cc41009d95166f0c5ab9a9bddbab9ec903ed163d/exporter/prometheusexporter/accumulator.go#L198

To check if the metric has been dropped by `prometheusexporter` , remove all the processors, then add a file exporter with the JSON format to see if the data

[2021-08-26 20:33] #3639 closed, assigned to nobody

[2021-08-27 20:12] qingvincentyin opened #3916 "Getting Started: There is no demo dir or docker-compose.yaml file"
https://opentelemetry.io/docs/collector/getting-started/#demo
excerpt:
[code]

That command is apparently expecting a file `./opentelemetry-collector/examples/demo/docker-compose.yaml`.

But there is no `demo` subdirectory. And there's no `docker-compose.yaml` anywhere in that entire repo.

[2021-08-28 03:13] kevincantu commented on #1916
I'm no longer actively working on the same system which used this, so I haven't spun up a cluster to try any of this out again lately.

What I'd try, though, is setting up something like my example above, with a newer version of Contour (and its [corresponding newer version of Envoy](https://projectcontour.io/resources/compatibility-matrix/)), and see whether the workaround I showed is still neces

[2021-08-29 16:26] bogdandrutu commented on #3627
This looks to me as being done

[2021-08-29 16:26] #3627 closed

[2021-08-29 22:36] Camilo-TI opened #3920 "Getting Started"
Directory "opentelemetry-collector/examples/demo" does not exist

[2021-08-30 12:43] hdost commented on #3012
Is there a link to the discussion where this is being discussed?

[2021-08-30 14:49] bogdandrutu commented on #3920
Moved to `opentelemetry-collector-contrib/examples/demo`

[2021-08-30 14:59] bogdandrutu opened #3921 "Allow Factories to support new signals"
The current Factory implementation for Receiver, Exporter do not allow new signals because interfaces cannot be extended:
1. Apply same model as https://github.com/open-telemetry/opentelemetry-collector/blob/main/component/processor.go#L117
  - There are few options: we do the simplest with a Base struct in the package OR force everyone to use the helpers (by making the internal method part of an

[2021-08-30 15:01] bogdandrutu opened #3922 "Pass "Settings" to all obsreport packages"
Similar to the https://github.com/open-telemetry/opentelemetry-collector/pull/3789 we need to update all obsreport packages. We use now only the TracerProvider from Settings, but soon MeterProvider will be added when changed to otel metrics, so this is important.

[2021-08-30 15:04] bogdandrutu opened #3923 "Rename `configparser.Parser` to `configmap.ConfigMap`?"
The current `configparser.Parser` name does not sound very good. This struct does not do anything like parsing or unmarshaling since we have interfaces to parse the config from different sources and to Unmarshal it. Hence `ConfigMap` sounds like a better name.

[2021-08-30 15:06] bogdandrutu opened #3924 "Find the right place/name for current `ParserProvider` and relationship with `ConfigSource`"
Ideally these 2 interfaces should be just one, conceptually they provide parts of the configuration (or full configuration).
1. The current path of the `ParserProvider` in service seems to be inconsistent with the rest of the configuration interfaces.
2. Try to unify the interfaces.

[2021-08-30 15:08] bogdandrutu opened #3925 "Remove deprecated funcs `pdata.TimestampFromTime` in v0.35.0"

[2021-08-30 15:11] bogdandrutu opened #3926 "Revisit the newly added APIs `pdata.AttributeValueToString` and `pdata.AttributeMapToMap`"
1. Should they be funcs on the `pdata.AttributeValue.AsString()` and `pdata.AttributeMap.AsMap()`?
2. Can we make `pdata.AttributeMapToMap` consistent with `pdata.AttributeMap.InitFromMap()` when it comes to the returned type?
3. Can we change `pdata.AttributeMap.InitFromMap()` to a constructor func -> `pdata.NewAttributeMapFromMap()` to be consistent with trace ids, timestamp, etc.?

[2021-08-30 15:13] bogdandrutu commented on #3449
No longer applies to core, we are going to enable the tool in contrib.

[2021-08-30 15:13] #3449 closed

[2021-08-30 15:15] bogdandrutu opened #3927 "[From 3474]: Remove defaultcomponents from core (probably make it internal for tests)."

[2021-08-30 15:15] bogdandrutu opened #3928 "[From 3474]: Remove cmd/otelcol no longer needed."

[2021-08-30 15:17] bogdandrutu opened #3929 "[From 3474]: What to do with scraper helper/error"
We tried to move these 2 packages to contrib, but unfortunately we cannot completely remove "scraper" logic from core:
1. The obsreport.Scraper depends on the internal obsreportcfg and also requires the current OpenCensus library to install the views for the metrics. It will be hard to remove but we may want to give a try.
2. Keep the scraper packages in core and mark them as experimental?

[2021-08-30 15:18] bogdandrutu commented on #3474
This is done.

[2021-08-30 15:18] #3474 closed

[2021-08-30 15:18] bogdandrutu commented on #3474
For the work left we filed separate issues.

[2021-08-30 15:24] bogdandrutu opened #3930 "Review `pdata.AnyArray.AppendEmpty()`"
Currently this func makes things hard to use (or at least that's how I see them), see usage examples for primitives and also for Arrays/Maps.
1. We can change this to have `AppendString(str String)` and for all primitives. Then we can have for arrays/maps something like:
[code]
2. We can ignore this, but only maybe change the name to `AppendNull()` so at least matches with what is happening since

[2021-08-30 15:30] codeboten commented on #3926
I'm happy to take this on!

[2021-08-30 15:33] bogdandrutu opened #3931 "Pass Tracer/Meter Provider to http/grpc configs to record metrics"
Similar to https://github.com/open-telemetry/opentelemetry-collector/issues/3922 need to pass these providers to `configgrpc` / `confighttp` funcs that need to install the otel plugins.

[2021-08-30 17:33] bogdandrutu commented on #3920
Fixed.

[2021-08-30 17:33] #3920 closed

[2021-08-30 17:33] bogdandrutu commented on #3916
Fixed.

[2021-08-30 17:34] bogdandrutu commented on #3916
Was moved to contrib, website updated

[2021-08-30 17:34] #3916 closed

[2021-08-30 17:48] #436 closed

[2021-08-30 17:49] bogdandrutu commented on #483
I think this is done correct?

[2021-08-30 17:49] #483 closed

[2021-08-30 17:50] #499 closed

[2021-08-30 17:54] #1234 closed

[2021-08-30 17:55] #1369 closed

[2021-08-30 17:56] bogdandrutu commented on #1429
Fixed. Copied the code.

[2021-08-30 17:56] #1429 closed

[2021-08-30 18:09] #2412 closed

[2021-08-30 18:14] #2879 closed

[2021-08-30 18:21] #2435 closed

[2021-08-30 18:22] #2221 closed

[2021-08-30 18:24] bogdandrutu commented on #2984
Outdated, also now they are in contrib

[2021-08-30 18:24] #2984 closed

[2021-08-30 18:30] #10 closed

[2021-08-30 23:31] alolita commented on #3538
My understanding is this isn't a blocker for metrics GA. It's a nice to have not a must-have.

[2021-08-31 02:27] anuraaga opened #3945 "Restore healthcheckextension to the core collector"
**Is your feature request related to a problem? Please describe.**

The healthcheckextension was moved from core to contrib. Because of this, it becomes very difficult to deploy the core collector in a container environment like k8s. Even just testcontainers in the Java integration tests were extremely flaky until we ensured the tests run after the healthcheck passes.

I suspect many that are depl

[2021-08-31 02:34] anuraaga commented on #3945
By the way, I heard that the published docker image will have the healthcheckextension - if so I think the priority isn't as high. While healthchecks are still used outside, they are vastly more common and necessary in container deployments so they would be covered.

[2021-08-31 08:26] jack161641 opened #3946 "Filter trace based on span attribute"
**Is your feature request related to a problem? Please describe.**

I want to filter traces based on the span attribute. For example, traces with errors use a 100% sampling rate and traces without errors use a 10% sampling rate. However, I found that the filter processor can only filter metrics

**Describe the solution you'd like**
Filter processor support traces

**Describe alternatives you've co

[2021-08-31 23:23] #3925 closed

[2021-09-01 11:08] mx-psi opened #3955 "Graceful shutdown when a component panics"
**Is your feature request related to a problem? Please describe.**

When a component panics the Collector does not gracefully handle the panic and abruptly stops.

**Describe the solution you'd like**

The Collector would `recover` from the panic, correctly log it and gracefully shut down. This could be done with a catch-all `recover` call on the `service.Collector` code or at the level of compone

[2021-09-01 13:20] mx-psi opened #3957 "Allow running service.Collector without CLI interface"
**Is your feature request related to a problem? Please describe.**

The public API of `service.Collector` allows for the creation of different distros easily, which can customize the components included, logging, and configuration among other aspects, and it provides a common CLI through the `Command` method. However, there is no way to customize or disable the CLI interface or customize the value

[2021-09-01 19:20] tmorrisonsfx opened #3958 "Broken links on opentelemetry-collector/processor/README.md"
**Describe the bug**
404 page errors when clicking on some links under `Supported processors (sorted alphabetically):` on https://github.com/open-telemetry/opentelemetry-collector/blob/main/processor/README.md.

**What did you expect to see?**
I expected to go to the pages for those processors.

**What did you see instead?**
GitHub 404 error pages

**Additional context**
Are there new links for th

[2021-09-02 02:02] tigrannajaryan commented on #3629
Should #3552 be replaced by #3745?

[2021-09-02 05:36] alolita commented on #3524
@tigrannajaryan this issue was discussed in the Collector SIG and it was agreed upon by the community present there to change to 'debug' for long term maintainability.

[2021-09-02 05:38] alolita commented on #3875
@open-telemetry/collector-approvers @Aneurysm9 @anuraaga can you please review? Ty!

[2021-09-02 05:41] suddendust commented on #3958
I think this would have been removed after [this](https://github.com/open-telemetry/opentelemetry-collector/pull/3891) PR got merged.

[2021-09-02 05:42] alolita commented on #3368
@bogdandrutu PR #3101 was closed. What needs to be done here? Let us know so that @mxiamxia can resolve this.

[2021-09-02 05:49] alolita commented on #3843
@Aneurysm9 @anuraaga can you please review the PR by @kirbyquerby ty!

[2021-09-02 05:52] alolita commented on #3921
@Aneurysm9 please take a look and file a PR :-)

[2021-09-02 05:54] alolita commented on #3924
@Aneurysm9 can you please take a look and file a PR :-)

[2021-09-02 05:55] alolita commented on #3930
Hi @Aneurysm9 can you please take a look and file a PR :-)

[2021-09-02 05:57] alolita commented on #3927
@alexperez52 can you take a look and file a PR? ty!

[2021-09-02 06:00] alolita commented on #3928
@erichsueh3 can you please take a look and file a PR - ty!

[2021-09-02 06:01] alolita commented on #3929
@Aneurysm9 as we discussed w @bogdandrutu please take a look and file a PR - ty!

[2021-09-02 06:04] alolita commented on #3929
Also noting from our discussion that OpenCensus uses a singleton instance today.

[2021-09-02 06:05] alolita commented on #3931
@codeboten can you please take a look and file a PR?

[2021-09-02 06:15] alolita commented on #3923
+1 on renaming to ConfigMap since the usage is clearer than Parser.

@open-telemetry/collector-approvers please provide your opinion on this change. Ty!

[2021-09-02 06:28] alolita commented on #3736
@vishiy fwiw the Prometheus remote write exporter has implemented similar version info being conveyed as part of the user agent header. Take a look and let's discuss if a similar implementation can be added to the receiver.

[2021-09-02 06:32] alolita commented on #542
@bogdandrutu @tigrannajaryan following up on this issue - please provide feedback for @dashpole's suggested approaches?

[2021-09-02 06:37] #1023 closed

[2021-09-02 06:43] alolita commented on #3378
@kbrockhoff any suggestions are welcome else I will de-assign. Let me know. Thx.

[2021-09-02 06:52] alolita commented on #3945
Good callout @anuraaga The healthcheckextension is planned to be used for core. There is also a proposal to enhance the current implementation.

[2021-09-02 07:10] #2465 closed

[2021-09-02 07:11] pellared commented on #3524
Personally, I do not find `debug` really better than `logging`. The same term could be used e.g. as a logging level. I imagine that it can be misleading as well: "debug the collector" may mean to use Delve as well as setting a debug exporter... Maybe `internalLogger`?

Moreover, it is a breaking change that should be avoided and I do not see any strong reason to do it. I do not see confidence or a

[2021-09-02 07:16] #3842 closed

[2021-09-02 07:19] alolita commented on #2701
@bogdandrutu are you planning to work on this issue :)

[2021-09-02 07:20] alolita commented on #3192
@alexvanboxel can you give us an update - are you working on this :-)

[2021-09-02 07:22] alolita commented on #3194
@SkrPaoWang can you provide more context for your question?

[2021-09-02 07:25] alolita commented on #2759
@bogdandrutu should this issue be closed? was the rename to consumer.traces done @Aneurysm9 ?

[2021-09-02 07:27] #242 closed

[2021-09-02 10:03] alexperez52 commented on #3927
Gladly !

[2021-09-02 11:31] Doms61 opened #3963 "max_recv_msg_size_mib is not set correctly"
**Describe the bug**
The property of "max_recv_msg_size_mib" for otlp receivers isn't set correctly.

**Steps to reproduce**
Send a message which create a trace larger than the initial 4MB.

**What did you expect to see?**
All the spans correctly represented in jaeger.

**What did you see instead?**
Teared up traces/spans in jaeger and a log in otels terminal saying:
 `ResourceExhausted desc = grp

[2021-09-02 13:13] tigrannajaryan commented on #542
@alolita I provided the feedback here https://github.com/open-telemetry/opentelemetry-collector/pull/3183#issuecomment-880101600

[2021-09-02 13:24] tigrannajaryan commented on #3524
@alolita What was the community's justification? I it would be nice to capture it here for posterity. For now I don't see how "logging" is more difficult to maintain than "debug", but probably there are other reasons in favour of the change which I am not aware of.

I definitely do not mind changing if there is a reasonable justification, but I don't see that justification so far. :-)

One argumen

[2021-09-02 16:36] stephenhong commented on #3780
I was able to accomplish my use case by using the following command.
./otelcontribcol_linux_amd64 --config config.yaml >> ./collectorlog.txt 2>&1 &
This creates a text file with the collector logs and I use filelogreceiver to grab the logs from the file

[2021-09-02 17:53] mxiamxia commented on #3368
From the previous discussion, we need some baking time before we'll going to remove the old gRPC port(55680). I think now is a good time to remove it. I also want to confirm if we also remove legacy HTTP port(55681) as well? @bogdandrutu @alolita

[2021-09-02 19:00] jpkrohling commented on #3629
Yes

[2021-09-02 19:36] tim-mwangi commented on #3533
Hello,

I'm seeing this issue with opentelemetry collector v0.33.0 as well. It does take a while to crash though. When I was using v0.29.0 I saw it after 2 weeks of the collector pod running(I've deployed a collector instance in k8s). Then I upgraded to v0.33.0 and I did not see it for several deployments that ran for several hours but this one time after running for 6 hours it crashed, restarted

[2021-09-03 04:45] bogdandrutu commented on #3963
@Doms61 thanks for filing this issue, unfortunately I cannot reproduce this, see also a unit-test to prove https://github.com/open-telemetry/opentelemetry-collector/pull/3968

Also based on the issue linked seems that is working for the others as well.

I can see something different, you are using windows, but that should not be a problem since you use a docker image....

How can we make progress

[2021-09-03 05:14] bogdandrutu commented on #3957
Related to https://github.com/open-telemetry/opentelemetry-collector/issues/3843

[2021-09-03 05:15] bogdandrutu commented on #3928
One small caveat is that it will make testing locally harder, but probably we can use the builder tool to replace the cmd.

[2021-09-03 07:56] Doms61 commented on #3963
@bogdandrutu Thanks for looking into it.
Yes, that is what bugged me the most, that seemingly it worked for everyone, except me.

Well, I can think only of one think, and thats, I am running it incorrectly, or connecting to it incorrectly.

I can describe the whole process what I am starting and running,
at first I am starting up jaeger with version [1.22](https://github.com/jaegertracing/jaeger/r

[2021-09-03 08:07] bogdandrutu opened #4310 "[Builder] Consider to remove "flags" for configuration"
We found in the otel-collector hard to manage configs from multiple sources: file, flags, envvar, etc. Because of these we are considering consolidating only on one file that contains all the configs.

I think as the initial stable release for the builder we should do the same.

[2021-09-03 08:09] #3958 closed

[2021-09-03 08:26] bogdandrutu commented on #3963
Now I think I have an idea :)

Which component does print the error? Is that the otel collector? I think the problem is not in the OTLP grpc communication between your client and otel-collector but in the grpc communication between otel-collector and jaeger backend. Does Jaeger have a similar property for their server? If yes consider to make that 100MB as well, if not consider to add the "batch"

[2021-09-03 09:36] Doms61 commented on #3963
Yes, the error is thrown from the otel collector.
I have just tried to add the "batch" processor, it still gives the same error.
![image](https://user-images.githubusercontent.com/17786096/131984153-a2bd83ec-b854-4503-ad93-4950cff3e8e8.png)
and the config looks like this:
![image](https://user-images.githubusercontent.com/17786096/131984415-308d86b7-23af-4dd4-a391-98145424c733.png)
note: I've trie

[2021-09-04 05:15] bogdandrutu commented on #3963
The size in the grpc should be kept as 100, reduce the batch size to 1000 or even better 500. Again the error you get is not on the Otel collector grpc server but from the Jaeger grpc server.

[2021-09-04 05:16] bogdandrutu commented on #3963
/cc @jpkrohling can you configure max recv size on Jaeger service? If yes how?

[2021-09-04 17:14] Doms61 commented on #3963
So the it somehow helped, however, reducing it down to 20 (22 is the most, I can do)
![image](https://user-images.githubusercontent.com/17786096/132102794-a299f946-dfed-4048-bd8d-498744ebb233.png)

So, now I am just a bit curious, as to what downside will it have , to send each time 20 spans, when  the whole trace could have lot more. True, in our case it's up 90-100 . But performance wise could i

[2021-09-05 14:56] pravarag commented on #3685
@punya can I take on this issue if no one else if working on it? As a newcomer around OpenTelemetry, this issue may give me some experience around it :)

[2021-09-06 14:30] jpkrohling commented on #3963
It was added recently and should be available in 1.26, to be released soon.

[2021-09-06 19:15] mjpowersjr opened #3978 "panic when shipping metrics via http/otlp"
**Describe the bug**
I'm using opentelemetry-js to ship metrics to an otel-collector over http / otlp. The collector logs the following error constantly:

[code]

**Steps to reproduce**
The error seems to occur almost immediately after starting a js service that ships metrics to the collector. Disabling metrics and only shipping traces seems to be working correctly.

**Otel Collector Version**
[co

[2021-09-07 09:34] bogdandrutu commented on #3963
@jpkrohling @Doms61 apparently 1.26 was released yesterday. So you should set that property on the Jaeger side and will be good.

I will close this, sine it is not a bug on our side.

[2021-09-07 09:34] #3963 closed

[2021-09-07 10:11] Doms61 commented on #3963
@bogdandrutu @jpkrohling thanks a lot, I will try it :)

[2021-09-07 11:15] bogdandrutu commented on #3978
@dyladan what version of the proto is used in this?

[2021-09-07 12:55] mjpowersjr commented on #3978
Sorry, I'm not sure how to check?

[2021-09-07 17:35] alolita commented on #3926
@bogdandrutu can you review #3939 please

[2021-09-07 17:45] alolita commented on #3875
Ping @Aneurysm9 @codeboten can you please review - ty!

[2021-09-07 21:25] boriwo opened #3981 "ValueRecorder causing memory leak when using WithExactDistribution()?"
We are struggling getting ValueRecorder metrics to work properly. Maybe this is a usability issue but maybe there is also a bug here. To be clear counter metrics such as NewInt64Counter work just fine, the problem is strictly with ValueRecorders.

Code snippet:

[code]

After creating the metric, there are roughly 30 calls to Record() per second. This seems like a very standard use case but what w

[2021-09-07 21:30] dashpole commented on #3981
Did you mean to open this in opentelemetry-go?  Or how does this relate to the collector?

[2021-09-07 22:25] boriwo commented on #3981
i am observing the high memory consumption on the otel collector heap, that's why i opened the issue here to see if there are any known collector issues in connection with ValueRecorder metrics but i can move the issue to the go repo.

[2021-09-07 22:50] alolita commented on #3876
@hyunuk can you work on this?

[2021-09-07 22:51] hyunuk commented on #3876
@alolita Yes! please assign me on this issue

[2021-09-07 22:54] alolita commented on #3876
Assigned @hyunuk Thanks!

[2021-09-07 23:11] codeboten commented on #3978
I was able to reproduce the issue using otel-js sdk. Here's a sample of what is being sent to the collector causing the panic:

[code]

I submitted a PR to skip nil values which stops the panic.

[2021-09-08 06:59] bogdandrutu commented on #3931
@codeboten don't want to block the #3984, we should think if a better name is just "TelemetrySettings".

[2021-09-08 07:08] #3923 closed

[2021-09-08 07:27] bogdandrutu commented on #3981
/cc @jmacd @MrAlias @Aneurysm9

[2021-09-08 11:06] pravarag commented on #3685
/assign

[2021-09-08 13:31] bogdandrutu commented on #3978
Parsing of this JSON with v0.9.0 proto will cause the metrics "data" to be nil, because "doubleGauge" was renamed to "gauge". This was a JSON breaking change, so JS needs to bump their version to v0.9.0 for proto.

[2021-09-08 14:52] ymotongpoo opened #3985 "`number_of_workers` doesn't work in googlecloudexporter"
**Describe the bug**
The attributes `number_of_workers` described in `googlecloudexporter` documentation doesn't work.

**Steps to reproduce**
Try running `opentelemetry-collector-contrib` binary with the following config.yaml that is documented as an example:

[code]

**What did you expect to see?**
The collector works without errors.

**What did you see instead?**
The error messages like these.

[2021-09-08 14:53] ymotongpoo commented on #3985
closing this issue because this is for `-contrib`.

[2021-09-08 14:53] #3985 closed

[2021-09-08 15:57] #3368 closed

[2021-09-08 16:47] jmacd commented on #3981
This looks like at least two bugs. I'm transferring to OTel-Go for the memory leak issue. After that's resolved we can possibly transfer to Go-Contrib for the dogstatsd exporter issue. I will investigate both after the 0.23 release is finished in Go-Contrib.

[2021-09-08 16:54] jmacd opened #3987 "Support OTLP metrics v0.10 data point flags (i.e., staleness)"
**Is your feature request related to a problem? Please describe.**

OTLP Metrics v0.10 supports a new `flags` field in four of its data point types and a new optional flag `FLAG_NO_RECORDED_VALUE` used to indicate a point that is not present. This is intended for Prometheus receiver and exporter to communicate about staleness in a specified way. Prior to  v0.10, staleness would be indicated by a `

[2021-09-08 17:54] JamesJHPark commented on #3927
@alolita - Please assign me this issue

[2021-09-08 17:56] alolita commented on #3927
Hi @JamesJHPark assigned!

[2021-09-09 09:36] bogdandrutu opened #3993 "Remove deprecated `pdata.AttributeMapToMap`"

[2021-09-09 09:48] bogdandrutu opened #3995 "AttributeValueBytes not checked in AttributeValue.Equal"

[2021-09-09 09:49] bogdandrutu opened #3996 "AttributeValueBytes not converted to string AttributeValue.AsString"

[2021-09-09 09:50] bogdandrutu opened #3997 "AttributeValueBytes not converted to raw AttributeMap.AsRaw and AnyValueArray.asRaw"

[2021-09-09 09:51] #3926 closed

[2021-09-09 09:51] bogdandrutu commented on #3930
Moving to RC1 since ongoing discussion in the proto repo.

[2021-09-09 10:42] bogdandrutu opened #3998 "Remove the AttributeMessageType for the moment"
See https://github.com/open-telemetry/opentelemetry-specification/commit/32ca5a72cb4c67084b92101f8abceee7ca35dee0#diff-a1d57f18f9d6d3b184ec51dbab905a6124f81afcd338c754cc9c203231c15859 where the proper semantic convention was added.

Not sure what the generated name will be but probably needs an update.

[2021-09-09 11:06] bogdandrutu opened #3999 "Remove non-standard, not defined AttributeHTTPStatusText"
Only "http.status_code" is defined.

https://github.com/open-telemetry/opentelemetry-specification/blob/main/semantic_conventions/trace/http.yaml#L43

[2021-09-09 14:24] bogdandrutu opened #4000 "How to handle duplicate names in semantic conventions?"
Right now all our semantic conventions (resource attributes, span attribute, span event attributes, span event names, etc.) are in one package which is convenient, but may cause issues when more semantic conventions will be added for logs, metrics, etc.

Questions:
* Do we need to worry about this?
* How do we plan to handle this in case of conflicts? Would these conflicts be expected and we are g

[2021-09-09 14:48] bogdandrutu commented on #4000
/cc @tigrannajaryan

[2021-09-09 15:09] tigrannajaryan commented on #4000
Just chatted offline with @bogdandrutu and I think the best/simplest initial approach is the following:
- Prohibit attributes with the same name and different semantics for different signals.
- It is fine to have an attribute with the same name and semantics for different signals. For example "http.method" can be recorded as a span attribute or as a metric attribute and it is completely fine since

[2021-09-09 17:00] Aneurysm9 commented on #3999
This will impact the following components in contrib:

[code]

Does this attribute need to be added to the semantic conventions spec?

[2021-09-09 17:08] erichsueh3 commented on #3999
@Aneurysm9 can you assign me this issue? Thanks!

[2021-09-09 17:22] hyunuk commented on #3998
@Aneurysm9 Can you please assign me this issue? Thank you :D

[2021-09-09 17:22] Aneurysm9 commented on #3998
This attribute is used in the following places in contrib:

[code]

[2021-09-09 18:55] alolita commented on #3524
@tigrannajaryan responding to your questions:

Community feedback so far has been:
* Using good practice for Go which is stdout
* Removing confusion for users since 'logging' is confusing given the project also supports 'logs'
* Community members voicing 'debug' as a good option

Why not set an example for the Collector for being consistent on naming conventions and help avoid user misunderstandin

[2021-09-09 18:58] alolita commented on #3928
@codeboten @Aneurysm9 @anuraaga can you please review? Should be a quick one. Thx.

[2021-09-09 19:00] #3875 closed

[2021-09-09 19:02] dmitryax opened #4001 "Config unmarshalling doesn't work properly for slice values"
**Describe the bug**
If we have a default config for a component where there is a slice value with 2 and more item, there is no way to override that value with a smaller slice.

The problem is that [mapstructure.decodeMap func](https://github.com/mitchellh/mapstructure/blob/4664f9ee512b4dfa71b501c4960d469c205b2cf1/mapstructure.go#L1046) that we use for unmarshalling compares elements of the slice

[2021-09-09 22:07] codeboten commented on #3995
Based on the title, I believe this is already done here:
https://github.com/open-telemetry/opentelemetry-collector/blob/72173fc5582933ec60748f8e1e65ea53fb0d7dfa/model/pdata/common.go#L373-L374
and tested here:
https://github.com/open-telemetry/opentelemetry-collector/blob/72173fc5582933ec60748f8e1e65ea53fb0d7dfa/model/pdata/common_test.go#L224-L232

Am I missing something?

[2021-09-10 06:25] #3993 closed

[2021-09-10 06:26] #3995 closed

[2021-09-10 06:28] bogdandrutu commented on #3998
It is used, for the moment let's just hardcode there.

[2021-09-10 06:32] bogdandrutu commented on #3999
@Aneurysm9 not sure we can wait until then. Let's remove it for the moment and hardcode where is used for the moment. Maybe follow a tracking issue to define in specs and replace the hardcode

[2021-09-10 08:08] bogdandrutu commented on #3957
@mx-psi the configuration related flags, are just flags that allow to overwrite any property in the config, so they cannot and don't have to be removed since obviously everything can be configured in the config :)

[2021-09-10 08:30] mx-psi commented on #3957
@bogdandrutu My point with this issue is that the CLI code is not separate from the rest of the code. Right now, if you call `Collector.Run` it will eventually parse `os.Args[1:]`, which you may not want to do if you are adding a Collector inside another application that already has a CLI.

For some of the flags above, the solution is to remove them, but for the ones that remain, the solution is t

[2021-09-10 08:35] bogdandrutu commented on #3957
@mx-psi tell me more how do you envision to support the second part?

[2021-09-10 08:58] mx-psi commented on #3957
One way to support that would be to have an intermediate struct, say `Application` where all the settings that need to be set as flags can be passed around in a config struct of some kind:

[code]

and then the `Collector` struct would be rewritten to parse the CLI flags and build an `Application` passing the values to `ApplicationSettings`.

Maybe the configuration flags in particular do not even

[2021-09-10 15:22] #3931 closed

[2021-09-10 15:23] codeboten opened #4012 "Investigate if we should pass the Host not the extensions in ToServerOption"
Follow up issue from the discussion here https://github.com/open-telemetry/opentelemetry-collector/pull/3967#discussion_r706264997

[2021-09-10 15:48] Aneurysm9 commented on #3998
Yup, that's the plan.  PRs inbound shortly.

[2021-09-10 21:25] tnevolin opened #4016 "Getting started with docker"
I am trying to run and example on https://opentelemetry.io/docs/collector/getting-started/ page:

[code]

Running Docker desktop on Windows 10. The attempt to execute last docker command results in:

[code]

The `\opentelemetry-collector-contrib\examples\demo\server\server` file indeed does not exists after clone.

[code]

[2021-09-12 20:49] rakyll commented on #3617
What's the status on this issue? We need to set this before collector is announced to be stable.

[2021-09-13 07:33] alolita opened #4024 "[Upcoming Release] Tracing Stability Requirements in Collector Core"
Noting from discussion with @bogdandrutu, the three foundational stability requirements for the Collector core to be declared stable are:

- [x]  Ensure OTLP protocol is stable for traces
- [x] Tracing end-to-end feature including receiver ingesting OTLP data and exporting OTLP data is stable
- [ ] Configurations related to OTLP is stable in core - see https://github.com/open-telemetry/opentelemet

[2021-09-13 07:56] #3978 closed

[2021-09-13 08:00] bogdandrutu commented on #4012
I think we should :) we may have other things in the Host that we may need.

[2021-09-13 08:17] bogdandrutu opened #4025 "Cleanup after PR #3274"
1. Move persistent_queue in exporterhelper/internal similar to the current queue
2. Remove the configuration for persistent queue https://github.com/open-telemetry/opentelemetry-collector/blob/main/exporter/exporterhelper/queued_retry.go if not built with the unstable.

[2021-09-13 08:54] bogdandrutu opened #4026 "Inconsistent constructor funcs for ConfigMap"
[code]

We need to update the names to not use "Parser".

[2021-09-13 08:58] bogdandrutu commented on #3871
Right now, no. Soon it will be possible :)

[2021-09-13 12:46] tigrannajaryan commented on #4025
@pmm-sumo can you take this, please?

[2021-09-13 13:16] pmm-sumo commented on #4025
Of course, starting working on it @tigrannajaryan @bogdandrutu

[2021-09-13 14:13] mjpowersjr commented on #3978
Thank you!

[2021-09-13 15:00] alolita commented on #3996
@tigrannajaryan @Aneurysm9 can you please review related PR #4002

[2021-09-13 15:00] alolita commented on #3997
@codeboten you have a draft PR - will you be publishing this :-)

[2021-09-13 15:21] bogdandrutu opened #4028 "Inconsistency in config for TLS vs Auth"
It seems to be very confusing in confighttp and configgrpc that TLS is a special configuration embedded into the main config, and "Auth" is separated.

We need to look into this and confirm the right design/configuration for TLS and other Authentications. Another inconsistency that I remember is the KafkaReceiver/Exporter where these options are combined under an "authentication" sub-layer.

Inves

[2021-09-13 15:37] bogdandrutu commented on #3436
Assign to @bogdandrutu for better understanding what are (if any) the breaking changes that we need for this.

[2021-09-13 15:42] codeboten commented on #3997
Yes, it's waiting on #4002 to be merged

[2021-09-13 16:22] codeboten opened #4030 "add MeterProvider to grpc server"
Once otelgrpc instrumentation supports adding a MeterProvider, configure it in `configgrpc.go`

[code]

[2021-09-13 16:24] codeboten commented on #4030
Follow up on this issue once https://github.com/open-telemetry/opentelemetry-go-contrib/pull/1094 is merged.

[2021-09-13 16:36] #3996 closed

[2021-09-13 17:12] #3999 closed

[2021-09-13 17:43] Aneurysm9 commented on #3929
As a first step, `scraperhelper` still exists in contrib and has now drifted from the implementation in core.  The contrib implementation should be removed and receivers in contrib adapted to the core implementation.

Longer-term, core still feels like the appropriate location for `scraperhelper` and `scrapererror`.  They are part of the framework for developing receivers.  To the extent that it r

[2021-09-13 18:43] alolita commented on #4028
@jpkrohling can you please take a look at this issue and share your design input.

[2021-09-14 05:09] alolita commented on #3922
@Aneurysm9 any other PRs for this issue IP?

[2021-09-14 06:02] #4026 closed

[2021-09-14 06:08] #3997 closed

[2021-09-14 10:35] bogdandrutu commented on #2336
@gramidt any update on this?

[2021-09-14 10:52] bogdandrutu opened #4038 "Cleanup `obsreporttest` package"
* Avoid depending on `testing.T` and return errors.
* Prepare for when the switch to `TelemetrySettings` and MeterProvider will happen. The `SetupRecordedMetricsTest` need to return an `TelemetrySettings` + the exporters so that the checks will work with Otel.
* We can also consider to remove (hide) this package until the transition to Otel is completed.

[2021-09-14 11:01] #3998 closed

[2021-09-14 14:14] jpkrohling commented on #4028
Looking at it now, I believe that it should indeed be squashed, like TLS. It did make sense in the past to be conservative about this and group all auth options under `auth`, but I don't foresee any other option within that config option.

[2021-09-14 15:21] julianocosta89-dt opened #4043 "otel-collector v0.35.0 crashing if receiver otlp protocol http is present"
**Describe the bug**
Whenever starting the otel-collector version 0.35.0, if the config file contains the following
[code]
The start of the collector will fail with the reported below.

**Steps to reproduce**
Start the otel-collector v 0.35.0 binary using the config file documented below.

**What did you expect to see?**
I expected to have the otel-collector up and running normally, as this config

[2021-09-14 16:07] bogdandrutu commented on #4043
Where did you get this version of the collector?

[2021-09-14 16:38] Aneurysm9 commented on #4043
This appears to result from #4031, which [set a `MeterProvider`](https://github.com/open-telemetry/opentelemetry-collector/blob/main/config/confighttp/confighttp.go#L222) on the `otelhttp` wrapper for the receiver's HTTP server without ensuring that a valid `MeterProvider` exists.  The collector should avoid doing this and the instrumentation configuration should also guard against this.

[2021-09-14 19:39] codeboten commented on #4043
I'll address this issue.

[2021-09-15 02:56] Frefreak opened #4046 "obsreport.ExporterSettings missing `ExporterCreateSettings` field potentially causes segfault"
After upgrading version, third-party exporter may still use the old way to create an exporter without noticing this change (note the absence of `ExporterCreateSettings`)
[code]
and then in [obsreport_exporter](https://github.com/open-telemetry/opentelemetry-collector/blob/main/obsreport/obsreport_exporter.go#L53) this may results in a nil pointer access.
This kind of feels like a breaking change a

[2021-09-15 04:18] mxiamxia commented on #4028
It seems there is no consistent design pattern among these projects for TLS and Auth configurations. I found Prometheus and Grafna try to group TLS and Auth configs together, but  k8s Kubelet separates them out in the configuration when doing API server authenticating.
Eg,
1. Prometheus configuration groups TLS and Auth secrets together in one `tls_config` structure. Here is Prom auth reference [d

[2021-09-15 05:17] julianocosta89 commented on #4043
@bogdandrutu I got from the test, but I also tried to compile it locally and the same error occurred.
Link to the test: https://github.com/open-telemetry/opentelemetry-collector/actions/runs/1233371692

[2021-09-15 05:19] julianocosta89-dt commented on #4043
@bogdandrutu I got it from the test, but I also tried to compile it locally and the same error occurred.
Link to the test: https://github.com/open-telemetry/opentelemetry-collector/actions/runs/1233371692

[2021-09-15 07:46] jpkrohling commented on #4028
The authenticator options will still be part of the extension's own configuration. `confighttp` and `configgrpc` would include a `configauth` with squash mode, similar to what they do with `configtls`. At least, that's how I understand the original concern.

[2021-09-15 17:13] #4043 closed

[2021-09-15 17:18] bogdandrutu opened #4052 "Add marshaler/unmarshaler for otlpgrpc.[*]Request and otlpgrp.[*]Response"

[2021-09-15 17:58] mxiamxia commented on #4028
Agree that we should place TLS and authenticator in the same config level to reduce the confusing. We can either simply squash `configauth` in `confighttp` and `configgrpc` or combine them under a new `auth` config structure. I listed these 2 option examples below, pls let me know which one is preferred.

Option#1 - simply squash `configauth`
[code]

Option#2 - put both TLS and Authenticator under

[2021-09-15 18:02] #4012 closed

[2021-09-15 19:06] alolita commented on #3957
@bogdandrutu are there other PRs related to this issue in the pipeline?

[2021-09-15 19:51] codeboten commented on #4043
@julianocosta89-dt the fix for this has been pushed to main. I've tested the code with the configuration you provided and it appears to be working. Please take a look and re-open if it's not the case.

[2021-09-15 20:50] alolita commented on #3436
What are your findings on this issue? @bogdandrutu Can we defer to after tracing stability release?

[2021-09-15 20:58] Aneurysm9 commented on #4028
I think that either `auth` should be squashed (as in #1 above) or that `tls` should not, like this:

[code]

[2021-09-15 21:02] alolita commented on #4028
Thanks Anthony. I agree having TLS and Auth as siblings would provide more flexibility. You can have Auth with TLS but TLS can standalone without Auth.

[2021-09-15 21:03] alolita commented on #4028
@bogdandrutu @tigrannajaryan @jpkrohling Can you weigh in on what your final recommendation is? Based on that we will file a PR.

[2021-09-15 22:42] alolita commented on #4052
Assigning to @JamesJHPark.

[2021-09-15 22:43] JamesJHPark commented on #4052
Thanks @alolita

[2021-09-15 23:21] hyunuk commented on #2704
@alolita I would like to work on this issue.

[2021-09-15 23:22] alolita commented on #3685
@pravarag are you still interested in working on this issue?

[2021-09-15 23:23] #3234 closed

[2021-09-15 23:25] alolita commented on #226
@mxiamxia are you still planning to submit a PR for this issue? Else I will re-assign. Let me know. Thx.

[2021-09-15 23:25] hyunuk commented on #2548
@alolita I can work on this issue!

[2021-09-15 23:33] alolita commented on #3524
@tigrannajaryan @bogdandrutu let's deprioritize this change if you are not in agreement as maintainers. Please advise. Ty!

[2021-09-16 03:11] pravarag commented on #3685
Hi @alolita, I've started working on this issue. Will put my few queries here itself. Thanks 🙂

[2021-09-16 04:47] mxiamxia commented on #4028
All these options will introduce the break changes. Option#1 has the minimal impact since `Authenticator` is newer and not commonly applied like `tls`. I vote #1.

[2021-09-16 06:03] MovieStoreGuy opened #4056 "consumererror.Combine: Allow for preserving original errors using go 1.13+ semantics"
**Describe the bug**
When making calls to `consumererror.Combine`, the resulting error is a new error made up of all the original error value's messages.

This means that using go 1.13+ error handlers such as `errors.Is` or `errors.As` will always result as false.
it is somewhat side stepped in a way since if any of the given errors are considered permanent than the error is returned wrapped with

[2021-09-16 06:53] rakyll opened #4058 "What's the use of client.Client?"
Client package contains some metadata extractors from context and request objects but it's not documented clearly where it is useful, see https://pkg.go.dev/go.opentelemetry.io/collector@v0.35.0/client. Also the Client type represents some information about a client and should rather be called ClientInfo if we will keep this package.

[2021-09-16 06:55] rakyll opened #4059 "Move extension/storage to extension/experimental/storageextension"
The package is experimental and is not following the package naming conventions of the extension packages.

[2021-09-16 06:59] rakyll opened #4060 "Move processor/memorylimiter to processor/memorylimiterprocessor"
The memorylimiter processor is not following the conventional component package naming, and need to be moved to processor/memorylimiterprocessor.

[2021-09-16 09:29] #4000 closed

[2021-09-16 10:00] jpkrohling commented on #4028
I prefer the non-squashed versions, as it makes the context clear: we know that `key_file` is related to TLS. For the auth part, I don't have a strong opinion for the current implementation, as the only property inside it is `authenticator`.

[2021-09-16 13:02] gramidt commented on #2336
@bogdandrutu - Sadly, no updates. The primary focus is on https://github.com/open-telemetry/oteps/pull/171 right now.

[2021-09-16 20:40] tigrannajaryan commented on #3524
I submitted an issue on the spec: https://github.com/open-telemetry/opentelemetry-specification/issues/1931
Will also add to Maintainer's SIG agenda.

[2021-09-16 21:47] alolita commented on #3957
@bogdandrutu is this issue done? :-)

[2021-09-16 21:48] alolita commented on #4028
@bogdandrutu looks like non-squashed version is the way to do - can you weigh in with your comments so that we can make progress.

[2021-09-16 22:51] codeboten commented on #4060
Happy to take this on if no one else has started

[2021-09-17 00:40] tigrannajaryan commented on #4028
This looks better to me. I don't like the squashed version since it is not clear what keys are about (what is key_file?)
It is unfortunate that this is going to be a breaking change but I think we need too fix it.

[2021-09-17 03:18] mxiamxia commented on #4028
Thanks @tigrannajaryan. Has sent the PR above (#4063) for this option. Please help review it.

[2021-09-17 06:18] alolita commented on #4028
@tigrannajaryan can you please help review and merge?

[2021-09-17 06:43] alolita commented on #3482
@Aneurysm9 - any. updates?

[2021-09-17 06:47] alolita commented on #3929
@bogdandrutu do you concur with @Aneurysm9

[2021-09-17 06:57] alolita commented on #3928
@erichsueh3 can you use the builder tool (chat w @Aneurysm9) to replace instead of remove cmd.

[2021-09-17 10:07] #4060 closed

[2021-09-17 10:08] bogdandrutu commented on #4028
@jpkrohling @tigrannajaryan @mxiamxia we need to make sure we are consistent with Server side correct? See https://github.com/open-telemetry/opentelemetry-collector/blob/main/config/confighttp/confighttp.go#L143. I think personally both should be "tls"

[2021-09-17 10:24] jpkrohling commented on #4028
Agree, consistency FTW!

[2021-09-17 14:24] bogdandrutu commented on #4025
Hey can we do the config change asap

[2021-09-17 14:25] bogdandrutu commented on #4025
@alolita we need this cleanup for config

[2021-09-17 14:37] pmm-sumo commented on #4025
Apologies for the delay, I am preparing the separate PR's right now, should have the first one in ~1h or so

[2021-09-17 15:18] tigrannajaryan commented on #3629
@bogdandrutu @jpkrohling shouldn't this be labeled `required-for-ga`? I am worried that it may require breaking changes and won't be possible to do after GA.

[2021-09-17 17:19] erichsueh3 commented on #3928
Hi @bogdandrutu, just wanted to clarify what you're looking for from this issue and what you mean by using the builder tool to replace the cmd. Does #3992 approach this issue correctly? If not, what modifications are needed?

[2021-09-17 19:50] jpkrohling commented on #3629
I have to agree: right now, given that we haven't made progress with #3745, I would be a bit concerned about having a GA without understanding what needs to be changed to accommodate that PR.

@bogdandrutu, when you have some time, can we do a pair programming session and get that sorted out?

[2021-09-18 00:38] JamesJHPark commented on #4059
@alolita - Please assign me this issue

[2021-09-20 08:02] bogdandrutu opened #4309 "Add a pre-build testing phase"
In the collector and contrib we built some tests that we want to run to test that the components are correctly implemented:
* https://github.com/open-telemetry/opentelemetry-collector/pull/4055
* https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/internal/components/extensions_test.go#L35

It would be good if we can generate a test file where we run some of these tests bef

[2021-09-20 09:02] bogdandrutu commented on #3957
@alolita see tracking items in the issue description.

[2021-09-20 10:16] bogdandrutu commented on #4028
@mxiamxia please think about https://github.com/open-telemetry/opentelemetry-collector/pull/4063#discussion_r711974463

[2021-09-20 16:58] codeboten commented on #4038
I can help with this.

[2021-09-20 20:05] mtwo commented on #816
@alolita I assume that this doesn't block the 1.0 release of the Collector, as it's metrics-related?

[2021-09-20 23:19] codeboten commented on #4038
@bogdandrutu are you proposing we move the package to `internal` or just hide all the public methods?

[2021-09-21 13:05] bogdandrutu commented on #4059
@rakyll there is a difference between storage and a real extension. The storage is just an interface that other extensions are supposed to implement. Probably we should still use the naming conventions but wanted to point that out.

[2021-09-21 14:00] #3876 closed

[2021-09-21 14:42] tigrannajaryan commented on #3524
Maintainer's SIG decided that there it is hard to come up with a consistent name given different naming conventions in different languages. Since we do not expect consistency I believe the name we have is as good as we can have.

I am closing this issue. Feel free to reopen if you have other arguments.

[2021-09-21 14:42] #3524 closed

[2021-09-21 19:54] tigrannajaryan commented on #4028
@mxiamxia please close this when you consider it done.

[2021-09-21 21:28] rmfitzpatrick opened #4086 "Provide ability to wrap service event log in Logging Exporter for Windows"
**Is your feature request related to a problem? Please describe.**
Currently the logging exporter creates [its own logger](https://github.com/open-telemetry/opentelemetry-collector/blob/176186b30ea36bf8fd89a9df9a9a9941f68a2512/exporter/loggingexporter/factory.go#L87) which is compatible with the desired sampling configuration options.  Because of this, it's currently not possible to effectively us

[2021-09-22 16:15] portertech commented on #2374
A few comments:
- I love the idea of a plug-able at runtime remote configuration implementation
- I would prefer the remote configuration interface to be separate concept (not an `extension`)
- I like the scope of this proposal, keeping it to the internal API
- The "watcher" style would be great
- The self identification attributes are wonderful, very similar to [what we did w/ Sensu](https://docs

[2021-09-22 17:49] portertech commented on #2374
Notes from the 09/22/2021 9:00a - 10:00a PST SIG:
- Parser provider and config source is an active path forward (full reload, all components)

[2021-09-22 19:18] flands opened #4092 "Changing `insecure` per READMEs no longer works"
**Describe the bug**
Many components (e.g. exporters) default to `insecure: false`. Changing this setting now requires nesting it under `tls:`

**Steps to reproduce**

[code]

**What did you expect to see?**
No error

**What did you see instead?**
Collector will not start as config is invalid

**What version did you use?**
Main

**What config did you use?**
Config: (e.g. the yaml config file)

**E

[2021-09-22 23:53] hyunuk commented on #4092
Hi @alolita , I'd like to work on this issue.

[2021-09-23 00:20] PaurushGarg commented on #3685
Hi @punya : I want to get a clarification.. by 'automated-test' do you mean to write a unit test case to cover #3615 fix?

[2021-09-23 00:43] IvanVan opened #4094 "HTTP receiver doesn't work"
**Describe the bug**
Got the following message error when use http receiver
[code]

**Steps to reproduce**
Run docker compose with the following docker-compose.yaml
[code]

and config.yaml

[code]

Run simple Java app:

[code]

**What did you expect to see?**
Expect to see spans in zipkin

**What did you see instead?**
Error message

**What version did you use?**
opentelemetry - 1.6.0
com.google.p

[2021-09-23 00:47] IvanVan commented on #4094
@jack-berg Could you tell me please if you have any ideas why it happens?

[2021-09-23 01:26] jack-berg commented on #4094
Hi @IvanVan. I believe this is related to this [issue](https://github.com/open-telemetry/opentelemetry-java/issues/3650) in opentelemetry-java.

Can you try adding `/v1/traces` to the the system property?
[code]

I'm working on getting a fix for this in opentelemetry-java, but for now you should be able to work around it.

[2021-09-23 01:41] IvanVan commented on #4094
Thank you so much @jack-berg for answering and such quick response!
Now it works as expected 🙂

[2021-09-23 01:41] #4094 closed

[2021-09-23 03:53] pravarag commented on #3685
Hi @PaurushGarg @punya @alolita I had a doubt regarding the verification test which has been asked for this issue. Are we looking for a `verify-` script which will run as part of CI checks something that is used under k/k [here](https://github.com/kubernetes/kubernetes/tree/master/hack) ?

[2021-09-23 07:59] bogdandrutu commented on #4092
Already had this in a branch

[2021-09-23 08:52] #4056 closed

[2021-09-23 15:31] #4092 closed

[2021-09-23 19:51] yuryu commented on #3004
Just adding a data point, this issue reproduces on Ubuntu 20.04 as well.

[2021-09-24 06:49] alolita commented on #2430
Move to post-GA backlog.

[2021-09-24 14:27] bogdandrutu opened #4105 "Inconsistent name "config.NewID" and "config.NewIDFromString""
https://github.com/open-telemetry/opentelemetry-collector/blob/main/config/identifiable.go#L43

They should be named "config.NewComponentID" and "config.NewComponentIDFromString"

[2021-09-24 15:23] schmikei opened #4106 "Starting a collector service never invokes shutdown of started components on overall start failure"
**Describe the bug**
A clear and concise description of what the bug is.

Hey guys first issue so if I forget any info, I'm more than happy to provide!

`Shutdown` logic for extensions and other configuration components never get invoked on partial execution of [`col.service.Start()`](https://github.com/open-telemetry/opentelemetry-collector/blob/63188405ac38ef1d1b6c4830c3434f35468d477a/service/co

[2021-09-24 18:20] bogdandrutu commented on #3928
We need to still have a make rule that generates the binary and the docker for local debugging, but we should use the builder instead of the hand written main file

[2021-09-24 23:12] JamesJHPark commented on #4105
@alolita  - please assign me this issue

[2021-09-26 02:26] Frefreak opened #4109 "add an option for exporterhelper to not include a obsReporter by default"
**Is your feature request related to a problem? Please describe.**
`exporterhelper` is a good way to be used in the factory related methods in exporter implementation. Currently it includes an `obsReporter` by default which is great, but in some cases its granularity is too coarse (i.e. the whole `pdata.Traces` or `pdata.Metrics` is sent or failed). For an exporter like prometheus it's reasonable

[2021-09-26 09:07] bogdandrutu commented on #3787
This will be fixed when the new event.name will be supported.

[2021-09-26 09:07] #3787 closed

[2021-09-26 10:41] wangpu666 opened #4112 "How to use the Makefile of opentelemetry-collector to compile opentelemetry-collector-contrib together"
How to use the Makefile of opentelemetry-collector to compile opentelemetry-collector-contrib together

[2021-09-27 12:05] #4109 closed

[2021-09-27 12:29] #3492 closed

[2021-09-27 14:04] bogdandrutu opened #4127 "Rename component.DefaultBuildInfo -> component.NewDefaultBuildInfo"
For consistency with other factory funcs.

[2021-09-27 14:21] Frefreak opened #4128 "allow exporter have finer-grained control of obsreport stats (with the help of exporthelper)"
**Is your feature request related to a problem? Please describe.**
`exporterhelper` is very useful in implementing exporters, but as for obsreport stats currently its either all success or all fail according to the error value returned by consume methods. In some cases a finer-grained stats may be wanted, for example the `prometheusexporter` may want to specify that in a `pdata.Metric` some of the

[2021-09-27 16:09] #4127 closed

[2021-09-27 18:29] codeboten opened #4135 "rename AggregationTemporality to MetricAggregationTemporality"
To improve consistency. This is a follow up to discussion https://github.com/open-telemetry/opentelemetry-collector/pull/4081#discussion_r716187096

[2021-09-27 18:45] #4135 closed

[2021-09-28 11:26] mx-psi opened #4138 "Running the Collector panics if service.NewCommand is not called first"
**Describe the bug**

Running the Collector through the `Run` function without using `service.NewCommand` first will cause a panic because of nil flag pointers.

**Steps to reproduce**

The following example (adapted from [`TestCollector_StartAsGoRoutine`](https://github.com/open-telemetry/opentelemetry-collector/blob/b39f52bfe67b03d0ff7b3601d3b48bf1ce41c8ac/service/collector_test.go#L164)) will t

[2021-09-28 18:05] mxiamxia commented on #4028
Hi @tigrannajaryan , I will close this issue and also take a look the comment you put in PR #4104 which is the existing behavior  not related to this config inconsistency.

[2021-09-28 19:57] #4028 closed

[2021-09-28 23:44] F21 opened #4141 "Missing docker image for v0.36.0"
It seems that the docker image for `v0.36.0` is missing on docker hub: https://hub.docker.com/r/otel/opentelemetry-collector/tags?page=1&ordering=last_updated

Can the `v0.36.0` image be built so that it can be pulled from docker hub?

[2021-09-29 00:28] navneet1075 opened #4142 "unable to use filelog"
**Describe the bug**
Unable to load filelog configuration

**Steps to reproduce**
1. installed opentelemetry from documentation
2. created configuration  like this

[code]

3. created a deployment with some image

[code]

4.
**What did you expect to see?**

Pods created properly and otc container able to get the log files from the shared path

**What did you see instead?**

saw the errors in the o

[2021-09-29 14:28] #4105 closed

[2021-09-29 16:28] etiennejournet opened #4145 "Prometheus capture group not recognized"
Hello !

I'm using opentelemetry 0.22.0 and this configuration doesn't work:
[code]

I expect this to provision a label being something like `test: "1.2.3.4:1234"` but for some reason it doesn't seem to recognize the capture group... Resulting in `test: ":"`

I know I could do it with a separator but the use case at first was to use `__address__`, in which case separator is not sufficient.

Is it

[2021-09-29 16:36] etiennejournet commented on #4145
Resolved by using what [was stated here](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/prometheusreceiver#getting-started)

[2021-09-29 16:36] #4145 closed

[2021-09-29 17:48] PaurushGarg commented on #3955
@alolita please assign this issue to me.

[2021-09-29 20:45] navneet1075 commented on #4142
After reading a bit more realised that it’s not part of main release . So not relevant . Closing this .

[2021-09-29 20:45] #4142 closed

[2021-09-29 23:12] alolita commented on #2704
Completed. Closing issue.

[2021-09-29 23:12] #2704 closed

[2021-09-30 09:25] ymotongpoo commented on #3945
Thank you for calling this out, @anuraaga, and thank you for the triage, @alolita. My view is even more aggressive, I think healthz should be included as default extension that runs without any configurations and just works as healthcheck endpoint, like:

[code]

and no other heavy duty works in it.

@alolita, could you share the status of the proposal you mentioned in your comment (https://github

[2021-09-30 15:05] #4138 closed

[2021-09-30 15:05] #4059 closed

[2021-09-30 15:19] pmalek-sumo opened #4153 "loggingexporter: Error: failed to shutdown service: failed to shutdown pipelines: failed to shutdown exporters: sync /dev/stderr: bad file descriptor"
**Describe the bug**

When trying to run collector using the following piece of code:

[code]

one can observe the following error:

[code]

**Steps to reproduce**

Use the above piece of code

**What did you expect to see?**

No error.

**What did you see instead?**

bad file descriptor error

**What version did you use?**
Version: 2116719e97eb232a692364b51454620712823a89 vel `v0.35.0`

**What co

[2021-09-30 15:21] bogdandrutu commented on #4153
@pmalek-sumo can you run with the latest version?

[2021-09-30 15:50] pmalek-sumo commented on #4153
Ok so ... with the following `go.mod`

[code]

and the following collector config

[code]

I get the same result with the adjusted code for newest API

[code]

[2021-09-30 16:56] #4025 closed

[2021-10-01 14:42] jkschulz commented on #2758
Hey @james-bebbington, is there any update on this?

[2021-10-01 17:21] pranta opened #4155 "collector not being able to send traces to zipkin. Getting a "connection reset by peer exception""
The opentelemetry collector is  not being able to send traces to zipkin. Getting a "connection reset by peer exception"

Collector config and log files attached.

Zipkin log file is also attached.

[zipkin.log](https://github.com/open-telemetry/opentelemetry-collector/files/7269022/zipkin.log)
[collector.log](https://github.com/open-telemetry/opentelemetry-collector/files/7269023/collector.log)
[c

[2021-10-01 17:24] #3987 closed

[2021-10-01 17:32] bogdandrutu commented on #4155
We don't support sending to "v1" API, you must use the "v2" API

[2021-10-01 18:29] pranta commented on #4155
I tried v2 first and that didn't work as well - then tried v1 just in case.

[2021-10-01 19:04] jsuereth opened #4156 "Include semantic failure codes in Receiver error messages as diagnostic log events"
For easy-filtering purposes, it'd be ideal to include HTTP (or gRPC) like status codes in failure logs that can help easily diagnose common failure scenarios.

This is highly applicable to receivers like `mysql`, `redis`, etc. where a connection is made to an underlying application and extracts metrics, logs or traces.

Specifically, we should be able to identify the following scenarios:

- UNAUTH

[2021-10-01 21:55] james-bebbington commented on #2758
@jsuereth

[2021-10-02 18:32] pranta commented on #4155
Any ideas, guys?

[2021-10-04 11:28] tigrannajaryan opened #4165 "Agent Management Proposal"
# Goal

We would like to be able to remotely manage OpenTelemetry Collectors. I have seen significant interest in the the following:

- Remote configuration of the Collector. See the [earlier proposal](https://github.com/open-telemetry/opentelemetry-collector/issues/2374) that describes it in more detail. This capability has to also play nicely with existing configuration capabilities of orchestra

[2021-10-04 11:29] tigrannajaryan commented on #2374
See a wider-scope proposal for general agent management here: https://github.com/open-telemetry/opentelemetry-collector/issues/4165 (which configuration management is part of).

[2021-10-04 13:07] HuBaX commented on #2310
Is anyone working on this? If not I'd like to try to implement that.

[2021-10-04 14:00] cemo commented on #2310
Not a perfect one but

https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/1060#issuecomment-932369726

[2021-10-04 16:13] bogdandrutu commented on #4155
The error says that path does not exists, based on https://github.com/openzipkin/zipkin/blob/master/zipkin-server/README.md your endpoint should be `"http://127.0.0.1:9411/api/v2/spans"` and NOT `"http://127.0.0.1:9411/zipkin/api/v2/spans"` as you have.

[2021-10-04 16:26] pranta commented on #4155
Thanks @bogdandrutu  - that fixed it. Not sure how zipkin got in there. Probably confused with the UI url to see traces.

[2021-10-04 16:26] #4155 closed

[2021-10-04 17:03] mtwo commented on #4165
+1, we're definitely going to need this. Security will be the biggest challenge long-term, though I think that it makes sense to focus on the reporting capabilities first, as those have the highest short-term need.

@tigrannajaryan do you see this as an extension of OTLP, or a separate management protocol?

[2021-10-04 20:25] pavankrish123 commented on #1048
Hello @bogdandrutu, now that we have log level configuration property exposed via "service"  configuration (#4009), is it ok if we exposed other zap configuration in similar ones.

#4009 only exposes level, but important ones are ["outputPaths"](https://github.com/uber-go/zap/blob/master/config.go#L84)  ["encoding"](https://github.com/uber-go/zap/blob/master/config.go#L91),   ["errorOutputPaths"](

[2021-10-04 22:19] trjate opened #4173 "stream terminated by RST_STREAM with error code: FRAME_SIZE_ERROR"
I have not found any other publicly discussed occurrences of this `FRAME_SIZE_ERROR` error code in the context of OTEL.

**Describe the bug**
`stream terminated by RST_STREAM with error code: FRAME_SIZE_ERROR"` error when attempting to use Jaeger exporter in Ruby application.

Here is my `opentelemtry.rb` initializer:
[code]

**What did you see instead?**
[code]

**What version did you use?**
Vers

[2021-10-05 06:56] pavankrish123 commented on #2237
@jpkrohling now that #4009 is checked in. I am happy to work into this enhancement. Just as a confirmation do you envision this enhancement in this way?

[code]

[2021-10-05 08:03] jpkrohling commented on #2237
I think I would include the gRPC logs as info, and without any entry in the configuration. If people need to customize it for some reason, we might want to wrap it behind a config option.

[2021-10-05 12:57] tigrannajaryan commented on #4165
I believe it needs to be a separate protocol, although it should be designed to work nicely with OTLP. The reason I think so is this statement in my proposal:

[2021-10-05 15:31] txomon commented on #3871
Just in case the reason for this feature from our side is that when using the collector as an Agent, deployed as a sidecar, the hardcoded prometheus port of the Agent will interfere with the prometheus port of the application

[2021-10-05 15:59] mx-psi commented on #3921
I would be happy to take this one if @Aneurysm9 is busy

[2021-10-05 18:02] pavankrish123 commented on #2237
Thank you @jpkrohling - Just as a confirmation

1) The idea still is to have grpc log only in dev profile - correct? and that too without any configuration (that makes sense)
[code]

2) What configuration of the grpc logs are we intending to expose? or shall we take it in a different PR when need arises?

2) do we have an intention to do the same for http logging as well?

[2021-10-05 19:10] mjallday opened #4174 "Dropping and Filtering Spans from Within a Trace"
**Is your feature request related to a problem? Please describe.**

We need a feature to allow for dropping/filtering spans from third party services which are out of our control.

**Describe the solution you'd like**

Being able to use a syntax similar to the [logs and metrics filterprocessor](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/57a2ef2644c55fbfd43437afceeebb669

[2021-10-05 20:21] codeboten commented on #4141
I believe this is now fixed with the release here https://github.com/open-telemetry/opentelemetry-collector-releases/releases/tag/v0.36.0, please re-open if that's not the case.

[2021-10-05 20:21] #4141 closed

[2021-10-06 05:02] #4052 closed

[2021-10-06 09:29] mx-psi commented on #3921
Decided to give it a try since it was easy to do; happy to close if work was already being done here

[2021-10-06 11:37] mx-psi opened #4177 "Move or rename `parserprovider` package"
After #4096, we need to move or rename `parserprovider` to reflect the name change from `ParserProvider` to `MapProvider`.

[2021-10-06 22:57] keep94 opened #4181 "HistogramDataPoint should make defensive copies of slices"
**Is your feature request related to a problem? Please describe.**
Setters of HistogramDataPoint that take slices and getter methods of HistogramDataPoint that return slices don't make defensive copies of those slices.  For instance if I call h.SetBucketCounts(counts), and I later want to change the counts slice, I can't change it without also changing internal state in my HistogramDataPoint objec

[2021-10-07 07:32] #4179 closed, assigned to jpkrohling

[2021-10-08 12:22] jpkrohling commented on #2265
What's the current state of this one? @pkositsyn, do you still have this code around?

[2021-10-11 12:37] markvdlaan93 opened #4186 "Send traces from Jaeger to OpenTelemetry collector"
Currently, I'm trying to connect a PHP Laravel application to Honeycomb.io through Jaeger and the OpenTelemetry collector. It seems like the otel collector doesn't receive any traces from Jaeger. I'm using docker-compose and I've verified that traces are received in Jaeger.

docker-compose.yaml
[code]

otel-collector-config.yaml
[code]
The otel collector logs don't indicate that something is wrong

[2021-10-12 18:25] tigrannajaryan opened #4190 "Config sources to support full remote config and individual config value substitution"
@bogdandrutu @Aneurysm9 and I discussed how the Collector configuration can be extended to support the remote [configuration needs](https://github.com/open-telemetry/opentelemetry-collector/issues/2374).

One possible approach is to extend the concept of config sources that were proposed earlier in https://github.com/open-telemetry/opentelemetry-collector/pull/3687 to allow the config sources to s

[2021-10-12 18:38] erichsueh3 commented on #3928
@bogdandrutu, are there any more changes that need to be made?

[2021-10-12 22:01] codeboten opened #4191 "change in behaviour for otlp grpc exporter"
**Describe the bug**
The following change causes the default for the grpc exporter transport to change from secure to insecure. https://github.com/open-telemetry/opentelemetry-collector/commit/ebb0fbd6f23e9ecc17ddc64edd54bb2a84ea9ce1#diff-2eb38d27ab53ca22abef502c1b39e68f28165a4eb3aa92e2c1d2314ab8991a59R194-R199

I reproduced the change in behaviour by using the same configuration both before and a

[2021-10-13 16:30] VineethReddy02 opened #4194 "OTLP exporter doesn't retry traces anymore once the export queue is full"
**Describe the bug**
When the OTLP backend isn't accepting anymore traces for XYZ reasons. The otelcol keeps retries to send the traces. Once the retry queue is full. Otelcol silently just logs the errors even when the backend is available now.
[code]

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.
Receive OTLP traces and export them to the backend that isn't avail

[2021-10-13 18:31] #4191 closed, assigned to codeboten

[2021-10-13 19:28] jmacd opened #4197 "Support exponential histograms in metric pipelines"
**Is your feature request related to a problem? Please describe.**

OTLP v0.11 supports an exponential histogram data point. The problem is, many exporters and processors will not initially know what to do with this data point, so some kind of configurable default behavior may be desired. The options are:

1. Reject the new data type if not handled, signal errors
2. Convert the new data type to fi

[2021-10-13 21:57] jpkrohling opened #4198 "Document how component developers can add metrics to their code"
Once the move from OC to OpenTelemetry SDK happens (#816), we need to enhance the contributing guideline with information on how component developers can add metrics to their own code. As part of this task, it should be evaluated whether it makes sense to add similar docs to the collector's documentation on the website.

[2021-10-13 21:57] jpkrohling commented on #2430
I just created another issue to track that specific item: #4198.

[2021-10-14 13:35] tigrannajaryan commented on #2374
Not necessarily "fixed" but compatible from the config file format perspective. So a particular config that is written for Collector v0.37.0 should like work fine for v0.38.0 (assuming no breaking changes made), even if a new component was added in v0.38.0. If a component was modified to accept new config settings (e.g. new filter type in filter processor) then typically it is done in backwards co

[2021-10-14 13:35] tigrannajaryan commented on #4198
@djaglowski FYI.

[2021-10-14 17:03] TylerHelmuth commented on #3945
We just ran into this need as well in our OpenShift deployment.  Would love the core distribution to support returning a 200 at /healthz

[2021-10-15 09:30] pavolloffay opened #4201 "Document best practice configuration for memory limiter with ballast"
**Is your feature request related to a problem? Please describe.**

The memory limiter readme https://github.com/open-telemetry/opentelemetry-collector/blob/main/processor/memorylimiterprocessor/README.md mentions that the ballast should be around 1/3 to 1/2 of the memory allocated to the collector. However it does not say if there is any relation between ballast and memory limiter

The helm chart

[2021-10-16 01:20] codeboten opened #4204 "Document use of multimod in release process"
We use `multimod` in the release process of the collector, we should document this in https://github.com/open-telemetry/opentelemetry-collector/blob/main/docs/release.md

See https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5775 for Makefile targets that were added.

[2021-10-16 01:23] codeboten commented on #3924
Is this still an issue, if so please update the title/description with more information and I'd be happy to help resolve it.

[2021-10-16 15:01] shivanshu1333 commented on #226
I think the issue isn't progressing, I'd love to come up with a fix for this.
@alolita can I work on it?
Thanks!!

[2021-10-18 08:06] squaw077 opened #4205 "Capability to update otel configuration dynamically at runtime"
**Is your feature request related to a problem? Please describe.**
Need capability to update otel collector's configuration at runtime. In particular, need capability to add/remove exporters while collector is running.

**Describe the solution you'd like**
Solution in the form of api in otel collector that would allow to change configuration (add/remove exporters) remotely at runtime. Simple solut

[2021-10-18 15:36] codeboten opened #4207 "Update proto to 0.11.0"
Proto 0.11.0 has been [released](https://github.com/open-telemetry/opentelemetry-proto/releases/tag/v0.11.0), let's upgrade the collector to support it.

- [x] #4208
- [x] #4210
- [x] add support for LogsData, TracesData, MetricsData

[2021-10-18 15:37] codeboten opened #4208 "update proto submodule & generate new protos"

[2021-10-18 15:59] codeboten opened #4210 "add ExponentialHistogram to pdata"

[2021-10-18 16:54] codeboten opened #4211 "update genproto to use zip archive instead of submodule"
_Followup to conversation @bogdandrutu in https://github.com/open-telemetry/opentelemetry-collector/pull/4209#pullrequestreview-782311300_

[2021-10-19 19:01] bogdandrutu commented on #4205
What distribution do you use? If you are talking about your own distro then this is already available

[2021-10-19 21:08] #4207 closed, assigned to codeboten

[2021-10-19 21:14] codeboten opened #4217 "fix flaky test TestGRPCMaxRecvSize"
The `TestGRPCMaxRecvSize` test times out on a semi-regular basis as per the following:

https://github.com/open-telemetry/opentelemetry-collector/pull/4213/checks?check_run_id=3942873081#step:7:1404

It's unclear to me why the test takes over a minute to run, but the number of spans can easily be reduced to shorten the duration of sending the spans over to the receiver.

[2021-10-20 03:29] timcosta opened #4221 "Collector cannot forward to another collector using the otlphttp exporter"
**Describe the bug**
The collector is unable to forward traces to another collector using the otlphttp exporter and otlp receiver. The data exits the original collector with trace/span IDs base64 encoded instead of hex encoded, which causes the secondary receiver to 400 with an `{"code":3,"message":"invalid length for ID"}` response.

Related:
https://github.com/open-telemetry/opentelemetry-collec

[2021-10-20 08:47] jcchavezs opened #4222 "Turn expand map provider into envexpand map provider"
## Description
While trying to debug a breaking change it was hard for me to figure out there was a struct that would expand env vars as in https://github.com/open-telemetry/opentelemetry-collector/pull/4146/files#diff-0cbd9b3909b072d06aaaa01873e3543a0f20146f7c55fd7837e65bd488b91047R38. I think for discoverability and readability matters we could rename it to envexpand and turn `NewExpandMapProvid

[2021-10-20 15:26] gillg opened #4224 "Windows Service start fails with NSSM"
**Describe the bug**
Using NSSM it seems not possible to launch otel-collector
Only error log:
`failed to start collector server: The service process could not connect to the service controller.`

On event logs :
[code]

**Steps to reproduce**
[code]

**What version did you use?**
Version: contrib 0.36.0 .exe

**Environment**
OS: Windows 10

[2021-10-20 16:12] tigrannajaryan opened #4225 "Choose or design a management protocol"
We want to have an open agent management protocol that can be used by OpenTelemetry Collector as well as any other agent that requires similar management capabilities (including other open-source and closed-source agents).

The protocol should have the following characteristics:

- Open. The specification should be openly available for anyone to implement.

- Vendor-neutral and project-neutral. It

[2021-10-20 16:14] tigrannajaryan opened #4227 "Agent Management Tasks"
This is the list of things todo to have an agent management solution for the Collector.

- [x] https://github.com/open-telemetry/opentelemetry-collector/issues/4225
- [x] https://github.com/open-telemetry/opentelemetry-collector/issues/4226
- [x] https://github.com/open-telemetry/opentelemetry-collector/issues/4228
- [x] https://github.com/open-telemetry/opentelemetry-collector/issues/4230
- [x] h

[2021-10-20 18:15] tigrannajaryan opened #4230 "Design how users specify their remote management preferences on the Collector side"
We want to be able to enable remote management on the Collector side and to be able to specify some settings about how the Collector should behave from the remote management perspective. For example we may want to have ability for the user to specify the following settings:
- Enable Remote Management flag - whether this Collector instance is remotely managed or no (likely opt-in).
- Management Ser

[2021-10-20 18:20] tigrannajaryan opened #4231 "Design and modify internal config to API to allow plugable full-config sources"
The ConfigSource experimental API currently allows to inject values of the configuration settings from remote sources. The [remote configuration capabilities](https://github.com/open-telemetry/opentelemetry-collector/issues/4190) however require us to be able to inject entire configurations, not just individual values.

We may need to modify the internal config API / ConfigSource / ParserProvider

[2021-10-20 18:20] #4217 closed, assigned to codeboten

[2021-10-20 18:25] tigrannajaryan opened #4232 "Standardize process metric reporting"
The Collector has a [hostmetrics](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/hostmetricsreceiver) receiver which emits process metrics. The Collector also emits its [own process metrics](https://github.com/open-telemetry/opentelemetry-collector/blob/main/service/internal/telemetry/process_telemetry.go).

These 2 sources of process metrics today don't follo

[2021-10-20 20:31] bogdandrutu commented on #4221
@timcosta I am confused about which exporter are you talking about. The `otlphttp` in the collector is not related to the one in the Go SDK, and the `otlphttp` exporter in the collector does not support JSON.

[2021-10-20 22:33] tigrannajaryan opened #4236 "Unclear how to use WatchableMapProvider to work for more than once"
I tried creating a custom MapProvider which is also a WatchableMapProvider.

The MapProvider parts works as expected. At the startup the MapProvider.Get() method is called and when it returns a Map the config is correctly loaded from that map.

After that the service calls WatchableMapProvider.WatchForUpdate() as expected, which my implementation blocks until it has something new. When that new co

[2021-10-20 23:50] bogdandrutu commented on #4236
One of the solution I had in mind (did not get enough attention) is https://github.com/open-telemetry/opentelemetry-collector/pull/4029. So you "retrieve" an object that contains some parts of the config and that object is watchable.

[2021-10-21 07:41] jpkrohling opened #4239 "Will this eventually be split into a GetHTTPServerAuthenticator and a GetGRPCServerAuthentiator?"
Will this eventually be split into a GetHTTPServerAuthenticator and a GetGRPCServerAuthentiator?

_Originally posted by @codeboten in https://github.com/open-telemetry/opentelemetry-collector/pull/4234#r733221212_

[2021-10-21 19:05] bogdandrutu commented on #4231
I think this needs to become "unification" of MapProvider and ConfigSource, we should not have 2

[2021-10-21 19:07] bogdandrutu opened #4241 "Move pdatagen as internal package to "model", do not export this module."

[2021-10-21 21:34] gillg opened #4242 "[Deprecation] - Replace IsAnInteractiveSession by IsWindowsService"
**Is your feature request related to a problem? Please describe.**
The function https://pkg.go.dev/golang.org/x/sys/windows/svc#IsAnInteractiveSession is deprecated because the way to detect if it's a service or not is not reliable.
As an exemple, if you wrap your service with NSSM, otel collector seems think it's a non interactive session.
This seems cause some unexpected situations when nssm try

[2021-10-22 02:19] tigrannajaryan commented on #4231
I would like to keep this open to make sure we are tracking it correctly. It may be that #3924 is all we need, which is fine, we will reference it from here, but maybe there is other work needed, so let's keep this open for now.

[2021-10-22 02:28] tigrannajaryan commented on #3924
@codeboten this is definitely still necessary. See one possible desirable way to use the full-config provider and and value-config providers: https://github.com/open-telemetry/opentelemetry-collector/issues/4190

I am also looking for feedback on https://github.com/open-telemetry/opentelemetry-collector/issues/4190 from user experience perspective, if you have any thoughts.

Please let me know if

[2021-10-22 06:59] goswamisandeep opened #4244 "How to generate collector own metrics"
**Describe the bug**
We want to create a pipeline with inbuilt and our own custom processors/receievrs/exporters . We want to generate collector metrics too as indicated in https://github.com/open-telemetry/opentelemetry-collector/blob/1e5cd148fded7766540ac6bb1a1690901b4ae0b4/docs/observability.md#what-needs-observation . But there are no examples . Please let us know

**Steps to reproduce**
N/A

[2021-10-22 07:01] goswamisandeep opened #4245 "Links broken in metric-metadata.md"
**Describe the bug**
Links in opentelemetry-collector/docs/metric-metadata.md is broken .

**Steps to reproduce**
open links in file metric-metadata.md

**What did you expect to see?**
Valid documentation

**What did you see instead?**
broken link

**What version did you use?**
Version: (e.g., `v0.37.0')

**What config did you use?**
NA

**Environment**
github

**Additional context**
Please update

[2021-10-22 11:49] jpkrohling opened #4247 "Kubernetes example config is using the old TLS config"
The Kubernetes example config is currently using the old squashed TLS configuration, which causes pods to fail with:

[code]

Steps to reproduce:

* `minikube start --vm-driver kvm2 --cpus 6 --memory 20480 --container-runtime=crio --addons=ingress --addons=metrics-server`
* kubectl apply -f https://raw.githubusercontent.com/open-telemetry/opentelemetry-collector/main/examples/k8s/otel-config.yaml

[2021-10-22 17:22] alanwest opened #4248 "Create a standard way to create a map of metric identity"
This was proposed by @jmacd in the context of the cumulative to delta processor from the contrib repo. https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/4444#pullrequestreview-762571627

[2021-10-25 11:27] errordeveloper opened #4254 "feature request: compatibility between published Go types to collector's own types"
Right now it's not easily possible to covert data that was constructed using published Go types ([`go.opentelemetry.io/proto/otlp`](https://pkg.go.dev/go.opentelemetry.io/proto/otlp)) and the internal version of the same ([`go.opentelemetry.io/collector/model`](https://pkg.go.dev/go.opentelemetry.io/collector/model)). This makes it very complicated for someone to build a collector component extern

[2021-10-25 13:53] pmm-sumo opened #4256 "`otlphttp` does not store client IP in the Context"
**Describe the bug**

Many receivers use the information available in connection metadata. They extract the client IP and store it in Context using `client.Client` struct. This works for OTLP/gRPC among the others, though it does not for OTLP/HTTP

**Steps to reproduce**
This can be easily reproduced sending data `otlphttp` and noticing there's no IP address stored in the Context

**Additional con

[2021-10-25 17:10] codeboten opened #4258 "Support optional fields in proto"
A [change proposed](https://github.com/open-telemetry/opentelemetry-proto/pull/336) in the opentelemetry-proto uses `optional` fields, which are not supported by the gogo proto library. A few options have been proposed on how to move forward:
1. fork the gogo library and add support for optional fields
2. replace the library with manual serialization

[2021-10-25 19:36] tigrannajaryan opened #4261 "Make receiver data delivery guarantees explicit"
The Receiver documentation currently does not define the exact order of the following:
- Receiving data from some sender (typically from a network).
- Pushing received data to the pipeline.
- Acknowledging successful data receipt to the sender or failure receipt if pushing to pipeline failed.

The OTLP receiver does the right thing by first pushing the received data to the pipeline and only after

[2021-10-25 23:18] #4210 closed, assigned to codeboten

[2021-10-26 00:31] #4261 closed, assigned to tigrannajaryan

[2021-10-26 00:33] #4245 closed, assigned to nobody

[2021-10-26 00:40] tigrannajaryan opened #4264 "Allow to revert configuration updates on fatal errors"
Currently when an error happens during component startup it is reported via `Host.ReportFatalError()` which results in terminating the Collector.

This can happen for example if the component attempts to start asynchronously and discovers that it cannot listen on a port or for some other reason the configuration may be incorrect and start can fail.

The current behavior is completely justified sin

[2021-10-26 08:29] mx-psi opened #4265 "Move metric metadata docs closer to mdatagen tool"
The docs related to metrics metadata should be moved closer to the `mdatagen` tool (e.g. on the tool README)

_Based on comment by @bogdandrutu in https://github.com/open-telemetry/opentelemetry-collector/issues/4246#issuecomment-949740044_

[2021-10-26 13:29] tigrannajaryan opened #4266 "Make SharedComponents public"
It is currently internal and only used by OTLP receiver however there are other receivers that need the same functionality (any receiver that implements more than one data type needs this).

We have a duplicate in the contrib repo which is used by some contrib receivers, which is also internal. Any distro that implements a receiver like this is also forced to reimplement the SharedComponent.

I th

[2021-10-26 16:33] #4211 closed, assigned to codeboten

[2021-10-26 21:53] tigrannajaryan opened #4272 "Make Collector instance ID available to config.MapProvider"
The Collector currently generates a random instance ID in colTelemetry.initOnce() and uses the the value as the "service.instance.id" attribute in the reported telemetry. This is good and is expected.

Unfortunately this value doesn't seem to be accessible anywhere. In particular config.MapProvider needs the instance ID to report it to the management server to fetch the configuration for the parti

[2021-10-27 07:14] jpkrohling opened #4274 "gRPC client might not be properly balancing requests"
As reported in the Jaeger issue tracker, the OpenTelemetry Collector might not be properly load balancing requests across Jaeger Collector replicas.

Reference: https://github.com/jaegertracing/jaeger/issues/1678

[2021-10-27 16:52] codeboten opened #4275 "Move opentelemetry-collector-builder into this repository"
As a result of discussions in the SIG meeting and the conversation in this PR https://github.com/open-telemetry/opentelemetry-collector/pull/4199, it was decided the [opentelemetry-collector-builder](https://github.com/open-telemetry/opentelemetry-collector-builder) should be moved into this repo.

[2021-10-27 16:54] codeboten opened #4276 "Produce releases from this repo"
Once the collector builder #4275 is moved into the core repo, the [releases repository](https://github.com/open-telemetry/opentelemetry-collector-releases/) is no longer necessary. This issue tracks moving the functionality from that repo into the core repo.

[2021-10-27 17:29] #4256 closed, assigned to nobody

[2021-10-27 21:31] bharathiram opened #4282 "Add documentation to update opentelemetry collector image as part of OpenTelemetryCollector Definition"
**Describe the bug**

There is no mention in the documentation about the feature that we can pass `image` as part of the OpenTelemetryCollector configuration

[code]
It would be helpful to list this feature in the documentation

[2021-10-28 12:39] errordeveloper opened #4308 "builder should fail when config file doesn't exist"
Currently the builder uses internal default config when `--config` is unset, which is a sensible feature. However, it happens to also use the same default config when `--config` points at an non-existing file, which is very confusing, especially if the file happen to be missing in error...

[2021-10-28 14:54] jpkrohling opened #4288 "Auth data as part of the client information"
As discussed with @bogdandrutu in the context of #2733 / #3745, we'll attempt to solve the same problem by:

1. injecting the client in a generic way, the way we currently do with the auth context
2. use the client.Client struct to hold the auth context, which might hold a headers map in a next phase

If this approach works, #2733 / #3745 will be closed in favor of this here.

Tracker for:
- [x] #

[2021-10-28 20:32] #4275 closed, assigned to jpkrohling

[2021-10-29 09:56] jpkrohling opened #4306 "Follow-up tasks after moving builder"
- [x] #4317
- [x] #4315
- [x] #4314
- [x] #4318
- [x] open-telemetry/opentelemetry-collector-builder#80
- [x] Move issues from the old repository to this
- [x] #4305

[2021-10-29 12:26] jpkrohling opened #4314 "Sort out the release process for the builder"
The builder is currently using goreleaser to manage the binaries we want to generate. With the move to this repository, we need now a feature that is available only in the "Pro" version. I think it's worth it and would like to ask the maintainers whether I have the green light to request a budget from the CNCF to expense it.

@open-telemetry/collector-maintainers, could you please give a 👍🏽 or 👎🏽

[2021-10-29 12:28] jpkrohling opened #4315 "Integrate the CI for the builder, especially e2e tests"

[2021-10-29 13:44] jpkrohling opened #4317 "Move from /builder to /cmd/builder"

[2021-10-29 13:45] jpkrohling opened #4318 "Improve the test coverage to satisfy codecov from the core repository (e2e tests are used currently)"

[2021-10-29 15:52] #4317 closed, assigned to nobody

[2021-10-29 18:57] codeboten opened #4322 "flaky test: TestBatchMetricsProcessor_Timeout"
[code]

_Originally posted by @codeboten in https://github.com/open-telemetry/opentelemetry-collector/pull/4305#pullrequestreview-793316046_

[2021-11-01 10:54] errordeveloper opened #4328 "setting `service::telemetry::logs` to debug is ineffective"
I've tried setting `service::telemetry::logs` to `DEBUG` and `debug`, but it's not enabling debug logs. The config value does get parsed for sure, as something like `debugz` throws a fatal error.

[2021-11-01 18:05] #4315 closed

[2021-11-01 20:15] BinaryFissionGames opened #4331 "Add timeout to confignet"
**Is your feature request related to a problem? Please describe.**
When dialing, there should be a configurable timeout in these configs. Without these, no timeout is used and depending on the protocol and OS, may take a large amount of time to timeout or not timeout at all.

**Describe the solution you'd like**
Add a `timeout` parameter and use it with net.DialTimeout, allowing a configurable tim

[2021-11-02 00:19] #4038 closed

[2021-11-02 04:08] tigrannajaryan opened #4335 "Ensure OTLP receiver handles consume errors correctly"
See the [requirements for receivers here](https://github.com/open-telemetry/opentelemetry-collector/blob/b2961b799e2c1ec128f0539764af1fa10c839e04/receiver/doc.go#L21).

OTLP/HTTP receiver needs to:
- Return [429 or 503 responses](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/otlp.md#otlphttp-throttling) on non-permanent errors.
- Return [400 respons

[2021-11-02 14:18] tigrannajaryan commented on #4236
Solved by https://github.com/open-telemetry/opentelemetry-collector/pull/4270

[2021-11-02 14:21] tigrannajaryan commented on #4231
Note that the [Supervisor model](https://docs.google.com/document/d/1KtH5atZQUs9Achbce6LiOaJxLbksNJenvgvyKLsJrkc/edit#) may render some of the tasks listed as unnecessary, e.g. reverting of bad configs can become Supervisor responsibility. The exact functionality of the Supervisor is still to be defined.

[2021-11-02 16:41] #4322 closed

[2021-11-02 17:12] codeboten commented on #2883
I was unable to repro the failure and it looks like the logs are no longer available. @mx-psi I propose we close this and re-open if it starts failing again, what do you think?

[2021-11-02 17:14] codeboten commented on #2905
Closing this for now, not currently seeing failures from the tests reported here.

[2021-11-02 17:45] mx-psi commented on #2883
Sounds good, I haven't seen it in a while either. Closing...

[2021-11-02 17:45] #2883 closed

[2021-11-02 19:09] #3921 closed

[2021-11-02 19:17] codeboten commented on #2532
Couldn't reproduce failures, closing for now.

[2021-11-02 19:17] #2532 closed

[2021-11-02 19:19] codeboten commented on #2725
Couldn't repro failures, closing for now.

[2021-11-02 19:19] #2725 closed

[2021-11-02 19:34] tigrannajaryan commented on #4236
https://github.com/open-telemetry/opentelemetry-collector/pull/4270 does't fully solve this. The Watchable capability is not propagated through `expandMapProvider` and `mergeMapProvider` so even if the nested `fileMapProvider` is Watchable it doesn't work.

Perhaps the `expandMapProvider` and `mergeMapProvider` need to be refactored to pass through "watchability" or some other solution is needed.

[2021-11-02 19:50] errordeveloper commented on #4328
/bug

[2021-11-02 20:23] floyola commented on #4328
Which version are you using?
I had the same problem with the 0.36.0
I upgraded it to the 0.38.0 and now it works :)

[2021-11-02 20:47] errordeveloper commented on #4328
I'm using a custom collector based on 0.38.0. If this was broken in 0.36.0, would be good to know what commit fixed it...

[2021-11-02 20:54] codeboten commented on #4328
@errordeveloper is it possible for you to paste the errors you're seeing emitted when enabling the `--set=service.telemetry.logs.level=debug` option?

[2021-11-02 21:27] errordeveloper commented on #4328
I don't see any errors, just info messages and no debug messages.
But, I have only set it via config, should I try setting it this way? I wouldn't expect it to be any different, but perhaps there is a bug... Hm.

[2021-11-02 21:34] codeboten commented on #4328
Ah I see, I misread the last part of the issue description. What information are you looking for specifically?

I remember finding that the `service::telemetry::logs` setting not allowing me to see debug information about traces/metrics/logs being emitted was confusing at first. Then I realized that it made sense to use a logging exporter instead.

[2021-11-02 21:42] errordeveloper commented on #4328
I just want to see debug logs from a receiver that I wrote, and from other receivers I am debugging. That's what '--log-level' flag did previously.

Ok, I think this is very very misleading, if that is what's going on. I also got fairly confused when I read somewhere in the code that value is supposed to be 'detailed', but I am not sure what that was meant for, as the struct actually maps to 'zap.

[2021-11-02 21:57] hyunuk opened #4342 "Follow-up investigation of GRPC compression library"
**Is your feature request related to a problem? Please describe.**

For issues #2548 and the PR #4088 , it imports the library `github.com/mostynb/go-grpc-compression` in [Collector Core](https://github.com/open-telemetry/opentelemetry-collector)

Background discussion: Bogdan raised a [concern](https://github.com/open-telemetry/opentelemetry-collector/pull/2614#discussion_r589151391) that this li

[2021-11-02 23:20] rushirg commented on #3454
The [latest release](https://github.com/open-telemetry/opentelemetry-collector-contrib/releases/latest) v0.38.0 MSI package works!
_(Note: it automatically starts the service with default config)_

[2021-11-03 00:00] bogdandrutu commented on #4342
@hyunuk for `AWS SDK for Go v2 does not use any gRPC compression methods.` I understand they don't use gRPC but for HTTP requests what compression do they use?

So I see a need for snappy and maybe zstd, besides that no need. Also we need to add support for HTTP as well correct? So may not be un-reasonable to wrap them directly, with this package we also get lz4 which I don't want to maintain beca

[2021-11-03 08:07] neelayu opened #4352 "Need for Batch processor to back propagate the error to the preceding component"
**Is your feature request related to a problem? Please describe.**
The batch processor doesn't propagate the error back to the preceding component, in case the Consume*() throws an error. I believe this could be due to the limitations of the code design(using go routines).
But it would be a nice to have feature, being consistent with other processors.

**Describe alternatives you've considered**
P

[2021-11-03 08:20] jpkrohling commented on #4314
ping @open-telemetry/collector-maintainers

[2021-11-03 14:21] gillg opened #4354 "Add an internal metric build_info"
**Is your feature request related to a problem? Please describe.**
Add a metric exposing the build_info somewhere around https://github.com/open-telemetry/opentelemetry-collector/tree/main/internal/obsreportconfig/obsmetrics
This could be very useful to monitor deployed collector and track version drifs, missing updates and so on...

[2021-11-03 16:17] codeboten commented on #4342
http is captured in this issue
https://github.com/open-telemetry/opentelemetry-collector/issues/2766

[2021-11-03 18:34] bogdandrutu commented on #4352
It is impossible to do that unless you make the Consume* method on the batch itself blocking for the "timeout" period which you don't want.

[2021-11-03 23:35] bertysentry opened #4359 "OpenTelemetry Collector Builder is no longer available as a downloadable asset"
Since the move of [the OpenTelemetry Collector Builder repository](https://github.com/open-telemetry/opentelemetry-collector-builder) to the main **OpenTelemetry Collector** repository, the compiled binaries are no longer available for download.

**Previously**: [v0.37.0 of the Collector Builder released assets with compiled binaries](https://github.com/open-telemetry/opentelemetry-collector-build

[2021-11-03 23:48] tigrannajaryan commented on #4359
@jpkrohling will you be able to take this?

[2021-11-04 08:39] jpkrohling commented on #4359
That's absolutely correct and should be fixed by 0.39.0. The 0.38.0 release happened while we were doing the move, and one of the last pending items is indeed about integrating the builder in the release process (#4314). Do you need the builder at 0.38.0 for some reason, or can you wait for 0.39.0, which should be available in less than two weeks?

[2021-11-04 09:47] bertysentry commented on #4359
@jpkrohling Don't worry about it, I will use version 0.37.0 in the meantime. Thank you for your answer! 😊

[2021-11-04 11:05] jpkrohling commented on #4359
Alright, I'll close this one here then, as work on the release is being tracked by #4314 already.

[2021-11-04 11:05] #4359 closed

[2021-11-04 15:40] errordeveloper commented on #4328
It's not recognised in 0.38.0, and in 0.37.0 it was already ineffective.

https://github.com/cilium/hubble-otel/blob/d0e1ec99a31c457166d178199449a50f88631f43/testdata/collector-with-tls.yaml#L36-L39

No.

[2021-11-04 19:15] bogdandrutu commented on #4314
I am fine to use goreleaser, do what you have to do to simplify our life :)

Also let me know if I need to setup anything in the repo.

[2021-11-04 19:17] jpkrohling commented on #4314
All I need is a secret with `GORELEASER_KEY` :-)

[2021-11-04 19:31] bogdandrutu commented on #4173
It seems to be related to https://github.com/grpc/grpc-go/issues/1888, @jpkrohling do we send any metadata in the jaeger exporter?

[2021-11-05 09:18] jpkrohling commented on #4173
Not that I remember, but I'll double-check.

[2021-11-05 12:02] Ashmita152 commented on #4354
Can I pick this task if no one has picked it.

[2021-11-05 17:28] #2548 closed

[2021-11-05 17:28] bogdandrutu commented on #2766
@hyunuk do you want to pickup this as well?

[2021-11-05 17:31] bogdandrutu commented on #4354
We already have the version in all the metrics, but not enabled by default https://github.com/open-telemetry/opentelemetry-collector/blob/main/service/telemetry.go#L48

[2021-11-05 17:31] #4342 closed

[2021-11-05 19:17] Legion2 commented on #4179
in the official documentation at https://opentelemetry.io/docs/collector/configuration/#exporters in the example:
[code]
the protocol is part of the endpoint url resulting in `address http://jaeger-all-in-one:14250: too many colons in address` errors. Could you please update the documentation.

[2021-11-05 20:43] gillg commented on #4354
Thanks @bogdandrutu ! But I don't unsertand, by default this var is true, I don't see any way to update it, but I don't have it either in timeseries, either in metrics labels. 🤔
Moreover, this seems higly related to OpenCensus, but I know there is a lot of efforts made around Prometheus receiver to get rid of dependancies in OpenCencus, does this telemetry.go file is always in use ?

[2021-11-08 08:10] jpkrohling opened #4377 "Update jaeger exporter in the docs"
in the official documentation at https://opentelemetry.io/docs/collector/configuration/#exporters in the example:
[code]
the protocol is part of the endpoint url resulting in `address http://jaeger-all-in-one:14250: too many colons in address` errors. Could you please update the documentation.

_Originally posted by @Legion2 in https://github.com/open-telemetry/opentelemetry-collector/issues/4179#

[2021-11-08 10:26] yuriolisa commented on #4377
/assign

[2021-11-08 14:33] jpkrohling opened #4380 "Use the module's version instead of requiring a build-time flag"
When building the builder, we currently set a flag with the version for that build:

https://github.com/open-telemetry/opentelemetry-collector/blob/5007cef41b8546e5e1c1faaafd991ac5c1fe38ac/cmd/builder/.goreleaser.yml#L8

However, we could use a more native source of information, like:
https://pkg.go.dev/runtime/debug#ReadBuildInfo

The `ReadBuildInfo function returns a BuildInfo, which contains a

[2021-11-08 14:34] pragmaticivan commented on #4380
/assign

[2021-11-08 20:48] pragmaticivan commented on #4380
Just for a sanity check. Was this builder version ever working after the last refactoring?

[code]

After changing ldf flags modules to `ldflags:
      - -s -w -X go.opentelemetry.io/collector/cmd/builder/internal.version={{.Version}} -X go.opentelemetry.io/collector/cmd/builder/internal.date={{.Date}}`

It now works as expected:
[code]

[2021-11-08 21:40] pragmaticivan commented on #4380
I Will hold on to that one for a bit: https://goreleaser.com/cookbooks/build-go-modules/

There are a couple of limitations in regards to the current builder structure.

Perhaps we could sync via slack.

FYI, If my comment above makes sense, I can send a different PR to fix that ldflags issues as a new ticket.

[2021-11-09 00:28] #4314 closed

[2021-11-09 01:49] hyunuk commented on #2766
For sure. I will take this issue.

[2021-11-09 01:50] alolita commented on #2766
Assigned to you @hyunuk

[2021-11-09 06:02] #4352 closed

[2021-11-09 08:53] jpkrohling commented on #4380
Absolutely, you found a bug with the ldflags and we should fix it before the next release.

[2021-11-09 13:47] benbek opened #4383 "Meter values sent to Elastic APM are missing labels"
**Describe the bug**
I don't see _any_ labels when I look at a meter record in my APM metric index. I send multiple labels – a numeric attribute and two strings – but none of them appear.
When the same go code points directly to the APM server, labels do appear.

Note: this bug is also opened in the [contrib repo](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/5935) but i

[2021-11-09 22:01] pavankrish123 opened #4384 "Fallback values for $ENV in config.yaml"
**Is your feature request related to a problem? Please describe.**

In cases where config.yml relies on environment variables (example)

[code]

it would be nice to have some way to specify fall back environment var if the env variable is not set instead of evaluating to blank string. Something in lines of

[code]

[2021-11-10 06:44] dashpole opened #4388 "Batch processor not setting metric descriptor correctly when splitting batches of metrics."
**Describe the bug**
When a batch of metrics is split, the metric descriptor isn't correctly set for some of the metrics.  Some cumulative metrics end up with:
[code]

**Steps to reproduce**
I'm using the prometheus receiver with a random helm chart (https://artifacthub.io/packages/helm/presslabs/mysql-operator).  The particular endpoint doesn't matter, it just needs a lot of metrics, with some of

[2021-11-10 11:54] pmm-sumo opened #4390 "Builder usage instructions are not working"
**Describe the bug**

Seems there are several issues with builder instructions:
* There are no recent releases of the builder (going to be fixed with https://github.com/open-telemetry/opentelemetry-collector/issues/4314 )
* Installing the builder (as in the [example](https://github.com/open-telemetry/opentelemetry-collector/tree/main/cmd/builder#tldr)) fails:
[code]

**What version did you use?**

[2021-11-10 13:34] jpkrohling commented on #4173
This seems wrong: the Jaeger port to use is 14250 (collector gRPC). The port 14268 is HTTP Thrift, which is not used by this exporter.

[2021-11-10 13:42] jpkrohling commented on #4173
For the moment, I'm marking this as "needs more info", as I believe this is caused by a configuration error. If you believe this is indeed a problem in the Jaeger exporter, I can dig deeper, but for that, please provide me with a simple reproducer that I can just run here.

[2021-11-10 16:38] bogdandrutu commented on #4384
This issue does not have enough requests to justify extra dependencies and logic.

[2021-11-10 16:40] #4318 closed

[2021-11-10 18:14] #4388 closed

[2021-11-10 18:38] bogdandrutu commented on #4380
`ReadBuildInfo` does not work, see https://github.com/golang/go/issues/29228

[2021-11-10 18:39] bogdandrutu commented on #4380
Please close this unless you have a way to fix that golang issue :D

[2021-11-10 18:43] pragmaticivan commented on #4380
👍🏼 for closing. I had the same behavior and gorelease docs also state some other possible issues.

[2021-11-10 22:24] bogdandrutu commented on #4222
I am a bit confused about the comments/issue. Is this https://github.com/open-telemetry/opentelemetry-collector/pull/4098#issuecomment-947457653 still an issue? Where do you pass envvars and is not working?

[2021-11-10 22:42] #4308 closed

[2021-11-10 22:43] bogdandrutu commented on #4306
This seem to have all tasks done.

[2021-11-10 22:43] #4306 closed

[2021-11-10 22:45] bogdandrutu commented on #4254
This is intentionally, and encourage to construct use directly the `go.opentelemetry.io/collector/model/pdata` instead of `go.opentelemetry.io/proto/otlp`

[2021-11-10 22:45] bogdandrutu commented on #4254
Alternative you can "Marshal" the go "otlp" and unmarshal as "pdata"

[2021-11-10 22:54] bogdandrutu commented on #4236
Unrelated with the initial issue. Consider to open separate issue for that.

[2021-11-10 22:54] #4236 closed

[2021-11-10 23:43] errordeveloper commented on #4254
I found it very limited and unintuitive to use.

[2021-11-10 23:44] errordeveloper commented on #4254
Sure, if you don't care about performance...

[2021-11-11 00:35] #3489 closed

[2021-11-11 00:38] bogdandrutu commented on #4254
" many fields are not settable." all the fields are settable, we are actually using them to construct everything.

[2021-11-11 00:42] #3930 closed

[2021-11-11 00:47] #2262 closed

[2021-11-11 00:55] bogdandrutu commented on #4205
If you have a daemon already you can shutdown and start again the collector with the new file since that is what we do anyway internally.

[2021-11-11 00:56] bogdandrutu opened #4397 "`configmapprovider.File` does not watch for file changes"
Related bugs that will be closed:
* https://github.com/open-telemetry/opentelemetry-collector/issues/4205 - when this gets fixed the "daemon" can simply change the file.

[2021-11-11 00:56] #4205 closed

[2021-11-11 00:57] bogdandrutu commented on #4205
Closing this because we will fix the file watch then you will be able to simply update the file.

[2021-11-11 00:58] bogdandrutu commented on #4198
@jpkrohling we already expose "MeterProvider" in the CreateParams (I know is a no-op) so components can start using that (will be some time until we will enable them though).

[2021-11-11 00:59] #4177 closed

[2021-11-11 01:08] bogdandrutu commented on #4156
@jsuereth looking at the example PR https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5071 I feel the right way is actually to create an "error" (user will forget to log the way you have it there, also "status_code" used there will definitely not be consistent).

We have to options:
1. Define "zap.Fields" for all the codes and expect that to be used when logging. I actually th

[2021-11-11 01:09] bogdandrutu commented on #4024
The remaining work is tracked in a separate milestone.

[2021-11-11 01:09] #4024 closed

[2021-11-11 01:14] bogdandrutu commented on #2460
Collector main module was reduced to only OTLP support and a limited amount of components. Thanks @bwplotka

[2021-11-11 01:14] #2460 closed

[2021-11-11 01:16] bogdandrutu commented on #4328
Do you use the windows service? Where do you run this?

[2021-11-11 09:47] jpkrohling commented on #4380
I didn't know about this and saw it being used by `ko`:

https://github.com/google/ko/blob/de2ce53efbf408da656d8386dafdd174f557df37/pkg/commands/version.go#L43-L52

This works when installing it via `go install`, which is the main motivation for using the runtime package:

[code]

What do they do differently? Why does it work for them?

[2021-11-11 09:49] jpkrohling commented on #4198
This is at the top of my todo and will work on it soon.

[2021-11-11 11:46] errordeveloper commented on #4254
I've tried, and couldn't rewrite this code: https://github.com/cilium/hubble-otel/blob/acc3a282a62b35fa432b1d47200904082fbaf797/common/common.go#L178

[2021-11-11 12:00] errordeveloper commented on #4254
@bogdandrutu this illustrates what I am actually referring to:

https://github.com/open-telemetry/opentelemetry-collector/blob/db6d31e9acc546e043b7b5564377bd76998e74bd/model/pdata/generated_trace.go#L179-L184

The thing is that Inside the collector you can set any fields you like cause internal structs can still be accessed, but not in another project... You see what I'm saying now?

[2021-11-11 12:05] jpkrohling commented on #2237
@pavankrish123, are you still interested in working on this one?

[2021-11-11 12:13] errordeveloper commented on #4328
I run this in a container on Linux.

[2021-11-11 17:02] bogdandrutu commented on #4380
https://github.com/google/ko/blob/de2ce53efbf408da656d8386dafdd174f557df37/pkg/commands/version.go#L24

[2021-11-11 17:03] bogdandrutu commented on #4380
Maybe if you do `go install` the "ReadBuildInfo" works, and does not work with `go build`

[2021-11-11 17:04] pavankrish123 commented on #2237
@jpkrohling yes I am still interested. (Sorry was on a break). Will push out initial commit by this weekend.

[2021-11-11 17:05] pragmaticivan commented on #4380
Goreleaser also was a proxy to work around the same issue but has some downsides to project structure.

More can be found here: https://goreleaser.com/cookbooks/build-go-modules/

When I tried that change locally the `go build` emited `devel` as pointed above. There might be other workarounds.

[2021-11-11 18:09] bogdandrutu commented on #4254
@errordeveloper no I don't see what you are trying to say. If you need to create a new "ResourceSpans" you do from top to bottom:

[code]

vs

[code]

This is optimal to reduce the amount of allocations, as well as avoid common mistakes as "sharing" the same object between multiple data objects.

[2021-11-11 18:36] jpkrohling commented on #4380
About `govvv` usage, it does explain the binary that we download from the github page, but not `go install`.

[2021-11-11 18:47] bogdandrutu commented on #4380
As I said, I think "go install" because it knows the version (same that godoc uses) can set the `debug.ReadBuildInfo` correctly.

[2021-11-11 21:54] #4247 closed

[2021-11-11 21:55] bogdandrutu commented on #4046
Sorry for missing this, I think at this point is useless to do anything, but you definitely are correct.

[2021-11-11 21:55] #4046 closed

[2021-11-11 23:01] pavankrish123 commented on #2237
@pureklkl please refer to #4401 comments. The current suggestion is to see and enable grpc logging per exporter/receiver.

[2021-11-12 09:35] jpkrohling opened #4407 "Release v0.39.0"
Tracker for v0.39.0

- [x] #4408
- [x] #4409
- [x] #4410
- [x] #4411
- [x] #4412
- [x] #4413

[2021-11-12 09:36] jpkrohling opened #4408 "Update contrib to the latest core"

[2021-11-12 09:36] jpkrohling opened #4409 "Prepare core release"

[2021-11-12 09:36] jpkrohling opened #4410 "Release core v0.39.0"

[2021-11-12 09:36] jpkrohling opened #4411 "Prepare contrib release"

[2021-11-12 09:36] jpkrohling opened #4412 "Release contrib v0.39.0"

[2021-11-12 09:36] jpkrohling opened #4413 "Publish the artifacts (otelcol-releases)"

[2021-11-12 13:23] jpkrohling opened #4418 "Add AuthData to client.Info"

[2021-11-12 13:23] jpkrohling opened #4419 "Populate client.Info from config helpers"

[2021-11-12 13:23] jpkrohling opened #4420 "Change receivers in contrib to not use client.Client"

[2021-11-12 13:23] jpkrohling opened #4421 "Change OIDC authenticator to use AuthData"

[2021-11-12 14:23] jpkrohling commented on #2733
I'm closing, as it's clear now that we are going for a different solution using the `client` package instead.

[2021-11-12 14:23] #2733 closed

[2021-11-12 15:17] jpkrohling commented on #4288
I changed this to be a tracker for the individual parts that would result in what we had for #4319. All of the PRs have been opened, and should be reviewed in the order that we have listed here.

[2021-11-12 18:26] bogdandrutu opened #4424 "Pass TelemetrySettings to configgrpc.ToDialOptions and use providers for otel interceptors"
https://github.com/open-telemetry/opentelemetry-collector/blob/main/config/configgrpc/configgrpc.go#L186

[2021-11-12 19:30] bogdandrutu commented on #3241
@victlu @reyang @lmolkova can you help us with this? This is a continuation of the https://github.com/open-telemetry/opentelemetry-collector/pull/3147

[2021-11-12 20:13] reyang commented on #3241
This is interesting. I think the more common scenario is to have an agent/collector collect logs from Windows Event Log and convert them to other formats.

May I understand more about the use case @james-bebbington? E.g. when would you use Event Log than a file? Do you have another agent that listens on Event Log and trigger some activity based on certain criteria (e.g. if the Collector is not sen

[2021-11-12 21:11] #4409 closed

[2021-11-12 21:12] #4408 closed

[2021-11-13 02:19] tonglil commented on #4377
Just ran into this issue, can confirm the documentation leads this way. Why it doesn't require http, is it a custom protocol?

[2021-11-13 04:30] pavankrish123 commented on #2237
@jpkrohling  - during my research with grpc logging, i found this settings that can be used to set and control grpc logs. Grpc by defaults sets its logging to error and logger output is set to stderr.

It also allows controlling these settings via environmental variables [GRPC_GO_LOG_SEVERITY_LEVEL](https://github.com/grpc/grpc-go/blob/cf8b64e2c5bf11e00856a29794e434460eb67b90/grpclog/loggerv2.go#L

[2021-11-13 07:01] navneet1075 opened #4431 "unable to use open telemetry collector builder"
**Describe the bug**
unable to build open telemetry builder  with custom sources.

**Steps to reproduce**
[code]

**What did you expect to see?**
able to build the binary with Otel custom .

**What did you see instead?**
[code]

**What config did you use?**
[code]

**Environment**
OS: (e.g., "macOS BigSur 11.6")

go version :  go version go1.16.5 darwin/amd64

**Additional context**
the source cod

[2021-11-13 15:00] #4410 closed

[2021-11-15 15:40] sincejune commented on #4397
@bogdandrutu can I take on this?

[2021-11-15 19:22] pureklkl commented on #1048
@bogdandrutu
I would like to work on it and make a pr for adding following configs, which just copied the zap config from the link above.
I am not going to add SamplingConfig and EncoderConfig which include interfaces for custom implementation.

    // DisableCaller stops annotating logs with the calling function's file
	// name and line number. By default, all logs are annotated.
	DisableCaller b

[2021-11-16 00:42] pavankrish123 opened #4438 "Expose custom round tripper in confighttp.ClientSettings as an extension"
**Is your feature request related to a problem? Please describe.**

We already have defined  custom round tripper as a part of [HTTPClientSettings](https://github.com/open-telemetry/opentelemetry-collector/blob/main/config/confighttp/confighttp.go#L57) in confighttp.go. This has been done to provide some help with testing. However, It is not exposed as a configuration/plugin.

We are running into

[2021-11-16 02:20] pavankrish123 opened #4440 "Add ServerAuthenticator interfaces for HTTP receivers."
**Is your feature request related to a problem? Please describe.**

`configauth.ServerAuthenthenticator` interface at the moment only includes methods to implement gRPC receiver side authentication. HTTP methods should be included in the interface for parity.

**Describe the solution you'd like**

Something like .... `RoundTripper(base http.RoundTripper) (http.RoundTripper, error)`

[code]

[2021-11-16 14:19] panthamm commented on #4440
We have seen client settings, but server settings are not available
**Client Settings**: https://github.com/open-telemetry/opentelemetry-collector/blob/main/config/confighttp/confighttp.go line number 60
type HTTPClientSettings struct {
…
        // Auth configuration for outgoing HTTP calls.
          Auth *configauth.Authentication `mapstructure:"auth,omitempty"`
  …
}

**Server settings**: We d

[2021-11-16 19:29] dashpole opened #4442 "Batch processor includes more than `timeout` time of telemetry"
**Describe the bug**
The `timeout` for the batch processor is described as "Time duration after which a batch will be sent regardless of size."  I interpret that to mean that each batch will include `timeout` worth of data.

I'm interested in this because of interacts with the prometheus receiver and the google cloud exporter.  If I have a scrape interval of 10s and a timeout of 9s, I would expect

[2021-11-16 21:47] codeboten commented on #4390
@pmm-sumo I just tested the installation via `go install` and was able to run them w/ `v0.39.0`, can you confirm?

[2021-11-16 22:12] codeboten opened #4443 "builder: Github workflow fails for builder"
**Describe the bug**
The github action to create a release of the builder is failing: https://github.com/open-telemetry/opentelemetry-collector/runs/4199455477?check_suite_focus=true

[2021-11-16 22:12] codeboten commented on #4443
@jpkrohling maybe you have some insight here

[2021-11-17 07:14] sl1316 commented on #955
Hi,
I am interested in the combination of the fluentbit(log collection agent in the application) and send the logs to openTelemetry collector to preprocessing and redirection. I saw there is already a fluentforwardreceiver in the opentelemetry library https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/fluentforwardreceiver but I didn't see how to export data in fl

[2021-11-17 09:08] jpkrohling commented on #4276
The original plan was to have all distributions being built from there, potentially having more distributions in the future ("sidecar" comes to mind). Right now, we have only the core distribution being generated there, which is indeed odd.

[2021-11-17 09:42] jpkrohling commented on #4443
This should have been fixed by #4432.

[2021-11-17 09:42] #4443 closed

[2021-11-17 10:02] jpkrohling commented on #2237
My personal opinion is that the collector shouldn't require knowledge about gRPC from the people running the collector. If they set the collector logging level to debug, I would expect to see the gRPC messages in the log, hopefully in a consistent format with the rest of the log entries.

We may want to take this discussion to the SIG meeting next week for a decision (I'm not able to join today's)

[2021-11-17 10:14] jpkrohling opened #4445 "Include local builder config to release procedure"
The file `./internal/buildscripts/builder-config.yaml` has been added recently, used with the `make run` target. This contains the collector version to build for local runs. While this number isn't that relevant, as the code is imported from the local repo, it would be nice to have it follow the same version of the collector. As such, we need to update this during the release process.

[2021-11-17 10:16] jpkrohling commented on #4377
It's gRPC over HTTP/2, and the underlying gRPC library expects the value to come without the protocol, as it will itself determine whether to use HTTP or HTTPS.

[2021-11-17 11:06] jpkrohling commented on #4411
Closed by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6313

[2021-11-17 11:06] #4411 closed

[2021-11-17 11:06] #4412 closed

[2021-11-17 11:07] jpkrohling commented on #4413
Done via https://github.com/open-telemetry/opentelemetry-collector-releases/pull/33

[2021-11-17 11:07] #4413 closed

[2021-11-17 11:07] #4407 closed

[2021-11-17 11:08] jpkrohling commented on #4173
I'm closing this, but feel free to reopen if you have reasons to believe this is indeed a problem.

[2021-11-17 11:08] #4173 closed

[2021-11-17 12:47] #3002 closed

[2021-11-17 13:00] jpkrohling commented on #4431
Which Go version are you using? Using what you currently have in your github repo, I'm able to build a distribution as soon as I fix the path in the builder manifest:

[code]

[2021-11-17 15:09] sincejune commented on #4442
`timeout` is useful when there isn't too much data and `send_batch_size` is not fully filled. With a reasonable `timeout`, The `batch` processor can also deliver data in time.

For your use case (If I understand it correctly), I'd recommend:
1. Use `send_batch_max_size` of `batch` processor which can guarantee a single data point per request. (A `ResourceLog` will only have one `InstrumentationLib

[2021-11-17 16:49] #4058 closed

[2021-11-17 17:08] jpkrohling opened #4447 "Add changelog entries"

[2021-11-17 18:32] PettitWesley commented on #955
@sl1316 I have not tried this myself but it might help: https://medium.com/opentelemetry/introducing-the-fluentbit-exporter-for-opentelemetry-574ec133b4b4

[2021-11-17 20:32] #4445 closed

[2021-11-17 20:34] bogdandrutu commented on #4397
@sincejune I think @tigrannajaryan is working on this, I will let him say if ok

[2021-11-17 21:38] tigrannajaryan commented on #4397
@sincejune please feel free to take.

[2021-11-17 22:48] tigrannajaryan commented on #4397
@sincejune I assume you will use some sort of [inotify](https://pkg.go.dev/k8s.io/utils/inotify) to watch for file changes. If not let's discuss before you start.

Other capabilities I would expect:
- Have a timeout to wait for all file changes to complete before reloading happens.
- Do not reload if the file is not a valid YAML.
- Log the watching/reloading process.

[2021-11-17 23:02] codeboten opened #4449 "Pass TelemetrySettings to confighttp.ToClient and add otel instrumentation"
Follow up to https://github.com/open-telemetry/opentelemetry-collector/issues/4424, we should provide the same instrumentation for http client as for grpc clients. As such, we need to pass in TelemetrySettings to `ToClient` and also instrument the http client with otelhttp instrumentation.

[2021-11-18 04:14] offSwitch opened #4453 "promethues exporter not working as expected, metrics is empty"
**Describe the bug**
metrics is empty

**Steps to reproduce**
after run opentelemetry-go\example\otel-collector\main.go
![image](https://user-images.githubusercontent.com/11695496/142350475-074522a8-815f-464f-ab16-f85a7e5e2563.png)

curl http://192.168.137.15:32664/metrics is empty
![image](https://user-images.githubusercontent.com/11695496/142350553-06fb21a2-4979-4805-af24-79e9ba294217.png)

but

[2021-11-18 05:37] sincejune commented on #4453
It looks like the [main.go](https://github.com/open-telemetry/opentelemetry-go/blob/main/example/otel-collector/main.go) only exported traces data. What metrics are you expecting?

[2021-11-18 08:00] navneet1075 commented on #4431
thanks @jpkrohling . I will try it out . go version on my local is : go1.15.15.

[2021-11-18 08:43] mx-psi opened #4455 "Uniform defaults for `exporterhelper`"
The `exporterhelper` package provides certain reusable helpers for common needs like queueing, retrying with backoff or timeouts. As of e23c9d0a01834a64162acb1677b7d69aa5be46f5 the timeout setting is enabled by default but the rest are not:
https://github.com/open-telemetry/opentelemetry-collector/blob/e23c9d0a01834a64162acb1677b7d69aa5be46f5/exporter/exporterhelper/common.go#L102-L108

This issue

[2021-11-18 08:43] navneet1075 commented on #4431
tried with 1.5.15 as well as the go version declared in the mod file as 1.15  . still does not work . will cleanup go and see

[2021-11-18 08:56] jpkrohling commented on #4431
I believe we require 1.17 for the builder. Try with that version and let me know how it goes.

[2021-11-18 09:01] FuyuanChu opened #4456 "Batch processor failed with error: unsupported metric otelcol_processor_batch_batch_send_size (Histogram)"
**Describe the bug**

There are errors in otel-collector's log

[code]
What happened when this error occurs？Does the error cause data losses?

**Steps to reproduce**

Using configuration below to setup a otel-colletor deployment:

[code]

[2021-11-18 09:02] navneet1075 commented on #4431
thanks . will try with 1.17.

[2021-11-18 09:18] rcrowe opened #4457 "Memory limiter: Support cgroups v2 and its unified hierarchy"
**Describe the bug**

Using percentage-based memory limiter config on a system that does not support cgroups v1 leads to the confusing error message [memSpikeLimit must be smaller than memAllocLimit](https://github.com/open-telemetry/opentelemetry-collector/blob/e23c9d0a01834a64162acb1677b7d69aa5be46f5/processor/memorylimiterprocessor/memorylimiter.go#L52-L53).

We pin our collector version we run

[2021-11-18 12:36] sincejune commented on #3928
QQ: Previously, I can debug the collector with `Goland`. Is there any good alternative after `cmd/otelcol` was removed?

[2021-11-18 14:13] navneet1075 commented on #4431
@jpkrohling able to build using go 1.17 . thank you very much. closing this one.

[2021-11-18 14:13] #4431 closed

[2021-11-18 14:32] tigrannajaryan commented on #4397
@sincejune it appears there is a draft PR https://github.com/open-telemetry/opentelemetry-collector/pull/4454 from @vjsamuel. Perhaps you can review that one.

[2021-11-18 17:40] #4420 closed

[2021-11-19 01:22] #4424 closed

[2021-11-19 05:53] FuyuanChu opened #4459 "otelcol can't get cpu limit and may cause performance issues."
**Describe the bug**

**Steps to reproduce**

Limit the CPU resource to 1 with K8S node has 4 CPUs.

**What did you expect to see?**

otelcol could get the CPU limit.

**What did you see instead?**

otelcol get the CPU number of the node.

**What version did you use?**
Version: v0.37.1

**What config did you use?**

**Environment**

GKE v1.19.14-gke.1900

**Additional context**

So far, the CPU nu

[2021-11-19 10:17] offSwitch commented on #4453
看别人用这个正常收集到trace和metric,这个main.go的readme有点问题，我对go不熟，
换成用java的example跑成功了，成功收集到trace和metric.

[2021-11-19 10:17] #4453 closed

[2021-11-19 14:47] mx-psi commented on #2789
I tried enabling `fieldalignment`, I see a few issues:
1. `fieldalignment` automatic fixes are broken in several ways, which makes it hard to fix things everywhere:
    - the fix option doesn't handle unkeyed struct literals when reordering fields, so the code after a fix can be invalid (even worse, it can be *silently* invalid if it reordered two fields of the same type),
    - the fix option rem

[2021-11-19 16:39] bogdandrutu commented on #4459
That is just a log message. The CPU limitation comes from the k8s itself which throttles the process when gets to the limit. We don't do anything with "NumCPU" except that we print it. If you believe that it is confusing we can remove that message.

[2021-11-19 16:41] bogdandrutu commented on #4456
The error is actually caused by https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/exporter/newrelicexporter/transformer.go#L344 (just logged by the batch processor).

[2021-11-19 17:20] bogdandrutu commented on #4190
@PettitWesley your request is pretty simple right now (but you need to create the flag yourself), let's assume you have already a `[]string` of files:

[code]

[2021-11-19 17:23] bogdandrutu commented on #3681
The default collector instance does not offer this yet, but you can offer this in your distribution.

[2021-11-19 17:25] #4265 closed

[2021-11-20 00:17] codeboten commented on #2316
Stale issue, closing.

[2021-11-20 00:17] #2316 closed

[2021-11-20 00:17] codeboten commented on #2284
Stale issue, closing.

[2021-11-20 00:17] #2284 closed

[2021-11-20 00:17] codeboten commented on #1769
Stale issue, closing.

[2021-11-20 00:17] #1769 closed

[2021-11-20 00:17] codeboten commented on #2800
Stale issue, closing.

[2021-11-20 00:17] #2800 closed

[2021-11-20 00:17] codeboten commented on #2347
Stale issue, closing.

[2021-11-20 00:17] #2347 closed

[2021-11-22 07:12] vjsamuel commented on #4190
One of the things worth considering is that, rather than building a consolidated service each time a config source is added/modified we should only be rebuilding a portion of it, i.e pipelines that were affected.

My proposal would be in this case to, keep both `--config` and `--config-source` as two parameters. The config would provide the core service related configuration and config-source woul

[2021-11-22 10:56] mx-psi opened #4467 "Return an error on `config.Map.Set`"
seems there's at least a couple of calls that could trigger an error in this func with `Load` just above this line, I would be in favour of returning an error from Set

_Originally posted by @codeboten in https://github.com/open-telemetry/opentelemetry-collector/pull/4462#discussion_r753349403_

[2021-11-22 11:18] jpkrohling commented on #4467
Looks like a good first issue?

[2021-11-22 11:22] mx-psi commented on #4467
@jpkrohling yes, I think this should also be required for GA since it's a breaking change

[2021-11-22 16:55] dashpole commented on #4442
This actually runs into the same issue i'm describing.  Let's say I would like the collector to contribute at most 30s of latency to any metric received at a receiver.  This is actually quite difficult to do given the current way the batch processor works if the exporter has any latency sending.  If I set a `timeout` of 30 seconds, a metric added at the very beginning of the interval would take `3

[2021-11-22 21:08] tigrannajaryan commented on #4190
We want to do this in the future. We can detect the config deltas and only rebuild affected pipelines.

This does not seems to be necessary for the above goal. We can keep the current approach and still only rebuild affected pipelines.

[2021-11-22 21:12] tigrannajaryan commented on #4190
Heads up: I am also looking at a slightly different config file structure, while maintaining the functionality described in the above examples. We can do this:

[code]

In local.yaml:
[code]

Conceptually it is no different than the original proposal at the top of this thread. However this is more uniform with other configuration settings, where we first define the component with its setting (e.g.

[2021-11-23 01:24] pavankrish123 commented on #2237
@jpkrohling any leads on how to proceed - Thank you

[2021-11-23 08:42] jpkrohling commented on #2237
@pavankrish123, try to create a thread on Slack to discuss it. If we can't get a green light from a maintainer (@bogdandrutu?), let's discuss this tomorrow during the SIG meeting.

[2021-11-23 10:08] #4421 closed

[2021-11-23 11:21] shree007 commented on #4467
@jpkrohling I can work on it.

[2021-11-23 17:44] bogdandrutu commented on #3378
This is an issue for the golden dataset which is now in contrib. Moving there.

[2021-11-23 17:45] bogdandrutu commented on #3928
Run `make run`

[2021-11-23 17:45] #3928 closed

[2021-11-23 17:46] #3528 closed

[2021-11-23 18:28] gravelg opened #4469 "Find a better way to instrument the collector with the GCP Go Profiler"
**Is your feature request related to a problem? Please describe.**
We currently use a custom `cmd/otelcol/main.go` file for our collector deployment, in order to configure the GCP Go profiler and our in-house crash collection tool. We have several custom exporters/receivers that are developed in-house and having these tools are essential to our ability to debug issues.

With the move to use the bu

[2021-11-23 19:10] jpkrohling commented on #3928
To expand on @bogdandrutu's previous message: running `make run` will also generate the sources, including the `main.go` that is the program's entrypoint.

[2021-11-23 21:41] hyunuk opened #4470 "Lint error: that is not having a return value of `exp.Shutdown`"
**Describe the bug**
After #4450 was merged, a lint error occurs with the following message.
[code]
It is weird since there was [no lint error](https://github.com/open-telemetry/opentelemetry-collector/runs/4289121234?check_suite_focus=true) in #4450 .

Changing `exp.Shutdown(context.Background())`  to
[code]
Would solve this problem. I will file a PR.

**Steps to reproduce**
`make lint` with curr

[2021-11-23 21:50] bogdandrutu commented on #4469
@gravelg we no longer have a "main" file, we do rely on the builder tool to generate that file. Is that solution acceptable to you?

[2021-11-23 21:51] bogdandrutu opened #4471 "Inconsistency when using `DefaultFoo` vs `NewDefaultFoo`"
See:
* https://github.com/open-telemetry/opentelemetry-collector/blob/main/component/build_info.go#L31
* https://github.com/open-telemetry/opentelemetry-collector/blob/main/exporter/exporterhelper/queued_retry.go#L52

[2021-11-23 22:53] codeboten commented on #4471
Not sure if changing things one way or another is easier, but I prefer `NewDefaultFoo`, unless Foo is already in the package name, then just NewDefault

[2021-11-23 22:59] gravelg commented on #4469
Hey @bogdandrutu, the issue we are facing is that the builder tool does not easily allow us to instrument the collector with the GCP profiler anymore. [Here](https://cloud.google.com/profiler/docs/profiling-go) is some info on how it works. Right now, we just have a copy of the main.go in our project and we add the profiler code in there. With the builder, since the main.go has effectively been tu

[2021-11-24 00:22] rarick opened #4472 "Trouble adding observability to an exporter"
# Problem
I have been using the opentelemetry-contrib repo to build a custom exporter. A requirement of my project is to add observability of the exporter itself. Specifically, I have a need for publishing health metrics ABOUT the exporter. Below is an outline of my config for reference.

# Current Approach
I am currently using the following otel collector config:

[code]

I've attempted to use th

[2021-11-24 13:28] jpkrohling commented on #4471
Funny, to me `DefaultFoo` sounds better, and already implies a new instance.

[2021-11-24 13:31] jpkrohling opened #4474 "Use PingService in gRPC tests"
As part of #4423, I started using a PingService that provides unary and stream RPCs. Other tests in the same file are using OTLP gRPC, touching only the unary features. To avoid using two different services for that suite, it would be better to use only the PingService.

[2021-11-24 17:46] bogdandrutu commented on #4471
I think they are the same to change, we just need to make a decision and get consistency.

[2021-11-24 17:58] codeboten commented on #4471
To be clear: I don't have a strong preference and would be happy with either.

[2021-11-24 18:09] #4470 closed

[2021-11-24 19:27] jpkrohling opened #4476 "Release v0.40.0"
- [x] #4477
- [x] #4478
- [x] #4479
- [x] #4480
- [x] #4481
- [x] #4482
- [ ] #4483

[2021-11-24 19:27] jpkrohling opened #4477 "Update contrib to the latest core"

[2021-11-24 19:27] jpkrohling opened #4478 "Prepare core release"

[2021-11-24 19:27] jpkrohling opened #4479 "Release core v0.40.0"

[2021-11-24 19:27] jpkrohling opened #4480 "Prepare contrib release"

[2021-11-24 19:27] jpkrohling opened #4481 "Release contrib v0.40.0"

[2021-11-24 19:27] jpkrohling opened #4482 "Publish the artifacts (otelcol-releases)"

[2021-11-24 19:27] jpkrohling opened #4483 "Release the operator v0.40.0"

[2021-11-24 19:48] dmitryax opened #10904 "Improve scrapers/mdatagen tool to produce more user-friendly code and support user settings"
# Metrics Builder for Scraper Receivers

Design document: https://docs.google.com/document/d/1OwDbIFlugS1rR0STv7rYBYcUjDZQ45pyVUvOSFfaRp4

## Goals

### Provide a user-friendly interface for metrics reporting by mdatagen tool

Currently mdatagen tool produces `generated_metrics.go` files that contain mostly definitions of the metrics taken from `metadata.yaml` files. Scraper authors have to add so

[2021-11-24 20:28] alolita commented on #3924
@codeboten can you work with @Aneurysm9 on this since he is looking at this and has been discussing with Bogdan.

[2021-11-24 20:32] #4478 closed

[2021-11-24 21:46] codeboten opened #4485 "`releasing`: git push for tags doesn't trigger github actions"
During the release process, the step of pushing tags fails to trigger the github actions. Pushing the tags individually seems to work, so let's update the process to push each tag individually.

[2021-11-24 22:21] codeboten commented on #4476
The builder goreleaser action failed: https://github.com/open-telemetry/opentelemetry-collector/runs/4317544157?check_suite_focus=true

[2021-11-25 08:36] jpkrohling commented on #4476
Opened #4487 to fix the goreleaser workflow. For this release, I ran it manually and confirmed it to work, as the release was generated by it.

[2021-11-25 08:36] jpkrohling commented on #4479
https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.40.0

[2021-11-25 08:36] #4479 closed

[2021-11-25 10:04] jpkrohling commented on #4483
@VineethReddy02, @pavolloffay, @yuriolisa, who'd want to take care of the operator v0.40.0?

[2021-11-25 10:16] #4477 closed

[2021-11-25 10:16] #4480 closed

[2021-11-25 10:40] jpkrohling commented on #4469
I see this issue as a feature request for the builder to support customization of the bootstrap code. Perhaps we need a change to the collector as well, to allow this? I need to think about what would be a clean solution for this, but I'm open to suggestions.

[2021-11-25 10:50] yuriolisa commented on #4483
I'd like to take care.

[2021-11-25 12:11] jpkrohling commented on #4481
Done! https://github.com/open-telemetry/opentelemetry-collector-contrib/releases/tag/v0.40.0

[2021-11-25 12:11] #4481 closed

[2021-11-25 12:12] #4482 closed

[2021-11-25 15:23] jpkrohling commented on #4198
I created a PR as a first step towards defining the pattern we want to recommend to component developers.

[2021-11-29 11:57] yuriolisa commented on #4483
Just finished the PR.
https://github.com/open-telemetry/opentelemetry-operator/pull/585

[2021-11-29 13:35] shree007 commented on #4467
@jpkrohling  I will take a look into it.

[2021-11-29 23:12] pavankrish123 commented on #2237
Thanks @jpkrohling @bogdandrutu

Some updates

1. I have closed the existing PR as we need some clean way of switching between default gRPC logger and our collector logger based on Collector configuration ("dev") and the PR doesn't account for that.
2. I will submit a new PR
3. But that requires gRPC add support to expose Default Logger - Opened an issue here. https://github.com/grpc/grpc-go/issue

[2021-11-30 02:24] anuraaga opened #4493 "Enable gRPC and HTTP OTLP receivers by default when not specified"
Currently, `protocols` is required when enabling a OTLP receiver

[code]

It seems like reasonable behavior to enable both by default, especially given the spec language that SDKs can choose between gRPC or HTTP

https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/exporter.md#specify-protocol

[code]

Enabling both protocols with their default (and legacy

[2021-11-30 03:23] MovieStoreGuy commented on #4471
I think as a rule of thumb, `New` as a prefix should be used when an object is being created as part of that method and omitted when it references a library package default.

An example of this in the std lib would be the [default http client](https://cs.opensource.google/go/go/+/refs/tags/go1.17.3:src/net/http/client.go;l=110)

[2021-11-30 08:27] Frefreak opened #4494 "more metrics for otlpreceiver (e.g. request count labeled by status code)"
**Is your feature request related to a problem? Please describe.**
Currently otlpreceiver have no http related metrics (e.g. # of requests for status 200, 404, etc). It would be nice if there's a way to achieve this.

This comes to mind in a scenario where we upgrade the collector version but some of our users was using http json to report and didn't specify the content-type in http headers, so af

[2021-11-30 10:06] jpkrohling commented on #2237
I would have all the INFO statements from your previous comment as part of the prod profile. I don't think they are that verbose. If possible at all, one thing I would change is to omit the subchannel logging, having it only for the main channel.

[2021-11-30 19:31] VineethReddy02 commented on #4476
@jpkrohling this issue can be closed as the operator release is out.

[2021-11-30 22:43] bzhang1670 commented on #4440
Hey @jpkrohling I can pick up this ticket. cc: @pavankrish123

[2021-12-01 02:29] Frefreak commented on #4494
So mux by default would not pass the 404 request to the middleware (if only `Use`). One needs to do something like this to make the middleware to handle 404 requests.
[code]
This again feels like too specific to the 404 situation. I'm not sure which is the better way here now. In the end we want some metric count metrics for different status code (http handler).

[2021-12-01 10:23] #4476 closed

[2021-12-01 10:23] #4483 closed

[2021-12-01 11:45] mx-psi opened #4497 "Different uses of `timeout` on exporters"
The `exporterhelper` includes a timeout mechanism, which is enabled by default (see #4455 for more on that), and sets a timeout for the whole `Consume[Metrics/Traces/Logs]` function call. Several exporters in contrib however rely on Go's HTTP client timeout instead ([1][1], [2][2], [3][3], [4][4], [5][5]), while still using the same `timeout` option.

This is an issue to discuss:
1. If a different

[2021-12-01 12:57] jpkrohling commented on #4497
@MovieStoreGuy, this would be a good entry to add to the doc you are creating.

[2021-12-02 00:08] tigrannajaryan commented on #4190
Chatted with @bogdandrutu and decided that [the PR](https://github.com/open-telemetry/opentelemetry-collector/pull/4468) that implements this looks more complicated than we would like. Bogdan is going to see if he can come up with a simpler alternate. I am un-assigning this from myself for now.

[2021-12-02 01:18] MovieStoreGuy commented on #4497
Yeah, I remember seeing this in the kafka exporter and thought it was strange.

I do think I like the idea of option 1 though, having `OperationTimeout` and `NetworkRequestTimeout` would help clarify things as I do think each has a purpose and conflating the two would almost require User's to read and understand the setup code.

[2021-12-02 08:24] jpkrohling commented on #4497
@codeboten, are you able to summarize what was discussed yesterday? I had Zoom problems and missed part of the discussion.

[2021-12-02 13:57] morigs commented on #4459
It's not a problem, of course, but it actually used [here](https://github.com/open-telemetry/opentelemetry-collector/blob/9d3a8a4608a7dbd9f787867226a78356ace9b5e4/processor/batchprocessor/batch_processor.go#L90)

[2021-12-02 14:04] morigs commented on #4383
The issue should probably be in the opentelemetry-collector-contrib repo because `otlp/elastic` exporter is located [there](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/elasticexporter).
Anyway, the exporter is deprecated. Try [native OTLP integration](https://www.elastic.co/guide/en/apm/get-started/current/open-telemetry-elastic.html)

See [Migration](https

[2021-12-02 19:47] #4485 closed

[2021-12-03 05:26] MovieStoreGuy commented on #4258
@codeboten,

Gogo has been looking for a new owner for some time now, would be better just to use the official protobuf lib for go?

https://github.com/golang/protobuf

[2021-12-03 18:23] #2209 closed

[2021-12-03 19:33] bogdandrutu commented on #4471
@jpkrohling are you ok to go with "New" in this case since per @MovieStoreGuy we do create a new object.

[2021-12-03 19:34] bogdandrutu commented on #4493
I feel like this is a nice change for default, but on the other hand I feel is very confusing for users that want to change that.

[2021-12-06 09:27] ghaithTK opened #4515 "Exporting from otelcol to data-prepper"
I am trying to export data from otel-collector to data-prepper. I am using otelcol v 0.40.0 (otelcol_0.40.0_linux_amd64.deb)
I got this Error:
 error        exporterhelper/queued_retry.go:183        Exporting failed. The error is not retryable. Dropping data.        {"kind": "exporter", "name": "otlp/data-prepper", "error": "Permanent error: rpc error: code = Unimplemented desc = unexpected HTTP s

[2021-12-06 10:59] jpkrohling commented on #4471
Sure, that's valid as well.

[2021-12-06 12:46] jpkrohling opened #4512 "Prepare confighttp for auth changes"

[2021-12-06 12:50] hprajapati-splunk opened #4513 "Use `DefaultHTTPClientSettings` function to create object of `HTTPClientSettings`"
In [config/confighttp/confighttp.go](https://github.com/open-telemetry/opentelemetry-collector/blob/c27c673a5cd4928b34b71f784c0fb5cee477fa10/config/confighttp/confighttp.go) file 4 new pointer type variables (MaxIdleConns, MaxIdleConnsPerHost, MaxConnsPerHost, IdleConnTimeout) has been introduced. The pointer type is used in order to distinguish the user provided input with no-input as discussed [

[2021-12-06 20:04] #4512 closed

[2021-12-06 20:58] ghaithTK commented on #4515
Thanks very much for your reply. May I will share the destination with you to check if there is some misconfiguration!
The destination is data-prepper running in docker container in the same machine with otel-collector with compose file:
[code]
and that is my pipeline.yaml
[code]

[2021-12-06 21:00] tigrannajaryan commented on #4515
I am not familiar with data-prepper, so can't help with that. Authors of data-prepper may be able to help.

[2021-12-06 23:35] tigrannajaryan opened #4516 "Is it possible to rename "instrumentation library" to "instrumentation scope"?"
This initially came from a [discussion](https://github.com/open-telemetry/opentelemetry-specification/pull/1236#issuecomment-970464780) about introducing Logger Name.

While discussing the issue during the spec SIG meeting we came to a conclusion that the intent for "instrumentation library" was actually to have an "instrumentation scope".

The "instrumentation library" is currently used throughou

[2021-12-07 12:27] PatrikSteuer commented on #2401
Are there any thoughts on this? Or ideas how an implementation should look like?

[2021-12-07 13:42] jpkrohling commented on #2401
We have the `client` package which is just being finished to propagate the auth information. This here could use the same facility in the future.

[2021-12-07 16:57] tigrannajaryan commented on #4516
It appears the conclusion of many SDKs is that this is not a possible change. Closing, we cannot move forward with this.

[2021-12-07 16:57] #4516 closed

[2021-12-07 19:55] qingling128 commented on #2758
There is a similar report at https://github.com/open-telemetry/opentelemetry-collector/issues/3004.

[2021-12-07 23:44] alolita commented on #4190
@bogdandrutu will you be proposing a simpler alternative?

[2021-12-08 02:28] MovieStoreGuy commented on #4497
Hey @codeboten ,

Was there more to add to this please?

[2021-12-08 08:16] wajika opened #4520 "Does otlp support sending data to nginx proxy?"
The workflow is as follows
tracegen >> nginx >> apm-server >> elasticsearch

Using nginx as a proxy, telemetry data is not successfully written to elasticsearch
`tracegen -otlp-endpoint apm-test.com:8110 -otlp-insecure -traces 10`

If you write directly to apm-server, it can be successful
`tracegen -otlp-endpoint apm-test.com:8200 -otlp-insecure -traces 10`

8110 is the listening port of nginx, an

[2021-12-08 08:18] jpkrohling commented on #4520
Which protocol is apm-test.com:8200 serving? If it's gRPC, you might need to use the gRPC extensions for NGINX.

[2021-12-08 17:06] bogdandrutu commented on #4515
@urso @faec @blakerouse do you know about this?

[2021-12-08 17:06] jpkrohling commented on #4515
Or @axw @simitt @jalvz :-)

[2021-12-08 17:55] jpkrohling opened #4521 "Add a comment in the class description that code "inspired/copied" from and a link to the code."
Add a comment in the class description that code "inspired/copied" from and a link to the code.

_Originally posted by @bogdandrutu in https://github.com/open-telemetry/opentelemetry-collector/pull/4423#discussion_r764456112_

[2021-12-08 18:00] #4419 closed

[2021-12-08 19:07] jpkrohling opened #4522 "Release v0.41.0"
Like #4476, but for v0.41.0

- [x] #4524
- [x] #4525
- [x] #4523
- [x] #4526
- [x] #4527
- [x] #4528
- [ ] #4529

[2021-12-08 19:07] jpkrohling opened #4523 "Update contrib to the latest core v0.41.0"

[2021-12-08 19:07] jpkrohling opened #4524 "Prepare core release v0.41.0"

[2021-12-08 19:07] jpkrohling opened #4525 "Release core v0.41.0"

[2021-12-08 19:07] jpkrohling opened #4526 "Prepare contrib release v0.41.0"

[2021-12-08 19:07] jpkrohling opened #4527 "Release contrib v0.41.0"

[2021-12-08 19:07] jpkrohling opened #4528 "Publish the artifacts (otelcol-releases) v0.41.0"

[2021-12-08 19:07] jpkrohling opened #4529 "Release the operator v0.41.0"

[2021-12-08 19:29] jpkrohling commented on #2458
As mentioned in the PR, this would be a great fit for the builder.

[2021-12-08 19:35] #4524 closed

[2021-12-08 21:24] bogdandrutu commented on #4471
@codeboten can you own this?

[2021-12-09 01:37] wajika commented on #4520
@jpkrohling
I changed nginx http config> grpc config and it succeeded.
Thanks for your answer

[2021-12-09 01:49] axw commented on #4515
data-prepper is an OpenSearch thing, so I don't think any of the tagged people will be able to answer.

@ghaithTK you might have better luck at https://discuss.opendistrocommunity.dev/t/about-the-data-prepper-category/7038, or https://github.com/opensearch-project/data-prepper/issues.

[2021-12-09 08:31] #4525 closed

[2021-12-09 08:32] jpkrohling commented on #4525
Done: https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.41.0

[2021-12-09 10:03] jpkrohling commented on #4515
@alolita, is anyone on your team involved with OpenSearch?

[2021-12-09 10:06] jpkrohling commented on #4520
I'm closing, as I'm not sure you reopened this on purpose.

[2021-12-09 10:06] #4520 closed

[2021-12-09 17:14] #4523 closed

[2021-12-09 17:57] #4526 closed

[2021-12-09 18:04] LukaszByczynski opened #4532 "Add custom logger encoding"
Currently opentelemetry-collector allow only set `console` and `json` encoding.
I would like to add third option `custom` for setting custom encoding that can be injected from the custom extensions.

[2021-12-09 18:34] jpkrohling commented on #4527
https://github.com/open-telemetry/opentelemetry-collector-contrib/releases/tag/v0.41.0

[2021-12-09 18:34] #4527 closed

[2021-12-09 20:11] #4528 closed

[2021-12-10 08:43] wajika commented on #4520
Sorry, the reason I opened the ticket again is that I have encountered some problems. The final cause is the wrong configuration of nginx grpc.
I hope to make a record again by the way.

[code]

[2021-12-10 18:26] #4440 closed

[2021-12-10 18:27] bogdandrutu opened #4534 "Allow "configauth" interfaces to be extended"
The current design of the `configauth` interfaces do not allow extending them in the future (only using optional implemented interfaces is allowed). Should we do similar things like in `component`?

- [x] #4556
- [x] #4557

[2021-12-10 18:28] jpkrohling opened #4535 "Reconsider removing function signatures from auth interfaces"
This is ready again. @bogdandrutu, there's still one point pending, about storing the `HTTPInterceptorFunc` signature in a type to be used by things like structs within authenticators and tests. If you agree, I would merge this and open an issue to discuss this pattern.

_Originally posted by @jpkrohling in https://github.com/open-telemetry/opentelemetry-collector/issues/4506#issuecomment-99079125

[2021-12-10 18:29] #4521 closed

[2021-12-10 22:04] alolita commented on #2766
Completed.

[2021-12-10 22:04] #2766 closed

[2021-12-13 02:08] MovieStoreGuy opened #4543 "Improve test times"
**Is your feature request related to a problem? Please describe.**
Currently running the tests take a decent amount of which slows down the ability to get fast feedback on trying to contribute back to the project.

**Describe the solution you'd like**
I have a few ideas on how we can improve test times:

- Allow for more tests to be run in parallel
- Include the use of a virtual clock for time dep

[2021-12-13 06:21] MovieStoreGuy commented on #4471
If @codeboten doesn't have time, I am happy to do this work as well.

[2021-12-13 08:37] jpkrohling opened #4544 "Change batch processor to take client info into consideration"
Currently, the client info is propagated down from receivers to other components as part of the incoming context. Some processors, like the batch, discard the context, building a new one. This issue is to add the possibility to group data points by client characteristics at the batch processor.

[2021-12-13 09:02] jpkrohling commented on #4543
Despite faster feedback, one thing that bothers me with our CI is that we have tons and tons of tests for every single PR, including doc changes. We discussed a few things in the past, including

- storing the build and test cache into the job cache, so that we only get tests for code that has changed
- not running bulky tests (load tests?) for every PR, but rather, on nightly builds
- decide what

[2021-12-13 23:04] pavankrish123 opened #4548 "[Builder] Add ability to pass in custom Config Map Provier and ConfigUnmarshallar in main.go.tmpl"
**Is your feature request related to a problem? Please describe.**

In cases where we would like to have custom ConfigmapProvider and ConfigUnMarshaller other than the default ones, we have to edit main.go - [specially this line](https://github.com/open-telemetry/opentelemetry-collector/blob/main/cmd/builder/internal/builder/templates/main.go.tmpl#L27) to something like

[code]

**Describe the sol

[2021-12-14 00:07] MovieStoreGuy commented on #4543
That I am not sure how best to do, been stuck with Bitbucket pipelines for so long that all other CIs have faded away in my mind. Though, I really like this approach since it would make contributions easier. Anecdotally, I find this more of an issue within the contrib repo as opposed to the collector but having them as part of both repos would be awesome.

We can move these to be like "release" te

[2021-12-14 01:26] chenzhihao commented on #4543
Regarding allowing for more tests to be run in parallel, I'm not sure if that will really help.

Golang run tests from different packages in parallel already. We probably are pretty much already taking the most advantage of the CI/CD's computing resource.

[2021-12-14 02:55] MovieStoreGuy commented on #4543
I actually wasn't aware that packages we started roughly the same as one another, that is cool to know :D

The one thing I have noticed that the packages within the collector are "wide", meaning there is a lot of tests that make up those packages and those are run sequentially to my understand when `go test` is run in list mode.

Allowing more of those to run in parallel would mean that we are not

[2021-12-14 08:46] jpkrohling commented on #4543
GitHub Actions does provide a caching action already that we could make use of (and probably are already for other things). I'm sure someone already wrote a blog post about it too, focusing on Go :-)

That's too late, IMO. A nightly build would really be my preference, with the option of manually starting them. We could then manually start right before the release.

References:
https://docs.github

[2021-12-14 08:58] jpkrohling commented on #4548
I'll add this to my queue and will provide feedback soon.

[2021-12-14 13:26] #4522 closed

[2021-12-14 16:00] rmfitzpatrick opened #4554 "Global sampling service telemetry logging configuration options"
**Is your feature request related to a problem? Please describe.**
Some components use warn and info level statements for paths that can be hit frequently, like the batch processor when configured with a small sending queue: https://github.com/open-telemetry/opentelemetry-collector/blob/9d3a8a4608a7dbd9f787867226a78356ace9b5e4/processor/batchprocessor/batch_processor.go#L185. This can lead to coll

[2021-12-14 16:26] tigrannajaryan commented on #4554
AFAIK, it doesn't. queued_retry does.

I think it is a good idea to have a general sampling for all logs (at least configurable).

Ideally I would prefer that components are given 2 loggers: one to use during startup which will not be sampled (or will have higher sampling thresholds) to make sure all critical messages during startup are printed, and another logger to be used after startup to make

[2021-12-15 14:26] jpkrohling commented on #4288
I believe this is now complete.

[2021-12-15 14:26] #4288 closed

[2021-12-15 15:52] jpkrohling opened #4555 "Add test for DefaultHTTPInterceptor"
For some reason, a test for `configauth.DefaultHTTPInterceptor` is currently missing. There should definitely be a test for it.

[2021-12-15 15:54] jpkrohling opened #4556 "Implement default server authenticators, where functions can be overridden"

[2021-12-15 15:54] jpkrohling opened #4557 "Implement default client authenticators, where functions can be overridden"

[2021-12-15 15:57] jpkrohling commented on #4534
I created two items to track the implementation of the two authenticator types and sent in a PR with a proposal. @bogdandrutu, could you check whether this is what you had in mind? #4558

[2021-12-15 16:20] jpkrohling opened #4559 "Changelog check is failing"
Apparently, #4536 is causing the changelog checks to fail for all PRs: #4558 is one such PR that includes a changelog entry but has the check failing.

cc @bogdandrutu

[2021-12-15 19:16] bertysentry commented on #2374
Personally, I think that remote configuration introduces serious potential security breaches for a monitoring/observability tool, that are not limited to trigger the execution of an arbitrary command line, like for example:

* stop logs pipelines so that the attackers actions are not visible
* declare a new exporter to send trace data to the attacker, to analyze the internals of an application, ma

[2021-12-15 19:36] tigrannajaryan commented on #2374
@bertysentry I think TLS is absolutely required and mTLS is highly desirable, but it doesn't help with the threat model that I am envisioning, particularly with a threat of a compromised remote location that is the source of the configuration. Encrypting the connection does not prevent malicious actors to inject a bad configuration at the compromised server. The Collector should assume the source

[2021-12-15 20:02] bertysentry commented on #2374
Oh, I didn't know OpAMP, it looks awesome. So, this remote configuration for the OpenTelemetry Collector would be compliant with OpAMP?

In your scenario, I fear that you won't be able to differentiate a compromised server from a non-compromised one. There are then only 2 options to mitigate the risk:

* Limit what the collector (agent) can do (like: **not** execute arbitrary commands), but it's n

[2021-12-15 22:51] tigrannajaryan commented on #2374
Yes, this is the current best understanding of the agent management workgroup. This is work in progress right now. Feel free to join the WG if you are interested: https://github.com/open-telemetry/community/issues/860

Exactly. We have to assume the server may be compromised and protect the Collector and the machine where the Collector is installed. I think this must be part of our threat model.

[2021-12-15 23:51] bertysentry commented on #2374
I just realized there's [an excellent implementation of Git in Golang](https://pkg.go.dev/github.com/go-git/go-git/v5) ([go-git on GitHub](https://github.com/go-git/go-git)! You guys **have to** use it for distributed config management. 😅

[2021-12-16 02:06] alolita commented on #3927
Completed.

[2021-12-16 12:35] jpkrohling commented on #4548
There was a discussion about this during the latest SIG call. @pmm-sumo committed to creating a proposal for handling this at the collector-level. I'm closing this for now, but feel free to reopen if the builder turns to be the right place for this.

[2021-12-16 12:35] #4548 closed

[2021-12-16 18:31] #4559 closed

[2021-12-16 22:36] pavankrish123 commented on #4548
Thanks @pmm-sumo @jpkrohling - Is there a issue logged somewhere to keep an eye on the proposal?

[2021-12-16 23:03] pmm-sumo commented on #4548
Hi Pavan, I will open one with more details and link here

W dniu czw., 16.12.2021 o 23:36 Pavan Krishna ***@***.***>
napisał(a):

[2021-12-16 23:27] bogdandrutu opened #4563 "Flaky test TestPersistentStorage_CorruptedData/corrupted_all_items"
See https://github.com/open-telemetry/opentelemetry-collector/runs/4554438317?check_suite_focus=true

[2021-12-17 00:44] bogdandrutu commented on #4563
One more time https://github.com/open-telemetry/opentelemetry-collector/runs/4554438317?check_suite_focus=true

[2021-12-17 11:01] jpkrohling commented on #4557
@MovieStoreGuy, would you like to work on this? If you are interested, start only after the gRPC one is merged, as it should serve as the model for this.

[2021-12-17 11:33] rgl opened #4565 "Have a way to disable the legacy HTTP endpoint"
**Describe the bug**

There is no way to disable the legacy HTTP endpoint.

This behavior [seems to be hardcoded without a way to disable](https://github.com/open-telemetry/opentelemetry-collector/blob/main/receiver/otlpreceiver/otlp.go#L146-L157).

**Steps to reproduce**

When using this library from Tempo, I've explicitly set the HTTP endpoint as:

[code]

**What did you expect to see?**

Only p

[2021-12-17 12:58] jpkrohling commented on #4565
Interesting, I thought we enabled it only when no values were explicitly provided. I think it might be time to remove this anyway... Thoughts from other approvers and maintainers?

cc @open-telemetry/collector-maintainers , @open-telemetry/collector-approvers

[2021-12-17 17:01] pmm-sumo opened #4567 "Support more config sources"
**Background**

A collector must be provided with a configuration to run (there's no default one). For this purpose, CollectorSettings includes [ConfigMapProvider](https://github.com/open-telemetry/opentelemetry-collector/blob/6888ffc9d7e3a3b0f669572025a64dd4730ac37f/service/settings.go#L62-L67) which allows to access te settings via [Provider](https://github.com/open-telemetry/opentelemetry-colle

[2021-12-17 17:03] pmm-sumo commented on #4567
@tigrannajaryan @jpkrohling I recall that there were some more ideas mentioned during the SIG. Perhaps just adding an additional set of Provider implementations (for env variable, http source, etc.) and some way to route to them accordingly might be sufficient though?

[2021-12-17 17:04] pmm-sumo commented on #4548
@pavankrish123 I opened the issue here: https://github.com/open-telemetry/opentelemetry-collector/issues/4567 - I think we should allow to provide custom providers in the builder actually (and add few more ones)

[2021-12-17 17:47] tigrannajaryan commented on #4565
Let's remove legacy ports completely. I think we kept it in grace period for long enough.

[2021-12-17 18:28] cbackstrom80 opened #4568 "Ability to use action:extract on metrics labels/attributes values."
We need the ability to be able to extract on "Metrics" attributes/label values similar to that available to spans in the attributes processor.

Non Working Example:

`resource/storeid:
  attributes:
    - key: "keyname"
      action: extract
      pattern: ^(?P<siteid>[A-Z][0-9]+)-[A-Z0-9]+$$`

**Describe the solution you'd like**
We would like to be able to have a processor create a new key with

[2021-12-17 22:53] bogdandrutu commented on #3927
@alolita this is not completed, there are still usages of the defaultcomponents package in contrib, and the package still exists. Please help finishing this.

[2021-12-18 02:30] alolita commented on #3927
@JamesJHPark can you take a look?

[2021-12-18 03:56] ArthurEnglebert commented on #4377
I can confirm that this is misleading because on other places around, the config is stated without the http.  I decided to follow the official documentation website instead of some internal github repo example you have.  Wrong choice ;)

[2021-12-19 15:55] blumamir opened #4579 "MacOS docker image ca certificate error"
**Describe the bug**
I am using [the official docker image for the collector](https://hub.docker.com/r/otel/opentelemetry-collector), and defined an exporter of type otlphttp with https endpoint. When run, I get the following error from the collector:

[code]

**Steps to reproduce**
docker command:
[code]

config:
[code]

send a trace to the zipkin endpoint.

**What did you expect to see?**
expect

[2021-12-20 02:33] MovieStoreGuy commented on #4557
I am interested, for sure :D
Do you have a link to the gRPC branch?

[2021-12-20 09:46] jpkrohling opened #4582 "Remove interceptors from configauth interface"
Probably due to previous design constraints, we had the server authenticator providing the interceptors to use with gRPC and HTTP. At the current state, we don't have the need for this indirection, so, we should clean up this interface.

[2021-12-20 10:09] jpkrohling commented on #4534
This might need to be done after #4582, perhaps this won't even be needed after that.

[2021-12-20 10:09] jpkrohling commented on #4557
Hold on a bit on this, there was a change in plans for this. See #4582 for more info.

[2021-12-20 10:16] jpkrohling commented on #3927
We should now have a contrib distribution there so that the path is clear to start doing the same for contrib that was done for core in an earlier PR.

[2021-12-20 10:18] jpkrohling commented on #4377
@yuriolisa, did you manage to send in a PR already? I think I've seen one, not sure it covered this.

[2021-12-20 10:27] jpkrohling commented on #4579
Are you able to have a similar test with the core image?

[2021-12-20 10:36] jpkrohling commented on #4579
To make this test easier, I just pushed an image of contrib built from the -releases to this location: jpkroehling/opentelemetry-collector-contrib:0.41.0-SNAPSHOT-5ddd7d9-amd64 . Would you be able to try it out?

[2021-12-20 10:59] RedlineTriad commented on #4328
I also have the problem that even after setting the `service:telemetry:logs:level` to debug I still can't get the output from: https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/db83dbb40f947daced9e1010a2e39d218049e88f/exporter/lokiexporter/exporter.go#L184

[code]
Maybe I am doing something wrong but I didn't find anything in: https://github.com/open-telemetry/opentelemetry-co

[2021-12-20 11:46] blumamir commented on #4579
Thanks for the help with this issue, tested with this image and I still get the same error: "x509: certificate signed by unknown authority".
Tried the same setup on linux and it seems to work, so the issue is observed only for MacOS and docker. I am running on macOS Catalina 10.15.7, with Docker Desktop version 3.5.2

[2021-12-20 15:51] yuriolisa commented on #4377
@jpkrohling , I didn't send the PR. I'll focus on it this week.

[2021-12-20 16:03] verysonglaa commented on #4328
I got the same problem in 0.41.0.
I just want to see the debug logs from a custom exporter.

[2021-12-20 16:10] mx-psi opened #4584 "`exporterhelper` should reject a queue size of `0`"
**Describe the bug**

`exporterhelper` allows for a `QueueSize` of `0`, which results in a permanently blocked exporter that drops all data (see https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6718#issuecomment-994715344).

**Steps to reproduce**

Create a pipeline with an exporter that exposes the `QueueSettings` struct and set the queue size to 0.

**What did you expect to

[2021-12-20 19:12] #4582 closed

[2021-12-20 21:31] tigrannajaryan commented on #4567
@bogdandrutu is looking into this. He should be able to provide more details.

[2021-12-20 23:01] jack-berg opened #4587 "Enable default gzip compression for otlp exporters"
**Describe the solution you'd like**
Recently there was a spec PR about enabling gzip compression [by default](https://github.com/open-telemetry/opentelemetry-specification/pull/1895) for OTLP in the SDK. The TC [concluded](https://github.com/open-telemetry/opentelemetry-specification/issues/2098) that the default OTLP settings are optimized for exporting to a local collector, where compression is

[2021-12-20 23:20] bogdandrutu commented on #4587
100% agree with you, but I would like to understand the CPU cost as well.

[2021-12-21 01:05] jack-berg commented on #4587
There are several dimensions that impact the performance benefit / cost of compression. Geo distribution of client and server: clients with long round trips to servers pay a steep price for unnecessary bytes they send. Clients can be put under memory pressure from data queuing up while awaiting the trips, which can then become CPU pressure. So somewhat paradoxically, spending extra CPU cycles on c

[2021-12-21 09:09] jpkrohling commented on #4579
I would need some help from someone on a similar setup though. If you can sort it out and send in a PR, I'll gladly review it.

[2021-12-21 14:26] jpkrohling commented on #4555
This code has been moved to this place:
https://github.com/open-telemetry/opentelemetry-collector/blob/84b37067b2b3d678278556156e1e1db4fc595378/config/confighttp/confighttp.go#L317-L327

[2021-12-21 14:32] joseph-woodward-form3 commented on #4555
I'm happy to pick this one up?

[2021-12-21 14:32] JosephWoodward commented on #4555
I'm happy to pick this one up?

[2021-12-21 14:45] jpkrohling commented on #4555
It is yours!

[2021-12-21 18:02] bogdandrutu commented on #2401
@jpkrohling I do believe that this does not provide enough information about why this is needed. If somebody random comes and say I need "foo" are you going to implement it?

I am not suggesting that this is not important and we should not do it, but would be good to understand why this is needed.

[2021-12-21 20:28] bogdandrutu opened #4603 "Skip changelog check if PR comes from dependabot"

[2021-12-21 21:05] bogdandrutu opened #4605 "Decouple Service from components"
Right now the `Service` (configuration, logic) is very connected with the rest of components. There are use-cases where we need to allow users to consume the otel components in a different "Service" or a different way to define the service configuration. To achieve this we should move the `config.Config` and `config.Service` under the `service` package and allow components to not depend on anythin

[2021-12-22 08:04] #4532 closed

[2021-12-22 17:26] alolita commented on #4605
Hi @bogdandrutu what is the reasoning behind these changes? Are you building a new service package? Is there a design document you can share with the rest of us? It would be good for maintainers to also do design docs for changes which other maintainers can also have a chance to review and provide feedback on.

[2021-12-22 17:32] alolita commented on #4605
Also, I thought we had a project policy of contributors from one org having reviews for their changes from approvers from other orgs (not all from the same org) for all components on OTEL - Collector included. Has this policy changed? Just wondering.

cc: @open-telemetry/governance-committee

[2021-12-22 17:39] dyladan commented on #4605
I think that policy only applied to oteps/specification. For many SIGs it's not viable to enforce such a rule with the limited number of active approvers.

[2021-12-22 18:59] bogdandrutu commented on #4605
@alolita here are the answers:

The reason as explained in the issue is to decouple the service definition from the components (e.g. otlp receiver). As it is logical, the service uses components not the other way around.

No. But we want to not limit ourself in the future.

As the issue says this needs only one struct move, so it is a pretty simple change.

[2021-12-23 18:33] AWinterman opened #4611 "Documentation for the configuration should be easily found on the README"
**Is your feature request related to a problem? Please describe.**
It is not clear from the readme what the configuration options are for the project. I do not know when landing on the readme which of the links organized in a circle is the right one to click on to find documentation about how to configure the collector.

**Describe the solution you'd like**
A link to the configuration documentatio

[2021-12-24 11:14] XiaoWeiKIN opened #4612 "configure collector monitoring"
hi，how to configure collector monitoring, I can't seem to find the relevant configuration.

[2021-12-25 11:27] #4612 closed

[2021-12-27 09:42] jpkrohling commented on #2401
No, this one has been requested a few times in the past already though. The typical reasoning is using the incoming HTTP headers down the pipeline to make tenancy decisions, either at the processor level (routing processor, for instance), or exporter level (passthrough of API keys).

[2021-12-27 09:45] jpkrohling commented on #4605
I'm not opposed to this change, but could you give a concrete example of the above? It would certainly help making the case for this change.

[2021-12-28 19:46] bogdandrutu commented on #4605
@jpkrohling internally @tigrannajaryan was looking to build an internal service based on these components, he can tell you more about the status of that.

Also, it does not cost us too much (almost nothing) to keep this door open.

[2021-12-28 20:14] Aneurysm9 commented on #4605
I would like to know more about this change as well.  Without an understanding of what the goal is and the use cases for it, it is hard to evaluate whether the change is good or correct.

I think this reinforces the need to have review and approval from members representing multiple organizations.  This change seems to have been made by Splunk, to satisfy an unstated Splunk-internal objective, and

[2021-12-28 20:34] alolita commented on #4605
@bogdandrutu @tigrannajaryan there are approvers from other orgs as well as many active contributors on the Collector. As you know, the Collector is used and maintained by the larger observability community and stakeholders. It would be great to communicate and share design change proposals before taking unilateral decisions from a single org for internal dependencies. Imo, the project cannot serv

[2021-12-29 04:53] shree007 commented on #4611
@jpkrohling I may work on it.

[2021-12-29 05:10] shree007 commented on #4603
@jpkrohling I may work on it.

[2021-12-29 07:00] MovieStoreGuy opened #4613 "Configuration Validations must validate all fields before returning an error"
**Is your feature request related to a problem? Please describe.**
A lot of the configuration validate methods will return early stating a singular problem of the configuration, this can lead to a rather long feedback loop addressing issues within the configuration within complicated configurations.

**Describe the solution you'd like**
Each validate functions must validate all errors and only ret

[2021-12-29 07:16] MovieStoreGuy commented on #4605
As someone that is effectively a customer of the project, and a highly active contributor.

It concerns me that changes can be made (regardless of size) that impact my ability to contribute and understand the direction / priorities of the project.

I would feel more comfortable if these conversations could be made public in some manor otherwise, it could lead to users withdrawing from the project

[2021-12-29 10:23] sl1316 commented on #4225
@tigrannajaryan can you share the draft if there is any? We are interested in the collector management for both "run as agent" and "run as collector" and may contribute to it if possible

[2021-12-29 10:36] sl1316 commented on #4567
+1 on this.
it's very useful to provide the mechanism to fetch the config update from remote resource like a config center.
One suggestions: should we consider how those configs take effect? should the pipeline be reloaded or just change the behavior without terminating? I guess the previous one is easier to implement but needs to be integrated with graceful shutdown to avoid data loss since the i

[2021-12-30 14:29] sl1316 opened #4614 "what's the thread model"
**Is your feature request related to a problem? Please describe.**
It is not clear from the readme what's the thread model of opentelemetry collector and we have to read the code to understand how things works(it's not easy based on feedback from a few folks in my team) since the collector is spun up based on the config and the server is embedded in the code.
it would be good if the thread model i

[2021-12-30 15:38] obitech commented on #3040
You can specify the allowed return codes on the ALB, as a workaround just set them to `0-99` and leave the health check path as default.

[2021-12-30 18:42] DiptoChakrabarty commented on #4584
@mx-psi I would like to work on this , as I can understand from the codebase the error occurs here
https://github.com/open-telemetry/opentelemetry-collector/blob/3db1d1146483ba5f8318c895ea2c28a6f8dbd243/exporter/exporterhelper/queued_retry.go#L98-L104

I was thinking of adding a condition to check if queue size is set to 0 and returning the relevant error message else returning the error already p

[2021-12-31 03:59] bogdandrutu commented on #2401
@jpkrohling awesome, but because of unnecessary clone cost in some cases I would recommend to do this opt-in. Have a Boolean in the HttpClientSettings to enable this

[2022-01-02 13:13] sl1316 opened #4617 "Support routing consumer"
**Is your feature request related to a problem? Please describe.**
yes. we would like to route the log to different exporters based on the attributes in the log. the agent could collect different type of logs(application.log, service.log, sys.log. k8s.log.etc) and all the logs would flow through the opentelemetry collector to the sharded backend storage(Kafka for now). in other words, we would lik

[2022-01-03 09:16] jpkrohling commented on #2401
Sounds reasonable to me.

[2022-01-03 09:17] jpkrohling commented on #4611
@shree007 it's yours

[2022-01-03 09:18] jpkrohling commented on #4613
Should this be made a tracker, listing all the places where this should be done? There aren't that many components in this repo, but contrib might be affected as well.

[2022-01-03 09:22] jpkrohling commented on #4614
@MovieStoreGuy is this something you'd be interested in providing?

[2022-01-03 09:24] jpkrohling commented on #4617
Would this solve your use case?

https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/routingprocessor

[2022-01-03 10:40] jcchavezs commented on #2401
@jpkrohling @bogdandrutu maybe I am missing something but the first step here is to receive the headers from the receiver and then pass to the processors, how is HTTPClientSettings involved?

[2022-01-03 10:46] jpkrohling commented on #2401
I believe he meant the server settings, used by most receivers

[2022-01-03 11:20] disq commented on #2401
Updated the [PR](https://github.com/open-telemetry/opentelemetry-collector/pull/4547) now cloning headers _optionally_.