[2022-04-01 21:20] Aneurysm9 commented on #5137
In the [Go SDK we use a type](https://github.com/open-telemetry/opentelemetry-go/blob/main/trace/trace.go#L49) on top of `[16]byte` rather than a struct, which allows `IsValid` and marshaling methods, but also allows simple conversion to/from a `[16]byte`.

[2022-04-01 22:21] Aneurysm9 commented on #5139
[This is supported.](https://opentelemetry.io/docs/collector/configuration/#configuration-environment-variables)

[2022-04-02 16:13] FreakyNobleGas commented on #4584
@mx-psi, this was extremely helpful! After taking a look at your code and an [example from GeekforGeeks](https://www.geeksforgeeks.org/reflect-methodbyname-function-in-golang-with-examples/), I realized that the function should take type "reflect.Value" instead of "reflect.Type". With this change, the program now reports that Validate() exists.[ Here's a link to the example](https://go.dev/play/p/

[2022-04-04 11:50] hickeyma commented on #5031
@mx-psi Investigating this, it would seem that GitHub actions [hosted runners](https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners) only supports the x86_64/AMD64 processor architecture.  [ARM64 Linux issue](https://github.com/actions/virtual-environments/issues/2552) was opened but closed as not supported. The limitation is the [VMs on Azure](https://docs.mi

[2022-04-04 11:55] mx-psi commented on #5031
@hickeyma You can cross-compile just by setting the `GOOS=<os value>` and `GOARCH=<arch value>` environment variables, regardless of the host architecture. Since we don't use cgo this should work out of the box without needing to install anything else. You won't be able to run the resulting binaries (or do `go test`) but just for checking that it builds it would be good enough.

[2022-04-04 12:20] pmalek-sumo opened #5143 "builder: allow specifying go version that gets embedded in go.mod"
**Is your feature request related to a problem? Please describe.**

As a user of builder I'd like to be able to specify what go version I'd like to use in the generated `go.mod`. As of now this is embedded as 1.17 in the template https://github.com/open-telemetry/opentelemetry-collector/blob/d2e5601b7045a3021009729ce539cb88373f3216/cmd/builder/internal/builder/templates/go.mod.tmpl#L5 and cannot b

[2022-04-04 12:25] pmalek-sumo commented on #5143
Hmm, I guess that's actually not the case and the build actually made it through 🤔 .

It seems that only https://github.com/golangci/golangci-lint/ has problem since it still doesn't fully support 1.18.

[2022-04-04 15:51] hickeyma commented on #5031
@mx-psi Thanks for the feedback. I mis-read the requirement. That simplifies it.

Pushed #5142 for adding the GitHub actions  job.

[2022-04-04 15:52] hickeyma commented on #5031
/assign

[2022-04-04 15:58] bogdandrutu commented on #4971
Removed https://github.com/open-telemetry/opentelemetry-collector/pull/5138

[2022-04-04 16:05] bogdandrutu commented on #4970
@sveiss I understand the problem and that the current proposal for @mx-psi solves that. But there is a conceptual disagreement in my mind, which is what is the "code part" that is responsible to create these providers. Right now we give users chance to configure them via the service Configuration, so it seems very unnatural to pass a "factory provider" that will ignore the user configuration. I th

[2022-04-04 16:14] dmitryax commented on #4752
@pavolloffay https://github.com/open-telemetry/opentelemetry-collector/milestone/24 is pretty close to be done. We will release model 1.0 first, then will be working on other modules

[2022-04-04 16:28] mx-psi commented on #4971
👍 will focus just on the gRPC logger then

[2022-04-04 16:40] bogdandrutu commented on #5137
@Aneurysm9 we are now debating mostly if a struct / type alias is needed (not the diff between type alias and struct). The reason for this discussion is because if we need it (since it is shared by trace/metrics/logs).

Also please consider for future to provide arguments independent of decisions in go-sdk. This project is not based on that project or does not need to follow that project decisions

[2022-04-04 16:44] mx-psi commented on #4970
To be clear, a telemetry provider in #5107 can ignore user configuration, but it doesn't have to: the relevant method in the interface is `SetupTelemetry(cfg config.ServiceTelemetry) (component.TelemetrySettings, error)` precisely so that configuration can be taken into account. Also, note that we already provide a way to customize telemetry via the `Logging Options` field, which can effectively i

[2022-04-04 16:57] bogdandrutu commented on #4970
I think for configuration you do:

[code]

You never go to/from the yaml map.

[2022-04-04 17:02] yuriolisa commented on #5126
This issue can be closed:
https://github.com/open-telemetry/opentelemetry-operator/releases/tag/v0.48.0

[2022-04-04 17:10] bogdandrutu commented on #5139
This can be closed per @Aneurysm9 comment

[2022-04-04 17:10] #5139 closed

[2022-04-04 17:22] bogdandrutu commented on #4970
@mx-psi also a bit not sure if you should simply ignore the concept of default. And simply construct the component config. My motivation is because these defaults are probably too connected to the way we configure the collector as a service.

[2022-04-04 19:17] Aneurysm9 commented on #4970
That seems like a dangerous assumption.

I think not being able to use the YAML configuration would make re-use of collector exporters by the Go SDK overly complicated and too tightly coupled.  It might work, but it would not be a good user experience.

[2022-04-04 19:23] Aneurysm9 commented on #5137
I was providing relevant context from a related project that had to make similar decisions.  While I can understand and appreciate that the collector is not bound by the decisions made by the Go SDK, it would be folly to ignore the experience.

In this case I think the relevant takeaway is that using a type definition (not a type alias) allows implementing additional helper methods, which was call

[2022-04-04 21:11] bogdandrutu commented on #5137
Good point.

But this is not the problem we are having. The "problem" is that if this exists in any form (type alias, type definition, struct) where should it be, it seems to be trace specific but all the other signals depend on it, so will have a cross signals dependency here. The idea was can we remove the helper (type alias, type definition, struct) and use simple `[X]byte`?

[2022-04-04 21:20] #5126 closed

[2022-04-04 21:20] bogdandrutu commented on #5119
Thanks @tigrannajaryan

[2022-04-04 21:20] #5119 closed

[2022-04-04 21:29] bogdandrutu commented on #4970
@Aneurysm9 Go SDK does not have a YAML config.. why do you need that?

[2022-04-04 21:42] Aneurysm9 commented on #4970
1) we would like to have a YAML config for the Go SDK even if we don't have one now.
2) not having a YAML config for the Go SDK does not mean that we could not have one for a collector exporter bridge.

[2022-04-04 22:00] Aneurysm9 commented on #5137
I believe that the helper methods provide value and I would not want to see them re-implemented everywhere they're needed.  If the type definitions live in either the common or trace packages they will be in a stable location.  While they may be referenced by unstable signals, that should be fine as long as the dependency flows in the direction of stability.

[2022-04-04 22:03] bogdandrutu commented on #5137
@Aneurysm9 Got your point, your vote is -1 on the proposal. Consider to add that as a reaction to the description. You also mentioned some improvements, which we may want to consider separately.

[2022-04-04 23:32] sveiss commented on #4970
I added a comment because I think my use case is a little different to the one described by @mx-psi in the original issue.

I'm trying to run a collector with extras (custom processors/extensions/internal configuration library). We're building our own top-level otelcol command only because we don't want to fork the collector repo, so we're trying to keep the wrapper as thin as possible. We want to

[2022-04-05 00:22] dmitryax commented on #5027
Looks like we need to make a decision here to proceed with https://github.com/open-telemetry/opentelemetry-collector/pull/5087.

Currently we have `otlp` and `otlpgrpc` packages under `/model`.  IMO having them under `model` is not much cleaner than merging them into `pdata`. If we go with the 2 approach, we can have the following structure:

[code]

If we go with 1, we need to figure out another

[2022-04-05 11:21] mx-psi commented on #4970
I opened #5149 so we can discuss a concrete implementation instead of theoretical concerns. I explained in https://github.com/open-telemetry/opentelemetry-collector/pull/5149#discussion_r842669102 the problems I see with configuration.

I am still not entirely sure if @bogdandrutu or @Aneurysm9 were thinking about something entirely different from this, if so, please provide feedback and we can tr

[2022-04-05 12:30] pravarag commented on #3685
I've not been able to work on this, I'm un-assigning it from myself so that someone else interested can pick it up.

/un-assign

[2022-04-05 14:03] tigrannajaryan commented on #5027
From what I understand `otlpgrpc` is currently used by otlp receiver/exporter only. Is this true? If so then why does it need to be a public package? Can we move it to `internal/otlp` or something like that?

[2022-04-05 14:17] tigrannajaryan commented on #5027
If we move `otlpgrpc` to internal then the only remaining bit is `otlp` which is a tiny package that does not have any dependency that is not already a dependency of `pdata` so I don't mind if `otlp` just gets merged with `pdata`.

It will change the meaning of `pdata` from "internal in-memory representation" to "internal in-memory representation and serialization functions", which I think is fine

[2022-04-05 15:04] #5031 closed

[2022-04-05 15:04] mx-psi commented on #5027
[`otlpgrpc` is used by several external dependencies](https://pkg.go.dev/go.opentelemetry.io/collector/model@v0.48.0/otlpgrpc?tab=importedby) (including us, Datadog :) ). I think it's generally useful for writing a gRPC OTLP server, and if this were made private we would want to ensure that there is a workable alternative to it.

[2022-04-05 15:51] tigrannajaryan commented on #5027
OK. Looks like it is necessary if one wants to implement OTLP support in their codebase. I retract my proposal to move otlpgrpc to internal.

[2022-04-05 16:05] bogdandrutu commented on #5027
Also this applies for all packages under `model` which are used by third-party more than anything else. If we have in one package multiple signals then we cannot deal with the experimental signal case that triggered the split of the pdata (if this is not a problem anymore then we should not split pdata), because of that we MUST split these packages as well, and because of that I think it is natura

[2022-04-05 16:15] mx-psi commented on #5027
I don't feel very strongly either way, but I find Bogdan's arguments here more convincing, +1 for moving `otlpgrpc` symbols together with the associated signal in `p<signal>`.

[2022-04-05 17:05] bogdandrutu commented on #5027
Not true unless we do way more splitting. Because we need access to the underlying protos, they need to be in the internal together. So you will always depend on the grpc anyway.

[2022-04-05 17:12] tigrannajaryan commented on #5027
@bogdandrutu Can you point me where in the code the current `pdata` implementation depends on grpc (directly or transitively)? I wasn't able to find it.

[2022-04-05 17:12] tigrannajaryan commented on #5027
Yes, that's correct. I am fine with merging `otlp` into `pdata` since it is tiny and has no extra dependencies.

[2022-04-05 17:20] tigrannajaryan commented on #5027
I thought a bit more about this and changed my mind. Every possible 3rd party that would want to import `pdata` which I can imagine is also already dependent on "google.golang.org/grpc". My desire to avoid making "google.golang.org/grpc" a dependency of `pdata` achieves nothing in terms of the final result from the 3rd part perspective.

So, I am fine with merging `otlpgrpc` into `pdata` as well.

[2022-04-05 18:15] dmitryax commented on #5027
I also think that `otlp` package fits `pdata` pretty well, but not sure about `otlpgrpc`.

Another option might be:
[code]

This would solve the `google.golang.org/grpc` dependency problem that Tigran mentioned with the lazy module loading.

[2022-04-05 19:50] jpkrohling commented on #5038
From what I remember, metrics show up only after the first time they are reported: if you reported a gauge as 0, it will show up. If you never recorded a value for a given metric, it won't show up.

[2022-04-05 19:59] jpkrohling commented on #5143
Despite the additional context not being valid (apparently), do you still see the need for having this customization in place? I think we should use the version in the go.mod in sync with what we have in the core and contrib, as those are the ones we know to work with the official distributions, but I'm open to hear counter arguments.

[2022-04-05 20:12] jpkrohling commented on #5134
I have written a couple of blog posts on the matter, but haven't converted them into official documentation pages because those have to be accurate and up-to-date, which is difficult to have on a fast-moving project like the collector. Given the API is almost stable, it might indeed be time to have those guides.

For reference, here are the (outdated) blog posts I mentioned:

https://medium.com/op

[2022-04-05 20:36] rquedas commented on #5134
yup, I wouldn't have done the work I did without reading those! So, thank you!

@alolita suggested I would submit it for the registry, but after chatting with @austinlparker it seems that docs or blogs would be the right place.

[2022-04-05 20:44] rquedas commented on #5134
Abolutely! You can review it here: [Building a Trace Receiver](https://github.com/rquedas/otel4devs/tree/main/collector/receiver/trace-receiver)

[2022-04-05 21:12] dyladan commented on #273
I would propose the following:

1. For now we implement (1) as it is the quickest win. Make the feature opt-in with a configuration like `RestartOnConfigChange` (or opt-out if maintainers prefer?)
2. Implement stub `OnConfigChange` implementation in each component here and in contrib which logs that the component does not support live reloading
3. Handle SIGHUP to call `OnConfigChange`
4. Create a

[2022-04-05 21:15] TylerHelmuth commented on #5084
@tigrannajaryan do you know why Telemetry is only initialized once?  I found this TODO where the initialize is called

https://github.com/open-telemetry/opentelemetry-collector/blob/f6b1cd9d46f12c99d69b9c39d033636a3bf18b8b/service/collector.go#L222-L227

But it doesn't say why `Once` is used.

[2022-04-05 21:18] tigrannajaryan commented on #5084
No, I don't know, I don't remember this part of the codebase. @bogdandrutu may know.

[2022-04-05 21:35] TylerHelmuth commented on #5084
I see that the metrics server is started in a goroutine in Telemetry's initOnce, could be related to that since it doesn't appear to have a clean shutdown.

[2022-04-05 21:36] tigrannajaryan commented on #5027
Will `ptrace` and `ptracegrpc` be different go modules or one module?

[2022-04-05 21:52] dmitryax commented on #5027
`ptrace` will be one module with `ptracegrpc` package in it. Clients using `ptrace` only won't get `ptracegrpc` dependancies starting from go 1.17  if I understand [lazy loading](https://go.dev/ref/mod#lazy-loading) correctly

[2022-04-05 22:02] bogdandrutu commented on #5027
@tigrannajaryan @dmitryax

`ptracegrpc` is not a good name, since the current `otlpgrpc` contains indeed the grpc stubs, but also the Request/Response objects which are used also by the HTTP protocol.

[2022-04-05 22:12] bogdandrutu commented on #5027
Maybe consider `ptraceotlp` for what is in the `otlpgrpc` right now?

[2022-04-05 23:00] dmitryax commented on #5027
Maybe use `ptraceotlp` for both `otlp` and `otlpgrpc` then?

[2022-04-05 23:56] Aneurysm9 commented on #5084
It may have related to the use of global telemetry providers as well, which is being (has been?) refactored.  Unfortunately it was this way before I started working in that area of the code and have felt a bit like it's been dragged around blindly mimicking the previous state through a few changes.  I'm wary of Chesterton's Fence-type issues, but we should be able to reason through this.

[2022-04-06 00:15] TylerHelmuth commented on #5084
I'll dive deep into it and see if I can find things that would break if it was called multiple times.

With my initial testing today I didn't see any indication that the http server goroutine is shutting down gracefully when the collector shuts down, but I need to keep testing.

[2022-04-06 00:32] bogdandrutu commented on #5027
@tigrannajaryan what does `otlp` stands for? :))))

[2022-04-06 08:46] pmalek-sumo commented on #5143
Thanks for looking at this @jpkrohling.

It seems that even the error message from a failed build will be the same (at least for my use case) if you have go 1.17 vs 1.18 in go.mod

[code]

So I guess we're good.

[2022-04-06 14:40] pmm-sumo opened #5159 "Persistent queue concurrent database compaction"
**Is your feature request related to a problem? Please describe.**

As discussed on [CNCF Slack](https://cloud-native.slack.com/archives/C01N6P7KR6W/p1649164777465889), it was observed that after persistent queue grows, the space is not reclaimed automatically after draining. This is due to how bbolt (used underneath) operates and is [a known limitation](https://github.com/etcd-io/bbolt/issues/288

[2022-04-06 19:20] codeboten commented on #4829
@anujap18 can you provide collector version information along with a configuration example?

[2022-04-06 19:27] anujap18 commented on #4829
I am actually trying to simulate collector data in otlp format and push to grpc client. I am using OTLPMetricExporter ([https://github.com/open-telemetry/opentelemetry-collector/blob/main/exporter/otlphttpexporter/README.md]) to push data to the grpc client. So, in that if I add this arg insecure_skip_verify=True, it says invalid argument. insecure=True also does not work.

[2022-04-06 19:40] codeboten commented on #4829
I just tested the following configuration and it worked w/ the latest collector:

[code]

[2022-04-06 23:21] dmitryax opened #5163 "`InstrumentationLibrary<signal>ToScope` functions shouldn't be exported"
Recently added functions for backward compatible OTLP unmashalling are publicly exported. They accept an argument of unexported type, so the functions are useless outside of `collector/model` module. Therefore they should not be part of public API and should be put in `model/internal` package.

[2022-04-07 12:37] jpkrohling commented on #5084
Perhaps I'm way off here, but OpenCensus required views to be registered only once. Is that maybe the background for this?

[2022-04-07 16:13] bogdandrutu commented on #5084
There are some miss understandings here:
1. This theory is wrong https://github.com/open-telemetry/opentelemetry-collector/issues/5084#issuecomment-1078325961 because the shutdown is the "Service" shutdown, which does not stops the metrics server. So in summary you cannot reproduce this problem with watch.
2. The reason why this is global (happens once) is because we use OpenCensus (because otel m

[2022-04-07 17:04] djaglowski opened #5166 "pdata representation of time obscures empty timestamps"
**Describe the bug**

The log [data model](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/logs/data-model.md#field-timestamp) specifies that the `Timestamp` field should be empty in some cases. However, the `pdata` representation of time obscures empty timestamps, making it difficult to correctly assess whether the field is actually empty or not.

**Steps to

[2022-04-07 17:10] bogdandrutu commented on #5166
@djaglowski see also https://github.com/open-telemetry/opentelemetry-collector/issues/5102

[2022-04-07 17:27] djaglowski commented on #5166
Closing, as #5102 appears to request the same functionality.

[2022-04-07 17:27] #5166 closed

[2022-04-08 10:18] #4901 closed

[2022-04-08 14:35] djaglowski commented on #4947
Following up on this - I misunderstood the context of this issue, #4946, and 4939, and mistakenly believed they may have been resolved as part of #4878.

[2022-04-08 16:31] elvince opened #5169 "zapgrpc : Warning http2Server.HandleStreams failed to read frame - when client close"
**Describe the bug**
During the lifetime of my application, everything is working properly.
Once I closed it, I have a "warning" in the collector:

` warn    zapgrpc/zapgrpc.go:191  [transport] transport: http2Server.HandleStreams failed to read frame: read tcp [::1]:4317->[::1]:64933: wsarecv: Une connexion existante a dû être fermée par l’hôte distant.
        {"grpc_log": true}`

"Une connexion

[2022-04-08 17:06] bogdandrutu commented on #5137
@open-telemetry/collector-approvers please add your thoughts and +/-1 for the issue.

[2022-04-08 17:07] bogdandrutu commented on #5134
Assign to @jpkrohling to coordinate this.

[2022-04-08 17:13] bogdandrutu commented on #5102
@djaglowski to check if a simple `pdata.Timestamp == 0` works.

[2022-04-08 17:14] bogdandrutu commented on #5102
@danelowe you can do:

[code]

[2022-04-08 17:24] tigrannajaryan commented on #5137
What's the argument for removing the wrapping? Absent such arguments I am in favour of keeping the status quo, which is: nicely encapsulated data type which benefits from strong typing where you can't accidentally mix it with some other [8]byte or [16]byte somewhere.

[2022-04-08 17:29] TylerHelmuth commented on #5084
Looking into this issue I agree with @bogdandrutu.  Assuming calling `Run` after `Shutdown` is not allowed, the existing outcome is acceptable.  Digging into the `Watch` scenario, the Shutdown that is called doesn't do anything with the running metrics server.  When the collector "restarts" the original telemetry instance will still be running.  I think this issue could be closed.

One interesting

[2022-04-08 17:30] bogdandrutu commented on #816
This issue is still block by the otel-go library being ready.

[2022-04-08 17:34] bogdandrutu commented on #816
Block by https://github.com/open-telemetry/opentelemetry-go/issues/2204

[2022-04-08 17:40] jpkrohling commented on #5134
@rquedas, I started looking into the tutorial, but it would be easier for me to review it once you submitted it as a PR to the website. This way, other folks can review different aspects of your content, like the grammar.

[2022-04-08 18:01] rquedas commented on #5134
cool, here is the PR: Adding a howto for building a trace receiver #1288

[2022-04-08 18:22] bogdandrutu commented on #5137
@tigrannajaryan the idea came as part of the confusion of where the trace/span ID should live: https://github.com/open-telemetry/opentelemetry-collector/pull/5087#discussion_r840701857

[2022-04-08 18:26] tigrannajaryan commented on #5137
I think `pcommon` is a good place.

[2022-04-08 18:48] djaglowski commented on #5102
This comparison works of course.
[code]

---

I agree there is a usability issue here. `time.Time` and `pdata.Timestamp` use zero values that are _actually_ different times, but their zero values are meant to represent the same thing (uninitialized) in virtually all meaningful cases.

Knowing this, we could consider converting `time.Time`'s zero value to `pdata.Timestamp`'s zero value in `NewTimes

[2022-04-08 20:44] djaglowski opened #5170 "Add ObservedTimestamp to pdata.LogRecord"
**Is your feature request related to a problem? Please describe.**
The logs data model was recently updated to include an `ObservedTimestamp` field. This must be added to the `pdata` representation.

[2022-04-08 21:03] bogdandrutu commented on #5102
@djaglowski despite the fact that we implement or not the proposed change, the fact that users are doing Timestamp.AsTime.IsZero() is very bad and way more latency is added there than the proposed change. How can we fix that? FYI: this proposal does not fix that, and that should be our focus, to avoid that unnecessary conversion.

[2022-04-08 21:37] dmitryax commented on #5137
Ok sounds like we have enough feedback to keep the wrapping in `pcommon`. I'm closing the issue then

[2022-04-08 21:37] #5137 closed

[2022-04-08 22:09] djaglowski commented on #5102
Answering from a usability point of view, in my case:
- I already had a `time.Time`, which may or may not have been initialized.
- I needed to set the `pdata.LogRecord.Timestamp` field using the `time.Time` value I already had.
- It seemed obvious that I should use the constructor that creates what I need from what I have:
  - `myLogRecord.Timestamp = pdata.NewTimestampFromTime(myTime)`.
  - The m

[2022-04-08 23:16] bogdandrutu commented on #5102
I found that very confusing as well when I first realized... I remember initially we had that zero `time.Time` translates to 0 unix, but that is not necessary ok.. It makes `time.Time{} == time.Unix(0, int64(0)).UTC()` which is not the case.  You are breaking this assumption https://github.com/open-telemetry/opentelemetry-collector/blob/c51773abf579854c8656ea2a70609a9348fbca16/model/internal/times

[2022-04-11 17:24] Mario-Hofstaetter commented on #273
Another way of implementing this as done by prometheus is via an optional HTTP endpoint command:
https://prometheus.io/docs/prometheus/latest/configuration/configuration/

[2022-04-11 17:27] dyladan commented on #273
I think manual trigger by http or signal is a reasonable behavior. In the end state I would probably expect live reloading based on file changes to be an opt-in behavior as it might cause unexpected side-effects but signal handling should be a default probably non-configurable behavior. An HTTP endpoint might make sense if there is already an HTTP API to the collector (not sure if this is the case

[2022-04-11 18:23] pmm-sumo commented on #5159
FYI, @swiatekm-sumo was doing some research and it seems that doing a blocking compaction is very fast most of the time (he got even just ~100ms for 10GB file). We're going to make some more tests on that but it would be relatively simple solution to the problem, if feasible

[2022-04-11 19:40] swiatekm-sumo commented on #5159
Compaction in bbolt is pretty much just copying all the key-value pairs from the source DB to a new one, so the cost is proportional to the total size of the data (bbolt uses a B-tree), and doesn't depend on the size of the freelist (the total size of the database file). So as long as we make sure to only compact with a small amount of data in the queue, doing a stop-the-world compaction should be

[2022-04-11 20:40] TylerHelmuth commented on #5118
I think that @petertamuk is right that the issue is with v1.0.14.  I think until github-action-markdown-link-check is [updated to use markdown-lint-check v3.10.0](https://github.com/gaurav-nelson/github-action-markdown-link-check/pull/129) we should revert back to v1.0.13, which is what the maintainers of the action recommend.

[2022-04-11 21:10] TylerHelmuth commented on #5110
I can take a look at this.

[2022-04-11 21:12] ttomsu commented on #4190
Hey @bogdandrutu - I finally got some time to update and test drive the changes in the codebase. It looks like you're using the `https://github.com/knadh/koanf` library under the hood. How am I supposed to merge together files that provide, lets say, logs receivers? For example:

Config 1:

[code]

Config 2:
[code]

According to [this issue](https://github.com/knadh/koanf/issues/125#issuecomment-1

[2022-04-11 21:21] ogxd opened #5187 "Receiving 404 error with http receiver"
Hello!

I am not sure if this is a bug or a configuration issue on my end, but after many tries, I haven't been able to receive anything through the HTTP receiver.

I am using this rather simple receiver configuration:
[code]

I tried several combinations, having the server hosted remotely on a K8S cluster or even locally via docker desktop, and using the CSharp client configured to send via HTTP,

[2022-04-11 21:24] #5118 closed

[2022-04-11 21:32] codeboten opened #5188 "[receiver/otlp] data not processed when using the old instrumentation library fields"
**Describe the bug**
Using the v0.15.0 protos with the current Python SDK/OTLP over gRPC exporter (which still uses instrumentation library fields) results in no data being processed by the collector.

The receiver isn't translating InstrumentationLibrary* fields to Scope*, resulting in the traces being discarded.

**Steps to reproduce**
Run the following code using the Python SDK/Exporter in `mai

[2022-04-11 22:46] bogdandrutu commented on #5187
That is because we register only on paths "0.0.0.0:4318/v1/traces", "0.0.0.0:4318/v1/metrics" and "0.0.0.0:4318/v1/logs". Any other path is 404.

[2022-04-11 23:00] #4832 closed

[2022-04-11 23:00] #5027 closed

[2022-04-12 00:48] #5188 closed

[2022-04-12 07:19] ogxd commented on #5187
Ah perfect I finally got it working, thank you.
I've seen this mentioned here, however I did not see any example and I thought that maybe the opentelemetry-dotnet lib I am using would append this by itself. Given how easy it is to swap grpc with http in the yml, it felt normal to only swap the port for the endpoint I use :)
So it's definitely not a bug, but I think it could be interesting to retur

[2022-04-12 10:50] jmichalak-fluxninja opened #5194 "Use interface logger instead of zap"
**Is your feature request related to a problem? Please describe.**
Currently I use zerolog with custom configuration for logging in my application. `opentelemetry-collector` uses a hardcoded zap, so to have a consistent logging format, I would need to keep two configs for each library.

**Describe the solution you'd like**
It would be great if this library used a logger interface and zap could be

[2022-04-12 12:34] ttomsu commented on #4190
I spoke with Bogdan and Anthony Mirabella on Slack about this issue and they recommended using separate pipelines across different files - the best practice being to not modify pipelines outside of a single config file.

Additional pipelines can be identified using the same `Identifier` scheme as the receiver/processor/exporter, i.e. `$TYPE/$NAME` such as `logs/apache` in the example config above.

[2022-04-12 14:24] mx-psi commented on #5194
Still boilerplatey but you can write a custom `zap.Core` and use [`WrapCore`](https://pkg.go.dev/go.uber.org/zap#WrapCore) to wrap your zerolog logger into a `zap.Logger`.

If using `service.Collector` you can pass this option via [`service.CollectorSettings.LoggingOptions`](https://pkg.go.dev/go.opentelemetry.io/collector@v0.48.0/service#CollectorSettings). We [do this on Windows](https://github.

[2022-04-12 16:33] #5187 closed

[2022-04-12 21:01] dmitryax opened #5195 "Move model/semconv to a new dedicated module semconv"
`model/pdata` moved to new `pdata` module https://github.com/open-telemetry/opentelemetry-collector/pull/5168. The only code that is left in the `model` is `model/semconv`. It should be moved to a new module `semconv`.

[2022-04-12 22:11] #4603 closed

[2022-04-12 22:18] bogdandrutu commented on #4584
@mx-psi have you looked into https://github.com/go-playground/validator it may be easier to use something that already offers some kind of support. Not sure if it helps, just throwing ideas to you :))

[2022-04-13 00:15] bogdandrutu opened #5200 "Decide on using or not uber/atomic vs golang standard atomic package"
For more context about the discussion, see https://github.com/open-telemetry/opentelemetry-collector/pull/5181#discussion_r848174797

[2022-04-13 00:31] bogdandrutu commented on #5200
Currently we use both:
* https://github.com/open-telemetry/opentelemetry-collector/blob/main/exporter/exporterhelper/internal/bounded_memory_queue.go
* https://github.com/open-telemetry/opentelemetry-collector/blob/caa4f27c0d899c61e00731da3c748c705c79612f/service/collector.go#L122

[2022-04-13 10:29] mx-psi commented on #5200
Relevant points from discussion, so that others can participate:

- Atomics in Go have a number of limitations described on the `sync/atomic` docs: https://pkg.go.dev/sync/atomic#pkg-note-BUG. The most relevant is panics in ARM 32 bits when accessing a misaligned struct field.
- Both `sync/atomic` and `go.uber.org/atomic` can be misused in a way that causes these panics. I also argue it is easier

[2022-04-13 12:51] bogdandrutu commented on #5200
+1 to enforce the rule, no need to document in contributions, just add the golanglint and link to this issue.

[2022-04-13 13:27] tigrannajaryan commented on #5200
Any performance implications? I don't see any performance comparisons or any mentioning of performance at all https://github.com/uber-go/atomic

[2022-04-13 13:32] tigrannajaryan commented on #5200
Does using `go.uber.org/atomic` prevent misaligned access? I can't find anything in the doc about it.

[2022-04-13 13:49] mx-psi commented on #5200
It does if you use it as a pointer, which is what the [`NewX` functions](https://pkg.go.dev/go.uber.org/atomic#NewInt64) return. So you can still misuse it if you don't use a pointer, but you have to explicitly store the struct as a field

[2022-04-13 15:56] pmm-sumo opened #5201 "[Proposal] Include compaction in `exporterhelper`"
**Is your feature request related to a problem? Please describe.**

OpenTelemetry Collector Contrib's [groupbyattrs](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/groupbyattrsprocessor) processor can be also used for [compaction](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/groupbyattrsprocessor#compaction) (essential

[2022-04-13 15:57] pmm-sumo commented on #5201
Wanted to bring this issue for consideration. It might be Jaeger specific but then I'm wondering if this could be useful for other exporters as well

[2022-04-13 16:09] mx-psi commented on #5200
We mentioned this briefly in the SIG, but for completeness: the library is just a very simple wrapper over the standard library `sync/atomic`, so it shouldn't have a noticeable performance impact

[2022-04-13 16:40] jpkrohling commented on #5200
I'm in favor of using Uber's wrappers, they were very handy in past situations for me.

[2022-04-13 18:30] dmitryax opened #5204 "Release v0.49.0"
- [x] open-telemetry/opentelemetry-collector#5205
- [x] open-telemetry/opentelemetry-collector#5206
- [x] open-telemetry/opentelemetry-collector-contrib#9263
- [x] open-telemetry/opentelemetry-collector-contrib#9264
- [x] open-telemetry/opentelemetry-collector-releases#99
- [x] open-telemetry/opentelemetry-collector-releases#100
- [x] open-telemetry/opentelemetry-operator#819

[2022-04-13 18:30] dmitryax opened #5205 "Prepare core release v0.49.0"

[2022-04-13 18:31] dmitryax opened #5206 "Tag and release core v0.49.0"

[2022-04-13 18:31] dmitryax opened #5208 "Release contrib v0.49.0"

[2022-04-13 18:31] dmitryax opened #5209 "Prepare otelcol-releases v0.49.0"

[2022-04-13 18:32] dmitryax opened #5210 "Release binaries and container images v0.49.0"

[2022-04-13 18:32] dmitryax opened #5211 "Release the operator v0.49.0"

[2022-04-13 19:17] pmm-sumo opened #5213 "[exporter/exporterhelper] allow to specify max queue size in bytes"
**Is your feature request related to a problem? Please describe.**
Currently it's possible to specify the maximum size of the queue (both memory-backed and persistent) in number of batches. It would be useful to specify max size in bytes (especially for the persistent queue)

**Describe the solution you'd like**

We could add another parameter, which could be used to describe the maximum size in b

[2022-04-13 19:17] pmm-sumo commented on #5213
This can be assigned to me

[2022-04-13 19:56] jpkrohling commented on #5213
Jaeger has something like that and I think there is a performance penalty in collecting the model's byte size. If that's the case here as well, I'd recommend collecting the size in an opt-in manner.

[2022-04-13 19:59] pmm-sumo commented on #5213
This will be not really the case (at least for the persistent one) since we are marshalling the stored items, which means we have number of bytes practically already available :)

[2022-04-13 20:20] FreakyNobleGas commented on #4584
Hey @mx-psi & @bogdandrutu, this took me forever, but I believe I have a proper solution to this issue using the standard reflect library that can call methods of both by value and by pointer regardless if the struct was passed as a pointer or by value.

Here's the code that represents this solution: https://go.dev/play/p/1Y8d-mXR4IP
(@bogdandrutu, I wanted to let you know that I'm not ignoring yo

[2022-04-13 20:56] #5205 closed

[2022-04-13 23:13] #5206 closed

[2022-04-14 12:10] jmichalak-fluxninja commented on #5194
Thanks, that was very helpful. But I hope I'll see more flexible approach at some point ;)

[2022-04-14 13:23] bogdandrutu commented on #5200
@tigrannajaryan without the allocation we cannot guarantee alignment, so we may hit the panic on i386. Also as you mentioned we don't do this allocation every time we receive/process data, so we should be good

[2022-04-14 13:57] Mario-Hofstaetter opened #5214 "Some info logs missing in stdout if telemetry logs level info is used"
**Describe the bug**

TL;DR: Some `info` log messages from otelcol telemetry are missing in stdout when using log level info.

I started otelcol with [telemetry logs level on `debug`](https://github.com/open-telemetry/opentelemetry-collector/blob/7666eb04c30e5cfd750db9969fe507562598f0ae/config/service.go#L47) and got these logs in `stdout`.

Notice the log level is `info` for all of them:

[code]

[2022-04-14 14:40] mx-psi commented on #5194
What kinds of things can't you do with `WrapCore` that you wish you could?

[2022-04-14 14:45] jpkrohling commented on #5214
Interesting. The Jaeger ones are actually logged by the gRPC layer, and I remember we had to hook the gRPC logger with our main logger. Perhaps there's something wrong in this hook? For the record, I would expect such log entries to be debug, not info.

[2022-04-14 15:27] liguozhong opened #5216 "tracer : handleTrace func() pass header to ctx"
fix tempo issue.
https://github.com/grafana/tempo/issues/495
 https://github.com/grafana/tempo/issues/1381

vendor/go.opentelemetry.io/collector/receiver/otlpreceiver/otlphttp.go:47
![image](https://user-images.githubusercontent.com/9583245/163338052-31f95abd-ddb9-45a4-8a01-b86e650523fd.png)

tempo interface
![image](https://user-images.githubusercontent.com/9583245/163308217-6dd36818-b528-4173-88

[2022-04-14 18:49] #5195 closed

[2022-04-14 19:00] Mario-Hofstaetter opened #5223 "Print configuration used bei OTEL Collector at runtime"
**Is your feature request related to a problem? Please describe.**

otelcol can be configured by one or multiple `yaml` configuration files, which also support environment variable expension.
Therefore, especially when using ENV vars, it is useful to be able to view the config otelcol **_is actually running with_**.

AFAIK currently there is no such feature.

Below I will suggest solutions I am us

[2022-04-14 19:14] #5110 closed

[2022-04-14 19:28] Mario-Hofstaetter commented on #5214
That explains why I could not even find that log message in the git repo here and otelcol-contrib 🙈

I'd be glad if during *startup*, essential configuration, like endpoints where otelcol is pushing to, is logged *once* with `info` level. I struggled with environment variables (see also #5223), which is why I hunted down those logs.

[2022-04-14 20:17] bogdandrutu commented on #4584
Look here how I check that a reflect.Value implements an interface. You should not look for method, you should checkf if it implements an interface: https://github.com/open-telemetry/opentelemetry-collector/pull/4879/files#diff-42d3514f5e3be7f3e45e57a1a6fddedacd15835b09a044cc74107f972973d1adR227

[2022-04-14 20:49] FreakyNobleGas commented on #4584
Apologies if I'm misunderstanding this, but I thought the intention was to call Validate() on structs that exist within an interface such as [QueueSettings](https://github.com/open-telemetry/opentelemetry-collector/blob/ac9eb92edc4a2e16cf721ffe40c2cdfc2fb76ab9/exporter/exporterhelper/queued_retry_experimental.go#L40).

[2022-04-15 08:22] mx-psi commented on #5223
To expand on the problem here: it's hard to know what options are an API token, and we probably don't want to have an opt-in system for this where people declare "this field is an API token", since the probability that we or downstream distros forget to mark something as an API token is too high, and it conflicts with the "secure by default" philosophy of the OpenTelemetry project.

As a start, we

[2022-04-15 08:45] Mario-Hofstaetter commented on #5223
@mx-psi I updated my original post with examples who secrets are handled by prometheus and promtail.
It looks obvious promtail is sharing the code with prometheus in that manner.

I have no idea how they implemented it interally, but as per documentation:
https://prometheus.io/docs/prometheus/latest/configuration/configuration/#configuration-file
https://grafana.com/docs/loki/latest/clients/promta

[2022-04-15 09:53] Mario-Hofstaetter opened #5228 "Support default values for configuration environment variables"
**Is your feature request related to a problem? Please describe.**

When using [Configuration Environment Variables](https://opentelemetry.io/docs/collector/configuration/#configuration-environment-variables),

**if a variable is NOT SET on otelcol start, the value will be empty and probably break configuration.**

Please provide a way to set *default values* in case ENV variables are not availabl

[2022-04-15 16:16] bogdandrutu commented on #5223
@Mario-Hofstaetter @mx-psi first of all, thank you for this issue.

I have some confusions/questions here:
* I am confused about the meaning of "--dry-run", we can discuss if "-dry-run" means actually running and printing to console, or just print the config.
* mx-psi, curious about your concern related to security here. If someone has the configuration and privileges to run the collector that has

[2022-04-15 16:17] bogdandrutu commented on #4584
@FreakyNobleGas indeed, but go is duck typing, see https://medium.com/@matryer/golang-advent-calendar-day-one-duck-typing-a513aaed544d

[2022-04-15 16:40] Mario-Hofstaetter commented on #5223
@bogdandrutu

Neither, I guess I should not have mixed it in here. The two flags can be combined, but seperately they mean:

- (in promtail), `-print-config-stderr` dumps the config to console and then starts its normal operation.
It is not possible to just dump the config & then exit, which I personally would prefer.

To keep this issue compact, I could move the dry run feature to another issue i

[2022-04-15 19:53] bogdandrutu commented on #4761
Closing this since the custom command is ok.

[2022-04-15 19:53] #4761 closed

[2022-04-15 19:54] bogdandrutu commented on #4310
This is done now, all configs are passed via flags.

[2022-04-15 19:54] #4310 closed

[2022-04-15 20:02] bogdandrutu commented on #5228
This is wrong, look into "yaml:" provider (https://github.com/open-telemetry/opentelemetry-collector/blob/main/config/mapprovider/yamlmapprovider/mapprovider.go) you can do something like:

`--config=file:my_file --config="yaml:service::telemetry::metrics::address: localhost:8000"`

Or using the `--set` flag.

We will follow the same model as defined by our [providers](https://github.com/open-tele

[2022-04-15 20:07] bogdandrutu commented on #4181
Also we should look into all the places were we return a slice.

[2022-04-18 12:47] jpkrohling commented on #5214
The connection state changes are indeed logged at our side, and at INFO:

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/c7fe9fd455107165cad3b9231a9a48781c237960/exporter/jaegerexporter/exporter.go#L186

But finer-grained events are logged at the gRPC level at debug.

[2022-04-18 15:11] jpkrohling commented on #5228
Is this documented somewhere? This does deserve to be available in user-facing docs. I can write that doc if we have readme files available for all the supported providers.

[2022-04-18 15:34] bogdandrutu commented on #5216
@liguozhong please mention the version you use of the collector module?

[2022-04-18 16:25] bogdandrutu opened #5230 "Inconsistent `Set[Traces|Metrics|Logs]` on Request objects"
All pdata structs do not allow to "set" mutable objects, to avoid race conditions and concurrency issues, but allows copy or move. The current "otlp.Request" struct for all signals is the only place where we have this.

I propose to fix this inconsistency, and here are some options:

1. "Wrapping": Replace SetTraces with a `NewRequestFrom[Traces|Logs|Metrics]` (other ideas `WrapRequest`), and docu

[2022-04-19 15:03] BinaryFissionGames opened #5232 "Docs incorrectly state that exporters must not mutate incoming pdata"
[The README in the exporter package](https://github.com/open-telemetry/opentelemetry-collector/blob/cdd11e7228ea646dd6df9094ea7062f03563046a/exporter/README.md#data-ownership) states that exporters will share data ownership of pdata.* with other exporters, but this is not actually the case.

If the exporter signals that it mutates data via its Capabilities, a copy is actually passed to the exporte

[2022-04-19 15:51] bogdandrutu commented on #5232
@BinaryFissionGames you are correct. we should fix that.

[2022-04-19 18:31] bogdandrutu commented on #5216
@liguozhong seems that you use a version from 2y ago:

1. https://github.com/grafana/tempo/blob/main/go.mod#L243
2. https://github.com/grafana/opentelemetry-collector

Based on this, I think you should first get closer to our current version, because we will not support something that is that old.

[2022-04-19 22:07] dmitryax commented on #5230
I would also prefer `NewRequestFrom[Traces|Logs|Metrics]` (1). This problem doesn't seem to be something that justifies making otlp exporter mutable.

[2022-04-20 04:07] dimas-adriyanto opened #5235 "Tried to connect exporter using oltp to grafana tempo error when providing authorization headers"
**Describe the bug**
I tried to connect my app to grafana tempo using collector otel
 here is my otel config :

`exporters:
 otlp:
   endpoint: tempo-eu-west-0.grafana.net:443
   headers:
     authorization: Basic <xxxxxxxxxxx>`

always showing this error :
`opentelementry-collector-collector-1  | 2022-04-20T04:03:28.025Z	info	exporterhelper/queued_retry.go:276	Exporting failed. Will retry the req

[2022-04-20 08:27] mx-psi commented on #5223
I was thinking about a similar feature available in the Datadog Agent, where the API/application keys are censored, but I didn't have a security model in mind, so it may be possible that we can get away without doing this if the approach is different. IIRC in the Datadog Agent we do this by exposing it on an endpoint, and the output is also something that gets sent to Datadog for technical support

[2022-04-20 11:46] mx-psi commented on #5235
I think this does not belong here but rather you should ask Grafana for support; AFAICT there is no indication that the problem is in the Collector side. cc @jpkrohling in case you can help

[2022-04-20 17:55] #5230 closed

[2022-04-20 20:23] #4819 closed

[2022-04-20 20:31] bogdandrutu commented on #3924
This is done, the name is consolidated as `config.MapProvider`

[2022-04-20 20:32] #3924 closed

[2022-04-20 21:22] djaglowski commented on #5159
Nice results.

[2022-04-21 03:01] 1046102779 opened #5238 "How to troubleshoot prometheus metrics data anomalies?"
I use Opentelemetry-Go SDK metrics v0.27.0 to report metrics via http. The real traffic of the business is 0.3w~1.7w req/sec. The metrics data collected by prometheus is occasionally exceptional, as shown in the following figure. This is difficult to locate. I tried to use the vendor mechanism to print the collector service log, and found that Opentelemetry-go sdk reported and received by the coll

[2022-04-21 09:10] rohanagarwal36 opened #5241 "Collector gives 404 for http/protobuf traces"
**Describe the bug**
I have configured the collector on Kubernetes, the collector receiver server starts successfully at 0.0.0.0:4318. I am using otlp http receiver. But the opentelemetry java agent is unable to send data to the collector. I have tried many combinations but all of them return 404.
Logs from collector:
`
2022-04-21T05:53:21.156Z	info	service/collector.go:303	Starting otelcol...	{"V

[2022-04-21 12:26] cpheps opened #5242 "Collector Stopping Due to Context Cancel is Noisy"
**Describe the bug**
In the collector when context passed into `Run` is cancelled the collector logs and error message [here](https://github.com/open-telemetry/opentelemetry-collector/blob/main/service/collector.go#L182). When the context is from a `signal.NotifyContext` call it gives the user an error log and stack trace. This can cause the user to think there is something wrong when the collecto

[2022-04-21 14:02] bogdandrutu commented on #5242
Don't think is a bug, but is a good feature request ¯\_(ツ)_/¯

[2022-04-21 14:50] tigrannajaryan commented on #2734
@jpkrohling can you clarify how this works? If I want to passthrough a certain HTTP header how do I configure my OTLP receiver and OTLP exporter? I want to just make sure a specific header is preserved when it is received by the Collector and that header is present in the outgoing data. Is it possible to do?

[2022-04-22 00:01] g3kr opened #5246 "OTLP gRPC exporter not routing logs to AWS load balancer"
**Describe the bug**
I am doing a basic set up of open telemetry collector and agent. I am using a AWS Network loadbalancer endpoint for the otlp  exporter. I was hoping it would route traffic to the target ips behind the load balancer, however it does not seen to work. I suspect the issue is with gRPC/TLS  protocol, but not sure how to resolve. I have also tried to replace the NLB with ALB, it di

[2022-04-22 00:11] g3kr commented on #3040
@flands @obitech can you share your collector config? I am running into problems using the ALB as the otlp exporter endpoint.  or could you throw some light on #5246 ? Much appreciated. Thank you

[2022-04-22 03:02] bputt-e commented on #2734
@tigrannajaryan I believe once https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/9241 is resolved, the auth info will be accessible

[2022-04-22 09:50] rohanagarwal36 commented on #5241
I had some issue in my kubernetes ingress. The 404 was coming from nginx.

[2022-04-22 09:50] #5241 closed

[2022-04-22 10:49] martinxluptak opened #5247 "Metric attributes not being exported from collector"
**Describe the bug**
The attributes (labels) of collected Metrics in my application utilizing `opentelemetry-collector` are not being exported.

I am making a simple node.js request counter:

[code]

**Steps to reproduce**
I can verify that the metric itself is exported in both logging and OTLP exporters. However, the labels are not exported via OTLP and are also missing in the logging exporter wi

[2022-04-22 13:09] tigrannajaryan commented on #2734
So, I guess it means this is not yet complete. I will re-open the issue (@jpkrohling feel free to close if it is actually complete, but please add a comment that explain how it is done).

[2022-04-22 16:21] swiatekm-sumo commented on #5159
@overmeulen see https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/9327 for a proposed mechanism. In essence, compaction is most useful for queues (which can grow and shrink rapidly), and its cost is proportional to the size of the data. And so we compact if the size of the data is below a threshold (ideally a low value in the order of 10s of Mbs) and the file size is above a d

[2022-04-22 16:41] pmm-sumo commented on #5159
@overmeulen I provided some [explanation on how this works in the README](https://github.com/pmm-sumo/opentelemetry-collector-contrib/tree/filestorage/online-compaction/extension/storage/filestorage#rebound-online-compaction)

[2022-04-22 19:01] #5204 closed

[2022-04-22 19:28] svetlanabrennan commented on #5247
@martinxluptak

This issue is happening because the JS otlp exporters are using an outdated version of protobufs. The JS otlp exporters are still sending over the old labels over otlp instead of the newer attributes but there is an [open issue](https://github.com/open-telemetry/opentelemetry-js/issues/2886) to get the protobuf version updated.

Since there is an open issue about this in the otel-j

[2022-04-22 20:00] jpkrohling commented on #2734
Sorry, this has slipped from my radar. I'll work on documenting this next week

[2022-04-22 20:07] jpkrohling commented on #5235
Could you please share your config, minus the credentials? I just tried the following and it worked for me:

[code]

Note that `$DIGEST` is the output of:

[code]

And `user` is typically your 5-digit account number, with `pass` being your key.

[2022-04-23 00:56] dimas-adriyanto commented on #5235
@jpkrohling here is my config :

extensions:
  health_check:
  pprof:
    endpoint: :1888
  zpages:
    endpoint: :55679

receivers:
  otlp:
    protocols:
      grpc:
      http:

processors:
  batch:

exporters:
 otlp:
   endpoint: tempo-eu-west-0.grafana.net:443
   headers:
     authorization: Basic user <xxxxxx>

service:
  extensions: [ pprof , zpages , health_check ]
  pipelines:
    traces:

[2022-04-25 01:39] 1046102779 commented on #5238
/cc @dmitryax @bogdandrutu

[2022-04-25 14:20] jpkrohling commented on #5235
Not sure why you were receiving a "unexpected content-type" message but I'm glad it's working now. I'm cc'ing @mapno, perhaps he knows what might have gone wrong there. In any case, I'm closing this as I think this is now solved.

[2022-04-25 14:20] #5235 closed

[2022-04-25 15:17] bogdandrutu commented on #4181
@dmitryax can you investigate all the places where we return "slices" of primitives (double, byte, etc.) in pdata?

[2022-04-25 17:49] bogdandrutu commented on #5238
Hi @1046102779

Prometheus "exporter" (the pull based version) is not very well designed in my opinion. I recommend to use either prometheus remote write exporter in the collector, or to simply expose directly prometheus format from your app and let the prometheus server scrape directly your app (avoid using the collector).

[2022-04-25 18:28] dashpole commented on #5238
Memory usage aside, the prometheus exporter should work ~mostly correctly.  This seems like an issue with data correctness if i'm understanding correctly.  @1046102779 can you share your prometheus scrape config?

cc @gouthamve, who might've seen something like this before.

[2022-04-25 21:00] #4917 closed

[2022-04-26 01:12] cpheps opened #5259 "Lazy Load Factories to Improve Memory Usage and Speed Up Startup"
**Is your feature request related to a problem? Please describe.**
Currently at start up the collector must load all possible factories into memory via the [Factories](https://github.com/open-telemetry/opentelemetry-collector/blob/main/component/factories.go#L25-L37) struct which is embedded in the [CollectorSettings](https://github.com/open-telemetry/opentelemetry-collector/blob/main/service/sett

[2022-04-26 01:43] 1046102779 commented on #5238
[code]

[2022-04-26 02:15] 1046102779 commented on #5238
thanks. I use `prometheusremotewriteexporter` exporter to verify.

https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/prometheusremotewriteexporter

[2022-04-26 05:46] jvilhuber opened #5260 "Don't retry on permanent errors"
**Describe the bug**
Some errors from tempo are considered 'final' and shouldn't be retried. For example TRACE_TOO_LARGE will not succeed no matter how many times we retry.

**Steps to reproduce**
Send a trace that is too large.

**What did you expect to see?**
I've seen other errors flagged as "not retryable" (can't remember the exact message). I would expect at least TRACE_TOO_LARGE errors to no

[2022-04-26 06:42] jvilhuber opened #5261 "opencensus receiver throws error on close"
**Describe the bug**
The opencensus receiver throws an error when it is closed, causing us to get errors in the logs every time we restart otel-collector pods.

**Steps to reproduce**
Configure opencensus, start otel-collector, then shut it down.

**What did you expect to see?**
Nothing. No logs are needed on shutdown.

**What did you see instead?**
```{"level":"error","ts":1650954562.3249369,"cal

[2022-04-26 06:47] martinxluptak commented on #5247
closed; instead tracking the opentelemetry-js issue.

[2022-04-26 06:47] #5247 closed

[2022-04-26 07:52] xyq175com commented on #5232
Hi @BinaryFissionGames, should we change this from “When multiple exporters are configured to send the same data (e.g. by configuring multiple exporters for the same pipeline) the exporters will have a shared access to the data.” to "**When multiple exporters are configured to send the same data (e.g. by configuring multiple exporters for the same pipeline) the exporters will have a shared access

[2022-04-26 14:04] BinaryFissionGames commented on #5232
@xyq175com Yes, that is accurate.

[2022-04-26 17:55] jpkrohling commented on #4747
I won't be able to look at this one in detail for the next two months. I'm therefore unassigning this. This is now up for grabs. If nothing happens in two months, I might be able to take a look again.

[2022-04-26 17:56] jpkrohling commented on #4996
I won't be able to look at this one in detail for the next two months. I'm therefore unassigning this. This is now up for grabs. If nothing happens in two months, I might be able to take a look again.

[2022-04-26 17:57] dmitryax opened #5263 "[pdata] Defensive setters/getters for primitive value slices"
This is generalized issue made from https://github.com/open-telemetry/opentelemetry-collector/issues/4181.

We have the following setters accepting slices of primitive types (with similar getters) that take the value as is without using defensive copying:

[code]

We need to make at least the setters to use defensive copies of the slices passed as arguments, so any change to the value slice that u

[2022-04-26 18:10] dmitryax commented on #5263
If we don't do the same for getters, we introduce another way to mutate the slices. And doing it that way may cause some subtle bugs. E.g. if exporter uses one of these getters and then changes the returned value, it makes the exporter mutating which is hard to track in this scenario, and this can also happen accidentally.

I vote for using defensive copying for getters as well setters. It makes i

[2022-04-26 18:12] dmitryax commented on #5263
@open-telemetry/collector-approvers please share your opinions

[2022-04-26 18:35] tigrannajaryan commented on #5263
We can try "moving" setters to avoid the copying performance impact (bytes can be potentially large):
[code]
If the caller needs to hold a copy for some reason they can make copy before the call.

Not very idiomatic, I know.

Probably unnecessary for histograms since the bucket is cannot be very large (I think?)

[2022-04-26 18:50] dmitryax commented on #5263
@tigrannajaryan I think that's ok to use for setter, but what about getters?

[2022-04-26 19:08] tigrannajaryan commented on #5263
We can define our ImmutableByteSlice data type and return it from getters. It complicates working with slices though. It will make impossible to use index operator (which we probably never do). ImmutableByteSlice can have methods with everything that we need to do with the byte slice (we use it very rarely in our codebase).

Don't know if we want to do this. May be too much complication.

[2022-04-26 19:21] tonychoe opened #5264 "Access headers in OTLP exporter"
**Is your feature request related to a problem? Please describe.**

The otlp exporter supports the headers option so we can specify the header value we want to send to the downstream.
[code]
However, in the multi-tenant scenario, passing different headers mean we need to create a pipeline of multiple exporters and each exporter has the hard-coded header.

**Describe the solution you'd like**
Enabl

[2022-04-26 19:34] jpkrohling commented on #5264
I believe this is the same as https://github.com/open-telemetry/opentelemetry-collector/issues/4814 . If you think this is not the same, feel free to reopen.

[2022-04-26 19:34] #5264 closed

[2022-04-26 19:46] tonychoe commented on #5264
Thanks @jpkrohling This is the same thing.

[2022-04-26 20:09] #5242 closed

[2022-04-26 20:53] dmitryax commented on #5263
The only place where `ImmutableByteSlice` can be used after that is probably `Value.SetBytesVal`. In other cases the value needs to be passed somewhere else where `[]byte` type is expected, so we still need to get a copy of `[]bytes` type from `ImmutableByteSlice`.

So I'm not sure if introducing `ImmutableByteSlice` just to support a use case of copying from one `Value` to another justifies the a

[2022-04-26 21:29] bogdandrutu commented on #4181
@dmitryax should this be closed since you started the other issue?

[2022-04-26 21:32] #4181 closed

[2022-04-27 01:11] dmitryax opened #5266 "[pdata] Value.CopyTo doesn't copy values of ValueTypeBytes type"
**Describe the bug**
`Value.CopyTo` function doesn't copy value of byte slice. An original and destination Value reuse the same underlying array. Any change to one of the values is reflected in its copy.

This has to be fixed no matter which approach we take for https://github.com/open-telemetry/opentelemetry-collector/issues/5263

[2022-04-27 05:17] xyq175com commented on #5232
@BinaryFissionGames  thank you, I will work on this and submit PR later。

[2022-04-27 15:23] codeboten opened #5269 "Release v0.50.0"
Like #4522, but for v0.50.0

- [x] #5277
- [x] #5279
- [x] #5280
- [x] #5288
- [x] #5291
- [x] #5295
- [x] https://github.com/open-telemetry/opentelemetry-operator/issues/847

[2022-04-27 16:12] dmitryax opened #5270 "[pdata] Fix copying of metric fields of primitive items slice type"
Same issues as https://github.com/open-telemetry/opentelemetry-collector/issues/5266 but for metric fields of primitive item slices type:

- BucketCounts
- ExplicitBounds

[2022-04-27 19:47] bogdandrutu commented on #5260
This is not a bug, at most a misleading error message.

You get the expected behavior, your exporter fails to export and the configuration disables the "retry" (`retry_on_failure::enabled: false`), hence you hit this code https://github.com/open-telemetry/opentelemetry-collector/blob/v0.47.0/exporter/exporterhelper/queued_retry.go#L149 where we print the expected message.

In this case indeed we d

[2022-04-27 19:53] bogdandrutu commented on #5259
@cpheps do you have any numbers about this? This to me seem like an unnecessary complication, since I expect the factories to have very minimum amount of memory required.

[2022-04-27 20:03] cpheps commented on #5259
@bogdandrutu not yet. I am ok with closing this proposal though. It was originally meant to help solve the PR that was linked, now removed, but I misunderstood the core problem there.

I left it open to see if there was a general interest. I can work on getting numbers next week just to do due diligence on this but if there's not a strong interest from the community I don't feel I have to push for

[2022-04-27 20:13] bogdandrutu commented on #5259
@cpheps unless we prove this is a problem, we should not try to complicate things. On the same note it should be a best practice for "Factories" to not keep alive large amount of resources. Maybe we can document that.

I miss the "linked" PR, can you point me to it?

[2022-04-27 20:28] cpheps commented on #5259
Here is the PR https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/9224.

I agree on not complicating things. We can close this for now and I can reopen if my tests show a significant difference in memory usage. This might be something worth revisiting as we add more components but likely an over optimization with the current state.

I think a best practice is good but it might

[2022-04-27 22:30] dmitryax commented on #5263
@bogdandrutu raised another benefit of using `Immutable...Slice` wrapper: `CopyTo` functionality won't need to do any copy and can reuse underlying array. So probably it can justify additional complexity.

I can submit a PR and we'll see how it looks.

[2022-04-27 22:56] tigrannajaryan commented on #5263
I think I also saw code somewhere that takes Bytes() and converts to JSON string. This can become a method on ImmutableByteSlice and avoid the extra copy.

[2022-04-28 03:02] #5260 closed

[2022-04-28 07:28] jvilhuber commented on #5260
But what happens when retry is enabled (I actually forgot I turned it off in the config for various temporary reasons)? I assume it'll try to retry, but again: In this case that would be pointless.

[2022-04-28 13:42] bogdandrutu commented on #5259
@cpheps I don't have the same feeling as you that this will ever be a problem.

As you probably realized in that PR, the memory footprint increases way more because of the binary size caused by dependencies that we add with every component

[2022-04-28 13:43] bogdandrutu commented on #5259
Per the discussion conclusion I am closing this, waiting for numbers to prove me wrong 😊

[2022-04-28 13:43] #5259 closed

[2022-04-28 15:03] #4971 closed

[2022-04-28 20:02] codeboten opened #5277 "Prepare core release v0.50.0"

[2022-04-28 20:36] #5277 closed

[2022-04-28 20:43] codeboten opened #5279 "Tag and release core v0.50.0"

[2022-04-28 20:43] codeboten opened #5280 "Prepare contrib release v0.50.0"

[2022-04-28 20:49] #5279 closed

[2022-04-28 20:49] codeboten commented on #5279
https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.50.0

[2022-04-28 22:01] codeboten opened #5288 "Tag and release contrib v0.50.0"

[2022-04-28 22:25] codeboten opened #5291 "Prepare otelcol-releases v0.50.0"

[2022-04-28 22:35] #5280 closed

[2022-04-29 00:40] codeboten commented on #5288
https://github.com/open-telemetry/opentelemetry-collector-contrib/releases/tag/v0.50.0

[2022-04-29 00:40] #5288 closed

[2022-04-29 05:24] jvilhuber commented on #5260
Thanks!

[2022-04-29 16:06] #5291 closed

[2022-04-29 16:07] codeboten opened #5295 "Release binaries and container images v0.50.0"

[2022-04-29 16:18] codeboten opened #5296 "Release the operator v0.50.0"

[2022-04-29 16:22] #5296 closed, assigned to nobody

[2022-04-29 16:52] codeboten commented on #5295
https://github.com/open-telemetry/opentelemetry-collector-releases/releases/tag/v0.50.0

[2022-04-29 16:52] #5295 closed

[2022-04-29 19:12] braydonk opened #5297 "Prepend windowsEventLogCore instead of appending"
**Is your feature request related to a problem? Please describe.**
When creating a new Windows service, a `zap` core for Windows Event Log output is created and appended to the `CollectorSettings.LoggingOptions` that were passed in by the user. Unfortunately, this means the `windowsEventLogCore` is the first in line of zap cores to be executed. This leads to the LoggingOptions passed in not being

[2022-04-29 21:22] braydonk commented on #5297
I have opened a draft PR that shows the change I would like to make. I will be running a manual test first thing Monday.

[2022-04-29 21:52] Mario-Hofstaetter opened #5300 "HowTo: Telemetry Logging to File when running as windows service"
**Describe the bug**

This is no traditional bug report, more a documentation how to solve the described issue.

If maintainers would like a PR to expand the docs anywhere to contain information about this (not sure what from it), I could try to contribute.
If not, this could also considered a rant and be closed. Maybe it helps somebody google landing here.

I spent several HOURS to get a solution

[2022-04-30 19:08] FerFlovi commented on #1674
opentelemetry-collector-contrib/extensión/httpforwarder/config.go _

[2022-05-02 12:53] ssuparna2010 opened #5303 "Opentelemetry: How to increase instrument for exceeded the maximum allowed accumulations (2000) as its Failed to export metrics. The request could not be executed. Full error message: stream was reset: NO_ERROR"
**Describe the bug**
When we run bulk load metrics are Failed to export metrics. The request could not be executed. Full error message: stream was reset: NO_ERROR. and getting instrument for exceeded the maximum allowed accumulations (2000)

**Steps to reproduce**
When we run bulk load metrics are Failed to export metrics. The request could not be executed. Full error message: stream was reset: NO

[2022-05-03 16:38] #5261 closed

[2022-05-04 05:08] tejeswar-komma opened #5309 "Failed to export spans to OpenTelemetry Collector"
VM Arguments:
-javaagent:/Users/user-name/Downloads/Eclipse-projects/opentelemetry-javaagent.jar
-Dotel.exporter.otlp.traces.protocol=http/protobuf
-Dotel.traces.exporter=otlp
-Dotel.exporter.otlp.traces.endpoint=http://localhost:4318/v1/traces
-Dotel.resource.attributes=service.name="serviceName"
-Dotel.metrics.exporter=prometheus
-Dotel.exporter.prometheus.port=9472

[otel.javaagent 2022-05-04 1

[2022-05-04 05:17] dmitryax opened #5310 "[pdata] Inconsistently exported AsRaw methods"
Currently only `Map` has exported `AsRaw` method and `NewMapFromRaw` function. Very similar `Slice` structure has the same but not exported functions: `asRaw` and `newSliceFromRaw`. Another structure that has the same unexported functions is `Value`.

I propose to expose at least `Slice.AsRaw()` and `NewSliceFromRaw` for consistency with `Map`. Not sure about `Value`, probably we can keep it can s

[2022-05-04 09:35] pichlermarc opened #5312 "`http` receiver drops JSON requests with extra keys"
**Describe the bug**
JSON requests with extra keys are dropped by the `http` receiver. This can cause older collectors to not work with newer exporters in case new optional fields are added (as suggested in https://github.com/open-telemetry/oteps/pull/201) or renamed.

The suggested workaround for the renamed `instrumentationLibraryMetrics` was to double-publish the same data (see [here](https://g

[2022-05-04 11:30] bogdandrutu commented on #5310
do you also need a fromRaw for the slice?

[2022-05-04 13:28] dyladan commented on #5312
The spec suggestion was to send both keys, but maybe it should be just an opt-in feature to send old keys? Or a target collector version as an option? but that would be very difficult to maintain

[2022-05-04 13:59] dyladan commented on #5312
I'll work on this

[2022-05-04 17:39] braydonk commented on #5297
I finally successfully ran a manual test that confirmed my suspicion and confirmed that the fix in the PR mentioned above works.

[2022-05-05 06:00] dmitryax commented on #5310
Right. I missed that. Updated the issue description and the PR

[2022-05-05 06:47] ringerc commented on #2310
The opentelemetry-contrib spanprocessor https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/spanprocessor can do this. It's a bit unfortunate that the main filterprocessor can't.

[2022-05-05 09:47] kevinearls opened #5314 "CONTRIBUTING.md references CircleCI and non-existant ci target in Makefile"
**Describe the bug**
The General Notes section in CONTRIBUTING.md says the project uses CircleCI and recommends running "make ci" before submitting a PR

**What did you expect to see?**
The project currently uses GitHub Actions and should recommend building with other targets

[2022-05-05 15:24] #5314 closed

[2022-05-05 15:52] mx-psi opened #5316 "[service] Refactor service tests to split the ones for host"
Follow up to #5292, to move the `service/service_test.go` tests that test the host only to a `service/host_test.go` file

_Originally posted by @mx-psi in https://github.com/open-telemetry/opentelemetry-collector/issues/5292#issuecomment-1113434602_

[2022-05-05 16:57] braydonk commented on #5297
Fix is merged, thanks!

[2022-05-06 09:38] danhngo-lx opened #5319 "[Otlpexporter] Support path in endpoint"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Hello, I wonder if it is possible to specify a path in the endpoint of otlp exporter, like this:

[code]

At the moment when I try to do so, I get the following error:

[code]

**Describe the solution you'd like**
Support path in the endpoi

[2022-05-06 10:04] bogdanov1609 commented on #4806
Friendly reminder on this one :)

[2022-05-07 05:16] chenjazz opened #5320 "[Metrics]Support max/min value with HistogramDataPoint"
` opentelemetry-proto  v0.17.0 `  HistogramDataPoint add max/min ， java sdk  is using.
![image](https://user-images.githubusercontent.com/11512994/167239592-05930ae0-d489-4c84-9bc5-880dd76493a4.png)

[_link_]( https://github.com/open-telemetry/opentelemetry-proto/blob/v0.17.0/opentelemetry/proto/metrics/v1/metrics.proto).
 opentelemetry-collector is supporting now?

[2022-05-08 19:40] Mario-Hofstaetter opened #5321 "Understanding high memory usage of otelcol"
**Describe the bug**

I am infrequently observing high memory usage of `otelcol.exe` on Windows Systems.
The memory is however within the set bounds of `memory_limiter` (see config below). But I am not sure if this memory usage is intended behavior, since there is negligible load on the systems. I am not experienced in golang so please excuse my lack of knowledge.

My planned actions to counteract

[2022-05-08 20:57] Mario-Hofstaetter commented on #5321
After changing config of your biggest instance to:

[code]

and it is still GC'ing in a short interval:

[code]

Is this normal behavior? IMHO 700MB of memory is a lot for scraping 8 MB of metrics.

[2022-05-09 06:18] ringerc opened #5324 ""nop" exporter/processor etc not available in release containers"
**Describe the bug**

The "nop" exporter, receiver, and processor are used widely in examples and test data.

They have a practical use for stubbing out a particular pipeline component in some configurations but not others, especially when combined with the opentelemetry operator and env-var driven config substitutions. They're also useful in testing.

It would be nice to have the nop exporter ret

[2022-05-09 06:44] ringerc commented on #347
@pjanotti

It was possible to enable/disable using env-var substitution using this property, but isn't very practical to do so with e.g. the otel operator by adding/removing from the pipelines component list.

[2022-05-09 06:51] ringerc commented on #5324
This probably isn't a bug, now I understand what's going on better. More a feature request to permit use of the nop exporter, or a way to toggle a specific exporter or specific pipeline on or off using the environment.

[2022-05-09 07:07] #5324 closed

[2022-05-09 07:08] ringerc commented on #5324
Not really a bug, will raise issue with desired functionality

[2022-05-09 07:16] ringerc opened #5325 "Enable or disable pipelines with env-vars"
# Feature: Enable/disable pipelines via an env-subst-able key

When deploying a collector configuration via tools like the opentelemetry-operator and Kustomize, it's difficult to dynamically mangle the yaml blob of the otel collector's main config payload to adjust it for different environments or configurations.

For example, a deployment may need to enable the `tracing/our-inhouse-jaeger` pipeli

[2022-05-09 17:38] neelayu opened #5327 "Does `confighttp` based HTTP server generate metrics like number of incoming requests?"
I am trying to explore if receivers built on top using `confighttp.HTTPServerSettings` generate useful metrics such as num of incoming requests, packets not forwarded to the processor(or exporter) etc. From the code I could see that the [`otelhttp`](https://github.com/open-telemetry/opentelemetry-collector/blob/main/config/confighttp/confighttp.go#L298) instrumentation is used. However  the `/metr

[2022-05-10 04:16] 1046102779 commented on #5238
i use exporter `prometheusremotewriteexporter` to report metrics, and it's still wrong.

<img width="1088" alt="image" src="https://user-images.githubusercontent.com/20457624/167541278-7d12f8a2-bd53-4344-b6e1-6e3ae94256c7.png">

<img width="1652" alt="image" src="https://user-images.githubusercontent.com/20457624/167541152-8610114a-935c-444f-8841-099f3a2f5baa.png">

But the method that the prometh

[2022-05-10 22:10] #5310 closed

[2022-05-11 15:57] codeboten opened #5333 "Support OTLP v0.17.0"
As per the most recent release of the proto: https://github.com/open-telemetry/opentelemetry-proto/releases/tag/v0.17.0

- [x] #5334
- [x] #5380

[2022-05-11 17:18] codeboten opened #5334 "update OTLP version"

[2022-05-11 18:47] bogdandrutu opened #5337 "Release v0.51.0"
- [x] #5338
- [x] #5339
- [x] #5350
- [x] #5351
- [x] #5352
- [x] #5355
- [x] #5354

[2022-05-11 18:47] bogdandrutu opened #5338 "Prepare core release v0.51.0"

[2022-05-11 18:47] bogdandrutu opened #5339 "Tag and release core v0.51.0"

[2022-05-11 20:07] #5338 closed

[2022-05-11 20:24] bogdandrutu commented on #5339
Done.

[2022-05-11 20:24] #5339 closed

[2022-05-12 01:50] bogdandrutu opened #5350 "Prepare contrib release v0.51.0"

[2022-05-12 01:50] bogdandrutu opened #5351 "Tag and release contrib v0.51.0"

[2022-05-12 01:50] bogdandrutu commented on #5350
Closed by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/9975

[2022-05-12 01:50] #5350 closed

[2022-05-12 01:50] bogdandrutu commented on #5351
Done.

[2022-05-12 01:50] #5351 closed

[2022-05-12 01:50] bogdandrutu opened #5352 "Prepare otelcol-releases v0.51.0"

[2022-05-12 10:36] mx-psi opened #5353 "Make the service Host own an `http.Server` for extensions to use"
An idea that I had in mind for long time, is to actually embed the "zpages" into Host:
* Host will have to start an "http.Server" that can be shared between "health check", "zpages", "status", "etc.".
* If we do this, the zpages/health extensions (maybe) becomes almost a no-op.

How I would design this is probably on the Host interface allow any component to "Register" a path/handler similar with

[2022-05-12 11:03] Mario-Hofstaetter commented on #5321
## Edit 2022-05-12

Been playing with memory limiter the last couple of days and still anxious about memory usage.

<details>
<summary>Currently running this config (CLICK ME)</summary>

[code]

</details>

using only metrics pipeline and a imho reasonable amount of metrics, the logs of otelcol are full of `info` and `warn` messages showing `GC` actions, and even `Dropping data`, while consume > 6

[2022-05-12 11:11] #2660 closed

[2022-05-12 16:51] bogdandrutu opened #5354 "Release the operator v0.51.0"

[2022-05-12 16:52] bogdandrutu commented on #5354
Tracking issue in the operator repo https://github.com/open-telemetry/opentelemetry-operator/issues/868

[2022-05-12 16:53] bogdandrutu opened #5355 "Release binaries and container images v0.51.0"

[2022-05-12 17:13] #5352 closed

[2022-05-12 19:54] bogdandrutu commented on #5355
Fixed.

[2022-05-12 19:54] #5355 closed

[2022-05-12 21:45] bogdandrutu opened #5358 "Change all structs with public members before stability"
[Here](https://github.com/open-telemetry/opentelemetry-collector/blob/main/component/telemetry.go#L25) is an example of a struct `TelemetrySettings` that seem to be very easy to use. The problem with this is that we cannot add any new member in this struct, or change the order of the members, after 1.0.

**Why?**

The reason is because if someone uses initialization without "named arguments", e.g.

[2022-05-12 22:41] codeboten commented on #5269
thanks @yuriolisa!

[2022-05-12 22:41] #5269 closed

[2022-05-12 23:06] dmitryax commented on #5358
It looks like we are trying to go beyond [go1 stability guarantees](https://go.dev/doc/go1compat) here. They have this particular exception:

Also AFIAK unkeyed struct literals are usually failing to pass linters and generally discouraged.

Another potential breaking change can be caused by adding another struct member when downstream embeds our struct along with another struct that already has a

[2022-05-13 04:02] bogdandrutu commented on #5358
I am fine to do nothing if we allow adding new fields and reordering in this structs. I think we need to clarify in our versioning doc

[2022-05-13 14:42] bogdandrutu commented on #5334
There are few followups correct? We need to generate the min/max setter/getter for the histograms?

[2022-05-13 14:43] bogdandrutu commented on #5334
Bummer, commented on the wrong PR, you already track that.

[2022-05-13 15:28] jvaesteves opened #5360 "How to consume metrics from OTLP-HTTP exporter"
I have been trying to deploy a web application in Python for to consume metrics from a OLTP Collector (with GZIP compression disabled), but unfortunately I'm always receiving the metrics in a format that I can't decode on the server. Here is a snippet example of this consumer:

[code]

I have already tried the following:

1. Just use the Protobuf Parser on the snippet (TypeError: cannot use a stri

[2022-05-13 22:27] #4605 closed

[2022-05-16 07:40] dudicoco opened #5370 "Deploying as a daemonset"
Hi,

I don't see anywhere in the docs on how the client/exporter should be configured when the collector is deployed as a daemonset.
It seems to me that in order to make a daemonset useful you MUST set `hostNetwork: true` and then set the clients to export the traces to the node IP: https://stackoverflow.com/questions/50216813/exposing-a-daemonset-service-for-consumption-by-pods-on-the-same-node.

[2022-05-16 19:30] bogdandrutu commented on #5358
@dmitryax can you add this to the "versioning" doc that we have?

[2022-05-17 08:48] jvaesteves commented on #5360
https://github.com/open-telemetry/opentelemetry-proto/blob/main/opentelemetry/proto/metrics/v1/metrics.proto

[2022-05-17 08:48] #5360 closed

[2022-05-17 17:04] codeboten opened #5375 "Add status header to all components"
In an effort to make finding the state of each component easier, the README for each component should contain a table which includes:

- stability level
- supported pipelines
- distributions which contain the component

See https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/10006 for an example table with embedded links:

[code]

### Exporters

- [x] #5388
- [x] #5374
- [x] #53

[2022-05-17 17:05] codeboten opened #5376 "Add status header for otlp"

[2022-05-17 19:25] #5376 closed

[2022-05-17 19:58] codeboten opened #5380 "add support for histogram min/max"

[2022-05-18 01:34] fatsheep9146 commented on #4996
I read all PRs related to this issue. I think the whole configauth package should be moved to extension package, for example `extension/authextension`.  Do I understand this correctly? If it's ok I'd love to help with this :) @jpkrohling @bogdandrutu @dmitryax

[2022-05-18 15:16] codeboten opened #5386 "Add status header for otlphttp"

[2022-05-18 15:18] codeboten opened #5388 "Add status header for logging"

[2022-05-18 15:24] codeboten opened #5390 "Add status header for memorylimiter"

[2022-05-18 15:24] codeboten opened #5391 "Add status header for batch"

[2022-05-18 15:41] #5390 closed

[2022-05-18 17:10] stevenlii opened #5394 "run .\otelcol.exe in windows appear Error: invalid map resolver config: no URIs"
Error: invalid map resolver config: no URIs
2022/05/19 00:43:59 collector server run finished with error: invalid map resolver config: no URIs

run .\otelcol-contrib.exe
2022/05/19 00:43:33 proto: duplicate proto type registered: jaeger.api_v2.PostSpansRequest
2022/05/19 00:43:33 proto: duplicate proto type registered: jaeger.api_v2.PostSpansResponse
Error: invalid map resolver config: no URIs
202

[2022-05-18 20:59] dmitryax commented on #5370
@dudicoco this repo is for core collector functionality. Which distribution, helm chart or operator are you using?

[2022-05-18 23:48] bogdandrutu commented on #5394
Need to pass a config file `.\otelcol.exe --config=path\to\config.yaml`

[2022-05-19 08:20] dudicoco commented on #5370
@dmitryax i'm referring here to the documentation on how to run the collector as a daemonset: https://opentelemetry.io/docs/collector/getting-started/#kubernetes
After fishing into the code in the operator repo and discussing with @TylerHelmuth on slack, these are my conclusions:
1. The daemonset ports need to be exposed within the host:
[code]
2. The client configuration need to use the k8s downw

[2022-05-19 15:54] #5358 closed

[2022-05-19 17:32] tigrannajaryan opened #5398 "Allow specifying Collector's own Resource in the config"
In order to allow external Supervisor to control the Collector we want to the Supervisor to be able to tell the Collector to use a specific `service.instance.id` instead of auto-generating one.

One of the ways to allow this is to add a sub-section in the `service.telemetry` config section where any Resource attributes can be specified. This allow to specify not only `service.instance.id`, but als

[2022-05-19 17:34] tigrannajaryan commented on #4272
This should be likely replaced by https://github.com/open-telemetry/opentelemetry-collector/issues/5398 instead.

[2022-05-19 21:11] #5380 closed

[2022-05-19 21:28] #5333 closed

[2022-05-19 21:37] jack-berg commented on #3262
Can a byte size limiting option be implemented by counting the bytes of the in memory representation of the records? Obviously being a generic component its not possible for the batch processor to know the final serialized size of an unknown downstream exporter, but each exporter likely has a semi predictable translation ratio between the size of the in memory representation and the serialized rep

[2022-05-20 00:34] #5354 closed

[2022-05-20 00:34] #5337 closed

[2022-05-20 00:35] dmitryax opened #5403 "[builder] TestGenerateAndCompileDefault ant TestSkipGenerate are failing on Windows"
[code]

See https://github.com/open-telemetry/opentelemetry-collector/runs/6517064706?check_suite_focus=true

[2022-05-20 14:55] neelayu commented on #5228
@bogdandrutu

Correct me if I am wrong, but the envmapprovider is basically a replacement for file or yaml map providers, i.e you can have a partial or full configuration stored in an environment variable which you can specify in the `--config` flag.
What the need is to support the the substitution in `expandmapconverter`, similar to what we had in #4458

I believe these are two different provisio

[2022-05-20 16:59] tigrannajaryan opened #5404 "Remove AddCollectorVersionTag const"
Is [AddCollectorVersionTag](https://github.com/open-telemetry/opentelemetry-collector/blob/c56d20e9e0afccc43179da12f60e24e5729caca9/service/telemetry.go#L49) const necessary?

In theory this is possible to overtime when building, but does anyone really ever do that? Looking at the [PR](https://github.com/open-telemetry/opentelemetry-collector/pull/4140) that introduced it I think  this was done ou

[2022-05-22 15:41] dudicoco opened #5405 "Collector downtime when deployed as a daemonset"
Hi,

When rolling out a daemonset collector, old pods will be removed before new pods are created.
This is not a problem with logs because they are stored in a volume, or with metrics because the datapoints have larger intervals.
However with traces this means that spans will be lost during the rollout since the daemonset endpoint is unavailable until a new pod is up and ready to receive traffic.

[2022-05-22 19:14] TylerHelmuth commented on #5405
The gap in availability you've pointed out is real, but I don't know of any k8s rollout strategy that would solve the issue.

The last time I timed it, the rollout for a single pod of the collector was about 10-30 seconds.  Not insignificant, but also not terrible. If losing data in that window is a concern you could try to isolate daemonset updates to low traffic times.

[2022-05-22 19:16] TylerHelmuth commented on #5370
@dudicoco I would recommend contributing this documentation somewhere on opentelemetry.io

[2022-05-23 02:41] dmitryax commented on #5370
Feel free to submit a PR for documentation update in https://github.com/open-telemetry/opentelemetry.ioa and ping @TylerHelmuth and me

[2022-05-23 14:36] mx-psi commented on #4584
There is still a need. The config package is not being removed, it's just being moved to a different place in the repository.

[2022-05-23 16:35] CatherineF-dev opened #5409 "ProtoUnmarshaler is not back-compatible when metric double value is 0"
**Describe the bug**
Metric value (double=0) is not deserialized in v0.37, where metrics bytes are serialized using v0.28.
[code]

**Steps to reproduce**
0. Create a gauge metric with double value = 0
[code]
1. Use open-telemetry-collector v0.28 serialize this metric data into bytes.
[code]

2. Use open-telemetry-collector v0.37 deserialize bytes into metricData
[code]

**What did you expect to se

[2022-05-24 01:20] dmitryax commented on #5405
Instrumentation libraries should be configured (I believe by default) to retry on failure, so spans are buffered during the collector downtime and flushed once it's back.

[2022-05-24 01:24] dmitryax commented on #5405
@dudicoco I'm closing the issue. Feel free to reopen if any other clarification needed

[2022-05-24 01:49] CatherineF-dev commented on #5409
After binary search, this special case began since https://github.com/open-telemetry/opentelemetry-collector/pull/3708/

When value is 0, the deserialized  metric value is nil:
1. serialize: Gauge metric (value=0) ---> bytes
2. deserialize: bytes ---> nil

---

It worked when metric type is pdata.MetricDataTypeGauge.

https://github.com/open-telemetry/opentelemetry-collector/blob/638c96cbbe365997f

[2022-05-24 07:59] dudicoco commented on #5405
@dmitryax I don't think retry solves the problem, a few of reasons come to mind but there might be more:
1. During the down time there could be a high number of pods retrying and keeping the traces within the buffer, this can even be 100 pods for one node, and if they have more than one container which sends traces that's 200 containers. Once the down time is over the daemonset pod will need to ha

[2022-05-24 16:21] dmitryax commented on #5405
If you have 200 containers sending traces to one collector, the collector has to be configured accordingly to have higher memory and CPU reservation to handle such spikes

There is such possibility. I believe the buffer configuration on the instrumentation libraries can be adjusted if higher guarantees against drops are needed. This will require more memory tho.

You're right deployment is a bette

[2022-05-24 20:58] siliconbrain opened #5414 "Proposal for pipeline branching in the OpenTelemetry Collector"
This document describes the notion of *pipeline branching* in the context of the OpenTelemetry collector, tries to argue and demonstrate its usefulness in different use cases supported by real world examples.

## What is pipeline branching?

In the context of the OpenTelemetry Collector, a **pipeline** is *"a path the data follows in the Collector starting from reception, then further processing o

[2022-05-24 23:29] bogdandrutu commented on #5404
if anything a `featuregate` may be more appropriate, but I agree the constant is not good.

[2022-05-24 23:31] #5394 closed

[2022-05-24 23:41] denny6389 opened #5413 "AWS ECS Opentelemetry Collector"
**Describe the question**
Is it possible to setup a collector on aws ECS as a sidecar and export trace data to kafka?

I know there is adot collector which is specifically for aws services but adot collector currently does not support kafka exporter.

Im already using Opentelemetry operator for EKS, and I made a tracing pipeline: collector as a sidecar -> Kafka -> collector as a deployment.

I wan

[2022-05-25 11:45] dudicoco commented on #5405
@dmitryax daemonset is one of the suggested deployment options here: https://opentelemetry.io/docs/concepts/data-collection/#deployment

In the getting started k8s guide daemonset is defined in the k8s manifest: https://opentelemetry.io/docs/collector/getting-started/#kubernetes

Daemonset is the default deployment option in the official helm charts: https://github.com/open-telemetry/opentelemetry

[2022-05-25 15:10] codeboten opened #5415 "Release v0.52.0"
Like #4522, but for v0.52.0

- [x] #5416
- [x] #5421
- [x] #5422
- [x] #5423
- [x] #5424
- [x] #5425
- [x] https://github.com/open-telemetry/opentelemetry-operator/issues/890

[2022-05-25 15:10] codeboten opened #5416 "Prepare core release v0.52.0"

[2022-05-25 16:58] dmitryax commented on #5405
`deamonset` is preferred because it can handle all three telemetry types. To achieve high availability for tracing in "gateway" mode, deployment is preferable. Feel free to submit a PR to add a note to the docs for tracing HA use case

[2022-05-25 16:59] jefchien opened #5418 "OpenTelemetry Config Marshaler"
**Is your feature request related to a problem? Please describe.**
New projects transitioning to OpenTelemetry need a way to translate their existing configs to the expected OpenTelemetry format. This can be done programmatically by unmarshaling the existing config and mapping it to the OpenTelemetry config struct. Currently, there isn't an easy way to marshal the OpenTelemetry config struct.

**D

[2022-05-25 17:00] danielgblanco commented on #3262
I think being able to batch by in-memory bytes, although it wouldn't be accurate without knowing the exporter representation, would give a more accurate way of defining batch limits than item count when the receiver expects payloads to be of a given size.

Systems that behave better with a more constant payload size would also benefit from this as well, regardless of payload limits, as currently t

[2022-05-25 17:02] jefchien commented on #5418
https://github.com/open-telemetry/opentelemetry-collector/issues/800 is a similar issue.

[2022-05-25 17:24] jefchien commented on #5418
Please assign this issue to me.

[2022-05-25 18:12] #5416 closed, assigned to codeboten

[2022-05-25 18:42] codeboten opened #5421 "Tag and release core v0.52.0"

[2022-05-25 18:42] codeboten opened #5422 "Prepare contrib release v0.52.0"

[2022-05-25 18:42] #5421 closed

[2022-05-25 19:54] #5422 closed

[2022-05-25 20:03] codeboten opened #5423 "Tag and release contrib v0.52.0"

[2022-05-25 20:10] ronakk-google commented on #4328
Do we have any workaround for this?

[2022-05-25 20:37] codeboten commented on #5423
Done https://github.com/open-telemetry/opentelemetry-collector-contrib/releases/tag/v0.52.0

[2022-05-25 20:37] #5423 closed

[2022-05-25 20:37] codeboten opened #5424 "Prepare otelcol-releases v0.52.0"

[2022-05-25 20:39] codeboten opened #5425 "Release binaries and container images v0.52.0"

[2022-05-25 21:14] #5424 closed

[2022-05-25 21:16] codeboten opened #5426 "Release the operator v0.52.0"

[2022-05-25 22:00] codeboten commented on #5425
Done: https://github.com/open-telemetry/opentelemetry-collector-releases/releases/tag/v0.52.0

[2022-05-25 22:00] #5425 closed

[2022-05-25 22:02] codeboten commented on #5426
Replaced by https://github.com/open-telemetry/opentelemetry-operator/issues/890

[2022-05-25 22:02] #5426 closed

[2022-05-25 22:46] codeboten opened #5428 "Add status header for zpages"

[2022-05-25 22:46] codeboten opened #5429 "Add status header for ballast"

[2022-05-26 03:16] pureklkl opened #5430 "configtls/README.md gives wrong default max TLS version"
**Describe the bug**
The default max TLS version in readme is 1.3 but looking at the code
https://github.com/open-telemetry/opentelemetry-collector/blob/main/config/configtls/configtls.go#L183
which called method convertVersion at
https://github.com/open-telemetry/opentelemetry-collector/blob/main/config/configtls/configtls.go#L242
It gives default to be 1.2.

**Steps to reproduce**
If you let max

[2022-05-26 06:27] sokoide opened #5431 "Add Move() function in pdata slices"
**Is your feature request related to a problem? Please describe.**
We are making a spanevent filter processor which filters out unnecessary filters per span based on rules we define.
Currently, we do it as below. However, RemoveIf and CopyTo are not efficient because it iterates all span events and causes a memory copy.

[code]

**Describe the solution you'd like**
We'd like to add `Move` function

[2022-05-26 15:04] atingchen commented on #4817
Hi @sethAmazon @tigrannajaryan , I submit PR   https://github.com/open-telemetry/opentelemetry-collector/pull/5433 to implement unmarshal metrics with jsoniter for better performance in the OTLP HTTP JSON case.

[2022-05-26 19:40] #5375 closed

[2022-05-26 19:40] #5428 closed

[2022-05-26 19:40] #5429 closed

[2022-05-26 19:41] #5398 closed

[2022-05-27 00:32] bogdandrutu commented on #5431
I am very confused, because your proposed solution is way slower than `RemoveIf` which is exactly defined for this use-case.

[code]

If anything, you need a `Clear` func. For `MoveTo` that you propose I don't see a good reason to have when we have `MoveAndAppendTo`.

[2022-05-27 03:52] sokoide commented on #5431
@bogdandrutu, thank you for the example. Here is what we'd like to achieve.

We'll filter out events based on our query with Goyacc and get the filtered events as `filteredEvents` in our span event filter processor.
Then the processor sets it back to the original span's `span.Events()` like this.

[code]

If we use `RemoveIf` (to clear the orig) and `MoveAndAppendTo` to replace it, it'll iterates

[2022-05-27 13:58] jmichalak-fluxninja opened #5437 "ExtensionDefaultConfigFunc should be ExtensionCreateDefaultConfigFunc"
**Is your feature request related to a problem? Please describe.**
I use `type ExtensionDefaultConfigFunc` from `component` package to implement custom config generators. I noticed that in this package we have the following types :
[code]
I think it should be renamed to `ExtensionCreateDefaultConfigFunc` for consistency, especially that this type has `CreateDefaultConfig()` method.
**Describe the

[2022-05-27 15:14] tigrannajaryan opened #5438 "Ability to access Collector's executable's version number programmatically"
For Agent Management the Supervisor [needs a way](https://docs.google.com/document/d/1KtH5atZQUs9Achbce6LiOaJxLbksNJenvgvyKLsJrkc/edit#heading=h.ioikt02qpy5f) to fetch the version of the Collector's executable it is supervising.

There are a few options:
- Have a manifest file with version number recorded in it and include the manifest in Collector's installation packages.
- Try to fetch version n

[2022-05-27 18:36] djaglowski commented on #5414
@siliconbrain, thank you for this detailed proposal. I think you've laid all of this out in fantastic detail and made a compelling argument that some form of routing is necessary. I am one of the original authors of stanza and continue to maintain the donated codebase within the OTel project, so I can certainly appreciate the use cases you are targeting here.

As you can imagine, some of these sam

[2022-05-28 00:11] dmitryax commented on #5413
@denny6389 Yes it's possible. I believe you can use [instructions from ADOT repo](https://github.com/aws-observability/aws-otel-collector/blob/main/docs/developers/ecs-demo.md) just replace the image to https://hub.docker.com/r/otel/opentelemetry-collector-contrib

[2022-05-28 00:14] #5405 closed

[2022-05-28 00:23] dmitryax opened #5439 "[pdata] Optional field accessors don't provide a way to clear the optional value"
Optional fields (e.g. `HistogramDataPoint.Max`) can be empty, but there is no way to set the field to the empty state with the interface that pdata provides.

[2022-05-28 00:23] dmitryax commented on #5439
@bogdandrutu @codeboten let me know if you agree that it's needed

[2022-05-30 00:16] denny6389 commented on #5413
@dmitryax Thank you for your answer! I should definitely try out. Just one more question, does it have to be **opentelemetry-collector-contrib**? cuz I believe regular opentelemetry-collector already has a kafka exporter.

[2022-05-30 02:57] dmitryax commented on #5413
Yes, looks like `opentelemetry-collector` should work as well

[2022-05-30 06:50] siliconbrain commented on #5414
@djaglowski, your comment is very much appreciated!

I had a hunch it would be so, hence the backup proposal. 🙂 Could you give me some insight as to why that is? Also, to me, the routing processor seems to clearly break those expectations.

It was pleasant to read your proposal and see that we're not alone with missing a feature like this. Indeed, your proposal suggests something very similar to o

[2022-05-31 13:47] dmitryax commented on #5263
@gbbr yes, it's on track. the schedule for this change is posted in the description

[2022-05-31 17:27] CatherineF-dev commented on #5409
It's discussed in https://github.com/open-telemetry/opentelemetry-proto/issues/398 instead. Since it's related to metrics proto.

[2022-05-31 17:36] bogdandrutu commented on #5439
This is an addition, so I would not add it until a clear need for it.

[2022-05-31 17:39] bogdandrutu commented on #5431
Please write your `EvaluateStatementWithSpans` because I don't understand why (if you care about performance) you do create an intermediate slice `filteredEvents` instead of filtering in place using `RemoveIf`

[2022-05-31 18:15] bogdandrutu opened #5443 "[Proposal]: Enhance [*]Flags to not need [*]Flag, and to simplify usage"
**Current API(s):**

Right now users can check for a specific flag by using `HasFlag` API, which hides some complicated logic of using bit operations, but requires multiple structs/types.

[code]

**Proposal API:**

Essentially hide the bit operation from the users and provide helpers to access different flags from the bitset

[code]

[2022-06-01 07:50] mx-psi commented on #5438
To me what sounds most reasonable is to have an HTTP endpoint that you can query, followed by the manifest. I don't have the full context on why we need this, but I don't know if this would work very well with distros that follow an independent versioning scheme. Is that something that is accounted in the Supervisor's design?

[2022-06-01 16:18] bogdandrutu commented on #5438
If you run the docker, you can use the image tag?

[2022-06-01 16:23] mx-psi commented on #5438
Thanks for the context @tigrannajaryan, I didn't realize that. I still don't understand why we want the Collector version (since different distros can have different versioning schemes, see e.g. the AWS distro which is currently at v0.18.0 but uses components from v0.51.0), it feels like to make this work in all distros what we want to have is either the protocol version supported or a way to ask

[2022-06-01 16:45] tigrannajaryan commented on #5438
@mx-psi Think of a central configuration Server where you can specify configurations per Collector distro/version combo. The Supervisor will connect to this Server (using [OpAMP](https://github.com/open-telemetry/opamp-spec)), ask for a configuration for the Collector that the Supervisor needs to supervise. The Server will return the appropriate configuration, the Supervisor will save it as a loca

[2022-06-01 16:47] tigrannajaryan commented on #5438
If tags are readable by processes running inside the container then yes, this is a good option for dockerized Collector. We still need a way for non-dockerized distributions (rpm, etc.).

[2022-06-01 19:28] djaglowski commented on #5414
Basically because the design is easy to understand and is already in place, works for most use cases, and it appears to be sufficient to build upon for other use cases (via connectors or other similar mechanism). I agree that the routing processor is not really conformant to the expected data flow. I believe I've heard this sentiment from others as well, and there is a desire to reconcile this eve

[2022-06-02 06:14] denny6389 opened #5454 "Collector docker image custom config"
**Describe the question**
Is there any way to make a custom config file for Opentelemetry collector docker image? I just need a specific receiver and exporter but the default one has too many resources.

Thank you in advance.

[2022-06-02 08:24] sokoide commented on #5431
Hi @bogdandrutu,
Here is our simplified process. Thank you for your advise!

Our spanevent filter processor uses a grammer like this. We are going to change it more like TraceQL later.
[code]

The query is parsed and stored as `stmt` (parse tree) when the processor instance is created. The `EvaluateStatementWithSpans` is called in the processor pipeline.
[code]

And the `EvaluateStatementWithSpans

[2022-06-02 11:45] sokoide commented on #5431
@bogdandrutu, thank you very much for your kind reply with the advice! I finally understood the purpose of `RemoveIf` during our filtering. I'll close the request.

[2022-06-02 11:45] #5431 closed

[2022-06-02 16:14] #5413 closed

[2022-06-02 16:17] bogdandrutu commented on #5409
Closing this, since the discussion was moved to proto, and we respected the instructions from proto repo when transition from 0.7.0 -> 0.8.0

[2022-06-02 16:17] #5409 closed

[2022-06-02 16:32] bogdandrutu commented on #5320
Fixed in https://github.com/open-telemetry/opentelemetry-collector/pull/5399

[2022-06-02 16:32] #5320 closed

[2022-06-02 16:58] bogdandrutu commented on #5228
We are very close to propose for merging https://github.com/open-telemetry/opentelemetry-collector/pull/4742 which will use the same providers also inside the config ymal.

[2022-06-02 17:01] tanner-bruce opened #5456 "Back pressure instead of dropping spans while using `sending_queue`"
**Is your feature request related to a problem? Please describe.**
When using a pull based receiver alongside an exporter using the parallel `sending_queue`, it is possible for the receiver to quickly overload the pipeline, and start dropping spans, if the exporter is slower than the receiver.

**Describe the solution you'd like**
Having a setting to allow the in memory queue to block, instead of

[2022-06-02 17:06] bogdandrutu commented on #5456
Why not implementing that in the receiver, check that you get an error and take the according action? We try to keep the design very simple, and ensure that the pipeline returns immediately and the "caller" will take the right action. This is because in case of a "push" receiver you don't want to block the call, but let the caller know that you are having troubles.

[2022-06-02 17:32] tanner-bruce commented on #5456
Do you mean don't use the sending queue at all and instead reimplement it in my receiver? Or check if the error returned is `errSendingQueueIsFull = errors.New("sending_queue is full")` and busy loop until it's successful?

[2022-06-02 19:50] mhellsten-ml commented on #5454
@denny6389, you can mount your config file at /etc/otel-collector.yaml to override the default one.

[2022-06-02 19:54] mhellsten-ml opened #5458 "latest tag for docker image is old"
The "latest" tag points to version 0.35 which is confusing.

[2022-06-02 20:26] #5437 closed

[2022-06-02 21:52] dixanms opened #5460 "Extend configuration syntax so received metadata or span attributes can be used as dynamic values to set on processors or exporters"
**Is your feature request related to a problem? Please describe.**

- Need to pass through metadata from a grpc receiver, into an otlp exporter header

**Describe the solution you'd like**

[code]

or

[code]

[2022-06-02 21:55] tanner-bruce commented on #5456
Yes, we need to slow down the producer, which is inside a receiver. We are thinking to completely remove the sending queue and instead rely on parallelism from the receiver end to avoid a busy loop or a backoff retry loop, although this means we cannot use batching in the pipeline. This is fine in this case because these trace bundles are pre batched. If this doesn't work, we can roll our own queu

[2022-06-02 22:36] codeboten commented on #5458
This issue is tracked in the releases repo, as the docker image is published from there: https://github.com/open-telemetry/opentelemetry-collector-releases/issues/73

[2022-06-02 22:36] #5458 closed

[2022-06-03 08:28] hickeyma commented on #5454
Looking at [Dockerfile](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/cmd/otelcontribcol/Dockerfile#L15), you might need to mount it to `/etc/otel/config.yaml`

[2022-06-03 09:18] denny6389 commented on #5454
I will give it a try. Thank you!!

[2022-06-03 12:07] bogdandrutu commented on #5309
@arminru @dyladan can you help, sorry I missed this issue before

[2022-06-03 12:11] bogdandrutu commented on #5319
A bit confused on how that will work. The `otlp` exporter uses `gRPC` which comes with some "path" requirements already, so how would that combine with the given `path` from the endpoint?

For the `http` exporter, you can `otlphttp` which has capability of customizing the path for traces/metrics/logs endpoints, see `traces_endpoint` in https://github.com/open-telemetry/opentelemetry-collector/tree

[2022-06-03 12:15] arminru commented on #5309
@bogdandrutu That's AppDynamics, not us 🙂
@mhosabettu @scheler can you take a look?

[2022-06-03 12:47] bogdandrutu commented on #5102
Closing this, since the option to create a zero timestamp is there. Feel free to propose API improvements in a separate issue/pr

[2022-06-03 12:47] #5102 closed

[2022-06-03 12:52] bogdandrutu commented on #4730
This is done, the `confmap.Resolver` does that.

[2022-06-03 12:52] #4730 closed

[2022-06-03 12:53] bogdandrutu commented on #4716
This is done, @tigrannajaryan  added a hacky "resource".

[2022-06-03 12:54] bogdandrutu commented on #4698
Done. I was right we should have done the interface, but during that time we had people just complaining about any change.

[2022-06-03 12:54] #4698 closed

[2022-06-03 12:56] bogdandrutu commented on #4671
Happy to support this, but we need to look into:
1. Avoid having multiple ways of printing same thing, right now we already have "--version" flag.
2. Define what format to use (yaml, json, free text)?

[2022-06-03 12:59] bogdandrutu commented on #4568
I believe that this is supported by the transform processor.
/cc @TylerHelmuth if more work is needed, please open an issue in contrib

[2022-06-03 13:09] bogdandrutu commented on #273
We already have implemented the logic to do restart, but we do not have the logic to "watch" for file change. See https://github.com/open-telemetry/opentelemetry-collector/blob/main/confmap/provider/fileprovider/provider.go#L49 where we don't do anything with `confmap.WatcherFunc`

[2022-06-03 13:15] bogdandrutu commented on #1005
We created a "builder" that allows users to easily create smaller custom builds.

[2022-06-03 13:15] #1005 closed

[2022-06-03 13:16] #1663 closed

[2022-06-03 13:17] bogdandrutu commented on #1591
This is done by #4737

[2022-06-03 13:17] #1591 closed

[2022-06-03 13:18] bogdandrutu commented on #1413
Already in `component.TelemetrySettings`

[2022-06-03 13:18] #1413 closed

[2022-06-03 13:20] bogdandrutu commented on #1492
This can be marked as done in core, if still needed will reopen in contrib

[2022-06-03 13:20] #1492 closed

[2022-06-03 13:21] bogdandrutu commented on #5309
Sorry, this is what happens when you wake up too early :))

[2022-06-03 13:32] bogdandrutu commented on #2190
done.

[2022-06-03 13:32] #2190 closed

[2022-06-03 13:37] TylerHelmuth commented on #4568
The processor is ready to have this functionality added, but there isn't a function yet that can do this exact request. Attributes can be set on Data Points, but there is not any pattern matching yet.

[2022-06-03 13:37] bogdandrutu commented on #2058
I think is fixed https://github.com/open-telemetry/opentelemetry-collector/blob/main/examples/k8s/otel-config.yaml#L55

[2022-06-03 13:37] #2058 closed

[2022-06-03 13:41] bogdandrutu commented on #857
Closing as a "sub-task" of https://github.com/open-telemetry/opentelemetry-collector/issues/2070

[2022-06-03 13:41] #857 closed

[2022-06-03 13:43] bogdandrutu commented on #4617
Closing this per the response from @jpkrohling

[2022-06-03 13:43] #4617 closed

[2022-06-03 13:43] bogdandrutu commented on #3488
Closing per no activity

[2022-06-03 13:43] #3488 closed

[2022-06-03 17:53] pavankrish123 commented on #5309
No, Otel collector is a separate process next to the Java Agent (either as an agent or gateway). Please refer to https://opentelemetry.io/docs/ for more information on the architecture.

Nope, since otel collector is a separate process you [need to download otel collector ](https://github.com/open-telemetry/opentelemetry-collector-releases/releases) (suggest using contrib in case  if we want to us

[2022-06-03 19:09] HaroonSaid commented on #5454
We use AWS ECR build our local images, using a simple bash script,
[code]
The Dockerfile
[code]

[2022-06-04 15:16] fatsheep9146 commented on #4902
@bogdandrutu @jpkrohling I've tried to implement this, could you help review this?

[2022-06-05 00:16] dmitryax opened #5476 "[pdata] Map.Delete mutates values that referenced through Map.Get"
`Map.Delete` doesn't work as a clean map interface and mutates values returned by `Map.Get`. The following snippet

[code]

prints

[code]

instead of expected

[code]

[2022-06-05 00:19] dmitryax commented on #5476
@bogdandrutu I believe this is a side-affect of this change https://github.com/open-telemetry/opentelemetry-collector/pull/2017 . Not sure if it warrants bringing back the following Map representation

[code]

I would say we should. WDYT?

[2022-06-06 15:40] bogdandrutu commented on #5476
This is true for other slices, and I think we specifically told (was there at one point at least if I remember) in the description that instances returned by `At` and `Get` will be invalid if Remove or even add is called.

[2022-06-06 15:41] bogdandrutu commented on #5476
@dmitryax without that optimization we spend lots and lots of CPU allocating 1000s of small objects :))

[2022-06-06 16:26] bmhkb4 opened #5481 "How do you actually use any of this?"
**Is your feature request related to a problem? Please describe.**
I was forwarded to this repo by [Concourse](https://concourse-ci.org/tracing.html), but there is literally no information about how to run this on the README.

**Describe the solution you'd like**
I'd like to be able to read the README and figure out how to deploy or implement any of this.

[2022-06-06 16:29] #5481 closed

[2022-06-06 22:43] #5404 closed

[2022-06-07 04:31] tigrannajaryan commented on #4671
Related to https://github.com/open-telemetry/opentelemetry-collector/issues/5438

[2022-06-07 14:57] #4467 closed

[2022-06-08 08:03] mx-psi opened #5491 "Release v0.53.0"
Like #4522, but for v0.53.0

- [ ] Prepare core release v0.53.0
- [ ] Tag and release core v0.53.0
- [ ] Prepare contrib release v0.53.0
- [ ] Tag and release contrib v0.53.0
- [ ] Prepare otelcol-releases v0.53.0
- [ ] Release binaries and container images v0.53.0
- [ ] Release the operator v0.53.0

[2022-06-08 08:51] mx-psi opened #5492 "Prepare core release v0.53.0"

[2022-06-08 10:45] mx-psi opened #5494 "Tag and release core v0.53.0"

[2022-06-08 10:45] mx-psi opened #5495 "Prepare contrib release v0.53.0"

[2022-06-08 10:45] mx-psi opened #5496 "Tag and release contrib v0.53.0"

[2022-06-08 11:15] mx-psi opened #5497 "Prepare otelcol-releases v0.53.0"

[2022-06-08 13:26] yuriolisa commented on #5415
https://github.com/open-telemetry/opentelemetry-operator/releases/tag/v0.52.0

[2022-06-08 14:43] #5415 closed, assigned to codeboten

[2022-06-08 15:08] mx-psi commented on #5494
This is now done! https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.53.0

[2022-06-08 15:08] #5494 closed

[2022-06-08 16:19] #5495 closed

[2022-06-08 16:36] mx-psi opened #5498 "Release binaries and container images v0.53.0"

[2022-06-08 16:54] mx-psi opened #5501 "Release the operator v0.53.0"

[2022-06-08 17:01] mx-psi commented on #5496
Contrib is tagged, and the Github release is in the oven and should happen automatically soon

[2022-06-08 17:01] #5496 closed

[2022-06-08 17:50] #5497 closed

[2022-06-08 20:21] bogdandrutu commented on #5498
It is done.

[2022-06-08 20:22] #5498 closed

[2022-06-08 21:51] bogdandrutu commented on #4264
Will not fix inside the collector. The "supervisor" can do this, the collector config logic will not support this behavior.

[2022-06-08 21:51] #4264 closed

[2022-06-08 21:55] #2374 closed

[2022-06-08 21:56] bogdandrutu commented on #4272
https://github.com/open-telemetry/opentelemetry-collector/issues/5398 is done

[2022-06-08 21:56] #4272 closed

[2022-06-08 22:03] #273 closed

[2022-06-08 23:53] bogdandrutu commented on #5325
See https://github.com/open-telemetry/opentelemetry-collector/pull/5507

[2022-06-08 23:55] bogdandrutu commented on #3482
Telemetry can now be configured in the main config file.

[2022-06-08 23:55] #3482 closed

[2022-06-09 08:52] yuriolisa commented on #5501
I'll take care of this.

[2022-06-10 03:04] ringerc commented on #5325
Thankyou very much @bogdandrutu and @mx-psi

I think that would probably satisfy the use case. Using env-var based config snippets defined in a separate k8s `ConfigMap` would make it feasible to handle under the control of the `opentelemetry-operator`, too.

I'll report back, but I'll close this now as I think it's likely that your suggestions would be sufficient. I'll see about adding a note to t

[2022-06-10 03:04] #5325 closed

[2022-06-13 09:21] pichlermarc opened #5518 "[exporter/logging] Histogram `min` and `max` fields are not logged."
**Is your feature request related to a problem? Please describe.**
The metrics `logging` exporter currently does not log `min` and `max` fields in Histograms in Histograms and Exponential Histograms.

**Describe the solution you'd like**
The `logging` exporter should also log `min` and `max` fields in Histograms and Exponential Histograms.

[2022-06-13 09:22] pichlermarc commented on #5518
I can start working on this right away :slightly_smiling_face:

[2022-06-13 09:27] pichlermarc commented on #5312
The same thing happened with `min` and `max` that were recently added to the Histogram data point. When sending `min` and `max` the whole request is dropped collector versions <0.52.

[2022-06-13 17:01] codeboten opened #5527 "Sum field in exponential histogram datapoint should be optional"
Currently the field in pdata is not optional, it should be.

[2022-06-13 17:10] codeboten opened #5528 "update OTLP to v0.18.0"

[2022-06-13 17:27] naveenkumarthangaraj opened #5529 "Keeps Exporting the Last Value Set for Metric"
HI Team,

I am referring the examples for Python Metric from the sample from below link but it is exporting the last passed value automatically. It will stop after 8 - 10 mins.

is it problem in the python sdk or collector or exporter?

[https://github.com/open-telemetry/opentelemetry-python/tree/main/docs/examples/metrics](https://github.com/open-telemetry/opentelemetry-python/issues/url)

Packag

[2022-06-13 17:40] jainaashish opened #5531 "Exporting metdata of the collected data"
Hi

Is there a way to export metadata of the collected data from OpenTelemetry collector? Fo example, for collected metric data, I want to know what is the metric name? associated Tags? timestamp of the data? etc...

Is there already an extension which can help get this metadata? if not, is it possible to build such extension with current features? Appreciate any help or pointers in this regard.

[2022-06-13 19:57] #5527 closed

[2022-06-13 19:57] #5528 closed

[2022-06-14 23:30] singku opened #5539 "Any plan to support string value for Gauge metrics?"
In our case, we want to monitor Redis node's role and redis_version, which are strings.
Currently Gauge only supports int and double value type. Is there a plan to support string? Or is there a workaround?

[2022-06-15 11:36] fatsheep9146 commented on #5539
In such case, prometheus community has a practice, you can define a metrics called `redis_node_info` with three labels
- role
- version
- ip/host (or any key than you can identity one redis instance)

the series' value is default to 1

for example
[code]

[2022-06-15 11:44] yuriolisa commented on #5501
The issue can be closed as :

[2022-06-15 11:45] #5501 closed

[2022-06-15 13:41] bogdandrutu commented on #5539
This question should be on the specification repo. We cannot add support here without that being specified.

[2022-06-15 16:34] naveenkumarthangaraj opened #5545 "Expose Collector via fully qualified domain name (FQDN) & TLS"
### Discussed in https://github.com/open-telemetry/opentelemetry-collector/discussions/5540

<div type='discussions-op-text'>

<sup>Originally posted by **naveenkumarthangaraj** June 15, 2022</sup>
HI Team,

We are in process of the setting up the centralized collector for application push the traces. We had tested it with IP Address & TLS and it worked fine without any issues.

Now, we are planni

[2022-06-15 19:53] bogdandrutu opened #5548 "Change to a Factory pattern the pipelines.Builder"
https://github.com/open-telemetry/opentelemetry-collector/pull/5542#discussion_r898290518

[2022-06-16 06:30] hterik opened #5549 "New receiver that can tail a oltp json-file from disk"
**Is your feature request related to a problem? Please describe.**
We are running some test suites against a distributed embedded system. This test harness is mostly run offline (containerized), manually by testers. When some interesting event happens, we want to upload the results to a central database, some of these results include traces, that get uploaded to a Tempo instance consuming OLTP.

T

[2022-06-16 15:59] dashpole opened #5550 "Make consumererror a separate module, and include exporterhelper.NewThrottleRetry"
**Is your feature request related to a problem? Please describe.**

Context: https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/pull/433

I'd like to use consumererror outside of the upstream repositories in our library.

Right now consumererror isn't its own module, so it pulls in more dependencies than needed (which might make breaking changes to core harder).

Second, I think it

[2022-06-16 18:45] swiatekm-sumo commented on #4646
@bogdandrutu what do you think about making the batch processor conduct backpressure better in the meantime?

Currently, batch processor simply ignores consumer errors. If a transient error happens later in the pipeline, the data is effectively dropped and this information isn't propagated backwards. For example, this means that if we have an exporter with a full queue at the end of the pipeline,

[2022-06-17 13:59] tigrannajaryan commented on #4646
@swiatekm-sumo if you want to help with this it would be great if you could do the benchmarking to prove that we don't need the separate batch processor to have reasonable performance. If we can demonstrate this then we should eliminate the batch processor and make batching an exporterhelper feature. This would be more preferable than spending time improving the batch processor which we end up ret

[2022-06-17 18:46] zsiebers opened #5552 "Ability to convert metadata dimension to all lowercase"
## Important (read before submitting)
We are currently preparing for the upcoming 1.0 GA release. Feature requests that are not aligned with
the current roadmap https://github.com/open-telemetry/opentelemetry-collector/blob/main/docs/roadmap.md
and are not aimed at stabilizing and preparing the Collector for the release will not be prioritized.

I would like the ability to convert host.name to all

[2022-06-17 18:48] zsiebers commented on #5552
This same request was initially requested in #322 but was closed because it was deemed not urgent.

[2022-06-20 12:48] icyphox opened #5556 "Panic when exporting using otlphttp"
The collector crashes when trying to export traces using otlphttp. I'm running v0.51.0. Here is the stacktrace:

[code]

And this is the configuration I'm using:
[code]

[2022-06-20 13:07] fatsheep9146 commented on #5556
I think the problem maybe this line.

https://github.com/open-telemetry/opentelemetry-collector/blob/e734550422a01ff790dca26f5fd5ecacbfed36d2/config/confighttp/compression.go#L85

req.Body may be nil when the request is from client with Get Action

https://github.com/golang/go/blob/527ace0ffa81d59698d3a78ac3545de7295ea76b/src/net/http/request.go#L170-L172

[2022-06-20 15:26] hickeyma commented on #5309
@tejeswar-komma Did the feedback @pavankrish123 gave in https://github.com/open-telemetry/opentelemetry-collector/issues/5309#issuecomment-1146219741 help answer your questions?

[2022-06-20 16:36] TylerHelmuth commented on #5443
@bogdandrutu would `SetNoRecordedValue(false)` remove the flag?

[2022-06-20 17:23] tigrannajaryan commented on #4646
@swiatekm-sumo Sure, if there is a maintainer/approver who wants to review the batch processor improvements please feel free to go ahead with what you suggest (I won't be able to help review the improvements).

If you can help with benchmarking it will be an added bonus :-)

[2022-06-20 17:31] codeboten opened #5559 "Provide mechanism to print component stability statue information"
This is a followup to the discussion here https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/11133#pullrequestreview-1012583678 and the conversation had in the june 15th SIG meeting to provide a way for the collector to log state information about the components loaded.

[2022-06-21 14:46] bogdandrutu opened #5564 "Restructure packages from current "service" package"
This is a proposal to restructure current large "service" package with multiple dependencies, and too many features to match the configuration "service" part:

- [x] Will create a package under "service" directory for every config service subcomponent (telemetry, pipelines, extensions). These packages will follow the format:
    * `Config` struct for configuration, similar to all other components.

[2022-06-21 16:08] amoscatelli opened #5567 "prometheusremotewrite - out of order sample"
**Describe the bug**
Under load, prometheusremotewrite (in otel/opentelemetry-collector-contrib:0.53.0 docker image) from time to time drops metrics (from different source applications) because of a "out of order sample" error.

This seems similar to :
https://github.com/open-telemetry/opentelemetry-collector/issues/2315

**Steps to reproduce**
Running otel collector docker image.
Configure the ot

[2022-06-21 18:31] Godwinmoses93 opened #5568 "Need help in collecting server metrics - Disk/CPU #6197"
Hi All,

I am new to open-telemtry, I am trying to collect a Linux machines metrics such as CPU/Disk/Memory to display in cloudwatch.
I have installed open-telemetry collector in my Linux AWS instance and tried to run the docker container provided in the example. I was able to see application metrics pulled in, someone please help me how to collect the Infrastructure metrics, if there is any examp

[2022-06-22 02:47] pavankrish123 opened #5572 "Ability to propogate collectors self trace context beyong collector's boundary"
**Is your feature request related to a problem? Please describe.**

We would like to observe the request flow from collector through various processing services. Currently collector provides  starts a span when exporting a ExportRequest and ends it after completion of the request but it does not propagate the context (default setting). The spans could be viewed through zpages extension.

While zpa

[2022-06-22 04:44] fatsheep9146 commented on #5568
The target you want to collect cpu metric is linux AWS machine or the container running on the machine?

[2022-06-22 04:46] fatsheep9146 commented on #5061
Is this issue still open?

[2022-06-22 05:54] kushal-ti opened #5573 "Allow using operators in otlp logs receiver"
**Is your feature request related to a problem? Please describe.**
I'm using the OTLP receiver for collecting logs into the otel collector. The body of my logs is JSON but is always parsed as a string by the receiver. I maybe able to use [json_parser operator](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/pkg/stanza/docs/operators/json_parser.md) for this purpose, but

[2022-06-22 07:24] Godwinmoses93 commented on #5568
@fatsheep9146 , In the linux machine. Can I use open-telemetry as a agent to collect these metrics !
If I get some example Yaml or API command, I will create for others.

[2022-06-22 08:02] mx-psi commented on #5061
It is, #5083 was closed as stale

[2022-06-22 08:27] fatsheep9146 commented on #5061
Could I work on this?

[2022-06-22 08:32] mx-psi commented on #5061
Assigned :)

[2022-06-22 08:41] Godwinmoses93 commented on #5568
Post creating the Yaml, do we need to create any script to trigger the yaml ? or once the config.yaml edited we will be able to see in cloudwatch ?

[2022-06-22 09:01] fatsheep9146 commented on #5568
@Godwinmoses93 I think you should use hostmetrics receiver in your collector configuration, and [awscloudwatch exporter](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/awsemfexporter) to export metric to cloudwatch. something like
[code]

[2022-06-22 09:30] Godwinmoses93 commented on #5568
@fatsheep9146 , Thanks for the heads up man, I have created a Yaml file using this https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/hostmetricsreceiver but I am unable to see the metrics in the cloudwatch. Is there anything I need to trigger other than  sudo /opt/aws/aws-otel-collector/bin/aws-otel-collector-ctl -c </path/config.yaml> -a start ?

[2022-06-22 10:50] mx-psi commented on #4983
Should we transfer this to the releases repository?

[2022-06-22 15:26] Aneurysm9 opened #5575 "Release v0.54.0"
Like #4522, but for v0.54.0

- [x] Prepare core release v0.54.0
- [x] Tag and release core v0.54.0
- [x] Prepare contrib release v0.54.0
- [x] Tag and release contrib v0.54.0
- [x] Prepare otelcol-releases v0.54.0
- [x] Release binaries and container images v0.54.0
- [x] Release the operator v0.54.0

[2022-06-22 20:08] Godwinmoses93 commented on #5568
@mhausenblas or any  - I am trying to collect Infrastructure/Application/Services metrics using ADOT, Please suggest me how I can collect it and display in cloudwatch ! I am trying to collect it from EC2 instance either from a windows or any linux flavors.

[2022-06-22 20:59] #5263 closed

[2022-06-22 22:45] fatsheep9146 commented on #5568
Could you provide the logs of your collector?

[2022-06-23 00:42] #5454 closed

[2022-06-23 07:04] jpeach opened #5581 "Builder tool name is inconsistent"
**Describe the bug**
The builder tool is alternately named `ocb`, `builder` or `opentelemetry-collector-builder`, depending on where you look.

**Steps to reproduce**
Download a release binary, e.g. [ocb_0.54.0_darwin_amd64](https://github.com/open-telemetry/opentelemetry-collector/releases/download/v0.54.0/ocb_0.54.0_darwin_amd64)

[code]

**What did you expect to see?**
A consistent name for the

[2022-06-23 09:37] carlosjgp opened #5583 "[loggingexporter] Does not print anything on the logs pipeline"
**Describe the bug**
`logging` exporter does not print anything when used on the `logs` pipeline

**Steps to reproduce**
`my-values.yaml`
[code]
[code]

**What did you expect to see?**
LogEntries printed including all the attributes and resources. I'm trying to configure Loki exporter correctly

[code]

**What did you see instead?**
Nothing printed

**What version did you use?**
`otel/opentelemetr

[2022-06-23 09:57] fatsheep9146 commented on #5583
You mean 'Nothing printed' is that nothing is printed in stdout of otel-collector?

[2022-06-23 11:04] mx-psi commented on #4153
I can reproduce this on macOS on the Datadog Agent. Opened #5585 to fix this with the approach proposed by @pmalek-sumo, since I haven't been able to find a better solution. Note that the correct error code seems to be `syscall.EBADF` ("Bad file descriptor") instead of `syscall.EBADFD` ("File descriptor in bad state"). See [here](https://www.gnu.org/software/libc/manual/html_node/Error-Codes.html)

[2022-06-23 22:57] MovieStoreGuy opened #5588 "[pcommon.Map] Removal then Insert results in wrong value assigned."
**Describe the bug**
A clear and concise description of what the bug is.

Removing an attribute from `pcommon.Map` that is not the end of the internal list results in overwriting keys that it shouldn't be.
It only happens with a specific operation order to trigger this.

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.

[code]

Here I pick a value that would be in th

[2022-06-23 23:00] MovieStoreGuy commented on #5588
Sorry if that isn't coherent, covid has done a number on me.

You might find this interesting though @bogdandrutu , @tigrannajaryan

[2022-06-24 14:02] tigrannajaryan commented on #5588
This is by design since `Get` returns a reference to the element in attribute slice. Remove then shifts the elements, so the reference points to a different element.

However, I understand how this can be an unexpected behavior. I am not sure how we can fix this without significant performance impact (we can clone in Get and the surprising behavior will be gone, but cloning is expensive).

@bogdan

[2022-06-25 11:58] carlosjgp commented on #5583
Correct. I wondered if the receiver was not detecting the files correctly so I fiddled around with the path expressions
[code]
to `/var/log/containers/*.log` which is the path Fluentbit is currently using, although this is a set of symbolic links to `/var/log/pods` and `telemetry.logs.level: debug` then I get "No files match expression" such error is not shown with the default path `/var/log/pods/

[2022-06-27 08:37] yuriolisa commented on #5575
https://github.com/open-telemetry/opentelemetry-operator/issues/952

[2022-06-27 15:27] Blackclaws opened #5600 "Log - Trace Correlation before submission to exporter"
**Is your feature request related to a problem? Please describe.**
Currently there is a demand for adding application logs that were created during an active trace to the trace information:
https://github.com/open-telemetry/opentelemetry-dotnet/issues/3058

As I understand the goal of this project it is designed to be the catch-all receiver for metrics, traces and logs which then exports to multip

[2022-06-28 07:43] mx-psi commented on #5061
Reopening since we still have to:
1. remove `ToClient` in a future version
2. add it back with the 'correct' argument

[2022-06-28 07:55] fatsheep9146 commented on #5061
These two works should both be done until at least version v0.56.0?

[2022-06-28 08:00] mx-psi commented on #5061
@fatsheep9146 Yes, for now we have to wait!

[2022-06-28 19:37] djaglowski commented on #5583
@carlosjgp, are you sure the `filelog` receiver is in the appropriate pipeline? It is not in the example you provided.

[code]

[2022-06-29 12:34] MajaChen opened #5605 "cannot unmarshal the configuration: unknown receivers type "otlp" for "otlp" (valid values: [])"
**Describe the bug**
when I run the collector according to the doc:https://opentelemetry.io/docs/collector/trace-receiver/      I got a error:
"
Error: failed to get config: cannot unmarshal the configuration: unknown receivers type "otlp" for "otlp" (valid values: [])
2022/06/29 20:24:09 collector server run finished with error: failed to get config: cannot unmarshal the configuration: unknown re

[2022-06-29 12:51] #5605 closed

[2022-06-29 13:02] bogdandrutu commented on #5573
What is the "JSON" schema? Why not sending them as protobuf?

[2022-06-29 13:04] #5430 closed

[2022-06-29 13:29] mhausenblas commented on #5568
ADOT PM here. I did comment on https://github.com/aws-observability/aws-otel-collector/issues/1287 some 6 days ago concerning where we are in ADOT and what else you can use. Unsure what else the ask is, for ADOT.

[2022-06-30 12:45] amoscatelli opened #5610 "[processor/attributes] unable to add span custom attribute from custom header"
**Describe the bug**
By enabling include_metadata and using attributes processor I don't see http headers from the POST request on the otlp http endpoint added as span attributes.

**Steps to reproduce**
I have set include_metadata to true in my http otlp receiver
I try to upsert a span custom attribute using attributes processor just like in this readme:

https://github.com/open-telemetry/opentel

[2022-07-01 05:29] tejeswar-komma commented on #5309
Yes, thanks for your response.

[2022-07-01 05:29] #5309 closed

[2022-07-01 09:15] davidgargti20 opened #5611 "Suspected memory leak in batch processor"
While using batch processor for logs , the collector works fine for few time but suddenly a suspected memory leak occurs making memory to rise exponentially. No abnormality is recorded in the debug logs of the collector when this occurs.
Would be better if anyone help in knowing the possible cause for this in the batch processor.

[2022-07-01 09:17] fatsheep9146 commented on #5611
Can you share your configuration file?

[2022-07-01 16:09] mx-psi opened #5612 "Allow builder to use Go build tags/use go command flags"
It would be useful to have an option in the builder to pass Go build tags, so that we can test the functionality currently behind the `enable_unstable` build tag. We could either have an option to pass the build tags or have an option to pass arbitrary flags to the `go` command.

This would also help in open-telemetry/opentelemetry-collector-contrib/issues/11867 if we want to keep the `make otelco

[2022-07-01 16:43] FalconerTC opened #5613 "Support for External Metrics"
Are there any plans for building support for the Kubernetes External Metrics Provider to enable autoscaling on custom metrics? It seems like this would be a greta feature for the Open Telemetry Collector!

[2022-07-01 18:21] dyladan opened #5614 "Document `$$` mechanism to escape env var expansion"
**Is your feature request related to a problem? Please describe.**

In https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/11846 the user was trying to use `"$ConnectionString"` as a Username. The collector automatically interprets `$` as an environment variable expansion. The environment variable was empty, so the `Username` field was interpreted as empty and failed validatio

[2022-07-01 18:24] dyladan opened #5615 "Log a warning when an environment variable without a value is expanded"
Related to #5614

**Is your feature request related to a problem? Please describe.**

In https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/11846 the user was trying to use `"$ConnectionString"` as a Username. The collector automatically interprets `$` as an environment variable expansion. The environment variable was empty, so the `Username` field was interpreted as empty an

[2022-07-01 18:29] dyladan commented on #5615
Another possible "fix" for this is to log the full collector config at startup. IIRC this is what telegraf does. This would allow the user to see that their config is messed up.

One major issue with this solution is that you would need to reliably hide secrets while also making it possible to see if an expansion failed. We currently don't have any way to distinguish between expansions that are se

[2022-07-02 10:18] mx-psi commented on #5615
I think we should fail fast instead of logging a warning. This is a breaking change, but I think it's worth it in terms of improved troubleshooting and we can have a feature gate to make the transition smoother. We probably also want to prioritize implementing #5228, which will be useful in this case.

For printing the configuration, we have #5223. If you have ideas on how to reliably hide secrets

[2022-07-03 14:00] ldb opened #5617 "pdata/pcommon : export NewSlice and NewSliceFromRaw"
## Important (read before submitting)

**Is your feature request related to a problem? Please describe.**
I am trying to create a trace processor that inserts attributes of type string slice. However, this seems to be currently not possible, because the functions needed to create a slice value type to insert into the span's attributes are "internal".
Furthermore, I just found, that [map values are

[2022-07-04 03:01] fatsheep9146 commented on #5612
I want to help with this, can you assign this to me?

[2022-07-04 06:00] deepto98 commented on #5169
Can I pick this up?

[2022-07-04 06:01] deepto98 commented on #4947
Can I work on this?

[2022-07-04 11:02] astencel-sumo opened #5625 "Restore the "Shutdown complete" log from collector"
**Is your feature request related to a problem? Please describe.**

The collector v0.52.0 and before used to write an INFO log on shutdown that said "Shutdown complete".
This was useful e.g. in testing, to automatically verify that the collector has shut down completely.

[code]

In v0.53.0 and later, this log has been [removed](https://github.com/open-telemetry/opentelemetry-collector/commit/1aa0

[2022-07-04 11:07] astencel-sumo commented on #5625
Here's the simple pull request implementing the change: https://github.com/open-telemetry/opentelemetry-collector/pull/5626.

I was worried that access to logger is not possible at this stage with the refactoring made in service/collector.go, but it seems to run fine for now.

[2022-07-04 12:24] jpkrohling commented on #5353
Should this be closed, given that #5294 has been merged?

[2022-07-04 16:30] mx-psi commented on #5353
No, I think this should be kept open. #5294 improved things a bit, but we may still want to do this.

[2022-07-04 17:21] jpkrohling commented on #5531
Not sure I understand the question. If your workload generates metrics with the OpenTelemetry SDK, sending this as OTLP to the collector, you have all of that already (metric name, tags, ...). Could you please expand on your use case?

[2022-07-04 17:29] jpkrohling commented on #5545
The FQDN is solely a DNS configuration from the perspective of the collector: all the collector has to do is bind to the IP that will respond to that domain name. Your Kubernetes configuration will take care of the hostname (service? external load balancer?). For TLS, the link you sent is not only for mTLS: specify the cert_file and key_file and TLS will be set accordingly. Use the min_version to

[2022-07-04 17:29] #5545 closed

[2022-07-04 17:37] jpkrohling commented on #5572
Sounds like a great idea, and a best practice to follow :-)

"Don't break the chain" is the first rule of observable services.

[2022-07-04 18:54] jpkrohling commented on #5556
Looks like it's a great candidate for an initial contribution to the project.

[2022-07-04 18:58] jpkrohling opened #5627 "Revert change to min TLS version"
As I understood it, 1.0 is used as the default version on the server-side. This is *not* what we want here, on a newer server/library: the recommendation for a few years has been already to default to 1.2 as the minimum version, allowing users to use 1.0 or SSLvX only when absolutely needed.

_Originally posted by @jpkrohling in https://github.com/open-telemetry/opentelemetry-collector/pull/5480#d

[2022-07-04 18:58] #5575 closed

[2022-07-04 19:03] jpkrohling commented on #5581
`ocb` stands for `opentelemetry-collector-builder`, so, both versions would work. The others were names we used previously in different contexts, so, it would be OK to replace them by either `ocb` or `opentelemetry-collector-builder`.

[2022-07-04 22:32] dmitryax commented on #4947
@deepto98 sure. Assigned to you. Thanks

[2022-07-04 22:42] dmitryax commented on #5611
Why do you believe the problem is caused by the batch processor? Does removing it from the processors list solve the problem? Did you try moving it to the end?

[2022-07-05 05:02] davidgargti20 commented on #5611
@dmitryax yes removing the batch problem solved the problem.

[2022-07-05 05:24] dmitryax commented on #5611
@davidgargti20 can you try moving it further in the list of processor and see if the issue goes away?

[2022-07-05 05:57] davidgargti20 commented on #5611
@dmitryax it didn't go away tried earlier

[2022-07-05 13:09] dyladan commented on #5615
I also think a fail-fast strategy is a good one. I didn't suggest it initially because I didn't know how conservative the collector SIG tends to be about those types of breaks. One possible midway solution is to have a strict mode which would toggle behavior between warn and failure

[2022-07-05 13:28] EddieEldridge opened #5629 "OTLP-HTTP-Exporter: Add debug logging to the exporter"
**Is your feature request related to a problem? Please describe.**
It's difficult to debug vendor specific issues when there is no way to log out the actual requests to and responses from OTLP endpoints.

**Describe the solution you'd like**
Something like https://github.com/open-telemetry/opentelemetry-collector/blob/7666eb04c30e5cfd750db9969fe507562598f0ae/exporter/otlphttpexporter/otlp.go#L127

[2022-07-05 13:32] pavankrish123 commented on #5572
Thanks @jpkrohling - I will work on a PR.

Does this configuration makes sense?

[code]

[2022-07-05 13:33] amoscatelli commented on #5610
@jpkrohling sorry to bother you
is the from_context: CloudFront-Viewer-Longitude supposed to work ?
am I doing something wrong or this is an issue indeed ?

[2022-07-05 19:35] codeboten opened #5631 "Update changelog process in release doc"
The contrib repo now generates its changelog using [chloggen](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/cmd/chloggen), this needs to be reflected in the release documentation

[2022-07-06 02:22] jpeach commented on #5581
@jpkrohling WDYT if I standardize all the names to `otel-builder`?

[2022-07-06 02:50] #5631 closed

[2022-07-06 08:48] miaw7 commented on #5610
+1
The same issue for me. Version 0.54.0

Can't get any header from the request, but hardcoded key as in example above works
this is my configuration

`receivers:
  otlp:
    protocols:
      http:
        include_metadata: true
        endpoint: 0.0.0.0:4318
      grpc:
        endpoint: 0.0.0.0:4317

processors:
  attributes/from_context:
    actions:
      - key: http.x_request_id
        from_

[2022-07-06 10:43] amoscatelli commented on #5610
I can't understand why it's not working, it seemed to be ok just a bunch of monthes ago :
https://github.com/open-telemetry/opentelemetry-collector/issues/4901

[2022-07-06 13:46] gyliu513 opened #5636 "[Question] Can I use otel to trace the usage for each function call"
There is no question template, so I was using the template of feature request to ask a question here, hope it is OK.

Otel can help me for tracing with spans, but here the question is does otel can provide me some info like which function has the highest usage and which does not? Or even with a order to display the usage of each function calls, this can help the clients to allocate more resources

[2022-07-06 14:20] jpkrohling commented on #4806
I'm back from my leave, I have this on my queue.

[2022-07-06 14:22] jpkrohling commented on #5327
I know how it sounds, but the collector has limited self-observability capabilities. It should start changing once the Go SDK has the features we need. See #4198.

[2022-07-06 14:26] #5327 closed

[2022-07-06 14:38] tigrannajaryan opened #5637 "Release v0.55.0"
Like #4522, but for v0.55.0

- [x] Prepare core release v0.55.0
- [x] Tag and release core v0.55.0
- [x] Prepare contrib release v0.55.0
- [x] Tag and release contrib v0.55.0
- [x] Prepare otelcol-releases v0.55.0
- [x] Release binaries and container images v0.55.0
- [x] Release the operator v0.55.0

[2022-07-06 14:49] jpkrohling commented on #5629
Don't we have a level that is even more detailed than debug? If so, the body could be logged at that level.

[2022-07-06 14:50] jpkrohling commented on #5572
Sounds good, and I think it should be enabled by default.

[2022-07-06 15:19] mx-psi commented on #5615
We already do this by default, so it makes all the more sense to be consistent with environment variables :) If I find some time this week I will try to address this

[2022-07-06 15:28] evan-bradley commented on #5614
I'll update the docs to include a note about this behavior.

[2022-07-06 15:45] tigrannajaryan opened #5639 "TestNewDefaultConfig panics"
**Describe the bug**
Running `make` results in a panic in TestNewDefaultConfig.

**Steps to reproduce**
Run `make`.
Alternatively run `cd cmd/builder/internal/builder && go test -race -run TestNewDefaultConfig`

**What did you expect to see?**
`make` finishes successfully.

**What did you see instead?**
`make` fails in TestNewDefaultConfig with a panic.

**What version did you use?**
Version: 680c

[2022-07-06 15:50] tigrannajaryan commented on #5639
@codeboten looks like you wrote the test, so assigning to you.

[2022-07-06 15:57] fatsheep9146 commented on #5610
@amoscatelli I saw you have two kinds of setting,
one is with "metadata." prefix, for example
[code]
another is not with any prefix
[code]

Do these two settings both not work?

[2022-07-06 16:08] amoscatelli commented on #5610
@fatsheep9146 by sending traces to logger processor I could verify that neither http.client_latitude or http.client_latitude_2 were added.

Only 'test' key was present :

[code]

Which one is supposed to work ? With or without metadata prefix ?

[2022-07-06 16:14] fatsheep9146 commented on #5610
@amoscatelli
I check about the doc, but not very carefully. So I'm not really sure. For now, I think the one with prefix should work. But apparently it doesn't. I will try to reproduce this on my mac and see if I can find some clues.

[2022-07-06 16:15] amoscatelli commented on #5610
@fatsheep9146 give me a minute, I'll give it another try

[2022-07-06 16:25] amoscatelli commented on #5610
@fatsheep9146

Using this setting :

[code]

As you can see my OTEL receives requests with CloudFront-Viewer-Latitude header :

![image](https://user-images.githubusercontent.com/16684470/177597675-9acf4171-9ba5-4989-98df-93edf86328b1.png)

Looking inside my logs :

[code]

I confirm that every from_context don't work.

[2022-07-06 16:31] codeboten commented on #5639
@tigrannajaryan will need some time to look into this, i've tested this on two different machines (with amd64 and arm64) and go 1.17 and 1.18 and haven't been able to trigger the panic (even running with count 5000) 🤔

[2022-07-06 16:43] tigrannajaryan commented on #5639
I get the panic reliably, every time.

[2022-07-06 16:45] jpkrohling commented on #5636
OpenTelemetry itself won't provide you with analysis tools, only with the instrumentation SDK/API and middleware (collector, in this repository). You'd typically send this data to a telemetry backend, which would analyse and display this data in a way that makes sense.

[2022-07-06 16:52] gyliu513 commented on #5636
Thanks @jpkrohling , fair enough, do you have any recommended backend that can help?

[2022-07-06 16:57] jpkrohling commented on #5610
If you have `include_metadata: true` in the receiver, I would expect `metadata.CloudFront-Viewer-Latitude` to work. Are you able to prepare a curl call that would reproduce the problem? I'll then debug and see where the problem is.

[2022-07-06 17:00] jpkrohling commented on #5636
There are quite a few vendors supporting OpenTelemetry, including my employer. It wouldn't be fair to list one here :-)

[2022-07-06 17:00] #5636 closed

[2022-07-06 17:25] tigrannajaryan commented on #2905
Failed again during the release: https://github.com/open-telemetry/opentelemetry-collector/runs/7219622539?check_suite_focus=true

[2022-07-06 17:31] tigrannajaryan opened #5640 "Release procedure must explain failure modes"
The https://github.com/open-telemetry/opentelemetry-collector/blob/main/docs/release.md document does not explain what to do if things go wrong. Ideally every step should describe what to do if that step fail.

[2022-07-06 18:51] tigrannajaryan commented on #5640
Ah, I didn't notice the section.

[2022-07-06 18:51] #5640 closed

[2022-07-06 19:41] BinaryFissionGames commented on #5232
Thanks @xyq175com!

[2022-07-06 19:41] #5232 closed

[2022-07-07 00:53] jpeach commented on #5581
Hmm, I was suggesting `otel-builder` to be symmetric with `otel-collector`, which I thought was the standard binary name, but it looks like the default name is `otelcol-custom`, so maybe this is less standardized than I had thought.

[2022-07-07 06:53] amoscatelli commented on #5610
This is what I have :

[code]

I'll try to prepare a curl
Thank you @jpkrohling

[2022-07-07 08:22] amoscatelli commented on #5610
@jpkrohling this is the output of tcpdump for a real request coming from my application :

[code]

As you can see CloudFront-Viewer-Latitude and CloudFront-Viewer-Longitude headers are present.
Should I test and try to read other headers with processor attributes ?

Maybe User-Agent ?

[2022-07-07 08:59] mx-psi opened #5641 "Collector panics if setting metrics level to 'none'"
**Describe the bug**

The OpenTelemetry Collector will panic if you set `telemetry::metrics::level` to `none`.

**Steps to reproduce**

Run a Collector with the following configuration:

[code]

**What did you expect to see?**

The Collector starts running as usual.

**What did you see instead?**

The Collector panics:

[code]

**What version did you use?**

This started on v0.55.0, I believe the

[2022-07-07 09:32] amoscatelli commented on #5610
New test :

[code]

Then this is logged :

[code]

So the problem is related ONLY to the specific CloudFront-Viewer-Latitude and CloudFront-Viewer-Longitude headers ...
How can this be even possible 😢 ?

![image](https://user-images.githubusercontent.com/16684470/177741735-f0df71c1-9bd1-490e-81bd-4ce5cbfe5677.png)
![image](https://user-images.githubusercontent.com/16684470/177741893-aa12922c-6d74-

[2022-07-07 09:38] mx-psi commented on #5641
#5642 fixes this on main; #5643 backports this to `release/v0.55.x` in case we want to do a `0.55.1`

[2022-07-07 09:48] dharmaplay opened #5644 "Otel Collector on cloud foundry ( PCF )"
We have requirement to deploy the otel collector as a service in PCF( pivotal cloud foundry ) to collect telemetry of microservices/applications, like how we deploy in Kubernetes as a agent/gateway, can somebody help me how to proceed with deployment of otel collector in pcf as a agent/gateway?

[2022-07-07 10:30] fatsheep9146 commented on #5610
I guess maybe http header value should not be float ? Can you set CloudFront-Viewer-Latitude value to 41 to give it a try?

[2022-07-07 11:09] amoscatelli commented on #5610
Config :

[code]

Curl :

[code]
Log :

[code]

For god sake it seems a matter of NAME of the header ??? 😠

[2022-07-07 11:50] jpkrohling commented on #5581
Right, but the builder isn't at the same level as "otel-collector", as it's a tool that builds "otelcol" binaries.

[2022-07-07 11:57] jpkrohling commented on #5610
I think I have enough information here to debug the actual code. I'll check and get back to you soon.

[2022-07-07 13:56] amoscatelli commented on #5610
I never worked with GO language, I don't know where to start, but if that's the case I can help of course

[2022-07-07 15:10] amoscatelli commented on #5610
Great !

[2022-07-07 18:31] codeboten opened #5647 "Update the changelog procedure to match contrib"
The contrib repo has updated its changelog procedure to reduce friction for PRs / users. This issue is an open question whether or not the core repo should follow the same process.

This would ensure users contributing to both repos have a consistent experience and makes the release process consistent as well.

[2022-07-07 19:12] jpkrohling opened #5648 "User experience: starting the collector without config file yields a cryptic message"
When running the collector without specifying a config file, the error message that is returned doesn't immediately make it clear to users what the problem is:

[code]

I would prefer to have a validation somewhere before this error, stating that a configuration file is required to run the collector. I believe we even had this a few releases ago.

[2022-07-07 19:19] josephwoodward commented on #5648
Feel free to assign this to me.

[2022-07-07 20:23] svrnm commented on #5648
I am wondering if instead of throwing an error the collector could just start with a minimal configuration (otlp receivers, debug logging exporters for all signals)? Or would this be unexpected behavior / lead to more confusion ?

[2022-07-07 20:54] amoscatelli opened #5649 "[processor/jwtparser] Processor able to parse a Json Web Token from an attribute"
**Is your feature request related to a problem? Please describe.**
As far as I understand OTEL Collector already support OIDC Authentication :
https://github.com/open-telemetry/opentelemetry-collector/blob/36351380c02c2364250ce265565275de7cb7ac8c/config/configauth/README.md

But, It seems to me that simply parsing a standard oidc JWT token, only when present, is not supported.
I have many web appl

[2022-07-07 23:04] jpeach commented on #5581
OK, I'll knock up a PR to standardize on `ocb` then 👍

[2022-07-08 07:59] mx-psi opened #5652 "[exporter/logging] Logging exporter logger does not honor telemetry logs configuration"
**Describe the bug**

The logging exporter does not honor telemetry logs configuration, since a new logger is created at startup which is completely independent from the Collector's logger.

https://github.com/open-telemetry/opentelemetry-collector/blob/feab9491538a882737a5bceb8757b4458a86edd3/exporter/loggingexporter/factory.go#L87

I am not sure if this was intentional, but it is confusing to me

[2022-07-08 08:04] mx-psi commented on #5652
Originally the logging exporter used to output using the default logger, this changed in #257. It seems like the reason was to have independent control; however we can keep independent control while using the same logger by building from the same core.

[2022-07-08 08:12] mx-psi commented on #5648
We have that on the Helm chart, and it seems to have mixed feedback: open-telemetry/opentelemetry-helm-charts#90. We also have it on the Docker images, for which I have heard anecdotal negative feedback when open-telemetry/opentelemetry-collector-releases/issues/59 happened (since the Collector did not fail to start, just started with a different configuration).

IMO it's hard to agree on what thi

[2022-07-08 08:41] mx-psi commented on #5647
I think we should have the same process. The only 'odd' thing in my mind is that the tooling code lives in contrib, if we use it here it may make more sense to move it to somewhere like https://github.com/open-telemetry/opentelemetry-go-build-tools

[2022-07-08 09:29] mx-psi opened #5653 "[proposal] Add string type alias for sensitive fields"
**Is your feature request related to a problem? Please describe.**

There have been several asks for some way of printing the full Collector configuration (see #5223, #1791 and https://github.com/open-telemetry/opentelemetry-collector/issues/5615#issuecomment-1172609483). This will also be more important as the ability to merge multiple configuration files and use different configuration providers

[2022-07-08 09:41] svrnm opened #5654 "Initialize config from collector binary"
Follow up to my question at #5648

**Is your feature request related to a problem? Please describe.**
Not all releases of the otel collector come with a default configuration (linux, windows, mac tar.gz) or the default config is not easily accessible (docker image). As a new comer I need to "go searching" ([otel docs](https://opentelemetry.io/docs/collector/configuration/), examples, ...) to have

[2022-07-08 12:41] amoscatelli commented on #5649
I think I can do this, it'll take a while to set up the GO environment I think ... never worked with this.

I'll keep in touch

[2022-07-08 13:51] dyladan commented on #5653
The safe by default method would be compatible with existing implementations which may already have secrets in unprotected string fields, but I think it would trash the value until everything is converted to be marked safe. Most fields should be safe so I would expect it to be not too difficult to go through contrib once and audit each module and mark unsafe strings. I'm happy to help with that pr

[2022-07-08 13:51] mx-psi opened #5655 "Setting an empty metrics address should fail fast"
I would expect an empty address [`telemetry::metrics::address`] to return a validation error, instead of silently disabling telemetry. Do you think this is worth an issue?

_Originally posted by @codeboten in https://github.com/open-telemetry/opentelemetry-collector/pull/5642#discussion_r916833143_

[2022-07-08 14:00] #5641 closed

[2022-07-08 15:00] mx-psi opened #5656 "Collector should fail when passed an unregistered feature gate"
**Describe the bug**

The Collector should fail fast when passing a feature gate that is unregistered

**Steps to reproduce**

Run the Collector while passing a nonexistent feature gate through CLI like `--feature-gates=garbage.value`.

**What did you expect to see?**

The Collector fails to start and tells me the feature gate `garbage.value` does not exist.

**What did you see instead?**

The Col

[2022-07-08 19:23] githubsands opened #5657 "Collector w/ prometheus receiver on reports that scraping was succesful"
**Describe the bug**
Collector w/ prometheus receiver reports nil metrics and that scraping is successful when component that is suppose to emit metrics is not hooked up to the collector's prometheus receiver.

**Steps to reproduce**
Run collector with prometheus receiver with a false component port.

**What did you expect to see?**
No metrics being reported and logs that indicate that.

**What di

[2022-07-08 21:12] davidgargti20 opened #5658 "Is there any way to control collector telemetry logs format."

[2022-07-10 16:14] fatsheep9146 commented on #5657
What is the output of logging exporter?

[2022-07-11 05:25] fatsheep9146 commented on #5611
Does this mean that the memory rise only happens in the pipeline of logs, not metrics?

Does the amount of log input to collector change rapidly when the  memory rise happen?

[2022-07-11 05:38] fatsheep9146 commented on #5611
BTW, what language sdk do you use to export log data in otlp protocal to collector? I only know that Golang does not implement any sdk about log.

[2022-07-11 14:21] gyliu513 opened #5671 "Make long-term-roadmap up to date"
**Describe the bug**
A clear and concise description of what the bug is.

In https://github.com/open-telemetry/opentelemetry-collector/blob/main/docs/roadmap.md#long-term-roadmap , there are some tasks `In Progress`, but no issue linking, it is difficult to find those task info. Can anyone update the doc a bit to reflect where can I get more info of those tasks via some document links? Thanks!

<i

[2022-07-11 18:16] gramidt commented on #2336
Happy Monday, OTel Community!

Do any other companies have an interest in this proposal progressing?

[2022-07-11 19:59] mcmho opened #5674 "Add support to handle 402 and 413 http error code in Otlp exporter"
**Is your feature request related to a problem? Please describe.**
Collector currently does retries 402 and 413 error code.   413 is the error code for PAYLOAD TOO LARGE
 and 402 is for PAYMENT REQUIRED which a user case of this would be when license token is exhausted.
These error code should be treated as permanent error in the Collector so that they won't get retried.

**Describe the solution y

[2022-07-11 20:11] jpkrohling commented on #5674
Sounds reasonable to me.

[2022-07-11 20:42] TylerHelmuth commented on #5617
pinging @dmitryax

[2022-07-11 20:44] mcmho commented on #5674
@jpkrohling ,  can I work on it?

[2022-07-11 20:49] klochowicz commented on #5235
hi! please pardon resurrecting a closed issue, but I've come across exactly same error; despite adjusting the authorization header in all possible ways with fresh API keys, I have not been able to connect to grafana tempo successfully. I have reached out to grafana support in the meantime, will post answer here if I solve the issue this way.

[2022-07-11 21:15] TylerHelmuth commented on #5617
@ldb if you are unavailable I can take it

[2022-07-12 11:41] hickeyma opened #5675 "Provide examples on how to create components"
**EDIT: I have kept all original text (with strikethrough) but have made modifications based on feedback**

It would be very helpful and improve usability if an example~~s~~ ~~were~~ was provided for ~~the different~~ a component~~s like receivers, processor, exporters and extensions~~. This would simplify the process of creating a component for new users.

~~Examples could be added to the Go docu

[2022-07-12 11:47] mx-psi commented on #5675
Should we create an checklist for each kind of component (receiver, processor, exporter, extension...)? So that this can potentially be taken on by several people

[2022-07-12 12:18] fatsheep9146 commented on #5675
I agree, I think we can also learn from go-contrib new instrumentation library request [template](https://github.com/open-telemetry/opentelemetry-go-contrib/issues/new/choose) to define following steps/tasks to build a usable component.

## Tasks

- Code complete:
  - [ ] Comprehensive unit tests.
  - [ ] End-to-end integration tests.
  - [ ] Tests all passing.
  - [ ] Instrumentation functionalit

[2022-07-12 13:13] hickeyma commented on #5675
Good idea @mx-psi @fatsheep9146. I'll add to the description when I get a chance.

[2022-07-12 14:19] mx-psi commented on #5675
The former: writing Go code

[2022-07-12 15:17] fatsheep9146 commented on #5675
@hickeyma  Excellent :-),  I’d love to help with review or contribute for this issue if you need.

[2022-07-12 22:45] fatsheep9146 commented on #5656
@mx-psi I think this should be reopened, since the Apply will be totally deprecated in version v0.57.0?

[2022-07-13 00:10] shubhanshus commented on #4198
@jpkrohling Do you mind sharing the PR link again? I can't seem to find the PR which talks about adding metrics to a component. I do see PR on checklist for components but can't find one which talks about adding more metrics.

[2022-07-13 06:31] jpeach opened #5680 "Add a homebrew tap release for ocb"
**Is your feature request related to a problem? Please describe.**

Make ocb easier to install and update to the latest release.

**Describe the solution you'd like**

Add a Homebrew tap release for ocb. goreleaser supports [releasing to a tap](https://goreleaser.com/customization/homebrew/), so I don't think the per-release overhead would be much work. We would need a `open-telemetry/homebrew-tap

[2022-07-13 12:39] #5610 closed, assigned to jpkrohling

[2022-07-13 13:58] jpkrohling commented on #4198
The PR I mentioned was a WIP to start a discussion but was ultimately closed. You can look at components like the load balancing exporter for an example of how to add metrics to a component, but we do not have official guidelines yet, as we are blocked by the availability of the OpenTelemetry Go SDK.

[2022-07-13 14:05] jpkrohling commented on #5680
I think @tigrannajaryan (and perhaps @codeboten) holds the keys to bots and similar accounts. They would be the right folks to create and set the right credentials. I would probably help if you could point them exactly what they would need to do (ie, create an account here, generate an API key, add the API key as `BLA_KEY` as secret, ...)

[2022-07-13 16:19] mx-psi commented on #5653
From the SIG meeting: the community prefers doing struct tags to avoid breaking changes. I will come up with a prototype to evaluate this solution.

[2022-07-13 16:51] codeboten opened #5681 "Document requirements for patch releases"
Follow up from July 13 SIG meeting, we need to define the requirements for a patch release.

[2022-07-13 18:44] codeboten commented on #5647
@mx-psi i was thinking the same, i'll get the code moved to the tools repo.

[2022-07-14 04:40] Umleitungen commented on #2654
Hi @amirulalif  how did you solve this error?

[2022-07-14 06:16] mcmho commented on #5674
Sorry, for couple attempts, I didn't realize I typed my email address wrong.   Now it is fixed.

[2022-07-14 14:18] codeboten commented on #5637
Thanks @yuriolisa

[2022-07-14 14:18] #5637 closed

[2022-07-14 14:34] codeboten opened #5686 "Define guideline for components to deprecate configuration"
The following [change](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/10821) in contrib caused a breaking change for a component identified as `stable`. This would cause existing users of the component to break when upgrading their collector if they were using the configuration options removed.

Currently the [policy](https://github.com/open-telemetry/opentelemetry-collecto

[2022-07-14 14:52] tigrannajaryan commented on #5680
The TC usually manages secrets. However, we don't have any for homebrew and I don't know what ocb is. If someone takes the responsibility to do the work I can help with secret management.

[2022-07-14 15:24] ldb commented on #5617
Hey @dmitryax and @TylerHelmuth, sorry I only now saw the response here. Would've loved to open a PR for this, but now there is no need I see :)
Thanks for fixing this so quickly!

[2022-07-14 15:53] hickeyma commented on #5675
Following the feedback from @jpkrohling in https://github.com/open-telemetry/opentelemetry-collector/issues/5675#issuecomment-1181985956, I investigated this further. Here is the feedback from my investigation:

- The [Building a Trace Receiver](https://opentelemetry.io/docs/collector/trace-receiver/) doc is an excellent reference for building a component and I think it trancends a trace receiver

[2022-07-14 17:18] jpkrohling commented on #5686
Here's a first idea to debate, although I think it might go against @Aneurysm9's idea.

1) we will do our best to not add new required options, nor remove existing options, from components, but we recognize that we might need to, either because the components we interact with have changed, or because we evolved
2) if we add something, we'll do our best to set a reasonable default. We will also con

[2022-07-14 18:00] dashpole commented on #5686
Small note: The PR above didn't make any breaking changes.  It just added warning messages when using the "old" fields.  If we want to impose additional requirements for removal, we still can.

My personal opinion is that logs are not very useful for announcing deprecations.  I don't generally look at logs unless I'm debugging a particular problem, at which point I am usually not looking at the lo

[2022-07-14 19:44] timannguyen opened #5687 "[Telemetry] Collector telemetry not including opencensus metrics along with internal metrics when feature flag useOtelForInternalMetrics is true"
**Describe the bug**
using flag --feature-gates=telemetry.useOtelForInternalMetrics using [demo](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/examples/demo) or through

[code]

, calling http://localhost:8888/metrics does not displays the metrics mentioned in[ monitoring documentation](https://github.com/open-telemetry/opentelemetry-collector/blob/main/docs/monitorin

[2022-07-14 21:20] TylerHelmuth commented on #5686
Getting to a place where we can use semvar is the ultimate solution, but does it requires Core to have an official 1.0.0 release?  It would feel weird to say a component is at version 1.0.0 while completely depending on the Core/Contrib libraries, which would be at 0.55.0 and could cause breaking changes to the component at any moment.

[2022-07-14 21:24] TylerHelmuth commented on #5680
@tigrannajaryan ocb == [OpenTelemetry Collector Builder](https://github.com/open-telemetry/opentelemetry-collector/tree/main/cmd/builder).

I like the idea of adding ocb to homebrew.  If the outcome of the [discussion around whether or not Contrib should really be used in production](https://github.com/open-telemetry/opentelemetry-collector-releases/pull/164) is that it should not, the ocb's impor

[2022-07-15 05:47] newly12 opened #5688 "prometheus translator: multiple target metric might be emitted if gropubyattrs processor is involved"
**Describe the bug**
A clear and concise description of what the bug is.
Given a metrics pipeline like `prometheus` receiver -> `groupbyattrs` processor -> `prometheusremotewrite` exporter, since groupbyattrs sort of splits the `pmetric.Metrics` to multiple `pmetric.Metrics` and in `prometheusremotewrite` exporter, the translator [adds](https://github.com/open-telemetry/opentelemetry-collector-con

[2022-07-15 05:50] newly12 commented on #5688
should target metric be generated by receiver instead of the exporter? it seems to be the only way to prevent from this happening?

[2022-07-15 07:59] mx-psi commented on #5681
On the SIG we discussed that doing a release takes a significant amount of effort, and we have a very short release cycle, so we should have a high bar for when to make bugfix releases.

Here is a list of criteria, collating some of my own with some that were reported on the SIG's meeting:

1.  The bug started happening on the latest version (no v0.N.1 bugfix release for a bug from v0.N-2)
2. The

[2022-07-15 08:49] mx-psi commented on #5675
@hickeyma I think having a link to that doc is definitely better than not having anything! The benefit of having a testable example is that we ensure that the examples will always be kept up to date (since CI will fail otherwise), but it's true that they won't be end to end examples

[2022-07-15 11:07] mx-psi commented on #5686
A combination of @jpkrohling's and @dashpole's  points seems reasonable here. Some people do check logs, so we want to have logs for this set of people before we switch to failing on startup. To get to a compromise where we all feel okay with the guidelines, we should maybe have a longer minimum period of deprecation (I think @Aneurysm9 suggested 6 months, maybe that's okay for 'stable' components

[2022-07-15 13:27] hickeyma commented on #5675
@mx-psi Ok, thanks for the feedback.

I have pushed #5690 and https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12490 to see provide context and references.

I agree that this would be beneficial. Does this work when its not an end to end example for a user?

[2022-07-15 14:05] TylerHelmuth commented on #5617
@dmitryax This issue can be closed. @ldb Thanks for bringing this up!

[2022-07-15 14:13] #5652 closed

[2022-07-15 15:19] tigrannajaryan commented on #5687
I can reproduce this. http://localhost:8888/metrics is empty with `--feature-gates=telemetry.useOtelForInternalMetrics` flag.

@open-telemetry/collector-approvers does anyone know how Otel-based metrics are supposed to work? With the feature flag enabled are the metrics still supposed to be exposed on 8888?

[2022-07-15 17:02] timannguyen commented on #5687
have talked to tigran and we will move to use opencensus.

[2022-07-15 19:09] splunkericl opened #5692 "Allow user to pass in metrics namespace for prometheus exporter"
### Is your feature request related to a problem? Please describe.
Currently, all metrics emitted in otel collector have [namespace set ](https://github.com/open-telemetry/opentelemetry-collector/blob/main/service/telemetry.go#L176)to `otelcol`. If the otel collector user adds their own metrics they would end up having the same prefix. For our team, we are not interested to have the prefix for our

[2022-07-18 01:22] newly12 commented on #5688
filed bug in opentelemetry-collector-contrib.

[2022-07-18 01:22] #5688 closed

[2022-07-18 11:50] mx-psi commented on #5675
I took a look at your PRs @hickeyma, they make sense to me :)

I don't understand what you mean in this question, sorry

[2022-07-18 11:56] digikar opened #5697 "Add support to avoid retries for 431 and 414 HTTP error codes in the OTLP exporter"
**Is your feature request related to a problem? Please describe.**
Collector currently does retries for HTTP error codes 414 and 431. This is not necessary since 431 is the HTTP error code for 'Request Header Fields Too Large' and 414 is the HTTP error code for 'URI Too Long'

These error code should be treated as permanent error in the Collector so that they won't get retried.

**Describe the sol

[2022-07-18 11:57] rahuldimri commented on #5697
Hi, Can I work on this issue ?

[2022-07-18 11:58] digikar commented on #5697
Sure, please fix it. Thanks

[2022-07-18 18:49] codeboten opened #5699 "Add `ReadHeaderTimeout` values"
The following lint errors started showing up after the latest upgrade to golangci-lint:

[code]

[2022-07-18 23:02] tmorrisonsfx opened #5703 "Broken link for https://github.com/open-telemetry/opentelemetry-collector/tree/main/receiver/receiverhelper"
**Describe the bug**
The link to the receiver helper content is broken.

**Steps to reproduce**
1. Go to https://github.com/open-telemetry/opentelemetry-collector/blob/main/docs/security.md#receivers-and-exporters.
2. Click the link for receiver.

**What did you expect to see?**
Content for the receiver helper function

**What did you see instead?**
A 404 error page
<img width="1512" alt="Screen S

[2022-07-19 03:50] rahuldimri commented on #5703
Can I work on this ?

[2022-07-19 05:50] jpeach opened #5704 "builder flags do not override configuration values"
**Describe the bug**
If a value is given in both the input config file and the command flags, the command flag should have precedence (since it is more specific). The value from the input file seems to win.

**Steps to reproduce**
[code]
[code]

**What did you expect to see?**

[code]

**What did you see instead?**
see above

**What version did you use?**
Version:  c3a3160ab7fa1ec9d73f1b2ead72127c

[2022-07-19 08:45] pavankrish123 commented on #5697
@jpkrohling @rahuldimri please see the PR  https://github.com/open-telemetry/opentelemetry-collector/pull/5685.
@[mcmho](https://github.com/mcmho) can you please see if you can pick up the 431 as well. I think it is better to have a set defined explicitly and loop through the list.

[code]

[2022-07-19 08:46] rahuldimri commented on #5697
@pavankrish123 Let me have a look !!

[2022-07-19 09:59] mx-psi opened #5706 "Restrict characters allowed in expand provider URIs"
During review of #4742 I noticed that we basically allow arbitrary characters on the identifiers used for environment variable expansion (and soon expansion from other kinds of sources). This is too permissive, since it will restrict us from ever supporting recursion `${ENV_${RECURSIVE}}`, URI-like parameters for default (e.g. `${ENV?default=something}`) or other features that we may want to add i

[2022-07-19 10:02] mx-psi commented on #5706
Note: this should not, in principle, apply to URIs from configuration sources, otherwise we can't support things like the `yaml` provider.

[2022-07-19 12:31] jpkrohling commented on #5697
Sorry for missing that this was a duplicate! I'll close this in favor of the older issue.

[2022-07-19 12:31] #5697 closed

[2022-07-19 14:07] jpkrohling commented on #5703
Sure, I don't think there's anyone working on that yet.

[2022-07-19 17:04] tigrannajaryan opened #5708 "Refactor memorylimitprocessor to use built-in memory limiting in Go"
There is a [SetMemoryLimit](https://pkg.go.dev/runtime/debug@master#SetMemoryLimit) in Go runtime since 1.19. It is worth checking if using this is better than the manual limit that we do in the memorylimitprocessor currently.

Also worth exploring if this can be possibly combined with GOGC=off (crazy?) or GOGC setting very high and deleting the ballast extension.

[2022-07-19 17:22] tigrannajaryan commented on #5708
Indeed. And obviously it is totally wrong if the memorylimiting is not used (which is optional).

[2022-07-19 21:11] jpkrohling commented on #4747
I wasn't able to find a good solution on our side, so I opened a PR to change gRPC. It might take a while for this change to land here, but it eventually will.

[2022-07-20 05:58] jpeach opened #5709 "Show which components are built into a collector"
**Is your feature request related to a problem? Please describe.**

Especially hen getting started in the ecosystem, it would be helpful for the collector to be able to show which components it has available. This lets you check what features to expect in released builds and builds you make yourself.

**Describe the solution you'd like**

Some flag like `--list-components`.

[2022-07-20 06:16] mx-psi commented on #5708
Any change that uses functions available only on Go 1.19 should be done under the `go1.19` build tag while keeping the existing implementation under `!go1.19`, to preserve the compatibility with Go 1.18 https://github.com/open-telemetry/opentelemetry-collector#compatibility

[2022-07-20 07:01] #5614 closed

[2022-07-20 07:08] mx-psi commented on #5706
Since right now we only have the `env` provider, we can explore the environment variables case. Here is some info [for Windows](https://stackoverflow.com/a/20635858) (many special characters allowed) and [for Linux](https://stackoverflow.com/a/20635858) (anything goes in principle, the recommendation is to use the [Portable Character Set](https://pubs.opengroup.org/onlinepubs/000095399/basedefs/xb

[2022-07-20 07:11] mx-psi commented on #5061
@fatsheep9146 I think you can continue doing this now!

[2022-07-20 14:13] mdsgrafana opened #5733 "OTEL Exporter - multi-tenancy support based on labels"

[2022-07-20 16:40] mx-psi opened #5712 "Add ocb Docker image"
**Is your feature request related to a problem? Please describe.**

Per open-telemetry/opentelemetry-collector-releases/pull/164, we want to promote usage of the OpenTelemetry Collector Builder so that people build their own distribution with only the components they use.

We currently only provide the binaries on each release ([example](https://github.com/open-telemetry/opentelemetry-collector/re

[2022-07-20 16:46] mx-psi opened #5713 "Improve documentation related to the OpenTelemetry Collector Builder"
Per open-telemetry/opentelemetry-collector-releases/pull/164, we want to promote usage of the OpenTelemetry Collector Builder so that people build their own distribution with only the components they use.

The only documentation we have on the OpenTelemetry Collector Builder is [its README](https://github.com/open-telemetry/opentelemetry-collector/tree/main/cmd/builder#opentelemetry-collector-buil

[2022-07-20 18:41] dmitryax opened #5714 "Release v0.56.0"
- [x] open-telemetry/opentelemetry-collector#5716
- [x] open-telemetry/opentelemetry-collector#5715
- [x] open-telemetry/opentelemetry-collector-contrib#12616
- [x] open-telemetry/opentelemetry-collector-contrib#12617
- [x] open-telemetry/opentelemetry-collector-releases#168
- [x] open-telemetry/opentelemetry-collector-releases#166
- [x] open-telemetry/opentelemetry-operator#996
- [x] open-telemet

[2022-07-20 18:41] dmitryax opened #5715 "Tag and release core v0.56.0"

[2022-07-20 18:41] dmitryax opened #5716 "Prepare core release v0.56.0"

[2022-07-20 18:41] dmitryax opened #5717 "Prepare contrib release v0.56.0"

[2022-07-20 18:41] dmitryax opened #5718 "Tag and release contrib v0.56.0"

[2022-07-20 18:41] dmitryax opened #5719 "Prepare otelcol-releases v0.56.0"

[2022-07-20 18:42] dmitryax opened #5720 "Release operator v0.56.0"

[2022-07-20 18:42] dmitryax opened #5721 "Release binaries and images for v0.56.0"

[2022-07-20 18:42] dmitryax opened #5722 "Release helm charts for image v0.56.0"

[2022-07-20 20:03] #5716 closed

[2022-07-20 20:34] #5715 closed

[2022-07-22 12:18] deathwarrior60 opened #5732 "metrics : what is the difference between StartTimestamp and Timestamp ?"
Hello,

We are trying to send metrics from a F5 to opentelemetry collector using otlp receiver then send it to Cortex.
But we can't see any datapoint in cortex.
We tried the logging exporter to see what we are trying to send, here's the output :
[code]

We think the issue is link to the timestamp not being correct.
Could you explain what is the difference between Timestamp and StartTimestamp ?

Th

[2022-07-22 13:10] mx-psi commented on #5732
StartTimestamp is the point in time in which the timeseries started, you can read more about it at the specification: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/data-model.md#temporality

AIUI this point is not valid because, if StartTimestamp is present, it must happen before Timestamp

[2022-07-22 13:50] deathwarrior60 commented on #5732
Thanks for your feedback.
It's more clear for me now.

It seems to be an error on F5 side : https://github.com/F5Networks/f5-telemetry-streaming/issues/209

[2022-07-22 13:50] #5732 closed

[2022-07-22 14:30] #5581 closed

[2022-07-22 18:08] jpkrohling commented on #5733
Done. I think this needs some discussion to figure out what can be done here in a generic fashion. While it would be OK for the Loki exporter to have a native "tenant" attribute which translates to a specific header that is sent to the backend, having the same as part of the OTLP exporter would probably not be appropriate.

I think the cleanest would be to have a client authenticator which would o

[2022-07-23 06:09] nanorobocop opened #5735 "Add helper function to get serializable LogRecord"
**Is your feature request related to a problem?**
OTLP log format consists of nested objects `LogsData -> []ResourceLogs -> []ScopeLogs -> []LogRecord` ([proto](https://github.com/open-telemetry/opentelemetry-proto/blob/main/opentelemetry/proto/logs/v1/logs.proto#L44)).

There's helper function to obtain serializable ResourceLogs structure - [LogsToProto](https://github.com/open-telemetry/opentele

[2022-07-23 08:22] GobbaFish commented on #3713
@dickiebowuk
I think I am having the same issue as you
May I ask what you did/meant by
“ I had to expose port 4317 on my host Windows machine”
Thanks in advance
Alan

[2022-07-23 09:46] dickiebowuk commented on #3713
In my comment on 17th August 2021 above I show my docker compose file. I changed the following line from the original:

Original
 - "4317"   # OTLP gRPC receiver
to

 - "4317:4317"   # OTLP gRPC receiver

This maps port 4317 in the container to port 4317 in your Windows environment and allows data to be received at [localhost](http://localhost:4317)http://localhost:4317/

Hopefully that makes sens

[2022-07-23 11:21] seankhliao commented on #5708
My reading is:

The memorylimiterprocessor is still useful as feedback into the pipeline to drop "real" memory usage down (if you prefer losing some data vs potentially crashing). It could be useful for it pick defaults based on the new memory limit settings if provided via the environment.

The ballast extension should probably be deprecated in favor of the memory limit. But it does have the adva

[2022-07-25 15:10] itaybaror opened #5742 "Failure to export from collector to backend (GO Lambda Layer)"
I have been attempting to instrument lambdas using the docs on the ADOT website. I have successfully instrumented some python lambdas, where they send the data to the collector, and then exports the data to lightstep (my backend). However when i try to instrument in go, i do see the logs in cloudwatch (i configured the collector to send data to lightstep and to logs) but when it tries to export th

[2022-07-25 16:01] #5681 closed

[2022-07-26 05:10] dharmaplay commented on #5644
any update on this?

[2022-07-26 05:29] fatsheep9146 commented on #5742
I think the error log is pretty clear.
[code]

Can you check the network configuration of your collector? For example login to the collector's container or machine, and run
[code]
or
[code]

[2022-07-26 17:59] #5704 closed

[2022-07-26 18:40] itaybaror commented on #5742
That is not always the error, not it is this:
![Screen Shot 2022-07-26 at 2 40 00 PM](https://user-images.githubusercontent.com/107562167/181085913-3f39066f-324a-4cc9-a737-969917de3aa2.png)

[2022-07-26 19:01] jinfanzon opened #5753 "HTTP Receiver error"
**Describe the bug**
An instrumented java app is throwing an error when trying to use otlp receiver:
`otel.javaagent 2022-07-26 17:23:01:376 +0000] [OkHttp http://localhost:4318/...] WARN io.opentelemetry.exporter.internal.okhttp.OkHttpExporter - Failed to export metrics. Server responded with HTTP status code 404. Error message: Unable to parse response body, HTTP status message: Not Found`

**St

[2022-07-26 20:47] AlexeiZenin commented on #3002
Judging by the PR that was merged I believe this issue was not addressed. The OP asked if a modification could be made on the receiver endpoints not the separate health check endpoint.

[2022-07-26 23:28] bogdandrutu commented on #4646
@swiatekm-sumo I am a bit reluctant because:
[code]

These are already implemented in the exporter helper as "`queue retry" :) that is yet another argument to unify them.

[2022-07-26 23:43] #5061 closed

[2022-07-26 23:45] #5703 closed

[2022-07-27 22:32] jangaraj commented on #5246
Your ALB target group needs better config with GRPC support, e.g.:
[code]

[2022-07-27 22:44] jangaraj commented on #3040
I use this config for ALB for OTLP/GRPC, which works like a charm:
[code]
Unfortunately, I have a problem with OTLP/HTTP. It works fine with JSON payload, but it has problem with protobuf payloads sometimes (SSL handshake timeout, client headers timeout):
[code]
 Any idea how to configure AWS ALB to work with OTLP HTTP Protobuf?

[2022-07-28 17:15] jpkrohling commented on #5644
Apparently, none of the current maintainers had to do this before. Once you figure this out, we'd welcome your contributions to our docs.

[2022-07-28 18:00] lchopfpt opened #5757 "prometheus exporter adding new labels on each scrape"
Metrics exported as 'prometheus' exporter saw additional labels added on each scrape, and each label containing an additional prepended 'exported_' string to it.

Installed 0.56 otelcol (not contrib) with a basic config of scraping a local node_exporter, and exporting as prometheus.

**Expected to see**
Expected a relatively static number of metrics and labels.

** Saw instead **
Instead there was

[2022-07-29 12:12] rahuldimri commented on #4714
@bogdandrutu If you want I can have a look into this.

[2022-07-29 17:22] #5714 closed

[2022-07-29 17:49] bogdandrutu commented on #5742
@carlosalberto @jmacd @tedsuo can you look into this?

@itaybaror can you confirm that this was not a transient error on the backend?

[2022-07-29 17:54] bogdandrutu commented on #5753
Per the error, you are trying to export metrics to the collector, but you have configured only a "traces" pipeline. You need to add an extra pipeline to the config:
[code]

Also, the logging exporter is only for debugging purpose, consider to not run with that in production.

[2022-07-29 18:27] bogdandrutu commented on #5753
Please consider to reopen the issue, if what I suggested does not fix your issue.

[2022-07-29 18:27] #5753 closed

[2022-07-29 18:28] #5674 closed

[2022-07-29 18:29] bogdandrutu commented on #5658
Are you looking for https://github.com/open-telemetry/opentelemetry-collector/blob/main/service/telemetry/config.go#L38?

[2022-07-29 19:40] jangaraj commented on #5742
For the record: the same issue in another project - https://github.com/aws-observability/aws-otel-lambda/issues/271#issuecomment-1195804948

[2022-07-29 23:17] cloudnativestack opened #5761 "Support proxy configuration field in all exporters"
**Is your feature request related to a problem? Please describe.**
We have collectors running in hosts within internal network which does not allow outgoing traffic to backends in public internet. A proxy must be used. However, currently OpenTelemetry collector only supports setting a proxy through HTTP[S]_PROXY environment variable, which is extremely unfriendly for collectors running in physical

[2022-08-01 17:52] jpkrohling opened #5769 "Release v0.57.2"
Like open-telemetry/opentelemetry-collector#4522, but for ~~v0.57.0~~ v0.57.2

Versions v0.57.0 and v0.57.1 had problems during the release: first, the tag didn't seem to reflect the actual "chore" commit, and then I just retagged 0.57.1, which wasn't the right thing to do.

**Performed by collector release manager**

- [x] open-telemetry/opentelemetry-collector#5771
- [x] open-telemetry/opentelem

[2022-08-01 17:54] jpkrohling opened #5770 "Removal of deprecated funcs broke contrib tests"
Merging of #5754 caused the contrib-tests to start failing. Either the PR that started causing this should be reverted, to contrib components should be changed to use the new funcs.

[2022-08-01 17:56] jpkrohling opened #5771 "Prepare core release v0.57.2"

[2022-08-01 17:56] jpkrohling opened #5772 "Tag and release core v0.57.2"

[2022-08-01 17:56] jpkrohling opened #5773 "Prepare contrib release v0.57.2"

[2022-08-01 17:56] jpkrohling opened #5774 "Tag and release contrib v0.57.2"

[2022-08-01 17:56] jpkrohling opened #5775 "Prepare otelcol-releases v0.57.2"

[2022-08-01 17:56] jpkrohling opened #5776 "Release binaries and container images v0.57.2"

[2022-08-01 17:58] jpkrohling opened #5778 "Update the opentelemetry-collector helm chart to use v0.57.0 docker image"

[2022-08-01 18:03] jpkrohling commented on #5778
@TylerHelmuth , @dmitryax , are you able to move this to the open-telemetry/opentelemetry-helm-charts rep?

[2022-08-01 18:05] jpkrohling commented on #5769
The release is currently blocked on:

https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12661
https://github.com/open-telemetry/opentelemetry-collector/issues/5770

[2022-08-01 18:13] TylerHelmuth commented on #5778
I cant 😞, but @dmitryax can.  I normally take care of collector updates on the helm-side once the distributions are released.  If the assign will carry over when moved, you can assign to me now.

[2022-08-01 18:38] dmitryax commented on #5692
Hey @splunkericl. I'm curios what is your use case?

What metrics do want to add that ends up with `otelcol` prefix? Can you please provide an example?

The `otelcol` namespace is applied only to a specific set of collector's metrics, not the metrics that the collector collects.

[2022-08-01 19:00] dmitryax commented on #5692
Also the issue title mentions [prometheus exporter](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/prometheusexporter) which not part of this repo

[2022-08-01 20:21] rootulp opened #5780 "docs: units for performance table"
What are the units for the columns Sustained Rate and Recommend Maximum in this table? Perhaps **Spans per second**?

https://github.com/open-telemetry/opentelemetry-collector/blob/b2dc376ccacdabbf29dd0af5f70a5283af388fbb/docs/performance.md?plain=1#L34-L43

[2022-08-02 05:07] fatsheep9146 opened #5781 "[builder] Add sanitization for cfg.Distribution.Name/BuildTags"
Track issues for #5659

Previously, the nosec line was right before the exec.Command, and it's not anymore. Move it here and it will skip the linter.

That said, I'd be more comfortable if we were to sanitize both the argument that was originally causing G204 (cfg.Distribution.Name) and the new one (cfg.Distribution.BuildTags).

_Originally posted by @jpkrohling in https://github.com/open-telemetr

[2022-08-02 05:09] fatsheep9146 commented on #5781
Ping @jpkrohling

[2022-08-02 09:03] hickeyma commented on #5675
I am wondering if providing a testable example which is not end to end would make sense for the components?

[2022-08-02 13:56] tigrannajaryan commented on #5692
@dmitryax the use case is custom builds or custom distros of the Collector which have a name that is different from "OpenTelemetry Collector". In such cases you may want to change own metric names to avoid using "otelcol" namespace to avoid confusion (in some environments people may have canonical Otel Collector and custom distros co-existing, so differentiating their metrics can be useful). The h

[2022-08-02 15:58] dmitryax commented on #5692
It makes sense now. Thanks for clarifying.

[2022-08-02 19:28] bogdandrutu commented on #5692
@tigrannajaryan as mentioned in the PR, this is only supported in opencensus, and we try to move away from that. Should we just remove the "otelcol" namespace from metrics for the moment? This will make transition to opentelemetry even harder.

[2022-08-02 19:55] #5770 closed

[2022-08-02 19:55] dmitryax commented on #5692
@bogdandrutu I don't think we can just remove the namespace. The collector's metrics in the current state are widely adopted in the current form. It'll be a significant breaking change for collector users that care about collector's observability. Also removing the namespace can introduce conflicts with other systems given that we will get metrics like `process_uptime`.

Can't we align metrics exp

[2022-08-02 20:34] tigrannajaryan commented on #5692
I agree with @dmitryax

When we migrate to `useOtelForInternalMetrics=true` in the future I think at least we will need to make sure there is a possibility to produce backward compatible metrics that have the same `otelcol` namespace added to it - even if that namespace is not added by the default.

If there is a strong desire to get rid of `otelcol` namespace then I would announce that it is depr

[2022-08-03 04:29] codeboten opened #5792 "Support go 1.19"
The latest version of go is out, this issue tracks the work required to support it:

- [x] #5793
- [x] #5804
- [x] #5794

[2022-08-03 04:29] codeboten opened #5793 "add go 1.19 tests to CI"

[2022-08-03 04:30] codeboten opened #5794 "update minimum go version in go modules"

[2022-08-03 07:58] amoscatelli commented on #5769
@jpkrohling
I think both issues are merged now

[2022-08-03 12:37] jpkrohling commented on #5769
One more blocker: https://github.com/open-telemetry/opentelemetry-collector/pull/5797

[2022-08-03 16:55] #5793 closed

[2022-08-03 16:56] codeboten opened #5804 "update CI check to require 1.19 build and remove requirement on 1.17 build"

[2022-08-03 17:03] bogdandrutu commented on #5804
For the moment just remove the need of `go1.17`, will require `go1.19` a bit later, is that ok?

[2022-08-03 17:04] codeboten commented on #5804
what's your thoughts on delaying? Is it because open PRs will fail unless they're rebased?

[2022-08-03 17:05] bogdandrutu commented on #5804
Yes, I can enforce that, but also set the "enforce merge branch up to date" which allows maintainers to rebase old PRs?

[2022-08-03 17:06] bogdandrutu commented on #5772
This is done.

[2022-08-03 17:11] #5794 closed

[2022-08-03 17:12] bogdandrutu commented on #5804
Done. Found a different option that allows maintainers to update PR branches to main. Now we can merge PRs with the new requirement without asking for rebase.

[2022-08-03 17:12] #5804 closed

[2022-08-03 17:13] #5792 closed

[2022-08-03 18:43] jpkrohling commented on #5773
Found this while releasing: https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/12934

[2022-08-03 23:22] TylerHelmuth commented on #5733
Gets more complicated if the tenancy needs to come from a dynamic source instead of a piece of telemetry/data from within the collector itself, which feels like a valid situation.

This is an interesting topic, I'll add it to the SIG meeting for 8/17 (the next one I'll be at). I'd like to see a generic solution in the collector to be able to dynamically change things like ID/License/key for export

[2022-08-04 00:34] newly12 commented on #5733
We also have similar use case, linked PR that introduces `headers_setter` extension looks very interesting, I am looking forward to its release!

[2022-08-04 00:42] #5771 closed

[2022-08-04 00:42] #5772 closed

[2022-08-04 01:00] jpkrohling commented on #5771
Related PR: https://github.com/open-telemetry/opentelemetry-collector/pull/5809

[2022-08-04 01:13] newly12 commented on #5733
Given the limitation that batch processor discards the context of telemetry data and builds a new one, does it make sense to workaround this by having a pipeline as following, if receiver sets auth info in attributes instead of context,
receiver -> batch processor -> groupbyattrs processor(group by auth attributes) -> a new processor(extract auth attributes and set it in context) -> exporter with