[2021-05-12 16:49] dashpole commented on #542
Notes from 5/12:

* Lets try doing something context-based
* Batch, groupby processors will be problematic.
* We need to be specific about exactly what we are measuring

[2021-05-12 17:49] gburton1 commented on #3118
We are seeing the same. Even on a counter as simple as this, which is present on the endpoint that the Prom receiver is scraping, it does not appear on the exporter side.
[code]

[2021-05-12 17:57] gillg commented on #3118
I don't understand, I compared some metrics with exactly the same name on a node-exporter and on grafana internal exporter, the metric is scrapped correctly on node exporter but not on grafana.... It makes no sense.

I thought to a invalid byte somewhere on grafana, gzip compression, transfer encoding but I found nothing for now...

[2021-05-12 19:11] Aneurysm9 commented on #3118
I wonder if this is related to the adjustment logic being removed in #3047 that was dropping some samples.  Can you try with a build from that branch, or try once it lands on the trunk?

[2021-05-12 20:08] kiahmed opened #3148 "Scrape"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.

**What did you expect to see?**
A clear and concise description of what you expected to see.

**What did you see instead?**
A clear and concise description of what you saw instead.

**What version did you use?**
Version: (e.g., `v0.4.0`, `1eb551

[2021-05-12 20:30] hyde404 opened #3149 "Kafka receiver metrics abnormal behavior"
Hello,

We are currently facing an issue with metrics consumption from kafka receiver running on kubernetes.

Here's what we are trying to achieve:

Metrics from app ---->(receiver: otlp) OTLP Collector 1 (exporter: kafka)---> KAFKA <--- (receiver: kafka) OTLP Collector 2(exporter: prometheus)

but we get this error message :
[code]

Here's a sample of my configuration:

### OTLP Collector 1:
[cod

[2021-05-13 06:17] GlowingRuby opened #3161 "Inaccurate data collected by prometheus receiver"
**Describe the bug**
Use prometheus receiver to scrape node_exporter data and expose the data to native prometheus through prometheus exporter. The CPU usage rate obtained on the node exporter dashboard is inaccurate, which is much different from directly using prometheus to scrape node_exporter.
![image](https://user-images.githubusercontent.com/26060287/118085262-b41b1d00-b3f4-11eb-8354-83356b1d

[2021-05-13 06:34] GlowingRuby commented on #3161
The version of node_exporter is 1.0.1.linux-amd64, and the version of prometheus is 2.25.0.linux-amd64.

In addition, while investigating this problem, I found another interesting problem. Otelcol seems to discard some samples.

Link to similar issue: https://github.com/open-telemetry/opentelemetry-collector/issues/3118

[2021-05-13 07:18] Frefreak opened #3162 "[BISECTED]kafka exporter performance issue when encoding is not jaeger type"
**Describe the bug**
We noticed a huge performance drop in kafka exporter in newer version (v0.26.0) with sent_span/s at around 50~60K, while in old version (v0.24.0)  the same config can achieve 300K+. (the topic has 5 partitions).

After bisecting the issue appears to be introduced by this commit: 714702a5, especially this line: https://github.com/open-telemetry/opentelemetry-collector/commit/71

[2021-05-13 12:26] muneernet opened #3165 "Open Telemetry Collector .NET Support"
Hi Team,

We want to build  open telemetric collector agent using using the  Full Stack . Net . We have asp.net core application where we will add the open telemetry instrumentation . Using YAML   file to create the agent   in a docker container . Now when I Run my asp.net core application the traces should be captured  on the docker agent and send data to honeycomb.  Attaching the asp.net core sn

[2021-05-13 15:18] gramidt commented on #2507
@jpkrohling - I would love to; however, I likely won't be able to prioritize it until the week after next due to some urgent priorities. If we need it sooner rather than later, it may be best for someone else to point on it and I can help review.

[2021-05-13 15:50] yurishkuro opened #3168 "Extract Jaeger-related code into shared library"
**Is your feature request related to a problem? Please describe.**

Both OTEL Collector and Jaeger want to import some pieces of each other's code, which doesn't work well.
  * OTEL Collector wants to support existing Jaeger SDKs by accepting Jaeger data formats
  * Jaeger backend wants to support OTLP format from OTEL SDKs

**Describe the solution you'd like**
Move Jaeger model related code into

[2021-05-13 19:52] rakyll opened #3175 "Rename service.Application to service.Server"
The collector service server is currently named Application. In Otel, "application" has a significance to refer to the user applications to instrument. We might rename it to Server which would be more representative.

[2021-05-13 20:57] rakyll commented on #3175
Or why don't we call it Collector?

[2021-05-14 09:01] jpkrohling commented on #2507
@alolita, how soon do you need this by?

[2021-05-14 12:02] spaletta commented on #226
Hi @mxiamxia, from my understanding, filtering with the attributes processor (or the span processor) can not achieve the same effect as filtering in the tailsampling processor. Attributes and span processors can include or exclude individual spans based on their individual properties, while filtering in the tailsampling processor includes or excludes whole traces based on any of the comprising spa

[2021-05-14 15:55] dashpole commented on #542
I have a working draft for context-based e2e metrics that works for the batch processor:  https://github.com/open-telemetry/opentelemetry-collector/pull/3183.

Here is the description of the metric from the draft, which explains how we handle batching and multiple exporters:

[code]

Feel free to provide feedback on the draft.  If the general approach is acceptable, i'll finish it up and send it o

[2021-05-14 16:10] gillg commented on #3118
Don't you know there is a link with https://github.com/open-telemetry/opentelemetry-collector/issues/2852 ? It seems a "regresssion" or something like that if it was working before march.
It seems not really important to have a good value in a counter if it's variation is consistent with the original exporter, but here I start to have some doubts. On some graphs based on cpu_time_total I have nega

[2021-05-14 17:08] bogdandrutu commented on #2540
I think we are good on this. Unless we find other problems this is done.

[2021-05-14 17:08] #2540 closed

[2021-05-14 17:09] bogdandrutu commented on #2545
Probably we should have a github action that compares the PR with head and adds a comment or fails if changes are identified

[2021-05-14 17:10] #2651 closed

[2021-05-14 17:11] bogdandrutu commented on #2651
I made all changes to not expose Viper, everything works using the new "Parser" from config.

[2021-05-14 17:14] bogdandrutu commented on #2789
Downgrade the priority for this, we can do it in phase 3

[2021-05-14 17:23] bogdandrutu commented on #2543
We need a document in the https://github.com/open-telemetry/opentelemetry-collector/tree/main/docs and specify:
1. Do we go for v1 before everything is stable?
  a. If not how do we mark packages as stable?
  b. If yes how do we mark packages as experimental?
2. What are the guarantees that we provide for a stable package?
3. etc.

[2021-05-14 17:24] #2635 closed

[2021-05-14 17:26] bogdandrutu commented on #2607
@alolita I think the action item for this phase is to ensure that we don't need API changes to support this. If we can do that then we can move this to phase3

[2021-05-14 17:28] bogdandrutu commented on #2565
@alolita I think we need to agree on the right thing to do here. probably we should discuss this during SIG meeting to achieve agreement.

The first goal is to make a decision.

[2021-05-14 17:31] bogdandrutu commented on #2516
@mxiamxia there are few issues here:
1. There is the "memory ballast" problem that right now is an internal thing in the Service, (I made a PR to add an extension but did not finish the work to enable and deprecate the flag for that). Right now users have to configure ballast in 2 places if I am not wrong.
2. It would be good to have a way to configure percentage of memory allocated to a POD for e

[2021-05-14 17:33] bogdandrutu commented on #2435
This is not a breaking change, so definitely not required for "API stability" but a GA collector has to have observability. So we can move this to phase3 and make that phase GA phase required.

[2021-05-14 17:35] bogdandrutu commented on #2401
@jpkrohling is this related to the auth extensions pass-through? Can you take this?

[2021-05-14 17:39] bogdandrutu commented on #2600
@Aneurysm9 I think we should share the generated semconv if go library has already this. We can do the following:

1. Rename the go-proto repo to go-shared and expose multiple modules there like:
  a. protos
  b. semconv
  c. pdata (for collector and other users)
2. Change the vanity URL so we don't break the current proto package.

Otherwise we can ask for a different repo as well.

[2021-05-14 17:41] bogdandrutu commented on #2539
I would say if this is marked as a bug we should treat it with high priority and fix it, if that is not the case we should change it as feature improvement etc. not as a bug.

[2021-05-14 17:41] alolita commented on #2539
Let's discuss in the next SIG meeting and finalize a decision.

[2021-05-14 17:42] bogdandrutu commented on #3041
@bhautikpip there are more places where that happens.

[2021-05-14 17:49] bogdandrutu opened #3185 "[Tracking Issue for Design Proposals] Refactor processors in core (Span, Attributes, Filter, etc.)"
Right now to change span names we have the "SpanProcessor" and to change the span Attributes we have AttributesProcessor which also changes LogRecord attributes but does not change Resource attributes where we have the ResourceProcessor for that (a.k.a a complete mess).

We need to have a better overall design of what processors we offer:
1. One processor to mutate Span properties - name, attribut

[2021-05-14 17:51] bogdandrutu commented on #2674
Done.

[2021-05-14 17:51] #2674 closed

[2021-05-14 17:51] bogdandrutu commented on #2675
Done.

[2021-05-14 17:51] #2675 closed

[2021-05-14 17:54] bogdandrutu commented on #2649
@bhautikpip those PRs are for exporters and processors, but for the Receiver/Scraper we have a completely different API that uses global functions instead of a per receiver object. So look at these APIs:
* Receiver https://github.com/open-telemetry/opentelemetry-collector/blob/main/obsreport/obsreport_receiver.go#L149
* Processor https://github.com/open-telemetry/opentelemetry-collector/blob/main/

[2021-05-14 18:01] bogdandrutu commented on #2831
I think we need to extend the ["config.Service"](https://github.com/open-telemetry/opentelemetry-collector/blob/0bbb1b7f3d886c4ba7a03b36ce4b57c538a727c5/config/config.go#L168) and allow to configure telemetry support:
1. Exporters for traces/metrics
2. Telemetry level (see that in the code).

So users should do this via configuration of the service (here is an example but somebody needs to really

[2021-05-14 18:11] bogdandrutu commented on #3108
This is important for phase one because it blocks https://github.com/open-telemetry/opentelemetry-collector/issues/3104

[2021-05-14 21:08] #3108 closed

[2021-05-14 21:17] bogdandrutu commented on #2677
@alolita status updated

[2021-05-14 22:13] bogdandrutu commented on #3161
Can you give a try to head? #3047 may fix your main issue

[2021-05-16 15:10] eddyleelin opened #3191 "Rename service.Application.stopTestChan to service.Application.stopChan"
As @tigrannajaryan mentioned in the previous issue #2260,

_Originally posted by @tigrannajaryan in https://github.com/open-telemetry/opentelemetry-collector/issues/2260#issuecomment-742590281_

If this is a valid issue, I could take this one on! Thanks.

[2021-05-16 15:11] eddyleelin commented on #3175
Sorry for the newbie question, but would this be a breaking fix? It seems like it would be a rather straightforward fix of changing variable names, so I could look into it!

[2021-05-16 19:05] alexvanboxel opened #3192 "Add log capability to probabilisticsamplerprocessor for sample down the trace_flags"
**Is your feature request related to a problem?**
Consider the following example. You have instrumented a legacy app that is not HA and has long startup times with auto instrumentation (example with opentelemetry-java-instrumentation), changing the sampling percentage needs a restart that is in some cases unacceptable.  Switching to 100% sampling in de traced process and then using the `probabilis

[2021-05-17 03:47] GlowingRuby commented on #3161
@bogdandrutu sure,reply later.

[2021-05-17 05:21] alexvanboxel commented on #3192
This issue can be assigned to me, I would be glad to implement this.

[2021-05-17 06:44] GlowingRuby commented on #3161
Are there any configuration item changes? The package I recompiled from the head does not take effect
![image](https://user-images.githubusercontent.com/26060287/118443296-4df90780-b71e-11eb-9b4f-e62cbdf9cdc1.png)

[2021-05-17 08:35] gillg commented on #3118
@Aneurysm9 because this PR was merged I tried directly on master, but it's the same thing. 😞
What make me perplex is because this only appears on Grafana metrics page.

As example, on node-exporter otel-collector succeed to record
[code]

On grafana job this metric is dropped. The original value is :
[code]

Even if I only keep Grafana receiver job, the result is the same.

[2021-05-17 09:38] SkrPaoWang opened #3194 "can opentelemetry buffer data? like buffer timeseries before sending it?"

[2021-05-17 09:44] SkrPaoWang commented on #3194
Looks like opentelemetry only buffers data in memory. What is the default time buffer data can be stored in memory?

[2021-05-17 09:45] SkrPaoWang commented on #2285
how much time the buffer data can be stored in memory?

[2021-05-17 12:23] pmm-sumo commented on #3194
@SkrPaoWang the size of the buffer is currently [controlled using number of batches](https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/exporterhelper#configuration)

Related issue: https://github.com/open-telemetry/opentelemetry-collector/issues/2285

[2021-05-17 12:25] pmm-sumo commented on #2285
As mentioned in the other issue, this controlled by number of batches using [queued_retry](https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/exporterhelper#configuration) configuration. I am working on a PoC of a generic buffering solution, should have an update soon

[2021-05-17 12:26] pmm-sumo commented on #3194
Also, for Prometheus remote write exporter specifically, there's a [PR open with WAL support](https://github.com/open-telemetry/opentelemetry-collector/pull/3017)

[2021-05-17 12:54] jacky15 opened #3195 "Collector return "invalid length for ID" for trace reporting"
**Describe the bug**
I am using  opentelemetry-collector with otlphttp exporter. But when data report to the collector, it return HTTP status code 400 with the message "invalid length for ID"

**Steps to reproduce**
Here is the tcp traffic

[code]

**What did you expect to see?**
Report success.

**What did you see instead?**
Report failed with 400 status code

**What version did you use?**
Versio

[2021-05-17 16:07] #2904 closed

[2021-05-17 16:26] bogdandrutu commented on #3195
the trace/span ID need to be hex encoded not base64 `cgXI6uihz643E6Zqq7Nl4w==`. See https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/otlp.md#otlphttp-request

[2021-05-17 16:29] bogdandrutu commented on #3192
@alexvanboxel happy to assign, but need to understand "logs" vs "spans". I feel I got confused in the description

[2021-05-17 16:30] bogdandrutu commented on #3175
@eddyleelin it is, but we are allowed to do that in order to cleanup the code in this phase of the project.

[2021-05-17 19:50] eddyleelin commented on #3175
Great! Thanks for the response. I could try to take this one on then! @bogdandrutu

[2021-05-17 20:51] bryanuribe commented on #2704
Is this still open/available? Would I be able to pick this up?
cc: @alolita

[2021-05-17 21:38] bogdandrutu commented on #3104
@tigrannajaryan can you help me with a proposed full "package" name for this?

* `go.opentelemetry.io/model/pdata`? - Allows us to have other interfaces like `Marshaller`" in a `go.opentelemetry.io/model/pencoding` or whatever name.
* `go.opentelemetry.io/pdata`? - Simpler. Where would a `Marshaller` exists? Maybe `go.opentelemetry.io/pdata/encoding`

Please help me pick a winner.

[2021-05-17 21:40] MrAlias commented on #2600
I like the idea of having a new repository dedicated to the `semconv` package. I'm in favor of something like `opentelemetry-semantic-conventions-go` being created to house the package and generation tooling and pointing at that with `go.opentelemetry.io/semconv`.

I think isolating the purpose of each repository (i.e. protos and semantic conventions) will promote cohesive and single-focused Go pa

[2021-05-17 21:41] bogdandrutu commented on #2488
@alolita I have not seen any PR from @Aneurysm9 related to this, we discussed that this is a larger effort, see issue description

[2021-05-17 22:02] bogdandrutu commented on #3072
Thanks @rakyll

[2021-05-17 22:02] #3072 closed

[2021-05-17 22:54] rakyll opened #3209 "Remove queue retry from the Promeheus remote write exporter"
When queued retrying is used, it may cause "out of the order" samples because a failed remote write with older samples can be retried after a successful remote write with relatively new samples. The exporter should implement its own retrying mechanism instead of relying on the queued retry.

(I'm working on this.)

[2021-05-18 00:05] bryanuribe commented on #3195
Do you need someone to work this? If so, would I be able to pick this up?
cc: @alolita

[2021-05-18 00:13] tigrannajaryan commented on #3104
@bogdandrutu I incline towards `go.opentelemetry.io/model/pdata`. This way we can also have `go.opentelemetry.io/model/proto` in the future which is an vanity url for `github.com/open-telemetry/opentelemetry-proto-go`. Anything else data model related can also go under `go.opentelemetry.io/model/` as you say.

[2021-05-18 00:27] tigrannajaryan commented on #2756
Not directly commenting on the PR change, but I did not know we are logging our logs to Event Viewer under Windows. Is this even desirable? AFAIK vast majority of Windows application simply log to log files. Do we think that Windows users prefer Event Viewer that what we do is warranted? I wonder if this is a wanted behavior by most of our users.
I just want to make sure we are not doing some weir

[2021-05-18 05:26] karthikinamanamelluri opened #3215 "Question/Clarification: receiving the telemetry data over a secured channel when deployed as daemonset"
Hello,

I am trying to understand if there is a way to send telemetry data to otel agent deployed as daemonset over a secured channel like TLS.
To elaborate the use-case, I am planning to deploy otel collector as a daemonset and use a host port to send traffic to the pod. Using daemonset here instead of a service, to ensure the data is processed(mask/remove some attribute info) before leaving the

[2021-05-18 05:28] SkrPaoWang commented on #3194
does otlp-collector support write to persistant volume, (writing to the disk)?

[2021-05-18 05:48] SkrPaoWang opened #3216 "does otlp-collector support storing buffer data to persistant volume or to disk?"
Looks like otlp-collector only stores buffer data in memory,
does otlp-collector support storing buffer data to persistant volume or to disk?

(Since what if a pod in kubernetes dies or restarts, the buffer data will be gone if it is stored in memory)

[2021-05-18 07:18] alolita commented on #2507
@jpkrohling May 31 - would that be doable? We're trying to fix as many issues as possible to get to 1.0 by 5/31.

[2021-05-18 07:22] alolita commented on #1170
@bhautikpip can you start working on a design proposal for this issue?

[2021-05-18 07:24] alolita commented on #2641
@humivo - let's sync up on completing the rest of this issue.

[2021-05-18 08:20] jacky15 commented on #3195
According to this, Is this a bug of the http exporter?

[2021-05-18 11:22] jpkrohling commented on #2704
I believe this is still open, but it would be better to take a look at the current workflows before start working on this.

[2021-05-18 11:36] jpkrohling commented on #2507
@gramidt, if you can't do it by May 24, let me know and I'll write something up by May 31.

[2021-05-18 11:40] jpkrohling commented on #2603
Yes, I'll work on it next.

[2021-05-18 12:15] gillg opened #3217 "Error stopping otel-collector on windows"
**Describe the bug**
It's definitely not a big deal, but when you stop otel-collector on windows, there is an error related to /dev/stderr not implemented on windows.

[code]

**Steps to reproduce**
Run otel-collector and interrupt it.

**What did you expect to see?**
No error

**What version did you use?**
0.25

**Environment**
Windows server 2019

[2021-05-18 16:01] humivo commented on #2641
@alolita Ok will do, seems like my PR get approved

[2021-05-18 16:37] alolita commented on #816
@bogdandrutu: We will evaluate all the core components for any public API dependence on OC metrics references and respond on issue.

[2021-05-18 17:00] alolita commented on #2607
@bogdandrutu we will take a look at the code to verify if API changes are needed or not and respond on this issue.

[2021-05-18 17:04] alolita commented on #1170
This issue is related to the design proposal in https://github.com/open-telemetry/opentelemetry-collector/issues/3185

[2021-05-18 17:06] tigrannajaryan commented on #3168
I think this is a good idea and should be doable once https://github.com/open-telemetry/opentelemetry-collector/issues/3104 is done.

/cc @bogdandrutu another reason why extracting pdata is a good idea :-)

[2021-05-18 17:16] alolita opened #3220 "Add a GitHub Actions workflow to check for API compatibility"
This issue is related to preparing for the upcoming 1.0 GA release and is related to issue #2545

We need to add a GitHub Action that compares the PR with head and adds a comment or fails if changes are identified.

[2021-05-18 17:17] alolita commented on #2545
Closing this issue as discussed with @bogdandrutu

New issue is https://github.com/open-telemetry/opentelemetry-collector/issues/3220

[2021-05-18 17:17] #2545 closed

[2021-05-18 17:20] alolita commented on #2594
@tigrannajaryan @bogdandrutu are you working on this issue. Please advise.

[2021-05-18 18:25] tigrannajaryan commented on #2594
Some work was done to decouple the implementation from Viper. We still need to replace it by something else that is case-sensitive. I am not working on this and AFAIK Bogdan is not either at the moment.

[2021-05-18 18:38] tigrannajaryan commented on #669
We also need to test this for OTLP receiver's HTTP transport and ensure we return the correct backpressure code according to OTLP/HTTP spec.

Preferably these all should have automated tests.

[2021-05-18 19:06] alolita commented on #3049
@bryanuribe is working on this issue.

[2021-05-18 19:08] alolita commented on #3050
@eddieleelin is working in this issue.

[2021-05-18 19:08] eddyleelin commented on #3050
I'll take a look at this issue!

[2021-05-18 19:10] bryanuribe commented on #3049
I'll take a look at this!

[2021-05-18 20:32] bogdandrutu commented on #3195
What http exporter do you use? Seems like a bug there if they send JSON data (which seems to be the case based on the payload)

[2021-05-18 20:32] secat commented on #3149
I just saw that there is a specific [Kafka Metrics Receiver](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/kafkametricsreceiver) for metrics in the [opentelemetry-collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib) project.

@bogdandrutu or @tigrannajaryan is there a plan to merge the functionality of the contrib [Kafka Metri

[2021-05-18 20:43] bputt-e opened #3223 "Add compression options for kafka exporter"
**Is your feature request related to a problem? Please describe.**
We're storing traces into kafka for downstream processing and we're using quite a bit of disk space. According to the kafka producer docs, there is no compression by default.

**Describe the solution you'd like**
Update the kafka exporter to accept a compression code and the level of compression, ex:
[code]

**Describe alternatives

[2021-05-18 21:04] mxiamxia commented on #2648
List the all files under `obsreport` and `obsreporttest` and track the checking progress with checkboxes.

obsreport
 - [ ] doc.go
 - [ ] observability.go
 - [ ] obsreport.go
 - [ ] obsreport_exporter.go
 - [ ] obsreport_processor.go
 - [ ] obsreport_receiver.go
 - [ ] obsreport_scraper.go
 - [ ] obsreport_test.go
 - obsreporttest
     - [x] obsreporttest.go
     - [x] obsreporttest_test.go

**Fin

[2021-05-18 21:17] bogdandrutu opened #3225 "Remove `testutil.LimitedWriter`"
1. Implement an always return error io.Writer and use it in the fileexporter tests.
2. Copy the current code in contrib/receiver/fluentforwardreceiver to be used there in tests. Ensure not publish, move to a _test file.

/cc @alolita for triage

[2021-05-18 21:19] bogdandrutu opened #3226 "Hide tracetranslator bigendian helpers"
1. Remove usages from contrib repo.
2. Move the code to ./internal/idsutil so it is not public.

/cc @alolita

[2021-05-18 23:46] bogdandrutu opened #3229 "Transform `goldendataset` for traces to not depend on protos."
Right now the generator generates proto structs instead of `pdata` structs, see https://github.com/open-telemetry/opentelemetry-collector/blob/main/internal/goldendataset/span_generator.go#L50 which should return `pdata.Span` in this case.

[2021-05-19 01:02] #3162 closed

[2021-05-19 02:03] rakyll opened #3230 "Allow partitioning in fileexporter"
fileexporter currently doesn't partition and exports to a single destination. This strategy is not going to work in production under heavy load. Have a partitioning mechanism where users can partition by the following:

* date/time
* telemetry type

The the collector can take a template like the following example to generate the paths.

[code]

[2021-05-19 06:35] shabicheng opened #3232 "AlibabaCloud LogService metric exporter contains special character"
**Describe the bug**
OpenTelemetry metric's labels contains '.' or others none Letter or Digit characters, the alibabacloudlogserviceexporter do not replace these characters, so promQL will cause errors like "promql error: 1:33: parse error: unexpected character inside braces: '.'"

According to opentelemetry collector prometheus exporter, we can replace any none Letter or Digit characters with '_

[2021-05-19 06:36] shabicheng commented on #3232
I will fix this problem soon

[2021-05-19 06:50] shabicheng commented on #3232
sorry, this issue should in opentelemetry collector contrib

[2021-05-19 06:50] #3232 closed

[2021-05-19 10:08] jpkrohling opened #3233 "TestBallastMemory - Intermittent test failure"
The test TestBallastMemory failed during PR #3128. Unfortunately, the test does not specify what's the memory consumption, only the limit.

[code]

[2021-05-19 13:02] jacky15 commented on #3195
I am using the exporter from "go.opentelemetry.io/otel/exporters/otlp/otlphttp"
Here is the code used to init the exporter
[code]

[2021-05-19 14:06] tigrannajaryan commented on #3149
No, as far as I know the two are completely different. One collects Kafka's own metrics, the other receives arbitrary telemetry payloads from Kafka.

[2021-05-19 14:21] gramidt commented on #2507
That timeline currently fits with my priorities and should be able to take this, @jpkrohling.

[2021-05-19 15:20] tigrannajaryan opened #3234 "Automate doc publishing to opentelemetry.io"
We now have a manually triggered github action [doc-update](https://github.com/open-telemetry/opentelemetry-collector/actions/workflows/docs-update.yml) which publishes the documentation from this repo to opentelemetry.io website repo (creates a PR there).

It would be nice to automate triggering of doc-update action as part of release process.

[2021-05-19 15:21] tigrannajaryan commented on #3234
FYI, @open-telemetry/collector-approvers

[2021-05-19 15:59] secat commented on #3149
@tigrannajaryan thank you very much for the precisions!

Is there a roadmap to support the `metrics` signal through the [Kafka Receiver](https://github.com/open-telemetry/opentelemetry-collector/tree/main/receiver/kafkareceiver)?

[2021-05-19 16:10] alolita commented on #2565
Action Item: We should scan and remove all references in the code and docs to the old port before GA. If we find a reference, file an issue, we will need to fix it.

[2021-05-19 16:37] hossain-rayhan commented on #3185
[wip] design [doc](https://docs.google.com/document/d/1yCodswsxkfzD08pbOASd-DdaOs_7v2Uho5lT4lf0LmA/edit#heading=h.3ylj5d126vrq). Feel free to modify and add comment.

[2021-05-19 19:26] bogdandrutu commented on #3230
See https://github.com/open-telemetry/opentelemetry-collector/discussions/2457

We need someone to champion the entire effort.

[2021-05-19 21:29] bogdandrutu commented on #3099
@tdinucci I would like to see a bit more of a diagram/high-level design of what you have in mind. Or work with someone to make that. It would be interesting to see what alternative (rather than Kafka) we have and make a decision.

I want also to say that please don't spend more than 1/2 day on this, since it is just a preliminary discussion :)

[2021-05-19 21:31] pavankrish123 commented on #3233
Also happening in #3214 as well - think the issue is independent.

[2021-05-19 21:38] mxiamxia commented on #816
Discussed it in SIG with @tigrannajaryan and @bogdandrutu , this issue is currently blocked by open-telemetry/oteps#89.

[2021-05-19 22:51] IrisTuntun commented on #3217
This should have been resolved in 0.27 by #2994 already.

[2021-05-19 23:51] bryanuribe commented on #3220
Would I be able to pick this up?
cc: @alolita

[2021-05-19 23:52] alolita commented on #3220
Assigned to you @bryanuribe

[2021-05-20 07:03] alolita commented on #2594
Thanks for the update @tigrannajaryan! I will assign this issue to both of you for the time being given this is work in progress. Let me know if anything changes on your end.

[2021-05-20 07:11] alolita commented on #3049
Please see https://github.com/open-telemetry/opentelemetry-collector/issues/2677 for more details on the component package.

[2021-05-20 07:33] alolita commented on #2600
@Aneurysm9 - can you provide your recommendations used for the Go API/SDK which we can reuse here? Thx.

[2021-05-20 07:36] alolita commented on #2539
Action Item from Collector SIG 5/19: @alanwest please provide more details on how to replicate this issue. Can you file a PR for a fix? Thx.

[2021-05-20 13:52] tigrannajaryan commented on #2594
I suggest to push this to Phase 2 or even post GA. The fix should not be a breaking change. @bogdandrutu thoughts?

[2021-05-20 14:02] tigrannajaryan opened #3241 "Decide if Collector should output logs to Windows Events system on Windows"
Apparently, we send our logs to Event Viewer on Windows, which I had no idea about.

Do we consider this to be a best practice? I think vast majority of app I saw on Windows simply log to a text file. Are we sure we are not doing a weird thing here by logging to Event Viewer?

I understand it may be an official best practice recommended by Microsoft, but the tradition usually trumps official and I

[2021-05-20 15:12] sethAmazon commented on #3225
I would like to take up this issue.

[2021-05-20 16:18] sethAmazon commented on #3225
I have a few questions about this ticket.
1. "Implement an always return error io.Writer" does this mean always return error when the writer is called? This will cause current test cases to fail.
2. Is there a better way than just copying "current code in contrib/receiver/fluentforwardreceiver" this seems bad since there would be no way to keep the copied code up to date with the contrib repo.
3.

[2021-05-20 18:48] alanwest commented on #2539
@alolita I'm not sure any more details are required. The collector currently cannot be configured with an endpoint that includes a scheme (i.e., `https` in this example):

[code]

This differs from the implementation for configuring the OTLP exporters of some of the language SDKs. It also differs from what the specification for the OTLP exporter requires.

I'd be happy to submit a PR if the decisi

[2021-05-20 21:21] alolita commented on #3226
Assigning @IrisTuntun

[2021-05-20 21:35] IrisTuntun commented on #3229
Hi, can I take this issue?

[2021-05-20 23:00] carlosalberto commented on #1170
I can take this item in case @bhautikpip is not available anymore ;)

[2021-05-21 04:33] james-bebbington commented on #3241
My 2c: logging to Event Viewer is pretty common on Windows from what I've seen, especially for background service type apps (e.g. an agent).

I think supporting both logging to Event Viewer or a log file via flag options would be a good compromise. It should be relatively straightforward to implement both. Then it doesn't really matter too much what you make the default (just make sure any changes

[2021-05-21 11:27] jpkrohling commented on #3233
#3247 failed with:

[code]

[2021-05-21 11:53] jpkrohling commented on #3233
And again:

[code]

@owais, looks like you worked on this before, so I wanted to ask you this: should the test be more lenient with the limits, or should the underlying code be changed so that its internal limits are some percentage points lower than what the user set?

[2021-05-21 12:57] owais commented on #3233
IIRC, I think it checks that VMS is greater than specified ballast size but actual RSS is not affected. The failures suggest that the baseline for actual memory used by the collector has changed so I guess we need to either find the regression or increase the limit. The number aren't big enough to suggest a regression though. I'd verify the expectation for pipelines without ballast and use same nu

[2021-05-21 13:53] loomis-relativity opened #3248 "fileexporter panics when marshaling data"
**Describe the bug**
The fileexporter panics when it processes data and causes the Collector to fail.

**Steps to reproduce**
Run the given Kubernetes manifest with `k apply -f .`.

[collector-egress-file.txt](https://github.com/open-telemetry/opentelemetry-collector/files/6522939/collector-egress-file.txt)

**What did you expect to see?**
The Collector starting and then writing metric data to the

[2021-05-21 15:11] jpkrohling commented on #3233
Alright, I'll change the test so that it accepts up to 10% more than what's specified as limit.

[2021-05-21 18:32] bogdandrutu commented on #3023
@jcchavezs @pavolloffay Short answer, to be convinced show me some use-case where changing the config is necessary and how that would help.

If we have an example use-case we can add a "ConfigLoader" interface that takes a Parser and produces the Config, that way you also have that option.

[2021-05-21 19:02] mxiamxia commented on #2565
OTel Repos need to be updated.
- [ ] opentelemetry-erlang - https://github.com/open-telemetry/opentelemetry-erlang/search?q=55680
- [ ] opentelemetry-collector - https://github.com/open-telemetry/opentelemetry-collector/search?q=55680
- [ ] opentelemetry-collector-contrib - https://github.com/open-telemetry/opentelemetry-collector-contrib/search?q=55680
- [ ] opentelemetry-js-contrib - https://git

[2021-05-21 20:36] cole-easton commented on #3234
I would like to take this issue.

[2021-05-21 20:39] alolita commented on #226
@mxiamxia are you working on this issue? Will re-assign otherwise. Lmk. Thx.

[2021-05-21 20:40] eddyleelin commented on #3209
Can we close this issue because of https://github.com/open-telemetry/opentelemetry-collector/pull/3214?

[2021-05-21 22:00] bogdandrutu commented on #3225
Which test cases?

We copy the code there and delete from here, so only one copy of the code.

Yes

You should start with a PR in fluentforwardreceiver first.

[2021-05-21 22:02] bogdandrutu commented on #3248
do you have the input data as well? would help a lot to debug this.

[2021-05-21 22:11] bogdandrutu commented on #3195
Oh, so you are using golang sdk. Just change for the moment:

`otlphttp.WithMarshal(otlphttp.MarshalJSON)` to `otlphttp.WithMarshal(otlphttp.MarshalProto)`

[2021-05-21 22:15] bogdandrutu commented on #3195
Created a bug in the golang SDK, closing this since we implement the specs.

[2021-05-21 22:15] #3195 closed

[2021-05-22 00:39] carlosalberto commented on #1170
Ping @alolita @bhautikpip

[2021-05-22 11:55] CoderPoet commented on #1424
Excuse me, I wonder if there will be any follow-up feature progress in this issue.

Such as:
1. How to attach the Subject from the getSubjectFromClaims function to the telemetry data.
2. How to export telemetry data from different tenants to different stores

[2021-05-22 12:08] tdinucci commented on #3099
@bogdandrutu - here's a quick HLD with what's in my mind.

## Collector ring

A number of Collectors would form a hash ring and communicate between themselves to route data that is sent to the ring.  This means that a dumb load balancer can sit in front of the ring and blindly send data to an arbitrary Collector.

The main benefits of a hash ring here over an "intelligent" load balancer is:
* ring

[2021-05-22 15:56] CoderPoet commented on #1424
This PR may have answered my questions, and I'm looking forward to seeing how it goes

[2021-05-22 16:14] sincejune commented on #3022
I just realized that Kafka had already stored offset information itself so we don't have to add supports particularly for that.
Closing this as we already have [filestorage](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/extension/storage/filestorage).

[2021-05-22 16:14] #3022 closed

[2021-05-22 16:36] sincejune commented on #3248
I tried the config and found the reason is that the file handler is not initialized.

[2021-05-23 08:15] bhautikpip commented on #1170
@carlosalberto @alolita I can start looking at this once I am back as I am currently not available due to traveling.

[2021-05-23 16:09] timcosta opened #3262 "[processors/batch] Size calculations inconsistent, causing unbounded batch size in bytes"
**Describe the bug**
The `batch` processor is not limiting batch size by bytes, but rather by item count. I believe this is due to confusing nomenclature, let me try to explain...

In [`config.go`](https://github.com/open-telemetry/opentelemetry-collector/blob/main/processor/batchprocessor/config.go#L32) we define `SendBatchSize` and `SendBatchMaxSize`, neither of which specify the unit being coun

[2021-05-23 16:16] timcosta commented on #3262
There's also the added question of how batch should handle records where a single unsplittable record exceeds `send_batch_max_size_bytes`. This isnt an issue in the current item count based implementation, but may become an issue if/when the code is fixed to count bytes instead of items.

[2021-05-24 05:28] Saber-W commented on #3223
Hi, I would like to pick this one and give it a try.
cc @alolita

[2021-05-24 11:05] RSoodAMAT commented on #3059
Any updates on the same

[2021-05-24 11:34] tmodelsk opened #3266 "Hostmetrics process.memory.* metadata should be gauge"
**Describe the bug**
Hostmetrics:
- process.memory.physical_usage
- process.memory.virtual_usage

metric types are defined in metadata  as _**int sum cumulative (AggregationTemporalityCumulative)**_,
but in reality metrics are scraped as gauge.
Metrics type in metadata should be _**int gauge**_ - they are already scraped as int gauge & they're useful as gauge,
 MiB/s ( _int sum cumulative / Aggreg

[2021-05-24 12:31] jacky15 commented on #3195
It works after change the code to `otlphttp.WithMarshal(otlphttp.MarshalProto)`
Thanks a lot!

[2021-05-24 13:42] carlosalberto commented on #1170
Thanks!

[2021-05-24 15:39] sethAmazon commented on #3225
I made a mistake when testing creating an allows error writer does not cause tests to start failing.

[2021-05-24 16:39] bogdandrutu commented on #3248
@sincejune this is great finding, but I think the problem you found is due to a PR I added after 0.27.0 release, so does not look like that is solving this issue, but it solves an important issue anyway so thanks for that :)

[2021-05-24 16:43] bogdandrutu commented on #3266
They are correctly scraped as int **non-monotonic** cumulative sum, which I think the `googlecloudexporter` should treat as gauge.

/cc @punya @jsuereth

[2021-05-24 16:57] bogdandrutu commented on #3266
Found a translation bug, opened the PR and waiting for review to merge. That will solve your issue. Thank you for reporting this.

[2021-05-24 18:12] sethAmazon commented on #3225
Hi @bogdandrutu  I'm still not understanding the context of fluentforwardreceiver code change.
I can't find the directory structure of contrib/receiver/fluentforwardreceiver
I did find the directory receiver/fluentforwardreceiver in the opentelemetry-collector-contrib
I'm assuming I need to copy that directory into repo opentelemetry-collector directory receiver/fluentforwardreceiver
Then make all

[2021-05-24 20:22] bogdandrutu opened #3282 "Plan to revert the revert PR#3276"
In order to make this possible let's follow the next plan:

* Change all components to call ToDialOptions/ToClient in Start (no change on the APIs but only where it is called). Needs to happen in core and contrib.
* Re-merge what is left in the reverted PR.

/cc @pavankrish123

[2021-05-24 21:13] #3225 closed

[2021-05-24 22:15] cole-easton commented on #3059
I'd like to work on this bug

[2021-05-24 22:22] bogdandrutu commented on #3262
Counting the bytes is very exporter protocol specific unfortunately and there is no easy way for us to do in a way that will work for all protocols, also even for OTLP is pretty expensive to calculate size, so it will be good if this will be an additional component that splits by size instead of the core batch processor.

[2021-05-24 22:27] #3233 closed

[2021-05-24 23:15] mxiamxia commented on #2516
Thanks @bogdandrutu .

Dug into the current ballast settings. Before the new ballast extension was added,  the command line `--mem-ballast-size-mib` was the only place where truly enables `ballast` mem allocation. `mem_limiter` processor doesn't do `ballast` memory allocation but just to make sure the collector only consume certain memory under the limit. (drop data & force GC)

It's not a good id

[2021-05-24 23:18] bogdandrutu opened #3286 "Where should BuildInfo live?"
Right now `BuildInfo` is defined in the "component", is it the right place?

This issue is just to agree if this is the right place to have the struct `BuildInfo`

[2021-05-24 23:21] mxiamxia commented on #1828
#2516

[2021-05-24 23:26] bogdandrutu commented on #2607
I think we can implement this later by adding an optional argument to these funcs. So postpone this for phase3.

[2021-05-24 23:26] alanwest commented on #2539
I'll join the 5/26 SIG this week to clarify with y'all what direction to go with this issue.

[2021-05-24 23:32] bogdandrutu commented on #1170
This should be part of https://github.com/open-telemetry/opentelemetry-collector/issues/3185. We need first to understand what components do we offer, etc.

[2021-05-24 23:32] #1170 closed

[2021-05-25 00:06] pavankrish123 opened #3287 "Prepare components for the Client Authentication Extensions"
Is your feature request related to a problem? Please describe.

open-telemetry/opentelemetry-collector#3128 in the core introduces changes to ToDialOptions and ToClient methods to use configuration from extensions to get hold of authentication configuration for clients. However, this commit has recently been rolled back to reduce the changes needed for an individual PR in contrib ( see #3442 ).

T

[2021-05-25 00:09] pavankrish123 commented on #3287
cc: @gramidt @bogdandrutu  I am starting the refactoring effort on the core side exporters. I will add more.

[2021-05-25 03:29] SkrPaoWang opened #3292 "how the opentelemetry exporter is designed to guarantee security (authentication & authorization) when collector exports data to backend?"
how the opentelemetry exporter is designed to guarantee security (authentication & authorization) when collector exports data to backend?

[2021-05-25 07:55] SkrPaoWang opened #3293 "can opentelemetry collector collect data directly from thanos?"
as title

[2021-05-25 10:22] jpkrohling commented on #3282
I see that quite a few about this has been done already, with PRs open. The second part is missing but depends on the first.

[2021-05-25 14:28] timcosta commented on #3262
Hey Bogdan, thanks for your response! If counting size isn't desired in this `batch` processor, I think the config variable names should still be updated to something like `send_batch_min_item_count` and `send_batch_max_item_count` to avoid confusion, as `size` with a default value of `8192` for one of the configs reads and looks like it's referring to bytes/memory rather than item count, and the

[2021-05-25 17:15] Saber-W commented on #2843
I would like to pick up this one.
cc @alolita

[2021-05-25 17:49] atoulme opened #3300 "Attributes processor is not identified when regex does not match"
**Describe the bug**
When a regular expression doesn't match a log line, it fails, but is not identified in the error message, making it hard for the developer to understand which processor entry is failing.

**Steps to reproduce**
Define a pipeline with two different processors such as:
[code]
Add those 2 processors to the same pipeline.

Run the pipeline.

**What did you expect to see?**
I expec

[2021-05-25 18:26] rayliutoronto opened #3302 "Jaeger exporter does not export "tag.error=true""
**Describe the bug**
tag.error is set as true via opentelemetry API. It is supposed to be exported into jaeger as well, but it is not.

**What version did you use?**
Version: otel-collector docker image 0.27.0

[2021-05-25 18:47] #3302 closed

[2021-05-25 18:52] bogdandrutu commented on #3293
Does Thanos export data in any protocol? I thought Thanos is a backend.

[2021-05-25 18:58] #3266 closed

[2021-05-25 19:41] appdashishmehta commented on #1007
Definitely a novel idea, I just wonder so far it was not given much thought. We are hitting such requirement as well for our use case of enabling/disabling exporter(s) dynamically without re-building the pipeline or data loss.

[2021-05-25 22:50] cole-easton commented on #3059
@RSoodAMAT Could you provide a detailed step-by-step list of instructions on how to reproduce this issue?

[2021-05-25 23:55] #3226 closed

[2021-05-26 02:19] mxiamxia commented on #2516
To support the percentage configuration based on total available memory for docker and containers running in k8s pod. The proposed design will be looked like,
1. Identify the memory limit cgroup path location by looking up `/proc/self/cgroup` and `/proc/self/mountinfo`.
2. Once the cgroup memory file path identified, check the value in `memory.limit_in_bytes` under the identified path (eg `/sys/fs

[2021-05-26 06:46] SkrPaoWang commented on #3292
Anyone here?

[2021-05-26 11:06] heruv1m commented on #407
@jpkrohling  is there solution for question from issue topic?

Is seems, that [tail sampling](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/tailsamplingprocessor)  unable to set percent of samples

[2021-05-26 11:38] jpkrohling commented on #407
You are right -- policies can't be chained at the moment, though this is something we discussed in the past.

[2021-05-26 12:02] heruv1m commented on #407
Can I do that sampling in another way?

[2021-05-26 12:15] jpkrohling commented on #407
Not with the current processors. Building one isn't that complicated, though. Here's how the policy parts of the tail-based sampling look like when split from that processor: https://github.com/jpkrohling/opentelemetry-collector-contrib/commit/fbac498f8cb32c95fe15029b4ea29de7aadc5dbe

[2021-05-26 14:20] heruv1m commented on #407
I think your processor is what I need.
PR in contrib repo would be nice

[2021-05-26 14:42] SkrPaoWang opened #3311 "Does opentelemetry collector support exporting aggregated data (like our recording rules) to kafka?"
As title

[2021-05-26 15:33] bogdandrutu commented on #3292
It is up to the backend exporter implementation to design/define that. For example some backends use https connection + token based auth, some use different mechanism. The collector is not responsible to define how this should happen, is up to the backend to decide. If you have a backend in mind we can ask the question to the people responsible for that.

[2021-05-26 15:39] #3118 closed

[2021-05-26 15:39] #3161 closed

[2021-05-26 16:59] PettitWesley commented on #2573
@bogdandrutu Please send us the details when you get a chance on how to use obsreport as discussed in the SIG:
1. Get the number of successes/failure calls for a exporter, not the number of metrics/traces/logs that failed/succeeded to be sent.
2. Configure an exporter in opencensus to consume these metrics in the code

[2021-05-26 17:00] bogdandrutu commented on #3039
OpenCensus is a singleton, you can do this for the moment in an `init` func and will work until we change to OpenTelemetry. Then we will give an explicit call.

[2021-05-26 17:03] bogdandrutu commented on #2573
See this about adding views https://github.com/open-telemetry/opentelemetry-collector/issues/3039

What you need to do is to register a view for the "send_failed_spans" measure with the aggregation Count instead of Sum.

[2021-05-26 17:06] bogdandrutu commented on #2573
For exporter, see the example https://github.com/census-instrumentation/opencensus-go/blob/master/examples/gauges/gauge.go#L150 you can implement that interface and keep values in memory instead of in the logs.

[2021-05-26 18:10] #2641 closed

[2021-05-26 18:13] bogdandrutu opened #3313 "Change obsreport helpers for scraper to use the same pattern as Processor/Exporter"
See https://github.com/open-telemetry/opentelemetry-collector/issues/2649 for same thing that was done for Receiver

[2021-05-26 18:13] bogdandrutu commented on #3313
@humivo are you willing to do this as well?

[2021-05-26 18:24] mxiamxia commented on #2641
This issue is fixed by my PR #3253 !

[2021-05-26 20:14] gillg commented on #3118
Sadly I was very happy but this not fix the issue.
This fix change the exporter accumulator, but here the issue is at the receiver level.
The exception on the exporter accumulator stay the same with this new fix until the data is "corrupted" at the receiver level.

[2021-05-26 20:15] gillg commented on #3118
/open

[2021-05-26 20:15] gillg commented on #3118
@bogdandrutu can you reopen the issue please ?

[2021-05-26 21:07] humivo commented on #3313
I would be open to doing this one as well

[2021-05-27 01:13] mxiamxia commented on #2648
This issue can be closed. /cc @alolita

[2021-05-27 08:14] shilicqupt commented on #3039
what means change to OpenTelemetry?

[2021-05-27 08:42] SkrPaoWang opened #3329 "how to check the footprint(CPU/memory) of Open Telemetry Collector under different workloads?"
As title

[2021-05-27 11:51] johanneswuerbach opened #3331 "docker images for arm64"
Published docker images under https://hub.docker.com/r/otel/opentelemetry-collector/tags?page=1&ordering=last_updated for arm64.

**Describe the solution you'd like**

Publish multi-arch docker images for arm64 similar to prometheus https://hub.docker.com/r/prom/prometheus/tags?page=1&ordering=last_updated

**Describe alternatives you've considered**

Build custom images locally, but that makes te

[2021-05-27 12:32] josephflynch commented on #2701
Google (GCE) is working on this problem right now in our Ops Agent.  While in theory we can generate an OT config file regardless of where this feature ends up we'd much prefer to align our design with the OT design as OT Collector is being used in many contexts within Google (not just Ops Agent).  Let us know how to participate.  This is actually a complex issue and merits a design doc.  If our O

[2021-05-27 16:35] PettitWesley commented on #2701
@josephflynch We'd be very interested in seeing/hearing your ideas and what you've done in ops agent. Let's all work together on this.

[2021-05-27 16:50] Aneurysm9 commented on #2600
I'm with @MrAlias in thinking that a new repo with a new vanity URL would be the way to go.  I think the generation tooling we recently added to the Go repo can easily be moved elsewhere.

The one problem I see that we'll need to work through is that the `semconv` package currently depends on the `attribute` package from the API as all of the conventions are defined as `attribute.Key`s or `attribu

[2021-05-27 17:43] pavankrish123 commented on #3282
Once #3321 is merged - the upcoming changes will update the APIs `ToClient()` and `ToDialOptions()` to `ToClient(ext map[config.ComponentID]component.Extension)` and `ToDialOptions(ext map[config.ComponentID]component.Extension)`.

@bogdandrutu  The `ext` to these APIs we are proposing is a mandatory argument - just wanted to confirm if you are ok with it as well. Can make it optional as well.

@g

[2021-05-27 19:12] gramidt commented on #3282
@pavankrish123 - The latest component needing to be merged as part of #3507 is the Splunk SignalFX exporter. Once that has been merged, contrib should be good to go.

[2021-05-27 19:23] pavankrish123 commented on #3282
Thanks @gramidt let me know. I have started  preparing the changes

Pavan

[2021-05-27 20:22] MrAlias commented on #2600
From the Go SIG:

Currently the `semconv` package represents the semantic conventions with our `attribute` package `KeyValue` type. Would it be okay to keep the generation in this type? Would the collector be okay transforming from these to the `pdata` format?

Would it make more sense to just move the generation code to a separate repo?

@bogdandrutu @tigrannajaryan

[2021-05-28 01:58] gramidt commented on #3282
@pavankrish123 - The final PR in contrib has been merged.

[2021-05-28 02:00] pavankrish123 commented on #3282
Thanks @gramidt waiting for the above pr to be merged. Will push changes to the api changes after the merge

[2021-05-28 12:42] gramidt commented on #3331
Hi @johanneswuerbach!

This is an excellent recommendation! I had actually started this work a couple months ago, but ultimately decided to halt on it until we have finished our migration from CircleCI to GitHub Actions. This migration is still underway and there are a couple PRs being reviewed that will help get us most of the way there. Once this is complete, I will be picking my old PR back up

[2021-05-28 18:34] ajsaclayan commented on #3004
Hi, is there a workaround for this? I'm experiencing this in a Windows environment as well.

[2021-05-28 19:40] #3287 closed

[2021-06-01 08:02] pmm-sumo opened #3345 "Log the opentelemetry-proto version"
**Is your feature request related to a problem? Please describe.**

To my best knowledge, currently there's no way to tell which version of [opentelemetry-proto](https://github.com/open-telemetry/opentelemetry-proto/releases) was used in a given OpenTelemetry Collector build. Such information is also not tracked in [CHANGELOG.md](https://github.com/open-telemetry/opentelemetry-collector/blob/main/

[2021-06-01 13:57] secat commented on #1424
@jpkrohling is there a plan to add the `configauth` to `confighttp`?

[2021-06-01 20:48] cprice404-aws opened #3346 "arm64 rpms will not install on AWS Graviton / Amazon Linux 2 machines"
**Describe the bug**

The arm64 RPMs from the "release" page will not install on AWS Graviton instances running Amazon Linux 2.

**Steps to reproduce**

1. Create an AWS EC2 instance using the latest Amazon Linux 2.  Choose an instance type with a `g` to use the latest generation of instances (Graviton); for example `t4g.micro`.
2. Follow the instructions on the [Getting Started doc](https://opent

[2021-06-02 05:08] #2650 closed

[2021-06-02 07:59] bogdandrutu commented on #3311
Is this what you are looking for? https://github.com/open-telemetry/opentelemetry-collector/tree/main/receiver/kafkareceiver

[2021-06-02 08:00] bogdandrutu commented on #3311
Please reopen with more details otherwise.

[2021-06-02 08:00] #3311 closed

[2021-06-02 10:21] jpkrohling commented on #1424
Yes, eventually. Right now, there's some work going on the client-side auth (exporters) and on propagating the auth data from receivers down the pipeline. If you have the bandwidth, a PR for confighttp based on what we have for configgrpc would be appreciated!

[2021-06-02 15:22] Diksha2021 opened #3357 "How can we monitor windows service using otel?"
How can we monitor windows service using otel?

Earlier we used to monitor services using the below configuration in agent.yaml file.
- type: telegraf/win_services

[2021-06-02 15:56] rakyll commented on #3346
cc @mxiamxia

[2021-06-02 15:58] rakyll commented on #3293
If you meant whether the collector can send data directly to Thanos, see https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/prometheusremotewriteexporter. Thanos speaks Prometheus remote write, if you use the remote write exporter, you will be able to ingest metrics to Thanos.

[2021-06-02 16:02] rakyll commented on #3194
@SkrPaoWang, if you are asking this question in the context of WAL, the collector is aiming to implement a WAL write the intermediate buffers to persistent disk.

If you are asking about this in the context of exporting data to persistent disk, you have the option of writing to files, see https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/fileexporter.

[2021-06-02 16:22] rakyll commented on #3286
I guess we can't put this into service due to circular dependencies. component is probably an ok place. If not, a "build" package might be introduced.

[2021-06-02 16:23] mxiamxia commented on #2565
Removed all the legacy port mentions across the OpenTelemetry repos. The port will be disabled in OTel Collector v0.30.0 per the discussion below.

https://github.com/open-telemetry/opentelemetry-collector/pull/3256#discussion_r638380853

[2021-06-02 16:24] punya opened #3358 "Triager role request for @punya"
Formal request to grant triager scope to @punya.

Reason for request: similar to #3096, I can work together with @alolita to triage issues -- assign a priority that consistent with our overall development process and help focus the community's attention to keep us on track for 1.0.

I participate in the Collector and Go SIGs and fulfill [the requirements for a triager role](https://github.com/open

[2021-06-02 16:29] alolita commented on #3358
@tigrannajaryan @bogdandrutu please approve when you have a chance.

[2021-06-02 18:06] tigrannajaryan commented on #3358
SGTM

[2021-06-02 20:08] Aneurysm9 commented on #3104
We've already got [`go.opentelemetry.io/proto/otlp`](https://pkg.go.dev/go.opentelemetry.io/proto/otlp) for `github.com/open-telemetry/opentelemetry-proto-go`.  I thought that using `model` in package names was [generally discouraged](https://rakyll.org/style-packages/#organize-by-responsibility), though perhaps I'm interpreting that too broadly and @rakyll only means to say that there shouldn't b

[2021-06-03 07:09] jpkrohling commented on #2911
Failed here as well: https://github.com/open-telemetry/opentelemetry-collector/pull/3340/checks?check_run_id=2729774993

[code]

[2021-06-03 07:10] jpkrohling commented on #2792
Duplicate of https://github.com/open-telemetry/opentelemetry-collector/issues/2911

[2021-06-03 07:10] #2792 closed

[2021-06-03 07:11] jpkrohling commented on #2710
Duplicate of https://github.com/open-telemetry/opentelemetry-collector/issues/2911

[2021-06-03 07:11] #2710 closed

[2021-06-03 07:11] jpkrohling commented on #2645
Duplicate of #2911

[2021-06-03 07:11] #2645 closed

[2021-06-03 07:11] jpkrohling commented on #2491
Duplicate of #2911

[2021-06-03 07:11] #2491 closed

[2021-06-03 07:11] jpkrohling commented on #2354
Duplicate of #2911

[2021-06-03 07:11] #2354 closed

[2021-06-03 10:25] shovii opened #3363 "Collector getting failed on docker compose"
Error: cannot load configuration's parser: error loading config file "/etc/otel-collector-config.yaml": unable to read the file /etc/otel-collector-config.yaml: open /etc/otel-collector-config.yaml: permission denied
2021/06/03 09:45:15 application run finished with error: cannot load configuration's parser: error loading config file "/etc/otel-collector-config.yaml": unable to read the file /etc/

[2021-06-03 10:42] tommynguyen-vungle opened #3364 "Can Not Delete"
**Describe the bug**
- Can not delete the `key` tags using the attribute processor

**Steps to reproduce**

- Use otel python library https://github.com/open-telemetry/opentelemetry-python

**What did you expect to see?**
The `otel.library.name` & `otel.library.version` get deleted

**What did you see instead?**
The `otel.library.name` & `otel.library.version` still persist
![image](https://user-i

[2021-06-03 13:23] #3363 closed

[2021-06-03 14:37] #2911 closed

[2021-06-03 19:56] pavankrish123 commented on #3282
Can close this issue now.

[2021-06-03 20:37] rakyll commented on #2573
A naive comment about health check without much context about the past discussions.

When we think about health, we usually think about the case where the collector process is available and ready to accept incoming requests. We should tackle https://github.com/open-telemetry/opentelemetry-collector/issues/3002 in order to determine whether collector is ready to "accept" requests at the OTLP endpoi

[2021-06-03 23:36] #3115 closed

[2021-06-03 23:40] alolita commented on #2648
This is completed. Thanks @mxiamxia

[2021-06-03 23:40] #2648 closed

[2021-06-03 23:43] alolita commented on #2565
This is completed from an implementation standpoint so I will close this issue. I will open another issue to track user feedback until the Collector reaches version 0.30.0 when this port will be disabled.

[2021-06-03 23:43] #2565 closed

[2021-06-03 23:47] alolita opened #3368 "Permanently disable port 55680 in Collector version 0.30.0"
@mxiamxia has removed all the legacy port(55680) mentions across the OpenTelemetry repos. The port will be disabled in OTel Collector v0.30.0 per the discussion in https://github.com/open-telemetry/opentelemetry-collector/pull/3256#discussion_r638380853

[2021-06-04 07:54] #3282 closed

[2021-06-04 10:32] #2754 closed

[2021-06-04 21:23] dashpole commented on #2297
Given the metadata cache (and prometheus' target metadata endpoint) is intended to be used to attach metadata to samples, I opened an issue with upstream prometheus to see if they are interested in changing the name that is included in metadata.  In the mean time, we should probably validate the prometheus configuration to ensure users don't set __name__ as a target label, since that won't work.

[2021-06-05 03:55] philipcwhite commented on #3248
I had this same issue with the file exporter in Linux (Ubuntu 18.04) with vs 0.27.  I reverted to 0.26 and it seems to work fine.  Hope this is fixed in the next release.  Thanks.

[2021-06-07 03:47] irisgve opened #3371 "Support for a generic metrics exporter for the collector's own telemetry"
**Is your feature request related to a problem? Please describe.**
Currently, the only way to collect the collector's obsreport metrics is through a prometheus exporter (pull-based). Looks like this is currently hardcoded in https://github.com/open-telemetry/opentelemetry-collector/blob/main/service/telemetry.go#L78. Are there any plans to support other metrics exporters for self-telemetry? Our us

[2021-06-07 07:27] bogdandrutu commented on #3104
pdata and otlp are the same except the internal representation. On the wire they are exactly the same, the reason to have pdata is because we want internally to generate faster more optimal code than what proto generates.

So the answer is on the wire will always be OTLP, but internally you have a choice to represent things as generated protobufs or pdata which we aim to make that faster marshalin

[2021-06-07 07:58] bogdandrutu commented on #3358
SGTM, please create a PR

[2021-06-07 08:56] bogdandrutu commented on #3364
`otel.library.name` & `otel.library.version` are not tags in the OpenTelemetry data model, unfortunately we do not have a processor to modify InstrumentationLibrary.

[2021-06-07 14:12] punya commented on #3358
@bogdandrutu I've created the PRs. Please add me to https://github.com/orgs/open-telemetry/teams/collector-triagers and https://github.com/orgs/open-telemetry/teams/collector-contrib-triagers in addition to merging the PRs.

[2021-06-07 14:30] bogdandrutu opened #3378 "Add makefile command to re-generate pict files for goldendataset"
@kbrockhoff can you help with this? I think you added the tests so probably you know how to do this.

[2021-06-07 16:27] tigrannajaryan commented on #3358
Done.

[2021-06-07 16:27] #3358 closed

[2021-06-07 22:03] jefchien commented on #3345
I'd like to make this change. I believe I can pull the version from the submodule in a similar manner to the VERSION in the makefile.

[2021-06-07 22:37] ajsaclayan opened #3379 "Fix/support process level metrics from host metrics receiver"
Hi OpenTelemetry community! 😄 👋

**Is your feature request related to a problem? Please describe.**
Related to this issue: https://github.com/open-telemetry/opentelemetry-collector/issues/3004

**Describe the solution you'd like**
As part of the current roadmap, I would like the defect fixed for the host metrics receiver. This was tested on both a Linux (Ubuntu 16.04) and Windows (Windows 10 1909)

[2021-06-08 02:52] mxiamxia commented on #3185
Proposed a design on refactoring the current processors for mutating trace, metric and log data points.
[OTel Core Data Mutation Processors Design](https://docs.google.com/document/d/1SxxEOU_qWOAGVHs-we4Oy9nM5TuVwB3ymI5i8zHB7K4/edit?usp=sharing)

[2021-06-08 17:06] jrcamp commented on #3371
Is this the same as #1093?

[2021-06-08 22:30] bputt-e opened #3396 "Add in ability to specify tls version (min and max)"
**Is your feature request related to a problem? Please describe.**
We have requirements where we have to require TLSv1.2+ and the OTLP receiver does not seem to have a way to configure a specific TLS version to adhere to

**Describe the solution you'd like**
Add config options to configtls.go where we can configure the MinVersion & MaxVersion per https://pkg.go.dev/crypto/tls#Config

**Describe al

[2021-06-08 23:55] puckpuck opened #3397 "attributes processor - regex replace action"
**Is your feature request related to a problem? Please describe.**
I have a need to remove only certain URL parameters from the `http.url` attribute. Some parameters such as email, user, etc can leak PII data.

**Describe the solution you'd like**
A way to rewrite the `http.url` attribute removing only the PII parameters. This could be accomplished with a "regex_replace" type of action that will a

[2021-06-08 23:56] irisgve commented on #3371
Yes thanks for pointing that out! I'll close this one.

[2021-06-08 23:56] #3371 closed

[2021-06-09 01:32] tommynguyen-vungle commented on #3364
@bogdandrutu Thanks for the confirmation. Is it something we would like to consider in the future?

[2021-06-09 05:42] bogdandrutu commented on #3364
@tommynguyen-vungle for sure, we should consider to have a processor that can manipulate the InstrumentationLibrary.

[2021-06-09 08:45] bogdandrutu commented on #3229
Completely fixed in https://github.com/open-telemetry/opentelemetry-collector/pull/3377

[2021-06-09 08:45] #3229 closed

[2021-06-09 10:50] marijnmur commented on #3397
Would also be great if not only the parameter is removed completely, but if just the PII value can be replaced with `redacted` or something similar so you can see the complete url.
This would make debugging easier, because the complete url is still visible, but the PII parts are obscured.

[2021-06-09 12:45] SecretSun opened #3405 "opentelemetry-collector between aws-otel-collector Permanent error: SerializationException"
The aws-otel-collector erro:
2021-06-08T08:42:04.597Z error exporterhelper/queued_retry.go:243 Exporting failed. Try enabling retry_on_failure config option. {"kind": "exporter", "name": "awsxray", "error": "Permanent error: SerializationException: \n\tstatus code: 400, request id: bb92b15b-dea5-44c8-bd4a-68deeefd7735"}

Is there some bug between OpenTelemetry and X-Ray?

Our process is as follows

[2021-06-09 12:55] puckpuck commented on #3397
This could be accomplished with the regex/replace pattern.  In he above example, the replace string would similar to: `$1user=<redacted>$4`

[2021-06-09 15:00] odeke-em opened #3407 "receiver/prometheus: data points with duplicate label keys MUST be rejected"
Coming here from https://github.com/open-telemetry/wg-prometheus/issues/44, the Prometheus Remote Write compliance tests were failing, but that was a red herring about exporter/prometheusremotewrite because it setups a Prometheus receiver on the otelcollector and then waits for the Prometheus Remote Write exporter to push metrics.

@brian-brazil and @roidelapluie let me know that newer Prometheus

[2021-06-09 19:21] jdn-za commented on #3397
+1 absolutely in desperate need for this

[2021-06-09 21:19] davidmirza408 opened #3412 "GRPC interceptor or wrapper"
I would like like to be able to add a GRPC interceptor to view GRPC requests/responses in much the same way the HTTPClientSettings allows me to wrap all requests/responses with a custom RoundTripper.  The use case I have in mind is to allow for more detailed debug logging.

[2021-06-10 04:17] SecretSun commented on #3405
aws-otel-collector:v0.10.0
opentelemetry-collector:0.27.0

We opened Debug and found the following.

(no unique labels)
2021-06-10T03:30:09.566Z debug awsxrayexporter@v0.27.0/awsxray.go:65 Error translating span. {"kind": "exporter", "name": "awsxray", "error": "invalid xray traceid: f62eb7c0526ad8c857876c1a8bd8cd13"}

We think there is a problem with opentelemetry-collector forward aws-otel-colle

[2021-06-10 08:12] jorgonzalez commented on #3397
+1 in need of this.

[2021-06-10 08:12] #3407 closed

[2021-06-10 09:23] bogdandrutu commented on #3405
/cc @alolita @anuraaga @Aneurysm9 @rakyll

[2021-06-10 09:27] anuraaga commented on #3405
@SecretSun To use OpenTelemetry with the collector, you need to configure your app with an x-ray id generator to make sure the IDs are compatible. What language are you using? We have docs on enabling the ID generator for various languages at https://aws-otel.github.io/docs/introduction

[2021-06-10 09:33] odeke-em commented on #2961
The actual issue is with the Prometheus receiver not emitting staleness markers.

[2021-06-10 09:39] odeke-em opened #3413 "receiver/prometheus: emit staleness markers on missing metrics after scrapes"
Coming here from #2961 and then from the Prometheus RemoteWrite exporter test failures, which set up a Prometheus receiver and then request a scrape then transmit the retrieved scrapes to the pipeline then eventually to the remote write endpoint. When metrics disappear, we need to emit staleness markers aka a special NaN per https://github.com/prometheus/prometheus/blob/39d79c3cfb86c47d6bc06a9e931

[2021-06-10 10:39] SecretSun commented on #3405
language: Golang

The translator has problem.

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/exporter/awsxrayexporter/translator/segment.go#L308

The lack of ``` int64(binary.BigEndian.Uint32(traceIDBytes[0:4]))  ```  , w3c has no such thing.

[2021-06-10 11:38] anuraaga commented on #3405
Right - eventually XRay will support normal random IDs but currently has a restriction on Ids that it supports. Because IDs are generated in instrumentation, not collector, care needs to be taken there.

For go we have this doc https://aws-otel.github.io/docs/getting-started/go-sdk

[2021-06-10 12:03] SecretSun commented on #3405
Why wouldn't AWS want to do it on a converter? -_-|||

doesn't matter...

Thank you so mush...

[2021-06-10 12:17] anuraaga commented on #3405
@SecretSun Unfortunately because IDs are propagated from one app to another, which is completely independent of the collector, we need to do the tweak in the app. Hope this requirement goes away soon though!

[2021-06-10 14:16] gramidt commented on #3248
@loomis-relativity @sincejune @philipcwhite @bogdandrutu - I can confirm that has been resolved in v0.28.0.

[2021-06-10 17:23] najeedhabib opened #3417 "Error loading config file "/conf/otel-collector-config.yaml""
**Describe the bug**
Tried default otel-collector from example [here](https://github.com/open-telemetry/opentelemetry-collector/blob/main/examples/k8s/otel-config.yaml)

I am getting errors as follows

2021/06/10 17:15:10 application run finished with error: cannot load configuration's parser: error loading config file "/conf/otel-collector-config.yaml": unable to read the file /conf/otel-collecto

[2021-06-10 17:27] #3417 closed

[2021-06-11 07:19] RSoodAMAT commented on #3059
Steps to reproduce :
1. Create a Gradle project using  spring boot and java. Application should  have metrices such as counter , observer and recorder . JDK version 11 and above .
2.  Create docker image of the project and instrument using open telemetry java agent :
java -javaagent:opentelemetry-javaagent-all.jar \
        -Dotel.instrumentation.spring-batch.enabled=true \
        -jar -Dspring.p

[2021-06-11 07:21] RSoodAMAT commented on #3059
Please find the steps as mentioned on below comment

[2021-06-11 14:28] odeke-em commented on #3413
The PR to finish things is https://github.com/open-telemetry/opentelemetry-collector/pull/3423 but unfortunately Github doesn't stack/link changes so that PR has code from this one, but after this one is merged then it'll get to its normal size.

[2021-06-11 17:23] pmm-sumo opened #3424 "Move storage extension to core"
**Is your feature request related to a problem? Please describe.**
OpenTelemetry Collector Contrib includes a [storage](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/extension/storage) extension, which is currently used by [filelogreceiver](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/filelogreceiver).

It was identified that th

[2021-06-11 20:38] Stocco commented on #2310
We also need this feature as well. The spans generated by our LB healthchecks pollutes our vision and it also increases our monitoring tool bill  :'(

[2021-06-14 06:20] #2594 closed

[2021-06-14 10:00] mapno opened #3436 "Make Application's telemetry configurable"
**Is your feature request related to a problem? Please describe.**

The `Application`'s telemetry uses the Prometheus exporter from [OpenCensus](https://github.com/census-ecosystem/opencensus-go-exporter-prometheus) by default. Before, one could configure the telemetry manually, and therefore the exporter itself. But that is no longer viable since the `obsereport` and `obsmetrics` pkgs were moved

[2021-06-14 14:40] alolita commented on #3049
Completed.

[2021-06-14 14:40] #3049 closed

[2021-06-14 15:02] #3051 closed

[2021-06-14 15:54] maitdaddy1 commented on #3262
If I'm not mistaken the Payload size for API GW is 10MB and for Lambda its 6MB

[2021-06-14 16:06] alolita commented on #2600
@MrAlias Having the generation code to a separate repo would help in both the Go library and the Collector being able to leverage the same package. @bogdandrutu had mentioned this strategy could be reused in the long run for all Go components.

[2021-06-14 17:27] alolita commented on #2488
@bogdandrutu we're working on this - will sync up w @Aneurysm9

[2021-06-14 17:28] #3050 closed

[2021-06-14 17:28] alolita commented on #3286
What's the final decision here?

[2021-06-14 17:33] rakyll opened #3438 "Rename oterr to otelerror"
Let's keep the consistency among error packages in terms of naming. consumer package has consumererror, config has configerror. The oterr is not following the existing naming convention and is using "OT" as a short name for OTel.

[2021-06-14 17:35] rakyll commented on #3438
This is an obsolete issue, I was accidentally browsing an earlier version.

[2021-06-14 17:35] #3438 closed

[2021-06-14 17:58] skyduo commented on #2573
Hey @bogdandrutu , we have a design doc for the health check for OT and a few questions include in it, may need you to take a look! https://docs.google.com/document/d/1SpUMsWA2DeaoVazeQ8uEc1Wvu5LphmQU_TjzLmuJ4QM/edit#

[2021-06-14 20:21] rakyll opened #3439 "Consider running CI/CD tests on ARM64 Linux"
To follow up with https://github.com/open-telemetry/opentelemetry-collector/issues/2172, we might be interested to add ARM64 Linux as a target in CI/CD tests. ARM64 Linux is a rapidly growing user base, and we would like the collector to be tested on this platform continuously to identify issues and regressions.

@alolita, do we have any bandwidth to build provide a EC2 Gravitron instance based cu

[2021-06-15 09:33] jack161641 opened #3444 "use exporters kafka with sasl get error"
**Describe the bug**
A clear and concise description of what the bug is.
Error: cannot build pipelines: cannot build builtExporters: error creating kafka exporter: kafka: client has run out of available brokers to talk to (Is your cluster reachable?)
2021/06/15 17:25:48 application run finished with error: cannot build pipelines: cannot build builtExporters: error creating kafka exporter: kafka: c

[2021-06-15 09:54] morigs commented on #2310
@Stocco in case you're looking for a workaround: some HTTP instrumentation allows to specify a list of exclusions.
For instance [this parameter](https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-instrumentation-http/src/types.ts#L75) in opentelemetry-js

[2021-06-15 16:32] MrAlias commented on #2600
I'm not sure I understand what is being said here.

I agree that unifying the location of shared code is a good idea.

Do we want to put the _generation_ code in the repository or the _generated_ code? If it is the _generated_ code, would the collector be okay with that code using `"go.opentelemetry.io/otel/attribute".KeyValue` type to represent the conventions?

[2021-06-15 16:45] punya opened #3447 "receiver/hostmetrics: Paging device is populated on Windows but not other platforms"
**Describe the bug**
When the host metrics receiver is enabled with the paging scraper, it produces metric data points describing paging usage. According to the [metadata](https://github.com/open-telemetry/opentelemetry-collector/blob/05f16c5b13710bfa43c23cad0ad192127f9e5e1f/receiver/hostmetricsreceiver/metadata.yaml#L296-L303)

[code]

it's supposed to have a label for the paging device. In reali

[2021-06-15 19:08] jack161641 commented on #3444
I found the reason that when there is a $ special character in the password, this special character will be removed, resulting in an error when connecting Kafka. For example, password "bama#kafkauser$01" will become "bama#kafkauser1", which seems to be the problem of configloader.unmarshaler function

[2021-06-15 23:33] eddyleelin opened #3449 "Proposal for Flexible module/package versioning for Collector and Collector-contrib repos"
[Detailed design doc here.](https://docs.google.com/document/d/1d6vAvUiqU1f5Y4aOozImIgjVO_l2jB36ImfHLgzAM-A/edit?usp=sharing)

**TL;DR:** Rather than versioning an entire repo (e.g. Collector contrib) with a single shared version, **every** individual component (e.g. OTLP receiver, Prometheus exporter, etc.) should be defined as a Go Module and can thus be versioned individually. To make versionin

[2021-06-16 08:49] akiross opened #3451 "OTLP receiver seems to support deprecated fields only"
**Describe the bug**
It seems that the collector is [still using](https://github.com/open-telemetry/opentelemetry-collector/blob/main/cmd/pdatagen/internal/metrics_structs.go) deprecated metric fields _only_ (e.g. `IntSum`, `IntGauge`) and apparently it's unable to receive data that is conformant to the protocol, but not using deprecated fields. This emerged a [couple of weeks back](https://gitter

[2021-06-16 14:56] kuldeepy opened #3454 "OpenTelemetry Collector msi is not installing in windows 10"
**Describe the bug**
OpenTelemetry Collector msi is not installing giving error -
Product: Open Telemetry Collector -- Error 1923. Service 'Open Telemetry Collector' (otelcol) could not be installed.  Verify that you have sufficient privileges to install system services.

**Steps to reproduce**
Download  otel-collector-0.28.0-amd64.msi version v0.28.0 Beta
After download run the msi installer

**W

[2021-06-16 16:33] eddyleelin commented on #3449
Here is a helpful diagram that overviews the proposed solution:
![Collector Module Verisoning Design Diagram](https://user-images.githubusercontent.com/30187949/122258405-fe356980-ce9e-11eb-8d63-92f9ca2e0b2c.png)

[2021-06-16 16:53] dashpole commented on #3436
Could we make SelfObs a receiver, and use the metrics and trace [opencensus bridges](https://github.com/open-telemetry/opentelemetry-go/tree/main/bridge/opencensus) to translate from OpenCensus?

You would then be able to achieve the current behavior by adding a pipeline with the self obs receiver and a prometheus exporter.

[2021-06-17 00:16] alolita commented on #2507
@gramidt any update on this issue? This is an issue needed for 1.0 :-)

[2021-06-17 00:50] alolita commented on #2649
Pending PR #3327 to be merged.

[2021-06-17 00:52] alolita commented on #2539
Thanks @alanwest

@jrcamp @anuraaga @Aneurysm9 can you please help review? Ty!

[2021-06-17 00:56] alolita commented on #2600
Based on the Collector SIG discussion today, the Go library and Collector maintainers will sync to finalize next steps in setting up a common repo as proposed by @Aneurysm9 to reuse common packages between Go based code bases.

[2021-06-17 00:56] alolita commented on #2603
@jpkrohling What's the status on this issue? Are there related PRs?

[2021-06-17 01:46] pavankrish123 commented on #2507
Hello @alolita I believe https://github.com/open-telemetry/opentelemetry.io/pull/605 is the documentation @jpkrohling is working on. As of today It is complete and is waiting on #3369 to be merged.

[2021-06-17 05:52] bogdandrutu commented on #2488
@alolita this is one of the blockers to finish Phase1 milestone.

[2021-06-17 06:04] bogdandrutu commented on #3444
/cc @tigrannajaryan @pjanotti

[2021-06-17 06:28] bogdandrutu commented on #3397
/cc @tigrannajaryan

[2021-06-17 14:55] #3313 closed

[2021-06-17 14:56] #2843 closed

[2021-06-17 17:42] tigrannajaryan commented on #3397
This and more complex cases can be probably be solved by a generic DSL that allows arbitrary expressions and supports regex as data type. Instead of adding a new action type every time we have some new way to process the data support a simple but flexible expression execution engine that take attributes as an input, executes the user defined expression and assigns the result to attitribute(s).

[2021-06-17 17:43] tigrannajaryan commented on #3444
$ sign is used for env variable substitution. This should be documented and the issue can be closed.

[2021-06-17 18:10] mapno commented on #3436
Hi, sorry what is the `SelfObs` receiver? I wasn't able to find it.

[2021-06-17 18:14] dashpole commented on #3436
I was suggesting we create a new receiver out of the current endpoint

[2021-06-17 18:49] clheikes commented on #842
"The metrics transform processor can be used to rename metrics, and add, rename or delete label keys and values"

Are there any methods to remove labels at this point? I don't see a way to do it with the metric transform processor although it says you can delete label keys. In our case we added labels/attributes using the resource processor and can safely delete labels without needing aggregation.

[2021-06-18 06:49] alolita commented on #1814
Stale issue - hence closed.

[2021-06-18 06:49] #1814 closed

[2021-06-18 08:09] alaendle opened #3460 "Should logging really use stderr (and not stdout)?"
Hi, I use the docker image of the opentelemetry-collector and was wondering why the logging information is printed to stderr. I think most tooling expects "docker logs" output to be on stdout. So was it really intended to use stderr here?

https://github.com/open-telemetry/opentelemetry-collector/blob/3f5c7180c51ed67a6f54158ede5e523822e9659e/exporter/loggingexporter/factory.go#L96

Or should a lin

[2021-06-18 18:50] ttomsu commented on #2534
Any progress made here? We've got some env vars that have (multiple) fallbacks, so these default values would be really nice.

[2021-06-18 18:59] ipstatic commented on #3058
@odeke-em I am experiencing a similar issue (constant crashing) and tried the above commit to no avail. Is there another commit that would be a good place to test? For reference the stacktrace looks like this:

[code]

cc: @dashpole

[2021-06-18 19:03] morigs commented on #3460
It's a common (POSIX) convention. STDOUT used for program **output** (used when piping to redirecting). STDOUT usually contains meaningful generated or transformed data and STDERR used for diagnostics info (such as app logs).
See [this](https://unix.stackexchange.com/questions/331611/do-progress-reports-logging-information-belong-on-stderr-or-stdout) for more information.

As for `docker logs` off

[2021-06-18 19:08] morigs commented on #3396
I think this should be done [here](https://github.com/open-telemetry/opentelemetry-collector/tree/main/config/configtls).
Perhaps some other useful TLS options could be added (for instance `DynamicRecordSizingDisabled`)

[2021-06-18 21:56] jrcamp commented on #2534
It is part of the configsource in Splunk distribution but I'm not sure if there's a timeline of when it will be upstreamed https://github.com/signalfx/splunk-otel-collector/tree/main/internal/configsource/envvarconfigsource @pjanotti?

[2021-06-19 21:23] Saber-W commented on #2607
Hi @Diddaa, can you please elaborate on what your need is? Also, please check out my proposal PR and see if it resolves your problem. Thanks!

[2021-06-21 06:42] AJ-54 opened #3472 "otlp exporter - per_rpc_auth is not wokring"
**Describe the bug**
When using otlp as exporter and defining `per_rpc_auth` it throws the error
[code]

**Steps to reproduce**
Here is the `config.yaml`
[code]
 Just running `.\otelcol_windows_amd64.exe --config config.yaml` will throw the error as described above.

**What did you expect to see?**
otlp exporter running without any errors

**What did you see instead?**
Error

**What version did yo

[2021-06-21 10:48] bogdandrutu commented on #3460
Not sure I understand the comment, do we need to change or keep it as is?

[2021-06-21 12:00] alaendle commented on #3460
Thanks for your explanation @morigs ❤️. And I totally agree that this makes sense for a (interactive) console application.
However I couldn't see any advantage for a daemonized service like the opentelemetry-collector - simple because normally no one would look at STDOUT; and if analysis is needed you wouldn't analyse STDERR & STDOUT separately.

One could also argue that '[logging](https://github

[2021-06-21 14:37] bogdandrutu commented on #3472
/cc @jpkrohling

[2021-06-21 16:03] alolita opened #3474 "Identify and move components from core to contrib to support trace stability milestone"
After discussion with the Collector maintainers, we plan to identify and move components from collector core to collector-contrib to support an imminent trace stability goal for the core Collector. This move will help us declare a stable Collector core.

This includes:
* Identifying components to be moved (e.g. processors) to contrib
* Building a list of these components to be moved
* Track the mo

[2021-06-21 17:01] pavankrish123 commented on #3472
The `per_rpc_auth` feature has been recently moved to become an extension. The auth needs to be set up as an extension, please find the instructions here https://github.com/open-telemetry/opentelemetry-collector/tree/main/extension/bearertokenauthextension.

[2021-06-21 19:37] tigrannajaryan commented on #3474
I suggest that we:

### Keep in the core:

Exporters
- jaeger
- zipkin
- opencensus
- otlp
- otlphttp
- logging

Receivers:
- jaeger
- openzensus
- zipkin
- otlp
- prometheus (?)  <-- Not sure about this one. It may be considered essential since this is the only way to scrape Collector's own metrics.

Processors
- batch
- memorylimiter

Extensions:
- healthcheck
- pprof
- zpages

### Move to contr

[2021-06-22 05:33] AJ-54 commented on #3472
Thank You @pavankrish123, I would like to update the docs [here](https://github.com/open-telemetry/opentelemetry-collector/blob/main/config/configgrpc/README.md) so everyone can know it is now moved inside the extension.

[2021-06-22 14:22] bogdandrutu commented on #3474
I think "ballast" is an important functionality and we want to keep it in core (unless we don't finish the implementation).

[2021-06-22 14:24] tigrannajaryan commented on #3472
@AJ-54 Can we close this now that https://github.com/open-telemetry/opentelemetry-collector/pull/3477 is merged?

[2021-06-22 14:25] AJ-54 commented on #3472
Yes, sure!

[2021-06-22 14:25] #3472 closed

[2021-06-22 14:57] jrcamp commented on #3474
Prometheus is still using OpenCensus so would need to be migrated to pdata or both go to contrib. I think Prometheus should go to contrib though since it is responsible for a large number of the dependencies in core (10's of MB as I recall).

[2021-06-22 15:41] tigrannajaryan commented on #3474
I don't mind moving. Everybody happy with moving Prometheus receiver to contrib?

[2021-06-22 15:48] anishmarokeyGitHub opened #3481 "kubectl exec -it otel-collector-589ffff9c8-8lrch -n default -- /bin/bash - Error"
when I am trying to -it in kubectl geting below error.

### **command:**
kubectl exec -it  otel-collector-589ffff9c8-8lrch    -n default    -- /bin/bash

Error:
OCI runtime exec failed: exec failed: container_linux.go:367: starting container process caused: exec: "/bin/bash": stat /bin/bash: no such file or directory: unknown
command terminated with exit code 126

[2021-06-22 16:36] jrcamp commented on #3481
Unfortunately the image doesn't ship with any shell. You can try using [k8s debug container](https://kubernetes.io/docs/tasks/debug-application-cluster/debug-running-pod/) if enabled for your environment. Otherwise you'll have to build your own image (could do `FROM <otel image>` to extend it).

[2021-06-22 17:30] anishmarokeyGitHub commented on #3481
@jrcamp  thanks for info.

where I can find the **./filename.json** I used in exporter.

My Config:

[code]

I have to check open-telemetry is configured properly

[2021-06-22 17:32] alolita commented on #3474
@tigrannajaryan this list looks like a good first start. A couple of concerns -
1) Will moving the Prometheus receiver to contrib still enable us to continue using Collector releases for Prometheus pipelines? What is the impact on the build and release process?
2) Will moving Open Census break Prometheus pipelines? What is the impact on releases?
I'd like to have a better handle on the release wor

[2021-06-22 18:22] jrcamp commented on #3481
You won't be able to get access to filename.json in the container from k8s since it doesn't ship with tar which I think `kubectl cp` requires. Maybe use logging exporter instead if you just want to see the contents which will go stdout/stderr.

[2021-06-22 22:59] alolita commented on #3474
Since we are working on ensuring first-class Prometheus interoperability, I propose -

Preferred Option: we keep the Prometheus components in core as-is where the Prometheus receiver, Prometheus remote write exporter (push-based) and Prometheus export (pull-based) stay in Collector core repo. At a minimum, we would like to see the Prometheus receiver and Prometheus remote write exporter in core to

[2021-06-23 07:24] #2649 closed

[2021-06-23 08:21] mapno opened #3482 "Application's telemetry configuration"
**Is your feature request related to a problem? Please describe.**

Follow-up issue from https://github.com/open-telemetry/opentelemetry-collector/issues/3436

After discussion in the Collector community meeting, we want to explore new designs and alternative solutions for the following topics:

- Telemetry configuration: `Application` has different telemetry components such as a logger, exporter

[2021-06-23 15:54] jmacd commented on #3474
This is a bit surprising. Is there a long term plan to remove this dependency? Could we imagine using an OTel-Go SDK?

[2021-06-23 21:40] tigrannajaryan commented on #3474
Yes, most likely that's what we will do. IIRC, we had some dependency conflicts that prevented us to do this easily.

[2021-06-24 01:29] alolita commented on #3474
Can we have a wider audience for these discussions on metrics scraping rearchitecture? Sorry I missed the IIRC discussion.

[2021-06-24 09:44] jpkrohling commented on #2507
Indeed, that's the doc I prepared that should address this one. I'm closing this issue, but feel free to reopen if you think something is missing.

[2021-06-24 09:44] #2507 closed

[2021-06-24 09:55] zivfuture commented on #3481
@jrcamp

why?   Without any shell in collector  is  a bad idea.  we have to do lot of  unnecessary work to get some infomation inside the image.

[2021-06-24 13:14] jpkrohling commented on #2488
About "eliminate use of .Append", what's the reasoning? Callers now have to make two calls to have the same effect: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/3861/files#diff-6211e1422cb9d2f03e84e85892a9a659a0d7d3d42de41cae0d130f63767d8a56L479-R482

[2021-06-24 14:54] jpkrohling commented on #2603
I just updated the main description to include a link to the related issues. Basically, the auth on the receivers' side is done, as well as on the exporters'. The propagation of auth data down the pipeline is missing, and we are having design discussions. The missing piece is critical for multi-tenancy and for a "passthrough" auth method, so that exporters would reuse the auth data they got from r

[2021-06-24 15:12] jrcamp commented on #3140
No, this is usually handled by whatever is running the collector (k8s, docker, systemd, etc.)

[2021-06-24 15:12] #3140 closed

[2021-06-24 16:01] jrcamp commented on #3481
@zivfuture I agree and would like to see us ship with busybox inside the image. I don't think it's really been discussed and I don't know if others would agree or not. You may want to open a ticket proposing adding a base image (I suggest busybox) and layout the arguments of why we should do it. I would suggest addressing any potential concerns as well (e.g. security: busybox is well maintained an

[2021-06-24 16:01] #3481 closed

[2021-06-24 17:11] alolita commented on #2788
@bogdandrutu should this issue be closed?

[2021-06-24 17:12] alolita commented on #2787
@bogdandrutu should this issue be closed?

[2021-06-24 17:18] Aneurysm9 commented on #3058
I think this is related to [this mistaken bounds check](https://github.com/open-telemetry/opentelemetry-collector/blob/main/receiver/prometheusreceiver/internal/metrics_adjuster.go#L269):

[code]

That should be:

[code]

[2021-06-24 18:24] Aneurysm9 commented on #3058
@ipstatic if you're able to reliably reproduce this can you try a build from the branch on #3486?

[2021-06-24 20:10] ipstatic commented on #3058
@Aneurysm9 I am able to reliably reproduce and I do not see this issue on your branch.

[2021-06-24 22:32] jrcamp commented on #3474
See #1093

[2021-06-25 09:54] zivfuture commented on #3481
@jrcamp

i am using k8s debug container. and try to exec ```ls /proc/7/root```
I get an error: ```cannot read symbolic link '/proc/7/exe': Permission denied```

[2021-06-25 10:05] zivfuture opened #3488 "Fail to debug collector image"
As this issue said: "the image doesn't ship with any shell." [3481](https://github.com/open-telemetry/opentelemetry-collector/issues/3481)

So, i tried to use k8s debug container to get files info inside the image:
![image](https://user-images.githubusercontent.com/49356505/123408270-67278a80-d5df-11eb-86fb-3321d2dba0b3.png)
![image](https://user-images.githubusercontent.com/49356505/123408288-6ab

[2021-06-25 16:40] jrcamp opened #3489 "Possible race condition in reloading"
I was looking at the [reloading code](https://github.com/open-telemetry/opentelemetry-collector/blob/9d5a51ef7d11e4a4afba8ab8c76786d9a20335a6/service/collector.go#L244) in the collector. Looks like `reloadService` is called from this goroutine which then sets `col.service` to a new value. `col.service` is [read in other goroutines](https://github.com/open-telemetry/opentelemetry-collector/blob/9d5

[2021-06-25 17:54] rakyll opened #3490 "Allow service.Collector users to implement custom graceful shutdown"
Currently, service.Collector is handling the signal management and implementing a graceful shutdown. This is a problem for collectors that want to wire their own signal handling in cases they want to add custom logic and/or have resources other than the service.Collector to shutdown.

Make the current behavior optional by introducing a collector setting:

[code]

If disabled, users can handle sign

[2021-06-25 18:30] rakyll opened #3491 "Build is broken"
otelcol target seems to be broken due to https://github.com/open-telemetry/opentelemetry-collector/pull/3483.

Autogenerated filed, `receiver/hostmetricsreceiver/internal/metadata/generated_metrics.go`, imports the old package from the old path.

cc @bogdandrutu

[code]

[2021-06-25 18:41] rakyll opened #3492 "Document the service.Collector ballast"
service.Collector creates a ballast for the collector telemetry (https://github.com/open-telemetry/opentelemetry-collector/blob/c63d0c68cdd4717883c3bb3d5e3897f3d2da538b/service/collector.go#L274) but it's not documented how it's different than the ballast extension. Add documentation inline to explain the purpose.

[2021-06-25 18:45] rakyll commented on #3491
This was due to the outdated generation tools. Closing it.

[2021-06-25 18:45] #3491 closed

[2021-06-25 18:49] jrcamp commented on #3490
Perhaps `service.Collector` needs to be made more libraryish and things like signal handling should be done inside a `main.go` that consumers that are wrapping the collector aren't required to use.

[2021-06-25 20:52] alolita commented on #2788
This seems like a style-based decision. @Aneurysm9 had made a suggestion so @punya can we chat w Anthony and figure out the best practice in this case :-) ty!

[2021-06-25 21:44] Aneurysm9 commented on #2788
I think @punya covered the pros/cons well in [this comment](https://github.com/open-telemetry/opentelemetry-collector/pull/2825#issuecomment-808500380).  The important question is probably whether/how often we expect to add new options that can benefit from this change.  If we don't, then maybe it's not worth it.  The value of the change goes up with each additional option that can utilize it. v0v

[2021-06-25 21:47] punya commented on #2788
We haven't added any more "generic" options like Start and Shutdown since the time this issue first came up. To me, that's decent evidence that we don't need to optimize for ease of adding future options of this sort.

[2021-06-25 23:26] bruuuuuuuce commented on #3118
@gillg I am facing a similar issue with the prometheus receiver, did you find a workaround that worked for you?

[2021-06-26 06:13] gillg commented on #3118
Hello, unfortunately nothing for now. It's definitely not systematic, not a majority of metrics, but present a lot in some contexts like grafana metrics.

[2021-06-26 17:10] bruuuuuuuce commented on #3118
Thanks for the response! I ended up changing my metrics to add the `# TYPE metric_name metric_type` above each metric as per the prometheus spec https://prometheus.io/docs/instrumenting/exposition_formats/#line-format. This fixed my issue with Open Telemetry. It seems that some code does not implement this, as per prometheus it says that the `TYPE` is optional.

[2021-06-27 13:43] zivfuture commented on #3488
who can help

[2021-06-28 10:34] AJ-54 commented on #3488
Hi @zivfuture  Can you share the config file?

[2021-06-28 14:17] HashemTaheriSonos opened #3501 "faulty conversion of x-ray to Jaeger"
**Describe the bug**
I'm exporting traces to both AWS and Jaeger. I set up an otel-collector which receives in the x-ray format and export to Jaeger. The traces are fully shown in the Jaeger but the dependency graph is not showing anything and cannot compute the tree. as I checked that's because these traces, do not have any `references` value set, that's why from the jaeger side [it cannot comput

[2021-06-28 17:23] #2785 closed

[2021-06-28 17:23] #2500 closed

[2021-06-28 17:40] rakyll commented on #3460
Per POSIX convention, the collector's own logs should be in stderr rather than loggingexporter's. loggingexporter's output is the program's output, not its diagnostics log.

[2021-06-28 17:42] rakyll commented on #3501
cc @anuraaga

[2021-06-28 17:44] rakyll commented on #3490
@jrcamp That's the convention in Go. Signal handling is left to the main. I'd suggest us main package doing the wiring.

[2021-06-28 18:07] #3085 closed

[2021-06-28 21:56] rakyll commented on #3492
We think that this might be an outdated feature and should be replaced by the new ballastextension in that case.

cc @bogdandrutu

[2021-06-28 21:59] mxiamxia commented on #2539
It looks with this proposal we'll going to apply the changes to SDKs and Collector. (if it is approved and merged)

@alanwest, will you be able to continue work on the changes in collector side?  It seems we need to fix the endpoint colons check error in the collector. Although I think it is not a OTel v1.0 blocker since there is no breaking change.

[2021-06-28 22:05] bputt-e opened #3509 "Add rate limiter for receivers"
**Describe the solution you'd like**
We'd like to add a rate limiter (records / s and/or bytes / s) that a system can send to the collector. We're standing up an ingest pipeline using the auth work that you've recently implemented. We're hoping to tie usage back to the apikey that a system is using.

**Describe alternatives you've considered**
We're considering offering a service upstream that tak

[2021-06-29 04:11] anuraaga commented on #3501
Hi @HashemTaheriSonos - are you using the OTLP receiver on the collector? If you're using jaeger receiver, can you try OTLP?

X-ray is only a factor when exporting to from the collector, there is no input "x-ray format" to convert from to jaeger. So the issue is probably either in jaeger exporter or the instrumentation

[2021-06-29 12:19] HashemTaheriSonos commented on #3501
@anuraaga Thanks for your response, I'm not using Jaeger receiver, just in the last step I'm exporting as Jaeger.
I see... true, it might be in the Jaeger exporting part which cause this issue.
The flow is like below:

[code]

[2021-06-29 12:30] anuraaga commented on #3501
The awsxray receiver is only meant to be used with x-ray SDK, so if you are using Otel javaagent you don't need it in your config. I'm not sure if between adot agent and collector in your diagram whether it's being used or not but just in case can you try disabling it? I guess it might not change anything though so would be good to get help from someone familiar with jaeger.

[2021-06-29 12:42] HashemTaheriSonos commented on #3501
@anuraaga True, but i'm using the [java-agent by aws](https://github.com/aws-observability/aws-otel-java-instrumentation), not the otel javaagent, so I'm quite sure it's in use, (if I disable it basically i'm not going to have traces in aws side, for instance in the X-ray dashboard)

but yup, between ADOT Agent and Collector, I can try to remove the awsxray and keep just the OTLP, to see if it wil

[2021-06-29 12:54] anuraaga commented on #3501
@HashemTaheriSonos Sorry for the confusion - the AWS Otel java agent exports with OTLP, it doesn't talk to the xrayreceiver. You can and should disable it.

The only real difference between the AWS Otel java agent and normal otel one is it generates IDs that are compatible with x-ray (and any other backend since they are a subset).

[2021-06-29 13:22] HashemTaheriSonos commented on #3501
@anuraaga no worries at all... Okay, I see... I didn't know that it exports with OTLP, so makes sense, I will disable it and try it to see the result.

[2021-06-29 14:22] gillg commented on #3118
@bruuuuuuuce what is wrong here ?
[code]

It's an exemple of metric considered "untyped" but the TYPE counter is defined.

[2021-06-29 16:09] bruuuuuuuce commented on #3118
@gillg I am not sure, from my understanding of prometheus metrics, that formatting looks right to me. Why do you say that it is untyped?

[2021-06-29 16:14] gillg commented on #3118
Because this produce traces from the first note.
The metrics seems correctly exposed by the exporter, but someting goes wrond during the processing and we lose all metrics metadata.
It's mostly frequent on http://grafana:3000/metrics page.

[2021-06-29 19:43] alolita commented on #3474
I don't think we will be ready to move Prometheus receiver into contrib until the Go SDK is 1.0 (stable).

[2021-06-29 20:28] bogdandrutu commented on #3286
Seems that we can have this in the component.

[2021-06-29 20:28] #3286 closed

[2021-06-29 20:29] alolita commented on #2516
Ping @mxiamxia ? what is the status on this issue?

[2021-06-29 20:30] alolita commented on #2603
Hi @tigrannajaryan what else needs to be done before the tracing stability release? @jpkrohling mentioned that the auth functionality has been completed and the auth propagation logic can be done after release. Please advise.

[2021-06-29 20:34] alolita commented on #2539
@alanwest do you have an update on this work? We will revisit this issue next week if we don't see a response from you.

[2021-06-29 20:40] #2788 closed

[2021-06-29 20:40] #2787 closed

[2021-06-29 20:41] bogdandrutu commented on #3175
We renamed to service.Collector.

[2021-06-29 20:41] #3175 closed

[2021-06-29 20:47] alanwest commented on #2539
Yes sorry just back from a week off and catching up with things...

I can make the changes in the collector though it may be a week or two before I can get to it. I'm on board with doing this work in a backwards compatible way so I agree that this should not be a blocker for v1.0 - though, let me know if others share a different opinion.

@alolita @mxiamxia

[2021-06-29 20:59] mxiamxia commented on #2516
Hi @alolita, I am going to send a new PR to deprecate the old ballast memory creation implementation.

[2021-06-29 21:49] alolita opened #3524 "Rename logging exporter to 'stdout' or 'debug' exporter in Collector"
The logging exporter should be renamed to stdout to represent its function. The current name 'logging' is misleading since this is a stdout exporter used mainly for debugging purposes.

Other similar examples of such an exporter can be found in the Go SDK. See https://github.com/open-telemetry/opentelemetry-go/tree/main/exporters/stdout

[2021-06-29 21:49] alolita commented on #3524
Related to #3474

[2021-06-29 21:58] alolita commented on #3474
Here is the current snapshot that @bogdandrutu and I discussed for list of components in core and to be moved to contrib.

Stays in opentelemetry-collector

CORE | Receivers | Processors | Exporters | Extensions
-- | -- | -- | -- | --
client/ | jaeger | batch | jaeger | ballast
cmd/ | zipkin | memorylimiter | zipkin | healthcheck
component/ | otlp | processorhelper | otlp | pprof
config/ | prometh

[2021-06-29 22:13] tigrannajaryan commented on #2603
We need to be sure auth propagation will not require breaking changes to pdata or internal APIs. We do not need to implement it before the release but we need to be certain that what we plan to do after the release is non-breaking.

[2021-06-29 22:58] gillg commented on #3118
Does anyone can reopen this issue please ?

[2021-06-29 23:43] bogdandrutu opened #3528 "Tracking issue for the few small hacks added to separate pdata internal"
Need to resolve TODOs:

* #3526
* #3527

[2021-06-29 23:45] bogdandrutu commented on #3524
The main difference is that we actually write to the Collector's own logger not to stdout.

[2021-06-30 00:23] bogdandrutu commented on #3474
@alolita we also discussed that we need to look more deeper into `config/`

[2021-06-30 00:58] bogdandrutu opened #3531 "Investigate how, and remove pdata `OtlpProtoSize`"

[2021-06-30 01:15] Aneurysm9 commented on #3118
@bogdandrutu @alolita

[2021-06-30 01:54] alolita commented on #2646
Superceded by issue #3474 to achieve a stable Collector core for upcoming trace stable release.

[2021-06-30 01:54] #2646 closed

[2021-06-30 05:01] alolita commented on #2488
@punya As we discussed assigning you the following reviews to help complete the tasks itemized in this issue.
1.  Review public API for TraceID, SpanID
2.  Review comments for all public API, maybe we have things to improve.

[2021-06-30 05:04] alolita commented on #2488
@Aneurysm9 do you have bandwidth to complete the last review and related PR for the changes. This would help us get all items in this issue done :-)
1. Review the Resize api for slices.
** You MAY consider replacing the API with EnsureCapacity + AppendEmpty usage. Or AppendEmptyN(int).

[2021-06-30 05:15] vishiy opened #3533 "Collector crash v0.29.0"
**Describe the bug**
I took the latest v0.29.0 release and was running prometheus receiver-->otel exporter, and am seeing random crashes . see below for 2 of the stacks that i saw in 2 crashes in few mins....

**Environment**
"Ubuntu 20.04"
go version go1.15.13 linux/amd64

Below is the stack for first crash -

panic: runtime error: index out of range [0] with length 0

goroutine 151 [running]:
go

[2021-06-30 05:27] alolita commented on #2603
@jpkrohling can you add verification logic or tests to ensure pdata and internal APIs work. Is there a design you have in mind for the auth propagation logic?

[2021-06-30 05:32] alolita commented on #2539
Hi @alanwest thanks for responding. We're trying to complete all the changes in this milestone by July 16. Would you have time to work on this in a week? :-)

[2021-06-30 05:43] alolita opened #3534 "Update Collector to OTLP 0.8.0"
This is the umbrella issue which will have several items detailing tasks that need to be completed to update the Collector to OTLP version 0.8.0. Stay tuned.

https://github.com/open-telemetry/opentelemetry-proto/releases/tag/v0.8.0

Roadmap:

- [x] Implement all naming changes in model/pdata/metrics.
- [x] Upgrade proto submodule to 0.8.0 without doing any translation. This may require changing p

[2021-06-30 05:44] alolita opened #3535 "Update Collector to OTLP 0.9.0"
This is the umbrella issue which will have several items detailing tasks that need to be completed to update the Collector to OTLP version 0.9.0. Stay tuned.

https://github.com/open-telemetry/opentelemetry-proto/releases/tag/v0.9.0

[2021-06-30 05:50] alolita opened #3536 "Implement redesigned Collector Metrics Processor"
The metrics processor redesign discussion is in progress. See related issue #3185 for proposed design.

[2021-06-30 05:58] alolita opened #3537 "[Tracker Issue] Prometheus receiver redesign"
The Prometheus receiver needs to be redesigned to be focused on scraping metrics in a reliable and scalable way.

Related issues tracking Prometheus receiver redesign and implementation are in tracked in this list by the Prometheus workgroup at https://github.com/open-telemetry/wg-prometheus/issues?q=is%3Aopen+is%3Aissue+label%3Aprom-receiver

[2021-06-30 06:03] alolita opened #3538 "Evaluate and implement service discovery for general use in the Collector"
Separate service discovery logic from the Prometheus receiver for general use in the Collector.

- [ ] Evaluate whether Go SDK implementation can be reused.
- [ ] Design
- [ ] Implementation
- [ ] Testing

[2021-06-30 06:11] alolita opened #3539 "[Tracking Issue] List Collector components not affected by metrics changes"
List of components in Collector that are not affected by changes needed for metrics stability are:

- Config
- Consumer
- Component
- Service

Note: This list may change based on further analysis.

[2021-06-30 06:26] alolita commented on #3059
@cole-easton are you still working on this issue?

[2021-06-30 07:18] jpkrohling commented on #2603
Absolutely. I had forgotten that we do need at least one API change. I'll go over the code and do the breaking changes that I think will be necessary for the final solution, but will try to complete the auth propagation feature before v1 anyway.

[2021-06-30 07:48] gillg commented on #3089
Closed by PR #3116

[2021-06-30 07:48] #3089 closed

[2021-06-30 07:49] gillg commented on #3106
Jut to be up to date, PR abandoned and #3116 merged.

[2021-06-30 08:01] gillg commented on #2851
Probably done automaticaly with #3116 if you talk about native metrics scrape_xxxx
Now with some relabeling configs you can expose something like that at otel exporter level :
[code]

[2021-06-30 08:04] gillg commented on #2533
I confirm all metrics I use in otel collector namespace has label like `receiver="prometheus"` `exporter="prometheus"`

[2021-06-30 09:39] jpkrohling commented on #3474
We talked in the past about having _distributions_ as a concept that is unrelated to the code repositories. With that, we could keep the core without concrete receivers/exporters/processors, serving only as an API for downstream distributions (such as Jaeger v2). The core components could be located in a different repository, with distributions being built using the OpenTelemetry Collector Builder

[2021-06-30 10:22] dgarciarubio opened #3540 "OTLP receiver with HTTP protocol returns 404 in version 0.29.0"
**Describe the bug**
The http endpoint for traces logs and metrics returns 404 in 0.29.0

**Steps to reproduce**
Start a container with the image `otel/opentelemetry-collector:0.29.0`, with the otlp receiver with http protocol enabled.
Make a post request to any of the endpoints:
- `/v1/traces`
- `/v1/logs`
- `/v1/metrics`

**What did you expect to see?**
The container should respond with status 2

[2021-06-30 14:52] bogdandrutu commented on #3533
/cc @dashpole @rakyll @Aneurysm9 @odeke-em

[2021-06-30 15:26] #3104 closed

[2021-06-30 15:43] alolita commented on #3474
Adding more detail here for config modules which need to be evaluated for stability readiness. I will be opening issues for each tracking each component.

config/ has:

- [ ] configauth
- [ ] configcheck
- [ ] configgrpc
- [ ] confighttp
- [ ] configloader
- [ ] confignet
- [ ] configparser
- [ ] configtelemetry
- [ ] configtest
- [ ] configtls
- [ ] experimental/configsource
- [ ] internal/config

[2021-06-30 16:12] courageJ opened #3543 "Configure prometheus receiver garbage collection interval"
**Is your feature request related to a problem? Please describe.**
For prometheus receivers which disable UseStartTimeMetric to scrape endpoints sampling metrics every 2+ minutes, the timeseries are always reset as the initial, and no metrics will be passed to nextConsumer.

**Describe the solution you'd like**
Provide an option in prometheus receiver to configure the gc interval

[2021-06-30 16:13] courageJ commented on #3543
@dashpole For visibility

[2021-06-30 16:19] tigrannajaryan commented on #2603
@bogdandrutu mentioned that there is a https://github.com/open-telemetry/opentelemetry-collector/tree/main/client package that may also need to be refactored to use the pipeline context propagation. cc @jpkrohling

[2021-06-30 16:39] Aditya-Gollapudi opened #3544 "Multiple Configuration File Support"
Continuation of this prior ticket: https://github.com/open-telemetry/opentelemetry-collector/issues/2701
Discussed at the 6/23 SIG Meeting
Design Doc: https://docs.google.com/document/d/1G7fX1xVk7T7KsCowJ-xkkNzqrWucRdyHveQqYbQ3WdA/edit#heading=h.mnb3vev0pb9q

We would like to support this feature as it will not only allow for users to simplify the complexity of their own configurations but it will

[2021-06-30 17:31] #3191 closed

[2021-06-30 18:41] tigrannajaryan commented on #3474
Why do we want to move `testbed` to contrib? I think it is a critical part of component tests. If we keep the components in the core then we need to keep their tests in the core. If we decide to move all components to contrib (like it was discussed in SIG meeting today) then in that case I agree we need to move the `testbed` too.

[2021-06-30 19:07] dashpole commented on #3543
https://github.com/open-telemetry/opentelemetry-collector/pull/3047 might have changed this behavior recently.

[2021-06-30 19:57] Aneurysm9 commented on #2488
I will get started on this.

@bogdandrutu am I understanding correctly that we will remove the ability to resize a slice downward?  EnsureCapacity will only be able to increase the capacity of a slice.

[2021-06-30 20:31] #3041 closed

[2021-06-30 22:12] tigrannajaryan commented on #3104
@jacobmarble @appdashishmehta this is now done, we have https://github.com/open-telemetry/opentelemetry-collector/tree/main/model module with `pdata` package.

It would be great to validate that this works for your use case before we freeze the 1.0 API as part of the planned GA release coming soon. If you have any feedback please do let us know.

[2021-06-30 23:27] skyduo commented on #2573
Hi @bogdandrutu ! As we want to add the awsecshealthcheckextension to the opentelemetry-collector-contrib repo due to this is AWS ECS specific extension, there is a issue that the obsreportconfig is located inside the internal package in the opentelemetry-collector, so i cannot get the obsreportconfig/obsmetrics which is need to build our own view, we have some options like:

1. could we move the

[2021-07-01 02:35] DDSharma1 opened #3545 "OTel Receiver for Webhook"
**Is your feature request related to a problem? Please describe.**
Many a times the telemetry data comes in the form of webhooks (subscription based). Some of the sources that I have dealt with lately include AWS Firehose and Zoom. Currently, I don't see an option to consume a webhook in OTel Collector. Has it been considered in past and discarded?

**Describe the solution you'd like**
I 'd like t

[2021-07-01 16:36] alolita commented on #2676
Superceded by issue #3474 - closing this one.

[2021-07-01 16:36] #2676 closed

[2021-07-01 21:26] codeboten commented on #3534
Would be happy to help with this if no one's started on it.

[2021-07-01 22:27] alolita commented on #3220
Completed.

[2021-07-01 22:27] #3220 closed

[2021-07-02 02:55] zivfuture commented on #3488
@AJ-54   No,  I'm using  `otel/opentelemetry-collector-dev:latest`

[2021-07-02 10:38] jpkrohling commented on #2603
Created #3552 with the API change I had in mind.

[2021-07-02 10:49] jpkrohling commented on #3474
As discussed during this week's SIG call, here's a draft proposal for splitting the concerns (API consumers vs. distribution users): https://docs.google.com/document/d/1XyYyaYtc1R8-es0BL65XE21dORLQpCPM1Pinw4MyEYs/edit

[2021-07-02 13:25] courageJ commented on #3543
With #3047, the first timeseries will not be dropped. The remaining issue is for metrics scraped every 2+ minutes, the starttime is always adjusted even if the process is not restarted.

[2021-07-02 13:30] dashpole commented on #3543
Should the garbage collection interval be based on the scrape interval?

[2021-07-02 14:58] sincejune commented on #3533
I tried both `v0.29.0` and `main` branch. They all works well to me.

Maybe it's related to your configurations and data. Could you share your configs which will help debug?

[2021-07-02 15:01] sincejune commented on #3524
Do we still need to rename the `logging` exporter? I think I can take it if the answer is yes.

[2021-07-02 15:10] vishiy commented on #3533
Nothing to do with config. It’s just prom receiver and otlp exporter. Just run for a longer time. I also see this in 0.28 as well. So far 0.27 seems running fine…. Seems like a regression in marshalling…

[2021-07-02 16:30] sincejune commented on #3540
Actually, I don't think it's a bug. According to the [documentation](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/otlp.md#otlphttp-request), you should add necessary headers to make it work.

Can you try again with one of the above headers?

[2021-07-02 16:44] Aneurysm9 commented on #3533
The stack trace definitely looks like it's an error marshalling, but I'm perplexed as to how it is possible.  The first trace seems to be pointing at this code:

[code]

Absent a race condition with another goroutine modifying `m.Metrics`, that last line (which is where the panic happened) should never be reached when `len(m.metrics) == 0`.

[2021-07-02 17:17] jrcamp commented on #3474
I'd like to make a separate proposal: I believe we should combine core and contrib. core would be the API as a separate go module and then each component that was previously in core would become its own go.mod component just like every other contrib module works. This could live in the same repository and prevent the whole "update core then go update contrib". I believe it'd streamline a lot of de

[2021-07-02 17:32] BewareMyPower opened #3554 "[QUESTION] What does the kafka protocol version mean?"
From the https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/kafkaexporter#kafka-exporter I see

However, the protocol version is confused. With the 2.0.0 protocol version, the server side received a SaslHandshake request whose version is v0. But when I use a Kafka Java client 2.0.0 to configure SASL_PLAIN authentication, the API version of SaslHandshake request is v1 not

[2021-07-02 17:47] bogdandrutu commented on #3474
@jrcamp why is it important that the core and contrib are in the same repository especially when core will become stable?

[2021-07-02 17:53] bogdandrutu commented on #3474
@jpkrohling

I would like to see this, maybe all distributions are built from the "builder" repository. Maybe a short diagram of where things will be and in what module would help clarifying.

Few things we need to do:
* The builder should be able to build docker images, linux binaries, macos binaries, windows msi, etc. Need to find where to publish these binaries (right now we publish them to git

[2021-07-02 17:59] bogdandrutu commented on #3540
@dgarciarubio indeed we changed the endpoint to return 404 if no Content-Type sent. Can you post the request that you send?

[2021-07-02 18:02] bogdandrutu commented on #3533
@vishiy do you have by any chance multiple exporters (like logging one) or multiple pipelines defined in the config?

[2021-07-02 18:05] nayasam opened #3557 "Prometheus "Counter" metrics are skipped (sent from Python Prometheus client)"
**Describe the bug**
We observed Prometheus "Counter" metrics (sent from the Python prometheus_client API) are skipped (in OpenTelemetry collector) when configured to grab them (in PrometheusReceiver collector configuration) from a HTTP endpoint. However, this issue is not seen when Prometheus metrics are sent using the C# prometheus client.

With The Python prometheus_client API, Counter metrics

[2021-07-02 18:31] jrcamp commented on #3474
Just because it's stable doesn't mean new API's won't be added. What that rate will be though I don't really know. I guess I would flip the question and ask what benefit are we gaining by having them be separate?

[2021-07-02 18:32] tech4gk commented on #3554
@BewareMyPower  It looks like, the Sarama does support header version as 1..
https://github.com/Shopify/sarama/blob/master/sasl_authenticate_request.go#L27
Not sure, why OTEL Kafka Exporter is sending version 0 for header.

[2021-07-02 18:33] #3554 closed

[2021-07-02 18:51] vishiy commented on #3533
@bogdandrutu its just one pipeline with prom receiver and otlp exporter. There is also a batch and resource processors. I will share the config later today as I am traveling.

[2021-07-02 19:56] bogdandrutu commented on #3557
/cc @rakyll @alolita @dashpole

[2021-07-03 05:17] vishiy commented on #3533
pls find the config below -

exporters:
  otlp:
    endpoint: 127.0.0.1:55680
    insecure: true
    compression: "gzip"
processors:
  batch:
    send_batch_size: 8192
    timeout: 200ms
    send_batch_max_size: 10000
  resource:
    attributes:
    - key: cluster
      value: "$customResourceId"
      action: "upsert"
receivers:
    prometheus:
      config:
        scrape_configs:
        - job_

[2021-07-04 22:50] dgarciarubio commented on #3540
Yeah, it's definitely the missing Content-Type: application/x-protobuf`` header which produced the 404 response. Including it produces the expected behaviour.

I think this should be mentioned explicitly in the [changelog](https://github.com/open-telemetry/opentelemetry-collector/blob/main/CHANGELOG.md) for the 0.29.0 version, as it's something clients should be aware of. Don't know under what cat

[2021-07-05 06:51] karthikinamanamelluri commented on #407
@vikrambe
Could you please refer to the contrib PR here or if there is fork created out of contrib.

[2021-07-05 08:31] jpkrohling commented on #3474
I think the builder should just spit out a binary (linux/mac os/windows?). Everything else should be part of whoever is calling the builder, such as downstream distributions, as they might want to add a default config, or other things to the container images. Publishing the binary and container images should be the responsibility of the distributions repository.

I wouldn't include OTLP even in th

[2021-07-05 10:34] jcchavezs commented on #3023
Our use case is pretty simple:

We want to support live config reload, for that we group all the processors of a pipeline into a single macroprocessor. Inside the macroprocessor it is easy and safe to control the processors lifecycle. For that matter we need to intercept the resulting config and:
- inject the factories for our macroprocessor
- modify the pipelines to only have one processor (the m

[2021-07-06 10:33] iNikem opened #3571 "Allow to set span's Status"
OpenTelemetry spec currently says the following in [the description of `Span.SetStatus` method](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#set-status):

From the previous discussions on this topic I assumed that the way for `Operator` to set span status is by using Collector. Unfortunately, Collector does not support setting span status atm.

[2021-07-06 20:40] alolita commented on #2488
@punya will you still be able to work on these reviews?

[2021-07-06 23:49] alolita opened #3574 "Ensure full Prometheus support"
Complete phase 2 of all backlog items for https://github.com/open-telemetry/wg-prometheus/milestone/3

[2021-07-07 00:43] alolita commented on #3474
@jrcamp Thanks for the proposal. I've added some comments on the doc. Imho keeping everything in Collector core as a monorepo doesn't work for the project. Here are some other reasons to consider which are not necessarily technical issues.

1) Smart builds: in a large, collaborative project the source code structure should not be driving build decisions. As Juraci mentioned, we should build a smar

[2021-07-07 01:22] dgarciarubio commented on #3540
I'll close the issue, as the behaviour is expected, acording to the documentation.

[2021-07-07 01:22] #3540 closed

[2021-07-07 14:36] tigrannajaryan commented on #3474
@jrcamp I think we should aim to decentralize the development of components, give significant autonomy to component developers to work independently, provided that the end result passes the "certification" requirements (to be defined).
I do not think github's functionality has enough granular access control and permissions and ability to delegate subsets of permissions and permission-granting abil

[2021-07-07 18:03] skyduo opened #3576 "New awsecshealthcheckextension need to get obsreportconfig/obsmetrics from opentelemetry-collector/internal"
As we want to add the new `awsecshealthcheckextension` to the `opentelemetry-collector-contrib` repo due to this is AWS ECS specific extension, there is a issue that the `obsreportconfig` package is located inside the internal folder in the `opentelemetry-collector`, so we cannot get the `obsreportconfig/obsmetrics` which is need to build our own view.

Here is what we need to create in the new ex

[2021-07-08 09:01] tydhot opened #3579 "Kafka exporter's sarama producer can't handle big size msg"
![image](https://user-images.githubusercontent.com/27889201/124893113-09e2fe80-e00d-11eb-8d8d-cc6033cf4c5d.png)
Today I found my collector's kafka exporter have something wrong.
And I debug found that some of my metric's msg size is bigger than the default size 1000000.
<img width="584" alt="image" src="https://user-images.githubusercontent.com/27889201/124893945-c76df180-e00d-11eb-968b-dc56730327

[2021-07-08 09:47] tydhot commented on #3579
oh, I changed message.max.size in kafka broker. It seemed resolved.

[2021-07-08 14:08] dashpole commented on #2216
We now include instance and job labels, so this issue shouldn't be present anymore.

[2021-07-08 14:08] #2216 closed

[2021-07-08 18:49] rakyll commented on #3557
cc @Aneurysm9

[2021-07-08 18:53] rakyll commented on #3543
If we decide to do anything here, we shouldn't do it in the Prometheus receiver.

@tigrannajaryan @mxiamxia Maybe this is another case for merging the ballast extension + memory limiter. Then, we can add gc tuning options. It seems like we need a global memory management component.

[2021-07-08 18:56] rakyll commented on #3524
I think "debug" is a better name, there is another thread where they are discussions not to write to stdout but to stderr, or give users options.

[2021-07-08 20:35] alolita commented on #3538
@jrcamp can you please post your evaluation results on this issue when you have them.

[2021-07-08 21:54] blakeroberts-wk opened #3582 "OTLP HTTP Receiver Endpoints Give 404"
**Describe the bug**
All the otlp http receiver endpoints give 404s with example local config.

**Steps to reproduce**
[code]

**What did you expect to see?**
I tested both `v0.27.0` and `v0.28.0`
[code]

**What did you see instead?**
This is what you see starting with `v0.29.0`
[code]

**What version did you use?**
Version: `v0.29.0`

**What config did you use?**
Config: https://github.com/open-t

[2021-07-08 22:37] bogdandrutu commented on #3545
@alolita is this something in case of `AWS Firehose` that they can actually speak OTLP?

[2021-07-08 22:43] pquerna opened #3584 "Enviroment Variable Expansion in Configuration doesn't work as expected"
**Describe the bug**
- I tried to use an evnrioment variable expansion, per the documentation here: https://opentelemetry.io/docs/collector/configuration/#configuration-environment-variables
- I'm storing my honeycomb API key in a k8s secret.
- I set the secret to the environment variable `HONEYCOMB_WRITE_KEY`
- I used the following otelcol configuration:

[code]

**Steps to reproduce**
- Use envi

[2021-07-08 23:40] #2961 closed

[2021-07-08 23:40] #3413 closed

[2021-07-08 23:45] bogdandrutu commented on #3582
Duplicate, same as https://github.com/open-telemetry/opentelemetry-collector/issues/3540

You need to include the "Content-Type" if you do a curl request.

[2021-07-08 23:45] #3582 closed

[2021-07-09 00:13] Aneurysm9 commented on #3543
I think this is referring to the [GC implemented inside the prometheus receiver](https://github.com/open-telemetry/opentelemetry-collector/blob/main/receiver/prometheusreceiver/internal/metrics_adjuster.go#L27-L59) for the data used to determine start times.

The scrape interval can be set per-job, right?  There is only one GC interval that cleans the JobMap for all jobs.  Maybe it could be set to

[2021-07-09 00:33] dashpole commented on #3543
Yeah, thats what I had in mind.

[2021-07-09 01:01] dmitryax commented on #3397
+1 to this. I have a use case where I need to concatenate two attributes into a new one

[2021-07-09 01:58] dmitryax commented on #1910
Metrics lost due to removed queued_retry processor are restored in these PRs:
- https://github.com/open-telemetry/opentelemetry-collector/pull/2858
- https://github.com/open-telemetry/opentelemetry-collector/pull/3328

The following metrics added:
- `exporter/queue_size`
- `exporter/enqueue_failed_metric_points`
- `exporter/enqueue_failed_spans`
- `exporter/enqueue_failed_log_records`

[2021-07-09 01:58] #1910 closed

[2021-07-09 04:10] rakyll commented on #3293
prometheusremotewriteexporter should work. We can close this issue. Please reopen if you have an issue with the exporter.

[2021-07-09 04:11] rakyll commented on #3292
I think this question is answered, we can close this issue. Please reopen if you have a specific ask.

[2021-07-09 04:44] rakyll commented on #1005
(Seeing this quite a while after my first comment and realized that I haven't left a good summary of what's missing in the Go plugin system hence adding some more context for historical records.)

Go plugin system was initially contributed to upstream but has never been finished, and it is not maintained at this point. It's not working on Windows and never been production-ready and it's never been

[2021-07-09 04:46] rakyll commented on #3543
@Aneurysm9 My bad, thanks for the clarification.

[2021-07-09 04:52] rakyll commented on #307
This can be closed now, see https://github.com/open-telemetry/opentelemetry-collector/tree/main/extension/healthcheckextension.

[2021-07-09 04:57] rakyll commented on #396
Was this a PHP-specific request or a general request to be able to export metrics from short-lived processes so they can flush out individual metrics quickly and something aggregates them rather than reporting it one by one?

[2021-07-09 19:06] rakyll commented on #3489
@jrcamp Can you contribute a test case so we can confirm whether there is a race or not?

I spent an hour figuring out how reloadService is triggered. Watchable is not very well documented and the only real life implementation I came across was  https://github.com/signalfx/splunk-otel-collector/tree/960ca936f8d0bd0d33258a1baa102ff40caa2495/internal/configprovider.

[2021-07-09 20:57] bogdandrutu commented on #3378
/cc @pmcollins do you know about this?

[2021-07-09 23:29] bogdandrutu commented on #2573
Let's craft a small PR and add the views that you need in core, see how large that change is. Is that enough? Would that resolve your issue?

[2021-07-10 00:25] skyduo commented on #2573
Hey Bogdan! do you mean add our new view into the obsreportconfig in core? i'm not sure if my understand is correct but seems like the new view will still located in the internal folder, right? we still cannot access to it

[2021-07-10 01:15] skyduo commented on #2573
Hey @bogdandrutu ! do you mean add our new view into the obsreportconfig in core? i'm not sure if my understand is correct but seems like the new view will still located in the internal folder, right? we still cannot access to it

[2021-07-10 17:28] bogdandrutu commented on #3584
The unittest seems to work https://github.com/open-telemetry/opentelemetry-collector/blob/main/config/configloader/testdata/simple-config-with-all-env.yaml, can you double check that you pass the env variable to the process? I will try to also have an integration test ready as well

[2021-07-12 14:48] jrcamp commented on #3489
@rakyll is there a good way in Go to do this given it relies on a certain order of execution? ie can you prove nondeterministic execution?

[2021-07-12 14:50] pmcollins commented on #3378
I don't know much about this, but here's the readme for PICT: https://github.com/microsoft/pict

[2021-07-12 15:33] anoyli opened #3598 "Wrong machine total memory by using percentage memory limiter"
**Describe the bug**
Hi Team, for the machine types vary much in our project, so we want to use percentage memory limiter to make it more reasonable to control the max memory usage of collector agent docker. However, we found the total number of machine memory not right. We use aws ec2 instance which have 30G memory, but when we check the log of collector agent, we found the memory number very hug

[2021-07-12 16:31] bogdandrutu commented on #3598
@mxiamxia I remember you looked into the memory reading part.

The total memory seems to be 2^63 so definitely a bug somewhere.

Also another bug is that we display bytes not MB in the log, but that is an easy fix

[2021-07-12 20:31] sonika-gautami opened #3602 "The LongCounters remains 0, when otel as receiver & promotheus as metric-exporter is configured. The same Counter with Double data-type works fine."
I'm using opentelemetry-collector 0.29.0 (latest tag ofo tel/opentelemetry-collector) with otlp with grpc protocol as Receiver, prometheus as Exporter for Metrics.
To send metrics data to otel-collector, I'm using java-instrumentation java-agent jar of version v1.3.1 opentelemetry-javaagent-all.jar.
I've added custom-metrics, one with longCounterBuilder & other with doubleCounterBuilder(bold text

[2021-07-12 21:52] Aneurysm9 commented on #3557
The use of `_total` as a suffix for counter metric names seems to be all over the place.  In #2993 I removed logic to force all counter metric names sent by the PRW exporter to end in `_total` after [confirming with the compliance test suite authors](https://github.com/prometheus/compliance/issues/19) that it was not required.  This seems almost the inverse of that.

It isn't clear to me why count

[2021-07-13 00:01] bogdandrutu commented on #3602
@jkwatson what version of OTLP does that java-agent use?

[2021-07-13 00:13] bogdandrutu commented on #3602
@sonika-gautami if they use OTLP 0.8.0 or newer unfortunately we will still have this bug until 0.31 :( unless you will be willing to use a non-tag version. We are actively working on the switch to 0.8.0.

[2021-07-13 00:17] jkwatson commented on #3602
As of java release 1.3.0 we are on OTLP v0.9.0

[2021-07-13 01:59] anoyli commented on #3598
Thank you @bogdandrutu , and i found whatever the machine memory i use, the total_memory is always 9223372036854771712

[2021-07-13 02:19] #3396 closed

[2021-07-13 02:19] #2705 closed

[2021-07-13 07:36] sonika-gautami commented on #3602
@bogdandrutu It should be fine for me to use non-tag version, please point me to branch/repo link.

[2021-07-13 16:09] bogdandrutu commented on #3602
@sonika-gautami not yet available, probably in few days :(

[2021-07-13 17:56] alolita commented on #3449
This module-management tool could be added to the build-tools repo or in a new repo (we'd like to avoid the new repo scenario since build-tools should be easy for all maintainers to use for their tooling.)

Thoughts on where this tool should sit? Please advise @bogdandrutu @jpkrohling

[2021-07-13 18:27] punya commented on #2488
@alolita yes (we discussed offline but I'm commenting here for the record).

[2021-07-13 18:35] #3490 closed

[2021-07-13 18:45] sonika-gautami commented on #3602
I'll continue with doubleCounter :)

[2021-07-13 19:21] punya commented on #2488
`AttributeValue.Equals()` has a [TODO](https://github.com/open-telemetry/opentelemetry-collector/blob/main/model/pdata/common.go#L304) for supporting map data types. Should this be considered a GA blocker?

[2021-07-14 07:43] jpkrohling commented on #3449
Questions:

1. I believe this to be the case, but can you please confirm that the regular Go tools will continue to be used for other purposes since go.mod is still the source of truth for them?
1. The intermediary branch will act as tags then, right? The branch `stable-v1` will be used by downstream dependencies of the collector when they resolve the transitive dependencies. Like:

[code]

Is tha

[2021-07-14 15:55] eddyleelin opened #4311 "Feature Request: Create an API to service custom Collector builds via HTTP"
As the Collector-Builder functionality is enhanced to support Collector users to create custom builds of the Collector, it would be useful for both maintainers and users to have an API to programmatically build binaries. Optionally, by additionally hosting an HTTP server, this service would be able to support both hosting of common pre-built distributions (as proposed in [this Collector issue](htt

[2021-07-14 16:25] mxiamxia commented on #3598
The issue has been fixed in https://github.com/open-telemetry/opentelemetry-collector/pull/3456.  I think you will have the correct total memory when the new Collector release is out.

[2021-07-14 16:47] jmacd commented on #1256
At Lightstep we eventually discovered technical difficulties with the single-port setup that we have been using. There is a grpc2http upgrade path that we feel is not reliable for use at this time and have given up attempting to use single-port support.

[2021-07-14 16:48] bogdandrutu opened #3617 "Get an official dedicated port for otlp/http"

[2021-07-14 16:48] #1256 closed

[2021-07-14 17:03] alolita commented on #3474
As of July 14 Collector SIG meeting, we will move all components to contrib including Prometheus, Zipkin and Jaeger. This will help @jpkrohling's POC on generating one-click core and extended-collector distributions using a yaml manifest file.

[2021-07-14 17:12] rakyll opened #3620 "Create a list of OpenTelemetry distributions"
We need a wiki page (https://github.com/open-telemetry/opentelemetry-collector/wiki) for the community to list the OpenTelemetry distros. When we deprecate components or behavior in the core, we can use the list to be able to communicate the change.

We can additionally also create a mailing list to send out announcement emails to distro maintainers.

I don't have a privileges to create Wiki pages

[2021-07-14 17:19] rakyll commented on #3617
What about one of the following? Neither are not used by any other protocols.

[code]

[2021-07-14 17:59] norbertwnuk commented on #3004
I experience the same issue, the problem is related to inability to read /proc data for APP process(es) by OTEL binary (in other containers on the POD). All the attempts to make it working with `shareProcessNamespace`, `SYS_PTRACE`, `apparmor unconfined` failing, even `SYS_ADMIN` does not work on GKE. The same time I can access /proc data from console using the same account...

[code]

[code]

[co

[2021-07-14 18:05] rakyll commented on #3598
This is resolved now, we can close this. See #3456. cc @alolita

[2021-07-14 18:16] goto1134 opened #3622 "Metrics get exposed to opentelemetry-collector with zero values via otlp grpc"
This issue continues the discussion in https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/3568
**Describe the bug**
Opentelemetry metrics are exposed to opentelemetry-collector from java-instrumentation with zero values.

**Steps to reproduce**
Instrument a java-project with metrics otlp exporter
Setup opentelemetry-collector with the following config:
[code]
**What did yo

[2021-07-14 18:19] bogdandrutu commented on #3617
We have "4317" for gRPC, is "4318" available?

[2021-07-14 18:19] goto1134 commented on #3622
@jkwatson suspects that the otel grpc protocol version is outdated in `opentelemetry-collector`, so the data gets lost and the default zero values get received and exposed.

[2021-07-14 19:14] bogdandrutu commented on #3622
This is a duplicate of https://github.com/open-telemetry/opentelemetry-collector/issues/3602

[2021-07-14 19:14] #3622 closed

[2021-07-14 19:19] tonglil commented on #2732
So #1256 is closed, with the conclusion to split ports.
AFAICT that issue is for the OTLP receiver.

Can we rename this ticket to "unsplit the ports for the OpenCensus (OC) receiver"?

Thanks!

[2021-07-14 21:50] bogdandrutu commented on #3598
@anoyli can you give a try with 0.30.0 image?

[2021-07-14 22:44] bogdandrutu commented on #3557
@Aneurysm9 should this issue be closed?

[2021-07-14 23:11] bogdandrutu commented on #3557
@nayasam can you give a try using the newly release 0.30.0?

[2021-07-14 23:36] alolita commented on #2488
Action Item: Remove deprecated Resize -- @Aneurysm9 please complete the removal of usage of Resize from contrib and definitions from core.

[2021-07-14 23:41] bogdandrutu commented on #2603
@jpkrohling this issue is hard to follow, we made some progress already. Would you be willing to close this and open a new issue with what is left to do. Please add it to the phase2 if this is blocking otherwise phase3 :)

[2021-07-14 23:53] alolita commented on #2539
@bogdandrutu can you please take a look? Ty :-)

[2021-07-14 23:56] alolita commented on #3449
@eddyleelin let's work closely with @jpkrohling to get the tooling aligned and built.

[2021-07-14 23:58] alolita commented on #3524
Action Item: @alolita will reach out to other Go community members to comment on this issue.

[2021-07-15 00:00] bogdandrutu commented on #3185
Based on #3474 this is no longer a P0 for core, since all the affected components are moved to contrib.

[2021-07-15 00:04] alolita commented on #816
This item has a dependency on the Go SDK supporting metrics in a stable state.

cc: @Aneurysm9 @MrAlias

[2021-07-15 00:07] alolita commented on #3137
@odeke-em can you complete the draft PR #3427 thanks!

[2021-07-15 00:08] bogdandrutu commented on #3536
Based on #3474 this is not blocking core repo since processors will be moved to contrib.

[2021-07-15 00:42] #1965 closed

[2021-07-15 07:52] jpkrohling opened #3627 "PoC for repo reorganization"
Following the [proposal](https://docs.google.com/document/d/1XyYyaYtc1R8-es0BL65XE21dORLQpCPM1Pinw4MyEYs) to split the current repositories, organizing them as "opentelemetry-collector-core" (or API?), "opentelemetry-collector-components", and "opentelemetry-collector-distributions", I'll create a PoC under my namespace, presenting it during a SIG Collector meeting for further discussion.

[2021-07-15 08:05] Frefreak opened #3628 "add option to enable setting message key (kafka exporter) when using otlp_proto"
**Is your feature request related to a problem? Please describe.**
In order to use tail-based sampling, spans belongs to the same trace should go to the same collector. If using kafka and every span is keyed by the trace id, they will all be stored in the same partition, which ensures that only one consumer instance will get the spans (a partition can only be consumed by one consumer).

Currently

[2021-07-15 09:48] jpkrohling commented on #2732
I think this ticket is still relevant, as we need to make sure mTLS works. Could you please create another ticket to track the OC receiver part?

[2021-07-15 09:49] jpkrohling commented on #3474
#3627 was created to track the repo reorg.

[2021-07-15 09:54] #2603 closed

[2021-07-15 09:59] jpkrohling opened #3629 "Auth-related tasks"
This is a tracker for the auth-related tasks that should be done for GA, or soon after.

- [x] #3552, which specifies what should be included in the context. This is required for GA, because server authenticators need to know what to publish as part of the context.
- [ ] #2733, which specifies how data is placed in the pdata from the context. This is not required for GA, but it's a nice to have, a

[2021-07-15 10:01] jpkrohling commented on #2603
Created #3629

[2021-07-15 14:07] jpkrohling commented on #3627
[open-telemetry/opentelemetry-collector](https://github.com/open-telemetry/opentelemetry-collector) -> [open-telemetry/opentelemetry-collector-api](https://github.com/jpkrohling/opentelemetry-collector-api)

[2021-07-15 15:08] nayasam commented on #3557
Thank you. With release 0.30.0, I do see the counter, gauge, summary, histogram Prometheus metrics (generated from python-client) pulled from PrometheusReceiver, and properly exported to the Prometheus backend (via PrometheusExporter).

However, I am seeing the below in collector stdout/log. (not sure what those metrics that failed to translate --- FYI: I am not sending any metric with metric_name

[2021-07-15 16:04] jshawatsplunk commented on #3571
I too have users who do not consider 4xx as errors of interest.  Control over such configuration would be very welcomed.

[2021-07-15 19:55] alolita commented on #2488
Thanks @Aneurysm9

[2021-07-16 06:16] FreeZhang61 opened #3635 "Memory of agent cannot released"
I've be received a alarm that the memory usage was more than the threshold in the evening,  Prometheus report the memory was unnormal

 as is shown:
![Screenshot 2021-07-16 at 3 11 14 PM](https://user-images.githubusercontent.com/19244981/125907280-4146e507-f550-44a9-97c4-582312bfb6d2.png)

The hightest  memory of agent was more than 800M and it was killed by OS.

What kind of situation will cause

[2021-07-16 06:27] alolita opened #3636 "Move testbed/ to collector-contrib"
Move [testbed/](https://github.com/open-telemetry/opentelemetry-collector/tree/main/testbed) to [collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib) until the component is reviewed and stabilized.

[2021-07-16 06:30] alolita opened #3637 "Move testutil/ to collector-contrib"
Move [testutil/](https://github.com/open-telemetry/opentelemetry-collector/tree/main/testutil) to [collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib) until the component is reviewed and stabilized.

[2021-07-16 06:33] alolita opened #3638 "Move hostmetricsreceiver to collector-contrib"
Move [hostmetricsreceiver](https://github.com/open-telemetry/opentelemetry-collector/tree/main/receiver/hostmetricsreceiver) to [collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib/) until reviewed and verified as stable.

[2021-07-16 06:36] alolita opened #3639 "Move kafkareceiver to collector-contrib"
Move [kafkareceiver](https://github.com/open-telemetry/opentelemetry-collector/tree/main/receiver/kafkareceiver) to [collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib/) until reviewed and verified as stable.

- [ ] Move
- [ ] Review
- [ ] Verify as stable

Part of #3474

[2021-07-16 06:38] alolita opened #3640 "Move opencensusreceiver to collector-contrib"
Move [opencensusreceiver](https://github.com/open-telemetry/opentelemetry-collector/tree/main/receiver/opencensusreceiver) to [collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib/) until reviewed and verified as stable.

- [ ] Move
- [ ] Review
- [ ] Verify as stable

Part of #3474

[2021-07-16 06:40] alolita opened #3641 "Move scrapererror to collector-contrib"
Move [scrapererror](https://github.com/open-telemetry/opentelemetry-collector/tree/main/receiver/scrapererror) to [collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib/) until reviewed and verified as stable.

- [ ] Move
- [ ] Review
- [ ] Verify as stable

Part of #3474

[2021-07-16 06:42] alolita opened #3642 "Move scraperhelper to collector-contrib"
Move [scraperhelper](https://github.com/open-telemetry/opentelemetry-collector/tree/main/receiver/scraperhelper) to [collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib/) until reviewed and verified as stable.

- [ ] Move
- [ ] Review
- [ ] Verify as stable

Part of #3474

[2021-07-16 06:44] alolita opened #3643 "Move attributesprocessor to collector-contrib"
Move [attributesprocessor](https://github.com/open-telemetry/opentelemetry-collector/tree/main/processor/attributesprocessor) to [collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib/) until reviewed and verified as stable.

- [ ] Move
- [ ] Review
- [ ] Verify as stable

Part of #3474

[2021-07-16 06:46] alolita opened #3644 "Move filterprocessor to collector-contrib"
Move [filterprocessor](https://github.com/open-telemetry/opentelemetry-collector/tree/main/processor/filterprocessor) to [collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib/) until reviewed and verified as stable.

- [ ] Move
- [ ] Review
- [ ] Verify as stable

Part of #3474

[2021-07-16 06:48] alolita opened #3645 "Move probabilisticsamplerprocessor to collector-contrib"
Move [probabilisticsamplerprocessor](https://github.com/open-telemetry/opentelemetry-collector/tree/main/processor/probabilisticsamplerprocessor to [collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib/) until reviewed and verified as stable.

- [ ] Move
- [ ] Review
- [ ] Verify as stable

Part of #3474

[2021-07-16 06:52] alolita opened #3646 "Move resourceprocessor to collector-contrib"
Move [resourceprocessor](https://github.com/open-telemetry/opentelemetry-collector/tree/main/processor/resourceprocessor) to [collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib).

- [ ] Move
- [ ] Review
- [ ] Verify as stable

Part of #3474

[2021-07-16 06:56] alolita opened #3647 "Move spanprocessor to collector-contrib"
Move [spanprocessor](https://github.com/open-telemetry/opentelemetry-collector/tree/main/processor/spanprocessor) to [collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib).

- [ ] Move
- [ ] Review
- [ ] Verify as stable

Part of #3474

[2021-07-16 07:02] alolita opened #3648 "Move fileexporter to collector-contrib"
Move [fileexporter](https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/fileexporter) to [collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib/) until reviewed and verified as stable.

- [ ] Move
- [ ] Review
- [ ] Verify as stable

Part of #3474

[2021-07-16 07:04] alolita opened #3649 "Move kafkaexporter to collector-contrib"
Move [kafkaexporter](https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/kafkaexporter) to [collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib/) until reviewed and verified as stable.

- [ ] Move
- [ ] Review
- [ ] Verify as stable

Part of #3474

[2021-07-16 07:06] alolita opened #3650 "Move opencensusexporter to collector-contrib"
Move [opencensusexporter](https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/opencensusexporter) to [collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib/) until reviewed and verified as stable.

- [ ] Move
- [ ] Review
- [ ] Verify as stable

Part of #3474

[2021-07-16 07:10] alolita opened #3651 "Move bearertokenauthextension to collector-contrib"
Move [bearertokenauthextension](https://github.com/open-telemetry/opentelemetry-collector/tree/main/extension/bearertokenauthextension) to [collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib/) until reviewed and verified as stable.
- [ ] Move
- [ ] Review
- [ ] Verify as stable

Part of #3474

[2021-07-16 07:12] alolita opened #3652 "Move oidcauthextension to collector-contrib"
Move [oidcauthextension](https://github.com/open-telemetry/opentelemetry-collector/tree/main/extension/oidcauthextension) to [collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib/) until reviewed and verified as stable.

- [ ] Move
- [ ] Review
- [ ] Verify as stable

Part of #3474

[2021-07-16 07:18] alolita opened #3653 "Move config/configauth to collector-contrib"
Move [config/configauth](https://github.com/open-telemetry/opentelemetry-collector/tree/main/config/configauth) to [collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib/) until reviewed and verified as stable.

- [ ] Move
- [ ] Review
- [ ] Verify as stable

Part of #3474

[2021-07-16 07:20] alolita opened #3654 "Move config/configcheck to collector-contrib"
Move [config/configcheck](https://github.com/open-telemetry/opentelemetry-collector/tree/main/config/configcheck) to [collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib/) until reviewed and verified as stable.

- [ ] Move
- [ ] Review
- [ ] Verify as stable

Part of #3474

[2021-07-16 07:21] alolita opened #3655 "Move config/configgrpc to collector-contrib"
Move [config/configgrpc](https://github.com/open-telemetry/opentelemetry-collector/tree/main/config/configgrpc) to [collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib/) until reviewed and verified as stable.

- [ ] Move
- [ ] Review
- [ ] Verify as stable

Part of #3474

[2021-07-16 07:23] alolita opened #3656 "Move config/confighttp to collector-config"
Move [config/confighttp](https://github.com/open-telemetry/opentelemetry-collector/tree/main/config/confighttp) to [collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib/) until reviewed and verified as stable.

- [ ] Move
- [ ] Review
- [ ] Verify as stable

Part of #3474

[2021-07-16 07:25] alolita opened #3657 "Move config/configloader to collector-contrib"
Move [config/configloader](https://github.com/open-telemetry/opentelemetry-collector/tree/main/config/configloader) to [collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib/) until reviewed and verified as stable.

- [ ] Move
- [ ] Review
- [ ] Verify as stable

Part of #3474

[2021-07-16 07:26] alolita opened #3658 "Move config/confignet to collector-contrib"
Move [config/confignet](https://github.com/open-telemetry/opentelemetry-collector/tree/main/config/confignet) to [collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib/) until reviewed and verified as stable.

- [ ] Move
- [ ] Review
- [ ] Verify as stable

Part of #3474

[2021-07-16 07:28] alolita opened #3659 "Move config/configparser to collector-contrib"
Move [config/configparser](https://github.com/open-telemetry/opentelemetry-collector/tree/main/config/configparser) to [collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib/) until reviewed and verified as stable.

- [ ] Move
- [ ] Review
- [ ] Verify as stable

Part of #3474

[2021-07-16 07:29] alolita opened #3660 "Move config/configtelemetry to collector-contrib"
Move [config/configtelemetry](https://github.com/open-telemetry/opentelemetry-collector/tree/main/config/configtelemetry) to [collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib/) until reviewed and verified as stable.

- [ ] Move
- [ ] Review
- [ ] Verify as stable

Part of #3474

[2021-07-16 07:30] alolita opened #3661 "Move config/configtest to collector-contrib"
Move [config/configtest](https://github.com/open-telemetry/opentelemetry-collector/tree/main/config/configtest) to [collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib/) until reviewed and verified as stable.

- [ ] Move
- [ ] Review
- [ ] Verify as stable

Part of #3474

[2021-07-16 07:31] alolita opened #3662 "Move config/configtls to collector-contrib"
Move [config/configtls](https://github.com/open-telemetry/opentelemetry-collector/tree/main/config/configtls) to [collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib/) until reviewed and verified as stable.

- [ ] Move
- [ ] Review
- [ ] Verify as stable

Part of #3474

[2021-07-16 07:33] alolita opened #3663 "Move config/experimental/configsource to collector-contrib"
Move [config/experimental/configsource](https://github.com/open-telemetry/opentelemetry-collector/tree/main/config/experimental/configsource) to [collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib/) until reviewed and verified as stable.

- [ ] Move
- [ ] Review
- [ ] Verify as stable

Part of #3474

[2021-07-16 07:35] alolita opened #3664 "Move config/internal/configsource to collector-contrib"
Move [config/internal/configsource](https://github.com/open-telemetry/opentelemetry-collector/tree/main/config/internal/configsource) to [collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib/) until reviewed and verified as stable.

- [ ] Move
- [ ] Review
- [ ] Verify as stable

Part of #3474

[2021-07-16 13:00] AJ-54 commented on #3649
Can I work on this?

[2021-07-16 15:27] ipstatic commented on #3058
It appears the PR associated with this issue has been merged but is not in the latest Beta (0.30.0). How can we ensure it gets in the next release?

[2021-07-16 15:37] bogdandrutu commented on #3637
I think only the metricsutils should be moved, the other are useful functionality that we need for testing in the core as well

[2021-07-16 16:52] nayasam commented on #3557
Since the issue reported is solved, this issue can be closed.

The observation I mentioned on failing to translate metrics in PrometheusExporter should be a separate issue. I will create a separate issue for that..

[2021-07-16 18:40] nayasam opened #3666 ""failed to translate metric" errors at the PrometheusExporter with metric_name="""
We observed the following error in the stdout/log of the opentelemetry collector when grabbing Prometheus metrics from a HTTP endpoint (by the PrometheusReceiver), and subsequently exporting them to a Prometheus backend (using the PrometheusExporter). The Prometheus metrics at the HTTP endpoint are those sent using the Prometheus client (Python). We are not sending any metric (using the Prometheus

[2021-07-18 19:08] PaulBenn-UnlikelyAI opened #3669 "Document relationship between available OT Collector Docker images"
Hi, there are currently at least three different images for the OpenTelemetry Collector:
* otel/opentelemetry-collector
* otel/opentelemetry-collector-dev
* otel/opentelemetry-collector-contrib

The difference between these three images does not seem to be clearly documented anywhere.

It would be good to see a section of documentation with a comparison between all available OTel Collector images.

[2021-07-19 07:29] anoyli commented on #3598
Great work, guys, thank you, i will take a try later and feedback if any result.

[2021-07-19 16:31] alolita commented on #2488
@Aneurysm9 are there PRs in flight for collector changes for removing pdata slice Resize()?

[2021-07-19 16:33] alolita commented on #2543
@Aneurysm9 please share any updates on related PRs :-)

[2021-07-19 21:06] dyladan commented on #3617
For what it's worth there are already documented ports in both the collector docs and the specification, but they don't match

_originally posted [as a specification issue](https://github.com/open-telemetry/opentelemetry-specification/issues/1816)_

[2021-07-19 21:11] MrAlias commented on #816
Understood. For the full dependency map it is important to know we are block on supporting metrics in a stable state by OTel itself having a stable metric specification.

[2021-07-19 23:58] jacobmarble commented on #3104
@tigrannajaryan github.com/influxdata/influxdb-observability now uses github.com/open-telemetry/opentelemetry-collector/model/pdata instead of its own generated protos. The update PR for otelcontribcol is https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/4277

The only trouble I have is that I can't reliably compare two objects from the `pdata` package because there is no `Sor

[2021-07-20 03:58] snowsword opened #3679 "Image can't start when kafka is done"
**Describe the bug**
I use kafka as exporter. But the image exits when kafka is down.
Got error:
otel-agent_1  | Error: cannot build pipelines: cannot build builtExporters: error creating kafka exporter: kafka: client has run out of available brokers to talk to (Is your cluster reachable?)
otel-agent_1  | 2021/07/20 00:11:39 application run finished with error: cannot build pipelines: cannot build

[2021-07-20 15:13] Renaud009 opened #3680 "OTLP Collector does not support auth with http protocol"
**Describe the bug**
I'm trying to send web application traces to otel collector http api. Currently working, but when adding oidc authentication extension, it looks like protocol http does not support that.

Following the collector documentation, "Most receivers exposing an HTTP or gRPC port are able to be protected using the collector’s authentication mechanism, and most exporters using HTTP or

[2021-07-20 17:48] Aditya-Gollapudi opened #3681 "CLI for multiple configs in OTEL collector"
**Is your feature request related to a problem? Please describe.**
Customers who wish to use the merge feature in Paolo's config source code will need to create a local file to specify the config source they plan on using. This is difficult on some systems so a way to do it strictly from the command line is preferred.

**Describe the solution you'd like**
We propose a new flag "--remote-config" wh

[2021-07-20 18:49] ligeogeorge commented on #3040
+1

Unable to set up ALB->(gRPC)->ECS because there is no support for gRPC health checks as is required by AWS ALB. This would be a common use case, IMO.

#3002 is only talking about enhancing HTTP health checks.

[2021-07-20 21:58] #2488 closed

[2021-07-21 01:28] odeke-em opened #3684 "receiver/prometheus: finish TODO about not adding +Inf in buckets"
Coming here from a PR translating from Prometheus->OTLP instead of Prometheus->OpenCensusProto->OTLP, @bogdandrutu replied to a TODO that has existed for ages per https://github.com/open-telemetry/opentelemetry-collector/pull/3667#discussion_r672686819

This issue is to follow up on that TODO later on, to avoid parity changes because that'd mean a change of behaviour yet the PR is for a migration.

[2021-07-21 03:42] cuonglm commented on #3531
@bogdandrutu @odeke-em could you please add more description to this issue?

[2021-07-21 03:58] odeke-em commented on #3531
@cuonglm essentially there is a method on the model/pdata.{Metrics, Traces, Logs} to return the size in bytes of the protocol buffer representation. It is used solely to reports stats of bytes sent in batch, per
[code]

### Answer
Yes, we can and shall remove it because the results it returns can be directly computed from invoking the protobuf generated .Size() per ExportRequest. I'll send a PR fo

[2021-07-21 09:02] Frefreak commented on #3628
With v0.30.0 I think this feature can be implemented outside of collector's codebase by providing a new encoding for kafkaexporter so I'm closing this issue.

[2021-07-21 09:02] #3628 closed

[2021-07-21 14:10] punya opened #3685 "Create an automated test for handling errors while reloading config"
#3615 improves reload behavior by failing with an error rather than hanging, if the config is invalid. This issue tracks creating an automated test to verify this going forward.

---

_Originally posted by @carlosalberto in https://github.com/open-telemetry/opentelemetry-collector/issues/3615#issuecomment-879925782_

[2021-07-21 16:53] dashpole commented on #3538
Speaking from Google's experience, one of the benefits of this would be lower memory usage, since the imports in github.com/prometheus/prometheus/discovery/install/install.go increase the size of the binary, and its memory used.  In our case, we ended up hacking around this to remove unneeded service discovery integrations, but having service discovery be separated from the receiver would be a goo

[2021-07-21 19:53] punya commented on #3474
Many of these components depend on `go.opentelemetry.io/collector/internal/testdata`, which will become inaccessible once they move out of this repo. Because that package is used by API tests as well as components, are we okay with making a copy of it in contrib (or components)? It's probably not a big deal if the API and contrib/components versions of the package diverge over time.

[2021-07-21 23:28] odeke-em opened #3691 "receiver/prometheus/internal: use actual startTimeMs of interval for toDoubleValue"
Coming here from a report by @bogdandrutu in https://github.com/open-telemetry/opentelemetry-collector/pull/3674#pullrequestreview-712052673 which is a translation of this code https://github.com/open-telemetry/opentelemetry-collector/blob/6cce4224c6e7e8480c4dd279c18943bfcd399646/receiver/prometheusreceiver/internal/metricfamily.go#L387-L392
which doesn't follow the actual convention for cumulativ

[2021-07-22 01:49] #2543 closed

[2021-07-22 01:51] bogdandrutu commented on #3531
What I think we need to do is, add a "Sizer" interface similar to "Marshaler" that a marshaler can implement. The otlp-protobuf Marshaler will implement and that will be used in the Batch processor where Size is now used.

This is what I was thinking about :)

[2021-07-22 03:11] odeke-em commented on #3531
Thank you @bogdandrutu! I didn't know about that use case for marshalers, but given that the the generated protobuf already produces .Size() for each generated struct, it seems much simpler and more direct to:
* Delete the method OtlpProtoSize from each type
* Add a helper function ProtoSizeForKnownTypes into model/pdata that'll return the sizes

Here is a prototype PR https://github.com/open-tele

[2021-07-22 03:31] bogdandrutu commented on #3531
I do understand that, but the whole idea of the `Marshaler` was to hide the fact that for the moment internally `pdata` uses proto. That's why `Sizer` makes more sense.

[2021-07-22 03:33] odeke-em commented on #3531
Sounds good to me @bogdandrutu! I'll mail the change for the marshaler and it'll be good to go tonight or early tomorrow. Thank you @bogdandrutu.

[2021-07-22 03:43] bogdandrutu commented on #3531
I think it should be a separate Interface that Marshaler implementations can implement as well (aka optional thing). What do you think?

[2021-07-22 15:22] alolita commented on #2539
@tigrannajaryan @bogdandrutu can this issue be considered complete and be closed? Please advise.

[2021-07-22 15:25] alolita commented on #3524
@open-telemetry/go-approvers can you please comment on your preference for this renaming of the existing logger exporter to debug exporter?

[2021-07-22 15:34] tigrannajaryan commented on #2539
Yes, https://github.com/open-telemetry/opentelemetry-collector/pull/3575 completes this.

[2021-07-22 15:34] #2539 closed

[2021-07-22 16:36] MrAlias commented on #3524
I would recommend not renaming to `stdout`, we have preserved this name in OTel-go for continuity, but realized that since we provide configuration for where the output can go (i.e. not STDOUT) it is a poor name.

I think `debug` is a good name if a rename is desired.

[2021-07-23 19:22] mxiamxia commented on #2516
The issue can be closed.

cc/ @alolita @bogdandrutu

[2021-07-23 19:23] mxiamxia commented on #1828
this issue can be closed! the request has been addressed in https://github.com/open-telemetry/opentelemetry-collector/issues/2516

[2021-07-23 21:40] bogdandrutu commented on #3657
This cannot be moved, since "service" depends on this.

[2021-07-23 21:40] #3657 closed

[2021-07-26 08:19] dickiebowuk opened #3713 "Collector not working on localhost"
First off apologies is this is not the right place as I feel I am asking for help more than reporting a bug, but the stackoverflow community for opentelemetry is non existent with most questions unanswered.

I have applied opentelemetry to a .Net Core 5 API using the following nuget packages:

OpenTelemetry 1.1.0-rc1
OpenTelemetry.Exporter.Console 1.1.0-beta-1
OpenTelemetry.Exporter.Jaeger 1.1.0-r

[2021-07-26 22:19] bogdandrutu commented on #3602
@sonika-gautami can you give a try with the binary built from head?

[2021-07-27 15:31] #2516 closed

[2021-07-27 15:32] alolita commented on #3531
@odeke-em pl respond to Bogdan's questions when you have a chance. Ty!

[2021-07-27 16:21] alolita commented on #3538
@jrcamp can you please share your evaluation so far.

@odeke-em would be good to get your comments here.

@dashpole can you provide more context on your service discovery implementation.

[2021-07-27 16:22] odeke-em commented on #3538
Thank you @alolita! @jrcamp could please state the problem statement and then what you'd like to get done so we can chime in if needed?

[2021-07-27 16:36] mxiamxia commented on #3185
The refactored processors will introduce the new configurations which have the breaking changes to the existing OTel Collector customers. We’ll need to discuss the new processors migration options for reducing the breaking changes impact. I will try to cover it in OTel processor enhancement proposal.

[2021-07-27 16:51] alolita commented on #2430
@jpkrohling what is the status on this issue? Is this done?

[2021-07-27 17:01] odeke-em opened #3727 "exporter/prometheusremotewrite: add a WriteAheadLog (WAL)"
Coming here from https://github.com/open-telemetry/wg-prometheus/issues/9, this issue is to match up for GA stability (cc @alolita) but essentially we need to add a WAL. We'll already had some PRs merged related and I have some more work to get done.

[2021-07-27 17:06] dashpole commented on #3538
It essentially amounts to deleting imports from [prometheus/prometheus/discovery/install/install.go](https://github.com/prometheus/prometheus/blob/main/discovery/install/install.go) prior to building.  If the collector wanted to remove some of them, it would just need to replace the [import here](https://github.com/open-telemetry/opentelemetry-collector/blob/main/receiver/prometheusreceiver/factor

[2021-07-27 18:21] bogdandrutu commented on #3664
This is used internally in the Service, cannot be moved. Implementation of the interfaces may be moved.

[2021-07-27 18:21] #3664 closed

[2021-07-27 19:56] sonika-gautami commented on #3602
@bogdandrutu I tried from Head, The longCounters are working fine; Also the auto-instrumentation metrics of jvm are also working. Thanks a lot !!

`# HELP nwdaf_noti_invokes
# TYPE nwdaf_noti_invokes counter
nwdaf_noti_invokes{app="nwdaf-app"} 4
# HELP nwdaf_noti_invokes2
# TYPE nwdaf_noti_invokes2 counter
nwdaf_noti_invokes2{app="nwdaf-app"} 4
....
runtime_jvm_gc_count{app="nwdaf-app"} 121
# HELP

[2021-07-27 21:47] gracewehner opened #3732 "Publish the prometheus version that the prometheus receiver and other components are using"
**Is your feature request related to a problem? Please describe.**
Prometheus has different configuration settings based off of the [Prometheus version](https://prometheus.io/docs/prometheus/latest/configuration/configuration/). It would be good to know exactly which Prometheus version will work with the collector, or else using a setting in the Prometheus config that has changed between versions

[2021-07-28 02:34] a-feld opened #3733 "Prometheus staleness markers are generated for metrics that aren't stale."
**Describe the bug**

Staleness markers may be incorrectly generated for replicated services (jobs with multiple targets).

_Setup_
* 2 replicated prometheus endpoints (same metric set, except for service_instance_id)
* Example configuration:
[code]

**Steps to reproduce**
* Deploy 2 instances of the opentelemetry-collector.
* Configure the prometheus receiver to scrape both instances.
* Configure

[2021-07-28 06:29] alolita commented on #3635
@FreeZhang61 Can you provide more details about your setup and configuration? Which Prometheus component were you using?

[2021-07-28 06:32] alolita commented on #3602
@sonika-gautami Closing this issue since your problem seems to be resolved.

[2021-07-28 06:32] #3602 closed

[2021-07-28 06:34] alolita commented on #3598
Closing issue since this request is resolved.

[2021-07-28 06:34] #3598 closed

[2021-07-28 06:35] alolita commented on #3557
Closing this issue as resolved.

[2021-07-28 06:35] #3557 closed

[2021-07-28 06:38] alolita commented on #3545
@bogdandrutu will take a look at this requirement and respond on this issue.

[2021-07-28 06:44] alolita commented on #3488
@zivfuture have you been able to resolve your issue?

[2021-07-28 06:48] alolita commented on #3149
@secat Metrics support using the Kafka receiver is not prioritized currently. Feel free to join in to contribute if you're interested in adding that support.

[2021-07-28 06:48] #3149 closed

[2021-07-28 06:56] alolita commented on #2958
Closed issue since its a won't fix.

[2021-07-28 06:56] #2958 closed

[2021-07-28 06:59] alolita commented on #2905
@owais is this fixed? Can we close this issue?

[2021-07-28 07:00] alolita commented on #2820
@Aneurysm9 added as approver. Closing this resolved issue.

[2021-07-28 07:00] #2820 closed

[2021-07-28 07:04] alolita commented on #396
@odeke-em is this still needed given we're using protobuf now? Please close the issue if no longer relevant.

[2021-07-28 11:00] japoorv commented on #3223
Hi,
We are actually trying to implement something like this.
@Saber-W  Any update on this ?

[2021-07-28 14:36] Saber-W commented on #3223
Hi @japoorv, I have implemented this compression option in Kafka exporter. But we are still in the progress of making sure which configuration is the best for users.

[2021-07-28 14:37] japoorv commented on #3223
Makes sense, thanks :)

[2021-07-28 14:43] secat opened #3734 "Panic when using OIDC auth extensions on gRPC receivers starting at version v0.30.0"
**Describe the bug**

Starting at version [v0.30.0](https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.30.0), when configuring an OIDC auth extension on receiver, it generates a `panic` with the following error message: `The unary server interceptor was already set and may not be reset`.

Example:
[code]

**Steps to reproduce**

Enable a gRPC OTLP receiver using the OIDC aut

[2021-07-28 14:52] gillg commented on #3118
Someone to re-open ? 🙏

I discovered a lot of new use cases where my `_total` metrics are dropped somwere between the receiver and the exporter.

As new exemple a set of metrics :
[code]

[2021-07-28 15:07] secat commented on #3734
@jpkrohling did you encountered this with latest opentelemetry-collector version?

[2021-07-28 15:14] punya commented on #67
Closing this out because we now have https://github.com/open-telemetry/opentelemetry-collector/blob/main/exporter/prometheusexporter/end_to_end_test.go and https://github.com/open-telemetry/opentelemetry-collector/blob/main/receiver/prometheusreceiver/internal/staleness_end_to_end_test.go .

[2021-07-28 15:14] #67 closed

[2021-07-28 15:17] punya commented on #305
@jpkrohling will such a test still be appropriate when the components have been moved to a separate repo, and the "core distribution" will be defined by a config file?

[2021-07-28 15:18] #307 closed

[2021-07-28 16:34] dashpole commented on #3489
Is it possible to write a unit test for it?  Then we could check for races with `-race`

[2021-07-28 16:36] vishiy commented on #3732
Created this in WG-Prometheus back log - https://github.com/open-telemetry/wg-prometheus/issues/61

[2021-07-28 16:41] vishiy opened #3736 "Publish OTLP version mapping to collector version"
**Describe the solution you'd like**
It takes a while to figure the OTLP version used by collector. For example we moved to 0.8.0 OTLP few weeks back and out OTLP server needs to be ensured we are in the same version due to breaking changes. Though there will be less breaking changes as this matures, it will be useful to have a table of collector releases mapping to OTLP version(s) to refer.

This

[2021-07-28 17:53] bogdandrutu commented on #3733
/cc @alolita @Aneurysm9 @rakyll @dashpole @punya

[2021-07-28 17:59] bogdandrutu commented on #3713
You can use the "logging" exporter to log all data received by the collector and check if there are data received, also you can look at collector:55670/debug/tracez (not sure why you map that to 55679) to see spans for the exporters and check if there are marked as errors and see the error there.

[2021-07-28 18:04] bogdandrutu commented on #3666
/cc @alolita @Aneurysm9 @rakyll @dashpole @punya

[2021-07-28 20:25] dashpole commented on #3666
There are a few steps which would help us root-cause your issue:

1. In your prometheus receiver, use a `metric_relabel_configs` with `source_labels: [__name__]`, `regexp: <metric_name>` `action: keep` to keep only one of the metrics at a time.  This should let you identify the name of the metric being filtered out.
2. Send us the output of curling your metrics endpoint.  If it is really large, ju

[2021-07-28 21:38] nayasam commented on #3666
The collector version is 0.30.0

I’ve updated my collector configuration as below as suggested:

receivers:
  prometheus:
    config:
      scrape_configs:
        - job_name: 'zappd.potel'
          metric_relabel_configs:
          - source_labels: [__name__]
            regex: '.*naya.*'
            action: keep
          dns_sd_configs:
          - names:
            - _http._tcp.zappd.potel.d

[2021-07-29 07:04] jpkrohling commented on #3734
I don't remember seeing this, but will try to reproduce and fix ASAP.

[2021-07-29 13:20] jpkrohling commented on #305
For this repository, this test would load only the OTLP components, which will still reside in this repo. But such a test is certainly more appropriate for the new "releases" repository.

[2021-07-29 13:21] jpkrohling commented on #2430
I think we can close this for now. This is blocked, as we need to adopt otel-sdk before we can start adding the required metrics to the existing components in a sustainable manner.

[2021-07-29 13:22] jpkrohling commented on #2430
To be clear: I think we should still do it, but perhaps not for GA?

[2021-07-29 15:32] punya commented on #669
Is this specific to OTLP, or does it apply to other push-based receivers too?

[2021-07-29 16:14] alolita commented on #3524
@bogdandrutu can we review and merge the outstanding PR and complete this task? Please advise.

[2021-07-29 19:51] Aneurysm9 commented on #3449
Yes, the proposal is to use additional tooling to simplify the management of tagging modules in a repo when not all modules should be tagged with the same versions.  Anything depending on those modules will do so using the ordinary Go toolchain.

There will be no intermediary branches.  `stable-v1` is an example of a named module set managed by the tooling.  It would include a version declaration

[2021-07-29 23:11] odeke-em commented on #396
@rakyll it was for PHP but the solution indeed was to export metrics from short-lived processes!

@tigrannajaryan @alolita it wasn't about Protobufs though, but more for a daemon that'll allow isolated/short lived processes to send telemetry that'll be aggregated by delegation by the daemon The demand for it clearly isn't high so I shall close this otherwise. Thank you all!

[2021-07-29 23:11] #396 closed

[2021-07-30 01:01] mxiamxia commented on #3185
Made some major updates on [OTel processors redesign Doc v2](https://docs.google.com/document/d/1UNzMG1LBUWpiMiFn1PX4OPVVQsk6EneISbtR4cdBm4Y/edit?usp=sharing)

Please help to review.

[2021-07-30 01:29] TheKevJames commented on #3734
I also just ran into this -- can confirm the bug is still present under `v0.31.0` in the same way @secat described.

[2021-07-30 08:09] jpkrohling commented on #3734
I'm on it.

[2021-07-30 08:37] jpkrohling commented on #3734
`git bisect` tells me this:

[code]

[2021-07-30 09:06] jpkrohling commented on #3449
Makes sense now. There cannot be interdependencies between modules within the module set, right?

[2021-07-30 10:23] #3734 closed

[2021-07-30 15:27] secat commented on #3734
thanks @jpkrohling for the quick fix!

[2021-08-02 12:37] MWalcz4k opened #3754 "Some proto files are not in sync with opentelemetry-proto-go repository"
**Describe the bug**
Proto-go repository has a comment that [this field](https://github.com/open-telemetry/opentelemetry-proto-go/blob/5d7297e2f56b4e5cf29b753f33bcd14ad6b4452f/otlp/metrics/v1/metrics.pb.go#L1135) is supposed to be depricated but it is still in use in the collector [here](https://github.com/open-telemetry/opentelemetry-collector/blob/3c99398c27e57bc0702ad9e49a105c2d23f8d238/model/i

[2021-08-02 17:52] #3691 closed

[2021-08-02 18:12] codeboten commented on #3534
@bogdandrutu I believe everything on the checklist is completed except the removal of LabelSet, should that item be part of the upgrade to OTLP v0.9.0?

[2021-08-02 18:21] bogdandrutu opened #3757 "Disable stale bot for issues or set less aggressive days for closing"
/cc @tigrannajaryan @alolita

[2021-08-02 18:23] bogdandrutu commented on #3754
Duplicate of https://github.com/open-telemetry/opentelemetry-collector/issues/3535

[2021-08-02 18:23] #3754 closed

[2021-08-02 18:25] odeke-em commented on #3574
/cc @kirbyquerby to add to our list of stuff to work on.

[2021-08-02 19:59] #3534 closed

[2021-08-03 11:06] tigrannajaryan commented on #3757
I think we don't need a stale bot for issues.

[2021-08-03 12:33] gionapaolini opened #3760 "How to sample based on attribute?"
I'm looking for a processor similar to the probabilistic_sampler in which I make the sampling decision based on the attribute of the span (error=true).
At first I thought I could use Span or Attribute processors, but those don't do any sampling decision.
Is there any way I can achieve this?

[2021-08-03 16:50] bogdandrutu commented on #3757
I think so too, but with one of the updates of the bot we got that "for free" :)

[2021-08-03 16:57] CVirus commented on #543
I'm failing to achieve the above using the resourceprocessor.

Here is what the trace output via the logging exporter looks like(I removed a few things for clarity):
[code]

Is it possible to set Resource label `service.name` to the span Attribute `istio.canonical_service` using the resourceprocessor?

[2021-08-03 17:29] tbarker25 opened #3762 "Include additional process states in processses_scraper"
**Is your feature request related to a problem? Please describe.**
Google's Collectd-based Ops Agent has a agent.googleapis.com/processes/count_by_state metric. This has many more states in it then the Otel-based agent. For the sake of feature parity, we would like to have the same functionality in the OTel-based Ops agent.

**Describe the solution you'd like**
For receiver/hostmetricsreceiver/int

[2021-08-03 18:37] eddyleelin commented on #3449
There actually can be interdependencies between modules within a module set (and that is often the case); for example, the `oteltest` Module does import `otel`, which are both in the `stable-v1` Module Set. As Anthony mentioned,

In other words, users can see that the entire "set of Modules" listed within the `stable-v1` Module Set are versioned together as a sort of "Multi-Module" grouping, which

[2021-08-03 19:07] bogdandrutu commented on #3760
/cc @jpkrohling

[2021-08-03 19:08] bogdandrutu commented on #3760
Removing the bug label since this is at most a feature request

[2021-08-03 19:11] jpkrohling commented on #3449
Looking at the commit for RC2 made it clear to me. For some reason, I thought we were trying to avoid `replaces` in the go.mod, but this is not the case. All in all, this is an interesting hack, as you are referencing a tag that doesn't exist at the time of the commit, but nobody is consuming it until the tag gets created.

I'm good with the proposal.

[2021-08-03 19:17] jpkrohling commented on #3760
Take a look at the tail-based sampler: https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/tailsamplingprocessor .  Is this what you want?

[2021-08-03 21:41] jrcamp commented on #3538
Prometheus has a component called [service discovery](https://github.com/prometheus/prometheus/blob/main/discovery/README.md) that can discover targets from Kubernetes, zookeeper, and many more sources. It is heavily tied to the Prometheus data model. From the docs:

The metadata is completely flattened and sanitized to conform to Prometheus’ model. The OpenTelemetry data model can accommodate mor

[2021-08-04 07:43] gionapaolini commented on #3760
I trying to do probabilistic sampling but always trace an error.
I used that initially, but I'm not sure I understand how the rate_limiting works. It was giving me inconsistent results.

Then since I saw the plan to deprecate it, I tried using 2 pipelines: groupbytrace + probabilistic sampler, but I was missing a specific processor to only filter based on attributes.

But I think I will try the sa

[2021-08-04 08:08] jpkrohling commented on #3760
If we do end up deprecating the tail-based sampler (we are not sure yet we will), we'll split out the policy part of it, making it part of another processor.

It will work. I'm just a bit surprised that you want only a percentage of your error traces. Do you have that many traces with errors in them?

[2021-08-04 08:42] gionapaolini commented on #3760
No I meant normal probabilistic sampling, but if the trace contains an error then always log it. (common scenario I believe)
At first I was having some weird behavior when using a very low spans_per_second (probably due to my lack of understanding of the mechanism)

Now I'm using only a single pipeline with:

[code]
And it gives me the expected results. Apologize for causing confusion, will close

[2021-08-04 08:42] #3760 closed

[2021-08-04 17:00] japoorv opened #3772 "Ability to add sarama kafka producer configs"
## Important (read before submitting)
We are currently preparing for the upcoming 1.0 GA release. Feature requests that are not aligned with
the current roadmap https://github.com/open-telemetry/opentelemetry-collector/blob/main/docs/roadmap.md
and are not aimed at stabilizing and preparing the Collector for the release will not be prioritized.

_Delete this paragraph before submitting._

**Is you

[2021-08-04 23:14] brianpham commented on #2163
Ran into a similar issue with my prometheus config. Works on prometheus, but didn't work on the opentelemetry-collector. I updated `$` to `$$` and its working now.

[2021-08-05 14:12] pmalek-sumo opened #3778 "Async nature of collector startup makes it hard to sync telemetry init failures with start of sending e.g. heartbeats"
**Describe the bug**

Having a plugin e.g. extension that starts sending data e.g. heartbeats upon startup it's hard to synchronize it with telemetry init failures coming from e.g. binding the prometheus exporter on an already used port (ref: https://github.com/open-telemetry/opentelemetry-collector/blob/v0.31.0/service/telemetry.go#L114-L119 )

This causes a collector to send data/heartbeats/heal

[2021-08-05 14:53] pmalek-sumo commented on #3778
I was thinking about swapping

[code]

with

[code]

in https://github.com/open-telemetry/opentelemetry-collector/blob/967071c7f09dca4a8e08a5df5f4044c67b66775d/service/collector.go#L310-L322 but because of recent changes in how we specify balast this is not possible because balast size is obtained from an extension and that needs to be initialized with `col.setupConfigurationComponents(ctx)`

[cod

[2021-08-05 21:38] stephenhong opened #3780 "Is it possible to send collector logs to Splunk?"
I'm not referring to sending application logs to Splunk using Splunk HEC exporter. When you have logging exporter configured on your collector, your terminal shows collector logs such as

`2021-08-05T21:06:34.682Z	info	Started watching file	{"component_kind": "receiver", "component_type": "filelog", "component_name": "filelog", "operator_id": "$.file_input", "operator_type": "file_input", "path":

[2021-08-05 23:47] brianpham opened #3781 "Example of Writing Metric with HTTP/JSON to OTLP Receiver"
Looking at this section, https://github.com/open-telemetry/opentelemetry-collector/tree/main/receiver/otlpreceiver#writing-with-httpjson I am having trouble figuring out exactly what the format should look like for submitting a metric even after looking at the `protobuf JSON serialization` link.

I was able to get a status 200 by sending an empty json request, but wanted to see what is an easy tes

[2021-08-06 00:07] brianpham commented on #3781
Was able to finally get it to work by posting this.
[code]

[2021-08-06 00:07] #3781 closed

[2021-08-06 17:15] alolita commented on #2600
@bogdandrutu Have you signed off on all the items that need to be completed for this task? I can close the issue if you sign off. Thx.

[2021-08-06 17:18] alolita commented on #3524
@bogdandrutu @tigrannajaryan can you please review and merge this change? There are no objections so far from the community.

[2021-08-06 17:30] alolita commented on #3538
@jrcamp do you have an update or a design that you would like to share with us?

[2021-08-06 18:02] bogdandrutu opened #3787 "Missing semantic convention for ExceptionEventName"
https://github.com/open-telemetry/opentelemetry-go/blob/main/semconv/v1.4.0/exception.go

[2021-08-06 18:29] bogdandrutu opened #3788 "Strange difference between AttributeK8SCronJobName and AttributeK8SDaemonsetName"
We should either use "Cronjob" or "DemonSet"

[2021-08-06 19:56] mtwo commented on #3538
Do we actually need this for GA, or could we add it later? My sense is that it isn't a blocker ...

[2021-08-07 06:50] odeke-em opened #3794 "receiver/prometheus, exporter/prometheus: recognize SIGHUP to reload configurations as Prometheus server does"
Prometheus' server recognizes uses a SIGHUP signal sent to it, to reload configurations when they are changed.
Essentially Prometheus says per https://prometheus.io/docs/prometheus/latest/configuration/configuration/
***Prometheus can reload configurations by sending SIGHUP or by visiting the /-/reload endpoint with —web.enable-lifecycle flag is enabled***
<img width="619" alt="Screen Shot 2021-08

[2021-08-07 06:53] odeke-em commented on #2364
Yeah from discussions in the Prometheus Working Group and other discussions, we came to the conclusion that we shouldn't do this. @alolita @Aneurysm9 could you please help perhaps mark as this a "Won't Fix" and then we can close it? Thank you.

[2021-08-09 07:47] tigrannajaryan commented on #3524
I posted my objection here https://github.com/open-telemetry/opentelemetry-collector/pull/3609#pullrequestreview-705486043

I don't see any new information to change my opinion.

[2021-08-09 08:01] tigrannajaryan opened #3804 "TestMetricResourceProcessor is unstable"
See failure https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector/8980/workflows/62df5a55-a6d7-4dcb-9bcf-eeb7bf251281/jobs/94590

[code]

[2021-08-09 20:56] #3757 closed

[2021-08-09 21:38] #2677 closed

[2021-08-09 21:39] #2600 closed

[2021-08-10 02:42] tydhot opened #3809 "why collector kafka exporter didn't print kafka error in log?"
We have used collector in production env to export metric data to kafka. We have found a problem that when collector export to kafka failed and it will not print any log about the reason. It will be a challenge to figure out the reason  when the kafka is only for collector in prod env. Can I know why collector didn't print any log about it?

[2021-08-10 17:27] codeboten opened #3815 "Stringify non-string attributes for exporters requiring strings"
This issue addresses `TODO: Decide what to do with non-string attributes.` comments in the code.

As per @tigrannajaryan's comment in this discussion https://github.com/open-telemetry/opentelemetry-collector/pull/3770#discussion_r685681885

- [x] https://github.com/open-telemetry/opentelemetry-collector/pull/3770/files#diff-9822bc07132ceeeb9c69a90898caccf2d9f9acefe0cef5b5bae0dc2cc9e44764R265 #3821

[2021-08-10 20:51] codeboten commented on #3815
See the following code:

https://github.com/open-telemetry/opentelemetry-collector/pull/3770/files#diff-9822bc07132ceeeb9c69a90898caccf2d9f9acefe0cef5b5bae0dc2cc9e44764R265

https://github.com/open-telemetry/opentelemetry-collector/pull/3770/files#diff-59096f8af265799d33e8452f5323b2928279fb46ae2765c62261deb7fcd12182R87

https://github.com/open-telemetry/opentelemetry-collector/pull/3770/files#diff

[2021-08-10 21:07] codeboten opened #3817 "MetricDataTypeSummary not handled in some cases"
There are multiple places in the code where a switch statement handles cases like the following example but is missing case pdata.MetricDataTypeSummary.

https://github.com/open-telemetry/opentelemetry-collector/blob/8038673eba9e9d32c5b7bd5bb6a0be94b2ec60cb/exporter/exporterhelper/resource_to_label.go#L74-L79

[2021-08-11 04:46] kirbyquerby commented on #3531
@bogdandrutu I've created #3818 -- is this along the lines of what you were thinking?

[2021-08-11 08:56] tigrannajaryan commented on #3815
I would suggest to convert primitive values to human-readable strings. So for example:
1. Integer 5 becomes a string `5`.
2. String "abc" remains a string `abc` (Note that the string is NOT surrounded by additional double quotes).
3. Boolean true becomes a string `true`.
4. Double 1.5 becomes a string `1.5`.
5. String “1.5” remains a string `1.5` (and is indistinguishable from a double 1.5).

For

[2021-08-11 10:30] tigrannajaryan commented on #3815
Good point.

[2021-08-11 16:58] alolita commented on #3787
@Aneurysm9 will also file a PR on the spec.

[2021-08-11 17:59] codeboten commented on #3815
@mx-psi @tigrannajaryan would the best way to solve this then to move `AttributeValueToString` from `tracetranslator` to `pdata` to make it less trace specific?

[2021-08-12 07:43] pellared commented on #3713
I guess this issue might be related: https://github.com/open-telemetry/opentelemetry-dotnet/issues/2253

[2021-08-12 07:54] mx-psi commented on #3815
That makes sense to me, but I would agree with @tigrannajaryan that this should probably be part of the spec

[2021-08-12 08:30] tigrannajaryan commented on #3815
Yes, sounds good to me, especially if this behavior is defined in the spec.

We should "legalize" our implementation by submitting a PR against spec repo. Can be done in parallel or after this change.

[2021-08-13 12:01] pellared commented on #3713
@dickiebowuk Do you still have a problem? If so can this issue be closed? Otherwise, could you at least properly format the description? I also can suggest looking at https://github.com/open-telemetry/opentelemetry-dotnet/blob/main/examples/Console/TestOtlpExporter.cs

[2021-08-13 15:47] ttomsu commented on #2701
Friendly ping - Has there been any movement on this recently?

[2021-08-13 15:47] ttomsu commented on #3544
Friendly ping - Has there been any movement on this recently?

[2021-08-13 16:11] josephflynch commented on #2701
This has been sitting for a while.  We're just about to pick it back up.
When I have something useful I will pass it around.  If you like, I'd be
game for a quick video conference on the topic to understand each other's
goals and share ideas.  We've been thinking about it for a while but need
to put pen to paper for a design.

Joe Lynch

On Fri, Aug 13, 2021 at 11:47 AM Travis Tomsu ***@***.***>
w

[2021-08-13 16:16] tigrannajaryan commented on #2701
This is work in progress. This PR was intended to enable it https://github.com/open-telemetry/opentelemetry-collector/pull/3687
However, I believe @bogdandrutu had an alternate idea which he wanted to try.

[2021-08-13 18:50] gongcon commented on #2310
We need this feature as well for dropping spans from envoy which is out of our control. The routing processor looks at http request headers and is very restricted, e.g. does not work with batch. Also, seems it only works on trace level, not span.

[2021-08-14 09:23] skadefro opened #3824 "prometheus missing labels in 0.32.0"
**Describe the bug**
Up til 0.31.0 prometheusremotewrite and prometheus have worked with labels.
But when using the docker image for 0.32.0 ( or latest ) the labels are gone

**Steps to reproduce**
Upgrade to 0.32.0 and with
[code]
in the config, all metrics are missing labels

**What did you expect to see?**
the labels
**What did you see instead?**
no labels

**What version did you use?**
Version

[2021-08-15 02:05] NathanielRN opened #3825 "Hostmetrics Load Scraper does not have even 1 Label - `awsemf` exporter filtering depends on 1+ labels"
**Is your feature request related to a problem? Please describe.**

The `hostmetrics` `cpu` scraper will produce a metric like this (using the file exporter):

[code]

but the `hostmetrics` `load` scraper will produce a metric like this:

[code]

It has no labels. Without this label, the `awsemf` exporter will produce the follow output for the CloudWatch (CW) backend for the `cpu` metric:

[code]