[2021-02-11 03:18] albertteoh commented on #2310
From this https://github.com/open-telemetry/opentelemetry-collector/issues/560#issuecomment-589655713 it seems there may be some use cases for just filtering on spans and so it's worth exploring.

Agree with @morigs that it can lead to holes in traces and that a tail-based sampling approach would be best for filtering out whole traces. However, it doesn't currently support "sampling out" (i.e. dro

[2021-02-11 09:36] bwplotka commented on #2460
Totally makes sense. The processing part would stay the same indeed, but you are right - it has similar(plugin) bottlenecks and the potential need (again) for distributions etc

However, I see quite a battle right now with tracing/logging/metrics vendors feeling missing out, asking why their API is not part of OpenTelemetry, and forcing the development of distributions and forcing users to make de

[2021-02-11 10:22] jpkrohling commented on #2460
To clarify, the question was whether components exporting data directly to a storage mechanism would belong to the contrib. That said, I'm a big fan of decentralization, and I think the contrib distribution could eventually disappear, giving place for an official registry of components and a supported way to pick and choose which ones to use, like this: https://code.quarkus.io/. @gramidt volunteer

[2021-02-11 11:09] jpkrohling commented on #2310
We talked about this during the SIG from yesterday: https://docs.google.com/document/d/1r2JC5MB7GupCE7N32EwGEXs9V_YIsPgoFiLP4VWVMkE/edit?ts=5de972a2#heading=h.791inlvyg4dl

I mentioned a few links to requests from users in the Jaeger community, confirming that there's demand for this feature, but there are some questions to be answered.

[2021-02-11 15:43] jsuereth commented on #2458
There are two tools I think could be really helpful here:

1. [Pivotal's license finder](https://github.com/pivotal/LicenseFinder)
   - It allows you to opt-in to copy-left license and approve/disallow any the community is uncomfortable with
   - It's highly configurable / flexible
   - It drops an "authorization" report on what decisions were made
   - Available as a docker image
2. [Google's go

[2021-02-11 19:48] serena7981 opened #2465 "Support the `resource_to_telemetry_conversion` config option in OpenCensus exporter"
**Is your feature request related to a problem? Please describe.**
PR #2060 adds a new `resource_to_telemetry_conversion` configuration option to the `exporterhelper`. We would like this config option to be added to the OpenCensus exporter so that it can be enabled and our resource attributes can be added to our metric labels.

**Describe the solution you'd like**
Add the [`WithResourceToTelemetry

[2021-02-11 21:49] flands opened #2466 "Automatic obfuscation/scrubbing of commonly sensitive metadata"
**Is your feature request related to a problem? Please describe.**
Sensitive data can exist in telemetry data. For example, the `db.statement` attribute in spans is often deemed as sensitive data. The collector offers ways to address sensitive data (e.g. the `attributes` processor), but configuration today is manual.

**Describe the solution you'd like**
It would be desirable for the collector to

[2021-02-12 03:12] gramidt opened #2469 "[Discussion] External secrets integration"
**Is your feature request related to a problem? Please describe.**
The Collector does not provide a mechanism to retrieve secrets from external systems or processes. The current mechanisms are to either hardcode the secret in the corresponding config or use environment variable expansion. While the latter is better than the former, it still has significant room for improvement, since environment v

[2021-02-12 11:32] bwplotka commented on #2460
Yes. To me, vendor agnostic is where the implementation of the backend does not leak to the user. Everything is focused API usage.

You touched on a very good topic. How do we want to ensure OTLP is battle-tested if we discourage everyone to use it by layering custom receivers/exporters and encouraging distributors/semi fork architecture? 🤔 It's obviously much easier for vendors and SaaS to provid

[2021-02-12 18:40] gramidt commented on #2469
One idea could be to use something like [gomplate](https://docs.gomplate.ca/), since it has many of the needed integrations already built in.

[2021-02-12 19:10] bogdandrutu opened #2472 "`CombineErrors` is a helper function used by Consumers"
Currently `CombineErrors` is a helper function in the component, but components do not use this when return results for component APIs (Start/Shutdown), but only when returning results for the Consumer part of the Component.

There are other Consumers (that don't implement Component interface) that uses this as well like the fanout consumer https://github.com/open-telemetry/opentelemetry-collector

[2021-02-12 20:33] bogdandrutu commented on #204
Obsolate

[2021-02-12 20:33] #204 closed

[2021-02-12 20:35] bogdandrutu commented on #413
Obsolete, tailbasesampling is no longer supported in code

[2021-02-12 20:35] #413 closed

[2021-02-12 20:35] bogdandrutu commented on #308
Obsolete, we have extensionhelper

[2021-02-12 20:35] #308 closed

[2021-02-12 20:37] bogdandrutu commented on #476
w3c does not define any key in the tracestate, and we will not support this unless otel or w3c defines a spec

[2021-02-12 20:37] #476 closed

[2021-02-12 20:38] bogdandrutu commented on #712
Obsolete

[2021-02-12 20:38] #712 closed

[2021-02-12 21:18] gramidt commented on #2466
Excellent recommendation and love the idea of privacy-by-default. Should we start with compiling a list of attributes that are likely sensitive?

[2021-02-12 23:13] #2472 closed

[2021-02-13 00:05] bogdandrutu opened #2476 "Review and improve consumererror package"
This is an umbrella issue for feedback and improvements for the `consumererror` package.

Godoc: https://pkg.go.dev/go.opentelemetry.io/collector@v0.20.0/consumer/consumererror

[2021-02-13 00:05] bogdandrutu opened #2477 "Review and improve consumertest package"
This is an umbrella issue for feedback and improvements for the `consumertest` package.

Godoc: https://pkg.go.dev/go.opentelemetry.io/collector@v0.20.0/consumer/consumertest

[2021-02-13 07:43] jcchavezs commented on #2443
Sure I can do that.

[2021-02-13 07:47] jcchavezs commented on #2443
Done https://github.com/open-telemetry/opentelemetry-collector/pull/2480

[2021-02-13 07:51] jcchavezs opened #2481 "Clarify whether processors should accept data or not after shutdown"
**Is your feature request related to a problem? Please describe.**
Currently the documentation on components don't clarify whether the component should/shouldn't continue accepting data after the Shutdown has been called. This is specially misleading on those cases you want to control the component lifecycle but also want to make sure zero data loss.

**Describe the solution you'd like**
Component

[2021-02-13 18:34] bogdandrutu opened #2482 "Remove usage of deprecated consumerdata"
The goal of this issue is not to convert all components that still use oc data model, but to remove usages of the `consumerdata.TraceData` and `consumerdata.MetricsData` and these structs.

[2021-02-13 20:44] bogdandrutu commented on #2481
Right now it is guaranteed by the framework that components will not receive data after shutdown, so I don't think we should do anything in the components to protect for that, but maybe we can document this guarantee.

[2021-02-13 20:51] bogdandrutu opened #2488 "Cleanup manually/automatic generated class in pdata related to trace"
This is a preparation for pdata (TraceID, SpanID, AttributeValue, AttributeMap) to be marked as stable API.

- [x] Cleanup translator code to work only with pdata types (TraceID, SpanID)
- [x] Should we consider to move translator code as helper to pdata (NewTraceIDFromLong, NewSpanIDFromLong, etc.). Translator code is in translator/trace/big_endian_converter?
- [x] Review public API for TraceID,

[2021-02-14 14:59] owais opened #2491 "Bug report for failed CircleCI build (job: loadtest)"
Auto-generated report for `loadtest` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/63345

#### Test Failures
-  TestTraceNoBackend10kSPS
-  TestTraceNoBackend10kSPS/MemoryLimit

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-02-15 06:45] morigs opened #2494 "Docs mentioning removed queued_retry processor"
Some docs pages ([here](https://github.com/open-telemetry/opentelemetry-collector/blob/main/docs/monitoring.md#queue-length) and [here](https://github.com/open-telemetry/opentelemetry-collector/blob/main/docs/monitoring.md#queue-length)) use deprecated and removed `queued_retry` processor.
Consider correcting docs and perhaps mentioning some alternative (e.g. `sending_queue` from `otlp` exporter).

[2021-02-15 16:13] #2440 closed

[2021-02-16 00:07] flands commented on #2460
Well it is the default implementation for instrumentation libraries and the reference architecture on how to send OTel instrumentation data to the Collector :) in addition, with multiple vendors already supporting OTLP, battle-testing will naturally happen.

I am curious what you mean when you say `discourage everyone to use it`. Unfortunately, the ecosystem is not single-standards based and witho

[2021-02-16 01:46] tigrannajaryan commented on #2460
@bwplotka thank you for the proposal. It is great to see an experienced person going over the project and making improvement suggestions.

I think you misunderstood what I said. The discussion was about allowing or not allowing exporters that are targeting data storage and I said that it is perfectly fine, is not against any existing policy and that I do not see any reasons why not to do it, thoug

[2021-02-16 12:00] yorikya opened #2498 "prometheusexporter droping the OTEL resource lables"
**Describe the bug**
In our company, we are using opentelemetry-sdk-go to export the metrics from a service, then collector-agent which is running on the same host receives the metrics through the OTLP receiver and exports the metrics via the Prometheus exporter.
When we are adding some custom Lable to OTEL Resource via  `opentelemetry-sdk-go` those Labels are dropped by Prometheus exporter, but L

[2021-02-16 18:27] punya commented on #2458
Is it worth broadening this issue to include tooling that collector distributions (i.e. bundling some set of out-of-tree plugins) can use to generate and bundle a valid LICENSE file?

[2021-02-16 18:51] scheler opened #2499 "Prometheus receiver: Move job and instance labels into resource attributes"
**Is your feature request related to a problem? Please describe.**
Prometheus adds the labels _job_ and _instance_ to identify the target scraped - this maps to the Resource in opentelemetry against which the metrics are associated with. Looks like the Resource is currently empty, we could populate these two labels as attributes under Resource.

**Describe the solution you'd like**
Move (or copy)

[2021-02-16 20:52] pavankrish123 opened #2500 "[OTLPGRPC Exporter] Enable OAuth2 client credentials configuration in grpc based otlp exporter"
**Is your feature request related to a problem? Please describe.**

 gRPC client from config gRPC module needs to support client credentials (OAuth2) way of handling auth. (exporters).

Instead of using static token, the client configuration must take in client credentials and implicitly fetch and refresh the token as necessary. gRPC client framework already has module to do this. We just need to

[2021-02-16 20:58] pavankrish123 opened #2501 "Document OAuth2 client credentials configuration in OTLPHTTP and OTLP exporters."
**Is your feature request related to a problem? Please describe.**

#2464 added configuration support for client credentials support OAuth2 mechanism. OTLPHTTP and OTLP exporters will get  this configuration implicitly through client configurations defined in confighttp  and configgrpc. We need to update the documentation with this support

[2021-02-16 21:36] pavankrish123 commented on #2500
@jpkrohling kindly let me know if the configuration structure is good. I am happy to add the support.

[2021-02-16 22:42] #2494 closed

[2021-02-16 23:22] bogdandrutu commented on #1306
Processor moved

[2021-02-16 23:22] #1306 closed

[2021-02-16 23:25] bogdandrutu commented on #2456
Duplicate of https://github.com/open-telemetry/opentelemetry-collector/issues/1591

[2021-02-16 23:25] #2456 closed

[2021-02-16 23:26] #1638 closed

[2021-02-17 00:43] #2443 closed

[2021-02-17 00:43] bogdandrutu commented on #2443
@jcchavezs I think this is done per your comment :) Feel free to reopen

[2021-02-17 08:44] jpkrohling commented on #2500
The config implies that the token would be refreshed during a RPC in case it's expired. I can imagine that we'd have a background process that will refresh tokens actively before they expire, outside of the hot-path. On the other hand, the bearer token is appropriately inside the per_rpc_auth node, as it's the same token being added to every RPC call.

Any suggestions on how we can use a single st

[2021-02-17 09:41] jcchavezs commented on #2443
Yes it is solved. Thank you!

On Wed, 17 Feb 2021, 01:44 Bogdan Drutu, <notifications@github.com> wrote:

[2021-02-17 17:45] pmm-sumo commented on #2285
Perhaps a related issue (when format used for buffering is considered): https://github.com/open-telemetry/opentelemetry-specification/issues/1443

[2021-02-18 19:08] tigrannajaryan opened #2505 "build-package deb CI step is unstalbe"
Here is a failure: https://github.com/open-telemetry/opentelemetry-collector/runs/1929698089?check_suite_focus=true

I think I saw this more than once in the past too.

[2021-02-18 20:48] fletcm opened #2506 "zipkin json v2 serialization error"
Probably related to https://github.com/open-telemetry/opentelemetry-collector/issues/954 , which appears to have fixed this issue for zipkin json_v1 spans.

I receive lots of message like this in the opentelemetry-collector logs:
`2021-02-18T18:04:16.840Z        error   exporterhelper/queued_retry.go:239      Exporting failed. The error is not retryable. Dropping data.    {"component_kind": "expor

[2021-02-19 03:32] puckpuck commented on #2310
I ran into the need for this today, and now have 2 use cases for this.

1. Dropping health checks, which are typically single span traces.
2. Routing traces to different exporters that are received on the same receiver. I should be able to achieve this with multiple pipelines, but I need a way to exclude a set of traces from each pipeline. I can ensure all my spans have an attribute(s) to dictate

[2021-02-19 13:40] tigrannajaryan opened #2507 "Need a document that explains how auth works"
I have a hard time understanding how the auth features work. Reading the code is difficult since it is scattered across multiple packages and I can't see high level explanations of how things work.

We need a design doc (preferably with a diagram that explains what happens with auth).

This is needed for Phase 1 GA since it is a public API.

[2021-02-19 13:41] tigrannajaryan commented on #2507
@jpkrohling since you added the auth capabilities can you work on this?

[2021-02-19 15:51] tigrannajaryan commented on #2401
Related to https://github.com/open-telemetry/opentelemetry-collector/pull/2495 which has similar requirements.

[2021-02-19 16:01] tigrannajaryan opened #2508 "Document what PerRPCAuth provides over Headers in GRPCClientSettings"
GRPCClientSettings.Headers allows to specify headers generally and so can be used to add the bearer token using "Authorization" header (I think?).

PerRPCAuth appears to be a duplicate functionality. It is not clear to me what extra does it add.

I may be wrong and they may be doing totally different things.

[2021-02-19 16:02] tigrannajaryan commented on #2508
@jpkrohling as the author of PerRPCAuth please help with this.

[2021-02-19 17:17] tigrannajaryan opened #2510 "Delete configauth/context.go"
It is a public API but does not appear to be used anywhere in core or contrib.

Need to delete or actually use.

[2021-02-19 17:21] tigrannajaryan commented on #2510
@jpkrohling can you help me understand what for is this? oidcAuthenticator seems to set groupsKey/subjectKey in the context but no-one appears to read it.

[2021-02-19 17:24] bogdandrutu commented on #2482
https://github.com/open-telemetry/opentelemetry-collector/pull/2509 is also related to this

[2021-02-19 17:42] hossain-rayhan commented on #1909
I think I am still experiencing the same issue. It's failing constantly on Amazon EKS.

2021-02-19T17:37:35.839Z	WARN	internal/metricsbuilder.go:104	Failed to scrape Prometheus endpoint	{"component_kind": "receiver", "component_type": "prometheus", "component_name": "prometheus", "scrape_timestamp": 1613756255838, "target_labels": "map[instance:ip-192-168-24-101.us-east-2.compute.internal job:kube

[2021-02-20 14:41] markfink-splunk opened #2516 "Simplify memorylimiter config"
Set the memorylimiter in config.yaml and be done with it.  Why also have the command line argument?  It complicates things unnecessarily to always have to set it in 2 places (command line argument + config.yaml), particularly when they always must be set the same anyway (at least per the README for the memorylimiter).  If there was a use-case where they could/should be set differently, or if say t

[2021-02-20 14:49] markfink-splunk commented on #2516
Better yet, if best practice is to always set the memory limiter and in general, it should always be set to 1/3 of system memory, and then the limit percentage should (generally) always be 90%, and spike limit should always be 25%, then why not make all that the default?  So that the user does not need to even know about it, unless they have a good reason to change it.

[2021-02-20 20:29] gramidt commented on #2516
This makes sense, @markfink-splunk. Are you planning on creating a PR? If not, I will help address this.

[2021-02-20 20:42] gramidt commented on #2507
@jpkrohling - I'm happy to help you with this if you would like.

[2021-02-21 17:32] markfink-splunk commented on #2516
I won't have time to work on this myself for awhile, probably a month or so. Granted, it's not a burning issue.  I just had the thought and wanted to submit it before I forgot about it.  I believe it will help adoption.

[2021-02-21 18:19] flands commented on #2466
Yes -- though unclear the best way to do this. Database queries and URLs come to mind right away. Normalization will also exist in OTel instrumentation libraries at least long term.

[2021-02-21 18:56] flands commented on #2516
@pjanotti I believe there was a reason why this was required -- do you recall?

[2021-02-21 19:09] flands commented on #2262
@rakyll I took a quick look at this to see what could be done to clarify the docs. Given `timeout` and `max_elapsed_time` are different things, it is unclear how to proceed. `timeout` refers to an individual attempt to export data (could be the original attempt or a retry attempt), while `max_elapsed_time` is checked on every retry -- if on a retry check this value is exceeded, retries will no lon

[2021-02-22 11:28] pkositsyn commented on #2262
@flands could you clarify, what difference is between "retries are disabled" and "`max_elapsed_time` is less than `timeout`"? In my opinion, they are interchangeable and actually it is reasonable to update the docs so that the first option of these two should be chosen

[2021-02-22 15:36] jpkrohling commented on #2510
The idea is to use it in other components that would use the subject to make decisions. For instance, the routing processor could use the subject key to route the spans to a tenant-specific backend. This last piece is missing, as I couldn't work on it yet.

[2021-02-22 18:41] hossain-rayhan commented on #2364
Facing similar issue. I have no idea whats going wrong. In my case, it works once when I scrape the `Pods` but never worked when I am trying to scrape `/mectrics/cadvisor`.

`WARN	internal/metricsbuilder.go:104	Failed to scrape Prometheus endpoint	{"component_kind": "receiver", "component_type": "prometheus", "component_name": "prometheus", "scrape_timestamp": 1614018163539, "target_labels": "map[

[2021-02-22 18:50] #1383 closed

[2021-02-22 19:07] #2046 closed

[2021-02-22 19:07] #2030 closed

[2021-02-22 21:04] owais opened #2532 "Bug report for failed CircleCI build (job: test)"
Auto-generated report for `test` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/64623

#### Test Failures
-  TestBatchProcessorSpansDeliveredEnforceBatchSize

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-02-22 21:32] rakyll commented on #2262
@flands If you clarify the doc with what you said in this issue, that'd help. The current description doesn't capture:
- `timeout` is scoped to an individual request in a batch. It calls out the "individual" without mentioning it's an individual in a retry series.
- `max_elapsed_time` is the timeout for the entire export attempt including retries.
- And as @pkositsyn says, what happens if max_elap

[2021-02-22 21:36] rakyll commented on #1909
@bogdandrutu Can we reopen this?

[2021-02-23 02:45] bogdandrutu commented on #2465
OpenCensus has its own mechanism to propagate resources so no need to propagate resource attributes as labels

[2021-02-23 08:10] jpkrohling commented on #2507
@gramidt, absolutely, if you have enough information about how it works, feel free to start a doc and I'll review it. There's a blog post that shows how it works from the perspective of end-users: https://medium.com/opentelemetry/securing-your-opentelemetry-collector-1a4f9fa5bd6f

[2021-02-23 08:17] jpkrohling commented on #2310
Have you seen the routing processor?
https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/routingprocessor

It might not have the features you need, but should be easy to extend it so that it uses a different source for the `from_attribute` property.

[2021-02-23 15:00] olagacek opened #2533 "Incorrect receiver label in prometheus receiver observability metrics"
**Describe the bug**

In version 0.20.0 of opentelemetry collector observability metrics coming from prometheus receiver do not contain proper label "receiver" with receiver name - it is set to empty string, instead of "prometheus"

**Steps to reproduce**

Run Open Telemetry app with prometheus receiver enabled, then scrape localhost:8888 metrics and inspect the returned response.

**What did you

[2021-02-23 16:42] gramidt commented on #2507
Awesome, thank you @jpkrohling!

[2021-02-23 17:04] gramidt commented on #1234
@bogdandrutu @alolita @andrewhsu - I'll wait to finish https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/2397 until this effort is completed, so that I don't have to duplicate the effort for CircleCI and GH Actions.

[2021-02-23 17:06] gramidt commented on #2469
@alolita @jpkrohling - While not critical at this moment, could you provide your thoughts on this when you have some spare cycles?

[2021-02-23 18:01] jrcamp opened #2534 "Allow environment variables to have a default value"
**Is your feature request related to a problem? Please describe.**

When using environmental variables you may want to have a default that is used if a user does not override it. For example:

[code]

**Describe the solution you'd like**
Allow bash-like variable substitution.

**Describe alternatives you've considered**
Not allowing it and require all defaults to be set external to the process. Th

[2021-02-23 19:16] rmfitzpatrick opened #2536 "component.host.GetPipelines()"
**Is your feature request related to a problem? Please describe.**
In order for a receiver or processor to have a "handle" on an exporter whose features they are interested in, they can call `host.GetExporters()` from their `Start()` method.  However, this method provides all built exporters for a given host/application and not just those within their pipeline(s).  In order to have awareness of a

[2021-02-23 19:41] gramidt commented on #1234
I haven't dug into this issue yet to find the root cause, but maybe it would not be applicable after this migration.

https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/2392

[2021-02-23 20:03] #2481 closed

[2021-02-24 05:14] alanwest opened #2539 "OTLP exporter endpoint config should require scheme"
Running collector version 0.20.0 configured to use the OTLP exporter as follows:

[code]

I get the following error `address https://my-oltp-endpoint:4317/: too many colons in address`

[code]

This [comment](https://github.com/open-telemetry/opentelemetry-collector/issues/1602#issuecomment-768675715) seems to suggest that including `https:` in the `endpoint` configuration is how to enable things

[2021-02-24 15:03] mx-psi commented on #2254
Hi all, jaegertracing/jaeger#2714 is available on Jaeger 1.22, released just today, and would allow me to continue working on this enhacenment.

However, we (Datadog) no longer need to use this enhacenment to solve the problem that motivated it in the first place: as can be seen in DataDog/datadog-agent#7450 (merged just today) we are moving this logic to the backend in all our clients (and eventu

[2021-02-24 15:03] #2254 closed

[2021-02-24 18:28] bogdandrutu opened #2540 "Review and improve componenttest package"
This is an umbrella issue for feedback and improvements for the componenttest package.

Godoc: https://pkg.go.dev/go.opentelemetry.io/collector@v0.25.0/component/componenttest

[2021-02-24 18:31] bogdandrutu opened #2541 "Add `Validate` to configmodels interfaces (e.g. configmodels.Processor)"
In order for the collector to be able to verify the config without creating components we need to validate every config before calling `New` on the factory.

This way we can add a flag like "--dry-run" that verifies the configuration, also we can ensure that we fail fast, etc.

[2021-02-24 18:34] bogdandrutu opened #2542 "Propose a plan, and the necessary steps to get there for splitting core into multiple modules"
To ensure stability guarantees, and allow individual parts of the component to move independently we need to split the core repository into multiple gomodules.

Some documentation:
https://github.com/golang/go/wiki/Modules#is-it-possible-to-add-a-module-to-a-multi-module-repository

Goals:
We need to make sure we avoid the problem we have in contrib when importing packages that it is necessary to

[2021-02-24 18:35] bogdandrutu commented on #2542
Extra thoughts:

* Investigate if splitting into smaller, more granular, modules is possible.
  * Define the modules schema, try to not break everyone.
  See [here](https://github.com/golang/go/wiki/Modules#is-it-possible-to-add-a-module-to-a-multi-module-repository).
  * Investigate how can we release multiple golang modules from the same repo, without asking
  people that consume them to use a r

[2021-02-24 18:35] bogdandrutu opened #2543 "Write a version doc as per spec requirements"
See [version and stability document](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/versioning-and-stability.md).

From the document see the section:

[2021-02-24 18:36] bogdandrutu opened #2544 "[Document/Agree on] all packages/modules that will be marked as stable during first stability phase."
Phase 1 list of packages to mark stable:

- [ ] - component (only traces)
- [ ] - component/componenterror
- [ ] - component/componenthelper
- [ ] - component/componenttest
- [ ] - config
- [ ] - config/configmodels
- [ ] - consumer (only traces)
- [ ] - consumer/consumererror
- [ ] - consumer/consumertest
- [ ] - consumer/pdata (only traces)
- [ ] - obsreport
- [ ] - obsreport/obsreporttest
- [ ]

[2021-02-24 18:37] bogdandrutu opened #2545 "Investigate tools that check for API compatibility for go modules"
Enable them for modules that we mark as stable.

[2021-02-24 18:38] bogdandrutu opened #2546 "Do we want to support custom tracing in the first stability phase?"
If yes, we probably should consider moving to opentelemetry-go. We know we want to get rid of opencensus sooner than later.

[2021-02-24 18:39] bogdandrutu opened #2547 "Review and improve componenterror package"
This is an umbrella issue for feedback and improvements for the componenterror package.

Godoc: https://pkg.go.dev/go.opentelemetry.io/collector@v0.24.0/component/componenterror

[2021-02-24 19:02] dashpole commented on #2364
can you try running with the command line flag
`--log-level=DEBUG`?

When I do that with an intentionally misconfigured collector, I see messages like:
[code]

The debug log shows me that my problem was a 404, which is correct for me since I put in an incorrect metrics_path in my prometheus config.

[2021-02-24 19:08] lizthegrey opened #2548 "configgrpc.go should support more encoding/compressions"
**Is your feature request related to a problem? Please describe.**
Gzip is CPU intensive and offers less of a compression benefit than more modern compression like snappy or zstd

**Describe the solution you'd like**
https://github.com/mostynb/go-grpc-compression should be supported, not just gzip encoding, at https://github.com/open-telemetry/opentelemetry-collector/blob/68c5961f7bc2d8d55fd431ab0

[2021-02-24 19:22] hossain-rayhan commented on #2364
@dashpole thanks, it gives more insights.

I am getting `403 Forbidden`. Not sure which permission I missed.
[code]

[2021-02-24 20:46] hossain-rayhan commented on #2364
I resolved my issue. I was missing permission for `- node/metrics`. After adding this in my `ClusterRole` it worked for me.

One thing, maybe we can upgrade the label from `debug` to `warn` for detailed failing reason.

[2021-02-24 20:55] hossain-rayhan commented on #1909
I found the cause for my failure case while scraping metrics from `metrics/cadvisor` endpoint.

I enabled the `--log-level=DEBUG` and it gave me the following insights. I was getting `Forbidden- 403`.
[code]

Then I had to add permission for `-nodes/metrics` in my `ClusterRole` and finally it worked.
[code]

[2021-02-24 20:56] dashpole commented on #2364
The line in question: in scrape/scrape.go is in the prometheus server, so without forking it we can't modify the level.  The same question was raised in upstream prometheus here: https://github.com/prometheus/prometheus/issues/2820#issuecomment-307064716, and it wasn't deemed appropriate to raise the verbosity

[2021-02-25 02:30] bjrara commented on #2391
@tigrannajaryan @loomis
Just to make sure I understand this issue correct, is it agreed to add `receiver` and `transport` as attributes just like `port` and `scheme`? If so, I can help on fixing this issue.

[2021-02-25 10:12] jpkrohling commented on #2469
I like the proposal and I could have made use of that for the [PR](https://github.com/open-telemetry/opentelemetry-collector/pull/1250#discussion_r452382249) that introduced the `PerRPCCredentials` option, where we did touch the topic of a generic mechanism to get conf value from external files.

[2021-02-25 12:05] loomis commented on #2391
@bjrara In our monitoring system, we're using a number of different Collector instances with different receiver configurations. Our (self-)monitoring of the Collectors uses `receiver` and `transport` to create appropriate views over the monitoring data. Those attributes seem to be systematically added by the other receivers. I find them useful, but can't speak as to whether having them is an "offi

[2021-02-25 15:13] vmihailenco commented on #2539
I am also interested in this. I've proposed a solution for opentelemetry-go in https://github.com/open-telemetry/opentelemetry-go/issues/1584

[2021-02-25 15:24] tigrannajaryan commented on #2469
@pjanotti is looking into this.

[2021-02-25 16:23] gramidt commented on #2469
@pjanotti - Let me know if you would like assistance in your research and initial PRs.

[2021-02-25 16:34] gramidt commented on #2507
@tigrannajaryan @jpkrohling - Would it still be beneficial to still do this now or wait on

https://github.com/open-telemetry/opentelemetry-collector/pull/2229#issuecomment-785929521

[2021-02-25 19:32] owais opened #2554 "Bug report for failed CircleCI build (job: loadtest)"
Auto-generated report for `loadtest` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/65117

#### Test Failures
-  TestTraceNoBackend10kSPS
-  TestTraceNoBackend10kSPS/MemoryLimit

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-02-25 20:15] tigrannajaryan commented on #2507
If it is trivial to add a doc on how it works today then it is still beneficial even if it is temporary. If it is a lot of work then don't spend time on it since it may be changed.

[2021-02-25 20:18] gramidt commented on #2507
Sounds like a plan, @tigrannajaryan! The document should be rather trivial to create.

[2021-02-26 08:45] wankai123 opened #2556 "prometheus receiver can't get `__meta_kubernetes_node_name`"
**Describe the bug**
In version v0.21.0, when I am trying to scrape `mectrics/cadvisor`,  the debug-log show me this error:
<pre>Scrape failed	{"component_kind": "receiver", "component_type": "prometheus", "component_name": "prometheus", "scrape_pool": "kubernetes-cadvisor", "target": "https://kubernetes.default.svc:443/api/v1/nodes//proxy/metrics/cadvisor", "err": "server returned HTTP status 400

[2021-02-26 19:13] pavankrish123 commented on #2507
@gramidt @jpkrohling - A humble request, kindly include documentation on how clients (exporters) can pass in authentication credentials (tokens, client credentials etc) as well along with the excellent content from @jpkrohling medium article which is deals with receiver side.

As of today, I believe exporters can only authenticate by directly embedding tokens in headers.  [OAuth2 client credential

[2021-02-26 19:24] #2501 closed

[2021-02-26 19:25] pavankrish123 commented on #2501
#2464 is in draft - this item is not valid till it is merged,

[2021-02-26 19:39] pavankrish123 commented on #2500
Hi @jpkrohling couple of things

 - As for the proposed OAuth2 client credentials workflow, grpc's OAuth library already has built in mechanism to do the token refresh - we do not have to do anything more other than enabling Oauth as the mechanism in grpc's per rpc auth configuration. The underneath grpc OAuth library handles the token refreshes.

 - As for the static token case,  going by comment

[2021-02-26 23:46] mirath opened #2565 "If you open an OTLP receiver in port 4317, another one is opened on port 55680"
https://github.com/open-telemetry/opentelemetry-collector/blob/e6319ac4c6fce274b8ba2d0e3b8e5eb0fd0d6142/receiver/otlpreceiver/otlp.go#L129

Currently if you open an OTLP receiver on port 4317, the code is wired to open an extra one in 55680.

I guess that this was meant as a legacy or backwards compatible feature, but it can trip setups that trying to use 55680 for other uses (it tripped me up whi

[2021-03-01 00:24] flands commented on #2262
@rakyll @pkositsyn please see the PR and let me know what you think

[2021-03-01 18:30] alanwest commented on #2539
@vmihailenco Ah interesting, I was under the impression that the collector already used system certificates by default. I guess this is not the case.

[2021-03-01 18:39] owais commented on #2554
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/65562

#### Test Failures
-  TestTrace1kSPSWithAttrs
-  TestTrace1kSPSWithAttrs/20*5000bytes

[2021-03-01 22:48] #433 closed

[2021-03-01 22:52] PettitWesley opened #2573 "Proposal: Intelligent Health Monitoring for the Collector"
Our goal is to make it easier to “observe the observers”

Currently the collector has a health extension: https://github.com/open-telemetry/opentelemetry-collector/tree/main/extension/healthcheckextension

However it is very rudimentary. We want to build a more sophisticated health extension that will emit a health status based on whether or not the collector is functioning properly and achieving

[2021-03-01 22:52] PettitWesley commented on #2573
CC @JohnWu20 who will be working on this with me

[2021-03-02 00:51] bogdandrutu commented on #2573
Couple of questions:
* Who is the consumer of this? Human or the machine?
* What would be the protocol to expose this? Would a health per component be enough?

[2021-03-02 00:59] PettitWesley commented on #2573
@bogdandrutu I'm thinking the consumer would be the same as the existing health check extension. As in, it can just be an http endpoint on the collector that returns 200 or not to show the status. Just that now the criteria for healthy is more sophisticated. You can use it for your container health check. And then the health status can be consumed by humans or machines.

I think the current health

[2021-03-02 01:10] bogdandrutu commented on #2573
What are the available input data for this conditions?

FYI: Trying to better understand what we need to build in order to figure out what code changes we need :)

[2021-03-02 01:36] PettitWesley commented on #2573
@bogdandrutu I don't know the core functionality of the collector... but the core of the code must track errors from each plugin?

I came to OT from Fluent Bit, it has an "engine" which manages the plugins and sends them data and tracks their success/error/retry status for processing that data. At least for processors/exporters that's how it works. For receivers I'm a bit fuzzy on how that works,

[2021-03-02 02:06] bogdandrutu commented on #2573
Yes I am thinking about something in these lines, expand `Component` interface to expose a `getHealth()` functionality which every component can implement.

We do have a "service" which manages the lifetime of all the "Components" so if every component exposes the health we can then make "Service" expose this smart health status.

But I am also thinking how a helper could be implemented to allow c

[2021-03-02 08:18] PettitWesley commented on #2573
@bogdandrutu I have added this on the agenda for the next collector SIG meeting.

That might be ideal to allow each component to implement its own logic for setting its health... but I think there is also a way to implement it that does not require any component to implement anything new.

Again I don't know the collector internals deeply enough, but I saw here: https://github.com/open-telemetry/o

[2021-03-02 09:24] jpkrohling commented on #2111
This seems to be happening again:

[code]

cc @kevinearls

[2021-03-02 09:28] jpkrohling commented on #2507
Mutual TLS is also possible.

[2021-03-02 14:43] glaenen commented on #2364
Thanks pointing me in the right direction.
Small correction, the mission permission is "nodes/metrics"

[2021-03-02 16:32] gramidt commented on #2507
Quick update, I've been sick the past few days and plan to catch back up on my open-source commitments later this week.

[2021-03-02 20:05] PettitWesley commented on #2573
Actually we'll probably have to discuss this at next week's Collector SIG, just realized I have a conflict tomorrow morning.

[2021-03-02 22:15] bogdandrutu commented on #2573
@PettitWesley for a rough idea, look into this packet https://github.com/open-telemetry/opentelemetry-collector/tree/main/obsreport we called this from every component.

[2021-03-02 22:26] #2482 closed

[2021-03-03 08:59] gillg opened #2588 "fluentforward: Log body empty with some input plugins, because too arbitrary rule in place in OTEL receiver"
**Describe the bug**
FluentForward protocol seems not have a "raw" log body.
It contains only attributes, but an attribute **can** be "message" by convention in some input plugins, and containing the raw log.
OTEL collector take this assumption during the collect : https://github.com/open-telemetry/opentelemetry-collector/blob/73db88faef0a99dfb3317227052fea5299d52ec5/receiver/fluentforwardreceiver

[2021-03-03 09:03] gillg commented on #2588
In OTEL specifications, does a log have any sense without body and with only attributes ?

[2021-03-03 15:33] jpkrohling commented on #2434
@bogdandrutu, @tigrannajaryan given the discussion about refraining from using OpenCensus instrumentation libraries in favor of OpenTelemetry's, should this item be postponed?

[2021-03-03 19:33] gillg opened #2594 "Any uppercase character in config file is forced to be lowercase."
**Describe the bug**

For an exporter (Loki), but this issue is more global, I would target an OTEL attribute named "EventType" to forward it as loki label.
To do that, I have to create a section in OTEL collector config file like:
[code]
The name "EventType" is validated by loki exporter regarding prometheus LabelName regex, everything is fine in theory.
But in fact it doesn't work, without any e

[2021-03-03 19:51] bogdandrutu commented on #2594
@gillg does using `"EventType"` in the config work for you? I think that is not a key from config perspective is a key in a map[string]Value

[2021-03-03 20:33] gillg commented on #2594
@bogdandrutu I'm not sure to understand your question ?
This issue is because `EventType` doesn't work as expected. I tried with double quotes arround (if it was your question ?) and it's the same result.

I have an OTEL Attribute with the exact key `EventType`, but I can't write config with YAML keys equals to it.
In fact the config is valid but forced to lower case when OTEL collector loads it.

[2021-03-03 20:38] bogdandrutu opened #2596 "Custom Unmarshaler should not accept `viper`"
Currently the custom unmarshaler accepts `viper`:

[code]

It would be good to not expose viper directly but an `interface{}` or `map[string]interface{}` in our public API, so if viper breaks compatibility or moves to viper v2 (which is already planned) we can upgrade without breaking compatibility.

[2021-03-03 20:41] bogdandrutu opened #2597 "Move custom unmarshaler to config instead of component factory"
Currently we have:

[code]

It would be good to move this to the current `configmodels` and have this as an optional interface for the components configuration:

[code]

[2021-03-03 22:26] bogdandrutu opened #2600 "Ensure semantic conventions are up to date"
We should build a tool or share a tool with opentelemetry-go for all semantic conventions.

/cc @MrAlias @punya

[2021-03-03 23:06] owais commented on #2554
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/66202

#### Test Failures
-  TestTraceNoBackend10kSPS
-  TestTraceNoBackend10kSPS/NoMemoryLimit

[2021-03-03 23:16] tigrannajaryan opened #2603 "Cleanup/refactor auth capabilities"
We currently have some support for authentication in the Collector
- Receivers can individually add support for incoming requests to be authenticated using request Context. configauth provides a helper for all gRPC receivers to use this.
- We have Authenticator interface and oidcAuthenticator implementation. This is extensible, but only in the Core repo. It is not possible to implement additional

[2021-03-03 23:16] tigrannajaryan commented on #2603
@jpkrohling please let me know what you think. Let's discuss.

[2021-03-04 15:21] jcchavezs commented on #2534
I can work on this.

[2021-03-04 17:33] bogdandrutu commented on #2534
@jcchavezs please wait couple of days until we publish a document about the syntax we want for this.

/cc @tigrannajaryan @pjanotti

[2021-03-05 04:25] Diddaa opened #2607 "Support port reuse when integrated as a library."
**Is your feature request related to a problem? Please describe.**
When integrate collector in an exist project, due to Security and maintenance requirements, we must reuse port used by extant project, e.g 9335.  But receiver always create new Listener, result in "address already in use" error. This problem is not same as #1256 .

**Describe the solution you'd like**
1. Add "muxListener net.Listen

[2021-03-05 09:44] dan-vectra opened #2608 "prometheusremotewrite exporter crashes collector with metrics names < 6 characters"
**Describe the bug**
When Collector uses prometheusremotewriteexporter, metric names longer than 6 characters cause it to crash

2021-03-03 09:30:54
panic: runtime error: slice bounds out of range [-1:]

2021-03-03 09:30:54
goroutine 97 [running]:

2021-03-03 09:30:54
go.opentelemetry.io/collector/exporter/prometheusremotewriteexporter.getPromMetricName(0xc0003df7c0, 0x0, 0x0, 0x6, 0x6)

Seems to

[2021-03-05 16:34] pmm-sumo commented on #2565
BTW, this was done intentionally as part of https://github.com/open-telemetry/opentelemetry-collector/pull/2104 for the transition period

[2021-03-05 18:39] #2508 closed

[2021-03-05 19:13] bogdandrutu commented on #2607
What receiver(s) are you trying to multiplex?

[2021-03-05 22:03] naseemkullah commented on #2364
@nilebox I see you've worked on the prometheus receiver logging, would you have any idea how to wait for the subsequent debug log (coming from prometheus server) and put its `err` field into `AddDataPoint`'s `warn` log?

[2021-03-05 23:37] seanhoughton commented on #2412
I'm also trying to work through this problem with the stackdriver exporter in the opentelemetry-collector-contrib version. I have a resource attribute which I would like to be transformed into a metric label without having to go through the code and set the label on every single usage of the instrument when it's already set up as an attribute.

I think the best place for this type of operation mig

[2021-03-06 03:21] Diddaa commented on #2607
otlp receiver

[2021-03-07 21:39] vishalsaugat commented on #1909
I am still facing this issue. Even after adding `nodes/metrics` in the ClusterRole.
[code]

[2021-03-07 23:40] nilebox commented on #2364
@naseemkullah in https://github.com/open-telemetry/opentelemetry-collector/blob/68871bdd7db82d0d495f886c558f8ea6005ef2d0/receiver/prometheusreceiver/internal/logger.go#L46, we get key-value pairs from go-kit (used by Prometheus) for each log message, which gets parsed and forwarded to zap logger.

You may change the code to catch specific errors there (e.g. based on known error message), and conve

[2021-03-08 07:37] pjanotti commented on #2469
Hi @gramidt, @jpkrohling, @alolita and @tigrannajaryan here is a [doc](https://docs.google.com/document/d/1QM_6r805_TDeawWEywU2suHrJfkZKabrwLBjE4C-adk/edit?usp=sharing) with a design based on some prototyping. I would love to get some quick feedback so we can make this available soon.

[2021-03-08 09:26] jpkrohling commented on #2500
Missed this part, so, wanted to clarify this point here in addition to #2508: Per RPC Auth is done for every RPC that happens during a connection. HTTP headers are sent only during the phase where the connection is being established. For short-lived HTTP requests, there isn't much difference, but HTTP/2 and gRPC use long-lived connections. For tokens that expire frequently (hourly, for instance),

[2021-03-08 14:03] jpkrohling commented on #2469
Thanks for the proposal, @pjanotti! I left a couple of comments there.

[2021-03-08 16:07] gramidt commented on #2469
Thank you for the proposal, @pjanotti! I have added it to my queue to review this afternoon.

[2021-03-08 17:41] #2608 closed

[2021-03-08 18:11] bogdandrutu commented on #2542
@punya can you document the decision based on the slack discussion?

[2021-03-08 19:41] #2477 closed

[2021-03-08 23:27] tigrannajaryan commented on #2544
@bogdandrutu FYI, I updated the list.

[2021-03-09 00:49] bogdandrutu commented on #2544
@tigrannajaryan thanks. For the config, can we aim only for config and configmodels and not the others?

[2021-03-09 05:06] alolita commented on #2460
@bwplotka Thanks for this proposal! I'd like to understand more details. Will reach out to you with my questions. Hope to see you join the Prometheus workgroup!

[2021-03-09 08:37] jpkrohling commented on #2542
From my side, I can confirm that it is indeed possible to build a distribution with the builder even when multiple components are part of the same module. No changes are required to the builder to support that.

[2021-03-09 16:30] jrcamp opened #2635 "hostmetricsreceiver metadata.yaml missing label entries"
Metrics that are emitted with labels should be declared, see for example:
https://github.com/open-telemetry/opentelemetry-collector/blob/3e5d49e6fab26eeac3d49fc53bfb9c4db60c7600/receiver/hostmetricsreceiver/metadata.yaml#L139

However metrics like `system.filesystem.usage` are missing labels entries even though the labels are described in the labels section.

[2021-03-09 20:10] bogdandrutu opened #2638 "Review permanent/partial error APIs"
Also to look for how components like memory limiter signal memory pressure "temporary error".

[2021-03-09 20:19] jpkrohling commented on #2603
This is the trickiest so far. The idea with having authenticators as extensions was a good one, but the configauth isn't a component, so, it can't see the available extensions. Ideas?

I believe we have this today already, at least for gRPC. The authenticator package provides helper functions with interceptors for gRPC, but other transports/consumers can just use the `#Authenticate(context.Context

[2021-03-09 20:42] bogdandrutu commented on #2544
@tigrannajaryan and @bogdandrutu updated the list of components we will focus on in the Phase 1. @alolita @jpkrohling can you take a look as well?

[2021-03-09 21:24] pavankrish123 commented on #2500
Thanks @jpkrohling ! This clears a lot for me.

[2021-03-09 23:09] bogdandrutu opened #2639 "Rename `ProcessorObsReport` to just `Processor` since obsreport is the package name"

[2021-03-09 23:10] bogdandrutu opened #2640 "Change `NewProcessorObsReport` to accept `Settings/Params` instead of direct arguments"

[2021-03-09 23:17] bogdandrutu opened #2641 "Avoid exposing publicly constants in `obsreport_exporter.go`"

[2021-03-09 23:18] bogdandrutu opened #2642 "Rename `ExporterObsReport` to just `Exporter` since obsreport is the package name"

[2021-03-09 23:19] bogdandrutu opened #2643 "Change `NewExporterObsReport` to accept `Settings/Params` instead of direct arguments"

[2021-03-09 23:29] bogdandrutu commented on #2542
Thanks a lot @punya I will open two other issues to start discussing what receivers/processors/exporters to keep in core.

[2021-03-09 23:29] #2542 closed

[2021-03-09 23:33] owais opened #2645 "Bug report for failed CircleCI build (job: loadtest)"
Auto-generated report for `loadtest` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/67187

#### Test Failures
-  TestTraceNoBackend10kSPS
-  TestTraceNoBackend10kSPS/MemoryLimit

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-03-09 23:38] bogdandrutu opened #2646 "Define the list of components (receivers, exporters, processors, extensions) to support in core"
Based on the decision made in https://github.com/open-telemetry/opentelemetry-collector/issues/2542 we will not have multiple go-modules in core, and we should be very careful with the binary size as well as the dependencies that we bring to core.

Components that are now in core and we decide to remove them will be moved in contrib (where we have to have a "support level" defined, and these compo

[2021-03-09 23:57] bogdandrutu opened #2648 "Avoid exposing public APIs that uses opencensus in obsreport and obsreporttest"
We should not expose any public API that uses opencensus since we are planning to switch to OpenTelemetry

[2021-03-10 00:09] bogdandrutu opened #2649 "Change obsreport helpers for receiver to use the same pattern as Processor/Exporter"
* Define a struct and helpers similar with `ProcessorObsReport` (it will be renamed to just `Processor`)

[2021-03-10 00:16] #2554 closed

[2021-03-10 00:16] bogdandrutu commented on #2600
@MrAlias @punya so to understand there is no such thing :)) Maybe we should start talking about building this.

[2021-03-10 00:28] MrAlias commented on #2600
Sure, I'm onboard. What does this entail? Should we schedule a meeting, or can it be done asynchronously here?

[2021-03-10 00:31] MrAlias commented on #2600
Currently we use the hand-crafted [`semconv`](https://github.com/open-telemetry/opentelemetry-go/tree/main/semconv) package to contain all the semantic conventions. There are some curated comments in there that help relate the semantic conventions to OTel Go implementation concepts. It would be ideal if the thing we build could preserve these types of comments.

[2021-03-10 00:39] bogdandrutu opened #2650 "Standardize on params vs settings vs options"
In few places for constructors we use "Params" (in the components), some "Parameters" (in the Service) or "Settings" in the components helpers like exporterhelper.

We need to decide on a name a pattern: expose a struct with these properties or expose "Options" and use variadic args.

Consolidate all interfaces to follow the same pattern.

[2021-03-10 00:43] bogdandrutu commented on #2594
@tigrannajaryan this probably needs to be consider as part of our phase1, to ensure that if we cannot use Viper because of these problems we do not expose it in our public APIs.

[2021-03-10 00:49] bogdandrutu commented on #2361
@alexvanboxel closing this since we are using a much newer version `github.com/prometheus/prometheus v1.8.2-0.20210217141258-a6be548dbc17` - even if it says 1.8.2 it is because prometheus does not follow golang conventions and they did not move to `/v2` when they bumped to version 2, but as you can see the tag is from Feb 17, 2021

[2021-03-10 01:02] bogdandrutu opened #2651 "Investigate if we can avoid exposing Viper in our public APIs (maybe helper for Viper if really needed)"
As we identified Viper has a lot of issues like https://github.com/open-telemetry/opentelemetry-collector/issues/2594 or funcs that we copied and changed to avoid bugs in the library.

There are multiple options including declaring our own "ConfigParser" interface backed by Viper implementation.

[2021-03-10 05:24] amirulalif opened #2654 "Unknown exporters type "splunk_hec" Splunk HEC"
**Describe the bug**
Unknown exporters type for "splunk_hec" Splunk HEC.

**Steps to reproduce**
[code]

**What did you see instead?**
[code]
[code]
[code]

**What version did you use?**
0.22 `otel-collector_0.22.0_amd64.deb`
0.20 `otel-collector_0.20.0_amd64.deb`
0.19 `otel-collector_0.19.0_amd64.deb`

**What config did you use?**
[code]

**Environment**
OS: Ubuntu 18.04.5 LTS

**Additional conte

[2021-03-10 10:50] ctolon22 opened #2656 "Push metrics to OTLP HTTP receiver with curl and forward to Prometheus Remote Write"
**Describe the bug**
Hi.

I have a configuration with 3 different receivers: otlp/http, hostmetrics/cpu and prometheus scraping `localhost:8888`. I want to send these metrics to another Prometheus with remote write so I have configured an exporter to `prometheusremotewrite`

I am pushing metrics to OTLP HTTP endpoint using JSON like explained [here](https://github.com/open-telemetry/opentelemetry-

[2021-03-10 16:03] #2642 closed

[2021-03-10 16:03] #2639 closed

[2021-03-10 17:13] punya commented on #2600
There are some existing tools that process the semconv yaml files: https://github.com/open-telemetry/build-tools/blob/main/semantic-conventions/README.md. It looks like they are already being used for Java codegen. @bogdandrutu were you thinking about extending that tooling with a new Jinja template, or building something else?

[2021-03-10 17:18] jrcamp commented on #2656
@alolita

[2021-03-10 17:29] jrcamp commented on #2536
@rmfitzpatrick do we still need this?

[2021-03-10 17:33] jrcamp commented on #2534
Will be addressed by #2469 with general default syntax.

[2021-03-10 17:37] jrcamp commented on #2465
Please reopen if not addressed by previous comment.

[2021-03-10 17:41] jrcamp commented on #2458
@alolita

[2021-03-10 18:57] djaglowski opened #2660 "Generator receiver"
**Is your feature request related to a problem? Please describe.**

Users of the collector will sometimes wish to generating signals. This functionality may be useful for:
- validation / troubleshooting of processors and exporters
- load testing
- long run testing
- demonstrations

**Describe the solution you'd like**

A "generator" receiver, which provides a simple mechanism to generate signals,

[2021-03-10 19:58] sankala-dremio opened #2661 "PrometheusReceiver ignores Summary and Histogram Metrics that do not have _sum counter."
**Describe the bug**
Summary and Histogram metrics exposed by frameworks like DropWizard do not track "_sum" counter and hence do not produce this in the output. When Prometheus receiver is run against such outputs, the histograms and Summaries are just ignored.

**Steps to reproduce**
A Simple Dropward application with a histogram metric and otelcollector with prometheus receiver.

**What did you

[2021-03-10 20:59] bogdandrutu opened #2664 "Transform ComponentDocs into a "command""
Right now this is a test in `componenttest`, but it will be good to have this as a binary that we can run as standalone and limit the public API we expose.

This binary can take as flags the arguments needed in the current API.

[2021-03-11 03:29] yeya24 commented on #2556
This is the same problem as https://github.com/open-telemetry/opentelemetry-collector/issues/1077.

The workaround is to replace `${1}` to `$${1}`.

[2021-03-11 08:37] jpkrohling commented on #2646
I miss the receivers and exporters for interop with other open-source protocols and formats, such as Jaeger and Zipkin. Leaving my Jaeger-maintainer hat aside for the moment, I believe that we should aim to receive data in formats that are currently the standard, like the aforementioned. Without them, people will be "forced" to use a downstream distribution in an environment where distributed trac

[2021-03-11 08:39] jpkrohling commented on #2546
What's custom tracing here? Tracing of internal otelcol components?

[2021-03-11 10:48] jpkrohling commented on #2544
Not sure I see why `obsreport` should be in phase 1. Does it mean it's going to be changed to use OpenTelemetry instead of OpenCensus before the phase 1 is completed? Funcs like the one below wouldn't be needed after this migration, from what I understand:

https://github.com/open-telemetry/opentelemetry-collector/blob/892fe4febba181239b6bd0a66323c423f66a0558/obsreport/obsreport.go#L87

How about

[2021-03-11 12:01] naseemkullah commented on #2650
How about `Config` ? That is the term used by Zap: https://github.com/uber-go/zap/blob/89e382035d3a984a01e6c9c8be5462f11efac844/config.go#L58

[2021-03-11 12:31] jpkrohling commented on #2603
Can we setup an ad-hoc call to discuss this one? Everyone is invited but would be useful to have at least @tigrannajaryan and me on the call. I suggest next Wednesday, Mar 17 right before the SIG Collector call.

cc @gramidt, @pavankrish123

[2021-03-11 15:18] pkositsyn opened #2670 "Add SO_REUSEPORT socket option to net config."
**Is your feature request related to a problem? Please describe.**
Whether the deployment is done via orchestrator like Kubernetes or not, the collector redeployment process includes old deployment socket shutdown and initialization of a new socket. In order to lose less incoming data it would be helpful to have an ability to bind server sockets to the same address and eventually accept all reques

[2021-03-11 15:26] tigrannajaryan commented on #2588
Yes, it does. Body is an optional field: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/logs/data-model.md#field-body

Would this be the same information that is recorded in the attributes or different? It can be useful if you show an example of what you expect to see in the final log record.

[2021-03-11 15:58] terev commented on #2498
Just ran into this issue as well :+1:

[2021-03-11 16:08] pkositsyn commented on #2607
I might be wrong, but SO_REUSEPORT solves the issue - https://github.com/open-telemetry/opentelemetry-collector/issues/2670

It allows many sockets on the same port. But the first socket on the port must also use this option, so it is necessary for external application to use this option as well

[2021-03-11 16:31] pkositsyn commented on #2670
Note that this socket option is completely orthogonal to this issue https://github.com/open-telemetry/opentelemetry-collector/issues/1256

[2021-03-11 18:28] joe-elliott commented on #2646
I am in agreement that including other open source protocols available in the core collector has value.  I'm assuming that it has some, but minimal impact on the final binary size?

One of the reasons I regularly point people to use the collector as a tool is b/c of its advanced interoperability with all common tracing OS protocols out of the box.  This will still technically be possible but will

[2021-03-11 19:28] vishalsaugat commented on #2556
Thanks @yeya24 . Was stuck since 2 days on this issue :).

[2021-03-11 20:46] tigrannajaryan commented on #2594
Yeah, this is pretty bad and has been a problem with Viper for a very long time now. I agree @bogdandrutu we probably need to hide it as an implementation detail so that we can fix it ourselves without breaking components.

[2021-03-11 20:48] tigrannajaryan commented on #2651
Short term
- Hide Viper in our API.

Some Long-term Options:
- Fork viper and make it case sensitive
- Wait for viper to have this fix (likely not an option given how long this has been known issue)
- Use a different YAML library

[2021-03-11 21:56] bogdandrutu commented on #2650
@naseemkullah thanks for the suggestion, we use `Settings` the most, and probably to limit the amount of breaking changes we should stick with that.

Maybe we can look how many times we use each of them and make a decision. `Config` also has a problem because in our project `Config` is the file yaml config that we use to configure the entire service, and may be confusing for users.

[2021-03-11 22:00] bogdandrutu commented on #2646
@joe-elliott @jpkrohling we need to ensure that we make a difference between build (binaries we produce and put in different registries) and modules/packages.

We will definitely have official builds for:
1. light otel collector (only OTLP and File support)
2. Standard otel collector (support for all open-source standards jaeger, zipink, prometheus)
3. All contrib packages

The biggest problem on

[2021-03-11 22:02] bogdandrutu commented on #2646
@jpkrohling as mentioned in the issue the Jaeger will be tier 1 support in OpenTelemetry and was not a burden in general, but I want to limit the code that we ship as "core". We can discuss if we want to keep Jaeger directly in this repo or as a tier 1 supported thing in contrib, or even a different repository for tier1 supported components.

[2021-03-11 22:05] bogdandrutu opened #2674 "Move fluentbitextension to contrib and remove from core after"

[2021-03-11 22:07] bogdandrutu opened #2675 "Move fluentforwardreceiver to contrib and remove from core after"

[2021-03-11 22:09] bogdandrutu commented on #2544
@jpkrohling up for this, I will remove from phase 1 and move all issues to phase 2.

[2021-03-11 22:12] bogdandrutu opened #2676 "[Tracking Issue][Document/Agree on] all packages/modules that will be marked as stable during second stability phase."
Phase 2 [more things MAY be added]:
- [ ] - client
- [ ] - config/configcheck
- [ ] - config/configerror
- [ ] - config/configrpc
- [ ] - config/confighttp
- [ ] - config/confignet
- [ ] - config/configtelemetry
- [ ] - config/configtest
- [ ] - config/configtls
- [ ] - obsreport
- [ ] - obsreport/obsreporttest
- [ ] - service
- [ ] - service/defaultcomponents
- [ ] - translator/
- [ ] - exporter

[2021-03-11 22:12] bogdandrutu commented on #2544
Closing this issue and open tracking issue for all of these.

[2021-03-11 22:12] #2544 closed

[2021-03-11 22:13] bogdandrutu opened #2677 "[Tracking issue] for all the packages that needs to be stabilized during Phase 1"
Tracking progress (mark done) when packages are ready for stability:

- [x] - component (only traces) - #3049
- [x] - component/componenterror
- [x] - component/componenthelper
- [x] - component/componenttest
- [x] - config - #3051
- [x] - consumer (only traces) - #3050
- [x] - consumer/consumererror
- [x] - consumer/consumerhelper
- [x] - consumer/consumertest
- [x] - consumer/pdata (only traces)

[2021-03-11 22:15] bogdandrutu commented on #2546
Yes. I think this is part of obsreport stabilizing so I will close this at this moment.

[2021-03-11 22:15] #2546 closed

[2021-03-11 22:18] bogdandrutu commented on #2651
@tigrannajaryan we also have the problem with delimiters because we want to support "." in our keys and some of the methods in viper are not updated to use the new delimiter they added, and bunch of other issues.

[2021-03-11 22:21] alolita commented on #2664
@bogdandrutu can you please assign @mxiamxia to this issue - I don't have rights to assign. Thanks!

[2021-03-11 22:26] alolita commented on #2541
@bogdandrutu can you please assign @mxiamxia to this issue. I don't have rights to assign.

When the Collector is initialized, there is already basic configuration validation. Can you provide more detail on what else needs to be added for verification?

[2021-03-11 22:32] alolita commented on #2488
@bogdandrutu can you assign @Aneurysm9 to this issue?

[2021-03-11 22:41] bogdandrutu opened #2678 "Move ProcessorCapabilities to Consumer"
The current `ProcessorCapabilities` as defined is a property of any consumer and not only for Processors. Exporters may also mutate data (even though we did not allow that), for example we may provide helper consumers that can be appended in front of an exporter (e.g. what the Timeout helper that we have now in exporter helper better to implement the consumer interface, or resource to telemetry).

[2021-03-11 22:44] bogdandrutu commented on #2541
Few things here:
1. @mxiamxia is not part of opentelemetry org which you should fix :)
2. I am talking about adding this func to the `configmodels.[Receiver|Exporter|Processor|Extension]` so components can provide custom verification logic for their own config.

[2021-03-11 22:46] bogdandrutu commented on #2664
@mxiamxia before you apply to become member of the org can you comment something on this issue so I can assign to you?

[2021-03-11 23:11] yeya24 commented on #2533
I can take this one.

[2021-03-11 23:14] eroteme opened #4313 "Improve `go mod download` retry to test for transient failures"
A basic retry for the `go mod download` exec has been added but this could be improved by trying to capture if the download is a transient error and if it should retry.

[2021-03-11 23:51] tigrannajaryan commented on #2646
Really Prometheus size is huge. We are just trying to come up with reasonable rules without arbitrarily choosing components and one idea Bogdan and I had was that only OTLP as the truly native format lives in the core and the rest go to contrib. Not a strong opinion, I am also happy to consider keeping some more components in the core, especially given that we have willing maintainers for those co

[2021-03-12 00:00] mxiamxia commented on #2664
Thanks @bogdandrutu, sent the member request - https://github.com/open-telemetry/community/issues/677

[2021-03-12 02:03] tigrannajaryan commented on #2603
@jpkrohling can you please send a Doodle for a few different days/times?

[2021-03-12 08:21] iror00 commented on #2498
Me too

[2021-03-12 09:42] jpkrohling commented on #2646
Indeed, I mixed up both.

Prometheus is part of the metrics part, which isn't a concern for GA, as I understand. Perhaps impact on the binary size could be a criterion for inclusion in the main distribution?

Would you have anything against if we hosted the Jaeger components in a repository under the jaegertracing organization instead of contrib?

[2021-03-12 09:48] jpkrohling commented on #2603
Sure: https://doodle.com/poll/rigv7yn2trd5csb4?utm_source=poll&utm_medium=link

[2021-03-12 16:35] mx-psi commented on #2596
I would be happy to work on a PR for fixing this and #2597 next week. Could I be assigned this?

[2021-03-12 19:56] pingleig commented on #575
The error comes from https://github.com/open-telemetry/opentelemetry-collector/blob/b13bc9d94b4ce597c450310804e0d7ffe3cabb04/receiver/prometheusreceiver/internal/metadata.go#L42-L42

The problem is the `TargetsAll` in prometheus scrape manager get its keys from the static prometheus scrape config. It has no way to know the job label within each scraped target, which can be set in the following way

[2021-03-13 08:42] seankhliao commented on #2545
As part of golang/go#26420 the Go team is experimenting with [gorelease](https://pkg.go.dev/golang.org/x/exp/cmd/gorelease) and the related [apidiff](https://pkg.go.dev/golang.org/x/exp/cmd/apidiff)

[2021-03-13 16:43] pkositsyn commented on #2670
Let me demonstrate how it works

Firstly, change example config in `example/local/otel-config.yaml`:
[code]

Current behaviour:
[code]

Behaviour with my example PR (works for unix systems):
% make otelcol
...
% ./bin/otelcol_darwin_amd64 --metrics-level=none --config=examples/local/otel-config.yaml &
...
2021-03-13T19:14:12.175+0300	info	service/service.go:267	Everything is ready. Begin running a

[2021-03-14 21:07] samariei opened #2700 "prometheusexporter error: failed to convert metric latency: "service.name" is not a valid label name for metric"
**Describe the bug**
Hi,

I assume something is broken in v0.22 between [prometheusexporter](https://github.com/open-telemetry/opentelemetry-collector/tree/release/v0.22.x/exporter/prometheusexporter) and [spanmetricsprocessor](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/spanmetricsprocessor).  Also, I saw that `prometheusexporter` was reimplemented recent

[2021-03-14 21:22] PettitWesley opened #2701 "Support Multiple Config Files/An import statement"
### Feature Request: Configuration can be split into multiple files

It'd be ideal if the collector could work off of a set of configuration files rather than a single one. There are probably two basic ways to accomplish this:
1. Continue to support a single config file but allow it to import other others. This is the same as how your main script might import other code. You have an import stateme

[2021-03-15 02:46] mxiamxia commented on #2664
#2703

[2021-03-15 04:27] mxiamxia commented on #2664
Convert `CheckDocs` from `componenttest` to the standalone command tool and remove the checks from unit test in service module to minimize the exposed API.
- [x] Convert `CheckDocs` to binary command tool in Core repository, add it in `workflow` check and remove related check from unit test
- [ ] Import `CheckDocs` tool in Contrib repository, add it in `workflow` check and remove related check fro

[2021-03-15 05:38] seanhoughton commented on #2412
I have a working PR that performs this function (linked above). The config looks like this:

[code]

[2021-03-15 08:27] jpkrohling opened #2704 "Run gendependabot on CI"
**Is your feature request related to a problem? Please describe.**
As seen in #2686, the dependabot configuration gets out of sync from time to time. It would then be beneficial to run the command in the CI and fail the build in case it reports changes.

**Describe the solution you'd like**
A new GitHub workflow running this make target, failing when changes were made by the script. Something like

[2021-03-15 10:39] gillg commented on #2588
Hello,

If the body is optional, in my opinion we have no reasons to force it at the input side.
As a fluentbit log can be fully structured, only attributes have a sens...
In fact, the arbitrary exception of attributes "message" and "log" are confusing.

In the case of a fully structured log it's complicated to choose what is a body and what is an attribute. For exemple, a windows event log on flu

[2021-03-15 10:43] gillg commented on #2588
Erratum:

Maybe, only the body could be used, even for a structured log, but as JSON representation ?

[2021-03-15 14:08] jpkrohling commented on #2670
That's a cool trick, I had no idea this was possible at all. This will be useful for the external configuration sources feature: https://docs.google.com/document/d/1jUfWCUgvXaWelZ81Ot2yprFWHyjdjMxvm75IdhCyaY8/edit#

cc @pjanotti

[2021-03-15 15:06] DanTulovsky opened #2705 "Prometheus receiver crashes on startup"
**Describe the bug**
otle-collector crashes on startup

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.

**What did you expect to see?**
No crash on startup :)

**What did you see instead?**
[code]

**What version did you use?**
Version: v0.19.0

**What config did you use?**
Config:
[code]

**Environment**
OS: (e.g., "Ubuntu 20.04")
Compiler(if manually compiled): G

[2021-03-15 15:15] owais opened #2706 "Bug report for failed CircleCI build (job: correctness)"
Auto-generated report for `correctness` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/68332

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-03-15 15:41] bogdandrutu commented on #2701
/cc @pjanotti

I think the proposed "config source" will address this.

[2021-03-16 08:16] jpkrohling commented on #2603
@tigrannajaryan Are you available on any of the proposed slots?

[2021-03-16 09:48] pkositsyn commented on #2646
I think it is a big decision to let or not to let contrib components be maintained in other places. Maybe create a separate issue for discussion?

[2021-03-16 12:24] fld-opensource opened #2708 "collector SIGSEGV"
**Describe the bug**
Using the nginx receiver, where nginx is not present, we dereference invalid pointer.

**Steps to reproduce**
$> opentelemetry-collector-builder --config the_following_yaml

**What did you expect to see?**
Not a crash :)

**What did you see instead?**

2021-03-16T13:01:28.110+0100    INFO    service/service.go:267  Everything is ready. Begin running and processing data.
panic:

[2021-03-16 15:06] tigrannajaryan commented on #1674
@bogdandrutu what's the intent here? I am not sure I understand the description.

[2021-03-16 15:09] tigrannajaryan commented on #2635
@asuresh4 is this resolved?

[2021-03-16 15:15] tigrannajaryan commented on #2539
otlp exporter is not an http exporter. The endpoint is not supposed to be a URL, it is a hostname:port.

[2021-03-16 15:33] tigrannajaryan commented on #2603
Submitted my availability.

[2021-03-16 17:27] jrcamp commented on #2498
@alolita I think this is probably a pretty high priority Prometheus issue if somebody can take a look at it, number of people have been running into it and results in a lot of missing metadata.

[2021-03-16 17:47] yeya24 commented on #2705
This is a configuration problem.
You need to add `scrape_configs:` in your prometheus config section.

[code]

[2021-03-16 18:12] owais opened #2710 "Bug report for failed CircleCI build (job: loadtest)"
Auto-generated report for `loadtest` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/68460

#### Test Failures
-  TestTraceNoBackend10kSPS
-  TestTraceNoBackend10kSPS/MemoryLimit

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-03-16 18:47] DanTulovsky commented on #2705
oh.. duh, sorry.  But perhaps the binary shouldn't crash on an invalid config? Or does it do that on purpose?

[2021-03-16 20:02] bogdandrutu commented on #2708
@iror00 please open a PR :), I would not avoid calling the obsreport func, but fix calculation of the len, and pass 0 when error happend that did not produce any metric.

[2021-03-16 21:01] asuresh4 commented on #2635
Yes, this has been addressed via #2662

[2021-03-16 21:19] iNikem opened #2715 "Build and publish Docker container for Windows"
**Is your feature request related to a problem? Please describe.**
open-telemetry/opentelemetry-java-instrumentation wants to run a bench of smoke tests on Windows platform as well. We extensively use testcontainers and Docker images as part of our testing setup. Currently GitHub actions do not allow running Linux Docker images on Windows Server environment.

**Describe the solution you'd like**
T

[2021-03-16 21:35] fletcm opened #2717 "update required go version to build in CONTRIBUTING.md"
**Describe the bug**
The bug is that CONTRIBUTING.md lists the required version of golang to build the project as 1.14, however `make lint` fails with this version.

**Steps to reproduce**
set your local go version to 1.14
`make lint` fails (output below)
set your local go version to 1.16
`make lint` now works

**What did you expect to see?**
Expected it to succeed.

**What did you see instead?**

[2021-03-16 21:57] paulosman commented on #2675
If nobody is working on this, I'm happy to grab it.

[2021-03-17 00:40] Aneurysm9 commented on #2545
We have a need for similar capability in the Go SDK, so I can take this on.

[2021-03-17 00:54] wankai123 commented on #2556
Yes, that works. Thanks @yeya24

[2021-03-17 00:54] #2556 closed

[2021-03-17 01:00] #2717 closed

[2021-03-17 01:00] bogdandrutu commented on #2717
I think this is done since I merged that PR. Please reopen if that is not the case

[2021-03-17 01:01] bogdandrutu commented on #2715
Do you want to run the windows msi image there instead of docker?

[2021-03-17 13:11] iNikem commented on #2715
I don't :) For now it is easier for me to build my own docker images for Windows that are good enough for our test infra. I prefer to have the same test setup both for Linux and Windows and prefer not to run msi from Java test class.

[2021-03-17 13:17] tigrannajaryan commented on #2603
@jpkrohling are we having the meeting today?

[2021-03-17 13:31] tigrannajaryan commented on #2603
@jpkrohling actually, let's discuss in Collector SIG, something came up unexpectedly that I need to attend.

[2021-03-17 14:33] jpkrohling commented on #2603
Sorry, left the meeting details in Slack only, and was about to post it here when I saw your request to discuss it as part of SIG Collector later today .

[2021-03-17 14:33] evkuzin commented on #2674
As far as I can see nobody is working on this one. I'll take a look then

[2021-03-17 15:14] gramidt commented on #2603
I currently have an overlap in meetings this morning, but this discussion is very important to me, so I'll try to end the other meeting as early as possible.

[2021-03-17 17:28] tigrannajaryan commented on #2603
@jpkrohling OK, so to recap, you will give it another try to add factory-based approach for authenticators and if you can't see a good way let me and Bogdan know to see if we can help (I'd try to define an InitializableConfig interface, and we probe for the interface and call InitConfig on it during LoadConfig). The second part is adding auth info to ResourceX so that it is passed through the pipe

[2021-03-17 17:43] tigrannajaryan commented on #2603
This https://github.com/open-telemetry/opentelemetry-collector/blob/main/client/client.go is somewhat related to what we do with auth. It helps extract the incoming request's IP address and uses it to identify the sender in components like K8s tagger. The question is if this needs to be a separate concept like it is now or our new auth approach can handle this use case too?

[2021-03-17 17:44] bogdandrutu commented on #2705
It does that on purpose, we are working to add a `dry-run` flag just to validate config soon.

[2021-03-17 17:59] paulosman commented on #2674
@evkuzin just FYI, I'm working on something adjacent: https://github.com/open-telemetry/opentelemetry-collector/issues/2675 Looks like `fluentbitextension` may have a dependency on `fluentforwardreceiver`. I don't think the PRs will overlap, but I wanted to give you a heads up just in case :)

[2021-03-17 18:28] mx-psi commented on #2597
@bogdandrutu Would this mean removing `WithCustomUnmarshaler` from the `(receiver/exporter/...)helper`s?

Keeping it would mean that the factory config would be different from the `CreateDefaultConfig` config:

[code]

I don't think we want that (makes things clumsy to test and it is a bit unexpected). We can move the custom unmarshaler to the config struct from each component instead, maybe creat

[2021-03-17 20:34] weyert commented on #2498
I think this problem is a common problem, because when I am using the Javascript SDK and its PrometheusExporter pass a resource to the MeterProvider and then also pass to the meter. The resource labels get lost too

[2021-03-17 22:27] owais opened #2725 "Bug report for failed CircleCI build (job: test)"
Auto-generated report for `test` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/68887

#### Test Failures
-  TestGRPCReceptionWithTLS

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-03-18 02:19] #2700 closed

[2021-03-18 16:15] bogdandrutu commented on #2597
The way I was thinking:

// In configmodels
[code]

// In confighelper, this way only configs that need the custom unmarshaler will use this.
// Reason to have options is because https://github.com/open-telemetry/opentelemetry-collector/issues/2541 needs to add also a Verify to the config.
[code]

But we can also add the `ConfigUnmarshaler` to all the configs and force them to use the helper, and

[2021-03-18 16:33] #2664 closed

[2021-03-18 17:34] seanhoughton commented on #2498
I believe the intended solution is to implemented the `resource_to_telemetry_conversion` config flag in the prometheus exporter which is how other projects have solved this problem for exporters that don't have a distinction between resource attributes and metric labels.

I had a quick look at the code and it looks a bit more challenging to implement because prometheus exporter exposes metrics on

[2021-03-18 22:12] alolita commented on #2476
@Aneurysm9 will review the Godoc: https://pkg.go.dev/go.opentelemetry.io/collector@v0.22.0/consumer/consumererror and make recommendations.

[2021-03-18 22:19] alolita commented on #2541
@mxiamxia See https://github.com/open-telemetry/opentelemetry-collector/issues/2597 too.

[2021-03-18 22:26] alolita commented on #2638
Review APIs and Go-Docs and outline gaps/differences.

[2021-03-18 22:36] alolita commented on #2678
@Aneurysm9 will evaluate and do a sanity check.

[2021-03-18 22:42] alolita commented on #2600
@rakyll are you looking at this - can you share your doc / thoughts here?

[2021-03-18 23:17] tonglil commented on #170
Hello, can I ask if anyone has tested or gotten an OpenCensus instrumented application using the `ocagent` exporter to send to a OpenTelemetry collector configured with the OpenCensus receiver, using mTLS (mutual TLS)?

My poc works when the `ocagent` is set to insecure, as the collector logs the traces.

However when TLS credentials are set on both sides, the `ocagent` seems to hang on connecting

[2021-03-19 03:10] tonglil commented on #2507
I'm exploring mTLS (mutual TLS) and seemed unable to use it with the OpenCensus receiver.
The receiver seems unable to receive any data when mTLS is configured.

Has anyone else given this a try?

[2021-03-19 08:12] jpkrohling commented on #2507
I thought I had an e2e test for this in a downstream distribution, but looks like I'm not using mTLS there. I can give it a try and report back.

[2021-03-19 08:14] jpkrohling opened #2732 "Verify whether mTLS works"
@tonglil commented on #2507 that mutual TLS might not be working at the moment. This task is to give it a try and document the outcome.

[2021-03-19 08:54] tonglil commented on #2732
Thanks for creating this tracking issue.

Seems like an issue with the mux matcher for gRPC.
When I comment out the HTTP matcher and change grpc to match on any, my code finally works:

[code]

I tried specifying the `ocagent.WithHeaders` but it didn't seem to work.

This is my sample code:
[code]

[2021-03-19 09:05] jpkrohling commented on #2732
You are absolutely right, this was indeed mentioned as part of #1256. Mutual TLS isn't possible at all when cmux is being used.

@tigrannajaryan, @bogdandrutu, I believe we need to revert the change that unified gRPC and HTTP ports before GA. It's easier to unify it again in the future than to split them after GA, in terms of backward compatibility.

[2021-03-19 09:08] jpkrohling commented on #2732
I'm closing this, as @tonglil has verified that this does NOT work at the moment. This is being tracked via #1256 already.

[2021-03-19 09:12] tonglil commented on #2732
Gotcha, this is an unfortunate finding.
Should I PR a note to https://github.com/open-telemetry/opentelemetry-collector/blob/main/config/configtls/README.md to mention this so no one else spends a day trying to figure it out?

Also, I'm all for the multiple-port solution, it's easier to understand.

This bit of code in `startServer` was quite confusing because initially https://github.com/open-tel

[2021-03-19 09:15] jpkrohling commented on #2732
Documenting this would be wonderful, thanks!

[2021-03-19 09:21] jpkrohling opened #2733 "Auth data as part of the resource"
Based on the discussion around #2603, we agreed to attempt to add authentication data to the ResourceX functions, so that they can be accessed in downstream components, such as processors and exporters.

[2021-03-19 09:24] jpkrohling opened #2734 "Propagate auth data to downstream services"
Based on the discussion around #2603, we agreed to attempt to propagate auth data to downstream services when a "passthrough'' option is defined in the auth configuration.

Status of this feature:

- [x] the server authenticators are adding the incoming auth information to the context
- [x] other components in the pipeline, starting with the receiver, have access to this information via the client

[2021-03-19 09:26] jpkrohling commented on #2603
Alright, I created two new issues as an outcome of our discussion. We have then the following issues to work on, which should address all the points discussed here:

- [ ] #2101 - Custom authenticator logic
- [ ] #2733 - Auth data as part of the resource
- [ ] #2734 - Propagate auth data to downstream services

Please, review the labels on those, especially regarding the criticality.

[2021-03-19 09:29] tonglil commented on #2732
I will say, this did work:
https://github.com/soheilhy/cmux/issues/60

Switch from:
https://github.com/open-telemetry/opentelemetry-collector/blob/8050a880c7151f8d62d7c4648509896b89d8b41f/receiver/opencensusreceiver/opencensus.go#L252-L257

To:
[code]

Not sure if it is an acceptable solution, but would help me get things up and running.

[2021-03-19 09:33] tonglil commented on #2732
I will say, this worked: https://github.com/soheilhy/cmux/issues/60

Switch from:
https://github.com/open-telemetry/opentelemetry-collector/blob/8050a880c7151f8d62d7c4648509896b89d8b41f/receiver/opencensusreceiver/opencensus.go#L252-L257

To:
[code]

Not sure if it is an acceptable solution, but would help me get things up and running.

[2021-03-19 09:35] jpkrohling commented on #2733
@jcchavezs volunteered for this one.

[2021-03-19 09:37] jpkrohling commented on #2734
This needs #2733.

[2021-03-19 14:03] mx-psi opened #2735 "Remove config.ToCustomUnmarshaler"
#2728 introduces `config.ToCustomUnmarshaler` as a wrapper for existing Viper unmarshalers. We should come up with a plan to remove this before GA.

[2021-03-19 16:12] tigrannajaryan commented on #2732
I think reverting or not reverting can be decided when #1256 is done (or rejected because it cannot be done). It is already part of the GA milestone.

[2021-03-19 16:51] bogdandrutu opened #2738 "TestDefaultComponents does not pass on github actions"
[code]

[2021-03-19 17:37] #2640 closed

[2021-03-19 17:49] tonglil commented on #1256
I'm coming to this as a new user, just to add to add a few points for using split ports:

Users need to know more than one port number, but it's kind of the nature of a collector w/ multiple receivers. It wasn't hard to configure multiple ports, but know that the difficulty in tracking these numbers is because:

1. the defaults are not documented (or docs use legacy ports)
2. the defaults are not

[2021-03-19 23:48] rakyll commented on #2600
There is a spec change related to this: https://github.com/open-telemetry/opentelemetry-specification/pull/1515

[2021-03-22 11:16] kisieland opened #2754 "BatchProcessor limit data point rather than metrics"
**Is your feature request related to a problem? Please describe.**
Google Cloud Exporter communicate with an API that has a hard limit on number of data points sent in one request.
Introducing a Batch Processor before it can lead to situations in which the number of sent metrics is smaller than the limit but, the number of data points is above the limit, effectively dropping some of the data.

**D

[2021-03-22 11:17] kisieland commented on #2754
@dashpole PTAL

[2021-03-22 13:36] dashpole commented on #2754
https://github.com/open-telemetry/opentelemetry-collector/issues/1139 seems similar, and proposes limiting by the number of bytes.  The only thing i'm worried about is that the config field only applies to metrics, but the processor can be used by traces and logs (in the future) as well.

[2021-03-22 14:26] kisieland commented on #2754
WDYT about `count_data_points` field that would also include traces and count spans?

[2021-03-22 14:41] dashpole commented on #2754
That makes sense, except we are [already counting spans](https://github.com/open-telemetry/opentelemetry-collector/blob/main/processor/batchprocessor/batch_processor.go#L158) for the existing limit.  So it makes some sense, but is the same as the existing behavior.

[2021-03-22 15:11] kisieland commented on #2754
So, I guess we should stuck to original idea with: `count_metric_data_points` field

[2021-03-22 15:15] dashpole commented on #2754
@dyladan @bogdandrutu The only other option I can think of would be to change the current limit to use the number of points instead of the number of metrics.  Was there a particular reason you chose to limit the number of metrics instead of the number of metric points?  At first glance, it seems like limiting the number of points would be a more effective way to limit the metric payload than limit

[2021-03-22 17:51] ekund opened #2756 "Error messages reported to the Windows Event Viewer are getting truncated"
**Describe the bug**
When starting up the collector on Windows, there is an error message due to not being able to get hostmetrics for some pids.  The text of the error message is cut off so it is difficult to figure out what the actual problem is.

**Steps to reproduce**
Can be reproduced using a GCP Windows instance of windows-server-2019-dc-v20210112 image.
And installed using the GCP ops-agent

[2021-03-22 18:40] ekund opened #2758 "Error messages for hostmetrics from pseudo-processes or restricted processes should not give WARN errors"
**Describe the bug**
On Windows, some processes that are either pseudo-processes, like pid 0, the System Idle process, or restricted processes, like pid 4, the System process, should not give WARN messages when the hostmetrics are being scraped.
Right now, when scraping hostmetrics, there is an error like this:

[code]

**Steps to reproduce**
Can be reproduced using a GCP Windows instance of windo

[2021-03-22 21:03] Aneurysm9 opened #2759 "Ensure consistent pattern with functions referencing multiple signals"
_Originally posted by @bogdandrutu in https://github.com/open-telemetry/opentelemetry-collector/pull/2742#discussion_r599005930_

Review the codebase and ensure a consistent pattern is used with functions/initializers that have multiple variants to handle multiple signal types.  We should consistently have the signal identifier at the end of the name, such as `PartialTraces` and `PartialMetrics` a

[2021-03-22 21:17] tigrannajaryan commented on #2651
@bogdandrutu I have been playing with https://github.com/go-yaml/yaml and it seems to work nicely. I am not sure if there is anything that we need from Viper that is not handled by https://github.com/go-yaml/yaml

The unfortunate part is that likely we need to change all "mapstructure" tags to "yaml" (unless there is a way to change https://github.com/go-yaml/yaml to use "mapstructure" instead).

[2021-03-22 21:58] bogdandrutu commented on #2759
It may be a bit too late for this change, we should look into it because this pattern is used for `consumer.TracesConsumer` as well as for `component.TracesExporter`.

The consumer can be probably rename to `consumer.Traces` and the component to `component.ExporterTraces` but we need to be confident that this is what we want. I actually like `consumer.Traces`

[2021-03-22 22:00] dmitryax commented on #1910
Hi @ibawt , do you still plan to resume your work on this? Otherwise can take it over

[2021-03-22 22:51] bogdandrutu commented on #2758
/cc @james-bebbington assigning to you since you are the expert

[2021-03-22 22:52] bogdandrutu commented on #2756
/cc @james-bebbington assigning to you since you are the expert

[2021-03-22 23:22] pjanotti commented on #2738
This happened at the `Start` of the first instance of `pprofextension` with the default config. Because of the port in question, this may be due to the same extension having "leaked" from another test. That said this test can be more resilient to ports not available by using the test helper - I will open a PR for it.

[2021-03-22 23:33] ibawt commented on #1910
not doing anything related to this anymore cheers.  My old company has a version of it running production for a while now but it's so trivial there's no point to code sharing.

[2021-03-22 23:41] dmitryax commented on #1910
Thanks @ibawt! I'll work on this issue then

[2021-03-22 23:47] pjanotti opened #2764 "Health check extension `config should use Endpoint instead of Port"
**Describe the bug**
Unlike the other extensions, the health check extension is using `Port` instead of `Endpoint`.

[2021-03-22 23:58] #2738 closed

[2021-03-23 02:46] gunturaf commented on #2641
@bogdandrutu so the constants here
https://github.com/open-telemetry/opentelemetry-collector/blob/c7e9b68f84bbe5ed9082f8d62c4b54c56dc3397a/obsreport/obsreport_exporter.go#L27-L45
should be changed to private?

[2021-03-23 11:32] pmm-sumo opened #2766 "confighttp.go should support more encoding/compressions"
**Is your feature request related to a problem? Please describe.**
Similarly as [#2548](https://github.com/open-telemetry/opentelemetry-collector/issues/2548), we would like to enable more compression capabilities for HTTP-based exporters

**Describe the solution you'd like**
Perhaps [PR #2614](https://github.com/open-telemetry/opentelemetry-collector/pull/2614) could be used as a base for this so

[2021-03-23 13:07] gramidt commented on #2336
@djaglowski - Are you still interested in working on this? I remember reading this when you first submitted it, but it wasn't until a few days ago I needed it.

See:

https://cloud-native.slack.com/archives/C01N6P7KR6W/p1616472939047100

https://cloud-native.slack.com/archives/C01N6P7KR6W/p1616473342050300

I'll be immediately creating a more naive implementation to solve my immediate use case (cu

[2021-03-23 16:20] djaglowski commented on #2336
@gramidt Unfortunately, I don't have enough capacity to take this on in the near future.

If you want to take it, I'm happy to be involved in review, design discussions, etc.

[2021-03-23 17:04] gramidt commented on #2336
Thank you for the prompt response, @djaglowski! No worries at all.

Based on our products, I feel this would be a much needed enabler. I'm going to review this with some other teams to gather some additional interest in helping and determine potential timelines when resources would be available.

[2021-03-24 04:35] sitaramshelke opened #2781 "Fix TODOs in Design doc"
**Describe the bug**
[Design  doc](https://github.com/open-telemetry/opentelemetry-collector/blob/main/docs/design.md) has some TODOs which needs to be fixed. Most of the images need to reflect the text description.

**Steps to reproduce**
-

**What did you expect to see?**
Updated images matching the text documentation.

**What did you see instead?**
Mismatch in the text and the related image.

*

[2021-03-24 04:35] sitaramshelke commented on #2781
I'll work on this.

[2021-03-24 11:19] jpkrohling opened #2783 "Document how to migrate from example components"
**Describe the bug**
The version 0.22.0 included a package that was useful for component developers to write tests:
https://github.com/jaegertracing/jaeger/blob/3dd44b9c32be13e2be4f07f3c2a41165d2288c5b/v2/storage/memory/config_test.go#L30-L48

The PR #2666 moved them to an internal package, without replacement and without mentions in the changelog. Please, provide either a migration path or reinst

[2021-03-24 11:46] iNikem opened #2784 "Latest release does not have all assets"
[Previous release](https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.22.0) has pre-built binaries for various platforms. [Latest release](https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.23.0) does not have any binaries. Is it expected?

[2021-03-24 13:36] pavankrish123 commented on #2734
@jpkrohling. I am not sure if this fits into the story but we need exporters (at least the one using config gRPC and config http clients) to support multiple ways of authentication.

- token based approach, where a static  token is slapped into Authorization headers while making a request. There is support for this approach already in our collector for both gRPC and HTTP clients.

- client credent

[2021-03-24 14:01] pavankrish123 opened #2785 "[OTLPHTTP Exporter] Enable OAuth2 client credentials way of auth in otlp http exporter"
**Is your feature request related to a problem? Please describe.**

HTTP clients from confighttp module needs to support client credentials (OAuth2) way of handling auth. (exporters).

**Describe the solution you'd like**

Currently tokens can be slapped into Authorization header but OAuth2 way takes in client credentials to contact auth server and fetch token and refresh  them as needed.  Clients

[2021-03-24 14:06] pavankrish123 commented on #2785
Pr #2464 implements this.

[2021-03-24 16:02] bogdandrutu commented on #2784
Fixed, the build failed for loadtest. now it is good.

[2021-03-24 16:02] #2784 closed

[2021-03-24 16:34] owais commented on #2725
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/70384

#### Test Failures
-  TestDefaultExtensions
-  TestDefaultExtensions/pprof
-  TestDefaultExtensions/zpages

[2021-03-24 16:42] Aneurysm9 commented on #2476
Fixed in #2768

[2021-03-24 16:44] dashpole commented on #2754
Notes from the meeting:

* We can go ahead and change from number of metrics to number of data points, as data points makes more sense.
* Since the name isn't specific to metrics vs data points, we can change the behavior of the field to limit the number of data points.
* This is mostly backwards-compatible, since the number of data points is at least the number of metrics.  So this change could r

[2021-03-24 18:24] bogdandrutu opened #2787 "Avoid duplicating With[Start|Shutdown] in exporterhelper"
Rather than needing to duplicate every `componenthelper.Option` here, might it be better to have something like this:

[code]

[2021-03-24 18:25] bogdandrutu opened #2788 "Avoid duplicating With[Start|Shutdown] in processorhelper"
Rather than needing to duplicate every `componenthelper.Option` here, might it be better to have something like this:

[code]

[2021-03-24 18:25] bogdandrutu commented on #2788
See https://github.com/open-telemetry/opentelemetry-collector/pull/2778#discussion_r600067388

[2021-03-24 18:25] bogdandrutu commented on #2787
See https://github.com/open-telemetry/opentelemetry-collector/pull/2778#discussion_r600067388

[2021-03-24 18:27] bogdandrutu opened #2789 "Enable all disabled checks options in golangci-lint, see #2786"
In #2786 we started to enable some of the disabled checks in golangci-lint, but not all of them are enabled because of the amount of work required.

This is a tracking issue to ensure all are enabled.

[2021-03-24 19:21] #2643 closed

[2021-03-24 19:23] #2706 closed

[2021-03-24 19:47] owais opened #2792 "Bug report for failed CircleCI build (job: loadtest)"
Auto-generated report for `loadtest` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/70552

#### Test Failures
-  TestTraceNoBackend10kSPS
-  TestTraceNoBackend10kSPS/MemoryLimit

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-03-24 20:25] #2783 closed

[2021-03-24 20:30] owais commented on #2792
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/70583

#### Test Failures
-  TestMetricsFromFile

[2021-03-24 20:58] Aneurysm9 commented on #2545
I was able to use `apidiff` to generate an API snapshot from the `v0.23.0` release and then compare against the current HEAD and it appears to correctly identify changes:

[code]

This is currently operating on all packages in the `go.opentelemetry.io/collector` module.  `apidiff` appears to not allow specifying a package version at runtime and must be in the directory containing `go.mod` for the

[2021-03-24 22:15] #2476 closed

[2021-03-25 14:01] yeya24 commented on #2533
I think this issue was fixed by #2680 already

[2021-03-25 15:41] owais opened #2800 "Bug report for failed CircleCI build (job: test)"
Auto-generated report for `test` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/70855

#### Test Failures
-  TestDefaultExtensions
-  TestDefaultExtensions/pprof
-  TestDefaultExtensions/zpages

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this iss

[2021-03-25 18:13] mxiamxia commented on #2597
@bogdandrutu @mx-psi , I sent draft PR and added the following 2 interfaces. Each Config should implement `CustomConfigOptions` and do configuration `cfg.validate()` in `config.Load`.
The Collector will be failed for the following when starting
* Config structure doesn't implement `CustomConfigOptions` interface
* Component `validate` failed in `config.Load`

[code]

Sorry, I didn't follow the dis

[2021-03-25 19:07] jrcamp opened #2805 "Need receiverhelper to create resource object for convention-defined attributes"
**Describe the bug**
Most protocols don't have a separate notion of resource attributes vs. record attributes. For example in the splunkhec{receiver,exporter} it doesn't use resource attributes at all but puts host, etc. into the log attributes. This means that if you use something like the resourcedetection processor it updates the resource attributes but the splunkhecreceiver may have put host.n

[2021-03-25 19:21] jrcamp commented on #2805
Does prometheus have same issue?

[2021-03-25 22:45] PettitWesley commented on #2701
@pjanotti Can you give details on this config source thing?

[2021-03-26 07:14] knadh commented on #2651
@tigrannajaryan just stumbled upon this thread. koanf is a lightweight wrapper into which YAML plugs in. Handy when you'd want to merge config from other sources like command line flags.

You don't have to replace "mapstructure" with a different tag either:

`k.UnmarshalWithConf("key_to_unmarshal", &structToUnmarshal, koanf.UnmarshalConf{Tag: "mapstructure"})`

[2021-03-26 08:38] WPH95 opened #2814 "CI Check-links actions always failed"
**Describe the bug**
We used check-links github actions to check markdown file links.
but some pr don't change markdown file, still failed check-links test

**Steps to reproduce**
open-telemetry/opentelemetry-collector/runs/2197873668
open-telemetry/opentelemetry-collector#2633 (checks)

[2021-03-26 10:37] mx-psi commented on #2789
If this is up for grabs I can do some work on this, remaining work that I can see seems to be

- [ ] go vet `fieldalignment` check
- [ ] `errcheck`?
- [ ] EXC0002
- [ ] EXC0007

[2021-03-26 11:55] mx-psi commented on #2597
I left some comments on your PR; I think your `ConfigValidator` interface should be optional; only components that need to do custom validation should implement the interface (the same thing should happen with unmarshaler).

I think the helper would still be useful when making the interface optional

[2021-03-26 14:46] tigrannajaryan commented on #2651
Thanks @knadh, that's good to know. koanf is already on our list of libraries to check out.

[2021-03-26 15:18] bogdandrutu commented on #2789
In terms of priority I would start exactly in the opposite order that you listed :)

[2021-03-26 15:20] bogdandrutu commented on #2764
@dstdfx what is left on this is to make all other extensions use the helper net address

[2021-03-26 15:22] dstdfx commented on #2764
Wilco

[2021-03-26 15:24] #2814 closed

[2021-03-26 16:44] bogdandrutu opened #2817 "Add instructions on how to update images in "CONTRIBUTION.md""
/cc sitaramshelke

https://github.com/open-telemetry/opentelemetry-collector/pull/2801#issuecomment-807898781

[2021-03-26 17:03] punya commented on #2594
Can we work around this type of problem by agreeing to use a list of {key, value} items for cases where we need key case preserved rather than normalized according to Viper's rules. i.e.,
[code]
As a variation on this idea, we could use a config format that is more explicit about the mapping operation
[code]

[2021-03-26 17:04] punya commented on #2594
If we find a way to stop Viper from normalizing case, we should be cautious about how we roll it out, because people may already by relying on the existing behavior (knowingly or unknowingly).

[2021-03-26 17:07] akirn opened #2818 "Prometheusreceiver throws SIGSEGV in MetricsAdjuster"
**Describe the bug**
Prometheusreceiver segfaults and forces a restart of the Collector when `initial.GetSummaryValue().Count.GetValue()` returns nil.

**Steps to reproduce**
I'm not sure of the exact steps to reproduce the issue, other than having `initial.GetSummaryValue().Count.GetValue()` return nil.

**What did you expect to see?**
A graceful recovery (drop the current metric) without a force

[2021-03-26 17:12] bogdandrutu commented on #2805
@jrcamp not sure what a helper will do, every protocol has their own way to represent "record attributes". Maybe we can have a helper that accepts a function to retrieve and delete (possibly) "record attributes". But then I would ask what else is in the helper?

[2021-03-26 17:26] bogdandrutu opened #2819 "Track @mx-psi interest and contributions for approver"
Hi @mx-psi,

This is a tracking issue to know if you are interested and have time to become approver for the collector repository. If yes please confirm here, and we should track contributions here to ensure when requirements are met we add you to the approver list.

[2021-03-26 17:26] bogdandrutu opened #2820 "Track @Aneurysm9 interest and contributions for approver"
Hi @Aneurysm9,

This is a tracking issue to know if you are interested and have time to become approver for the collector repository. If yes please confirm here, and we should track contributions here to ensure when requirements are met we add you to the approver list.

[2021-03-26 17:47] #2735 closed

[2021-03-26 18:05] mx-psi commented on #2819
Hi,

Yes, I am interested! So far, in terms of PRs to the `opentelemetry-collector` repo I did #2296 and #2378 some time ago and recently I have done #2728. I will start referencing this issue on the PRs I open on this repo.

[2021-03-26 18:15] Aneurysm9 commented on #2820
I do have interest in, and time to, become an approver for the collector repository.  I'll start making notes of contributions on this issue.

[2021-03-26 19:06] alolita commented on #2540
@bogdandrutu please assign to @dhruv-vora thx

[2021-03-26 19:09] bogdandrutu commented on #2540
I need @dhruv-vora to comment on this PR since they are not a member of the org

[2021-03-26 19:27] dhruv-vora commented on #2540
Can you assign this issue to me?

[2021-03-26 20:05] owais commented on #2800
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/71703

#### Test Failures
-  TestDefaultReceivers
-  TestDefaultReceivers/jaeger

[2021-03-26 20:06] alolita commented on #2820
Thank you @bogdandrutu

[2021-03-26 20:14] punya commented on #2787
I tried to make this change, but saw that it saves a little bit of verbosity in the core in exchange for a lot of verbosity (and a module import) for every single processor. I would personally recommend leaving these convenience wrappers as-is.

[2021-03-26 22:59] dmitryax opened #2827 "Health check extension with default configuration doesn't work in k8s environment anymore"
**Describe the bug**
After this change https://github.com/open-telemetry/opentelemetry-collector/pull/2782, the default endpoint for health check listener got changes from `:13133` to `localhost:13133`. This listener endpoint doesn't work by default in environments like kubernetes where health check requests are coming from the outside.

**Steps to reproduce**
Run the latest build in k8s environme

[2021-03-28 04:44] #2827 closed

[2021-03-28 04:49] owais commented on #2800
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/71915

#### Test Failures
-  TestDefaultReceivers
-  TestDefaultReceivers/jaeger

[2021-03-28 11:39] ozoz03 opened #2830 "Attributesprocessor does not delete `process.command_line` tag"
**Describe the bug**
Unable to delete `process.command_line` tag on Collector which contains sensitive data.

**Steps to reproduce**
[code]

**What did you expect to see?**
The tag should not be visible.

**What did you see instead?**
[code]

**What version did you use?**
Version: (`v0.23.0`)

[2021-03-29 01:34] pkositsyn commented on #2248
Feel free to reopen my PR when problem becomes actual for someone else

[2021-03-29 02:38] jcleal opened #2831 "How would I go about getting internal traces for a collector itself?"
My team and I are looking to monitor some collectors we have running for a project, and was wondering how to pull the internal traces to send "somewhere" (eg. could be Jaeger, could be AWS X-Ray, etc).

I'm thinking that I'd need to instrument a collector with an SDK to forward the traces to somewhere, but I noticed there are some traces returned from the [zpages extension](https://github.com/open

[2021-03-29 17:15] owais commented on #2800
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/72122

#### Test Failures
-  TestDefaultReceivers
-  TestDefaultReceivers/jaeger

[2021-03-29 19:26] #2638 closed

[2021-03-29 19:26] bogdandrutu commented on #2638
Done during consumererror package review.

[2021-03-29 20:49] rakyll commented on #2661
cc @odeke-em

[2021-03-29 23:14] trask opened #2843 "Update the attributes processor example to reflect its comment"
**Description:**
The comment and the `value` below don't match.

The comment looks more correct (based on it being `match_type: regexp`), but [it looks like the tests depend on the `value`](https://github.com/open-telemetry/opentelemetry-collector/pull/2702#issuecomment-804415172).

https://github.com/open-telemetry/opentelemetry-collector/blob/2dbc66cfc1588208506b2799678b889dd4d888d0/processor/at

[2021-03-30 14:03] keitwb opened #2850 "Jaeger Receiver Should Honor TLS Settings"
The jaeger receiver accepts `tls_settings` under the thrift http server config but  does not honor it.  It seems to always create a plain HTTP listener per https://github.com/open-telemetry/opentelemetry-collector/blob/main/receiver/jaegerreceiver/trace_receiver.go#L467.

The config used is like the following:

[code]

Expected behavior is that a TLS-backed HTTP server is created that uses the con

[2021-03-30 15:08] vishiy opened #2851 "Prometheus receiver - Telemetry"
**Describe the solution you'd like**
I would be great for the prometheus receiver to publish the below metrics-
* number of scrape targets
* Scrape duration for targets
* Number of datapoints scrapped per target

[2021-03-30 15:09] bogdandrutu commented on #2851
What is a "target" -> "host:port"?

[2021-03-30 15:22] vishiy commented on #2851
yeah. More like __address__

[2021-03-30 15:24] vishiy opened #2852 "Cumulative Counters - Prometheus receiver- Magnitude of the metrics is lost"
In using prometheus receiver, i see prometheus counters are being re-calculated from the first data point, which loses the actual value/magnitude of the metric. Is there a way to pass on the initial value in the pipeline so that it can be added back before ingesting to backends like prometheus ?

Also tracking this on proto - https://github.com/open-telemetry/opentelemetry-proto/issues/289

[2021-03-30 15:28] vishiy commented on #2851
This would be very useful for us to iterate and test scale for the receiver per release/drop. Currently i use logs to test scale and its not ideal. This will also be useful in deciding whether to shard or not.

[2021-03-30 20:01] jpkrohling commented on #2850
How urgent is it? I'm on PTO until Apr 5, and might be able to work on this only after that.

[2021-03-30 20:03] jpkrohling commented on #2850
This sounds like a good first issue. If we have a volunteer for this one, I will gladly review the PR even during my PTO.

[2021-03-30 20:43] jpkrohling commented on #2734
@tigrannajaryan mentioned that we need a "passthrough" mode, where we propagate a specific header from the receiver to the exporter. This would require #2733.

[2021-03-30 21:29] golthitarun opened #2859 "Prometheus receiver not working when `prometheus.io/port` added to annotations"
**Describe the bug**
When I try to add 'prometheus.io/port' to pod annotations, collector with Prometheus receiver and Kubernetes pod scrape config, fails to scrape metrics from that pod. Debug loglevel is not showing any clear error messages, if I remove `prometheus.io/port` it's able to collect metrics.

log msg:
```2021-03-31T15:39:19.088Z	warn	internal/metricsbuilder.go:104	Failed to scrape Pr

[2021-03-31 01:22] pavankrish123 commented on #2734
Thanks @jpkrohling

[2021-03-31 05:58] shilicqupt commented on #2851
prometheus internal metric can be all export will better

[2021-03-31 07:34] dstdfx commented on #2850
@jpkrohling I can take this one

[2021-03-31 16:03] tigrannajaryan commented on #2701
See https://github.com/open-telemetry/opentelemetry-collector/pull/2857 for config source proposal.

[2021-03-31 16:24] PettitWesley commented on #2701
Notes from SIG meeting:
- Joe Lynch says google will work on this soon because they need it too.
- Its important that config merging is deterministic
- Bogdan says that we can add a config source based on code like here: https://github.com/open-telemetry/opentelemetry-collector/pull/2868
- Bogdan and Joe thinks that overrides are important
- error are hard- getting the config errors to tell you wh

[2021-03-31 17:50] bogdandrutu commented on #2830
I think that is a resource not an attribute on the Span. So give a try to the "resource" processor which should do what you expect. Config is very similar to the attributes processor.

[2021-03-31 17:53] bogdandrutu commented on #2830
I know the current design of processors is very confusing, so I am sorry about that, we will fix things in the near future.

[2021-03-31 20:24] alolita commented on #2646
@bogdandrutu based on our triage discussion, can you move this issue to the phase 2 list. Thanks!

[2021-03-31 22:01] sirianni opened #2871 "Traces received by OpenCensus reciever do not have any spans"
**Describe the bug**
Traces received by OpenCensus reciever do not have any spans.

**Steps to reproduce**
Ran [OpenCensus helloworld example](https://github.com/census-instrumentation/opencensus-go/blob/master/examples/helloworld/main.go) modified to include `ocagent` exporter

[code]

Ran OpenTelemetry collector with `opencensus` receiver and `logging` exporter:

**What did you expect to see?**

[2021-04-01 00:25] sirianni commented on #2871
It turns out I was not registering the OCAgent exporter correctly.

`ocagent.Exporter.Start()` does not register the exporter with the global `trace`.  It does send the `Node` which is why I saw the `Resource` showing up in the collector.

Adding this line of code to my example fixed it:
[code]

[2021-04-01 00:25] #2871 closed

[2021-04-01 01:09] odeke-em opened #2874 "exporter/prometheusremotewriteexporter: missing HTTP body close in PrwExporter.execute"
PrwExporter.execute makes HTTP requests and drains the responses, but unfortunately it doesn't ever close the body per
https://github.com/open-telemetry/opentelemetry-collector/blob/2df27c0808665195e262f24b5959b1f9fb1f0ecb/exporter/prometheusremotewriteexporter/exporter.go#L323-L344

and we need to ensure that the bodies are closed. Go's static analysis tools currently lack this check unfortunatel

[2021-04-01 01:42] #2874 closed

[2021-04-01 10:38] newly12 opened #2876 "Allow configuring tracer/sampling rate for collector's own observability"
**Is your feature request related to a problem? Please describe.**
As attached in the screenshot, while benchmarking collector with a sample pipeline, from `filelog` receiver -> `logging` exporter, observable CPU are used by starting/ending spans.

**Describe the solution you'd like**
in this case I would say user should be able to set the `ProbabilitySampler`(which seems to be the default sampler

[2021-04-01 18:31] bogdandrutu commented on #2830
Already answered and resolved in the java. The problem here was indeed the wrong processor used

[2021-04-01 18:31] #2830 closed

[2021-04-01 18:32] bogdandrutu commented on #2764
This is resolved.

[2021-04-01 18:32] #2764 closed

[2021-04-01 18:37] owais commented on #2800
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/73178

#### Test Failures
-  TestApplication_StartAsGoRoutine

[2021-04-01 21:15] bogdandrutu opened #2879 "Determine the need/Implement support for span link's attributes to be propagated in Jaeger"

[2021-04-02 10:17] gillg commented on #2363
In fact the receiver doesn't drop `job` and `instance` but it not appends them to metrics in the scapping process.
The use case can make sense because you can use the prometheus exporter and the final prometheus server will add them at the end (with less granularity).

In my use case, I would at least expose the job, to avoid metrics conflicts (for example go_memstats_alloc_bytes is common to almo

[2021-04-02 10:19] gillg commented on #2363
For information, the native job adding is done here : https://github.com/prometheus/prometheus/blob/df80dc4d3970121f2f76cba79050983ffb3cdbb0/scrape/target.go#L328

[2021-04-02 11:16] mx-psi opened #2883 "Flaky `TestQueuedRetry_StopWhileWaiting`"
I got a flaky error on `TestQueuedRetry_StopWhileWaiting`:
[code]

The job log is available [here](https://github.com/open-telemetry/opentelemetry-collector/pull/2867/checks?check_run_id=2252506384).

It is possibly related to #2858, cc @dmitryax

[2021-04-02 15:09] rmfitzpatrick opened #2884 "Jaeger thrift receiver requires parentID to be set"
**Describe the bug**
The otel-java jaeger thrift exporter doesn't currently set the parentId field on its destination span, but instead creates a child_of reference.  This will cause a link to be created by the Collector's jaeger thrift to pdata translator so that the resulting* reference is a "follows_from" on jaeger exporting.

**Steps to reproduce**
Send a trace from the otel-java-sdk w/ jaeger

[2021-04-02 17:21] humivo commented on #2641
Hey I can take on this issue as my first one.  So all this entails is to make the constants listed above not public?

[2021-04-02 20:11] alolita commented on #2547
Hi @bogdandrutu can you please assign this issue to @dhruv-vora - thanks!

[2021-04-02 20:23] alanwest commented on #2539
@tigrannajaryan Hi, sorry for delay. I'm interested in learning a bit more regarding your comment [here](https://github.com/open-telemetry/opentelemetry-collector/pull/2601#issuecomment-791620428).

Specifically:

Regarding language implementations, I know that both Java and .NET both require a scheme even for OTLP/gRPC.

* [Java](https://github.com/open-telemetry/opentelemetry-java/blob/43f1ecf7e

[2021-04-02 20:37] humivo commented on #2641
@bogdandrutu @tigrannajaryan do you mind assigning this issue to me whenever you can!

[2021-04-02 22:10] dhruv-vora commented on #2547
Hi @bogdandrutu, could you elaborate which package this references to? There isn't a componenterror package present in the consumer

[2021-04-05 16:02] gramidt commented on #1234
What is the priority of this in relation to everything else? I'm trying to decide if it makes sense to finish implementing the multi-platform image build in CircleCI or continue to wait for the migration to GH Actions to be finished.

[2021-04-05 16:08] gramidt commented on #2469
@pjanotti - I apologize for the delay. Our team overall loved the proposal. It went above what our expectation were and couldn't be more excited to see this take form. Let me know if you need anything at all.

[2021-04-05 19:10] gramidt commented on #2547
@dhruv-vora - I believe @bogdandrutu meant the following:

https://github.com/open-telemetry/opentelemetry-collector/commits/main/component/componenterror

https://github.com/open-telemetry/opentelemetry-collector/tree/main/consumer/consumererror

Bogdan is out on vacation, so he won't be able to confirm until he returns.

[2021-04-05 19:37] dhruv-vora commented on #2547
Thanks @gramidt for this, I thought this too.

There was another issue for the consumererror package, that has already been closed [Review and improve consumererror package #2476](https://github.com/open-telemetry/opentelemetry-collector/issues/2476)

Also, the componenterror package contains only 1 file, so I am not sure what this references to

[2021-04-05 22:24] jrcamp commented on #2805
@bogdandrutu yes we will probably have to have some sort of generic interface that can be implemented since the record attributes will vary by protocol. The helper would group common runs of resource attributes. So for example let's say you had logs with log attributes that go:

host.id: i-1234
host.name: host-a

host.id: i-1234
host.name: host-a

host.id: i-7890
host.name: host-b

The output of t

[2021-04-06 01:56] odeke-em commented on #2656
Thank you for this report @ctolon22 and welcome to the OpenTelemetry project!

This has nothing to do with Prometheus or any other exporter because, unfortunately your JSON object doesn't match the format requested for the OTLP HTTP exporter to receive.
It looks to me like you serialized an OpenCensus Proto object and then sent it to the OTLP HTTP receiver instead of to the OpenCensus HTTP receive

[2021-04-06 06:50] odeke-em commented on #2661
Thank you for this report @sankala-dremio and welcome to the OpenTelemetry project!
Thank you for the tag @rakyll!

## Investigation
Using a DropWizard quickstart from Brian Brazil's repository I spun up https://github.com/odeke-em/bugs/tree/master/opentelemetry-collector/2661 which is a Java service using DropWizard and a Prometheus metrics scrape endpoint
To ensure that both Prometheus server an

[2021-04-06 07:07] ctolon22 commented on #2656
Hi @odeke-em thank you for the information.

I have tested the same metric with the OpenCensus HTTP receiver and it works perfectly.
This info is perfect if in the future I need to try again the OTLP HTTP receiver.
Regards

[2021-04-06 07:07] #2656 closed

[2021-04-06 07:32] odeke-em commented on #2661
The problem here is that the Prometheus exporter  doest NO support for the MetricDataTypeSummary type. Please help update this title accordingly @alolita to make it a feature request for `exporter/prometheusexporter: support translating MetricDataTypeSummary`

[2021-04-06 08:02] pmm-sumo commented on #2588
@gillg good point. The way I think about `attributes` vs `attributes in body` is following:
* it's bad to have two places where attributes are being put (how to tell which is used for which purpose?)
* keeping `attributes` as a field on the record level would be consistent with spans
* many log sources will have `raw`-like text on the input, from which specific attributes are being extracted

To m

[2021-04-06 08:04] pmm-sumo commented on #2588
I think one of the reasons to keep the attributes outside of the `body` is simplicity when dealing with processors. E.g. [attributesprocessor](https://github.com/open-telemetry/opentelemetry-collector/tree/main/processor/attributesprocessor) can be easily reused for logs, among others. This also streamlines the model for the users (due to similarities with span model)

[2021-04-06 09:02] odeke-em commented on #2656
Awesome, glad to be of help. Thank you for using OpenTelemetry and looking forward to more of your input and usage in the future! Cheers.

[2021-04-06 23:49] yeya24 commented on #2859
I think this is a configuration problem. Please check https://github.com/open-telemetry/opentelemetry-collector/blob/main/receiver/prometheusreceiver/README.md.
You need to escape all the `$` with `$$`.

[2021-04-06 23:58] William-Luo0 commented on #2506
@fletcm Has there been any additional movement on this?
I see that bogdandrutu suggested to use a timestamp of 0 instead of current time so that missing traces can be detected and resolved at the root source but that's the last I've seen on fixing this issue.

[2021-04-07 02:39] bjrara commented on #575
Prometheus receiver needs `job` and `instance` label to find the corresponding scraping target and the metric metadata from the cache. The metadata is used to build otel Metrics which would be passed through the pipeline.

### How to get the target?
Currently, there's no good way to get the correct target when receiving metrics from Prometheus. **The [Appender interface](https://github.com/prometh

[2021-04-07 14:36] krak3n commented on #2498
Just hit this as well, kinda makes the prometheus exporter useless until this gets fixed.

[2021-04-07 15:00] terev commented on #2498
Until this is fixed I've not been using resource labels and keep a slice of common resource labels. Then merge these with the list of labels for each metric observation.

[2021-04-07 15:21] krak3n commented on #2498
Yeah @terev I think I'll need to do the same as a temporary solution.

I've been looking around how the `exporthelper` and whether we can it to work with the prometheus exporter, might have a go at a PR but Im new to this code base and Open Telemetry in general but I'll have a go 🤞

[2021-04-07 15:46] fletcm commented on #2506
Apologies @William-Luo0 , I built an image for myself with my fix, which was what I needed, and lost track of this.  I'll address the comment and try to move it along and get the fix into main.  Thanks.

[2021-04-07 22:05] golthitarun commented on #2859
@yeya24 Thanks for the information, its working now.

[2021-04-07 22:05] #2859 closed

[2021-04-07 22:50] rakyll commented on #575
cc @odeke-em

[2021-04-07 22:52] rakyll commented on #575
We will automatically add job and instance labels, this is a known bug. Related to https://github.com/open-telemetry/wg-prometheus/issues/7.

[2021-04-08 02:05] bjrara commented on #575
I've submitted a fix for auto labeling. https://github.com/open-telemetry/opentelemetry-collector/pull/2897

[2021-04-08 12:02] heruv1m opened #2901 "gRPC balancing doesn't work with exporter"
I have configuration
`exporters:
  jaeger:
    endpoint: "ipv4:firstHost:14250,secondHost:14250"
    balancer_name: "round_robin"`

Collector produces error.
How I can configure collector to balance exporter for sending requests in different backends?

[2021-04-08 12:02] heruv1m opened #4179 "gRPC balancing doesn't work with exporter"
I have configuration as [documentation](https://github.com/grpc/grpc/blob/master/doc/naming.md) says
`exporters:
  jaeger:
    endpoint: "ipv4:firstHost:14250,secondHost:14250"
    balancer_name: "round_robin"`

Collector produces error.
How I can configure collector to balance exporter for sending requests in different backends?

[2021-04-08 14:01] bogdandrutu commented on #2884
@jpkrohling can you confirm this?

[2021-04-08 14:56] rmfitzpatrick commented on #2884
This was resolved in opentelemetry-java but for previous versions and in general the potential for this issue remains: https://github.com/open-telemetry/opentelemetry-java/commit/6286a31b6b93f92d32983db12c28dd1f6e8550cd

[2021-04-08 21:14] PettitWesley commented on #2573
todo: Need to check out the zpages extension, it has much of the data we need, may be this health check is an enhancement to it?

[2021-04-08 22:09] vishiy opened #2904 "prometheus receiver : external labels are not honored"
external lables specified in the global config are not flowing. Its hard to use re-labeling to add same label to every job.

[2021-04-09 19:17] owais opened #2905 "TestBatchProcessorSpansDeliveredEnforceBatchSize test fails intermittently"
Auto-generated report for `test` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/74115

#### Test Failures
-  TestApplication_updateService
-  TestApplication_updateService/retire_service_ok_load_ok

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this

[2021-04-10 06:35] odeke-em commented on #2364
I've mailed out a fix for it in https://github.com/open-telemetry/opentelemetry-collector/pull/2906

[2021-04-12 14:04] langecode commented on #2498
Isn't this the same with the `prometheusremotewriteexporter` which is also drops/ignores the OTEL attributes (actually there is a comment in the code [exporter.go](https://github.com/open-telemetry/opentelemetry-collector/blob/main/exporter/prometheusremotewriteexporter/exporter.go#L110))? Do you know if this is already being addressed (I see #2412 which may be about this)? Otherwise I'll create a

[2021-04-12 14:45] #2597 closed

[2021-04-12 14:51] owais commented on #2905
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/74231

#### Test Failures
-  TestBatchProcessorSpansDeliveredEnforceBatchSize

[2021-04-12 15:41] pmatyjasek-sumo opened #2910 "Add ability to pass config as an environment variable"
**Is your feature request related to a problem? Please describe.**
To make OpenTelemetry collector easier to deploy in environments like a ECS Fargate I would like to suggest to add possibility to pass configuration file as an environment variable. Similar to solution that is provided in AWS Otel Distro implementation.

**Describe the solution you'd like**
It can be upstream from AWS Otel Distro:

[2021-04-12 18:59] owais opened #2911 "Bug report for failed CircleCI build (job: loadtest)"
Auto-generated report for `loadtest` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/74316

#### Test Failures
-  TestTraceNoBackend10kSPS
-  TestTraceNoBackend10kSPS/MemoryLimit

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-04-13 07:15] rakyll commented on #2315
We produce remote write requests not in the choronological order:

first req ============> timeseries:<labels:<name:"__name__" value:"test_histogram0_count" > samples:<timestamp:1618297785608 > > timeseries:<labels:<name:"__name__" value:"test_histogram0_bucket" > labels:<name:"le" value:"0.1" > samples:<timestamp:1618297785608 > > timeseries:<labels:<name:"__name__" value:"test_summary0_count" >

[2021-04-13 07:25] rakyll commented on #2315
In the exporter, the internal type we use for the incoming metric data (map[string]*prompb.TimeSeries{}) is a map and shuffles the order of the data. Let's replace this with a slice, we need to preserve the order.

[2021-04-13 16:34] #2661 closed

[2021-04-13 17:38] bogdandrutu commented on #2596
This is done.

[2021-04-13 17:38] #2596 closed

[2021-04-13 18:57] owais commented on #2905
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/74653

#### Test Failures
-  TestAccumulateSummary
-  TestAccumulateSummary/Summary_with_single_point/WithTimestamp
-  TestAccumulateSummary/Summary_with_single_point

[2021-04-13 19:07] tigrannajaryan opened #2922 "TestAccumulateSummary is unstable"
Failed on CI: https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector/6474/workflows/3d38eaf7-5582-4f40-bc9c-1843ac47e0da/jobs/74653

[code]

[2021-04-13 19:08] tigrannajaryan commented on #2922
@odeke-em you added this test in https://github.com/open-telemetry/opentelemetry-collector/pull/2900. Can you please have a look and fix it?

[2021-04-13 19:11] odeke-em commented on #2922
@tigrannajaryan sure I can look at it. The odd thing is that the results are the same as shown by the diff, yet somehow it is failing. Is the CI running on some old version of Go? Please assign this to me.

[2021-04-13 19:27] owais commented on #2905
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/74750

#### Test Failures
-  TestDefaultReceivers
-  TestDefaultReceivers/jaeger

[2021-04-13 19:27] tigrannajaryan commented on #2922
According to https://github.com/open-telemetry/opentelemetry-collector/blob/main/.circleci/config.yml we run Go 1.15.

[2021-04-13 19:31] owais commented on #2905
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/74753

#### Test Failures
-  TestApplication_ReportError

[2021-04-13 19:47] odeke-em commented on #2922
@tigrannajaryan thanks! I've mailed out https://github.com/open-telemetry/opentelemetry-collector/pull/2924 for the fix.

[2021-04-13 20:11] #2922 closed

[2021-04-13 20:19] tigrannajaryan commented on #2922
@odeke-em thanks for quick fix!

[2021-04-13 20:49] odeke-em commented on #2922
Thank you @tigrannajaryan for the report!

[2021-04-14 06:29] marcdejonge opened #2928 "Prometheus receiver throws error on parsing metrics with multiple similar summary values"
**Describe the bug**
We're using micrometer with Ktor for our services and by default it creates a prometheus summary type output for each endpoint with several quantiles. Parsing this gives us the error: "given metricType has no BucketLabel or QuantileLabel" in the output.

**Steps to reproduce**
We have an output like this:

[code]

**What did you expect to see?**
I expected this to parse correc

[2021-04-14 06:48] marcdejonge commented on #2928
Adding this to the metricsbuilder_test.go, does throw the error:

[code]

This actually triggers the error, but I'm not good enough in go to debug and fix it.

[2021-04-14 10:40] pmatyjasek-sumo commented on #2650
Is someone working on this issue? If not I can do that

[2021-04-14 11:54] mx-psi commented on #2594
We can add an option when creating the new `config.Parser` struct to specify if one wants to load the configuration in a case-sensitive or case-insensitive way (keeping it case-insensitive as a default). I think that would work nicely.

We need however to settle on #2651 first and, if moving away from Viper, we may want to remove the custom unmarshaling fallback here first so that we can remove th

[2021-04-14 14:03] lonewolf3739 commented on #2649
I can pick this up.

[2021-04-14 15:03] tigrannajaryan commented on #2650
Thanks @pmatyjasek-sumo, assigned to you.

[2021-04-14 15:12] owais commented on #2905
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/74906

#### Test Failures
-  TestApplication_ReportError

[2021-04-14 15:48] mx-psi opened #2930 "Jaegerreceiver should validate ports sooner"
**Issue description**:

#2541 is adding a `Validate` method to configuration structs in which the configuration of a given component is validated. This will be useful for doing dry-runs where one only wants to validate the configuration.

The factory function for creating a Jaeger receiver does some parsing and checks that could be done sooner like the following
https://github.com/open-telemetry/o

[2021-04-15 00:14] owais commented on #2905
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/75290

#### Test Failures
-  TestApplication_ReportError

[2021-04-15 04:39] #2315 closed

[2021-04-15 09:50] gillg commented on #2363
In fact... I'm wrong about something in my previous assumption 🤔
I don't undestand why but, if I relabel to the target label "job" it's not displayed in metrics, but if I call it "job2" or "job_name" it appears. So, yes otel-collector seems drop by any way this label. But I don't understand where in code.

[2021-04-15 11:24] gillg commented on #2216
I had the same issue, it's mainly because the receiver doesn't add labels for different jobs / instances (related to https://github.com/open-telemetry/opentelemetry-collector/issues/2363)
So I tried to create a relabel config to add a uniq label per job but I still have only one metric.

Like this :
[code]

Result exemple :
[code]

[2021-04-15 12:19] gillg commented on #2852
Does this issue is what I see with a windows exporter ?
I was ready to open an issue without really understand what heppens on counters...

Windows exporter :
[code]

Otel collector which scraps windows exporter :
[code]

[2021-04-15 14:26] gillg commented on #2588
Hello,

Working on a different approach (due to a bug which make fluentbit crashing...) I discovered something else interesting about this subject (body vs attributes).

The project "Stanza" (https://github.com/observIQ/stanza), which is migrating to a new one OpenTelemetry log collection (https://github.com/open-telemetry/opentelemetry-log-collection) has the goal to "standardize" the way to coll

[2021-04-15 14:39] gillg commented on #2588
Else... maybe we could considere :
* Resources are host attributes
* Attributes are free but follows conventions about naming and so on
* Body can be structured or not but no convention is guarantee

In this case, we need a performant processor with capability to map some body fields to attributes before send it to exporters
Maybe, the process could filter logs body "types" by the OTEL lib name ?

[2021-04-15 15:27] tigrannajaryan commented on #2588
@gillg the spec currently has no opinion about when to use Body vs Attributes.

The reason that Attributes exist is because it makes the log records more uniform with spans. However, there is also a need to have a Body to be able to represent formats where there is no notion of structured attributes. Otel log data model provides both Body and Attributes so that any existing non-Otel log source can

[2021-04-15 16:37] gillg commented on #2588
This makes sense, and I like it. It's open, so anyone can find its usecase.
But yes, because it's "too" open, even if end-user can make its own choices, all developpers / contributors of receivers / exporters should be guided with the **"best practices" to avoid inconsistent approaches**.

* For example Stanza agent which sends a structured body for windows event log without following recomendatio

[2021-04-15 16:51] tigrannajaryan commented on #2588
I agree, this is a good point.

Collector already uses otel-log-collection as a dependancy. `filelog` receiver for example is implemented using that lib. `winlog` will do the same.

[2021-04-16 04:42] rakyll opened #2949 "Queued Retry is incompatible with Prometheus Remote Write"
Prometheus remote write (PWR) exporter is supporting queued retry out of the box, but due to the strict requirements of PWR, the queue causes "out of order sample" errors. For PWR to work correctly, all the samples sent from the collector need to be in chronological order for a time series. If sending queue is enabled:

[code]

It causes the samples from the same timeseries to be consumed by diffe

[2021-04-16 05:53] chenzhihao commented on #484
@tigrannajaryan that would awesome to have the internal metrics in the collector. We are also considering adding some custom metrics in our customised collector processor/exporter.

Is there anything specifically that we can help with?

[2021-04-16 16:21] tigrannajaryan commented on #2285
@pmm-sumo please review https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/3087 from the perspective of using in disk buffer.

[2021-04-16 18:21] akirn commented on #2818
This is related to https://github.com/open-telemetry/opentelemetry-collector/issues/2297#issue-769271531.

Consuming metrics with empty descriptors and type of "none" triggers the above-described error.

In our case, the specific relabel configs that cause the issue are those in the following jobs:

[code]

[2021-04-17 01:40] hanjm opened #2956 "data race between batch processor and kafkareceiver"
**Describe the bug**
data race in batch processor and kafkareceiver

[code]

**Steps to reproduce**
1. modify examples/local/otel-config.yaml, add kafka receiver and kafka exporter.

[code]

2. make run

go run --race ./cmd/otelcol/... --config examples/local/otel-config.yaml

3. client send some trace  span data.
4. collector log data race

**What did you expect to see?**
no data race

**What did

[2021-04-17 01:40] hanjm commented on #2956
fixed PR work in progress.

[2021-04-17 03:21] yeya24 commented on #2904
External labels are only used with remote storage (read and write) in Prometheus and it has nothing to do with the metrics scraping part.

[2021-04-17 04:15] vishiy commented on #2904
@yeya24 i did not say external labels are scraped. The point is , to be Prometheus compliant, external labels specified in Prometheus config should flow out of the receiver .

[2021-04-17 07:10] odeke-em commented on #2928
@marcdejonge thank you for filing this issue and welcome to the OpenTelemetry project!

To allow us to debug your issue, please provide valid Prometheus scrape output as is -- I don't see the `# HELP ...` lines, but also if you could even provide a full on Java example e.g. an instrumented Micrometer server, that would be very helpful. Thank you!

[2021-04-19 00:55] odeke-em commented on #2499
@bjrara resolved this in PR https://github.com/open-telemetry/opentelemetry-collector/pull/2897, but didn't use `Fixes #2499` in the commit message so it didn't auto-close this issue. Please help close this issue @alolita @tigrannajaryan @rakyll.

[2021-04-19 06:42] chenzhihao opened #2958 "replace the protobuf dependencies from internal/data to https://github.com/open-telemetry/opentelemetry-proto-go"
**Is your feature request related to a problem? Please describe.**
Do we have a plan to replace the protobuf dependencies from [internal/data](https://github.com/open-telemetry/opentelemetry-collector/tree/main/internal/data) to https://github.com/open-telemetry/opentelemetry-proto-go?

**Describe the solution you'd like**
Similar to this PR https://github.com/open-telemetry/opentelemetry-go/pull/

[2021-04-19 16:07] bogdandrutu commented on #2958
No we don't plan to do this sorry.

[2021-04-19 16:09] #2541 closed

[2021-04-19 16:39] #2949 closed

[2021-04-19 18:53] rakyll commented on #2259
With https://github.com/open-telemetry/opentelemetry-collector/pull/2951 merged, we need to prioritize this because we removed the queue from the Prometheus remote write.

[2021-04-19 19:12] #2956 closed

[2021-04-19 23:07] odeke-em opened #2961 "exporter/prometheusremotewrite: failing Up metric export for Prometheus compliance tests"
**Describe the bug**
Coming here from Prometheus compliance tests, TestRemoteWrite/otelcollector/Up fails

**Steps to reproduce**
Run the compliance tests at https://github.com/prometheus/compliance/tree/main/remote_write by
[code]

**What did you expect to see?**
PASS

**What did you see instead?**
10 out of 14 test failures
[code]

Here is the listing of failures

- [ ] TestRemoteWrite/otelcolle

[2021-04-20 02:45] rakyll opened #2963 "Prometheus remote write compliance"
The following compliance tests are failing:

* TestRemoteWrite/otelcollector/Summary https://github.com/open-telemetry/wg-prometheus/issues/45
* TestRemoteWrite/otelcollector/RepeatedLabels https://github.com/open-telemetry/wg-prometheus/issues/44
* TestRemoteWrite/otelcollector/NameLabel https://github.com/open-telemetry/wg-prometheus/issues/43
* TestRemoteWrite/otelcollector/Histogram https://gi

[2021-04-20 02:46] rakyll commented on #2963
Ooops, duplicate of https://github.com/open-telemetry/opentelemetry-collector/issues/2961.

[2021-04-20 02:46] #2963 closed

[2021-04-20 02:50] rakyll commented on #2851
This is a duplicate of https://github.com/open-telemetry/wg-prometheus/issues/39.

[2021-04-20 03:16] rakyll commented on #2363
Duplicate of https://github.com/open-telemetry/wg-prometheus/issues/37.

[2021-04-20 03:16] rakyll commented on #575
Duplicate of https://github.com/open-telemetry/wg-prometheus/issues/37.

[2021-04-20 03:17] rakyll commented on #2499
Duplicate of https://github.com/open-telemetry/wg-prometheus/issues/37.

https://github.com/open-telemetry/opentelemetry-collector/pull/2897 is not solving this issue.

[2021-04-20 04:32] vishiy commented on #2851
@rakyll - sorry if i am missing anything, but how is this a duplicate of https://github.com/open-telemetry/wg-prometheus/issues/39

[2021-04-20 08:27] jpkrohling commented on #2930
Sounds good to me, but is this an appropriate usage of the Validate according to its doc? If so, go ahead!

[2021-04-20 16:21] bogdandrutu opened #2967 "Kafka exporter/receiver change With*Unmarshallers signature"
Suggestions are:

- [ ] Remove [Add] from the name.
- [ ] Change to use variadic args instead of a map, the interface has the name already.

[2021-04-20 17:38] owais commented on #2905
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/76139

#### Test Failures
-  TestBatchProcessorSpansDeliveredEnforceBatchSize

[2021-04-20 20:37] owais commented on #2911
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/76252

#### Test Failures
-  TestTrace1kSPSWithAttrs
-  TestTrace1kSPSWithAttrs/10*1000bytes

[2021-04-20 23:40] owais commented on #2905
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/76307

#### Test Failures
-  TestLogsReceiver_error

[2021-04-21 06:38] sincejune opened #2972 "Proposal: Route `LogRecord` to different exporters"
### **Is your feature request related to a problem? Please describe.**
We can have multiple `LogRecords` in an `ExportLogsServiceRequest` object and each `LogRecord` can have its own attributes. Now I have no way to send these `LogRecords` to different exporters according to their own attributes.

Assuming I have two `LogRecords` inside one `ResouceLog` of an `ExportLogServiceRequest`, LogRecord-A

[2021-04-21 12:08] miry commented on #2310
@jpkrohling Do you have example how can I use contrib processor with main collector?

[2021-04-21 12:16] jpkrohling commented on #2310
You should use the contrib distribution for that, or build your own distribution based on core + that processor.

https://github.com/open-telemetry/opentelemetry-collector-contrib/releases/tag/v0.24.0

https://github.com/open-telemetry/opentelemetry-collector-builder

[2021-04-21 15:54] #2967 closed

[2021-04-21 16:30] #2498 closed

[2021-04-21 16:35] rakyll opened #2975 "Tests are flaky"
$ go test ./...

[code]

[2021-04-21 16:38] rakyll commented on #2975
This is not consistently failing but is a flaky test.

[2021-04-21 17:10] bogdandrutu commented on #2972
@sincejune look into https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/loadbalancingexporter

[2021-04-21 17:19] sincejune commented on #2972
@bogdandrutu Thanks. This looks interesting. I'll confirm if this can cover my case tomorrow.

[2021-04-21 23:10] bogdandrutu commented on #2972
That is based on trace-id, but I think can be extended to support any "split"

[2021-04-22 03:34] tydhot opened #2983 "how can I use prometheus exporter based on prometheus consul sd?"
Does collector support this ability at present?

[2021-04-22 04:26] rakyll commented on #2983
The collector supports [consul_sd_config](https://prometheus.io/docs/prometheus/latest/configuration/configuration/). Please report any bugs if you see any.

[2021-04-22 05:17] rakyll opened #2984 "Load tests are failing"
The following test is consistently failing:
[code]

[2021-04-22 08:43] tydhot commented on #2983
@rakyll Thanks you for your replay, I have found the https://github.com/open-telemetry/opentelemetry-collector/blob/03c7bf98f7edf6e578aac303e4d8b767f117541e/receiver/prometheusreceiver/testdata/config_sd.yaml that prometheus receiver is support to config the consul sd.
But what I want to know is that if I want to use the prometheus exporter provided by collector to export metric into prometheus, c

[2021-04-22 13:13] sincejune commented on #2972
Hey @bogdandrutu
I checked the `loadbalancingexporter` and feel it's more like a `loadbalance` exporter just like it was `named`. Actually, I didn't find a proper way to route the specified `traceId` to a specific backend even with the `groupbytrace` processor. (Correct me if I'm wrong)

And I find we actually have a mechanism to produce multiple `ExportLogsServiceRequest` from one which is used i

[2021-04-22 13:57] fletcm commented on #2506
Merged to main yesterday. Fixed.

[2021-04-22 13:57] #2506 closed

[2021-04-22 17:10] #2975 closed

[2021-04-22 17:16] owais commented on #2905
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/76778

#### Test Failures
-  TestLogsReceiver_error

[2021-04-22 18:17] jrcamp commented on #2850
@keitwb can you verify if fixed?

[2021-04-22 22:20] #575 closed

[2021-04-22 22:20] #2363 closed

[2021-04-22 22:20] #2499 closed

[2021-04-23 18:13] secat opened #3002 "Add support for a health route for each receiver endpoint"
When exposing an endpoint to the external world (by example using a cloud ELB), the health route must be configured on the same endpoint on which the traffic is sent.

Concrete example: if exposing the otlp http endpoint using port 55681 to a cloud ELB, if we configure the load balancer with a health route to "/", it will try to reach the endpoint on port 55681.

The health extensions is configure

[2021-04-23 19:33] rakyll commented on #3002
Isn't ELB allowing custom targets?

[code]

[2021-04-23 19:35] rakyll commented on #2983
I'm not a consul user, so don't how how the consul discovery works on Prometheus. Think about the collector as a drop-in replacement for the Prometheus server and configure and run it like how you do it with Prometheus.

[2021-04-23 20:28] pranavmarla opened #3004 "Hostmetrics Receiver throws 'error reading process name' error for process scraper"
**Describe the bug**
I'm using the OTEL _contrib_ collector to collect host metrics from an Ubuntu machine. However, when I add the _process_ scraper to the _hostmetrics_ receiver config, it throws an _error reading process name ... permission denied_ error for seemingly every PID in my system.

I haven't specifically reproduced this with the _core_ collector but, since the issue is with the core

[2021-04-23 20:45] secat commented on #3002
@rakyll on GCP with GKE, it is not possible to configure a different port for _health check_ with `ingress` resources using [gke container-native load balancing](https://cloud.google.com/kubernetes-engine/docs/how-to/standalone-neg).

It uses the pod `readinessProbe`  to configure the _health check_ and it assumes that it is on the same port on which the traffic is sent. When it is not the case, t

[2021-04-23 20:58] secat commented on #3002
As a workaround, I could add a `proxy sidecar container` in front of the `opentelemetry-collector container`, but I wanted to avoid this solution.

[code]

[2021-04-23 21:52] owais commented on #2905
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector/77183

#### Test Failures
-  TestLogsReceiver_error

[2021-04-24 02:50] rakyll commented on #2651
Can we follow an approach the collector used to us? Each component can take a []byte as the config and parse its own section. See https://github.com/open-telemetry/opentelemetry-collector/commit/aa5bd1aecaab807cb2eaeec231745a42acc1fa86#diff-4d58ead58d0a916d49b4ba6464c1fdaa57de835a3ab337ec26579e8dda521512R36 for the earlier approach. We used https://gopkg.in/yaml.v2 (https://github.com/go-yaml/yaml

[2021-04-24 03:00] rakyll commented on #2851
@vishiy, sorry I commented on this issue by mistake.

[2021-04-24 03:34] rakyll commented on #2904
The receiver has to do work to enable external_labels. The scrape manager is not populating the samples with external labels, we may need to manually add them based on the Prometheus configuration user has provided.

[2021-04-24 03:48] rakyll opened #3012 "Prometheus Remote Write Exporter should shard by scrape"
Soon, Prometheus will require remote write requests from a single scrape to arrive together. We should find a way to propagate a scraping identifier (it could be a unique identifier generated for every prometheusreciever.internal.transaction) from the receiver to the exporters and shard the external requests by scrape.

[2021-04-25 01:30] rakyll commented on #3002
The workaround introduces one more component to operate and is not pretty. I agree that we should consider supporting /health at the HTTP endpoint.

[2021-04-25 02:17] rakyll commented on #2904
One more thing to consider whether https://github.com/open-telemetry/opentelemetry-collector/tree/main/processor/attributesprocessor is sufficient enough to replace the external labels support in the Prometheus remote write exporter.

[2021-04-25 02:20] vishiy commented on #2904
ok. Attribute processor doesn't work for metric stream. Also, to be prometheus complaint, it would be easier to manufacture this in the receiver , rather than having this a pipeline settings , which is outside scrape settings.

[2021-04-25 02:23] rakyll opened #3016 "Discuss to deprecate Prometheus remote write exporter external labels support"
Prometheus remote write exporter (https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/prometheusremotewriteexporter) supports `external_labels` to allow users to attach a set of labels to every outgoing sample. Similar functionality in Prometheus is provided by the Prometheus config by `global.external_labels` and the labels are attached to scraped samples.

To be able to

[2021-04-25 02:24] rakyll commented on #2904
Agree that we should support it in the receiver config to be compatible with Prometheus.

[2021-04-25 02:24] rakyll commented on #3016
@bogdandrutu @tigrannajaryan Can we get to this issue before the collector is stable?

[2021-04-25 14:29] Jammicus commented on #3004
By default I was not able to duplicate this, however with some manual hacking I was.

To replicate this I removed the other users read permission from process 1. Eg `sudo chmod  u-r /proc/1/exe` This resulted in the following:

[code]

Removing that permission seemed to prevent all subsequent processes from being read. A few more debugging steps would be useful if you have time @pranavmarla:

1. W

[2021-04-25 14:40] jmacd commented on #2904
Does Prometheus make external labels available for target relabeling rules?

[2021-04-25 16:09] vishiy commented on #2904
Don’t think so. From what I have seen so far, these are global labels that are ‘finally’ applied *if* there are no collisions (after applying all relabeling rules). If there are collisions, they are ineffective (meaning the external label values are not applied irrespective of honor label configuration)

[2021-04-25 16:27] tydhot commented on #2983
Thanks!

[2021-04-25 16:27] #2983 closed

[2021-04-26 04:11] contractormarketplace opened #3018 "Spans from Node.js code NOT registering with the collector."
We have a simple .js file that we run through node as follows :-

'use strict';

const opentelemetry = require('@opentelemetry/api');
const { BasicTracerProvider, ConsoleSpanExporter, SimpleSpanProcessor } = require('@opentelemetry/tracing');
const { CollectorTraceExporter } = require('@opentelemetry/exporter-collector');
// const { CollectorTraceExporter } = require('@opentelemetry/exporter-colle

[2021-04-26 04:24] contractormarketplace commented on #3018
collector configuration and data prepper configuration are attached.

[otel-collector-config.yml.txt](https://github.com/open-telemetry/opentelemetry-collector/files/6374267/otel-collector-config.yml.txt)
[trace_analytics_no_ssl.yml.txt](https://github.com/open-telemetry/opentelemetry-collector/files/6374271/trace_analytics_no_ssl.yml.txt)

[2021-04-26 11:48] sincejune opened #3022 "Proposal: `Registry` Support"
**Is your feature request related to a problem? Please describe.**
Opentelemetry-Collector can either be pull-based or push-based at this time.
For receivers that are pull-based (e.g. `kafka` and `filelog` receivers), we actually need a `registry` file for them so that Opentelemetry-Collector can continue consuming data from the last stop.

[2021-04-26 12:40] pavolloffay opened #3023 "Add/bring back API to programmatically change config"
**Is your feature request related to a problem? Please describe.**

PR https://github.com/open-telemetry/opentelemetry-collector/pull/2868 broked API and removed config factory https://github.com/open-telemetry/opentelemetry-collector/pull/2868/files#diff-d6c4c49032868b2ceaa66558ff307319762c635975313d30109923f1faeab594L104. The config factory made it possible to change `config.Config` before suppl

[2021-04-26 13:53] pmm-sumo commented on #3022
This is in progress for `filelog` receiver. Related issue: https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/2947

[2021-04-26 15:46] sunfuze opened #3024 "Jaegerreceiver drop the real process info of span, if span report from jaeger agent to opentelemtry collector"
**Describe the bug**

Our system use jaeger to collect spans as follow pattern:

Applications ------> Jaeger Agent ---------> Jaeger Collector --------> Alibaba Cloud Log Service

We want change to

Applications ------> Jaeger Agent ---------> Opentelemetry Collector --------> Alibaba Cloud Log Service

Alibaba Cloud Log Service provide a new log product for opentelemetry, so we want switch to use

[2021-04-26 16:03] pmm-sumo commented on #2285
I have prepared a [design doc](https://docs.google.com/document/d/1Y4vNthCGdYI61ezeAzL5dXWgiZ73y9eSjIDitk3zXsU/edit#) with some ideas on how this could be achieved. cc @dashpole

[2021-04-26 19:32] rakyll commented on #3018
Can you file this against the Node.js repo? It looks like a Node.js issue.

[2021-04-26 21:48] pranavmarla commented on #3004
Thanks @Jammicus ! I've added the info you requested below:

1.
[code]

2.
[code]

3. This system is an AWS EC2 machine. I'm afraid I don't know if there has been any additional security added to it -- I personally haven't added any.
[code]

Hope that helps -- let me know if you need any more info!

[2021-04-26 22:30] bogdandrutu commented on #3023
@pavolloffay you can implement this interface https://github.com/open-telemetry/opentelemetry-collector/blob/main/service/parserprovider/provider.go#L25

[2021-04-26 22:34] bogdandrutu commented on #3016
@rakyll if the incoming data are not from the prometheus receiver this feature is still useful I believe.

[2021-04-26 22:34] bogdandrutu commented on #3016
I am happy to remove it if nobody uses it.

[2021-04-26 22:43] bogdandrutu commented on #3024
@jpkrohling if I read this correctly, there is a misunderstanding here. I think the batch process info should be the correct once, am I missing something?

[2021-04-26 22:47] bogdandrutu commented on #2972
My point you should implement `routing processor` as `routing exporter` I think similar with loadbalancing exporter. I am curious about the use-case you have in terms of different exporters.

An alternative (right now) is to create 2 different pipelines and filter logs in a way that achieves your goal.

[2021-04-26 23:34] rakyll commented on #3016
True. As you say, it could be useful separately from the work needed in the receiver, e.g. OTLP metrics can be labelled by using this feature. But I wonder if we would like to write a processor for that use case instead.

It's your call to keep it or remove it. I don't have any strong opinions.

[2021-04-27 04:07] bhautikpip commented on #1170
@jrcamp @ccaraman I can work with you to contribute on this issue. However, I am not super familiar with collector code and looking to contribute for my first issue. Any pointers or help would be appreciated.

[2021-04-27 07:21] sunfuze commented on #3024
I have misunderstood. Jaeger agent proxy batch to collector, so process in batch is process of spans.

[2021-04-27 07:21] #3024 closed

[2021-04-27 08:00] pavolloffay commented on #3023
That is not sufficient and provides a different API with much less flexibility than the API that the PR removed. The `Provider` returns a Parser that encapsulates viper. In other words, this API only allows me to configure viper and it does not allow me to change the resolved `config.Config`.

I need access to resolved `config.Config` and change it before it gets used by the service.

[2021-04-27 17:19] Jammicus commented on #3004
Thanks, managed to reproduce.

Otel user is trying to get information on processes that have been started by other users. If otel had any other processes started it would be the only one you see in the logs.

Switching to the root user instead of otel to run the service (Don't recommend doing this) kind of resolved this, though a new error message decided to show its face:

[code]

Can also replic

[2021-04-28 08:09] shilicqupt opened #3039 "component support custom metric view register"
**Is your feature request related to a problem? Please describe.**
- custom Component need more rich metric to reflect Component internal states, however appTelemetry only support limited component metric views(batchprocessor, kafkareceiver, ....), we need a solution to help custom component to define MetricView and add to appTelemetry

**Describe the solution you'd like**
- in appTelemetry.go add

[2021-04-28 08:40] shilicqupt commented on #2374
remote config is mean each component has hot reload ability? however Component interface only have Start and Stop func, may we need Reload func to support hot reload

[2021-04-28 08:55] shilicqupt commented on #1007
[code]

[2021-04-28 15:38] brian-brazil commented on #2904
External labels are applied before `write_relabel_configs`.

[2021-04-28 15:46] vishiy commented on #2904
Thanks. Does that mean we can relabel external labels ?

[2021-04-28 16:44] dashpole commented on #542
I'd like to work on this, if thats alright.

I did an initial investigation, but i'm still learning about the structure of the collector.  One thing I ran into is that since the pipeline isn't synchronous, I can't just wrap a function call with start/stop functions.  One thought I had is to propagate the receive time to the exporters using context, but that seems like it could be fragile (e.g. if

[2021-04-28 16:50] dashpole commented on #542
Comments from bogdan on 4/28:

* Context may not be right, since context is lost when we do batching.
* nit: maybe not call this latency, call it processing time.

[2021-04-28 17:03] flands opened #3040 "Add gRPC health check"
**Is your feature request related to a problem? Please describe.**
If you want to deploy the OpenTelemetry Collector in gateway-mode behind an AWS Application Load Balancer (ALB) to support gRPC (e.g. OTLP) then ALB requires a gRPC health check. Today, we have a health check extension, however it only support HTTP.

**Describe the solution you'd like**
Either extend the health check extension or a

[2021-04-28 18:06] jrcamp opened #3041 "Remove unnecessary locking in Start/Stop"
Don't think this locking is needed is it? Starting and Stopping components get run in same goroutine so I assume memory ordering should be ok. I think most components depend on this memory consistency as well.

_Originally posted by @jrcamp in https://github.com/open-telemetry/opentelemetry-collector/pull/3037#discussion_r621670235_

[2021-04-28 21:59] #2547 closed

[2021-04-28 22:51] bogdandrutu opened #3048 "Review and improve componenthelper package"
This is an umbrella issue for feedback and improvements for the componenthelper package.

Godoc: https://pkg.go.dev/go.opentelemetry.io/collector@v0.25.0/component/componenthelper

[2021-04-28 22:52] bogdandrutu opened #3049 "Review and improve component package"
This is an umbrella issue for feedback and improvements for the component package.

Godoc: https://pkg.go.dev/go.opentelemetry.io/collector@v0.26.0/component

Things that we should look for:
1. Can we avoid exposing publicly some of the APIs? Better to have less public APIs.
2. Can we improve the names of the public APIs?
3. Can we improve the documentation of the package/public APIs?

[2021-04-28 23:07] bogdandrutu opened #3050 "Review and improve consumer package"
This is an umbrella issue for feedback and improvements for the consumer package.

Godoc: https://pkg.go.dev/go.opentelemetry.io/collector@v0.26.0/consumer

Things that we should look for:
1. Can we avoid exposing publicly some of the APIs? Better to have less public APIs.
2. Can we improve the names of the public APIs?
3. Can we improve the documentation of the package/public APIs?

[2021-04-28 23:08] bogdandrutu opened #3051 "Review and improve config package"
This is an umbrella issue for feedback and improvements for the config package.

Godoc: https://pkg.go.dev/go.opentelemetry.io/collector@v0.26.0/config

Things that we should look for:
1. Can we avoid exposing publicly some of the APIs? Better to have less public APIs.
2. Can we improve the names of the public APIs?
3. Can we improve the documentation of the package/public APIs?

[2021-04-29 07:30] x13n commented on #542
The idea I initially had for this was to re-use metric timestamps and record the delta between metric timestamp and `Now()` when the metric is successfully exported. That wouldn't be just processing time though - it would be measuring collection (possibly outside of the Collector) as well.

[2021-04-29 07:31] x13n commented on #542
(In which case it should probably be called metric freshness or something.)

[2021-04-29 10:02] girishgrover2008 opened #3058 "Open-telemetry collector panic crash with Prometheus"
**Describe the bug**
I am using opentelemetry collector to collect data from Prometheus which is monitoring our kubernetes cluster. Idea is open telemetry  collector can collect data from Prometheus and report it to our API. While doing so collector is getting panicked and crashing with segmentation fault.

**Steps to reproduce**
Attaching yaml file for the config that i am using and monitoring th

[2021-04-29 11:26] ocervell commented on #1358
@andrewhsu any updates on this ? I have yet another customer having the same need

[2021-04-29 15:22] RSoodAMAT opened #3059 "Metrices : Value Recorder and Observer not being exported to Prometheus via Otel Collector."
**Describe the bug**
Unable to view the the observer and value recorder metrices in Prometheus.

**Steps to reproduce**
1. Start the otel colltector along with jaeger and prometheus.
2. Add the metrices for counter, recorder and observer in application
3. Unable to view recorder and observer in prometheus.
4. Configuration used for docker-compose for otel -collector :
See Example in the end.

**Wh

[2021-04-29 18:07] rakyll commented on #3040
Might be related to https://github.com/open-telemetry/opentelemetry-collector/issues/3002.

[2021-04-29 18:11] #2101 closed

[2021-04-29 18:34] rakyll commented on #3058
This seems to be affecting the summary types. cc @Aneurysm9 @odeke-em

[2021-04-29 20:11] odeke-em commented on #3058
Here is the extracted stacktrace
[code]

[2021-04-29 21:28] bogdandrutu opened #3064 "Flaky test for default components Jaeger"
[code]

It seems to be that somewhere the receiver is not fully stopped.

[2021-04-29 21:37] rakyll opened #3065 "Document how to export the obsreport data"
As of today, obsreport can collect and report telemetry data from the collector itself but it's not documented how to export the data. Adding a README to this package directory would be sufficient to increase the visibility of obsreport and document how to export data.

[2021-04-29 23:00] bogdandrutu commented on #3065
@rakyll we intentionally postpone that until otel-go is ready. We want to change obsreport to use otel also the config story should be otel based not opencensus.

[2021-04-30 16:23] girishgrover2008 commented on #3058
@odeke-em its happening continuously. I will try the collector that you have suggested and get back to you.

[2021-04-30 16:36] bogdandrutu opened #3071 "Upgrade prometheus deps (core, common, etc)"
Prometheus broke some of the APIs that we use, and we need to upgrade it in order to stay up to date with k8s and other transitive deps.

[2021-04-30 16:36] #3048 closed

[2021-04-30 17:11] ignasi35 opened #3072 "Maintain trace Id's length"
**Is your feature request related to a problem? Please describe.**

The translator for Jaeger TraceId's expands 64bit traceId's to 128bit.

Using those traceId's on legacy backend's is not possible. For example, AWS's XRay limits the traceId length to 64bit.

We've observed that conversion on the following setup:

[code]

where

- `user-app` is some user code producing 64bit traceIds using the Jae

[2021-04-30 19:01] bogdandrutu commented on #3072
/cc @anuraaga

I think the traceID is 128 but has a special representation.

[2021-04-30 19:14] bogdandrutu commented on #3071
PR blocked by this https://github.com/open-telemetry/opentelemetry-collector/pull/3066

[2021-04-30 19:14] bogdandrutu commented on #3071
To upgrade prometheus `go get github.com/prometheus/prometheus@main` but will cause compilation issues because of breaking changes

[2021-04-30 19:23] bogdandrutu commented on #3059
@RSoodAMAT are the other types of metrics propagated?

[2021-04-30 20:06] pjanotti commented on #3064
While I did see some issues to be improved on the receiver code (will open PR for those) the issue here seems to be the way we run tests via `make`, grouping 10 packages to each `go test` command we end up with tests of different packages running concurrently (see examples below from my machine). In the grouping, we ended up with two packages, `service` and `service\defaultcomponents` that use the

[2021-04-30 20:11] rakyll commented on #3071
Sending a PR soon.

[2021-04-30 20:36] #3071 closed

[2021-04-30 21:05] bogdandrutu commented on #2930
`Validate` should validate the config, and an invalid port in the config means an invalid configuration. `Validate` should not try to check if the port is open though.

[2021-04-30 21:13] rakyll commented on #3072
X-Ray trace ID is 64 bit but we are working on to make it 128 bit.

[2021-05-01 02:49] anuraaga commented on #3072
To clarify, AWS uses 128-bit trace IDs but the first 32 buts must be a timestamp, not random. There is ongoing work to lift this restriction at some point, and then the collector will work fine without changing if generation.

I think in general having 128-bit in the collector is fine even for 64-bit IDs - most exporters can deal with zero padding, or otherwise strip it. X-Ray is unique in not hav

[2021-05-02 20:52] odeke-em commented on #2412
@arjantop-cai @seanhoughton @vibhavp does @krak3n's PR https://github.com/open-telemetry/opentelemetry-collector/pull/2899 fix this issue for you?

[2021-05-03 05:48] RSoodAMAT commented on #3059
I have tested counter , observer and recorder . only counter was being shown on prometheus. Although the collector logs showed that all the metrices were being exported , nothing could be seen on the prometheus apart from counter .

[2021-05-03 11:18] pavolloffay commented on #3023
@bogdandrutu @tigrannajaryan ^^ Could we think of a solution for this API breaking change?

[2021-05-03 15:56] gramidt commented on #1234
@bogdandrutu @tigrannajaryan - What's the priority of this migration? Are we holding until 1.0?

[2021-05-03 17:22] bogdandrutu commented on #1234
I am happy to review PRs for this, but probably don't have time to do fixes.

[2021-05-03 17:34] gramidt commented on #1234
Completely understand, @bogdandrutu! Thank you for the prompt response. I'll try to allocate time to document the deltas and determine next steps.

[2021-05-03 17:49] djaglowski commented on #3022
Yes, `filelogreceiver` will make use of a [file_storage extension](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/extension/storage/filestorage), if configured as part of the service.

Any other component of the collector can do the same. You will need to enhance the component's Start method to check for a storage extension, and then make use of it. [Here](https://gith

[2021-05-03 23:55] Aneurysm9 commented on #2820
### Pull Requests created

Updated sample app to build re-usable container image (#2760)
Cleaned up `consumer/consumererror` package (#2768)
Fix Prometheus counter metric naming in PRW exporter (#2993)
Fix Prometheus receiver start timestamp adjustment logic (#3047)
API change detection (#3081)

### Pull Requests reviewed

Bump github.com/prometheus/prometheus (#3074)
Changed usage of ApplicationS

[2021-05-04 00:43] jrcamp opened #3085 "Scraper log messages should specify what scraper the message is from"
Currently log messages from scrapers do not give any indication what scraper the message is about. Take for instance this from the cpu (I think, can't tell) scraper:

There's two places this can happen:

1. Log messages made inside the scraper implementation
2. At the point where errors returned by the scraper are logged

[2021-05-04 10:12] gillg opened #3089 "Prometheus Receiver - "up" metric not used as expected, and not recorded."
**Describe the bug**

Maybe I don't understand someting, but the usual auto-generated metric "up" seems not handled correctly on the receiver.
As I understand we have a special case if the scraping discover a metric "up" in a Prometheus metrics page.
https://github.com/open-telemetry/opentelemetry-collector/blob/main/receiver/prometheusreceiver/internal/metricsbuilder.go#L96

It's also visible in

[2021-05-04 10:14] gillg commented on #3089
In the meantime, generate `scrape_duration_seconds`, `scrape_samples_post_metric_relabeling`, `scrape_samples_scraped`, `scrape_series_added` could be a good point to have a fully prometheus compatible scrapper.
To discuss

[2021-05-04 14:18] bhautikpip commented on #2172
I can help with this issue.

[2021-05-04 14:58] gillg commented on #3089
In fact... I have the feeling that only remove this line could resolve the problem :

https://github.com/open-telemetry/opentelemetry-collector/blob/main/receiver/prometheusreceiver/internal/metricsbuilder.go#L99

The scrapping lib seems already add the metric ? Am I wrong ?

[2021-05-04 17:35] #2172 closed

[2021-05-04 20:01] alolita opened #3096 "Triager role request for @alolita"
Filing a formal request to request triager role for @alolita.

Reason for request: In my discussions with @bogdandrutu on the path forward to achieve 1.0 stability for the Collector and collector-contrib components and beyond, he suggested I help triage and prioritize P0, P1 and other issues and keep the Collector milestone backlogs current with development progress.

I participate very actively o

[2021-05-04 20:39] SergeyKanzhelev commented on #3096
Transferred to collector repo as it is for collector maintainers to approve

[2021-05-04 21:37] #3096 closed

[2021-05-04 22:10] tdinucci opened #3099 "Stateful Collectors"
**Is your feature request related to a problem? Please describe.**

When multiple Collectors are in play there is no great way perform operations which require knowledge of a specific telemetry stream.  This makes it hard to do the following:

* Perform tail-based sampling on traces
* Aggregate metrics
* Group logs so that they may be written efficiently to object stores
* etc.

**Describe the sol

[2021-05-05 03:14] bogdandrutu commented on #3099
I would actually suggest to use something like "Kafka" receiver/exporter to persist the state and do routing.

[2021-05-05 07:54] tdinucci commented on #3099
Thanks @bogdandrutu, does this mean there are no plans to support something like this natively in OTel?

Kafka would obviously fit the requirement but it comes with quite a bit of additional overhead.

Are the points I raised in the problem statement not common requirements?

[2021-05-05 16:29] Aneurysm9 commented on #2820
### Pull Requests reviewed (-contrib)

\[metrics_transform_processor\] Add filtering capabilities matching metric label values for applying changes (https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/3201)
introduce aws container insights processor (https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/3265)
\[ resource generation processor\] add new processor

[2021-05-05 16:52] sincejune commented on #3022
@djaglowski It looks great!
I can try to make a contribution to Kafka Receiver. But it looks like we need to move the [storage definition](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/extension/storage/storage.go) into this repo? Thoughts?

[2021-05-05 17:24] bhautikpip commented on #2649
@bogdandrutu I could not find similar name pattern any more in any of the file in `obsreport` package. I also checked `obsreport_receiver.go` for more sanity. I think PR https://github.com/open-telemetry/opentelemetry-collector/pull/2658 and https://github.com/open-telemetry/opentelemetry-collector/pull/2657 covered most of the change. Am I missing anything here?

[2021-05-05 17:38] mx-psi commented on #2651
I think we are no longer exposing Viper on the public API anywhere and so this issue is now a sort-of duplicate of #2594.

I want to work on the general issue (fixing case-sensitivity when unmarshaling) but I am not sure what the next step would be here. Would trying out the yaml/koanf packages and documenting any issues with switching to those help? Are there any other Viper issues that a new imp

[2021-05-05 17:44] marcosflobo opened #3103 "Exporter for New Relic"
**Is your feature request related to a problem? Please describe.**
No, just lack of functionality

**Describe the solution you'd like**
OpenTelemetry is growing and growing and there are several important backends where the traces, metrics and logs can be exported. New Relic is one of them.

This Feature Request is about to implement an Exporter for sending data to New Relic, like is implemented a

[2021-05-05 17:54] tigrannajaryan opened #3104 "Extract pdata into a separate Go Module"
## Problem Description

pdata is currently part of the Collector core. It makes difficult/impossible to use it in external repositories which need a way to work with OTLP in-memory data which is fast, is stable API and is compatible with Collector codebase and is reusable in the Collector codebase.

Examples of how this creates a problem:
- Telegraf exporter which implements translation to/from OT

[2021-05-05 18:01] tigrannajaryan commented on #3104
FYI @jacobmarble if we do this you can depend on the new module in your https://github.com/influxdata/influxdb-observability/tree/main/otel2influx and avoid unnecessary serialization/deserialization.

[2021-05-05 18:14] mx-psi commented on #2819
## Pull requests opened (core)

- [examples] Remove queued_retry processor from Kubernetes example #2296
- [consumer] Fix comments referencing MetricsData #2378
- Create configload.Parser struct to abstract away from Viper #2728
- [translator/conventions] Add task revision semantic convention #2816
- Add missing documentation #2837
-  Move Unmarshaler interface to Config instead of Factory #2867
-

[2021-05-05 18:16] mx-psi commented on #3103
@marcosflobo vendor exporters live in the https://github.com/open-telemetry/opentelemetry-collector-contrib repo, I think you can find the exporter you are looking for there

[2021-05-05 19:16] danielgblanco commented on #3099
Regarding tail-sampling (putting away other types of use cases for stateful collectors) there was a discussion on https://github.com/open-telemetry/opentelemetry-collector/issues/407 proposing hashrings as an option but it seems the `groupbytrace` processor combined with other sampling processors on two layers of collectors was a preferred option.

There is also some work proposed to deprecate tai

[2021-05-05 19:55] jacobmarble commented on #3104
@tigrannajaryan spot on! I would love to depend on pdata instead of the generated protobufs directly, as long as I can also implement a gRPC listener/client (outside of otelcol/otelcol-contrib) with the same package.

[2021-05-05 20:10] djaglowski commented on #3022
@sincejune That is a good point. I believe there is a good chance the storage extension code may end up in this repo, but this will be up to the maintainers to decide. //cc @tigrannajaryan

[2021-05-05 20:18] odeke-em commented on #3089
@gillg thank you for filing this bug and for debugging! I have a PR going to address this per https://github.com/open-telemetry/opentelemetry-collector/pull/2918 which I am going to update shortly and then hopefully this week we can merge it in and have the Up metric being exported.

[2021-05-05 20:54] odeke-em opened #3106 "exporter/prometheusremotewrite: convert "up" OTLP gauge metric into a PrometheusProto Up metric"
After PR https://github.com/open-telemetry/opentelemetry-collector/pull/2918 is merged, we shall need to convert the "up" gauge generated from the receiver/prometheus into an explicit PrometheusProto Up metric.

[2021-05-05 21:02] tigrannajaryan commented on #3022
Let's give a bit time for storage extension to be polished and stabilized in the contrib and then we will move it to this repo. It should like happen after the GA to avoid delaying the GA further.

[2021-05-05 21:48] bogdandrutu opened #3108 "Prometheusremotewrite exporter should use "pdata" not internal protos"
See https://github.com/open-telemetry/opentelemetry-collector/blob/main/exporter/prometheusremotewriteexporter/exporter.go#L106

We should not depend on the internal representation in any component.

[2021-05-05 21:49] bogdandrutu commented on #3108
Assigned to @alolita for triage

[2021-05-05 21:51] bogdandrutu commented on #3103
Already supported https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/newrelicexporter

[2021-05-05 21:51] #3103 closed

[2021-05-05 21:54] bogdandrutu commented on #3099
@tdinucci

I would love to understand the "additional overhead". I think writing to the disk vs writing to Kafka should be quite similar overhead (same order of magnitude). If possible to make a comparison it would be great.

No I am saying that we should try to do data driven decisions, and if the WAL solution is significant better we should invest more into that. The simple WAL (just to ensure n

[2021-05-05 22:23] tdinucci commented on #3099
The "additional overhead" I was referring to was more in relation to operational complexity and cost.

Obviously running OTel components that are stateful and reliable would end up being complex and expensive too. However, I would like to think it would be simpler and cheaper than running both OTel and Kafka together.

I understand your position though and how you need more than this ticket to dec

[2021-05-06 02:12] pavankrish123 opened #3115 "Support for Custom Exporter Authenticators as Extensions"
**Is your feature request related to a problem? Please describe.**
We recently added framework to add server (receiver) side authentication via extensions.  This is very convenient to extend and add custom authentication seamlessly.  In similar fashion clients (exporters) should be able to utilize any custom authentication defined as extension.

**Describe the solution you'd like**

something like

[2021-05-06 02:13] pavankrish123 commented on #3115
cc: @jpkrohling @bogdandrutu

[2021-05-06 02:37] bogdandrutu commented on #3115
@jpkrohling would let you drive this, but feels reasonable

[2021-05-06 05:34] mxiamxia commented on #226
Hi @majelbstoat , I am not sure if it is a good idea to have `denylist` in `tailsamplingprocessor`, we may only want to keep the sampling processor in a simple responsibility that only take care of sampling job on the interested data. If this issue is to ignore the noise tracing data. The `attributesprocessor` should perfectly handle this job.
https://github.com/open-telemetry/opentelemetry-collec

[2021-05-06 06:04] RSoodAMAT commented on #3059
Any timelines when can we expect the fix of the above bug.

[2021-05-06 09:05] jpkrohling commented on #3115
Looks good, just not 100% about the property name. We use `authenticators` on the receivers' side as well, which would make this consistent but might confuse users. Do you think we can solve this with documentation by ensuring that all authenticators clearly state whether they are meant to be used on the server/receiver side vs. client/exporter?

[2021-05-06 09:06] gillg opened #3118 "Prometheus Receiver - Some counter metrics dropped for unknown reason"
**Describe the bug**
Analyzing an opentelemetry collector setup and trying to create dashboards with collected metrics, I discovered some droped metrics for an unknown reason.
I have a bunch of "dropped" metrics without any logs or traces.
Eventualy,
I have some logs `info    internal/metrics_adjuster.go:357        Adjust - skipping unexpected point      {"kind": "receiver", "name": "prometheus",

[2021-05-06 09:58] gillg commented on #3118
All these dropped metrics has also negative effects at exporter level.

Each of them produce this exception on prometheus exporter. The metric seems "partialy" dropped, a reference should stay somwhere but without a valid name and type...
[code]

[2021-05-06 11:26] kisieland opened #3119 "Batch Processor send_batch_max_size"
**Describe the bug**
The main issues I would like to summarise here is connected to how the `send_batch_max_size` and `send_batch_size` flags interact.
Currently `processItem` function does something like:
[code]
Note that this checks if batch after adding new data is bigger than `sendBatchMaxSize`, but when splitting uses `sendBatchSize` to compute remaining space.
In effect (when `sendBatchSize

[2021-05-06 13:20] jpkrohling commented on #2884
Sorry, I lost track of this one. Is this still an issue? The original assessment is correct that this was a bug, but apparently, this has since been fixes?

[2021-05-06 13:20] #2884 closed

[2021-05-06 15:32] bogdandrutu commented on #3119
There were some fixes related to this in the latest release, but we still have the problem if the values are reversed. Maybe that should be a validation in the config to not allow that

[2021-05-06 16:51] sincejune commented on #3108
I think I can take it.

[2021-05-06 16:51] sincejune commented on #3108
I think I can take it.

[2021-05-06 17:09] appdashishmehta commented on #3104
We, at AppDynamics, recently stumbled on this need too and it would greatly help avoid unnecessary serialization/deserialization.

[2021-05-06 17:58] rakyll commented on #3115
If this happens, we may consider having SigV4 as an extension.

cc @alolita @Aneurysm9 @anuraaga

[2021-05-06 18:00] rakyll commented on #3118
cc @Aneurysm9 @alolita

[2021-05-06 18:03] rakyll commented on #3072
We can close this and track it via https://github.com/aws-observability/aws-otel-collector/issues/492. It's not a collector issue.

[2021-05-06 19:33] pavankrish123 commented on #3115
This is great!

@jpkrohling  I was pondering on the same. Two ways I can think of currently are to 1) explicitly pass the scope of authenticatior here

[code]
type ClientAuthentication
[code]

[2021-05-06 19:57] eroteme opened #4312 "Feature: Create collector config.yaml with entries from the build.yaml"
_This is an idea for feature which I am putting forward for proposal/discussion._

 A collector-config.yaml should be able to be generated as long as optional information is given in the build.yaml to what config should be passed for each module. This could be added to each module array for example

although the above would still need a pipelines section... alternatively config  could just be verb

[2021-05-06 21:44] dashpole commented on #542
I have implemented prototypes a few approaches:

1. Pipeline latency with startTime propagated via context.  Measures from obsreport.StartXXReceiveOp to obsresport.EndXXExportOp: [changes](https://github.com/dashpole/opentelemetry-collector/commit/3e503868b272402fb8c0c35db1709c1567398656)
2. Pipeline latency with startTime embedded in pdata types.  Measures from pdata.NewXX to obsreport.RecordPipe

[2021-05-06 22:36] alolita commented on #3016
@vishiy @punya Any use cases on your end where this suggested deprecation would have a breaking change?

[2021-05-07 00:35] vishiy commented on #3016
I am good with deprecating this and we have an item to add this to receiver natively. Thanks @alolita

[2021-05-07 10:40] punya commented on #3016
Thanks for flagging this @alolita. I confirmed that this won't affect us (GCP).

[2021-05-07 14:23] bhautikpip commented on #2510
@jpkrohling @tigrannajaryan What are the next steps for this issue? Do we want to continue having these public APIs?

[2021-05-07 14:35] #3064 closed

[2021-05-07 15:22] tigrannajaryan commented on #2510
context.go was deleted in https://github.com/open-telemetry/opentelemetry-collector/pull/2767

[2021-05-07 15:22] #2510 closed

[2021-05-07 16:19] dashpole commented on #542
A few thoughts:

3 is definitely the simplest, and aligns with the other obsreport telemetry we generate (per-component successes vs failures, per-component traces).  Individual component processing durations aren't as good of a representation of end-user-experience as e2e latency is, but it is probably good enough to at least detect high-latency problems.

If we want to implement a full solution

[2021-05-07 17:07] bogdandrutu commented on #3108
@sincejune go for it, waiting for a PR :)

[2021-05-07 18:45] bogdandrutu commented on #3118
Most likely they are the new types "gauge histogram, enum or state" which we don't support

[2021-05-07 19:19] #3119 closed

[2021-05-07 19:21] bogdandrutu commented on #3119
@kisieland I closed this since the main issue is not resolved. If you want to still improve performance please open an issue for that

[2021-05-08 03:04] anuraaga commented on #2364
AFAIK logging detailed information at debug level is consistent with the rest of the collector so not sure this change is a good idea. Could be wrong though. @bogdandrutu @tigrannajaryan could you clarify any best practices for logging in collector and whether it makes sense to use a different default than prometheus here?

[2021-05-08 10:14] shilicqupt commented on #2851
[open-telemetry/wg-prometheus#39](https://github.com/open-telemetry/wg-prometheus/issues/39) seems no relate with this one

[2021-05-08 12:47] albertteoh opened #3131 "Inconsistent results between prometheusexporter and prometheusremotewrite"
**Describe the bug**
When using prometheusremotewrite to export metrics to M3, I'm getting latencies that are over 200 years when queried from M3.

However, when scraping these metrics from prometheus, the latencies look correct.

Am I configuring something incorrectly?

**Steps to reproduce**
1. Run opentelemetry-collector-contrib with the config attached in this issue.
2. Send spans to the colle

[2021-05-09 14:15] zivfuture opened #3133 "[question] what difference between Collector and SDK?"
Sorry , i am a beginner to opentelemetry,  and i have read the doc  few times.  but the question "what difference between Collector and SDK?" confused me.  Does the "Collector" is the default implementation of API?

 who can explain it for me . thanks!

[code]

[2021-05-10 19:40] odeke-em opened #3137 "receiver/prometheus: remove Prometheus->OpenCensusProto->OTLP Pdata, to use Prometheus->OTLP Pdata"
This is an issue tracking the upcoming removal of the Prometheus receiver's long roundtrip of Prometheus->OpenCensusProto->OTLP Pdata to instead convert from Prometheus->OTLP Pdata directly.

[2021-05-11 06:57] bhautikpip commented on #3041
Fix for this issue https://github.com/open-telemetry/opentelemetry-collector/pull/3070 is merged so we can probably close out this issue.

[2021-05-11 08:17] kradalby commented on #2310
Another use case for our organisation is the ability to "enforce" that all traces/spans have an attribute, e.g. an application ID and that we drop everything not adhering to the standard. Yes there might be wholes in the beginning, but when everyone adds it, it should not be an issue.

[2021-05-11 09:16] #3133 closed, assigned to nobody

[2021-05-11 09:29] 13667285528 commented on #2852
I had the same problem.
The data I've collected so far looks a little strange, and I wonder if it's caused by this problem.
The old version of Collector before March of this year collected all the points, but the new version only collects the first one. What is the reason for this design?

@bogdandrutu

[2021-05-11 11:34] heruv1m opened #3140 "Own collector's logs to file"
Is there someway to write own collectors logs to file?
I mean not exporter logs, but service. Like this
`service/service.go:411	Starting OpenTelemetry Collector...	{"Version": "v0.20.0", "GitHash": "a10a1a7a", "NumCPU": 8}`

[2021-05-11 17:06] rakyll commented on #3016
Thanks, everyone. Once #3127 is merged, I will follow up to deprecate the external labels from the remote write exporter.

[2021-05-11 18:29] alolita commented on #2603
@tigrannajaryan who owns completion of this issue? Please advise.

[2021-05-11 18:41] tigrannajaryan commented on #2603
I believe @jcchavezs wanted to help, not sure if that's still the plan. Otherwise @jpkrohling mentioned that they will work on it next. Can you guys tell if you are able to help?

[2021-05-11 18:46] jacobmarble commented on #3104
@tigrannajaryan does this issue block #3323 ? I would like to merge #3323 as-is, then refactor influxdbexporter, influxdbreceiver, and the corresponding Telegraf plugins, in a separate work unit.

[2021-05-11 19:14] jpkrohling commented on #2603
If @jcchavezs gets blocked or can't work on this, I'm ready to jump in.

[2021-05-11 19:42] tigrannajaryan commented on #3104
No, it does not. We can refactor later.

[2021-05-11 23:13] #2678 closed

[2021-05-12 01:14] alolita commented on #2435
@bogdandrutu can this be moved to a Phase 3 backlog which will be done post GA?

[2021-05-12 01:14] alolita commented on #2434
@bogdandrutu can this be moved to a Phase 3 backlog which will be done post GA?

[2021-05-12 01:19] alolita commented on #2539
@tigrannajaryan is this bug fix needed for GA? else we can move it to the Phase 3 backlog. Please advise.

[2021-05-12 01:21] alolita commented on #2674
@bogdandrutu can this issue be closed. Is anything left to be done for this move?

[2021-05-12 01:21] alolita commented on #2675
@bogdandrutu can this issue be closed. Is anything left to be done for this move?

[2021-05-12 01:28] alolita commented on #2649
@bogdandrutu is this still an open issue? Looks like the changes have already been made.

[2021-05-12 01:31] alolita commented on #816
@bogdandrutu since you mentioned that this issue is not a showstopper can it be moved to a post-GA phase 3 backlog?

[2021-05-12 01:33] alolita commented on #2788
@bogdandrutu can we close this issue given @punya's comments?

[2021-05-12 01:34] alolita commented on #2787
@bogdandrutu can we close this issue given @punya's comments and closed PR?

[2021-05-12 01:35] alolita commented on #2831
@bogdandrutu this issue does not seem to be a GA must-have issue? Can we move this to a post-GA phase 3 backlog?

[2021-05-12 01:38] alolita commented on #2646
@bogdandrutu should we create a separate issue for discussion as recommended above?

[2021-05-12 01:40] alolita commented on #3041
@mxiamxia can you please check if there are other components that have this unnecessary mutex lock? Please comment on the issue with your findings?

This issue should not be a GA blocker.

[2021-05-12 01:42] alolita commented on #3108
@sincejune do you have bandwidth to submit a PR? else I will assign to another engineer? Please let us know.

[2021-05-12 01:48] alolita commented on #2488
@bogdandrutu is this issue considered complete with @Aneurysm9 's PRs? Can we close this issue?

[2021-05-12 01:49] alolita commented on #2540
@dhruv-vora can you update your PRs and resubmit?

[2021-05-12 01:51] alolita commented on #2543
@bogdandrutu is the current doc adequate or needs work for the Collector?

[2021-05-12 01:54] alolita commented on #2545
@Aneurysm9 can you create an issue for building a GitHub Action workflow to check when changes are added (its an API diff check in a GHA workflow)?

cc @mxiamxia

[2021-05-12 01:55] alolita commented on #2650
@mxiamxia @anuraaga @Aneurysm9 can you please review?

[2021-05-12 02:00] alolita commented on #2651
@bogdandrutu is this done? Can this issue be closed?

[2021-05-12 02:01] alolita commented on #2677
Can we update status on this issue?

[2021-05-12 02:04] alolita commented on #3049
@bogdandrutu can this be closed - since PR #3015 has been merged.

[2021-05-12 02:06] alolita commented on #3049
@rakyll @mxiamxia does an overall description (doc.go) need to be added at the package level? See https://pkg.go.dev/go.opentelemetry.io/collector@v0.26.0/component

[2021-05-12 02:07] alolita commented on #3050
Assigning to @mxiamxia

[2021-05-12 02:08] alolita commented on #3051
@bogdandrutu can this be closed? The docs look good for the config package - see https://pkg.go.dev/go.opentelemetry.io/collector@v0.26.0/config

[2021-05-12 02:10] alolita commented on #3104
Is this a must-have for GA? Can this be moved to the phase 2 backlog? @tigrannajaryan please advise.

[2021-05-12 04:05] anuraaga commented on #2650
@alolita As far as I can tell we're waiting on splitting out #2991 into smaller chunks

[2021-05-12 12:22] sincejune commented on #3108
@alolita sorry, I was fighting with the unit tests under `Prometheusremotewrite` exporter. I think I can raise a PR within 2 days :)

[2021-05-12 15:11] tigrannajaryan commented on #3104
This is a must-have since it part of the public API used by components.

[2021-05-12 15:12] tigrannajaryan commented on #2539
Not a must have. We can fix it after GA and if we want to be very careful we can do fix it in a backward compatible way.